<ul id="psreports" class="reportDateFilter gmMarginBottom10p hide">
        <li class="surg-head-bottom-middle gmAlignHorizontal">
            <div class="SHB-middle">
                <div class="surg-datadr">
                    <div id="3M" class="surgin-dr-tab 3m-surgin-tab gmAlignHorizontal gmBGGrey" title="3 Months">3M</div>
                    <div id="6M" class="surgin-dr-tab 6m-surgin-tab gmAlignHorizontal gmBGDarkerGrey gmFontWhite selected" title="6 Months">6M</div>
                    <div id="1Y" class="surgin-dr-tab 1y-surgin-tab gmAlignHorizontal gmBGGrey" title="1 Year">1Y</div>
                    <div id="custom" class="surgin-dr-tab custom-surgin-tab gmAlignHorizontal gmBGGrey" title="Custom Date">Custom</div>
                </div>
            </div>
        </li>

        <li class="surg-head-bottom-right gmAlignHorizontal">
            <div class="SHB-right hide">
                <div id="surg-startdate" class="gmAlignHorizontal"> <select id="select-surg-surgstartmonth" startmonth=""><option value="">MM</option></select> <select id="select-surg-surgstartyear" startyear=""><option value="">YYYY</option></select></div><span class="SHBR-hyphen"> - </span>
                <div id="surg-enddate" class="gmAlignHorizontal"><select id="select-surg-surgendmonth" endmonth=""><option value="">MM</option></select> <select id="select-surg-surgendyear" endyear=""><option value="">YYYY</option></select></div>
            </div>
        </li>
        <li class="surg-head-bottom-btn gmAlignHorizontal">
            <div class="SHB-btn">
                <div id="btn-load-chart" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal" title="Load Revenue List">Load</div>
            </div>
        </li>

    </ul>
<div id="ps-report-list">
</div>
