<div class="preceptorHostEdit">
<!--

    <input id="preceptorship-hactnm" type="hidden" name="actnm" class="hdnInput">
-->

    <input id="preceptorship-hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
    <input id="preceptorship-hpartytype" type="hidden" VO="arrgmactivitypartyvo" name="partytype" class="hdnInput" partyid="">
    <input id="preceptorship-hpartyrole" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">

    <input id="preceptorship-hproduct" type="hidden" VO="arrgmactivityattrvo" attrval="" attrnm="" attrtype="105582" class="hdnInput" partyid="">
    <input id="preceptorship-hprocedureid" type="hidden" class="hdnInput" partyid="" attrnm="" name="segid">
    <input id="preceptorship-hprocedurenm" type="hidden" class="hdnInput" partyid="" attrnm="" name="segnm">
    <input id="preceptorship-hhospitalid" type="hidden" class="hdnInput" name="partyid">
    <input id="preceptorship-hhospitalnm" type="hidden" class="hdnInput" name="partynm">

    <input id="preceptorship-assigneenm-repnm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
    <input id="preceptorship-assigneenm-repid" type="hidden" VO="arrgmactivitypartyvo" name="partyid" class="hdnInput" partyid="">
    <input id="preceptorship-assigneenm-roleid" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
    <input id="preceptorship-assigneenm-adnm" type="hidden" VO="arrgmactivitypartyvo" name="ad" class="hdnInput" partyid="">
    <input id="preceptorship-assigneenm-vpnm" type="hidden" VO="arrgmactivitypartyvo" name="vp" class="hdnInput" partyid="">

    <ul class="gmSection gmTextRight gmMarginTop10p">
        <div id="div-host-case-cancel" class="gmBtn gmBGRed gmFontWhite gmAlignHorizontal gmText100p hide" name="cancelCase">Cancel Case</div>
    </ul>
    <ul id="ul-act-title" class="gmSection gmMarginTop10p">
        <li class="mSectionListItem gmSectionCaption iPad gmAlignHorizontal gmFontBold gmPadRight10p">
            TITLE
        </li>
        <li id="li-sc-title" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 hide">
            <input type="text" id="input-preceptorship-title" class="gmInputText" value="{{actnm}}" validate="required" message="Please provide Title" name="actnm" placeholder="&#xf02b;&nbsp;&nbsp;&nbsp; Title">
        </li>
        <li id="li-preceptorship-title" class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal gmVerticalMiddle hide">{{actnm}}</li>
        <span id="span-edit-title" class="hide"><i class="fa gmFont15em fa-pencil-square-o gmVerticalMiddle" aria-hidden="true" title="Edit"></i></span>
        <li id="li-title-set-btn" class="hide">
            <span id="span-reset-title"><i class="fa gmFont15em fa-undo gmVerticalMiddle" aria-hidden="true" title="Reset"></i></span>
            <span id="span-set-title"><i class="fa gmFont15em fa-check-square-o gmVerticalMiddle" aria-hidden="true" title="OK"></i></span>
            <span id="span-cancel-title"><i class="fa gmFont15em fa-times-circle-o gmVerticalMiddle" aria-hidden="true" title="Cancel"></i></span>
        </li>

    </ul>
    <ul class="gmSection gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption iPad gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">* HOST CASE DATE/TIME</li>
        <li class="iPhone gmMediaWidth10 gmVerticalMiddle calPrs">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true" data-id="preceptorship-actstartdate"></i></div>
        </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 calPrs">
            <div class="div-preceptorship-actstartdate gmPOSRelative">
            <span id="span-preceptorship-actstartdate" class="gmInputText gmText218 gmMinHeight20p gmAlignHorizontal gmVerticalMiddle"  data-id="preceptorship-actstartdate">{{#if actstartdate}}{{actstartdate}}{{else}}mm/dd/yyyy{{/if}}</span>
            <input type="text" id="preceptorship-actstartdate" class="gmInputText gmText218 hostCaseLabel inputDtPicker gmVisibilityHidden" value="{{actstartdate}}" name="actstartdate" validate="required" message="Please provide Host Case Date" max="9999-12-31" placeholder="mm/dd/yyyy">
<!--            <i class="fa fa-calendar fa-2x gmVerticalMiddle gmVisibilityHidden ps-calendar" data-id="preceptorship-actstartdate"></i>-->
            </div>
        </li>
        <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 gmMarginLeft10p reqDate">
            <input type="text" id="preceptorship-actstarttime" class="div-pv-moble-time gmDateBox gmInputText gmWidth50m" value="{{actstarttime}}" name="actstarttime" placeholder="hr:min">
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad gmFont13px hostCaseTitle divHeading hostToDate gmPadRight10p gmMarginLeft10p">TO</li>
       <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 li-pv-date-edit reqDate">
            <input type="text" id="preceptorship-actendtime" class="gmInputText div-pv-moble-time gmWidth50m" value="{{actendtime}}" name="actendtime" placeholder="hr:min">
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad gmFont13px gmPadRight10p hostCaseTitle divHeading gmMarginLeft10p">TIME ZONE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="timezn" class="gmInputText gmText200" validate="required" message="Please select Timezone"></select>
            </label>
        </li>
    </ul>

    <ul class="gmSection gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">REGION</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="region" class="gmInputText gmText235" ></select>
                </label>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad gmFont13px gmPadRight10p hostCaseTitle divHeading gmMarginLeft10p">DIVISION</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="divtyp" class="gmInputText gmText150" message="Please select Division"></select>
                </label>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold  gmFont13px gmPadRight10p gmMarginLeft10p">ZONE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="zone" class="gmInputText gmText150" message="Please select Zone"></select>
                </label>
        </li>
    </ul>
    
    <ul class="gmSection gmMarginTop10p adminStatus hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">ADMIN STATUS</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="admin-status" class="gmInputText gmText235" message="Please select Admin Status"></select>
                </label>
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">*HOST SURGEON</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="preceptorship-hc-surgeon-search" class="searchInput"></span>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal hostSearchBox gmMediaWidth100 gmMarginLeft10p">
            <div id="create-surgeon" class="gmBGsurgeon gmBtn gmFontWhite gmAlignHorizontal gmMediaWidth95">New Surgeon</div>
        </li>
        <li class="gmSectionListItem gmSectionValue display-inline surgeon-items li-surgeon-ps-edit">
            {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
            <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p span-extend" data-actpartyid="{{actpartyid}}" data-partyid="{{partyid}}" data-roleid="{{roleid}}">
                <span class='extend-text'>{{partynm}}</span>
                <span id="remove-ps-host-surgeon" class='remove-participants extend-close'> x</span></div>
            {{/iffalse}}{{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p PStypeDiv">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p gmPStypeLbl">{{#iftrue division "2004"}}*{{/iftrue}}PRECEPTORSHIP TYPE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="pstyp" class="gmInputText gmText235"></select>
                </label>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal iPad gmMarginLeft10p gmPositionRelative"><a id="preceptorTypeNfn" href="javascript:;"><i class="fa fa-2x fa-question-circle" aria-hidden="true"></i></a>
            <div id="rpt-legend-detail" class="preceptTypeNfnBx gmPad5p gmFont15px gmLineHeight18p" style="display:none;">
                <p class="gmFont15px gmSectionHead"><span class="gmFontBold">One-Day: </span>O.R. Case Observation</p>
                <p class="gmFont15px gmSectionHead"><span class="gmFontBold">Skin-to-Skin: </span>One Day Case Observation and one-day Cadaveric Training</p>
                <p class="gmFont15px gmSectionHead"><span class="gmFontBold">Reverse: </span>Proctor to come support Surgeon's case</p>
            </div>
            <div id="rpt-legend-detail-inr" class="preceptTypeNfnBx gmPad5p gmFont15px gmLineHeight18p" style="display:none;">
                <p class="gmFont15px gmSectionHead"><span class="gmFontBold">Premier Center: </span>Case Observation site offering peer-to-peer education in the OR by trained robotic spine surgeons</p>
                <p class="gmFont15px gmSectionHead"><span class="gmFontBold">Reference Program: </span>Connects individuals remotely for an education conversation about Excelsius GPS in a clinical setting</p>
            </div>
        </li>
    </ul>


    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold hostCaseTitle hospitalTextBox gmPadRight10p gmHospiatalLbl">{{#iffalse division "2004"}}*{{/iffalse}}HOSPITAL</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="preceptorship-hospital-search" class="searchInput"></span>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 gmMarginLeft10p">
            <input type="text"  id="preceptorship-new-account-search" class="gmInputText gmMarginLeft10p" placeholder="Other Hospital"/>
            <div id="btn-add-new-acnt" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft10p">Add</div>
        </li>
        
         <li class="gmSectionListItem gmSectionValue gmAlignHorizontal hospital-items li-selected-items">
            {{#if partynm}} 
            <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p div-sc-extn span-extend" data-attrval="{{partyid}}" data-attrnm="partyid">
                <span class='spn-sc-spec-txt extend-text'>{{partynm}}</span>
                <span class='span-remove-direct extend-close'> x</span></div>
            {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">*PROCEDURE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="preceptorship-procedure-search" class="searchInput" ></span>
       
        </li>
         <li class="gmSectionListItem gmSectionValue gmAlignHorizontal procedure-items">
            {{#if segnm}} 
            <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p div-sc-extn span-extend" data-attrval="{{segid}}" data-attrnm="segid">
                <span class='spn-sc-spec-txt extend-text'>{{segnm}}</span>
                <span class='span-remove-direct extend-close'> x</span></div>
            {{/if}}
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmFloatRight">
            <div id="segSysList" class="gmBtn gmBGpreceptorship gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="lookupProcedure">Look Up Procedure</div>
        </li>
    </ul>

    <ul id="ul-pathology" class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">PATHOLOGY</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="HCpathology" class="gmInputText gmText218" name="pathlgy" maxlength="50" value="{{pathlgy}}" >           
        </li>
    </ul>
    
     <ul id="ul-workflow" class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">WORKFLOW</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
             <label class="selectbox-icon">
            <select id="workflow" class="gmInputText gmText235" ></select>
            </label>
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">PRODUCT(S)</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="preceptorship-product-search" class="searchInput" ></span>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">

            {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}} {{#iffalse voidfl 'Y'}}
            <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p div-sc-extn span-extend" data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                <span class='spn-sc-spec-txt extend-text'>{{attrnm}}</span>
                <span class='span-remove-extend extend-close'> x</span></div>
            {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">FIELD SALES HOST</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="preceptorship-participants-search" class="searchInput" ></span>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
            {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}} {{#iffalse voidfl 'Y'}}{{#if partynm}}
            <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p span-extend" data-actpartyid="{{actpartyid}}" data-partyid="{{partyid}}" data-roleid="{{roleid}}">
                <span class='extend-text'>{{partynm}}</span>
                <span class='remove-participants extend-close'> x</span></div>{{/if}} {{/iffalse}}{{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmMarginTop10p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">NOTES</li>
        <li class="gmSectionListItem gmAlignHorizontal gmVerticalMiddle">
            <textarea id="hostCaseNotes" class="gmInputText gmTextArea gmMinHeight75 gmText500" placeholder="i.e., Preferred Region, special requests, etc." name="actnotes" maxlength="250" message="Please provide notes">{{actnotes}}</textarea>
        </li>
    </ul>

</div>