{{#if upcoming}}
<div class="div-preceptorship-list-item dashUpComgHost showEl">
    <ul class="ul-phone-list-items gmTextAll gmBorderBottomLGrey ul-dash-list-data">
        <a href="#crm/preceptorship/host/id/{{actid}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{partynm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{hospital}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{segnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{setnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px hostcasedate">{{actstartdate}}</li>
            </ul>

            <ul class="gmAlignHorizontal gmVerticalMiddle">
                <li class="gmPad25 gmTextAll gmFont13px">{{#iftrue actstatus "Open"}}<i class="fa fa-circle-o fa-3x"></i>{{/iftrue}}{{#iftrue actstatus "Closed"}}<i class="fa fa-check-circle-o  fa-3x"></i>{{/iftrue}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{#iftrue status "Open"}}<i class="fa fa-circle-o fa-3x"></i>{{/iftrue}}{{#iftrue status "Closed"}}<i class="fa fa-check-circle-o fa-3x"></i>{{/iftrue}}</li>
            </ul>
        </a>
    </ul>
</div>
{{/if}}

{{#if caserqst}}
<div class="div-preceptorship-list-item dashCaseReqst showEl">
    <ul class="ul-phone-list-items gmTextAll gmBorderBottomLGrey ul-dash-list-data">
        <a href="#crm/preceptorship/case/id/{{casereqid}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{surgnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{hospital}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{segnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{setnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px hostcasedate">{{actstartdate}}</li>
            </ul>

            <ul class="gmAlignHorizontal gmVerticalMiddle">
                <li class="gmPad25 gmTextAll gmFont13px">{{#iftrue actstatus "Open"}}<i class="fa fa-circle-o fa-3x"></i>{{/iftrue}}{{#iftrue actstatus "Closed"}}<i class="fa fa-check-circle-o  fa-3x"></i>{{/iftrue}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{#iftrue status "Open"}}<i class="fa fa-circle-o fa-3x"></i>{{/iftrue}}{{#iftrue status "Closed"}}<i class="fa fa-check-circle-o fa-3x"></i>{{/iftrue}}</li>
            </ul>
        </a>
    </ul>
</div>
{{/if}}