<div class="gmSection">
    <ul class="gmAlignVertical">
        
<!--
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown tab-opened infoEdit">
            <div id="preceptorship-INR-info" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title tabPS" name="casereqinfo"> Info </div>
        </li>
-->

        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown tab-opened" id="precReqDet">
            <div id="preceptorship-request" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title tabPS" name="requestdetails"> Request Details</div>
        </li>
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup adminDetails tab-closed" id="pscaseedits">
            <div id="preceptorship-admin" class="btn-showby gmBtn gmFontBlack gmBGLGrey gmAlignHorizontal gmWidth160m module-title tabPS" name="admindetails">Admin Details</div>
        </li>
        <li class="gmSection gmFloatRight gmAlignHorizontal">
            <div id="cancel-case-request" class="gmBtn gmBGRed gmFontWhite gmAlignHorizontal gmText100p hide" name="cancelCase">Cancel Case</div>
        </li>
    </ul>
</div>

<!--
<div id="div-casereq-INR-info" class="div-casereq-sub-content">
    <ul class="gmSection">
        <li class="gmAlignVertical">
            <img class="gmAlignHorizontal gmHeight200px gmWidth1000px gmImgResponsive" src="globusMobileApp/image/crm/ExcelsiusGPS_PremiereCenterHeader.jpg">
        </li>
        <li class="gmAlignVertical gmLineHeight25p gmPad10p gmTxtJustify caseInfoDls">
        </li>
        
        <li class="gmAlignVertical gmTextCenter">
            <div id="nextRqstDls" class="gmBtn gmBGpreceptorship gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="Next Request Details">Next</div>
        </li>
    </ul>

</div>
-->

<div id="div-preceptorship-request" class="div-casereq-sub-content gmMargin15p">
    <input id="preceptorship-hactnm" type="hidden" name="actnm" class="hdnInput">

    <input id="preceptorship-hpartyid" type="hidden" VO="arrcrmpscaseassvo" name="partyid" attrnm="" class="hdnInput" partyid="">
    <input id="preceptorship-hpartyrole" type="hidden" VO="arrcrmpscaseassvo" name="role" class="hdnInput" partyid="" role="">
    <input id="preceptorship-hpartynm" type="hidden" VO="arrcrmpscaseassvo" name="partynm" class="hdnInput" partyid="">
    <input id="preceptorship-adname" type="hidden" VO="arrcrmpscaseassvo" name="adnm" class="hdnInput" partyid="">
    <input id="preceptorship-vpname" type="hidden" VO="arrcrmpscaseassvo" name="vpnm" class="hdnInput" partyid="">
    
    <input id="preceptorship-hattrid" type="hidden" VO="arrcrmpscaseattrvo" name="attrid" class="hdnInput" attrnm="" attrval="" attrtype="">


    <input id="preceptorship-hproduct" type="hidden" VO="arrcrmpscasereqvo" attrval="" attrnm="" class="hdnInput" partyid="">
    <input id="preceptorship-hsurgeon" type="hidden" class="hdnInput" name="surgid" value="{{surgid}}">
    <input id="preceptorship-hsurgeonnm" type="hidden" class="hdnInput" name="surgnm" value="{{surgnm}}">
    <input id="preceptorship-hsegmentid" type="hidden" class="hdnInput" name="segid" value="{{segid}}">
    <input id="preceptorship-hprocedurenm" type="hidden" class="hdnInput" name="procnm" value="{{procnm}}">
    <input id="crId" type="hidden" class="hdnInput" value="{{casereqid}}">

    <input id="preceptorship-assigneenm-repid" type="hidden" VO="arrcrmpscaseassvo" name="partyid" class="hdnInput" partyid="">
    <input id="surgcv" type="hidden" class="hdnInput" name="surgcv" value="" message="Please Upload CV for the Selected Surgeon">
    <input id="webinarfltxt" type="hidden" class="hdnInput" name="webinarfltxt" value="{{webinarfl}}" message="Please agree to the webinar terms and conditions">

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">TYPE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="atndtyp" class="gmInputText gmText150"></select>
            </label>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmAlignHorizontal">
            <ul class="ulSurgeonField gmAlignHorizontal">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">
            <span class="gmFontValidation">*</span>SURGEON</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <span id="preceptorship-surgeon-search" VO="" data-surgid="{{surgid}}" data-surgnm="{{surgnm}}"></span>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 new-surgeon-create gmPadRight10p surgReqDet">
            <div id="preceptorship-case-surgeon" name="psCaseSugeon" class="gmBGsurgeon gmBtn gmFontWhite gmAlignHorizontal gmMediaWidth95">NEW SURGEON</div>
            <div id="surgeon-cv-link" class="gmAlignHorizontal gmTextCenter gmVisibilityHidden active" data-surgid="" data-refgrp="" data-filenm="" title="CV">
            <span class="cvIcon gmFontBlack gmLink  gmAlignHorizontal gmPadding5p">
                 <img class="gmVerticalMiddle" src="globusMobileApp/image/crm/cv_icon.PNG"></span>
            </div>
        </li>
            </ul>
            <ul class="ulAttendeeField gmAlignHorizontal hide">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">
                    <span class="gmFontValidation">*</span>ATTENDEE</li>
                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
                    <input type="text" id="attendeenm" class="gmInputText gmWidth210p " value="{{atndnm}}" name="atndnm">
                </li>
            </ul>
        </li> 
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad divHeading gmFont13px gmPadRight10p gmMarginLeft10p"><span class="gmFontValidation">*</span>DIVISION</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="divtyp" class="gmInputText gmText150 divBox" message="Please provide Division" validate="required"></select>
            </label>
        </li>
    </ul>
    
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">REGION</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="regionSelect" class="gmInputText gmText150"></select>
            </label>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold  gmFont13px gmPadRight10p gmMarginLeft10p">ZONE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="zone" class="gmInputText gmText150" message="Please select Zone"></select>
                </label>
        </li>
    </ul>
    
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p adminStatus hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">ADMIN STATUS</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                    <select id="admin-status" class="gmInputText gmText150" message="Please select Admin Status"></select>
                </label>
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p workflowItem hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">WORK FLOW</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="workflw" class="gmInputText gmText150" message="Please select Work Flow"></select>
            </label>
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p pcptItem hide">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p gmPStypeLbl">{{#iftrue division "2004"}}<span class="gmFontValidation">*</span>{{/iftrue}}PRECEPTORSHIP TYPE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="pcptyp" class="gmInputText gmText150" type="select"></select>
            </label>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal iPad divHeading gmPositionRelative"><a id="preceptorTypeNfn" href="javascript:;"><i class="fa fa-2x fa-question-circle" aria-hidden="true"></i></a>
            <div id="rpt-legend-detail" class="preceptTypeNfnBx gmPad5p gmFont15px gmLineHeight18p" style="display:none;">
            </div>
            <div id="rpt-legend-detail-inr" class="preceptTypeNfnBx gmPad5p gmFont15px gmLineHeight18p" style="display:none;">
            </div>
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p clobjItem hide">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">CALL OBJECTIVES</li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
            <textarea id="preceptorship-clobj" class="gmInputText gmTextArea gmMinHeight75 gmWidth210p" name="clobj" maxlength="500">{{clobj}}</textarea>
        </li>
    </ul>
    
    

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p"><span class="gmFontValidation">*</span>PROCEDURE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <span id="preceptorship-procedure" VO="" data-segid="{{segid}}" data-procnm="{{procnm}}"></span>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmFloatRight">
            <div id="segSysList" class="gmBtn gmBGpreceptorship gmFontWhite gmAlignHorizontal gmWidth160m module-title divBox" name="lookupProcedure">Look Up Procedure</div>
        </li>
    </ul>
    
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p"><span class="gmFontValidation">*</span>HOSPITAL AFFILIATION</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="actnmlist" class="gmInputText" message="Please select Account Name">
                    <option value="" >Select</option>
                    <option value="newAcnt" >Add New</option>
                </select>
            </label>
            <input type="text"  id="preceptorship-new-account-search" class="gmInputText gmMarginLeft10p hide" />
            <div id="btn-add-new-acnt" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft10p hide">Add</div>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignVertical gmMarginTop10p gmMarginBottom10p hbAcntitems" style="margin-left: 188px;margin-top: 10px;">
                    {{#if arrcrmpscaseattrvo}} {{#each arrcrmpscaseattrvo}} {{#iftrue attrtype '107101'}}  {{#iffalse voidfl 'Y'}}
                        <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p span-extend div-sc-extn" data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                            <span class="extend-text">{{attrnm}}</span>
                            <span class="span-remove-attr extend-close" removeFl='Y'>x</span>
                        </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>
    
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p"><span class="gmFontValidation">*</span>PRODUCT(S)</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <span id="preceptorship-products"></span>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMarginTop10p gmMarginBottom10p productItems">
            {{#if arrcrmpscasereqvo}} {{#each arrcrmpscasereqvo}} {{#iffalse voidfl 'Y'}}
                        <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-setid="{{setid}}" data-voidfl="{{voidfl}}"><span class='spn-sc-spec-txt extend-text'>
                                {{setnm}}</span>
                            <span class='span-remove-pdct extend-close'> x</span></div>
                    {{/iffalse}} {{/each}} {{/if}}
        </li>
    </ul>
    <ul class="gmSection gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption   gmAlignHorizontal gmFontBold gmPadRight10p"> <span class="gmFontValidation">*</span>REQUESTED TIME FRAME</li>
        <li class=" gmSectionListItem  gmAlignHorizontal gmMediaWidth100 reqDate gmPOSRelative">
            <span id="span-preceptorship-frmdt" class="gmInputText gmWidth210p gmMinHeight20p gmAlignHorizontal gmVerticalMiddle"  data-id="preceptorship-frmdt" name="frmdt">{{#if frmdt}}{{frmdt}}{{else}}mm/dd/yyyy{{/if}}</span>
            <input type="text" placeholder="mm/dd/yyyy" id="preceptorship-frmdt" class="gmInputText gmWidth210p gmVisibilityHidden" value="{{frmdt}}" name="frmdt" validate="required" message="Please provide Requested Time Frame From Date" max="9999-12-31" date-model="Y">
        </li>

        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad toDate gmFont13px gmPadRight10p gmMarginLeft10p">TO</li>
        
        <li class=" gmSectionListItem  gmAlignHorizontal gmMediaWidth100 reqDate gmPOSRelative">
            <span id="span-preceptorship-todt" class="gmInputText gmWidth210p gmMinHeight20p gmAlignHorizontal gmVerticalMiddle"  data-id="preceptorship-todt" name="todt">{{#if todt}}{{todt}}{{else}}mm/dd/yyyy{{/if}}</span>
            <input type="text" placeholder="mm/dd/yyyy" id="preceptorship-todt" class="gmInputText gmWidth210p gmVisibilityHidden" value="{{todt}}" name="todt" validate="required" message="Please provide Requested Time Frame To Date" data-name="todt" max="9999-12-31" date-model="Y">
        </li>
    </ul>

    <ul class="gmSection gmPadding7x0p ul-preceptorship-display-surgeons">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal visitorLabel gmFontBold">OTHER VISITORS</li>
        <div id="btn-add-other-visitor" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft5p">Add</div>
        <div id='div-vip-other-visits'>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items li-other-visit-items addVisitors">
                {{#if arrcrmpscaseattrvo}} {{#each arrcrmpscaseattrvo}} {{#iftrue attrtype '107500'}} {{#iffalse voidfl 'Y'}}
                                <div class='div-other-visitor div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p span-extend' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                                    <label class="gmMarginRight10p">Name</label><input name="attrnm" type="text" id="input-preceptorship-other-visitor" class="gmInputText requiredInput{{index}}" value="{{attrval}}" attrid="{{attrid}}" attrnm="{{attrnm}}" attrtype="107500" VO="arrcrmpscaseattrvo" placeholder="Enter visitor name" index="{{index}}" validate='required' message='Please include name for all Other Visitors' maxlength="100">
                                    <label class="gmMarginRight10p gmText75 gmAlignHorizontal gmTextRight titleFont ">Title</label><input type="text" name="attrval" id="input-preceptorship-other-visitor-title" class="gmInputText requiredInput{{index}}" value="{{attrnm}}" attrval="{{attrval}}" attrid="{{attrid}}" attrnm="{{attrnm}}" attrtype="107500" VO="arrcrmpscaseattrvo" placeholder="Enter visitor title" updAfl="Y" index="{{index}}" validate='required' message='Please include title for all Other Visitors' maxlength="100">
                                    <span class='span-remove-attr extend-close' removeFl='Y'> - </span></div>
                            {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
            <li id="btn-add-other-visitor-more" class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items li-other-visit-items"></li>
        </div>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">REQUESTING FIELD SALES</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <span id="preceptorship-field-sales" VO="" data-part validate-key="data-part"></span>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignVertical gmPadRight10p" style="margin-left: 188px;margin-top: 10px;">
            {{#if arrcrmpscaseassvo}} {{#each arrcrmpscaseassvo}} {{#iffalse voidfl 'Y'}}
            <div class="gmAlignVertical">
                <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p span-extend" data-craid="{{craid}}" data-partyid="{{partyid}}" data-role="{{role}}">
                    <span class='extend-text'>{{partynm}}</span>
                    <span class='remove-participants extend-close'> x</span>
                </div>
                <div class="gmAlignHorizontal gmMarginLeft10p">{{adnm}}</div>
                <div class="gmAlignHorizontal gmMarginLeft10p">{{vpnm}}</div>
            </div>
                    {{/iffalse}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">NOTES</li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
            <textarea id="preceptorship-actnotes" class="gmInputText gmTextArea gmMinHeight75 gmWidth210p" name="note" maxlength="500">{{note}}</textarea>
        </li>
    </ul>
    <ul class="gmSection file-upload-content gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmVerticalMiddle gmPadRight10p"> </li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle gmPadRight10p">
            <div id="rd-fileupld" class="gmBtn gmFontWhite gmBGDarkerGrey div-multi-fileupld-btn gmMarginBottom5p" data-upload="107361" file-data="rdFiles">Upload Files</div>
        </li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle upload-files-list upload-files-list-edit">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p  PSWebinarFL">
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
            <input id="webinarfl" type="checkbox" class="preceptor-check gmVerticalMiddle" webinarfl="" name="webinarfl" {{#iftrue webinarfl 'Y'}} checked="checked" {{/iftrue}}> <span class="webinarTxt">This webinar will be recorded and may be used for future training. The webinar recording is Globus property and cannot be recorded, reproduced, or disseminated without our written approval. Please indicate your consent by checking off this box.
            </span>
        </li>
    </ul>

</div>

<div id="div-preceptorship-admin" class="admin-details gmMargin15p hide div-casereq-sub-content">

    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">HOTEL DETAILS</li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmPadRight10p">
            <textarea class="gmInputText gmTextArea gmMinHeight50p" id="preceptor-case-hotel-details" name="hotlnm" maxlength="500">{{hotlnm}}</textarea>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">HOTEL PRICES</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="text" name="hotlprice" id="preceptor-case-hotel-price" onkeypress="return isPriceKey(event)" onchange="limitDecimal(this)" data-length="10" message="Please Provide valid Price" value="{{hotlprice}}" class="gmInputText gmWidth210p" min=0 >
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">FLIGHT/TRANSPORTATION DETAILS</li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmPadRight10p">
            <textarea class="gmInputText gmTextArea gmMinHeight50p" id="preceptor-case-trpt-details" name="trvlnm" maxlength="500">{{trvlnm}}</textarea>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">FLIGHT/TRANSPORTATION PRICES</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="text" name="trvlprice" onkeypress="return isPriceKey(event)" onchange="limitDecimal(this)" data-length="10" message="Please Provide valid Price" id="preceptor-case-trpt-price" value="{{trvlprice}}" class="gmInputText gmWidth210p" min=0 >
        </li>
    </ul>
    <ul class="gmSection gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">PCRF/CRF STATUS</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="crfStatus" class="gmInputText gmWidth210p">
                </select>
            </label>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">TRF STATUS</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal ">
            <label class="selectbox-icon">
                <select id="trfstatis" class="gmInputText gmWidth210p"></select>
            </label>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">LAB INVOICE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="text" id="preceptor-case-labInvoice" name="labinv" value="{{labinv}}" maxlength="100" class="gmInputText gmWidth210p">
        </li>
        <li class=" gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmPadRight10p">LAB ADDRESS</li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
            <textarea class="gmInputText gmTextArea gmMinHeight50p labAdd" name="labadd" maxlength="500">{{labadd}}</textarea>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">SPECIMEN INVOICE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="text" id="preceptor-case-specimen" value="{{pcmninv}}" name="pcmninv" maxlength="100" class="gmInputText gmWidth210p">
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">SURVEY SENT?</li>
        <li class="gmAlignHorizontal  ">
            <input type="checkbox" class="preceptor-check gmVerticalMiddle" name="survfl" primaryfl="" {{#iftrue survfl 'Y'}} checked="checked" {{/iftrue}}>
        </li>
    </ul>
    <ul class="gmSection gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">CREDENTIALS REQUIRED?</li>
        <li class="gmAlignHorizontal">
            <input type="checkbox" class="preceptor-check gmVerticalMiddle" primaryfl="" name="crdfl" {{#iftrue crdfl 'Y'}} checked="checked" {{/iftrue}}>
        </li>
    </ul>
    <ul class="gmSection file-upload-content gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p"></li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle gmPadRight10p">
            <div id="admin-fileupld" class="gmBtn gmFontWhite gmBGDarkerGrey div-multi-fileupld-btn gmMarginBottom5p" data-upload="107360" file-data="adFiles">Upload Files</div>
        </li>
        <li class=" gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle upload-admin-list upload-files-list-edit">
        </li>
    </ul>
</div>