<!--
<details class="filters_wrapper" id="filters_wrapper">
    <summary>Status</summary>
    <p>
        <input type="checkbox" name="status105765" /> Open
    </p>
    <p>
        <input type="checkbox" name="status105766" /> Closed
    </p>
    <p>
        <input type="checkbox" name="status105762" /> Cancelled
    </p>
</details>
<details class="filters_wrapper" id="dhtmlx-filter-division">
    <summary>Division</summary>
    <p>
        <input type="checkbox" name="division2000" /> Spine
    </p>
    <p>
        <input type="checkbox" name="division2004" /> I-N-Robotics
    </p>
    <p>
        <input type="checkbox" name="division2005" /> Trauma
    </p>
</details>
<div id="preceptorship-search"></div>
-->
<div id="cmnSchedulerFilterSection"></div>

<div id="scheduler_here" class="dhx_cal_container">
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <!--legend info div manually added start-->
        <div id="scheduler-legend" style="left: 287px;top: 6px !important;border: none;">
            <i id="scheduler-legend-icon" class="fa fa-3x fa-question-circle" aria-hidden="true"></i>
            <div id="scheduler-legend-info" style="display: none;" class="gmBorderRadius3p">
                <ul class="gmPad10p">
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtOrange" aria-hidden="true"></i> OUS INR Premier Center </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtcoral" aria-hidden="true"></i> US INR Premier Center </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtpurple" aria-hidden="true"></i> OUS INR Reference Program </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square textslateblue" aria-hidden="true"></i> US INR Reference Program </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtBlue" aria-hidden="true"></i> OUS Spine </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtSkyBlue" aria-hidden="true"></i> US Spine </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtGreen" aria-hidden="true"></i> OUS Trauma </li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtgreenyellow" aria-hidden="true"></i> US Trauma </li>
                    <li class="gmPaddingButtom10p"><i id="legend-icon-req" class="gmPadRight10p fa fa-square txtLinearG" aria-hidden="true"></i> Open Host Case</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtOrange" aria-hidden="true"></i> Closed Host Case </li>
                    <li class=""><i class="gmPadRight10p fa fa-square txtLRed" aria-hidden="true"></i> Cancelled</li>

                </ul>
            </div>
        </div>
        <!--legend info div manually added end-->

        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        <div class="dhx_cal_tab" name="year_tab" style="right:280px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>

<div id="scheduler-info-container" class="hide"></div>
<div id="scheduler-info-view" class="hide"></div>
