<?xml version="1.0" encoding="UTF-8"?>
#set($dateFmt=$hmParam.SESSDATEFMT)
<rows>	
	<head>
		<column type="tree" width="*" sort="str" id="AudName" align="left">$msg.getProperty("VM_AUDIT_NAME")</column>
		<column type="ro" width="95" sort="str" id="AudStat" align="left">$msg.getProperty("VM_AUDIT_STATUS")</column>
		<column type="ro" width="120" sort="str" id="DistStat" align="left">$msg.getProperty("VM_FIELD_SALES")</column>
		<column type="ro" width="90" sort="int" id="LckQty" align="right">$msg.getProperty("VM_LOCKED_QTY")</column>
		<column type="ro" width="100" sort="date" id="CntDt" align="center">$msg.getProperty("VM_COUNTED_DATE")</column>
		<column type="ron" width="100" sort="int" id="CntQty" align="right" >$msg.getProperty("VM_COUNTED_QTY")</column>
		<column type="ron" width="60" sort="int" id="ExtraQty" align="right" format="0,000">$msg.getProperty("VM_EXTRAS")</column>	
		<column type="ron" width="60" sort="int" id="MissQty" align="right" format="0,000">$msg.getProperty("VM_MISSING")</column>
		<column type="ron" width="115" sort="int" id="PendChg" align="right" format="$ 000,000.00">$msg.getProperty("VM_PENDING_CHARGES")</column>
	</head>
    #foreach($hmAuditDetails in $alAuditList)
    
	     	#set($LocQtyTotal = 0)
	     	#set($CounQtyTotal = 0) 
	     	#set($ExQtyTotal = 0) 
	     	#set($MissQtyTotal = 0) 
	     	#set($PenTotal = 0) 
	        #foreach($hmFieldSalesDetails in $alFieldSales)
		       	#if($hmAuditDetails.AUDITID==$hmFieldSalesDetails.ID)
					#set($LocQtyTotal = $LocQtyTotal+$number.toNumber($hmFieldSalesDetails.LOCKED_QTY))
					#set($CounQtyTotal = $CounQtyTotal+$number.toNumber($hmFieldSalesDetails.COUNTED_QTY))
					#set($ExQtyTotal = $ExQtyTotal+$number.toNumber($hmFieldSalesDetails.EXTRA_QTY))
					#set($MissQtyTotal = $MissQtyTotal+$number.toNumber($hmFieldSalesDetails.MISSING_QTY))
					#set($PenTotal = $PenTotal+$number.toNumber($hmFieldSalesDetails.PENDING_CHARGE))
				#end
			#end
	    <row id="$hmAuditDetails.AUDITID">
	    	#if($hmAuditDetails.AUDIT_NAME == $null)
				<cell></cell>
			#else
	        	<cell style="font-weight:bold;">$esc.xml($hmAuditDetails.AUDIT_NAME)</cell>
	        #end
	        #if($hmAuditDetails.AUDIT_STATUS == $null)
	        	<cell></cell>
	        #else
				<cell style="font-weight:bold;">$esc.xml($hmAuditDetails.AUDIT_STATUS)</cell>
			#end
			<cell></cell>
			#if($LocQtyTotal == $null)
				<cell></cell>
			#else
				<cell style="font-weight:bold;">$esc.xml($LocQtyTotal)</cell>
			#end
			<cell></cell>
			#if($CounQtyTotal == $null)
				<cell></cell>
			#else
				<cell style="font-weight:bold;">$esc.xml($CounQtyTotal)</cell>
			#end
			#if($ExQtyTotal == $null)
				<cell></cell>
			#else
				<cell style="font-weight:bold;">$esc.xml($ExQtyTotal)</cell>
			#end
			#if($MissQtyTotal == $null)
				<cell></cell>
			#else
				<cell style="font-weight:bold;">$esc.xml($MissQtyTotal)</cell>
			#end
			#if($PenTotal == $null)
				<cell></cell>
			#else
				<cell style="font-weight:bold;">$esc.xml($PenTotal)</cell>
			#end
	    
		    #foreach($hmFieldSalesDetails in $alFieldSales)
			 	#if($hmAuditDetails.AUDITID==$hmFieldSalesDetails.ID)
					<row id="$hmAuditDetails.AUDITID$hmFieldSalesDetails.DISTID">
						#if($hmFieldSalesDetails.DIST_NAME == $null)
							<cell></cell>
						#else
							<cell align="left">$esc.xml($hmFieldSalesDetails.DIST_NAME)</cell>
						#end
						<cell></cell>
						#if($hmFieldSalesDetails.DIST_STATUS == $null)
							<cell></cell>
						#else
							<cell align="left">$esc.xml($hmFieldSalesDetails.DIST_STATUS)</cell>
						#end
						#if($hmFieldSalesDetails.LOCKED_QTY == $null)
							<cell></cell>
						#else
							<cell align="right">$esc.xml($hmFieldSalesDetails.LOCKED_QTY)</cell>
						#end
						#if($hmFieldSalesDetails.COUNTED_DATE == $null)
							<cell></cell>
						#else
							<cell align="center">$date.format($hmParam.SESSDATEFMT,$hmFieldSalesDetails.COUNTED_DATE)</cell>
							
						#end
						#if($hmFieldSalesDetails.COUNTED_QTY == $null)
							<cell></cell>
						#else
							<cell align="right"><![CDATA[<a href="#" onClick=fnOpenUploadedData("$hmAuditDetails.AUDITID","$hmFieldSalesDetails.DISTID","loadRpt","0")>$esc.xml($hmFieldSalesDetails.COUNTED_QTY)</a>]]></cell>
						#end
						#if($hmFieldSalesDetails.EXTRA_QTY == $null)
							<cell></cell>
						#else
							<cell align="right">$esc.xml($hmFieldSalesDetails.EXTRA_QTY)</cell>
						#end
						#if($hmFieldSalesDetails.MISSING_QTY == $null)
							<cell></cell>
						#else
							<cell align="right">$esc.xml($hmFieldSalesDetails.MISSING_QTY)</cell>
						#end
						#if($hmFieldSalesDetails.PENDING_CHARGE == $null)
							<cell></cell>
						#else
							<cell align="right">$esc.xml($hmFieldSalesDetails.PENDING_CHARGE)</cell>
						#end
					</row>
				#end
			#end	 
		</row>
	#end   
</rows>