#* This VM file used to display the Approval details for Reconcile *#
<?xml version="1.0" encoding="UTF-8"?>
#set($count=0)
#set($dateFmt=$hmParam.SESSDATEFMT)
#set($devType = $hmParam.DEVIATIONTYPE)
#set($alResult = $hmParam.APPRRECONDATA)
<rows>
<head>
	<column type="ch" width="40"    sort="na"   id="check" align="center">					</column>
	<column type="ro" width="50" 	sort="str"  align="right"> 		   $msg.getProperty("VM_TAG_ID") 				</column>		
	<column type="ro" width="80" 	sort="str"  align="left" > 		   $msg.getProperty("VM_AUDIT_NAME_ID") 			</column>		
	<column type="ro" width="110" 	sort="int"  align="left" > 		   $msg.getProperty("VM_FIELD_SALES_ID")		 	</column>	
	<column type="ro" width="70" 	sort="int"  align="left"> 		   $msg.getProperty("VM_SET_ID_ID")				</column>	
	<column type="ro" width="60" 	sort="str"  align="right">		   $msg.getProperty("VM_PART_ID")#				</column>
	<column type="ro" width="*" 	sort="str"  align="left" > 		   $msg.getProperty("VM_PART_DESCRIPTION_ID")		</column>
	<column type="ro" width="100" 	sort="str"  align="left" > 		   $msg.getProperty("VM_FLAG_ID") 				</column>
	<column type="ro" width="90" 	sort="str"  align="left" > 		   $msg.getProperty("VM_REASON_ID") 				</column>	
	#if($devType=="Approval")
	<column type="ro" width="80" 	sort="str"  align="Center" > 	   $msg.getProperty("VM_FLAG_DATE")			</column>
	#end
	<column type="ron" width="80" 	sort="str"  align="right" format="$ 0,000.00"> $msg.getProperty("VM_CHARGE") 	</column>
	<column type="ro" width="50" 	sort="str"  align="right"> 		   $msg.getProperty("VM_RETAG") 				</column>
	<column type="ro" width="90" 	sort="str"  align="left" > 		   $msg.getProperty("VM_POST_OPTION") 			</column>
	<column type="ro" width="100" 	sort="str"  align="left" > 		   $msg.getProperty("VM_POST_COMMENT") 		</column>
	#if($devType=="Reconcile")
	<column type="ro" width="90" 	sort="str"  align="left" > 		   $msg.getProperty("VM_APPROVED_BY") 			</column>	
	<column type="ro" width="80" 	sort="str"  align="Center"> 	   $msg.getProperty("VM_APPROVED_DATE") 		</column>	
	#end
</head>
#foreach($hmDetails in $alResult)
<row id="$hmDetails.ID"> 
		<cell></cell>				
		#if($hmDetails.TAGID == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.TAGID)</cell>
		#end			
		#if($hmDetails.AUDITNAME == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.AUDITNAME)</cell>
		#end
		#if($hmDetails.DNAME == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.DNAME)</cell>
		#end
		#if($hmDetails.SETID == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.SETID)</cell>
		#end
		#if($hmDetails.PNUM == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.PNUM)</cell>
		#end
		#if($hmDetails.PDESC == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.PDESC)</cell>
		#end	
		#if($hmDetails.FLAG == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.FLAG)</cell>
		#end		
		#if($hmDetails.REASON == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.REASON)</cell>
		#end 
		#if($devType=="Approval")           
		#if($hmDetails.FLAGDT == $null))
		<cell></cell>
		#else
		<cell>$date.format($dateFmt,$hmDetails.FLAGDT)</cell>
		#end
		#end
		#if($hmDetails.CHARGE == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.CHARGE)</cell>
		#end
		#if($hmDetails.RETAGID == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.RETAGID)</cell>
		#end
		#if($hmDetails.POST_OPTION == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.POST_OPTION)</cell>
		#end		
		#if($hmDetails.POST_COMMENT == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.POST_COMMENT)</cell>
		#end
	 #if($devType=="Reconcile")
		#if($hmDetails.APP_BY == $null))
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.APP_BY)</cell>
		#end
		#if($hmDetails.APP_DT == $null))
		<cell></cell>
		#else
		<cell>$date.format($dateFmt,$hmDetails.APP_DT)</cell>
		#end		
	  #end
</row>					
#end
</rows>
