<?xml version="1.0" encoding="UTF-8" ?>
#set($alResult=$hmParam.ALRESULT)

<rows>
<head>

<column type="ro" width="170" align= "left" sort="str" id="Part">$msg.getProperty('VM_PART')</column>
<column type="ro" width="*"   align= "left" sort="str" id="Part$msg.getProperty('VM_DESCRIPTION')">$msg.getProperty('VM_DESCRIPTION')</column>
<column type="ro" width="170" align= "left" sort="str" id="AttributeValue">$msg.getProperty('VM_ATTRIBUTEVALUE')</column>
<column type="ro" width="115" align= "left" sort="str" id="AttributeType">$msg.getProperty('VM_ATTRIBUTENAME')</column>
<column type="ro" width="80" hidden="true" id="system" >$msg.getProperty('VM_SYSTEM')</column>
<column type="ro" width="100" align= "left" sort="str" id="UpdatedBy">$msg.getProperty('VM_UPDATEDBY')</column>
<column type="ro" width="100" align= "center" sort="date" id="UpdatedDate">$msg.getProperty('VM_UPDATEDDATE')</column>

</head>

#set($count=0)
	#foreach($hmDetails in $alResult)

<row id="$count">

			<cell>$esc.xml($hmDetails.PARTNUM)</cell>
			<cell>$esc.xml($hmDetails.PARTDESC)</cell>
			<cell>$esc.xml($hmDetails.ATTRIVALUE)</cell>
			<cell>$esc.xml($hmDetails.ATTRITYPENM)</cell>
			<cell>$esc.xml($hmDetails.SYSTEMNM)</cell>
			<cell>$esc.xml($hmDetails.UPDATEDBY)</cell>		
	     	<cell>
		          #if ($hmDetails.UPDATEDATE)
		          $date.format($hmParam.DATEFORMAT,$hmDetails.UPDATEDATE)
		          #end
		    </cell>
		  
			
		
	#set($count = $count+1)		

</row>
#end
</rows>
