<?xml version="1.0" encoding="UTF-8" ?>
<rows>
	<head>
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_PART')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_BRANDNAME')</column>
		<column type="ro" width="465"  sort="str" align="left">$msg.getProperty('VM_PARTDESCRIPTION')</column>
		<column type="ro" width="120" sort="str" align="left">$msg.getProperty('VM_USREGCLASS')</column>
		<column type="ro" width="140" sort="str" align="left">$msg.getProperty('VM_USREGPATH')</column>
		<column type="ro" width="65" sort="str" align="left">$msg.getProperty('VM_FDASUB1')</column>
		<column type="ro" width="242" sort="str" align="left">$msg.getProperty('VM_USNTFREPORTED')</column>
		<column type="ro" width="62" sort="str" align="left">$msg.getProperty('VM_PMASUP1')</column>
		<column type="ro" width="65" sort="str" align="center">$msg.getProperty('VM_RELEASEFORSALEUS')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_INSERTID')</column>
		<column type="ro" width="62" sort="str" align="center">$msg.getProperty('VM_RELEASEFORSALEEU')</column>
	</head>
	#foreach($hmDetails in $alResult)
	<row>
		<cell><![CDATA[$esc.xml($hmDetails.PNUM)]]></cell>	
		<cell><![CDATA[$esc.xml($hmDetails.BRAND_NAME)]]></cell>
		<cell><![CDATA[$esc.xml($hmDetails.PDESC)]]></cell>
		<cell>$esc.xml($hmDetails.US_REG_CLASSIFICATION_NM)</cell>
		<cell>$esc.xml($hmDetails.US_REG_PATHWAY_NM)</cell>
		<cell>$esc.xml($hmDetails.FDA_SUB_NO1)</cell>
		<cell>$esc.xml($hmDetails.FDA_NTF_REPORTED)</cell>
		<cell>$esc.xml($hmDetails.PMA_SUP_NO1)</cell>
		<cell>$esc.xml($hmDetails.RFS_US)</cell>
		<cell>$esc.xml($hmDetails.INSERT_ID)</cell>
		<cell>$esc.xml($hmDetails.RFS_EU)</cell>
	</row>
	#end
</rows>
