<?xml version="1.0" encoding="iso-8859-1" ?>
#set($strDateFormat=$hmParam.gmDataStoreVO.getCmpdfmt())
<rows>
      
	<head>
		<column type="ro" width="150" sort="date">$msg.getProperty('VM_SET_BUNDLE_NAME')</column>
		<column type="ro" width="70" sort="str">$msg.getProperty('VM_SET_ID')</column>
		<column type="ro" width="160" sort="str">$msg.getProperty('VM_SET_NAME')</column>
		<column type="ro" width="160" sort="str">$msg.getProperty('VM_PROJECT_NAME')</column>
		<column type="ro" width="80" sort="str">$msg.getProperty('VM_DIVISION')</column>
		<column type="ro" width="80" sort="str">$msg.getProperty('VM_Type')</column>
		<column type="ro" width="60" sort="str">$msg.getProperty('VM_STATUS')</column>
		<column type="ro" width="150" sort="str">$msg.getProperty('VM_KEYWORDS')</column>
		<column type="ron" width="80" sort="str" align="right">$msg.getProperty('VM_UPDATED_BY')</column>
		<column type="ro" width="100" sort="str">$msg.getProperty('VM_UPDATED_DATE')</column>	
	</head>
	
	#set($count = 0)
	#foreach($hmDetails in $alReturn)
	<row id="$count">
	<cell>$esc.xml($hmDetails.SETBUNDLENM)</cell>
	<cell>$esc.xml($hmDetails.SETID)</cell>
	<cell>$esc.xml($hmDetails.SETNAME)</cell>
	<cell>$esc.xml($hmDetails.SETNAME)</cell>
	<cell>$esc.xml($hmDetails.DIVNAME)</cell>
	<cell>$esc.xml($hmDetails.SETYPE)</cell>
	<cell>$esc.xml($hmDetails.STATUS)</cell>
	<cell>$esc.xml($hmDetails.KEYWORDS)</cell>
	<cell>$esc.xml($hmDetails.UPDATEDBY)</cell>
	#if($hmDetails.UPDATEDDATE == $null))
	<cell></cell>
	#else
	<cell>$date.format($strDateFormat,$hmDetails.UPDATEDDATE)</cell>
	#end

	#set($count = $count+1)
	</row>
	
	#end	

</rows>

