
    <div id="div-logo">
        <img id="img-logo" src="globusMobileApp/image/icon/ios/logo.png" alt="" />
    </div>
    <div id="div-content-home">
    <div id="div-apps">
        <a id="btn-catalog" href="#catalog" name="{{lblNm "product_catalog"}}" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Catalog_Icon.png" alt="" />
            <div>
                {{lblNm "product_catalog"}}
            </div>
        </a>

        <a id="btn-collateral" href="#collateral" name="{{lblNm "marketing_collateral"}}" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Marketing_Icon.png" alt="" />
            <div>
                {{lblNm "marketing_collateral"}}
            </div>
        </a>

        <a id="btn-dashboard" href="#dashboard" name="{{lblNm "sales_dashboard"}}" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/SalesDashboard_Icon.png" alt="" />
            <div>
                {{lblNm "sales_dashboard"}}
            </div>
        </a>

        <a id="btn-case" href="#csm" name="Case Scheduler" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Case_Icon.png" alt="" />
            <div>
                {{lblNm "case_scheduler"}}
            </div>
        </a>
        <a id="btn-inv" href="#inv" name="{{lblNm "inventory_dashboard"}}" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Loanerrequest_Icon.png" alt="" />
            <div>
                {{lblNm "inventory_dashboard"}}
            </div>
        </a>
        <a id="btn-do" href="#do" name="{{lblNm "delivery_dashboard"}}" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/DeliveredOrder_Icon.png" alt="" />
            <div>
                {{lblNm "delivery_dashboard"}}
            </div>
        </a>
        <a id="btn-crm" href="#crm" name="CRM" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/CRM_Icon.png" alt="" />
            <div>
                CRM
            </div>
        </a>
        <a id="btn-pricing" href="#price" name="Pricing" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Pricing_Icon.png" alt="" />
            <div>
                Pricing
            </div>
        </a>
        <a id="btn-guide" href="#guide" name="Reimbursement Guide" class="btn-app">
            <img src="globusMobileApp/image/icon/ios/Reimbursement_Icon.png" alt="" />
            <div>
                Reimbursement Guide
            </div>
        </a>
    </div>
</div>