{{#each this}}
<div class="div-view-summary-set-list" id="{{ID}}">
	<label class="inv-summary-set hide"></label><div class="div-viewsummary-set-nm">{{Name}}</div>
	<label class="inv-summary-qty hide">{{lblNm "qty"}}</label><div class="div-viewsummary-set-qty">{{qty}}</div>
	<!-- <div class="div-viewsummary-req-date">{{planshipdt}}</div> -->
	
	
</div>
{{/each}}