<div id="div-inv-setpart-details-main">
	<div id="div-inv-setpart-details-header">
	   <div>{{lblNm "part_details"}}<span id="div-inv-setpart-details-header-content"></span></div>
		<div id="div-inv-setpart-details-close"><div id="div-inv-setpart-details-close-icon"> X </div></div>
	</div>
	
	<div id="div-inv-setpart-details-part-main">
		<div id = "div-inv-setpart-details-header">
			<div id = "div-inv-setpart-details-part-id-header">{{lblNm "parts"}}</div>
			<!-- <div id = "div-inv-setpart-details-part-desc-header">Description</div> -->
			<div id = "div-inv-setpart-details-part-qty-header">{{lblNm "qty"}}</div>				
		</div>
		<div id = "div-inv-setpart-details-part-content">
			<div id = "div-inv-setpart-details-part-list"></div>
		</div>
	</div>			
	
</div>