<div id="div-inv-report-main">
	<div id="div-inv-report-main-header">	
	<div id="div-report-subtitle">
		<div id="div-report-type-dropdown"></div>
		</div>
		<div id="btn-inv-more-filter" class="btn-bg-blue btn-navigation-140">
			{{lblNm "more_filter"}}
		</div>
    </div>
    <div id = "div-inv-report-main-content"></div>
</div>
<div id="div-inv-nointernet-connection"  class="div-inv-nointernet"> </div>
<div id="div-inv-more-filter-container-popup">
	<div id="div-inv-more-filter-container-popup-header">
		<div>{{lblNm "more_filters"}}</div>
		<div id="div-inv-more-filter-container-popup-close"><div id="div-inv-more-filter-container-popup-close-icon"> X </div></div>
	</div>
	<div id="div-inv-more-filter-container-popup-content"></div>
</div>