{{#each this}}
	<div class= "div-inv-comments-date-name-details">
		<div>
			<div class="div-inv-comments-date">{{createddate}} </div>
			<div class="div-inv-comments-name" id="div-inv-comments-repname"> - {{createdbynm}}</div>
		</div>
		<div>
			<div class="div-inv-comments-description">{{{comments}}}</div>
		</div>
	</div>

{{/each}}