<div id="div-num-keypad">
<div id="div-keypad-title">{{lblNm "price"}}</div>
<div id="div-keypad-close"><div>x</div></div>
<div id="div-qty-entry-text" class="div-qty-box"></div>
<div id="div-keys-panel">
	<div id="div-keys-row-1" class="div-keys-row">
		<div class="div-keys" id="div-num-one">1</div>
		<div class="div-keys" id="div-num-two">2</div>
		<div class="div-keys" id="div-num-three">3</div>
		<div class="div-keys" id="div-num-four">4</div>
	</div>
	<div id="div-keys-row-2" class="div-keys-row">
		<div class="div-keys" id="div-num-five">5</div>
		<div class="div-keys" id="div-num-six">6</div>
	<div class="div-keys" id="div-num-seven">7</div>
	<div class="div-keys" id="div-num-eight">8</div>
	</div>
	<div id="div-keys-row-3" class="div-keys-row">
		<div class="div-keys" id="div-num-nine">9</div>
		<div class="div-keys" id="div-num-zero">0</div>
		<div class="div-keys" id="div-num-decimal">.</div>
		<div class="div-num-symbol" id="div-back"><i class="fa fa-arrow-left fa-lg div-num-key-override-color"></i></div>
	</div>
</div>
<div id="div-btn-done">{{lblNm "done"}}</div>
</div>