<div id="div-inv-set-report-main" >
<div id="div-inv-set-report-header">
		<ul>
		<li id="li-inv-set-report-sysnm" class = "li-inv-set-report-info">
			<div id="div-setr-eport-sysnm" class = "div-inv-set-report-label-header">{{lblNm "system_name"}}</div>
			<div id="div-inv-set-report-sysnm-list"></div>
		</li>	
		<li id="li-inv-set-report-setnm" class = "li-inv-set-report-info">
			<div id="li-inv-set-report-setnm" class = "div-inv-set-report-label-header" >{{lblNm "set"}}</div>
			<div id="div-inv-set-report-setnm-list"></div>
		</li>	
		<li id="li-inv-set-report-fs" class = "li-inv-set-report-info">
			<div id="div-inv-set-report-fs" class = "div-inv-set-report-label-header" >{{lblNm "field_sales"}}</div>
			<div id="div-inv-set-report-fs-dropdown"></div>
		</li>		
		<li id="li-inv-set-report-type" class = "li-inv-set-report-info">
			<div id="div-inv-set-report-type" class = "div-inv-set-report-label-header">{{lblNm "type"}}</div>
			<div id="div-inv-set-report-type-dropdown"></div>
		</li>
		<li id="li-inv-request-load" class = "li-inv-set-report-info">
			<div id="div-inv-set-report-load" class = "div-inv-set-report-label-header">{{lblNm "load"}}</div>
		</li>
	</ul>
</div>

<div id="div-inv-set-report-list">
<div id="div-saleitemlist"></div>
</div>
</div>
<div class="div-inv-page-loader"> </div>