<div class="div-inv-detail-comments">
	<div id="div-inv-comments-limit"><span id="spn-inv-comments-limit">500</span> {{lblNm "remaining"}}</div>
	<textarea id="txtarea-inv-comments">{{comments}}</textarea>
</div>