<!-- <li class="li-inv-plandshipdt-checkbox"><input type="checkbox" class="plandshipdte-checkbox" id="planshipdate"></li> -->
<ul class="ul-sets-used-list invDetaillMbl" indexValue="{{indexValue}}" id="{{ID}}">
    
    <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="mobile-short-span-inv">
        <div class="pu-st-span-title">{{Name}}</div>
        <li class="invsetFlex">
                <span class="inv-label">{{lblNm "req_qty"}}: </span>
                <span class="inv-qty">{{qty}}</span>
        </li>
    </div>
    
    <li class="inv-label gmPOSRelative top-7px">{{lblNm "set_id"}}: </li>
    <li class="li-inv-parts-icon">P</li>
    <li class="li-inv-setid-used-list gmPOSRelative top-7px">{{ID}}</li>
	
    <li class="inv-label gmClearLeft">{{lblNm "description"}}: </li>
	<li class="li-inv-setnm-used-list">{{Name}}</li>
    <li class="inv-label gmPOSRelative top-10px gmClearLeft">{{lblNm "req_qty"}}: </li>
	<li class="li-inv-qty-textbox">
        <a class="qty-minus-pu" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
		<div id="div-qty-box" class="div-inv-keypad-values" value="quantity">{{qty}}
		</div>
        <a class="qty-plus-pu" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
	</li>
	<!-- <li class="li-sets-planship-date">
	<div class="div-inv-sets-used-shipdt-label">
		<label class="label-inv-sets-used-shipdt" >{{planshipdt}}</label>
		<input type="text"  class="txt-plannedship-date" style="display:none" />
		<i class="fa fa-calendar fa-lg"></i>
	</div>	
	</li> -->
</ul>
