<div id="div-inv-view">
    <div id="div-detail-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span> {{lblNm "menu"}} </span></a>
	</div>
	
	<div id="div-inv-title-main">
		<div id="div-inv-title"></div>
	</div>

	<div id="div-inv-request-type-detail">
	</div>

	<div id="div-inv-main-content" class="div-detail "></div>
	
	
	<div id="div-detail-navigation" class="div-inv-detail-navigation">
			<a id="btn-case-request" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected btn-inv-dtl " href="#inv"> <span>{{lblNm "request"}}</span></a>
			<a id="btn-case-approvals" class="btn-detail btn-bg-grey btn-detail-navigation btn-inv-dtl hide" href="#inv/approvals"> <span>Approvals</span></a>
            <a id="btn-case-invreport" class="btn-detail btn-bg-grey  btn-detail-navigation btn-inv-dtl" href="#inv/invreport"> <span>SYSTEM LOCATOR</span></a>
            <a id="btn-case-invtagshareOption" class="btn-detail btn-bg-grey  btn-detail-navigation btn-inv-dtl" href="#inv/invtagshareOption"> <span>TAG SHARING RPT</span></a>
			<a id="btn-case-report" class="btn-detail btn-bg-grey  btn-detail-navigation btn-inv-dtl" href="#inv/report"> <span>{{lblNm "report"}}</span></a>
			<a id="btn-case-lotonhand" class="btn-detail btn-bg-grey  btn-detail-navigation btn-selected btn-inv-dtl case-tab-hide-Y" href="#inv/lotonhand"> <span>{{lblNm "lot_on_hand"}}</span></a>
			<a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation btn-inv-dtl"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
	</div>
	<div class="btn-app-link">  
			<a class="in-app btn-lnk-case-scheduler" href="#case"><span class="span-link-text">{{lblNm "case_scheduler"}}</span></a>
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">Event Evaluation Form</span></a>
		<a class="in-app btn-lnk-creo" href="#creosetguide"><span class="span-link-text">ORDERING GUIDE</span></a>
	</div>		
				
</div>
<div id="div-show-num-keypad"></div>
<div id="overlay-back"></div>