<div id="div-inv-view-summary-main">
			
			<div class ="div-inv-view-summary-info">
			<ul class= "ul-inv-view-summary-info">
				  <li class="li-inv-view-summary-label">					
					    <div  id ="div-inv-view-summary-account-id" class="div-inv-view-summary-label">
							<div class ="div-inv-view-summary-label-header"> {{lblNm "account"}}: </div>
							<div id="div-inv-view-summary-acid"></div>
						</div>
						<div id ="div-inv-view-summary-info-account-name" class="div-inv-view-summary-label">
							<div class ="div-inv-view-summary-label-header" > {{lblNm "sales_repname"}}: </div>
							<div id="div-inv-view-summary-acname"></div>
						</div>
					</li>
					<li class="li-inv-view-summary-label">
						<div id ="div-inv-view-summary-info-surgery-date" class="div-inv-view-summary-label">
							<div class ="div-inv-view-summary-label-header"> {{lblNm "surgery_date"}}: </div>
							<div id="div-inv-view-summary-sdate"></div>
						</div>	
						 <div id ="div-inv-view-summary-info-assocrep" class="div-inv-view-summary-label">
							<div class ="div-inv-view-summary">{{lblNm "assoc_sales_rep"}}: </div>
							<div id="div-inv-view-summary-assocrep"></div>
						</div>	
					</li>
					
						
			</ul>
			</div>
			<div id="div-summary-main">
			<div id="div-inv-view-summary-set-main">
				<div id = "div-inv-view-summary-set-header">
					<div id = "div-inv-view-summary-set-id-header">{{lblNm "set"}}</div>
					<div id = "div-inv-view-summary-set-qty-header">{{lblNm "qty"}}</div>
					<!-- <div id = "div-inv-view-summary-req-date-header">Planned Ship date</div> -->
									
				</div>
				<div id = "div-inv-view-summary-set-content">
				  <div id = "div-inv-view-summary-set-list"></div>
				</div>
				
			</div>
			
		</div>	
	</div>



