<div id="div-inv-fieldreport-list-main">
	<table id="tbl-inv-fieldreport-list">
		<tbody id="tbody-inv-fieldreport-list-details">
			<tr class="tr-inv-fieldreport-list-details" id="thead-inv-fieldreport-list">
				{{#each header}}
					<td class="td-inv-fieldreport-list-item td-index-{{@index}}" style="{{#if BgColor}}background-color:{{BgColor}};{{/if}}{{#if Color}}color:{{Color}};{{/if}}" >{{{Label}}}</td>
				{{/each}}
			</tr>
			{{#each details}}
				<tr id="{{ID}}" class="tr-inv-fieldreport-list-details">
					{{#each detail}}
						
						<td class="td-inv-fieldreport-list-item td-index-{{@index}}"  style="{{#if BgColor}}background-color:{{BgColor}};{{/if}}{{#if Color}}color:{{Color}};{{/if}}">
							<span class="spn-inv-field-report-icon-ad inv-hide">A</span>
							<span class="spn-inv-field-report-icon-fs inv-hide">F</span>
							<span class="spn-inv-field-report-icon-dist inv-hide">F</span>
							<span class="spn-inv-field-report-icon-rep inv-hide">R</span>
							<span class="spn-inv-field-report-icon-sys inv-hide">S</span>
							<span class="spn-inv-field-report-icon-grp inv-hide">S</span>
							<span class="spn-inv-field-report-icon-cons inv-hide">C</span>
							<span class="spn-inv-field-report-icon-part inv-hide">P</span>
							{{{Label}}}
						</td>
						{{#if Percent}}
						<td class="td-inv-fieldreport-list-item td-index-{{@index}}"  style="{{#if BgColor}}background-color:{{BgColor}};{{/if}}{{#if PercentColor}}color:{{PercentColor}};{{/if}}">
							{{{Percent}}}
						</td>
						{{/if}}
					{{/each}}
				</tr>
			{{/each}}
			{{#each footer}}
				<tr id="{{ID}}" class="tr-inv-fieldreport-list-details">
					{{#each detail}}
						<td class="td-inv-fieldreport-list-item td-index-{{@index}}"  style="{{#if BgColor}}background-color:{{BgColor}};{{/if}}{{#if Color}}color:{{Color}};{{/if}}">
							{{{Label}}}
						</td>
						{{#if Percent}}
						<td class="td-inv-fieldreport-list-item td-index-{{@index}}"  style="{{#if BgColor}}background-color:{{BgColor}};{{/if}}{{#if PercentColor}}color:{{PercentColor}};{{/if}}">
							{{{Percent}}}
						</td>
						{{/if}}
					{{/each}}
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>