<div class="div-inv-setpart-parts-list" id="{{ID}}">
	<!-- <div class="div-inv-setpart-part-id">{{ID}}</div> -->
	<div class="div-inv-setpart-part-nm">{{Name}}</div>
	<div class="div-inv-setpart-part-qty">{{Quantity}}</div>
	
</div>