<div id="div-inv-sets-used" class="div-inv-loaner-set-detail">
<div class ="div-inv-sets-search-label-header">{{lblNm "sets_search"}}</div>
<div id="div-inv-sets-used-txtkeyword"></div>
<div>
<ul id ="ul-inv-sets-header-title" class = "ul-inv-sets-list-header">
		<li id ="li-inv-header-setid" class="li-header-title">{{lblNm "set_id"}}</li>
		<li id ="li-inv-header-setnm" class="li-header-title">{{lblNm "description"}}</li>
		<li id ="li-inv-header-reqqty"  class="li-header-title">{{lblNm "req_qty"}}</li>
		<!-- <li id ="li-inv-header-shipdt" class="li-header-title">Planned Ship Date</li> -->
		
	</ul>
</div>
<div id="div-inv-sets-list"></div>
</div>
<div id="div-inv-setpart-details"></div>
