<div id="btn-address">
	{{lblNm "shipping_address"}}
</div>
  <!--Add the seperate class to style the shipping address section in inventory management module-->
<div id="div-shipping-address" class="div-ship-address-mob" style="display:none"></div>

<ul id ="ul-inv-shiptoinfo-header-title" class = "ul-inv-shiptoinfo-list-header">
	<li class="li-shiptoinfoheader-title li-inv-shiptoinfo-address-indicator"></li>
	<li class="li-inv-shiptoinfo-checkbox-header"></li>	
</ul>

<div id="div-inv-shiptoinfo-sets-list" class="invShipInfoWrap">

{{#each this}}
	<ul id="{{ID}}" data-index="{{indexValue}}" data-address-id="{{shipTo.addressid}}" data-address-type="{{shipTo.addresstype}}" data-ship-to-id="{{shipTo.ship_to_id}}" data-shipto="{{shipTo.shipto}}" data-carrier="{{shipTo.shipcarrier}}" data-mode="{{shipTo.shipmode}}" data-attn-to="{{shipTo.attnto}}" data-instruction="{{shipTo.shipinstruction}}" class="ul-inv-shipinfo-parts-list ul-inv-shipinfo-parent-part shipInfoInvMobile" repl="{{repl}}" type="{{type}}">
        
        <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
        <div class="mobile-short-span-inv">
            <div class="pu-st-span-title">{{Name}}</div>
            <li class="sinfo-span-desc">
                <div class="gmWidth50">
                    <span class="sinfo-type"></span>
                    <span class="sinfo-qty">{{qty}}</span>
                </div>
                <div class="gmWidth50">
                    <span class="sinfo-address-name">{{shipTo.attnto}}</span>
                </div>
            </li>
        </div>
        
		<li class="li-inv-shiptoinfo-address-indicator"></li>
		<li class="li-inv-shiptoinfo-checkbox force-bg-light-grey" style="background-color:{{bgColor}}"></li>
        <li class="inv-label gmClearLeft">{{lblNm "set"}}: </li>
		<li class ="li-shiptoinfo-name">{{{Name}}}</li>
        <li class="inv-label gmClearLeft">{{lblNm "qty"}}: </li>
		<li class ="li-shiptoinfo-qty">{{qty}}</li>
        <li class="inv-label gmClearLeft">{{lblNm "address"}}: </li>
		<li class ="li-shiptoinfo-address">
			<div>
				<ul>
					<li><span class="spn-attn-to">{{{AddressData.Name}}}</span></li>
					<li>{{{AddressData.Add1}}}</li>
					<li>{{{AddressData.Add2}}}</li>
					<li>{{{AddressData.City}}} {{{AddressData.State}}}</li>
					<li>{{AddressData.Zip}}</li>
				</ul>
			</div>
		</li>
        <li class="inv-label gmClearLeft">{{lblNm "carrier_mode"}}: </li>
		<li class ="li-shiptoinfo-carmode">
			<ul>
				<li class="li-carrier-name">{{shipTo.carrierName}}</li>
				<li>/</li>
				<li class="li-mode-name">{{shipTo.modeName}}</li>
			</ul>
		</li>
	</ul>
{{/each}}
</div>
