<div class= "div-inv-show-comments">
	<div class= "div-inv-comments-header">
		<div class="div-inv-title-comments">{{lblNm "comments"}}</div>
		<div class="div-inv-comment-done">{{lblNm "done"}}</div>
	</div>
	<div class= "div-inv-comments-details-header">
		<div class="div-inv-comments-parentreqid">{{lblNm "parent_req_id"}}:<span id="span-inv-comments-parentreqid"></span></div>
		<div class="div-inv-comments-part">{{lblNm "part_#"}}:<span id ="span-inv-comments-part-name"></span></div>
		<div class="div-inv-comments-partdescription">{{lblNm "part_desc"}}:<span id = "span-inv-comments-part-desc"></span></div>
	</div>
	<div class= "div-inv-comments-details"></div>
	
	<div class="div-inv-add-comments">
		<div id="div-inv-comments-keyin-text">{{lblNm "key_in_your_comments_below"}}</div>
		<div id="div-inv-show-comments-limit"><span id="spn-inv-add-comments-limit">500</span>{{lblNm "characters_remaining"}}</div>
		<textarea id="txtarea-inv-add-comments"></textarea>
		<div class="div-inv-add-comments-btn">{{lblNm "add_comment"}}</div>
	</div>
</div>




