<div id="div-inv-request-main">
<div id="div-inv-request-main-header">
	<ul id= "ul-inv-approve-shipdt-label">
		<li id="li-inv-aprrove-shipdt-label">
				<label class = "div-inv-request-header-label">{{lblNm "requested_date"}}</label>
		</li>
		<li id="li-inv-request-from-date" class = "li-inv-approve-date-label-header">
			<div id="div-inv-request-from-date" class = "div-inv-approve-header-label">{{lblNm "from"}}</div>
			 <label id="label-inv-request-from-date"></label> 
			 <input type="text" id="txt-from-date"  style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
			<div id="div-request-fromdt-x" class ="div-planship-date">X</div>
		</li>
		<li id="li-inv-request-to-date" class = "li-inv-approve-date-label-header">
			<div id="div-inv-request-to-date" class = "div-inv-approve-header-label" >{{lblNm "to"}}</div>
			<label id="label-inv-request-to-date"></label> 
			 <input type="text" id="txt-to-date"  style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
			<div id="div-request-todt-x" class ="div-planship-date">X</div>
		</li>
	</ul>
	<ul id = "ul-inv-approve-reqid-label">
		<li id="li-inv-request-inv-id" class = "li-inv-request-label-header">
			<div id="div-inv-request-req-id" class = "div-inv-request-header-label" >{{lblNm "parent_request_id"}}</div>
			<input type="text-box">
		</li>
		<li id="li-inv-request-fs" class = "li-inv-request-label-header">
			<div id="div-inv-req-approval-fs" class = "div-inv-request-header-label" >{{lblNm "field_sales"}}</div>
			<div id="div-inv-req-approval-fs-dropdown"></div>
		</li>
		<li id="li-inv-request-load" class = "li-inv-request-label-header">
			<div id="div-inv-request-load">{{lblNm "load"}}</div>
		</li>
	</ul>
</div>
	<div id="div-inv-requestinfo-content"> 
		<div id ="div-inv-requestinfo-req-list"> 
		<div id="div-saleitemlist"> </div>
		</div>
	</div>
	<ul id ="li-inv-btn-request-ctrl">
		<li id="li-inv-request-approve">
			<div id="div-inv-request-approve">{{lblNm "approve"}}</div>
		</li>
		<li id="li-inv-request-reject">
			<div id="div-inv-request-reject">{{lblNm "reject"}}</div>
		</li>
	</ul>
</div>
<div id="div-inv-reject-area-main">
	<div id="div-inv-reject-area">
		<ul id="ul-inv-reject-header">
			<li id="li-inv-reject-header">
			<span id="span-inv-reject-header-title">{{lblNm "item_request_reject"}}</span>
			<span id="span-inv-reject-header-x">x</span>
			</li>
		</ul>
		<ul id="ul-inv-reject-content">
			<li id="li-inv-reject-txn-detail"><div>{{lblNm "request_id"}}</div>	
			<div id="div-reject-txn-detail"></div>
	        </li>
			<li id="li-inv-reject-reason-type"><div>{{lblNm "reason"}}</div>	
			<div id="div-reject-reason-drp"></div>
	        </li>
			<li id="li-inv-reject-comments"><div>{{lblNm "comments"}}</div>	
				<div id="div-reject-comments">
					<textarea id="txtarea-reject-comments"></textarea>
				</div>
			</li>
			<li id="li-inv-reject-bottons">
			<div id="div-inv-reject-submit">{{lblNm "submit"}}</div>
			<div id="div-inv-reject-cancel">{{lblNm "cancel"}}</div></li>
		</ul>
	</div>
</div>

<div class="div-inv-page-loader"> </div>
<div id="div-inv-nointernet-connection"  class="div-inv-nointernet"> </div>
<div class="div-inv-display-comments"></div>