<!-- <li class="li-inv-plandshipdt-checkbox"><input type="checkbox" class="plandshipdte-checkbox" id="planshipdate"></li> -->
<ul class="ul-sets-used-list" indexValue="{{indexValue}}" id="{{ID}}">
	<li class="li-inv-sets-used-icon">
	<i class="fa close-item fa-minus-circle clear-row-pu"></i>
	</li>
	<li class="li-inv-parts-icon">P</li>
	
	<li class="li-inv-setid-used-list">{{ID}}</li>
	<li class="li-inv-setnm-used-list">{{Name}}</li>
	<li class="li-inv-qty-textbox">
		<div id="div-qty-box" class="div-inv-keypad-values" value="quantity">{{qty}}
		</div>
	</li>
	<!-- <li class="li-sets-planship-date">
	<div class="div-inv-sets-used-shipdt-label">
		<label class="label-inv-sets-used-shipdt" >{{planshipdt}}</label>
		<input type="text"  class="txt-plannedship-date" style="display:none" />
		<i class="fa fa-calendar fa-lg"></i>
	</div>	
	</li> -->
</ul>
