
<div id="div-popup-req-borrow" class="gmSection">
      {{#each arrReceiverEmailVO}} 
    <div class="req-division">
    <div class="borrowemail">
     <label class="gmFontBold" for="email">To:</label>
       
    <label id="reqborrowmail" class="borrowmail gmFontBold">{{receiveremail}}</label>
        
    </div>
            <div id="notes-div">
                <div class="rqborrowlabel">
                    <font class="gmFontBolder" color="red">*</font><lable class="gmFontBolder">Enter Notes:</lable>
                </div>
                <div id="div-borrow-textarea-limit"><span id="spn-borrow-notes-limit">500</span> {{lblNm "remaining"}}</div>
                <textarea id="strBorrowMailMsg" class="rqBorrowEmailMsg" data-email="{{receiveremail}}" rows="2">{{emailbody}}</textarea>
            </div>

            {{#iftrue @index 0}}
                <div class="rqborrowlabel" id="apply-notes">&nbsp;<!--<input type="checkbox" id="notesId1" name="checkNotes">-->
                    <i id="notesId1" class="fa fa-copy fa-2x"></i>
                    <label for="notesId1" class="req-alert">&nbsp; Apply this notes to all emails below.</label>
                </div>
            {{/iftrue}}

            <div id="borrowEmailDetails" class="borrowDetails">
                <table>

                    <tr>
                        <th>Set Id</th>
                        <th>Set Name</th>
                    </tr>
                    {{#each arrSetDtl}}
                        <tr>
                            <td>{{setid}}</td>
                            <td>{{setnm}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
            <div id="shiptoaddr-div">
                <div class="rqborrowlabel">
                    <font class="gmFontBolder" color="red">*</font><lable class="gmFontBolder">Enter ShipTo Address:</lable>
                </div>
                <div id="div-borrow-textarea-limit"><span id="spn-borrow-shipadr-limit">200</span> {{lblNm "remaining"}}</div>
                <textarea id="strBorrowShippMailMsg" data-email="{{receiveremail}}" class="rqBorrowEmailShipAddr" rows="2">{{requestorrepdefltaddress}}</textarea>
            </div>

            {{#iftrue @index 0}}
                <div class="rqborrowlabel" id="apply_shipaddr">&nbsp;<!--<input type="checkbox"  id="notesId2" name="checkNotes">-->
                     <i id="notesId2" class="fa fa-copy fa-2x"></i>
                    <label for="notesId2" class="req-alert">&nbsp; Apply this shipping address to all emails below.</label></div>
            {{/iftrue}}

        </div>
    {{/each}}

</div>