 {{#each this}}
 <div class="div-drilldown">
		<div class="div-drilldown-header">
			<div class="div-drilldown-header-data">
				<ul class="ul-drilldown-details">
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-inv-drilldown-header-label">{{lblNm "sales_rep"}}</div>
						<div class="div-inv-drilldown-header-value {{class6}}" data-url="{{url6}}">{{repnm}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-header-label">{{lblNm "consigned_loaned_to"}}</div>
						<div class="div-inv-drilldown-header-value {{class2}}" data-url="{{url2}}">{{distnm}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-header-label">{{lblNm "set_id"}}</div>
						<div class="div-inv-drilldown-header-value {{class3}}" data-url="{{url3}}">{{setid}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-inv-drilldown-header-label">{{lblNm "set"}}</div>
						<div class="div-inv-drilldown-header-value {{class4}}" data-url="{{url4}}">{{setnm}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-inv-drilldown-header-label">{{lblNm "type"}}</div>
						<div class="div-inv-drilldown-header-value {{class5}}" data-url="{{url5}}">{{type}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-header-label">{{lblNm "rep_phone_#"}}</div>
						<div class="div-inv-drilldown-header-value {{class7}}" data-url="{{url7}}">{{repphone}}</div>
					</li>
				</ul>
			</div>
			<div class="div-drilldown-header-arrow">
				<i class="fa fa-caret-right fa-5x drilldown-right-arrow"></i>
			</div>
		</div>
		<div class="div-drilldown-list">
			<ul class="ul-drilldown-list">
					<li class="li-drilldown-detail ">
						<div class="div-inv-drilldown-list-label">{{lblNm "etch_id"}}</div>
						<div class="div-inv-drilldown-list-value {{class4}}" data-url="{{url4}}">{{etchid}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-list-label">{{lblNm "expected_retdt"}}</div>
						<div class="div-inv-drilldown-list-value {{class5}}" data-url="{{url5}}">{{exprtrndt}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-list-label">{{lblNm "loaned_date"}}</div>
						<div class="div-inv-drilldown-list-value {{class6}}" data-url="{{url6}}">{{loaneddt}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-list-label">{{lblNm "account_name"}}</div>
						<div class="div-inv-drilldown-list-value {{acctnm}}" data-url="{{url1}}">{{acctnm}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-list-label">{{lblNm "status"}}</div>
						<div class="div-inv-drilldown-list-value {{class8}}" data-url="{{url8}}">{{status}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-inv-drilldown-list-label">{{lblNm "tag"}}</div>
						<div class="div-inv-drilldown-list-value {{class9}}" data-url="{{url9}}">{{tag}}</div>
					</li>
			</ul>
		</div>
	</div>
{{/each}}	