<div id="div-inv-morefilter-main">
	<div id="div-inv-morefilter-header">
		<div id="div-inv-morefilter-company" class="div-inv-morefilter-header"> 
			<div id="div-inv-morefilter-companycontent">{{lblNm "company"}}</div>
			<div id="drp-inv-morefilter-company" class="div-inv-morefilter-header" >
			</div>
		</div>
		<div id="div-inv-morefilter-header-btns" class="div-inv-morefilter-header">
			<div id="btn-inv-morefilter-reset" class="btn-bg-blue btn-navigation-80 div-inv-morefilter-header">{{lblNm "reset"}}</div>
			<div id="btn-inv-morefilter-save" class="btn-bg-blue btn-navigation-80 div-inv-morefilter-header">{{lblNm "save"}}</div>
		</div>
	</div>

	<div id="div-inv-morefilter-content">
		<div data-widget="division" class="div-inv-morefilter-content div-inv-morefilter-division">
			<div class="div-inv-morefilter-content-header div-inv-morefilter-division-header">{{lblNm "division"}}
				<div class="div-inv-morefilter-search">
					<input type="text" placeholder="Search..." class="txt-inv-morefilter-search" />
					<div class="div-inv-morefilter-search-x">
						x
					</div>
				</div>
			 </div>
			<div  class="div-inv-filter-content div-inv-morefilter-division-content"></div>
		</div>
		<div data-widget="zone" class="div-inv-morefilter-content div-inv-morefilter-zone">
			<div class="div-inv-morefilter-content-header div-inv-morefilter-zone-header">{{lblNm "zone"}}
				<div class="div-inv-morefilter-search">
					<input type="text" placeholder="Search..." class="txt-inv-morefilter-search" />
					<div class="div-inv-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div  class="div-inv-filter-content div-inv-morefilter-zone-content"></div>
		</div>
		<div data-widget="region" class="div-inv-morefilter-content div-inv-morefilter-region">
			<div class="div-inv-morefilter-content-header div-inv-morefilter-region-header">{{lblNm "region"}}
				<div class="div-inv-morefilter-search">
					<input type="text" placeholder="Search..." class="txt-inv-morefilter-search" />
					<div class="div-inv-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div  class="div-inv-filter-content div-inv-morefilter-region-content"></div>
		</div>
		<div data-widget="fieldsales" class="div-inv-morefilter-content div-inv-morefilter-fieldsales">
			<div class="div-inv-morefilter-content-header div-inv-morefilter-fieldsales-header">{{lblNm "field_sales"}}
				<div class="div-inv-morefilter-search">
					<input type="text" placeholder="Search..." class="txt-inv-morefilter-search" />
					<div class="div-inv-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div class="div-inv-filter-content div-inv-morefilter-fieldsales-content"></div>
		</div>
	</div>

</div>
<div class="div-inv-page-loader"></div>