<div class="invRptSearchPart">
    <ul class="gmSection gmPadding7x0p">
<!--        <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmPadRight10p">System Name:</li>-->
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <div id="div-inv-set-report-sysnm-list"></div>
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <div id="btn-new-inv-more-filter" class="btn-bg-blue btn-navigation-80 btn-borrow-margin" style="margin-left: 27px;">
                {{lblNm "more_filter"}}
            </div>
        </li>
    </ul>
    <ul class="gmSection gmPadding7x0p">
<!--        <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmPadRight10p">Set Name:</li>-->
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <div id="div-inv-set-report-setnm-list"></div>
        </li>
        <li class="gmSectionListItem ">
            <div id="div-inv-report-load-new" class="btn-bg-blue btn-navigation-80 btn-borrow-margin" style="margin-left: 29px;">Load</div>
        </li>
        <li class="gmSectionListItem  ">
            <div id="btn-inv-toggle" class="toggle-button hide" style="margin-left: 4px;">
                <div id="b-font-size" class="inv-borrow-toggle-button">&nbsp;SHOW&nbsp;&nbsp;&nbsp;&nbsp;HIDE</div>
                <button></button>
            </div>
        </li>
    </ul>
</div>
<div id="div-inv-more-filter-container-popup">
    <div id="div-inv-more-filter-container-popup-header">
        <div>{{lblNm "more_filters"}}</div>
        <div id="div-inv-more-filter-container-popup-close">
            <div id="div-inv-more-filter-container-popup-close-icon"> X </div>
        </div>
    </div>
    <div id="div-inv-more-filter-container-popup-content"></div>
</div>
        <div id="invSetReqBorrowList" ></div>
<div id="div-inv-nointernet-connection"  class="div-inv-nointernet"> </div>
<div class="gmTextCenter">
    <div class="hide" id="send-mail-msg"></div>
    <div id="btn-inv-request-borrow" class="gmBtnSmall gmPad10p gmFontWhite gmBGBlue gmAlignHorizontal gmMarginTop5p hide">
        Request to Borrow <span class="gmPadLeft5p" id="span-borrow-cnt"></span> 
    </div>
</div>