{{#each this}}
<div class="div-drilldown div-inv-req-approval-list-item">
		<div class="div-inv-approve-icons">
			<div class="btn-inv-approve-big" name="{{prdreqdid}}">
				<div class="btn-inv-adapp"><i class="fa fa-circle-o fa-2x"></i></div>
			</div>
			<div class="btn-inv-comments-big" >
				<i class="fa fa-comment fa-2x"></i>
			</div>
		</div>
		<div id = "div-inv-req-approval-list" class="div-drilldown-header">
			<div class="div-drilldown-header-data">
				<ul class="ul-drilldown-details">
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-pnum-header" class="div-req-drilldown-header-label">{{lblNm "part_#"}}</div>
						<div id ="div-inv-reqlist-pnum" class="div-req-drilldown-header-value">{{pnum}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-pdesc-header" class="div-req-drilldown-header-label">{{lblNm "part_desc"}}</div>
						<div id ="div-inv-reqlist-pdesc" class="div-req-drilldown-header-value">{{pdesc}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-fs-header" class="div-req-drilldown-header-label">{{lblNm "field_sales"}}</div>
						<div id ="div-inv-reqlist-fs" class="div-req-drilldown-header-value">{{fieldsales}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div id ="div-inv-reqlist-aprqty-header" class="div-req-drilldown-header-label">{{lblNm "approval_qty"}}</div>
						<div id ="div-inv-reqlist-aprqty" class="div-req-drilldown-header-value">
						<div id="div-qty-box" class="div-inv-keypad-values" value="quantity">{{aprqty}}</div>
						</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-reqid-header" class="div-req-drilldown-header-label">{{lblNm "parent_req_id"}}</div>
						<div id ="div-inv-reqlist-reqid" class="div-req-drilldown-header-value">{{prdreqid}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-reqqty-header" class="div-req-drilldown-header-label">{{lblNm "requested_qty"}}</div>
						<div id ="div-inv-reqlist-reqqty" class="div-req-drilldown-header-value">{{reqqty}}</div>
					</li>
				</ul>
			</div>
			<div class="div-drilldown-header-arrow">
				<i class="fa fa-caret-right fa-5x drilldown-right-arrow"></i>
			</div>
		</div>
		<div class="div-drilldown-list">
			<ul class="ul-drilldown-list">
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-caseid-header" class="div-req-drilldown-list-label">{{lblNm "case_id"}}</div>
						<div id ="div-inv-reqlist-caseid" class="div-req-drilldown-list-value">{{caseid}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div id ="div-inv-reqlist-reqdet-header" class="div-req-drilldown-list-label">{{lblNm "request_id"}}</div>
						<div id ="div-inv-reqlist-reqdet" class="div-req-drilldown-list-value">{{prdreqdid}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div id ="div-inv-reqlist-reqby-header" class="div-req-drilldown-list-label">{{lblNm "requestor_name"}}</div>
						<div id ="div-inv-reqlist-reqby" class="div-req-drilldown-list-value">{{reqby}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-status-header" class="div-req-drilldown-list-label">{{lblNm "status"}}</div>
						<div id ="div-inv-reqlist-status" class="div-req-drilldown-list-value">{{status}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-reqdt-header" class="div-req-drilldown-list-label">{{lblNm "requested_date"}}</div>
						<div id ="div-inv-reqlist-reqdt" class="div-req-drilldown-list-value">{{requestdt}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div id ="div-inv-reqlist-raflag-header" class="div-req-drilldown-list-label">{{lblNm "ra_flag_status"}}</div>
						<div id ="div-inv-reqlist-raflag" class="div-req-drilldown-list-value div-req-drilldown-list-value-{{retflag}}">Y</div>
					</li>
			</ul>
		</div>
	</div>
{{/each}}	