<div id="btn-address">
	{{lblNm "shipping_address"}}
</div>
<div id="div-shipping-address"></div>
<ul id ="ul-inv-shiptoinfo-header-title" class = "ul-inv-shiptoinfo-list-header">
	<li class="li-shiptoinfoheader-title li-inv-shiptoinfo-address-indicator"></li>
	<li class="li-inv-shiptoinfo-checkbox-header"></li>	
	<li id ="li-shiptoinfoheader-parts" class="li-shiptoinfoheader-title">{{lblNm "set"}}</li>
	<li id ="li-shiptoinfoheader-qty"  class="li-shiptoinfoheader-title">{{lblNm "qty"}}</li>
	<li id ="li-shiptoinfoheader-address"  class="li-shiptoinfoheader-title">{{lblNm "address"}}</li>
	<li id ="li-shiptoinfoheader-carmode"  class="li-shiptoinfoheader-title">{{lblNm "carrier_mode"}}</li>
</ul>

<div id="div-inv-shiptoinfo-sets-list">

{{#each this}}
	<ul id="{{ID}}" data-index="{{indexValue}}" data-address-id="{{shipTo.addressid}}" data-address-type="{{shipTo.addresstype}}" data-ship-to-id="{{shipTo.ship_to_id}}" data-shipto="{{shipTo.shipto}}" data-carrier="{{shipTo.shipcarrier}}" data-mode="{{shipTo.shipmode}}" data-attn-to="{{shipTo.attnto}}" data-instruction="{{shipTo.shipinstruction}}" class="ul-inv-shipinfo-parts-list ul-inv-shipinfo-parent-part" repl="{{repl}}" type="{{type}}">
		<li class="li-inv-shiptoinfo-address-indicator"></li>
		<li class="li-inv-shiptoinfo-checkbox force-bg-light-grey" style="background-color:{{bgColor}}"></li>
		<li class ="li-shiptoinfo-name">{{{Name}}}</li>
		<li class ="li-shiptoinfo-qty">{{qty}}</li>
		<li class ="li-shiptoinfo-address">
			<div>
				<ul>
					<li><span class="spn-attn-to">{{{AddressData.Name}}}</span></li>
					<li>{{{AddressData.Add1}}}</li>
					<li>{{{AddressData.Add2}}}</li>
					<li>{{{AddressData.City}}} {{{AddressData.State}}}</li>
					<li>{{AddressData.Zip}}</li>
				</ul>
			</div>
		</li>
		<li class ="li-shiptoinfo-carmode">
			<ul>
				<li class="li-carrier-name">{{shipTo.carrierName}}</li>
				<li>/</li>
				<li class="li-mode-name">{{shipTo.modeName}}</li>
			</ul>
		</li>
	</ul>
{{/each}}
</div>
