
	<ul id="ul-inv-sub-report-input" >
		<li id="li-inv-sub-report-from-date">
			<div id="div-inv-sub-report-from-date">{{lblNm "from"}}</div>
			<div id="div-inv-sub-report-from-month"></div>
			<div id="div-inv-sub-report-from-year"></div>
		</li>
		<li id="li-inv-sub-report-to-date">
			<div id="div-inv-sub-report-to-date">{{lblNm "to"}}</div>
			<div id="div-inv-sub-report-to-month"></div>
			<div id="div-inv-sub-report-to-year"></div>
		</li>
		<li id="li-inv-sub-report-type">
			<div id="div-inv-sub-report-type">{{lblNm "type"}}</div>
			<div id="div-inv-sub-report-type-drp"></div>
		</li>
		<li id="li-inv-sub-report-showgrowthpercent">
			<i class="fa fa-square-o"></i>
			<div id="div-inv-sub-report-showgrowthpercent">{{lblNm "show_growth_percent"}}</div>
		</li>	
		<li id="li-inv-sub-report-showgrowtharrow">
			<i class="fa fa-square-o"></i>
			<div id="div-inv-sub-report-showgrowtharrow">{{lblNm "show_growth_arrow"}}</div>
		</li>	
		<li id="li-inv-sub-report-hidevalue">
			<i class="fa fa-square-o"></i>
			<div id="div-inv-sub-report-hidevalue">{{lblNm "hide_value"}}</div>
		</li>	
		
		<li id="li-inv-sub-report-load">
			<div id="div-inv-sub-report-load">{{lblNm "load"}}</div>
		</li>	
		<li id="li-inv-sub-report-sysnm">
			<div id="div-inv-sub-report-sysnm">{{lblNm "system_name"}}</div>
			<div id="div-inv-sub-report-sysnm-list"></div>
		</li>		
	</ul>
	<div id="div-inv-report-breadcrumb"></div>

	<ul id="ul-inv-sub-report-list" class="ul-inv-sub-report-info"></ul>
	

