<div id="div-inv-detail">
	<div id="div-inv-request-type">
		<div id="div-inv-request-type-dropdown"></div>
	</div>
	<ul id="inv-ul-header">
	    <li class="li-inv-detail-label">
            <div id="inv-scroll-li">
                <div class="div-inv-detail-label" id="div-inv-surgery-info">
		        {{lblNm "surgery_info"}}
	        </div>
	      	<div class="div-inv-detail-label" id="div-inv-sets-used">
		        {{lblNm "loaner_details"}}
	        </div>
	        <div class="div-inv-detail-label" id="div-inv-ship-info">
		        {{lblNm "ship_to_info"}}
	        </div>
	        <div class="div-inv-detail-label" id="div-inv-comments">
		        {{lblNm "comments"}}
	        </div>
	         <div class="div-inv-detail-label" id="div-inv-summary">
		        {{lblNm "summary"}}
	        </div>
            </div>
	    </li>
	</ul>

	<ul id="ul-inv-detail-surgery-info" class="ul-inv-detail-info"></ul>
	<ul id="ul-inv-detail-sets-used" class="ul-inv-detail-info"></ul>
	<ul id="ul-inv-detail-ship-info" class="ul-inv-detail-info"></ul>
	<ul id="ul-inv-detail-comments" class="ul-inv-detail-info"></ul>
	<ul id="ul-inv-detail-summary" class="ul-inv-detail-info"></ul>
	
	
	<ul id="ul-btn-inv">
		<li class="li-btn-inv">
			<div id="btn-backward" class="btn-inv div-inv-detail-button"><<</div>	
	        <div id="btn-inv-reset" class="btn-inv">{{lblNm "cancel"}}</div>
	        <div id="btn-inv-request" class="btn-inv">{{lblNm "submit"}}</div>
	        <div id="btn-inv-delete" class="btn-inv">{{lblNm "delete"}}</div>
	        <div id="btn-forward" class="btn-inv div-inv-detail-button">>></div>
	    </li>
	</ul>
</div>

<div id="div-show-num-keypad"></div>