<div id="div-inv-part-used">
<div class ="div-inv-part-search-label-header"> {{lblNm "part_search"}}</div>
<div id="div-inv-parts-used-txtkeyword"></div>
<div id="div-inv-parts-used-fav-icon" class="hide"><i class="fa fa-star fa-2x"></i></div>
<div>
<ul id ="ul-inv-parts-header-title" class = "ul-inv-parts-list-header">
		<!-- <li id ="li-inv-header-parts-id" class="li-inv-header-title">Part ID</li> -->
		<li id ="li-inv-header-parts" class="li-inv-header-title">{{lblNm "part_description"}}</li>
		<li id ="li-inv-header-qty"  class="li-inv-header-title">{{lblNm "qty"}}</li>
		<li id ="li-inv-header-ra"  class="li-inv-header-title">{{lblNm "ra"}}</li>
		<!-- <li id ="li-inv-header-reqdt"  class="li-inv-header-title">Planned Ship Date</li> -->
	</ul>
</div>
<div id="div-inv-parts-list"></div>
</div>
