{{#each this}}
	<div id="{{lsetid}}" setname="{{vsetnm}}" class="div-inv-consignment-detail-list-item">
		<div class="div-inv-consignment-detail-distributor">{{{dname}}}</div> 
		<div class="div-inv-consignment-detail-system">{{{groupnm}}}</div>
		<div class="div-inv-consignment-detail-setid">{{{setID}}}</div>
		<div class="div-inv-consignment-detail-setname">{{{vsetnm}}}</div>
		<div class="div-inv-consignment-detail-type"> <i class="fa {{icon}}"></i>   {{{hch}}}</div>
		<div class="div-inv-consignment-detail-ofset">{{{vsetcount}}}</div>
		<div class="div-inv-consignment-detail-setvalue">{{{vsetcost}}}</div>
	</div>
{{/each}}