<ul class="ul-inv-parts-used-list invPartUsedDls" indexValue="{{indexValue}}" id="{{ID}}" productfamily = "{{productfamily}}" productmaterial = "{{productmaterial}}" tissuefl="{{#iftrue productmaterial "100845"}}Y{{/iftrue}}">
    
    <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="mobile-short-span-inv">
        <div class="pu-st-span-title">{{Name}}</div>
        <div class="invsetFlex">
            <span class="inv-label">{{lblNm "qty"}}: </span>
            <span class="inv-qty">{{qty}}</span>
        </div>
    </div>
    
    
	<li class="li-inv-parts-used-id">{{Name}}</li>
	<li class="inv-label gmClearLeft gmPOSRelative top-10px">{{lblNm "qty"}}: </li>
	<li class="li-inv-qty-textbox">
        <a class="qty-minus-pu" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
		<div id="div-inv-qty-box" class="div-inv-keypad-values" value="quantity">{{qty}}
		</div>
        <a class="qty-plus-pu" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
	</li>
    <li class="inv-label gmClearLeft">{{lblNm "ra"}}: </li>
	<li class="li-inv-ra-checkbox li-inv-productfamily-{{productfamily}}"> <input type="checkbox" {{#if retnFlag}}checked{{/if}} class="ra-checkbox"/>
	</li>
</ul>