<ul class="ul-inv-parts-used-list" indexValue="{{indexValue}}" id="{{ID}}" productfamily = "{{productfamily}}" productmaterial = "{{productmaterial}}" tissuefl="{{#iftrue productmaterial "100845"}}Y{{/iftrue}}">
	<li class="li-inv-parts-used-icon"><i class="fa close-item fa-minus-circle clear-row-pu"></i></li>
	<li class="li-inv-parts-used-id">{{Name}}</li>
	
	<li class="li-inv-qty-textbox">
		<div id="div-inv-qty-box" class="div-inv-keypad-values" value="quantity">{{qty}}
		</div>
	</li>

	<li class="li-inv-ra-checkbox li-inv-productfamily-{{productfamily}}"> <input type="checkbox" {{#if retnFlag}}checked{{/if}} class="ra-checkbox"/>
	</li>
</ul>