<div class="div-inv-detail-surgery-info">
	<ul class= "ul-inv-surgery-info">


		<li class="li-inv-surgery-label" id="li-inv-surgery-fieldsalesinfo-label">
		    <div  id ="div-inv-surgery-info-fieldsalesinfo-id" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header">{{lblNm "field_sales_id"}}</div>
            
                
				<div id="div-inv-surgery-fieldsalesinfoid"></div>
			</div>
			<div id ="div-inv-surgery-info-fieldsalesinfo-name" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header" >{{lblNm "filed_sales_name"}}</div>
				<div id="div-inv-surgery-fieldsalesinfoname"></div>
			</div>
		</li>
		
		<li class="li-inv-surgery-label" id="li-inv-surgery-salesrep-label">
			

			<div  id ="div-inv-surgery-info-salesrep-id" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header">{{lblNm "sales_repname"}}</div>
				<div id="div-inv-surgery-info-SalesRep-list"></div>
			</div>
			<div id ="div-inv-surgery-info-salesrep-name" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header" >{{lblNm "assoc_sales_repname"}}</div>
				<div id="div-inv-surgery-assocsalesinfoname"></div>
			</div>
		</li>

		<li class="li-inv-surgery-label" id="li-inv-surgery-account-label">
			<div class ="div-inv-surgery-info-label-header" id="div-inv-surgery-info-account-name">{{lblNm "account"}}</div>
			<div id="div-inv-surgery-info-Account-list"></div>
		</li>


		
		
		<li class="li-inv-surgery-label" id="li-inv-surgery-date-label">
			 <div id ="div-inv-surgery-info-surgery-date" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header" id="div-inv-surgery-info-surgery-date-label">{{lblNm "surgery_date"}}</div>
				<label id="label-inv-surgery-info-surgery-date" ></label>
				 <input type="text" id="txt-surgery-date" style="display:none"  />
				<i class="fa fa-calendar fa-lg"></i>
			</div>	

			<div id ="div-inv-surgery-info-plandship-date" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header" id="div-inv-surgery-info-plandship-date-label">{{lblNm "planned_ship_date"}}</div>
				<label id="label-inv-surgery-info-plandship-date" ></label>
				 <input type="text" id="txt-plandship-date" style="display:none"  />
				<i class="fa fa-calendar fa-lg"></i>
			</div>	
			
			
		</li>

		<li class="li-inv-surgery-label" id="li-inv-surgery-name-type">
			 <div id ="div-inv-surgery-info-surgeon-level" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header div-inv-surgery-surgery m-right">{{lblNm "surgery_level"}}</div>
				<div id="div-inv-surgery-info-surgerylevel-list"></div>
			</div>	
			 <div id ="div-inv-surgery-info-surgery-type" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header m-right">{{lblNm "surgery_type"}}</div>
				<div id="div-inv-surgery-info-surgerytype-list"></div>
			</div>
				
		</li>

		<li class="li-inv-surgery-label" id="li-inv-surgeon-name">
		 <div id ="div-inv-surgery-info-surgeon-name" class="div-inv-surgery-info-label">
				<div class ="div-inv-surgery-info-label-header m-right">{{lblNm "surgeon_name"}}</div>
				<input type ="text" id="label-inv-surgery-info-surgeon-name" value="" >
		</div>	
		</li>


		
		
	</ul>
</div>