{{#each this}}
	<div class="div-inv-consignment-part-detail-list-item">	
		<div class="div-inv-consignment-part-detail-partnum">{{pid}}</div> 
		<div class="div-inv-consignment-part-detail-partdesc">{{pdesc}}</div>
		<div class="div-inv-consignment-part-detail-productfamily">{{prodfamily}}</div>
		<div class="div-inv-consignment-part-detail-setqty">{{sqty}}</div>
		<div class="div-inv-consignment-part-detail-qtyconsigned">{{setusage}}</div>
		<div class="div-inv-consignment-part-detail-listvalue">{{listvalue}}</div>
	</div>
{{/each}}