<div id="div-inv-report-field-main">
<div id="div-inv-report-field-header">
	<ul id="ul-inv-report-field-header">
	    <li class="li-inv-report-settype-label">
	        <div class="div-inv-report-settype-label selected-tab" id="div-inv-report-consign-info">
		        {{lblNm "consigment"}}
	        </div>
	      	<div class="div-inv-report-settype-label" id="div-inv-report-loaner-info">
		       {{lblNm "loaner"}}
	        </div>
	        <div class="div-inv-report-settype-label" id="div-inv-report-all-info">
		       {{lblNm "all"}}
	        </div>	        
	    </li>	    	
		<li id="li-inv-report-viewby">
			<div id="div-inv-report-viewby">{{lblNm "view_by"}}</div>
			<div id="div-inv-report-viewby-drp"></div>
		</li>
	</ul>
</div>
<div id="div-inv-report-field-content">
	<ul>
		<li id="li-inv-report-type">
			<div id="div-inv-report-type">{{lblNm "type"}}</div>
			<div id="div-inv-report-type-drp"></div>
		</li>	
		<li id="li-inv-report-period">
			<div id="div-inv-report-period">{{lblNm "period"}}</div>
			<div id="div-inv-report-period-drp"></div>
		</li>	
		<li id="li-inv-report-showall">
			<i class="fa fa-square-o"></i>
			<div id="div-inv-report-show-ai">{{lblNm "show_ai_data"}}</div>
		</li>		
		<li id="li-inv-report-from-date">
			<div id="div-inv-report-from-date">{{lblNm "from"}}</div>
			<div id="div-inv-report-from-month"></div>
			<div id="div-inv-report-from-year"></div>
		</li>
		<li id="li-inv-report-to-date">
			<div id="div-inv-report-to-date">{{lblNm "to"}}</div>
			<div id="div-inv-report-to-month"></div>
			<div id="div-inv-report-to-year"></div>
		</li>
		<li id="li-inv-report-load">
			<div id="div-inv-report-load">{{lblNm "load"}}</div>
		</li>
	</ul>
	<div id="div-inv-report-breadcrumb"></div>

	<div id="div-inv-report-field-list">
		

		<ul id="ul-inv-report-consign-info" class="ul-inv-report-info"></ul>
		<ul id="ul-inv-report-loaner-info" class="ul-inv-report-info"></ul>
		<ul id="ul-inv-report-all-info" class="ul-inv-report-info"></ul>
	</div>
</div>
<div id="div-inv-sub-report-field-content"> </div>
</div>

<div id="div-inv-consignment-detail-main">
	<div id="div-inv-consignment-detail-header">
		<div>{{lblNm "consigment_set_details"}}</div>
		<div id="div-inv-consignment-detail-close"><div id="div-inv-consignment-detail-close-icon"> X </div></div>
	</div>
	<div id="div-inv-report-consignment-breadcrumb"></div>
	<div id="div-inv-consignment-detail-list-header">
		<div class="div-inv-consignment-detail-distributor">{{lblNm "distributor"}}</div> 
		<div class="div-inv-consignment-detail-system">{{lblNm "system"}}</div>
		<div class="div-inv-consignment-detail-setid">{{lblNm "set_id"}}</div>
		<div class="div-inv-consignment-detail-setname">{{lblNm "set_name"}}</div>
		<div class="div-inv-consignment-detail-type">{{lblNm "type"}}</div>
		<div class="div-inv-consignment-detail-ofset">{{lblNm "#_of_set"}}</div>
		<div class="div-inv-consignment-detail-setvalue">{{lblNm "set_value"}}</div>
	</div>
	<div id="div-inv-consignment-detail-list-content">
		<div id="div-inv-consignment-detail-list"></div>
	</div>
	<div id="div-inv-consignment-detail-footer">
		<div>{{lblNm "total"}}</div><div id="div-inv-consignment-detail-footer-value"></div>
	</div>
</div>


<div id="div-inv-consignment-part-detail-main">
	<div id="div-inv-consignment-part-detail-header">
		<div>Consigment Details - By Part Number</div>
		<div id="div-inv-consignment-part-detail-close"><div id="div-inv-consignment-part-detail-close-icon"> X </div></div>
	</div>
	<div id="div-inv-report-consignment-part-breadcrumb"></div>
	<div id="div-inv-consignment-part-detail-list-header">
		<div class="div-inv-consignment-part-detail-partnum">{{lblNm "part_#"}}</div> 
		<div class="div-inv-consignment-part-detail-partdesc">{{lblNm "part_desc"}}</div>
		<div class="div-inv-consignment-part-detail-productfamily">{{lblNm "product_family"}}</div>
		<div class="div-inv-consignment-part-detail-setqty">{{lblNm "set_qty"}}</div>
		<div class="div-inv-consignment-part-detail-qtyconsigned">{{lblNm "qty_consigned"}}</div>
		<div class="div-inv-consignment-part-detail-listvalue">{{lblNm "list_value"}}</div>
	</div>
	<div id="div-inv-consignment-part-detail-list-content">
		<div id="div-inv-consignment-part-detail-list"></div>
	</div>
	<div id="div-inv-consignment-part-detail-footer">
		<div>{{lblNm "total"}}</div><div id="div-inv-consignment-part-detail-footer-totalqty"></div><div id="div-inv-consignment-part-detail-footer-totallist"></div>
	</div>
</div>

<!-- <div id="#div-inv-field-inv-cons-popup">
	
</div> -->