<span id="span-inv-widget-type" class="hide" data-widget="{{widget}}"></span>

{{#each this}}
    <ul class="ul-overview-lot-details">
        <li class="partnum">{{PARTNUM}} - {{PARTDESC}}<span><a class="lot-part-count" data-partid="{{PARTNUM}}" href="javascript:;">{{COUNT}}</a></span></li>
    </ul>
{{/each}}
