<div id="div-lot-view">
    
<div id="div-lot-on-hand" class="div-dash-widget">
    <div class="div-dash-widget-header">
			<div class="div-dash-widget-details-label" id="widget-onhand">On Hand Quantity</div> 		
			<div class="div-dash-widget-details-partcount"><a id="id-lot-on-hand" class="count" href="javascript:;" ></a></div>
		</div>
    <div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">Part#</div> 		
			<div class="div-dash-widget-details-count">Count</div>
		</div>
   <div class="div-lot-on-hand-details" id="div-lot-on-hand-overview">
       
    </div>
</div>

<div id="div-lot-exp-graph" class="div-dash-widget">
    <div class="div-dash-widget-header" >Lot Expiration</div>
    <div id="chart-contain"></div>
</div>
    
<div id="div-lot-30-days" class="div-dash-widget">
     <div class="div-dash-widget-header">
			<div class="div-dash-widget-details-label" id="widget-30days">Expiring in 0-30 Days</div> 		
			<div class="div-dash-widget-details-partcount"><a id="id-lot-30-days" class="count" href="javascript:;" ></a></div>
		</div>
    <div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">Part#</div> 		
			<div class="div-dash-widget-details-count">Count</div>
		</div>
    <div class="div-lot-30-days-details" id="div-lot-30-days-overview">
       </div>
</div>


<div id="div-lot-60-days" class="div-dash-widget">
    <div class="div-dash-widget-header">
			<div class="div-dash-widget-details-label">Expiring in 31-60 Days</div> 		
			<div class="div-dash-widget-details-partcount"><a id="id-lot-60-days" class="count" href="javascript:;" ></a></div>
		</div>
    <div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">Part#</div> 		
			<div class="div-dash-widget-details-count">Count</div>
		</div>
    <div class="div-lot-60-days-details" id="div-lot-60-days-overview">
       </div>
</div>

<div id="div-lot-90-days" class="div-dash-widget">
    <div class="div-dash-widget-header">
			<div class="div-dash-widget-details-label">Expiring in 61-90 Days</div> 		
			<div class="div-dash-widget-details-partcount"><a id="id-lot-90-days" class="count" href="javascript:;" ></a></div>
		</div>
    <div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">Part#</div> 		
			<div class="div-dash-widget-details-count">Count</div>
		</div>
    <div class="div-lot-90-days-details" id="div-lot-90-days-overview">
       </div>
</div>

<div id="div-lot-expired" class="div-dash-widget">
    <div class="div-dash-widget-header">
			<div class="div-dash-widget-details-label">Expired</div> 		
			<div class="div-dash-widget-details-partcount"><a id="id-lot-expired" class="count" href="javascript:;" ></a></div>
		</div>
    <div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">Part#</div> 		
			<div class="div-dash-widget-details-count">Count</div>
		</div>
    <div class="div-lot-expired-details" id="div-lot-expired-overview">
       </div>
</div>
</div>

<div id="div-inv-nointernet-connection" class="div-inv-nointernet"> </div>
