<div class="div-eval-main-dash">
	<input type="hidden" id="eval-form-id" class="eval-form-id" value="{{evalformid}}">
	<input type="hidden" id="rpt-cond" class="eval-form-id" value="{{rptcond}}">
	<input type="hidden" id="rev-surg" class="eval-form-id" value="{{revsurg}}">
	<input type="hidden" id="post-oprt" class="eval-form-id" value="{{postoprt}}">
	<input type="hidden" id="prc-out" class="eval-form-id" value="{{prcout}}">
	<input type="hidden" id="replac" class="eval-form-id" value="{{replacement}}">
	<input type="hidden" id="part-aval" class="eval-form-id" value="{{partaval}}">
	<input type="hidden" id="ship" class="eval-form-id" value="{{shipped}}">
	<input type="hidden" id="decont" class="eval-form-id" value="{{decontaminated}}">
	<input type="hidden" id="fld-ser" class="eval-form-id" value="{{fldservice}}">
	<input type="hidden" id="evnt-list" class="eval-form-id" value="{{evnthappen}}">
	<input type="hidden" id="adv-list" class="eval-form-id" value="{{advefct}}">
	<input type="hidden" id="crr-list" class="eval-form-id" value="{{carrier}}">
	<input type="hidden" id="eval-part-id" data-partnm = "{{partnm}}" class="eval-part-id" value="{{partid}}">
	<div id="eval-sub-div">
	<div class="eventInfo evalInfoSection">
		<div class="evalFormHeader">Event Information</div>
		<div class="mainBody">
			<ul id="part-id"></ul>
			<ul class="evalpartlist evalListSection">
				<li class="evalListLabel gmFontBold gmMarginBottom10p">Part Number </li>
				<div id="form-lookup-part" class="eval-part evalListInput gmMarginBottom10p">
					

				</div>
				
			</ul>



			<ul class=" evalListSection">
				<li class="evalMarginRight40p evallot">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical"> Lot Number </li>
						<li class="evalListInput gmMarginBottom10p gmAlignVertical"><input type="text" class="evalWidth456 evalHeight" id="lot-number" maxlength="20" value="{{lotnumber}}"></li>
					</ul>
				</li>
				<li class="evalMarginRight40p evalqty">
					<ul>
						<li class=" evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical">Quantity </li>
						<li class="evalListInput gmMarginBottom10p gmAlignVertical">
							<input id="qty" type="number" value="{{qty}}" class="evalWidth50 evalHeight " onkeypress="return isNumberKey(event)" data-length="3" oninput="validity.valid||(value='');" />
							
						</li>
					</ul>

				</li>
				<li class="">
					<ul>
						<li class=" evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical">Type of Sale </li>
						<li class="gmAlignVertical btn-listby evalCategory-btn evalpopup-icon evalListInput evalHeight  gmAlignVertical gmMarginBottom10p" data-type="dropdown" data-param="acttypeid" data-sortby="N" data-inputparameters='{"codegrp":"TSALE", "codenmalt": "" , "codeid":""}' data-keyparameter="codenm" data-codegrp="TSALE" data-idparameter="codeid" data-nameparameter="codenm" data-resultvo="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="codeid" data-title="Type of Sale"><span>Choose One</span><div id = "tos" class="gmAlignHorizontal">{{typeofsale}}</div></li>
						

					</ul>
				</li>
			</ul>



			<ul class="evalListSection">
				<li class="evalTextArea">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical"><span style="color:red;">*</span>Detailed Description of Event </li>
						<li class="evalListInput gmMarginBottom10p"><textarea class="gmWidth500 evalDescription" id="desc" validate="required"  message="Input is required in Detailed Description of Event">{{descr}}</textarea></li>
					</ul>
				</li>
			</ul>


			<ul class="evalListSection">
				<li class="evalMarginRight evaleventdate">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical">Event Date </li>

						<li id="eventEval-event-dt" class="evalListInput gmAlignVertical gmMarginBottom10p">
                            <label>{{companyDateFormat evntdt}}</label>
                            <input type="text" class="evalWidth296 evalHeight datepick" id="evnt-date" placeholder="" readonly value="{{evntdt}}"><i class="fa fa-calendar fa-lg evalcal"></i></li> 
					</ul>
				</li>


				<li class="evalMarginRight40p evaleventhap">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical hpnlbl"> <span style="color:red;">*</span>Did this event happen during</li>
						<ul class="evalListInput gmSection gmAlignVertical gmMarginBottom10p">

								<div id="event-list" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
							<select id="event-list" class="gmInputText evalWidth312 evalSelectHeight" validate="required" message="Selection Did this Event Happen During is required" >
								<option disabled="" selected="">Select Option</option>
							</select>
-->
						</ul>
					</ul>
				</li>
			</ul>




			<ul class="evalListSection">
				<li class="evalListLabel gmFontBold gmMarginBottom10p gmAlignVertical rptlbl">Is the reported condition due to normal wear and tear over time? </li>		

			<li class="evalListInput  gmAlignVertical gmMarginBottom10p">
				<label class="evalSelectbox-icon evalWidth312 evalHeight">
					
					<div id="report-condition" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
					<select id="report-condition" class="gmInputText evalWidth312 evalSelectHeight">
						<option value="" name="">Choose One</option>
						<option value="105304" name="">Yes</option>
						<option value="105305" name="">No</option>
					</select>
-->
				</label>
			</li>
			</ul>
		</div>

	</div>

	<div class="surgInfo evalInfoSection">
		<div class="evalFormHeader">Surgery Information</div>
		<div class="mainBody">

			<ul class="evalListSection">
				<li class="evalMarginRight240p evalsurg">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p"> <span style="color:red;">*</span>Is this a revision surgery? </li>
						<ul class="evalListInput gmAlignVertical">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								
								<div id="revision-surgery" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="revision-surgery" class="gmInputText evalWidth312 evalSelectHeight" validate="required" message="Selection for Is this a revision surgery? is required">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>
					</ul>
				</li>

				<li class="evalMarginRight40p evalText ">
					<ul>
						<li class="evalListLabel gmFontBold label-hgt-btm-space-16"></li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p"><input type="text" id="rev-surgery-txt" class="evalWidth296 evalHeight" placeholder=" If  Yes,  PLEASE EXPLAIN" maxlength="20" value="{{revsurgtxt}}"></li>
					</ul>
				</li>
			</ul>


			<ul class="evalListSection ">



				<li class="evalMarginRight239p">

					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p"> <span style="color:red;">*</span>Any adverse effect to the patient?</li>
						<ul class="evalListInput gmAlignVertical gmMarginBottom10p">
<!--							<select id="adverse-list" class="gmInputText evalWidth312 evalSelectHeight" validate="required" message="Selection for Any adverse effect to patient? is required"></select>-->
							<div id="adverse-list" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
						</ul>
					</ul>
				</li>
				

				<li class="evalMarginRight40p">
					<ul>						
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Type of Surgery </li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p"><input type="text" id="type-of-surgery" maxlength="30" class="evalWidth296 evalHeight" placeholder=""  value="{{typofsurg}}"></li>
					</ul>
				</li>
			</ul>


			<ul class="evalListSection">
				<li class="evalMarginRight239p">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Surgeon </li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p"><input type="text" id="surgery" class="evalWidth296 evalHeight" maxlength="30" placeholder="" value="{{surg}}"></li>
					</ul>
				</li>

				<li class="">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Hospital </li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p"><input id="hospital" type="text" class="evalWidth296 evalHeight" maxlength="30" placeholder="" value="{{hospital}}"></li>
					</ul>
				</li>
			</ul>



			<ul class="evalListSection">				
			
				<li class="evalListLabel gmFontBold gmMarginBottom10p">Was this identified post-operatively? </li>
			
			<li class="evalListInput gmAlignVertical gmMarginBottom10p">
				<label class="evalSelectbox-icon evalWidth312 evalHeight">
					
					<div id="port-oprt" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
					<select id="port-oprt" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
						<option value="" name="">Choose One</option>
						<option value="105304" name="">Yes</option>
						<option value="105305" name="">No</option>
					</select>
-->
				</label>
						</li>
				</ul>

				<ul class="evalListSection">
				<li class="evalMarginRight">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">If post-operative,<br>
							what was the original date of surgery?</li>
						<li id="eventEval-original-dt" class="evalListInput gmAlignVertical gmMarginBottom10p">
                            <label>{{companyDateFormat orgdate}}</label>
                            <input type="text" id="original-date" class="evalWidth296 evalHeight datepicker" placeholder="" readonly value="{{orgdate}}"><i class="fa fa-calendar fa-lg evalcal"></i></li>
					</ul>
				</li>

				<li class="">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p ">Procedure Outcome </li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								<div id="prc-outcome" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
								
<!--
								<select id="prc-outcome" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Completed</option>
									<option value="105305" name="">Aborted</option>
								</select>
-->
							</label>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</div>

	<div class="rplmtInfo evalInfoSection">
		<div class="evalFormHeader">Replacement Information</div>
		<div class="mainBody">
			<ul class="evalListSection">
				<li class="evalMarginRight239p">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Do you need a replacement?</li>
						<ul class="evalListInput gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								<div id="replacement" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="replacement" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>
					</ul>
				</li>

				<li class="">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p"> Is the part available for evaluation?</li>
						<ul class="evalListInput gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								<div id="part-available" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="part-available" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>

					</ul>
				</li>
			</ul>


			<ul class="evalListSection">
				<li class="evalMarginRight239p">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">If so, has it been shipped to Globus Medical?</li>
						<ul class="evalListInput gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								<div id="shipped" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="shipped" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>
					</ul>
				</li>

				<li class="">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Was part decontaminated before return?</li>
						<ul class="evalListInput gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312 evalHeight">
								<div id="decontaminated" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="decontaminated" class="gmInputText evalWidth312 evalSelectHeight" message="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>

					</ul>
				</li>
			</ul>



			<ul class="evalListSection evalshipdt">
				<li class="evalMarginRight">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p"> Date Shipped </li>
						<li id="eventEval-shipped-dt" class="evalListInput gmAlignVertical gmMarginBottom10p">
                            <label>{{companyDateFormat dateshipped}}</label>
                            <input type="text" id="date-shipped" class="evalWidth296 evalHeight datepicker" placeholder="" readonly value="{{dateshipped}}"><i class="fa fa-calendar fa-lg evalcal"></i></li>
					</ul>
				</li>

				<li class="evalMarginRight40p">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Carrier</li>
						<ul class="evalListInput gmAlignVertical carrlbl gmMarginBottom10p">

<!--							<select id="carrier-list" class="gmInputText evalWidth312 evalSelectHeight arwSelect"></select>-->
							<div id="carrier-list" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
						</ul>
					</ul>
				</li>





			</ul>

			<ul class="evalListSection">
				<li class="evalMarginRight240p">
					<ul>
						<li class=" evalListLabel gmFontBold gmMarginBottom10p evaltrk" style="margin-top:15px;">Tracking Number </li>
						<li class="evalListInput gmAlignVertical gmMarginBottom10p"><input type="text" id="track-number" class="evalWidth296 evalHeight" maxlength="30" value="{{trknumber}}"></li>
					</ul>
				</li>



				<li class="evalMarginRight40p">
					<ul>
						<li class="evalListLabel gmFontBold gmMarginBottom10p">Field Service Requested <br> (Imaging, Navigation & Robotics ONLY) </li>
						
               							
						<ul class="evalListInput  gmAlignVertical gmMarginBottom10p">
							<label class="evalSelectbox-icon evalWidth312">
								<div id="field-service" class="gmInputText evalWidth312 evalSelectHeight dropDownListX"></div>
<!--
								<select id="field-service" class="gmInputText evalWidth312 evalSelectHeight" placeholder="Please Choose One...">
									<option value="" name="">Choose One</option>
									<option value="105304" name="">Yes</option>
									<option value="105305" name="">No</option>
								</select>
-->
							</label>
						</ul>
					</ul>
				</li>
			</ul>


			<ul class="evalbutton">
				<button class="evalbtn evalbtnred" id="btn-main-clear" type="submit" form="" value="Submit">Clear</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="evalbtn" id="btn-main-save" type="submit" form="" value="Submit">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<button class="evalbtn" id="btn-sign-submit" type="submit" form="" value="Submit">Submit</button>
			</ul>
		</div>
		
		</div></div>
	<div id="eval-footer-div">
	<div id="div-detail-navigation" class="div-case-detail-navigation">
			<a id="btn-eval-form" class="btn-detail-eval btn-detail-navigation btn-bg-grey  " href="#eval/form"> <span>Event Evaluation Form</span></a>
			<a id="btn-eval-dash" class="btn-detail-eval btn-bg-grey btn-detail-navigation " href="#eval/dash"> <span>Event Evaluation Dashboard</span></a>
			<a id="btn-case-link" class="btn-detail-eval btn-bg-grey  btn-detail-navigation "> <i class="fa fa-external-link fa-lg"></i><span>Links </span></a>
	</div>
		<div class="btn-app-link"> 
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">Delivered Order</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">Inventory Management</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">Sales Dashboard</span></a>
			
		</div>	</div>

</div>
