<div class="div-eval-main-dash">
    <input type="hidden" id="status" class="eval-status" value="">
	<div class="eventInfo evalInfoDash">
        <label class="gmAlignVertical gmFontBold gmPaddingButtom10p rptEval hide">Filter <i class="fa fa-angle-down fa-lg"></i></label>
        
		<div class="div-eval-dash-container mobrptEval" id="eval-main">


			<ul class="evalListSection">
				<li class="evalDashMargin evalListInput evallbl">Status </li>

				<li class="evalselect">

<!--
					<select id="status" class="gmInputText evalDashWidth evalSelectHeight" validate="required" message="Please Choose One...">
						<option value="null" name="">All</option>
						<option value="1" name="">Draft</option>
						<option value="2" name="">Submitted</option>
					</select>
-->
                    <div id="status-list" class="gmInputText evalSelectHeight dropDownListX"></div>

				</li>
				<li class="evalDashMargin evalMarginleft15p evalcrdt ">Created Date </li>
				<li class="evalDashMargin gmMarginLeft5p evallbl evalfrm">From </li>

				<li class="evalListInput evalListSection evalFrmDt ">
                    <label></label>
                    <input type="text" id="from-date" class="evalWidth170 evalHeight datepick" readonly><i class="fa fa-calendar fa-lg evalcal"></i></li>
				<li class="gmMarginLeft5p  evalDashMargin evallbl">To</li>
				<li class="evalListInput evalListSection evalToDt">
                    <label></label>
                    <input type="text" id="to-date" class="evalWidth170 evalHeight datepick" readonly><i class="fa fa-calendar fa-lg evalcal"></i></li>
				<li class="evalrptbuttondash">
					<button class="evalrptbtndash evalMarginleft15p" type="submit" form="" id="btn-main-load" value="Submit">LOAD</button></li>
			</ul>

		</div>
		<div class="mainEvaluationFormDash">
			<ul class="evalListSection  gmFontWhite">
				<li class="gmWidth50p"></li>
				<li class="evalWidth170">Form ID</li>
				<li class="evalWidth170">Created Date</li>
				<li class="evalWidth170">Event Information</li>
				<li class="evalWidth170">Event Date</li>
				<li class="evalWidth170">Status</li>
			</ul>
		</div>
		<div class="mainBody evalListDash">
			{{#each this}}
				<ul class="evalListSection {{#iftrue STATUS "Draft"}}evalListSwipe {{/iftrue}} evalDashBgColor" data-formid="{{EVALFORMID}}" data-status="{{STATUS}}">
					<li class="li-content">
					<ul>
					<li class="gmWidth50p delRec li-content"><span {{#iftrue STATUS "Draft"}} style="display:inline-block" {{else}} style="display:none" {{/iftrue}}><i class="fa fa-minus-circle remove-contact gmFontRed gmBtnLarge" data-formid="{{EVALFORMID}}" id="btn-main-void" index="1"></i></span></li>
					<li data-title="Form ID" class="evalWidth170 frmid {{#iftrue STATUS "Draft"}} fetch-form {{/iftrue}}" {{#iftrue STATUS "Draft"}}data-formid="{{EVALFORMID}}" {{/iftrue}}>{{EVALFORMID}}</li>
					<li data-title="Created Date" class="evalWidth170 crtdt">{{CREATEDATE}}</li> 
					<li data-title="Event Information" class="evalWidth170 descr">{{DESCR}}</li>
					<li data-title="Event Date" class="evalWidth170 evntdt">{{EVNTDT}}</li>
					<li data-title="Status" class="evalWidth170 evsts" id="evalstatus">{{STATUS}} {{#iftrue STATUS "Submitted"}}<i style="font-size:30px;color:red;margin-left: 10px;" class="fa fa-file-pdf-o" data-formid="{{EVALFORMID}}" id="view-pdf"></i>{{/iftrue}} </li>
						</ul>	
					</li>
					{{#iftrue STATUS "Draft"}}
					 <li class="delete-pu-span removeForm" data-formid="{{EVALFORMID}}">
        <a class="clear-row-pu" href="javascript:;"><span>Delete</span></a>
					</li>
					{{/iftrue}}
				</ul>
			{{/each}}

		</div>
	
		
		<div id="div-detail-navigation" class="div-case-detail-navigation">
			<a id="btn-eval-form" class="btn-detail-eval btn-detail-navigation btn-bg-grey  " href="#eval/form"> <span>Event Evaluation Form</span></a>
			<a id="btn-eval-dash" class="btn-detail-eval btn-bg-grey btn-detail-navigation " href="#eval/dash"> <span>Event Evaluation Dashboard</span></a>
			<a id="btn-case-link" class="btn-detail-eval btn-bg-grey  btn-detail-navigation "> <i class="fa fa-external-link fa-lg"></i><span>Links </span></a>
	</div>
		
		<div class="btn-app-link"> 
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">Delivered Order</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">Inventory Management</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">Sales Dashboard</span></a>
			
	</div>	
		
		
	</div>



</div>
