<div id="div-detail-view">

<!-- 	<div id="div-detail-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span> menu </span></a>
	</div> -->
	
	<div id="div-top-right-icons" class="div-top-right-icons-catalog">
		<span id="btn-download"><i class="fa fa-download fa-lg"></i> </span>
		<span id="div-favorite-icon">&#9733</span>
	</div>

	<div id="div-detail-breadcrumb"  class="div-detail-breadcrumb-catalog"></div>

	<div id="div-detail">
		<ul id="description">
			<li id="li-detail-name">
				<h2>{{{Name}}}</h2>
			</li>
			<li>
				<div id="div-itemlist-count">
					{{lblNm "count_of"}}<span id="span-view-type"></span>:<span id="spn-itemlist-count" class="span-count"></span>
				</div>				
			</li>
			<li>
				<div id="div-search-count">
				   {{lblNm "retrieved_count"}}:<span id="span-search-count"> </span>
				</div>
			</li>
			<li>
				<ul id="div-detail-overview">
					<li id="li-detail-image">
						<div id="div-no-image"></div>
						<div id="div-detail-image-container"></div>
					</li>
					<div id="div-detail-desc-content">
						<li id="li-detail-description">
				        	<div class="div-heading-1 font-red">{{lblNm "description"}}</div>
				        	<div class="div-description" id="description-content">{{{Desc}}}</div>
						</li>
						<li id="li-detail-detail">
							<div class="div-heading-1 font-red">{{lblNm "detail"}}</div>
				    		<div class="div-description" id="detail">{{{Detail}}}</div>
						</li>
					</div>
				</ul>	
			</li>
		</ul>
		<div id="div-detail-set" class="div-detail div-detail-set-group-part">
			<li class='li-info-center'><img />&nbsp;{{lblNm "loading_sets_cont"}}</li>
		</div>	
		<div id="div-detail-group" class="div-detail div-detail-set-group-part">
			<li class='li-info-center'><img />&nbsp;{{lblNm "loading_groups_cont"}}</li>
		</div>
		<div id="div-detail-part" class="div-detail div-detail-set-group-part">
			<li class='li-info-center'><img/>&nbsp;{{lblNm "loading_parts_cont"}}</li>
		</div>
		
		
		</div>
		<div id="div-detail-navigation" class="mc-footer-btns">
			<a id="btn-overview" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected btn-detail-collateral"> <i class="fa fa-eye fa-lg"></i> <span>{{lblNm "overview"}} </span></a>
			<a id="btn-group" class="btn-detail btn-bg-grey btn-detail-navigation"><i class="fa fa-group fa-lg"></i> <span>{{lblNm "groups_s"}} </span></a>
			<a id="btn-set" class="btn-detail btn-bg-grey btn-detail-navigation"><i class="fa fa-medkit fa-lg"></i><span>{{lblNm "sets_s"}} </span></a>
			<a id="btn-camera" class="btn-detail btn-bg-grey btn-detail-navigation"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span>{{lblNm "view"}} </span></a>
			<a id="btn-search" class="btn-detail btn-detail-navigation btn-bg-grey" href="#catalog"><i class="fa fa-search fa-lg"></i><span>{{lblNm "search"}} </span></a>
			<a id="btn-link" class="btn-detail btn-bg-grey btn-detail-collateral btn-detail-navigation"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
		</div>
		
		<div class="btn-app-link" id="btn-app-collateral"><div class="catlog-links collateralLink"><span id="span-link-text">{{lblNm "marketing_collateral"}}</span></div>
		<div class="catlog-links evalLink"><span id="span-link-text" class="span-link-eval">{{lblNm "event_evaluation_form"}}</span></div></div>
	
		
</div>
