<div id="div-main-catalog">
	<ul id="ul-catalog">
		<li>
			<div id="div-catalog-filter" class="div-catalog-filter-initial">
				<div id="div-filter">
					<div id="div-arrow-keyword" class="arrow-right">
					</div>
				
					<div id="div-filter-text">
					</div>
				</div>
				<div id="div-keyword">
					<input type="text" name="txt-keyword" id="txt-keyword" class="txt-keyword-initial" placeholder="{{lblNm "key_3_characters_to_search"}}"/>
				</div>
				<div id="div-search-x">
					x
				</div>
			</div>
		</li>
		<li>
			<div id="div-catalog-quicklink">
			</div>
		</li>
		<li>
			<div id="div-search-result">
                {{lblNm "search_result"}}
			</div>
		</li>
	</ul>
	<div id="div-sidepanel" class="panel">
	</div>
	<div id="div-filter-list" class="panel">
	</div>
</div>
<div id="div-main-detail"></div>
