<ul id="ul-listitem">
	<li class="li-item-id">
		<a id="{{ID}}" href="#{{URL}}{{ID}}" name="ID">{{ID}}</a>
	</li>
	<li class="li-item-name">
		<a id="{{Description}}" href="#{{URL}}{{ID}}" name="Description">{{{Description}}}</a>
	</li>
	<li class="li-item-type">
		<a id="{{Type}}" href="#{{URL}}{{ID}}" name="Type">{{Type}}</a>
	</li>
	<li class="li-item-category">
		<a id="{{Category}}" href="#{{URL}}{{ID}}" name="category">{{Category}}</a>
	</li>
	<li class="li-item-hierarchy">
		<a id="{{Hierarchy}}" href="#{{URL}}{{ID}}" name="hierarchy">{{Hierarchy}}</a>
	</li>
</ul>