<ul class="ul-list-item">
    <li  class="li-item-name"><a id="{{Name}}"  href="#{{URL}}{{ID}}" name="Name">{{Name}}</a></li>
    <li  class="li-item-type"><a id="{{Type}}" href="#{{URL}}{{ID}}" name="ID">{{Type}}</a></li>
</ul>

