<ul class="ul-list-item ul-part-list ul-set-part-list">
	<li class="li-item-id">
		<a id="{{ID}}" name="ID">{{ID}}</a>
	</li>
	<li class="li-item-name li-part-description">
		<a id="{{Description}}" name="Description">{{{Description}}}</a>
	</li>
	<li class="li-item-qty">
		<a id="{{Quantity}}" name="Quantity">{{Quantity}}</a>
	</li>
	<li class="li-item-part-camera">
		<a id="btn-part-camera" class="btn-detail for-{{FileList}}"> <span>view </span><i class="fa fa-window-maximize" aria-hidden="true"></i></a>
		<img class="img-in-camera-icon" />
	</li>
	<li class="li-item-detail">
		<a href="#{{URL}}{{ID}}">{{lblNm "details"}}</a>
	</li>
	
</ul>
