<div>
	<a id="btn-system" class="btn-catalog-item" href="#">{{lblNm "system"}}<span id="spn-no-systems"></span></a>
	<a id="btn-group" class="btn-catalog-item" href="#">{{lblNm "groups_sin"}}<span id="spn-no-groups"></span></a>
	<a id="btn-part" class="btn-catalog-item" href="#">{{lblNm "part_sin"}}<span id="spn-no-parts"></span></a>
</div>

<div id="div-sub-result-system" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_systems"}}</a>
	</li>
</div>

<div id="div-sub-result-part" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_parts_cont"}}</a>
	</li>
</div>

<div id="div-sub-result-group" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_groups_cont"}}</a>
	</li>
</div>