<div id="div-sidepanel-content">
	
	<div id="div-close-panel">
<!--		<a id="btn-close-panel" href="#" class="show">&nbsp;X&nbsp;</a>-->
        <i id="btn-close-panel" href="#" class="show fa fa-times-circle gmFontWhite fa-2x" aria-hidden="true"></i>
	</div>

	<div id="div-sidepanel-back">
        <i class="fa fa-arrow-left gmFontWhite" aria-hidden="true"></i>
<!--		<span class="backarrow" id="sidepanelback"></span><span class="backarrow arrowback">-</span><span class="backarrow arrowback">-</span><span class="backarrow arrowback">-</span>-->
	</div>
	
	<div id="div-breadcrumb">
		<div id="div-node">
		</div>
	</div>
	
	<ul>	
		<li>
			<div id="div-sidepanel-list"></div>
		</li>
	</ul>
</div>