<div id="div-alert-messagebar" class="gmAlignVertical">
    <div class="alert alert-dismissible hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen titleRef" id="li-pricing-initiate-letters">Account Pricing Report</li>
    <li class="li-threshold-cancel-button price-popup-part-close">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<ul>
    <li class="li-pricing-info" id="li-price-info-system-lable">
        <div class="div-pricing-part-info">
            <div id="" class="gmAlignHorizontal">System</div>
            <div id="div-acc-selected-system-list" class="gmAlignHorizontal"></div>
        </div>
        <div class="div-pricing-part-info">
            <div id="" class="gmAlignHorizontal">Part# </div>
            <input type="text" id="div-part-value-input" class="gmInputText gmText250 gmAlignHorizontal">
        </div>
        <div id="btn-part-load-btn" class="btn-load">Go</div>

    </li>
</ul>
<ul>
    <div id="div-show-sys-name"><div id="div-dash-price-system" class="div-price-widget-details">
    </div></div>
</ul>
<ul class="ul-group-part-pricing gmMarginTop15p">
    <li class="li-acc-part-price">
        <div id="div-acc-part-data">Part#</div>
        <div id="div-part-sys-System-data">Part Desc</div>
        <div id="div-part-sys-System-data">System</div>
        <div id="div-part-sys-List-data">Current Price</div>
        <div id="div-part-sys-List-data">List Price</div>
        <div id="div-part-sys-PriceBy-data">Trip Price</div>
    </li>

</ul>

<div class="div-part-price-details"></div>
<div class="  price-popup-part-close gmTextCenter">
    <div class="price-popup-close-part gmBGBlack gmFontWhite gmTextCenter">Close</div>
</div>
