<!------------------------------------
 * File:        gmtCancelPriceRequest.hbs
 * Description: Price DashBoard Screen - Click on X icon
 * Version:     1.0
 * Author:     	hReddy
-------------------------------------->
<ul class="div-threshold-top-header">
    <li class = "li-pricing-Threshold-screen" id ="li-pricing-initiate-letters">Cancel Price Request</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-cancel-screen">The requested screen is under construction...!</div>