<!------------------------------------
 * File:        GmtGroupSpeciality.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
 ------------------------------------>
<ul class="ul-price-speciality-group">
    <div class="div-price-speciality-group">Speciality Group</div>
</ul>