<!-----------------------------------------------
 * File:        gmtGroupPartPricingDetails.hbs
 * Description: P icon group part details
 * Version:     1.0
 * Author:     	jreddy
 ------------------------------------------------>
<ul class="div-group-part-top-header">
    <li class = "li-pricing-group-part-screen" id ="li-pricing-initiate-letters"></li>
    <li class="li-group-part-cancel-button">
        <div id="div-close-circle"></div>
        <a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-group-part-pricing">
    <div class="div-group-price-top-header">
        <ul class="">
            <li class="li-group-price-top-header gmMarginTop10p" id="li-group-price-part-number">Part Number</li>
            <li class="li-group-price-top-header gmMarginTop10p" id="li-group-price-part-desc">Part Description</li>
            <li class="li-group-price-top-header gmMarginTop10p" id="li-group-price-list-price">List Price($)</li>
            <li class="li-group-price-top-header gmMarginTop10p" id="li-group-price-trip-wire">Trip Wire($)</li>
        </ul>
    </div>
    <div class="div-group-price-details">
        {{#each this}}
        <ul class="ul-group-price-details">
            <li class="li-group-price-details" id="li-group-price-part-number-id">{{partid}}</li>
            <li class="li-group-price-details" id="li-group-price-part-desc-id">{{partdesc}}</li>
            <li class="mobpartDetails mobPrice"><i class="fa fa-caret-up fa-2x onActive"></i></li>
            <li data-title="L" class="li-group-price-details" id="li-group-price-list-price-id">{{formatPrice listprice}}.00</li>
            <li data-title="T" class="li-group-price-details" id="li-group-price-trip-wire-id">{{formatPrice tripwireprice}}.00</li>
            <div class="mobgroupDetails mobPricing hidepartInfo">
                <ul>
                    <li data-title="Part Number" class="li-group-price-details" id="li-group-price-part-number-id">{{partid}}</li>
                    <li data-title="Part Description" class="li-group-price-details" id="li-group-price-part-desc-id">{{partdesc}}</li>
                    <li data-title="List Price($)" class="li-group-price-details" id="li-group-price-list-price-id">{{formatPrice listprice}}.00</li>
                    <li data-title="Trip Wire($)" class="li-group-price-details" id="li-group-price-trip-wire-id">{{formatPrice tripwireprice}}.00</li>
                </ul>
            </div>

        </ul>
         
        {{/each}}
    </div>
    <div class="div-price-group-close-btn">Close</div>
</div>