<!------------------------------------
 * File:        gmtGroup.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
-------------------------------------->


<ul class="ul-price-group-qty">
    {{#each this}} {{#iftrue pricetype '52111'}} {{#iftrue @index 0}}
    <ul class="ul-price-system-details"> 
        {{#ifavailable systemdivisionid "Y" }}
            <li class="li-price-group-details" id="li-price-system-name" style="font-weight:bold; color:#942828;width:320px;">{{groupname}}
                <div >           
                    <li class="div-price-data-input li-price-system-changes" >
                          <div class="div-price-group-dt-input  validateNumber"><input type="number" id="div-price-value-input" maxlength="30" grpid="{{groupid}}" value="{{individualgrpchangevalue}}" />
                           </div>
                    </li>
                </div>  
            </li>
        {{/ifavailable}}
        {{#ifavailable systemdivisionid "N" }}
            <li class="li-price-group-details" id="li-price-system-name" style="font-weight:bold; color:#942828;">{{grouptypedesc}}</li>
        {{/ifavailable}}
    </ul>
    {{/iftrue}} {{/iftrue}}
    <ul class="ul-price-system-details div-error-icon-{{groupid}}" principalFl="{{principalflag}}" groupid="{{groupid}}" reqdtlid="{{reqdtlid}}">
        {{#iftrue pricetype '52110'}}
        <li class="li-price-group-details" id="li-price-system-icon">
            <div class="div-p-icon" id="{{groupid}}" name="{{groupname}}">P</div>
        </li>
        {{/iftrue}} {{#iftrue pricetype '52111'}}
        <li class="li-price-group-details" style="padding-left: 20px;"></li>
        {{/iftrue}}
        <li class="li-price-group-details" id="li-price-system-name" partnumber="{{partnum}}">
            {{#iftrue pricetype '52110'}} {{groupname}} {{/iftrue}} {{#iftrue pricetype '52111'}} {{partnum}} - {{partdesc}} {{/iftrue}}
        </li>
        <li class="mobSystem mobPrice toggle-li"><a class="togglebx  onActive" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a></li>
        <li class="li-price-group-details quantity-{{groupid}} mobhide" id="li-price-system-qty">{{quantity}}</li>
        <li class="li-price-group-header mobPrice" id="li-price-group-pruposed">Proposed</li>
        <li class="li-price-group-details validateNumber" id="li-price-system-Pruposed-unit"><input type="number" id="div-price-value-input" class="proposedUnit-{{groupid}} proposedUnit proposedUnit-{{proposedunitprice}}" max="6" value="{{proposedunitprice}}" groupid="{{groupid}}" systemId="{{systemid}}" constructLevel="{{constructlevel}}" partnum="{{partnum}}" constructid="{{constructid}}"></li>
        <li class="li-price-group-details proposedExtn-{{groupId}} proposedExtn mobhide" id="li-price-system-Pruposed-ext">{{proposedextensionprice}}</li>
        <li class="li-price-group-details mobhide" id="li-price-system-Tripwire-unit">{{formatPrice tripwireunitprice}}</li>
        <li class="li-price-group-details mobhide" id="li-price-system-Tripwire-ext">{{formatPrice tripwireextensionprice}}</li>
        <li class="li-price-group-details" id="li-price-system-flag"></li>
        <li class="li-price-group-header mobPrice" id="li-price-group-current">Current</li>
        <li class="li-price-group-details" id="li-price-system-current">{{#if gpoprice}} {{formatPrice gpoprice}}* {{else}} {{formatPrice currentprice}} {{/if}}</li>
        <li id="li-price-system-list"><input type="hidden" value="{{formatPrice listprice}}"></li>
        <li id="li-price-system-changetype"><input type="hidden" value="{{changetype}}"></li>
        <li id="li-price-system-changevalue"><input type="hidden" value="{{changevalue}}"></li>
        <div class="mobPricing mobproductDetails">
            <ul>
                <li class="li-price-group-header mobPricing" id="li-price-group-qty">Qty</li>
                <li class="li-price-group-details quantity-{{groupid}}" id="li-price-system-qty">{{quantity}}</li>
                <li class="li-price-group-header mobPricing" id="li-price-group-tripwire">Tripwire</li>
                <li class="li-price-group-details" id="li-price-system-Tripwire-unit">{{formatPrice tripwireunitprice}}</li>
                <li class="li-price-group-header mobPricing" id="li-price-Tripwire-ext">Ext.</li>
                <li class="li-price-group-details" id="li-price-system-Tripwire-ext">{{formatPrice tripwireextensionprice}}</li>
<!--                <li class="li-price-group-details mobPricing" id="li-price-system-flag"></li>-->
            </ul>
        </div>
    </ul>
    {{/each}}
</ul>
