<ul class="impact-ana-Summary">
    <li class="summaryMargin">
        <ul class="summaryLabel">
            <li>
                <ul class="summarySubLabel">
                    <li>Account/GPB Name</li>
                    <li class="gmTextRight orgName"></li>
                    <!--                    <li></li>-->
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Currency</li>
                    <li class="gmTextRight acCurrency"></li>
                    <!--                    <li></li>-->
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Prev. 12 months sales</li>
                    <li class="gmTextRight gtotsales"></li>
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Projected spend at proposed price</li>
                    <li class="gmTextRight gtotprops"></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <ul class="summaryLabel">
            <li>
                <ul class="summarySubLabel">
                    <li>Projected Impact (Curr)</li>
                    <li class=" gmTextRight gtotprojs"></li>
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Projected Impact (%)</li>
                    <li class="gmTextRight impactperc"></li>
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Area Director</li>
                    <li class="gmTextRight adName"></li>
                </ul>
            </li>
            <li>
                <ul class="summarySubLabel">
                    <li>Generated Date</li>
                    <li class="gmTextRight genDate"></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div class="gmTextAll">
    <ul class="ul-pricing-impact-header">
        <li id="changeName" class="gmAlignHorizontal gmMarginLeft15p">System Name</li>
        <li class="gmAlignHorizontal imTextCenter">Part#</li>
        <li class="gmAlignHorizontal imTextCenter">Prev 12 Months Sale</li>
        <li class="gmAlignHorizontal imTextCenter">Projected Spend at Proposed Price</li>
        <li class="gmAlignHorizontal imTextCenter price-sort">
            <span class="gmAlignHorizontal imTextCenter">Projected Impact at Proposed Price</span>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </li>
    </ul>
    <ul class="ul-pricing-impact-content">

        {{#each this}}
        <div class="div-impact-total" systemid="{{systemid}}">
            <div class="div-impact-content div-impact-content-plus">
                <ul>
                    <li class="li-price-impact-icon impact-analy-system-name"><i class="fa fa-plus-circle" aria-hidden="true"></i></li>
                    <li class="impact-analy-system-name"> {{name}}</li>
                    <div class="gmAlignHorizontal gmWidth77">
                        <li></li>
                        <li class="vtotsale gmTextRight"></li>
                        <li class="vtotprop gmTextRight"></li>
                        <li class="vtotproj gmTextRight"></li>
                    </div>
                </ul>
            </div>
            <div class="div-impact-content hide div-impact-content-minus">
                <ul>
                    <li class="li-price-impact-icon gmVerticalTop impact-analy-system-name"><i class="fa fa-minus-circle" aria-hidden="true"></i></li>
                    <li class="gmVerticalTop gmPaddingTop10p impact-analy-system-name">{{name}}</li>
                    <div class="div-impact-exp">
                        {{#each partNumber}}
                        <div class="gmPaddingTop10p div-parts-impact-amt">
                            <li class="gmParts gmTextLeft">{{partid}}</li>
                            <li class="totsale">{{formatPrice orderamt}}.00</li>
                            <li class="totprop">{{formatPrice propprice}}.00</li>

                            <li class="totproj">{{projimpact}}</li>
                        </div>
                        {{/each}}
                    </div>

                    <ul class="ul-price-impact-parts-total">
                        <li class="li-price-impact-icon"></li>
                        <li></li>
                        <div class="gmAlignHorizontal gmWidth77">
                            <li></li>
                            <li class="gmAlignHorizontal li-impact-total-footer vtotsale"></li>
                            <li class="gmAlignHorizontal li-impact-total-footer  vtotprop"></li>
                            <li class="gmAlignHorizontal li-impact-total-footer vtotproj"></li>
                        </div>
                    </ul>
                </ul>
            </div>
        </div>
        {{/each}}
    </ul>
</div>
<div class="div-impact-content div-impact-content-plus gmMarginTop15p gmMarginBottom10p gmBGGrey gmPriceTotalFooter">

    <ul>
        <li class="li-price-impact-icon"></li>
        <li>Grand Total</li>
        <div class="gmAlignHorizontal gmWidth77">
            <li></li>
            <li id="gtotsale" class=" gmTextRight gtotsale"></li>
            <li class=" gmTextRight gtotprop"></li>
            <li class=" gmTextRight gtotproj gmMarginLeft"></li>
        </div>
    </ul>

</div>
