<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen titleRef" id="li-pricing-initiate-letters"></li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>

<div class="div-impact-analysis" id="div-impact-analysis-id"></div>

<div class="gmTextAll">
    <ul class="ul-footer-impact-analy">
        <li id="div-impact_by_chart" class=" gmAlignHorizontal imTextCenter">Chart</li>
        <li id="div-impact_by_sytem" class=" gmAlignHorizontal imTextCenter">Impact By System</li>
        <li id="div-impact-by-facility" class=" gmAlignHorizontal imTextCenter">Impact By Facility</li>
        {{!--
        <li class="gmAlignHorizontal">Summary</li>--}}
    </ul>

</div>
