<div class="div-price-aproval-group-name">
{{#each this}}
<div id="{{systemname}}" name="{{systemname}}" prcdetlid="{{prcdetlid}}" systemid="{{systemid}}" groupid="{{groupid}}" class="{{prcdetlid}} gmMarginTop10p gmMargin5p div-price-approval-ul">
<!--<ul class="ul-approval-status"></ul>-->
<select class="ul-approval-status price-approval-appstatus" case="select"></select>
<ul class="gmWidth20p gmTextCenter ul-p-icon"><div class="div-p-icon" id="{{groupid}}" name="{{groupname}}">P</div></ul>
<ul class="price-approval-groupname" partnumber="{{partnum}}">{{groupname}}</ul>
<ul class="price-approval-qty">{{quantity}}</ul>
<!--<ul class="ul-approval-changetype"></ul>-->
    <select class="ul-approval-changetype price-approval-type" case="select"></select>
<ul class="price-approval-change" id="price-approval-changevalue">
    <input type ="number" class="gmTextRight gmFont1em" case="input"   value="{{changevalue}}">
    
    </ul>
<ul class="price-approval-change" id="price-approval-prop-unit">
    <input id="price-approval-change" class="gmTextRight gmFont1em"  type ="number" case="input" value="{{proposedunitprice}}">
    
    </ul>
<ul class="gmWidth50p ul-price-approval-prop-ext gmTextRight">{{formatPrice proposedextensionprice}}</ul>
<ul class="price-approval-tripwire gmTextRight gmMarginRight5p">{{formatPrice tripwireunitprice}}</ul>
<ul class="gmWidth20p ul-price-approval-color"></ul>
<ul class="price-approval-currunit gmTextRight">{{formatPrice currentprice}}</ul>
<ul class="price-approval-offlist gmTextCenter"></ul>
<ul class="price-approval-listunit gmWidth50p gmTextCenter">{{formatPrice listprice}}</ul>
<ul class="price-approval-listext gmWidth50p gmTextRight"></ul>



</div>
{{/each}}
<div class="div-price-aproval-contruct gmPad5p">
<ul class="approval-construct "></ul>
<ul class="price-approval-total-prop-ext gmWidth50p gmTextRight"></ul>
<ul class="price-approval-total-list-ext gmFloatRight "></ul>

</div>
</div>