<!------------------------------------
 * File:        gmtPriceReport.hbs
 * Description: Price DashBoard Screen
 * Version:     1.0
 * Author:     	hReddy
--------------div-price-report------------------------>
<div class="div-pricing-info">
    <li class="li-pricing-Report-screen" id="li-pricing-initiate-letters">Dashboard</li>
    <!--<div class="div-main-content">-->

    <div class="div-price-Report-info">
        
        <label class="gmAlignVertical gmFontBold gmPaddingButtom10p priceReport">Filters <i class="fa fa-angle-down fa-lg"></i></label>
        
        <ul class="ul-pricdiv-price-reporting-report-info">

            <li class="li-pricing-report-info" id="li-price-report-info-lable">
                <div class="div-price-report-label div-status-text">
                    <div id="div-price-Report-header" class="mobhide">Filters</div>
                    <div id="div-pricing-sts-drpdwn" class="btn-listby div-popup-status category-btn popup-icon  gmText200 status-header" data-type="dropdown" data-param="actstatus" data-inputParameters='{"codegrp":"PRQSTS" , "codenmalt": "DASHBOARD"}' data-keyParameter="codenm" data-codegrp="PRQSTS" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="pricingstatus" data-title="Pricing Status">Status <span>
                </span>
                    </div>
                </div>
                <p class="p-font-text">Select Filters Load Report</p>
            </li>
            <li class="div-price-submit-label mobPrice">
                <div id="div-price-request-number">Request #</div>
                <div id="div-pricing-request" class="div-request-type"><input type="text" id="div-pricing-request-input" maxlength="30" value=""></div>
                <div id="btn-price-submit-go-btn" class="btn-signs" style="display: none;">Go</div>
            </li>


            </ul>


        <li class="li-price-report-label gmVerticalMiddle" id="li-price-date-label">
            <div id="div-price-info-from-date" class="div-price-info-label price-dash price-from-date-filter">
                <div class="div-price-info-label-header"> From </div>
                <label id="label-price-from-info-date"></label>
                <input type="text" id="txt-from-date" style="display:none" />
                <i id="sp-cal" class="fa fa-calendar fa-lg"></i>
            </div>
            <div id="div-price-info-to-date" class="div-price-info-label price-dash">
                <div class="div-price-info-label-header"> To </div>
                <label id="label-price-to-info-date"></label>
                <input type="text" id="txt-to-date" style="display:none" />
                <i id="sp-cal" class="fa fa-calendar fa-lg"></i>
            </div>
            <div id="div-price-info-load-date" class="div-price-info-label ">
                <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFontWhite">Load</div>
            </div>
        </li>

        <ul class="phyvsit-category-content filter-criteria-content">
            <li>
                <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>
            </li>

        </ul>

        <div class="div-price-report hide">
            <div class="div-price-report-header-list mobhide">
                <div class="div-price-request-no sort-list" name="Sortprid">Request #</div>
                <div class="div-price-name-account sort-list" name="groupaccname">Account/Group</div>
                <div class="div-price-name-region sort-list" name="regname">Region</div>
                <div class="div-price-initiated-by sort-list" name="initiatedby">Initiated By</div>
                <div class="div-price-initiated-on sort-list" name="initiatedon">Initiated On</div>
                <div class="div-price-updated-on sort-list" name="updatedon">Submitted&nbsp;Date</div>
                <div class="div-price-status-name sort-list" name="status">Status</div>
            </div>
            <div class="gmAlignHorizontal div-price-reports" id="div-overflow"></div>


        </div>
    </div>
    <!--</div>-->
</div>
