<div class="div-sales-analysis-chart" id="div-sales-id-chart">
      <ul class="div-saleschart-details">
        <li  class="li-view-details" id="li-view-detl"><span class="span-view-details"></span><span >By Facility ></span></li>
        <li class="li-sales-analysis-buttons li-acc" id="li-by-account-level2">By Account</li>
        <li class="li-sales-analysis-buttons li-seg" id="li-by-rep-account-level2">By Rep Account</li>
        </ul>
    <div id="rep-acc-level-chart-container" class="div-char-details"></div>
    <div class="div-main-account-level-search" id="div-main-account-level-id">
        <div class="div-account-level-search-header" id="div-account-level-id-header">
            <li class="li-account-level-search">
                <div class="li-div-acc-header" id="li-div-acc-nm">Account Name</div>
            </li>
            <li class="li-account-level-search">
                <div class="li-div-acc-header li-total-sales" id="li-div-sales"></div>
            </li>
        </div>
       <div id="div-sales-accountlevel-detail-content">
            {{#each this}}
                <div class="li-account-div-dtl" id="li-acc-div-detail-id" accountid="{{accountid}}" salesamount="{{salesamount}}" accountnm ="{{accountnm}}">
                    <li><input class="account-level-checkbox" id="div-sales-checkbox" type="checkbox" class="div-sales-checkbox-container gmWidth10p check-btn" value="{{accounid}}"></li>
                    <li>
                        <div id="div-sales-account-nm" value={{accounid}}>{{accountnm}}</div>
                    </li>
                    <li>
                        <div id="div-sales-account-salamt">{{formatPrice salesamount}}</div>
                    </li>
               </div>
           {{/each}}
        </div> 
         <div class="div-action-repacc-buttons">
            <li class="li-sales-buttons" id="li-Go-repaccount-button">Go</li>
            <li class="li-sales-buttons" id="li-clear-repaccount-button">Clear All</li>
        </div>
    </div>
</div>
