<div>
    <ul class="div-threshold-top-header">
        <li class="li-pricing-Threshold-screen titleRef" id="li-pricing-initiate-letters">Sales Analysis </li>
        <li class="li-threshold-cancel-button">
            <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
        </li>
    </ul>
    <ul class="impact-ana-Summary sal-ana-Summary">
        <li class="summaryMargin">
            <ul class="summaryLabel">
                <li>
                    <ul class="summarySubLabel">
                        <li>Account/GPB Name</li>
                        <li class="gmTextRight orgName"></li>
                    </ul>
                </li>
                <li>
                    <ul class="summarySubLabel">
                        <li>Parent Account Name</li>
                        <li class="gmTextRight partynm"></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <ul class="summaryLabel">
                <li>
                    <ul class="summarySubLabel">
                        <li>Prev. 12 months sales</li>
                        <li class="gmTextRight gtotsales"></li>
                    </ul>
                </li>
                <li>
                    <ul class="summarySubLabel">
                        <li>Generated Date</li>
                        <li class="gmTextRight genDate"></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <div id="div-home-and-add-icon">
        <i class="fa fa-arrow-left-pricing fa-arrow-left"></i>
        <i class="fa fa-home fa-home-icon-pricing fa-home-icon"></i>
    </div>
    <div class="div-sales-analysis-report" id="div-sales-analysis"></div>
    <div class="div-sales-account-level" id="div-sales-analysis-acc-lvl"></div>
    <div class="div-sales-rep-account-level" id="div-sales-analysis-rep-acc-lvl"></div>
    <div class="div-sales-system-segment-level" id="div-sales-analysis-sys-segment-lvl"></div>
</div>