<div>
    <ul class="ul-pricing-top-header">
    <li class = "li-pricing-submit-request-screen" id ="li-pricing-initiate-letters">Submitted Requests</li>
    <div class="div-pricing-header-buttons">
    <li class="li-save-button">
        <div id="btn-main-save" class="gmFontWhite cursorPointer"><span>Save</span> <i class="fa fa-lg gmMarginLeft5p fa-floppy-o" aria-hidden="true"></i></div>
    </li>
    <li class="li-cancel-button">
        <div id="btn-main-cancel" class="gmFontWhite cursorPointer"><span>Cancel</span> <i class="fa fa-lg gmMarginLeft5p fa-times" aria-hidden="true"></i></div>
    </li>
    </div>
    </ul>
        <ul id="ul-price-submit-req-info" class="ul-price-submit-detail-info">
           <!-- <ul class= "ul-pricing-info">-->
        
		      <li class = "li-pricing-submit-req-info" id = "li-price-submit-req-info-lable">
				<div class="div-price-submit-label">
				<div id="div-price-request-number">Request #</div>
				<div id="div-pricing-request" class="div-request-type"></div>
                <div id="btn-price-submit-go-btn" class="btn-submit-sign">Go</div>
			    </div>
            
				<div class="div-price-submit-label1">
				<div id="div-price-account-header-name">Name</div>
				<div id="div-price-submit-req-account-name" class="div-pricesubmit-req-acc-name"></div>
			    </div>
                  <i class="fa fa-info-circle fa-information-circle" data-instruction=""></i>
             </li>
             <li class = "li-pricing-submit-req-info">
               <div class="div-initiated-by-label">
               <div id ="div-initiated-by-header">Initiated By</div>
               <div id="div-initiated-by-name"></div>
               </div>
               <div class="div-reviewed-by-label">
               <div id ="div-reviewed-by-header">Initiated On</div>
               <div id="div-reviewed-on-date"></div>
               </div>
               <!--<div class="div-status-by-label">
               <div id ="div-status-by-header">Status</div>
               <div id="div-status-name">Pending</div>
               </div>-->
                <div class="div-price-buttons">
               <div class="div-submit-projected-scale">12 Months Projected Scale</div>
               <div class="div-submit-projected-scale-value"><input type="text" id="div-price-value-input" maxlength="30" value=""></div>
               </div>
            </li> 
            
        </ul>
    <!--</ul>-->
</div>