<div class="div-sales-analysis-chart" id="div-sales-id-chart">
    <ul class="div-saleschart-details">
        <li class="li-view-details" id="li-view-detl"><span class="span-view-details"></span><span>View Details:</span></li>
        <li class="li-sales-analysis-buttons li-acc" id="li-account-level">Account Level</li>
        <li class="li-sales-analysis-buttons li-seg" id="li-segment-level">Segment Level</li>
    </ul>
    <div id="sales-systemlevel-chart-container" class="div-char-details"></div>
    <div id="div-main-segment">
        <div class="li-sales-segment" id="li-sales-segment-header">
            <li class="li-sales-segment">
                <div id="div-segmntnm">System Name</div>
            </li>
            <li class="li-sales-segment">
                <div class= "li-total-sales" id="div-revenue"></div>
            </li>
        </div>
        <div id="div-sales-segment-detail-content">
            {{#each this}}
            <div class="li-system-dtl" id="li-sales-seg-detail" setid="{{setid}}" salesamount="{{salesamount}}" setnm ="{{setnm}}" >
                 <li><input class="account-level-checkbox" id="div-sales-checkbox" type="checkbox" class="div-sales-checkbox-container gmWidth10p check-btn" value="{{setid}}"></li>
                <li>
                    <div id="div-sales-sysnm" class ="div-sysnm" value="{{setid}}" salesamount="{{salesamount}}" setnm ="{{setnm}}">{{setnm}}</div>
                </li>
                <li>
                    <div id="div-sales-amt">{{formatPrice salesamount}}</div>
                </li>
            </div>
            {{/each}}
        </div>
         <div class="div-action-system-buttons">
            <li class="li-sales-buttons" id="li-Go-system-button">Go</li>
            <li class="li-sales-buttons" id="li-clear-system-button">Clear All</li>
        </div>
    </div>
</div>