<!------------------------------------
 * File:        gmtPricingReportData.hbs
 * Description: Price DashBoard Screen
 * Version:     1.0
 * Author:     	hReddy
-------------------------------------->
{{#each this}}
<div class="div-price-report-details">
    <li class="li-price-report-details">
         {{#iftrue statusid '52186'}}
    <div class="delete-pu-span hide">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
     {{/iftrue}}
        <span class="mobreportDetails mobPrice"><i class="fa fa-caret-up fa-lg onActive"></i></span>
        <div data-title="Request #" class="div-price-request-name" id="div-price-request-id">
            <a class="mobhide" href='#price/pricingSubmittedRequests/{{requestid}}'> {{requestid}}</a>
            <a id="loadRequestid" class="mobPrice"> {{requestid}}</a>
        </div>
        <div data-title="Account/Group" class="div-price-request-account-name" id="div-price-request-account-id">{{groupaccname}}</div>
        <div data-title="Region" class="div-price-request-region-name pricereportView">{{regname}}</div>
        <div data-title="Initiated By" class="div-price-request-initiated-by pricereportView" id="div-price-request-initiated-id">{{initiatedby}}</div>
        <div data-title="Initiated On" class="div-price-request-reviewed-by pricereportView" id="div-price-request-reviewed-id">{{initiatedon}}</div>
        <div data-title="Submitted Date" class="div-price-request-reviewed-by" id="div-price-request-reviewed-id">{{statusupd}}</div>
        <div data-title="Status" class="div-price-request-status-name" id="div-price-request-status-id">{{status}}</div>
        {{#iftrue statusid '52186'}}
            <!--                    <div class="div-cancel-icon" id="{{requestid}}" name="{{statusid}}">C</div>-->
            <div id="fa-times-circle" class="fa fa-times-circle fa-2em font-red fa-price-circle div-red-close mobhide" reqid="{{requestid}}" name="{{statusid}}"></div>
            {{else}}
                <a href="#price/approval/{{requestid}}">
                    <div id="fa-times-tick" class="fa fa-check-circle-o  font-green mobhide" reqid="{{requestid}}" name="{{statusid}}"></div>
                </a>


        {{/iftrue}}
    </li>
</div>
{{/each}}
