<div class="div-sales-analysis-chart" id="div-sales-id-chart">
    <ul class="div-saleschart-details">
        <li class="li-view-details" id="li-view-detl"><span class="span-view-details"></span><span>View Details:</span></li>
        <li class="li-sales-analysis-buttons li-acc" id="li-account-level">Account Level</li>
        <li class="li-sales-analysis-buttons li-seg" id="li-segment-level">Segment Level</li>
    </ul>

    <div id="sales-analysis-chart-container" class="div-char-details"></div>
    <div id="div-main-segment-level">
        <div class="li-sales-segment" id="li-sales-segment-header">
            <li class="li-sales-segment">
                <div id="div-segmntnm">Segment</div>
            </li>
            <li class="li-sales-segment">
                <div class= "li-total-sales" id="div-revenue"></div>
            </li>
        </div>
        <div id="div-sales-segment-detail-content">
            {{#each this}}
            <div class="li-segment-dtl" id="li-sales-seg-detail">
                <li>
                    <div id="div-sales-segmntnm" value={{segmentid}}>{{segmentnm}}</div>
                </li>
                <li>
                    <div id="div-sales-salamt">{{formatPrice salesamount}}</div>
                </li>
            </div>
            {{/each}}
        </div>
    </div>
</div>