<!--/*******************************************
 * File:        gmtPriceGPBAccountDetails.hbs
 * Description: AccountInfo Screen
 * Version:     1.0
 * Author:     	karthik
 ***********************************************/ -->
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen" id="li-pricing-initiate-letters">Group Account Details</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
    <div class="li-gpb-price-acct" id="li-gpb-price-acct-head">
        <li class="li-gpb-price-acct"> <div id="div-account-id">Account Id</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-nm">Account Name</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-reg">Region</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-srep">Sales Rep</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-ttory">Territory</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-dbutor">Distibutor</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-area-dtor">Area Director</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-vp-nm">VP Name </div>
        </li>    
    </div>
{{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">No Data Found</div>
{{else}}
<div id="div-gpb-detail-content">
  {{#each this}}
    <div class="li-gpb-price-acct" id="li-gpb-price-acct-detail">
        <li>
            <div id="div-gpb-contact-details">{{accid}}</div>
        </li>
          <li>
            <div id="div-gpb-parent-acount-details">{{accountname}}</div>
        </li>
          <li>
            <div id="div-gpb-region-details">{{region}}</div>
        </li>
          <li>
            <div id="div-gpb-salesrep-details">{{repname}}</div>
        </li>
           <li>
            <div id="div-gpb-territory-details">{{territoryname}}</div>
        </li>
         <li>
            <div id="div-gpb-distibutor-details">{{distributorname}}</div>
        </li>
         <li>
            <div id="div-gpb-area-director-details">{{adname}}</div>
        </li>
        <li>
            <div id="div-gpb-vp-name-details">{{vpnname}}</div>
        </li>
    </div>
{{/each}}  
</div>
{{/if}}
