<!--/********************************
 * File:        gmtPriceAccountDetails.hbs
 * Description: AccountInfo Screen
 * Version:     1.0
 * Author:     	Jreddy
 ************************************/ -->
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen" id="li-pricing-initiate-letters">Account Details</li>
    <li class="li-threshold-cancel-button">
        <!--<div id="btn-main-cancel" class="gmFontWhite cursorPointer"><span>Cancel</span> <i class="fa fa-lg gmMarginLeft5p fa-times" aria-hidden="true"></i></div>-->
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-main-account-details-content">
    <div class="div-main-account-details1">
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-contact">Contract Account</div>
            <div class="div-account-details" id="div-account-contact-details">{{contactaccount}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-currency">Currency</div>
            <div class="div-account-details" id="div-account-currency-details">{{currency}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-gpo">GPO Affiliation</div>
            <div class="div-account-details" id="div-account-gpo-details">{{gpoaff}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-group-price">Group Price Book</div>
            <div class="div-account-details" id="div-account-group-price-details">{{gpopricebook}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-idn">IDN</div>
            <div class="div-account-details" id="div-account-idn-details">{{idn}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-parent-acount">Rep Accts For Parent Account</div>
            <div class="div-account-details" id="div-account-parent-acount-details">{{accountname}}({{accid}})</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-distibutor">Distibutor</div>
            <div class="div-account-details" id="div-account-distibutor-details">{{distributorname}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-salesrep">Sales Rep</div>
            <div class="div-account-details" id="div-account-salesrep-details">{{repname}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-area-director">Area Director</div>
            <div class="div-account-details" id="div-account-area-director-details">{{adname}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-vp-name">Vice President</div>
            <div class="div-account-details" id="div-account-vp-name-details">{{vpnname}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-region">Region</div>
            <div class="div-account-details" id="div-account-region-details">{{region}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-territory">Territory</div>
            <div class="div-account-details" id="div-account-territory-details">{{territoryname}}</div>
        </li>
        <li class="li-price-account-details">
            <div class="div-account-information" id="div-account-sales">12 Months Sale</div>
            <div class="div-account-details" id="div-account-sales-details">{{formatPrice last12monthsales}}</div>
        </li>
    </div>
</div>