<!--/*******************************************
 * File:        gmtPriceGPBAccountDetailsPhone.hbs
 * Description: AccountInfo Screen
 * Version:     1.0
 ***********************************************/ -->
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen" id="li-pricing-initiate-letters">Group Account Details</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
    <div class="li-gpb-price-acct" id="li-gpb-price-acct-head">
        <li class="li-gpb-price-acct"> <div id="div-account-id">Account Id</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-nm">Account Name</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-reg">Region</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-srep">Sales Rep</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-ttory">Territory</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-dbutor">Distibutor</div>
        </li>
        <li class="li-gpb-price-acct">
            <div id="div-account-area-dtor">Area Director</div>
        </li>
         <li class="li-gpb-price-acct">
            <div id="div-account-vp-nm">VP Name </div>
        </li>    
    </div>
{{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">No Data Found</div>
{{else}}
<div id="div-gpb-detail-content">
  {{#each this}}
    <div class="li-gpb-price-acct" id="li-gpb-price-acct-detail">
        <li class="div-gpb-dtls" id="div-gpb-dtls-accid">
             <div class="div-gph-acct" id="div-account-accid">Account Id</div>
            <div class="div-gph-acctdtls" id="div-gpb-contact-details">{{accid}}<i class="fa fa-chevron-down fa-lg  font-back" ></i></div>
            
        </li>
          <li class="div-gpb-dtls" id="div-gpb-dtls-accname">
             <div class="div-gph-acct" id="div-account-accname">Account Name</div>  
            <div class="div-gph-acctdtls" id="div-gpb-parent-acount-details">{{accountname}}</div>
        </li>
          <li class="div-gpb-dtls pricing-mob" id="div-gpb-dtls-region">
              <div class="div-gph-acct" id="div-account-region">Region</div>
            <div class="div-gph-acctdtls" id="div-gpb-region-details">{{region}}</div>
        </li>
          <li class="div-gpb-dtls" id="div-gpb-dtls-repname">
              <div class="div-gph-acct" id="div-account-accrepname">Sales Rep</div>
            <div class="div-gph-acctdtls" id="div-gpb-salesrep-details">{{repname}}</div>
        </li>
           <li class="div-gpb-dtls pricing-mob" id="div-gpb-dtls-territory">
               <div class="div-gph-acct" id="div-account-territoryname">Territory</div>
            <div class="div-gph-acctdtls" id="div-gpb-territory-details">{{territoryname}}</div>
        </li>
         <li class="div-gpb-dtls" id="div-gpb-dtls-distributor">
             <div class="div-gph-acct" id="div-account-distributorname">Distributor</div>
            <div class="div-gph-acctdtls" id="div-gpb-distibutor-details">{{distributorname}}</div>
        </li>
         <li class="div-gpb-dtls pricing-mob" id="div-gpb-dtls-adname">
             <div class="div-gph-acct" id="div-account-areadtornm">Area Director</div>
            <div class="div-gph-acctdtls" id="div-gpb-area-director-details">{{adname}}</div>
        </li>
        <li class="div-gpb-dtls pricing-mob" id="div-gpb-dtls-vpname">
            <div class="div-gph-acct" id="div-account-accvpname">VP Name</div>
            <div class="div-gph-acctdtls" id="div-gpb-vp-name-details">{{vpnname}}</div>
        </li>
    </div>
{{/each}}  
</div>
{{/if}}
