<ul class="div-group-part-top-header">
    <li class="li-pricing-group-part-screen" id="li-pricing-initiate-letters"></li>
    <li class="li-group-part-cancel-button">
        <div id="div-close-circle"></div>
        <a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div>
    <div class="div-show-construct-name"></div>
    <div class="div-price-group-close-btn">Close</div>
</div>
