<!--/*****************************************
 * File:        gmtSystemName.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	treddy
 ****************************************/-->
<ul class="ul-add-sys-values ul-product-background-col" pricetype="{{changetype}}">
    <li class="li-price-group-details" id="li-price-error-icon">
        <div id="div-system-error-indicator" class="div-error-icon-off-{{errorsystemId}} div-indicator hide">%</div>
        <div id="div-system-error-indicator" class="div-error-icon-custom-{{errorsystemId}} div-indicator hide">C</div>
    </li>
    <li class="li-inv-parts-used-icon">
        <i class="fa close-item fa-minus-circle fa-price-minus-circle" id="fa-acc-minus-price" productName="{{systemId}}">
		</i>
    </li>
    <li class="li-productName li-sys-productName" id="li-add-system-desc" productName="{{systemId}}" setName="{{systemName}}">
        {{systemName}}
    </li>
    <li class="li-price-group-details" id="li-price-error-icon">
        <div id="div-error-icon" class="div-error-icon-{{errorsystemId}} div-triangle hide">
            <i class="fa fa-exclamation-triangle"></i>
        </div>
    </li>
</ul>
