<!--/**********************************************
 * File:        gmtSpecialityGroup.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
 **********************************************/-->
<ul class="ul-price-specl-group">
    <li class="li-spec-group">Speciality Group</li>
</ul>