<!--/*****************************************
 * File:        gmtThresholdQuestionsPhone.hbs
 * Description: Threshold Questions Screen
 * Version:     1.0
 ****************************************/-->
<div id="div-alert-messagebar" class="gmAlignVertical">
    <div class="alert alert-dismissible hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>

<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen" id="li-pricing-initiate-letters">Business Questions</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-main-threshold-content">
    <!--    <div class="div-threshold-header">Price Request: Threshold Questions</div>-->
    <div class="div-threshold-text-border">
        <div class="div-navigation">
         <div class="div-arrow"><i class="fa fa-2x fa-caret-right"></i></div>
        <div class="div-arrow1 hide"><i class="fa fa-2x fa-caret-left"></i></div>
            </div>
        
       <ul class="businessMain">
        {{#each this}}
          <li class="div-threshold-questions" id="div-threshold-question{{questionnumber}}">
            <ul class="ul-question_align">
                <li class="li-question_align">
                    {{#iffalse questionnumber '7'}}
                    <span class="gmColorRed">*</span> {{/iffalse}}
                    <b class="div-no-style">{{questionnumber}}.</b>
                </li>   
                <li class="li-question_align">{{questiondescription}}</li>
            </ul>

        {{#iftrue questiontype '26240003'}}
        <ul class="div-threshold-answer-block">
            <li class="li-answer-symbol"><b class="li-answer-style">A.</b></li>
            <li id="li-pricing-dropdown" class="li-type"></li>
            <li class="li-threshold-answer" id="li-threshold-answer-no1"><textarea type="text" id="{{questionid}}"  class="pricing-answers">{{questionanswer}}</textarea></li>
        </ul>
        {{/iftrue}} {{#iftrue questiontype '26240001'}}
        <ul class="div-threshold-answer-block">
            <li class="li-answer-symbol"><b class="li-answer-style">A.</b></li>
            <li class="li-threshold-answer" id="li-threshold-answer-no"><textarea type="text" id="{{questionid}}" class="pricing-answers">{{questionanswer}}</textarea></li>
        </ul>
        {{/iftrue}} {{#iftrue questiontype '26240002'}}
        <ul class="div-threshold-answer-comments">
            <li class="li-threshold-answer-comments li-threshold-answer" id="li-threshold-answer-no6"><textarea type="text" id="{{questionid}}" value="" class="pricing-answers">{{questionanswer}}</textarea></li>
        </ul>
        {{/iftrue}} 
           </li>  
           
            
            {{/each}}
           </ul>
        <div class="hide" id="div-threshold-submit">Proceed to Save</div>
    </div>
</div>