<div id="div-logo">
    <img id="img-logo" src="globusMobileApp/image/icon/ios/logo.png" alt=""/>
</div>

<div id="div-login-content">
    <div id="div-login">
        <ul>
            <li>
                <input id="txt-userid" name="userid" type="text" placeholder="{{label.placeholder.username}}" autocorrect="off" value="">
            </li>
            <li class="login-line"></li>
            <li>
                <input id="txt-password" name="password" type="password" placeholder="{{label.placeholder.password}}" value="">
            </li>
            <li class="login-line"></li>
<!--
            <li id="li-login">
                <a id="btn-login" >
                    Login
                </a>
            </li>
-->
            <li id="li-login-button">
                <div id="div-login-background"></div>
                <div id="btn-login">Login</div>
            </li>
            <li>
                <span id="spn-userid"></span>
                <span id="spn-password"></span>
            </li>
        </ul>
    </div>
</div> 

<div id="div-env">Environment: <span id="span-envvalue"></span> <span id="spn-version"></span></div>
