<div id="div-dash-overview-main">

	<div id="div-dash-loaners" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-loaners"><div>{{lblNm "loaners"}}</div> <i class="fa fa-caret-right fa-lg fa-arrow"></i><i class="fa fa-arrows-v"></i><i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 		
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-loaner-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>	
	</div>
	<div id="div-dash-orders" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-orders"><div>{{lblNm "orders"}}</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i><i class="fa fa-arrows-v"></i><i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-order-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
	<div id="div-dash-returns" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-returns"><div>{{lblNm "returns"}}</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-return-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
	<div id="div-dash-case" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-case"><div>Cases Scheduled</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-case-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
	<div id="div-dash-consigned-sets" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-consignset"><div>{{lblNm "consigment_sets"}}</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-arrows-v"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-consigned-sets-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
	<div id="div-dash-consigned-items" class="div-dash-widget">
		<div class="div-dash-widget-header" id="widget-consignitem">
            <div id="widget-consignitem-label">{{lblNm "consigment_items"}}</div>  
           <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-count">{{lblNm "count"}}</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-consigned-items-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
	<div id="div-dash-quota" class="div-dash-widget div-dash-widget-quota-ipad">
		<div class="div-dash-widget-header" id="widget-quota"><div>{{lblNm "quota_growth"}}</div> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-mtd">{{lblNm "mtd"}} <span id="span-quota-ov-mtd-cursym">({{lblNm "country_currency"}})</span></div>
			<div class="div-dash-widget-details-ytd">{{lblNm "ytd"}} <span id="span-quota-ov-ytd-cursym">({{lblNm "country_currency"}})</span></div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-quota-overview"></div>
		<div class="div-dash-page-loader"></div>
	</div>
	<div id="div-dash-quota-mtd" class="div-dash-widget div-dash-widget-quota-mobile">
		<div class="div-dash-widget-header" id="widget-quota"><div>Quota / Growth to - MTD</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-mtd">{{lblNm "mtd"}} ({{lblNm "country_currency"}})</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-quota-mtd-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
		
	</div>
	<div id="div-dash-quota-ytd" class="div-dash-widget div-dash-widget-quota-mobile">
		<div class="div-dash-widget-header" id="widget-quota"><div>Quota / Growth to - YTD</div>  <i class="fa fa-caret-right fa-lg fa-arrow"></i> <i class="fa fa-refresh fa-lg"></i></div>
		<div class="div-dash-type-header">
			<div class="div-dash-widget-details-status">{{lblNm "status"}}</div> 
			<div class="div-dash-widget-details-ytd">{{lblNm "ytd"}} ({{lblNm "country_currency"}})</div>
		</div>
		<div class="div-dash-widget-details" id="div-dash-quota-ytd-overview"></div>
		<div class="div-dash-page-loader"></div>
		<div class="div-widget-refresh">Refresh</div>
	</div>
</div>
