<div id="div-dash-view">
<!--
    <div id="div-detail-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span>{{lblNm "menu"}}</span></a>
	</div>
	removed sop link
-->
	<div id="div-dash-breadcrumb">{{lblNm "dashboard"}}</div>
	<div id="div-dash-title-main">
		<div id="div-dash-title"></div>
		<div id="div-dash-subtitle"></div>
	</div>
	
	<div id="btn-extend-req" name="">
		{{lblNm "extend"}}
		<div id="div-extend-count">0</div>
	</div>
    <div id="btn-generate-pricerequest" name="">
		{{lblNm "generate_pr"}}
		<div id="div-pricerequest-count">0</div>
	</div>
	<div id="btn-req-submit">{{lblNm "submit"}}</div>
	<div id="btn-req-cancel">{{lblNm "cancel"}}</div>


	<a id="div-dash-filter" href="#dashboard/morefilter">{{lblNm "more_filters"}}</a>
	<!-- <a id="btn-dash-filter" href="#dashboard/morefilter">
		<div class="div-dash-label">More Filters</div>
		<i class="fa fa-filter fa-lg font-white font-down"></i>
	</a> -->
	<div id="div-dash-main-content" class="div-detail "></div>
	
	
	<div id="div-detail-navigation" class="div-dash-detail-navigation">
			<a id="btn-case-overview" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected " href="#dashboard"><i class="fa fa-eye fa-lg"></i> <span>{{lblNm "over_view"}}</span></a>
			<a id="btn-case-todaydetails" class="btn-detail btn-bg-grey btn-detail-navigation " href="#dashboard/saletoday"> <i class="fa fa-calendar-o fa-lg"></i> <span>{{lblNm "todays_sales"}} </span></a>
			<a id="btn-case-mtd" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#dashboard/salemtd"> <i class="fa fa-calendar fa-lg"></i><span>{{lblNm "month_to_date"}}</span></a>
            <a id="btn-case-postatus" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#dashboard/postatus"> <i class="fa fa-tachometer fa-lg"></i><span>{{lblNm "postatus"}}</span></a>
            <a id="btn-case-sop" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#dashboard/sop"> <i class="fa fa-tachometer fa-lg"></i><span>{{lblNm "sop"}}</span></a>
			<a href="#dashboard/morefilter" id="btn-dash-filter-iphone" class="btn-detail btn-bg-grey  btn-detail-navigation"> <i class="fa fa-filter fa-lg font-down"></i><span> {{lblNm "more_filters"}}</span></a>
            <a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation btn-sd-links-nav"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
	</div>
	
	<div class="btn-app-link">  
            <a class="in-app btn-lnk-scorecard" href="#scorecard"><span class="span-link-text">{{lblNm "scorecard"}}</span></a>
			<a class="in-app btn-lnk-case-scheduler" href="#case"><span class="span-link-text">{{lblNm "case_scheduler"}}</span></a>
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">Event Evaluation Form</span></a>
	</div>		
				
</div>
<div id="div-dash-nointernet-connection" class="div-dash-nointernet"></div>
<div id="div-request"></div>