<div id="div-dash-drilldown-main">
	<div id="div-dash-drilldown-options">
		<div id="div-dash-drilldown-search-ipad" class="div-dash-drilldown-search">
			<input class="txt-dash-drilldown-search" placeholder={{lblNm "msg_search_c"}} />
			<ul id="ul-dash-drilldown-search-info" class="dash-hide">
				<li>{{lblNm "total_count"}} - </li>
				<li id="li-dash-drilldown-search-count"></li>
				<li>{{lblNm "retrieved"}} - </li>
				<li id="li-dash-drilldown-search-retrieved"></li>
			</ul>
		</div>
		<div id="div-dash-drilldown-sortby-content">
			<div id="div-dash-drilldown-sortby-header">{{lblNm "sort_by"}}</div><div id="div-dash-drilldown-sortby"></div>
		</div>
	</div>
	<div id="div-dash-drilldown-content-main">
		<div id="div-dash-drilldown-search-phone" class="div-dash-drilldown-search">
			<input class="txt-dash-drilldown-search" placeholder={{lblNm "msg_search_c"}} />
            <div id="li-dash-drilldown-search-count-phone" class="dash-hide">{{lblNm "results"}} <span></span> </div>
		</div>
		<div id="div-dash-drilldown-content" class="div-returns">
			<div id="div-saleitemlist"></div>
		</div>
	</div>
</div>
<div class="div-dash-page-loader"></div>