<div id="div-dash-morefilter-main">
	<div id="div-dash-morefilter-header">
		<div id="div-dash-morefilter-company" class="div-dash-morefilter-header"> 
			<div id="div-dash-morefilter-companycontent">{{lblNm "company"}}</div>
			<div id="drp-dashboard-morefilter-company" class="div-dash-morefilter-header" >
			</div>
		</div>
		<div id="div-dash-morefilter-header-btns" class="div-dash-morefilter-header">
			<div id="btn-dashboard-morefilter-reset" class="btn-bg-blue btn-navigation-80 ">{{lblNm "reset"}}</div>
			<div id="btn-dashboard-morefilter-save" class="btn-bg-blue btn-navigation-80 ">{{lblNm "save"}}</div>
		</div>
	</div>

	<div id="div-dash-morefilter-content">
		<div data-widget="division" class="div-dash-morefilter-content div-dash-morefilter-division">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-division-header">{{lblNm "division"}}
				<div class="div-dash-morefilter-search">
					<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
					<div class="div-dash-morefilter-search-x">
						x
					</div>
				</div>
			 </div>
			<div  class="div-dash-filter-content div-dash-morefilter-division-content"></div>
		</div>
		<div data-widget="zone" class="div-dash-morefilter-content div-dash-morefilter-zone">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-zone-header">{{lblNm "zone"}}
				<div class="div-dash-morefilter-search">
					<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
					<div class="div-dash-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div  class="div-dash-filter-content div-dash-morefilter-zone-content"></div>
		</div>
		<div data-widget="region" class="div-dash-morefilter-content div-dash-morefilter-region">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-region-header">{{lblNm "region"}}
				<div class="div-dash-morefilter-search">
					<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
					<div class="div-dash-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div  class="div-dash-filter-content div-dash-morefilter-region-content"></div>
		</div>
		<div data-widget="fieldsales" class="div-dash-morefilter-content div-dash-morefilter-fieldsales">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-fieldsales-header">{{lblNm "field_sales"}}
				<div class="div-dash-morefilter-search">
					<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
					<div class="div-dash-morefilter-search-x">
						x
					</div>
				</div>
				
			 </div>
			<div class="div-dash-filter-content div-dash-morefilter-fieldsales-content"></div>
		</div>
	</div>
	
	
	
	<div id="div-dash-morefilter-content-phone">
		<div data-widget="division" class="div-dash-morefilter-content div-dash-morefilter-division">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-division-header">
				<div>{{lblNm "division"}}</div> <i class="fa fa-caret-right fa-lg fa-phone-arrow"></i>
			 </div>
			<div  class="div-dash-filter-content div-dash-morefilter-division-content"></div>
		</div>
		<div data-widget="zone" class="div-dash-morefilter-content div-dash-morefilter-zone">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-zone-header">
				<div>{{lblNm "zone"}}</div> <i class="fa fa-caret-right fa-lg fa-phone-arrow"></i>	
			 </div>
			<div class="div-dash-morefilter-search">
				<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
				<div class="div-dash-morefilter-search-x">
					x
				</div>
			</div>
			<div  class="div-dash-filter-content div-dash-morefilter-zone-content"></div>
		</div>
		<div data-widget="region" class="div-dash-morefilter-content div-dash-morefilter-region">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-region-header">
				<div>{{lblNm "region"}}</div> <i class="fa fa-caret-right fa-lg fa-phone-arrow"></i>
			 </div>
			<div class="div-dash-morefilter-search">
				<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
				<div class="div-dash-morefilter-search-x">
					x
				</div>
			</div>
			<div  class="div-dash-filter-content div-dash-morefilter-region-content"></div>
		</div>
		<div data-widget="fieldsales" class="div-dash-morefilter-content div-dash-morefilter-fieldsales">
			<div class="div-dash-morefilter-content-header div-dash-morefilter-fieldsales-header">
				<div>{{lblNm "field_sales"}}</div> <i class="fa fa-caret-right fa-lg fa-phone-arrow"></i>
			 </div>
			<div class="div-dash-morefilter-search">
				<input type="text" placeholder={{lblNm "msg_search_c"}} class="txt-dash-morefilter-search" />
				<div class="div-dash-morefilter-search-x">
					x
				</div>
			</div>
			<div class="div-dash-filter-content div-dash-morefilter-fieldsales-content"></div>
		</div>
	</div>

</div>
<div class="div-dash-page-loader"></div>