{{#each this}}
	<div class="div-drilldown">
		{{#if pendingApproval}}
		<div class="btn-req-pa" name="{{reqdtlid}}">
			
		</div>
		{{else}}
			{{#if loanedOn}}
		<div class="btn-req-big dash-hide {{#if loanerReqested}}requested{{/if}}"  name="{{reqdtlid}}">
			<div class="btn-request"><i class="fa {{#if loanerReqested}}fa-check-circle{{else}}fa-circle-o{{/if}} fa-2x"></i></div>
		</div>
			{{/if}}
		{{/if}}
        
        {{#if orderdate}}
            <div class="btn-req-big dash-hide {{#if PricingRequested}}requested{{/if}}"  name="{{orderid}}" accountnm="{{accountname}}">
                <div class="btn-request"><i class="fa {{#if PricingRequested}}fa-check-circle{{else}}fa-circle-o{{/if}} fa-2x"></i></div>
            </div>
        {{/if}}
		<div class="div-drilldown-header">
			<div class="div-drilldown-header-data">
				<ul class="ul-drilldown-details"  orderid="{{orderid}}">
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-header-label">{{label1}}</div>
						<div class="div-dash-drilldown-header-value {{class1}}" data-url="{{url1}}">{{companyDateFormat value1}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-header-label">{{label2}}</div>
						<div class="div-dash-drilldown-header-value {{class2}}" data-url="{{url2}}">{{companyDateFormat value2}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-header-label">{{label3}}</div>
						<div class="div-dash-drilldown-header-value {{class3}}" data-url="{{url3}}">{{companyDateFormat value3}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-dash-drilldown-header-label">{{label4}}</div>
						<div class="div-dash-drilldown-header-value {{class4}}" data-url="{{url4}}">{{companyDateFormat value4}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-dash-drilldown-header-label">{{label5}}</div>
						<div class="div-dash-drilldown-header-value {{class5}}" data-url="{{url5}}">{{companyDateFormat value5}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-ipad">
						<div class="div-dash-drilldown-header-label">{{label6}}</div>
						<div class="div-dash-drilldown-header-value {{class6}}" data-url="{{url6}}">{{companyDateFormat value6}}</div>
					</li>
				</ul>
			</div>
			<div class="div-drilldown-header-arrow">
				<i class="fa fa-caret-right fa-5x drilldown-right-arrow"></i>
			</div>
		</div>
		<div class="div-drilldown-list">
			<ul class="ul-drilldown-list">
					<li class="li-drilldown-detail li-drilldown-detail-phone">
						<div class="div-dash-drilldown-list-label">{{label4}}</div>
						<div class="div-dash-drilldown-list-value {{class4}}" data-url="{{url4}}">{{companyDateFormat value4}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-phone">
						<div class="div-dash-drilldown-list-label">{{label5}}</div>
						<div class="div-dash-drilldown-list-value {{class5}}" data-url="{{url5}}">{{companyDateFormat value5}}</div>
					</li>
					<li class="li-drilldown-detail li-drilldown-detail-phone">
						<div class="div-dash-drilldown-list-label">{{label6}}</div>
						<div class="div-dash-drilldown-list-value {{class6}}" data-url="{{url6}}">{{companyDateFormat value6}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label7}}</div>
						<div class="div-dash-drilldown-list-value {{class7}}" data-url="{{url7}}">{{companyDateFormat value7}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label8}}</div>
						<div class="div-dash-drilldown-list-value {{class8}}" data-url="{{url8}}">{{companyDateFormat value8}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label9}}</div>
						<div class="div-dash-drilldown-list-value {{class9}}" data-url="{{url9}}">{{companyDateFormat value9}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label10}}</div>
						<div class="div-dash-drilldown-list-value {{class10}}" data-url="{{url10}}"> {{formatDate value10}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label11}}</div>
						<div class="div-dash-drilldown-list-value {{class11}}" data-url="{{url11}}"> {{{companyDateFormat value11}}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label12}}</div>
						<div class="div-dash-drilldown-list-value {{class12}}" data-url="{{url12}}"> {{formatDate value12}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label13}}</div>
						<div class="div-dash-drilldown-list-value {{class13}}" data-url="{{url13}}"> {{formatDate value13}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label14}}</div>
						<div class="div-dash-drilldown-list-value {{class14}}" data-url="{{url14}}"> {{companyDateFormat value14}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label15}}</div>
						<div class="div-dash-drilldown-list-value {{class15}}" data-url="{{url15}}"> {{companyDateFormat value15}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label16}}</div>
						<div class="div-dash-drilldown-list-value {{class16}}" data-url="{{url16}}">{{companyDateFormat value16}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label17}}</div>
						<div class="div-dash-drilldown-list-value {{class17}}" data-url="{{url17}}"> {{companyDateFormat value17}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label18}}</div>
						<div class="div-dash-drilldown-list-value {{class18}}" data-url="{{url18}}">{{companyDateFormat value18}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label19}}</div>
						<div class="div-dash-drilldown-list-value {{class19}}" data-url="{{url19}}"> {{companyDateFormat value19}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label20}}</div>
						<div class="div-dash-drilldown-list-value {{class20}}" data-url="{{url20}}"> {{companyDateFormat value20}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label21}}</div>
						<div class="div-dash-drilldown-list-value {{class21}}" data-url="{{url21}}"> {{companyDateFormat value21}}</div>
					</li>
					<li class="li-drilldown-detail">
						<div class="div-dash-drilldown-list-label">{{label22}}</div>
						<div class="div-dash-drilldown-list-value {{class22}}" data-url="{{url22}}"> {{companyDateFormat value22}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label23}}</div>
					    <div class="div-dash-drilldown-list-value {{class23}}" data-url="{{url23}}"> {{formatDate value23}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label24}}</div>
					    <div class="div-dash-drilldown-list-value {{class24}}" data-url="{{url24}}"> {{formatDate value24}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label25}}</div>
					    <div class="div-dash-drilldown-list-value {{class25}}" data-url="{{url25}}"> {{companyDateFormat value25}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label26}}</div>
					    <div class="div-dash-drilldown-list-value {{class26}}" data-url="{{url26}}"> {{companyDateFormat value26}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label27}}</div>
					    <div class="div-dash-drilldown-list-value {{class27}}" data-url="{{url27}}"> {{companyDateFormat value27}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label28}}</div>
					    <div class="div-dash-drilldown-list-value {{class28}}" data-url="{{url28}}"> {{companyDateFormat value28}}</div>
					</li>
					<li class="li-drilldown-detail">
					    <div class="div-dash-drilldown-list-label">{{label29}}</div>
					    <div class="div-dash-drilldown-list-value {{class29}}" data-url="{{url29}}"> {{companyDateFormat value29}}</div>
					</li>

			</ul>
		</div>
	</div>
{{/each}}