<!--/*******************************************
 * File:        GmHeldOrderPriceReqDetails.hbs
 * Description: HeldOrderPriceReqDetails Screen
 * Version:     1.0
 * Author:     	karthik
 ***********************************************/ -->
    <div class="li-held-price-req" id="li-held-price-req-head">
        <li class="li-held-price-req"> 
            <div id="div-PR-id">{{lblNm "pr_id"}}</div>
        </li>
        <li class="li-held-price-req">
            <div id="div-Init-dt">{{lblNm "initiated_date"}}</div>
        </li>
        <li class="li-held-price-req">
            <div id="div-Init-by">{{lblNm "initiated_by"}}</div>
        </li>
         <li class="li-held-price-req">
            <div id="div-reqstatus">{{lblNm "status"}}</div>
        </li>
    </div>
{{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">{{lblNm "no_data_found"}}</div>
{{else}}
<div id="div-PR-detail-content">
  {{#each this}}
    <div class="li-held-price-req" id="li-held-price-req-detail">
        <li>
            <div id="div-heldorder-pr-details" class="gmLink" name="{{requestid}}">{{requestid}}</div>
        </li>
          <li>
            <div id="div-heldorder-initdt-details">{{initiateddate}}</div>
        </li>
          <li>
            <div id="div-heldorder-initby-details">{{initiatedby}}</div>
        </li>
          <li>
            <div id="div-req-status-details">{{status}}</div>
        </li>
    </div>
{{/each}}  
</div>
{{/if}}
