<div id="div-dash-mtddrilldown-main">
	<div id="div-dash-mtddrilldown-tab-header">
		<div id="div-dash-mtddrilldown-tab-table" class="div-dash-mtddrilldown-tab selected-tab"><i class="fa fa-table"></i>Table</div>
		<div id="div-dash-mtddrilldown-tab-chart" class="div-dash-mtddrilldown-tab"><i class="fa fa-pie-chart"></i>Chart</div>
		<div id="div-dash-mtddrilldown-date"></div>
	</div>
	<div id="div-dash-mtddrilldown-tab-content">
		<div id="div-dash-mtddrilldown-chart"></div>
		<div id="div-dash-mtdsales-chart-legend"></div>
		<div id="div-dash-mtddrilldown-data">
			<div id="div-dash-mtddrilldown-table">
				<div class="div-dash-mtddrilldown-header">
					<div class="div-dash-mtddrilldown-name">{{lblNm "field_sales"}}</div> 
					<div class="div-dash-mtddrilldown-account">{{lblNm "account_name"}}</div>
					<div class="div-dash-mtddrilldown-amount">{{lblNm "status"}}<span id="span-dash-mtddrilldown-amount"></span></div>
				</div>
				<div id="div-dash-mtddrilldown-list">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="div-dash-page-loader"></div>
<div class="div-dash-mtd-nodata"></div>