<ul id="ul-dash-mtddrilldown-list-{{ID}}" class="ul-dash-mtddrilldown-list">
	<li id="li-dash-mtddrilldown-list-header-{{ID}}" class="li-dash-mtddrilldown-list-header">
		<div class="div-dash-mtddrilldown-name"> <i class="fa fa-circle fa-lg"  style="color:{{color}}"></i>{{Name}}</div> 
		<div class="div-dash-mtddrilldown-amount">{{displayAmount}}</div>
	</li>
	<li id="li-dash-mtddrilldown-list-content-{{ID}}" class="li-dash-mtddrilldown-list-content"></li>
</ul>
