<ul class='gmMarginBottom10p orderUpdatePopDls'>
    <input type="hidden" name="postatus" class="postatus" value="{{postatus}}"><input type="hidden" name="dostatus" class="dostatus" value="{{dostatus}}">
    <li class="gmMarginBottom10p gmFloatLeft gmWidth50"><span class='po-update-label'>Order ID:</span><span class='po-update-orderid'>{{orderid}}</span></li>
    <li class="gmMarginBottom10p gmFloatLeft gmWidth50"><span class='po-update-label'>Order Amount: </span><span class='po-update-total'>{{salesdbcurrsymbol}}{{formatCurrency total}}</span></li>
    <li class="gmMarginBottom10p gmFloatLeft gmWidth50 po-actnm"><span class='po-update-label'>Account Name: </span><span class='po-update-ordertype'>{{actnm}}</span></li>
    <li class="gmMarginBottom10p gmFloatLeft gmWidth50"><span class='po-update-label'>Order Date: </span><span class='po-update-ordertype'>{{orderdt}}</span></li>
    <li class='gmMarginBottom10p gmFloatLeft gmWidth50 gmClearLeft'><span class='po-update-label'>PO Number: </span><input id='ponumber' class='gmInputText' type='text' message="Please provide valid PO Number" maxlength="50" validate="required" value="{{ponum}}" />
    <span id="existingPoField" class="gmAlignHorizontal gmMarginLeft10p hide"><i class="fa fa-close gmMarginRight15p gmFontRed"></i><i class="fa fa-exclamation-circle gmFontRed"></i></span></li>
    <li class='gmMarginBottom10p gmFloatLeft gmWidth50'><span class='po-update-label'>PO Amount: </span><input id='poamount' class='gmInputText' type='text' onkeypress="return isPriceKey(event)" onchange="limitDecimal(this)" message="Please provide valid PO Amount" min=0 value="{{poamt}}"  /></li>
    <li class='gmMarginBottom5p gmAlignHorizontal gmTextAll gmTextCenter poamntText'><i class="fa fa-exclamation-triangle gmMarginRight10p gmAlignHorizontal" aria-hidden="true"></i><span>If entering PO# only, PO amount entry is not required.</span></li>
    <li class='gmMarginBottom5p gmAlignHorizontal gmTextAll gmTextCenter poamntText'><span>If uploading hardcopy PO, PO amount entry is mandatory.</span></li>
    <li class='gmMarginTop5p gmTextAll gmTextCenter pouploadLabel iPhone'><i class="fa fa-upload gmMarginRight10p gmAlignHorizontal" aria-hidden="true"></i><span>Double tap to browse file</span></li>
</ul>
<div id='po-file-upload'></div>
<li class='gmMarginTop10p gmTextAll gmTextCenter pouploadLabel iPad'><i class="fa fa-upload gmMarginRight10p gmAlignHorizontal" aria-hidden="true"></i><span>Double tap to browse file</span></li>