<div class="po-status-dash-main">
    
    <ul class="po-uninvoiced-list-item gmBorderLightGrey gmPad10p display-flex align-items-center justify-space-bwn gmMarginTop20p">
        <li class="gmFontBlack">
            Total Uninvoiced Orders : {{totalCnt}}
        </li>
        <li class="gmFontBlack">
            Total Uninvoiced Value : {{salesdbcurrsymbol}}{{formatCurrency totalVal}}
        </li>
    </ul>
    
    
    <ul class="pendingOrderItemByStatus gmPaddingTop10p">
        {{#each listGmSalesDashResListVO}}
        <li class="gmFloatLeft">
            <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash" data-passname="{{drilldownurl}}">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">{{type}}</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter">{{count}}</li>
                        <li  class="gmTextCenter">{{salesdbcurrsymbol}}{{formatCurrency amt}}</li>
                    </ul>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<div class="div-dash-page-loader"></div>