<div id="div-req-extn">
	<div id="div-req-header">
		<ul>
			<li id="loaner-extn-reqid">
				{{lblNm "request_id"}}
			</li>
			<li>
				{{lblNm "set_id"}}
			</li>
			<li>
				{{lblNm "etch_id"}}
			</li>
			<li>
				{{lblNm "expected_return_date"}}
			</li>
            <li class="loaner-extn-surgerydate">
				{{lblNm "surgery_date"}}
			</li>
			<li class="loaner-extnddate">
				{{lblNm "days_to_extend"}}
			</li>
			<li>
				{{lblNm "new_expected_return_date"}}
			</li>
			<li>
				{{lblNm "extension_for_whole_request"}}
			</li>
		</ul>
	</div>
	{{#each this}}
	<div id="div-req-data" class="div-req-data par-id-{{txnid}}" txnid="{{txnid}}" reqdtlid="{{reqdtlid}}" consignid="{{consignid}}">

		<ul>
			<li id="li-req-id" class="req-id-{{reqdtlid}}">
				{{txnid}}
			</li>
			<li id="li-set-id">
				{{setid}}
			</li>
			<li id="li-etch-id">
				{{etchid}}
			</li>
			<li id="li-ret-dt">
				{{companyDateFormat expreturndt}}
			</li>
            <li id="surg-date">
				<label class="label-surgery-date" ></label>
				 <input type="text" class="surg-date1" name="{{reqdtlid}}" style="display:none"  />
				<i class="fa fa-calendar"></i>
			</li>        
			<li id="li-days" txnid="{{txnid}}" reqdtlid="{{reqdtlid}}">
				<select id="sel-days" name="{{reqdtlid}}">
					<option value="" name="{{reqdtlid}}">0</option>
					{{#each newextndate}}
					<option value="" name="{{seq}}">{{seq}}</option>
					{{/each}}
				</select>
			</li>
			<li id="li-new-ret-dt" class="retdt-{{reqdtlid}}" newretdt="">
				
			</li>
			<li id="li-whole-req" class="li-req-yes-no-{{parentextncnt}}" wholeReq="N" txnid="{{txnid}}" reqdtlid="{{reqdtlid}}">
				<span id="lbl-req-yes" value="Y" class="li-whole-req">Y</span><span id="lbl-req-no" value="N" class="li-whole-req req-checked">N</span>
			</li>
		</ul>
	</div>
	{{/each}}
</div>
<div id="div-req-comments">
	<div id="div-req-comm-title">
		{{lblNm "comments"}}
	</div>
	<textarea id="txtarea-req-comments" placeholder="{{lblNm "ph_msg_comment"}}"></textarea>
</div>