<ul class="ul-dash-saletoday-chart-legend">
	<li class="li-dash-saletoday-chart-legend-label"> 
		<i class="fa fa-circle fa-lg"  style="color:{{color}}"></i><div class="div-dashboard-saletoday-chart-legend-label">{{Label}}</div></li>
</ul>