<div id="div-dash-saletoday-main">
	<div id="div-dash-saletoday-tab-header">
		<div id="div-dash-saletoday-tab-table" class="div-dash-saletoday-tab selected-tab"><i class="fa fa-table"></i>{{lblNm "table"}}</div>
		<div id="div-dash-saletoday-tab-chart" class="div-dash-saletoday-tab"><i class="fa fa-pie-chart"></i>{{lblNm "chart"}}</div>
	</div>
	<div id="div-saletoday-viewby-content">
		<div id="div-saletoday-viewby-header">{{lblNm "view_by"}}</div><div id="div-dash-saletoday-viewby"></div>
	</div>
	<div id="div-dash-saletoday-tab-content">
		<div id="div-dash-saletoday-chart"></div>
		<div id="div-dash-saletoday-chart-legend"></div>
		<div id="div-dash-saletoday-data">
			<div id="div-dash-saletoday-table">
				<div class="div-dash-saletoday-header">
						<div class="div-dash-saletoday-name">{{lblNm "name"}}</div> 
						<div class="div-dash-saletoday-amount">{{lblNm "amount"}}<span id="span-dash-saletoday-amount"></span></div>
						<div class="div-dash-saletoday-percent">%</div>
				</div>
				<div id="div-dash-saletoday-list">
				</div>
			</div>
		</div>
		<div id="div-dash-saletoday-drilldown-main">
			<div id="div-dash-saletoday-drilldown-header">
				<div>{{lblNm "today_sales_detail"}}<span id="div-dash-saletoday-drilldown-header-content"></span></div>
				<div id="div-dash-saletoday-drilldown-close"><div id="div-dash-saletoday-drilldown-close-icon"> <i class="fa fa-times-circle" aria-hidden="true"></i> </div></div>
			</div>
            <div id="div-dash-saletoday-drilldown-list-main">
			<div id="div-dash-saletoday-drilldown-list-header">
				<div class="div-dash-saletoday-drilldown-vp">{{lblNm "vp_name"}}</div> 
				<div class="div-dash-saletoday-drilldown-ad">{{lblNm "ad_name"}}</div>
				<div class="div-dash-saletoday-drilldown-fs">{{lblNm "filed_sales_name"}}</div>
				<div class="div-dash-saletoday-drilldown-rep">{{lblNm "sales_rep"}}</div>
				<div class="div-dash-saletoday-drilldown-account">{{lblNm "account"}}</div>
				<div class="div-dash-saletoday-drilldown-amount">{{lblNm "amount"}}<span id="span-dash-saletoday-drilldown-amount"> ($)</span></div>
			</div>
			<div id="div-dash-saletoday-drilldown-list-content">
				<div id="div-dash-saletoday-drilldown-list-content-loader" class="div-dash-widget-loader">
					<img class="img-loader" src="globusMobileApp/image/icon/ios/spinner.gif"/> <span class="span-dash-drilldown-loader">{{lblNm "fetching_data"}}...</span>
				</div>
				<div id="div-dash-saletoday-drilldown-list"></div>
			</div>
                </div>
			<div id="div-dash-saletoday-drilldown-footer">
				<div>{{lblNm "grand_total"}}</div><div id="div-dash-saletoday-drilldown-footer-value"></div>
			</div>
		</div>
	</div>
</div>
<div class="div-dash-page-loader"></div>