<div id="{{accountid}}" class="div-dash-saletoday-drilldown-list-item">
	<div class="div-dash-saletoday-drilldown-vp">{{vpnm}}</div> 
	<div class="div-dash-saletoday-drilldown-ad">{{adnm}}</div>
	<div class="div-dash-saletoday-drilldown-fs">{{fieldsalesnm}}</div>
	<div class="div-dash-saletoday-drilldown-rep">{{repnm}}</div>
	<div class="div-dash-saletoday-drilldown-account">{{accountnm}}</div>
	<div class="div-dash-saletoday-drilldown-amount">{{displayAmount}}</div>
</div>