<div id="div-dash-salemtd-main">
	<div id="div-dash-mtdsales-tab-header">
		<div id="div-dash-mtdsales-tab-table" class="div-dash-mtdsales-tab selected-tab"><i class="fa fa-table"></i>{{lblNm "table"}}</div>
		<div id="div-dash-mtdsales-tab-chart" class="div-dash-mtdsales-tab"><i class="fa fa-bar-chart"></i>{{lblNm "chart"}}</div>
	</div>
	<div id="div-dash-mtdsales-tab-content">
		<div id="div-dash-mtdsales-chart"></div>
		<div id="div-dash-mtdsales-data">
			<div id="div-dash-mtdsales-table">
				<div class="div-dash-mtdsales-header">
					<div class="div-dash-mtdsales-date">{{lblNm "date"}}</div> 
					<div class="div-dash-mtdsales-day">{{lblNm "day"}}</div>
					<div class="div-dash-mtdsales-amount">{{lblNm "Amount"}} <span id="span-dash-mtdsales-amount">($)</span></div>
				</div>
				<div id="div-dash-mtdsales-list">
					<div id="div-saleitemlist"></div>
					<div class="div-dash-mtdsales-footer">
						<div class="div-dash-mtdsales-footer-label">{{lblNm "grand_total"}}</div>
						<div class="div-dash-mtdsales-footer-value"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div id="div-dash-mtdsales-chart-trent-legend" class="hide">
        <div> <i class="fa fa-square gmTxtLYellow gmLineH" aria-hidden="true"></i> <label id="mtdsales-chart-startval-txt"></label> </div>
        <div> <i class="fa fa-square gmTxtDYellow" aria-hidden="true"></i> <label id="mtdsales-chart-endtval-txt"></label> </div>
    </div>
	<div class="div-dash-mtdsales-ads-footer">
		<div class="div-dash-mtdsales-ads-footer-label">{{lblNm "average_daily_sales"}}</div>
		<div class="div-dash-mtdsales-ads-footer-value"></div>
	</div>
</div>
<div class="div-dash-page-loader"></div>