<ul id="ul-dash-salemtd" class="ul-dash-salemtd">
	<!-- The below two li tags are using for name date format, first one to send the date webservice and 
               second one to show the date in user local date format
             -->
	<li class="li-dash-mtdsales-date" style="display:none !important">{{name}}</li>
	<li class="li-dash-mtdsales-date-format">{{companyDateFormat name}}</li>
	<li class="li-dash-mtdsales-day">{{id}}</li>
	<li class="li-dash-mtdsales-amount">{{displayValue}}</li>
</ul>