<ul class="ul-overview-widget-details">
<li class="li-overview-widget-details-type">{{type}}</li>
<li class="li-overview-widget-details-mtd li-overview-widget-details-amount">{{mtd}}</li>
<li class="li-overview-widget-details-ytd li-overview-widget-details-amount">{{ytd}}</li>
</ul>