<section id="{{id}}" class="ul-dash-saletoday">
	<div id="li-dash-saletoday-name" class="li-dash-saletoday-name"> <i class="fa fa-circle fa-lg"  style="color:{{color}}"></i><div class="div-dashboard-saletoday-name">{{name}}</div></div>
	<div id="li-dash-saletoday-amount" class="li-dash-saletoday-amount">{{displayvalue}}</div>
	<div id="li-dash-saletoday-percent" class="li-dash-saletoday-percent">{{percentage}}</div>
</section>
<!--
<div class="div-dash-widget-saletoday">
	<div class= "div-dash-saletoday-top">{{name}}</div>
	<div class= "div-dash-saletoday-bottom div-dash-saletoday-bottom-amount">{{displayvalue}}</div>
	<div class= "div-dash-saletoday-bottom div-dash-saletoday-bottom-percentage">{{percentage}}</div>
</div>
-->
