<div class="sop-dash-main">
    
    <ul class="po-uninvoiced-list-item sop-uninvoiced-list-item gmPad10p display-flex align-items-center justify-space-bwn gmMarginTop20p">
        <li class="gmFontBlack">
            SET OUT OF POLICY : <span id="header"></span>
        </li>
        <li class="gmFontBlack toggle-li">
            <ul id="toggle">
                    <li  id="count-li" class="active">Count</li>
                    <li  id="charge-li">Charges</li>
             </ul>
        </li>
    </ul>
    <div id="div-col-sop-count-view">
        <ul class="pendingOrderItemByStatus gmPaddingTop10p">
             <li class="gmFloatLeft">

     <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">OVERDUE</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter wid100 font-li"><span id="Overdue" class="countdetail"></span></li>
                    </ul>
                </div>
            </div>
            </li>
            <li class="gmFloatLeft">

     <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">TODAY</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter wid100 font-li"><span id="Today" class="countdetail"></span></li>
                    </ul>
                </div>
            </div>
            </li>
            <li class="gmFloatLeft">

     <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">TOMORROW</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter wid100 font-li"><span id="Tomorrow" class="countdetail"></span></li>
                    </ul>
                </div>
            </div>
            </li>
            <li class="gmFloatLeft">

     <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash" data-passname="{{drilldownurl}}">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">UPCOMING</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="sop-dash-item-center">
                        <div id="count-chart-container"></div>
                    </ul>
                </div>
            </div>
            </li>
        </ul>

    </div>
    
<div id="div-col-sop-charge-view">

    <div id="finalchargediv"> 
             <div class="final-result">
                 <span style="float: left;padding-left: 10px;">Total Overdue Returns:</span>
                 <span id="finalcount"></span>
             </div>
            <div class="final-result-charge">
                <span id="finalchargeheader">Total Charge Amount:</span>
                <span id="finalcharge"></span>
             </div>   
         </div>
    
    <ul class="pendingOrderItemByStatus gmPaddingTop10p">
             <li class="gmFloatLeft">
                  <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">Total Charges</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter font-li"><span id="totalcount" class="chargedetailspan"></span></li>
                        <li  class="gmTextCenter font-li"><span id="totalcharge" class="chargedetailspan"></span></li>
                    </ul>
                </div>
            </div>
             </li>
         <li class="gmFloatLeft">
                  <div class="gmBorderLightGrey gmBorderRadius5p po-item-dash">
                <div class="gmTextCenter po-item-dash-head">
                    <span class="gmFontWhite gmFontBold">On Hold</span>
                </div>
                <div class="po-item-dash-body">
                    <ul class="display-flex align-items-center justify-space-bwn">
                        <li  class="gmTextCenter font-li"><span id="holdcount" class="chargedetailspan"></span></li>
                        <li  class="gmTextCenter font-li"><span id="holdcharge" class="chargedetailspan"></span></li>
                    </ul>
                </div>
            </div>
             </li>
    </ul>

</div>


</div>
<div class="div-dash-page-loader"></div>