<?xml version="1.0" encoding="iso-8859-1" ?>
#set($strDateFormat=$hmApplnParam.DATEFORMAT)
<rows>
	<head>
		<column type="ro" width="150" sort="na"  align="left">$msg.getProperty("VM_FROM")</column>
		<column type="ro" width="150" sort="na" align="left">$msg.getProperty("VM_FROM")</column>
		<column type="ro" width="150" sort="str" align="left">
			$msg.getProperty("VM_REF_ID")
		</column>
		<column type="ro" width="120" sort="str" align="center">$msg.getProperty("VM_TYPE")</column>
		<column type="ro" width="105" sort="str" align="left">
			$msg.getProperty("VM_SET_ID")
		</column>		
		<column type="ro" width="*" sort="str" align="left">
			$msg.getProperty("VM_SET_NAME")			
		</column>	
		<column type="ro" width="*" sort="str" align="center">
			$msg.getProperty("VM_SHIP_DATE")
		</column>
	</head>
		#foreach($hmDetails in $alGridData)
	<row> 
        <cell>$esc.xml($hmDetails.SCID)</cell>
		<cell>$esc.xml($hmDetails.SCID)</cell>
		<cell><![CDATA[<a href="#" onClick=fnPackSlip("$hmDetails.CID")><img alt="Pack Slip" src="/images/packslip.gif" border="0"></a>&nbsp;&nbsp;
		<a href="#" onClick=fnOpenOrdLogcsg("$hmDetails.CID")><img alt="Click to add comments" src="/images/detail_icon.gif" border="0"></a>
		#if($hmDetails.CONSFL.equals("Y"))
			<a class=RightTextRed href= javascript:fnCallEditItems(\'$hmDetails.CID\',\'$hmDetails.CTYPE\',\'$hmDetails.CON_TYPE\');>$hmDetails.CID</a>
		#end
				]]>
		</cell>	
		<cell>$esc.xml($hmDetails.STYPE)</cell>
		<cell>$esc.xml($hmDetails.SETID)</cell>
		<cell>$esc.xml($hmDetails.SNAME)</cell>
		
		#if($hmDetails.CDATE == $null))
		<cell></cell>
		#else
		<cell>$date.format($strDateFormat,$hmDetails.CDATE)</cell>
		#end
	</row>
	#end
</rows>