<!DOCTYPE html>
<html ng-app="caseManagement">
    <head>
        <!--------------------------------------------- CDN Imports ------------------------------------------------>
        <!-- Firebase Imports -->
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-firestore.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.7/firebase-storage.js"></script>
        <!-- Angular JS imports -->
        <script src="js/angular-1.8.2.min.js"></script>
        <script src="js/angular-route.min.js"></script>

  <!--DHTMLX imports-->
  <link href="../lib/dhtmlx/suite/7.0/suite.css" rel="stylesheet" />
  <script type="text/javascript" src="../lib/dhtmlx/suite/7.0/suite.js"></script>


  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/GmCsmIcons.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/GmCsmStyle.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

  <!-- Calendar Imports-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-cordova/0.1.27-alpha/ng-cordova.min.js"
    integrity="sha512-6YS5TvR3pxy6vV8VahWGE/Nzsf3Ygczi3iy7Dkbf5uBuvCAPGSaVszxNIDSdCbbedpWBvbm71nPVynnGSSlMXQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="lib/evendar.min.css" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="css/GmEvendarMobile.css" media="screen,projection" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/jquery-2.1.4.min.js" type="text/javascript"><\/script>')</script>
  <script src="https://rettica.com/evendar/build/js/moment.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="js/jquery-3.6.0.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="lib/scripts.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <!-- Controller imports -->
  <script src="app/GmApp.js"></script>
  <script src="app/GmCSMConstant.js"></script>
  <script src="controller/GmDashboardController.js"></script>
  <script src="controller/GmCaseSetupController.js"></script>
  <script src="controller/GmCalendarViewController.js"></script>
  <script src="controller/GmIndexController.js"></script>
  <script src="controller/GmAdvanceSearchReportController.js"></script>
  <script src="controller/GmAdvancedSearchController.js"></script>
  <script src="controller/GmQuickSearchController.js"></script>
  <script src="controller/GmShareCaseController.js"></script>
  <!-- Service imports -->
  <script src="dao/GmCaseDao.js"></script>
  <script src="dao/GmSalesRepDao.js"></script>
  <script src="dao/GmAccountDao.js"></script>
  <script src="dao/GmSurgeonDao.js"></script>
  <script src="dao/GmCodeLookupDao.js"></script>
  <script src="dao/GmSqliteDao.js"></script>
  <script src="dao/GmSalesHierarchyDao.js"></script>
  <!-- Model Imports -->
  <script src="model/GmCaseModel.js"></script>
  <script src="model/GmSalesRepModel.js"></script>
  <script src="model/GmAccountModel.js"></script>
  <script src="model/GmCodeLookupModel.js"></script>
  <script src="model/GmSurgeonModel.js"></script>
  <script src="model/GmMdlFileCase.js"></script>
  <script src="model/GmFileCaseModel.js"></script>
  <!-- DB Imports -->
  <script src="db/GmFirebaseConfig.js"></script>
  <script src="db/GmSqliteConfig.js"></script>
</head>

<body>
  <main>
    <div class="reports-container" ng-view></div>
  </main>
  <footer class="csm-footer csmBackground csmBackground-image" ng-controller="gmIndexController">
    <ul>
      <li ng-click="openCreateCase()">
        <i class="material-icons small">add</i>
        <span>New</span>
      </li>
      <li ng-click="openReportCase()">
        <i class="material-icons small">format_list_bulleted</i>
        <span>summary</span>
      </li>
      <li ng-click="openDashboard()">
        <i class="material-icons small">dashboard</i>
        <span>Dashboard</span>
      </li>
      <li ng-click="openSearchCase()">
        <i class="material-icons small">search</i>
        <span>search</span>
      </li>
      <li ng-click="openCalendar()">
        <i class="material-icons small">event</i>
        <span>calendar</span>
      </li>
    </ul>
  </footer>
</body>

</html>

