<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
#set($strOpt=$hmParam.STROPT)
#set($strAccessFl=$hmParam.ACCESSFL)
<head>
    #if($strOpt != "Summary")
	<column type="ro" width="30"  align="left"> </column>
	#end
	<column type="ro" width="30"  align="left"> </column>
	<column type="ro" width="400" align="left" sort="str">$msg.getProperty('VM_FILENAME')</column>		
	<column type="ro" width="180" align="left" sort="date">$msg.getProperty('VM_DATE')</column>	
	<column type="ro" width="*"   align="left" sort="str">$msg.getProperty('VM_UPLOADEDBY')</column>
	
</head>
#foreach($hmDetails in $alGridData)
<row id="$hmDetails.ID"> 
		#if($strOpt != "Summary")
		#if($strAccessFl =="Y")
			<cell><![CDATA[<a href="#" onClick=fnDelete("$hmDetails.ID")> <img  width="15" height="15" alt="Click here to delete the record"src="/images/delete.gif"/ border="0"></a>]]></cell>
		#else
			<cell><![CDATA[<img  width="15" height="15" alt="Click here to delete the record"  src="/images/delete.gif"/ border="0">]]></cell>
		#end	
		#end
		#if($hmDetails.EXTENTION == "pdf")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="15" height="15" alt="Click here to download Pdf"  src="/images/pdf_icon.gif"/ border="0"></a>]]></cell>
		#elseif($hmDetails.EXTENTION == "doc" || $hmDetails.EXTENTION == "docx" || $hmDetails.EXTENTION == "rtf")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="15" height="15" alt="Click here to download Doc"  src="/images/word_icon.jpg"/ border="0"></a>]]></cell>
		#elseif($hmDetails.EXTENTION == "ppt" || $hmDetails.EXTENTION == "pptx")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="18" height="18" alt="Click here to download Ppt"  src="/images/presentation.gif"/ border="0"></a>]]></cell>
		#elseif($hmDetails.EXTENTION == "txt")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="15" height="15" alt="Click here to download Txt"  src="/images/detail_icon.gif"/ border="0"></a>]]></cell>
		#elseif($hmDetails.EXTENTION == "xls" || $hmDetails.EXTENTION == "xlsx")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="15" height="15" alt="Click here to download Xls"  src="/images/excel_icon.gif"/ border="0"></a>]]></cell>
		#elseif($hmDetails.EXTENTION == "jpg" || $hmDetails.EXTENTION == "gif" || $hmDetails.EXTENTION == "png" || $hmDetails.EXTENTION == "jpeg")
			<cell><![CDATA[<a href="#" onClick=fnDownloadFile("$hmDetails.ID","$hmDetails.SETID")> <img  width="15" height="15" alt="Click here to download Img"  src="/images/jpg_icon.jpg"/ border="0"></a>]]></cell>
		#end
		<cell>$esc.xml($hmDetails.NAME)</cell> 
		<cell>$esc.xml($hmDetails.CDATETIME)</cell>
		<cell>$esc.xml($hmDetails.UNAME)</cell>
</row>					
#end
</rows>

