<?xml version="1.0" encoding="iso-8859-1" ?>
#set($alResult = $hmParam.ALRESULT)
#set($strAccessFl = $hmParam.strAccessFl)
<rows>
	<head>
		#if($strAccessFl == "true")
		<column type="ro" width="30" sort="na" align="left">	
		</column>
		#end
		<column type="ro" width="30" sort="na" align="left">
		</column>
		<column type="ro" width="100" sort="str" align="left">
$msg.getProperty('VM_COMRSRID')
		</column>
		<column type="ro" width="100" sort="str" align="left">
$msg.getProperty('VM_RA')
		</column>
		<column type="ro" width="100" sort="str" align="left">
$msg.getProperty('VM_PART')
		</column>
		<column type="ro" width="160" sort="str" align="left">
$msg.getProperty('VM_PARTDESCRIPTION')
		</column>
		<column type="ro" width="120" sort="str" align="left">
$msg.getProperty('VM_LOT')
		</column>		
		<column type="ro" width="130" sort="str" align="left">
$msg.getProperty('VM_COMPLAINANTNAME')
		</column>
		<column type="ro" width="70" sort="int" align="right">
$msg.getProperty('VM_QUANTITY')
		</column>
		<column type="ro" width="100" sort="str" align="left">
$msg.getProperty('VM_STATUS')
		</column>
		<column type="ro" width="100" sort="date" align="center">
$msg.getProperty('VM_COMPLAINTRECEIVEDDATE')
		</column>
		<column type="ro" width="55" sort="int" align="right">
$msg.getProperty('VM_AGINGOFDAYS')
		</column>

	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)	
	<row id="$hmDetails.COMRSRID">
		#if($strAccessFl == "true")
		<cell align="left">
			<![CDATA[
			<input type="radio" name="rad" value="$hmDetails.COMRSRID" onClick="javascript:fnSetCOMRSRId(value,$hmDetails.STATUSID,$hmDetails.ISSUETYP);">
			]]>
		</cell>	
		#end
		<cell align="left">
			<![CDATA[
			#if($hmDetails.COMP_LOG_FL == $null || $hmDetails.COMP_LOG_FL.toString().equals("N") )
				<a href="#" title="Click to add Comments" onclick=javascript:fnOpenOrdLog("$hmDetails.COMRSRID","$hmDetails.ISSUETYP")><img alt="Click to add comments" src="/images/phone_icon.jpg" width="20" height="17" border="0"></a>
			#else
				<a href="#" title="Click to add Comments" onclick=javascript:fnOpenOrdLog("$hmDetails.COMRSRID","$hmDetails.ISSUETYP")><img alt="Click to add comments" src="/images/phone-icon_ans.gif" width="20" height="17" border="0"></a>
			#end
			]]>		
		</cell>	
		<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenSummaryScreen("$hmDetails.COMRSRID");><span>$esc.xml($hmDetails.COMRSRID)</span></a>]]></cell>	
		<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenRADetails("$hmDetails.RAID");><span>$esc.xml($hmDetails.RAID)</span></a>]]></cell>
		<cell>$esc.xml($hmDetails.PARTNUM)</cell>
		<cell>$esc.xml($hmDetails.PARTDESC)</cell>
		<cell>$esc.xml($hmDetails.LOTNUM)</cell>
		<cell>$esc.xml($hmDetails.COMPNM)</cell>				
		<cell>$esc.xml($hmDetails.QUANTITY)</cell>
		<cell>$esc.xml($hmDetails.STATUS)</cell>
		#if ($esc.xml($hmDetails.RECEIVEDDT) == $null)
			<cell></cell>
		#else
			<cell>$esc.xml($hmDetails.RECEIVEDDT)</cell>
		#end
		<cell>$esc.xml($hmDetails.DAYTOCLOSE)</cell>
	</row>
	#set($count = $count+1)
	#end
</rows>
