<div id="div-do-edit-ship-addrfl" data-id="{{AddressID}}">
    <ul id="ul-do-edit-ship-addrfl-header">
        <li id="li-do-edit-ship-addrfl-header"><span id="span-do-edit-ship-addrfl-header-title">{{lblNm "edit_shipping_address_properties"}}</span><span id="span-do-edit-ship-addrfl-header-x">X</span></li>
    </ul>
    <ul id="ul-do-edit-ship-addrfl-content">
        <li id="li-do-edit-ship-addrfl-addrnm">
            <div class="gmVerticalTop">{{lblNm "address_name"}} : </div>
            <div id="div-shipaddr-nm" class="divRight">{{{Name}}}</div>
        </li>
        <li id="li-do-edit-ship-addrfl-addr">
            <div class="gmVerticalTop">{{lblNm "address"}} : </div>
            <div class="divRight">{{#if Add1}}{{{Add1}}} <br/>{{/if}} {{#if Add2}}{{{Add2}}} <br/>{{/if}} {{{City}}}, {{{State}}} {{Zip}}</div>
        </li>
        <li id="li-do-edit-ship-addrfl-pmyfl">
            <div class="gmVerticalTop">{{lblNm "primary_flag"}} : </div>
            <div class="divRight"><input type="checkbox" name="primaryFL" id="primaryFL" {{#iftrue PrimaryFL 'Y'}}checked {{/iftrue}} class="gmMarginLeft10p gmVerticalMiddle"></div>
        </li>
        <li id="li-do-edit-ship-addrfl-inafl">
            <div class="gmVerticalTop">{{lblNm "inactive_flag"}} : </div>
            <div class="divRight"><input type="checkbox" name="inactiveFL" id="inactiveFL" {{#iftrue InactiveFL 'Y'}}checked{{/iftrue}} class="gmMarginLeft10p gmVerticalMiddle"></div>
        </li>
        <li id="li-do-edit-ship-addrfl-buttons">
            <div id="div-do-edit-ship-addrfl-submit"  data-id="{{AddressID}}">{{lblNm "submit"}}</div>
        </li>
    </ul>
</div>