<div id="div-address-{{AddressID}}" class="div-address-row">
	<div class="div-address">
		<ul>
			<li><span class="spn-attn-to">{{{Name}}}</span> <i class="fa fa-pencil-square-o"></i></li>
			<li>{{{Add1}}}</li>
			<li>{{{Add2}}}</li>
			<li>{{{City}}}, {{{State}}} {{Zip}}</li>
			<li style="display:none"></li>
			<li style="display:none">{{{AddressType}}}</li>
		</ul>
	</div>
	<div class="div-address-options">
		<select class="sel-address-carrier"></select>
		<select class="sel-address-mode"></select>
        <i class="fa fa fa-pencil div-address_fl" data-id="{{AddressID}}" id ="div-do-address_fl" style="display:none;"></i>
		<i class="fa fa-info-circle" data-instruction=""></i>
	</div>
	
</div>