<div id="div-image-viewer-container">
	<i id="div-image-viewer-close" class="fa fa-times-circle fa-2x font-black"></i>
	<!-- <div id="scroller" style="position:absolute; top: 5%; height: 90%; left: 5%; text-align:center; width: 90%; overflow:scroll !important; -webkit-overflow-scrolling:touch !important; ">
		<iframe id="ifram" scrolling="no"  src="{{Path}}" style="min-height:1000%;max-height:10000%;min-width:100%;max-width:1000%;" />
	</div> -->
	<div id="scroller" style="position:absolute; top: 5%; height: 90%; left: 5%; width: 90%; overflow:scroll !important; -webkit-overflow-scrolling:touch !important; ">
		<!-- <embed src="{{Path}}" width="100%" height="100%" type="application/pdf"></embed> -->
		<iframe id="ifram" scrolling="no" src="{{Path}}" width="100%" height="100%" />
	</div>

	<!-- <embed width="100%" height="100%" src="{{Path}}" type="application/pdf" style="border:1px solid red; overflow:scroll !important; -webkit-overflow-scrolling:touch !important; "> -->

		<!-- <iframe src="{{Path}}" id="ifrm-doc-viewer" style="position:absolute;width:90%;height:95%;left:5%;top:50%;overflow:auto;border:1px solid green;"></iframe> -->
   
</div>

