<div id="div-do-add-new-address">
	<ul id="ul-do-add-new-address-header">
		<li id="li-do-add-new-address-header"><span id="span-do-add-new-address-header-title">{{lblNm "new_shipping_address"}}</span><span id="span-do-add-new-address-header-x">X</span></li>
	</ul>
	<ul id="ul-do-add-new-address-content">
		<li id="li-do-add-new-address-addrtype"><div>{{lblNm "address_type"}}</div>	
		<div id="div-acct-list"></div>
		<span id="spn-addrtype">* {{lblNm "address_type_is_required"}}</span>
        </li>
        <li id="li-do-add-new-address-name"><div>{{lblNm "name"}}</div><input type="text"/></li>
		<li id="li-do-add-new-address-addr1"><div>{{lblNm "address1"}}<super>*</super></div><input type="text"/></li>
		<li id="li-do-add-new-address-addr2"><div>{{lblNm "address2"}}</div><input type="text"/></li>
		<li id ="li-do-add-new-address-country"><div>{{lblNm "country"}}</div>
		<div id="div-country-list"></div>
		</li> 
		<li id ="li-do-add-new-address-state"><div>{{lblNm "state"}}<super>*</super></div>
		<div id="div-state-list"></div>
		</li> 
		<li id="li-do-add-new-address-city"><div>{{lblNm "city"}}<super>*</super></div><input type="text"/></li>	
		<li id="li-do-add-new-address-zip"><div>{{lblNm "zip"}}<super>*</super></div><input type="text"/></li>
		<li id="li-do-add-new-address-bottons"><div id="div-do-add-new-address-submit">{{lblNm "submit"}}</div><div id="div-do-add-new-address-cancel">{{lblNm "cancel"}}</div></li>
	</ul>
</div>