<div id="div-image-viewer-container">
	<div id="div-img-title"></div>
	<i id="div-image-viewer-close" class="fa fa-times-circle fa-2x font-black"></i>
	<a id="btn-download-viewer" class="btn-detail"><i class="fa fa-download fa-lg"></i></a>
	<i id="arrow-go-previous" class="fa fa-chevron-left fa-5x font-black arrow-image-container"></i>

	<div id="div-image-viewer">
		<div id="div-adjustable">
			{{#each this}}
				 <div class="div-main-image-container">
				 	<div class="div-inner-adjustable">
					 	<img class="img-main-viewer" id="{{id}}" src="{{src}}"/ >
					 </div>
				 </div>
			{{/each}}
		</div>
	</div>

    <i id="arrow-go-next" class="fa fa-chevron-right fa-5x font-black arrow-image-container"></i>
    <div id="div-thumbnails">
    	{{#each this}}
		 	<img class="img-thumbnails {{class}}" value="{{value}}" name="{{Name}}" id="img-thumbnail-{{id}}" src="{{src}}" alt="{{alt}}"/>
		{{/each}}
	</div>
</div>

<div id="div-threesixty-container">
	<div id="div-download-threesixty" >
		{{#each this}}
			<img src="globusMobileApp/image/icon/ios/download.png" class="img-download-threesixty" id="img-download-{{id}}">
			<div class="percent-download-threesixty" id="div-threesixty-download-{{id}}">{{lblNm "downloading"}} <span id="spn-download-percent">0</span>%</div>
			<progress max="100" id="prg-dowload-threesixty-{{id}}" class="percent-download-threesixty"></progress>
			<div id="div-download-fail-{{id}}" class="div-download-fail-360 hide">{{lblNm "the_download_failed"}}</div>
		{{/each}}
	</div>

	<div id="div-threesixty-viewer"  style= "border:1px solid red">
		<div id="div-threesixty-close" class="btn-bg-black">{{lblNm "done"}}</div>
		
		<div id="threesixty">
			<div id="spinner">
			</div>
			<ol id="threesixty_images"></ol>
		</div>
	</div>
</div>