<div id="div-crop-main">
	<img class='image_crop' src="" id="cropbox" />
	<canvas id="preview" style="display:none;overflow:hidden;"></canvas>
	<div id="div-crop-bottom">
		<div id="div-crop-cancel" class="div-btn-crop"> {{lblNm "cancel"}}</div>
		<div id="div-crop" class="div-btn-crop" > <i class="fa fa-crop"></i> {{lblNm "crop"}}</div>
	</div>
</div>