<div id="div-address-{{AddressID}}" data-address-type="{{AddressType}}" class="div-address-row">
	<div class="div-address">
		<ul>
			<li><span class="spn-attn-to">{{{Name}}}</span> <i class="fa fa-pencil-square-o"></i></li>
			<li>{{{Add1}}}</li>
			<li>{{{Add2}}}</li>
			<li>{{{City}}}, {{{State}}} {{Zip}}</li>
		</ul>
	</div>
	<div class="div-address-options">
		<select class="sel-address-carrier">
<!--
			<option value="5001" selected>{{lblNm "fedex"}}</option>
			<option value="5000">{{lblNm "ups"}}</option>
-->
		</select>
		<select class="sel-address-mode">
			<option value="5032">{{lblNm "standard_overnight"}}</option>
			<option value="5004" selected>{{lblNm "priority_overnight"}}</option>
			<!--<option value="5003">{{lblNm "early_am"}}</option>-->
			<option value="5042">{{lblNm "saturday"}}</option>
			<option value="5033">{{lblNm "international"}}</option>
		</select>
        <i class="fa fa fa-pencil div-address_fl" data-id="{{AddressID}}" id ="div-inv-address_fl" style="display:none;"></i>
		<i class="fa fa-info-circle" data-instruction=""></i>
	</div>
	
</div>