<div id="div-keyword-detail">
	<input id="txt-itemlist-search" type="text" placeholder="{{lblNm "search_cont"}}" />
</div>
<div id="div-detail-search-x">
	x
</div>
<div id="div-column">	
</div>
<div id="div-itemlist">
</div>