{{#each this}}
<div id="{{LOCALE_FLAG}}" class="region-locale" >
        <div class="div-img-locale"><img src="globusMobileApp/image/icon/ios/{{LOCALE_FLAG}}.png" alt="" id="div-img-inside-locale" /></div>
        <div class="div-lbl-locale">{{LOCALE_NM}}</div>
</div>
{{/each}}