        <ul id="ul-navigation-right" class="">
            <li>
                <div id="btn-close-menu-bar" class="div-btn-header">
                    <div class="div-img-close"><i class="fa fa-times fa-lg font-white font-down"></i></div>
                </div>
            </li>

            <li>
                <div id="btn-updates" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cloud-download fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{lblNm "update"}}</div>
                    <div id="divUpdatesNo" class="divUpdatesNo hide"> &nbsp;0&nbsp; </div>
                </div>
            </li>

            <li>
                <div id="btn-settings" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cog fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{lblNm "settings"}}</div>

                </div>
            </li>
            <li>
                <div id="btn-logout" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-power-off fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{lblNm "logout"}}</div>

                </div>
            </li>
        </ul>