<div id="div-number-keypad">
<div id="div-number-keypad-title">{{lblNm "price"}}</div>
<div id="div-number-keypad-close"><div>x</div></div>
<div id="div-number-qty-entry-text"></div>
<div id="div-number-keypad-keys-panel">
	<div id="div-number-keypad-keys-row-1" class="div-number-keypad-keys-row">
		<div class="div-number-keypad-keys" id="div-number-one">1</div>
		<div class="div-number-keypad-keys" id="div-number-two">2</div>
		<div class="div-number-keypad-keys" id="div-number-three">3</div>
		<div class="div-number-keypad-keys" id="div-number-four">4</div>
	</div>
	<div id="div-number-keypad-keys-row-2" class="div-number-keypad-keys-row">
		<div class="div-number-keypad-keys" id="div-number-five">5</div>
		<div class="div-number-keypad-keys" id="div-number-six">6</div>
	<div class="div-number-keypad-keys" id="div-number-seven">7</div>
	<div class="div-number-keypad-keys" id="div-number-eight">8</div>
	</div>
	<div id="div-number-keypad-keys-row-3" class="div-number-keypad-keys-row">
		<div class="div-number-keypad-keys" id="div-number-nine">9</div>
		<div class="div-number-keypad-keys" id="div-number-zero">0</div>
		<div class="div-number-keypad-keys" id="div-number-decimal">.</div>
		<div id="div-number-keypad-number-symbol"><i class="fa fa-arrow-left fa-lg"></i></div>
	</div>
</div>
<div id="div-number-keypad-btn-done">{{lblNm "done"}}</div>
</div>