<ul class="ul-progress-spinner">
	<li class="li-img-spinner">
		<img class="img-progress-spinner" src="globusMobileApp/image/icon/ios/spinner.gif"/>
	</li>
	<li class="li-progress-message">{{message}}</li>
</ul>