<html>
<head>
<title>{{lblNm "pdf"}}pdf</title>

</head>
<style>
	
	body {
		
	}

	div, li {
		vertical-align: top;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}


	#div-pdf-header {
		font-size: 0.6em;
		margin-bottom: 1em;
		padding: 0.25em 0;
		width: 100%;
	}

	.div-pdf-header-item {
		width: 30%;
	}

	#div-globus {
		width: 150px;
	}

	.div-pdf-main {
		border: 1px solid transparent;
		font-size: 0.5em;
		/*height: 1000px;*/
		margin: auto;
		width: 680px;
		position: relative;
		margin-top: 30px;
	}

	.div-page-1 {
		margin-top: 0px!important;
		padding-top: 0px!important;
	}

	.div-pdf-title {
		font-weight: bold;
		font-size: 1.2em;
		margin: 1em 0;
		text-align: left;
		width: 49%;
		display: inline-block;
	}

	.div-pdf-tagid {
		font-weight: bold;
		font-size: 1.2em;
		margin: 1em 0;
		text-align: right;
		width: 49%;
		display: inline-block;
	}

	#div-pdf-setlist-details {
		font-size: 1.2em;
		margin: 1em 0;
		text-align: left;
		width: 100%;
	}

	#div-pdf-setlist-details  span {
		display: inline-block;
	}

	.span-pdf-setlist-details-header {
		width: 50px;
    	font-weight: bold;
	}

	#span-pdf-setlist-details-setname {
		margin-left: 20px;
	}

	#div-pdf-setlist-details div {
		width: 100%;
		margin: 5px 0;
	}

	#div-parts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 100px;
	}

	#div-parts-list {
		margin: 5px 0;
	}

	#ul-parts-header {
		background-color: #ccc;
		padding: 5px 0;
	}

	#ul-parts-header li {
		display: inline-block;
		font-weight: bold;
		text-align: center;
	}

	.ul-parts-list li {
		display: inline-block;
		
	}

	#li-num-h {
		text-align: left!important;
		padding-left: 5px;
		width: 13%;
	}

	#li-desc-h {
		text-align: left!important;
		width: 74%;
		padding-left: 5px;
	}

	#li-qty-h {
		text-align: center;
		padding-left: 5px;
		width: 8%;
	}


	.li-num-l {
		text-align: left;
		width: 13%;
		padding-left: 5px;
		word-wrap: break-word;
	}

	.li-desc-l {
		text-align: left;
		width: 74%;
		padding-left: 5px;
		word-wrap: break-word;
	}

	.li-qty-l {
		text-align: center;
		padding-left: 5px;
		width: 8%
	}

	.div-nextParts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 100px;
	}

	.div-adjustment {
		height: 50px;
	}

	.parts-pages-two {
		min-height: 100px;
	}

</style>
	<body style="font-family: Verdana; list-style-type: none;">
		{{#each this}}
		<div class="div-pdf-main div-page-{{currpageno}}">
			<div>
				<div class="div-pdf-title">{{lblNm "set_part_list"}}</div>
				<div class="div-pdf-tagid">{{lblNm "tagid"}}:<span>{{tagid}}</span></div>
				<div id="div-pdf-header">
					<div id="div-globus" style="display: inline-block;">
						<img src="{{logo}}"> 
					</div>
					<div class="div-pdf-header-item" style="display: inline-block;">
						<div style="font-weight:bold;">Globus Medical Inc</div>
						<div>Valley Forge Business Center</div>
						<div>2560 General Armistead Avenue</div>
						<div>Audubon, PA 19403</div>
						<div>Phone:1-866-456-2871</div>
						<div>Fax:1-866-456-2873</div>
					</div>
					<div class="div-pdf-header-item" style="display: inline-block;">
						<div></div>
						<div style="font-weight:bold;">Remit To:</div>
						<div>P.O. Box 203329</div>
						<div>Dallas, TX 75320-3329</div>
						<div>Accounting Phone: 610-930-1800 x 5025</div>
						<div>Accounting Fax: 610-930-1803</div>
					</div>
				</div>
			</div>
			<div id="div-pdf-setlist-details">
				<div id="div-pdf-setlist-details-set">
					<span class="span-pdf-setlist-details-header">{{lblNm "set"}}:</span>
					<span id="span-pdf-setlist-details-setid">{{setid}}</span>
					<span  id="span-pdf-setlist-details-setname">{{setname}}</span>
				</div>
				<div id="div-pdf-setlist-details-settype">
					<span class="span-pdf-setlist-details-header">{{lblNm "type"}}:</span>
					<span  id="span-pdf-setlist-details-settype">{{settype}}</span>
				</div>
			</div>
			<div id="div-parts" class="parts-pages-{{twoPages}}">
			<div style="clear: left;">
				<ul id="ul-parts-header">
					<li id="li-num-h">
						{{lblNm "part_number"}}
					</li>
					<li id="li-desc-h">
						{{lblNm "description"}}
					</li>
					<li id="li-qty-h">
						{{lblNm "qty"}}
					</li>
				</ul>
			</div>

			{{#each JSONSubParts}}
			<div id="div-parts-list">
				<ul class="ul-parts-list">
					<li class="li-num-l">
						<div><b>{{{ID}}}</b></div>
					</li>
					<li class="li-desc-l">
						<div>{{{Description}}}</div>
					</li>
					<li class="li-qty-l">
						{{Quantity}}
					</li>
				</ul>
			</div>
			{{/each}}
			</div>
			<div>
				<pre>{{generateddate}}                                                                                                         {{lblNm "page_1_of"}}{{totalpages}}</pre>
			</div>
			{{#if twoPages}}
			<div class="div-adjustment"></div>
			{{/if}}
			{{#if JSONSecondSubParts}}
			<div class="div-pdf-title">{{lblNm "set_details"}}</div>
			<div class="div-pdf-tagid">{{lblNm "set_details"}}:<span>{{tagid}}</span></div>
			<div class="div-nextParts">
				{{#each JSONSecondSubParts}}
				<div id="div-parts-list">
					<ul class="ul-parts-list">
						<li class="li-num-l">
							<div><b>{{{ID}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Description}}}</div>
						</li>
						<li class="li-qty-l">
							{{Quantity}}
						</li>
					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}
			{{#if twoPages}}
			<div>
				<pre>{{generateddate}}                                                                                                         {{lblNm "page_2_of"}}{{totalpages}}</pre>	
			</div>
			{{/if}}
			{{#if threePages}}
			<div class="div-adjustment"></div>
			{{/if}}
			{{#if JSONThirdSubParts}}
			<div class="div-pdf-title">{{lblNm "set_part_list"}}</div>
			<div class="div-pdf-tagid">{{lblNm "tagid"}}: <span>{{tagid}}</span></div>
			<div class="div-nextParts">
				{{#each JSONThirdSubParts}}
				<div id="div-parts-list">
					<ul class="ul-parts-list">
						<li class="li-num-l">
							<div><b>{{{ID}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Description}}}</div>
						</li>
						<li class="li-qty-l">
							{{Quantity}}
						</li>
					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}
			{{#if threePages}}
			<div>
				<pre>{{generateddate}}                                                                                                         {{lblNm "page_3_of"}}{{totalpages}}</pre>	
			</div>
			{{/if}}
			{{#if fourPages}}
			<div class="div-adjustment"></div>
			{{/if}}
			{{#if JSONFourthSubParts}}
			<div class="div-pdf-title">{{lblNm "set_part_list"}}</div>
			<div class="div-pdf-tagid">{{lblNm "tagid"}}: <span>{{tagid}}</span></div>
			<div class="div-nextParts">
				{{#each JSONFourthSubParts}}
				<div id="div-parts-list">
					<ul class="ul-parts-list">
						<li class="li-num-l">
							<div><b>{{{ID}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Description}}}</div>
						</li>
						<li class="li-qty-l">
							{{Quantity}}
						</li>
					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}
			{{#if fourPages}}
			<div>
				<pre>{{generateddate}}                                                                                                         {{lblNm "page_4_of"}}{{totalpages}}</pre>	
			</div>
			{{/if}}
		{{/each}}
	</body>
</html>