<div id="div-common-setlist-main">
	<div id="div-common-setlist-header">
		<div>{{lblNm "set_details"}}</div>
		<div id="div-common-setlist-close"><div id="div-common-setlist-close-icon"> X </div></div>
	</div>
	<div id="div-common-setlist-tagid"><span id="span-common-setlist-tagid">{{lblNm "tagid"}}</span><input type="text" id="txt-common-setlist-tagid"><i class="fa fa-barcode fa-lg"></i><span id="span-common-setlist-load">{{lblNm "load"}}</span></div>
	<div id="div-common-setlist-content-main">
		<div id="div-common-setlist-details">
			<div id="div-common-setlist-details-set"><span class="span-common-setlist-details-header">{{lblNm "set"}}:</span><span id="span-common-setlist-details-setid"></span><span  id="span-common-setlist-details-setname"></div>
			<div id="div-common-setlist-details-settype"><span class="span-common-setlist-details-header">{{lblNm "type"}}:</span><span  id="span-common-setlist-details-settype"></span></div>
		</div>
		<div id="div-itemlist-count"> {{lblNm "count_of"}} <span id="span-view-type"></span>:<span id="spn-itemlist-count" class="span-count"></span></div>
		<div id="div-search-count"> {{lblNm "retrieved_count"}}:<span id="span-search-count"></span></div>
		<div id="div-common-setlist-content"></div>
	</div>
	<div id="div-common-setlist-buttons">
		<div id="div-common-setlist-fax">{{lblNm "fax"}}</div>
		<div id="div-common-setlist-email">{{lblNm "email"}}</div>
	</div>
</div>

<div id="div-common-setlist-keypad"></div>
<div id="overlay-back"></div>
<div class="div-common-page-loader"></div>

