<div id="div-keyword-search">
	<input type="text" id="{{ID}}" class="{{PredefinedClass}} {{Class}}" placeholder="{{placeholder}}"/>
	<div id="div-common-search-x" class="hide">X</div>
</div>
<div id="div-search-result-main">
	<ul id="ul-search-resultlist">
	</ul>
	<div id="div-search-result-multiple" class="hide">
		{{lblNm "multiple"}}
	</div>
</div>