<div id="div-address-header">
	<ul id="ul-address-to">
		<li id="li-address-to-arrow">
			<i class="fa fa-caret-right fa-2x"></i>
		</li>
		<li id="li-address-to-list"></li>
		<li id="li-add-new-address"> <span><i class="fa fa-plus-square fa-lg"></i></span><span>{{lblNm "add_new"}}</span> </li>
		<li id="li-search-acct" class="li-search"></li>
		<li id="li-search-rep" class="li-search"></li>
		<li id="li-search-dist" class="li-search"></li>
		<li id="li-search-emp" class="li-search"></li>
		<li id="li-search-shipacc" class="li-search"></li>
        <li id="li-search-dealer" class="li-search"></li>
	</ul>
</div>
<div id="div-ship-address-list">
</div>
<div id="div-do-addnew-address">
</div>
<div id="div-do-editship-addressfl"></div>
