<!--/***********************************************************************************************************************
 * File:        GmSideMenu.hbs
 * Description: Side menu section to view all the modules and menu available for the user and to navigate to the screens
 * Author:     	karthik
 ****************************************************************************************************************************/ -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0);" class="closebtn" id="btn-close-sidebar-menu">&times;</a>

    <ul class="gmFloatCenter">
        <li class="li-ipad-user-pic gmAlignHorizontal">
            <div id="div-name-container-iPad">
                <i class="fa fa-user default-picture" aria-hidden="true"></i>
            </div>
            <div id="ul-header-right-pic-menubar" class="gmAlignHorizontal">
                <img id="mob-menu-img" class="mob-menu-img" style="width: 60px;height: 60px; line-height: 60px; border-radius: 50%; ">
            </div>
        </li>

        <li class="gmFontWhite">
            <div id="mobile-menu-top-user-name" class="mobile-menu-top-user-name gmAlignHorizontal gmMarginRight10p"></div>
        </li>
    </ul>

    <nav>
        <ul>
            <li class="menu-module-home" id="btn-home" class="btn-app">
                <a href="#home" class="btn-app-phone"><span><i class="fa fa-home fa-lg"></i> {{lblNm "home"}}</span></a>
            </li>
            <li id="btn-catalog" class="btn-app btn-catalog">
                <a href="#catalog" name="Product Catalog" class="btn-app-phone"><span><i class="fa fa-search-plus fa-lg"></i> {{lblNm "product_catalog"}}</span></a>
            </li>
            <li id="btn-collateral" class="btn-app btn-collateral">
                <a href="#collateral" name="Marketing Collateral" class="btn-app-phone"><span><i class="fa fa-book fa-lg"></i> {{lblNm "marketing_collateral"}}</span></a>
            </li>
            <li id="btn-dashboard" class="btn-app btn-dashboard">
                <a name="Sales Dashboard" class="btn-app-phone fa-ic"><span><i class="fa fa-line-chart fa-lg p-right-6"></i> {{lblNm "sales_dashboard"}}</span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="child-nav li-do-child-menus-mobile">
                    <li><a href="#dashboard">{{lblNm "over_view"}}</a></li>
                    <li><a href="#dashboard/saletoday">{{lblNm "todays_sales"}}</a></li>
                    <li><a href="#dashboard/salemtd">{{lblNm "month_to_date"}}</a></li>
                    <li><a href="#dashboard/postatus">{{lblNm "postatus"}}</a></li>
                    <li><a href="#eval/form">Event Evaluation Form</a></li>
                    <li><a href="#eval/dash">Event Evaluation Dashboard</a></li>
                    <li><a href="#scorecard">{{lblNm "scorecard"}}</a></li>
                </ul>
            </li>
            <li id="btn-case" class="btn-app btn-case">
                <a name="Case Scheduler" class="btn-app-phone  fa-ic"><span id="btn-caseView"><i class="fa fa-folder-open-o fa-lg p-right-8"></i> {{lblNm "case_scheduler"}} </span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="child-nav li-do-child-menus-mobile">
                    <li><a href="#case">Case Dashboard</a></li>
                    <li><a href="#case/id/0">New Case</a></li>
                    <li><a href="#case/report">Case Calendar</a></li>
                    <li><a href="#kit">Kit Management</a></li>
                    <li><a href="#kit/id/0">Surgery Kit</a></li>
                    <li><a href="#kit/report/inactivereport">Inactive Kit Report</a></li>
                    <li><a href="#eval/form">Event Evaluation Form</a></li>
                    <li><a href="#eval/dash">Event Evaluation Dashboard</a></li>
                </ul>
            </li>
            <li id="btn-inv" class="btn-app btn-inv">
                <a name="Inventory Management" class="btn-app-phone fa-ic"><span><i class="fa fa-shopping-bag fa-lg"></i> {{lblNm "inventory_dashboard"}}</span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul id="inv-child" class="child-nav li-do-child-menus-mobile">
                    <li><a href="#inv">{{lblNm "request"}}</a></li>
<!--                    <li><a href="#inv/report">Report</a></li>-->
                    <li><a href="#eval/form">Event Evaluation Form</a></li>
                    <li><a href="#eval/dash">Event Evaluation Dashboard</a></li>
                </ul>
            </li>
            <li id="btn-do" class="btn-app btn-do">
                <a  name="Delivered Order" class="btn-app-phone fa-ic"><span><i class="fa fa-file-text-o p-right fa-lg"></i> {{lblNm "delivery_dashboard"}}</span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="child-nav li-do-child-menus-mobile">
                    <li><a href="#do">{{lblNm "book_do"}}</a></li>
                    <li><a href="#do/booked">{{lblNm "draft_rejected"}}</a></li>
                    <li><a href="#do/report">{{lblNm "dos_booked"}}</a></li>
                    <li><a href="#do/udi">{{lblNm "udi"}}</a></li>
                    <li><a href="#eval/form">Event Evaluation Form</a></li>
                    <li><a href="#eval/dash">Event Evaluation Dashboard</a></li>
                </ul>
            </li>
            <li id="btn-crm" class="btn-app btn-crm">
                <a name="CRM" class="btn-app-phone fa-ic"><span><i class="fa fa-user-md fa-lg p-right-15"></i> {{lblNm "crm"}}</span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="child-nav li-do-child-menus-mobile">
                    <li><a href="#crm">{{lblNm "dashboard"}}</a></li>
                    <li><a href="#crm/surgeon">{{lblNm "surgeon"}}</a></li>
                    <li><a href="#crm/physicianvisit">Physician Visit</a></li>
                    <li><a href="#crm/preceptorship">Preceptorship</a></li>
		            <li id="scsidemenu" class="hide"><a href="#crm/salescall">Sales Call</a></li>
                </ul>
            </li>
            <li id="btn-pricing" class="btn-app btn-pricing">
                <a name="Pricing" class="btn-app-phone fa-ic"><span><i class="fa fa-usd fa-lg p-right-15"></i> Pricing Tool</span><i class="fa fa-angle-down fa-lg"></i></a>
                <ul class="child-nav li-do-child-menus-mobile">
                    <li><a href="#">Initiate Price Request</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#eval/form">Event Evaluation Form</a></li>
                    <li><a href="#eval/dash">Event Evaluation Dashboard</a></li>
                </ul>
            </li>
            <li id="btn-guide" class="btn-app btn-guide">
                <a href="#guide" name="Reimbursement Guide" class="btn-app-phone"><span><i class="fa fa fa-folder-open-o fa-lg p-right"></i>Reimbursement Guide</span></a>
            </li>
        </ul>
    </nav>
    <div class="sidebar-menu-footer">
        <ul id="ul-navigation-bottom">
           <li id="li-update-count" class="CRMonline">
                <div id="btn-updates" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cloud-download fa-lg font-white font-down"></i></div>
                    <div class="div-lbl div-updates-mob">{{lblNm "update"}}</div>
                    <div id="divUpdatesNo" class="divUpdatesNo hide"> &nbsp;0&nbsp; </div>
                </div>
            </li>

            <li>
                <div id="btn-settings" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cog fa-lg font-white font-down"></i></div>
                    <div class="div-lbl div-icon-mob">{{lblNm "settings"}}</div>

                </div>
            </li>
            <li>
                <div id="btn-logout" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-power-off fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{lblNm "logout"}}</div>

                </div>
            </li>
        </ul>
    </div>



</div>
