<div id="div-area-signature">
<div id="div-signature"><canvas id="SignCanvas" width="750px" height="500px"></canvas></div>
<div id="div-signature-button-area">
	<div id="div-signature-clear">{{lblNm "clear"}}</div>
	<div id="div-sig-submit">{{lblNm "submit"}}</div>
	<div id="div-sig-cancel">{{lblNm "cancel"}}</div>
</div>
