
{{#each this}}
<div class="div-splash-single-container div-splash-type-{{TYPE}}" file-id="{{ID}}" sys-id="{{SYSTEM_ID}}">
	<div class="div-splash-header">
		<div class="div-splash-title">{{TITLE}}</div>
		<div class="div-spash-page-no">{{lblNm "page"}} {{sequence}} {{lblNm "of"}} {{total}}</div>
	</div>
	<div id="div-splash-loader">{{lblNm "loading"}}</div>
	<div class="div-splash-image-container" style="background-image:url('{{imageURL}}');"></div>
	<div class="div-splash-menu-container" style = "display:none;">
        <div class="btn-splash-backward btn-splash-navigation slidesjs-previous slidesjs-navigation">&lt;&lt;</div>
        <div class="btn-splash-forward btn-splash-navigation slidesjs-next slidesjs-navigation">&gt;&gt;</div>
    </div>
</div>

{{/each}}