
	<div class="div-module-addr-edit edit data-addr" id="{{addid}}">
      <ul class="gmSection">
          <li id="li-sur-addr-main" class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmFontBlack gmFontBold">
		<div id="div-addres-edit" class="divAddressEdit gmAlignHorizontal gmVerticalTop gmMediaWidth100">
            <ul id="ul-surg-address-head">
                <li id="surg-address-cancel">Cancel</li>
                <li id="surg-address-title">Address</li>
                <li id="surg-address-done">Done</li>
            </ul>
            <div id="address-validation-msg-bar"></div>
			<input type="hidden" value="{{addid}}" addIndex="{{addIndex}}"/>
            <ul class="gmSection">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* TYPE
				</li>
				<li id="div-module-type" class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal">
					<label class="selectbox-icon gmMediaWidth100">
                        <select id="select-surgeon-addrtype"  class="gmInputSelect gmSectionValue gmText230 gmMediaWidth100" data-value="{{addrtyp}}"  tabindex="1">
                        </select>
                    </label>
				</li>
			</ul>
            <ul class="gmSection li-module-cont-primaryfl">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold gmVerticalMiddle">
					PRIMARY
				</li>
                <li class="gmAlignHorizontal">
                    <input type="checkbox" id="surg-address-primaryfl" class="surgeon-phone-primary surg-address-primaryfl-{{primaryfl}}" primaryfl="{{primaryfl}}" tabindex="2">
                </li>
			</ul>
			<ul class="gmSection">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* ADDRESS LINE 1
				</li>
				<li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal">
					<input type="text" id="surg-address-add1" class="gmMediaWidth98 gmWidth180m gmInputText data-add1" value="{{add1}}" placeholder="Address Line 1 *" maxlength="50" tabindex="3">
				</li>
			</ul>
			<ul class="gmSection">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					ADDRESS LINE 2
				</li>
				<li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal">
					<input type="text" id="surg-address-add2" class="gmMediaWidth98 gmWidth180m gmInputText data-add2" value="{{add2}}" placeholder="Address Line 2" maxlength="50" tabindex="4">
				</li>
			</ul>
			<ul class="gmSection">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* CITY
				</li>
				<li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal">
					<input type="text" id="surg-address-city" class="gmMediaWidth98 gmWidth180m gmInputText" value="{{city}}" placeholder="City" maxlength="50" tabindex="5">
				</li>
			</ul>

			<ul class="gmSection ul-phone-surgeon-address-zip">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* ZIP
				</li>
				<li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal">
					<input type="text" id="surg-address-zip" class="gmMediaWidth80 gmWidth180m gmInputText data-zip" value="{{zip}}" placeholder="ZIP" maxlength="10" tabindex="6">
				</li>
			</ul>
            <ul class="gmSection">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* COUNTRY
				</li>
				<li id="li-module-country" class=" gmSectionValue gmMediaWidth100 gmAlignHorizontal slctiPad">
                    <div id="surg-address-country" class ="div-module-country gmAlignHorizontal category-btn popup-icon gmMediaWidth90 gmWidth180m  gmInputText gmVerticalMiddle data-countryid" data-param="country" data-inputParameters='{"codegrp":"CNTY"}' data-keyParameter="codenm" data-codegrp="CNTY" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="country" data-title="Country" countryid="{{countryid}}" countrynm="{{countrynm}}" tabindex="6">{{countrynm}}<span></span></div>
				</li>
                
                
                 <li id="li-module-country" class=" gmSectionValue gmWidth180m  gmAlignHorizontal slctMob">
					<label class="selectbox-icon gmWidth180m ">
                        <select id="surgsel-address-country" class="gmAlignHorizontal category-btn popup-icon gmMediaWidth90 gmWidth180m  gmInputText gmVerticalMiddle data-countryid" data-param="country" data-inputParameters='{"codegrp":"CNTY"}' data-keyParameter="codenm" data-codegrp="CNTY" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="country" data-title="Country" countryid="{{countryid}}" countrynm="{{countrynm}}" tabindex="6" ></select>
                    </label>
				</li>
                
                
                 
			</ul>
            <ul class="gmSection ul-surgeon-address-state">
				<li class=" gmSectionCaption gmAlignHorizontal gmFontBlack gmFontBold">
					* STATE
				</li>
				<li id="li-module-state" class=" gmSectionValue gmMediaWidth100 gmAlignHorizontal slctiPad">
					<div id="surg-address-state" class ="div-module-state gmAlignHorizontal category-btn popup-icon gmMediaWidth98 gmWidth180m  gmInputText gmVerticalMiddle data-stateid" data-param="country" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="State" stateid="{{stateid}}" statenm="{{statenm}}" tabindex="7">{{statenm}}<span></span></div>
				</li>
                
                <li id="li-module-state" class=" gmSectionValue gmMediaWidth100 gmAlignHorizontal slctMob">
					<label class="selectbox-icon gmWidth180m ">
                        <select id="surgsel-address-state" class="gmAlignHorizontal category-btn popup-icon gmMediaWidth98 gmWidth180m  gmInputText gmVerticalMiddle data-stateid" data-param="country" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="State" stateid="{{stateid}}" statenm="{{statenm}}" tabindex="7"></select>
                    </label>
				</li>
                
                
                
			</ul>
			<ul class="btn-surgeon-addr-done gmSection gmPad10p gmBorderRadius3p hide gmBGDarkerGrey gmFontWhite gmTextCenter gmMediaWidth85 iPhone">
                Done
            </ul>
	   </div>
          </li>
        </ul>
	</div>
