<!--------------------------------------------------------------------
 * File:        gmtCommonCancel.hbs
 * Description: The Screen for voiding the corresponding transaction
 * Version:     1.0
 * Author:     	hReddy
---------------------------------------------------------------------->
<div id="div-alert-messagebar" class="gmAlignVertical">
<div class="alert alert-dismissible hide" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>
<ul class="div-threshold-top-header">
    <li class = "li-pricing-Threshold-screen" id ="li-pricing-initiate-letters">Void Pricing Request</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-cancel-screen">
    <li class="li-cancel-report-cls">
        <div class="div-trans-class" id="div-trans-name">Transaction ID:</div>
        <div class="div-trans-cls" id="div-trans-id"></div>
    </li>
    <li class="li-cancel-report-cls pricing-mob">
        <div class="div-trans-class" id="div-reason-drop-id">Reason:</div>
        <div class="div-reason-drop" class="hide" id="div-reason-drpdwn-id"></div>
    </li>
    <li class="li-cancel-report-cls">
        <div class="div-trans-class" id="div-trans-comments">Comments:</div>
        <div class="div-price-req-comments" id="li-price-req-id"><textarea class = "pricing-cancel"></textarea></div>
    </li>
    <li class="li-cancel-report-cls">
        <div class="div-reason-btn" id="div-reason-submit-id">Submit</div>
        <div class="div-reason-btn" id="div-reason-cancel-id">Cancel</div>
    </li>
</div>