<div id="div-address-main-content">
    <input type="hidden" id="select-statenm" name="statenm" value="{{statenm}}" VO="arrgmcrmaddressvo">
    <input type="hidden" id="select-countrynm" name="countrynm" value="{{countrynm}}" VO="arrgmcrmaddressvo">
    <input type="hidden" id="select-stateid" name="stateid" value="{{stateid}}" VO="arrgmcrmaddressvo">
    <input type="hidden" id="select-countryid" name="countryid" value="{{countryid}}" VO="arrgmcrmaddressvo">
    <div id="div-address-validation" class = "gmFontValidation"></div>
    {{#if arrgmcrmaddressvo}}
    {{#each arrgmcrmaddressvo}}
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* ADDRESS 1</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-address" validate="required" message ="Please provide Address" name="add1" value="{{add1}}" VO="arrgmcrmaddressvo">
            
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">ADDRESS 2</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-address2" name="add2" value="{{add2}}" VO="arrgmcrmaddressvo">
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* CITY</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-city" validate="required" message ="Please provide City" name="city" value="{{city}}" VO="arrgmcrmaddressvo">
           
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* STATE</li>
        <li id="li-addres-select-state" class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-state gmInputText popup-content" id="popup-state"  name="stateid" value="{{stateid}}" VO="arrgmcrmaddressvo">

                </select>
            </label>
            

        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* ZIP</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-zipcode" validate="required" message ="Please provide Zipcode" name="zip" value="{{zip}}" VO="arrgmcrmaddressvo">
            
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* COUNTRY</li>
        <li id="li-addres-select-country" class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-country gmInputText popup-content" id="popup-country" name="countryid" value="{{countryid}}" VO="arrgmcrmaddressvo">

                </select>
            </label>

        </li>
    </ul>
    {{/each}}
    {{else}}
        <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* ADDRESS 1</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-address" validate="required" message ="Please provide Address" name="add1" value="{{add1}}" VO="arrgmcrmaddressvo">
             
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">ADDRESS 2</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-address2" name="add2" value="{{add2}}" VO="arrgmcrmaddressvo">
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* CITY</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-city" validate="required" message ="Please provide City" name="city" value="{{city}}" VO="arrgmcrmaddressvo">
            
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* STATE</li>
        <li id="li-addres-select-state" class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-state gmInputText popup-content" id="popup-state" validate="required" message ="Please provide State" name="stateid" value="{{stateid}}" VO="arrgmcrmaddressvo">

                </select>
            </label>
             

        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* ZIP</li>
        <li class="gmSectionValue gmAlignHorizontal">
            <input type="text" class="gmInputText gmWidth180m popup-content" id="popup-zipcode" name="zip" validate="required" message ="Please provide Zipcode" value="{{zip}}" VO="arrgmcrmaddressvo">
           
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* COUNTRY</li>
        <li id="li-addres-select-country" class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-country gmInputText popup-content" id="popup-country" name="countryid" value="{{countryid}}" VO="arrgmcrmaddressvo">

                </select>
            </label>

        </li>
    </ul>
    {{/if}}
    
    
</div>