<div id="div-fileupload-browse-area"> 
	
	<ul id="ul-fileupload">
<!--
		<li id="li-fileupload-filetitle">
			<span >File title</span>
		 	<input type="text" class="gmInputText txt-doc-title data-filetitle" >
		</li>
		<li id="li-fileupload-filetype">
			<span>File Type</span>
		 	<select class="gmInputText sel-doc-file-typ data-reftype" >
				
			</select>
		</li>
-->
		<form id="frm-documents" class ="frm-documents"  method="POST" role="form" enctype="multipart/form-data">
		<li id="li-fileupload-fileinfo">
			<label for="spn-file-open" class = "lb-spn-file-open" >File: </label>
			<input id="hdn-refid" type="hidden" name="refid" >
			<input id="hdn-refgrp" type="hidden" name="refgrp" >
		 	<input id="txt-fileupload" class = "txt-fileupload" type="file" class="inp-file gmInputText data-filename"  name="file" / >
<!--
            <a id = "file-upload-link"><span  id="span-fileupload-browse-filenm" class="spn-file-nm  gmAlignHorizontal gmText300"></span></a>

			<div id="btn-fileupload-popup-browse" class="gmBtn gmFontWhite gmBGDarkerGrey gmVerticalTop gmAlignHorizontal">Browse
			</div>
-->

            <div class="gmVerticalTop gmAlignHorizontal div-actvty-filetype"><span class="span-doc-act-edit">File Type - .doc,.docx,.pdf,.txt </span></div>
		</li>
		<li id="li-fileupload-upload" class = "li-fileupload-upload gmVerticalTop gmAlignHorizontal"><div id="btn-fileupload-upload"  class="gmBtn gmFontWhite gmBGDarkerGrey gmVerticalTop">Upload</div></li>
		</form>
	</ul>

<!-- 	<span id="span-fileupload-browse-filenm"></span>
	<button id="btn-fileupload-popup-browse" class="btn navbar-btn">Browse</button>
	<input type="file" id="txt-fileupload" style="display: none">
	<button id="btn-fileupload-upload" class="btn navbar-btn">Upload</button> -->
</div>
