<!--
<div class="alert alert-dismissible hide" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
-->
<div id="div-crm-main-view">
    <div id="div-crm-tab"></div>
    <section class="landscape">
        <div id="div-crm-module"></div>
    </section>
    <section class="portrait">
        <center><i class="fa fa-tablet fa-5x rotate90" aria-hidden="true"></i></center>
        Landscape view is unavailable for this page, please use Portrait view
    </section>
</div>