{{#each this}}
<div class="div-dhx-report-mbl gmMarginBottom10p">
			<div class="div-dhx-report-mbl-header">
				<ul class="ul-dhx-details">
                    {{#each data}}{{#iflesser @index 4}}
					<li class="li-dhx-report-detail gmFloatLeft gmWidth50">
                          <ul class="ul-dhx-details">
                                <li class="div-dhx-report-label gmFloatLeft gmWidth50">{{this.[0]}}</li>
                                <li class="div-dhx-report-value gmFloatLeft gmWidth50">{{{this.[1]}}}</li>
                            
                        </ul>
					</li>
                    {{/iflesser}}
                            {{/each}}
                </ul>
               
{{#each data}}{{#iftrue @index 4}}
                    <div class="div-dhx-report-arrow">
                     <i class="fa fa-caret-right fa-3x"></i>
                    </div>
                {{/iftrue}}{{/each}}
            </div>
            <div class="div-dhx-report-mbl-body">
                    {{#each data}}{{#ifgreater @index 3}}
                <ul class="ul-dhx-details">
					<li class="li-dhx-report-detail">
                        <ul class="ul-dhx-details">
                            <li class="div-dhx-report-label gmFloatLeft gmWidth50">{{this.[0]}}</li>
                            <li class="div-dhx-report-value gmFloatLeft gmWidth50">{{{this.[1]}}}</li>
                        </ul>
					</li>
                </ul>
                    {{/ifgreater}}
                    {{/each}}
            </div>
    
</div>
{{/each}}