<div class="div-crmitemlist-filter">
	<ul>
		<li class="li-filter-item-search">
			<input type="text" class="txt-filter-search" style = "border-radius: 1px;" />
		</li>
		<li class="li-filter-item-select-all">
        <i class="fa fa-check-square-o"></i>
			<div class="div-filter-name gmAlignHorizontal">Select All</div>
		</li>
	{{#each this}}
		<li class="li-filter-item gmAlignVertical">
            <i class="fa fa-check-square-o"></i>
			<div class="div-filter-name gmAlignHorizontal">{{{this}}}</div>
		</li>
	{{/each}}
        <li id="li-filter-done" class ="gmSectionListItem gmAlignVertical gmPad10p gmBorderRadius3p gmBGDarkerGrey gmFontWhite li-phone-label">
                Done
            </li>
	</ul>
</div>