
<div class="alert alert-dismissible hide" id="alert-div" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<ul id="ul-crm-name">
    <li id="image-logo">
    <img src="image/logo.png">
    </li>
    <li>Customer</li>
    <li>Relationship</li>
    <li>Management</li>
</ul>

<ul id="ul-crm-login">
    <li id="li-login-instruction">
        Please provide your Globus login credentials
    </li>
    <li id="li-login-username" class="gmAlignVertical">
        <input id="txt-userid" name="userid" type="text" placeholder="Username" autocorrect="off"  class="gmInputText" value=""><br>
        <span id="spn-userid" class="span-username-validation-text"></span>
        
    </li>
    <li id="li-login-password" class="gmAlignVertical">
        <input id="txt-password" name="password" type="password" placeholder="Password"  class="gmInputText" value=""><br>
        <span id="spn-password" class="span-password-validation-text"></span>
    </li>
    <li id="li-login-button" class="gmAlignVertical">
        <a id="btn-login" class="gmBtn">
            Login
        </a>
    </li>
 </ul>
