<div id="div-login-failed">
    <div id="div-msg-failed">
       Login Failed
	</div>
	<div id = "div-invalid-msg">      
        Invalid Username / Password
    </div>
    <div id="div-ok" class="btn-ios-alert">
        OK
    </div>
</div>