{{#each this}}
    {{#if fileid}}
<li class="li-mutli-fileupld">

    <div class="div-mutli-fileupld-count gmVerticalTop">{{math @index "+" 1}}.</div>
    <div class="div-filedetail gmAlignHorizontal inp-mutli-fileupld div-mutli-fileupld-popup-choose">
        <div class="div-filename" style="padding-bottom: 5px;">File Name: {{filename}}</div>
        <div class="div-filetitle">File Title: {{filetitle}}</div>
    </div>
    <i class="fa fa-minus-circle fa-2x gmFontDarkerGrey gmVerticalMiddle gmVerticalTop"></i> 
    </li>
    {{else}}
<li class="li-mutli-fileupld">
    <form class="frm-mutli-fileupld" method="POST" role="form" enctype="multipart/form-data">
        <div class="div-mutli-fileupld-count">{{math @index "+" 1}}.</div>
        <input class="hdn-refid" type="hidden" name="refid" value="{{refid}}">
        <input class="hdn-refgroup" type="hidden" name="refgrp" value="{{refgroup}}">
        <input class="inp-mutli-fileupld gmInputText" type="file" name="file" value="{{filetitle}}" style="color: transparent !important;" />
        <!--
                <a class = "a-mutli-fileupld">
                    <span class="spn-mutli-file-nm  gmAlignHorizontal gmText350">{{filename}}</span>
                </a>
                <div class="div-mutli-fileupld-popup-choose gmBtn gmFontWhite gmBGDarkerGrey gmAlignHorizontal gmVerticalTop">Choose File</div>
-->
        <i class="fa fa-minus-circle fa-2x gmFontRed  gmVerticalMiddle"></i>
        <div class="div-mutli-fileupld-title {{#if filename}}{{else}}hide{{/if}} gmAlignVertical">
            File Title: <input class="gmInputText" value="{{filetitle}}" />
        </div>
    </form>
</li>
    {{/if}} 
{{/each}}
