<div class="filterOptions"><span class="more_filter">More Filters</span> <span class="clearAllFilter">Clear Filters</span></div>
<div class="show_filters"></div>
<div class="moreFilterLists gmAlignHorizontal hide">
    <div class="filterpop-close"><button type="button" class="close" ><i class="fa fa-lg gmFontBlack fa-times" aria-hidden="true"></i></button></div>
    <div class="moreFilterHeaders gmAlignVertical">
        <ul class="mFilterheaderLinks gmAlignHorizontal">
        </ul>
    </div>
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterStatus">Status <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterStatus divFilter hide">
        <ul id="divfilter-status" class="ulFilterStatus">
        </ul>
    </div>
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterDivision">Division <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterDivision divFilter hide">
        <ul id="divfilter-division" class="ulFilterDivision">
        </ul>
    </div>
    
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterZone">Zone <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterZone divFilter hide">
        <ul id="divfilter-zone" class="ulFilterZone">

        </ul>
    </div>
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterProcedure">Procedure <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterProcedure divFilter hide">
        <ul id="divfilter-procedure" class="ulFilterProcedure">

        </ul>
    </div>
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterWorkflow">Workflow <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterWorkflow divFilter hide">
        <ul id="divfilter-workflow" class="ulFilterWorkflow">

        </ul>
    </div>
    <h4 class='accordion-title filterLinks hide' data-showDiv="divFilterProduct">Product <i class="fa fa-chevron-down" aria-hidden="true"></i></h4>
    <div class="divFilterProduct divFilter hide">
        <div id="divfilter-product" class="ulFilterProduct">
            
        </div>
        <div class="filteredListProduct"></div>
        <input class="filterpdctInput" checked="" style="visibility:hidden" type="checkbox" data-id="">
    </div>

    <div class="filterDone">Filter Result</div>

</div>