<div>
    {{#if empty}}
        <div class = "gmTextCenter">No Data found</div>
    {{else}}
        {{#if act}}
            <ul class = "gmBorderHeader gmMarginBottom10p">
                <li class = "gmPad10p gmBGPendSync gmFontWhite gmBorderTopRadius7p">ACTIVITY &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{alen}}</li>
                <li class = "gmPad10p gmBGBlack gmFontWhite">
                    <div class = "gmAlignHorizontal gmWidth40per">Module</div>
                    <div class = "gmAlignHorizontal gmWidth40per">Title</div>
                </li>
                {{#each activity}}
                    <li class = "gmPad10p gmFont{{color}}">
                        <div class = "gmAlignHorizontal gmWidth40per">{{module}}</div>
                        <div class = "gmAlignHorizontal gmWidth40per">{{actnm}}</div>
                        <div class = "gmAlignHorizontal"><a href="#crm/{{link}}/id/{{id}}" class="gmFont{{color}}"><div class="fa-lg gmFontItalic gmFontBold gmSidePad10p">i</div></a></div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if srg}}
            <ul class = "gmBorderHeader gmMarginBottom10p">
                <li class = "gmPad10p gmBGPendSync gmFontWhite gmBorderTopRadius7p">{{module}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{slen}}</li>
                <li class = "gmPad10p gmBGBlack gmFontWhite">
                    <div class = "gmAlignHorizontal gmWidth40per">#NPI</div>
                    <div class = "gmAlignHorizontal gmWidth40per">Name</div>
                </li>
                {{#each surgeon}}
                    <li class = "gmPad10p gmFontsurgeon">
                        <div class = "gmAlignHorizontal gmWidth40per">{{#if npid}}{{npid}}{{else}}Unassigned{{/if}}</div>
                        <div class = "gmAlignHorizontal gmWidth40per">{{name}}</div>
                        <div class = "gmAlignHorizontal"><a href="#crm/surgeon/id/{{id}}" class="gmFontsurgeon"><div class="fa-lg gmFontItalic gmFontBold gmSidePad10p">i</div></a></div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
        {{#if crt}}
            <ul class = "gmBorderHeader gmMarginBottom10p">
                <li class = "gmPad10p gmBGPendSync gmFontWhite gmBorderTopRadius7p">Criteria &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{flen}}</li>
                <li class = "gmPad10p gmBGBlack gmFontWhite">
                    <div class = "gmAlignHorizontal gmWidth40per">Module</div>
                    <div class = "gmAlignHorizontal gmWidth40per">Name</div>
                </li>
                {{#each favcrt}}
                    <li class = "gmPad10p gmFont{{module}}">
                        <div class = "gmAlignHorizontal gmWidth40per">{{criteriatyp}}</div>
                        <div class = "gmAlignHorizontal gmWidth40per">{{criterianm}}</div>
                        <div class = "gmAlignHorizontal"><a href="#crm/{{module}}/filter/{{id}}" class="gmFont{{module}}"><div class="fa-lg gmFontItalic gmFontBold gmSidePad10p">i</div></a></div>
                    </li>
                {{/each}}
            </ul>
        {{/if}}
    {{/if}}
</div>