<ul class="gmSection">
    <li class="gmSectionListItem gmSectionValue gmAlignVertical">
        <input class="gmAlignHorizontal gmInputText search-select-options gmMediaWidth90" placeholder="Search...">
    </li>
    <li class="select-options-content gmBGWhite gmFontBlack"></li>
</ul>