<div id="spn-loader-content" class = "gmTextAll gmTextCenter">
    <img class="img-loader-spinner" src="globusMobileApp/image/icon/ios/spinner.gif">
    <span id="loader-text" class = "gmAlignVertical">Loading...</span>
</div>