<div id="div-update-header"><span id="spn-update-refresh">{{lblNm "refresh"}}</span><span class="btn-spn-update">{{lblNm "update_all"}}</span></div>
<ul id="ul-updates">

	<li class="li-above" id="update-systems"><span class="spn-detail arrow-right" id="btn-detail-systems"></span>{{lblNm "systems"}} <span class="btn-spn-update" id="listGmSystemVO,listGmSystemAttributeVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-systems"></ul>

	<li class="li-above" id="update-sets"><span class="spn-detail arrow-right" id="btn-detail-sets"></span>{{lblNm "sets"}} <span class="btn-spn-update" id="listGmSetMasterVO,listGmSetPartVO,listGmSetAttributeVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-sets"></ul>

	<li class="li-above" id="update-parts"><span class="spn-detail arrow-right" id="btn-detail-parts"></span>{{lblNm "parts_c"}} <span class="btn-spn-update" id="listGmPartNumberVO,listGmPartAttributeVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-parts"></ul>

	<li class="li-above" id="update-groups"><span class="spn-detail arrow-right" id="btn-detail-groups"></span>{{lblNm "groups"}} <span class="btn-spn-update" id="listGmGroupVO,listGmGroupPartVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-groups"></ul>

	<li class="li-above" id="update-files"><span class="spn-detail arrow-right" id="btn-detail-files"></span>{{lblNm "files"}} <span class="btn-spn-update" id="listGmFileVO,listGmKeywordRefVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-files"></ul>

	<li class="li-above" id="update-contacts"><span class="spn-detail arrow-right" id="btn-detail-contacts"></span>{{lblNm "contacts"}} <span class="btn-spn-update" id="listGmPartyVO,listGmPartyContactVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-contacts"></ul>
	
	<li class="li-above" id="update-salesrep"><span class="spn-detail arrow-right" id="btn-detail-salesrep"></span>{{lblNm "salesrep"}} <span class="btn-spn-update" id="listGmSalesRepVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-salesrep"></ul>
    
    <li class="li-above" id="update-assalesrep"><span class="spn-detail arrow-right" id="btn-detail-assalesrep"></span>{{lblNm "associate_salesrep"}} <span class="btn-spn-update" id="listGmAssocRepMapVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-assalesrep"></ul>
	
	<li class="li-above" id="update-distributor"><span class="spn-detail arrow-right" id="btn-detail-distributor"></span>{{lblNm "distributor_c"}} <span class="btn-spn-update" id="listGmDistributorVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-distributor"></ul>
		
	<li class="li-above" id="update-address"><span class="spn-detail arrow-right" id="btn-detail-address"></span>{{lblNm "address_c"}} <span class="btn-spn-update" id="listGmAddressVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-address"></ul>
	
	<li class="li-above" id="update-accounts"><span class="spn-detail arrow-right" id="btn-detail-accounts"></span>{{lblNm "accounts"}} <span class="btn-spn-update" id="listGmAccountVO,listGmAcctGpoMapVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-accounts"></ul>

	<li class="li-above" id="update-price"><span class="spn-detail arrow-right" id="btn-detail-price"></span>{{lblNm "price"}} <span class="btn-spn-update" id="listGmAcctGPOPriceVO,listGmAcctPartPriceVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-price"></ul>
    
<!--
    <li class="li-above" id="update-activity"><span class="spn-detail arrow-right" id="btn-detail-activity"></span>{{lblNm "crm"}}<span class="btn-spn-update" id="listGmActivityVO,listGmActivityPartyVO,listGmActivityAttrVO,listGmCriteriaVO,listGmCriteriaAttrVO,listGmProjectVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-activity"></ul>
-->
    
    <li class="li-above" id="update-surgeon"><span class="spn-detail arrow-right" id="btn-detail-surgeon"></span>{{lblNm "surgeon"}}<span class="btn-spn-update" id="GmCRMSurgeonPartyVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-surgeon"></ul>

	<li class="li-above" id="update-apps">{{lblNm "app_related"}} <span id="spn-app-count"></span> <span class="btn-spn-update" id="listGmCodeLookupVO,listGmRulesVO,listGmSecurityEventVO,listGmCodeLookupExclusionVO,listGmCodeLkpAccessVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-apps"></ul>
    
    <li class="li-above" id="update-tag"><span class="spn-detail arrow-right" id="btn-detail-tag"></span>{{lblNm "tag"}} <span class="btn-spn-update" id="listGmTagInfoVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-tag"></ul>

	<li class="li-above" id="update-do"><span class="spn-detail arrow-right" id="btn-detail-do"></span>{{lblNm "do_confirmation"}} </li>
	<ul id="ul-updates-detail-do"></ul>
	
	<li class="li-above" id="update-user"><span class="spn-detail arrow-right" id="btn-detail-user"></span>{{lblNm "user"}} <span class="btn-spn-update" id="listGmUserVO">{{lblNm "update"}}</span><img class="img-update-spinner" src="globusMobileApp/image/icon/ios/spinner.gif" /></li>
	<ul id="ul-updates-detail-user"></ul>
	
</ul>