<div id="div-dash-{{module}}" class="divModule div-dash-module-header gmMediaWidth100 {{size}} gmFloatLeft gmMediaFloatNone" data-attr="{{module}}">
    <ul class="ul-dash-module-header gmPanelHead gmBG{{module}}">
        {{#iffalse module 'merc'}}{{#iffalse module 'tradeshow'}}{{#iffalse module 'quickreference'}}
        <a href="#crm/{{module}}/list" class="gmAlignHorizontal gmMediaHeight100 gmMediaWidth80 gmPadLeft10p">
            {{/iffalse}}{{/iffalse}}{{/iffalse}}
            <li class="gmAlignHorizontal">
                <div class="gmPanelTitle gmFontWhite div-dash-title">{{title}}</div>
            </li>
            {{#iffalse phy 'Y'}}
            <li class="li-dash-count gmAlignHorizontal">
                <div id="div-{{module}}-db-count" class="gmPadLeft10p gmFontWhite div-dash-count"></div>
            </li>
            {{/iffalse}}
            {{#iffalse module 'merc'}}{{#iffalse module 'tradeshow'}}{{#iffalse module 'quickreference'}}
        </a>
        <li class="gmFloatLeft li-dash-plus create-button-{{module}}" style=" visibility: hidden;">
            <a href="#crm/{{module}}/id/0">
                <div class="div-dash-plus gmFontWhite">+</div>
            </a>
        </li>
        <li class="gmFloatRight">
            <ul>
                <li class="gmAlignHorizontal i-dash-new hide gmPadRight10p btn-create-{{module}}">
                    <a href="#crm/{{module}}/id/0" class="fa-2x gmFontWhite gmPad10p">+</a>
                </li>
                <li class="li-link gmAlignHorizontal">
                    <div class="btn-dash-lnk"><a href="#crm/{{module}}/list"><i class="fa fa-external-link fa-2x gmFontWhite"></i></a></div>
                </li>
            </ul>
        </li>
        {{/iffalse}}
         {{/iffalse}}
         {{/iffalse}}
    </ul>
    {{#if phy}}
    <div id="div-dash-phy-header">
        <div id="div-phy-upc" class="gmFontWhite gmBGDarkerGrey">Upcoming<span></span></div>
        <div id="div-phy-req" class="gmFontBlack gmBGLGrey">Requested<span></span></div>
    </div>
    {{/if}}

    <div id="div-{{module}}-dash-content" class="div-dash-content gmPad50">
        <div id="div-{{module}}-dash-data-content" class="divList div-dash-data-content"></div>
    </div>
</div>
