<div id="email-validation-msg-bar" class="hide"></div>
<div id="email-info-msg-bar" class="hide"></div>
<div id="div-popup-trade-list" class="gmSection">
    <div class="emaildiv">
        <label for="email">To:</label>
        <input type="email" id="attendeemail" name="email" value="{{attendeeemail}}">
         <input type="hidden" id="attendeesub" name="custId" value="Join Globus Medical at {{evntAcronym}}">
    </div>
    <div>
        <textarea id="strMailMsg" class="tradeshowDetails" rows="7" cols="50"></textarea>
    </div>
    <div id="tradeInfo">
        <h1 style="text-align: center;margin-top: 10px;">JOIN US!</h1>
        <table style="width: 100%; border-collapse: collapse;">
            <tr>
                <td style="width: 25%;padding: 8px 5px;font-weight:bold;min-width: 80px;">Conference Name</td>
                <td style="padding: 8px 5px;">{{evntNM}}</td>
            </tr>
            <tr>
                <td style="width: 25%;padding: 8px 5px;font-weight:bold;min-width: 80px;">Date</td>
                <td style="padding: 8px 5px;">{{evntSD}} - {{evntED}}</td>
            </tr>
            <tr>
                <td style="width: 25%;padding: 8px 5px;font-weight:bold;min-width: 80px;">Location</td>
                <td style="padding: 8px 5px;">{{evntLoc}}</td>
            </tr>
        </table>

        <div id="tradebody" style="margin-top: 10px;">
            <h2>Don't Miss our Events</h2>
            <p style="margin-top: 10px;">{{evntNotes}}</p>
            <div id="div-tradelink-tabs" style="align-items: center;width: 350px; margin: 20px auto;">
                <a href="{{evntWlink}}" target="_blank" style="padding: 8px 12px; margin-left : 50px; border: 0;border-radius: 9px; color: #ffffff;font-weight:bold;display: inline-block; background-color: #00bfff;">
                    Register Now
                </a>
                <a href="{{evntDlink}}" target="_blank" style="padding: 8px 12px; margin-left : 45px; border: 0;border-radius: 9px; color: #ffffff;font-weight:bold;display: inline-block; background-color: #00bfff;">
                    Register a Demo
                </a>
            </div>
            <div id="tradefooter">
                <p><i>For questions and additional information, Please email us at</i> Exhibits@globusmedical.com</p>
            </div>
        </div>
    </div>
    <div class="tradeemailBtn"><button id="mailresult" type="button">Send Email</button></div>
</div>