<div id="div-fieldsales-detail">
<ul class="ul-fs-datail-top gmMarginBottom10p">
	<li class="gmAlignHorizontal gmVerticalTop">
		<div class = "div-rep-pic-container">
            <div><i class="fa fa-user default-picture" aria-hidden="true"></i></div>
           <div class="div-rep-fs-container"> <img src = ""/></div>
         </div>
	</li>
	<li class="gmAlignHorizontal li-fieldsales-mobile-detail gmMargin15p">
		<ul>
			<li class="gmAlignHorizontal gmFontBold gmWidth50m gmTextRight gmPaddingButtom10p">
				Role: 
			</li>
            {{#if title}}
			<li class="gmAlignHorizontal">
				{{title}}
			</li>
            {{else}}
            <li class="gmAlignHorizontal gmFontItalic">
				Unavailable
			</li>
            {{/if}}
		</ul>
		<ul>
			<li class="gmAlignHorizontal gmFontBold gmWidth50m gmTextRight gmMediaTextCenter gmPaddingButtom10p">
				<span class="iPad">Phone: </span><span class="iPhone"><i class="fa  fa-phone  gmFontBlack gmFont15em gmText50 gmMarginLeft5p"></i></span>
			</li>
            {{#if phone}}
			<li class="gmAlignHorizontal">
				
                <a class="gmAlignHorizontal gmUnderline" href="tel:{{phone}}"> {{formatPhoneNumber phone}}</a> 
			</li>
             {{else}}
            <li class="gmAlignHorizontal gmFontItalic">
				Unavailable
			</li>
            {{/if}}
		</ul>
		<ul>
			<li class="gmAlignHorizontal gmFontBold gmWidth50m  gmMediaTextCenter gmTextRight gmPaddingButtom10p">
				<span class="iPad">Email: </span><span class="iPhone"><i class="fa fa-envelope gmFontBlack gmFont15em gmText50 gmMarginLeft5p"></i></span> 
			</li>
            {{#if email}}
			<li class="gmAlignHorizontal li-fs-email gmVerticalMiddle gmUnderline">
                <a class="gmFontBlack" href="mailto: {{email}}">{{#if email}}{{email}}{{else}} <span class="gmFontItalic"> Unavailable</span>{{/if}}</a>
				
			</li>
            {{else}}
            <li class="gmAlignHorizontal gmFontItalic">
				Unavailable
			</li>
            {{/if}}
		</ul>
	</li>
</ul>
<ul class="gmRepTab ">
	<li id="li-fs-surgeon" class=" fieldsales-tab gmAlignHorizontal gmMediaAlignVertical gmMediaMarginBottom10p gmBGsurgeon" name="surgeon">
		<span class="gmMarginLeft10p">Surgeon</span><span class="gmFloatRight gmMarginRight10p" id="span-surgcount"></span>
	</li>
	<li id="li-fs-sc" class="fieldsales-tab gmAlignHorizontal gmMediaAlignVertical gmMediaMarginBottom10p gmBGsalescall" name="salescall">
		<span class="gmMarginLeft10p">Sales Call</span><span id="span-sccounts" class="gmFloatRight gmMarginRight10p"></span>
	</li>
	<li id="li-fs-pv" class="fieldsales-tab gmAlignHorizontal gmMediaAlignVertical gmMediaMarginBottom10p gmBGphysicianvisit" name="physicianvisit">
		<span class="gmMarginLeft10p">Physician Visit</span><span id="span-pvcount" class="gmFloatRight gmMarginRight10p"></span>
	</li>
	<li id="li-fs-lead" class="fieldsales-tab gmAlignHorizontal gmMediaAlignVertical gmMediaMarginBottom10p gmBGlead" name="lead">
		<span class="gmMarginLeft10p">Lead</span><span id="span-leadcount" class="gmFloatRight gmMarginRight10p"></span>
	</li>
</ul>
<div id="div-rep-module-surgeon" class="div-rep-module">
</div>
    <div id="div-rep-module-salescall" class="div-rep-module hide">
</div>
    <div id="div-rep-module-physicianvisit" class="div-rep-module hide">
</div>
    <div id="div-rep-module-lead" class="div-rep-module hide">
</div>
</div>
