<div id="div-module-criteria">
    <div class="lead-criteria-phone-style gmMediaWidth100 gmMinHeight130p ">
       <ul class="gmSection  li-ph-filter-label">
        <li class=" gmAlignHorizontal">
            Filter Name
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth98">
            <input  class="gmInputText txt-fltr-name  gmWidth180m" autofocus name="filtername" />
        </li>
    </ul>
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter pv-criteria-mobile-width">
            <li class="gmFontBold ul-training-label gmMarginBottom10p">Filters</li>
<!--
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMediaWidth100">
                <div class="fieldsales-title btn-listby category-btn popup-icon div-popup-region gmWidth180m" data-type="dropdown" data-param="region" data-inputParameters='{"codegrp":"REGN"}' data-keyParameter="codenm" data-codegrp="REGN" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="region" data-title="Region"> Region <span></span></div>

            </li>
-->
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-fs-popup-criteria gmMediaWidth100">
                <div class="fieldsales-title btn-listby category-btn popup-icon div-popup-region gmWidth180m" data-type="dropdown" data-param="regid" 
                     data-inputParameters='{"repid":"{{userID}}","regid":"Y"}' data-keyParameter="regnm" data-codegrp="" data-IDParameter="regid" data-NameParameter="regnm" data-resultVO="gmCRMSalesRepListVO" data-webservice="fieldsales/regterdis" data-storagekey="regid" data-title="Region"> Region <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-fs-popup-criteria gmMediaWidth100">
                <div class="fieldsales-title div-popup-distributor btn-listby category-btn popup-icon gmWidth180m" data-type="dropdown" data-param="distid" 
                     data-inputParameters='{"distid":"Y", "repid":"{{userID}}"}' data-keyParameter="distname" data-codegrp="" data-IDParameter="distid" data-NameParameter="distname" data-resultVO="gmCRMSalesRepListVO" data-webservice="fieldsales/regterdis" data-storagekey="distid" data-title="Distributor"> Distributor <span></span></div>
            </li>
        </ul>
    </div>

    <ul class="gmAlignHorizontal gmMarginRight10p ul-phone-salescall-selected-criteria hide">
    <div id="btn-filter-selected-criteria" class="div-list-of-selected-criteria gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">
    <i class="fa fa-2x gmFloatLeft fa-list-alt" aria-hidden="true"></i>
    List of Selected Criteria</div>
</ul>
<ul class="gmSection list-category-item category-items gmBorderRadius3p ul-selected-criteria-fs"></ul>
<ul class="gmAlignHorizontal gmFloatRight gmMarginRight10p ul-ph-salescall-filter-search gmMediaWidth95">
    <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">View</div>
</ul>
</div>


