<?xml version="1.0"?>
<toolbar>
#set( $concount = 0)
#set( $studyCnt = 0)
#set( $siteCnt = 0)
#set( $patientCnt = 0)
#set( $showStudyCnt = 0)
#set( $showSiteCnt = 0)
#set( $STUDYID = '')
#set( $SITEID = '')
#set( $PATIENTIDENO = '')
#set( $subParent='999')
#set( $TOOLBARID='')
#set( $STUDYSITEID ='')
#set( $PATIENTPKEY ='')
	<item id="$esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=/gmClinicalStudyAction.do?strAccrd=reports&strContext=STUDY&strContext=HOME")" type="button" text="Home"></item>
	<item id="sep1" type="separator"/>
	#set($temp = "button")
#*  Comment:
		Following code is to get the selected study	
		based on the STUDYTYPEVAL value set in alStudyResult
*#
	
	#foreach($hmStudyDetails in $alStudyResult)		
		#if($hmStudyDetails.STUDYTYPEVAL == "Y")
			#set($temp = "buttonSelect")
			#set($ID = $hmStudyDetails.STUDYID)
			#set($STUDYID = $hmStudyDetails.STUDYID)
			#set($NAME = $hmStudyDetails.STUDYNM)
			#set($studyCnt = $studyCnt + 1)
		#end
	#end

#*  Comment:
		Following code is used to get just Study List button at first time load			
*#

	#if($studyCnt == 0)

		
		#*  Comment:  
			HOME LEVEL TOOLBAR LOGIC 
			Following code is to fetch the additional toolbar with static home level data.
			And also logic to get the selected one when the last got clicked.
		*#
		#set($temp = "buttonSelect")
		#set($subTemp = "button")
		
		#*
			Following code is to display the last clicked event as selected.
		*#

		#foreach($hmToolbarSelected in $alToolbarList)
			#if($hmToolbarSelected.TOOLBARVAL == "Y")
				#set($subTemp = "buttonSelect")
				#set($TOOLBARID = $hmToolbarSelected.ID)
				#set($NAME = $hmToolbarSelected.NAME)
				#set($ACTION = $hmToolbarSelected.ACTION)
				#set($STROPT = $hmToolbarSelected.STROPT)
				#set($CHILD = $hmToolbarSelected.CHILD)
				#set($PARNT = $hmToolbarSelected.PARENT)
			#end	
		#end
		#if($temp == $subTemp)
			#set($temp = "button")	
			#set($strPgToLoad = $esc.xml("$ACTION"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$STROPT&strDhtmlx=true&strTxnId=$TOOLBARID"))
			#if($PARNT != '')
				<item id="$actionURl" type="$subTemp" text="$NAME">
			#else
				<item id="$actionURl" type="$subTemp" text="$CHILD">
			#end
			#set($subTemp = "button")
		#else
			<item id="$esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=/gmClinicalStudyAction.do?strAccrd=reports&strContext=HOME")" type="$temp" text="Reports">
			<item id="$esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=/gmClinicalStudyAction.do?strAccrd=reports&strContext=HOME")" type="button" text="Study list" />
		#end
			
		#if($temp == "button")
			<item id="$esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=/gmClinicalStudyAction.do?strAccrd=reports&strContext=HOME")" type="$temp" text="Study list" />
		#end
		#foreach($hmToolbarDetailsParent in $alToolbarList)
			#set($PARENT = $hmToolbarDetailsParent.PARENT)
			#if($PARENT != $subParent)
				#if($PARENT != '')
					<item id="#" type="$subTemp" text="$PARENT" />				
				#end
				#foreach($hmToolbarDetailsSub in $alToolbarList)
					#if($PARENT == $hmToolbarDetailsSub.PARENT)
						#if($hmToolbarDetailsSub.ID != $TOOLBARID)
							#set($strPgToLoad = $esc.xml("$hmToolbarDetailsSub.ACTION"))
							#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$hmToolbarDetailsSub.STROPT&strDhtmlx=true&strTxnId=$hmToolbarDetailsSub.ID"))
							#if($PARENT != '')
								<item id="$actionURl" type="$subTemp" text=" --    $hmToolbarDetailsSub.CHILD" />
							#else
								<item id="$actionURl" type="$subTemp" text="$hmToolbarDetailsSub.CHILD" />
							#end
							#set($subParent=$hmToolbarDetailsSub.PARENT)
						#end
					#end
				#end
			#end			
		#end
		
		#set($showStudyCnt = 1)			
		</item>	
	#end

#*  Comment:
		Following code is used to populate the study list 
		with the default study selected whichever is clicked earlier.
*#

	#if($studyCnt > 0)
	#set($strPgToLoad = $esc.xml("/gmClinicalSiteMap.do?strOpt=null"))
	#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strStudyId=$ID&strContext=STUDY"))
	<item id="$actionURl" type="$temp" text="$NAME">  
		#foreach($hmStudyDetailsSub in $alStudyResult)
			#if($ID != $hmStudyDetailsSub.STUDYID)			
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strStudyId=$hmStudyDetailsSub.STUDYID&strAccrd=reports&strContext=STUDY"))
				<item id="$actionURl" type="button" text="$hmStudyDetailsSub.STUDYNM" />						
			#end
		#end
	</item>
	<item id="sep5" type="separator"/>
	#end
#*  Comment:  
	SITELIST LOGIC 
*#
	#foreach($hmSiteDetails in $alSiteResult)		
		#if($hmSiteDetails.SITETYPEVAL == "Y")
			#set($temp = "buttonSelect")
			#set($ID = $hmSiteDetails.SITEID)
			#set($SITEID = $hmSiteDetails.SITEID)
			#set($NAME = $hmSiteDetails.SITENAME)
			#set($STUDYID = $hmSiteDetails.STUDYID)
			#set($siteCnt = $siteCnt + 1)	
			#set($STUDYSITEID = $hmSiteDetails.ID)
		#end
	#end
	#if($siteCnt == 0 && $showStudyCnt != 1)
		#*  Comment:  
			STUDY LEVEL TOOLBAR LOGIC 
			Following code is to fetch the additional toolbar with static Site List data.
			And also logic to get the selected one when the last got clicked.
		*#
		#set($temp = "buttonSelect")
		#set($subTemp = "button")
		
		#*
			Following code is to display the last clicked event as selected.
		*#

		#foreach($hmToolbarSelected in $alToolbarList)
			#if($hmToolbarSelected.TOOLBARVAL == "Y")
				#set($subTemp = "buttonSelect")
				#set($TOOLBARID = $hmToolbarSelected.ID)
				#set($NAME = $hmToolbarSelected.NAME)
				#set($ACTION = $hmToolbarSelected.ACTION)
				#set($STROPT = $hmToolbarSelected.STROPT)
				#set($CHILD = $hmToolbarSelected.CHILD)
				#set($PARNT = $hmToolbarSelected.PARENT)
			#end	
		#end
		
		#if($temp == $subTemp)
			#set($temp = "button")	
			#set($strPgToLoad = $esc.xml("$ACTION"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$STROPT&strDhtmlx=true&strStudyId=$STUDYID&strTxnId=$TOOLBARID"))
			#if($PARNT != '')
				<item id="$actionURl" type="$subTemp" text="$NAME">
			#else
				<item id="$actionURl" type="$subTemp" text="$CHILD">
			#end
			#set($subTemp = "button")
		#else
			#set($strPgToLoad = $esc.xml("/gmClinicalSiteMap.do?strOpt=null"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strStudyId=$STUDYID&strAccrd=reports&strContext=STUDY"))
			<item id="$actionURl" type="$temp" text="Study level reports">
			<item id="$actionURl" type="button" text="Site list" />	
		#end
		#if($temp == "button")
			#set($strPgToLoad = $esc.xml("/gmClinicalSiteMap.do?strOpt=null"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strStudyId=$STUDYID&strAccrd=reports&strContext=STUDY"))
			<item id="$actionURl" type="$temp" text="Site list" />	
		#end
		#foreach($hmToolbarDetailsParent in $alToolbarList)
			#set($PARENT = $hmToolbarDetailsParent.PARENT)
			#if($PARENT != $subParent)
				#if($PARENT != '')
					<item id="#" type="$subTemp" text="$PARENT" />				
				#end
				#foreach($hmToolbarDetailsSub in $alToolbarList)
					#if($PARENT == $hmToolbarDetailsSub.PARENT)
						#if($hmToolbarDetailsSub.ID != $TOOLBARID)							
							#set($strPgToLoad = $esc.xml("$hmToolbarDetailsSub.ACTION"))
							#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$hmToolbarDetailsSub.STROPT&strDhtmlx=true&strStudyId=$STUDYID&strTxnId=$hmToolbarDetailsSub.ID&strAccrd=reports&strContext=STUDY"))
							#if($PARENT != '')
								<item id="$actionURl" type="$subTemp" text=" --    $hmToolbarDetailsSub.CHILD" />
							#else
								<item id="$actionURl" type="$subTemp" text="$hmToolbarDetailsSub.CHILD" />
							#end
							#set($subParent=$hmToolbarDetailsSub.PARENT)
						#end
					#end
				#end
			#end			
		#end
		
		#set($showSiteCnt=1)
		</item>
#*  Comment: 
		END - Toolbar Logic at STUDY LEVEL 
*#
	#end
	#if($siteCnt > 0)
	#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
	 #set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackList&strStudyId=$STUDYID&strSiteId=$ID&strStudySiteId=$STUDYSITEID&strContext=SITE")) 
	#* #set($actionURl = $esc.xml("$strPgToLoad&strDhtmlx=true&method=reportPatientTrackList&strStudyId=$STUDYID&strSiteId=$ID&strStudySiteId=$STUDYSITEID&strContext=SITE")) *#
	<item id="$actionURl" type="$temp" text="$ID - $NAME">  
		#foreach($hmSiteDetailsSub in $alSiteResult)
			#if($ID != $hmSiteDetailsSub.SITEID)			
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackList&strStudyId=$hmSiteDetailsSub.STUDYID&strSiteId=$hmSiteDetailsSub.SITEID&strStudySiteId=$hmSiteDetailsSub.ID&strContext=SITE")) 
			#* #set($actionURl = $esc.xml("$strPgToLoad&strDhtmlx=true&method=reportPatientTrackList&strStudyId=$hmSiteDetailsSub.STUDYID&strSiteId=$hmSiteDetailsSub.SITEID&strStudySiteId=$hmSiteDetailsSub.ID&strContext=SITE")) *#
				<item id="$actionURl" type="button" text="$hmSiteDetailsSub.SITEID - $hmSiteDetailsSub.SITENAME" />						
			#end
		#end
	</item>	
	<item id="sep5" type="separator"/>	
	#end
#*  Comment:  
	END - SITELIST LOGIC 
*#
#*  Comment:  
		PATIENTLIST LOGIC 
*#
	#foreach($hmPatientDetails in $alPatientResult)		
		#if($hmPatientDetails.PATIENTTYPEVAL == "Y")
			#set($temp = "buttonSelect")
			#set($ID = $hmPatientDetails.IDENO)
			#set($PATIENTIDENO = $hmPatientDetails.IDENO)
			#set($STUDYID = $hmPatientDetails.STUDYID)
			#set($SITEID = $hmPatientDetails.SITEID)
			#set($patientCnt = $patientCnt + 1)
			#set($STUDYSITEID = $hmPatientDetails.STUDYSITEID)
			#set($PATIENTPKEY = $hmPatientDetails.ID)
		#end
	#end
	#if($patientCnt == 0 && $showStudyCnt != 1 && $showSiteCnt != 1)
		
		#*  Comment:  
			SITE LEVEL TOOLBAR LOGIC 
			Following code is to fetch the additional toolbar with static Patient List data.
			And also logic to get the selected one when the last got clicked.
		*#

		#set($temp = "buttonSelect")
		#set($subTemp = "button")
		
		#*
			Following code is to display the last clicked event as selected.
		*#

		#foreach($hmToolbarSelected in $alToolbarList)
			#if($hmToolbarSelected.TOOLBARVAL == "Y")
				#set($subTemp = "buttonSelect")
				#set($TOOLBARID = $hmToolbarSelected.ID)
				#set($NAME = $hmToolbarSelected.NAME)
				#set($ACTION = $hmToolbarSelected.ACTION)
				#set($STROPT = $hmToolbarSelected.STROPT)
				#set($CHILD = $hmToolbarSelected.CHILD)
				#set($PARNT = $hmToolbarSelected.PARENT)
			#end	
		#end

		#if($temp == $subTemp)
			#set($temp = "button")	
			#set($strPgToLoad = $esc.xml("$ACTION"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$STROPT&strDhtmlx=true&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strTxnId=$TOOLBARID"))
			#if($PARNT != '')
				<item id="$actionURl" type="$subTemp" text="$NAME">
			#else
				<item id="$actionURl" type="$subTemp" text="$CHILD">
			#end
			#set($subTemp = "button")
		#else
			#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackList&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strAccrd=reports&strContext=SITE"))
			<item id="$actionURl" type="$temp" text="Site level reports">		
			<item id="$actionURl" type="button" text="Patient list" />
		#end
		#if($temp == "button")
			#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackList&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strAccrd=reports&strContext=SITE"))
			<item id="$actionURl" type="$temp" text="Patient list" />		
		#end
		#foreach($hmToolbarDetailsParent in $alToolbarList)
			#set($PARENT = $hmToolbarDetailsParent.PARENT)
			#if($PARENT != $subParent)
				#if($PARENT != '')
					<item id="#" type="$subTemp" text="$PARENT" />				
				#end
				#foreach($hmToolbarDetailsSub in $alToolbarList)
					#if($PARENT == $hmToolbarDetailsSub.PARENT)
						#if($hmToolbarDetailsSub.ID != $TOOLBARID)
							#set($strPgToLoad = $esc.xml("$hmToolbarDetailsSub.ACTION"))
							#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$hmToolbarDetailsSub.STROPT&strDhtmlx=true&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strTxnId=$hmToolbarDetailsSub.ID&strAccrd=reports&strContext=SITE"))
							#if($PARENT != '')
								<item id="$actionURl" type="$subTemp" text=" --    $hmToolbarDetailsSub.CHILD" />
							#else
								<item id="$actionURl" type="$subTemp" text="$hmToolbarDetailsSub.CHILD" />
							#end
							#set($subParent=$hmToolbarDetailsSub.PARENT)
						#end
					#end
				#end
			#end			
		#end
			</item>	
		#*  Comment:
			END - SITE LEVEL TOOLBAR
		*#		
			
	#end
	#if($patientCnt > 0)
		#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
		#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackInfo&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strPatientId=$ID&strContext=PATIENT"))
		<item id="$actionURl" type="$temp" text="$ID">  
			#foreach($hmPatientDetailsSub in $alPatientResult)
				#if($ID != $hmPatientDetailsSub.IDENO)
				
				#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackInfo&strStudyId=$hmPatientDetailsSub.STUDYID&strSiteId=$hmPatientDetailsSub.SITEID&strStudySiteId=$hmPatientDetailsSub.STUDYSITEID&strPatientId=$hmPatientDetailsSub.IDENO&strPatientPkey=$hmPatientDetailsSub.ID&strContext=PATIENT"))
					<item id="$actionURl" type="button" text="$hmPatientDetailsSub.IDENO" />						
				#end
			#end
		</item>	
		<item id="sep5" type="separator"/>

#*  Comment:  
			Time Point LEVEL TOOLBAR LOGIC 
			Following code is to fetch the additional toolbar with static Time point data.
			And also logic to get the selected one when the last got clicked.
*#

		#set($temp = "buttonSelect")
		#set($subTemp = "button")
		
		#*
			Following code is to display the last clicked event as selected.
		*#

		#foreach($hmToolbarSelected in $alToolbarList)
			#if($hmToolbarSelected.TOOLBARVAL == "Y")
				#set($subTemp = "buttonSelect")
				#set($TOOLBARID = $hmToolbarSelected.ID)
				#set($NAME = $hmToolbarSelected.NAME)
				#set($ACTION = $hmToolbarSelected.ACTION)
				#set($STROPT = $hmToolbarSelected.STROPT)
				#set($CHILD = $hmToolbarSelected.CHILD)
				#set($PARNT = $hmToolbarSelected.PARENT)
			#end	
		#end

		#if($temp == $subTemp)
			#set($temp = "button")	
			#set($strPgToLoad = $esc.xml("$ACTION"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$STROPT&strDhtmlx=true&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strPatientId=$PATIENTIDENO&strPatientPkey=$PATIENTPKEY&strTxnId=$TOOLBARID&strAccrd=reports&strContext=PATIENT"))
			#if($PARNT != '')
				<item id="$actionURl" type="$subTemp" text="$NAME">
			#else
				<item id="$actionURl" type="$subTemp" text="$CHILD">
			#end
			#set($subTemp = "button")
		#else
			#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackInfo&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strPatientId=$PATIENTIDENO&strPatientPkey=$PATIENTPKEY&strAccrd=reports&strContext=PATIENT"))
			<item id="$actionURl" type="$temp" text="Patient level reports">
			<item id="$actionURl" type="button" text="Time points" />
		#end
		#if($temp == "button")
			#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
			#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackInfo&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strPatientId=$PATIENTIDENO&strPatientPkey=$PATIENTPKEY&strAccrd=reports&strContext=PATIENT"))
			<item id="$actionURl" type="$temp" text="Time Points" />		
		#end
		#foreach($hmToolbarDetailsParent in $alToolbarList)
			#set($PARENT = $hmToolbarDetailsParent.PARENT)
			#if($PARENT != $subParent)
				#if($PARENT != '')
					<item id="#" type="$subTemp" text="$PARENT" />				
				#end
				#foreach($hmToolbarDetailsSub in $alToolbarList)
					#if($PARENT == $hmToolbarDetailsSub.PARENT)
						#if($hmToolbarDetailsSub.ID != $TOOLBARID)
							#set($strPgToLoad = $esc.xml("$hmToolbarDetailsSub.ACTION"))
							#set($actionURl = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strOpt=$hmToolbarDetailsSub.STROPT&strDhtmlx=true&strStudyId=$STUDYID&strSiteId=$SITEID&strStudySiteId=$STUDYSITEID&strPatientId=$PATIENTIDENO&strPatientPkey=$PATIENTPKEY&strTxnId=$hmToolbarDetailsSub.ID&strAccrd=reports&strContext=PATIENT"))
							#if($PARENT != '')
								<item id="$actionURl" type="$subTemp" text=" --    $hmToolbarDetailsSub.CHILD"/>
							#else
								<item id="$actionURl" type="$subTemp" text="$hmToolbarDetailsSub.CHILD" />
							#end
							#set($subParent=$hmToolbarDetailsSub.PARENT)
						#end
					#end
				#end
			#end			
		#end		
		</item>		
	#end
#*  Comment:  
		END - PATIENTLIST LOGIC 
*#
</toolbar>