<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" sort="na" width="250" align="left">
			Form Name
		</column>
		<column type="ro" sort="na" width="80" align="center">
			Time Point
		</column>
		<column type="ro" sort="na" width="100" align="center">
			Earliest Due Date
		</column>
		<column type="ro" sort="na" width="100" align="center">
			Expected Date
		</column>
		<column type="ro" sort="na" width="100" align="center">
			Last Due Date
		</column>
		<column type="img" width="*" id="adlimit" sort="na" align="center">
			Log
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.F_ID">
		<cell>$hmDetails.F_NAME</cell>
		<cell>$esc.xml($hmDetails.S_DS)</cell>	
		<cell>$esc.xml($hmDetails.EXP_START_DATE)</cell>
		<cell>$esc.xml($hmDetails.EXP_DATE)</cell>
		<cell>$esc.xml($hmDetails.FINAL_DUE_DATE)</cell>
		<cell style="cursor:hand;">/images/edit.jpg</cell>
	</row>
	#end
</rows>