/*
Template Name: Ubold - Bootstrap 4 Landing Page Tamplat
Author: CoderThemes
Email: coderthemes@gmail.com
File: Main scss file
*/
/*******************************
01.Helper
02.Navbar
03.Home
04.Features
05.Demo
06.Pricing
07.Faqs
08.Testionial
09.Contact
10.Cta
11.Footer
12.Responsive
********************************/


/*******************
    1.Helper
*******************/
input[type=text] {
	height: 0%;
  width: 0%;
  visibility:hidden;
}
@font-face {
font-family: "Texta-Black";
src: url('../fonts/Latinotype - Texta-Black.otf');
}
@font-face {
font-family: "Texta-BlackIt";
src: url('../fonts/Latinotype - Texta-BlackIt.otf');
}
@font-face {
font-family: "Texta-Bold";
src: url('../fonts/Latinotype - Texta-Bold.otf');
}
@font-face {
font-family: "Texta-BoldIt";
src: url('../fonts/Latinotype - Texta-BoldIt.otf');
}
@font-face {
font-family: "Texta-Book";
src: url('../fonts/Latinotype - Texta-Book.otf');
}
@font-face {
font-family: "Texta-BookIt";
src: url('../fonts/Latinotype - Texta-BookIt.otf');
}

@font-face {
font-family: "Texta-Heavy";
src: url('../fonts/Latinotype - Texta-Heavy.otf');
}

@font-face {
font-family: "Texta-HeavyIt";
src: url('../fonts/Latinotype - Texta-HeavyIt.otf');
}
@font-face {
font-family: "Texta-It";
src: url('../fonts/Latinotype - Texta-It.otf');
}
@font-face {
font-family: "Texta-Light";
src: url('../fonts/Latinotype - Texta-Light.otf');
}
@font-face {
font-family: "Texta-LightIt";
src: url('../fonts/Latinotype - Texta-LightIt.otf');
}
@font-face {
font-family: "Texta-Medium";
src: url('../fonts/Latinotype - Texta-Medium.otf');
}
@font-face {
font-family: "Texta-MediumIt";
src: url('../fonts/Latinotype - Texta-MediumIt.otf');
}
@font-face {
font-family: "Texta-Regular";
src: url('../fonts/Latinotype - Texta-Regular.otf');
}
@font-face {
font-family: "Texta-Thin";
src: url('../fonts/Latinotype - Texta-Thin.otf');
}
@font-face {
font-family: "Texta-ThintIt";
src: url('../fonts/Latinotype - Texta-ThintIt.otf');
}


body {
  font-family: "Texta-Regular";
  font-size: 14px;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Texta-Heavy";
}

h3 {
  line-height: 30px;
}

a {
   outline: none;
}

p {
  line-height: 1.6;
  font-size: 15px;
}

.setgrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

a.setgaliterature {
	text-decoration: underline;
	outline: none;
  	color:#fff;
	font-size: 20px;
	font-weight:bold;
    padding: 12px;
}

a.setgaliterature:hover {color:#ffcc00;}

.setglispace {
  list-style: none;
  padding: 10px 4px 1px 5px;
  position:relative;
}

.setgtitleheader
{
	line-height: 1.6;
	font-size: 15px;
	font-weight:bold;
}

.setgbgliterature
{
	background-color : #052e57;
	color:#fff;
	padding-top : 20px;

}

.setgcontent-page {
  margin-left: 60px;
  overflow: hidden;
  padding: 0 15px 5px 15px;
  min-height: 85vh;
  margin-top: 20px; }
  
/* Thick red border */
hr.setgnew4 {
  border: 1px solid white;
}


.setgsection-sm {
  position: relative;
  padding-top: 32px;
  padding-bottom: -1px;
}



/******************
    12.Responsive
*******************/
.setgcontainer-fluid {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
/** Creo Set Ordering Overflow **/
#mainAppDiv{
    position: relative;
    height:100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 200px) and (max-width: 1199px) {
  .setgcontainer-fluid {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .setgcontainer-fluid {
    max-width: 85%;
  }
}

@media (min-width: 1600px) {
  .setgcontainer-fluid {
    max-width: 70%;
  }
}




#but {
  background-color: #33A8FF;
  
  border-radius: 8px;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 1px;
  cursor: pointer;
}


.setgcontent-page {
    margin-left: 60px;
    overflow: hidden;
    padding: 0 15px 5px 15px;
    min-height: 89.4vh;
    margin-top: 20px;
}

.setgsection-sm {
    position: relative;
    padding-top: 60px;
    padding-bottom: -1px;
}




.setgbutton12 {
  background-color: #042e57;
  float:right;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 50px;
  cursor: pointer;
}

.setgtest {
  color:#00366d; 
  font-family:Texta-BlackIt;
  font-size:40px; 
  margin-top:4%;
  font-weight: 600;
  padding-bottom: 35px;
}

.setgcreoin h1{
	color: #244a95; 
    font-weight: 600;
    margin-top: 5px; 
	font-family:'Texta-Black';
}
.setgcreoin h2{
	color: #244a95; 
    font-weight: 600;
    margin-top: 5px; 
	font-family:'Texta-Black';
}
.setgcreoin h3{
	color:#00b5e3;
	font-weight: 550;
	margin-left: 30px;
	font-family:'Texta-Bold';
}
.setgcreoin h4{
	color: #00b5e3; 
    font-weight: 600;
    font-family:'Texta-Bold';
}
.setgcreoin a{
	color: #00366d;
    font-weight: 550;	
    font-family:'Texta-Regular';
}

.setgcreoin p {
    line-height: 1.6;
    font-size: 15px;
    margin-left: 30px;
}

.setgcreoout {
    text-align: center;
    width: 100%;
    background-color: #00b5e3;
    padding: 25px 20px;
    margin:	35px 0px;
}

.setgcreoout p {
	color:#fff;
	font-size:20px;
	font-family:'Texta-Book';
}

.setgcreoout a {
	color:#fff;
	font-family:'Texta-BlackIt';
	text-decoration:underline;
	font-size:25px;
	font-weight:550;
}

.setgcreoin p{
	margin-left: 30px;
	color:#000;
}

.setginnerp h2{
	color: #00366d;
    font-weight: 550;	
}

.setgbgliterature ul {
	list-style-type:none;
	
}

.setgtest a {
  color:#00366d; 
  text-decoration:underline;
  padding: 5px 10px;
  cursor:pointer;
}
.setgtester {
  text-align:center;
  margin-top:12%;
}

.setgbackbt {
	float: right;
	margin-top: 10%;
	font-size:20px;
	color:#93968b;
}

.setgbackbt a {
	color:#93968b;
	padding: 5px 10px;
	text-decoration:underline;
}
.setgbackbt1 {
	float: right;
	margin-top: 0%;
	font-size:20px;
	color:#93968b;
}

.setgbackbt1 a {
	color:#93968b;
	padding: 5px 10px;
	text-decoration:underline;
}

.setghead{
	color:#00b5e3;
	font-family:'Texta-Black';
	font-size:45px;
	font-weight: 600;
}
#setgfeature{
	padding-top: 10px;	
}


@media (min-width: 992px){
.col-lg-8 {
    float: left;
}
.col-lg-6 {
   float : left;
}
.col-lg-4 {
   float : right;
}
}

@media only screen and (max-width: 768px) {
.setgsection-sm {
	position: relative;
	padding-top: 100px;
	padding-bottom: -1px;
}

.setgcontent-page {
    margin-left: 5px !important;
}

#but {
	background-color: #33A8FF;
	border-radius: 8px;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 3px 3px;
	cursor: pointer;
}
.setgbgliterature ul {
	list-style-type:none;
	min-height:auto;
}
.setgcreoin h1{
font-size: 2rem;	
}
.setgcreoin h3{
font-size: 1rem;	
}
.setgcreoin p{
font-size: 14px;	
}
.setgcreoout p {
	font-size: 15px;	
}
.setgcreoout a {
	font-size: 18px;	
}
.setgcontent-page {
	margin-left: 25px;
	overflow: hidden;
	padding: 0 15px 5px 15px;
	min-height: 80vh;
	margin-top: 20px;
}

.setgbgliterature ul {
	list-style-type:none;
	min-height:auto;
}

#setgfeatures{
	padding-top: 100px;	
}
#setgfeature{
	padding-top: 10px;	
}
#setgcreww{
	margin-left: -10px;
		
}
dl, ol, ul {
	margin-left: -30px;
	height: auto !important;
}

.setgrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.setgtest {
 
  font-size:25px ; 
  
}
.setghead{
	font-size:30px;
}


}

#printdiv1 h4 {
  color:#fff;	
}

#printdiv1 ul li {
  color:#fff;
}

.setgprint {
	visibility: hidden;
	margin-top : -1000px;
}

.setgbreadcrums a {
    color: #00b5e3;
    font-weight: 600;
    font-family: 'Texta-Black';
	text-align : center;
}

.setgsample{	
bottom: 12px;
position: absolute;	
}
.choos-set{
    display: inline-block;
}
.choos-set img,  .choos-set h4{
    float: left;
}

/*To increase the size of the checkboxes in CREO SET GUIDE*/
input[type=checkbox],input[type=radio]{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transform: scale(1.3);
    padding:10px;
    margin-right: 10px;
}

/*To increase the size of the font in Alert message CREO SET GUIDE*/
.submitMessage{
  font-size: 1.3em;
}
.colosseum-maindiv{
    height:100vh;
 overflow-y: hidden;
}
.myGrid{
   height:100vh!important; 
}
.myGrid .ui-grid-filter-container input[type="text"].ui-grid-filter-input {
    visibility: visible;
}
.ng-isolate-scope .ui-grid-cell:nth-child(1), 
.ng-isolate-scope .ui-grid-cell:nth-child(2), 
.ng-isolate-scope .ui-grid-cell:nth-child(3) {
    display: none;
}
.ui-grid-header-cell.ng-isolate-scope:nth-child(1) {
    width: 221px;
    text-align: right;
    padding-right: 49px;
    border-top: 0;
    max-width: 580px;
    margin-left: 20.7%;
    border-left: 1px solid #d4d4d4;
}
.ui-grid-header-cell.ng-isolate-scope:nth-child(2) {
    width: 220px;
    text-align: center;
    border-top: 0;
    max-width: 500px;
}
.ui-grid-header-cell.ng-isolate-scope:nth-child(3) {
    width: 716px;
    padding-left: 60px;
    border-top: 0;
    max-width: 800px;
    margin-top: 4px;
}
.ui-grid-header-cell.ng-isolate-scope {
    border-top: 1px solid #d4d4d4;
}
.colosseum-maindiv h1
{
    color: #244a95;
    font-weight: 600;
    margin-top: 5px;
    font-family: 'Texta-Black';
}
.colosseum-maindiv h3 {
    color: #00b5e3;
    font-weight: 550;
    font-family: 'Texta-Bold';
    font-size: 1.2rem;
}
.ui-grid-cell-contents.ui-grid-header-cell-primary-focus {
        display: flex;
    white-space: normal;
    word-break: break-word;
    line-height: 12px;
}
.ui-grid-header-cell.ng-isolate-scope:nth-child(1) i, 
.ui-grid-header-cell.ng-isolate-scope:nth-child(2) i {
    display: none;
}
.ui-grid-header-cell.ng-isolate-scope:nth-child(1) .ui-grid-header-cell-primary-focus, 
.ui-grid-header-cell.ng-isolate-scope:nth-child(2) .ui-grid-header-cell-primary-focus{
    margin-left: 44px;
    margin-top:4px;
}
.ui-grid-filter-container {
    padding: 4px 4px!important;
}
.ui-grid-menu-items #menuitem-3{
    display: none;
}
.ui-grid-viewport{
    overflow-y: scroll!important;
    overflow-x: hidden!important;
}
.ui-grid-render-container-body .ui-grid-viewport{
    height: 348px !important;
}
.ui-grid{
    height: 452px !important;
}
#mainAppDiv{
    height: 630px;
}
.ui-grid-top-panel{
    background-color: #e4e4e4!important;
}
.ui-grid-header-cell-primary-focus{
    color: #454b50;
}
.ui-grid-column-menu-button{
    display: none;
}
.ui-grid-header-cell-primary-focus span{
    height: 23px;
}
.ui-grid-header-cell-primary-focus .ui-grid-header-cell-label{
    width:80%;
}
