<?xml version="1.0" encoding="iso-8859-1" ?>
#set($currFmt = "000,000.00")
#set($currSign =  $hmParam.APPLNCURRSIGN )
#set($screenType = $hmParam.SCREENTYPE)
<rows>
	<head>
	    <column  type="ro" width="200"  align="left" sort="str" id="acc_name">$msg.getProperty("VM_NAME")</column>
		<column  type="ch" width="35"  align="center" sort="na" id="chk_box"></column>
		<column  type="ro" width="40"  align="left" sort="na" id="img_id"></column>
		<column  type="ro" width="100"  align="left" sort="str" id="cust_po">$msg.getProperty("VM_CUSTOMER_PO")</column>
		<column  type="ro" width="100"  align="center" sort="date" id="po_date">$msg.getProperty("VM_PO_UPDATED_DATE")</column>
		<column  type="ro" width="65"  align="center" sort="str" id="acc_curr">$msg.getProperty("VM_CURRENCY")</column>
		<column  type="ron" width="100"  align="right" format="$currFmt" sort="int" id="total_inv">$msg.getProperty("VM_TOTAL_ORDER")</column>
		<column  type="ro" width="100"  align="left" sort="int" id="ship_cost">$msg.getProperty("VM_SHIPPING_COST")</column>
		<column  type="ro" width="100"  align="center" sort="date" id="order_date">$msg.getProperty("VM_INVOICE_DATE")</column>
		<column  type="ro" width="*"  align="left" sort="str" id="status">$msg.getProperty("VM_STATUS")</column>
		<column  type="ro" width="*"  align="left" sort="str" id="dist">$msg.getProperty("VM_FIELD_SALES")</column>
		<column  type="ch" width="*"  align="center" sort="na" id="chk_email_req">$msg.getProperty("VM_EMAIL_REQUIRED")</column>
		<column  type="ro" width="*"  align="left" sort="str" id="elect_ver">$msg.getProperty("VM_ELECTRONINC_VERSION")</column>
		<column  type="ro" width="*"  align="left" sort="str" id="inv_id">$msg.getProperty("VM_INVOICE_ID")</column>
		<column  type="ro" width="10"  align="left" hidden="true" id="acc_id">$msg.getProperty("VM_ACCOUNT_ID")</column>
		<column  type="ro" width="10"  align="left" hidden="true" id="hold_fl">$msg.getProperty("VM_HOLD_FLAG_ID")</column>
		<column  type="ro" width="0"  align="left"  hidden="true" id="batch_detail_id">$msg.getProperty("VM_BATCH_DETAIL_ID")</column>		
		<column  type="ro" width="10"  align="left" hidden="true" id="hidden_email_req">$msg.getProperty("VM_EMAIL_REQUIRED_ID")</column>
		<column  type="ro" width="10"  align="left" hidden="true" id="hidden_add_valid">$msg.getProperty("VM_ADDRESS_VALIDATION_ID")</column>
		<column  type="ro" width="10"  align="left" hidden="true" id="hidden_tax_country_fl">$msg.getProperty("VM_TAX_COUNTRY_FL_ID")</column>
		<column  type="ro" width="10"  align="left" hidden="true" id="hidden_tax_start_fl">$msg.getProperty("VM_TAX_START_FL")</column>
	</head>
	#set ($count=0)
	#foreach($hmDetails in $alResult)
	<row id="$count">
	    #set($strPO =$esc.java("$hmDetails.PO"))
		#set($strAfterString = $strPO.replaceAll("&#92;&#92;&#92;&#92;","&#92;&#92;&#92;&#92;&#92;&#92;&#92;&#92;"))
		<cell>$esc.xml($hmDetails.NAME)</cell>
		<cell></cell>
		<cell>
		<![CDATA[
		#if($hmDetails.HOLDFL =="Y")
		<img style="cursor:hand" src="/images/hold-icon.png" alt="DO on Hold Status">
		#end
		<img style="cursor:hand" src="/images/detail_icon.gif" alt="Click to View Invoice Details" onClick=fnViewInv("$hmDetails.ID","$esc.javascript($strAfterString)"); >]]>
		</cell>
		<cell>$esc.java($hmDetails.PO)</cell>
		<cell>
		#if ($hmDetails.CUST_PO_DATE)
		$date.format($hmParam.APPLNDATEFMT,$hmDetails.CUST_PO_DATE)
		#end
		</cell>
		<cell>$esc.xml($hmDetails.ACC_CURR_NM)</cell>
		<cell>$esc.xml($hmDetails.COST)</cell>
		<cell>$esc.xml($hmDetails.SHIPCOST)</cell>
		<cell>
		#if ($hmDetails.MDATE)
		$date.format($hmParam.APPLNDATEFMT,$hmDetails.MDATE)
		#end
		</cell>
		<cell>$esc.xml($hmDetails.ORDSTATUS)</cell>
		<cell>$esc.xml($hmDetails.DNAME)</cell>
		#if($hmDetails.BATEMAILREQ == $null)
		<cell>0</cell>
		#else
			#if($hmDetails.BATEMAILREQ == "Y" && $hmDetails.EMAILREQ == 'Y')
			<cell>1</cell>
			#else
			<cell>0</cell>
			#end
		#end
		#if($hmDetails.EVERSION == $null)
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.EVERSION)</cell>
		#end
		#if($hmDetails.INVID == $null)
		<cell></cell>
		#else
		<cell ><![CDATA[<a href="#" onClick=fnPrintInvoice("$hmDetails.INVID")><u>$esc.xml($hmDetails.INVID)</u></a>]]></cell>
		#end
		<cell>$esc.xml($hmDetails.ID)</cell>
		<cell>$esc.xml($hmDetails.HOLDFL)</cell>
		<cell>$esc.xml($hmDetails.BATCH_DETAIL_ID)</cell>
		<cell>$esc.xml($hmDetails.EMAILREQ)</cell>
		<cell>$esc.xml($hmDetails.VALID_ADD_FL)</cell>
		<cell>$esc.xml($hmDetails.TAX_COUNTRY_FL)</cell>
		<cell>$esc.xml($hmDetails.TAX_START_DATE)</cell>
	</row>
	#set ($count= $count+1)	
	#end
</rows>

