<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		#set($editCnt = 1)
		#if($hmParam.DHTMLX == "true")
			#set($editCnt = 0)
		#end
		#if($editCnt != 0)
		<column type="img" width="50" sort="na"></column>
		#end
		<column type="ro" width="60" sort="na">
			Site ID
		</column>
		<column type="ro" width="250" sort="str">
			Site Name
		</column>
		<column type="ro" width="125" align="center" sort="na">
			IRB Approval Date
		</column>
		<column type="ro" width="100" sort="str" id="adlimit" align="left" >
			CRA Name
		</column>
		<column type="ro" width="75" sort="str" id="" align="left" >
			IRB Type
		</column>
		<column type="ro" width="120"  id="" align="center"  sort="na">
			Study Pkt Sent
		</column>
		<column type="ro" width="140"  id="" align="left"  sort="str">
			 TIN
		</column>
	</head>
	#foreach($hmDetails in $alResult)
	#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
	#set($actionURL = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackList&strStudyId=$hmParam.STUDYLIST&strSiteId=$hmDetails.SITEID&strStudySiteId=$hmDetails.ID"))
	<row id="$actionURL">
		#if($editCnt != 0)
		<userdata name="STUDYSITEID">$hmDetails.ID</userdata>
		<cell style="cursor:hand;">/images/edit.jpg</cell>
		#end
		<cell><![CDATA[<a href="#">$esc.xml($hmDetails.SITEID)</a>]]></cell>
		<cell><![CDATA[<a href="#">$esc.xml($hmDetails.SITENAME)</a>]]></cell>
		<cell>$esc.xml($hmDetails.IRBAPPROVALDATE)</cell>
		<cell>$esc.xml($hmDetails.CRANAME)</cell>
		<cell>$esc.xml($hmDetails.IRBTYPENAME)</cell>
		<cell>$esc.xml($hmDetails.STUDYPKTSENT)</cell>
		<cell>$esc.xml($hmDetails.TINNUMBER)</cell>
	</row>
	#end
</rows>