<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
#set($currDate = $date.format("MM/dd/yyyy",$date))
#set($diff = 0)
	<head>	
		<column type="ro" width="50" sort="na" align="center">
			Action
		</column>
		<column type="ro" width="150" sort="str" align="left">
			Site
		</column>		
		<column type="ro" width="70" sort="str" align="left">
			Appr Type
		</column>
		<column type="ro" width="*" sort="str" align="left">
			Appr Reason
		</column>
		<column type="ro" width="70" sort="str" align="left">
			Status
		</column>
		<column type="ro" width="*" sort="na" align="left" >
			Appr Ltr Date
		</column>
		<column type="ro" width="*" sort="na" align="left" >
			Expiration Date
		</column>
		<column type="ro" width="*" sort="na" align="left" >
			Study Pkt Sent
		</column>
		<column type="ro" width="*" sort="na" align="left" >
			Weeks Taken to Appr
		</column>

	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.IRB_ID">
		#set($studysiteid = $hmDetails.STUDY_SITE_ID)
		#set($apprtypeid = $hmDetails.APPR_TYPE_ID)
		#set($reasonid = $hmDetails.APPR_REASON_ID)

		#set($appr_days = $hmDetails.APPR_DAYS)
		#if($appr_days.equals("-1"))
			#set($appr_days = "-")
		#end
		<cell>
		<![CDATA[<a href="/gmClinicalIRBApprovalAction.do?strOpt=edit_irb&irbid=$hmDetails.IRB_ID"><img alt="Edit" src="/images/edit_icon.gif"  border="0"></a>
		&nbsp;&nbsp;<a href="/gmClinicalIRBReportAction.do?strOpt=search_irb_event_rpt&irbId=$hmDetails.IRB_ID&siteId=$studysiteid&irbAppTypeId=$apprtypeid&irbReasonId=$reasonid"><img alt="Drilldown" src="/images/d.gif"  border="0"></a>]]>		
		</cell>
		<cell>$esc.xml($hmDetails.SITE_NAME)</cell>		
		<cell>$esc.xml($hmDetails.APPR_TYPE)</cell>		
		<cell>$esc.xml($hmDetails.APPR_REASON)</cell>		
		<cell>$esc.xml($hmDetails.STATUS_NAME)</cell>
		<cell>$esc.xml($hmDetails.APPR_LTR_DATE)</cell>
		<cell>$esc.xml($hmDetails.EXPR_DATE)</cell>
		<cell>$esc.xml($hmDetails.STUDY_PKT_SENT)</cell>
		<cell>$esc.xml($appr_days)</cell>
	</row>
	#end
</rows>


