<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
                <head>
				<column type="ro" sort="na" width="20" >

                                </column>
                                 <column type="coro"  sort="str" width="*" >
                                               Reason For Payment
				  <option value="">[Choose One]</option>
                                    #foreach($hmChngMap in $alPaymentReasonList)
			                   <option value="$hmChngMap.CODEID">$esc.xml($hmChngMap.CODENM)</option>
		                    #end
                                </column>

		<column type="coro"  sort="str" width="*" >
                                               GL Account
				  <option value="">[Choose One]</option>
                                    #foreach($hmChngMap in $alGlAccountList)
			                   <option value="$hmChngMap.CODEID">$esc.xml($hmChngMap.CODENM)</option>
		                    #end
                                </column>

				#if($hmConditions.RequestTypeID=="60626")
					<column type="ro" sort="str" width="100" >
						       Patient
					</column>
				#else
					<column type="coro" sort="str" width="100" >
						       Patient
					    <option value="">[Choose One]</option>
					    #foreach($hmChngMap in $alPatientList)
						   <option value="$hmChngMap.PATID">$esc.xml($hmChngMap.PATIDE)</option>
					    #end
					</column>
				#end
				#if($hmConditions.RequestTypeID=="60622" )
					<column type="coro" sort="str" width="100">
						      Time Point 
							<option value="">[Choose One]</option>
					    #foreach($hmChngMap in $alPeriodList)
						#if($hmChngMap.PERIODID=="6305" or $hmChngMap.PERIODID=="6306" or ($hmConditions.RequestTypeID=="60622" and $hmChngMap.PERIODID=="6301"))
							 <option value="$hmChngMap.PERIODID">$esc.xml($hmChngMap.PERIODDS)</option>
						#end
					    #end
					</column>
				
				#elseif($hmConditions.RequestTypeID=="60624")
					<column type="coro" sort="str" width="100">
						      Time Point 
							<option value="">[Choose One]</option>
					    #foreach($hmChngMap in $alPeriodList)
						#if($hmChngMap.PERIODID=="6301")
							 <option value="$hmChngMap.PERIODID">$esc.xml($hmChngMap.PERIODDS)</option>
						#end
					    #end
					</column>
				#elseif($hmConditions.RequestTypeID=="60626")
					<column type="ro" sort="str" width="100">
						Time Point 
					</column>
				#else
					<column type="coro" sort="str" width="100">
						      Time Point 
							<option value="">[Choose One]</option>
					    #foreach($hmChngMap in $alPeriodList)
					    <option value="$hmChngMap.PERIODID">$esc.xml($hmChngMap.PERIODDS)</option>
					    #end
					</column>
				#end
                                <column type="ed" sort="int" width="100" >
                                                Amount
                                </column>
                              
                </head>
                #foreach($hmDetails in $alResult)                            
                <row id="$hmDetails.PAYMENTDETAIL"> 
		#set($timePointName = $esc.xml($hmDetails.STUDYPERIOD).replaceAll(' ','&nbsp;'))
		#if ($paydetail.toString().equals(""))
                         <cell></cell>        
		#else
	<cell><![CDATA[<a href="#" onClick=fnVoidPaymentDetail("$hmDetails.PAYMENTID","$hmDetails.PAYMENTDETAIL","$timePointName")><img alt="Void" src="/images/void.jpg" border="0"></a> 
			&nbsp;&nbsp;]]>
			</cell>	

		#end
                                <cell>$esc.xml($hmDetails.PAYMENTREASON)</cell>     
		<cell>$esc.xml($hmDetails.GLACCOUNTID)</cell>     
                                 <cell>$esc.xml($hmDetails.PATIENTID)</cell>
                                <cell>$esc.xml($hmDetails.STUDYPERIODID)</cell>
                                <cell>$esc.xml($hmDetails.AMOUNT)</cell>                                       
                </row>
                #end
</rows>
