<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
	#if($hmParam.ACCESS=="3")
		<column type="ro" width="60" align="center">
			Action
		</column>
	#end
        <column type="ro" width="50" sort="na">Details</column>
		<column type="ro" width="75" sort="str">
			Reference ID
		</column>
		<column type="ro" width="160" sort="str">
			Description
		</column>
		<column type="ro" width="150" sort="str">
			Spec
		</column>
		<column type="ro" width="70" sort="str" align="left">
			Study
		</column>
		<column type="ro" width="*" sort="str" align="left" >
			Form	
		</column>
		<column type="ro" width="60" sort="str" align="left" >
			Created By
		</column>
		<column type="ro" width="60" sort="str" align="center">
			Created Date
		</column>
		<column type="ro" width="60" sort="str" align="center">
			Status
		</column>
		<column type="ro" width="60" align="center">
			Incident Count
		</column>
		<column type="ro" width="60" align="center">
			Open Incident Count
		</column>
		<column type="ro" width="*" hidden="true" id="sel" >
			Form Id
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.EDIT_CHECK_ID">
	#if($hmParam.ACCESS=="3")
		<cell style="cursor:hand;"><![CDATA[<a href="#" onClick="fnChangeReferenceStatus(&#39#$esc.xml($hmDetails.EDIT_CHECK_ID)#&#39,&#39#$esc.xml($hmDetails.REFERENCE_ID)#&#39)"><img alt="Edit Incident" src="/images/edit_icon.gif" border="0"></a>&nbsp;&nbsp;<a href="#" onClick="fnVoidReference(&#39#$esc.xml($hmDetails.EDIT_CHECK_ID)#&#39,&#39#$esc.xml($hmDetails.REFERENCE_ID)#&#39)"><img alt="Void Incident" src="/images/void.jpg" border="0"></a>]]></cell>
	#end
        <cell><![CDATA[<a href="#" onClick=fnEdit("$hmDetails.REFERENCE_ID")>
		<img src="images/edit.jpg" alt="Edit Check Summary" border="0">
		</a>]]></cell>
		<cell>$esc.xml($hmDetails.REFERENCE_ID)</cell>	
		<cell>$esc.xml($hmDetails.DESCRIPTION)</cell>	
		<cell>$esc.xml($hmDetails.SPEC)</cell>	
		<cell>$esc.xml($hmDetails.STUDY_NAME)</cell>
		<cell>$esc.xml($hmDetails.FORM_DS)</cell>
		<cell>$esc.xml($hmDetails.CREATED_BY)</cell>
		<cell>$esc.xml($hmDetails.CREATED_DATE)</cell>	
		<cell>$esc.xml($hmDetails.STATUS)</cell>	
		<cell style="cursor:hand;"><![CDATA[<a href="#" onClick=fnLoadIncidentReport(&#39#$esc.xml($hmDetails.FORM_ID)#&#39,&#39#$esc.xml($hmDetails.REFERENCE_ID)#&#39)>$esc.xml($hmDetails.INCIDENT_COUNT)</a>]]></cell>
		<cell style="cursor:hand;"><![CDATA[<a href="#" onClick=fnLoadIncidentReportWithStatus(&#39#$esc.xml($hmDetails.FORM_ID)#&#39,&#39#$esc.xml($hmDetails.REFERENCE_ID)#&#39)>$esc.xml($hmDetails.OPEN_INC_COUNT)</a>]]></cell>
		<cell>$esc.xml($hmDetails.FORM_ID)</cell>
	</row>
	#end
</rows>