<?xml version="1.0" encoding="iso-8859-1"?>
<rows>
	<head>
#set($currMonth = $date.getMonth())
#set($currDay = $date.getDay())
#set($currYear = $date.getYear())
#set($currDate = $date.format("MM/dd/yyyy",$date))
#set($diff = 0)
#set($addOpenMonthVal = 0)
#set($addCloseMonthVal = 0)
#set($ACCESSLVL = $HMACCESS.ACCLVL)
		<column type="ro" width="55" sort="str" id="PATIENTID" align="center">
			Patient
		</column>
		<column type="ro" width="60" sort="str" id="TP" align="center">
			Time Point
		</column>
		<column type="ro" sort="str" width="100" id="SNAME">
			Surgeon Name
		</column>
		<column type="ro" sort="str" width="100" id= "TREATMENT">
			Treatment
		</column>
		<column type="ro" width="80" sort="na" align="center" id="SDATE">
			Surgery Date
		</column>
		<column type="ro" width="85" sort="na" align="right" id="NOSRGINV">
			No.of Surgical Intervention
		</column>
		<column type="ro" width="70" id="WOPEN" align="left">
			Window Opens
		</column>
		<column type="ro" width="70" id="ACTUALDATE" align="left">
			Actual Date
		</column>
		<column type="ro" width="70" id="WCLOSE" align="left">
			Window Closes
		</column>
		<column type="ro" width="*" id="MISSING_FL" align="center">
			Missing Visits
		</column>
	</head>
	#foreach($hmDetails in $alResult)
	#set($strPgToLoad = $esc.xml("/gmRptPatientTracking.do?strOpt=Report"))
	#set($actionURL = $esc.xml("/menu/GmClinicalLayout.jsp?strPgToLoad=$strPgToLoad&strDhtmlx=true&strMethod=reportPatientTrackInfo&strStudyId=$hmDetails.STUDYID&strSiteId=$hmDetails.SITEID&strStudySiteId=$hmDetails.STUDYSITEID&strPatientId=$hmDetails.IDENO&strPatientPkey=$hmDetails.ID&strContextName=Pending-Forms"))
		<row id="$actionURL">
			#if ($ACCESSLVL != 1)			
				<cell><![CDATA[<a href= "#">$hmDetails.IDENO</a>]]></cell>
			#else
				<cell>$hmDetails.IDENO</cell>
			#end
			<cell>$hmDetails.PERIOD</cell>
			<cell>$hmDetails.SNAME</cell>
			<cell>$hmDetails.TREATMENT</cell>
			<cell>$hmDetails.SDATE</cell>
			<cell>$hmDetails.NOSRGINV</cell>
			#set($wopen = $date.toDate("MM/dd/yyyy", $hmDetails.W_OPEN))
			#set($addMonthOpenDate = $date.toDate("MM/dd/yyyy", $hmDetails.ADDMONTHDATE))
			#if ($currDate.toString().equals($hmDetails.W_OPEN))
				#set($wOpenColor = "green")
				#set($dateOpen = $hmDetails.W_OPEN) 
			#else
				#set($diff = $date.whenIs($wopen).days)
				#set($addOpenMonthVal = $date.whenIs($addMonthOpenDate,$wopen).days)
				#if($diff > 0 && $addOpenMonthVal < 0)	
					#set($dateOpen = $hmDetails.W_OPEN) 					
					#set($wOpenColor = "orange")
				#else
					#set($dateOpen = $hmDetails.W_OPEN) 					
					#set($wOpenColor = "")
				#end

			#end
			
			#set($wclose = $date.toDate("MM/dd/yyyy", $hmDetails.W_CLOSE))
			#set($addMonthCloseDate = $date.toDate("MM/dd/yyyy", $hmDetails.ADDMONTHDATE))
			#if ($currDate.toString().equals($hmDetails.W_CLOSE))
				#set($wCloseColor = "green")
				#set($dateClose = $hmDetails.W_CLOSE) 
			#else
				#set($diff = $date.whenIs($wclose).days)
				#set($addCloseMonthVal = $date.whenIs($addMonthCloseDate,$wclose).days)
				#if($diff < 0)	
					#if($hmDetails.MISSING_FL.equals("Y"))
						#set($wCloseColor = "red")
						#set($dateClose = $hmDetails.W_CLOSE)
					#elseif($diff > 0 && $addCloseMonthVal < 0)	
						#set($dateClose = $hmDetails.W_CLOSE) 					
						#set($wCloseColor = "orange")
					#else
						#set($wCloseColor = "")
						#set($dateClose = $hmDetails.W_CLOSE)
					#end

				#else
					#set($dateClose = $hmDetails.W_CLOSE)
					#set($wCloseColor = "")
				#end

			#end


			#if(!$actualDate)
			#set($wOpenColor = "")
			#set($wCloseColor = "")
			#end

			<cell style="color:$wOpenColor">$dateOpen</cell>
			<cell>$hmDetails.ACTUAL_DATE</cell>
			<cell style="color:$wCloseColor">$dateClose</cell>
			<cell>$hmDetails.MISSING_FL</cell>
		</row>
	#end
</rows>