<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" sort="na" width="30" align="left">
			ID
		</column>
		<column type="ro" sort="str" width="*" align="left">
			Text 
		</column>
		<column type="ro" sort="str" width="*" align="center">
			Date Raised
		</column>
		<column type="ro" sort="str" width="*" align="left">
			Status 
		</column>
		<column type="ro" sort="str" width="*" align="left">
			Study Name
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.QUERY_ID">
		<cell><![CDATA[<a href="gmQuery.do?method=fetchQueryDetails&patientListId=$hmDetails.PATIENT_LIST_ID&patientAnsListId=$hmDetails.PATIENT_ANS_LIST_ID&queryId=$hmDetails.QUERY_ID&queryLevelId=$hmParam.queryLevelId&status=$hmDetails.STATUS_ID&listQueries=$hmParam.listQueries&fromContainer=true" target="RightFrame1">$esc.xml($hmDetails.QUERY_ID)</a>]]></cell>
		<cell>$esc.xml($hmDetails.SHORT_DESC)</cell>	
		<cell>$esc.xml($hmDetails.QUERY_RAISED)</cell>
		<cell>$esc.xml($hmDetails.STATUS)</cell>
		<cell>$esc.xml($hmDetails.STUDYNM)</cell>
	</row>
	#end
</rows>