<?xml version="1.0" encoding="iso-8859-1" ?>
#set($strValidatFlag = $hmApplnParam.VALIDATEFLG)
<rows>
 	<head>
	    <column type="ro" width="150" sort="str" align="left">
			$msg.getProperty("VM_ORDER_ID")
		</column>		
		<column type="ro" width="150" sort="str" align="left">
			$msg.getProperty("VM_STATUS")		
		</column>
		#if($strValidatFlag == "Y")
		<column type="ro" width="150" sort="str" align="left" id="release_order_type">
			$msg.getProperty("VM_ORDER_TYPE")		
		</column>
		#end
		<column type="ro" width="150" sort="str" align="left">
			$msg.getProperty("VM_CREATED_BY")			
		</column>	
		<column type="ro" width="*" sort="str" align="left">
			$msg.getProperty("VM_CREATED_DATE")
		</column>
		<column type="ro" width="10"  align="left" hidden="true" id="release_order_id"></column>
	</head>
 #foreach($hmDetails in $alGridData)
			<row>
			    <cell><![CDATA[<a href="#" onclick="javascript:fnDOSummary(\'$hmDetails.ORDID\')">$esc.xml($hmDetails.ORDID)</a>]]></cell>
				<cell>$esc.xml($hmDetails.SFL)</cell>
			#if($strValidatFlag == "Y")
				<cell>$esc.xml($hmDetails.ORDERTYPE)</cell>
		    #end
				<cell>$esc.xml($hmDetails.CREATEDBY)</cell>
				<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.CREATEDDATE)</cell>
				<cell>$esc.xml($hmDetails.ORDID)</cell>
			</row>

#end
</rows>