<?xml version="1.0" encoding="UTF-8" ?>
<complete>
#set($strCodeId=$hmCombo.ID)
#set($strCodeName=$hmCombo.NAME)
#if($hmCombo.selectedCodeId=="" || $hmCombo.selectedCodeId=="0")
<option selected="true" value="0">$hmCombo.DEFAULTVALUE</option>
#else
<option value="0">$hmCombo.DEFAULTVALUE</option>
#end
#foreach($hmDetails in $alResult)
#set($strAccName=$hmDetails.get("$strCodeName"))
#if($hmCombo.selectedCodeId==$hmDetails.get("$strCodeId"))
   <option selected="true" value="$hmDetails.get("$strCodeId")"><![CDATA[$esc.xml($strAccName)]]></option>
#else
   <option value="$hmDetails.get("$strCodeId")"><![CDATA[$esc.xml($strAccName)]]></option>
#end
#end
</complete>

