<?xml version="1.0" encoding="UTF-8" ?>

<rows>
<head>
<column class="ShadeRightTableCaption" type="ro" width="50" align= "center" sort="str" id="Message"></column>
<column class="ShadeRightTableCaption" type="ro" width="170" align= "left" sort="str" id="FromMailId">$msg.getProperty('VM_FROMMAILID')</column>
<column class="ShadeRightTableCaption" type="ro" width="196"   align= "left" sort="str" id="ToMailId">$msg.getProperty('VM_TOMAILID')</column>
<column class="ShadeRightTableCaption" type="ro" width="170" align= "left" sort="str" id="CC">$msg.getProperty('VM_CC')</column>
<column class="ShadeRightTableCaption" type="ro" width="240" align= "left" sort="str" id="Subject">$msg.getProperty('VM_SUBJECT')</column>
<column class="ShadeRightTableCaption" type="ro" width="130"  align= "left" sort="str" id="Date">$msg.getProperty('VM_DATE')</column>
</head>

#set($count=0)
	#foreach($hmDetails in $alResult)

<row id="$count">
<cell>
		<![CDATA[
		<img style="cursor:hand" src="/images/detail_icon.gif" alt="Click to View Email Details" onClick=fnViewEmail($hmDetails.EMAILLOGID);>
		]]>
		</cell>
			<cell>$esc.xml($hmDetails.EMAILFORM)</cell>
			<cell>$esc.xml($hmDetails.EMAILTO)</cell>
			<cell>$esc.xml($hmDetails.EMAILCC)</cell>
			<cell>$esc.xml($hmDetails.EMAILSUB)</cell>
			<cell>$esc.xml($hmDetails.EMAILSENTDATE)</cell>	
	#set($count = $count+1)		

</row>
#end
</rows>