<?xml version="1.0" encoding="iso-8859-1" ?>

<rows>
	<head>

		<column type="coro" width="350" sort="str" id="divid"  align="left">$msg.getProperty("DIVISION")
			<option value="">[Choose One]</option>
			#foreach($hmChngMap in $alCompDivList)
			<option value="$hmChngMap.DIVISION_ID">$esc.xml($hmChngMap.DIVISION_NAME)</option>
			#end
        </column>
		<column type="coro" width="350" sort="str"  id="type" align="left">$msg.getProperty("TYPE")
			<option value="">[Choose One]</option>
			#foreach($hmChngMap in $alDivMapTypeList)
			<option value="$hmChngMap.CODEID">$esc.xml($hmChngMap.CODENM)</option>
			#end
        </column>
	</head>
	#set($count = 0)
	#foreach($hmDetails in $alResult)		
	<row id="$count"> 
		<cell>$esc.xml($hmDetails.DIVISION)</cell>
		<cell>$esc.xml($hmDetails.TYPE)</cell>
	</row>
	#set($count = $count+1)
	#end
</rows>