<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" width="20" sort="na"></column>
		<column type="ro" width="90" sort="str">$msg.getProperty('VM_LOANERSETID')</column>
		<column type="ro" width="140" sort="str">$msg.getProperty('VM_LOANERSETNAME')</column>
		<column type="ro" width="100" sort="str">$msg.getProperty('VM_CONSIGNSETID')</column>
		<column type="ro" width="170" sort="str">$msg.getProperty('VM_CONSIGNSETNAME')</column>
		<column type="ro" width="70" sort="date">$msg.getProperty('VM_UPDATEDDATE')</column>
		<column type="ro" width="*" sort="str">$msg.getProperty('VM_UPDATEDBY')</column>
	</head>
	#foreach($hmDetails in $alResult)
	<row id="$hmDetails.LOANERSETID">
		<cell><![CDATA[<a href="#" onClick=fnEditLoanerSetId("$hmDetails.LOANERSETID","$hmDetails.CONSIGNSETID")><img alt="Edit ID" src="/images/detail_icon.gif" border="0"></a>]]></cell>
		<cell>$esc.xml($hmDetails.LOANERSETID)</cell>
		<cell>$esc.xml($hmDetails.LNAME)</cell>
		<cell>$esc.xml($hmDetails.CONSIGNSETID)</cell>
		<cell>$esc.xml($hmDetails.CNAME)</cell>
		<cell>$esc.xml($hmDetails.CRDATE)</cell>
		<cell>$esc.xml($hmDetails.CRBY)</cell>
	</row>
	#end
</rows>
	
