<div id="div-module-criteria">

    <ul class="tab-head gmBorderAsh gmBGLGrey iPhone gmMediaWidth100">
        <li id="merc-tab-search" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="merc-tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="merc-tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal" tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="merc-search-content gmMediaDisplayNone merc-sub-content search-criteria-content">
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-upcum-merc" data-region="100823">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite module-title gmMediaMarginAuto">North America MERC Programs</div>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-upcum-merc" data-region="100824">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite module-title gmMediaMarginAuto">International MERC Programs</div>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-webinar-merc" >
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite module-title gmMediaMarginAuto">Webinar MERC Programs</div>
        </li>
<!--        <div class="gmLineSpace el-merc-Lmode iPad"></div>-->
        
    </div>
    <div class="gmLineSpace el-merc-Lmode iPad">
    </div>
        <div id="merc-name-search" class="merc-criteria-phone-style gmAlignHorizontal gmMediaMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="merc-fname" class="merc-fname gmInputText gmWidth180m" value="" placeholder = "First Name">
                    <input type="text" data-id="merc-lname" class="merc-lname gmInputText gmWidth180m" value="" placeholder = "Last Name">
                    <div id="btn-search-name" class="btn-search-name-conf gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        
        <div id="merc-title-search" class="merc-criteria-phone-style gmMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Title</li>
                <li class="gmMarginTop5p">
                    <input type="text" data-id="merc-title" class="merc-title gmInputText gmText350" value="">
                    <div id="btn-search-title" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
    <div class="merc-criteria-phone-style merc-criteria-filter-style gmMediaWidth100 gmMinHeight130p filter-criteria-content gmMarginTop10p">
    
        <div class="merc-criteria-phone-style merc-criteria-filter-style gmMediaWidth100 gmMinHeight130p filter-criteria-content">
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter gmMediaWidth100">
            <li class="gmFontBold gmMediaDisplayNone">Filters</li>    
        <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown merc-mobile-criteria-popup gmMediaWidth100">
                <div class="module-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="State"> State <span></span></div>
            
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown merc-mobile-criteria-popup gmMediaWidth100">
                <div class="module-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="country" data-inputParameters='{"codegrp":"CNTY"}' data-keyParameter="codenm" data-codegrp="CNTY" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="country" data-title="Country"> Country <span></span></div>    
            </li>
            </ul>  
        <ul id="ul-merc-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight">
            <li>
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p">
                    
                </div>
                <div class="gmFontBold gmAlignHorizontal lead-li-activity-date gmWidth180m">
                    Date
                </div>
            </li>
            <li class="gmMarginTop5p li-merc-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight li-merc-actdate gmMediaDisplayNone">
                    From
                </div>
                <div class="gmAlignHorizontal div-merc-phone-date gmPOSRelative">
                    <span id="span-merc-frmdate" class="gmInputText gmWidth180m gmMinHeight20p gmAlignHorizontal gmVerticalMiddle" data-id="merc-frmdate">mm/dd/yyyy</span>
                    <input type="text" id="merc-frmdate" class="gmInputText gmWidth180m merc-frmdate gmVisibilityHidden" max="9999-12-31" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmMarginTop5p li-merc-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal div-merc-phone-date gmPOSRelative">
                    <span id="span-merc-todate" class="gmInputText gmWidth180m gmMinHeight20p gmAlignHorizontal gmVerticalMiddle" data-id="merc-todate">mm/dd/yyyy</span>
                    <input type="text" id="merc-todate" class="gmInputText gmWidth180m merc-todate gmVisibilityHidden" max="9999-12-31" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>
    </div>
    
    <ul class="filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop5p merc-criteria-filter-style">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav merc-favorite-criteria">
            <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmMERCFav">

            </li>
        </ul>
    </div>

</div>