<label class="gmAlignVertical gmFontBold gmPaddingButtom10p {{reporttype}} hide">Filter <i class="fa fa-angle-down fa-lg"></i></label>
<div id="div-surgeon-report-main" class="mercReportMain">
    <div id="mobreportView">
        <ul class="gmSection gmAlignHorizontal gmFloatLeft">
            {{#iftrue reporttype 'mercsurgrpt'}}
                <section class="merc-surgeon-data gmSection">
                    <ul id="ul-surg-merc-list" class="gmSection">
                        <li class="gmAlignHorizontal merc-mitem">
                            <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Program</label>
                            <div id="select-merc" class="gmInputSelect" mercid="{{mercid}}" maxlength='50'>{{#if mercnm}}{{mercnm}}{{else}}Choose MERC Program {{/if}}</div>
                            <div class="search-result-merc hide"></div>
                        </li>
                    </ul>
                </section>
            {{/iftrue}}
        </ul>
        <ul id="report-btn-{{reporttype}}" class="gmSection gmAlignHorizontal gmVerticalMiddle gmFloatLeft">
            <li class="gmAlignHorizontal">
                <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
            </li>
        </ul>
    </div>
    <section id="surgeon-report-section" class="mercReportSection gmClearBoth"></section>
</div>