{{#each this}}
    <ul class="gmAlignHorizontal gmVerticalMiddle gmTextAll ulMercList" data-mercid="{{id}}" data-mercnm="{{name}}">
        <li class="gmAlignVertical gmPaddgin3x0 gmAlignVertical">{{name}}</li>
        {{#iftrue fromdt todt}}
            <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{city}}, {{statenm}}, {{formatDate fromdt}}</li>
        {{/iftrue}}
        {{#iffalse fromdt todt}}
            {{#if city}}
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{city}}, {{statenm}}, {{formatDate fromdt}} - {{formatDate todt}}</li>
            {{else}}
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{statenm}}, {{formatDate fromdt}} - {{formatDate todt}}</li>
            {{/if}}
        {{/iffalse}}
<!--
        {{#iftrue regnid 100824}}
            <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{lang}}, {{opento}}</li>
        {{/iftrue}}
-->
    </ul>
{{/each}}