
<div id="div-module-criteria">

    <ul class="tab-head gmBorderAsh gmBGLGrey training-phone-criteria-headers">
        <li id="training-tab-search" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="training-tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="training-tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="training-search-content gmMediaDisplayNone training-sub-content search-criteria-content">
        <div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-upcum-training">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite training-title gmMediaMarginAuto">Upcoming Training Programs</div>
        </div>

        <div class="gmLineSpace gmMediaDisplayNone el-training-Lmode"></div>
        <div id="training-actid-search" class=" gmAlignHorizontal">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Control ID</li>
                <li class="gmMarginTop10p">
                    <input id="activity-actid" type="text" data-id="training-actid" class="training-actid gmInputText gmWidth180m" value="">
                    <div id="btn-search-actid" class="btn-search-actid gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div id="training-name-search" class=" gmAlignHorizontal gmFloatRight">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="training-fname" class="training-fname gmInputText gmWidth180m" value="" placeholder = "First Name">
                    <input type="text" data-id="training-lname" class="training-lname gmInputText gmWidth180m" value="" placeholder = "Last Name">
                    <div id="btn-search-name" class="btn-search-name-conf gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div class="gmLineSpace el-training-Lmode"></div>
        <div id="training-title-search" >
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold gmMediaMarginTop10">Title</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="training-title" class="training-title gmInputText gmText350" value="">
                    <div id="btn-search-title" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div> 
    </div>
    <div class="gmLineSpace gmMediaDisplayNone el-training-Lmode">
    </div>
    <div id="conf-name-search" class="training-criteria-phone-style gmMediaWidth100 gmMinHeight130p filter-criteria-content">
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter gmMediaWidth100">
            <li class="gmFontBold ul-training-label gmMediaDisplayNone">Filters</li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown">
                <div class="training-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> Location <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown">
                <div class="training-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="actstatus" data-inputParameters='{"codegrp":"CRFSTS"}' data-keyParameter="codenm" data-codegrp="CRFSTS" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="crfstatus" data-title="CRF Status">CRF Status <span></span></div>
            </li>
        </ul>
        <ul id="ul-training-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight">
            <li>
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p">
                    
                </div>
                <div class="gmFontBold gmAlignHorizontal lead-li-activity-date gmWidth180m">
                    Activity Date
                </div>
            </li>
            <li class="gmMarginTop10p li-training-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight li-training-actdate gmMediaDisplayNone">
                    From
                </div>
                <div class="gmAlignHorizontal div-training-date-mobile">
<!--                    <input type="text" id="activity-frmdate" class="gmInputText gmWidth180m training-frmdate" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-frmdate" class="gmInputText gmWidth180m training-frmdate" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmMarginTop10p li-training-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal div-training-date-mobile">
<!--                    <input type="text" id="activity-todate" class="gmInputText gmWidth180m training-todate" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-todate" class="gmInputText gmWidth180m training-todate" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>
    <ul class="training-criteria-phone-style filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p ">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav training-favorite-criteria">
            <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmTrainingFav">

            </li>
        </ul>
    </div>

</div>
