<?xml version="1.0" encoding="UTF-8" ?>
#set($internalUse=$msg.getProperty('VM_INTERNAL_USE'))
#set($SHOWSHIPDETSLG = $hmParam.SHOWSHIPDETSLG)
#set($WAREHOUSETYPE = $hmParam.WAREHOUSETYPE)
<rows>
	<head>
		<column type="ro" width="25" sort="str" align="left"></column>
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_PART')</column>
		<column type="ro" width="*" sort="str" align="left">$msg.getProperty('VM_PARTDESCRIPTION')</column>
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_SIZE')</column>
		<column type="ro" width="75" sort="int" align="right">$msg.getProperty('VM_DONOR')</column>
		#if($WAREHOUSETYPE == "4000339" || $WAREHOUSETYPE == "56002")
			<column type="ro" width="50" sort="str" align="left" id ="gender" hidden="true">$msg.getProperty('VM_GENDER')</column>		
			<column type="ro" width="40" sort="int" align="right" id ="age" hidden="true">$msg.getProperty('VM_AGE')</column>
			<column type="ro" width="80" sort="str" align="center" id ="internalUse" hidden="true">$esc.xml($internalUse)</column>
		#else
			<column type="ro" width="50" sort="str" align="left" id ="gender">$msg.getProperty('VM_GENDER')</column>		
			<column type="ro" width="40" sort="int" align="right" id ="age">$msg.getProperty('VM_AGE')</column>
			<column type="ro" width="80" sort="str" align="center" id ="internalUse">$esc.xml($internalUse)</column>
		#end
		<column type="ro" width="77" sort="date" align="center">$msg.getProperty('VM_EXPIRYDATE')</column>
		<column type="ro" width="77" sort="str" align="left">$msg.getProperty('VM_MANF_DATE')</column>
		#if($WAREHOUSETYPE == "4000339" || $WAREHOUSETYPE == "56002")
			<column type="ro" width="50" sort="int" align="right" id ="qty" hidden="true">$msg.getProperty('VM_QTY')</column>
			<column type="ro" width="65" sort="int" align="right" id ="reservedqty" hidden="true">$msg.getProperty('VM_RESERVEDQTY')</column>
		#else
			<column type="ro" width="50" sort="int" align="right" id ="qty">$msg.getProperty('VM_QTY')</column>
			<column type="ro" width="65" sort="int" align="right" id ="reservedqty">$msg.getProperty('VM_RESERVEDQTY')</column>
		#end
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_CONTROL')</column>
                <column type="ro" width="25" sort="str" align="left"></column>
		#if($SHOWSHIPDETSLG)
			#if($WAREHOUSETYPE == "4000339" || $WAREHOUSETYPE == "56002")				
				<column type="ro" width="90" sort="str" align="left" id ="shiptotype" hidden="true">$msg.getProperty('VM_SHIP_TO_TYPE')</column>
			#else
				<column type="ro" width="90" sort="str" align="left" id ="shiptotype">$msg.getProperty('VM_SHIP_TO_TYPE')</column>
			#end
		<column type="ro" width="140" sort="str" align="left">$msg.getProperty('VM_SHIPPING_NAME')</column>	
		#end	
		<column type="ro" width="95" sort="str" align="left">$msg.getProperty('VM_LOCATION')</column>
		#if($SHOWSHIPDETSLG)		
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_SHIPPED_DATE')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_CUSTOMER_PO')</column>
        #end
        #if($WAREHOUSETYPE == "4000339" || $WAREHOUSETYPE == "56002")				
			<column type="ro" width="90" sort="str" align="left" id ="warehouse" hidden="true">$msg.getProperty('VM_WAREHOUSE')</column>
			<column type="ro" width="100" sort="str" align="left" id ="type" hidden="true">$msg.getProperty('VM_TYPE')</column>
		#else
			<column type="ro" width="90" sort="str" align="left" id ="warehouse">$msg.getProperty('VM_WAREHOUSE')</column>
			<column type="ro" width="100" sort="str" align="left" id ="type">$msg.getProperty('VM_TYPE')</column>
		#end
		<column type="ro" width="70" sort="str" align="left">$msg.getProperty('VM_RESEARCH')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_REFID')</column>
		#if($SHOWSHIPDETSLG)
		<column type="ro" width="120" sort="str" align="left">$msg.getProperty('VM_TRANSACTION_ID')</column>
		#end
		
	</head>
	#foreach($hmDetails in $alResult)
	<row>
		<cell><![CDATA[<a href="#" onClick=fnLoadLotOverride("$hmDetails.PARTNUM","$hmDetails.CTRLNUM")><img src="images/d.gif" align="middle" alt="Details" border="0" width="14" height="14"></a>]]></cell>
		<cell>$esc.xml($hmDetails.PARTNUM)</cell>	
		<cell>$esc.xml($hmDetails.PARTDESC)</cell>
		<cell>$esc.xml($hmDetails.CUSTOMSIZE)</cell>
		<cell>$esc.xml($hmDetails.DONORNUM)</cell>
		<cell>$esc.xml($hmDetails.SEX)</cell>
		<cell>$esc.xml($hmDetails.AGE)</cell>
		<cell>$esc.xml($hmDetails.INTERNATIONALUSE)</cell>
		<cell>$esc.xml($hmDetails.EXPDATE)</cell>
		<cell>$esc.xml($hmDetails.MANFDATE)</cell>
		<cell>$esc.xml($hmDetails.QTY)</cell>
		<cell>$esc.xml($hmDetails.RESERVQTY)</cell>
		<cell>$esc.xml($hmDetails.CTRLNUM)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewLotReportfrmLotTrack("$hmDetails.CTRLNUM")><img src="images/d.gif" align="middle" alt="Details" border="0" width="14" height="14"></a>]]></cell>
		#if($SHOWSHIPDETSLG)	
		<cell>$esc.xml($hmDetails.SHIPTOTYPE)</cell>
		<cell>$esc.xml($hmDetails.SHIPPINGNAME)</cell>
		#end		
		<cell>$esc.xml($hmDetails.LOCATIONCODE)</cell>	
		#if($SHOWSHIPDETSLG)	
		<cell>$esc.xml($hmDetails.SHIPDATE)</cell>
		<cell>$esc.xml($hmDetails.CUSTOMERPO)</cell>	
		#end	
		<cell>$esc.xml($hmDetails.WAREHOUSE)</cell>
		<cell>$esc.xml($hmDetails.TYPE)</cell>
		<cell>$esc.xml($hmDetails.RESEARCH)</cell>
		<cell>$esc.xml($hmDetails.REFID)</cell>
	    #if($SHOWSHIPDETSLG)
		<cell>$esc.xml($hmDetails.TRANSACTIONID)</cell>
		#end
	</row>
	#end
</rows>
