/* alternative styles */
table.its {
	width: 100%;
}

table.its thead tr {
	background-color: #cccccc;
	height: 25px;
}

table.its tr.even {
	background-color: #ecf6fe;
}

table.its thead th {
	FONT-SIZE: 11px; 
	text-align: left;
}

table.mars thead tr {
	background-color: #9c9;
}

table.mars tr.even {
	background-color: #ccb;
}


table.mars tr.odd {
	background-color: #eec;
}

table.simple thead tr th {
	background-color: #eee;
}

table.simple tr.even {
	background-color: #fff;
}

table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th {
	border: 1px solid #ccc;
}

table.nocol tbody td,table.nocol tbody th {
	border-left: none;
	border-right: none;
}

table.report td,table.report th {
	font: menu;
}

table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

table.report idcol {
	background: buttonface;
}

table.report tr.even {
	background-color: #399;
}

table.report tbody {
	height: 100px;
}

table.report {
	height: 120px;
}

table.report tbody tr {
	height: 10px;
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.simple td.textRed {
	color: #b11;
}

table.AddlHeader {
	font-family: verdana, arial, sans-serif;
	border: 1px solid  #676767;	
}

table.AddlHeader thead th {
	FONT-SIZE: 11px; 
	FONT-WEIGHT: bold;
	margin: 0 0 0 0;
}

table.AddlHeader thead tr {
	background-color: #dee0d2;
	height: 20px;
}