/*****************************************************************************/
/* For Crosstab
 * crosstab.css
/*****************************************************************************/
.ColumnOverride{
	background-color: #f4afa4;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLevel0{
	height: 20px;
}

.ShadeLevel1{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

.ShadeLevel2{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

.ShadeLevel3{
	background-color: #c3c5b8;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: normal;
	height: 20px;
	FONT-WEIGHT: bold;
}

.ShadeLevel4{
	background-color: #feb469;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

.ShadeLevel5{
	background-color: #ffecb9;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: italic;
	height: 20px;
	FONT-WEIGHT: bold;
}

.CrossTabDashBoardHeader { 
	background: teal;
	COLOR : Black;
	FONT-SIZE: 13px; 
	font-weight: bold;
	font-style: italic;
	FONT-FAMILY: verdana, arial, sans-serif;
}

.ShadeLevel2NoBold{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
}

.ShadeLevel2NoBoldRight{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;
	text-align: right;
}

.ShadeLevel3NoBold{
	background-color: white;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: italic;
	height: 20px;	
}

.NameAlignLeft{
	TEXT-ALIGN: left;
}

.Left {
	font-size : 9px;
	TEXT-ALIGN: left;
	font-style: bold;
}
