table.SearchScreenTable {
	margin: 0 0 0 0;
	width: 685px;
	border: 1px solid  #676767;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
}

table.SearchScreenTable tr a,tr a:visited{
	color: black;
}

table.SearchScreenTable tr.even {
	background-color: #eeeeee;
}

.SearchScreenTableHeader {
	background-color: gray;
	FONT-WEIGHT: bold;
	font-family: verdana, arial, sans-serif;
	font-size : 11px;
	height: 20px;
}

.SearchScreenTableHeader tr a,tr a:visited{
	color: black;
}