TR.SB{
	background-color: #ffffff;
}

.RT {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
}

.ART {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: right;
}

.ACT {
	FONT-SIZE: 11px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: center;
}
.LN{
	background-color: #676767;
}	height : 1;

.LNL{
	background-color: #cccccc;
}	height : 1;

table.TB {
	margin: 0 0 0 0;
	width: 100%;
	border: 0px;
	border-collapse: collapse;
	border-width: 0px;
	border-style: solid;
	border-color: #000000
}

img {
	width: 20px;
	height: 17px
	cursor:hand;
}
