.spDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #c3c5b8
}
.spMed {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #dee0d2
}
.spLight {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #e9ebdb
}
.spWhite {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #FFFFFF
}
.eeDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #ccdd99
}
.eeMed {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #e1f3a6
}
.eeLight {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #ecffaf
}
.erDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #a0b3de
}
.erMed {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #e4e6f2
}
.erLight {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #f1f2f7
}
.tsDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #feb469
}
.tsMed {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #ffecb9
}
.tsLight {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #fef2cc
}
.hspDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #c3c5b8
}
.heeDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #ccdd99
}
.herDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #a0b3de
}
.htsDark {
	FONT-SIZE: 12px; FONT-FAMILY: Helvetica,sans-serif; BACKGROUND-COLOR: #feb469
}

/*****************************************************************************/
/* Hierarchy Drill Down information 
/*****************************************************************************/
.ShadeLevelI{
	background-color: #e9ebdb;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	font-style: italic;
	height: 20px;
}

.ShadeLevelII{
	background-color: #c3c5b8;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeLevelIII{
	background-color: #eeeeee;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	font-style: italic;
	height: 20px;
}

a,a:visited,a:hover {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	border: 1px ;
}

.aaTopHeader {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: white; 
	FONT-FAMILY: verdana, Helvetica,sans-serif; 
	BACKGROUND-COLOR: #666666;
}

.aaTopHeaderLightG {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: black; 
	FONT-FAMILY: verdana, Helvetica,sans-serif; 
	BACKGROUND-COLOR: #cccccc;
	height: 20px;
	TEXT-ALIGN: center;
}

.aaTagHeader {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 9px; 
	COLOR: white; 
	FONT-FAMILY: verdana, Helvetica,sans-serif; 
	BACKGROUND-COLOR: #666666;
	TEXT-ALIGN: center;
	height: 20px;
}
.borderDark {
	FONT-SIZE: 12px; 
	FONT-FAMILY: Helvetica,sans-serif; 
	BACKGROUND-COLOR: #7c816a;
	TEXT-ALIGN: right;
}

.borderLight {
	FONT-SIZE: 12px; 
	FONT-FAMILY: Helvetica,sans-serif; 
	BACKGROUND-COLOR: #cccccc;
	TEXT-ALIGN: right;
}

.ShadeWhite{
	background-color: #FFFFFF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkGrayTDCenter{
	background-color: #c3c5b8;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: center;
}

.ShadeDarkGrayTD{
	background-color: #c3c5b8;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: left;
}

.ShadeLightGrayTD{
	background-color: #e9ebdb;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedGrayTD{
	background-color: #dee0d2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeDarkBlueTD{
	background-color: #a0b3de;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeLightBlueTD{
	background-color: #f1f2f7;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedBlueTD{
	background-color: #e4e6f2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedBlueTDText{
	background-color: #e4e6f2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: left;
}


.ShadeDarkGreenTD{
	background-color: #ccdd99;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedGreenTD{
	background-color: #e1f3a6;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightGreenTD {
	background-color: #ecffaf;
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkMarronTD{
	background-color: #c0504d;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedMarronTD{
	background-color: #e6b8b7;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightMarronTD {
	background-color: #f2dcdb;
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}
.ShadeDarkPurpleTD{
	background-color: #8064a2;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}
.ShadeLightPurpleTD {
	background-color: #e4dfec;
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedBlueGrayTD{
	background-color: #b8cce4;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}
.ShadeMedBlueGrayLeftTD{
	background-color: #b8cce4;
	COLOR : Black;
	font-size : 9px;
	height: 20px;
	TEXT-ALIGN: left;
	font-style: bold;
}

.ShadeDarkPinkTD{
	background-color: #CDAEA3;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedPinkTD{
	background-color: #E4D7D3;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightPinkTD {
	background-color: #F1E6E2; 
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkYellowTD{
	background-color: #ffff66;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedYellowTD{
	background-color: #ffff99;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightYellowTD {
	background-color: #ffffcc;
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkRedTD{
	background-color: #ff0000;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeMedRedTD{
	background-color: #ef8d7c;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightRedTD {
	background-color: #f4afa4;
	color : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkOrangeTD{
	background-color: #feb469;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	font-weight: bold;
	height: 20px;
}

.ShadeMedOrangeTD{
	background-color: #ffecb9;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedOrangeTDText{
	background-color: #ffecb9;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeLightOrangeTD{
	background-color: #fef2cc;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightOrangeTDText{
	background-color: #fef2cc;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeDarkBrownTD{
	background-color: #BEFFFF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}
.ShadeLightBrownTD{
	background-color: #E6FFFF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedBrownTD{
	background-color: #D2FFFF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeDarkBlueGrayTD{
	background-color: #9FADBF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
}

.ShadeVeryLightBlueGrayTD{
	background-color: #E3F3FF;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeLightBlueGrayTD{
	background-color: #D1DFF1;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeMedBlueGrayTD{
	background-color: #BDCBDD;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}

.ShadeRightTableCaptionBlueTD{
	FONT-SIZE: 9px; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #AACCE8;
	TEXT-ALIGN: right;
}

.ShadeBlueTDSmall{
	background-color: #ecf6fe;
	COLOR : Black;
	font-family: sans-serif;
	font-size : 11px;
	font-style: normal;
	height: 20px;
	TEXT-ALIGN: right;
}
 
.CrossRightText {
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: right;
}

.RightTextRedSmall { 
	FONT-SIZE: 11px; 
	COLOR: #FF0000; 
	FONT-FAMILY:sans-serif;
	text-decoration: None;
	TEXT-ALIGN: right;
}

/*****************************************************************************/
/* Drill Down Mouse Over Style Sheet
/*****************************************************************************/
.ShadeMedGrayTDDrill{
	background-color: #dee0d2;
	COLOR : black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	TEXT-ALIGN: right;
}

A.ShadeMedGrayTDDrill {
	background-color: #dee0d2;
	COLOR : black;
	font-family: verdana, arial, sans-serif;
	font-size : 9px;
	font-style: normal;
	text-decoration: none;
	TEXT-ALIGN: right;
}
A.ShadeMedGrayTDDrill:visited {

}
A.ShadeMedGrayTDDrill:hover {

}

.RightTextRedSalesSmall { 
	COLOR: #FF0000; 
	TEXT-ALIGN: right;
}

.RightTextSmallCT {
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: right;
}

.RightTextSmallCR {
	FONT-SIZE: 9px; 
	COLOR: #000000; 
	FONT-FAMILY: verdana, arial, sans-serif;
	TEXT-ALIGN: center;
}
.ShadeGreenAlignRightTD{
	background-color: #e1f3a6;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	TEXT-ALIGN: right;
}
.ShadeGreenAlignCenterTD{
	background-color: #e1f3a6;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	TEXT-ALIGN: center;
}
.ShadeDarkBlueAlignRightTD{
	background-color: #a0b3de;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-style: normal;
	TEXT-ALIGN: right;
}
.ShadeDarkBlueAlignCenterTD{
	background-color: #a0b3de;
	COLOR : Black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	TEXT-ALIGN: center;
}