a,a:visited:hover, a:link:hover {
	color: #666;
	text-decoration: none;
	
}
.dhx_base_dhx_skyblue {
	white-space: nowrap;
	overflow: hidden;
	background-image: url("/javascript/dhtmlx/dhtmlxToolbar/imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg.gif");
	background-repeat: repeat-x;
	position: relative;
	cursor: default;
}

html,body{
width:100%;
height:100%;
padding:0px
}

.Header { 
	white-space: nowrap;
	overflow: hidden;
	background-image: url("/javascript/dhtmlx/dhtmlxToolbar/imgs/dhxtoolbar_dhx_skyblue/dhxtoolbar_bg.gif");
	COLOR: black; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-repeat: repeat-x;
	position: relative;
	cursor: default;
}

TR.oddshade{	
	background-color: #E3EFFF;
}
TR.evenshade{	
	 background-color: #FFFFFF;
	/*background-color: #ffc341;*/
}
.LLine{
	background-color: #cccccc;
	height : 1;
	
	/*
	background-color: #000000;
	height : 2;
	*/
}
.Button{
	 background-color : #2E73AC; 
	/*background-color : #000000;*/
	border-left : 1 solid black;
	border-right : 1 solid black;
	border-top : 1 solid black;
	border-bottom : 1 solid black;
	font-family: verdana, arial, sans-serif;
	font-size : 10px;
	font-weight : bold;
	font-style: normal;
	COLOR: White;
	cursor:hand;
}
table.DtTable765 {
	margin: 0 0 0 0;
	width: 765px;
	border: 1px solid  #676767;
}
table.DtTable1030 {
	margin: 0 0 0 0;
	width: 1032px;
	border: 1px solid  #676767;
}
table.GtTable700 {
	margin: 0 0 0 0;
	width: 700px;
	border: 1px solid  #676767;
}
table.GtTable900 {
	margin: 0 0 0 0;
	width: 900px;
	border: 1px solid  #676767;
}
table.GtTable850 {
	margin: 0 0 0 0;
	width: 850px;
	border: 1px solid  #676767;
}
table.GtTable400 {
	margin: 0 0 0 0;
	width: 400px;
	border: 1px solid  #676767;
}
table.GtTable680 {
	margin: 0 0 0 0;
	width: 680px;
	border: 1px solid  #676767;
}
.grid{
position: relative; height: 250px; width:100%; aborder: #B5CDE4;
}
/*TR.ShadeRightTableCaption{
	FONT-SIZE: 11px; 
	COLOR: #ff511e; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
	background-color: #cccccc;
}
.RightTableCaption {
	FONT-SIZE: 11px; 
	COLOR: #ff511e; 
	font-weight: bold;
	FONT-FAMILY: verdana, arial, sans-serif;
}
.RightTextBlue {
	FONT-SIZE: 11px; 
	COLOR: red; 
	FONT-FAMILY: verdana, arial, sans-serif;
}
.RightText {
	FONT-SIZE: 11px; 
	COLOR: #ff511e; 
	FONT-FAMILY: verdana, arial, sans-serif;
}*/