/* alternative styles */
table.gmits {
	width: 100%;
}

table.gmits thead tr {
	background-color: #cccccc;
	height: 25px;
}

table.gmits tr.even {
	background-color: #eeeeee;
}
/*
table.gmits td:hover {
	background-color: blue;
}
*/
table.gmits thead th {
	FONT-SIZE: 11px; 
	text-align: left;
}

table.gmits tr a,tr a:visited {
	color: blue;
}

table.gmits tr a:hover {
	text-decoration: underline;
	color: blue;
}

table.gmits th a,th a:visited {
	color: black;
}

table.gmits th a:hover {
	text-decoration: underline;
	color: black;
}

