body #ulCurrDtls {
	font-size: 11px;
}

.div-new-npi-dtls {
	height: auto;
}

#currDtls div {
	border: 1px solid #C6EFCE !important;
	background-color: #C6EFCE !important;
	color: #006100 !important;
}

#currDtls .gmFontRed {
	border: 1px solid #FFC7CE !important;
	background-color: #FFC7CE !important;
	color: #9C0006 !important;
}

.div-header-sec {
	border-bottom: 1px solid #ccc;
	
}

.div-header-sec #lblOrderId, #lblRep, #lblAccount {
	padding-left: 30%;
}

#npilookup {
	text-align: right;
	padding-right: 5%;
}

.btn-xs {
    font-size: 15px !important;
}

#lblSurgDtls {
	font-size: 13px !important;
}
