body{
    margin-left:20px;
    margin-top: 10px;
}

.modal-body-grp {
	margin-bottom: 15px;
	min-height: 250px;
}

.field-grp {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;
	vertical-align: middle;
	margin-left: 0%;
	border-bottom: 1px solid #ccc;
}

.field-grp input {
	height: 20px;
}

.modal-header-bg {
	padding-top: 7px;
	padding-bottom: 7px; 
	background-color: #3172AA;
}

#npilbl {
	color: #fff;
	font-weight: bold;
	font-size: 16px !important;
}

#npiBtn {
	background-color: transparent;
	border-color: transparent;
	border-bottom-style: none;
	border-right-style: none;
}

/* To display the auto complete values */
.ui-autocomplete{
	z-index: 9999 !important;
}

.search-container {
	display: inline-block;
}

.search-container #searchnpiNum {
	margin-right: 20px;
}

.search-container #searchsurgeonName {
	margin-left: 20px;
}

.label-grp {
	text-align: left;
}

.label-grp #lblNpiNum{
	margin-left: 17%;
}
.label-grp #lblSurgeonName{
	margin-left: 32%;
}

.lbl-curr-dtls {
 	margin-top: 2%;
}

.values-grp {
	margin-left: 5px;
}

.div-new-npi-dtls {
	border: 1px solid #ccc;
	height: 260px;
	overflow-y: auto;  
}

.history-values {
	border: 1px solid #ccc;
	height: 250px;
	overflow-y: auto; 
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.close-sm {
	cursor: pointer;
	/* font-size: 200%; */
	/* color: #aca9a9; */
	vertical-align: top;
	/* padding-bottom: 30px; */
}

.main-close {
	font-size: 250%;
	color: #fff;
	opacity: 100;
}

.main-quest {
    float: right;
    font-size: 200%;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    /* opacity: .2 */
}
.main-quest:focus,.main-quest:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}
label.main-quest {
    -webkit-appearance: none;
    padding: 0;
    padding-right: 5px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    color: #fff;
}

#currDtls {
    display: inline-block;
    margin: 0px 10px 10px 0;
    width: 48%;
    vertical-align: top;
}

li {
	/* style='list-style-type: none; vertical-align: bottom;' */
	list-style-type: none;
	vertical-align: bottom;
	padding-bottom: 1%;
	padding-top: 1%;
}

#currDtls div {
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    background-color: #EEE;
    box-shadow: 2px 2px 1px #030303;
}

#ulCurrDtls {
	margin-left: -22px;
}

#lblSurgDtls {
	margin-top: 1%;
	font-size: 11px;
	padding-bottom: 2%;
}

#lblPrevDtls {
	margin-top: 6%;
	font-size: 14px;
	padding-bottom: 2%;
}

#lblPrevSubDtls {
	margin-top: 6%;
	font-size: 10px;
	padding-bottom: 1%;
}

#preDtls div {
	display: inline-block;
	text-align: left;
}

#preNpiId {
	width: 12.5%;
	margin-left: 7%;
}

#preSurgNm {
	margin-left: 28%;
}

/* #historyDtls {
	border: 1px solid #ccc;
} */

#preDtls:nth-child(odd)  {
	background-color: #fff;
}

#preDtls:nth-child(even) {
    background-color: #E3EFFF;
}

#ulPreDtls {
	padding-left: 0px;
}

#chkbox {
	margin-left: 40px;
}

.lbl-prev-dtls {
	background-color: #AECCE8;
	padding-top: 2%;
}

.btn-add {
	font-weight: bold;
}

h4 {
	font-size: 18px !important;
}

.add-surgeon-icon {
	color: #337ab7 !important;
}
/* 
#npiBtn {
	background-color: #FFF;
	border-color: #FFF;
} */