#processing_overlay
{
	position: absolute;
	zIndex: 99999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	background-color:#ccffff;
	filter: alpha(opacity=50);
	opacity: 0.5;
	cursor:wait;
}						
#processing_container 
{
    font:bold 14px verdana;
	background: #FFF;
	position: absolute;
	border: solid 1px #00303f;
	color: #00303f; 
}
#processing_content {
	text-align: center;
	padding: 1em 1.75em;
	margin: 0em;
	vertical-align:middle;
}

/* style for toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fec107 ;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: black;
  position: absolute;
  top: 28%;
  left:-176%;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.rounds {
  border-radius: 34px;
}

.slider.rounds:before {
  border-radius: 50%;}
  
.sidebar-nav>ul>li{
	
	margin-top :-16px !important;
}
.chatonline li a span small{
	
	font-size:12px !important;
	margin-top: 4px;
}

.info-label{
	
	color:black;
}

/* align icon name to center */
.padding-right-panel {
	padding-left: 14px;
}

/* right side panel title design */
.rpanel-title{
	background :white !important;
	margin-top:1px;
	padding: 7px 5px !important;
}

/* header style for desktop view*/
 @media only screen and (min-width : 992px) {

.desktop-header{
	margin-left:20px;
}
    } 
    
/* changed the skin blue to  given blue  */ 
 
 .skin-blue .topbar
 {
   background :#3172AA !important;
 }
    
.skin-blue .page-titles .breadcrumb .breadcrumb-item.active, .skin-blue .sidebar-nav ul li a.active, .skin-blue .sidebar-nav ul li a.active i, .skin-blue .sidebar-nav ul li a:hover, .skin-blue .sidebar-nav ul li a:hover i, .skin-blue .sidebar-nav>ul>li.active>a i{
	
color :#3172AA !important;	
}

.skin-blue .left-sidebar {
    background: #edf1f5d1 !important;
}

.sidebar-nav ul li a{
	color:Black!important;
    font-size: 11px !important;
    font-weight: 500 !important;
    padding-left: 2px;
    
}

/* give space between icon and text in left sidebar */
.marginfix
{
  margin-left:10px;	
}

/* change background color for minimized left menu */
@media (min-width: 768px) {
.mini-sidebar .sidebar-nav #sidebarnav>li>ul{
	
	 background: ##edf1f5d1 !important;
}
.mini-sidebar .sidebar-nav #sidebarnav>li:hover>a{
	 background: #edf1f5d1 !important;
}
}
/* IT Rebranding--favorites*/
.sidebar-nav {
padding: 11px 0px;
}
/* style to change the rightsidebar background */

.right-sidebar{
	background: white !important;
    opacity: 5;
}
.rpanel-title{
   background:white !important;	
    font-size: 13px;
    font-weight: 600;
}
.rpanel-title span i{
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.bg-change{
    background :#3172AA !important;
}
@media (min-width: 1024px){
.page-wrapper,.footer {
    margin-left: 290px;
}
}
.sidebar-nav ul li a.active span {
    background-color: #ffb951b5;
    border: 1px solid #ffb951b5;
    padding: 2px;
    color: black;
}
.toggleoff {
    color: black;
    position: absolute;
    top: 38%;
    left: -152%;
    /* left: -154%; */
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@media (min-width: 768px) {
.mini-sidebar .sidebar-nav {     
	 position: fixed;  
	}
}
.frame {
  border-radius: 4px;
  padding: 5px !important;
  width: 70px;
  height: 98px
}
.frame:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}