body{
    margin-left:20px;
    margin-top: 10px;
} 

/* Dynamic filter style for base part , private part , Column filter  */
#currBasePartDtls,#currPrivatePartDtls {
	display: inline-block;
	margin: 0px 10px 0px 0px;
	vertical-align: top;
}

#currBasePartDtls div,#currPrivatePartDtls div
	{
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 2px 5px 2px 5px;
	background-color: #EEE;
	box-shadow: 2px 2px 1px #030303;
}
/*To give back ground colour for Load number Dynamic filter  */
#currBasePartDtls div {
	background-color: #eee7f8;
}

#currPrivatePartDtls div {
	background-color: #e1effa;
}

li {
	list-style-type: none;
	vertical-align: bottom;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}

.hdrcell select {
	font-weight: normal;
}

.hdrcell input {
	font-weight: normal;
}