html {height: 100%;}

@font-face {font-family: 'Texta';font-style: normal;src: local('Texta'),url('/fonts/Latinotype-Texta-Regular.woff') format('woff');unicode-range: U+000-5FF;}

body{margin:0; padding: 0; font: 15px Texta, Arial, Helvetica, sans-serif;height: 100%}
.main-container{width: 100%;background-image: url("../images/GlobusOne_Home_Background.png"); height: 100%;}
.container{width: 1100px; margin: 0 auto; height: 98%;}
.login-container{bottom: 0;left: 0;margin: auto;position: absolute;top: 0;right: 0;width:400px;height:405px;}
.login-container .sub-container{width: 100%;height:100%;}
.login-container form{margin: 0 auto; padding: 0 5% 15px;box-sizing: border-box; position: relative; border-radius: 5px; background-image: url("../images/GlobusOne_Login_Background.jpg");}
.login-container input[type=text], .login-container input[type=password] { padding: 10px 20px;  display: inline-block;  border: 1px solid #ccc;  box-sizing: border-box;   border-radius: 10px; width: 94%;}
.login-container .innerdiv{text-align: left; width: 100%; padding-bottom: 15px;padding-left:12px;}
.loginButton{text-align: center;padding-bottom: 15px;padding-top: 5px;}
.loginButton button{background-color: #0F5298; color: #FFFFFF; padding: 5px 20px; border: none; cursor: pointer; border-radius: 5px;}
.imgcontainer{height: 95px;}
.imgcontainer img{padding-top: 15px;}
.imgcontainer .metainfo{display: none;}
.imgcontainer .metainfo-show{padding-left: 12px;display: inline-block;}
.imgcontainer .metainfo-show span{font: 12px Texta, Arial, Helvetica, sans-serif;padding-left: 3px;color: grey;}
.loginContent label{padding:  0 3px 5px; display: inline-block;}
.loginContent .error_show{padding-top: 3px; display: block; text-align: right; color: #bb0a1e;padding-right: 20px;}
.forgotLink{text-align: center; padding-bottom: 15px; display: block;font-size: 14px;}
.login-container .footer{padding: 5px 0 5px;color: grey;font: 14px Texta, Arial;text-align: left;margin:0 auto;}
.error { display: none;}
a {text-decoration: underline;color: #0F5298;cursor: pointer;}
.loginContent{padding-top: 10px;}
.error-msg {height: 45px;}
@media only screen and (max-width: 1025px){
    .container{width: 100%;}
    .imgcontainer .metainfo-show span{font-size: 11px;}
}
@media only screen and (max-width: 1000px){
    .login-container input[type=text], .login-container input[type=password] {padding: 3% 20px;display: inline-block;border: 1px solid #ccc;box-sizing: border-box;border-radius: 10px; width: 94%;}
    .login-container{width: 870px;height: 865px;}
    .login-container form{width: 80%;padding: 0 3% 15px;height: auto;}
    .imgcontainer{height: 240px;}
    .loginContent{font-size: 30px;padding-right: 10%;}
    .login-container .innerdiv{height:25%;}
    .error-msg {height: auto;}
    .login-container input[type=text], .login-container input[type=password] {padding: 3% 20px;font-size: 30px;width:98%;}
    #show-msg{height: 160px;}
    .loginButton{padding-top:0;}
    .loginButton button {margin-top: 5%;font-size: 30px;padding: 15px 30px;}
    .forgotLink{font-size: 25px;}
    .imgcontainer img {padding-top: 45px; width: 95%;}
    .imgcontainer .metainfo-show span {font-size: 27px;}
    .login-container .footer {font-size: 30px;width: 80%;}
    .imgcontainer .metainfo-show {padding-left: 0;padding-top: 1%;}
    .login-container .sub-container {height: auto;}
}
