.fontsizealigncenter { 
       font-style:italic;
        font-weight:bold;
	   text-align: center;
}
.fontsizealignleft{
		font-style:italic;
        font-weight:bold;
	    text-align: left;
}

table.DtRuleTable700 {
	margin: 0 0 0 0;
	width: 700px;
	border: 1px;
}