<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" width="120" sort="str">$msg.getProperty("VM_TYPE_ID")</column>
		<column type="ro" width="120" sort="str">$msg.getProperty("VM_TYPE_ID")</column>
		<column type="ro" width="100" sort="str">$msg.getProperty("VM_RA_ID")</column>
		<column type="ro" width="130" sort="str">$msg.getProperty("VM_ACCOUNT_DISTRIBUTOR")</column>
		<column type="ro" width="120" sort="str">$msg.getProperty("VM_REASON")</column>
		<column type="ro" width="70" sort="str">$msg.getProperty("VM_RETURNED_DATE")</column>
		<column type="ro" width="80" sort="str">$msg.getProperty("VM_CREATED_DATE")</column>
		<column type="ro" width="80" sort="str" align="center">$msg.getProperty("VM_PENDING_CREDIT")</column>
		<column type="ro" width="*" sort="str" align="center">$msg.getProperty("VM_PENDING_REPROCESS")</column>
		
	</head>
	#foreach($hmDetails in $alResult)
	<row id="$hmDetails.RAID">
		<cell></cell>
		<cell>$esc.xml($hmDetails.TYPE)</cell>
			<cell><![CDATA[<a href="#" onClick=fnViewReturns("$hmDetails.RAID")><U>$hmDetails.RAID</U></a>]]></cell>
		<cell>$esc.xml($hmDetails.ANAME)</cell>
		<cell>$esc.xml($hmDetails.REASON)</cell>
		#if($hmDetails.RDATE!=$null)
			<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.RDATE)</cell>
		#else
			<cell></cell>
		#end
		#if($hmDetails.CDATE!=$null)
			<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.CDATE)</cell>
		#else
			<cell></cell>
		#end
		#if($hmDetails.STATUS_FL=="Y")
		  <cell><![CDATA[<a style="color:red" href="javascript:fnCallReturn(\'$hmDetails.RAID\');"><U>Y</U></a>]]>Y</cell>
		#else
		  <cell>-</cell>
		#end

		#if($hmDetails.STATUS_FL=="Y")
		  <cell>-</cell>
		#else
		  <cell><![CDATA[<a style="color:red" href="javascript:fnCallEditReturn(\'$hmDetails.RAID\');"><U>Y</U></a>]]>Y</cell>
		#end
	</row>
	#end
</rows>

	