{{#each this}}
<div class="gmAlignVertical {{#if type}}div-{{actstatus}}{{/if}}">
    <ul class="gmPadding5p ul-dash-list-data ">
        {{#iffalse module "tradeshow"}}{{#iffalse module "quickreference"}}
        <a {{#iffalse module "merc"}}href="#crm/{{module}}/id/{{id}}"{{/iffalse}} class="gmFontBlack {{#if mercD}}merc-dash-link{{/if}}" {{#if mercD}} data-id="{{id}}"{{/if}}>
        {{/iffalse}}{{/iffalse}}
     
        {{#if pic}}
        <li class="gmAlignHorizontal gmVerticalTop gmPadRight10p">
            {{#if surgeon}}
            <div class = "div-sur-pic-container div-img-list " >
            <div id="div-name-container"><i class="fa fa-user default-picture" aria-hidden="true"></i></div>
            {{#if picurl}}
                  <img  src = "{{server}}{{picurl}}"  alt="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" class="gmText150" onerror="this.style.display='none'"/>
             {{/if }}
         </div>   
         {{else}}
            <div class = "div-sur-pic-container div-img-list">
            <div id="div-name-container"><i class="fa fa-user default-picture" aria-hidden="true"></i></div>
                {{#if picurl}}
                  <img  src = "{{server}}{{picurl}}"  alt="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" class="gmText150" onerror="this.style.display='none'"/>
             {{/if }}
            </div>   
            {{/if}}
        </li>

        <li class="gmAlignHorizontal gmVerticalTop li-dash-surg-name-content">
            <ul class="gmAlignHorizontal gmTextAll">
                    <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{title}}</li>
                    {{#if salescall}}
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em"><span>{{date}} &nbsp; {{AMPM actstarttime}}-{{AMPM actendtime}}</span></li>
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{products}}</li>
                    {{/if}}
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{account}}</li>
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{city}} {{state}}</li>
            </ul>
        </li>
        {{#iffalse module "tradeshow"}}{{#iffalse module "quickreference"}}
        </a>
        {{/iffalse}}{{/iffalse}}
        
        <li class="gmAlignHorizontal gmFloatRight li-surg-create-activity">
            {{#if scall}}
            <a href="#crm/salescall/id/{{id}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p"><i class="gmPad10p fa fa-comments fa-2x gmFontsalescall" aria-hidden="true"></i></a> {{/if}} 
            {{#if phy}}
            <a href="#crm/physicianvisit/id/{{id}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p"><i class="gmPad10p fa fa-user-md fa-2x gmFontphysicianvisit" aria-hidden="true"></i></a> {{/if}}
            {{#if merc}}
            <a id="dash-create-merc"  class=" gmPadRight10p " party="{{id}}" name="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}"><i class="gmPad10p fa fa-graduation-cap fa-2x gmFontmerc" aria-hidden="true"></i></a> {{/if}}
        </li>
        
        {{else}} {{#if type}}
        <a href="#crm/{{module}}/id/{{id}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmVerticalTop gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
            <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{{title}}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{acttype}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em"><span>{{date}} &nbsp; {{AMPM actstarttime}}</span></li>
            </ul>
        </a>
 		{{else}} {{#if mercD}}
           <li class="gmAlignHorizontal gmFontLGray gmVerticalTop gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
            <ul class="gmAlignHorizontal gmWidth70per gmVerticalMiddle">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{name}}</li>
                {{#iftrue fromdt todt}}
                	<li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{mtype}}, {{city}}, {{statenm}}, {{formatDate fromdt}}</li>
                {{/iftrue}}
                {{#iffalse fromdt todt}}
                	{{#if city}}
                		<li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{mtype}}, {{city}}, {{statenm}}, {{formatDate fromdt}} - {{formatDate todt}}</li>
                	{{else}}
                		<li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{mtype}}, {{statenm}}, {{formatDate fromdt}} - {{formatDate todt}}</li>
                	{{/if}}
                {{/iffalse}}                
                {{#iftrue regnid 100824}}
                	<li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{lang}}, {{opento}}</li>  
                {{/iftrue}}          
            </ul>
        {{#iftrue mstatusid 108080}}
            <li class="gmAlignHorizontal gmVerticalTop gmPadRight5p gmTextCenter li-register-btn gmVerticalMiddle"><a class="merc-event-link" href="{{link}}" target="_blank">Register</a></li>
        {{/iftrue}}
        {{else}} {{#if lead}}
        <a href="#crm/{{module}}/id/{{actid}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmVerticalTop gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
            <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{actnm}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{gendate}} &nbsp;-&nbsp; {{source}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{products}}</li>
            </ul>
        </a>
        {{else}} {{#if trainD}}
        <a href="#crm/{{module}}/id/{{id}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmVerticalTop gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
            <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{topic}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{date}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{location}}</li>
            </ul>
        </a>
        {{else}}{{#if crf}}
            <a href="#{{module}}/{{id}}" class="gmFontBlack gmTextAll gmAlignHorizontal OfflineLinkRemover gmBGPrimar{{priorityfl}}">
                <li class="gmAlignHorizontal gmFontLGray gmVerticalMiddle gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
                <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle gmVerticalMiddle">
                    <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{actnm}}</li>
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{statusnm}}</li>
                </ul>
            </a>
            <li class="gmAlignHorizontal gmFontLGray gmVerticalMiddle gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle OfflineLink hide">{{index}}</li>
            <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle gmVerticalMiddle OfflineLink hide gmBGPrimar{{priorityfl}}">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold">{{actnm}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{statusnm}}</li>
            </ul>
        {{else}}{{#if fieldsales}}
            <a href="#crm/{{module}}/list/{{id}}" class="gmFontBlack gmTextAll gmAlignHorizontal">
                <li class="gmAlignHorizontal gmFontLGray gmVerticalMiddle gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
                <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                    <li class="gmAlignHorizontal gmPaddgin3x0 gmFontBold">{{title}}</li>
                </ul>
            </a>
        {{else}}{{#if tradeshow}}
            <div class="gmFontBlack gmTextAll gmAlignHorizontal tradeDashItem">
                    <li class="gmAlignHorizontal gmFontLGray gmVerticalMiddle gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
                    <ul class="gmAlignHorizontal gmWidth70per gmVerticalMiddle">
                        <li class="gmAlignHorizontal gmPaddgin3x0 gmFontBold">{{name}}</li>
                        <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{city}},{{state}}</li>
                        <li class="gmAlignVertical gmPaddgin3x0 gmFont90em">{{fromdt}} - {{todt}}</li>
                    </ul>
                    {{#iffalse attendeecnt 0}}
                    <li class="gmAlignHorizontal gmVerticalMiddle tradeUserIcon" data-id="{{id}}" data-status="{{status}}" data-tradenm="{{name}}" data-city="{{city}}" data-state="{{state}}" data-country="{{country}}" data-startdt="{{fromdt}}" data-enddt="{{todt}}" data-wrklink="{{wrkshplink}}" data-demolink="{{demolink}}" data-notes="{{notes}}" data-acronym="{{acronym}}"><i class="fa fa-users" aria-hidden="true"></i></li>
                    {{/iffalse}}

            </div>
        {{else}}{{#if quickreference}}
            <div class="gmFontBlack gmTextAll gmAlignHorizontal refDashItem">
                <li class="gmAlignHorizontal gmFontLGray gmVerticalMiddle gmPadRight5p gmTextCenter li-index-number gmVerticalMiddle">{{index}}</li>
                    <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                        <li class="gmAlignHorizontal gmPaddgin3x0 gmFontBold"><a data-href="{{link}}">{{title}}</a></li>
                        <li class="gmAlignVertical gmPaddgin3x0 gmFont90em gmLineHeight18px">{{{subtitle}}}</li>
                    </ul>
            </div>
            {{else}}
            <ul class="gmAlignHorizontal gmWidth80per gmVerticalMiddle">
                <li class="gmAlignHorizontal gmPaddgin3x0 gmFontBold">{{title}}</li>
                <li class="gmAlignHorizontal gmPaddgin3x0 gmFont90em">{{date}}  &nbsp; {{AMPM actstarttime}}</li>
                <li class="gmAlignHorizontal gmPaddgin3x0 gmFont90em">{{address}}</li>
            </ul>
            {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}} {{/if}}{{/if}}{{/if}}
    </ul>
</div>

{{/each}}