<div id="div-dash-{{module}}" class="divModule div-dash-module-header gmMediaWidth100 {{size}} gmFloatLeft gmMediaFloatNone" data-attr="{{module}}">
    <ul class="ul-dash-module-header gmPanelHead gmBG{{module}}">
         {{#iffalse module 'surgeon'}} {{#iffalse module 'physicianvisit'}} {{#iffalse module 'salescall'}} {{#iffalse module 'preceptorship'}}
        <i class="module-content-view fa fa-angle-down fa-lg hide"></i>
        {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}}
         <a class="module-content-view">
        {{#iffalse module 'merc'}} {{#iffalse module 'surgeon'}} {{#iffalse module 'salescall'}} {{#iffalse module 'physicianvisit'}} {{#iffalse module 'preceptorship'}}{{#iffalse module 'tradeshow'}}{{#iffalse module 'quickreference'}}

        <a href="#crm/{{module}}/list" class="gmAlignHorizontal gmMediaHeight100 gmMediaWidth80 dashReportLink gmPadLeft10p">
            {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}}{{/iffalse}}
            <li class="gmAlignHorizontal">
                <div class="gmPanelTitle gmFontWhite div-dash-title">{{title}}</div>
            </li>
            {{#iffalse phy 'Y'}}  {{#iffalse module 'preceptorship'}}
            <li class="li-dash-count gmAlignHorizontal">
                <div id="div-{{module}}-db-count" class="gmPadLeft10p gmFontWhite div-dash-count"></div>
            </li>
            {{/iffalse}} {{/iffalse}}
        {{#iffalse module 'merc'}} {{#iffalse module 'surgeon'}} {{#iffalse module 'salescall'}} {{#iffalse module 'physicianvisit'}} {{#iffalse module 'preceptorship'}}{{#iffalse module 'tradeshow'}}{{#iffalse module 'quickreference'}}    
        </a>
        {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}} {{/iffalse}}
        </a>
         {{#iffalse module 'tradeshow'}}{{#iffalse module 'merc'}}{{#iffalse module 'quickreference'}}
        <li class="gmFloatLeft li-dash-plus dash-plush-hide create-button-{{module}}" style=" visibility: hidden; ">
            <a {{#iffalse module 'preceptorship'}} href="#crm/{{module}}/id/0" {{/iffalse}} {{#iftrue module 'preceptorship'}}  href="#crm/{{module}}" {{/iftrue}}>
                <div class="div-dash-plus gmFontWhite">+</div>
            </a>
        </li>
          
        <li class="gmFloatRight">
            <ul>
                <li class="gmAlignHorizontal i-dash-new hide gmPadRight10p btn-create-{{module}}">
                    <a href="#crm/{{module}}/id/0" class="fa-2x gmFontWhite gmPad10p">+</a>
                </li>
                <li class="li-link gmAlignHorizontal">
                    <div class="btn-dash-lnk"><a href="#crm/{{module}}/list"><i class="fa fa-external-link fa-2x gmFontWhite"></i></a></div>
                </li>
            </ul>
         </li>
	{{/iffalse}}
	{{/iffalse}}
	{{/iffalse}}
    </ul>
    {{#if phy}}
    <div id="div-dash-phy-header">
        <div id="div-phy-upc" class="gmFontWhite gmBGDarkerGrey">Upcoming<span></span></div>
        <div id="div-phy-req" class="gmFontBlack gmBGLGrey">Requested<span></span></div>
    </div>
    {{/if}}
     {{#iftrue module 'preceptorship'}}
     <div id="div-dash-ps-header" class="gmPSContent reportCase" style="display:none;">
                    <div id="upcoming-host-case" class="gmReportSec gmAlignHorizontal gmBGDarkerGrey gmFontWhite">
                        <div class="gmFontBold gmTextLeft">Upcoming Case</div>
                        <div class="gmCaseBox countContent gmFontBold"><span id="span-ps-host-upc-count"></span></div>
                    </div>
                    <div id="open-case-request" class="gmReportSec gmAlignHorizontal">
                        <div class="gmFontBold gmTextLeft">Open Request</div>
                        <div class="gmCaseBox countContent gmFontBold"><span id="span-ps-casereq-open-count"></span></div>
                    </div>
         
                </div>
    {{/iftrue}}
    <div id="div-{{module}}-dash-content" class="div-dash-content gmPad50">
        <div id="div-{{module}}-dash-data-content" class="divList div-dash-data-content"></div>
    </div>
</div>
