<div class="new-kit {{#if kitid}}edit-kit{{/if}}">
    <input id="sk-hkitnmvalid" type="hidden" name="validkitnm" class="hdnInput" value="">
    <input id="sk-hsetdesc" type="hidden" VO="arrkitsetvo" name="setdesc" class="hdnInput" setid="" tagid="">

    <input id="sk-hpartdesc" type="hidden" VO="arrkitpartvo" name="partdesc" class="hdnInput" partnum="">
    <input id="sk-hpartqty" type="hidden" VO="arrkitpartvo" name="qty" class="hdnInput" partnum="">

    <div class=" div-kit-container gmMarginTop10p">

        <ul class="gmMarginBottom10p ulKitNmIDMain gmAlignHorizontal gmTextAll">
            <li class="liKitIdMain gmAlignHorizontal">
                <ul class="gmMarginBottom10p ulKitId">
                    <li class="searchKitLbls gmAlignHorizontal gmMarginBottom5p gmMarginRight5p gmVerticalMiddle">{{lblNm "kit_id"}}:</li>
                    <li class="gmAlignHorizontal gmVerticalMiddle">
                        <div id="div-kit-id" class="gmAlignHorizontal">{{kitid}}</div>

                    </li>
                </ul>
            </li>
            <li class="liKitNmMain gmAlignHorizontal gmFloatLeft">
                <ul class="ulKitNm">
                    <li class="searchKitLbls gmMarginBottom5p gmAlignHorizontal gmMarginRight5p gmVerticalMiddle">{{lblNm "kit_name"}}: </li>
                    <li class="searchKitInput gmAlignHorizontal gmVerticalMiddle">
                        <div id="div-new-kit" class="gmAlignHorizontal gmTextAll"><input type="text" class="newKitInput kitInput gmAlignHorizontal" placeholder="{{lblNm "enter_kit_name"}}" name="kitnm" validate="required" message="{{lblNm "pls_enter_kit_name"}}" maxlength="50" value="{{kitnm}}"><span class="validateImg"><img id="img-success" class="hide" src="globusMobileApp/image/icon/ios/success.png" alt="" /> <img id="img-error" class="hide" src="globusMobileApp/image/icon/ios/error.png" alt="" /></span></div>
                    </li>
                </ul>
                <div class="validationMsg gmFontRed gmVisibilityHidden">{{lblNm "name_exist"}}</div>
            </li>



        </ul>
    </div>
    <ul class="">
        <li class="inventryLbl gmAlignVertical div-kit-container">{{lblNm "kit_inventory"}}</li>
        <li class="gmMarginTop10p liInvntry gmAlignVertical">
            <ul class="ulInvntryBtns gmDisplayIFlex">
                <li id="addset" class="liInvntrybtn gmAlignHorizontal selected">{{lblNm "add_sets"}}</li>
                <li id="addpart" class="liInvntrybtn gmAlignHorizontal">{{lblNm "add_parts"}}</li>
            </ul>
            <div id="set-main" class="div-kit-container gmAlignHorizontal">

            </div>
            <div id="part-main" class="div-kit-container gmAlignHorizontal hide">

            </div>

        </li>
    </ul>

    <ul class="gmMarginBottom5p gmTextCenter">
        <li>
            <div id="btn-createKit" class="btn-kit btn-bg-blue gmAlignHorizontal gmMarginTop10p">{{lblNm "create_kit"}}</div>
        </li>
    </ul>


</div>