<div id="share-kit-main">

    <ul class="ulKitNm">
        <li class="inventryLbl gmMarginBottom5p gmAlignVertical">{{lblNm "kit_name"}}</li>
        <li class="gmAlignVertical gmMarginBottom10p">
            <div class="gmAlignVertical">{{kitnm}}</div>
        </li>
    </ul>

    <ul class="ulshareSearch">
        <li class="inventryLbl gmMarginBottom5p gmAlignVertical">{{lblNm "share_with"}}</li>
        <li class="gmAlignVertical gmMarginBottom10p">
            <div id="div-search-rep" class="gmAlignHorizontal gmVerticalMiddle gmTextAll"> </div>
        </li>
    </ul>

    <ul class="ulcurrentShare">
        <li class="inventryLbl gmMarginBottom5p gmAlignVertical">{{lblNm "cur_share_with"}}</li>
        <li class="gmAlignVertical gmVerticalMiddle">
            <div id="div-currently-share" class="gmAlignHorizontal gmVerticalMiddle">
                <ul>
                    {{#each arrrepdtl}}{{#iffalse voidfl 'Y'}}
                    <li id="{{partyid}}" data-partynm="{{partynm}}" data-kitid="{{kitid}}">
                        <div class="repName gmAlignHorizontal">{{partynm}}</div> <span class="repDel gmAlignHorizontal"> x </span>
                    </li>
                    {{/iffalse}}{{/each}}

                    <!--
                    <li id="1234" data-repnm="Mitchell">
                        <div class="repName gmAlignHorizontal">Mitchell Zito</div> <span class="repDel gmAlignHorizontal"> x </span>

                    </li>

                    <li id="1234" data-repnm="Mitchell">
                        <div class="repName gmAlignHorizontal">Mitchell Zito</div> <span class="repDel gmAlignHorizontal"> x </span>

                    </li>
-->

                </ul>

            </div>
        </li>
    </ul>

    <ul class="ulShareBtn">

        <li class="gmAlignVertical gmVerticalMiddle gmTextCenter">
            <div id="btn-submitShare" class="btn-kit btn-bg-blue gmAlignHorizontal gmMarginTop10p">{{lblNm "submit"}}</div>

        </li>

    </ul>



</div>