<div class="kitMain">
    <div id="div-kit-view">

    </div>
    <div id="div-show-num-keypad"></div>
    <div id="div-detail-navigation" class="div-kit-detail-navigation">
        <a id="btn-kit-mgmt" class="btn-detail btn-detail-navigation btn-bg-grey" href="#kit"> <span>{{lblNm "kit_management_C"}}</span></a>
        <a id="btn-new-kit" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#kit/id/0"> <span>{{lblNm "surgery_kit"}}</span></a>
        <a id="btn-inactive-kitrpt" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#kit/report/inactivereport"> <span>{{lblNm "inactive_kit_report_C"}}</span></a>
        <a id="btn-case-schdlr" class="btn-detail btn-detail-navigation btn-bg-grey case-tab-hide-Y" href="#case"> <span>{{lblNm "case_scheduler"}}</span></a>

        <a id="btn-kit-link" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y"> <i class="fa fa-external-link fa-lg"></i><span>Links </span></a>
    </div>
    <div class="btn-app-link">
        <a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
        <a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
        <a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
        <a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">Event Evaluation Form</span></a>
    </div>
    <div id="overlay-back" style="display: none;"></div>

</div>