 {{#iftrue device "iphone"}}{{#each arrkitpartvo}} {{#iffalse voidfl 'Y'}}
<li id="{{partnum}}" data-kitid="{{kitid}}" class="div-part-list-item">
    <div class="li-content">
        <div class="div-part-nm gmWidth70 gmTextCenter">{{partnum}} - {{partdesc}}</div>
        <div class="div-part-qty gmWidth30 gmTextCenter">
            <span class="li-qty-textbox">
                    <a class="qty-minus" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
		            <span id="div-qty-box" value="quantity"  data-partnum={{partnum}}>{{qty}}</span>
            <a class="qty-plus" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
            </span>
        </div>
    </div>
    <div class="delete-pu-span removePart">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
</li>
{{/iffalse}}{{/each}} {{/iftrue}} {{#iftrue device "ipad"}} {{#each arrkitpartvo}} {{#iffalse voidfl 'Y'}}
<li id="{{partnum}}" data-kitid="{{kitid}}" class="div-part-list-item">
    <div id="{{partnum}}" data-kitid="{{kitid}}" class="li-content">
        <div class="div-part-del gmWidth5 gmTextCenter"><i class="fa close-item fa-minus-circle clear-row-pu"> </i></div>
        <div class="div-part-nm gmWidth25 gmTextLeft">{{partnum}}</div>
        <div class="div-part-desc gmWidth50 gmTextLeft">{{partdesc}}</div>
        <div class="div-part-qty gmWidth20 gmTextCenter">
            <span class="li-qty-textbox">
                    <a class="qty-minus" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
		            <span id="div-qty-box" value="quantity"  data-partnum={{partnum}}>{{qty}}</span>
            <a class="qty-plus" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
            </span>
        </div>

    </div>

</li>
{{/iffalse}}{{/each}} {{/iftrue}}