<div class="kit-mgmt">
    <div class="div-kit-container gmMarginTop10p">
        <ul class="gmMarginBottom10p">

            <li class="gmAlignVertical">

                <div class="inventryLbl gmMarginBottom10p gmMarginRight10p gmAlignHorizontal">{{lblNm "kit_name"}}</div>

                <div id="div-search-kit-list" class="gmAlignHorizontal gmWidth35"><input type="text" id="kitName" class="searchKitInput kitInput gmTextAll gmAlignHorizontal" placeholder="&#xF002;  {{lblNm "search_by_kit_name"}}" name="searchKit"></div>

                <div id="btn-searchKit" class="btn-kit btn-bg-blue gmAlignHorizontal">{{lblNm "search"}}</div>

                <div class="kitShare">
                    <ul class="ulSharebtns gmDisplayIFlex ">
                        <li id="mykit" class="liSharebtn gmAlignHorizontal selected">{{lblNm "my_kits"}}</li>
                        <li id="sharewme" class="liSharebtn gmAlignHorizontal">{{lblNm "shared_with_me"}}</li>
                        <li id="sharebme" class="liSharebtn gmAlignHorizontal">{{lblNm "shared_by_me"}}</li>

                    </ul>

                </div>


            </li>



        </ul>



        <div id="kitHomeMain" style="">
            <div class="div-set-list-header">
                <div class="div-kit-kitnm gmWidth45 gmTextCenter">{{lblNm "kit_name"}}</div>
                <div class="div-kit-kitnm-set gmWidth25 gmTextLeft">{{lblNm "#_sets"}}</div>
                <div class="div-kit-kitnm-part gmWidth25 gmTextLeft">{{lblNm "#_parts"}}</div>
                <div></div>
                <div class="kit-arrow gmWidth5 gmTextCenter"></div>
            </div>
            <div id="div-kit-list">

            </div>
        </div>

        <div id="kit-inactive-report" class="hide">
            <div class="div-set-list-header">
                <div class="div-kit-kitnm gmWidth60 gmTextCenter">{{lblNm "kit_name"}}</div>
                <div class="div-kit-kitnm-set gmWidth35 gmTextLeft">{{lblNm "deactivated_date"}}</div>
                <div class="kit-arrow gmWidth5 gmTextCenter"></div>

            </div>

            <div id="div-inact-list">

            </div>


        </div>
    </div>
</div>