<ul class="gmMarginBottom10p gmMarginTop10p">
    <li class="gmAlignVertical partsetLbl gmMarginBottom10p">

        <div class="inventryLbl gmAlignHorizontal gmMarginRight5p ipadKit">{{lblNm "add_parts"}}</div>
        <div id="div-part-search" class="gmAlignHorizontal"></div>
    </li>

    <li class="gmAlignVertical gmTextCenter gmMarginBottom10p gmFontBold">{{lblNm "selected_parts"}}</li>
    <li class="">
        {{#iftrue device "iphone"}}
        <div id="partListMain" style="">
            <div class="div-part-list-header">
                <div class="div-part-nm gmWidth70 gmTextCenter">{{lblNm "parts"}}</div>
                <div class="div-part-qty gmWidth30 gmTextCenter">{{lblNm "qty"}}</div>
            </div>
            <div id="div-part-list">
                <ul id="div-partlist"> </ul>
            </div>
        </div>
        {{/iftrue}} {{#iftrue device "ipad"}}
        <div id="partListMain" class="ipadKit">
            <div class="div-part-list-header">
                <div class="div-part-del gmWidth5 gmTextLeft"></div>
                <div class="div-part-nm gmWidth25 gmTextLeft"></div>
                <div class="div-part-desc gmWidth50 gmTextLeft">{{lblNm "description"}}</div>
                <div class="div-part-qty gmWidth20 gmTextCenter">{{lblNm "qty"}}</div>
            </div>
            <div id="div-part-list">
                <ul id="div-partlist"></ul>
            </div>
        </div>
        {{/iftrue}}

    </li>
</ul>