<ul class="gmMarginBottom10p gmMarginTop10p">
    <li class="gmAlignVertical partsetLbl gmMarginBottom10p">
        <div class="inventryLbl gmAlignHorizontal gmMarginRight5p ipadKit  gmTextRight gmWidth65px">{{lblNm "add_sets"}}</div>
        <div id="div-search-set" class="gmAlignHorizontal gmVerticalMiddle"> </div>
        <div class="barcode gmAlignHorizontal gmVerticalMiddle gmMarginLeft5p"><img id="img-barcode" class="gmVerticalMiddle" src="globusMobileApp/image/icon/ios/barcode.PNG" width="38px" alt="" /></div>
    </li>

<!--
    <li class="gmAlignVertical partsetLbl gmMarginBottom10p">
        <div class="inventryLbl gmAlignHorizontal gmMarginRight5p ipadKit gmWidth105px gmTextRight">Add Other Tags</div>
        <div id="div-search-tag" class="gmAlignHorizontal gmVerticalMiddle"> </div>
        <div class="barcode gmAlignHorizontal gmVerticalMiddle gmMarginLeft5p"><img id="img-barcode" class="gmVerticalMiddle" src="globusMobileApp/image/icon/ios/barcode.PNG" width="38px" alt="" /></div>
    </li>
-->

    <li class="gmAlignVertical gmTextCenter gmMarginBottom10p gmFontBold">{{lblNm "selected_sets"}}</li>
    <li class="">
        {{#iftrue device "iphone"}}
        <div id="setListMain" class="iphoneKit">
            <div class="div-set-list-header">
                <div class="div-set-tagid gmWidth30 gmTextCenter">{{lblNm "tag"}} #</div>
                <div class="div-set-setnm gmWidth70 gmTextCenter">{{lblNm "set"}}</div>
            </div>
            <div id="div-set-list">
                <ul id="div-setlist"></ul>
            </div>
        </div>
        {{/iftrue}} {{#iftrue device "ipad"}}
        <div id="setListMain" class="ipadKit">
            <div class="div-set-list-header">
                <div class="div-set-del gmWidth5 gmTextLeft"></div>
                <div class="div-set-tagid gmWidth20 gmTextLeft">{{lblNm "tag"}}Tag #</div>
                <div class="div-set-partdtls gmWidth5 gmTextLeft"></div>
                <div class="div-set-setid gmWidth20 gmTextLeft">{{lblNm "set_id"}}</div>
                <div class="div-set-setnm gmWidth50 gmTextLeft">{{lblNm "set_name"}}</div>
            </div>
            <div id="div-set-list">
                <ul id="div-setlist"></ul>
            </div>
        </div>
        {{/iftrue}}


    </li>
</ul>