<div id="kit-summary">
    <input id="sk-hpartynm" type="hidden" VO="arrrepdtl" name="partynm" class="hdnInput" partyid="">
    <div class="div-kit-container">
        <div class="gmMarginTop5p gmAlignVertical gmFloatLeft gmTextAll">
            <ul class="gmWidth50 gmAlignHorizontal gmFloatLeft">
                <li class="summaryKitLbls gmMarginBottom5p gmFontBold">{{lblNm "kit_id"}}:</li>
                <li class="summaryKitvals">{{kitid}}</li>
            </ul>
            <ul class="gmWidth50 gmAlignHorizontal gmFloatLeft iphoneRight">
                <li class="summaryKitLbls gmMarginBottom5p gmFontBold">{{lblNm "shared_by"}}:</li>
                <li class="summaryKitvals">{{sharedby}}</li>
            </ul>
        </div>
        <div class="gmMarginBottom10p gmAlignVertical gmFloatLeft gmTextAll">
            <ul class="gmWidth50 gmAlignHorizontal gmFloatLeft gmMarginTop10p">
                <li class="summaryKitLbls gmMarginBottom5p gmFontBold gmVerticalTop">{{lblNm "kit_name"}}:</li>
                <li class="summaryKitvals">{{kitnm}}</li>
            </ul>
            <ul class="gmWidth50 gmAlignHorizontal gmFloatLeft gmMarginTop10p iphoneRight">
                <li class="summaryKitLbls gmMarginBottom5p gmFontBold">{{lblNm "deactivated_date"}}:</li>
                <li class="summaryKitvals">{{formatDate deactivedate}}</li>
            </ul>
        </div>

        <div class="summaryScroll gmMarginBottom10p gmClearBoth">
            <ul class="gmMarginBottom10p">

                <li class="gmAlignVertical gmTextCenter gmMarginBottom10p gmFontBold">{{lblNm "sets_included"}}</li>
                <li class="setsInc">
                    {{#iftrue device "iphone"}}
                    <div id="setListMain" class="iphoneKit">
                        <div class="div-set-list-header">
                            <div class="div-set-tagid gmWidth30 gmTextCenter">Tag #</div>
                            <div class="div-set-setnm gmWidth70 gmTextCenter">Set</div>
                        </div>
                        <div id="div-set-list">
                            <ul id="div-setlist">
                                {{#each arrkitsetvo}}
                                <li id="{{tagid}}" class="div-set-list-item">
                                    <div class="div-set-tagid gmWidth30 gmTextCenter">{{#if tagid}}{{tagid}}{{else}} *MISSING* {{/if}}</div>
                                    <div class="div-set-setnm gmWidth70 gmTextLeft"><a class="div-set-partdtls" data-setid="{{setid}}">{{setid}}</a> - {{setdesc}} {{#if consignto}}*Consigned to {{consignto}}*{{/if}}</div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/iftrue}} {{#iftrue device "ipad"}}
                    <div id="setListMain" class="ipadKit">
                        <div class="div-set-list-header">
                            <div class="div-set-del gmWidth5 gmTextLeft"></div>
                            <div class="div-set-tagid gmWidth20 gmTextLeft">Tag #</div>
                            <div class="div-set-partdtls gmWidth5 gmTextLeft"></div>
                            <div class="div-set-setid gmWidth20 gmTextLeft">{{lblNm "set_id"}}</div>
                            <div class="div-set-setnm gmWidth50 gmTextLeft">{{lblNm "set_name"}}</div>
                        </div>
                        <div id="div-set-list">
                            <ul id="div-setlist">
                                {{#each arrkitsetvo}}
                                <li id="{{tagid}}" class="div-set-list-item">
                                    <div class="li-content">
                                        <div class="div-set-del gmWidth5 gmTextCenter"></div>
                                        <div class="div-set-tagid gmWidth20 gmTextLeft">{{#if tagid}}{{tagid}}{{else}} *MISSING* {{/if}}</div>
                                        <div class="div-set-partdtls gmWidth5 gmTextCenter" data-setid="{{setid}}"><span>P</span></div>
                                        <div class="div-set-setid gmWidth20 gmTextLeft">{{setid}}</div>
                                        <div class="div-set-setnm gmWidth50 gmTextLeft">{{setdesc}} {{#if consignto}}*Consigned to {{consignto}}*{{/if}}</div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                    {{/iftrue}}
                </li>
            </ul>


            <ul class="gmMarginBottom10p">

                <li class="gmAlignVertical gmTextCenter gmMarginBottom10p gmFontBold">{{lblNm "parts_included"}}</li>
                <li class="partsInc">
                    {{#iftrue device "iphone"}}
                    <div id="partListMain" class="iphoneKit">
                        {{#if arrkitpartvo}}
                        <div class="div-part-list-header">
                            <div class="div-part-nm gmWidth70 gmTextCenter">{{lblNm "part"}}</div>
                            <div class="div-part-qty gmWidth30 gmTextCenter">{{lblNm "qty"}}</div>
                        </div>
                        <div id="div-part-list">
                            <ul id="div-partlist">
                                {{#each arrkitpartvo}}
                                <li id="{{partnum}}" class="div-part-list-item">
                                    <div class="div-part-nm gmWidth70 gmTextCenter">{{partnum}} - {{partdesc}}</div>
                                    <div class="div-part-qty gmWidth30 gmTextCenter"> {{qty}} </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        {{else}}
                        <div class="gmFontLightGrey gmFontItalic gmTextCenter">{{lblNm "no_parts_included"}}</div>
                        {{/if}}

                    </div>
                    {{/iftrue}} {{#iftrue device "ipad"}}
                    <div id="partListMain" class="ipadKit">

                        <div class="div-part-list-header">
                            <div class="div-part-del gmWidth5 gmTextLeft"></div>
                            <div class="div-part-nm gmWidth25 gmTextLeft">{{lblNm "part"}} #</div>
                            <div class="div-part-desc gmWidth50 gmTextLeft">{{lblNm "description"}}</div>
                            <div class="div-part-qty gmWidth20 gmTextCenter">{{lblNm "qty"}}</div>
                        </div>
                        <div id="div-part-list">
                            <ul id="div-partlist">
                                {{#if arrkitpartvo}} {{#each arrkitpartvo}}
                                <li id="{{partnum}}" class="div-part-list-item">
                                    <div class="div-part-del gmWidth5 gmTextCenter"></div>
                                    <div class="div-part-nm gmWidth25 gmTextLeft">{{partnum}}</div>
                                    <div class="div-part-desc gmWidth50 gmTextLeft">{{partdesc}}</div>
                                    <div class="div-part-qty gmWidth20 gmTextCenter"> {{qty}} </div>
                                </li>
                                {{/each}} {{else}}
                                <div class="gmFontLightGrey gmFontItalic gmTextCenter gmMarginTop10p">{{lblNm "no_parts_included"}}</div>
                                {{/if}}
                            </ul>
                        </div>


                    </div>
                    {{/iftrue}}


                </li>

            </ul>
            {{#iftrue activefl "Y"}}
            <ul class="gmMarginTop15p">
                <li class="inventryLbl gmMarginBottom5p gmFontBold">{{lblNm "most_recent_case"}}</li> 
				{{#if caseid}}
                <li class="gmRctKit">
				<div class="div-part-del gmWidth5 gmTextCenter gmRctCs">{{surgdt}}  {{sttm}}  {{endtm}}</div>
				<div class="div-part-del gmWidth5 gmTextCenter gmRctCs">{{accnm}}</div>
				<div class="div-part-del gmWidth5 gmTextCenter gmRctCs">{{surgnm}}</div>
				</li>
				{{else}}
				<li class="gmFontLightGrey gmFontItalicc gmRctCs gmNoRctKit"> {{lblNm "not_used_case"}}
				</li>
				{{/if}}
            </ul>
            {{/iftrue}}
        </div>
        <ul class="gmMarginBottom10p gmTextCenter">
            {{#iftrue activefl "Y"}}
            <li class="gmAlignHorizontal summary-btn">
                <div id="btn-editkit" class="btn-kit btn-bg-blue gmAlignHorizontal gmMarginTop10p">{{lblNm "edit"}}</div>
            </li>
            <li class="gmAlignHorizontal summary-btn">
                <div id="btn-deactivekit" class="btn-kit btn-bg-red gmAlignHorizontal gmMarginTop10p toggleActivate">{{lblNm "deactivate"}}</div>
            </li>
            <li class="gmAlignHorizontal summary-btn">
                <div id="btn-sharekit" class="btn-kit btn-bg-blue gmAlignHorizontal gmMarginTop10p">{{lblNm "share"}}</div>
            </li>
            {{/iftrue}} {{#iftrue activefl "N"}}
            <li class="gmAlignHorizontal summary-btn">
                <div id="btn-reactivekit" class="btn-kit btn-bg-blue gmAlignHorizontal gmMarginTop10p toggleActivate">{{lblNm "reactivate"}}</div>
            </li>
            {{/iftrue}}
        </ul>
    </div>
</div>