<ul id="ul-kitlist" class="kitReport">
    {{#each this}}
    <li id="tagid" class="div-kit-list-item" kitid="{{KITID}}">
        <div class="li-kitlist">
            <div class="div-kit-kitnm gmWidth45 gmTextCenter divcell">{{KITNAME}}</div>
            <div class="div-kit-kitnm-set gmWidth25 gmTextLeft divcell">{{KITSET}} Sets</div>
            <div class="div-kit-kitnm-part gmWidth25 gmTextLeft divcell">{{KITPART}} Parts</div>
            <div class="kit-arrow gmWidth5 gmTextCenter divcell"><i style="font-size:24px;" class="fa fa-angle-right gmFontBold"></i></div>
        </div>
    </li>
    {{/each}}
</ul>

<ul id="ul-inact-list">
    {{#each this}}
    <li id="tagid" class="div-kit-list-item" kitid="{{KITID}}">
        <div class="li-kitlist">
            <div class="div-kit-kitnm gmWidth60 gmTextCenter divcell">{{KITNM}}</div>
            <div class="div-kit-kitnm-set gmWidth35 gmTextLeft divcell">{{formatDate LSDATE}}</div>
            <div class="kit-arrow  gmWidth5 gmTextCenter divcell"><i style="font-size:24px;" class="fa fa-angle-right gmFontBold"></i></div>
        </div>
    </li>
    {{/each}}
</ul>