{{#iftrue device "iphone"}}{{#each arrkitsetvo}} {{#iffalse voidfl 'Y'}}
<li id="{{tagid}}" data-setid="{{setid}}" data-kitid="{{kitid}}" class="div-set-list-item">
    <div class="li-content">
        <div class="div-set-tagid gmWidth30 gmTextCenter">{{#if tagid}}{{tagid}}{{else}} MISSING {{/if}}</div>
        <div class="div-set-setnm gmWidth70 gmTextLeft">{{setid}} - {{setdesc}} {{#if consignto}}*Consigned to {{consignto}}*{{/if}}</div>
    </div>
    <div class="delete-pu-span removeSet">
        <a class="clear-row-pu" href="javascript:;"><span>Delete</span></a>
    </div>
</li>
{{/iffalse}} {{/each}}{{/iftrue}} {{#iftrue device "ipad"}}{{#each arrkitsetvo}} {{#iffalse voidfl 'Y'}}
<li id="{{tagid}}" data-setid="{{setid}}" data-kitid="{{kitid}}" class="div-set-list-item">
    <div id="{{tagid}}" class="li-content" data-setid="{{setid}}" data-kitid="{{kitid}}">
        <div class="div-set-del gmWidth5 gmTextCenter"><i class="fa close-item fa-minus-circle clear-row-pu"> </i></div>
        <div class="div-set-tagid gmWidth20 gmTextLeft">{{#if tagid}}{{tagid}}{{else}} MISSING {{/if}}</div>
        <div class="div-set-partdtls gmWidth5 gmTextCenter" data-setid="{{setid}}"><span>P</span></div>
        <div class="div-set-setid gmWidth20 gmTextLeft">{{setid}}</div>
        <div class="div-set-setnm gmWidth50 gmTextLeft">{{setdesc}} {{#if consignto}}*Consigned to {{consignto}}*{{/if}}</div>
    </div>
</li>
{{/iffalse}} {{/each}}{{/iftrue}}