        <div class="setgcontent-page" id="setgcreww">
            <section class="setgsection-sm" id="setgfeatures">
			    <div class="setgcontainer-fluid">
				    <div>
					    <div class="setgrow">
						    <div class="col-lg-12">
							    <div class="setgbreadcrums" ng-repeat="approach in approach">
									<div style="display: inline-block;" ng-repeat="breadcrumps in approach.breadcrumps">
										<a href="#/{{breadcrumps.link}}">{{breadcrumps.name}}</a>    
										&nbsp; {{breadcrumps.icon}}  &nbsp; 
									</div>
								</div>
							    <div class="setgtester" ng-repeat="approach in approach">
							        <div class="setghead">{{approach.header}}</div>
									<div class="setgtest"><a href="#/{{approach.approachurl1}}/{{approach.approachid1}}">{{approach.name1}}</a> {{approach.char}} <a href="#/{{approach.approachurl2}}/{{approach.approachid2}}">{{approach.name2}}</a> {{approach.char2}} <a href="#/{{approach.approachurl3}}/{{approach.approachid3}}">{{approach.name3}}</a> </div> 
									<div class="setghead">{{approach.header2}}</div>
								    <div class="setgtest"><a href="#/{{approach.approachurl4}}/{{approach.approachid4}}">{{approach.name4}}</a></div>
								</div>
							</div>
							<div class="col-lg-12">
							    <div class="setgbackbt">		
			                       <a href="" onclick="goBack()" >Back</a> | <a href="#/creofile">Home</a> 
							    </div>
						    </div>
					    </div>
				    </div>
			    </div>
		    </section>
        </div>