
<div class="colosseum-maindiv" ng-controller='ColosseumController' data-ng-init="init()">
 <div>
     <h1>COLOSSEUM<sup>TM</sup> Assembled Implant Height Guide</h1>
  <h3>Use the Assembled Implant Height Guide to determine total implant size. The Total Angulation column is the sum of the endcap angulation and the curve of the spacer (if applicable). 12x14mm and 14x16mm pre-cut spacers, heights 24mm and taller, are curved. All other spacers are straight.</h3>
    <span>Simply filter any column(s) to find the corresponding Part(s).</span>
    </div>  
<!-- features start -->
		 <div class="myGrid" ui-grid="gridOptions"></div>
<!-- features end -->
</div>
