
<div class="setgcontent-page">
<!-- features start -->
	<section class="setgsection-sm" id="setgfeature">
		<div class="setgcontainer-fluid">
			<div class="setgrow">
				<div class="col-lg-9">
					<div class="setgcreoin">
<!--                       <div class="choos-set" onclick="ChooseCreo();"><img height="30px" src="images/select.png" /> <h4>CREO Set Choose</h4></div>-->
					<h1>CREO®</h1>
					<h2>Set Ordering Guide</h2>
						<h2 style="color:#24468C">INSTRUCTIONS</h2>
						<br/>
						<h3>This guide will help you determine which CREO® sets to order for each type of procedure. </h3>
						<br/>
						
						<p>Once you’ve identified the appropriate sets, select the sets you would like to order by checking the corresponding box. Once you’ve completed your selection in the Set Ordering Guide, press the <b>Submit</b> button. You may continue to select Sets in other CREO Systems. Once finished, please click the <b>Request</b> tab in the bottom-left corner to complete your Product Loaner request.</p>
						<p>Demo sets must be requested separately by contacting the Meetings Group.</p>
						<p>You can also print set list pages from the Set Ordering Guide for future reference.</p>
					</div>
				</div>
			</div>
			<!-- end row -->
			
			<div class="setgrow">
			    <div class="setgcreoout">
					<p>Click <a href="#/approach/approach">HERE</a> to begin.</p>
				    <p>Click <a href="#/systems">HERE</a> if you know the type of procedure and just need a list of available options.</p>
				</div>
			</div> <!-- end row -->
		</div> <!-- end container-fluid -->
	</section>
<!-- features end -->
</div>