	
	
	<div class="setgcontent-page">
            <div class="content">
				<section class="setgsection-sm" style="padding-top: 100px;">
	                <div class="setgcontainer-fluid">
		                <div class="row" style="align-content: center;">
                            <div class="col-md-5">
		                    </div>
		                    <div class="col-md-2" style="text-align:center;">		 
				                <div class="dropdown" >
					                <button class="btn btn-secondary dropdown-toggle" type="button" style="background-color: #4a81d3;align:center;border-color: #4a81d3; margin: 20px 0 0; width: 145% ;margin-left: -57px;font-size:1.2em;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						                Type Of System
					                </button>
								    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left: -57px;width: 174px;font-size:1.2em;" >
										<a class="dropdown-item" style="color: #4a81d3;position: relative;left:8px" href="#/creofile">CREO</a>
                                        <a class="dropdown-item" style="color: #4a81d3;position: relative;left:8px" href="#/colosseum">COLOSSEUM</a>
<!--
										<a class="dropdown-item" style="color: #4a81d3;" href="#">System1</a>
										<a class="dropdown-item" style="color: #4a81d3;" href="#">System2</a>
-->
								    </div>
								</div>
					        </div>
			            </div>
			        </div>
			    </section>
			</div>
	    </div>
	
		
	<!-- footer start -->
	