
        <div class="setgcontent-page">
        <!-- features start -->
			<section class="setgsection-sm" id="setgfeature">
				<div class="setgcontainer-fluid">
				<div class="setgcreoin">
				<h1 align="left">SYSTEMS</h1>
					<div class="setgrow">
						<div class="col-lg-6">
							<div class="mb-4 pb-1">
								<h4 align="left">NON-THREADED</h4>
								<a href="#/creovalue/creo5degan">CREO® 5.5 Degen</a><br/>
								<a href="#/creovalue/creo5deformity">CREO® 5.5 Deformity</a><br/>
								<a href="#/creovalue/creoamp5degan">CREO AMP® 5.5 Degen</a><br/>
								<a href="#/creovalue/creoamp5deformity">CREO AMP® 5.5 Deformity</a><br/>
								<a href="#/creovalue/creo5cocrdegan">CREO® 5.5 CoCr Degen</a><br/>
								<a href="#/creovalue/creoamp5cocrdegan">CREO AMP® 5.5 CoCr</a><br/>
								<a href="#/creovalue/creo5cocrdeformity">CREO® 5.5 CoCr Deformity</a><br/>
								<a href="#/creovalue/creoamp5cocrdeformity">CREO AMP® 5.5 CoCr Deformity</a><br/>
								
								<h4 align="left">THREADED</h4>
								<a href="#/creovalue/creothdegan">CREO® Threaded Degen</a><br/>
								<a href="#/creovalue/creothdeformity">CREO® Threaded Deformity</a><br/>
								<a href="#/creovalue/creoampthdegan">CREO AMP® Threaded Degen</a><br/>
								<a href="#/creovalue/creoampthdeformity">CREO AMP® Threaded Deformity</a><br/>
<!--							<a href="#/creovalue/creothdegan6">CREO® Threaded Degen(6.0mm ROD)</a><br/>
								<a href="#/creovalue/creothdeformity6">CREO® Threaded Deformity(6.0mm ROD)</a><br/>-->
							<!--	<a href="#/creoampthdeformity6">CREO AMP® Threaded Deformity(6.0mm ROD)</a><br/> -->
								
								<h4 align="left">MCS</h4>
								<a href="#/creovalue/creomcs">CREO MCS®</a><br/>
								<a href="#/creovalue/creomcsth">CREO MCS® Threaded</a><br/>
							
							    <h4 align="left">MIS</h4>
								<a href="#/creovalue/creomis">CREO MIS® </a><br/>
								
							</div>
						</div>
						<div class="col-lg-6">
							<div class="mb-4 pb-1">
                                
                                <h4 align="left">CREO SIDE LOADING</h4>
								<a href="#/creovalue/creoside">CREO SIDE LOADING</a><br/>
                                
							    <h4 align="left">DLX</h4>
								<a href="#/creovalue/creodlxdegan">CREO DLX® Degen</a><br/>
								<!--<a href="#/creovalue/creodlxdegan6">CREO DLX® Degen (6.0 Rod)</a><br/>-->
								<a href="#/creovalue/creodlxdeformity">CREO DLX® Deformity</a><br/>
								<!--<a href="#/creovalue/creodlxdeformity6">CREO DLX® Deformity (6.0 Rod)</a><br/>-->
								
								<h4 align="left">THREADED CoCr</h4>
								<a href="#/creovalue/creothcocrdegan">CREO® Threaded CoCr Degen</a><br/>
								<a href="#/creovalue/creothcocrdeformity">CREO® Threaded CoCr Deformity</a><br/>
								<a href="#/creovalue/creoampthcocrdegan">CREO AMP® Threaded CoCr Degen</a><br/>
								<a href="#/creovalue/creoampthcocrdeformity">CREO AMP® Threaded CoCr Deformity</a><br/>
								
						        <h4 align="left">THREADED CoCr 4.75</h4>
								<a href="#/creovalue/creothcocr4degan">CREO® 4.75 Threaded CoCr Degen</a><br/>
								<a href="#/creovalue/creothcocr4deformity">CREO 4.75 Threaded CoCr Deformity</a><br/>
								<a href="#/creovalue/creoampthcocr4degan">CREO AMP® 4.75 Threaded CoCr Degen</a><br/>
								<a href="#/creovalue/creoampthcocr4deformity">CREO AMP® 4.75 Threaded CoCr Deformity</a><br/>
								
								<h4 align="left">FENESTRATED</h4>
								<a href="#/creovalue/creofensmis">CREO® Fenestrated MIS</a><br/>
								<a href="#/creovalue/creofenestt">CREO® Fenestrated Threaded</a><br/>
								<!--<a href="#/creovalue/creofens5">CREO® Fenestrated Non-Threaded</a><br/>-->
								<a href="#/creovalue/creofens5">CREO® Fenestrated 5.5</a><br/>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="setgbackbt1">		
							   <a href="" onclick="goBack()" >Back</a> | <a href="#/creofile">Home</a> 
							</div>
						</div>
					</div>
					<!-- end row -->
					 <!-- end row -->
				</div> 	 <!-- end row -->
				</div> <!-- end container-fluid -->
			</section>
        <!-- features end -->
        </div>

        <!-- footer start -->
     