<div id ="div-item-fromdate" class="div-item-date">
	<span> {{caption1}} </span> 
	<input type="text" id="txt-input-item-fromdate" name="from"/>
	<input type="date" id="input-item-fromdate" class="dte-picker hide"/>
	<i class="fa fa-calendar"></i>
</div>
<div id ="div-item-todate" class="div-item-date"> 
	<span> {{caption2}} </span> 
	<input type="text" id="txt-input-item-todate" name="to"/>
	<input type="date" id="input-item-todate" class="dte-picker hide"  min="2013-01-02"/>
	<i class="fa fa-calendar"></i>
</div>