<div class="div-dropdown-main {{Class}}">
	<div class="div-arrow-dropdown">
		<i class="fa fa-caret-right fa-2x"></i>
	</div>
	<div class="div-dropdown-text">
	</div>
</div>
<div class="div-dropdown-list" class="panel">
	<ul> </ul>
</div>