<div id="div-header">
    <div id="div-header-title">
        <div id="div-app-title" class="gmFontWhite">

            <div class="gmAlignHorizontal iPhone li-icon-back">
                <a href="javascript:window.history.back();" id="link-back" class="gmPad10p">
                    <i id="li-mobile-dash-back" class="fa fa-chevron-left gmFontWhite" aria-hidden="true"></i>
                </a>
                <a href="#home" id="link-home" class="hide gmPad10p">
                    <i class="fa fa-home  font-white" aria-hidden="true"></i>
                </a>
            </div>
            <div id="span-app-title" class="gmAlignHorizontal iPhone gmTextCenter gmFontWhite">
            </div>
            <div class="iPhone div-moble-menu">
                <li id="btn-mobile-header-left-icon" class="btn-mobile-menu gmAlignHorizontal">
                    <i id="button-mobile-menu" class="fa fa-bars btn-mobile-menu "></i>
                </li>
            </div>


        </div>
    </div>
    <div id="div-sub-header">
        <ul id="ul-navigation-left">
            <li>
                <div id="btn-home" class="div-btn-header-1">
                    <div class="div-lbl">{{ label.home }}</div>
                    <div class="div-img div-home"><i class="fa fa-home fa-lg font-white font-home"></i></div>
                </div>
            </li>
            <li>
                <a id="btn-back" class="div-btn-header-1">
                    <div class="div-lbl">{{ label.back }}</div>
                    <div id="img-back"><i class="fa fa-chevron-left fa-lg font-white font-back"></i></div>
                </a>
            </li>

            <li id="li-update-count" class="CRMonline">
                <i class="fa fa-cloud-download fa-lg font-white font-back gmAlignHorizontal gmFont15em"></i>
                <div class="divUpdatesNo gmAlignHorizontal hide"> &nbsp;0&nbsp; </div>
            </li>

            <li id="li-LocalDB" class="gmPad10p hide">
                <i class="fa fa-database gmFontWhite gmAlignHorizontal gmFont15em"></i>
            </li>
            <li id="li-pending-sync" class="CRMoffline hide">
                <a href="#pending">
                    <i class="fa fa-cloud-upload fa-lg font-white font-back gmAlignHorizontal gmFont15em"></i>
                </a>
            </li>

        </ul>

        <i id="ipad-menu-bar" class="fa fa-bars gmFontWhite" aria-hidden="true"></i>
        <ul class="gmFloatRight iPad">
            <li class="li-ipad-user-pic gmAlignHorizontal ">
                <div id="div-name-container-iPad">

                    <i class="fa fa-user default-picture" aria-hidden="true"></i>
                </div>
                <div id="ul-header-right-pic" class="gmAlignHorizontal gmFloatLeft gmMediaMargin10p">
                    <img id="mob-menu-img" style="width: 40px;height: 40px;border-radius: 50%; ">
                </div>
            </li>

            <li class="gmMediaHeight10 iPad gmAlignHorizontal gmVerticalTop gmFontWhite gmVerticalTxtB">

                <div id="mobile-menu-top-user-name" class="mobile-menu-top-user-name gmAlignHorizontal gmMarginRight10p">
                    <div id="div-crm-userdash" class="gmAlignHorizontal gmEllipses"></div>
                </div>
            </li>
        </ul>
        <ul class="ul-language-name hide  gmFloatRight">
            <li>
                <div id="{{ label.region }}" class="div-btn-header div-btn-locale">
                    <div class="div-lbl gmAlignHorizontal">{{ label.region }}</div>
                    <div class="gmMarginTop10p gmAlignHorizontal">
<!--                        <img src="globusMobileApp/image/icon/ios/{{ label.image.region }}" alt="" />-->
                    </div>
                </div>
            </li>
        </ul>

        <ul id="ul-navigation-right" class="hide">
            <li>
                <div id="btn-close-menu-bar" class="div-btn-header">
                    <div class="div-img-close"><i class="fa fa-times fa-lg font-white font-down"></i></div>
                </div>
            </li>

            <li>
                <div id="btn-updates" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cloud-download fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{ label.updates }}</div>
                    <div id="divUpdatesNo" class="divUpdatesNo hide"> &nbsp;0&nbsp; </div>
                </div>
            </li>
            <li>
                <div id="btn-settings" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-cog fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{ label.settings }}</div>

                </div>
            </li>
            <li>
                <div id="btn-logout" class="div-btn-header">
                    <div class="div-img"><i class="fa fa-power-off fa-lg font-white font-down"></i></div>
                    <div class="div-lbl">{{ label.logout }}</div>

                </div>
            </li>
        </ul>
    </div>
    <div id="div-crm-overlay" class="div-overlay"></div>

    <div id="div-crm-overlay-content-main" class="div-overlay">
        <div id="div-crm-overlay-content-container" class="div-crm-overlay-content-container hide">
            <ul class="gmBorderRadius3p">
                <li class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg gmFontBlack fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title"></h4>
                </li>
                <li class="modal-body">
                </li>
                <li class="modal-footer">
                    <!--                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite close-modal" data-dismiss="modal">Close</button>-->
                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite save-model hide" data-dismiss="modal">Save</button>
                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite done-model hide" data-dismiss="modal">Done</button>
                    <!--                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite load-model" data-dismiss="modal">Load</button>-->
                </li>
            </ul>
        </div>
        <div id="div-crm-overlay-content-container2" class="div-crm-overlay-content-container hide">
            <div class="modal fade" id="popup-model" role="dialog" style="display: inline-block; opacity: 1; top: 15%">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"></h4>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="gmBtn gmFont15px load-model">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="div-crm-overlay-content-container3" class="div-crm-overlay-content-container hide">
            <ul class="gmBorderRadius3p">
                <li class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg gmFontBlack fa-times" aria-hidden="true"></i></button>
                    <h4 class="modal-title"></h4>
                </li>
                <li class="modal-body">
                </li>
                <li class="modal-footer">
                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite select-model hide" data-dismiss="modal">Select</button>
                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite save-model hide" data-dismiss="modal">Done</button>
                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite addnew-model hide" data-dismiss="modal">Add New</button>
                    <!--                    <button type="button" class="gmBtn gmFont15px gmBGDarkGrey gmFontWhite clear-model hide" data-dismiss="modal">Clear</button>-->
                </li>
            </ul>
        </div>
        <div id="div-crm-overlay-content-container4" class="div-crm-overlay-content-container hide">
            <ul class="gmBorderRadius3p">

                <li class="modal-body modal-body-repinfo ">

                </li>

            </ul>
        </div>

    </div>
</div>

<div id="div-alert-messagebar" class="gmAlignVertical">
    <div class="alert alert-dismissible hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>

<div id="div-main">
</div>

<div id="div-locale" class="div-main-locale">
</div>

<div id="div-updates">
</div>

<div id="div-image-viewer-background">

</div>

<div id="div-setlist-viewer-background">

</div>

<div id="msg-overlay">
    <div id="div-popup">
    </div>
    <div class="div-pricing-overlay"></div>
</div>

<div id="div-splash-container" class="container">
    <div id="splash-slides" class="div-splash-slides">
    </div>
    <div class="div-splash-menu-container">
        <div id="div-splash-backward" class="btn-splash-navigation">&lt;&lt;</div>
        <div class="btn-splash-accept btn-splash btn-blue btn-navigation-120">Accept</div>
        <div class="btn-splash-learn btn-splash btn-blue btn-navigation-120">Learn More</div>
        <div id="div-splash-forward" class="btn-splash-navigation">&gt;&gt;</div>
    </div>
</div>

<div id="div-main-loader">
    <div id="div-loader-content">
        <span id="spn-loader-content">
            <img class="img-loader-spinner" src="image/icon/ios/spinner.gif"/>
            <span id="loader-text">Loading...</span>
        </span>
    </div>
</div>


<div id="div-footer" class="hide">
    <div id="btn-settings" class="div-btn-header div-settings-open gmFloatLeft iPhone">
        <div class="div-lbl">Settings</div>
        <div class="div-img"><i class="fa fa-cog fa-lg font-white font-down"></i></div>
    </div>
    <div id="btn-logout" class="div-btn-header gmFloatRight iPhone">
        <div class="div-lbl">Logout</div>
        <div class="div-img"><i class="fa fa-power-off fa-lg font-white font-down"></i></div>
    </div>



</div>
<div id="div-LocalDB" class="hide">
</div>
