<div id="div-sale-keyword-detail" class="div-saleitemlist-search">
	<input id="txt-saleitemlist-search" type="text" placeholder="Search ..." />
</div>
<div id="div-saleitemlist-detail-search-x" class="div-saleitemlist-search">
	x
</div>
<div id="div-saleitemlist-column">	
</div>
<div id="div-saleitemlist">
</div>