<div id="div-common-setlist-main">
	<div id="div-common-setlist-header">
		<div>Set Details</div>
		<div id="div-common-setlist-close"><div id="div-common-setlist-close-icon"> X </div></div>
	</div>
	<div id="div-common-setlist-tagid"><span id="span-common-setlist-tagid">TagID</span><input type="text" id="txt-common-setlist-tagid"><i class="fa fa-barcode fa-lg"></i><span id="span-common-setlist-load">Load</span></div>
	<div id="div-common-setlist-content-main">
		<div id="div-common-setlist-details">
			<div id="div-common-setlist-details-set"><span class="span-common-setlist-details-header">Set:</span><span id="span-common-setlist-details-setid"></span><span  id="span-common-setlist-details-setname"></div>
			<div id="div-common-setlist-details-settype"><span class="span-common-setlist-details-header">Type:</span><span  id="span-common-setlist-details-settype"></span></div>
		</div>
		<div id="div-itemlist-count"> Count of <span id="span-view-type"></span>:<span id="spn-itemlist-count" class="span-count"></span></div>
		<div id="div-search-count"> Retrieved count:<span id="span-search-count"></span></div>
		<div id="div-common-setlist-content"></div>
	</div>
	<div id="div-common-setlist-buttons">
		<div id="div-common-setlist-fax">Fax</div>
		<div id="div-common-setlist-email">Email</div>
	</div>
</div>

<div id="div-common-setlist-keypad"></div>
<div id="overlay-back"></div>
<div class="div-common-page-loader"></div>

