<li class="gmMediaHeight10 iPhone gmTextAll">
    <div id="mobile-menu-top-user" class=" gmAlignHorizontal gmFloatLeft gmMediaMargin10p gmMediaWidth20">
        <img id="mob-menu-img" style="width: 50px;height: 50px;border-radius: 50px;" onerror="this.style.display='none'">
    </div>
    <div id="mobile-menu-top-user-name" class="mobile-menu-top-user-name gmAlignHorizontal">
        <div id="div-crm-userdash" class="gmAlignHorizontal gmEllipses"></div>
    </div>
    <div id="mobile-menu-bar-close"><i class="fa fa-times fa-lg font-white font-down"></i></div>


</li>
<a href="#home" class="gmTab" id="link-home-main">
    <span class="fa-stack fa-lg gmTextCenter">
      <i class="fa fa-home fa-lg font-white"></i>
    </span> Home
</a>


{{#each this}}
{{#iffalse module 'tradeshow'}}
<a href="#crm/{{taburl}}" id="{{module}}" class="gmTab" color="{{tabcolor}}" updateAcc="{{updateAcc}}" voidacc="{{voidAcc}}" module="{{module}}" title="{{title}}">
    <span class="fa-stack fa-lg" style="{{css}}">
        {{#icon}}
      <i class="fa {{this}} fa-stack-{{math @index "+" 1}}x"></i>
        {{/icon}}
    </span>
    {{tabcaption}}
</a>
{{/iffalse}}
{{/each}}
<a href="#settings" class="gmTab" id="crm-tab-settings">
    <span class="fa-stack fa-lg gmTextCenter">
        <i class="fa fa-cog fa-lg font-white "></i>
    </span> Settings
</a>
<a class="gmTab " id="btn-logout-menu">
    <span class="fa-stack fa-lg gmTextCenter" style="{{css}}">
     <i class="fa fa-power-off fa-lg font-white font-down"></i>
    </span> Logout
</a>
