<div id="div-crm-module-main-content">
    <div id="div-module-main">
        <!-- Each Module's Main Container Template -->
        <div class="div-moble-header">
            <ul class="gmPanelHead gmBG{{module}}">
                <li id="panelhead-left" class="gmAlignHorizontal">
                    <ul>
                        <li class="gmIconBack gmFont15em gmAlignHorizontal gmVerticalTop">
                            <a href="javascript:window.history.back();">
                                <div id="crm-btn-back"><i class="fa fa-angle-left fa-bold gmMarginLeft5p gmPadRight10p gmFontWhite gmTextTop"></i></div>
                            </a>
                        </li>
                        {{#if firstnm}}

                        <li class="gmAlignHorizontal li-crm-module-phone-pic iPhone hide">
                            <div id="div-{{module}}-phone-profile" class="gmAlignHorizontal div-module-phone-profile gmBGBlue ">

                                <div id="mobile-sur-det-header">
                                    <i class="fa fa-user default-picture" aria-hidden="true"></i>
                                    <!--                   <h5 id="h5firstname">{{firstnm}}</h5><h5 id="h5lastname">{{lastnm}}</h5>-->
                                </div>

                                <div> <img id="phone-det-header" class="img-phone-pic" src="{{server}}{{picurl}}" onerror="this.style.display='none'">
                                </div>
                            </div>
                        </li>
                        {{/if}}
                        <li class="gmMediaVerticalTop gmAlignHorizontal">
                            <div id="div-crm-panel-title" class="gmPanelTitle gmEllipses gmFont16px gmFontWhite gmText500"></div>
                        </li>
                    </ul>
                </li>
                <li class="gmFloatRight">
                    <ul class="gmBtnGroup">
                        <li id="li-report" class="hide">
                            <div id="btn-main-report" class="gmFontWhite cursorPointer"><span>Reports</span> <i class="fa fa-lg gmMarginLeft5p fa-bars" aria-hidden="true"></i></div>
                            <ul class="dropdown pSDropdown">
                                <li id="upcmgHostCases"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Upcoming Host Cases</li>
                                <li id="openHostCases"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Open Host Cases</li>
                                <li id="openCaseRequests"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Open Case Requests</li>
                                <li id="upcmgHCDetails" class="hide"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Upcoming Host Cases Details</li>
                                <li id="allHCDetails" class="hide"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>All Host Cases Details</li>
                                <li id="allCRDetails" class="hide"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>All Case Request Details</li>
                            </ul>
                        </li>
                        <li id="li-schedule" class="hide">
                            <div id="btn-main-schedule" class="gmFontWhite cursorPointer"><span>Schedule</span> <i class="fa fa-lg gmMarginLeft5p fa-calendar" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-tradeshow" class="hide">
                            <a href="#crm/tradeshow">
                                <div id="btn-main-tradeshow" class="gmFontWhite cursorPointer"><span>Tradeshow</span><i class="fa fa-lg fa-desktop gmMarginLeft5p" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li id="li-create" class="hide ">
                            <div id="btn-main-create" class="gmFontWhite cursorPointer"><span>Create</span> <i class="fa fa-lg gmMarginLeft5p fa-plus" aria-hidden="true"></i></div>

                            <ul class="dropdown pSDropdown">
                                <li id="createHostCase"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Create Host Case</li>
                                <li id="createCaseRequest"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Create Case Request</li>

                            </ul>
                        </li>
                        <li id="li-clone" class="hide">
                            <div id="btn-main-clone" class="gmFontWhite cursorPointer"><span>Clone</span> <i class="fa fa-lg gmMarginLeft5p fa-clone" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-edit" class="hide">
                            <div id="btn-main-edit" class="gmFontWhite cursorPointer"><span>Edit</span> <i class="fa fa-lg gmMarginLeft5p fa-pencil" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-void" class="hide">
                            <div id="btn-main-void" class="gmFontWhite cursorPointer"><span>Void</span> <i class="fa fa-lg gmMarginLeft5p fa-trash" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-save" class="hide">
                            <div id="btn-main-save" class="gmFontWhite cursorPointer"><span>Save</span> <i class="fa fa-lg gmMarginLeft5p fa-floppy-o" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-cancel" class="hide">
                            <div id="btn-main-cancel" class="gmFontWhite cursorPointer"><span>Cancel</span> <i class="fa fa-lg gmMarginLeft5p fa-times" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-close" class="hide">
                            <div id="btn-main-close" class="gmFontWhite cursorPointer"><span>Close</span> <i class="fa fa-lg gmMarginLeft5p fa-times" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-upload" class="hide">
                            <div id="btn-main-upload" class="gmFontWhite cursorPointer"><span>Upload</span> <i class="fa fa-lg gmMarginLeft5p fa-upload" aria-hidden="true"></i></div>
                        </li>
                        <li id="li-spinner" class="hide">
                            <div id="btn-main-spinner" class="gmFontWhite cursorPointer"><img style="width: 25px;" src="image/icon/ios/spinner.gif" /></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="gmPanelContent">
            <div class="div-category-items gmBorderRadius3p"></div>
            <div id="div-main-content" class="gmMediaWidth100"></div>
        </div>
    </div>
</div>
