<div id="div-alert-messagebar" class="gmAlignVertical">
    <div class="alert alert-dismissible hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>

<div id="div-crm-main-view">
    <div id="div-crm-tab"></div>
    <div id="div-crm-module"></div>
</div>


<div id="div-crm-overlay" class="div-overlay"></div>

<div id="div-crm-overlay-content-main" class="div-overlay">
    <div id="div-crm-overlay-content-container" class="div-crm-overlay-content-container hide">
        <ul>
            <li class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg gmFontBlack fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title"></h4>
                <div id="div-crm-overlay-msg" class="hide gmFontWhite gmPadding5p gmMarginTop10p"></div>
            </li>
            <li class="modal-body">
            </li>
            <li class="modal-footer">
                <button type="button" class="gmBtn hideDefaultBtn gmBGRed gmFontWhite cancel-model hide" data-dismiss="modal">Cancel</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite clear-model hide">Clear All</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite reset-model hide" data-dismiss="modal">Reset</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkBlue gmFontWhite submit-model hide" data-dismiss="modal">Submit</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite save-model hide" data-dismiss="modal">Save</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite done-model hide" data-dismiss="modal">Done</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkBlue gmFontWhite yes-model hide gmText75" data-dismiss="modal">Yes</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGRed gmFontWhite no-model hide gmText75" data-dismiss="modal">No</button>
                <button type="button" class="gmBtn gmBGDarkGrey gmFontWhite load-model" data-dismiss="modal">Load</button>
            </li>
        </ul>
    </div>
    <div id="div-crm-overlay-content-container2" class="div-crm-overlay-content-container hide">
        <div class="modal fade" id="popup-model" role="dialog" style="display: inline-block; opacity: 1; top: 15%">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"></h4>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="gmBtn load-model">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="div-crm-overlay-content-container3" class="div-crm-overlay-content-container hide">
        <ul>
            <li class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-lg gmFontBlack fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title"></h4>
            </li>
            <li class="modal-body">
            </li>
            <li class="modal-footer">
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite select-model hide" data-dismiss="modal">Select</button>
                <!--                <button type="button" class="gmBtn  gmBGDarkGrey gmFontWhite close-modal" data-dismiss="modal">Close</button>-->
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite save-model hide" data-dismiss="modal">Save</button>
                <button type="button" class="gmBtn hideDefaultBtn gmBGDarkGrey gmFontWhite addnew-model hide" data-dismiss="modal">Add New</button>
                <!--                <button type="button" class="gmBtn  gmBGDarkGrey gmFontWhite clear-model hide" data-dismiss="modal">Clear</button>-->

            </li>
        </ul>
    </div>
    <div id="div-crm-overlay-content-container4" class="div-crm-overlay-content-container hide">
        <ul>

            <li class="modal-body modal-body-repinfo ">

            </li>

        </ul>
    </div>

</div>
