<div id="div-new-surgeon-content">
    <ul class="gmMediaWidth100">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaWidth100 gmFontBold">NPI</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 li-popup-npid-create">
            <input type="number" id="input-new-surgeon-npid" class="gmWidth180m  gmInputText input-number-validation" value="" name="npid" placeholder="NPI" maxlength="10">
            <img id = "img-npid-spinner" class="hide" src="globusMobileApp/image/icon/ios/spinner.gif">
        </li>
    </ul>
    <ul class="gmMediaWidth100">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaWidth100 gmFontBold">* NAME</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-firstnm" class="gmWidth180m  gmInputText" value="" name="firstnm" placeholder="First Name *">
            <input type="text" id="input-new-surgeon-midinitial" class="gmInputText gmTextCenter" value="" maxlength="1" name="midinitial" placeholder="M.I">
            <input type="text" id="input-new-surgeon-lastnm" class="gmWidth180m  gmInputText" value="" name="lastnm" placeholder="Last Name *">
        </li>
    </ul>
    <ul class="gmMediaWidth100">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaWidth100 gmFontBold">PHONE</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-phone" class="gmWidth180m  gmInputText input-phonenumber-validation" value="" name="convalue" placeholder="Phone " conmode = "90450" contype = "" VO="arrgmsurgeoncontactsvo" maxlength="25">
        </li>
        <li id="surgeon-label-email" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaWidth100 gmFontBold">EMAIL</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-email" class="gmWidth180m  gmInputText" value="" name="convalue" placeholder="Email " conmode = "90452" contype = "" VO="arrgmsurgeoncontactsvo">
        </li>
    </ul>
<hr>
    <ul class="gmMediaWidth100">
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">ADDRESS 1</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-add1" class="gmInputText gmWidth180m" name="add1" value="{{add1}}" VO="arrgmcrmaddressvo">
        </li>
        
        <li id="surgeon-label-address-two" class="gmSectionCaption gmAlignHorizontal gmFontBold li-address-label">ADDRESS 2</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-add2" class="gmInputText gmWidth180m" name="add2" value="{{add1}}" VO="arrgmcrmaddressvo">
        </li>
    </ul>
    <ul>
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">CITY</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-city" class="gmInputText gmWidth180m" name="city" value="{{city}}" VO="arrgmcrmaddressvo">
        </li>
        <li id="surgeon-label-zip" class="gmSectionCaption gmAlignHorizontal gmFontBold li-newsurgeon-zip">ZIP</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="input-new-surgeon-zip" class="gmInputText gmWidth180m" value="{{zip}}" name="zip" VO="arrgmcrmaddressvo">
        </li>
    </ul>
    <ul class="gmMediaWidth100">
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">STATE</li>
        <li class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-state gmInputText" data-value="{{stateid}}" value="{{stateid}}" VO="arrgmcrmaddressvo" name="stateid">

                </select>
            </label>

        </li>
    </ul>
    <ul class="gmMediaWidth100">
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">COUNTRY</li>
        <li class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <label class="selectbox-icon">
                <select class="select-address-country gmInputText" data-value="{{countryid}}" value="{{countryid}}" VO="arrgmcrmaddressvo" name="countryid">

                </select>
            </label>

        </li>
    </ul>
    <ul class="gmMediaWidth100">
        <li class="gmSectionCaption gmAlignHorizontal gmFontBold">* COMPANY</li>
        <li class="gmSectionValue gmMediaWidth100 gmAlignHorizontal">
            <div id="surg-company-dropdown">
            </div>
        </li>
    </ul>
</div>
<div id="popup-create-surgeon-validation" class="gmFontValidation gmMarginTop10p"></div>
