{{#each this}}
	<div criteriaid="{{criteriaid}}" class="gmAlignHorizontal gmCriteria gmMediaWidth100">
		<ul class="gmAlignHorizontal gmMediaWidth100 gmBG{{criteriatyp}} gmBorderRadius3p">
			<li class="gmBtn gmBtnCr gmAlignHorizontal module-title gmCriteriaName crtText gmMediaWidth65">
				<a class="gmFontWhite" href="#crm/{{criteriatyp}}/list/{{criteriaid}}">{{criterianm}}</a>
			</li>
			<li class="gmBtn gmFontWhite gmBtnCrDelete gmBGDarkGrey gmAlignHorizontal" criteriaid="{{criteriaid}}">
				<i class='fa fa-trash gmFontWhite gmFont15em'></i>
			</li>
			<li class="gmBtn gmBtnCrEdit gmBGDarkGrey gmFontWhite gmAlignHorizontal">
				<a href="#crm/{{criteriatyp}}/filter/{{criteriaid}}" >
					<i class='fa gmFontWhite fa-pencil gmFont15em'></i>
				</a>
			</li>
		</ul>
	</div>
{{/each}}