<!-----------------------------------------------
 * File:        gmtFileUploadDialog.hbs
 * Description: To help upload files as well as list uploaded price.
 * Version:     1.0
 * Author:     	
 ------------------------------------------------>
<ul class="div-group-part-top-header">
    <li class="li-pricing-group-part-screen screenTitle" id="li-pricing-initiate-letters"></li>
    <li class="li-group-part-cancel-button">
        <div id="div-close-circle"></div>
        <a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>

</ul>
<form id="frm-file-upload" method="POST" role="form" enctype="multipart/form-data" class="data-document">
    <ul>
        <!--<li class="gmTextCenter gmLineSpaceSmlr">
            <div id="div-user-pic"><img></div>
        </li>-->
        <li class="gmTextCenter div-choose-btn"><input type="file" id="input-user-picture" src="" name="file" /><img></li>


        <li id="update-image" class="div-upload-btn">Upload</li>

    </ul>
</form>
<div class="div-group-part-pricing">
    <div class="div-group-price-top-header">
        <ul>
             <li class="li-group-price-file-upload-header" id="li-group-price-void"><div>Remove</div><div class="chk-sp"><input id="div-price-file-upld-check-main" type="checkbox" class="gmWidth10p check-btn"></div></li> 
            <li class="li-group-price-top-header" id="li-group-price-file-name">File Name</li>
            <li class="li-group-price-top-header" id="li-group-price-upload-on">Uploaded By </li>
            <li class="li-group-price-top-header" id="li-group-price-upload-by">Uploaded on</li>                       
        </ul>
    </div>
    <div class="div-upload-file-details">
        {{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">No Data Found</div>
        {{else}} {{#each this}}
        <ul class="ul-group-price-details">
            <li class="li-group-price-details" id="li-group-price-void"><input id="div-price-check-btn" type="checkbox" class="gmWidth10p check-btn"></li>
            <div class="li-group-price-details" id="li-group-price-file-name" style="color:#0000EE;">{{filename}}</div>
            <li class="li-group-price-details" id="li-group-price-upload-on">{{updatedby}}</li>
            <li class="li-group-price-details" id="li-group-price-upload-by">{{updateddate}}</li>
            

        </ul>
        {{/each}} {{/if}}
    </div>
    <div class="line"></div>
    <div id="div-price-delete-btn" class="div-delete-btn">Remove</div>
</div>
