<div id="div-crop-main">
	<img class='image_crop gmTextCenter' src="" id="cropbox-user" />
	<canvas id="preview-user" style="display:none;overflow:hidden;"></canvas>
	<div id="div-crop-bottom-user" class = "gmTextCenter gmPadding5x0p">
		<div id="div-crop-user" class="div-btn-crop gmText100 gmMediaMarginTop10 gmBGBlue gmBtn gmFontWhite gmAlignHorizontal" > <i class="fa fa-crop"></i> Crop</div>
        <div id="div-crop-cancel" class="div-btn-crop gmText100 gmBGRed gmBtn gmFontWhite gmAlignHorizontal"> Cancel</div>
	</div>
</div>