<ul id="div-sale-keyword-detail" class="gmSection div-crmitemlist-search gmTextAll">

    <li class="gmAlignHorizontal gmMarginLeft5p">
        <input id="txt-crmitemlist-search" type="text" placeholder="Search ..." class="gmInputText" />
        <div id="div-crmitemlist-detail-search-x" class="div-crmitemlist-search hide fa fa-times-circle">

        </div>
    </li>
    <div class="gmFloatRight">
        <li class="gmAlignHorizontal">
            <a id="btn-crm-list-piechart" class="gmAlignHorizontal gmPadLeft10p gmPadRight10p hide" title="Pie Chart"><i class="fa fa-pie-chart fa-2x"></i></a>
        </li>
        <li class="gmAlignHorizontal">
            <a id="btn-crmitemlist-download" target="_blank" download="CRM_CSV_Data.csv" class="gmAlignHorizontal gmPadLeft10p gmPadRight10p" title="Download">
                <i id="sur-list-download" class="fa fa-download fa-2x"></i>
            </a>
        </li>
    </div>
</ul>
<div id="div-crmitemlist-colhead" class="gmAlignVertical">
</div>
<hr class="horizondal-line">
<div id="div-crmitemlist-coldata">
</div>

<div id="div-filter-container"></div>

