<div id="div-localDB">
	<textarea id="txtSQL" class="gmAlignVertical"></textarea>
	<textarea id="txtOutput" class="gmAlignVertical"></textarea>
	<div class="gmTextAll gmTextCenter">
		<div id="btn-sql" class="gmBtn gmAlignHorizontal gmMarginTop15p gmBGDarkBlue gmFontWhite">Execute SQL</div>
		<div id="btn-close" class="gmBtn gmAlignHorizontal gmMarginTop15p gmBGRed gmFontWhite">Close</div>
	</div>
</div>