<div id="div-confirm-logout">
    <div id="div-msg-confirm">
        <div id= "div-confirm-content" > confirm </div>
        <div id="div-confirm-logout-content">Are you sure you want to logout?</div>
    </div>
    <hrs>
    <div id="div-yes-no">
        <div id="div-yes" class="btn-ios-alert">yes</div>
        <div id="div-no" class="btn-ios-alert">no</div>
    </div>
</div>

