<div class="gmMainDiv">

<ul class="gmNavBar gmVerticalMiddle tab-content">
        <li id = "li-spine-it" class = "gmAlignHorizontal hide">
           <span class="gmFontBold app-title" id = "spn-portal-back" title = "Back To Spint-IT">spineIT</span>
        </li>
        <li id="ul-header-left">
                <span class="app-title gmFontBold">Customer Relationship Management</span>
        </li>

        <li id="ul-header-right" class="gmFloatRight">
<!--            <form id="frm-user-picture" method="POST" role="form" enctype="multipart/form-data" class="data-document"></form>-->
           <ul id="ul-header-right-pic" class="gmAlignHorizontal">
               <div id="div-header-right-initial">
                   <i class="fa fa-user default-picture" aria-hidden="true"></i>
<!--
                    <h5 id="header-user-fname"></h5>
                   <h5 id="header-user-lname"></h5>
-->
                </div>
                   <!-- <h5 id="header-user-fname"></h5><h5 id="header-user-lname"></h5></div> -->
              <div class="div-user-icon-pic"> <img id="img-header-right-pic"  onerror="this.style.display='none'"></div>
               
                 
<!--            <li class = "gmTextCenter gmLineSpaceSmlr"><div id = "div-user-pic"></div></li>-->
<!--            <li class = "gmTextCenter"><input type="file" id="input-user-picture"  name="file" accept="application/png, application/jpeg, application/gif"   / ></li>-->
            </ul>
            <ul class="gmAlignHorizontal gmEllipses gmMediaWidth100px gmMarginRight10p portal">
                <div id="div-crm-user" class="gmAlignHorizontal"></div>
            </ul>
            
            <ul class="gmAlignHorizontal gmMarginRight10p gmMarginLeft10p portal">
                    <a id="btn-logout" class="gmAlignHorizontal gmMarginRight5p gmFontWhite"><i class="fa fa-power-off gmFont18em gmVerticalMiddle gmMarginRight5p"></i> Logout</a>
            </ul>

        </li>
</ul>
<ul id="ul-mobile-main-header" class="mobile-content gmTextAll">
    
    <li  class="gmAlignHorizontal gmFloatLeft li-icon-back">
        <a href="javascript:window.history.back();">
        <i id="li-mobile-dash-back" class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        </li>
    <li class="gmAlignHorizontal gmTextCenter li-phone-header-caption">
        <div id="txt-mobile-title"></div>
    </li>
    <li id="btn-mobile-header-left-icon" class="btn-mobile-menu gmAlignHorizontal gmFloatRight">
        <i id="button-mobile-menu" class="fa fa-bars btn-mobile-menu"></i>
    </li>
</ul>
<div id="div-main">
</div>
</div>