<div id="div-mutli-fileupld-container"> 
	<div id = "div-mutli-fileupld-add" class = "gmVerticalMiddle gmAlignHorizontal">Add More
        <i class="fa fa-plus-circle fa-2x gmFontDarkerGrey gmVerticalMiddle"></i>
    </div>
    <div id = "div-mutli-fileupld-all" class="gmBtn gmFontWhite gmBGDarkerGrey gmAlignHorizontal gmVerticalTop gmFloatRight">Upload All</div>
    <div class="gmFontDarkerGrey gmFont13px"><i>Accept file types: '.doc', '.docx', '.pdf', '.txt', '.xlsx', '.xls', '.ppt', '.pptx' </i></div>
    <ul id="ul-mutli-fileupld-container">
	</ul>
</div>
