<ul class="search-sort-filter-phone gmBorderBottomLGrey gmPaddingButtom10p">
    <li class="gmAlignHorizontal gmMediaWidth60">
        <ul id="div-sale-keyword-detail" class="gmSection div-crmitemlist-search gmMediaWidth100">
            <li class="gmAlignHorizontal gmMediaWidth100">
                <input id="txt-crmitemlist-search" type="text" placeholder="&#61442;&nbsp; Search ..." class="gmInputText" />
                <div id="div-crmitemlist-detail-search-x" class="div-crmitemlist-search hide fa fa-times-circle">
                </div>
            </li>
        </ul>
    </li>
    <li class="gmAlignHorizontal gmPad50 gmTextCenter" style="width:13%;">
        <div id="div-sort-phone-btn" class="gmAlignHorizontal gmFontBlack" module="{{module}}">Sort</div>
    </li>
    <li class="gmAlignHorizontal gmPad50 gmTextCenter" style="width:13%;">
        <div id="div-filter-phone-container" class="gmAlignHorizontal">
            <div id="div-filter-phone-btn" class="gmFontBlack">Filter</div>
            <div id="div-filter-phone-content"></div>
        </div>
    </li>
</ul>
<div id="div-crmitemlist-coldata">
</div>