<div class="gmFontBold div-criteria gmAlignHorizontal div-text-selected-crt gmPad10p">
    <div id="selected-criteria-label">Selected Criteria </div>
    <div id="selected-criteria-icon" class="iPhone"><i class="fa fa-chevron-down gmAlignHorizontal" aria-hidden="true"></i></div>
</div>
<span id="criteria-selected-itmes" class="gmMediaDisplayNone">
    <div id = "div-criteia-save" class="div-criteria gmAlignHorizontal gmTextRight gmPadding5x0p gmPad10p">
        <ul class="gmTextRight">
            <li class="gmAlignHorizontal li-new-favorite gmMediaWidth100 hide">
                <input id="input-add-favorite" class="gmAlignHorizontal gmInputText gmWidth180m gmMediaMinWidth10p">
                <div id="div-save-favorite" class="gmAlignHorizontal gmPad10p div-text-selected-crt">Save</div>
            </li>
            <li class="gmAlignHorizontal li-exist-favorite hide">
                <div id="div-favorite-title" class="gmAlignHorizontal gmFont12em gmPadRight10p div-text-selected-crt"></div>
                <i class="div-text-selected-crt fa fa-heart gmFont18em"></i>
            </li>
            <li class="gmAlignHorizontal li-edit-favorite hide">
                <i class="gmFontBlack gmMarginLeft5p gmPadLeft10p gmPadRight10p fa fa-pencil gmFont18em"></i>
            </li>
        </ul>
    </div>
    {{#each this}}
    <ul class="gmSection ul-category-items gmAlignVertical gmPad10p gmMediaFont13p">
        <li class="gmAlignHorizontal li-category-title gmVerticalTop gmFontBold">{{title}} - </li>
        <li class="gmAlignHorizontal li-category-value gmMediaVerticalBottom">{{{value}}}</li>
    </ul>
    {{/each}}
</span>