{{#if this}} {{#each this}}
<ul class="gmSection ul-select-options select">
    <li class="gmAlignVertical li-select-option">
        <i class="gmFontBlack fa {{#if Selected}}fa-check{{/if}}"></i>
        <div class="gmAlignHorizontal" data-id="{{ID}}">{{{Name}}}</div>
        {{#iftrue CUSID 'Y'}}
        <i class="fa fa-minus-circle remove-custom-label gmAlignHorizontal gmFontRed gmBtnLarge gmVerticalMiddle gmFloatRight" data-id="{{ID}}"></i> {{/iftrue}}
    </li>
</ul>
{{/each}} {{else}}
<ul class="gmSection ul-select-options select">
    <li class="gmAlignVertical li-select-option">No Data Found </li>
</ul>
{{/if}}
<ul id="ul-custom-label" class="gmAlignVertical hide">
    <li class="gmAlignVertical gmMarginBottom10p"><input type="text" id="input-add-custom-label" class="gmInputText"></li>
    <li class="gmAlignVertical">
        <div id="add-custom-option" class="gmBtn">Add Custom Lable(s)</div>
    </li>
</ul>
<ul id="ul-custom-label-popup" class="hide">
    <li>
        <div id="div-custom-label-txt">When deleting, contacts with this record will remain the same, however it cannot be used in future. Would you still like to delete?</div>
        <div id="btn-custom-label-yes" class="btn-custom-label">Yes</div>
        <div id="btn-custom-label-no" class="btn-custom-label">No</div>
    </li>
</ul>