<div id="div-keyword-search">

    <input type="text" id="{{ID}}" class="{{PredefinedClass}} {{Class}} gmInputText" placeholder="{{placeholder}}" />

    <div id="div-common-search-x" class="hide fa fa-lg fa-times-circle"></div>



</div>
<div id="div-search-result-main">
    <ul id="ul-search-resultlist">
    </ul>
    <div id="div-search-result-multiple" class="hide">
        Multiple
    </div>
</div>


<!--
<div id="div-keyword-search">
	<ul id="ul-search-control">
		<li>
			<input type="text" id="{{ID}}" class="{{PredefinedClass}} {{Class}} gmInputText" placeholder="{{placeholder}}"/> 
		</li>
        <li id="div-common-search-x" class="hide">
            <div>x</div>
        </li>	
	</ul>
	
</div>
<div id="div-search-result-main">
	<ul id="ul-search-resultlist">
	</ul>
	<div id="div-search-result-multiple" class="hide">
		Multiple
	</div>
</div>-->