<li class="gmSearchListItem">
<span id="{{ID}}" class="item-searchlist" name="{{{Name}}}" adname = "{{adname}}" vpname = "{{vpname}}" partyid = "{{partyid}}" partycv = "{{partycv}}" npid ="{{npid}}" actid = "{{actid}}" actnm = "{{actnm}}"><i class="fa fa-check gmMarginRight5p"></i>{{{Name}}}</span>
{{#if npid}}<div class = "gmPaddingTop5p gmFont14p">{{npid}}</div>{{/if}}
</li>