
<div>
    <form id="frm-user-picture" method="POST" role="form" enctype="multipart/form-data" class="data-document">
    <ul>
        <li class = "gmTextCenter gmLineSpaceSmlr"><div id = "div-user-pic"></div></li>
        <li class = "gmTextCenter"><input type="file" id="input-user-picture"  name="file" accept="application/png, application/jpeg, application/gif"   / ></li>
    </ul>
    </form>
</div>
