<div id="div-user-quick-info">
    <div class="gmSection gmHeight50 ">
        <li class="gmSectionListItem gmAlignVertical">
            <div class="div-quick-info-pic-container gmMargin10p">
                <div id="div-quick-info-name-container">
                    <i class="fa fa-user default-picture" aria-hidden="true"></i>
<!--
                    <h5>{{firstnm}}</h5>
                    <h5>{{lastnm}}</h5>
-->
                </div>
                <div class="surgeon-rep-quick-pic"><img src=""  class="gmText150 img-sur-pro-pic" style="width: 45px;" onerror="this.style.display='none'"></div>
             </div>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal  gmFontBold gmMarginTop15p">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
        <li class="gmSectionListItem gmAlignVertical gmFontItalic">{{title}}</li>
    </div>
    <div class="gmSection gmMarginTop10p gmMarginLeft10p div-rep-detail">
         <li  class="gmSectionListItem gmAlignHorizontal gmMarginBottom5p quickinfoo- gmTextAll"><i class="fa fa-envelope gmFontBlack gmBtnLarge li-quickinfo-popup-icon"></i> <a class="gmFontBlack" href="mailto: {{email}}">{{#if email}}{{email}}{{else}} <span class="gmFontItalic"> unavailable</span>{{/if}}</a></li> 
        <li  class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><i class="fa li-quickinfo-popup-icon fa-phone gmFontBlack gmBtnLarge"></i> <a class="gmFontBlack" href="tel: {{phone}}">{{#if phone}} {{formatPhoneNumber phone}} {{else}}<span class="gmFontItalic"> unavailable</span>{{/if}}</a></li> 
    </div>
    <div id="quick-info-button" class="gmSection">
        <li  class="gmSectionListItem gmAlignHorizontal gmFloatLeft gmBtn li-user-quick-info-detail"><a href="#crm/fieldsales/id/{{repid}}">Details</a></li> 
        <li id="btn-quick-info-close" class="gmSectionListItem gmAlignHorizontal gmFloatRight gmBtn">Close</li> 
    </div>
</div>