.div-address-row {
	color: #fff;
	min-height: 120px;
}

.div-address li {
	width: 97.5%;
	padding: 0.25em 0.5em;
}

.div-address-options {
	padding: 5px;
}

.div-address-options select {
	border-radius: 2px;
	min-width: 25%;
	height: 30px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	margin: 0 5px;
}

#div-address-header {
	width: 100%;
	background-color: #444;
	height: 85px;
}

#li-address-to-arrow {
	color: #fff;
	margin: 5px 0 0 5px;
	position: absolute;
}

#li-address-to-arrow i, #li-address-to-list {
	color: #fff;
	margin-left: 5px;
	display:none;
}

#li-address-to-list .div-dropdown-main {
	color: #fff;
	margin: 5px 0 0 0;
	width: 115px!important;
}

#li-address-to-list .div-dropdown-text, #li-address-to-list .div-dropdown-list li {
	padding: 10px 0 10px 30px;
	width: 130px;
}

#li-address-to-list .div-dropdown-text {
	background-color: #999;
	border-radius: 3px;
}

#li-address-to-list .div-dropdown-list li {
	color: #000;
	background-color: #ccc;
}

#li-address-to-list {
	float: left;
	display: inline-block;
}

.li-search {
	display: inline-block;
	margin: auto;
	width: 100%;
	text-align: center;
}

.li-search input {
	background-color: #eee;
	font-family: "Trebuchet MS";
	padding: 0.4em 0.6em;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #ccc;
	font-size: 1em;
	margin-top: 5px;
	-webkit-appearance: none;
	width: 91.5%;
}

#btn-address {
	position: absolute;
	top: 120px;
	right: 25px;
}

#div-shipping-address {
	position: absolute;
	right: 18px;
	height: 485px;
	width: 430px;
	z-index: 1;
}

#div-shipping-address #div-search-result-main {
	top: 86px!important;
	left: 5px!important;
	width: 321px!important;
	background-color: #444;
	color: #fff;
	z-index: 2;
	position: absolute;
	max-height: 300px;
	overflow: auto;
}

#div-shipping-address #div-search-result-main li {
	padding: 10px 0;
	border-bottom: 1px solid #999;
}

#div-shipping-address #div-search-result-main li i {
	display: none!important;
}



#div-shipping-address .item-searchlist {
	height: auto!important;
}

#div-shipping-address #div-dropdown-list {
	position: absolute;
	z-index: 1;
}

#div-shipping-address #div-ship-address-list {
	height: 390px;
	width: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

 #div-shipping-address .div-dropdown-list {
	position: absolute;
	z-index: 1;
 }
 
 #div-shipping-address #div-common-search-x {
 	display: none!important;
 }
 
 #div-shipping-address-list {
 	position: absolute;
	right: 20px;
	height: 390px;
	width: 350px;
	margin-top: 42px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
 }
 

 
 /* .li-shiptoinfo-address li {
 	display: inline;
 } */
 
 @media screen and (min-width: 768px) and (max-width: 1023px) { 	
	#div-shipping-address {
		right: 16px!important;
	}
	
	#div-shipping-address #div-ship-address-list {
		height: 600px;
	}

	#div-do-addnew-address {
		left: -280px!important;
		
	}
 }
 
 
 
 /*Add new Address*/
 
#div-do-add-new-address {
	display: inline-block;
 	width: 500px;
 	margin: auto;
 	height: 600px;
 	border: 1px solid #000;
 	box-shadow: 0 0 5px #000;
 }
 	
#div-do-add-new-address  ul {
	display: inline-block;
	width: 100%;
}
 	
#ul-do-add-new-address-header {
	text-align: center;
	background-color: #000;
	color: #fff;
}
 	
#ul-do-add-new-address-header li {
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 12px 0;
	font-size: 20px;
}
 	
#span-do-add-new-address-header-title {
	width: 90%;
	display: inline-block;
	text-align; center;
}
 
#span-do-add-new-address-header-x {
	display: inline-block;
	background-color: #999;
	border-radius: 50%;
	color: white;
	font-family: "Arial";
	padding: 0.078em 0.1em 0.25em 0.1em;
	text-align: center;
	width: 25px;
}

#ul-do-add-new-address-content {
	width: 100%;
    height: 550px;;
	background-color: #ddd;
}

#ul-do-add-new-address-content li {
	width: 100%;
	display: inline-block;
	padding: 15px 0;
}
 	
#ul-do-add-new-address-content li div {
	display: inline-block;
	width: 35%;
	text-align: right;
}
#ul-do-add-new-address-content .div-dropdown-list{
	text-align: left!important;
	}
#ul-do-add-new-address-content #li-country-list{
	text-align: left!important;
	
	}

#ul-do-add-new-address-content li input{
	background-color: #eee;
	font-family: "Trebuchet MS";
	padding: 0.4em 0.6em;
	border: none;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #030303;
	font-size: 1em;
	margin-left: 10px;
	-webkit-appearance: none;
	width: 38%;
}

#div-country-list  ,#div-state-list,#div-acct-list {
	font-family: "Trebuchet MS";
	border: none;
	border-radius: 0px;
	box-shadow: 0px 0px 1px #030303;
	font-size: 1em;
	margin-left: 10px;
	text-align: left!important;
}

#div-country-list div {
	text-align: left!important;
}

#div-do-add-new-address-country {
	vertical-align: top;
}

#li-do-add-new-address-bottons {
	text-align: center;
	margin-left: 25px;
}

#li-do-add-new-address-bottons div {
	background-color: #00366e;
	width: 100px!important;
	margin: 0 5px;
	display: inline-block;
	padding: 0.7em;
	color: white;
	text-align: center!important;
}

#li-add-new-address {
	display: inline-block;
	width: 95px;
	border-radius: 3px;
	background-color: white;
	float: right;
	margin: 5px;
	text-align: center;
	padding: 0.55em;
}

#li-add-new-address i {
	margin: 0 5px;
}

#div-do-addnew-address {
	display: none;
	position: absolute;
	top: -30px;
	left: -440px;
	z-index: 2;
}



#div-state-list .div-dropdown-main {
	color: #fff;
	height: 35px;
	display: inline-block;
}

#div-state-list .div-dropdown-text, #div-state-list .div-dropdown-list li {
	padding: 10px 30px 11px 28px;
	width: 222px;
	text-align: left!important;
}


#div-state-list .div-dropdown-list li {
	color: #000;
	background-color: #ccc;	
}


#div-country-list .div-dropdown-main {
	color: #fff;
	width: 204px;
	height: 35px;
	display: inline-block;
}

#div-country-list .div-dropdown-text, #div-country-list .div-dropdown-list li {
	padding: 10px 30px 11px 28px;
	width: 155px;
	text-align: left!important;
}

#div-country-list .div-dropdown-list li {
	color: #000;
	background-color: #ccc;	
}

#div-acct-list .div-dropdown-main {
	color: #fff;
	width: 200px;
	height: 35px;
	display: inline-block;
}

#div-acct-list .div-dropdown-text, #div-acct-list .div-dropdown-list li {
		padding: 10px 30px 11px 28px;
		width: 226px;
		text-align: left!important;
}

#div-acct-list .div-dropdown-list li {
	color: #000;
	background-color: #ccc;	
}

#div-state-list .div-dropdown-list ,#div-country-list .div-dropdown-list{
		height: 242px;
		overflow-y: scroll;
		overflow-x: hidden;
		width: 40.3%;
}
#div-acct-list .div-dropdown-list{
	height: 125px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 40.3%;
}
#li-do-add-new-address-country #div-country-list,#li-do-add-new-address-state #div-state-list,#li-do-add-new-address-addrtype #div-acct-list {
		width: 40%!important;
	background-color: #999;
	}
/*dropdown arrow positioning*/
#div-state-list .div-arrow-dropdown ,#div-country-list .div-arrow-dropdown ,#div-acct-list .div-arrow-dropdown  {
	width :0%!important;
	margin: 3px 0 0 6px!important;
	position:absolute;
}


#li-do-add-new-address-addrtype span
{
	color: red;
	display: block;
	margin-top: 5px;
	margin-left: 220px;
}
#div-country-list .div-dropdown-list ul li ,#div-state-list .div-dropdown-list ul li ,#div-acct-list .div-dropdown-list ul li {
	width: 98.5%;
	height: 20px;
	padding: 10px 25px;
	border: 1px solid #999;
}

.div-address-row .fa-info-circle {
	float: right;
	font-size: xx-large;
	vertical-align: text-bottom;
}

.div-address .fa-pencil-square-o {
	font-size: x-large;
}

#li-do-add-new-address-zip input{
	width:25%!important;
}

