/* GmCaseMain */

#btn-edit-case {
    color: #000;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.div-schedule-icons {
    width: 85px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}

.btn-send-icon {
    margin: 5px;
    width: 30px;
    height: 30px;
    color: #444;
    display: inline-block;
}

.btn-send-icon .fa-envelope {
    font-size: 1.75em;
}

.btn-create-event {
    color: #000;
    display: none;
    text-align: center;
    margin: 5px;
    width: 30px;
    height: 30px;
}

#div-schedule-case {
    font-size: 1em;
    height: 19px;
    width: 20px;
    padding: 0.7em;
    text-align: center;
    background-color: #00366e;
    color: #fff;
    display: inline-block;
    right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 85px;
}

.div-schedule-case-selected {
    background-color: #2b93fe!important;
}

#div-case-view {
    width: 96%;
    margin: 10px 2% 0 2%;
}

#div-case-breadcrumb {
    display: none;
}

#div-case-title-main {
    width: 70%;
    height: 30px;
    clear: left;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#div-case-subtitle {
    font-size: 20px;
}

#div-case-title-main div {
    display: inline;
}

#div-case-title {
    color: #036;
    text-transform: uppercase;
}

.div-case-schedule-label {
    background-color: #999;
    border-radius: 3px 3px 0 0;
    color: white;
    display: inline-block;
    height: 80%;
    margin-right: 5px;
    padding: 0.5em;
    text-align: center;
}

.li-case-schedule-label .selected-tab {
    background-color: #ccc;
    color: #000;
}

#div-case-schedule {
    width: 100%;
    background-color: white;
    margin: 15px 0 0 0;
}

.ul-case-schedule-info {
    clear: both;
    margin: auto;
    width: 100%;
    height: 530px;
    -webkit-overflow-scrolling: touch;
}


/* CaseReport */

#div-case-report-main ul {
    display: block;
    width: 100%;
    margin: 10px;
}

#div-case-report-main ul li,
#div-case-report-main ul li div {
    display: inline-block;
}

#div-case-report-from-date,
#div-case-report-to-date,
#div-case-report-case-id,
#div-case-report-account {
    width: 60px;
}

#li-case-report-from-date,
#li-case-report-to-date,
#li-case-report-case-id {
    width: 27%;
}

#div-case-report-main input {
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0;
    font-size: 1em;
    width: 200px;
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    box-shadow: 0px 0px 1px #030303;
    -webkit-appearance: none;
    margin-right: 10px;
}

#div-case-report-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

#div-do-report-main .fa {
    font-size: 2em;
}

.div-case-report-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 16%;
    text-align: center;
}

.div-case-report-header {
    background-color: #444;
    width: 100%;
    height: 40px;
}

#div-case-report-list #div-saleitemlist li {
    width: 99%;
}

.div-case-report-custpo {
    width: 16%!important;
    text-align: right!important;
}

#div-case-report-list .div-case-report-caseid {
    text-align: left!important;
    margin-left: 5px;
}

#div-case-report-list #div-saleitemlist {
    max-height: 370px;
    display: inline-block;
    width: 100%;
}

.div-case-report-list-item div {
    display: inline-block;
    padding: 0.75em 0em;
    text-align: center;
    width: 16%;
    vertical-align: top;
}

.div-case-report-list-item {
    background: #DDD;
    border: 1px solid #FFF;
    width: 101%;
    min-height: 50px;
}

#div-case-report-content {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 30px 2px 3px 1px;
    height: 410px;
}

.div-case-page-loader {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    position: relative;
}

#div-case-report-account-search #div-common-search-x {
    display: none;
}

#div-case-report-account-search #div-search-result-main {
    display: none;
}

#div-case-report-account-search #ul-search-resultlist {
    overflow-x: hidden;
}

#div-case-report-status-list {
    border-radius: 3px;
    width: 140px;
    background-color: #ddd;
}

#div-case-report-status-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 150px;
    z-index: 1;
}

#div-case-report-status-list .div-dropdown-list li {
    color: #000;
    background-color: #ccc;
}


/* #div-case-report-status-list  .div-dropdown-text, #div-case-report-status-list  .div-dropdown-list li {
	padding:10px 30px 11px 28px;
	width: 155px;
	text-align: left!important;
} */

#div-case-report-status {
    vertical-align: top;
    margin-top: 5px;
    width: 60px;
}

#div-case-report-status-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-case-report-status-list .div-dropdown-main {
    width: 100%;
}

#div-case-report-status-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

#li-case-report-status .div-dropdown-list ul {
    margin: 0px!important;
}

#div-case-report-account-search #div-search-result-multiple {
    display: none;
}

#div-case-report-main #li-case-report-account {
    margin-left: 58px;
    vertical-align: top;
    margin-top: 5px;
}

#div-case-report-status-list .div-dropdown-list ul li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 110px;
}

#div-case-report-account-search #div-common-search-x {
    right: 15px;
}

#div-case-report-main ul li,
#div-case-report-main ul li div {
    display: inline-block;
}

#div-case-report-account-search li {
    width: 98%;
}

#label-case-report-from-date,
#label-case-report-to-date {
    display: inline-block;
    padding: 0.50em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 100px;
    height: 17px;
    vertical-align: middle;
}

#div-share-case-search-list #div-common-search-x {
    top: 20%!important;
}

#div-common-search-x.hide {
    display: none;
}

#div-keyword-search {
    /* 	position: relative;*/
}

#div-case-report-account-search #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-case-report-account-search #ul-search-resultlist {
    overflow: auto;
    max-height: 300px;
}

#div-case-report-account-search #ul-search-resultlist {
    overflow: auto;
    max-height: 250px;
}

#div-case-report-account-search #div-search-result-multiple {
    /*position: absolute;*/
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-case-report-account-search #ul-search-resultlist li i {
    display: none;
}

#div-case-report-account-search #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-case-report-account-search #ul-search-resultlist .selected-item a {
    color: #fff;
}

#div-case-report-account-search #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-case-report-account-search .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-case-report-account-search #div-search-result-main {
        width: 377px!important;
    }
    #li-case-report-from-date,
    #li-case-report-to-date {
        width: 35%!important;
    }
    #div-case-report-main #li-case-report-account {
        margin-left: 52px!important;
    }
    #div-case-report-account-search #txt-billing-account {
        width: 375px!important;
    }
    #div-case-report-content {
        height: 610px!important;
    }
    #div-case-report-list #div-saleitemlist {
        max-height: 570px!important;
    }
}

@media screen and (min-width: 1024px) {
    #div-case-report-account-search #div-search-result-main {
        width: 530.8px!important;
    }
    #div-case-report-account-search #txt-billing-account {
        width: 528px!important;
    }
}


/* Book Case */

.li-case-book-label {
    display: inline-block;
    width: 98%;
    padding: 22px 0px 3px 10px;
}

.div-case-book-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 5px;
}

.div-case-book-detail div {
    display: inline-block;
}

.li-btn-case {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.li-btn-case div {
    display: inline-block;
    padding: 0.7em;
    color: white;
    width: 100px;
    margin: 0 5px;
    border-radius: 3px;
}

#btn-case-save,
#btn-case-post,
#btn-case-assign {
    background-color: #00366e;
}

#btn-case-delete {
    background-color: #800;
}

.li-case-book-label input,
.li-case-book-label label {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

.li-case-book-label textarea {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    resize: none;
    width: 83%;
    height: 80px;
}

#div-case-book-notes {
    vertical-align: top;
}

.li-case-book-label #div-common-search-x {
    display: none!important;
}

#div-case-book-account-list {
    width: 85%;
}

#div-case-book-fieldsales-list,
#div-case-book-salesrep-list,
#div-case-book-assign,
#div-case-book-share {
    display: inline-block;
    /*width: 70%;*/
}

#div-case-book-fieldsales-list,
#div-case-book-salesrep-list {
    width: 325px;
}

#div-case-book-assign,
#div-case-book-share {
    max-width: 85%;
}

#div-case-book-fieldsales-list input,
#div-case-book-salesrep-list input,
#div-case-book-account-list input,
#div-case-book-assign input,
#div-case-book-share input {
    width: 97%;
}

#div-case-book-categories-list .div-dropdown-main,
#div-time-zone-list .div-dropdown-main {
    width: 100%;
}

#div-case-book-categories-list .div-arrow-dropdown,
#div-time-zone-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-case-book-categories-list .div-dropdown-text,
#div-time-zone-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

#div-case-book-categories-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 340px;
    z-index: 1;
}

#div-case-book-categories-list {
    border-radius: 3px;
    width: 340px;
    background-color: #ddd;
}

#div-case-book-categories-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 310px;
}

#div-time-zone-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 100px;
    z-index: 1;
}

#div-time-zone-list {
    border-radius: 3px;
    width: 100px;
    background-color: #ddd;
    margin-top: -1px;
    height: 34px;
}

#div-time-zone-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 20px;
    text-align: left;
    width: 80px;
}

#div-case-book-assign #div-search-result-multiple,
#div-case-book-share #div-search-result-multiple {
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-case-book-assign-header,
#div-case-book-share-header {
    vertical-align: top;
    margin-top: 5px;
}

#div-case-book-assign-header span,
#div-case-book-assign-header div,
#div-case-book-share-header span,
#div-case-book-share-header div {
    display: inline-block;
}

.div-case-book-assign-list,
.div-case-book-share-list {
    /*width: 20%;*/
    display: inline-block;
    background-color: #eee;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    font-family: "Trebuchet MS";
    padding: 0.35em 0.6em 0.25em 0.6em;
    font-size: 1em;
    margin: 2px 5px 2px 0;
}

#div-hours {
    margin-top: -3px;
    vertical-align: top;
}

.div-case-book-label {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.div-case-book-label-2 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

#div-case-book-sdate-label {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

#div-case-book-stime-label {
    width: 43%;
    display: inline-block;
    vertical-align: top;
}

#div-case-book-stime-label i {
    font-size: 30px;
    vertical-align: top;
}

#txt-case-book-surgery-stime {
    vertical-align: top;
    margin-right: 5px;
    height: 19px;
}

#div-hours select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ddd;
    border: 0px;
    border-radius: 2px;
    padding: 0.45em 0.75em;
    font-size: 1em;
    font-family: 'Trebuchet MS';
    vertical-align: top;
}

#txt-case-book-surgeon-name {
    width: 317px;
}

.div-case-book-assign-salesrep {
    padding: 0.35em;
    height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-case-book-status-main,
    #div-case-book-id {
        width: 49%!important;
    }
    #div-case-book-sdate-label {
        width: 36%!important;
    }
    #div-case-book-stime-label {
        width: 40%!important;
    }
    #div-case-book-stime-label .div-case-book-label-header {
        width: 50px!important;
    }
    #div-case-book-duration-label .div-case-book-label-header {
        width: 75px!important;
    }
    #div-case-book-duration-label {
        width: 22%!important;
        padding-top: 20px!important;
    }
    #div-case-book-account-list {
        width: 70%!important;
    }
    .div-case-book-label-2 {
        padding-top: 20px!important;
    }
    .div-case-book-label {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        padding-top: 20px;
    }
    .li-case-book-label {
        padding: 0px 0px 3px 10px!important;
    }
    #li-case-book-note-label {
        padding: 20px 0px 3px 10px!important;
    }
    .li-case-book-label textarea {
        width: 68%;
    }
    #div-case-book-categories-list,
    #div-case-book-categories-list .div-dropdown-list {
        width: 508px;
    }
    #div-case-book-categories-list .div-dropdown-list li {
        width: 478px;
    }
    .ul-case-book-info {
        max-height: 750px!important;
    }
    .div-case-detail-schedule {
        left: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .div-case-detail-schedule {
        left: 1024px;
    }
}


/* Schedule View */

.div-schedule-header {
    width: 99%;
    min-height: 80px;
    height: auto;
    background-color: #ccc;
    border-radius: 3px;
    padding: 5px;
}

.div-schedule-header-data {
    width: 80%;
    height: 100%;
    display: inline-block;
}

.div-schedule-header-arrow {
    display: inline;
    float: right;
    margin: 3px 0 0 0;
    text-align: center;
    width: 10%;
}

.ul-schedule-details li {
    width: 800px;
    min-height: 20px;
    display: inline-block;
    margin: 3px 0;
}

.li-schedule-detail div {
    display: inline-block;
    vertical-align: top;
}

.div-case-schedule-header-label {
    color: #555;
    width: 10%;
    margin-right: 3px;
    text-align: right;
}

.div-case-schedule-header-label-1 {
    color: #555;
    width: 10%;
    margin-right: 3px;
    text-align: right;
}

.div-case-schedule-header-value {
    color: #000;
    margin-left: 3px;
    width: 86%;
}

.div-case-schedule-header-value-1 {
    color: #000;
    margin-left: 3px;
    width: 37%;
}

.ul-case-schedule-info #div-saleitemlist {
    max-height: 535px;
}

.ul-case-schedule-info #div-saleitemlist>.div-drilldown:first-child {
    border-radius: 0px 3px 3px 3px;
}

.div-schedule-list {
    background-color: #eee;
    display: none;
    padding: 5px;
}

.div-schedule-list ul {
    width: 88%;
}

.ul-schedule-list li {
    width: 400px;
    min-height: 20px;
    margin: 5px;
    display: inline-block;
}

.div-case-schedule-list-label {
    color: #444;
    width: 125px;
    margin-right: 3px;
    text-align: right;
}

.div-case-schedule-list-value {
    color: #000;
    margin-left: 3px;
    width: 260px;
}

.div-case-detail-schedule {
    width: 550px!important;
    display: none;
    float: right;
    position: absolute;
    top: 130px;
    right: 0px;
    z-index: 1;
}

#div-case-detail {
    width: 100%;
    display: inline-block;
}

.div-case-detail-schedule .div-schedule-header-arrow,
.div-case-detail-schedule .btn-create-event,
.div-case-detail-schedule #btn-share-case,
.div-case-detail-schedule .div-case-box,
.div-case-detail-schedule .btn-send-icon {
    display: none!important;
}

.div-case-detail-schedule .div-schedule-header {
    width: 98.2%!important;
}

.div-case-detail-schedule .div-drilldown {
    width: 99%!important;
}

.div-case-detail-schedule .div-case-schedule-header-value {
    width: 400px!important;
}

.div-case-detail-schedule .div-case-schedule-header-value-1 {
    width: 33%!important;
}

.div-case-detail-schedule .div-case-schedule-header-label-1 {
    width: 12%!important;
}

.div-case-detail-schedule .ul-schedule-details li {
    width: 500px!important;
}

.div-case-detail-schedule .div-schedule-header-data {
    width: 90%!important;
}

.div-case-detail-schedule .div-case-schedule-header-label {
    width: 12%!important;
}

.div-case-detail-schedule .div-case-detail-schedule #btn-edit-case {
    vertical-align: top;
    margin: 0!important;
    /* margin-top: 35px; */
}

.div-case-detail-schedule .div-schedule-icons {
    width: 30px;
    float: right;
    margin-right: 5px;
}

.ul-case-book-info {
    max-height: 540px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.ul-case-book-info #div-keyword-search {
    width: 100%;
}

.spn-spandiv-close {
    margin-left: 3px;
}

#div-case-book-share-list,
#div-case-book-assign-list {
    /*width: 30%;*/
    margin-right: 15px;
    /*margin-top: 2px;*/
}

#div-case-detail #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-case-detail #ul-search-resultlist {
    overflow: auto;
    max-height: 200px;
}

#div-case-detail .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-case-detail #div-search-result-main li {
    display: inline-block;
    width: 98%;
}

#div-case-detail #ul-search-resultlist li i {
    display: none;
}

#div-case-detail #ul-search-resultlist .selected-item i {
    display: inline;
}

#btn-share-case {
    font-size: 1em;
    padding: 0.7em;
    text-align: center;
    background-color: #00366e;
    color: #fff;
    display: inline-block;
    float: right;
    border-radius: 3px;
    margin-top: -45px;
}

.span-scheduled-case-count {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.35em 0.25em 0.35em;
    margin: 0px 3px;
}

#btn-share-case #spn-case-share-count {
    background-color: #ccc;
    border-radius: 50%;
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.35em 0.25em 0.35em;
    margin-left: 10px;
}

.div-case-box {
    margin: 5px;
    width: 30px;
    height: 30px;
    color: #444;
    display: inline-block;
}

.spn-case-tick {
    display: none;
}

.selected-case .spn-case-tick {
    display: inline-block;
}

#div-share-case-search {
    display: none;
    background-color: #ccc;
    border-radius: 3px;
    height: 500px;
    width: 400px;
    margin-top: 20px;
    position: absolute;
    Z-index: 1;
    left: 262px;
}

#div-share-case-search-header {
    border-radius: 3px 3px 0 0;
    color: #fff;
    width: 100%;
    background-color: #960;
    text-align: center;
    display: inline-block;
}

#div-share-case-search-title {
    display: inline-block;
    width: 88%;
    padding: 12px 0;
    font-size: 20px;
}

#div-share-case-search-x {
    display: inline-block;
}

#div-share-case-search-x div {
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial";
    padding: 0.078em 0.1em 0.25em 0.1em;
    text-align: center;
    width: 25px;
    display: inline-block;
}

#div-share-case-search-list {
    width: 94.3%;
    display: inline-block;
}

#div-share-case-search-list #div-keyword-search {
    margin-left: 2px;
    width: 100%;
}

#div-share-case-search-list #txt-schedile-case-share {
    width: 100%;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    display: inline-block;
}

#div-share-case-search-list #ul-search-resultlist {
    overflow: auto;
    max-height: 380px;
}

#div-share-case-search-list #div-search-result-multiple {
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-share-case-search-list #div-search-result-main li {
    display: inline-block;
    width: 98%;
}

#div-share-case-search-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-share-case-search-list #ul-search-resultlist li i {
    display: none;
}

#div-share-case-search-list #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-case-book-duration-label,
#div-case-book-status-main .div-case-book-label-header,
#div-case-book-id .div-case-book-label-header {
    margin-top: 0!important;
}

#div-case-book-status-main {
    width: 288px;
}

#div-case-book-assign-list input,
#div-case-book-share-list input,
.sdate {
    height: 20px;
}

#div-case-today {
    margin-left: 5px;
}

#txt-schedule-case-share {
    width: 100%;
    padding: 0.52em;
    font-size: 1em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-schedule-header {
        width: 98.6%!important;
    }
    .div-schedule-header-data {
        width: 77%!important;
    }
    .ul-schedule-details li {
        width: 575px!important;
    }
    .div-schedule-list ul {
        width: 100%!important;
    }
    .div-case-schedule-list-value {
        width: 230px!important;
    }
    .ul-schedule-list li {
        width: 345px!important;
    }
    .div-case-schedule-list-label {
        width: 100px!important;
    }
    .ul-case-schedule-info #div-saleitemlist {
        max-height: 780px!important;
    }
}

#div-time-zone-offset {
    border-radius: 3px;
    padding: 9px 10px;
    background-color: #ddd;
    margin-top: -1px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
}
