.ul-catalog-li-detail {
    display: inline-block;
    margin-top: 5px;
}

.ul-catalog-li-initial {
    float: none;
    position: static;
}

.div-catalog-filter-initial {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #030303;
    height: 42px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 550px;
}

.div-catalog-filter-detail {
    border-radius: 3px;
    box-shadow: 0px 0px 5px #030303;
    height: 30px;
    margin-bottom: -9px;
}

.ph-div-catalog-filter-initial {
    height: 45px;
    width: 285px;
    margin-bottom: 30px;
}

.ph-div-btn-quicklink-initial {
    width: 285px;
    padding: 1em 0;
}

.ph-div-catalog-quicklink-initial {
    width: 300px;
    top: 0px;
}

.btn-quicklink-initial {
    margin: 5px;
    width: 130px;
}

.btn-quicklink-detail {
    width: 80px;
}

/*  ---- catalog css ----- */

#btn-catalog {
    color: white;
    margin: auto;
    text-align: center;
    width: 150px;
}

#btn-close-panel {
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 0.3em;
}

.btn-catalog-item {
    background-color: whitesmoke;
    color: black;
    float: left;
    margin-left: 10px;
    padding: 0.75em;
    text-transform:uppercase;
    width: 100px;
}

.btn-collateral-item {
    background-color: whitesmoke;
    color: black;
    float: left;
    margin-left: 10px;
    padding: 0.75em;
    text-transform:uppercase;
 	width: 100px;
 }
 
 #btn-document {
 	width: 130px;
 }

.btn-catalog-item span, .btn-collateral-item span {
    border-radius: 50%;
    background-color: grey;
    color: white;
    padding: 2px;
    margin-left: 10px;
}

.btn-detail:active {
    background-color: #555151;
    color: white;
    opacity: 0.90;
}

.btn-quicklink {
    border-radius: 3px;
    color: white;
    display: block;
    padding: 0.6em;
    text-transform: uppercase;
}

.btn-quicklink:active {
    background-color: #2b93fe;
    color: white;
    opacity: 0.90;
}


.clsCloseCatalog:active, .btn-itemlist:active, #btn-close-panel:active {
    color: black;
}

#div-catalog-quicklink {
    height: 40px;
    margin: auto;
    text-align: center;
}

.div-catalog-quicklink-initial {
    top: 0px;
    width: 672px;
    height: 50px;
    margin: auto;
}

.div-catalog-quicklink-detail {
    display: inline;
}

#div-close-panel {
    position: absolute;
    right: 5px;
    top: 15px;
}

#div-filter {
    background-color: #ccc;
    border: none;
    border-radius: 3px 0 0 3px;
    color: #036;
    float: left;
    height: 2.65em;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}

#div-filter-list ul li {
    background-color: #ccc;
    border: 1px solid grey;
    height: 30px;
    padding: 1em 0 0 0.5em;
}

#div-filter-list ul li a {
    color: black;
    font-size: 300;
}

#div-keyword {
    float: left;
    position: relative;
}

#div-search {
    margin-top: 50px;
    width: 510px;
}

#div-search-result {
    margin:auto;
    overflow-y: auto;
    width: 700px;
    -webkit-overflow-scrolling: touch;  
}

#div-search-result #div-itemlist li a {
    color: #0457AA;
    font-weight: bold;
}

#div-selector {
    display: inline;
    margin: auto;
    width: 500px;
}

#div-search-x {
    background-color: #999;
    border-radius: 50%;
    color: white;
    display: none;
    float: left;
    font-family: "Arial";
    margin: 12px 0 12px 12px;
    padding: 0.05em 0.1em 0.2em 0.1em;
    text-align: center;
    width: 18px;
}

.div-sub-result {
    background-color: white;
    border-radius: 5px;
    border: 15px solid rgb(255, 255, 255);
    clear: both;
    -webkit-overflow-scrolling: touch;
}

#div-sub-result-system, #div-sub-result-group, #div-sub-result-part {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#div-system li {
    display: inline-block;
}

.selectedTab {
    background: #00366e;
    color: white;
}

.spn-exceed-error {
    color: red;
    font-weight: bold;
    position: relative;
    padding: 30px;
    top: 20px; 
}

#div-filter-text {
    font-weight: bold;
    text-align: center;
    padding: 0.85em 0 0 1.5em;
}

#txt-keyword {
    border: none;
    font-size: 1em;
    padding: 0.5em;
}

.txt-keyword-detail {
    height: 1em;
}

.txt-keyword-initial {
    height: 1.6em;
    width: 290px;
}

/*  ---- side panel css ----- */

.arrowback {
    position: relative;
    top: -0.5px;
}

.backarrow {
    letter-spacing: -5px;
}

#div-breadcrumb {
    padding: 2em 0em 1em 0em;
}

#div-keyword-detail {
    margin-left: 20px;
}

#div-itemlist .li-border-bottom {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#div-itemlist .li-letter-above {
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: .8em 1.5em .8em 2em;
/*
    margin-top: 2px;
    padding-left: 10px;
    width: 245px;
*/
}

#div-itemlist li {
/*    margin-left: 20px;*/
    padding: 0.5em 1.5em 0.5em 2em;
}

#ul-under-a li {
    padding: 0.5em 1.5em 0.5em 2em;
}

#div-itemlist li a {
    color: white;
    background-color: inherit;
    padding: 5px 0;
    display: block;
 }

#div-itemlist li a div {
   display: inline-block;
}

#div-symbol {
	width: 3%;
	vertical-align: top;
}

.sub-item-name {
	width: 90%;
}

#div-itemlist ul {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
/*
    margin-left: 20px;
    width: 255px;
*/
}

#div-itemlist ul li {
    margin-left: 20px;
}

#div-node {
    color: white;
    display: inline;
    padding-left: 20px;
}

#div-node a {
    color: white;
}

#div-sidepanel {
    filter:alpha(opacity=90); /* For IE8 and earlier */
    float: right;
    position: absolute;
    top: 60px;
    width: 300px;
    z-index: 1;
}

#div-sidepanel:before {
    background-color: #2b93fe;
    content: "";
    float: right;
    height: 684px;
    opacity: 0.90;
    position: absolute;
    width: 300px;
    z-index: -1;
}

#div-sidepanel-back {
    color: white;
    font-size: 25px;
    padding-left: 20px; 
    visibility: hidden;
    width: 25px;
}

#div-sidepanel-content {
    margin-top: 10px;
}

#div-sidepanel-list .li-border-bottom {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.li-above {
    border-radius: 5px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 2px;
    padding: 0.75em 0 0.75em 10px;
    width: 250px;
    text-transform: uppercase;
    color: white;
    padding-left: 10px;
}

.li-loading {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    height: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.spn-collpase-count {
    float: right;
    margin-right: 5px;
    color: white;
    padding: 5px;
    margin-top: -5px;
}

.spn-indicate-collpase {
    float: left;
    color: white;
    padding: 5px;
    margin-top: -11px;
    margin-left: -20px;
    font-size: x-large;
    width: 15px;
    text-align: center;
}

#sidepanelback {
    font-weight: bold;
    letter-spacing: -10px;
}

#ul-quicklink {
    display: inline;
    text-align: center;
}

#ul-quicklink li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
}

#ul-quicklink ul {
    display: inline-block;
}

#ul-recent .li-above {
    display: none;
}

#ul-recent ul {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    margin-left: 20px;
    padding-left: 10px;
    width: 250px;
}  

#ul-recent ul li {
    margin-left: 0px;   
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    .btn-quicklink-detail {
        margin: 0 -1px;
    }

    .div-catalog-filter-detail {
        width: 160px;
        margin-right: 5px;
        margin-left: 15px;
    }

    .txt-keyword-detail {
        height: 0.9em;
        width: 145px;
    }

    #div-filter-list {
        height: 120px;
        left: 110px;
        position: absolute;
        text-transform: uppercase;
        top: 122px;
        width: 200px;
        z-index:1;
    }

    #div-search-result {
        max-height: 830px;
    }
    
    #div-sidepanel {
        height: 942px;
        left: 769px;
    }

    #div-sidepanel:before {
        height: 964px;
    }

    #div-sidepanel #div-itemlist {
        height: 795px;
        margin-top: 20px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .div-sub-result {
        height: 700px;
    }
     .div-sub-result-contacts {
        height: 400px;
    }

    #ul-recent {
        height: 830px;
        overflow-y: auto;
    }
    #ul-recent #div-itemlist {
        height: initial;
        margin-top: 0px;
        overflow-y: auto;
    }
    #div-sub-result-part #div-column {
        width: 84%;
    }
}

@media screen and (min-width: 1024px) {

    .btn-quicklink-detail {
        margin: 0 2px;
    }

    .div-catalog-filter-detail {
        width: 200px;
        margin-right: 5px;
        margin-left: 20px;
    }

    .txt-keyword-detail {
        height: 0.9em;
        width: 180px;
    }

    #div-filter-list {
        height: 120px;
        left: 236px;
        position: absolute;
        text-transform: uppercase;
        top: 122px;
        width: 200px;
        z-index:1;
    }

    #div-sidepanel {
        left: 1025px;
        height: 690px;
    }

    #div-sidepanel:before {
        height: 708px;
    }

    #div-sidepanel #div-itemlist {
        height: 535px;
        margin-top: 20px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    
    #div-search-result {
        max-height: 580px;
    }
    
    .div-sub-result {
        height: 500px;
    }
    
    #ul-recent #div-itemlist {
        height: initial;
        margin-top: 0px;
    }

    #ul-recent {
        height: 590px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #div-sub-result-part #div-column {
        width: 63%;
    }
}

.btn-itemlist div {
	display: inline-block;
}