/*documents*/
#li-detail-document {
	clear: left;
	color: #00366e;
	font-size: 28px;
	font-weight: bold;
	list-style-type: none;
	margin-top: 170px;
	margin-left: 20px;
}

#ul-document-title {
	background-color: #ccc;
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 30px;
	height: 30px;
	padding: 13px;
	width: 95%;
}

#li-document {
	margin-top: 30px;
	margin-left: 20px;
	font-weight: normal;
	padding: 20px;
	width: 96%;
	border-bottom: 1px solid grey;
}

.btn-bg-black {
	background-color: #000;
	color: #fff;
}

.li-document-name {
	width: 90%;
}

.li-document-share {
	float: right;
	padding: 2%;
	width: 5%;
}

#div-detail-documents {
	margin-top: 2%;
}

.shared i {
	color: #800;
}

/*Share*/

#li-share-title {
	float: left;
	color: #00366e;
	font-size: 24px;
}

#ul-share-title li {
	display: inline-block;
	font-family: "Trebuchet MS";
	list-style-type: none;
	width: 100%;
}

.li-email {
	color: #ccc;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	margin-bottom: 5px;
	padding-left: 5px;
}

#div-share {
	margin: auto;
	margin-top: 20px;
	width: 96%;
}


#share-email {
	margin-top: 10px;
	font-family: Trebuchet MS;
	padding: 5px 0 0 0;
	list-style-type: none;
	width: 100%;
}

.text-receiver {
	width: 85%;
	border: none;
	font-size: 20px;
}

.li-email i {
	margin-top: 7px;
	margin-right: 6px;
	float: right;
	color: black;
}

.share-icon i { 
	color: red;
}

.text-receiver::-webkit-input-placeholder {
	font-style: italic;
}

#text-email-area {
	border: none;
	font-size: 16px;
	font-family: Trebuchet MS;
	width: 98%;
	resize: none;
}

#btn-email-send {
	width: 80px;
	float: right;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	margin-top: 5px;
	padding: 0.6em;
}

.div-share-list {
	width: 100%;
	height: auto;
	margin-top: 30px;
	margin-left: 0px;
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	list-style-type: none;
}

.div-share-list #div-column {
	border: none;
	margin-top: 0;
}

.div-share-list #div-itemlist ul {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	display: block;
	margin-left: 5px;
	margin-bottom: 5px;
	width: auto;
}

.div-share-list #div-itemlist li {
	margin: 0;
	padding: 0;
}

.div-share-list .fa {
	vertical-align: middle;
	line-height: 0;
} 

.div-images-image .fa {
	line-height: 0;
}

.div-share-list #div-itemlist #ul-listitem .li-doc-name a {
	vertical-align: middle;
	margin-left: 5px;
}

.div-share-list #ul-listitem li {
	padding: 0.75em 0 0.75em 0em;
}

#div-column select {
	display: none;
}

.div-icon-share {
	float: right;
	display: block;
	margin-right: -8px;
}

.div-icon-share .fa-share-alt-square {
	color: #00366e;
	font-size: 2em;
}

#div-detail #div-itemlist li.selectedDoc a {
	color: blue;
}

/*email contacts*/

#div-email-contacts {
	background: #ccc;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	list-style-type: none;
	height: 380px;
	margin: auto;
	text-transform: uppercase;
}

.div-email-search {
	background-color: #999;
	color: black;
	display: inline-block;
	margin: 5px;

}

#div-add-contacts {
	display: inline-block;
	margin-top: 5px;
}


#div-mail-searchbox {
	display: inline;
	background-color: #ccc;
}

#div-search-box {
	margin: 10px 5px 10px 10px;
	width: 40%
}

#div-dropdown-mail {
	margin-right: 10px;
	width: 30%;
	display: inline-block;	
}

#div-email-search-x {
	margin-left: -40px;
	border-radius: 50%;
	padding: 0.15em 0.15em 0.35em 0.15em;
	background-color: gray;
	color: white;
	width: 18px;
	text-align: center;
	position: relative;
	text-transform: lowercase;
	font-family: "Arial";
}

.div-email-search-x-hide {
	display: none;
}

.div-email-search-x-show {
	display: inline-block;
}


#div-search-header {
	background-color: #ccc;
}

#ul-email-add {
	display: none;
}

#div-email-header ul {
	padding-top: 5px;
}

#ul-email-header li {
	display: inline-block;
	text-align: left;
}

#txt-contacts-search {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 4px #030303;
	height: 1em;
	width: 330px;
	font-size: 1em;
	margin: 5px 10px;
	padding: 0.6em 0.6em 0.6em 0.6em;
	-webkit-appearance: none;
} 

#li-first-name {
	width: 20%;
	margin-left: 5px;
}

#li-middle-name {
	width: 5%
}

.li-last-name {
	width: 20%
}

.li-action {
	width: 25%
}

.li-search-email {
	width: 30%
}

#div-itemlist .div-email-content li a {
	color: black; 
	background-color: inherit;
}

#div-email-list {
	width: 100%;
	overflow-y: auto;
	height: 95%;
	max-height: 98%;
	margin-top: 5px;
	-webkit-overflow-scrolling: touch;
	background-color: white;
}

#div-email-list .div-email-content {
	border-bottom: 1px solid grey;
	margin-top: 10px;
}

#check-icon {
	margin-left: 5px;
}

#save-icon {
	margin-left: 5px;
}

#btn-done {
	background-color: white;
	color: steelblue;
	height: 25px;
	width: 70px;
	text-align: center;
	float: right;
	position: relative;
	top: -5px;
	padding: 8px 10px 0 10px;
	border: 1px solid steelblue;
	margin: 5px;
	border-radius: 3px;
}

#undo-icon,#save-icon {
	display: none;
}

.div-email-content li input {
	border: none;
}

#open-email-contacts {
	top: 21%;
	margin: 20px;
	position: absolute;
	z-index: 1;
	width: 92%;
	background-color: whitesmoke;
	display: none;
}

#span-initial-emailview {
	margin: 10px;
	position: absolute;
	display: none;
}

#div-email-container {
	width: 98%;
	margin: auto;
	height: 65%;
}

#div-email-container:before {
	background-color: black;
	content: "";
	opacity: 0.5;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}


.str-favorite {
	font-size: 1.6em;
	opacity: 0.5;
}

#div-email-contacts #div-itemlist li {
	margin-left: 0;
	padding: 0;
}

#spn-no-favorites {
	border-radius: 50%;
	background-color: #ccc;
	color: white;
	padding: 2px;
	margin-left: 5px;
}

.btn-selected, #div-search-header .btn-selected {
	background-color: #084c8d;
	color: white;
}


.str-isFav-contacts {
	color: #996600!important;
}

.favoritemail {
	color: #996600;
} 

.unselectsearch {
	background-color: #999 !important;
	color: black !important;
}

.selectfavorite {
	background-color: #084c8d !important;
	color: white !important;
}

#ul-email-add li {
	display: inline-block;
}

#div-left-count {
	margin-left: 20px;
	color: #999;
	width: 200px;
}

.div-email-label {
	font-weight: bold;
	margin: 0.5em 0 0.5em 0.5em;
	width: 2.5%;
}


/* To section in email */

#txt-to-email {
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
	overflow: auto;
	font-size: 1em;
	color: black;
	width: 100%;
}

#div-to-email {
	width: 90%;
}

#li-to-email {
	display: inline-block;
	border: 1px solid;
	padding: 0.25em 0;
	width: 100%;
	
}

#li-to-email div {
	display: inline-block;
}

#div-contact-icon {
	text-align: center;
	width: 4.5%;
}

#div-popup-to-emails {
	list-style-type: none;
	position: absolute;
	top: 320px;
	left: 450px;
	background-color: lightgrey;
	height: 100px;
	width: 250px;
	border: 1px solid gray;
	color: black;
	border-radius: 3px;
	padding: 5px 0px 0px 5px;
	display: none;
}

#div-popup-to-emails li {
	padding: 3px
}

.spn-parent-span {
	background-color: #f5f5f5;
	border: 1px solid #d9d9d9;
	cursor: default;
	display: block;
	height: 19px;
	white-space: nowrap;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 5px 2px 5px;
}

.div-parent-div {
	font-size: 13px;
	display: inline-block;
	padding: 1px;
	vertical-align: top;
}

.spn-spandiv-close {
	display: inline-block;
	width: 14px;
	height: 20px;
	opacity: .6;
	color: black;
	vertical-align: top;
}

.div-child-text {
	display: inline-block;
	color: #222;
	margin: 0 5px;
	/*max-width: 325px;*/
	max-height: 17px;
	text-overflow: ellipsis;
	direction: ltr;
	font-size: 16px;
	cursor: move;
}

.spn-spandiv-close {
	font-size: 1.6em;
}

#div-contact-close {
	float: right;
	margin: 2px 3px;
}

.li-action .fa {
	margin-right: 10px;
}

.li-action .str-favorite {
	margin-right: 10px;
}

.btn-app-link {
	display: none;
	position: fixed;
	float: right;
	bottom: 41px;
	right: 0;
	background-color: grey;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	min-width: 250px;
}



.btn-app-link div {
	height: 30px;
	padding: 10px 0 0 0;
	text-align: center;
}

.btn-app-link a {
	height: 30px;
	padding: 10px 0 0 0;
	text-align: center;
	display: block;
}

#btn-app-collateral {
	height: 30px;
	padding: 10px 0 0 0;
	text-align: center;
}

#search-filter {
	width: 100%;
	height: 40px;
	text-transform: uppercase;
	padding-left: 10px;
}

.btn-collateral-contacts { 
    background-color: whitesmoke;
    color: black;
    float: left;
    margin-left: 10px;
    padding: 0.75em;
    margin-top:5px;
    text-transform:uppercase;
    width: 100px;
}

#div-sub-result-app-contacts, #div-sub-result-device-contacts {
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.div-sub-result-contacts {
    background-color: white;
    border-radius: 5px;
    border-left: 15px solid rgb(255, 255, 255);
    clear: both;
    -webkit-overflow-scrolling: touch;
}

#spn-app-count, #spn-device-count {
	border-radius: 50%;
	background-color: #ccc;
	color: grey;
	padding: 2px;
	margin-left: 10px;

}

/*  add new contacts in share*/

#div-add-new-container div {
	padding: 5px 0px 0px 5px;
	display: block;
}

.span-name-text{
	width: 30%;
	text-align: left;
	display: inline-block;
}

#div-cont-type select, #div-npi input, .text-new-contacts {
	width: 40%;
	text-align: left;
	display: inline-block;
}



#div-new-contacts {
	border:1px solid grey;
	display: none;
	z-index: 1;
	background-color: white;
	margin: 5px;
	height: 75%;
}

.div-contact-type {
	display:inline;
}

/* #div-npi {
	margin-left: 40px;	
} */

/* #div-npi, #div-first-name, #div-mid-name, #div-last-name, #div-email-id, #div-phone-no {
	width: 248px;
	text-align: center;
} */

#spn-npiid, #spn-fname, #spn-mname, #spn-lname, #spn-emailid, #spn-phoneno {
	 color: #DB0F35;
	 font-weight: lighter;
	 font-size: 12px;
	 font-style: normal;
	 text-transform: none;

}

#div-cont-type select { 
	background-color: grey;
	color: white;
	text-transform: uppercase;
	padding: 0.5em 0.6em;
	border-radius: 4px;
}

/* .text-new-contacts {
	width: 190px;
}
 */
.div-name-info {
	display:inline;
}

.div-contact-info {
	display:inline;	
}

#add-to-contact {
	text-align: center;
}

#div-footer-note {
	text-transform: none;
}

#div-footer-note span {
	/*color: darkgoldenrod;*/
	color: #fff;
}

/* #div-mid-name, #div-last-name {
	margin-left: 20px;
} */

/* #div-phone-no {
	margin-left: 50px;
} */

.div-mail-cancel-hide {
	display: none;
}

.selectedTab {
	background-color: #00366e;
	color: white;
}

.li-doc-name span {
	display: none;
}
	
.div-email-content li {
	display: inline-block;
}

#div-contact-info .li-contact-name {
	display: inline-block;
}
		
#div-contact-info .ph-li-contact-name {
	display: none!important;
}


#div-search-result .video-share {
	float: right;
}

.li-subtype-N #div-itemlist .li-document-share {
	display: none;
}

#div-column .fa-times-circle-o {
	color: #800;
	font-size: 2em;
}

.div-collateral-filter-initial {
	background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #030303;
    height: 42px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 550px;
}

#div-mail-save {
	text-align: center;
	padding: 0.6em;
	width: 80px;
	border-radius: 3px;
	background-color: #999;
	color: black;
	margin: 0 5px 5px 5px;
	float: right;
	display: none;
}

.div-mail-cancel {
	display: inline-block;
}

.li-subtype- #ul-listitem li i {
	margin: -5px 8px 7px 6px; 
}

#btn-share i {
	margin: -1px 6px 0 0px !important;
}

#spn-share-count {
	background-color: #948484;
	border-radius: 50%;
	color: #000;
	display: inline;
	font-weight: bold;
	padding: 2px;
	margin-right: 5px;
}

#btn-share {
	border: none;
	border-radius: 3px;
	font-size: 1em;
	height: 19px;
	min-width: 70px;
	max-width: 80px;
	padding: 0.6em 0.1em 0.4em 0.4em;
	text-align: center;
	text-transform: uppercase;
}

.btn-share-hide {
	display: none;
}

.btn-share-show {
	display: inline-block;
}

 #div-to-emails-search .div-email-content {
	border-bottom: 1px solid grey;
	padding:0px 0px 0px 0px;
}

#div-to-emails-search{
	height: 300px;
	top: 280px;
	width: 100%;
	overflow-y: auto;
	list-style-type: none;
	max-height: 98%; 
	-webkit-overflow-scrolling: touch;
	background-color: white;
	display:none;
	border:1px solid #ccc;
}

#div-to-emails-search #div-itemlist li {
	margin-left: 0px; 
	padding: 0.3em 0 0.3em 0.2em;
}

#div-sub-result-system, #div-sub-result-document, #div-sub-result-image, #div-sub-result-video {
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#div-sub-result-part #div-column {
    width: 63%;
}

.div-detail-collateral-navigation #btn-group, .div-detail-collateral-navigation #btn-set {
	display: none;
}

.div-detail-collateral-navigation .btn-detail {
	width: 20%;
}

.img-search-viewer {
	display: none;	
}

#btn-search-share {
    height: 19px;
    padding: 0.5em 0.1em 0.5em 0.4em;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    text-transform: uppercase;
    margin-top: 3px;
    margin-right: 10px;
    min-width: 100px;
    max-width: 110px;
    text-align: center;
}

.btn-search-item {
    float: right;
    margin-left: 10px;
    padding: 0.75em;
    text-transform: uppercase;
    width: 100px;
    display: block;
}

#div-sub-result-system .div-icon-share {
    display: none;
}

#div-search-result .div-icon-share {
    float: left;
    margin-right: 10px;
}


/* sharestatus */

#div-sharestatus-top-container {
	width: 96%;
	margin: auto;
	margin-top: 15px;
}

#div-sharestatus-inner-container {
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #030303;
	margin-top: 15px;
	border-radius: 3px;
}

#div-sharestatus-main {
	width: 100%;
	height: 50px;
	background-color: #ccc;
	display: inline-block;
}

#div-sharestatus-main div {
	display: inline;
}

#div-sharestatus-main input {
	height: 25px;
	margin: 10px;
	margin-left: 5px;
}

#input-sharestatus-search {
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #030303;
	border-radius: 3px;
	width: 350px;
}

#input-sharestatus-search {
	width: 25%;
	font-size: 1em;
}

.div-date-container {
	float: right;
	padding-top: 3px;
}

.div-date-container input{
	width: 143px;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 5px #030303;
	border-radius: 3px;
}

#div-sharestatus-body {
	margin: 5px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/* share status Secondary */

.div-sharestatus-info {
	display: inline-block;
	border:1px solid blue;
	width: 49.5%;
}

#div-info-email {
	float: right;
}

#div-share-status-expand {
	width: 100%;
	height: 50%;
	border :1px solid;
}

.div-shared-info-item {
	display: inline-block;
	width: 32.78%;
	border: 1px solid green;
}

#li-share-status-title {
	clear: left;
	color: #00366e;
	font-size: 24px;
	margin-top: 20px;
	list-style-type: none;
}


/*Item List */

#div-sharestatus-body #div-column {
	margin-top: 0px;
	width: 99%;
}

#div-sharestatus-body #div-itemlist {
	width: 99%;
}

#div-sharestatus-body #div-itemlist li {
	display: block;
	margin: 0px;
	margin-left: 5px;
}

#div-sharestatus-body #div-itemlist ul {
	display: inline;
}

#div-sharestatus-body #div-itemlist a {
	color: black;
}

#div-sharestatus-body #div-itemlist .ul-list-item {
	display: inline-block;
	margin-left: 1px;
	width: 100%
}

#div-sharestatus-body #div-itemlist .li-item-name {
	display: inline-block;
	width: 33%;
	padding: 0px;
}

#div-sharestatus-body #div-itemlist .li-item-email {
	display: inline-block;
	width: 60%;
	padding: 0px;
}

#div-sharestatus-body #div-column .li-item-email {
	width: 60%;
}

/*new share report*/

#div-status-main {
	display: none;
	padding: 5px;
}

.div-status-body {
	margin: 5px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.li-subject,  .li-status-date {
	display: inline-block;
	padding: 0.75em 0em 0em 0.5em;
	text-transform: uppercase;
	color: #000;
	float: left;
}

.li-status-main{
	float: right;
	display: inline-block;
	padding: 0.75em 0em 0em 0.5em;
	text-transform: uppercase;
	color: red;
	margin-right: 5px;
}

/*#ul-status-container div {
	display: inline-block;
	margin: 5px;
	font-weight:bold;
}*/

#ul-status-container .li-email { 
	color: black;
	border: none;
	box-shadow: none;
	margin-bottom: 5px;
	padding-left: 0;
	font-weight: bold;
	font-style: italic;
}

.ul-toList li, .ul-ccList li {
	display: inline-block;
}

/*.ul-Documents, .ul-images, .ul-videos {
	margin: 5px;
}*/

.ul-fileList div {
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	margin-top: 10px;
}

.ul-mc-status-artifacts-list {
	display: inline-block;
	width: 85%;
}

#ul-status-container .li-status {
	/*float: right;*/
	margin: 5px;
	font-weight: bold;
	font-style: italic;
	color: red;
}

#ul-status-container .li-status-Sent, .li-status-main-Processed  {
	color: green!important;
}

.ul-status-info {
	margin-top: 10px;
}

.div-to-text, .div-cc-text {
	display: inline-block;
	vertical-align: top;
	margin-top: 5px;
	width: 3%;
	font-weight: bold;
}

.ul-mc-status-artifacts-list li {
	margin: 10px 0px 10px 0px;
}

.ul-toList, .ul-ccList  {
	width: 100%;
	display: inline-block;
}

.div-to-list, .div-cc-list {
	display: inline-block;
	width: 94%;
}

.ul-status-header { 
	background-color: #ccc;
	height: 40px;
	width: 100%;
}

.fa-edit {
	color: rgb(129,42,42);
}

 #div-mail-save-use{
	text-align: center;
	padding: 0.6em;
	width: 100px;
	border-radius: 3px;
	background-color: #999;
	color: black;
	margin: 0 5px 5px 5px;
	float: right;
	display: none;
}

#input-email{
	width:250px;
}

#div-detail-view .li-document-share .fa {
	line-height: 0;
}

#div-detail-documents  #div-itemlist ul, #div-detail-videos #div-itemlist ul {
	margin-bottom: 20px;
}

#li-contacts-new {
	float: right;
	margin-right: 10px;
}

#ul-contacts-header > #li-contacts-save {
	float:right;
	display:none;
	margin-right: 5px;
}

#ul-contacts-header > #li-contacts-cancel {
	float:right;
	display:none;
	margin-right: 10px;
}

#div-add-new-container ul {
	margin-top: 10px;
	text-align: center;
}

#div-add-new-container #li-contacts-save, #div-add-new-container #li-contacts-cancel, .li-contacts-delete-show {
	display: inline-block;
}

#div-add-new-container .text-new-contacts {
	padding: 0.4em 0.6em;
	border: 1px solid #ccc;
	box-shadow: 0px 0px 3px #030303;
	border-radius: 4px;
	font-size: 1em;
	-webkit-appearance: none;
}

#content-type-drop-down {
	font-size: 1em;
}

#add-to-contact input {
	margin-right: 10px;
	margin-top: 20px;
	width: 25px;
	height: 25px;
}

#add-to-contact span {
	display: inline-block!important;
	margin-top: -15px;
	vertical-align: middle;
}

#div-contacts-list {
	max-height: 460px;
	overflow-x: hidden;
	overflow-y: auto;
	border-top: 10px solid #fff;
	border-bottom: 10px solid #fff;
	-webkit-overflow-scrolling: touch;
}

#li-contacts-btn-search {
	margin-left: 10px;
}

#li-contacts-search {
	display: block!important;
}

#div-contact-info {
	display: inline-block;
	width: 100%;
}

#div-contacts {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	margin-bottom: 5px;
	padding: 0.25em 0;
}

.btn-contact-edit i {
	color: #03366e;

}

.btn-contact-favorite i {
	color: #999;

}

.btn-contact-select i {
	color: #800;

}

#div-contacts-list #div-itemlist #div-contact-info #li-contact-name, #div-contacts-list #div-itemlist #div-contact-info #li-contact-email, #div-contacts-list #div-itemlist #div-contact-info #li-contact-action  {
	display: inline-block;
}

.fa-contact {
	font-size: 2em;
}

#li-contact-name {
	width: 40%;
}

#li-contact-email {
	width: 40%;
}

#li-contact-action {
	width: 15%;
}

.btn-black {
	background-color: black;
	color: #fff;
}

.btn-blue {
	background-color: #03366e;
	color: #fff;
}

.btn-crud: {
	float: right;
}

.btn-grey {
	background-color: #999;
	color: #000;
}

.btn-navigation-80 {
	width: 80px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	padding: 0.75em 0;
	text-align: center;
	text-transform: uppercase;
}

.btn-navigation-100 {
	width: 100px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	padding: 0.75em 0;	
	text-align: center;
	text-transform: uppercase;
}

.btn-navigation-120 {
	width: 120px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	padding: 0.75em 0;	
	text-align: center;
	text-transform: uppercase;
}

.btn-navigation-140 {
	width: 140px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	padding: 0.75em 0;	
	text-align: center;
	text-transform: uppercase;
}

#btn-share-send {
	float: right;
	margin-top: 5px;
}

#div-contacts-icon {
	text-align: center;
	width: 4.5%;
}

#div-email-recipients {
	width: 90%;
}

#div-email-to {
	color: #ccc;
	font-weight: bold;
	margin: 0.5em 0 0.5em 0.5em;
	width: 2.5%;
}

#div-share {
	margin: auto;
	margin-top: 20px;
	width: 96%;
}

#li-email-to {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #999;
	margin-bottom: 5px;
	padding: 0.25em 0;
}

#li-email-to div {
	display: inline-block;
}

#li-share-title {
	float: left;
	color: #00366e;
	font-size: 24px;
}


.spn-count {
	border-radius: 50%;
	background-color: #ccc;
	color: #000;
	padding: 0.25em;
	margin-left: 5px;
}

#txt-email-id {
	border: none;
	color: black;
	font-size: 1em;
	min-width: 20%;
	max-width: 100%;
	overflow: auto;
	-moz-appearance: textfield-multiline;
	-webkit-appearance: textarea;
}

#ul-contacts-header li {
	display: inline-block;
}

#ul-share-title li {
	display: inline-block;
	font-family: "Trebuchet MS";
	list-style-type: none;
	width: 100%;
}

#ph-div-emaillist {
	display: none;
}

.li-contacts-delete-hide {
	display: none;
}

#div-detail-documents, #div-detail-images, #div-detail-videos  {
	overflow-x: hidden;
	overflow-y: auto;
	border-bottom: 10px solid #fff;
	border-top: 10px solid #fff;
	-webkit-overflow-scrolling: touch;
}

#div-detail-documents #div-column, #div-detail-videos #div-column, #div-detail-documents #div-itemlist, #div-detail-videos #div-itemlist {
	width: 99%!important;
}



#div-detail-images .div-column-image {
	border-radius: 3px!important;
	background-color: #ddd;
	border: 1px solid #ccc;
	font-weight: bold;
	margin-top: 20px;
	width: 99%;
	display:none;
}

#div-detail-images .div-column-image li {
	display: inline-block;
	padding: 0.5em 0em 0.5em 0.5em;
	text-transform: uppercase;
	color: #000;
}

#div-send-status {
	width: 96%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
}

#div-send-status div {
	margin: 20px;
}

#div-send-status a {
	padding: 0.4em 0.6em;
	border-radius: 3px;
}

#div-share-status {
	margin-right: 5px;
	padding-top: 8px;
}

#btn-get-status {
	width: 140px;
	font-family: "Trebuchet MS";
	font-size: 1em;
	border: none;
	border-radius: 3px;
	padding: 0.4em;
	text-align: center;
	text-transform: uppercase;
}


#li-contacts-search .hide {
	display: none!important;
}

.li-ccList {
	margin: 10px 0px;
}

.li-Documents, .li-images, .li-videos {
	margin-bottom: 10px;
}

.li-no-data {
	margin-left: 10px;
}

#ul-contacts-header {
	margin-top: 5px;
}

#div-contacts-list .fa {
	font-size: 2em;
	margin-right: 1px;
}

#div-add-new-container {
	margin-left: 5px;
	margin-top: 20px;
}

/* hide share icon for non-shareable artifacts */

.check-shareable-item-N, .check-shareable-item-NN, .check-shareable-item-NY, .check-shareable-item-YN {

    display: none;
}

.check-shareable-N > .li-document-share, .check-shareable-NY > .li-document-share, .check-shareable-NN > .li-document-share, .check-shareable-NN > .li-document-share, .check-shareable-YN > .li-document-share  {
    display: none;
}

.check-shareable-N > .div-icon-share, .check-shareable-NY > .div-icon-share, .check-shareable-NN > .div-icon-share, .check-shareable-NN > .div-icon-share, .check-shareable-YN > .div-icon-share {
    display: none;
}

@media screen and (min-width: 1024px) {
	
	#text-email-area {
		height: 250px;
	}
	
	#div-mail-search,#div-mail-recent {
		text-align: center;
		padding: 0.6em;
		width: 80px;
		margin-left: 10px;
		border-radius: 3px;
	}
	
	#div-mail-favorite {
		text-align: center;
		padding: 0.6em;
		width: 100px;
		margin-left: 10px;
		border-radius: 3px;
	}

	#div-mail-new, #div-mail-cancel {
		text-align: center;
		padding: 0.6em;
		width: 80px;
		float: right;
		border-radius: 3px;
	}

	#div-detail-view #div-column .fa-share-alt-square, #div-detail-view #div-column .fa-times-circle-o  {
		float: right;
		margin: 3px 15px 0 0px;
	}
	
	#div-cont-type select {
		width: 42.2%; 
	}

	.phone-icon {
		display: none!important;
	}

	#div-detail-documents {
		height: 480px;
	}

	#div-detail-images, #div-detail-videos {
		height: 500px;
	}

	#div-sharestatus-body, .div-status-body {
		min-height: 300px;
		max-height: 500px;
	}

	.ul-fileList div {
		width: 10%;
	}

}


@media screen and (min-width: 768px) and (max-width:1023px) {

	#text-email-area {
		height: 300px;
	}

	#div-mail-search,#div-mail-recent {
		text-align: center;
		padding: 0.6em;
		width: 80px;
		margin-left: 10px;
		border-radius: 3px;
	}
	
	#div-mail-favorite {
		text-align: center;
		padding: 0.6em;
		width: 100px;
		margin-left: 10px;
		border-radius: 3px;
	}

	#div-mail-new, #div-mail-cancel {
		text-align: center;
		padding: 0.6em;
		width: 80px;
		float: right;
		border-radius: 3px;
	}

	#div-detail-view #div-column .fa-share-alt-square, #div-detail-view #div-column .fa-times-circle-o  {
		float: right;
		margin: 3px 3px 0 0px;
	}


	#div-detail-documents, #div-detail-images, #div-detail-videos {
		border-bottom: 20px solid #fff;
	}
	
	#div-cont-type select {
		width: 42.8%; 
	}

	.phone-icon {
		display: none!important;
	}

	#div-detail-documents {
		height: 720px;
	}

	#div-detail-images, #div-detail-videos {
		height: 740px;
	}

	#div-sharestatus-body, .div-status-body {
		min-height: 300px;
		max-height: 700px;
	}

	.ul-fileList div {
		width: 12%;
	}


	.ph-div-sharestatus-inner-container #div-sharestatus-main {
		height: 100px;
	}
	
	.ph-div-sharestatus-inner-container #div-date-range {
		margin-right: 50%;
	}
	
	.ph-div-sharestatus-inner-container .div-date-container {
		margin-left: 5px;
		padding-top: 0px;
	}
	
	.ph-div-sharestatus-inner-container #div-date-container-parent {
		float: left;
	}

}

