body {
    max-width: 1024px;
    margin: auto;
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Regular.otf');
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-It.otf');
    font-style: italic;
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-LightIt.otf');
    font-style: italic;
    font-weight: 300;
}

body {
    font-family: SourceSansPro, "Trebuchet MS";
    height: 100%;
    -webkit-touch-callout: none;
    /* -webkit-user-select: none; --PC 4760 CRM Copy and Paste-- */  
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* user-select: none;  --PC 4760 CRM Copy and Paste--  */ 
}

/* placeholder only style */
input:-ms-input-placeholder {
    color: #ccc;
}

.gmFontValidation {
    color: red;
}

.filter-criteria-content {
    margin-top: 10px;
}

.div-filter-name {
    width: 80%;
    vertical-align: top;
}

#btn-logout-menu,
#link-home-main {
    display: none;
}

#crm-tab-settings {
    display: none;
}

#div-crm-overlay-content-container3 {
    max-width: 500px;
}

.comments-data-right {
    margin: 6px 3px;
}

.comments-header-data-activity {
    margin: 0px !important;
}

.comments-header-data-left {
    margin: 7px 0 0 7px;
}

#div-name-container-iPad h5:first-letter {
    font-size: 20px;
    text-transform: capitalize;

}

#div-name-container-iPad h5 {
    font-size: 0px;
    display: inline-block;
}

#div-assign-to-search #div-keyword-search {
    width: 235px;
}

#div-name-container-iPad {
    padding: 10px 0px 0 8px;
    color: #999;
}

#div-name-container-iPad,
#ul-header-right-pic {
    /*    position: absolute;*/
    vertical-align: middle;
}

#ipad-menu-bar {
    text-align: right;
    padding: 15px 20px 10px 20px;
    font-size: 1.5em;
    margin-top: -10px;
    display: inline-block;
    float: right;
}

#div-crm-module #div-common-search-x {
    background: none;
    right: 9px;
    margin-left: -30px;
}

.ul-language-name .div-img {
    margin-left: 20px;
}

#li-filter-done {
    margin-bottom: 8px;
}

button,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#spn-userid {
    margin-top: 30px;
}

.gmUnderline {
    text-decoration: underline;
}

#link-settings {
    display: none;
}

input[type="date"],
input[type="time"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.gmSBtn {
    padding: 0.5em;
    background-color: #eee;
    border-radius: 2px;
}

.gmMarginTop20p {
    margin-top: 20px;
}

.gmMarginTop15p {
    margin-top: 15px;
}

.gmMargin15p {
    margin: 15px;
}

#div-module-main .div-category-items {
    background-color: #eee;
    width: 100%;
    margin: -10px 0px 10px -10px;
    padding: 0 10px;
}

.gmBorderRadius5p {
    border-radius: 5px;
}

#div-user-pic {
    text-align: -webkit-center;
}

.img-user-pic {
    width: 240px;
}

.image-user-pic {
    width: 240px;
}

.li-ipad-user-pic {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
    margin-top: -5px;
}

#ul-header-right-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee;
}

#ul-header-right-pic h5 {
    display: inline-block;
    font-size: 0px;
    white-space: pre-line;

}

#ul-header-right-pic h5:first-letter {
    font-size: 16px;
    text-transform: capitalize;
    color: black;
}

#div-header-right-initial {
    margin: 7px 10px 0px 0px;
}

.div-user-icon-pic {
    margin-top: -32px;
}

.default-picture {
    color: #aaa;
    font-size: 25px;

}

#img-header-right-pic {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    /*    margin-top: -30px;*/
}

.icon-padding {
    padding-right: .5vh;
}



.gmPadding5x0p {
    padding: 5px 0;
}

.gmPadding10x0p {
    padding: 10px 0;
}

.slider-page {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.sub-content {
    float: left;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
    position: relative;
    width: 32%;
}

.slide-page {
    height: 100%;
    position: relative;
}

.holder-page {
    height: 100%;
    min-height: 500px;
    overflow-y: hidden;
    width: 300%;
}

.nopadding {
    padding: 0px;
}

html {
    overflow-y: scroll;
}

a {
    text-decoration: none;
}


ul > li {
    margin: 0;
    padding: 0;
}


/* Content */

.gmAlignVertical {
    display: block;
}

.gmAlignHorizontal {
    display: inline-block;
}

.gmBtn {
    background-color: #ccc;
    border: 0;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    margin: 0;
    padding: 0.834em;
    text-align: center;
    width: auto;
}

.gmBtnGroup > li {
    display: inline-block;
    padding: 0 10px;
    vertical-align: sub;
}

.gmBtnSmall {
    font-size: 0.9em;
    padding: 0.5em 0.5em 0.35em 0.5em;
}

.gmClearLeft {
    clear: left;
}

.gmClearRight {
    clear: right;
}

.gmClearBoth {
    clear: both;
}

.gmColHead {
    min-width: 100px;
}

.gmIconBack,
.gmPanelTitle {
    line-height: 22px;
}

.gmPanelHead {
    background-color: #999;
    color: #000;
    padding: 0.4em 1em;
    vertical-align: middle;
    width: auto;
}

.gmPanelHead > li {
    display: inline-block;
    vertical-align: middle;
}

.gmSectionCaption {
    min-width: 150px;
    text-align: right;
    font-size: 13px;
}

.gmMinWidth10p {
    min-width: 10px;
}

.gmPad5p {
    padding: 5px !important;
}

.gmSectionCaption:nth-child(2) {
    min-width: 160px;
}

.gmSectionValue {
    min-width: 160px;
}

.gmSectionValue:nth-child(2) {
    min-width: 100px;
}

.gmSectionListItemGroup li {
    display: inline-block;
    vertical-align: middle;
}

.gmTab {
    border: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    padding: 10% 1em 0.5em 1em;
    text-align: center;
    width: auto;
}

.gmTab:first-child {
    margin-left: 10px;
}

.gmTabPad {
    padding: 12.5px 10px;
}

.gmTabDel,
.gmTabCnc,
.gmTabAdd {
    border-top-right-radius: 2px;
    line-height: 100%;
    margin: 0 5px 0 -5px;
    padding: 12.5px 10px;
}

.gmTabAdd {
    color: #B2182B;
    vertical-align: bottom;
}

.gmTabDel {
    background-color: #B2182B;
}

.gmTabCnc {
    background-color: #CFA407;
}

.gmTabBorder {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.gmArrowLeftWhite {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    height: 0;
    margin: 0.125em 0.75em 0 0.25em;
    width: 0;
}

.gmPanelContent {
    padding: 10px;
}

.gmVerticalTop {
    vertical-align: top;
}

.gmVerticalTxtB {
    vertical-align: text-bottom;
}

.gmVerticalMiddle {
    vertical-align: middle;
}

.gmDashMain {
    border: 1px solid #ccc;
    min-height: 685px;
    padding: 0.5em;
}

.gmDashContent {
    margin: auto;
    width: 99%;
}

.gmFloatLeft {
    float: left;
}

.gmFloatRight {
    float: right;
}

/* Background  Colors*/

.gmBGAsh {
    background-color: #999;
}

.gmBGBlue {
    background-color: #063F79;
}

.gmBGDarkBlue {
    background-color: #036;
}

.gmBGLightBlue {
    background-color: #538cc6;
}

.gmBGDarkGrey {
    background-color: #444;
}

.gmBGLightGrey {
    background-color: #ddd;
}

.gmBGGrey {
    background-color: #ccc;
}

.gmBGGold {
    background-color: #2B6FEC;
}

.gmBGGreen {
    background-color: #008040;
}

.gmBGLightGreen {
    background-color: rgba(0, 128, 64, 0.65);
    border-color: rgba(0, 128, 64, 0.65);
}

.gmBGKhaki {
    background-color: #B2182B;
}

.gmBGPink {
    background-color: #DF5A1B;
}

.gmBGDBlue {
    background: #00366e;
}

.gmBGPurple {
    background-color: #4169e1;
}

.gmBGRed {
    background-color: #800;
}

.gmBGOlive {
    background: #8C9C24;
}

/* Borders */
.gmBorderSandal {
    border: 1px solid #E8D8A5;
}

.gmBorderAsh {
    border: 1px solid #999;
}

.gmBorderBlue {
    border: 1px solid #063F79;
}

.gmBorderDarkGrey {
    border: 1px solid #444;
}

.gmBorderLightGrey {
    border: 1px solid #ccc;
}

.gmBorderGold {
    border: 1px solid #2B6FEC;
}

.gmBorderKhaki {
    border: 1px solid #B2182B;
}

.gmBorderPink {
    border: 1px solid #DF5A1B;
}

.gmBorderPurple {
    border: 1px solid #4169e1;
}

.gmBorderRed {
    border: 1px solid #92278F;
}

.gmBorderOlive {
    border: 1px solid #8C9C24;
}


/* Font */

.gmFontBold {
    font-weight: bold;
}

.gmFontBlue {
    color: #063F79;
}

.gmFontWhite,
.gmFontWhite:active,
.gmFontWhite:visited,
.gmFontWhite:focus,
.gmFontWhite:hover {
    color: #fff;
}

.gmFontGold {
    color: #2B6FEC;
}

.gmFontGreen {
    color: #008000;
}

.gmFontRed {
    color: #ff0000;
}

.gmFontPurple {
    color: #4169e1;
}

.gmFontBlack {
    color: #000;
}

.gmLineSpace {
    padding: 0.75em;
}

.gmBGPrimarY {
    color: #fff;
    background-color: #b22222;
}

.gmFontOlive {
    color: #8C9C24;
}

.gmFontDred {
    color: #B2182B;
}

.gmTxtLGrey {
    color: #eee;
}

.hide {
    display: none !important;
}

.gmInputText,
.gmInputSearch,
.gmInputSelect {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.741em 0.5em;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-size: .99em;
}

.gmText100p {
    min-width: 100px;
    width: 100px;
}

textarea.gmInputText,
textarea#txtarea-lead-notes {
    font-size: 16px;
}

.gmTextArea {
    min-height: 100px;
    margin: 1% 0% 1% 0%;
    padding: 8px;
    resize: none;
    width: 99%;
}

.gmInputChar {
    width: 20px;
}

.gmSectionHead {
    margin-bottom: 5px;
}

.gmBtnDelete {
    background-color: #000;
    padding: 0 0.5em;
}

.gmCriteria {
    border-radius: 3px;
    margin-top: 10px;
}

.gmBtnCrEdit {
    border-radius: 0 3px 3px 0;
    margin-left: -6px;
    padding: 9px 5px 9px 0px;
    vertical-align: bottom;
}

.gmBtnCrEdit .fa-pencil,
.gmBtnCrDelete .fa-trash {
    padding: 0 7px;
}

.gmBtnCrDelete {
    border-radius: 0;
    margin-left: -4px;
    padding: 9px 5px 9px 5px;
    vertical-align: bottom;
}

.gmBlock {
    border-radius: 4px 4px 0 0;
    margin: 0.5em 0 0.5em 0;
    width: 100%;
}

.gmTab {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


#div-crm-tab a {
    text-decoration: none;
}

#div-crm-tab {
    background-color: #0A2D53;
    padding: 1.55% 0 1.15% 0;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

#div-main-content {
    display: inline-block;
    width: 100%;
}

.gmMargin50 {
    margin: 0.5em;
}

.gmMargin1e {
    margin: 1em;
}

.gmMargin5p {
    margin: 5px;
}

.gmMarginLeft5p {
    margin-left: 5px;
}

.gmMarginRight5p {
    margin-right: 5px;
}

.gmMarginTop10p {
    margin-top: 10px;
}

.gmMarginVertical15p {
    margin: 15px 0;
}

.gmMinHeight25p {
    min-height: 25px;
}

.gmMinHeight50p {
    min-height: 50px;
}

.gmMinHeight75 {
    min-height: 75px;
}

.gmMinHeight100p {
    min-height: 100px;
}

.gmMinHeight130p {
    min-height: 130px;
}

.gmMinHeight125p {
    min-height: 125px;
}

.gmMinHeight150p {
    min-height: 150px;
}

.gmMinWidth50p {
    min-width: 50px;
}

.gmPad0 {
    padding: 0;
}

.gmPad25 {
    padding: 1.25px 0;
}

.gmPad50 {
    padding: 0.5em;
}

.gmPad75 {
    padding: 0.75em;
}

.gmPadLeft10p {
    padding-left: 10px;
}

.gmPadRight10p {
    padding-right: 10px;
}

.gmPadRight5p {
    padding-right: 5px;
}

.gmPadLeft5p {
    padding-left: 5px;
}

.gmFrameTitle {
    background-color: #fff;
    clear: both;
    display: inline-block;
    float: left;
    margin: -15px 0 0 12px;
    padding: 0.25em;
}

.gmNavBar {
    background-color: #0A2D53;
    color: #fff;
    padding: 1% 0 3.5% 0;
    width: 100%;
}

.gmNavBar > li {
    width: 49.75%;
}

#ul-header-left {
    margin-top: -6px;
    text-align: center;
    width: 52%;
}

#ul-header-right {
    margin-top: -10px;
    text-align: right;
}

.gmDashColHead,
.gmListColHead {
    display: inline-block;
    min-width: 50px;
    padding: 0.5em;
}

.gmDashColHead:last-child,
.gmListColHead:last-child {
    border-right: 0;
}

.gmDashColData,
.gmListColData {
    border-right: 1px;
    border: 0;
    display: inline-block;
    margin-right: -3px;
    min-width: 50px;
    padding: .8em 0.5em;
    vertical-align: middle;
    word-wrap: break-word;
}

.gmText25 {
    width: 25px;
}

.gmText50 {
    width: 50px;
}

.gmText75 {
    width: 75px;
}

.gmText30 {
    width: 30px;
}

.gmText100 {
    height: 100%;
    line-height: 100%;
    width: 100px;
}

.gmText125 {
    width: 125px;
}

.gmText150 {
    width: 150px;
}

.gmText160 {
    width: 160px;
}

.gmText175 {
    width: 175px;
}

.gmText185 {
    width: 185px;
}

.gmText200 {
    width: 200px;
}

.gmText225 {
    width: 225px;
}

.gmText245 {
    width: 245px;
}

.gmText230 {
    width: 230px;
}

.gmText240 {
    width: 240px;
}

.gmText250 {
    width: 250px;
}

.gmText350 {
    width: 350px;
}

.gmText500 {
    width: 500px;
}

.gmText400 {
    width: 400px;
}

.gmText650 {
    width: 650px;
}

.gmTextAll {
    width: 100%;
}

.gmWidth50 {
    width: 50%;
}

.gmSelectAttrib,
.gmSelectSortBy {
    display: none;
}

#img-logo img {
    margin: 5px 10px 9px 0;
    vertical-align: middle;
}

.gmJustText {
    text-decoration: none;
    text-transform: none;
}

#div-crmitemlist-coldata {
    max-height: 67vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.gmDashContent #div-crmitemlist-coldata {
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.divNoDataFound {
    padding: 0.5em;
}

#ul-crm-name {
    font-size: 1.5em;
    margin: auto;
    padding-top: 15vh;
    text-align: center;

}

#ul-crm-name li {
    margin: 10px;
}

#li-login-instruction {
    margin: 10px;
    text-align: center;
    font-style: italic;
}

#ul-crm-login {
    width: 80%;
    margin: auto;
    text-align: center;
}

#ul-crm-login li {
    margin: 10px;
    padding: 0;
    width: auto;
}

#ul-crm-login li:first-child {
    margin-top: 50px;
}

#ul-crm-login li:last-child {
    margin-top: 20px;
}

.gmPadding0 {
    padding: 0;
}

.gmPadBottom5p {
    padding-bottom: 5px;
}

.gmFont1em {
    font-size: 1em;
}

.gmFont2em {
    font-size: 2em;
}

.gmFont15em {
    font-size: 1.5em;
}

.gmFont16px {
    font-size: 16px;
}

.gmFont15px {
    font-size: 15px;
}

.gmFont12px {
    font-size: 12px;
}

.gmFont13px {
    font-size: 13px;
}

.gmFont8px {
    font-size: 8px;
}

.gmFont10px {
    font-size: 10px;
}

.gmTextCenter {
    text-align: center;
}

.gmTranstionMin {
    transition: 0.25s;
    -web-transition: 0.25s;
}

.gmOpactiyHeight0 {
    height: 0;
    opacity: 0;
}

.comment-top {
    margin-top: 5%;
}

.gmCommentArea {
    padding: 1%;
    width: 98%;
}

.commentHead {
    height: 30px;
}

.boxShadow {
    -webkit-box-shadow: 0px 2px 6px 0px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 0px #B7B4B4;
    box-shadow: 0px 2px 6px 0px #B7B4B4;
}


/* Extended div and close */


.span-extend {
    border: 1px solid #999;
    background-color: #eee;
    color: #000;
    display: inline-block;
    min-width: 8%;
    margin: 5px 5px 0px 5px;
    border-radius: 3px 0px 0px 3px;
}

.extend-text {
    display: inline-block;
    padding: 5px 5px;
    text-align: center;
    vertical-align: middle;
}

.extend-close {
    background-color: #444;
    color: white;
    display: inline-block;
    text-align: center;
    padding: 0px 5px 5px 5px;
    font-size: 25px;
    vertical-align: middle;
    border: 1px solid #444;
}


/*popup content*/

#div-crm-overlay,
#div-crm-overlay-content-main {
    display: none;
}

.div-overlay {
    height: 100%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#div-crm-overlay {
    background-color: #000;
    opacity: 0.7;
}

.modal {
    bottom: 0;
    display: none;
    left: 0;
    overflow: hidden;
    outline: 0;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-overflow-scrolling: touch;
    z-index: 1050;
}

.modal-dialog {
    max-width: 600px;
    margin: auto;
    position: relative;
    width: 58%;
}

.div-crm-overlay-content-container {
    max-width: 650px;
    margin: 30px auto;
    margin-top: 15vh;
    position: relative;

}

.div-crm-overlay-content-container > ul {
    background: #fff;
    margin: auto;
}

.modal-content {
    background-color: #fff;
    border-radius: 6px;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
}

.modal-header {
    border-bottom: 1px solid #eee;
    min-height: 16.42857143px;
    padding: 10px;
}

button.close {
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
    padding: 0;
}

.close {
    color: #000;
    float: right;
    font-size: 21px;
    filter: alpha(opacity=20);
    font-weight: bold;
    line-height: 1;
    opacity: .5;
    text-shadow: 0 1px 0 #fff;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 10px;
}

#div-popup-merc-list #div-filter-container {
    position: fixed;
}


#ul-popup-mail-container li {
    padding: 5px 0;
}

#ul-popup-mail-container .gmInputText {
    width: 94%;
}

.modal-footer {
    border-top: 1px solid #eee;
    padding: 10px;
    text-align: right;
}

#txt-popup-mail-conent {
    height: 200px;
}

.gmBGPurpleLight,
.gmBGPurpleLight:active,
.gmBGPurpleLight:visited,
.gmBGPurpleLight:focus,
.gmBGPurpleLight:hover {
    background-color: rgba(185, 123, 1, 0.66);
    border-color: rgba(185, 123, 1, 0.66);
    color: #fff;
}

.gmBGOliveLight,
.gmBGOliveLight:active,
.gmBGOliveLight:visited,
.gmBGOliveLight:focus,
.gmBGOliveLight:hover {
    background: rgba(128, 128, 0, 0.60);
}

.gmBGOlive .fa-trash {
    font-size: 1.2em;
    padding: 0 4px;
}

.gmBGOlive .fa-pencil {
    font-size: 1.2em;
    padding: 0 4px;
}

.gmMarginRight10p {
    margin-right: 10px;
}

.gmFontItalic {
    font-style: italic;
}

.gmDisplayWidth800p {
    margin: auto;
    width: 85%;
}

/*.gmLnk {
    text-decoration: underline;
}*/

.gmLnk a,
.gmLnk:hover,
.gmLnk:hover a {
    color: #000;
}

.gmText300 {
    width: 300px;
}

.gmWidth100m {
    min-width: 100px;
}

.gmWidth50p {
    width: 50px;
}

.gmWidthAuto {
    width: auto;
}

.gmWidth50m {
    min-width: 50px;
}

.gmMarginLeft10p {
    margin-left: 10px;
}

.gmMarginLeft20p {
    margin-left: 20px;
}

.gmMarginLeft25p {
    margin-left: 25px;
}

.gmOverFlowH250p {
    max-height: 250px;
    overflow: auto;
}

.gmTextTop {
    vertical-align: text-top;
}

.gmBGTeal {
    background-color: #007373
}

.gmFontTeal {
    color: #007373
}

.gmBorderTeal {
    border: 1px solid #007373
}

.agendaupload #li-fileupload-fileinfo label {
    display: none;
}

.gmPad10p {
    padding: 10px;
}

.gmMarginBottom10p {
    margin-bottom: 10px;
}

.gmBorderRadius3p {
    border-radius: 3px;
}

.gmBorderRadious10p {
    border-radius: 10px;
}

.gmBorderRadious8p {
    border-radius: 8px 8px 0px 0px;
}

.gmBGForestGreen {
    background: #478E23;
}

.gmBorderForestGreen {
    border: 1px solid #478E23;
}

.gmFontForestGreen {
    color: #478E23;
}

.gmPanelHead2 {
    padding: 1em;
    vertical-align: middle;
    width: auto;
}

.fa-dash-surgeon {
    border-radius: 3px 3px 3px 3px;
    border: 2px solid #ccc;
}

.gmMarginTop5p {
    margin-top: 5px;
}

.gmBGWhite {
    background: #fff;
}

.gmCriteriaName {
    border-radius: 3px 0 0 3px;
}

.gmBGBlack {
    background: #000;
}

.gmSubTitle {
    font-size: 16px;
}

.gmWidth180m {
    min-width: 180px;
}

.gmWidth170m {
    min-width: 170px;
}

.gmWidth160m {
    min-width: 160px;
}

#div-crmitemlist-colhead ul {
    display: inline-block;
    margin-top: 1vh;
    width: 100%;
}

#div-crop-ok {
    width: 37%;
}

#div-crop-user,
#div-crop-cancel {
    width: 40%;
}

/*Tab selection*/

.tabsurgeon {
    border-bottom: 1em solid #008040;
    padding-bottom: 4px;
}

.tabfieldsales {
    border-bottom: 1em solid #063F79;
    padding-bottom: 2px;
}

.tabtraining {
    border-bottom: 1em solid #b23d08;
    padding-bottom: 2px;
}

.tabphysicianvisit {
    border-bottom: 1em solid #4169e1;
    padding-bottom: 2px;
}

.tabsalescall {
    border-bottom: 1em solid #00ace1;
    padding-bottom: 2px;
}

.tabmerc {
    border-bottom: 1em solid #92278F;
    padding-bottom: 2px;
}

.tablead {
    border-bottom: 1em solid #B2182B;
    padding-bottom: 2px;
}

.tabcrf {
    border-bottom: 1em solid #8C9C24;
    padding-bottom: 2px;
}

.tabcrf-pending {
    border-bottom: 1em solid #8C9C24;
    padding-bottom: 2px;
}

.tabcrf-reviewed {
    border-bottom: 1em solid #8C9C24;
    padding-bottom: 2px;
}

#border-divider {
    border-left: 2px solid;
    height: 30px;
    margin: 0 1%;
    vertical-align: middle;
}

.select-container-content {
    margin: -8px 0px;
    position: absolute;
    z-index: 112;
}

#select-dropdown {
    max-height: 25vmax;
    overflow: auto;
}


.gmFont18em {
    font-size: 1.8em;
}

.gmFont12em {
    font-size: 1.2em;
}

.ul-surgeon-list-phone {
    display: none;
}

.gmFontPink {
    color: #6A0041;
}

#div-filter-container {
    background-color: #ccc;
    box-shadow: 0px 1px 1px 0px #000;
    cursor: default;
    display: none;
    min-height: 130px;
    position: absolute;
    z-index: 1;
}

.div-crmitemlist-filter {
    max-height: 400px;
    margin-top: 5px;
    overflow: auto;
}

.div-crmitemlist-filter ul li {
    padding: 8px 0;
}

.gmBtnCr {
    padding: 12px;
}

.li-no-display {
    padding: 10px;
    list-style-type: none;
}

#div-crmitemlist-detail-search-x {
    display: inline-block;
    margin-left: -25px;
}

.gmBtnLarge {
    font-size: 1.5em;
    vertical-align: middle;
}

.gmWhiteBorderBottom {
    border-bottom: 1px solid #fff;
}

#div-selected-container {
    max-width: 650px;
}

.gmPaddingTop10p {
    padding-top: 10px;
}

.gmPaddingButtom10p {
    padding-bottom: 10px;
}

.liSelectItem {
    width: 94%;
}

#div-search-result-main {

    background-color: #ccc;
    border: 1px solid #ccc;
    color: #000;
    display: none;
    max-height: 250px;
    position: absolute;
    z-index: 1;
}

#div-search-result-main #ul-search-resultlist {
    max-height: 250px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#dic-crm-module #div-common-search-x {
    display: inline-block;
    margin-left: -30px;
    position: initial;
}

.gmSearchListItem.active {
    background: #3b73af;
    color: #fff !important;
}

#div-crm-module .gmSearchListItem {
    color: #000;
    cursor: pointer;
    max-width: 100%;
    margin: 0;
    min-height: 15px;
    padding: 7px;
    border-bottom: 1px solid #fff;
}

.gmValidationError {
    border-color: red;
}

.gmValidationError input {
    border-color: red;
}

.alert {
    border: 1px solid;
    border-top: 0;
    padding: 0.5em;
    position: relative;
}

.alertError {
    background-color: #700;
    border-color: #700;
    color: #fff;
    opacity: 0.75;
}

.alertError:before {
    content: "";
    color: : #fff;
    font-weight: bold;
}

.alertSuccess {
    background-color: green;
    border-color: green;
    color: #fff;
    opacity: 0.75;
}

.alertMessages {
    background-color: #996600;
    border-color: #996600;
    color: #fff;
    opacity: 0.75;
}

.alertSuccess:before {
    content: "";
    color: : #fff;
    font-weight: bold;
}

#fa-close-alert {
    top: 54px;
    padding: 5px 10px;
    font-size: 1.5em;
    position: absolute;
    margin-left: 983px;
    color: white;
}

.gmFontDarkerGrey {
    color: #444;
}

.gmBGDarkerGrey {
    background-color: #444;
}

.gmFontBolder {
    font-weight: bolder;
}

.gmFontapprover {
    color: #007373;
}

.gmBGphysicianvisit {
    background-color: #4169e1;
}

.gmFontphysicianvisit {
    color: #4169e1;
}

.gmBGapprover {
    background-color: #007373;
}

.gmVerticalSuper {
    vertical-align: super;
}

.gmVerticalSub {
    vertical-align: sub;
}

.gmTextRight {
    text-align: right
}

.gmTextLeft {
    text-align: left
}


.gmEllipses {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.horizondal-line {
    height: 1px;
    margin-top: 0px;
}

.gmBGEmpty {
    background: none;
}

.app-title {
    background: #eee;
    border-radius: 3px;
    color: #0A2D53;
    padding: .4em .5em;
}

.gmBGLGrey {
    background-color: #eee;
}

.gmBGLBrown {
    background-color: #b69b72;
}

.gmBGTBrown {
    background-color: #7c6a4e;
}


.gmMargin0p {
    margin: 0;
}

.gmMargin1p {
    margin: 1px;
}

.gmOpacity5 {
    opacity: 0.5;
}

.gmFontLightGrey,
.gmFontLightGrey:active,
.gmFontLightGrey:visited,
.gmFontLightGrey:focus,
.gmFontLightGrey:hover {
    color: #aaa;
}

.gmPadding5p {
    padding: 5px;
}

.gmHr {
    border: 0;
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    margin: .5em 0;
    padding: 0;
}


/*Prabakaran*/

.gmTab span {
    display: none;
    font-size: 1em;
    margin-right: 5px;
}

.mobile-content {
    display: none;
}

#ul-mobile-main-header {
    /*    background: radial-gradient(circle, #376596, #033871, #00245F);*/
    background: #082A4F;
    color: #fff;
    height: 60px;
}

#btn-mobile-header-right-icon {
    float: left;
    width: 15vw;
}

#btn-mobile-header-right-icon i {
    display: none;
}

#btn-mobile-header-right-icon.btn-mobile-create i.btn-mobile-create {
    display: block;
}

#btn-mobile-header-right-icon.btn-mobile-edit i.btn-mobile-edit {
    display: block;
}

.gmMarginBottom5p {
    margin-bottom: 5px;
}

.fa-bold {
    font-weight: bolder;
}


/*no data*/

.gmTextUpper {
    text-transform: uppercase;
}


/*Styles as on 3 May 2016*/

.gmFont80em {
    font-size: 0.8em;
}

.gmFont90em {
    font-size: 0.9em;
}

.gmMarginTop0 {
    margin-top: 0 !important;
}

.cursorPointer {
    cursor: pointer;
}

.search-icon {
    position: relative
}

.search-icon:after {
    content: "\f002";
    color: #aaa;
    font-family: FontAwesome;
    font-size: 1.5em;
    position: absolute;
    pointer-events: none;
    right: 8px;
    top: -2px;
}


.gmHeight50 {
    height: 65px;
}

.gmHeight100m {
    min-height: 100px;
}

.gmHeight200m {
    min-height: 200px;
}


/*Styles as on 10 May 16*/


.gmPointCursor {
    cursor: pointer;
}

.gmVerticalBottom {
    vertical-align: bottom;
}

#div-addr-add i {
    font-size: 2.5em;
}

.gmTabCnc {
    padding-left: 12px;
    padding-right: 12px;
}

.gmText90 {
    width: 90px;
}

.div-module-country,
.div-module-state {
    width: 187px;
}

.iPhone {
    display: none !important;
}

.li-index-number {
    width: 12%;
}

.gmVisibilityHidden {
    visibility: hidden;
}

.gmVisibilityVisible {
    visibility: visible;
}

.gmTextCapitalize {
    text-transform: capitalize;
}

/*Mobile Layout common Styles*/
@media screen and (max-width: 480px) {
    .btn-icon {
        font-size: 8px;
    }

    .gmMediaFont13p {
        font-size: 13px;
    }

    .gmMediaFont14p {
        font-size: 14px;
    }

    .gmMediaFont15p {
        font-size: 15px;
    }

    .iPad {
        display: none !important;
    }

    .gmMediaVisibilityH {
        visibility: hidden;
    }

    .gmMediaVisibilityV {
        visibility: visible;
    }

    .gmMediaWidth100px {
        width: 100px;
        min-width: 100px;
    }

    #div-popup {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 200px !important;
        position: initial !important;
    }

    .gmMediaHeight10 {
        height: 10%;
    }

    i#sur-list-download {
        display: none;
    }

    #div-search-result-main #ul-search-resultlist {
        max-height: 250px;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #div-app-title #btn-home {
        margin-top: -11px;
        padding-right: 10px;
        float: right;

    }

    .ul-language-name {
        display: none
    }

    .select-address-state,
    .select-address-country {
        width: 94vw !important;
        min-width: 150px;
    }

    #div-search-result-main {
        z-index: 10;
    }

    .gmFontSize12p {
        font-size: 12px;
    }

    #div-crm-module #div-common-search-x {
        position: absolute !important;
        right: 7px !important;
        margin-top: 2px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
        padding: 10px !important;
        font-size: 1.3em !important;
        background: none !important;

    }

    #div-crm-module .div-lbl,
    .div-lbl-locale {
        padding: 34px 0px 0px 0px;
        text-transform: uppercase;
        margin-left: 0px;
    }

    .gmMediaMargin0p {
        margin: 0px !important
    }

    .gmMediaWidth46p {
        width: 46px !important;
    }

    .gmMediaMinWidth46p {
        min-width: 46px !important;
    }

    .gmMediaMinWidth50p {
        min-width: 50px !important;
    }

    .gmMediaVerticalTop {
        vertical-align: top !important;
    }

    #ul-physicianvisit-detail-left-top-right .gmSection {
        padding: 5px 0 !important;
    }

    #div-settings-menu {
        display: none;
    }

    .div-menu-open {
        display: none !important;
    }

    #btn-logout .div-lbl {
        font-size: 12px;
        width: 95%;
    }

    /*
    .extend-close {
        background-color: #444;
        border-radius: 50%;
        color: white;
        display: inline-block;
        float: right;
        text-align: center;
        padding: 0px 5px 3px 5px;
    }
*/
    .gmMediaMargin10p {
        margin: 10px;
    }

    .li-crm-module-phone-pic {
        margin-top: -4px;
    }

    #div-messagebar {
        min-height: 20px;
        top: 78px;
        z-index: 1;
    }

    .commentHead {
        height: 40px;
    }

    .comments-save {
        float: left;
    }

    .comments-header-data-left {
        margin: 5px 0 0px 5px !important;
        width: 100%;

    }

    .comments-header-data-right {
        margin: 0px 0 0px 2px;
        float: left;
        font-size: 12px;
        width: 100%;
    }

    .comments-header-data-right .comments-edit,
    .comments-header-data-right .comments-delete {
        float: right;
        font-size: 2em;
        margin: -20px 7px 0px 7px;
    }

    .alertError {
        top: 45px;
    }

    #ul-navigation-left {
        display: none;
    }

    #btn-home {
        display: none;
    }

    #button-mobile-menu {
        padding: 5px 10px;
    }

    .div-moble-menu {
        width: 10%;
        text-align: right;
    }

    #div-crm-overlay-content-main {
        z-index: 4;
    }

    .div-moble-header .gmMediaVerticalTop {
        margin: 4px 0px;
    }

    #input-add-favorite {
        width: 70%;
    }

    .div-settings-open {
        visibility: visible !important;
    }

    #ul-navigation-right {
        display: none;
    }

    .gmMediaMargin5p {
        margin: 5px;
    }

    #div-crm-module select {
        text-transform: none;
    }

    #selected-criteria-label {
        display: inline-block;
        width: 80%;
    }

    #selected-criteria-icon {
        display: inline-block;
        text-align: right;
        width: 10%;
    }

    .filter-criteria-content .div-criteria.div-text-selected-crt {
        width: 100%;
        vertical-align: top;
    }

    #btn-home,
    #btn-settings,
    #mobile-menu-top-user-logout {
        margin-left: 12px;
    }

    #btn-home,
    #btn-settings,
    #mobile-menu-top-user-logout {
        margin-left: 9px;
    }

    #div-crm-tab #btn-settings {
        margin-top: 7px;
    }

    #span-app-title {
        width: 73%;
        text-transform: capitalize;
    }

    #mobile-menu-top-user-logout {
        display: inline-block !important;
    }

    .modal-footer {
        border-top: 1px solid #eee;
        padding: 0px;
        text-align: center;
        position: fixed;
        width: 100%;
        background: #fff;
        bottom: 0;
        height: 40px;
    }

    .div-app-title {
        border-radius: 0px;
    }

    .gmMediaMargin15p {
        margin: 15px;
    }

    #merc-actenddate,
    #merc-actstartdate {
        width: 89vw;
    }

    .select-address-state {
        width: 100%;
    }

    /*
    ul #li-addres-select-state .selectbox-icon,
    ul #li-addres-select-country .selectbox-icon {
        position: initial;
    }
*/
    .gmMediaWidth75p {
        width: 75px !important;
        min-width: 75px !important;
    }

    .gmMediaMarginBottom5p {
        margin-bottom: 5px;
    }

    .gmMediaTextCenter {
        text-align: center;
    }

    .gmMediaMarginBottom10p {
        margin-bottom: 10px;
    }

    .gmMediaMarginTop10p {
        margin-top: 10px;
    }

    .gmMediaMinWidth50p {
        min-width: 35px;
    }

    .gmMediaAlignVertical {
        display: block !important;
    }

    .gmMediaMarginLeft10p {
        margin-left: 10px;
    }

    .gmMediaMarginRight10p {
        margin-right: 10px;
    }

    .gmBtnGroup {
        min-width: 8vmin;
        text-align: right;
    }

    .gmPanelContent {
        height: 80vh;
        padding: 5px;
        width: 97%;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .iPhone {
        display: inline-block !important;
    }

    .hide {
        display: none !important;
    }

    .gmMediaTextRight {
        text-align: right;
    }

    #div-crm-tab {
        top: 20px;
    }

    .gmDisplayWidth800p {
        width: 100% !important;
    }

    .div-criteria {
        min-width: 100%;
        font-size: 13px;
    }

    .div-criteria .gmTextRight {
        text-align: center;
    }

    .div-criteria.div-text-selected-crt {
        width: 100%;
        font-size: 13px;
    }

    .div-crmitemlist-filter ul li {
        text-align: left;
        width: 95%;
        margin: auto;
    }

    .gmBtnGroup span {
        display: none;
    }

    .gmPanelHead {
        height: 30px;
        padding: 0.4em 5px;
    }

    #h1-settings-data-sync,
    #h1-settings-account-price {
        display: none;
    }

    #crm-btn-back {
        display: none;
    }

    #Dashboard:before {
        display: none !important;
    }

    .mobile-content {
        display: block;
    }

    .li-category-value {
        width: 60% !important;
    }

    #ul-mobile-main-header {
        position: fixed;
        padding-top: 20px;
    }

    .div-moble-header {
        width: 100%;
        position: fixed;
        z-index: 4;
    }

    #div-main {
        margin-top: 82px;
    }

    #txt-userid,
    #txt-password {
        width: 94%
    }

    .gmTab {
        margin-top: 0;
    }

    .gmMediaMarginAuto {
        margin: auto;
    }

    .gmMediaMarginTop10 {
        margin-top: 10px;
    }

    .gmMediaMarginBottom10 {
        margin-bottom: 10px;
    }

    .gmMediaHeight100 {
        height: 100%;
    }

    .gmMediaWidth100 {
        width: 100%;
    }

    .gmMediaWidth99 {
        width: 99%;
    }

    .gmMediaWidth98 {
        width: 98%;
    }

    .gmMediaWidth95 {
        width: 94%;
    }

    .gmMediaWidth90 {
        width: 90%;
    }

    .sub-content,
    gmMediaWidth32 {
        width: 32.5%;
    }

    .gmMediaWidth84 {
        width: 84%;
    }

    .gmMediaWidth85 {
        width: 85%;
    }

    .gmMediaWidth80 {
        width: 80%;
    }

    .gmMediaWidth70 {
        width: 70%;
    }

    .gmMediaWidth75 {
        width: 75%;
    }

    .gmMediaWidth60 {
        width: 60%;
    }

    .gmMediaWidth65 {
        width: 65%;
    }

    .gmMediaWidth50 {
        width: 50%;
    }

    .gmMediaWidth45 {
        width: 45% !important;
    }

    .gmMediaWidth30 {
        width: 30% !important;
    }

    .gmMediaWidth34 {
        width: 35% !important;
    }

    .gmMediaMargin5 {
        margin: 5% !important;
    }

    .gmMediaMarginLeft5 {
        margin-left: 5% !important;
    }

    #ul-category-li {
        width: 100% !important;
    }

    .gmMediaMarginLeft5p {
        margin-left: 5px;
    }

    .gmMediaFloatNone {
        float: none;
    }

    .gmMediaDisplayNone {
        display: none !important;
    }

    .div-crm-overlay-content-container > ul {
        height: 100%;
        width: 100%;
    }

    .media-btn {

        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .ph-date-txt {
        width: 25%;
        margin: 0 !important;

    }

    #div-module-criteria {
        height: 100%;
        min-height: 500px;
        position: static;
        top: 10%;
        width: 100%;
    }

    #div-module-criteria li.gmSectionListItem {
        margin: 10px auto;
    }

    .div-crm-overlay-content-container {
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    #div-crm-overlay-content-container4 {
        min-width: 275px;
        max-width: 275px;
        /* overflow: hidden; */
        max-height: 190px;
        top: 34vh;
    }

    .modal-body {
        height: 80vh;
        overflow: auto;
    }

    .select-options-content {
        max-height: 65vh !important;
        overflow: auto;
    }

    .select-options-content {
        background: #fff;
    }

    li.select-options-content ul {
        border-bottom: 1px solid #ccc !important;
        padding: 4% !important;
        color: #000 !important;
    }

    .li-select-option .fa-check {
        color: #000;
    }

    .gmTabDel,
    .gmTabCnc,
    .gmTabAdd {
        margin: 0 5px 0 -1px;
    }

    .tab-content {
        display: none;
    }

    #div-crm-tab {
        background: none;
        display: block;
        position: fixed;
        height: 100vh;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: 0s;
        width: 75vw;
        z-index: 10;
        display: none;
    }

    #div-crm-tab a {
        border-bottom: 1px solid;
        display: block;
        font-size: 5vw;
        margin: 0;

        text-align: left;
    }

    #div-crm-tab .gmTab {
        padding: 2vh;
    }

    #div-crm-tab:before {
        background: #444;
        content: "";
        height: 123vh;
        opacity: 0.98;
        position: absolute;
        top: 0;
        width: 75vw;
        z-index: -1;
    }

    .show-panel,
    .fa-desktop {
        display: inline-block !important;
    }

    .gmTab span {
        display: inline-block;
    }

    .li-filter-item-search input {
        border: 1px solid #999;
        border-radius: 3px !important;
        box-shadow: 0px 2px 6px 1px #B7B4B4;
        color: #000;
        font-size: 1em;
        margin: 0%;
        -moz-box-shadow: 0px 0px 3px 0px #666;
        padding: 0.6em;
        width: 94%;
        -webkit-box-shadow: 0px 0px 3px 0px #666;
    }

    #div-filter-phone-content .div-crmitemlist-filter i {
        padding: 0 5px 0 10px;
    }

    #div-filter-phone-content .div-crmitemlist-filter .div-filter-name {
        width: 85%;
        vertical-align: top;
    }

    #alert-div {
        width: 96% !important;
        margin: 1% 0 !important;
    }

    #ul-crm-name {
        padding-top: 5vh;
    }

    #ul-crm-login li:first-child {
        margin-top: 5vh;
    }

    .img-surgeon-pic {
        border-radius: 50%;
        width: 200px !important;
    }

    .modal-footer button,
    .modal-footer button:hover,
    .modal-footer button:focus,
    .modal-footer button:active,
    .modal-footer button:visited {
        color: #000;
        background: #fff;
        width: 49%;
        color: #000;
        font-weight: bold;
        outline: none;
        font-size: 15px;
    }

    .modal-footer .close-modal,
    .modal-footer .save-model,
    .modal-footer .addnew-model,
    .modal-footer .select-model {
        width: 32%;
    }

    .modal-footer .close-modal,
    .modal-footer .save-model {
        width: 49%
    }

    .gmPanelTitle {
        line-height: 25px;
    }

    .gmBtnGroup > li {
        padding: 0;
    }

    .gmBtnGroup li .fa {
        padding: 6px 8px;
        font-size: 1.5em;
    }

    .gmMyFavContent .gmBtnCr {
        width: 65% !important;
    }

    .gmBtnCrEdit,
    .gmBtnCrDelete {
        width: 10% !important;
        padding: 6px 2.5% !important;
    }

    .category-btn {
        padding: .767em 2.5% !important;
    }

    .gmInputText,
    .gmInputSearch,
    .gmInputSelect {
        padding: 8px 2.5% !important;
    }

    .gmBtn {
        padding: 10px 2.5%;
    }

    #div-module-criteria input {
        width: 94%;
    }

    #div-module-criteria .gmBtn {
        width: 94%;
    }

    #div-address-main-content ul li {
        margin: 5px 0;
        width: 100%;
    }

    #div-address-main-content ul li input {
        width: 94%;
    }

    #div-new-surgeon-content #input-new-surgeon-firstnm,
    #div-new-surgeon-content #input-new-surgeon-lastnm {
        width: 35% !important;
        min-width: 35%;
    }

    #div-new-surgeon-content #input-new-surgeon-midinitial {
        width: 10% !important;
        min-width: 10%;
    }

    #div-new-surgeon-content input {
        width: 94% !important;
    }

    .li-index-number {
        width: 12%;
    }

    .gmMediaWidth20 {
        width: 20%;
    }

    .ul-list-data {
        width: 85%;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {

    .gmFilter {
        max-width: 450px;
    }

    i#sur-list-download {
        display: none;
    }

}

@media screen and (min-width:480px) and (max-width: 768px) {

    #div-crm-tab .gmTab {
        padding: 1vh 1vh .3vh 1vh;
    }

    i#sur-list-download {
        display: none;
    }

    .div-edit .li-pv-edit-role {
        width: 100px;
    }

    .div-edit .li-actvty-edit-sur {
        width: 75px;
    }

    #div-name-container-iPad {
        width: 5%;
    }

    #div-document-list .gmDashColData,
    .gmListColData {
        border-right: 1px;
        border: 0;
        display: inline-block;
        margin-right: -3px;
        min-width: 50px;
        padding: .8em 0.5em;
        vertical-align: text-top;
        word-wrap: break-word;
    }

    .gmFilter {
        max-width: 480px !important;
    }


    .gmNavBar {
        padding: 1% 0% 6% 0%;
    }

    #div-crm-tab {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        width: 100%;
    }

    .ul-short-75 {
        width: 75%;
    }
}


}

@media screen and (-webkit-min-device-pixel-ratio:0) {
        {
        font-weight: 600;
    }
}

.gmMarginRight15p {
    margin-right: 15px;
}


.gmFontGrey {
    color: #888;
}

#alert-div {
    width: 1008px;
    margin: 2px 0px;
}

#div-crm-tab a {
    font-size: 16px;
}

#Dashboard:before {
    font-family: FontAwesome;
    content: "\f015";
    display: inline-block;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 1.8em;
}

.module-tab-title {
    background-color: #eee;
    padding: 1em;
    border-radius: 3px;
}

.module-tab-title-down {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
    display: block;
    text-align: center;
    background: #ccc;
    float: right;
    margin-top: -6px;
}

.gmMarginLeftMinus5p {
    margin-left: -5px;
}

#div-favorite-title {
    vertical-align: text-bottom;
}

.fa-desktop {
    display: none;
}

.category-btn {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.767em 1em;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
}

.gmValidationError {
    border-color: red;
}

.gmBorderBottomLGrey {
    border-bottom: 1px solid #eee;
}

#li-filter-done {
    text-align: center !important;
}

.gmPadTB10p {
    padding: 10px 0;
}

.gmMarginRight25p {
    margin-right: 25px;
}

#div-address-main-content ul li {
    margin: 5px;
}

.salescall-dropdown:last-child {
    border-bottom: none;
}

#div-crm-tab a {
    padding: 0 20px;
}

/*New Surgeon Add Style*/
#div-new-surgeon-content .gmSectionCaption {
    min-width: 90px;
}

#div-new-surgeon-content #surgeon-label-email,
#div-new-surgeon-content #surgeon-label-zip,
#div-new-surgeon-content #surgeon-label-address-two {
    min-width: 77px;
}

#div-new-surgeon-content li {
    margin: 5px 2px;
}

#div-new-surgeon-content .gmWidth180m {
    width: 170px;
    min-width: 170px;
}

#div-new-surgeon-content #input-new-surgeon-midinitial {
    width: 66px;
}

#div-new-surgeon-content .select-address-state,
#div-new-surgeon-content .select-address-country {
    min-width: 182px;
}

.gmAddressMsg {
    font-style: italic;
    font-size: 12px;
    padding: 10px 0 0 0;
}

.div-view .sur-rmv-icon {
    display: none;
}

.div-edit .div-select-type-constatus {
    display: none;
}

.list-category-item {
    margin-top: 10px;
}

.gmLink {
    text-decoration: underline;
    cursor: pointer;
}


#div-LocalDB {
    position: absolute;
    background-color: #aaa;
    top: 8.5%;
    width: 100%;
    margin: auto;
    padding-bottom: 10px;
}

#txtSQL,
#txtOutput {
    font-size: 1em;
    width: 98%;
    height: 39vh;
    margin: 1% auto;
}

#btn-close {
    width: 10%;
}

input::-webkit-input-placeholder {
    font-family: SourceSansPro, 'FontAwesome', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-moz-placeholder {
    font-family: SourceSansPro, 'FontAwesome', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input::-ms-input-placeholder {
    font-family: SourceSansPro, 'FontAwesome', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-loader-spinner {
    width: 25px;
    margin-top: 20%;
    margin-bottom: 1%;
}

#div-crm-module textarea {
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
}

.crmPortal .gmNavBar #img-header-right-pic {
    width: 55px;
    height: 55px;
}

.crmPortal .gmNavBar #ul-header-right-pic {
    margin-right: 10%;
    width: 55px;
    height: 55px;
}

.crmPortal .gmNavBar #ul-header-right {
    padding-top: 20px;
}

.crmPortal .gmNavBar #div-header-right-initial {
    margin: 12px 18px 0px 0px;
}

.crmPortal .gmNavBar .div-user-icon-pic {
    margin-top: -37px;
}

.crmPortal .gmNavBar > li {
    width: 33%;
}

.crmPortal #ul-header-left {
    width: 33%;
    display: inline-block;
}

.crmPortal #spn-portal-back {
    margin-left: 10%;
    cursor: pointer;
}

aside {
    background: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
    padding: 10px;
    font-size: 13px;
    font-style: italic;
    margin-top: -10px;
}

.arrow_box_down {
    position: relative;
    background: #ccc;
}

.arrow_box_down:after {
    top: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 10px;
    margin-left: -10px;
}

.arrow_box_up {
    position: relative;
    background: #ccc;
}

.arrow_box_up:after {
    bottom: 100%;
    left: 15%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #ccc;
    border-width: 10px;
    margin-left: -10px;
}

#img-npid-spinner {
    width: 15px;
}

.gmFont14p {
    font-size: 14px;
}

.spn-mutli-file-nm {
    border: 1px solid #000;
    height: 29px;
    padding-top: 12px;
    padding-left: 7px;
    border-radius: 5px 0px 0px 5px;
    margin-right: -4px;
    overflow: hidden;
    white-space: nowrap;
}

.li-mutli-fileupld i {
    float: right;
    margin: 5px 20px 0px 0px;
}


#ul-mutli-fileupld-container {
    max-height: 465px;
    overflow: auto;
    min-height: 250px;
}

#ul-mutli-fileupld-container li {
    padding: 10px 0px 10px 20px;
}

#ul-mutli-fileupld-container .div-mutli-fileupld-count {
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
}

#div-crm-overlay-msg {
    background-color: #700;
}

.div-mutli-fileupld-title {
    margin-top: 10px;
    margin-left: 25px;
}

.div-mutli-fileupld-title input {
    padding: 5px;
    margin-left: 10px;
    width: 270px;
}

.gmWidth45pnt {
    width: 45%;
}

#ul-mutli-fileupld-container li:nth-child(even) {
    background-color: #ddd;
}

.upload-files-list-edit {
    display: block;
    margin-left: 20% !important;
}

#div-merc-edit-program .upload-files-list-edit,
#div-physicianvisit-edit-objective .upload-files-list-edit {
    /*    margin-left: 17% !important;*/
}
