#div-salescall .gmSectionCaption {
    min-width: 180px;
}

#ul-salescall-detail-left-top-right {
    width: 75%;
    float: right;
}

.ul-sc-filter-criteria {
    margin-top: 70px;
    margin-bottom: 8px;
}

.sc-phone-style {
    display: none;
}

#div-salescall {
    width: 85%;
    margin: auto;
}

#div-salescall-detail .div-sur-pic-container {
    margin: 2%;
}

.li-sc-edit-products {
    margin-left: 23% !important;
    width: 81%;
}

#div-sc-detail-product {
    width: 70%;
    vertical-align: top;
}

#button-sc-result-create {
    width: 275px;
}

#div-salescall-detail li.gmSectionListItem {
    margin: 0 5px;
}

.li-sc-actsteps-notes {
    padding: 5px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 2px;
    min-height: 50px;
    background: #eee;
}

#div-salescall-edit li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#textarea-sc-edit-actsteps,
#textarea-sc-edit-notes {
    min-height: 50px;
    min-width: 400px;
}

.el-salescall-Smode {
    display: none;
}

.ul-salescall-category-items li:nth-of-type(2),
.ul-salescall-category-items li:nth-of-type(3) {
    margin-left: 0px;
}

#salescall-date .gmSectionCaption {
    min-width: 50px;
}

.item-searchlist i {
    display: none;
}

#ul-search-resultlist .selected-item i {
    display: inline;
}

#salescall-scheduler-rep-search {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    right: 200px;
    top: 5px;
    width: 200px;
}

#salescall-scheduler-rep-search input {
    padding: 7px 7px;
}

#salescall-scheduler-rep-search #div-search-result-main {
    position: initial;
}


/*//salse call toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width:480px) and (max-width: 768px) {
    .div-salescall-popup-system {
        margin-top: 10px;
    }

    #salescall-date .gmSectionCaption:nth-child(2) {
        min-width: 150px;
    }

    #textarea-sc-edit-actsteps,
    #textarea-sc-edit-notes {
        min-height: 50px;
        min-width: 440px;
    }

    .li-sc-actsteps-notes {
        padding: 5px;
        border: 1px solid grey;
        width: 70%;
        border-radius: 2px;
        min-height: 50px;
        background: #eee;
    }

    #div-salescall-list-item .gmText350,
    #products {
        width: 35%;
    }
}

@media screen and (max-width: 480px) {
    #li-activity-select-address {
        min-width: 95% !important;
        max-width: 95% !important;
        min-height: 30px;
        margin-bottom: 10px;
    }

    .li-sc-actsteps-notes {
        padding: 0;
        width: 100%;
        border-radius: 2px;
        background: #eee;
    }

    #div-salescall-actsteps,
    #div-salescall-notes {
        width: 95%;
        margin: auto;
        padding: 10px 0;
    }

    #div-salescall-cancel,
    #div-salescall-confirm {
        width: 95%;
    }

    .div-totime-sc {
        padding-left: 15px;
        margin-top: -3px;
    }

    #salescall-actstartdate {
        width: 130px;
        min-width: 100px;
    }

    .li-sc-edit-time {
        width: 81%;
    }

    .li-sc-edit-time input {
        width: 42% !important;
    }

    #div-salescall .gmLineSpace {
        display: none;
    }

    #div-crm-module .div-sc-from-time .div-img {
        padding: 0.35em 0em 0 0;
        margin-left: -27px;
    }

    #div-salescall .div-view .gmAlignHorizontal .gmSection {
        margin-top: 10px;
    }

    .li-totime-fa {
        width: 50px;
        margin-left: 13px !important;
    }

    .div-btn-header {
        height: 46px;
        margin-right: 0px;
    }

    .div-sc-from-time {
        width: 44px;
    }

    #salescall-date .div-lbl {
        font-size: 11px;
        color: black;
        margin-left: 6px;
    }

    #salescall-date .salescall-date-input {
        width: 90px;
    }

    #salescall-actendtime {
        margin-left: -9px;
    }

    #div-salescall .div-view .gmSection ul.gmSection {
        padding: 5px 0 !important;
    }

    #div-salescall .div-view li.gmSectionListItem {
        margin: 2.3px 0 !important;
        min-width: 65px;
    }

    #div-salescall .div-activity-product {
        /*background-color : #eee;*/
    }

    #input-sc-title {
        min-width: 0px !important;
    }

    .div-edit .ul-physicianvisit-display-projects,
    .div-edit .ul-physicianvisit-display-product,
    .div-edit .ul-physicianvisit-display-participants,
    .div-edit .ul-physicianvisit-caption {
        width: 100% !IMPORTANT;
    }

    .div-edit .ul-physicianvisit-caption {
        width: 100% !important;
    }

    #ul-salescall-detail-left-top-right .gmAlignVertical {
        display: inline-block;
    }

    #div-salescall {
        width: 100%;
    }

    #button-sc-result-create {
        margin: 10px 0;
    }

    #div-salescall .fa {
        font-size: 1.5em;
        color: black;
        display: inline-block;
    }

    .div-edit input,
    .div-edit textarea {
        width: 94%;
    }

    #textarea-sc-edit-actsteps,
    #textarea-sc-edit-notes {
        min-width: 200px;
    }

    #div-salescall-detail .fa-user-md {
        color: black;
        font-size: 2em;
    }

    #ul-salescall-detail-left-top-right .sc-detail-phone-style {
        width: 75% !important;
    }

    #txt-select-resulttype {
        width: 100%;
    }

    .el-salescall-Smode {
        display: inline-block !important;
    }

    .el-salescall-Lmode {
        display: none !important;
    }

    #ul-salescall-search-btn {
        float: none;
    }

    #salescall-ul-activity-date {
        float: none;
        width: 100%;
    }

    .sc-date-criteria {
        width: 100%;
    }

    .ul-salescall-category-items {
        margin-left: 0;
    }

    .ul-filter-content li.gmSectionListItem {
        margin: 10px 0;
    }

    .ul-filter-content input {
        width: 94%;
    }

    .ul-filter-content .gmMarginLeft10p {
        margin-left: 0;
    }

    .ul-salescall-activity-date .gmTextRight {
        display: none;
    }

    .ul-ph-salescall-filter-search {
        float: none;
    }

    .div-upcum-salescall-btn,
    .salescall-search-content input {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .li-sc-popup-criteria {
        width: 100%;
    }

    #div-salescall-detail li {
        margin: 5px 0 !important;
        width: 94% !important;
    }

    #div-salescall-edit input {
        width: 94%;
    }

    #div-salescall-edit textarea {
        width: 94%;
    }

    #ul-salescall-detail-left-top-left {
        display: none;
    }

    #ul-salescall-detail-left-top-right {
        width: 100%;
        float: none;
    }

    .salescall-date-input {
        width: 39%;
        display: inline-block;
    }

    #div-salescall .div-edit li {
        margin: auto 0px;
    }

    #div-salescall .div-edit li.gmSectionListItem {
        margin: 5px 0 0 0;
    }

    #div-salescall .div-edit li.gmSectionValue {
        margin: 3px 0 15px 0;
    }
}

#input-sc-title {
    min-width: 250px;
}

/*Scheduler Styles*/

#scheduler-legend-info {
    font-size: 16px;
    background: #fff;
    margin-top: 25px;
}

.txtPink {
    color: #FB607F;
}

.txtDYellow {
    color: #fdcc45;
}

.txtSkyBlue {
    color: #40C4FF;
}

.txtYellow {
    color: #E3E804;
}

.txtOrange {
    color: #f57403;
}

.txtLSkyBlue {
    color: #9fe8ff;
}

.txtLRed {
    color: #ff8d83;
}

.txtLOrange {
    color: #fdcc45;
}

.txtLGray {
    color: #dfdce0;
}

.txtLinearG {
    background: repeating-linear-gradient(135deg, #fff 9px, #fff 11px, #555 10px, #555 15px);
}

#legend-icon-req {
    width: 3px;
    height: 13px;
    color: transparent;
    margin: 0px 10px 0 0;
    border-radius: 4px;
}
