#div-popup {
        position: absolute;
    width: 1024px;
    top: 27vh;
    margin: auto;
    left: 32vw;
}

#li-login-button {
    padding-top: 21px;
}
#spn-userid,#spn-password{
      color: red;
    padding-right: 40px;
    line-height: 25px;
}