/* 26/10/16 */
#ul-tradeshow-search{
    text-align: center;
}
#ul-tradeshow-search #div-search-result-main{
    text-align: left;
}

#div-tradeshow-container .lead-edit-section-caption {
        min-width: 235px;
        margin: 10px 5px;
    }
.lead-tech-inststd,.lead-product-intstd{
        width: 600px;
    display: inline-block;
    vertical-align: top;
}
.span-lead-tech-prod{
            background-color: #eee;
    border-radius: 3px;
    padding: 0.4em;
    border: 1px solid #ccc;
    display: inline-block;
        margin: 0 0px 5px 0;
        }
#div-lead-file-upload-content {
        margin-left: 25%;
        margin-top: 5%;
    }
#div-lead-detail-technique,#div-lead-detail-product{
    width:400px;
    vertical-align: top;
}

.li-view-notes{
    padding: 5px;
    border: 1px solid #ccc;
    width: 60%;
    border-radius: 2px;
    min-height: 50px;
    background: #eee;

}
    
    .span-lead-browse-lastupdated-header {
        margin-left: 22%;
    }
    
    #lead-detail-edit-repnm {
        min-width: 150px;
    }
    
    .li-tradeshow-name.gmSectionListItem {
        margin-left: 12px!important;
    }
    
    #tradeshow-file-upload {
        width: 65%;
    }
    
    #tradeshow-file-upload #li-fileupload-fileinfo {
        width: 60%;
        display: inline-block;
    }
    
    #div-fieldsales-detail .li-lead-assignto {
        display: none;
    }
    
    .tradeshow-file-btn {
        background-color: white!important;
        border: 1px solid black!important;
        border-radius: 3px;
        border-style: double;
        height: 24px!important;
    }
    
    #div-lead-new-surg {
        width: 135px;
    }
    
    #btn-category-done {
        display: none;
    }
    
    .li-tradeshow-list-detail {
        cursor: pointer;
    }
    
    #txtarea-lead-notes {
        width: 500px;
        height: 75px;
    }
    
    .ul-lead-filter-category {
        margin-top: 70px;
        margin-bottom: 8px;
    }
    
    #div-lead-tradeshow-detail .gmSection {
        width: 100%;
    }
    
    #div-lead-surg-hospital-new {
        margin-left: 10px;
    }
    
    #div-lead-tradeshow-detail {
        margin-left: 25px;
    }
    
    #tradeshow-tradeshow-search input {
        width: 493px!important;
    }
    
    #ul-tradeshow-search input {
        margin-left: 15px;
    }
    
    #div-lead-tradeshow-edit,
    #div-lead-tradeshow-detail {
        margin-top: 50px;
    }
    
    #div-lead-filter-main li {
        margin: 5px;
    }
    
    #div-lead-details-editview li {
        margin: 5px;
    }
    
    .lead-tradeshow-criteria {
        width: 324px;
    }
    
    .mobile-lead-list {
        display: none;
    }
    
    #ul-lead-edit-email {
        display: inline-block;
        width: 359px;
    }
    
    #ul-lead-edit-phone {
        display: inline-block;
        width: 474px;
    }
    
    #ul-lead-edit-email .gmSectionCaption {
        min-width: 0px;
        width: 3.7vw;
        margin-left: 16px;
    }
    
    .lead-edit-hos-web {
        display: none;
    }
    
    .lead-edit-hos-mobile {
        display: inline-block;
    }
    
    .lead-mobile-header {
        display: none;
    }
    
    .li-rep-lead-detail {
        width: 35%;
        text-align: right;
    }
    
    .lead-contacts-input-address-edit {
        display: none;
    }
    
    #div-lead-details-detailview ul {
        padding: 2px 0px;
    }
    
    .li-lead-actdate-input {
        margin: 7px 0 7px 0px;
    }
    
    .li-lead-edit-enddate {
        min-width: 0px;
    }
    
    #div-lead-tradeshow-edit li.gmSectionListItem {
        margin: 6px;
    }
    
    .li-lead-actdate-input {
        margin: 10px 0 10px -2px;
    }
    
    .ul-lead-edit-city-caption {
        vertical-align: middle;
    }
    
    #lead-create-tradeshow {
        font-size: 16px;
        color: #fff;
    }
    
    .gmMargin10p {
        margin: 10px;
    }
    
    .lead-tradeshow-start-date {
        width: 193px;
        margin-right: 1vw;
    }
    
    . lead-tradeshow-end-date {
        width: 9vw;
    }
    
    .lead-edit-head-add {
        width: 75%;
    }
    
    .lead-ul-edit-activity-date {
        font-size: 13px;
    }
    
    .li-lead-salescall,
    .li-lead-detail {
        vertical-align: middle;
        font-size: 1.2em;
    }
    
    .ul-lead-edit-criteria #ul-category-li {
        width: 70%;
    }
    
    #input-lead-contacts-zip {
        width: 117px;
    }
    
    #lead-contacts-input-hospital {
        width: 630px;
    }
    
    #input-lead-contacts-mname {
        width: 54px;
    }
    
    #input-lead-contacts-add1,
    #input-lead-contacts-add2 {
        width: 260px;
    }
    
    .li-contacts-input-hospital {
        width: 74%;
    }
    
    .lead-edit-hospital-head {
        width: 493px;
    }
    
    #lead-edit-set-default {
        padding: 12px;
        background-color: #eee;
    }
    
    .ul-lead-edit-criteria #ul-activity-date {
        width: 27%;
        margin-right: -8px;
    }
    
    .lead-edit-section-caption {
        min-width: 189px;
        margin: 10px 5px;
    }
    #div-tradeshow-container .lead-edit-section-caption {
        min-width: 235px;
        margin: 10px 5px;
    }
    
    .lead-edit-section-caption.tradeshow {
        margin-left: 25px;
    }
    
    #lead-edit-tradeshow-textbox {
        width: 434px;
    }
    
    .lead-edit-tradeshow-search-textbox {
        width: 493px;
    }
    
    #div-lead-details-detailview .gmSectionCaption {
        min-width: 35%;
    }
    
    .tradeshow-input {
        width: 214px;
    }
    
    #input-lead-contacts-notes {
        width: 450px;
        min-height: 100px;
    }
    
    #input-lcontacts-notes {
        width: 630px;
        height: 75px;
    }
    
    #li-input-lcontacts-notes {
        width: 73%;
    }
    /*fileupload*/
    
    .fileUpload #li-fileupload-filetitle,
    .fileUpload #li-fileupload-filetype {
        display: none;
    }
    
    .fileUpload #li-fileupload-filetitle {
        display: none;
    }
    
    .fileUpload #li-fileupload-filetype {
        display: none;
    }
    
    .fileUpload #frm-documents {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
    
    .fileUpload #li-fileupload-fileinfo {
        width: 70%;
        display: inline-block;
    }
    
    .fileUpload #li-fileupload-upload {
        display: inline-block;
    }
    
    .fileUpload #span-fileupload-browse-filenm {
        border: 1px solid #ccc;
        vertical-align: middle;
        padding: 0.5em;
        height: 14px;
        overflow: auto;
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }
    
    #div-lead-crm-fileupload,
    #div-training-crm-fileupload {
        display: inline-block;
        width: 60%;
    }
    
    #fileupload-last-update-on {
        margin-right: 10%;
    }
    
    #div-lead-previous-content,
    #div-training-upload--popup-previous-content {
        max-height: 400px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    /*Assignee*/
    
    #div-lead-assginee-main {
        border: 2px solid #fff;
        background: #ccc;
        height: 400px;
        position: absolute;
        z-index: 10;
        top: 100px;
        left: 35%;
    }
    
    #div-assign-to-label {
        text-align: center;
        font-size: 1.5em;
        padding: 10px 0;
    }
    
    #div-assign-to-search input {
        width: 210px;
    }
    
    #div-assign-to-search #div-search-result-main {
        position: inherit;
    }
    
    #div-assignee-tap-close {
        cursor: pointer;
        position: relative;
        width: 30px;
        text-align: center;
        border-radius: 50px;
        padding: 7px 0px;
        color: white;
        top: -15px;
        left: 15px;
        font-weight: bold;
        border: 2px solid #fff;
    }
    
    @media (min-width: 480px) and (max-width:769px) {
        #div-tradeshow-container .lead-edit-section-caption{
            min-width: 110px;
        }
        .ul-lead-edit-name {
            width: 40vw;
        }
        .lead-filter-product {
            margin-top: 5px;
        }
        .ul-lead-edit-name-caption {
            vertical-align: top;
        }
        #ul-lead-edit-email {
            display: block;
            width: 70%;
        }
        #lead-detail-edit-adnm {
            min-width: 12%;
        }
        .lead-tradeshow-start-date {
            width: 179px;
            margin-right: 1vw;
        }
/*
        #lead-web-list .gmText200 {
            width: 17%;
        }
*/
        #ul-lead-edit-email .gmSectionCaption {
            min-width: 177px;
        }
        #lead-category-li {
            width: 63%;
        }
        .ul-lead-category-items li:nth-of-type(3) {
            margin-left: 10px;
        }
        .lead-edit-head-add {
            width: 63vw;
        }

        .lead-date {
            width: 17% !important;
        }
        .lead-phynm {
            width: 17% !important;
        }
        .lead-source {
            width: 12% !important;
        }
        .lead-products {
            width: 15% !important;
        }
        .lead-rep {
            width: 15% !important;
        }
       
        .lead-edit-tradeshow-search-textbox {
            width: 460px;
        }
        .lead-edit-hospital-head {
            width: 460px;
        }
        #div-lead-details-editview {
            width: 100%
        }
        #lead-edit-tradeshow-textbox {
            width: 368px;
        }
        .ul-lead-edit-name {
            width: 400px
        }
        #input-lead-contacts-fname {
            margin-bottom: 10px;
        }
        .li-contacts-input-hospital {
            width: 50%;
        }
        #lead-contacts-input-hospital {
            width: 492px;
        }
        #input-lead-contacts-add1,
        #input-lead-contacts-add2 {
            width: 224px;
        }
        #li-input-lcontacts-notes {
            width: 60%;
        }
        #input-lcontacts-notes {
            width: 492px;
            height: 109px;
        }
    }
    
    @media (max-width:480px) {
        #tradeshow-tradeshow-search input {
            margin: 0;
            width: 100%;
        }
        .li-actvty-address-detail {
            border: 1px solid grey;
            border-radius: 5px;
            padding: 5px;
            width: 75%;
            background-color: #eee;
            min-height: 50px;
        }
        #lead-new-hospital-plus{
                float: right;
    margin-top: -11px;
        }
        #div-lead-newsurg {
            width: 85%;
        }
        #div-lead-file-upload-btn {
            width: 94%;
        }
        #div-lead-assginee-main {
            left: 0;
            width: 90%;
            margin: 0 4.5%;
            top: 10%;
        }
        #div-lead-assginee-main #div-keyword-search {
            margin: 14px;
        }
        .lead-npi-mble {
            text-align: center!important;
        }
        #tradeshow-actstartdate,
        #tradeshow-actenddate {
            width: 89vw!important
        }
        #div-crm-module #div-lead-tradeshow-detail .div-img {
            padding: 0.35em 0.5em 0 0;
            margin-left: -24px;
        }
        #lead-select-address,
        #tradeshow-select-address {
            width: 94%;
        }
        #lead-hospital-search{
            width: 85%;
        }
        .li-lead-popup-criteria {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #btn-category-done {
            display: inline-block;
        }
        .gmCriteria {
            margin-bottom: 10px;
            margin-top: 0px;
        }
        #div-lead-surg-hospital-new {
            margin-top: 5px;
        }
        .li-advp-lead-detail,
        .lead-tech-inststd,
        .lead-product-intstd {
            display: block;
            margin: 5px 0 5px 0;
        }
        #div-crm-module .div-img {
            /*    float: none;*/
            padding: 0.35em 0.5em 0 0;
            margin-left: -20px;
        }
        #tradeshow-tradeshow-search input {
            width: 94%!important;
        }
        #div-lead-tradeshow-edit input {
            width: 94%;
        }
        .tab-head-phone-criteria {
            padding: 0px!important;
        }
        #div-lead-details-editview input {
            width: 94%;
        }
        #div-lead-new-surg {
            margin-left: 0px;
        }
        .lead-edit-tech-mobile li {
            width: 100%;
        }
        #div-lead-surg-hospital-new {
            margin-left: 0px;
        }
        .li-contacts-input-hospital {
            width: 100%;
        }
        #div-lead-tradeshow-detail .gmMarginLeft10p {
            margin-left: 0px;
        }
        #div-lead-phone-title {
            padding: 13px 0 13px 5px;
            margin-left: 2vw;
        }
        .li-lead-popup-criteria,
        .div-lead-date-criteria {
            width: 100%;
        }
        .lead-sub-content input {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .lead-tradeshow-criteria {
            width: 94%;
            margin-left: -6px;
        }
        .mobile-lead-list {
            display: block;
            padding: 5px 0;
            border-bottom: 1px solid #eee;
        }
        #lead-web-list {
            display: none;
        }
        #tab-techniques {
            width: 50%;
        }
    }
    
    @media (max-width: 480px) {
        .li-lead-actdate-input {
            margin: 0;
            width: 100%;
        }
        #div-lead-new-surg {
            width: 100%;
        }
        #div-lead-tradeshow-detail {
            margin-top: 25px;
            margin-left: 0px;
        }
        #div-lead-tradeshow-edit {
            margin-top: 5px;
            margin-left: 0px;
        }
        .div-tradeshow-detail-calender {
            margin-left: 8px;
        }
        .fa-todate-lead {
            margin-left: 5px;
        }
        #div-lead-tradeshow-detail .gmSection {
            width: 100%;
            padding: 14px 0 0 0;
        }
        #tradeshow-actstartdate,
        #tradeshow-actenddate {
            width: 100px!important;
            min-width: 100px!important;
        }
        #lead-ul-tradeshow-date .li-lead-actdate-input {
            width: 75vw;
        }
        #li-lead-name-lable {
            margin-left: 0px!important;
        }
        .li-lead-edit-date-moble {
            vertical-align: -webkit-baseline-middle;
        }
        .li-tradeshow-address-detail {
            max-width: 75%;
            background-color: #eee;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        .lead-edit-section-caption {
            margin: 0px;
        }
        #inp-tradeshow-frmdate,
        #inp-tradeshow-enddate {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .li-rep-lead-detail {
            width: 21%;
            text-align: left;
        }
        .ul-lead-category-items .gmSectionListItem {
            width: 100%;
        }
        .li-advp-lead-detail {
            width: 21%;
            text-align: left;
        }
        #ul-lead-edit-phone {
            display: inline-block;
            width: 100%;
        }
        .lead-style-phone {
            display: none!important;
        }
        #ul-lead-edit-email {
            display: inline-block;
            width: 100%;
        }
        .lead-detail-addr2 {
            display: none;
        }
/*
        #tab-filter {
            width: 33%;
            padding: 12.5px 12.5px 12.5px 12.5px;
        }
*/
        .lead-phone-block {
            display: block;
        }
        #div-lead-details-editview #tab-contact {
            width: 51%;
            padding: 12.5px;
        }
        #div-lead-details-editview .sub-tab {
            margin-right: -3px;
            width: 48.5%;
            padding: 12.5px;
        }
        #ul-lead-edit-email .gmSectionCaption {
            min-width: 0px;
            width: 3.7vw;
            margin-left: 0px;
        }
        #tab-contact-detail {
            /*border-right: 1px solid black;*/
            /*    margin-right: 19px;*/
            width: 49.9%;
/*            padding: 12.5px;*/
        }
        #span-lead-contacts-email {
            width: 250px;
            word-wrap: break-word;
        }
        .lead-contacts-input-address-edit {
            display: inline-block;
            width: 100%;
        }
        .lead-mobile-header {
            display: inline-block;
        }
        #lead-head-address #txt-search-keyword,
        #lead-head-address #input-lead-contacts-zip {
            width: 94%;
        }
        #div-lead-details-editview {
            width: 100%!important;
        }
        .lead-edit-hos-web {
            display: inline-block;
            width: 100%;
        }
        #lead-edit-tradeshow-textbox {
            width: 98%;
        }
        #lead-head-address li {
            width: 100%!important;
        }
        .lead-edit-head-add {
            width: 100%;
        }
        #lead-head-address {
            width: 100%;
        }
        #input-lead-contacts-npid,
        #input-lead-contacts-phone,
        #input-lead-contacts-email,
        #lead-contacts-techniques,
        #lead-contacts-products,
        #spn-lead-edit-state {
            width: 94%;
        }
        #li-input-lcontacts-notes {
            width: 100%;
        }
        #txtarea-lead-notes {
            width: 98%;
        }
        #input-lead-contacts-add1,
        #input-lead-contacts-add2 {
            width: 94%;
        }
        #lead-contacts-input-hospital {
            width: 98%;
        }
        #input-lead-contacts-city {
            width: 94%;
        }
        .ul-lead-edit .gmSectionCaption {
            text-align: left;
        }
        #lead-edit-set-default {
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }
        .lead-edit-hos-mobile {
            display: none;
        }
        #tradeshow-search-main .gmSectionListItem {
            margin: 0px;
        }
        .lead-edit-tradeshow-search-textbox {
            width: 83vw;
        }
        .tradeshow-input {
            width: 94%;
        }
        .lead-edit-hospital-head {
            width: 96%;
        }
        #input-lead-contacts-notes {
            width: 98%;
            min-height: 50px;
            max-height: 50px;
        }
        #div-lead-tradeshow-edit .gmSectionListItem {
            margin: 5px 0 5px 0!important;
        }
        #div-lead-tradeshow-edit .gmSectionCaption {
            text-align: left;
        }
        .lead-edit-section-caption {
            min-width: 25vw;
            text-align: left;
        }
        .lead-tradeshow-start-date {
            width: 53vw;
            margin-right: 0;
        }
        #div-lead-tradeshow-edit .lead-title {
            width: 83vw;
        }
        .li-lead-address-edit-phone {
            display: block;
        }
        #div-lead-details-editview .gmSection .gmSectionListItem {
            /*margin-top: 5px;
            margin-bottom: 5px;*/
        }
        #input-lcontacts-notes {
            width: 98%;
        }
        #div-lead-details-editview li {
            margin: 0px;
        }
        .lead-phone-criteria-search {
            width: 100%;
        }
        .lead-criteria-filter-buuton-search {
            width: 97%;
            margin-right: 13px;
        }
        .ul-lead-category-items li,
        #lead-category-li {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        #lead-detail-edit-adnm {
            width: 50%;
        }
        .li-lead-edit-enddate {
            min-width: 88px;
            text-align: left;
        }
/*
        #tab-tradeshow {
            width: 33%;
            padding: 12.5px;
        }
        #tab-favorite {
            width: 33%;
            padding: 12.5px;
        }
*/
        .div-lead-space {
            display: none;
        }
        .lead-criteria-mobile-style {
            margin-top: 10px;
        }
        #btn-search-tradeshow {
            margin: 5px 0px 0px -7px;
            width: 96%;
        }
        .lead-title {
            width: 94%;
        }
        #lead-ul-activity-date {
            float: left!important;
            width: 100%;
        }
        .lead-crt-date {
            width: 98%;
        }

        /*#div-lead-details-detailview .gmSection li{
            margin: 5px 0 !important;
            width: 94% !important;
        }*/

        /*#div-lead-details-detailview .gmSection li.gmSectionValue,
        #div-lead-details-editview .gmSection li.gmSectionValue {
            margin: 2px 0 15px 0!important;
            width: 94% !important;
        }*/
        #div-address-main-content li,
        #div-lead-details-detailview li,
        #div-lead-details-editview li {
            margin: auto 0px;
        }
        
        #div-address-main-content li.gmSectionCaption,
        #div-lead-details-editview li.gmSectionCaption {
            margin: 5px 0 0 0;
        }
        
        #div-address-main-content li.gmSectionValue,
        #div-lead-details-detailview li.gmSectionValue,
        #div-lead-details-editview li.gmSectionValue {
            margin: 3px 0 15px 0;
        }
        .li-view-notes {
            width: 96.5%;
        }
    }
    
    @media (min-width:1024px) {
        .lead-edit-head-add {
            width: 45.8vw;
        }
    }