#div-physicianvisit {
    width: 85%;
    margin: auto;
}

#input-physicianvisit-title {
    min-width: 700px;
    max-width: 700px;
}

#li-physicianvisit-title {
    max-width: 650px;
}

.pv-select-comments-logtype {
    width: 220px;
}

#div-physicianvisit-filter-main li {
    margin: 5px;
}

#li-globusexp-tab .fa-chevron-down {
    display: none;
}

.span-doc-act-edit {
    opacity: 0.5;
    display: inline-block;
}

.li-selected-items {
    width: 500px;
    vertical-align: top;
    margin: 0px;
}

.li-surgeon-pv-edit {
    width: 440px;
    vertical-align: top;
    margin: 0px;
}

.li-selected-items .div-activity-product {
    margin: 0 5px 5px 0;
}

.li-physicianvisit-file-upload #span-fileupload-browse-filenm {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-size: .99em;
    padding: 6px 5px;
}

.pv-phone-right-arrow {
    display: none;
}

.phyvsit-filter-content {
    margin-top: 75px;
}

#ul-phyvisit-surgeon-list-details {
    display: none;
}

#div-physicianvisit-crf {
    position: absolute;
    right: 5%;
    top: 20%;
}

#div-pv-edit-name-append .div-physician-name-extn {
    margin: 5px 5px 5px 5px;
}

#input-physicianvisit-phone-date-of-visit {
    display: none;
}

#div-physicianvisit-edit-objective li {
    margin: 5px;
}

#div-physicianvisit-edit-objective #li-fileupload-upload {
    display: none;
}

#div-globus-experience-content-list {
    max-height: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

li:last-of-type span.comma {
    display: none;
}

.gmListItem:nth-child(even) {
    background-color: #F7F7F7;
}

#div-physician-edit-communication li.gmSectionListItem {
    margin: 10px auto;
}

#div-physician-edit-feedback li.gmSectionListItem {
    margin: 10px auto;
}

.div-view .div-sur-pic-container {
    margin: 2%;
}

#div-physicianvisit-main .gmSectionCaption {
    min-width: 165px;
}

.div-physicianvisit-agenda-name {
    margin-left: 0 !important;
}

#txt-select-visittype {
    min-width: 120px;
}

#div-physician-communication-header {
    border-bottom: 1px solid #4169e1;
}

#div-physician-feedback-department-list {
    margin: 0;
}

#div-physician-feedback-department .select-comments-logtype {
    height: 45px;
}

#div-physician-feedback-comments-count {
    margin-right: 20px;
}

#txt-physician-feedback-comments {
    height: 150px;
}

#div-physician-feedback-comments-data {
    margin-top: 75px;
}

#div-physician-feedback-comments-lists {
    margin-top: 75px;
}

#div-physicianvisit-phone-title {
    font-size: 1.15em;
}

#li-phyvsit-add-more-document .fa-plus-circle {
    font-size: 3em;
    vertical-align: middle;
}

#li-phyvsit-add-more-document .fa-minus-circle {
    font-size: 3em;
    vertical-align: top;
    margin-top: 7px;
    margin-left: 0px;
    margin-right: 25px;
}

#li-phyvsit-add-more-document #btn-fileupload-upload {
    display: none;
}

.ul-phone-list-items {
    display: none;
}

#ul-phyvisit-surgeon-list-details {
    display: none;
}

.div-phyvisit-surgeon-header {
    border-bottom: 1px solid #4169e1;
}

#div-phyvisit-surgeons-list-content .fa-trash {
    display: none;
}

#vip-welcome-communication,
#vip-conformation-communication {
    min-width: 100px;
}

.div-edit .ul-physicianvisit-caption {
    width: 48%;
}

.span-comma-separated:not(:empty) ~ .span-comma-separated:not(:empty):before {
    content: "/ ";
}

#physicianvisit-status-btns {
    float: right;
}

#div-merc-edit-surgeons .gmListColData,
#div-training-edit-surgeons .gmListColData,
#div-physicianvisit-edit-surgeons .gmListColData {
    padding: 0em 0.5em;
}

#div-vip-other-visits {
    margin-left: 19.5%;
    width: 700px;
}

#div-vip-other-visits .li-selected-items {
    width: auto;
}

.phyvisit-content .gmSectionCaption {
    min-width: 180px;
}

#btn-add-other-visitor-more {
    margin-top: -3px !important;
}

#btn-add-other-visitor-more input {
    margin-right: 3px;
}

.li-other-visit-items .span-extend,
#btn-add-other-visitor-more .span-extend {
    border: none;
    background-color: #fff;
}

.li-other-visit-items .extend-close,
#btn-add-other-visitor-more .extend-close {
    background-color: #f00;
    color: white;
    border-radius: 50%;
    padding: 0px 7px 3px 7px;
    border: 1px solid #f00;
    font-weight: bold;
}

#textarea-visit-other-instr,
#textarea-visit-toppriority,
#textarea-visit-actnotes,
#textarea-visit-Dietary {
    width: 500px;
}


/*DHTML Scheduler Style*/

#scheduler-info-container {
    background: #eee;
    position: absolute;
    top: 100px;
    left: 32.5%;
    width: 350px;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid #ccc;
}

#scheduler-info-main {
    width: 350px;
    color: #444;
    display: block;
    border-radius: 5px;
}

#scheduler-info-main-header {
    color: #fff;
    padding: 10px 0px 10px 5px;
    border-radius: 5px 5px 0 0;
}

#scheduler-info-content {
    max-height: 290px;
    overflow-y: auto;
}

#visit-calendar-img-i {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 4em;
    text-align: center;
}

#visit-calendar-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: -85px;
}

/*    FOR VISIT SCHEDULER*/

#scheduler_here .dhx_cal_header {
    border-color: #000;
}

.dhx_month_body {
    border-bottom: 1px solid #000;
}

.dhx_cal_data {
    border-top: 1px solid #000;
}

.dhx_cal_tab,
.dhx_cal_today_button,
.dhx_cal_navline,
.dhx_cal_date {
    font-family: SourceSansPro, "Trebuchet MS";
}

#scheduler_here .dhx_scale_bar,
#scheduler_here .dhx_cal_tab,
#scheduler_here .dhx_cal_today_button,
#scheduler_here .dhx_scale_hour {
    color: #000 ;
}

.dhx_cal_tab,
.dhx_cal_tab.active,
.dhx_cal_today_button,
.dhx_year_month {
    border: 1px solid #000;

}

.dhx_month_head,
.dhx_scale_holder_now,
.dhx_scale_holder,
.dhx_scale_bar_last,
.dhx_month_body {
    border-Right: 1px solid #000;
}

.dhx_month_head {
    font: 17px/21px SourceSansPro, "Trebuchet MS";
}

#scheduler_here .dhx_scale_bar {
    font: 14px/16px SourceSansPro, "Trebuchet MS";
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
}

#scheduler_here .dhx_cal_tab.active {
    background-color: #000;
    color: #fff !important;
    text-shadow: none;
}

.dhx_cal_tab,
.dhx_cal_today_button {
    font-size: 14px;
    font-weight: 400;
}

/*year*/
.dhx_year_month {
    font-size: 14px;
}

.dhx_year_body,
.dhx_scale_bar_last {
    border-left: 1px solid #000;
}

.scheduler-main-container {
    background: #f0ede7;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 1024px;
    position: absolute;
    top: 136px;
    margin-left: -10px;
}

#scheduler_here {
    width: 100%;
    height: 640px;
}

.dhx_cal_navline div {
    top: 5px !important;
    border: 1px solid #000;
}

#scheduler_here  .dhx_cal_header {
    top: 45px !important;
}

#scheduler_here .dhx_cal_data {
    height: 570px !important;
    top: 66px !important;
}

#scheduler_here  .dhx_scheduler_year .dhx_cal_data {
    height: 575px !important;
    top: 45px !important;
}

#scheduler_here .dhx_cal_event-txt,
#scheduler_here .dhx_year_tooltip {
    display: none !important;
}

.bgGreen {
    background: #FB607F;
}

.bgSkyBlue {
    background: #fdcc45;
}

.bgOrange {
    background: #40C4FF;
}

.bgBlue {
    background: #E3E804;
}

.bgGray {
    background: #f57403;
}

.bgLSkyBlue {
    background: #9fe8ff;
}

.bgLRed {
    background: #ff8d83;
}

.bgLOrange {
    background: #f6b453;
}

#filters_wrapper {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    left: 300px;
    top: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;

}

#filters_wrapper summary {
    padding: 9px 10px;
    outline: #fff;

}

#filters_wrapper p {
    padding: 0 10px;
}

#filters_wrapper input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#dhtmlx-filter-division {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    right: 300px;
    top: 5px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

#dhtmlx-filter-division summary {
    padding: 9px 10px;
    outline: #fff;
}

#dhtmlx-filter-division p {
    padding: 0 10px;
}

#dhtmlx-filter-division input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*Scheduler event details styles*/

#scheduler-info-view {
    position: absolute;
    z-index: 9999;
    top: 60px;
    left: 200px;
    background: #f0f8ff;
    border: 1px solid #f0f8ff;
    width: 650px;
    max-height: 550px;
    min-height: 300px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

#scheduler-event-sub-content {
    overflow: auto;
    width: 100%;
    max-height: 450px;
    min-height: 250px;
}


#scheduler-event-sub-content section {
    border: 1px solid #f9f7f7;
    border-bottom: 0;
    border-top: 0;
    padding: 1px 0px;
    line-height: 20px;
    font-size: 15px;
}

#scheduler-event-sub-content section div {
    margin: 5px 0;
}

#scheduler-event-sub-content .span-title {
    width: 185px;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    color: #043670;
    font-weight: bold;
    padding: 5px 0;
}

#scheduler-event-sub-content .span-data {
    display: inline-block;
    width: 435px;
    vertical-align: text-top;
    background: #fff;
    padding: 0px 0px 0px 5px;
    min-height: 30px;
    line-height: 20px;
}

#scheduler-event-sub-content .span-data a {
    word-wrap: break-word;
}

#scheduler-info-main-header ul li {
    width: 26.5%;
    text-align: center;
}

#li-title-set-btn {
    position: relative;
    left: 77%;
    text-align: center;
    background: #fff;
    border-radius: 0 0 3px 3px;
    z-index: 1;
    width: 14%;
    margin: -5px 0 0 0 !important;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
}

#span-reset-title {
    border-right: 1px solid #ccc;
    padding: 5px 10px;
    margin: 2px 0px;
    display: inline-block;
}

#span-set-title {
    padding: 10px;
}

#span-cancel-title {
    border-left: 1px solid #ccc;
    padding: 5px 10px;
    margin: 2px 0;
    display: inline-block;
}

#li-visit-cancel-reson {
    width: 645px;
}

.gmCVLinkName {
    float: left;
    text-decoration: underline;
}

#li-selected-items-mobile {
    vertical-align: middle;
}


/*Calendar View Css start*/
.display-flex {
    display: flex;
}

.wrapper-surg-calendar .dhx_matrix_line div {
    padding-left: 0;
    text-align: center;
}
.dhx_scheduler_month_timeline .dhx_matrix_line div {
    width: 15px !important;
}
.dhx_scheduler_two_week_timeline .dhx_matrix_line div {
    width: 37px !important;
}
.dhx_scheduler_week_timeline .dhx_matrix_line div {
    width: 80px !important;
}
#search-panel.flex_active + .dhx_scheduler_month_timeline .dhx_matrix_line div {
    width: 21px !important;
}
#search-panel.flex_active + .dhx_scheduler_two_week_timeline .dhx_matrix_line div {
    width: 50px !important;
}
#search-panel.flex_active + .dhx_scheduler_week_timeline .dhx_matrix_line div {
    width: 105px !important;
}
.wrapper-surg-calendar .dhx_cal_event-txt {
    height: 100%;
    display: inline-block;
    width: 100%;
}

.wrapper-surg-calendar .dhx_cal_data > table {
    font-family: SourceSansPro, "Trebuchet MS";
}

#scheduler_cal {
    height: 640px;
    margin: 0 10px 10px;
    z-index: 0;
}

.wrapper-surg-calendar {
    background: #f2f2f2;
}
.back-to-surg-activity a {
    font-size: 20px;
    display: inline-block;
    padding: 10px 50px 10px 20px;
}
.surg-calendar-view {
    background: #f2f2f2;
}

.sysitemDo ul:nth-child(2) li .order-clm {
    background: #f0f8ff;
    color: #333;
    font-weight: 600;
}

.title-panel-s {
    background: #949494;
    padding: 7px 5px;
}

.title-panel-s i {
    font-size: 21px
}

.modalCalView .modal-body {
    max-height: 500px;
    overflow: auto;
}

.dhx_scheduler_month_timeline .dhx_matrix_scell div,
.dhx_scheduler_two_week_timeline .dhx_matrix_scell div,
.dhx_scheduler_week_timeline .dhx_matrix_scell div {
    text-align: left;
    padding: 0 5px;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 15px;
}

.dhx_scheduler_month_timeline .dhx_matrix_scell div br,
.dhx_scheduler_two_week_timeline .dhx_matrix_scell div br,
.dhx_scheduler_week_timeline .dhx_matrix_scell div br {
    display: none
}

.modalCalView .modal-header i {
    color: #000
}

.row-sys-list .order-clm {
    color: #333;
    padding: 7px 5px;
}

.sysitemDo ul:last-of-type li div.row-sys-list .order-clm {
    border-bottom: 0
}

.gmText40 {
    width: 40px;
}
.gmText220 {
    width: 220px;
}

.sysitemDo:last-of-type {
    margin-bottom: 0
}


#scheduler_cal .dhx_cal_event_line {
    margin-top: 2px;
}

.segCalendar {
    overflow: hidden;
    height: 75vh !important;
}

.fsl,
.fsr {
    color: #0097a7 !important;
    font-size: 20px;
    display: none;
    background: none !important;
    padding: 14px 0;
}

.fsr.active,
.fsl.active {
    display: block
}
.search_form.active {
    background: #fff !important;
    width: 40px;
}
#search-panel.flex_active {
      flex: 0 0 40px;
}
.modalCalView {
    max-width: 950px;
}
.align-items-center {
    align-items: center;
}
.justify-space-bwn{ justify-content: space-between}
.grandTot{float: right;padding-right: 10px;padding-top: 4px;font-weight: bold;}
.modalCalView .img-loader-spinner{margin-top: 0;}
.modalCalView #spn-loader-content{padding-bottom: 25px; position: relative}
.travel-doc{
    width:100%
}
/*Calendar View Css End*/

/*media styles for portrait view*/

@media (min-width:480px) and (max-width: 768px) {

    .physicianvisit-criteria-phone-style {
        margin-top: 10px;
    }

    .li-pv-edit-status {
        width: 80px;
    }

    .li-surgeon-crf-doc.li-actvty-edit-sur {
        margin: 18px 0px 0px 10px;
    }

    .pv-edit-cstatus {
        width: 140px;
    }

    .li-surgeon-pv-edit {
        margin-left: 165px !important;
        width: 75%;
    }

    .li-selected-items {
        width: 60%;
    }

    .div-edit .li-selected-items {
        width: 75%;
        margin-left: 165px !important;
    }

    .li-portrait-actvty {
        width: 355px;
        vertical-align: top;
        margin: 0px !important;
    }


    #input-physicianvisit-title {
        min-width: 450px;
    }


}

@media screen and (max-width: 480px) {

    #li-globusexp-tab .fa-chevron-down {
        display: inline-block !important;
    }

    #gmMediaTxtCamel {
        text-transform: capitalize;
    }

    #input-physicianvisit-title {
        min-width: 0px;
    }

    #div-physicianvisit {
        width: 100%;

    }

    .div-pv-edit-date {
        padding-left: 6px;
    }

    .li-pv-surgeon-list {
        width: 80vw;
        vertical-align: top;
    }

    .div-pv-edit-calender {
        margin-left: -25px !important;
    }

    .div-edit-pv-dateicon {
        padding-left: 14px;
    }

    #div-physicianvisit-detailmode .comments-header-data-right .comments-edit {
        float: right;
        font-size: 2em;
        margin: -18px 0px 0px 0px;
    }

    #div-physicianvisit-detailmode .comments-updatedby {
        font-size: 14px;
    }

    #li-selected-items-mobile {
        width: 80%;
        vertical-align: middle;
    }

    .li-selected-items {
        width: 100%;
        vertical-align: top;
        margin: 0px;
    }

    .pv-select-comments-logtype {
        width: 100%;
    }

    #ul-physicianvisit-detail-left-top-right .gmMediaTextCenter {
        text-align: center !important;
    }

    #div-globus-experience-content-list {
        max-height: 60vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .li-phone-globus-exp-btn {
        background-color: #eee;
        display: block;
        padding: 4% 5%;
    }

    .ul-merc-surgeon-list-details,
    #div-merc-surgeon-list-data {
        border-radius: 5px;
    }

    #div-merc-surgeon-list-data .gmPad50 {
        padding: 0 5px;
    }

    #div-crm-module #div-physicianvisit-edit-objective .div-img {
        padding: 0.35em 0.5em 0 0;
        margin-left: -24px;
    }

    .div-img.div-pv-edit-clock {
        margin-left: -17px !important;
    }

    .act-detail-caption {
        text-align: left;

    }

    .gmMediaMinWidth200 {
        min-width: 200px !important;
    }

    .li-pv-end-time {
        width: 25vw !important;
        vertical-align: top;
    }

    .pv-edit-mble-icons .div-lbl {
        font-size: 10px;
        color: black;
    }

    #div-physicianvisit-edit-objective .pv-edit-mble-icons .div-pv-edit-clock {
        padding: 7px 0px 0px 5px;
    }

    .li-pv-date-edit {
        width: 41vw !important;
        vertical-align: top;
    }

    #ul-phyvisit-surgeon-list-details {
        display: block !important;
    }

    #ul-physicianvisit-detail-bottom {
        background-color: #eee;
    }

    #div-merc-surgeon-list-data .gmMediaWidth65 {
        width: 61% !important;
    }

    #div-physicianvisit-edit-objective ul {
        display: block;
    }

    .ul-physicianvisit-display-surgeons,
    .ul-physicianvisit-display-participants,
    .ul-physicianvisit-display-product,
    .ul-physicianvisit-display-product-lab,
    .ul-physicianvisit-caption {
        width: 100%;
    }

    #pv-name-search input {
        margin: 0 0 5px 0;
    }

    .phyvisit-content {
        max-height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .li-pv-mobile-edit {
        width: 70% !important;
    }

    .li-pv-mobile-edit-icon {
        width: 28% !important;
    }

    .li-pv-act-date {
        margin-top: 10px;
    }

    #div-physician-feedback-comments-buttons {
        margin-top: 5px;
    }

    #div-pv-edit-objective-participants li {
        width: 94% !important;
    }

    .ul-phyvisit-surgeon-val {
        display: none;
    }

    #div-physicianvisit-tabs .gmBGDarkerGrey {
        background-color: #eee;
        color: #000;
    }

    #div-physicianvisit-tabs .gmBGLGrey {
        color: #000;
    }

    .phyvsit-search-content {
        margin-top: 10px;
    }

    .phyvsit-filter-content {
        margin-top: 10PX;
    }

    #ul-phyvsit-activity-date,
    #li-phyvsit-actdate-frmdate-input {
        width: 100%;
    }

    .ul-list-items {
        display: none;
    }

    .pv-criteria-mobile-width {
        width: 100%;
    }

    .ul-phone-list-items {
        display: inline-block;
        padding: 5px 0;
        border-bottom: 1px solid #eee;
    }

    .ul-phone-list-items a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 100%;
        color: #000;
    }

    .phyvsit-fname,
    .phyvsit-lname {
        margin: 2% 0%;
    }

    .ul-phone-list-items:first {
        border-top: 1px solid #eee;
    }

    #physicianvisit-actstarttime,
    #physicianvisit-actendtime {
        vertical-align: top;
    }

    #btn-search-name-phy {
        margin: 2% 0%;
    }

    .li-phone-phy-category {
        margin-bottom: 4%;
    }

    .div-phone-phy-filter-item {
        width: 84%;
    }

    #ul-phy-activity-date {
        width: 94%;
        float: none;
    }

    .pv-edit-phone-commn-type-caption {
        width: 38%;
    }

    .pv-edit-phone-status-caption {
        width: 34%;
    }

    .pv-edit-phone-commn-type-value {
        width: 38%;
    }

    .gmPhysicianVisitFav .gmCriteria {
        width: 100%;
        margin: 0px 0 10px 0px;
    }

    #div-physician-feedback-comments-count {
        margin: 5px 5px;
    }

    #physicianvisit-comment-cancel,
    #physicianvisit-comment-save {
        border-radius: 3px;
        padding: 0.7em 0;
        font-size: 1em;
        float: none;
        width: 49%;
        display: inline-block;
        margin: 0;
        text-align: center;
    }

    #div-pv-edit-obj-productstoreview {
        width: 90vw;
    }

    #div-physicianvisit-phone-content #div-pv-edit-obj-productstoreview .div-pdt-extn {
        display: inline-block;
    }

    #input-physicianvisit-phone-date-of-visit {
        display: inline-block;
        padding: .531em .4em;
    }

    .div-physicianvisit-type-of-visit {
        margin-left: 0px !important;
        width: 94% !important;
    }

    #div-physicianvisit-sub-content {
        margin-top: 0 !important;
    }

    #div-physicianvisit-edit-objective .gmSection,
    #div-physicianvisit-details-editview .gmSection {
        padding: 2px 0;
    }

    #physicianvisit-actenddate,
    #physicianvisit-actstartdate {
        width: 120px !important;
    }

    .pv-edit-mble-icons {
        width: 45px !important;
        float: none !important;
    }

    .div-pv-edit-time {
        width: 30px !important;
    }

    .div-pv-moble-time {
        margin-left: -5px !important;
    }

    .div-pv-edit-totime {
        padding-left: 15px;
    }

    .div-pv-edit-clock {
        margin-left: -16px;
    }

    .li-pv-end-endtime {
        margin-left: -3px !important;
    }

    #div-physicianvisit-products-to-review #div-keyword-search #txt-search-keyword {
        width: 83%;
    }

    #div-physicianvisit-products-to-review {
        width: 100vw;
    }

    .div-detail-page .ul-physicianvisit-products-edit,
    #div-physicianvisit-detailmode .ul-physicianvisit-products-edit {
        margin-left: 0px;
    }

    #div-physicianvisit-edit-objective,
    #div-physicianvisit-details-editview {
        width: auto;
    }

    #div-physicianvisit-products-review .gmSectionCaption,
    #div-physicianvisit-products-to-review {
        margin-left: 0px !important;
    }

    #div-physicianvisit-filter-main li {
        margin: 5px 0px;
    }

    #div-physicianvisit-filter-main .category-btn {
        width: 94%;
    }

    #div-physicianvisit-phone-profile #mobile-sur-det-header {
        margin-left: 2.5vw;
    }

    #div-physicianvisit-phone-profile {
        background-color: #eee;
    }

    #div-physicianvisit-phone-header {
        height: 45px;
    }

    #div-physicianvisit-phone-title {
        padding: 15px 0 15px 5px;
    }

    #li-phyvsit-actdate-frmdate-input {
        padding-left: 0px;
    }

    .li-phyvsit-actdate {
        /*padding: 10px 0;*/
        margin-top: 0;
    }

    .li-phyvsit-actdate .gmTextRight {
        display: none;
    }

    .li-activity-date-caption {
        width: 100%;
        margin-top: 10px;
    }

    .el-phyvsit-Lmode {
        padding: 0;
    }

    .ul-category-search-label {
        float: none;
    }

    .phyvsit-myfavorite-content,
    .phyvsit-category-content {
        margin-top: 0;
    }

    .ul-phyvsit-label {
        display: none;
    }

    /*    Detail mode hide/show */
    #ul-physicianvisit-detail-left-top-left {
        display: none;
    }

    .li-phyvsit-phone-caption-calendar {
        display: inline-block !important;
    }

    #div-physicianvisit-phone-content .gmFontGrey {
        color: #000;
        font-weight: bolder;
    }

    .li-phone-globus-exp-caption {
        display: inline-block !important;
        width: 25%;
    }

    .li-phone-globus-exp-value {
        width: 60%;
        word-wrap: break-word;
        vertical-align: top;
        font-weight: normal;
    }

    .li-web-globus-exp-caption {
        display: none;
    }

    .li-physician-detail-globus-exp-container {
        display: none;
    }

    .ul-phone-globus-exp-list .gmSectionListItem {
        margin: 5px;
    }

    .ul-phone-globus-exp-list {
        border-bottom: 1px solid #ccc;
    }

    .ul-phone-globus-exp-list:last-child {
        border-bottom: 0;
    }

    .phyvsit-crt-date {
        display: none;
    }

    .phyvsit-phone-crt-date {
        display: inline-block !important;
    }

    #ul-phyvsit-activity-date {
        float: none !important;
    }

    .ul-ph-phyvsit-filter-search {
        float: none;
        width: 88%;
        margin: 3% 0 5% 3% !important;
    }

    .ul-phone-phyvsit-selected-criteria {
        width: 88%;
        margin: 0 0 1% 3% !important;
    }

    .div-list-of-selected-criteria {
        background: #aaa;
    }

    .a-physicianvisit-dash-list {
        width: 100%;
    }

    #div-physicianvisit-filter-main .ul-ph-phyvsit-filter-search {
        margin: 2% auto !important;
        width: 100%;
    }

    #ul-phyvsit-activity-date .gmPad10p {
        padding: 10px 0;
    }

    .phyvsit-phone-criteria-headers {
        display: block !important;
    }

    #physicianvisit-status-btns {
        margin: 5px 0;
        float: none;
    }

    #div-physicianvisit-cancel,
    #div-physicianvisit-confirm {
        display: inline-block;
        float: none;
        width: 44%;
        margin: 0;
    }

    #div-physicianvisit-edit-objective li,
    #div-physicianvisit-details-editview li {
        margin: auto 0px;
    }

    #div-physicianvisit-edit-objective li.gmSectionValue,
    #div-physicianvisit-details-editview li.gmSectionValue {
        margin: 3px 0 15px 0;
        width: 100%;
    }

    #div-physician-edit-objective li.gmSectionListItem {
        margin: 5px 0 0 0;
    }

    .li-documents-append {
        display: none;
    }

    .tab-opened {
        display: inline-block;
        width: 100%;
    }

    .tab-closed {
        display: none;
    }

    .div-physician-feedback-department-list {
        width: 94%;
    }

    #txt-physician-feedback-comments {
        width: 94%;
        margin-left: 0;
        height: 100px;
    }

    #div-physicianvisit-tabs .fa {
        display: inline-block !important;
    }

    #div-physicianvisit-tabs .fa.gmFontWhite {
        color: #fff;
    }

    .li-ph-filter-label {
        margin: 0;
    }

    #div-physicianvisit-filter-main input {
        width: 94%;
    }

    #div-physicianvisit-filter-main .gmBtn {
        width: 94%;
    }
}

/*Mobile styles ends here */

#div-globus-experience-content-list ul:nth-child(even) {
    background-color: #F7F7F7;
}

.gmBorderBottomPhysicianVisit {
    border-bottom: 2px solid #4169e1;
}

.li-phyvsit-phone-caption-calendar {
    display: none;
}

.li-phone-globus-exp-caption {
    display: none;
}

.phyvsit-phone-criteria-headers {
    display: none;
}

#div-physicianvisit-tabs .fa {
    display: none;
}

#div-physicianvisit-detailmode {
    margin: auto;
}

@media (min-width:768px) {
    .phyvisit-tab {
        width: 150px;
        display: inline-block;
    }

    #div-physicianvisit-tabs li {
        text-align: center;
    }
}
