.li-link {
    font-size: 15px;
}

#mobile-menu-top-user-logout {
    display: none;
}

.i-dash-new {
    vertical-align: top;
    line-height: 20px;
}

.gmBGLBlue {
    background-color: #2E6CA5;
}

.div-sur-pic-container .default-picture {
    color: #aaa;
    font-size: 35px;
}

.div-dash-module-header .div-img-list #div-name-container {
    /* height: 85%; */
    padding-top: 10px;
}

.divModule.size-1 .ul-dash-list-data {
    border-bottom: 1px solid #eee;
}

#div-name-container h5:first-letter {
    font-size: 50px;
    text-transform: capitalize;
}

#div-name-container2 {
    text-align: center;
    margin-top: 19px;
}

.div-dash-item-header {
    border: 1px solid #ccc;
    width: 94%;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    min-height: 40px;
}

.gmGreyBorderBottom {
    border-bottom: 1px solid #ccc;
}

.gmFontDarkGrey {
    color: #797373;
}

.div-dash-item-list {
    display: block;
    width: 100%;
}

.gmBGfieldsales {
    background-color: #063F79;
}

.gmBGsalescall {
    background-color: #00ace1;
}

.gmBGsurgeon {
    background-color: #008040;
}

.div-dash-content {
    max-height: 245px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.div-dash-content #div-crmitemlist-coldata {
    max-height: 250px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.gmFontsalescall {
    color: #00ace1;
}

.gmFontsurgeon {
    color: #008040;
}

.divModule.size-2 {
    width: 94%;
    max-width: 660px;
}

.divModule.size-1 {
    width: 324px;
/*    margin-left: 10px;*/
    margin:4px;
}

.div-dash-content #div-crmitemlist-colhead ul,
.div-dash-content .gmDashColHead {
    background-color: #fff;
}

.div-dash-content #div-crmitemlist-colhead ul {
    padding: 0.5em;
    width: 96%;
}

.div-dash-module-header {
    border: 1px solid #aaa;
    min-height: 305px;
    max-height: 45%;
    border-radius: 4px 4px 0 0;
}

.ul-dash-module-header {
    border-radius: 3px 3px 0 0;
    padding: 0.6em 1em;
}

.div-dash-item-grid .fa-star,
.div-dash-item-grid .fa-search,
.div-dash-item-grid .fa-pencil,
.div-dash-item-list .fa-star,
.div-dash-item-list .fa-search,
.div-dash-item-list .fa-pencil {
    background-color: #615A5A;
    color: #fff;
    padding: 7px;
    border-radius: 50%;
    margin-top: -12px;
    font-size: small;
}

.div-dash-data-content .fa-star {
    background-color: #fff;
    color: #E48900;
    font-size: 29px;
    margin-top: -12px;
    padding: 0;
}

.div-dash-data-content .span-vip {
    margin-right: -21px;
    font-size: 9px;
    color: #fff;
}

.select-dash-module {
    width: 110px;
    color: #000;
    font-size: 1.2em;
}

.divDash {
    max-width: 1024px;
    min-width: 320px;
}

.divModule {
    max-width: 600px;
    min-width: 300px;
    margin-bottom: 10px;
}

.divList {
    width: 100%;
}

.divItem {
    max-width: 300px;
}
.gmBGtradeshow{
    background: #990505;
}
.tradeDashItem{position: relative;}
.tradeDashItem .tradeUserIcon{position: absolute; right: 0; top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.tradeDashItem .fa-users{color: #990505;padding: 10px;font-size: 25px;}
.trade-dash-link{display: block;}
.tradeShowPop{max-width: 998px;}
.gmBGquickreference{background: #f39813}
.gmLineHeight18px{line-height: 18px;}
.refDashItem a,.refDashItem a:visited,.refDashItem a:active {
    color: #3924ee;
}
/*TradeShow Email Popup*/
.trade-dash-link{display: block;}

.tradeemailShowPop{max-width: 998px;}

.tradeemailShowPop .modal-dialog {
    max-width: 850px;
    width: 82%;
}

.emaildiv{
    padding: 20px;
}
.emaildiv #attendeemail {
    width: 92%;
    margin: 0;
    padding: 5px;
    font-size: 15px;
}
#div-popup-trade-list textarea{
        width: 100%;
    margin-bottom: -4px;
    padding: 8px;
    line-height: 24px;
    height: 156px;
    -webkit-border-radius: 0px; 
    -moz-border-radius: 0px; 
    border-radius: 0px;
    box-sizing: border-box;
}
.tradeemailBtn {
    text-align: center;
    margin-top: 15px;
}
#mailresult {
    background: #1d1d6b;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    padding: 8px;
}
.tradeemailShowPop .emaildiv {
        margin: 0;
    display: inline-block;
    width: 100%;
    padding: 1px 0 10px 0%;
}
.tradeemailShowPop .emaildiv label {
    min-width: 40px;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}
.tradeemailShowPop .modal-header {
    padding-bottom: 0;
}
.tradeShowPop .modal-title {
    float: left;
    width: 75%;
}
.invitesurgeonBtn{
     float: right;
    margin-right: 22px;
    font-size: 16px;
    font-weight: bold;
    background: #d9d9d9;
    border: 1px solid #999;
    border-radius: 4px;
    line-height: 1.3;
}
.tradeemailShowPop .modal-title {
    visibility: hidden;
}
.tradeemailShowPop .close {
    font-size: 2em;
}
#errormsg{
    color: #d60505;
    padding: 5px 40px;
}
.tradeShowPop #dash-attendee-report-list{
    min-height: 80px;
}

.tradeShowPop #dash-attendee-report-list .img-loader-spinner{
    margin-top: 1%;
}

#div-popup-trade-list{
    font-size: 15px;
}
@media (min-width: 767px) {
    #div-dash-tradeshow .div-dash-content{
        max-height: 200px;
    }
}
@media screen and (max-width: 1024px) and (min-width:720px) and (orientation: portrait) {
    .divModule {
        max-width: 400px;
        min-width: 300px;
        margin-left: 28px;
        margin-bottom: 10px;
        display: inline-block;
    }

    .divModule.size-2 {
        width: 93%;
        display: inline-block;
    }

    .divModule.size-1 {
        width: 92%;
        display: inline-block;
    }

    .divDash {
        min-height: 880px;
    }

    .div-dash-data-content ul:first {
        display: none !important;
    }
}

.gmFontfieldsales {
    color: #063F79;
}

.gmBGDash {
    background-color: #fff;
}

.gmBGmerc {
    background-color: #92278F;
}

.gmFontmerc {
    color: #92278F;
}

.gmBGlead {
    background-color: #B2182B;
}

.gmFontlead {
    color: #B2182B;
}

.div-dash-info-i {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    border-radius: 50%;
    border: 2px solid #0D3C6A;
    color: black;
    padding: 3px 2px 2px 3px;
    text-align: center;
    /*    font-family: -webkit-body;*/
}

#image-logo {
    display: none;
}

.gmBGtraining {
    background-color: #b23d08;
}

.gmFonttraining {
    color: #b23d08;
}

.gmFontSmaller {
    font-size: smaller
}

.gmBGcrf {
    background-color: #8C9D10;
}

.gmBGcrf-pending {
    background-color: #8C9D10;
}

.gmBGcrf-reviewed {
    background-color: #8C9D10;
}

.gmFontcrf {
    color: #8C9D10;
}

.gmMarginLeft15p {
    margin-left: 15px;
}

.div-dash-content #div-crmitemlist-coldata {
    border: none;
}

.gmWordBreak {
    word-break: break-word;
}

.gmMarginTop5p {
    margin-top: 5px;
}

.img-progress-spinner {
    padding: 15px 0px;
    width: 40px;
}

.li-progress-message {
    width: 100%;
    text-align: center;
    padding: 15px 0px;
    font-weight: bolder;
}

.div-dash-item-list #div-crmitemlist-coldata div {
    width: 100%;
}

.size-1 #div-dash-physicianvisit-list-content .gmText250 {
    width: 150px;
}

.size-1 #div-dash-physicianvisit-list-content .gmText200 {
    width: 100px;
}

.size-1 #div-dash-physicianvisit-list-content .gmText225 {
    width: 110px;
}

.div-dash-module-header hr {
    border: 0;
    height: 2px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #F1F1F1, #B2B2B2, #F1F1F1);
    background-image: -moz-linear-gradient(left, #F1F1F1, #B2B2B2, #F1F1F1);
    background-image: -ms-linear-gradient(left, #F1F1F1, #B2B2B2, #F1F1F1);
    background-image: -o-linear-gradient(left, #F1F1F1, #B2B2B2, #F1F1F1);
    margin-top: 0px;
}

.div-phone-list-item ul li {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ul-phone-list-item {
    padding: 5px 0;
    font-size: 1em;
    color: #444;
    width: 55%;
    display: inline-block;
}

.div-dash-plus {
    display: none;
}

#div-phone-crm-title {
    display: none;
}

#spn-phone-crm-title {
    position: relative;
    top: 40%;
}

.li-phone-list-plus {
    position: relative;
    top: 1.5vh;
}

.li-phone-list-save {
    position: relative;
    top: 25%;
}

.div-phone-display-picture {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 50%;
    vertical-align: top;
    margin-top: 10px;
    text-align: center;
    background-color: #eee;
}

#div-filter-phone-content {
    position: absolute;
    z-index: 1;
    background-color: #ccc;
    cursor: default;
    box-shadow: 0px 2px 1px 0px #999;
    min-height: 130px;
}

.div-phone-list-item {
    border-top: 1px solid #F1F1F1;
}

@media screen and (max-width: 480px) {

    .divModule {
        margin-bottom: 5px;
    }

    .div-dash-module-header .gmFloatRight {
        display: none;
    }

    .li-icon-back {
        font-size: 1.2em;
    }

    #mobile-menu-top-user,
    #mobile-menu-top-user-name {
        display: inline-block;
    }

    .divDash {
        min-width: 0px;
    }

    #mobile-menu-top-user-name {
        width: 60%;
        margin-top: 25px;
        vertical-align: -webkit-baseline-middle;
        font-size: 16px;
        color: white;
    }

    #div-crm-tab .default-picture {
        margin: 5px 0px 0px 9px;
        color: #aaa;
        font-size: 35px;
    }

    #mobile-menu-top-user {
        width: 45px;
        height: 45px;
        background: #eee;
        border-radius: 50%;
    }

    #div-mobile-menu-img {
        margin-top: -41px;
    }

    #mobile-menu-bar-close {
        border-radius: 50px;
        border: 1px solid #fff;
        width: 22px;
        height: 25px;
        display: inline-block;
        text-align: center;
        float: right;
        margin-top: 20px;
        margin-right: 4px;
    }

    #mob-menu-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
    }

    #mobile-menu-top-user-logout {
        float: right;
    }

    #btn-logout {
        border-bottom: 0px !important;
        padding: 0px 15px !important
    }

    .div-phone-list-item {
        padding: 5px;
    }

    .ul-phone-header {
        display: none;
        height: 35px;
    }

    .ul-phone-list-item {
        padding-left: 10px;
        width: 52%
    }

    .div-phone-display-picture h5 {
        display: inline-block;
        font-size: 0.1px;
        margin-right: 0.5px;
        margin-top: 21px;
        color: #999;
    }

    .div-phone-display-picture h5:first-letter {
        font-size: 20px;
        text-transform: capitalize;
    }

    #txt-crmitemlist-search {
        width: 90%;
        padding-left: 10px;
    }

    .div-dash-content {
        display: none;
    }

    #image-logo {
        display: inline-block;
    }

    .divModule.size-2 {
        width: auto;
    }

    .divModule.size-1 {
        width: auto;
        margin-left: auto;
    }

    .size-1:nth-of-type(3),
    .size-1:nth-of-type(6),
    .size-1:nth-of-type(9) {}

    .divModule .gmText150 {
        width: 85px;
    }

    .divModule .gmText250 {
        width: 150px;
    }

    .divModule .gmText200 {
        width: 125px;
    }

    .divModule .gmText225 {
        width: 135px !important;
    }

    .divModule .divItem {
        max-width: 300px;
        width: 250px;
        min-height: 50px;
        vertical-align: top;
    }

    .div-dash-module-header {
        border: none;
        min-height: 0;
        border-radius: 5px;
        box-shadow: 0;
    }

    .ul-dash-module-header {
        border-radius: 3px;
        text-align: center;
        padding: 0;
        height: 45px;
        min-height: 28px;
        border-radius: 5px;
        text-align: left;
    }

    .ul-dash-module-header .li-link {
        display: none;
    }

    .div-dash-title,
    .div-dash-count {
        font-size: 16px;
    }

    #div-popup-merc-list #div-crmitemlist-coldata {
        max-height: 67vh !important;
    }

    #div-crmitemlist-coldata {
        border: none !important;
        max-height: 70vh;
        width: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    #btn-crmitemlist-download {
        display: none;
    }

    #div-sale-keyword-detail > div:first-child {
        width: 100%;
    }

    #div-sale-keyword-detail > div:first-child li:first-child {
        width: 96%;
    }

    .fa-plus-dash {
        display: inline-block !important;
    }

    body > ul:first-child {
        display: none;
    }

    .gmPadding1em {
        padding: 12px;
    }

    .div-dash-count {
        margin-top: 4px;
    }

    .div-dash-plus {
        display: inline-block !important;
        font-size: 1.6em;
    }

    .li-dash-count {
        float: right;
        margin-right: 10px;
    }

    .ul-dash-module-header li {
        padding-top: 10px;
    }

    .ul-dash-module-header > a {
        border-left: 1px solid #fff;
        display: inline-block;
        width: 80%;
    }

    .li-dash-plus {
        padding: 8px 15px 10px 15px !important;
    }

    .li-dash-plus a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .ul-dash-module-header > li:first-child {
        margin-left: 10px;
    }

    #div-phone-crm-title {
        height: 50px;
        display: inline-block !important;
    }

    #div-surgeon-dash-header .i-dash-new,
    #div-lead-dash-header .i-dash-new {
        display: none;
    }

    #div-dashboard .gmPanelHead {
        padding: 0em 1em !important;
    }
}

.div-phone-salescall-location {
    vertical-align: top;
    padding: 8% 0 0 0;
    width: 10%;
    text-align: center;
}

.gmFontfollowup {
    color: #2B6FEC;
}

.sur-act-create {
    width: 30%;
}

.ul-surgeon-activity-create {
    margin: 2px auto;
}

.li-phone-list-x {
    position: relative;
    top: 40%;
}

#span-dash-location {
    font-weight: 300;
}

#div-dash-surgeon-block {
    width: 30%;
    box-shadow: -5px 5px 25px 5px #999;
    margin-top: 10px;
}

#div-dash-surgeon-content {
    max-height: 160px;
    overflow: auto;
}

@media screen and (min-width:481px) and (max-width: 768px) {
    .divModule {
        margin-left: -1px;
        margin-right: 4px;
    }

    .divModule.size-2 {
        max-width: 748px;
        width: 99.6%;
        display: inline-block;
    }

    .divModule.size-1 {
        width: 100%;
        max-width: 368px;
        display: inline-block;
        margin-left: 0px;
    }

    .size-1:nth-of-type(5),
    .size-1:nth-of-type(3) {
        margin-left: 2px !important;
        margin-right: 0px !important;
    }

    a {
        display: inline;
    }
}

@media screen and (min-width: 480px) and (max-width: 720px) {
    .div-dash-module-header {
        min-height: 0px;
    }

    .divModule.size-2 {
        width: 100%;
        max-width: 671px;
    }

    .divItem {
        width: 94%;
        max-width: 585px;
    }

    .divModule.size-1 {
        width: 100%;
        max-width: 671px;
    }

    .gmText225 {
        width: 82%;
    }

    .size-1 #div-dash-physicianvisit-list-content .gmText250 {
        width: 55%;
    }

    .size-1 #div-dash-physicianvisit-list-content .gmText225 {
        width: 65%;
    }
}

.li-dash-surg-name-content {
    width: 55%;
}

#div-dashboard .horizondal-line,
#div-dashboard #div-crmitemlist-colhead {
    display: none !important;
}

#div-dashboard .gmPanelHead {
    padding: 0.6em 1em;
}

.gmPaddgin3x0 {
    padding: 3px 0;
}

.gmFont3e {
    font-size: 3.5em;
}

.gmFontLGray {
    color: #ccc;
}

.gmWidth80per {
    width: 80%;
}

.size-2 .ul-dash-list-data {
    border-bottom: 1px solid #eee;
}

#div-dash-salescall-list-content .li-dash-surg-name-content {
    width: 65%;
}

.div-dash-module-header .div-sur-pic-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

/*MERC Dashboard*/

.gmWidth70per {
    width: 70%;
}

.li-register-btn {
    padding: 5px 10px;
    border-radius: 5px;
    background: #92278F;
    color: #FFF;
}

.li-register-btn a {
    color: #FFF;
}

@media screen and (max-width: 960px) and (min-width: 720px) {
    .divModule {
        margin-left: 2px;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    .divModule.size-2 {
        min-width: 654px;
    }
}

.size-2 {
/*    margin-left: 0;*/
    margin: 4px 3.5px;
}

/*
.size-1:nth-of-type(3),
.size-1:nth-of-type(6),
.size-1:nth-of-type(9) {
    margin-left: 0px;
}
*/

.size-1 .li-dash-surg-name-content {
    width: 70%;
}

.size-1 .li-surg-create-activity {
    display: none;
}

#div-dash-phy-header {
    text-align: center;
}

#div-dash-phy-header div {
    display: inline-block;
    padding: 10px 0;
    border-radius: 3px;
    width: 49%;
    text-align: center;
    margin: 5px 0;
}

#div-dash-phy-header div span {
    margin-left: 10px;
}
