#div-training-filter-main li {
    margin: 5px;
}

.agendaupload #span-fileupload-browse-filenm {
    overflow-x: hidden;
}

.li-activity-name {
    width: 310px;
}

.li-activity-date {
    width: 150px;
}

#training-file-upload #btn-fileupload-upload,
#merc-file-upload #btn-fileupload-upload {
    display: none;
}

.li-addres-content {
    min-width: 200px;
    max-width: 250px;
    min-height: 50px;
    max-height: 150px;
}

/*
#div-training-edit-program .li-actvty-surgeon {
    margin-left: 19%!important;
}
*/

.ul-phone-training-selected-criteria {
    margin-top: 70px;
    margin-bottom: 8px;
}

.div-view li.gmSectionListItem {
    margin: 10px 5px;
}

.div-view .selectbox-icon {
    display: none;
}

#div-training-details-main #acttype {
    min-width: 212px;
}

.div-training-feedback-comments-list-header li {
    margin: 10px !important;
}

.div-training-feedback-comments-list {
    margin: 10px 0 !important;
}

.div-view #div-training-feedback-edit-content {
    display: none;
}

#div-training-surgeon-detail-main li {
    margin: 0;
}

.ul-training-surgeon-header {
    border-bottom: 1px solid #b23d08;
}

.agendaupload #span-fileupload-browse-filenm {
    overflow-x: hidden;
}

.training-phone-criteria-headers {
    display: none;
}

.li-training-edit-zip,
.li-training-edit-state {
    text-align: left;
    min-width: 25px;
}

#input-training-editview-title {
    width: 520px;
}

.div-training-top-content {
    width: 85%;
    margin: auto;
}

.li-training-tabhead {
    width: 98%;
}

#div-training-feedback-comments {
    margin-bottom: 5%;
}

.div-training-feedback-comments-list {
    margin-bottom: 5px;
}

.li-training-detail-to {
    min-width: 150px;
}

.span-training-edit {
    padding: 10px 10px 10px 10px;
    background-color: #444;
    color: white;
}

#li-training-select-address {
    min-width: 250px;
    max-width: 190px;
    min-height: 80px;
}

#input-training-editview-agenda,
#div-training-surgeon-list input {
    width: 380px;
}

.training-phone-criteria-headers,
#ul-training-surgeon-list-details {
    display: none;
}

#ul-training-detail-phone-content {
    display: none;
}


/*File Upload Agenda Style*/

#div-training-details-main #span-fileupload-browse-filenm {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-size: .99em;
    width: 72%;
    padding: 6px 5px;
}

#div-training-details-main #btn-fileupload-popup-browse {
    margin-left: 10px;
    display: inline-block;
    font-size: 14px;
}

#div-training-details-main #li-fileupload-fileinfo {
    margin: 0
}

#div-training-details-main #li-fileupload-upload {
    display: none;
}

.li-training-file-upload {
    width: 79%;
    vertical-align: middle;
}

#training-file-upload #li-fileupload-fileinfo {
    display: inline-block;
}

@media (max-width: 1023px) and (min-width: 768px) {
    #training-name-search {
        float: none;
        padding-top: 1em;
    }
}

@media (max-width: 768px) and (min-width: 480px) {
    .li-training-merc-type {
        text-align: left;
        min-width: 25px;
    }
    .div-training-top-content .act-detail-caption {
        width: 150px!important;
    }
    .li-activity-date {
        width: 100px;
    }
    #actstartdate.li-activity-date {
        width: 125px;
    }
    .li-activity-name {
        width: 178px;
    }
    .li-training-edit-to {
        text-align: right;
        min-width: 41px;
    }
    .li-training-edit-zip {
        min-width: 150px;
        text-align: right;
    }
    #input-training-editview-agenda,
    #div-training-surgeon-list input {
        width: 340px;
    }
    .div-training-top-content {
        width: 100% !important;
    }
}

@media (max-width:480px) {
    .training-phone-criteria-headers {
        display: block;
    }
    #ul-training-detail-phone-content .gmSection {
        padding: 5px 0;
    }
    .gmSectionListItem-comments-header-data-right {
        font-size: 10px;
    }
    .fa-todate-training {
        margin-left: 6px;
    }
    .training-tab.gmBGDarkerGrey {
        background-color: #eee;
        color: black;
    }
    #training-file-upload #li-fileupload-fileinfo {
        width: 100%;
        margin: 0;
    }
    .li-addres-content {
        max-width: 100%;
        width: 75%;
        min-height: 50px;
        max-height: 150px;
    }
    #training-actstartdate,
    #training-actenddate {
        width: 130px!important;
        min-width: 75px;
    }
    #training-select-address {
        width: 74%;
        max-width: 100%;
    }
    .li-address-edit-fa {
        margin-left: -6px!important;
    }
    .li-training-file-upload {
        width: 100%;
    }
    #input-training-editview-title {
        width: 94%;
    }
    .ul-merc-surgeon-list-details {
        width: 99%;
    }
    #div-training-details-main #span-fileupload-browse-filenm {
        width: 96%;
    }
    #div-training-details-main #frm-documents #btn-fileupload-popup-browse {
        margin-left: 0px;
        width: 94%;
        font-size: 14px;
    }
    #input-training-editview-agenda,
    #div-training-surgeon-list input {
        width: 94%;
    }
    #div-training-surgeon-list-data {
        width: 97.5%;
    }
    .div-training-top-content {
        width: 100% !important;
    }
    .div-edit li,
    .div-training-feedback-comments-lists li {
        margin: 5px 0 5px 0;
    }
    .div-view li.gmSectionListItem {
        margin: 5px 0 0 0;
    }
    .div-training-feedback-comments-lists li {
        margin: 5px 0 5px 0;
    }
    .div-edit .div-training-feedback-comments-lists {
        margin-top: 50px;
    }
    #ul-training-detail-phone-content,
    #ul-training-surgeon-list-details {
        display: inline-block !important;
    }
    .ul-phone-training-selected-criteria {
        margin-top: 10px;
        margin-bottom: 8px;
    }
    #training-actid-search {
        width: 100%;
    }
    .training-criteria-phone-style .icon-dropdown {
        width: 100%;
    }
    #ul-training-activity-date {
        float: none;
        width: 100%
    }
    .lead-li-activity-date {
        display: block;
    }
    .div-training-date-mobile {
        width: 100%;
    }
    .training-search-content input,
    .training-search-content div {
        margin-top: 5px;
    }

    #div-training-edit-program li,
    #div-training-edit-surgeons li {
        margin: auto 0px;
    }

    #div-training-edit-program li.gmSectionListItem {
        margin: 5px 0 0 0;
    }
    
    #div-training-edit-program li.gmSectionValue,
    #div-training-edit-surgeons li.gmSectionValue {
        margin: 3px 0 15px 0;
    }
    
}
@media (min-width:768px) {
    .training-tab {
        width: 150px;
        display: inline-block;
    }
    
    #div-training-tabs li {
        text-align: center;
    }
}
