.arrow-down-sort {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-top: 14px solid black;
	float: right;
	height: 0;
	width: 0;
	margin-right: 5px;
}

.arrow-up-sort {
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 14px solid black;
	float: right;
	height: 0;
	width: 0;
	margin-right: 5px;
}

.btn-detail {
	width: 25%;
}

.btn-detail-navigation {
	display: inline;
	float: left;
	font-size: 16px;
	height: 30px;
	padding: 10px 0 0 0;
	text-transform: uppercase;
	text-align: center;
}

.btn-bg-grey {
	background-color: grey;
	color: #fff;
}

.btn-bg-grey.btn-selected {
	background-color: #ccc;
	color: #000;
}

#btn-download-viewer {
	background-color: #fff;
	color: #00366e;
	border: none;
	border-radius: 3px;
	display: none;
	font-size: 1.5em;
	margin: 15px 0 0 -6px;
	position: fixed;
	top: 18px;
	right: 50px;
	width: 40px;
}

.div-detail-navigation-hide {
	background-color: #fff;
}

.btn-download span {
	display: none;
}

#btn-search,#btn-camera {
	display: none;
}

.favorite-add {
	color: #996600;
}

.favorite-remove {
	opacity: 0.25;
}

#div-column {
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	margin-top: 20px;
	width: 100%;
}

.div-detail #div-itemlist {
	border-radius: 0 0 3px 3px;
}

#div-detail-breadcrumb {
	float: left;
	height: 18px;
	padding: 5px 0;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
	text-transform: uppercase;
}

#div-detail-breadcrumb a {
	color: #000;
}

#div-detail-view {
	margin: 15px auto;
	width: 96%;
}

#div-detail-view i { 
	margin: -1px 8px 0 10px;
}

#div-favorite-icon {
	display: inline-block;
	font-size: 2em;
	position: relative;
	top: 5px;
}

#div-favorite-icon {
	display: none;
}

#div-detail-search-x {
	background-color: #999;
	border-radius: 50%;
	color: white;
	display: none;
	font-family: "Arial";
	left: 240px;
	margin: -10px;
	padding: 0.05em 0.1em 0.2em 0.1em;
	position: relative;
	text-align: center;
	top: -15px;
	width: 18px;
}

.div-heading-1 {
	display: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0.75em 0 0.25em 0;
}

#div-detail-navigation .span-count {
	float: right;
	height: 0px;
	position: relative;
	top: -24px;
}

#div-detail-page {
	height: 100%;
	width: 100%;
}

.div-image-list {
	font-size: 0.9em;
	height: 250px;
	text-align: center;
	padding-bottom: 10px;
}

.div-image {
	height: 250px;
	min-width: 250px;
}

#div-detail-documents #div-column li, #div-detail-videos #div-column li,  #div-sharestatus-body #div-column li {
	display: inline-block;
	height: 25px;
	padding: 0.75em 0em 0em 0.5em;
	text-transform: uppercase;
	color: #000;
}


#div-detail-images #div-column li {
	display: inline-block;
	padding: 0.5em 0em 0.5em 0.5em;
	text-transform: uppercase;
	color: #000;
}

 #div-detail-set #div-column li, #div-detail-group #div-column li, #div-detail-part #div-column li {
	display: inline-block;
	padding: 0.5em 0em 0.5em 0.5em;
	text-transform: uppercase;
	color: #000;
}

#div-detail-group #div-itemlist ul {
	display: inline;
}

#div-detail #div-itemlist {
	list-style-type: none;
}

#div-detail #div-itemlist li {
	padding: 0.3em 0 0.3em 0.15em;
	margin-left: 0px;
}

#div-detail #div-itemlist li a {
	color: black;
}

#div-detail #div-itemlist li a.for- {
	display: none;	
}

#div-detail #div-keyword-detail {
	margin-left: 0px;
}

#div-column div {
	display: none;
}

#div-detail-group #div-itemlist ul li {
	display: inline-block;
}

.div-description {
	line-height: 1.75em;
}

.div-description ul li {
	list-style: disc outside none;
	margin: 5px 0 0 18px;

}

#div-detail-set,#div-detail-group {
	padding-top: 3em;
}

#div-detail-part {
	padding-top: 2em;
}

#div-sidepanel-list #div-detail-search-x {
	left: 260px;
}

#div-detail-set,#div-detail-group {
	margin-top: 20px;
}

.div-detail-set-group-part {
	display: none;
}

.div-detail-set-group-part li {
	list-style-type: none;
}

#div-detail-part #div-itemlist ul li {
	display: inline-block;
}

#div-detail-part .li-item-qty {
	vertical-align: top;
	width: 20%;
}

#div-detail-part #div-itemlist .li-item-qty {
	margin-left: 15px;
}

#div-detail-group .li-item-name {
	margin-left: 0px;
	width: 50%;
}

#div-detail-part .li-item-name {
	width: 50%;
}

#div-detail-group .li-item-type {
	width: 25%;
}

#div-detail #div-itemlist ul {
	display: inline;
	margin-left: 0px;
}

.li-item-detail a {
	color: #fff;
	font-size: 0.9em;
	text-transform: uppercase;
}

#div-detail-group #div-itemlist ul {
	display: inline;
}

.font-white {
	color: #fff;
}

.font-black {
	color: #000;
}

.font-red {
	color: #800;
  
}
.div-intiate
{
       margin-left: 0px; 
}
.div-intiate-green-approvel
{
    margin-left: -64px;  
}

#li-detail-name {
	clear: left;
	color: #00366e;
	font-size: 24px;
	font-weight: bold;
}

#div-detail #div-itemlist li.li-item-detail {
	background-color: #777;
	border-radius: 3px;
	margin-left: 0.75em;
	width: 8%;
	text-align: center;
}

#div-detail #div-itemlist li.li-item-detail a {
	color: #fff;
}

#div-detail #div-itemlist .ul-group-part-list li.li-item-detail {
	margin-left: 9.5em;
}

.li-item-id {
	vertical-align: top;
	width: 13%;
	word-break: break-word;
}

.li-item-name {
	vertical-align: top;
	width: 33%;
}

.li-item-type {
	vertical-align: top;
	width: 13%;
}

.li-item-category {
	vertical-align: top;
	width: 18%;
	word-break: break-word;
}

.li-item-hierarchy {
	vertical-align: top;
	width: 18.9%;
	word-break: break-word;
}

#li-detail-image {
	max-height: 260px;
	overflow-x: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

#li-detail-image div {
	display: inline-block;
}

.list-style-disc {
	list-style-type: disc;
}

#li-detail-description {
	margin-top: 20px;
}

#li-detail-detail {
	margin-top: 20px;
}

#txt-itemlist-search {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 5px #030303;
	font-size: 1em;
	height: 1.6em;
	width: 240px;
}

#ul-listitem li {
	color: #000;
	display: inline-block;
	list-style-type: none;
}

#ul-listitem li a {
	display: inline-block;
	color: black;
}

#div-no-image {
	color: #800;
	display: inline;
	float: left;
	padding: 2em 0;
}

#div-itemlist-count {
	display: none;
	float: left;
	margin-top: 20px;
}

#div-search-count {
	display: none;
	float: right;
	margin: 33px 0 0 0;
	margin-right: 43%;
}

.navigation-img {
	float: right;
	height: 30px;
	position: relative;
	top: -6px;
	width: 30px;
}

#div-detail-image-container {
	width: auto;
	display: block;
	text-align: center;
}

#div-detail-image-container img {
	display: inline;
	vertical-align: middle;
	text-align: center;
}

.div-detail #div-column #sel-attrib {
	display: none;
}

.div-detail #div-column #sel-sort-by {
	display: none;
}

#div-detail-menu {
	display: none;
}

#div-detail-part #div-itemlist ul li.li-item-part-camera {
	display: none;
}

#img-in-camera-icon {
	display: none;
}


#btn-download {
	background-color: #fff;
	color: #00366e;
	border-radius: 3px;
	display: none;
	font-size: 1.64em;
	width: 40px;
	position: relative;
	top: 5px;
}

.catalog-download-button {
	top: 10px!important;
	right: 5px; 
}

#btn-download i {
	float: none;
}

.div-images-image .div-imgs-title {
	background-color: #999;
	border-radius: 0 0 3px 3px; 
	color: #fff;
	height: 8%;
	margin-top: 11%;
	padding: 0.25em 0;
	position: relative;
	text-align: center;
	width: 100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow: hidden;
}


.div-images-image .div-icon-share {
	position: relative;
	width: 100%;
	height: 12%;
	margin-right: 0px;
}

.div-images-image .div-icon-share  i {
	float: right;
	margin: 15px 0 0 0 !important;
}

#div-detail-images #div-itemlist li {
	display: inline-block; 
	margin-bottom: 10px;
}

.div-images-image {
	height: 230px;
	width: 230px;
	margin: 0 0.435em;
	background-color: #eee;
	border-radius: 3px;
}

.div-selected-image {
	background-color: lightblue;
}

.li-no-display {
	padding:10px 0px 0px 10px;

}

.div-detail-image-parent {
	position: relative;
	top: 12%;
	width: 100%;
	height: 78%;
	text-align: center;
}

#div-top-right-icons {
	float: right;
	display: inline-block;
	margin-top: -54px;
	margin-right: -7px;
	height: 30px;
}

.imagelist-image {
	margin-top: -10%; 
	height: 190px;
}

#div-detail #div-itemlist li.li-selected-row a {
	color: blue;	
}

@media screen and (min-width: 1024px) {
	
	.div-detail #div-itemlist {
		border: 1px solid #ccc;
		border-top: 6px solid white;
		max-height: 400px;
		width: 100%;
		margin-bottom: 20px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	#li-detail-image {
		clear: left;
		width: 100%;
	}

	/* changes for landscape view for part listing (set/group)  */
	
	.div-itemlist-small-size #div-itemlist {
		max-height: 410px;
		margin-bottom: 0;
	}
	
	.div-itemlist-big-size #div-itemlist {
		max-height: 410px;
		margin-bottom: 0;
	}
	
	.div-detail-landscape #div-detail-overview {
		width: 30%;
		margin-top: 20px;
		position: absolute;
		height: 69%;
	}
	
	.div-detail-landscape #div-detail-overview #li-detail-image {
		clear: left;
		width: 90%;
		min-height: 460px;
		margin: auto;
		margin-top: 70px;
		overflow-x: hidden;
		overflow-y: auto;
		display: block;
		-webkit-overflow-scrolling: touch;
	}
	
	.div-detail-landscape #li-detail-image div {
		display: block;
	}
	
	.div-detail-landscape .detail-image {
		max-width: 250px;
		height: auto;
		max-height: 250px;
		margin-bottom: 20px;
		display: block;
	}
	
	.div-detail-landscape #div-keyword-detail {
		margin: -30px 0px 10px 2px
	}
	
	#div-detail-part {
		position: absolute;
		right: 20px;
		margin-top: 20px;
		top: 200px;
		width: 66%;
	}
	
	#div-detail-part .li-item-id {
		width: 12.25%;
	}
	
	#div-detail-overview {
		height: 520px;
		overflow-x: hidden;
		overflow-y: auto;
		border-bottom: 10px solid #fff;
		border-top: 10px solid #fff;
		-webkit-overflow-scrolling: touch;
	}
	
	.detail-image {
		max-height: 250px;
		margin-right: 10px;
		max-width: 900px;
	}
	
	#div-detail-part #div-itemlist .ul-selected-row {
		background-color: #999;
		border-radius: 0px;
	}
	
	#div-detail-part #div-itemlist .ul-selected-row li a {
		color: #fff;
	}
	
	#div-detail-part #div-itemlist .ul-selected-row .li-item-detail {
		background-color: #777;
		border-radius: 3px;
	}
	
	#div-detail-part #div-itemlist .ul-selected-row .li-item-detail a {
		color: #fff;
	}
	
	#div-detail-navigation {
		width: 100%;
		background-color: #999;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 40px;
	}
	
	#div-detail-set,#div-detail-group {
		padding-top: 0em;
	}
	
	.detail-page-itemlist-count  #div-itemlist-count {
		float: right;
		margin: 33px 0 0 0;
	}
	
	.div-detail-landscape #div-itemlist-count {
		display: none;
		float: right;
		margin: 33px 0 0 0;
	}
	
	.div-detail-landscape #div-search-count {
		margin-right: 12%;
	}
	
	#div-detail-part .li-item-name {
		width: 54%;
	}
	
	#div-detail-part .li-item-qty {
		width: 17%;
	}
	
	.div-detail-landscape #div-detail-search-x {
		top: -25px;
	}

	#div-detail-images #div-itemlist {
		border: none;
		margin: auto;
		margin-top: 10px;
	}
}

@media screen and (min-width: 768px) and (max-width:1023px) {
	

	#div-detail-images #div-itemlist {
		border: none;
		width: 100%;
		margin-top: 10px;
	}
	
	.div-detail #div-itemlist {
		width: 100%;
		max-height: 600px;
		border: 1px solid #ccc;
		border-top: 3px solid white;
		margin-bottom: 20px;
		overflow-y: auto;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	.div-itemlist-small-size #div-itemlist {
		max-height: 300px;
	}

	.div-itemlist-big-size #div-itemlist {
		max-height: 460px;
	}

	#div-detail-group .li-item-type {
		width: 30%;
	}

	#div-detail-group #div-itemlist ul,#div-detail-set #div-itemlist ul {
		margin-left: 0px;
	}

	.div-detail-landscape #div-search-count {
		margin-right: 6%;
	}

	#div-detail-set #div-itemlist ul li {
		margin-left: 2px;
	}

	.li-item-name {
		width: 30%;
		word-break: break-word;
	}

	.li-item-id {
		width: 16.5%;
	}
	
	#div-detail-part .li-item-id {
		width: 13.5%;
	}

	.li-item-category,.li-item-hierarchy {
		word-break: break-word;
	}

	.li-item-category {
		width: 17%;
	}

	.li-item-hierarchy {
		width: 17%;
	}

	#li-detail-image {
		clear: left;
		width: 100%;
	}

	.div-detail-overview-height #div-detail-overview {
		height: 780px;
		overflow-x: hidden;
		overflow-y: auto;
		border-bottom: 15px solid #fff;
		border-top: 10px solid #fff;
		-webkit-overflow-scrolling: touch;
	}
	
	.detail-image {
		margin-right: 10px;
		max-width: 600px;
		max-height: 250px;
	}


	#div-detail-part #div-itemlist .ul-selected-row {
		background-color: #999;
		border-radius: 0px;
	}

	#div-detail-part #div-itemlist .ul-selected-row li a {
		color: #fff;
	}

	#div-detail-part #div-itemlist .ul-selected-row .li-item-detail {
		background-color: #777;
	}

	#div-detail-part #div-itemlist .ul-selected-row .li-item-detail a {
		color: #fff;
	}

	#div-detail-navigation {
		width: 100%;
		background-color: #999;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 40px;
	}

	.detail-page-itemlist-count #div-itemlist-count {
		margin: 33px 0 0 0;
	}

	#div-detail-set,#div-detail-group {
		padding-top: 0em;
	}

	#div-detail-part {
		padding-top: 0em;
	}

	.set-group-itemlist-count-no-image #div-itemlist-count {
		position: relative;
		bottom: -110px;
		margin: 33px 0 0 0;
	}

	.set-group-itemlist-count-no-image #div-search-count {
		position: relative;
		bottom: -110px;
		margin: 33px 160px 0 0;
	}

	.no-internet-part-count #div-itemlist-count {
		position: relative;
		bottom: -90px;
		margin: 33px 0 0 0;

	}

	.no-internet-part-count #div-search-count {
		position: relative;
		bottom: -90px;
		margin: 33px 160px 0 0;

	}

	#div-itemlist-count {
		float: right;
	}

	.set-group-itemlist-count #div-itemlist-count {
		position: relative;
		bottom: -290px;
		margin: 33px 0 0 0;
	}

	.set-group-itemlist-count #div-search-count {
		position: relative;
		bottom: -290px;
		margin: 33px 160px 0 0;
	}

	#div-search-count {
		margin-right: 24%;
	}

}

.show-app {
	color: black;
}

#div-search-header i {
	display: none;
}

.div-share-list  #div-column  li {
	display: inline-block;
	height: 25px;
	padding: 0.75em 0em 0em 0.5em;
	text-transform: uppercase;
	color: #800;
}

