    .do-hide {
    display: none;
}

.do-imp-hide {
    display: none!important;
}

#div-do-nointernet-connection {
    height: 300px;
    display: none;
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    line-height: 1.5;
    font-size: larger;
}

#ul-search-resultlist li {
    padding: 0;
}


/* Search View */

#div-common-search-x {
    position: absolute;
    top: 5%;
    right: -18px;
    padding: 5px;
    width: 18px;
    background: #ccc;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

#div-common-search-x.hide {
    display: none;
}

#div-keyword-search {
    /* 	position: relative;*/
}

#div-do-udi-parts-used-txtkeyword #div-search-result-main,
#div-do-billing-account-search #div-search-result-main,
#div-do-parts-used-txtkeyword #div-search-result-main,
#div-do-report-account-search #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-do-udi-parts-used-txtkeyword #ul-search-resultlist,
#div-do-billing-account-search #ul-search-resultlist,
#div-do-parts-used-txtkeyword #ul-search-resultlist,
#div-do-report-account-search #ul-search-resultlist {
    overflow: auto;
    max-height: 300px;
}

#div-do-billing-salesrep-search #ul-search-resultlist {
    overflow: auto;
    max-height: 250px;
}

#div-do-billing-account-search #div-search-result-multiple,
#div-do-parts-used-txtkeyword #div-search-result-multiple,
#div-do-report-account-search #div-search-result-multiple,
#div-do-udi-parts-used-txtkeyword #div-search-result-multiple {
    /*position: absolute;*/
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-do-udi-parts-used-txtkeyword #ul-search-resultlist li i,
#div-do-billing-account-search #ul-search-resultlist li i,
#div-do-parts-used-txtkeyword #ul-search-resultlist li i,
#div-do-billing-salesrep-search #ul-search-resultlist li i,
#div-do-report-account-search #ul-search-resultlist li i {
    display: none;
}

#div-do-udi-parts-used-txtkeyword #ul-search-resultlist .selected-item,
#div-do-billing-account-search #ul-search-resultlist .selected-item,
#div-do-billing-salesrep-search #ul-search-resultlist .selected-item,
#div-do-parts-used-txtkeyword #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-do-udi-parts-used-txtkeyword #ul-search-resultlist .selected-item a,
#div-do-billing-account-search #ul-search-resultlist .selected-item a,
#div-do-parts-used-txtkeyword #ul-search-resultlist .selected-item a {
    color: #fff;
}

#div-do-udi-parts-used-txtkeyword #ul-search-resultlist .selected-item i,
#div-do-billing-account-search #ul-search-resultlist .selected-item i,
#div-do-parts-used-txtkeyword #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-do-udi-parts-used-txtkeyword .item-searchlist,
#div-do-billing-salesrep-search .item-searchlist,
#div-do-billing-account-search .item-searchlist,
#div-do-parts-used-txtkeyword .item-searchlist,
#div-do-report-account-search .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-do-billing-salesrep-search .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
}


/* Common */

.div-do-detail-navigation .btn-detail {
    width: 20% !important;
}

.a-do-navigation-width.btn-detail {
    width: 25% !important;
}

#div-do-view {
    width: 96%;
    margin: 10px 2% 0 2%;
}

#div-do-breadcrumb {
    width: 100%;
    height: 20px;
    padding: 5px 0;
    text-transform: uppercase;
    display: none;
}

#div-do-title-main {
    width: 70%;
    height: 30px;
    clear: left;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

#div-do-title-main div {
    display: inline;
}

#div-do-title {
    color: #036;
    text-transform: uppercase;
}

#div-do-main-content {
    width: 100%;
    margin-top: 10px;
    height: 550px;
}


/* Book DO */

#div-do-detail {
    width: 100%;
    background-color: white;
    margin: 15px 0 0 0;
}

.li-do-detail-label {
    color: #036;
    width: 100%;
    background-color: white!;
    height: 28px;
    margin: auto;
    margin-top: 5px;
}

.div-do-detail-label {
    background-color: #999;
    border-radius: 3px 3px 0 0;
    color: white;
    display: inline;
    height: 80%;
    margin-right: 5px;
    padding: 0.5em;
    text-align: center;
    /*text-transform: uppercase;*/
}

.ul-do-detail-info {
    clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: auto;
    height: 478px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.li-do-detail-label .selectedTab {
    background-color: #ccc;
    color: black;
}

.li-btn-do div {
    display: inline-block;
    padding: 0.7em;
    color: white;
}

#btn-backward {
    background-color: #960;
    float: left;
}

#btn-forward {
    background-color: #960;
    float: right;
}

.li-btn-do {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#btn-do-cancel,
#btn-do-bookdo {
    background-color: #00366e;
    width: 100px;
    margin: 0 5px;
}

#btn-do-delete {
    background-color: #800;
    width: 100px;
    margin: 0 5px;
}

.li-do-detail-label .selected-tab {
    background-color: #ccc;
    color: #000;
}


/*  Billing / Surgery Info */

.div-do-billing-info-label {
    width: 45%;
}

#div-search-result-main .hide {
    display: none!important;
}

.div-do-billing-info-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

.div-do-detail-billing-info li {
    display: inline-block;
    width: 98%;
    padding: 20px 0px 3px 20px;
}

.div-do-detail-billing-info #div-do-billing-account-search li,
.div-do-detail-billing-info #div-do-billing-salesrep-search li {
    padding: 0!important;
}

#li-do-billing-account-label {
    margin: 10px 0 15px 0;
}

.ul-do-billing-info #txt-billing-account {
    width: 100%;
    margin: 0px 8px 0px 0px;
    display: inline-block;
}

.li-do-billing-label input,
#label-do-billing-info-surgery-date,
#label-do-udi-info-surgery-date,
#span-do-billing-info-surgery-date {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

.li-do-billing-label input {
    width: 180px;
}

#label-do-billing-info-surgery-date,
#label-do-udi-info-surgery-date,
#span-do-billing-info-surgery-date {
    width: 85px;
}


/*Prabakaran*/

.li-do-billing-label .do-hide {
    display: none;
}

#div-do-billing-info-additional {
    display: inline-block;
    border: none;
    box-shadow: 0px 0px 1px #030303;
    border-radius: 0px;
    height: 160px;
    width: 325px;
    margin: 0 8px 0 0;
    background-size: contain!important;
    background-position: center!important;
}

#div-do-billing-info-surgeon-name {
    width: 100%;
    padding-bottom: 20px;
}

.li-do-billing-label div,
.li-do-billing-label input {
    display: inline-block;
}

#div-do-billing-additional-info {
    vertical-align: top;
}

.div-do-billing-surgery {
    margin-top: 10px;
    vertical-align: top;
}

#div-do-billing-info-surgery-date input,
#div-do-udi-info-surgery-date input {
    width: 100px;
}

#div-do-billing-account-search {
    width: 70%;
    height: 30px;
}

#div-do-billing-account-search input {
    border: 0px;
    border-radius: 0px;
}

#div-do-billing-account-search #div-keyword-search {
    width: 100%;
}

#div-do-billing-salesrep-list #div-keyword-search {
    margin-left: 2px;
    width: 277px;
}

#div-do-billing-salesrep-list #txt-billing-salesrep {
    width: 100%;
}


/*#ul-do-detail-billing-info #div-common-search-x, #ul-do-detail-billing-info #div-select-all {
	display: none!important;
}*/

#div-do-billing-account-search #div-search-result-main {
    /*position: absolute;*/
    z-index: 1;
    left: 150px;
}

#span-do-billing-doid-repid,
#span-do-udi-doid-repid {
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    padding: 0.5em;
}

#div-do-billing-salesrep-list {
    /*position: relative;*/
    /*left: 10px;*/
    width: 100%;
}

#div-do-billing-info-additional img {
    width: 300px;
    height: 150px;
    margin: 5px;
}

.ul-do-billing-info #div-do-billing-salesrep-list #div-itemlist {
    /*width: 95%!important;
	margin-left: -25px;*/
}

#div-do-billing-account-search #div-itemlist input,
#div-do-billing-salesrep-list #div-itemlist input {
    display: none!important;
}

.ul-do-billing-info #div-itemlist {
    border: 1px solid #ccc;
    border-top: 1px solid #ccc!important;
    max-height: 300px;
    width: 79.5%;
    margin-bottom: 5px;
    overflow-y: auto;
    background-color: #999;
}

.ul-do-billing-info #div-itemlist li {
    display: inline-block;
    width: 93%;
}

#div-do-billing-info-account-name {
    width: 50%;
}

#div-do-billing-info-account-name .div-do-billing-info-label-header,
#div-do-billing-info-account-id {
    vertical-align: top;
}

#div-do-billing-acname {
    width: 70%;
}

#div-do-billing-info-parent-customer {
    vertical-align: top;
    height: 100px;
}

#div-do-billing-info-customer,
#div-do-billing-info-customer-input {
    margin-top: 30px;
}

.ul-do-billing-info .fa {
    font-size: 2em;
}

#div-do-billing-salerep-search-header {
    width: 100%;
}

#div-do-billing-salesrep-search-x {
    border-radius: 50%;
    padding: 0.5em 0.35em 0.5em 0.35em;
    width: 30px;
    right: 0px;
    position: absolute;
}

#div-do-billing-salesrep-search-x div {
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-family: "Arial";
    padding: 0.2em 0.2em 0.3em 0.2em;
    text-align: center;
    width: 18px;
}

#div-do-billing-salesrep-search {
    display: none;
    background-color: #ccc;
    border-radius: 3px;
    height: 280px;
    width: 300px;
    margin-top: 20px;
    position: absolute;
}

#div-do-billing-salerep-search-title {
    border-radius: 3px 3px 0 0;
    color: #fff;
    width: 100%;
    padding: 0.75em 0;
    background-color: #960;
    text-align: center;
}

#div-do-billing-info-additional-info i {
    margin-top: -20px;
    vertical-align: middle;
}

#div-do-billing-salesrep-search #div-search-result-main {
    position: fixed!important;
    margin-top: 5px!important;
}

#div-do-billing-info-surgerylevel-list,
#div-do-billing-info-surgerytype-list {
    border-radius: 3px;
    width: 150px;
    background-color: #ddd;
}

#div-do-billing-info-surgeonname-list {
    width: 200px;
}

#div-do-billing-info-surgerylevel-list .div-dropdown-main,
#div-do-billing-info-surgerytype-list .div-dropdown-main,
#div-do-udi-info-surgerylevel-list .div-dropdown-main,
.div-dropdown-main {
    width: 100%;
}

#div-do-billing-info-surgeonname-list .div-dropdown-main {
    width: 200px;
    background-color: #ddd;
    border-radius: 3px;
}

#div-do-billing-info-surgeonname-list .div-dropdown-list ul {
    height: 200px;
    overflow: auto;
    width: 200px;
}

#div-do-billing-info-surgerylevel-list .div-arrow-dropdown,
#div-do-billing-info-surgerytype-list .div-arrow-dropdown,
#div-do-udi-info-surgerylevel-list .div-arrow-dropdown,
#div-do-udi-info-surgerytype-list .div-arrow-dropdown,
#div-do-billing-info-surgeonname-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-do-billing-info-surgerylevel-list .div-dropdown-text,
#div-do-billing-info-surgerytype-list .div-dropdown-text,
#div-do-udi-info-surgerylevel-list .div-dropdown-text,
#div-do-udi-info-surgerytype-list .div-dropdown-text,
#div-do-billing-info-surgeonname-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

#div-do-billing-info-surgerylevel-list .div-dropdown-list,
#div-do-billing-info-surgerytype-list .div-dropdown-list,
#div-do-udi-info-surgerylevel-list .div-dropdown-list,
#div-do-udi-info-surgerytype-list .div-dropdown-list,
#div-do-billing-info-surgeonname-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 150px;
    z-index: 1;
}

#div-do-billing-info-surgerylevel-list .div-dropdown-list li,
#div-do-billing-info-surgerytype-list .div-dropdown-list li,
#div-do-billing-info-surgeonname-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 120px;
}

#div-do-billing-info-surgeonname-list .div-dropdown-list li {
    width: 200px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .li-do-billing-label input {
        width: 180px;
    }
    .div-do-billing-info-label {
        display: inline-block;
        margin: 15px 0;
        width: 48%;
    }
    .div-do-billing-info-label-header {
        width: 120px;
    }
    .ul-do-detail-info {
        height: 700px;
    }
    .div-do-detail-billing-info {
        margin-top: 10px;
    }
    .div-do-detail-billing-info li {
        width: 98%;
        padding: 0px 0px 0px 20px;
    }
    #div-do-billing-info-surgeon-name input {
        width: 175px;
    }
    #li-do-billing-account-label,
    #li-do-billing-additional-label {
        padding: 10px 0px 3px 20px;
    }
    #div-do-billing-info-account-name {
        width: 80%!important;
    }
    /* #div-do-billing-salesrep-list {
		left: 170px;
		width: 70%;
	} */
    .ul-do-billing-info #div-do-billing-salesrep-list #div-itemlist {
        width: 94%!important;
        margin-left: -25px;
    }
    .ul-do-billing-info #div-itemlist {
        max-height: 450px;
        width: 85%;
        margin-left: -3px;
    }
    #div-do-billing-info-additional-info {
        margin-top: 10px;
        width: 100%!important;
    }
    #div-do-billing-info-customer,
    #div-do-billing-info-customer-input {
        margin-top: 20px!important;
    }
    #div-do-billing-info-parent-customer {
        height: 145px!important;
    }
    #div-do-billing-info-additional {
        height: 145px!important;
    }
    #div-do-billing-info-additional img {
        height: 120px!important;
        width: 250px;
    }
    #div-do-main-content {
        height: 825px!important;
    }
}


/* DOReport */

#drp-do-report-company .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 200px;
    text-align: center;
    background-color: #ddd;
}

#drp-do-report-company .div-dropdown-list ul li {
    width: 99%;
    height: 16px;
    padding: 10px 0px;
    border: 1px solid #999;
}

#drp-do-report-company .div-dropdown-list ul {
    width: 100%;
    margin: 0px!important;
}

.div-do-report-company-header {
    display: inline-block;
}

#drp-do-report-company .div-dropdown-text {
    padding: 10px!important;
    margin-left: 20px;
}

#drp-do-report-company .div-dropdown-main .div-arrow-dropdown {
    position: absolute;
}

#drp-do-report-company .div-dropdown-main {
    background-color: #ddd;
    width: 200px;
    height: 35px;
    display: inline-block;
    text-align: center;
}

#div-do-report-company-header {
    width: 100%;
    height: 40px;
}

#div-do-report-account-search li {
    width: 98%;
}

#div-do-report-main ul {
    display: block;
    width: 100%;
    margin: 10px;
}

#div-do-report-main ul li,
#div-do-report-main ul li div {
    display: inline-block;
}

#div-do-report-from-date,
#div-do-report-to-date {
    margin-left: 44px;
}

#div-do-report-do-id,
#div-do-report-account {
    width: 60px;
}

#li-do-report-from-date,
#li-do-report-to-date {
    width: 25%;
}

#div-do-report-main input {
    padding: 0.4em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 186px display: inline-block;
    height: 20px;
    box-shadow: 0px 0px 3px #030303;
    -webkit-appearance: none;
    margin-right: 10px;
}

#div-do-report-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-left: 20px;
}

#div-do-report-account-search #div-common-search-x {
    right: 15px;
}

.div-do-report-pdf {
    width: 50px!important;
}


/*DO-Signature*/

#div-do-signature-main {
    height: 480px;
}

.div-do-sign-label-header {
    height: 240px;
}

.div-do-sign-label-header ul {
    display: inline-block;
    line-height: 0px;
    margin: 20px 50px;
    width: 350px;
    vertical-align: top;
}

#ul-do-sign-detail-left li {
    display: block;
    width: 300px;
}

#li-do-sign-label-header {
    padding: 15px 0 0px 10px;
}

.li-do-sign-detail-label {
    height: 10px;
    padding: 0px 5px;
    margin-top: 20px;
}

.li-do-sign-detail-input {
    height: 40px;
    margin: 0px;
    padding: 5px;
}

.li-do-sign-detail-input input {
    border: none;
    border-radius: 3px;
    background-color: #ccc;
    height: 100%;
    width: 100%;
    padding: 0 0.4em;
    font-size: 1em;
}

#ul-do-sign-content-right .li-do-sign-detail-label {
    margin: 0px 20px;
    height: 0px;
    padding: 20px 0px 15px 0px;
}

#div-do-sign-auth-sign-area {
    background: #ccc;
    height: 120px;
    margin: 0 auto;
    width: 90%;
}

#div-do-sign-auth-sign-area-footer {
    width: 90%;
    margin: 0 auto;
    background: #036;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}


/*#btn-sign-submit {
	background-color: #00366e;
	width: 100px;
	margin: 20px auto;
	padding: 20px 0px;
	color: white;
	text-align: center;
}*/

.btn-sign {
    background-color: #036;
    width: 16%;
    padding: 15px 0px!important;
    margin: 0;
    vertical-align: middle;
}

#div-do-signature-area {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#SignCanvas {
    background-color: #eee;
    /* height: 90%;
	width: 100%; */
    position: fixed;
    margin-left: 135px;
    margin-top: 100px;
}

#div-signature-button-area {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

#div-signature-button-area div {
    width: 100px;
    height: 15px;
    background-color: #036;
    display: inline-block;
    color: #fff;
    padding: 10px 0px;
    margin-left: 40px;
}

#img-do-sign {
    width: 100%;
    height: 100%;
}

.li-btn-sign {
    width: 100%;
    margin-top: 0.5%;
    text-align: center;
    padding-top: 25px;
}

.li-btn-sign div {
    display: inline-block;
    padding: 0.7em;
    color: white;
}

#div-do-sign-label-left {
    width: 47%;
    height: 300px;
    float: left;
    padding: 0.7em;
}

.div-do-sign-btn-footer {
    float: left;
    margin: 10px 6px 0px 0px;
    border-top: 2px solid #ccc;
    /* border-radius: 4px; */
    width: 100%;
    height: 75px;
}

#label-do-signature-date {
    display: inline-block;
    padding: 0.9em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 150px;
    vertical-align: middle;
}

.li-do-sign-date i {
    font-size: 2em;
}

#ul-do-detai-sign-tab {
    display: inline-block;
    margin: 20px 1% 1px 1%;
    width: 98%;
}

#ul-do-detai-sign-tab li {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin-right: 5px;
    background-color: #ddd;
}

#ul-do-detai-sign-tab div {
    display: inline-block;
    padding: 0.7em;
    background-color: #999;
    color: #fff;
    width: 120px;
}

.li-do-detai-sign-tab i {
    color: #000;
    font-size: 2em;
    vertical-align: middle;
    margin: 0 5px;
}

#div-do-signature-main .selected-tab {
    background-color: #ccc;
    color: #000;
}


/* #div-do-signature-main .selected-tab i{
	color: #000;
 } */

.ul-do-sign-label-header {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    width: 98%;
    height: 55%;
    margin: 0 1%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* #btn-sign-view, #btn-sign-submit{
		width: 18%;
		margin: 0 3px;
	} */
    #btn-sign-email-price,
    #btn-sign-email {
        margin: 30px 20px!important;
    }
    .div-do-sign-label-header {
        height: 300px;
    }
    .btn-sign {
        width: 28%!important;
        margin: 0 20px;
    }
    .li-btn-sign {
        margin-top: 35px!important;
    }
    .div-do-sign-label-header ul {
        display: inline-block;
        line-height: 0px;
        margin: 10px;
        width: 320px;
        vertical-align: top;
    }
    #SignCanvas {
        margin-left: 10px!important;
        margin-top: 230px!important;
    }
}


/*Ship-To-Info*/


/*dropdown arrow positioning*/

#li-address-to-list .div-arrow-dropdown .fa-caret-right,
#li-address-to-list .div-arrow-dropdown .fa-caret-down {
    margin-left: 5px;
    padding-top: 2px;
    position: absolute;
}

#btn-address {
    background-color: #036;
    border-radius: 3px;
    color: #fff;
    margin-top: -12px;
    margin-right: -7px;
    padding: 0.55em;
}

.ul-shipto-content {
    float: left;
    display: inline-block;
}

.ul-do-shiptoinfo-list-header {
    background-color: #ccc;
    color: #000;
    padding: 0.5em 0;
    width: 100%;
}

.li-do-shiptoinfo-checkbox-header,
.li-do-shiptoinfo-checkbox {
    background-color: #fff;
    font-size: 0.8em;
    color: #000;
    display: inline-block;
    width: 6%;
}

#div-do-shiptoinfo-parts-list ul {
    padding: 5px 0px;
    width: 100%;
    display: inline-block
}

.li-do-shiptoinfo-checkbox-header input,
.li-do-shiptoinfo-checkbox input {
    margin-left: 10px;
}

.li-shiptoinfo-name {
    width: 30%;
}

.li-shiptoinfoheader-title {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#li-shiptoinfoheader-parts {
    width: 30%;
}

#li-shiptoinfoheader-qty,
.li-shiptoinfo-qty {
    width: 8%;
    text-align: center;
}

#li-shiptoinfoheader-address {
    width: 30%;
}

.li-shiptoinfo-address {
    width: 30%;
    /* overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch; */
}

#li-shiptoinfoheader-carmode,
.li-shiptoinfo-carmode {
    width: 24%;
}

#div-do-shiptoinfo-parts-list li {
    display: inline-block;
    vertical-align: middle;
}

.div-do-shiptoinfo-qty {
    background-color: #ccc;
    text-align: center;
    border: 1px solid grey;
    display: inline-block;
    padding: 3px 5px;
}

#div-do-shiptoinfo-parts-list ul .li-shiptoinfo-qty {
    display: inline-block;
    width: 8%;
    text-align: center;
}

#div-do-shiptoinfo-parts-list ul {
    width: 100%;
}

#div-do-shiptoinfo-parts-list ul .li-shiptoinfo-name {
    display: inline-block;
}

.li-shiptoinfo-name i,
#div-do-shiptoinfo-parts-list ul .li-shiptoinfo-qty {
    display: inline-block;
    /*vertical-align: top;*/
}

.ul-do-shipinfo-child-part .fa-minus-circle {
    display: inline-block!important;
}

.ul-do-shipinfo-parent-part .fa-minus-circle {
    display: none!important;
}

.li-do-shiptoinfo-checkbox,
.li-do-shiptoinfo-checkbox-header {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    background-color: #ccc;
    font-size: x-large;
    vertical-align: middle;
}

.li-shiptoinfo-name span {
    display: inline-block;
    width: 90%;
    margin-left: 5px;
}

#div-do-shiptoinfo-parts-list {
    height: 440px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-do-shiptoinfo-parts-list {
        height: 660px!important;
    }
    #li-shiptoinfoheader-carmode,
    .li-shiptoinfo-carmode {
        width: 23%!important;
    }
    #div-do-view #btn-address {
        top: 100px!important;
    }
}

.force-bg-light-grey {
    background-color: #ccc!important;
}

.li-do-shiptoinfo-address-indicator {
    padding: 0px 5px;
    font-size: large;
    font-weight: bolder;
    width: 10px;
}

#ul-do-shiptoinfo-header-title .li-do-shiptoinfo-address-indicator {
    visibility: hidden;
}


/*Parts Used*/

input[type=checkbox] {
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
}

#div-do-part-used {
    margin-top: 20px;
    height: 565px;
}

.div-do-part-search-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

.div-udi-part-search-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 138px;
    margin-right: 9px;
}

#div-do-parts-used-txtkeyword,
#div-do-udi-parts-used-txtkeyword {
    display: inline-block;
    height: 30px;
    margin: auto;
    width: 60%;
}

#div-do-parts-used-txtkeyword input,
#div-do-udi-parts-used-txtkeyword input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    /*margin-top: 30px;*/
    -webkit-appearance: none;
    width: 100%;
}


/*#div-do-parts-used-txtkeyword #div-common-search-x {
	display: none!important;
}*/

#div-do-parts-list {
    height: 60%;
    width: 100%;
    margin-top: 5px;
    display: none;
    overflow-y: scroll;
}

.added-item {
    width: 250px;
    display: inline-block;
    padding-top: 15px;
}

#div-select-all {
    width: 80%;
    height: 20px;
    margin-top: -22px;
    margin-right: 10px;
    background-color: grey;
    text-align: center;
    padding: 6px;
    color: white;
}

.div-do-parts-list-footer {
    background-color: #444;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0;
    text-align: right;
    display: none;
}

.ul-do-parts-list-header {
    background-color: #ccc;
    color: #000;
    padding: 0.5em 0;
    margin-top: 20px;
    display: none;
    width: 100%;
}

.li-header-title {
    /*font-weight: bold;*/
    display: inline-block;
    text-align: center;
}

#li-header-parts {
    width: 45%;
    text-align: center;
}

#li-header-lot-no,
#li-header-price-ea,
#li-header-ext-price,
#li-header-replenished {
    text-align: center;
}

#li-header-qty {
    width: 4.5%;
}

#li-header-type {
    width: 8.5%;
}

#li-header-replenished {
    width: 5%;
}

#li-header-lot-no {
    width: 13.5%;
}

#li-header-price-ea,
#li-header-ext-price {
    text-align: right;
    width: 9%;
}

.li-img-lot-no {
    width: 37.5%;
    margin-left: 60px;
}

.li-img-lot-no img {
    max-width: 100%;
    position: relative;
}


/*#li-header-ext-price{
	margin-left: 10px;
}*/

.fa-minus-circle,
.fa-plus-circle {
    font-size: 1.6em;
    margin-left: 6px;
    margin-top: 6px;
}

.li-do-parts-used-icon {
    width: 6%;
}

.fa-minus-circle {
    color: #B20000;
}

.fa-plus-circle {
    color: #005C00;
}

#div-do-parts-list li {
    display: inline-block;
}

.li-do-parts-used-list {
    width: 37.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0.25em;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
}

#div-qty-box {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.25em;
    width: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.repl-checkbox {
    background-color: #444;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Trebuchet MS";
    /*margin-top: 13px;*/
}

.li-price-ea-textbox,
.li-ext-price-textbox {
    /*background-color: purple;*/
    padding: 0.25em;
    width: 9%;
    vertical-align: top;
}

.li-lot-no-textbox .dark {
    background-color: #444;
    padding: 0.25em;
    width: 13%;
    vertical-align: top;
}

.li-lot-no-textbox {
    background-color: #fff;
    padding: 0.25em;
    width: 13%;
    vertical-align: top;
}

.li-lot-no-textbox .fa {
    color: #000;
    background-color: #ddd;
    border-radius: 2px;
    font-size: 1.2em;
    margin-top: 1px;
    padding: 0.25em;
    vertical-align: top;
}

.li-type-dropdown {
    /*background-color: green;*/
    width: 8%;
}

.li-qty-textbox,
.li-rep-checkbox {
    /*background-color: red;*/
    width: 5%;
}

.li-rep-checkbox {
    /*background-color: blue;*/
    text-align: center;
}

.li-qty-textbox,
.li-type-dropdown {
    padding: 0.25em 0;
    text-align: center;
    vertical-align: top;
}

.li-price-ea-textbox,
.li-ext-price-textbox {
    text-align: right;
    padding: 0.25em 0;
}

.li-lot-no-textbox {
    border-radius: 3px;
    height: 25px;
    margin-top: 4px;
}

.txt-lot-no-box {
    border-radius: 2px;
    font-size: 0.9em;
    width: 58%;
    display: inline-block;
    margin-top: -1px;
}

#div-ext-price-box {
    padding: 0.5em 0.25em;
    width: 80px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

#div-price-ea-box {
    width: 80px;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    padding: 0.5em 0.25em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.ul-parts-used-list {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    /*padding:5px 0;*/
}

#btn-do-hide-price {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .li-do-parts-used-icon {
        width: 8%!important;
    }
    .li-qty-textbox,
    .li-rep-checkbox,
    #li-header-qty,
    #li-header-replenished {
        width: 7%!important;
    }
    #li-header-type,
    .li-type-dropdown {
        width: 10%!important;
    }
    #li-header-lot-no,
    .li-lot-no-textbox {
        width: 17%!important;
    }
    #li-header-parts {
        width: 30%!important;
    }
    .li-do-parts-used-list {
        width: 20%!important;
    }
    #li-header-price-ea,
    #li-header-ext-price,
    .li-price-ea-textbox,
    .li-ext-price-textbox {
        width: 12%!important;
    }
    #div-do-parts-list {
        height: 99.3%!important;
    }
}


/*number keypad*/

#div-show-num-keypad {
    top: 200px;
    left: 400px;
    position: absolute;
    z-index: 1;
}

#div-num-keypad {
    background-color: #ccc;
    border-radius: 3px;
    width: 224px;
    height: 300px;
    margin: auto;
}

#div-qty-entry-text {
    font-size: 1em;
    height: 30px;
    width: 92.5%;
    margin: auto;
    background-color: #fff;
    padding: 0.75em 0.5em 0 0.5em;
    text-align: right;
}

#div-keys-panel {
    padding-top: 10px;
    margin: auto;
    width: 95%;
}

#div-keypad-title {
    border-radius: 3px 3px 0 0;
    color: #fff;
    width: 100%;
    padding: 0.75em 0;
    background-color: #960;
    text-align: center;
}

#div-num-decimal {
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 2px 0;
    padding: 1em 1.3em;
    background-color: #444;
    text-align: center;
}

.div-keys {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 2px 0;
    padding: 1em 1.2em;
    background-color: #444;
    text-align: center;
}

#div-num-symbol {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 0.97em 0.90em;
    margin: 2px 0 2px -1px;
    background-color: #444;
    text-align: center;
}

.div-keys-row {
    padding-left: 2px;
}

#overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
}

#div-num-two,
#div-num-three {
    display: inline-block;
}

#div-btn-done {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 1em 0;
    width: 100%;
    background-color: #444;
    text-align: center;
}

#div-keypad-close {
    border-radius: 50%;
    float: right;
    padding: 0.5em 0.35em 0.5em 0.35em;
    width: 30px;
    margin-top: -40px;
}

#div-keypad-close div {
    float: right;
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-family: "Arial";
    padding: 0.2em 0.2em 0.3em 0.2em;
    text-align: center;
    width: 18px;
    margin-right: 3px;
}

.fa-long-arrow-left {
    float: right;
    padding: 6px;
    text-align: center;
    border: 1px solid white;
    background-color: grey;
    margin-top: -30px;
}

.li-span-type {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 0.5em 0.75em;
    text-align: center;
    display: inline-block;
}

#lbl-consignment {
    border-radius: 3px 0 0 3px;
}

#lbl-loaner {
    border-radius: 0 3px 3px 0;
}

.input-checked {
    background-color: #444;
    border: 1px solid #444;
    color: #eee!important;
}


/*DO's Booked*/

.div-do-booked-account {
    width: 280px;
}

.div-do-booked-orddate {
    width: 90px;
}

.div-do-booked-total {
    width: 110px;
}

.div-do-booked-status {
    width: 120px;
}

.div-do-booked-custpo {
    width: 130px;
}

#btn-do-booked-doid {
    width: 120px;
    display: inline-block;
    text-align: left;
}

#txt-search-booked-do {
    border: none;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid grey;
    background-color: #E8E8E8;
    width: 70%!important;
}

#div-do-booked-do-search-area {
    margin-left: 120px;
}

.div-do-booked-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    text-align: center;
}

.div-do-booked-header {
    background-color: #444;
    width: 100%;
    height: 40px;
}

#div-do-booked-content {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 30px 2px 3px 1px;
    height: 500px;
    ;
    /*background-color: #eee;*/
}

#div-do-booked-do-list {
    display: block;
}

#div-do-booked-do-list #div-saleitemlist {
    max-height: 460px;
    display: inline-block;
    width: 100%;
}

.div-do-booked-do-list-item div {
    display: inline-block;
    padding: 0.2em 0em;
    text-align: center;
    vertical-align: middle;
    word-break: break-word;
}

.div-do-booked-doid .fa-minus-circle {
    margin-left: 0px;
    font-size: 2.2em;
}

.div-do-booked-do-list-item {
    background: #DDD;
    border: 1px solid #FFF;
    /*background: #fff;
      border: 1px solid #ccc;*/
    width: 101%;
    min-height: 65px;
}

.div-do-booked-doid {
    margin-left: 5px;
    width: 160px;
}

.div-do-booked-pdf {
    float: right;
    margin: 1%;
}

#div-do-booked-do-list #div-saleitemlist li {
    width: 99%;
}

.div-do-booked-status .fa-exclamation {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #B20000;
}

.div-list-item-DRAFT .fa-exclamation,
.div-list-item-Pending .fa-exclamation {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-do-booked-doid {
        width: 140px;
    }
    .div-do-booked-account {
        width: 120px;
    }
    .div-do-booked-orddate {
        width: 90px;
    }
    .div-do-booked-total {
        width: 110px;
    }
    .div-do-booked-status {
        width: 100px;
    }
    .div-do-booked-custpo {
        width: 70px;
    }
    .div-do-booked-pdf {
        float: right;
        margin: 15px 3px;
    }
    #btn-do-booked-doid {
        width: 100px;
    }
    #div-do-report-main .fa {
        font-size: 1.5em!important;
    }
}


/* DO Report*/

.div-do-report-total {
    width: 130px!important;
}

#div-do-report-main .fa {
    font-size: 2em;
}

.div-do-report-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 16%;
    text-align: center;
}

.div-do-report-header {
    background-color: #444;
    width: 100%;
    height: 40px;
}

#div-do-report-list #div-saleitemlist li {
    width: 99%;
}

.div-do-report-custpo {
    width: 130px!important;
}

#div-do-report-list .div-do-report-doid {
    text-align: left!important;
    margin-left: 5px;
}

#div-do-report-list #div-saleitemlist {
    max-height: 415px;
    display: inline-block;
    width: 100%;
}

.div-do-report-list-item div {
    display: inline-block;
    padding: 0.45em 0em;
    text-align: center;
    width: 15%;
    vertical-align: top;
    word-break: break-word;
}

.div-online-pdf {
    display: inline-block;
    max-width: 50px;
}

.div-do-report-list-item {
    background: #DDD;
    border: 1px solid #FFF;
    width: 101%;
    min-height: 50px;
}

#div-do-report-content {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 30px 2px 3px 1px;
    height: 455px;
}

.div-do-page-loader {
    text-align: center;
    width: 100%;
    /* margin-top: 100px; */
    position: relative;
    height: 300px;
    display: none;
    width: 98%;
    position: absolute;
    top: 35%;
    text-align: center;
    line-height: 1.5;
    font-size: larger;
}

#div-do-report-account-search #div-search-result-main {
    display: none;
}

#div-do-report-account-search #div-search-result-main {
    width: 530.799999px!important;
}

#div-do-report-account-search #ul-search-resultlist {
    overflow-x: hidden;
}

#div-do-report-account-search #txt-billing-account {
    width: 528px!important;
}

#div-do-report-account-search .item-searchlist {
    border-bottom: 1px solid #999;
}

#label-do-report-from-date,
#label-do-report-to-date,
#span-do-report-from-date,
#span-do-report-to-date {
    display: inline-block;
    padding: 0.50em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 100px;
    height: 17px;
    vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /*.div-do-booked-header .div-do-booked-doid,#div-do-booked-do-list .div-do-booked-doid {
	width: 19%!important;
}
.div-do-booked-header  .div-do-booked-account,#div-do-booked-do-list .div-do-booked-account  {
	width: 21%!important;
	}
.div-do-booked-header  .div-do-booked-total,#div-do-booked-do-list .div-do-booked-total  {
	width: 14%!important;
}
 #div-do-booked-do-list .div-do-booked-orddate,.div-do-booked-header .div-do-booked-orddate {
	width: 13%!important;
}
  #div-do-booked-do-list .div-do-booked-status ,.div-do-booked-header .div-do-booked-status {
  	width: 13%!important;
  }
 .div-do-report-header .div-do-report-orddate,#div-do-report-list .div-do-report-orddate {
	 width:13%!important
	}
 .div-do-report-header .div-do-report-status,#div-do-report-list .div-do-report-status{
 	width:13%!important
 }
  .div-do-report-header .div-do-report-total,#div-do-report-list .div-do-report-total{
 	width:14%!important
 }
.div-do-report-header .div-do-report-account,#div-do-report-list .div-do-report-account {
	 width:19%!important
	}*/
    #li-do-report-from-date,
    #li-do-report-to-date {
        width: 31%!important;
    }
    #div-do-report-from-date,
    #div-do-report-to-date {
        margin-left: 10px!important;
    }
    #div-do-report-main .fa {
        font-size: 1.5em!important;
    }
    #li-do-report-do-id {
        width: 46%!important;
        margin-top: 5px!important;
    }
    #div-do-report-content {
        height: 632px!important;
    }
    #div-do-report-list #div-saleitemlist {
        max-height: 590px!important;
    }
    #div-do-report-load {
        margin-top: 16px!important;
        margin-right: 86px;
        width: 100px!important;
    }
    #div-do-report-main #div-do-report-do-id input {
        margin-top: 20px!important;
    }
    #li-do-report-load {
        float: right!important;
    }
    #li-do-report-account {
        margin-top: 20px!important;
    }
    #div-do-booked-content {
        height: 755px!important;
    }
    #div-do-booked-do-list #div-saleitemlist {
        max-height: 714px!important;
    }
    #div-do-report-account-search #txt-billing-account {
        width: 566px!important;
    }
    #div-do-report-account-search #div-search-result-main {
        width: 571.799999px!important;
    }
    .div-do-report-orddate {
        width: 90px!important;
    }
    .div-do-report-total {
        width: 100px!important;
    }
    .div-do-report-custpo {
        width: 100px!important;
    }
    .div-do-report-pdf {
        width: 40px!important;
        float: right;
        margin: 10px 0;
    }
}


/* Tag ID */

#ul-do-tagid-parts-header {
    background-color: #777;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

#ul-do-tagid-parts-header li {
    display: inline-block;
}

#ul-do-tagid-parts-header #li-do-tagid-part-header {
    display: inline-block;
    width: 70%;
    text-align: center;
}

#ul-do-tagid-parts-header #li-do-tagid-header,
#div-do-tagid-parts-list ul .li-do-tagid {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-right: 5px;
}

#ul-do-tagid-parts-header #li-do-tagid-qty-header,
#div-do-tagid-parts-list ul .li-do-tagid-qty {
    display: inline-block;
    width: 8%;
    text-align: center;
}

#div-do-tagid-parts-list ul {
    padding: 10px 0;
    width: 100%;
}

#div-do-tagid-parts-list ul .li-do-tagid-partname {
    display: inline-block;
    width: 70%;
}

.li-do-tagid-partname span {
    display: inline-block;
    width: 88%;
    margin-left: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.5em 0.25em;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
}

.li-do-tagid-partname i,
#div-do-tagid-parts-list ul .li-do-tagid-qty,
#div-do-tagid-parts-list ul .li-do-tagid {
    display: inline-block;
    vertical-align: top;
}

.li-do-tagid input {
    width: 70%;
    margin-right: 5px;
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

.div-do-tagid-keypad-values {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.25em;
    width: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.ul-do-tagid-child-part .fa-minus-circle {
    display: inline-block!important;
}

.ul-do-tagid-parent-part .fa-minus-circle,
.ul-do-tagid-child-part .fa-plus-circle {
    display: none;
}

#div-do-tagid-parts-list {
    width: 100%;
    height: 440px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.li-do-tagid .fa {
    color: #000;
    background-color: #ddd;
    border-radius: 2px;
    font-size: 1.2em;
    margin-top: 1px;
    padding: 0.25em;
    vertical-align: middle;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-do-tagid-parts-list ul .li-do-tagid-partname,
    #ul-do-tagid-parts-header #li-do-tagid-part-header {
        width: 65%!important;
    }
    #ul-do-tagid-parts-header #li-do-tagid-header,
    #div-do-tagid-parts-list ul .li-do-tagid {
        width: 25%!important;
    }
    .li-do-tagid-partname span {
        width: 85!important;
    }
    #div-do-tagid-parts-list {
        height: 660px!important;
    }
}


/*View Summary*/

#div-do-view-summary-main {
    display: none;
    position: fixed;
    width: 100%;
    height: 85%;
    background-color: #eee;
    top: 78px;
    left: 0;
    z-index: 1;
}

#div-do-view-summary-header {
    width: 100%;
    height: 40px;
    background: #444;
}

#div-do-view-summary-header div {
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 48%;
}

#div-do-view-summary-close {
    text-align: right;
}

#div-do-view-summary-close-icon {
    width: 20px!important;
    text-align: center;
    margin-right: -10px;
    background: #fff;
    color: #444!important;
    border-radius: 50%;
    font-size: larger;
}

#div-do-view-summary-footer {
    width: 100%;
    height: 40px;
    background-color: #444;
}

#div-do-view-summary-footer div {
    display: inline-block;
    padding: 12px 0px;
    width: 70%;
    text-align: right;
    color: #fff;
}

#div-do-view-summary-footer-value {
    width: 29%!important;
}

.ul-do-view-summary-info {
    min-height: 200px;
}

.li-do-view-summary-label {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.div-do-view-summary-label {
    display: inline-block;
    width: 48%;
    margin-left: 12px;
    margin-top: 2px;
}

.div-do-view-summary-label div {
    display: inline-block;
}

#div-do-view-summary-part-main {
    width: 100%;
    height: 99%;
    margin: 8px 0 0 0;
}

#div-do-view-summary-tag-main {
    display: none;
    width: 100%;
    border-radius: 3px;
    margin: 30px 0 0 0;
}

#div-do-view-summary-part-header {
    background-color: #777;
    width: 100%;
    height: 40px;
}

#div-do-view-summary-part-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 13.5%;
    text-align: center;
}

#div-do-view-summary-part-header #div-do-view-summary-part-id-header {
    width: 37%!important;
    margin-left: 45px;
}

#div-do-view-summary-part-content .div-viewsummary-part-type {
    width: 6%;
    text-align: center;
}

#div-do-view-summary-part-content .div-viewsummary-part-repl {
    width: 6%;
    text-align: center;
}

#div-do-view-summary-part-content .div-viewsummary-lot-no {
    width: 13.5%;
    text-align: left;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-do-view-summary-part-header #div-do-view-summary-part-type-header {
    width: 6%;
    text-align: center;
}

#div-do-view-summary-part-header #div-do-view-summary-part-repl-header {
    width: 6%;
    text-align: center;
}

#div-do-view-summary-part-header #div-do-view-summary-part-lotno-header {
    width: 12%;
    text-align: center;
}

#div-do-view-summary-tag-header {
    background-color: #777;
    color: #fff;
    height: 40px;
    width: 100%;
}

#div-do-view-summary-tag-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    text-align: center;
}

#div-do-view-summary-tag-header div {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin-left: 5px;
}

#div-do-view-summary-part-header #div-do-view-summary-part-eprice-header {
    text-align: right;
}

#div-do-view-summary-part-content .div-viewsummary-price-ea,
#div-do-view-summary-part-content .div-viewsummary-ext-price {
    width: 9%!important;
    text-align: right!important;
}

#div-do-view-summary-part-header #div-do-view-summary-part-price-header {
    width: 14.5%!important;
    text-align: center;
    !important;
}

#div-do-view-summary-part-header #div-do-view-summary-part-eprice-header {
    width: 10%!important;
    text-align: center;
    !important;
}

#div-do-view-summary-part-header #div-do-view-summary-part-qty-header,
#div-do-view-summary-part-content .div-viewsummary-part-qty {
    display: inline-block;
    width: 6%;
    text-align: center;
}

#div-do-view-summary-part-content .div-viewsummary-part-qty {
    padding: 0.75em 0em;
}

#div-do-view-summary-tag-list #div-do-tagid-parts-list {
    height: 130px!important;
}

#div-do-view-summary-part-list {
    display: inline-block!important;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-view-summary-parts-list {
    width: 100%!important;
    margin: auto;
    border: 1px solid #ccc;
}

.div-view-summary-parts-list div {
    display: inline-block!important;
    vertical-align: middle;
}

#div-do-view-summary-part-list #div-saleitemlist li {
    display: block!important;
}

.div-view-summary-tags-list div {
    display: inline-block!important;
    width: 32%;
    text-align: center;
    height: 37px;
    padding: 4px;
    vertical-align: middle;
}

.div-viewsummary-price-ea-value {
    width: 11%;
    border-radius: 3px;
    display: inline-block;
    padding: 0.75em 0em;
    vertical-align: top;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: right;
}

.div-viewsummary-ext-price-value {
    padding: 0.75em 0em;
    width: 11%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: right;
}

.div-view-summary-parts-list .div-viewsummary-part-nm {
    width: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0em;
    white-space: nowrap;
    vertical-align: top;
    margin-left: 10px;
    text-align: left!important;
}

.div-view-summary-tags-list .div-viewsummary-tag-part-nm {
    width: 32%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    vertical-align: top;
    text-align: left!important;
}

#div-do-view-summary-tag-list #div-saleitemlist li {
    display: block!important;
}

.div-view-summary-tags-list {
    width: 99%!important;
    background: #fff;
    border: 1px solid #ccc;
}

#div-do-view-summary-tag-list #div-saleitemlist {
    height: 130px;
    display: inline-block!important;
    width: 100%;
}

.div-do-view-summary-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
    vertical-align: top;
}

#div-do-view-summary-acname {
    width: 70%;
    height: 32px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-do-add-new-address-submit,
#div-do-add-new-address-cancel,
.btn-do,
.btn-sign,
#btn-sign-submit {
    border-radius: 3px;
}

#div-do-view #div-summary-main {
    width: 100%;
    height: 100%;
}

#div-do-view-summary-part-content {
    height: 54%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-do-view-summary-main {
        top: 75px;
        height: 88.5%!important;
    }
    #div-do-view-summary-part-header #div-do-view-summary-part-id-header {
        margin-left: 30px;
    }
    #div-do-view-summary-acname {
        width: 58%;
    }
    #div-do-view-summary-part-content {
        height: 68%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}


/*DO Comments*/

.div-do-detail-comments {
    width: 100%;
    height: 100%;
}

#txtarea-do-comments {
    display: block;
    width: 93%;
    height: 400px;
    margin: auto;
    resize: none;
    font-size: 16px;
}

#div-do-comments-limit {
    margin: 10px auto;
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
}

#div-do-sample-pdf-container {
    position: absolute;
    left: 1000000px;
    display: none;
}

#div-do-billing-info-caseid-list {
    border-radius: 3px;
    width: 200px;
    background-color: #ddd;
}

#div-do-billing-info-caseid-list .div-dropdown-main {
    width: 100%;
}

#div-do-billing-info-caseid-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-do-billing-info-caseid-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

#div-do-billing-info-caseid-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 150px;
    z-index: 1;
}

#div-do-billing-info-caseid-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 170px;
}

#div-do-billing-case-id .div-do-billing-info-label-header {
    margin-top: 10px;
    vertical-align: top;
}

.div-btn-crop:hover {
    background: #eee;
}

#div-crop-bottom {
    position: fixed;
    bottom: 0;
    text-transform: uppercase;
    width: 100%;
    background: #999;
    color: #fff;
    font-weight: bold;
    z-index: 1000;
}

#div-crop-bottom div {
    width: 49.68%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
}

.jcrop-holder {
    margin: auto;
}

.div-do-detail-navigation #btn-case-report {
    text-transform: none!important;
}

#div-do-view-summary-account-id,
#div-do-view-summary-info-account-name {
    vertical-align: top;
}


/* UDI */

#div-do-udi-info-surgerylevel-list,
#div-do-udi-info-surgerytype-list {
    border-radius: 3px;
    width: 201px;
    background-color: #ddd;
}


/* UDI-S */

#div-do-udi-content {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 30px 2px 3px 1px;
    height: 330px;
    /*background-color: #eee;*/
}

.div-do-udi-info-label {
    width: 42%;
}

#div-do-udi-part-items li {
    display: inline-block;
    /*    width: 15%;*/
    padding-bottom: 5px;
}

#div-do-udi-part-items input {
    -webkit-box-shadow: 0px 0px 1px #030303;
    -moz-box-shadow: 0px 0px 1px #030303;
    box-shadow: 0px 0px 1px #030303;
    /*    padding: 5px;*/
    border-radius: 2px;
    border: none;
    background: #eeeeee;
    font-weight: bold;
}

#div-do-udi-part-items {
    max-height: 280px;
    overflow: auto;
}

#div-do-udi-header {
    padding: 10px;
    background-color: #444;
}

#div-do-udi-header div {
    display: inline-block;
    /*    width: 15%;*/
    color: #fff;
}

#div-do-udi-part-items i {
    font-size: 1.25em;
}

.ul-do-billing-info .div-do-detail-billing-info .gmFontRed {
    color: red;
}

.ul-do-billing-info #div-do-udi-part-used .gmFontRed {
    color: red;
}

#div-udi-partnum,
.li-udi-parts-used-icon {
    vertical-align: middle;
    width: 115px;
}

#div-udi-lotnum,
.li-udi-part-lotno {
    width: 105px;
}

.li-udi-part-lotno,
.li-udi-part-donorno,
.li-udi-part-expdate {
    /*   display: inline-block;*/
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

#div-udi-donornum {
    width: 110px;
    margin-left: 10px
}

.li-udi-part-donorno {
    width: 110px
}

.li-udi-part-donorno,
.li-udi-part-lotno {
    /*    padding: 5px 0 ;*/
}

.li-udi-part-expdate {
    /*    padding: 4px 0px 3px 0px;*/
    width: 95px;
}

#div-udi-expdate {
    width: 16%;
    margin-left: 15px
}

#div-udi-dinun {
    width: 15%;
}

.li-do-parts-dino {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}

#div-udi-udinum {
    width: 15%;
    text-align: center;
}


/*display udi number*/

.li-do-parts-udino {
    width: 33%;
    text-align: right;
    vertical-align: middle;
    word-wrap: break-word;
}

.div-do-udi-desc {
    font-size: 65%;
    font-style: italic;
    padding-left: 35px;
}

.div-do-udi-pattern {
    /*    font-size: 65%;*/
    font-style: normal;
    padding-left: 35px;
}

.li-do-UDI-pattern {
    width: 15%;
    display: none;
}

#div-do-udi-part-used {
    margin-top: 15px;
}

#li-do-udi-label1 {
    margin-bottom: -20px;
}

#li-do-udi-label2 {
    margin-bottom: 5px;
}

#div-do-udi-info-surgerylevel-list .div-dropdown-list li,
#div-do-udi-info-surgerytype-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 171px;
}

.div-do-udi-info-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

.div-do-udi-info-label-header {
    width: 120px;
    margin-left: 1px;
}

.div-do-udi-info-label-header .gmFontRed {
    color: red;
}

#div-do-udi-parts-used-txtkeyword .fa-check {
    font-size: 1em;
}

.li-udi-date-fmt {
    font-size: 10px;
}

.div-udi-part-search-label-header .gmFontRed {
    color: red;
}


/* UDI media */

@media screen and (min-width: 480px) and (max-width: 768px) {
    #li-do-udi-label1,
    #li-do-udi-label2 {
        margin: 10px 0px;
    }
    .div-do-udi-info-label {
        width: 46%;
    }
    .div-udi-part-search-label-header {
        width: 139px;
    }
    .div-udi-part-search-label-header .gmFontRed {
        color: red;
    }
    #div-do-udi-parts-used-txtkeyword {
        width: 70%;
    }
    #div-do-udi-part-items .li-do-parts-used-icon {
        width: 14%!important;
    }
    .li-do-parts-udino {
        width: 60%;
        vertical-align: middle;
        text-align: left;
        overflow: hidden;
        /*    margin-left: 3px;*/
        word-wrap: break-word;
        font-size: 1em;
    }
    .li-do-parts-dino {
        width: 20%;
        text-align: center;
        overflow: hidden;
        vertical-align: middle;
    }
    #div-udi-dinun {
        text-align: center;
        width: 20%;
        margin-left: 16px
    }
    .li-udi-date-fmt {
        font-size: 12px;
    }
    #btn-udi-genpdf,
    #btn-udi-emailpdf {
        border-radius: 3px;
        padding: 8px 0 8px 30px;
    }
    #div-udi-udinum {
        width: 15%;
        margin-left: 4px;
        text-align: center;
        padding-top: 8px;
    }
    #div-do-udi-content {
        border: 1px solid #999;
        box-shadow: 0 0 5px #999;
        margin: 30px 2px 3px 1px;
        height: 440px;
    }
    #div-do-udi-part-items {
        max-height: 370px;
        overflow: auto;
    }
    /*
    #div-detail-navigation{
        position: absolute;
    }
*/
