/* Common */

.inv-hide {
    display: none;
}

.div-inv-detail-navigation .btn-detail {
    width: 33.33% !important;
}

#div-inv-view {
    width: 96%;
    margin: 10px 2% 0 2%;
}

#div-inv-title-main {
    width: 70%;
    height: 30px;
    clear: left;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 30px;
}

#div-inv-title-main div {
    display: inline-block;
    vertical-align: middle;
}

#div-inv-request-type-dropdown .div-dropdown-text {
    font-weight: normal;
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

#div-inv-title {
    color: #036;
    text-transform: uppercase;
}

#div-inv-main-content {
    width: 100%;
    margin-top: 10px;
    height: 650px;
}

.li-btn-inv {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.li-btn-inv div {
    display: inline-block;
    padding: 0.7em;
    color: white;
}

#btn-backward {
    background-color: #960;
    float: left;
}

#btn-inv-reset,
#btn-inv-request {
    background-color: #00366e;
    width: 100px;
    margin: 0 5px;
    border-radius: 3px;
}

#btn-inv-delete {
    background-color: #800;
    width: 100px;
    margin: 0 5px;
    border-radius: 3px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #div-inv-detail,
    .ul-inv-detail-info {
        height: 100% !important;
    }
    #div-inv-shiptoinfo-sets-list {
        height: 92% !important;
    }
    #div-summary-main {
        height: 100% !important;
    }
    #div-inv-view-summary-set-content {
        height: 92% !important;
    }
    #div-inv-parts-list {
        height: 96% !important;
    }
}


/*Request*/

#div-inv-request-type {
    margin: -80px 0px 20px 103px;
}

#div-inv-request-type-dropdown .div-dropdown-list ul li {
    width: 99.7%;
    height: 16px;
    padding: 10px 0px;
    border: 1px solid #999;
}

#div-inv-request-type-dropdown .div-dropdown-list ul li a {
    margin-left: 10px;
}

#div-inv-surgery-info-SalesRep-list ul li div,
#div-inv-surgery-info-Account-list ul li div,
#div-inv-request-type-dropdown div {
    display: inline-block;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-main,
#div-inv-surgery-info-Account-list .div-dropdown-main {
    background-color: #ddd;
    width: 450px;
    height: 35px;
    display: inline-block;
    border-radius: 3px;
    /*text-align: center;*/
}

#div-inv-surgery-info-SalesRep-list ul li div,
#div-inv-surgery-info-Account-list ul li div {
    display: inline-block;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-text,
#div-inv-surgery-info-Account-list .div-dropdown-text {
    /*padding: 10px!important;*/
    margin-left: 20px;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-list ul {
    width: 100%;
    margin: 0px!important;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-list,
#div-inv-surgery-info-Account-list .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 450px;
    z-index: 1;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-list li,
#div-inv-surgery-info-Account-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 310px;
}

#div-inv-surgery-info-SalesRep-list .div-arrow-dropdown,
#div-inv-surgery-info-Account-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-list ul,
#div-inv-surgery-info-Account-list .div-dropdown-list ul {
    width: 100%;
    margin: 0px!important;
}

#div-inv-surgery-info-SalesRep-list .div-dropdown-list ul li,
#div-inv-surgery-info-Account-list .div-dropdown-list ul li {
    width: 93%;
    /*height: 20px;*/
    /*padding: 10px 0px;*/
    border: 1px solid #999;
}

#div-inv-surgery-info-Account-list .div-dropdown-text {
    width: 400px;
    height: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-detail {
    width: 100%;
    background-color: white;
    margin: 15px 0 0 0;
}

.li-inv-detail-label {
    color: #036;
    width: 100%;
    background-color: white!;
    height: 28px;
    margin: auto;
    margin-top: 25px;
}

.div-inv-detail-label {
    background-color: #999;
    border-radius: 3px 3px 0 0;
    color: white;
    display: inline;
    height: 80%;
    margin-right: 5px;
    padding: 0.5em;
    text-align: center;
    /*text-transform: uppercase;*/
}

.ul-inv-detail-info {
    clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: auto;
    height: 468px;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.li-inv-detail-label .selected-tab {
    background-color: #ccc;
    color: #000;
}

#div-inv-surgery-info-FieldSales-list .div-dropdown-text,
#div-inv-surgery-info-SalesRep-list .div-dropdown-text,
#div-inv-surgery-info-Account-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}


/*#div-inv-surgery-info-FieldSales-list, #div-inv-surgery-info-SalesRep-list, #div-inv-surgery-info-Account-list {
	border-radius: 3px;
	width: 290px;
	background-color: #ddd;
}*/

.li-inv-surgery-label div {
    display: inline-block;
    vertical-align: middle;
}

#div-inv-surgery-info-FieldSales-list {
    width: 55%;
}

#li-inv-surgery-fieldsales-label {
    margin: 10px 0 15px 0;
}

.div-inv-detail-surgery-info li {
    display: inline-block;
    width: 98%;
    padding: 40px 0px 3px 20px;
}


/*.div-inv-surgery-info-label{
	width: 45%;
}*/

.li-inv-surgery-label input {
    width: 148px;
}

.li-inv-surgery-label input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

#label-inv-surgery-info-surgery-date,
#label-inv-surgery-info-plandship-date {
    display: inline-block;
    padding: 0.50em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 100px;
    height: 17px;
    vertical-align: middle;
    border-radius: 3px;
}

.li-inv-surgery-label #div-inv-surgery-info-additional textarea {
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 1px #030303;
    background-color: #ddd;
    border-radius: 3px;
    height: 100px;
    width: 387px;
    margin: 0 8px 0 0;
    resize: none;
    font-size: 15px;
}

.div-inv-surgery-info-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 164px;
    margin-right: 5px;
}

#div-inv-request-type-dropdown {
    border-radius: 3px;
    width: 200px;
    background-color: #ddd;
}

#div-inv-surgery-info-FieldSales-list input,
#div-inv-surgery-info-Account-list input {
    width: 200%;
}

#div-inv-request-type-dropdown .div-dropdown-main {
    width: 200px;
}

#div-inv-request-type-dropdown .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 198px;
    z-index: 1;
}

#div-inv-request-type-dropdown .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 170px;
}

#div-inv-request-type-detail div {
    vertical-align: middle;
    display: inline-block;
}

#div-inv-surgery-info-FieldSales-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-surgery-info-FieldSales-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-inv-surgery-info-FieldSales-list #ul-search-resultlist li i {
    display: none;
}

#div-inv-report-show-ai {
    font-size: 0.9em;
}


/*Request Details*/

#div-inv-request-type-dropdown .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

input[type=checkbox] {
    transform: scale(2.1);
    -webkit-transform: scale(2.1);
}

#div-inv-surgery-additional-info {
    vertical-align: top;
}

#div-inv-surgery-info-additional input {
    height: 87px;
    width: 310px;
}

#div-inv-surgery-info-FieldSales-list #ul-search-resultlist,
{
    overflow: auto;
    max-height: 300px;
}

#div-inv-surgery-info-surgerytype-list,
#div-inv-surgery-info-surgerylevel-list {
    border-radius: 3px;
    width: 150px;
    background-color: #ddd;
}

#div-inv-surgery-info-surgerytype-list .div-arrow-dropdown,
#div-inv-surgery-info-surgerylevel-list .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-main,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-main {
    width: 100%;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-text,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
}

.li-inv-surgery-label div {
    display: inline-block
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-main,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-main {
    width: 200px;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-list li,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 170px;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-list,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 150px;
    margin-top: -2px;
    height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-list ul,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-list ul {
    width: 100%;
    margin: 0px!important;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-list ul li,
#div-inv-surgery-info-surgerylevel-list ul li {
    width: 99%;
    height: 16px;
    padding: 10px 0px;
    border: 1px solid #999;
}

#div-inv-surgery-info-surgerytype-list .div-dropdown-list ul li a,
#div-inv-surgery-info-surgerylevel-list .div-dropdown-list ul li a {
    margin-left: 10px;
}

.ul-inv-surgery-info #div-common-search-x {
    right: -188px!important;
}

.li-parts-planship-date div,
.li-parts-planship-date input {
    display: inline-block;
}

.li-sets-planship-date div,
.li-sets-planship-date input {
    display: inline-block;
}

.li-parts-planship-date {
    width: 32%;
    text-align: center;
}

.li-sets-planship-date {
    width: 26%;
    text-align: center;
}

.label-inv-sets-used-shipdt {
    width: 85px;
    height: 17px;
    vertical-align: middle;
}

.label-inv-parts-used-shipdt {
    width: 85px;
    height: 17px;
    vertical-align: middle;
}

.li-inv-parts-icon {
    font-size: 25px;
    background-color: #ddd;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.2em 0.1em;
    width: 3%;
}

.label-inv-sets-used-shipdt,
.label-inv-parts-used-shipdt {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

.label-inv-sets-used-shipdt input {
    width: 100px;
}

.label-inv-parts-used-shipdt input {
    width: 100px;
}

.div-inv-detail-surgery-info #div-inv-surgery-info-FieldSales-list li {
    padding: 0!important;
}

#div-inv-sets-used {
    margin-top: 20px;
    height: 565px;
}

.div-inv-sets-search-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

#div-inv-sets-used-txtkeyword {
    display: inline-block;
    height: 30px;
    margin: auto;
    width: 70%;
}

#div-inv-sets-used-txtkeyword input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    /*margin-top: 30px;*/
    -webkit-appearance: none;
    width: 100%;
}

#div-inv-sets-used-txtkeyword #ul-search-resultlist li i,
#div-inv-parts-used-txtkeyword #ul-search-resultlist li i {
    display: none;
}

#div-inv-sets-used-txtkeyword .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-inv-sets-used-txtkeyword #div-search-result-multiple {
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}


/*#div-do-parts-used-txtkeyword #div-common-search-x {
	display: none!important;
}*/

#div-inv-sets-list {
    width: 100%;
    margin-top: 5px;
    display: none;
    overflow-y: scroll;
}

.added-item {
    width: 250px;
    display: inline-block;
    padding-top: 15px;
}

#div-select-all {
    width: 80%;
    height: 20px;
    margin-top: -22px;
    margin-right: 10px;
    background-color: grey;
    text-align: center;
    padding: 6px;
    color: white;
}

.div-inv-sets-list-footer {
    background-color: #444;
    color: #fff;
    padding: 0.5em 0.5em 0.5em 0;
    text-align: right;
    display: none;
}

.ul-inv-sets-list-header {
    background-color: #ccc;
    color: #000;
    padding: 0.5em 0;
    margin-top: 20px;
    display: none;
    width: 100%;
}

.li-inv-header-title {
    /*font-weight: bold;*/
    display: inline-block;
    text-align: center;
}

#li-inv-header-setid {
    width: 22%;
    text-align: center;
}

#li-inv-header-setnm {
    width: 60%;
    text-align: center;
}

#li-inv-header-reqqty {
    width: 12%;
}

#li-inv-header-shipdt {
    width: 35%;
}

.fa-minus-circle,
.fa-plus-circle {
    font-size: 1.6em;
    margin-left: 6px;
    margin-top: 6px;
}

.li-inv-sets-used-icon {
    width: 4%;
}

.fa-minus-circle {
    color: #B20000;
}

.fa-plus-circle {
    color: #005C00;
}

#div-inv-sets-list li {
    display: inline-block;
}

.li-inv-setid-used-list {
    width: 10%;
    padding: 0.75em 0.25em;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
}

.li-inv-setnm-used-list {
    /*width: 60%;*/
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0.25em;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
}

#div-inv-qty-box {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 0.5em 0.25em;
    width: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.repl-checkbox {
    background-color: #444;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: "Trebuchet MS";
    /*margin-top: 13px;*/
}

.reqdt-date {
    height: 30px;
}

.li-type-dropdown {
    /*background-color: green;*/
    width: 8%;
}

.li-inv-qty-textbox {
    width: 17%;
}

.li-reqdt-date {
    width: 20%;
    text-align: center;
}

.li-rep-checkbox {
    /*background-color: blue;*/
    text-align: center;
}

.li-inv-qty-textbox {
    padding: 0.25em 0;
    text-align: center;
    vertical-align: top;
}

.ul-sets-used-list {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    /*padding:5px 0;*/
}

#li-inv-header-qty {
    width: 10%;
}

#li-inv-header-reqdt {
    width: 35%;
}

#li-inv-header-ra {
    width: 10%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .li-inv-sets-used-icon {
        width: 8%!important;
    }
    .li-inv-qty-textbox,
    .li-rep-checkbox,
    #li-inv-header-qty,
    #li-header-replenished {
        width: 7%!important;
    }
    #li-header-type,
    .li-type-dropdown {
        width: 10%!important;
    }
    #li-header-sets {
        width: 30%!important;
    }
    .li-inv-setid-used-list {
        width: 20%!important;
    }
    #div-inv-sets-list {
        height: 99.3%!important;
    }
}


/*number keypad*/

#div-inv-main-content #div-show-num-keypad {
    top: 200px;
    left: 400px;
    position: absolute;
    z-index: 1;
}

#div-inv-main-content #div-num-keypad {
    background-color: #ccc;
    border-radius: 3px;
    width: 224px;
    height: 300px;
    margin: auto;
}

#div-inv-main-content #div-qty-entry-text {
    font-size: 1em;
    height: 30px;
    width: 92.5%;
    margin: auto;
    background-color: #fff;
    padding: 0.75em 0.5em 0 0.5em;
    text-align: right;
}

#div-inv-main-content #div-keys-panel {
    padding-top: 10px;
    margin: auto;
    width: 95%;
}

#div-inv-main-content #div-keypad-title {
    border-radius: 3px 3px 0 0;
    color: #fff;
    width: 100%;
    padding: 0.75em 0;
    background-color: #960;
    text-align: center;
}

#div-inv-main-content #div-num-decimal {
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 2px 0;
    padding: 1em 1.325em;
    background-color: #444;
    text-align: center;
}

#div-inv-main-content .div-keys {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    margin: 2px 0;
    padding: 1em 1.2em;
    background-color: #444;
    text-align: center;
}

#div-inv-main-content .div-num-symbol {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 0.97em 0.90em;
    margin: 2px 0 2px -1px;
    background-color: #444;
    text-align: center;
}

.div-num-symbol {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 0.97em 0.90em;
    margin: 2px 0 2px -1px;
    background-color: #444;
    text-align: center;
}

#div-inv-main-content .div-keys-row {
    padding-left: 2px;
}

#div-inv-main-content #overlay-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
}

#div-inv-main-content #div-num-two,
#div-inv-main-content #div-num-three {
    display: inline-block;
}

#div-inv-main-content #div-btn-done {
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 1em 0;
    width: 100%;
    background-color: #444;
    text-align: center;
}

#div-inv-main-content #div-keypad-close {
    border-radius: 50%;
    float: right;
    padding: 0.5em 0.35em 0.5em 0.35em;
    width: 30px;
    margin-top: -40px;
}

#div-inv-main-content #div-keypad-close div {
    float: right;
    background-color: #444;
    border-radius: 50%;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    font-family: "Arial";
    padding: 0.2em 0.2em 0.3em 0.2em;
    text-align: center;
    width: 18px;
    margin-right: 3px;
}

.fa-long-arrow-left {
    float: right;
    padding: 6px;
    text-align: center;
    border: 1px solid white;
    background-color: grey;
    margin-top: -30px;
}

#div-inv-main-content .li-span-type {
    background-color: #ddd;
    border: 1px solid #ccc;
    padding: 0.5em 0.75em;
    text-align: center;
    display: inline-block;
}

#div-inv-main-content #lbl-consignment {
    border-radius: 3px 0 0 3px;
}

#div-inv-main-content #lbl-loaner {
    border-radius: 0 3px 3px 0;
}

.input-checked {
    background-color: #444;
    border: 1px solid #444;
    color: #eee!important;
}


/* Search View */

.li-inv-parts-used-id {
    width: 60%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0.25em;
    white-space: nowrap;
    vertical-align: top;
}

#div-common-search-x {
    position: absolute;
    top: 5%;
    right: -18px;
    padding: 5px;
    width: 18px;
    background: #ccc;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}

#div-common-search-x.hide {
    display: none;
}

#div-keyword-search {
    /*    position: relative;*/
}

#div-inv-sets-used-txtkeyword #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-inv-sets-used-txtkeyword #ul-search-resultlist {
    overflow: auto;
    max-height: 300px;
}


/*Shipping Details*/


/*#ul-inv-detail-sets-used, #{
	height: 700px !important;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
	-webkit-overflow-scrolling: touch;
}*/

#div-inv-shiptoinfo-sets-list {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#div-inv-shiptoinfo-sets-list ul {
    padding: 5px 0px;
    width: 100%;
    display: inline-block;
}

#div-inv-shiptoinfo-sets-list li {
    display: inline-block;
    vertical-align: middle;
}

.ul-inv-shiptoinfo-list-header {
    background-color: #ccc;
    color: #000;
    padding: 0.5em 0;
    width: 100%;
}

#ul-inv-shiptoinfo-header-title .li-inv-shiptoinfo-address-indicator {
    visibility: hidden;
}

.li-inv-shiptoinfo-address-indicator {
    padding: 0px 5px;
    font-size: large;
    font-weight: bolder;
    width: 10px;
}

.li-shiptoinfoheader-title {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.li-inv-shiptoinfo-checkbox,
.li-inv-shiptoinfo-checkbox-header {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    background-color: #ccc;
    vertical-align: middle;
}

.li-inv-shiptoinfo-checkbox-header,
.li-inv-shiptoinfo-checkbox {
    font-size: x-large;
    color: #000;
    display: inline-block;
    width: 2%;
}

#div-inv-detail #btn-address {
    margin-top: 2px!important;
}


/*Summary*/

#div-inv-view-summary-main {
    width: 96%;
    height: 83%;
    top: 10.5%;
}

.ul-inv-view-summary-info {
    min-height: 80px;
}

.li-inv-view-summary-label {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.div-inv-view-summary-label {
    display: inline-block;
    width: 48%;
    margin-left: 12px;
    margin-top: 2px;
}

.div-inv-view-summary-label div {
    display: inline-block;
}

.div-inv-view-summary-label-header,
.div-inv-view-summary {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 125px;
    margin-right: 5px;
}

#div-summary-main {
    height: 95%;
    width: 983px;
}

#div-inv-view-summary-set-main {
    height: 98%;
    border: 1px solid #444;
    border-radius: 3px;
    margin: 8px 0px 0px 3px;
}

#div-inv-view-summary-set-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 89%;
    -webkit-overflow-scrolling: touch;
}

#div-inv-view-summary-set-header {
    background-color: #777;
    width: 100%;
    height: 40px;
}

#div-inv-view-summary-set-header #div-inv-view-summary-set-id-header {
    width: 45%;
}

#div-inv-view-summary-set-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 13.5%;
    text-align: center;
}

#div-inv-view-summary-set-content {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 89%;
    -webkit-overflow-scrolling: touch;
}

#div-inv-view-summary-set-list {
    height: 100% !important;
    display: inline-block;
    width: 99.8%;
}

.div-view-summary-set-list {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
}

.div-view-summary-set-list .div-viewsummary-set-nm {
    width: 49%;
}

.div-view-summary-set-list .div-viewsummary-set-qty {
    width: 10%;
}

.div-view-summary-set-list .div-viewsummary-req-date {
    width: 30%;
}

.div-view-summary-set-list .div-viewsummary-set-nm,
.div-view-summary-set-list .div-viewsummary-set-qty,
.div-view-summary-set-list .div-viewsummary-req-date {
    overflow-x: scroll;
    overflow-y: hidden;
    display: inline-block;
    padding: 0.75em 0em;
    white-space: nowrap;
    vertical-align: top;
    text-align: left;
    margin-left: 10px;
}


/*Report*/

#div-inv-request-main-header .fa {
    font-size: 2em;
}

#div-inv-report-main ul li,
#div-inv-report-main ul li div {
    display: inline-block;
}

#li-inv-report-from-date,
#li-inv-report-to-date,
#li-inv-report-account {
    width: 35%;
}

#div-inv-report-account {
    width: 146px;
    text-align: right;
}

#label-inv-report-from-date,
#label-inv-report-to-date {
    display: inline-block;
    padding: 0.50em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 170px;
    height: 17px;
    vertical-align: middle;
}

#div-inv-report-main input {
    padding: 0.4em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 186px;
    display: inline-block;
    height: 20px;
    box-shadow: 0px 0px 3px #030303;
    -webkit-appearance: none;
    margin-right: 10px;
}

#div-inv-report-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

#div-inv-report-main ul {
    display: block;
    width: 100%;
    margin: 18px;
}

#ul-inv-report-field-header {
    width: 100%!important;
    margin: 20px 0px 0px 0px!important;
}

#div-inv-report-field-content,
#div-inv-sub-report-field-content {
    border: 1px solid #999;
    /*box-shadow: 0 0 5px #999;*/
}

#div-do-report-do-id,
#div-do-report-account {
    width: 60px;
}

#div-keyword-search {
    /*    position: relative;*/
}

#div-inv-report-main ul li div {
    display: inline-block;
}


/*Approvals*/

#div-inv-report-main ul li,
#div-inv-request-main ul li div {
    display: inline-block;
}


/*#li-inv-request-from-date, #li-inv-request-to-date, #li-inv-request-account {
	width: 35%;
}*/

#div-inv-request-from-date,
#div-inv-request-to-date {
    width: 50px;
    text-align: right;
}

#div-inv-request-account {
    width: 146px;
    text-align: right;
}

#div-inv-request-main ul li,
#div-inv-request-main ul li div {
    display: inline-block;
}

#label-inv-request-from-date,
#label-inv-request-to-date {
    display: inline-block;
    padding: 6px 3px 2px 4px;
    background-color: #FFF;
    font-family: "Trebuchet MS";
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 117px;
    height: 24px;
    vertical-align: middle;
    text-align: center;
    /* float: left; */
    margin: 3px 4px 2px 0px;
    text-align: left;
}

#div-inv-request-main input {
    padding: 0.4em 0.6em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background: #FFF;
    width: 190px;
    display: inline-block;
    height: 29px;
    box-shadow: 0px 0px 3px #030303;
    -webkit-appearance: none;
}

#li-inv-aprrove-shipdt-label {
    width: 13%;
}

#div-inv-request-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-left: 30px;
}

#div-inv-request-main ul {
    display: block;
    width: 100%;
    margin: 5px;
}

.li-inv-req-label-header-bottom {
    margin-bottom: 5px;
}

.li-inv-approve-date-label-header div {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
}

.li-inv-approve-date-label-header {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 236px;
    vertical-align: middle;
    height: 46px;
}

#li-inv-request-inv-id input {
    border-radius: 0 3px 3px 0;
    width: 194px;
}

#ul-inv-approve-shipdt-label {
    height: 41px;
    padding: 3px 1px 2px 0px;
}

#li-inv-request-inv-id {
    height: 45px;
    padding: 0px 1px 2px 0px;
    width: 38.3%!important;
}

#div-inv-req-approval-fs-dropdown .div-dropdown-main {
    background-color: #ddd;
    width: 332px;
    height: 44px;
    display: inline-block;
    padding-left: 5px;
    border: 1px solid #ccc;
    font-size: medium;
    margin-bottom: 0px;
    vertical-align: middle;
    border-radius: 0 3px 3px 0;
}

#div-inv-request-main .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-inv-request-main .div-dropdown-text {
    float: left;
    margin: 11px 5px 0 20px;
    text-align: left;
}

#div-inv-request-main .div-dropdown-list {
    position: absolute;
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

#div-inv-req-approval-fs-dropdown .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 339px;
    font-weight: normal;
    font-size: medium;
    display: none;
    background-color: rgb(221, 221, 221);
    -webkit-overflow-scrolling: touch;
}

#div-inv-request-main .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 11px 0 13px 30px;
    text-align: left;
}

#div-inv-req-approval-fs-dropdown .div-dropdown-list li {
    width: 91%!important;
}

#div-inv-request-main .div-dropdown-list ul {
    margin: 0px!important;
}

#div-inv-request-req-id,
#li-inv-aprrove-shipdt-label,
#div-inv-req-approval-fs {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 0.95em;
    vertical-align: middle;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
    z-index: 1;
}


/*#div-inv-request-req-id {
	display: inline-block;
	padding: 0.50em 0.5em;
	background-color: #444;
	font-family: "Trebuchet MS";
	color: white;
	border: none;
	font-weight: bold;
	border-radius: 3px;
	box-shadow: 0px 0px 1px #030303;
	font-size: 1em;
	-webkit-appearance: none;
	width: 166px;
	text-align: center;
	height: 17px;
	vertical-align: middle;
}*/

#div-do-request-do-id,
#div-do-request-account {
    width: 60px;
}

#div-keyword-search {
    /*	position: relative;*/
}

#div-inv-sets-used-txtkeyword #ul-search-resultlist li .selected-item i,
#div-inv-parts-used-txtkeyword #ul-search-resultlist li .selected-item i {
    display: inline-block;
}

{
    display: inline-block;
}


/*Set Part Details*/

#div-inv-setpart-details {
    display: inline-block;
    width: 85%;
    margin: auto;
    height: 388px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
}

#div-inv-setpart-summary-main {
    display: none;
    position: fixed;
    width: 96%;
    height: 83%;
    background-color: #eee;
    top: 10.5%;
    border: 1px solid #444;
    border-radius: 3px;
}

#div-inv-setpart-summary-list-content-loader {
    display: none;
}

#div-inv-setpart-details-header {
    width: 100%;
    height: 40px;
    background: #444;
}

#div-inv-setpart-details-header div {
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 48%;
}

#div-inv-setpart-details-close {
    text-align: right;
}

#div-inv-setpart-details-close-icon {
    width: 20px!important;
    text-align: center;
    margin-right: -10px;
    background: #fff;
    color: #444!important;
    border-radius: 50%;
    font-size: larger;
}

#div-inv-setpart-details-footer {
    width: 100%;
    height: 40px;
    background-color: #444;
}

#div-inv-setpart-details-footer div {
    display: inline-block;
    padding: 12px 0px;
    width: 70%;
    text-align: right;
    color: #fff;
}

#div-inv-setpart-details-footer-value {
    width: 29%!important;
}

.ul-do-view-details-info {
    height: 200px;
}

#div-inv-setpart-details-part-main {
    width: 99%;
    height: 310px;
    /* padding: 5px; */
    border: 1px solid #444;
    border-radius: 3px;
    margin: 8px 0px 0px 3px;
}

#div-inv-setpart-details-part-header {
    background-color: #777;
    width: 100%;
    height: 40px;
}

#div-inv-setpart-details-part-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 13.5%;
    text-align: center;
}

#div-inv-setpart-details-header #div-inv-setpart-details-part-desc-header {
    width: 55%!important;
    text-align: center;
}

.div-inv-setpart-parts-list .div-inv-setpart-part-nm {
    width: 80%!important;
}

#div-inv-setpart-details-header #div-inv-setpart-details-part-id-header,
.div-inv-setpart-parts-list .div-inv-setpart-part-id {
    width: 80%!important;
    text-align: center;
}

#div-inv-setpart-details-header #div-inv-setpart-details-part-qty-header,
.div-inv-setpart-parts-list .div-inv-setpart-part-qty {
    width: 5%!important;
}

#div-inv-setpart-details-part-list #div-do-parts-list {
    height: 115px!important;
}

#div-inv-setpart-details-part-list {
    display: inline-block!important;
    width: 100%;
}

.div-view-details-parts-list {
    width: 100%!important;
    background: #fff;
    border: 1px solid #ccc;
}

.div-view-details-parts-list div {
    display: inline-block!important;
    /*padding: 0.40em 0;*/
    width: 14%;
    /*height: 27px;*/
    text-align: center;
    vertical-align: middle;
}

.div-view-details-parts-list .div-viewsummary-part-nm {
    width: 45%!important;
}

#div-inv-setpart-details-part-list #div-saleitemlist li {
    display: block!important;
}

#div-inv-setpart-details-part-list #div-saleitemlist {
    max-height: 267px!important;
}

.div-inv-setpart-parts-list .div-viewsummary-part-nm {
    width: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0em;
    white-space: nowrap;
    vertical-align: top;
    text-align: left!important;
    margin-left: 10px;
}

#div-inv-setpart-details #div-summary-main {
    height: 320px;
    width: 823px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #ddd;
    -webkit-overflow-scrolling: touch;
}

#div-parts-not-available {
    text-align: center;
    padding-top: 100px;
}

#div-inv-setpart-details {
    display: none;
    position: absolute;
    top: 210px;
    left: 50px;
    z-index: 2;
}

#div-inv-setpart-details-part-content {
    background-color: #ddd;
    height: 268px;
}

.div-inv-setpart-parts-list div {
    display: inline-block!important;
    padding: 0.40em 0;
    height: 16px;
    text-align: center;
}

.div-inv-setpart-parts-list {
    width: 99%!important;
    background: #fff;
    border: 1px solid #ccc;
}

.div-inv-setpart-parts-list .div-inv-setpart-part-nm {
    width: 40%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0em;
    white-space: nowrap;
    vertical-align: top;
    text-align: left!important;
    margin-left: 10px;
}

.li-inv-sets-used-icon .fa-paypal {
    font-size: 1.3em;
    margin-left: 5px;
}


/*PartsUsed*/

#div-inv-parts-used-txtkeyword #ul-search-resultlist {
    overflow: auto;
    max-height: 300px;
}

#div-inv-parts-used-txtkeyword .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#div-inv-parts-used-txtkeyword #div-search-result-multiple {
    /* position: absolute; */
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-inv-part-used {
    margin-top: 20px;
    height: 565px;
}

.div-inv-part-search-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 120px;
    margin-right: 5px;
}

#div-inv-parts-used-txtkeyword {
    display: inline-block;
    height: 30px;
    margin: auto;
    width: 70%;
}

#div-inv-parts-used-txtkeyword input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    /* margin-top: 30px; */
    -webkit-appearance: none;
    width: 100%;
}

#div-inv-parts-used-txtkeyword #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

.ul-inv-parts-list-header {
    background-color: #ccc;
    color: #000;
    padding: 0.5em 0;
    margin-top: 20px;
    /*display: none;*/
    width: 100%;
}

#li-inv-header-parts-id {
    width: 20%;
    text-align: center;
}

#li-inv-header-parts {
    width: 67%;
    text-align: center;
}

.li-inv-header-title {
    /* font-weight: bold; */
    display: inline-block;
    text-align: center;
}

.ul-inv-parts-used-list {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
    /* padding: 5px 0; */
}

#div-inv-parts-list {
    height: 64%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-parts-list li {
    display: inline-block;
}

.li-inv-parts-used-list {
    width: 37.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0.25em;
    white-space: nowrap;
    vertical-align: top;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .ul-inv-parts-used-list .li-inv-ra-checkbox {
        margin-left: 5% !important;
    }
}


/*request info*/

.div-inv-reqlist-caseid {
    width: 180px;
}

.div-inv-reqinfo-caseid-header {
    width: 210px;
}

.div-inv-reqinfo-reqid-header,
.div-inv-reqlist-reqid {
    width: 80px;
}

.div-inv-reqinfo-reqdtid-header,
.div-inv-reqlist-reqdtid {
    width: 80px;
}

.div-inv-reqinfo-fs-header,
.div-inv-reqlist-fs {
    width: 120px;
}

.div-inv-reqinfo-pnum-header,
.div-inv-reqlist-part {
    width: 80px;
}

.div-inv-reqinfo-reqqty-header,
.div-inv-reqlist-reqqty {
    width: 60px;
}

.div-inv-reqinfo-appqty-header,
.div-inv-reqlist-appqty {
    width: 50px;
}

.div-inv-reqinfo-status-header,
.div-inv-reqlist-status {
    width: 130px;
}

.div-inv-reqinfo-reqby-header,
.div-inv-reqlist-reqby {
    width: 130px;
}

.div-inv-reqinfo-reqdt-header,
.div-inv-reqlist-reqdt,
.div-inv-reqlist-raflag {
    width: 80px;
}

.div-inv-reqlist-appqty #div-inv-qty-box {
    background-color: #FFF;
}

#div-inv-request-approve {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

#li-inv-btn-request-ctrl {
    margin-top: 10px!important;
    text-align: center;
}

#div-inv-request-reject {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

#div-request-fromdt-x {
    position: absolute;
    top: 18.6%;
    left: 333px;
    padding: 7px;
    width: 18px;
    background: #ccc!important;
    color: black!important;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

#div-request-todt-x {
    position: absolute;
    top: 18.6%;
    left: 573px;
    padding: 7px;
    width: 18px;
    background: #ccc!important;
    color: black!important;
    border-radius: 50%;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.div-req-checkbox {
    /*background-color: red;*/
    width: 5%;
}

#div-reject-txn-detail {
    width: 37.5%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.75em 0.25em;
    white-space: nowrap;
    vertical-align: top;
}

.div-req-checkbox {
    text-align: center;
}

.div-inv-requestinfo-req-list-item .req-checkbox {
    width: 5%!important;
    height: 15px!important;
    margin-right: 0px!important;
    margin-top: 10px!important;
}

#txt-search-requsetinfo-req {
    border: none;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid grey;
    background-color: #E8E8E8;
    width: 70%!important;
}

#div-inv-requestinfo-req-search-area {
    margin-left: 120px;
}

.div-inv-requestinfo-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    text-align: center;
}

.div-inv-requestinfo-header {
    background-color: #444;
    width: 100%;
    height: 40px;
}

#div-inv-requestinfo-content {
    margin: 5px -3px 4px 0px;
    height: 421px;
}

#div-inv-request-main-header {
    clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: auto;
}

#div-inv-requestinfo-req-list {
    display: block;
}

#div-inv-requestinfo-req-list #div-saleitemlist {
    max-height: 421px;
    display: inline-block;
    width: 100%;
}

.div-inv-requestinfo-req-list-item div {
    display: inline-block;
    padding: 0.2em 0em;
    text-align: center;
    vertical-align: middle;
}

#div-inv-requestinfo-req-list .div-box {
    border: solid rgb(253, 248, 248);
    border-width: thin;
    background-color: #ddd;
    border: 1px solid #444;
    float: left;
    height: 10px;
    margin-top: 2px;
    padding-bottom: 5px;
    width: 15px;
}

.li-inv-approve-date-label-header div label input {
    vertical-align: middle;
}

#ul-inv-approve-reqid-label {
    margin-top: 15px!important;
}

.div-inv-requestinfo-reqid .fa-minus-circle {
    margin-left: 0px;
    font-size: 2.2em;
}

.div-inv-requestinfo-req-list-item {
    background: #DDD;
    border: 1px solid #FFF;
    /*background: #fff;
      border: 1px solid #ccc;*/
    width: 101%;
    min-height: 65px;
}

.div-inv-requestinfo-pdf {
    float: right;
    margin: 1%;
}

#div-inv-requestinfo-req-list #div-saleitemlist li {
    /*width: 99%;*/
}

.div-inv-reqlist-status .fa-exclamation {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #B20000;
}

.div-list-item-DRAFT .fa-exclamation {
    display: none;
}

.div-inv-page-loader {
    text-align: center;
    width: 100%;
    position: relative;
    height: 300px;
    width: 98%;
    position: absolute;
    top: 35%;
    text-align: center;
    line-height: 1.5;
    font-size: larger;
}

#div-inv-request-main-header {
    margin-top: -33px;
}

#div-inv-nointernet-connection {
    height: 300px;
    display: none;
    width: 97%;
    position: absolute;
    top: 35%;
    text-align: center;
    line-height: 1.5;
    font-size: larger;
}

#div-inv-requestinfo-req-list .li-drilldown-detail div {
    vertical-align: middle!important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-inv-requestinfo-doid {
        width: 140px;
    }
    .div-inv-requestinfo-account {
        width: 120px;
    }
    .div-inv-requestinfo-orddate {
        width: 90px;
    }
    .div-inv-requestinfo-total {
        width: 110px;
    }
    .div-inv-requestinfo-status {
        width: 100px;
    }
    .div-inv-requestinfo-custpo {
        width: 70px;
    }
    .div-inv-requestinfo-pdf {
        float: right;
        margin: 15px 3px;
    }
    #btn-inv-requestinfo-doid {
        width: 100px;
    }
    #div-do-report-main .fa {
        font-size: 1.5em!important;
    }
    #li-inv-request-fs {
        margin: 14px 6px 3px 1px!important;
    }
}


/*AD Approval*/

.div-req-drilldown-header-label {
    color: #fff;
    width: 125px;
    margin-right: 3px;
    text-align: right;
}

.div-req-drilldown-header-value {
    color: #000;
    margin-left: 3px;
    width: 260px;
}

#div-inv-requestinfo-req-list .div-drilldown-header-arrow {
    width: 5%!important;
}

.div-req-drilldown-list-label {
    color: #444;
    width: 125px;
    margin-right: 3px;
    text-align: right;
}

.div-req-drilldown-list-value {
    color: #000;
    margin-left: 3px;
    width: 260px;
}

#div-inv-reqlist-aprqty {
    margin-top: -6px;
}

#div-inv-requestinfo-req-list .ul-drilldown-details li,
#div-inv-requestinfo-req-list .ul-drilldown-list li {
    min-height: 15px!important;
}

.btn-inv-approve-big {
    float: left;
    height: 65px;
    width: 50px;
    margin: 3px 0;
    display: inline-block;
}

.btn-inv-adapp {
    margin: 30px 0 0 10px;
    color: #444;
    display: inline-block;
}


/*#div-inv-reject-area {
	border: 1px solid #999;
	box-shadow: 0 0 5px #999;
	margin: 17px 2px 3px 1px;
	height: 286px;
}*/

#div-inv-reject-area-main {
    display: inline-block;
    width: 500px;
    margin: auto;
    height: 424px;
    border: 1px solid #000;
    box-shadow: 0 0 5px #000;
    position: absolute;
    top: 214px;
    left: 200px;
    z-index: 2;
}

#div-reject-comments {
    width: 50%!important;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: auto;
    margin-top: 10px;
}

#div-reject-comm-title {
    border-radius: 3px 3px 0 0;
    width: 100%!important;
    text-align: center!important;
    padding: 0.5em 0;
    background-color: #036;
    color: #fff;
}

#txtarea-reject-comments {
    border: 0px;
    border-radius: 3px;
    display: block;
    width: 97%;
    height: 90px;
    margin: auto;
    resize: none;
    font-size: 1em;
}

#ul-inv-reject-header {
    text-align: center;
    background-color: #036;
    color: #fff;
}

#ul-inv-reject-content {
    width: 100%;
    height: 374px;
    background-color: #ddd;
}

#ul-inv-reject-content li {
    width: 100%;
    display: inline-block;
    padding: 15px 0;
}

#ul-inv-reject-content li div {
    display: inline-block;
    width: 35%;
    text-align: right;
    vertical-align: middle;
}

#ul-inv-reject-header li {
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    font-size: 20px;
}

#span-inv-reject-header-x {
    display: inline-block;
    background-color: #999;
    border-radius: 50%;
    color: white;
    font-family: "Arial";
    padding: 0.078em 0.1em 0.25em 0.1em;
    text-align: center;
    width: 25px;
}

#li-inv-reject-bottons div {
    background-color: #00366e;
    width: 75px!important;
    margin: 0 5px;
    display: inline-block;
    padding: 0.7em;
    color: white;
    text-align: center!important;
}

#span-inv-reject-header-title {
    width: 90%;
    display: inline-block;
}

#li-inv-reject-bottons {
    text-align: center;
    margin-left: 42px;
}

#div-reject-reason-drp {
    border-radius: 3px;
    width: 40%!important;
    background-color: #999;
}

#div-reject-reason-drp .div-dropdown-main {
    width: 200px;
}

#div-reject-reason-drp div {
    display: inline-block;
}

#div-reject-reason-drp .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-reject-reason-drp .div-dropdown-text {
    font-weight: normal;
    float: left;
    margin: -23px 0 0 25px;
    text-align: left;
}

#div-reject-reason-drp .div-dropdown-text,
#div-reject-reason-drp .div-dropdown-list li {
    width: 226px;
    text-align: left!important;
}

#div-reject-reason-drp .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    width: 198px;
    z-index: 1;
}

#div-reject-reason-drp .div-dropdown-list ul li {
    width: 99%;
    height: 16px;
    padding: 10px 0px;
    border: 1px solid #999;
}

#div-reject-reason-drp .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 170px;
}

#div-reject-reason-drp .div-dropdown-main {
    color: #fff;
    width: 200px;
    height: 35px;
    display: inline-block;
}

#div-reject-reason-drp .div-dropdown-list ul li a {
    margin-left: 10px;
}

#div-reject-txn-detail {
    text-align: left!important;
    border-radius: 3px;
    background-color: #999;
    height: 12px;
    padding: 13px 0px 13px 2px;
    color: #fff;
    width: 200px;
    width: 39%!important;
    display: inline-block;
}

#div-inv-reject-area-main {
    display: none;
}


/*Inventory Report*/

#div-report-type-dropdown .div-dropdown-text {
    margin: -23px 15px -8px 18px;
}

.td-index-0 span {
    background: #000;
    color: #fff;
    padding: 3% 5%;
}

#div-report-type-dropdown .div-dropdown-list ul li {
    width: 99%;
    height: 16px;
    padding: 10px 0px;
    border: 1px solid #999;
}

#div-report-type-dropdown .div-dropdown-list ul li a {
    margin-left: 10px;
}

#div-report-type-dropdown .div-dropdown-main {
    background-color: #ddd;
    width: 200px;
    height: 35px;
    display: inline-block;
    padding-left: 5px;
    border: 1px solid #ccc;
    font-size: medium;
    /*text-align: center;*/
}

#div-report-type-dropdown .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 207px;
    font-weight: normal;
    font-size: medium;
    /*text-align: center;*/
    display: none;
    background-color: rgb(221, 221, 221);
}

#div-report-type-dropdown {
    margin-top: -72px;
    margin-left: 94px;
}

#div-report-type-dropdown ul {
    margin: 0px!important;
}

#div-inv-report-common-header ui li {
    display: inline-block;
}

#li-inv-report-type,
#li-inv-report-period {
    width: 35%;
}

#li-inv-report-showall {
    width: 18%;
}

#li-inv-report-from-date,
#li-inv-report-to-date,
#li-inv-report-load {
    width: 28%;
    /* margin: 4px; */
    margin-top: 25px;
    vertical-align: middle;
}

.li-inv-report-settype-label {
    color: #036;
    width: 79%;
    background-color: white;
    margin: auto;
    vertical-align: top;
}

.div-inv-report-settype-label {
    background-color: #999;
    border-radius: 3px 3px 0 0;
    color: white;
    display: inline;
    height: 80%;
    margin-right: 5px;
    min-width: 100px;
    padding: 0.6em 0.5em;
    text-align: center;
    /* text-transform: uppercase; */
}

.li-inv-report-settype-label .selected-tab {
    background-color: #ccc;
    color: #000;
}

.ul-inv-report-info,
.ul-inv-sub-report-info {
    clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 18px 0!important;
    height: 350px;
    -webkit-overflow-scrolling: touch;
    width: 100%!important;
}

#div-inv-report-common-list ul {
    margin: 11px!important;
}


/*Set Inventory*/

#div-inv-set-report-header input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    width: 332px;
    -webkit-appearance: none;
    margin-bottom: 15px;
}

#div-inv-set-report-header {
    margin: 18px;
}

.div-inv-set-report-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}

#div-inv-set-report-header #div-keyword-search {
    position: relative;
}

#div-inv-set-report-type-dropdown .div-dropdown-main {
    background-color: #ddd;
    width: 204px;
    height: 35px;
    display: inline-block;
    padding-left: 5px;
    border: 1px solid #ccc;
    font-size: medium;
    margin-bottom: -13px;
    /* text-align: center; */
}

#div-inv-set-report-fs-dropdown .div-dropdown-main {
    background-color: #ddd;
    width: 332px;
    height: 35px;
    display: inline-block;
    padding-left: 5px;
    border: 1px solid #ccc;
    font-size: medium;
    margin-bottom: -13px;
    /* text-align: center; */
}

#div-inv-set-report-type-dropdown .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 211px;
    font-weight: normal;
    font-size: medium;
    /* text-align: center; */
    display: none;
    background-color: rgb(221, 221, 221);
}

#div-inv-set-report-fs-dropdown .div-dropdown-list {
    position: absolute;
    z-index: 1;
    width: 339px;
    font-weight: normal;
    font-size: medium;
    /* text-align: center; */
    display: none;
    background-color: rgb(221, 221, 221);
}

#li-inv-set-report-type {
    margin: 5px 0px 12px 23px;
}

#div-inv-set-report-sysnm-list #div-search-result-main,
#div-inv-set-report-setnm-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 181.2px!important;
    -webkit-overflow-scrolling: touch;
}

#div-inv-set-report-fs-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 235.2px!important;
    -webkit-overflow-scrolling: touch;
}

#div-inv-set-report-sysnm-list .item-searchlist,
#div-inv-set-report-setnm-list .item-searchlist,
#div-inv-set-report-fs-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

.div-inv-set-report-main li {
    display: inline-block;
    width: 98%;
    padding: 20px 0px 3px 20px;
}

#div-inv-set-report-sysnm-list ul,
#div-inv-set-report-setnm-list ul,
#div-inv-set-report-fs-list ul {
    margin: 0px 0px 0px 0px!important;
    life-style: none!important;
}

#div-inv-set-report-list {
    /*	border: 1px solid #999;
	box-shadow: 0 0 5px #999;*/
    margin: 12px 2px 3px 1px;
    height: 441px;
}

.div-inv-drilldown-list-label {
    color: #444;
    width: 125px;
    margin-right: 3px;
    text-align: right;
}

.div-inv-drilldown-header-value {
    color: #000;
    margin-left: 3px;
    width: 260px;
}

.div-inv-drilldown-list-value {
    color: #000;
    margin-left: 3px;
    width: 260px;
}

.div-inv-drilldown-header-label {
    color: #fff;
    width: 125px;
    margin-right: 3px;
    text-align: right;
}

#div-inv-set-report-list #div-saleitemlist {
    max-height: 440px!important;
}

#div-inv-set-report-sysnm-list #ul-search-resultlist li i,
#div-inv-set-report-setnm-list #ul-search-resultlist li i,
#div-inv-set-report-fs-list #ul-search-resultlist li i {
    display: none;
}

#div-inv-set-report-sysnm-list #ul-search-resultlist .selected-item,
#div-inv-set-report-setnm-list #ul-search-resultlist .selected-item,
#div-inv-set-report-fs-list #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-inv-set-report-load,
#div-inv-field-report-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    margin-left: 18px;
    ;
}

#div-inv-set-report-type-dropdown .div-dropdown-list,
#div-inv-set-report-fs-dropdown .div-dropdown-list {
    margin-top: 7px!important;
}

#div-inv-set-report-type-dropdown .div-dropdown-list li,
#div-inv-set-report-fs-dropdown .div-dropdown-list li {
    width: 91%!important;
}

#div-inv-set-report-list #div-saleitemlist ul {
    margin: 0!important;
}

#div-inv-set-report-sysnm-list #ul-search-resultlist li,
#div-inv-set-report-setnm-list #ul-search-resultlist li,
#div-inv-set-report-fs-list #ul-search-resultlist li {
    display: inline-block;
    width: 98%;
    padding: 0px 0px 3px 1px;
}

#div-inv-set-report-list .div-drilldown {
    width: 100%!important;
}


/*.div-inv-set-report-filter-info	li{
	display: inline-block;
	width: 98%;
	padding: 25px 0px 3px 20px;
}*/


/*Field Inventory Report*/

#tbl-inv-fieldreport-list {
    height: 400px;
    overflow: auto;
    white-space: nowrap;
}

#thead-inv-fieldreport-list {
    background: #036;
    font-weight: bold;
    color: #fff;
}

.td-inv-fieldreport-list-item {
    min-width: 150px;
    width: auto;
    padding: 10px 5px;
    margin: 5px;
    text-align: right;
}

.td-index-0 {
    text-align: left;
}

#tbody-inv-fieldreport-list-details {
    background: #ccc;
    height: 390px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

#ul-inv-report-consign-info {
    width: auto;
}

#div-inv-fieldreport-list-main ul,
#div-inv-fieldreport-list-main>li {
    width: auto;
    white-space: nowrap;
}

#div-inv-fieldreport-list-main {
    overflow: auto;
    margin: 0;
}

#div-inv-fieldreport-list-main ul {
    margin: 5px;
}

.div-inv-report-settype-label.selected-tab {
    background-color: #ccc;
}

#li-inv-report-showall {
    font-size: 1.2em;
    vertical-align: text-bottom;
    height: 30px;
}

#li-inv-report-showall i {
    font-size: 1.5em;
    vertical-align: middle;
}

#div-inv-report-type-drp {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 120px;
}

#div-inv-report-main .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-inv-report-main .div-dropdown-text {
    float: left;
    margin: 11px 5px 0 20px;
    text-align: left;
}

#div-inv-report-main .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    z-index: 1;
    max-height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#div-inv-report-main .div-dropdown-list ul {
    margin: 0px!important;
}

#div-inv-report-main .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 11px 0 13px 30px;
    text-align: left;
}

#li-inv-report-type .div-dropdown-list li {
    width: 90px;
}

#li-inv-report-type .div-dropdown-list {
    width: 120px;
}

#li-inv-report-period .div-dropdown-list {
    width: 60px;
}

#div-inv-report-from-month .div-dropdown-list,
#div-inv-report-to-month .div-dropdown-list {
    width: 120px;
}

#div-inv-report-from-year .div-dropdown-list,
#div-inv-report-to-year .div-dropdown-list {
    width: 75px;
}

#li-inv-report-viewby {
    position: absolute;
    margin-top: -55px;
}

#li-inv-report-viewby .div-dropdown-list {
    width: 125px;
}

#div-inv-report-type,
#div-inv-report-period,
#div-inv-report-from-date,
#div-inv-report-to-date {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 0.675em;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
    z-index: 1;
}

#div-inv-report-viewby {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 0.675em;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
    margin: 0;
}

#div-inv-report-period-drp {
    display: inline-block;
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 60px;
}

#li-inv-report-period .div-dropdown-list li {
    width: 30px;
}

#div-inv-report-from-month,
#div-inv-report-to-month {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 120px;
}

#div-inv-report-from-year,
#div-inv-report-to-year {
    border-radius: 3px;
    background-color: #ddd;
    width: 75px;
}

#div-inv-report-viewby-drp {
    background-color: #ddd;
    display: inline-block;
    width: 120px;
    border-radius: 0 3px 3px 0;
    margin-left: -5px;
}

#li-inv-report-from-date,
#li-inv-report-to-date {
    width: 35%!important;
}


/* #li-inv-report-period {
	width: 20%!important;
} */

#li-inv-report-load {
    width: 15%!important;
}

#li-inv-report-viewby .div-dropdown-list li,
#div-inv-report-from-month .div-dropdown-list li,
#div-inv-report-to-month .div-dropdown-list li {
    width: 90px;
}

#div-inv-report-from-year .div-dropdown-list li,
#div-inv-report-to-year .div-dropdown-list li {
    width: 45px;
}

#tbl-inv-fieldreport-list {
    height: 400px;
    overflow: auto;
    white-space: nowrap;
}

#thead-inv-fieldreport-list {
    background: #036;
    font-weight: bold;
    color: #fff;
}

.td-inv-fieldreport-list-item {
    min-width: 150px;
    width: auto;
    padding: 10px 5px;
    margin: 5px;
    text-align: right;
}

.td-index-0 {
    text-align: left;
    min-width: 300px;
}

#tbody-inv-fieldreport-list-details {
    background: #ccc;
    height: 350px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

#ul-inv-sub-report-consign-info {
    width: auto;
}

#div-inv-fieldreport-list-main ul,
#div-inv-fieldreport-list-main>li {
    width: auto;
    white-space: nowrap;
}

#div-inv-fieldreport-list-main {
    overflow: auto;
    margin: 0;
    width: 100%
}

#div-inv-fieldreport-list-main ul {
    margin: 5px;
}

.div-inv-sub-report-settype-label.selected-tab {
    background-color: #ccc;
}

#li-inv-sub-report-showall {
    font-size: 1.2em;
    vertical-align: text-bottom;
    height: 30px;
}

#li-inv-sub-report-showall i {
    font-size: 1.5em;
    vertical-align: middle;
}

#div-inv-sub-report-type-drp {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 160px;
}

#div-inv-sub-report-main .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-inv-sub-report-main .div-dropdown-text {
    float: left;
    margin: 11px 5px 0 20px;
    text-align: left;
}

#div-inv-sub-report-main .div-dropdown-list {
    margin-top: -2px;
    position: absolute;
    z-index: 1;
    max-height: 200px;
    overflow: auto;
}

#div-inv-sub-report-main .div-dropdown-list ul {
    margin: 0px!important;
}

#div-inv-sub-report-main .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
}

#li-inv-sub-report-type .div-dropdown-list li {
    width: 130px;
}

#li-inv-sub-report-type .div-dropdown-list {
    width: 160px;
}

#li-inv-sub-report-period .div-dropdown-list {
    width: 60px;
}

#div-inv-sub-report-from-month .div-dropdown-list,
#div-inv-sub-report-to-month .div-dropdown-list {
    width: 120px;
}

#div-inv-sub-report-from-year .div-dropdown-list,
#div-inv-sub-report-to-year .div-dropdown-list {
    width: 75px;
}

#li-inv-sub-report-viewby .div-dropdown-list {
    width: 120px;
}

#div-inv-sub-report-type,
#div-inv-sub-report-period,
#div-inv-sub-report-viewby,
#div-inv-sub-report-from-date,
#div-inv-sub-report-to-date {
    display: inline-block;
    background-color: #444;
    color: white;
    padding: 0.675em;
    vertical-align: top;
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
    z-index: 1;
}

#div-inv-sub-report-period-drp {
    border-radius: 3px;
    background-color: #ddd;
    width: 60px;
}

#li-inv-sub-report-period .div-dropdown-list li {
    width: 30px;
}

#div-inv-sub-report-viewby-drp,
#div-inv-sub-report-from-month,
#div-inv-sub-report-to-month {
    border-radius: 0 3px 3px 0;
    background-color: #ddd;
    width: 120px;
}

#div-inv-sub-report-from-year,
#div-inv-sub-report-to-year {
    border-radius: 3px;
    background-color: #ddd;
    width: 75px;
}

#li-inv-sub-report-from-date,
#li-inv-sub-report-to-date {
    width: 35%!important;
}

#li-inv-sub-report-period {
    width: 20%!important;
}

#li-inv-sub-report-load {
    width: 15%!important;
    vertical-align: top;
    margin-top: 10px;
}

#li-inv-sub-report-showgrowthpercent,
#li-inv-sub-report-showgrowtharrow {
    width: 27%;
    padding: 10px 0;
}

#li-inv-sub-report-hidevalue {
    width: 15%;
    padding: 10px 0;
}

#li-inv-sub-report-type {
    width: 25%;
    /* margin-top: 10px; */
}

#li-inv-sub-report-viewby .div-dropdown-list li,
#div-inv-sub-report-from-month .div-dropdown-list li,
#div-inv-sub-report-to-month .div-dropdown-list li {
    width: 90px;
}

#div-inv-sub-report-from-year .div-dropdown-list li,
#div-inv-sub-report-to-year .div-dropdown-list li {
    width: 45px;
}

#div-inv-sub-report-load {
    width: 80px;
    padding: 0.6em;
    background-color: #00366e;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}


/*multiselect planned ship date select box*/

.plandshipdte-checkbox {
    display: inline-block;
    width: 40px;
    position: absolute;
    right: 40px;
    top: 300px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .li-inv-setnm-used-list {
        width: 50%;
    }
    #div-inv-consignment-part-detail-list-content {
        height: 700px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #div-inv-view-summary-set-main {
        width: 74%;
        height: 100%;
    }
    #div-inv-setpart-details-close-icon {
        position: absolute;
        top: 3px;
        left: 621px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    #div-inv-sets-list {
        height: 96%!important;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .div-inv-surgery-info-label {
        width: 48%;
    }
    .ul-inv-surgery-info .fa {
        font-size: 1.6em;
    }
    /*Approval*/
    #div-request-fromdt-x {
        top: 13.9%!important;
        left: 369px!important;
    }
    #ul-inv-approve-shipdt-label {
        width: 95.5%!important;
    }
    #div-request-todt-x {
        top: 13.9%!important;
        left: 612px!important;
    }
    #li-inv-request-inv-id {
        width: 69.5%!important;
    }
    .div-req-drilldown-list-value {
        width: 154px!important;
    }
    .div-req-drilldown-header-value {
        width: 138px!important;
    }
    #div-inv-requestinfo-req-list .div-drilldown-header-arrow {
        margin-top: -90px!important;
    }
    .div-inv-request-header-label {
        display: inline-block;
        font-weight: bold;
        width: 166px!important;
    }
    #div-inv-requestinfo-req-list #div-saleitemlist {
        max-height: 599px!important;
    }
    #div-inv-requestinfo-content {
        height: 599px!important;
    }
    .div-inv-drilldown-list-value {
        width: 135px!important;
    }
    .div-inv-drilldown-header-label {
        width: 125px!important;
    }
    .div-inv-drilldown-header-value {
        width: 148px!important;
    }
    #div-inv-set-report-list #div-saleitemlist {
        max-height: 588px!important;
    }
    #div-inv-set-report-list {
        height: 590px!important;
    }
    #li-inv-aprrove-shipdt-label {
        width: 24%!important;
    }
    /* Set Inventory*/
    #li-inv-set-report-type {
        margin: 23px 0px 13px 1px!important;
    }
}

@media screen and (min-width: 1024px) {
    .li-inv-setnm-used-list {
        width: 60%;
    }
    #div-inv-view-summary-set-main {
        width: 99%;
    }
    #div-inv-sets-list {
        height: 62%;
    }
    .div-inv-surgery-info-label {
        width: 45%;
    }
    .ul-inv-surgery-info .fa {
        font-size: 2em;
    }
    #div-inv-consignment-part-detail-list-content {
        height: 490px;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

#div-inv-consignment-detail-main,
#div-inv-consignment-part-detail-main,
#div-inv-more-filter-container-popup {
    display: none;
    position: fixed;
    width: 96%;
    height: 82.5%;
    background-color: #eee;
    top: 11%;
    margin-left: -2px;
    border: 1px solid #444;
    border-radius: 3px;
    z-index: 1;
}

#div-inv-consignment-detail-header,
#div-inv-consignment-part-detail-header,
#div-inv-more-filter-container-popup-header {
    width: 100%;
    height: 40px;
    background: #444;
}

#div-inv-consignment-detail-header div,
#div-inv-consignment-part-detail-header div,
#div-inv-more-filter-container-popup-header div {
    display: inline-block;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    width: 48%;
}

#div-inv-consignment-detail-close,
#div-inv-consignment-part-detail-close,
#div-inv-more-filter-container-popup-close,
#div-inv-more-filter-container-popup-close {
    text-align: right;
}

#div-inv-consignment-detail-close-icon,
#div-inv-consignment-part-detail-close-icon,
#div-inv-more-filter-container-popup-close-icon {
    width: 20px!important;
    text-align: center;
    margin-right: -10px;
    background: #fff;
    color: #444!important;
    border-radius: 50%;
    font-size: larger;
}

#div-inv-consignment-detail-list-header,
#div-inv-consignment-part-detail-list-header {
    background-color: #999;
    width: 100%;
    height: 40px;
}

#div-inv-consignment-detail-list-header div,
#div-inv-consignment-part-detail-list-header div {
    display: inline-block;
    padding: 12px 0;
    color: #fff;
    width: 13.8%;
    text-align: center;
}

#div-inv-consignment-part-detail-list-header div {
    width: 16%!important;
}

#div-inv-consignment-detail-list-content,
#div-inv-consignment-part-detail-list-content,
#div-inv-more-filter-container-popup-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-consignment-detail-list-content #div-saleitemlist,
#div-inv-consignment-part-detail-list-content #div-saleitemlist {
    max-height: 472px;
}

#div-inv-consignment-detail-list #div-saleitemlist li,
#div-inv-consignment-part-detail-list #div-saleitemlist li {
    width: 99.8%;
}

.div-inv-consignment-detail-list-item,
.div-inv-consignment-part-detail-list-item {
    background: #fff;
    border: 1px solid #ccc;
    width: 100%;
}

.div-inv-consignment-detail-list-item div,
.div-inv-consignment-part-detail-list-item div {
    display: inline-block;
    padding: 12px 0;
    width: 13.8%;
    text-align: center;
    vertical-align: middle;
}

.div-inv-consignment-part-detail-list-item div {
    width: 16%!important;
}

#div-inv-consignment-detail-footer,
#div-inv-consignment-part-detail-footer {
    width: 100%;
    height: 40px;
    background-color: #444;
    position: absolute;
    bottom: 0px;
}

#div-inv-consignment-detail-footer div {
    display: inline-block;
    padding: 12px 0px;
    width: 70%;
    text-align: right;
    color: #fff;
}

#div-inv-consignment-part-detail-footer div {
    display: inline-block;
    padding: 12px 0px;
    width: 66%;
    text-align: right;
    color: #fff;
}

#div-inv-consignment-detail-footer-value {
    width: 29%!important;
}

#div-inv-consignment-part-detail-footer-totalqty,
#div-inv-consignment-part-detail-footer-totallist {
    width: 16%!important;
    text-align: center!important;
}

#div-inv-main-content .ul-progress-spinner {
    text-align: center;
}

#div-inv-sub-report-field-content .fa {
    font-size: 2em;
    vertical-align: sub;
}

#div-inv-sub-report-showgrowthpercent,
#div-inv-sub-report-showgrowtharrow,
#div-inv-sub-report-hidevalue {
    vertical-align: top;
    margin-top: 5px;
}

#div-inv-report-breadcrumb {
    margin-left: 18px;
    width: 97%;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-report-consignment-breadcrumb,
#div-inv-report-consignment-part-breadcrumb {
    margin-left: 18px;
    height: 20px;
    padding: 10px;
    width: 97%;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.div-inv-consignment-detail-type i {
    font-size: 1.5em;
    padding: 5px;
}

#btn-inv-more-filter {
    position: absolute;
    left: 334px;
    top: 90px;
}

#div-inv-sub-report-sysnm {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 5px;
}

#li-inv-sub-report-sysnm {
    display: inline-block;
    width: 60%;
}

#li-inv-sub-report-sysnm #div-common-search-x {
    display: none!important;
}

#inv-sub-report-system {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none!important;
    border-radius: 0px!important;
    box-shadow: 0px 0px 1px #030303!important;
    font-size: 1em;
    width: 332px!important;
    -webkit-appearance: none;
    margin-bottom: 0px!important;
    height: 20px;
}

#div-inv-sub-report-sysnm-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-sub-report-sysnm-list #ul-search-resultlist {
    overflow: auto;
    max-height: 300px;
    margin: 0px!important;
}

#div-inv-sub-report-sysnm-list #ul-search-resultlist li {
    display: inline-block;
    width: 98%;
    padding: 0!important;
}

#div-inv-sub-report-sysnm-list #ul-search-resultlist li .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

#btn-inv-more-filter.bg-red {
    background-color: #900;
}

#div-inv-sub-report-sysnm-list #ul-search-resultlist li i {
    display: none
}

#div-inv-view-summary-acid {
    width: 59%;
    height: 30px;
    overflow-x: scroll;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#div-inv-view-summary-account-id div {
    vertical-align: top;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .li-inv-report-settype-label {
        width: 73%!important;
    }
    #li-inv-report-from-date,
    #li-inv-report-to-date {
        width: 36%!important;
    }
    #li-inv-report-type,
    #li-inv-report-period {
        width: 36%!important;
    }
    #div-inv-consignment-detail-list-header div,
    .div-inv-consignment-detail-list-item div {
        width: 13.7%!important;
    }
    #li-inv-sub-report-sysnm {
        width: 75%!important;
    }
    #li-inv-sub-report-type {
        width: 22%!important;
    }
    #div-inv-sub-report-type-drp,
    #li-inv-sub-report-type .div-dropdown-list {
        width: 100px!important;
    }
    #li-inv-sub-report-type .div-dropdown-list li {
        width: 70px!important;
    }
    #li-inv-sub-report-from-date,
    #li-inv-sub-report-to-date {
        width: 37%!important;
    }
    #li-inv-sub-report-hidevalue {
        width: 19%!important;
    }
    #div-inv-view-summary-acid {
        width: 58%;
        vertical-align: top;
    }
    .div-inv-view-summary-label {
        width: 47%!important;
    }
    #div-inv-consignment-detail-main,
    #div-inv-consignment-part-detail-main,
    #div-inv-more-filter-container-popup {
        top: 8%;
    }
}


/*More Filter*/

#div-inv-morefilter-main {
    border-radius: 3px;
    height: 100%;
    width: 99.5%;
    display: none;
}

#div-inv-morefilter-header {
    width: 100%;
    height: 40px;
    margin: 5px 0 0 0;
}

.div-inv-morefilter-header {
    display: inline-block;
}

#div-inv-morefilter-companycontent {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 9px;
    margin-right: -5px;
    margin-left: 5px;
}

#drp-inv-morefilter-company .div-dropdown-main {
    background-color: #ddd;
    width: 200px;
    height: 35px;
    display: inline-block;
    text-align: center;
}

#drp-inv-morefilter-company .div-dropdown-list {
    position: absolute;
    z-index: 2;
    width: 200px;
    text-align: center;
    background-color: #ddd;
}

#drp-inv-morefilter-company .div-dropdown-main .div-arrow-dropdown {
    position: absolute;
    padding-left: 10px;
}

#drp-inv-morefilter-company .div-dropdown-text {
    padding: 10px!important;
    margin-left: 20px;
}

#div-inv-morefilter-header-btns {
    float: right;
    margin: 1px 2px 0 0;
}

#btn-inv-morefilter-reset,
#btn-inv-morefilter-save {
    width: 80px;
    padding: 0.6em;
    background-color: #036;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

#div-inv-morefilter-content {
    height: 550px;
}

.div-inv-morefilter-division,
.div-inv-morefilter-region {
    margin: 5px 5px 0 5px;
}

.div-inv-morefilter-zone,
.div-inv-morefilter-fieldsales {
    margin: 5px 0 0 0;
}

.div-inv-morefilter-content {
    display: inline-table;
    background-color: #ccc;
    margin-bottom: 5px;
    width: 470px;
    height: 260px;
    border: 1px solid #999;
    border-radius: 3px;
}

.div-inv-morefilter-division-header {
    background-color: #036;
}

.div-inv-morefilter-content-header {
    height: 20px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

.div-inv-morefilter-search {
    display: inline;
    float: right;
    width: 60%;
    height: 145%;
    text-transform: none;
    font-weight: normal;
    margin-top: -5px;
    background: #fff;
    margin-right: -5px;
    border-radius: 1px;
}

.txt-inv-morefilter-search {
    width: 80%;
    height: 70%;
    display: inline-block;
    font-size: 0.90em;
    border: none;
}

.div-inv-morefilter-search-x {
    background-color: #999;
    border-radius: 50%;
    color: white;
    display: none;
    font-family: "Arial";
    padding: 0.05em 0.1em 0.2em 0.1em;
    text-align: center;
    width: 18px;
}

#div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist {
    max-height: 215px!important;
}

#div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist li.selected {
    background-color: black;
    color: white;
}

#div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist li {
    display: block;
    height: 20px;
    text-align: left;
    padding: 10px 0px 5px 10px;
    background-color: #999;
    color: #fff!important;
    border-bottom: 1px solid #fff;
}

#div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist i {
    float: right;
    margin-right: 10px;
    display: none;
}

#div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist li.selected i {
    display: block;
}

.div-inv-morefilter-zone-header {
    background-color: #800;
}

.div-inv-morefilter-region-header {
    background-color: #960;
}

.div-inv-morefilter-fieldsales-header {
    background-color: #003300;
}

#drp-inv-morefilter-company .div-dropdown-list ul li {
    width: 99%;
    height: 20px;
    padding: 10px 0px;
    border: 1px solid #999;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #div-inv-morefilter-content {
        width: 100%;
        height: 750px;
        margin-right: 0;
        margin-left: 0;
    }
    .div-inv-morefilter-content {
        width: 350px;
        height: 370px;
    }
    #div-inv-morefilter-main #div-inv-morefilter-content #div-saleitemlist {
        max-height: 325px!important;
    }
    .txt-inv-morefilter-search {
        width: 78%;
    }
}

#div-inv-report-no-data-message {
    font-size: larger;
    text-align: center;
    width: 100%;
    margin-top: 121px;
}


/* Comments Section*/

.div-inv-detail-comments {
    width: 100%;
    height: 100%;
}

#txtarea-inv-comments {
    display: block;
    width: 93%;
    height: 400px;
    margin: auto;
    resize: none;
    font-size: 16px;
}

#div-inv-comments-limit {
    margin: 10px auto;
    font-size: 16px;
    text-align: right;
    margin-right: 30px;
}


/*AD Approvals Comments*/

.btn-inv-comment {
    margin: 10px 0 0 10px;
    color: #444;
}

.fa-comment {
    color: #800;
}

.div-inv-display-comments {
    width: 96%;
    border-radius: 3px;
    border: 1px solid grey;
    height: 589px;
    position: absolute;
    top: 130px;
    left: 20px;
    background-color: #ccc;
    display: none;
}

#div-inv-show-comments-limit {
    float: right;
    margin: 10px 0;
    font-size: 16px;
    width: 20%;
    font-style: italic;
}

.div-inv-approve-icons {
    float: left;
    height: 100px;
    width: 50px;
}

.btn-inv-comments-big {
    text-align: center;
}

.div-inv-title-comments {
    width: 85%;
    background-color: #444;
    height: 32px;
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    padding-left: 20px;
    padding-top: 8px;
    vertical-align: bottom;
    margin-top: 8px;
}

.div-inv-comments-header {
    background-color: #444;
}

.div-inv-comment-done {
    width: 80px;
    margin: 5px;
    padding: 0.6em;
    border-radius: 3px;
    color: #000;
    font-weight: bold;
    background-color: #ccc;
    display: inline-block;
    text-align: center;
    float: right;
    font-size: 17px;
}

.div-inv-comments-details-header {
    width: 98%;
    background-color: #999;
    min-height: 40px;
    display: inline-block;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
}

.div-inv-comments-parentreqid,
.div-inv-comments-part,
.div-inv-comments-partdescription {
    display: inline-block;
    color: #000;
}

.div-inv-comments-parentreqid {
    width: 25%;
    vertical-align: top;
    margin-top: 5px;
}

.div-inv-comments-part {
    width: 25%;
    vertical-align: top;
    margin-top: 5px;
}

.div-inv-comments-partdescription {
    width: 47%;
    vertical-align: top;
    margin-top: 5px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.div-inv-comments-details {
    width: 98%;
    height: 255px;
    display: inline-block;
    padding-left: 20px;
    padding-top: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.div-inv-comments-date,
.div-inv-comments-name {
    display: inline-block;
}

#div-inv-comments-repname {
    color: #800;
    font-weight: bold;
}

.div-inv-comments-time {
    display: inline-block;
    font-style: italic;
    font-size: 16px;
}

.div-inv-comments-description {
    display: inline-block;
    margin: 5px 0 5px 102px;
}

.div-inv-comments-date {
    width: 85px;
    font-weight: bold;
}

#div-inv-comments-keyin-text {
    font-size: 16px;
    display: inline-block;
    width: 25%;
    font-style: italic;
    margin: 10px 0 10px 7px;
}

.div-inv-add-comments {
    margin-top: 10px;
}

#txtarea-inv-add-comments {
    display: inline-block;
    width: 98%;
    height: 110px;
    margin-left: 4px;
    resize: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.div-inv-add-comments-btn {
    width: 120px;
    margin: 4px;
    padding: 0.7em;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    background-color: #444;
    display: inline-block;
    text-align: center;
    float: right;
}

.div-inv-comments-date-name-details {
    margin: 10px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .div-inv-display-comments {
        height: 835px;
        left: 15px;
    }
    .div-inv-title-comments {
        width: 80%;
        -webkit-overflow-scrolling: touch;
    }
    .div-inv-comments-details-header {
        width: 97.4%;
    }
    .div-inv-comments-parentreqid,
    .div-inv-comments-part {
        width: 27%;
    }
    .div-inv-comments-partdescription {
        width: 42%;
    }
    #div-inv-comments-keyin-text {
        width: 30%;
    }
    #div-inv-show-comments-limit {
        width: 26%;
    }
    #txtarea-inv-add-comments {
        height: 190px;
    }
    .div-inv-comments-details {
        height: 410px;
    }
    #txtarea-inv-add-comments {
        width: 97%;
    }
}

#div-inv-request-main ul li .div-req-drilldown-list-value- {
    display: none;
}

#div-inv-parts-list .li-inv-productfamily-4056 {
    display: none;
}
