@media (min-width: 320px) and (max-width: 479px) {
	
	#div-apps {
		display: none;
	}
/*
    #div-app-title{
        visibility: visible;
    }
*/
    #div-app-title {
/*	background-color: #00366e;*/
	border-radius: 0;
    }
	.btn-app-div {
/*		background-color: #105498;*/
		border-radius: 3px;
		width: 75px;
		margin: auto;
		margin-bottom: 5px;
        text-align: center;
	}

	.btn-app-img {
		margin-left: 5px;
	}

	.btn-app-name {
		color: #FFF;
		font-weight: 500;
		position: absolute;
		margin: -34px 0 0 70px;
	}

	.btn-app-phone {
		margin: auto;
	}
	
	#div-apps-phone {
		display: block;
	}

	#div-apps-phone a {
		color: #000;
		text-decoration: none;
	}

	#div-apps-phone a img {
		width: 75px;
        height: 75px;
	}

	.background-image {
		background-repeat: no-repeat;
/*		background-size: 320px 570px;*/
	}
	
	.btn-catalog-item {
		background-color: whitesmoke;
		color: black;
		float: left;
		font-size: small;
		margin-left: 2px;
		padding: 0.75em;
		text-transform: uppercase;
		width: 26%;
	}

	.btn-catalog-item span {
		margin-left: 5px;
	}
	
	#div-detail-navigation .btn-selected {
		display: none;	
	}
	
	.btn-grey.btn-selected {
		background-color: grey;
		color: #fff;
	}
	
	#btn-search,#btn-camera {
		display: inline-block;
	}

	.btn-quicklink {
		padding: 1em 0;
		width: 285px;
	}
	
	#div-apps {
		width: 100%;
	}
	
	#div-apps a {
		display: inline;
	}
	
	#div-apps div {
		display: inline-block;
		position: relative;
		top: -40px;
	}

	#div-logo {
		height: 200px;
	}
	
	#div-app-title {
/*		visibility: hidden;*/
        /*height: 30px;*/
        color: white;
        /*background-color: #082A4F;*/
        /*border-radius: 0;*/
/*		background-color: transparent;*/
		/*color: black;*/
		/*font-size: 1.2em;*/
		/*font-weight: bold;*/
/*
		margin: auto;
		padding: 2px;
		position: relative;
		text-align: center;
*/
		/*text-transform: uppercase;*/
		/*top: 0px;*/
	}
	
	#div-catalog-filter {
		height: 45px;
		width: 90%;
	}

	#div-catalog-quicklink {
		margin: auto; 
		width: 92%;
	}
    
    #div-close-panel {
       top: 93%;
    }
	
	#div-detail-breadcrumb {
		overflow: auto;
		height: 5%;
		text-overflow: initial;
		width: 62%;
		-webkit-overflow-scrolling: touch;
	}

	.div-detail-breadcrumb-catalog {
		width: 75%!important;
	}
	
	
	#div-detail-view > .detail-menu {
		color: black;
	}
	
	/* menu bar at bottom  */
	#div-detail-menu {
		border-radius: 3px;
		display: block;
		position: fixed;
		bottom: 0;
		left: 30%;
		height: 32px;
		color: white;
		padding: 5px 5px 10px;
		z-index: 1;
	}
	
	#div-detail-menu i {
		padding: 0px 0 6px 0;
	}
	
	#div-detail-menu span {
		font-size: 0.5em;
		text-transform: uppercase;
		display: block;
	}
	
	
	#div-detail-view {
		margin: 0px auto 25px;
	}
	
	#div-favorite-icon {
		font-size: 1.7em;
		margin-top: -5px;
	}

	#div-filter {
		border-radius: 3px 3px 0 0;
		display: none;
		width: 285px;
	}

 	#div-filter-list {
/*		background-color: #ccc;*/
	    border-radius: 3px;
	    height: 120px;
	    position: absolute;
	    text-transform: uppercase;
	    width: 286px;
	    z-index:1;
	    top: 92px;
	    left: 17px;
	}
 	
 	#div-footer {
/*		background-color: #999;*/
		bottom: 0;
		height: 60px;
		position: fixed;
		width: 100%;
	}
	
	#div-header {
		/*background-color: lightgrey;*/
	}
	
	#div-itemlist-count {
		float:none;
	}
	
/*
	.iphone-header-small {
		height: 20px;
	}
*/
	
	/*.iphone-header-big {
		height: 45px;
	}*/
	
	.div-img, .div-img-locale {
		float: none;
		padding: 0.35em 0.5em 0 0;
		margin-left: -25px;
	}
    
    #div-itemlist .li-letter-above {
        width: 270px;
    }

	#div-locale {
		/*background-color: #999;*/
		border-radius: 3px;
		color: black;
		float: right;
		min-height: 20px;
		min-width: 50px;
		padding: 1em;
		position: absolute;
		right: 5px;
		top: 415px;
		z-index: 1;
	}

	#div-locale:before {
		border-bottom: 0px; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 20px;
		/*border-top: 20px solid #999;*/
		content: "";
		margin: 12px 0 0 -25px;
		position: absolute;
		right: 5px;
		top: 88px;
	}

	#div-popup {
		margin-left: auto;
		margin-right: auto;
		margin-top: 200px;
	}

    
    #div-messagebar {
/*        font-size: 0.8em;
        min-height: 20px;
 		padding: 0.35em 0 0 0.25em;
 		top: 84px;
		width: 99.16%;
		overflow-x: auto;
		white-space: nowrap;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
*/    }

    #btn-share {
    	margin-top: 23px;
    	margin-right: 3px;
    	min-width: 40px;
		max-width: 50px;
    }

    #btn-share i {
		display: none;
	}

	#div-search-result {
		overflow-y: auto;
		width: 94%;
		position: absolute;
		height: 55%;
        left: 3%;
		-webkit-overflow-scrolling: touch;
	}

	#div-search-result #div-itemlist li a {
		font-size: small;
	}

	#div-sidepanel {
		left: 301px;
		height: 87.9%;
        width: 100%;
		top: 20px;
	}

	#div-sidepanel:before {
		height:100%;
        width: 100%;
	}
    
    #div-sidepanel-back {
        top: 93%;
        position: absolute;
    }

	#div-sidepanel #div-itemlist {
		height: 300px;
		margin-top: 20px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.div-sub-result {
		height: 270px;
	}

	#div-updates-count {
		margin-right: 5px;
	}

	#img-logo {
		height: 125px;
		width: 125px;
	}

	.selectedTab {
		background: #00366e;
		color: white;
	}

	#txt-filter {
		margin-left: -18px;
	}

	#txt-keyword {
		width: 115%;
	}

	#ul-navigation-left {
		left:0;
	}

	#ul-navigation-right {
		right: 0
	}

	#ul-navigation-right, #ul-navigation-left {
		/*background-color: grey;*/
		bottom: 0;
		position: fixed;
		z-index: 1;
	}

	#ul-recent {
        height: 385px;
        overflow-y: auto;
    }
    
    #ul-recent #div-itemlist {
        height: initial;
        margin-top: 0px;
        overflow-y: auto;
    }

    .in-detail-catalog {
    	display: none;
    }
    
    #div-updates {
		bottom: 45px;
		left: 15px;
		position: absolute;
		max-height: 78%;
		border-top: 1px solid #999;
	}
	
	#div-detail-group .li-item-name, #div-detail-group .li-item-type {
		font-weight: bold;
		width: 300px;
		display: block;
	}
	
	.div-detail #div-itemlist {
		height: 35%;
		overflow-x : hidden;
		overflow-y:  auto;
		width: 94%;
		font-size: small;
		-webkit-overflow-scrolling: touch;
	}
     
	 #div-detail-navigation {
		background-color: #ccc !important;
		display: none;
		float: right;
		position: absolute;
		bottom: 46px;
	    padding: 3px 0 3px 0px;
		left:0px;
		width: 100%;
		z-index: 1;
	 }
	
	.btn-detail {
		border-radius: 3px;
		height: 25px;
		margin: 5px 0px 5px 8px;
		padding: 4px 8px 4px 4px;
		width: 30px;
	}
		
    .btn-detail span {
        display: none;
    }  
     
    #div-column {
	     font-size: small;
	     margin-top: 10px;
	     width: 98%;
     }    

    #div-column li {
     	padding: 5px;
     }
     
    .arrow-up-sort {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 12px solid black;
		float: right;
		height: 0;
		width: 0;
		margin-right: 2px;
	}
	
	.arrow-down-sort {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 12px solid black;
		float: right;
		height: 0;
		width: 0;
		margin-right: 2px;
	}
	
	#div-detail-set #Type, #div-detail-set #Category, #div-detail-set #Hierarchy {
	    display: none;
	} 
	    
	#div-detail-set .li-item-type, #div-detail-set .li-item-category, #div-detail-set .li-item-hierarchy {
		width: 300px;
		margin: auto;
		display: inline;
    }

    #div-detail-set .li-item-category:before, #div-detail-set .li-item-hierarchy:before  {
    	content: "/";
    }
    
    .li-item-id {
        width: 18%;
    }
     
    #div-detail-part .li-item-id, #div-detail-set .li-item-name {
    	font-weight: bold;
    	display: block;
        width: 300px;
    }

    #div-detail-set .li-item-id {
    	font-weight: bold;
    }

	#div-detail-set #txt-itemlist-search,#div-detail-group #txt-itemlist-search,#div-detail-part #txt-itemlist-search {
		width: 285px;
		margin-top: 8px;
	}

	#ul-navigation-left .div-img {
		padding: 0em 0.5em 0 0em;
	}

	.detail-iphone-scroll {
		height: 350px;
		overflow-x: hidden; 
		overflow-y: auto;
		width:100%;
		padding-bottom: 20px;
		-webkit-overflow-scrolling: touch;
	}

	#arrow-go-previous {
		left: 5px;
		font-size: 50px;
	}

	#arrow-go-next {
		right: 5px;
		font-size: 50px;
	}

	.arrow-image-container {
		position: absolute;
		height: 50px;
		width: 50px;
		top: 40%;
	}

 	#div-thumbnails {
		height: 10%;
		text-align: center;
		bottom: 5px;
		margin: auto;
		margin-bottom: 5px;
		position: fixed;
		left: 5px;
		right: 5px;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		white-space: nowrap;
		width: 310px;
	}

	.img-thumbnails {
		max-width: 35px;
		max-height: 30px;
	}

	.div-settings-label {
		width: 120px;
	}

	.div-settings-value {
		width: 150px;
	}

	#div-settings-locale {
		width: 101px;
		padding: 0.25em 0.25em 0.25em 0.5em;
	}

	#div-sync {
		width: 300px;
	}

	#h1-settings-sync {
		width: 291px;
	}

	#div-locale.div-settings-locale {
		font-size: 0.9em;
		left: 158px;
		top: 122px;
		width: 117px;
	}

	#div-locale.div-settings-locale:before {
		border-bottom: 16px;
		/*border-bottom: 16px solid #999;*/
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		margin: 6px 0 0 -25px;
		position: absolute;
		right: 100px;
		top: -27px;
	}

	#div-detail-view i {
		float: right;
		margin: 4px 1px 0 0;
	}

	.div-btn-header {
		height: 46px;
		margin-right: 5px;
	}
	
	.div-btn-header div {
		float: left;
	  	clear: none; 
		
	}

	.div-itemlist-big-size #div-itemlist {
		position: absolute;;
		height: 40%;	
	}

	.div-itemlist-small-size #div-itemlist {
		position: absolute;
		height: 40%;
	}

	#div-detail-set #div-column li, #div-detail-group #div-column li, #div-detail-part #div-column li {
		display: none;
	}
	
	#div-detail-set #div-column #sel-attrib, #div-detail-group #div-column #sel-attrib, #div-detail-part #div-column #sel-attrib {
        display: inline;
        width: 150px;
     }
 
    #div-detail-set  #div-column #sel-sort-by, #div-detail-group  #div-column #sel-sort-by, #div-detail-part  #div-column #sel-sort-by {
        display: inline;
        width: 130px;
        float: right;
        text-transform: uppercase;
	}

	#div-detail-part #div-column #sel-attrib {
        width: 160px;
    }
     
	select {
        background-color: #CCC;
        padding: 3px;
        /*text-transform: uppercase;*/
        border: 1px solid #999;
/*        height: 35px;*/
        border-radius:0px;
        font-weight: 300;
	}


	#div-data-sync {
		width: 99%;
	}

	#h1-settings-data-sync {
		width: 50%;
	}

	#h1-settings-file-sync {
		width:50%
	}

	.ul-settings {
		width: 99%;
	}

	.div-sync-label {
		display: inline;
		width: 144px;
		padding: 5px 0 5px 0;
	}

	#div-settings-sync {
		max-height: 190px;
		padding-bottom: 2px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.li-file-sync label {
		width:255px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

 	#div-detail-part #div-itemlist ul li {
        display: inline-block;
    }
     
	#li-detail-name {
        font-size: 18px;
        padding-right: 0px;
        padding-top: 10px;
        width: 100%;
        border-bottom: 10px solid white;
    }

    .set-name-wrap {
        width: 100%;
        word-break: break-word;
    }   
      
    #div-detail-part .li-item-name {
	  	font-weight: bold;
	 	 width: 100%;
    }

    .li-item-detail {
     	width: 52px;
		float: none;
		text-align: center;
		left: 80%;
		position: relative;
		margin: 0px;
    }
    
    
	#div-detail #div-itemlist .ul-group-part-list li.li-item-detail {
		margin-left: 0em;
	}
    
    #div-detail #div-itemlist li.li-item-detail {
		width: 52px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		margin-left: 0em;
	}
    
    #div-detail-part #div-itemlist ul li.li-item-part-camera {
		display: inline-block;
		height: 0px;
	}

	.li-item-part-camera {
		width: 15%;
		position: relative;
		float: right;
		right: 65px;
		top: -7px;
		margin-top: 4px;
	}

    #div-detail-part #div-itemlist .li-item-qty {
      	margin-left: 0px;
      	font-weight: bold;
      	width: 100%;
    }
   
    #div-detail-part #div-column .li-item-qty {
        display: none;
    }
     
    #div-detail-part .li-item-qty:before {
        content: "Quantity: " ;
    }
     
    .div-detail > #div-itemlist > li {
        border-bottom: 1px solid #ccc;
    }
     
    #div-detail-set #div-itemlist, #div-detail-group #div-itemlist {
        border: 1px solid #ccc;
        height: 45%;
        position: absolute;
    }
 
    #div-detail-part #div-itemlist {
    	width:94%;
        border: 1px solid #ccc;
    }

    .detail-image {
    	width: auto;
    	max-height: 220px;
		margin-right: 10px;
	}

	#div-image-viewer {
		height: 80%;
		top: 5%;
		width: 80%;
		left: 10%;
	}
 
 	#div-search-x {
		float: right;
		padding: 0.35em;
		width: 6%;
		margin: 0.4em;
		font-size: 17px;
		font-weight: bold;
	}
	
	#btn-sync, #btn-delete {
		margin-top: 2px;
		padding: 0.3em 0 0 0;
		border: 2px outset buttonface;
	}
	
	#div-locale-text {
		padding: 0.25em 0 0 0;
	}

	#div-locale-flag {
		padding: 0.1em 0 0 0;
	}
	
	#btn-reset {
   		margin-top: 1%;
   		padding: 8px 3px;
    }
    
	#ul-btn-sync {
		padding: 0;
	}
	
	#btn-download-viewer {
		top: 10px;
		left: 2px;
	}

	 #div-img-title {
		width: 75%;
		height: auto;
		text-align: center;
		position: absolute;
		top: 10px;
		left: 15%;
		right: 10%;
		color: #00366e;
		font-weight: bold;
		font-size: 18px;
		word-wrap: break-word;
	}

	#div-detail-navigation .show-btn-download-viewer {
		visibility: hidden;
		height: 0px;
		margin: 0px;
		padding: 0px;
	}

	#div-sidepanel-list #txt-itemlist-search {
		width: 265px;
	}

	#div-sidepanel-list #div-detail-search-x {
		left: 285px;
	}

	#div-detail-search-x {
		left: 285px;
	}

	#div-itemlist-count {
		margin-top: 5px;
	}

	#div-detail-part {
		padding-top: 0;
	}

	#div-detail-set, #div-detail-group {
		padding-top: 0px;
		margin-top: 0px;
	}
	
	.div-lbl, .div-lbl-locale {
		font-size: 0.5em;
		padding: 32px 0px 0px 0px;
		margin-left: 0px;
	}
	
	.divUpdatesNo {
		top: -33px;
		margin-left: 5px;
	}

	#btn-settings, #btn-updates {
		display: none;
		visibility: hidden;
	}

	#btn-settings .div-img {
		position: relative;
		top: -45px;
		margin-left: 12px;
	}

	#btn-updates .div-lbl, #btn-settings .div-lbl {
		float: none;
        font-size: 12px;
	}
	
	#btn-home {
		display: none;
		padding: 0.15em 0.5em 0em 0.25em;
		height:62px;
		margin-left: 5px;
	}
	
	#btn-home div {
		float: left; 
	}
	
	#btn-home .div-lbl {
	    display: inline-block;
		padding: 4.2em 0 0 0;
		margin-right: -11px;
	}
	
	#btn-back .div-lbl {
		display: block;
		position: relative;
		padding: 0em 0.9em 0 0;
	}
	
	#btn-back {
		top: 25px;
		left: 40px;
	}

	#img-back {
		left: -4px;
		top: -30px;
	}

	.btn-header-visited {
		background-color: #036;
	}
	
	.btn-header-visited div,.btn-header-visited i {
		color: #fff;
	}

	#div-search-count {
		float: none;
		margin: 8px 0 5px 0;
	}
	
	
	.div-detail-navigation-iphone #btn-camera {
		display: none;
	}
	
	.li-detail-image-iphone {
		display: none;
	} 
	
	.li-detail-image-iphone-part {
		display: block;
	} 
	
	.div-detail-navigation-iphone #btn-download {
		background-color: grey;
		color: #fff;
		border: none;
		border-radius: 3px;
		font-size: 1.5em;
		margin: 1px 0 0 3px;
		position: absolute;
		top: 7px;
 		width: 40px; 
		padding: 4px 5px 4px 0px;
	}

	#div-env {
		width: 200px;
		position: absolute;
		bottom: 50px;
		right: 7px;
		text-align: right;
		color: white;
	}

	#div-threesixty {
		position: relative;
		width: auto;
		height: 30px;
		border: 1px solid #ffffff;
		margin: 5px;
		margin-bottom: 5px;
		padding: 5px;
	}

	 #div-download-threesixty{
		width: 200px;
		height: 200px;
		top: 25%;
		left: 25%;
		position: absolute;
		text-align: center;
	}

	#div-env {
		font-size: 12px;
	}
	
	.div-lastsync i {
		display: inline-block;
		margin-top: 5px;
	}
	
	.div-lastsync-msg {
		display: none;
	}
	
	.div-detail-collateral-navigation .btn-detail {
		width: 30px;
	}
	
	#btn-app-catalog, #btn-app-collateral {
		width: 250px;
	}
	
	.btn-app-link {
		bottom: 96px;
	}

	#btn-download i {
		float: none;
	}

	#div-detail-images #div-itemlist {
		border: none;
		width: 100%;
		margin-top: 10px;
	}

	#div-detail-images #div-itemlist li {
		border-bottom: none;
	}

	.div-images-image {
		height: 140px;
		width: 140px;
		margin-right: 2px;
	}

	#li-share-title {
		font-size: 20px;
		margin-left: 5px;
	}

	#div-search-header .span-text {
		display: none;
	}

	#div-search-header i{
		display: inline-block;
	}

	#share-email {
		margin: 20px auto 0;
	}

	.div-share-list {
		margin-top: 20px;
	}

	#ul-share-title {
		font-size: 20px; 
	}

	#li-to-email {
		width: 99.5%;
	}
	
	.div-mail-cancel-hide {
		display: none!important;
	}
	
	.div-email-search {
		display: inline-block;
		width: 15%;
		padding: 10px;
		margin: 5px 0 5px 5px;
		text-align: center;
		top: -21px;
		position: relative;
		background-color: #999;
		color: black;
		height: 20px;
	}
	
	#div-mail-favorite {
		top: 0px;
	}
	
	#div-mail-favorite  i {
		margin-right: 25px;
	}
	
	#spn-no-favorites {
		position: relative;
		top: -15px;
		left: 15px;
		margin-left: 0;
	}
	
	#div-contact-info .div-contact-name {
		display: none!important;
	}
	
	#div-contact-info .ph-li-contact-name {
		display: inline-block!important;
	}
	
	#div-search-mail {
		width: 90%;
		margin-left: 5px;
	}

	#txt-email-search {
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 0px 0px 5px #030303;
		font-size: 1em;
		height: 1.6em;
		margin: auto;
		width: 275px;
	}

	/*#div-email-search-x {
		left: 265px;
		top: -31px;
	}*/

	.div-share-list #ul-listitem li {
		padding: 0.75em 0.5em 0.75em 0em;
	}

	#div-contact-info #li-contact-email, #div-contact-info #li-contact-action  {
		display: none!important;
	}

	
	#ph-div-emaillist {
		border: 1px solid;
		width: 275px;
	}

	.ph-li-contact-name {
		width: 80%!important;
	}
	
	#ph-li-contact-email{
		margin:5px 0  0  10px;
		width: 255px;
		overflow: auto;
		height: 18px;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
	}
	
	#ph-li-contact-action {
		display: block;
		margin: 5px 0 5px 10px;
	}
	
	.ph-div-email-contacts #ph-div-emaillist {
		display: block;
	}
	
	#btn-email-send {
		margin-right: 3px;
	}

	#btn-done {
		top: 0px;
	}
	
	.div-email-label {
		width: 7.5%;
	}
	
	#div-to-email {
		width: 81%;
	}
	
	#div-cont-type select  {
		width: 95.5%;
		margin-top: 5px;
		display: block;
		padding: .5em .6em;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
		height: auto;
	}
	
	#div-add-new-container .text-new-contacts{
		margin-top: 10px;
		display: block;
		width: 89%;
		padding: .5em .6em;
		border: 1px solid #ccc;
		box-shadow: inset 0 1px 3px #ddd;
		border-radius: 4px;
	}
	
	
	#spn-contacttype {
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
	
	#div-npi, #div-first-name, #div-mid-name, #div-last-name, #div-email-id, #div-phone-no {
		display: block;
		width: auto;
		text-align: left;
		margin-left: 0;
	}
	#div-add-new-container div {
		padding: 5px 0px 0px 5px;
	}
	
	#div-new-contacts {
		margin: 0;
	}

	#div-search-header {
		height: 50px;
	}
	
	#div-mail-save {
		margin: 5px;
	}
	
	#div-email-container {
		height: 63%;
	}

	#div-add-new-container {
		height: 280px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch; 
	}

	.div-share-list #div-column li {
		display: inline-block;
		height: 25px;
		padding: 0.75em 0em 0em 0.5em;
		text-transform: uppercase;
		color: #800;
	}

	.div-share-list #div-column {
		width: 100%;
	}

	.div-share-list .fa {
		margin-top: 0px!important;
		line-height: 0;
	}

	.div-share-list .li-document-share {
		margin-right: 10px!important;
	}

	#div-detail-documents #div-column select,#div-detail-images #div-column select,#div-detail-videos #div-column select {
		display: none;
	}


	#div-detail-documents #div-itemlist li, #div-detail-videos #div-itemlist li {
		margin-bottom: 3px;
	}
	
	.div-top-right-icons-catalog {
		margin-top: 5px!important;
		margin-right: -5px;
	}

	.div-top-right-icons-collateral {
		margin-top: -20px!important;
		margin-right: -5px;
	}
	#ul-contacts-header .span-text {
		display: none!important;
	}

	#div-email-recipients {
		width: 80%;
	}

	#div-email-to {
		color: #ccc;
		font-weight: bold;
		margin: 0.5em 0.5em 0.5em 0.5em;
		width: 2.5%;
	}

	#btn-share-send {
		padding: 0.3em 0;
	}

	.btn-navigation-100 {
		width: 50px;
	}


	.btn-navigation-140 {
		width: 70px;
	}

	#li-contacts-delete {
		width: 80px!important;
	}

	#arrow-go-previous, #arrow-go-next {
		display: none!important;
	}

	.span-name-text {
		width: 80%;
	}

	#add-to-contact .span-name-text {
		width: 50%!important;
	}


	#ph-div-emaillist {
		display: none;
	}

	#div-detail-documents  #div-itemlist, #div-detail-videos #div-itemlist {
		border: 1px solid #ccc!important;
		width: 98%;
	}

	#div-detail-documents  #div-itemlist .fa, #div-detail-videos #div-itemlist  .fa {
		margin-top: 10px;
	}
	
	#btn-search-share {
		font-size: small;
		padding: 0.5em 0.1em 0.4em 0.4em;
		min-width: 70px;
		max-width: 80px;
	}

	#btn-document {
		width: 110px;
	}

	.btn-collateral-item {
		float: left;
		font-size: small;
		margin-left: 2px;
		padding: 0.75em;
		text-transform: uppercase;
		width: 25%;
	}

	#div-sharestatus-body, .div-status-body {
		border: 1px solid grey;
		min-height: 200px;
		max-height: 330px;
		margin: 5px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	.ph-div-sharestatus-inner-container #div-sharestatus-main {
		height: 140px;
	}
	
	.ph-div-sharestatus-inner-container #div-sharestatus-body, .ph-div-sharestatus-inner-container .div-status-body {
		min-height: 200px;
		max-height: 230px
	}
	
	.ph-div-sharestatus-inner-container .div-date-container {
		padding-top: 0px;
	}

	#div-sharestatus-body .li-item-name {
		width: 38%;
	}

	#div-sharestatus-body #div-column .li-item-email {
		width: 50%;
	}

	#div-sharestatus-body #div-itemlist .li-item-email {
		white-space: nowrap;
		overflow: auto;
	}
	
	.li-subject {
		width: 50%;
	}

	.li-status-main  {
		width: 40%;
	}

	.ul-status-header { 
		height: 50px;
	}

	#div-detail-documents, #div-detail-images, #div-detail-videos {
		height: 370px;
	}

	#input-sharestatus-search {
		width: 50%;
		font-size: 1em;
	}

	.ul-toList, .ul-ccList  {
		display: inline-block;
		width: 95%;
		margin: 5px;
	}

	#txt-contacts-search {
		width: 250px;
	}

	#ul-contacts-header > #li-contacts-cancel {
		margin-right: 7px;
	}

	#li-contacts-btn-search {
		margin-left: 7px;
	}

	#li-contacts-new {
		margin-right: 7px;
	}

	.div-child-text {
		word-wrap: break-word;
		width: 88%;
		max-height: auto!important;
		margin: 5px;
	}

	.spn-parent-span {
		height: auto!important;
		white-space: normal;
		max-width: 250px; 
		padding: 5px;
	}

	.spn-spandiv-close {
		height: 20px;
		width: 7%;
		vertical-align: middle!important;
		font-size: 1.6em!important;
	}

	#ul-share-title .btn-navigation-100 {
		width:100px!important;
	}

	#btn-get-status {
		width: 110px;
	}

	#div-share-status {
		margin-left: 5px;
		float: left;
	}

	.li-video-name .fa-file-video-o {
		display: none;
	}

	body {
		/*font-family: "Helvetica Neue"!important;*/
	}

	.li-doc-name progress {
  		width: 98%;
  		height: 3px;
  		margin-left: 1%;
	}

	.li-doc-name a {
		line-height: 0;
	}



}	

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

	#div-sidepanel {
		height: 86.2%;
	}

	#div-apps {
		margin-top: -25px;
	}

   #div-logo {
    	margin-top: -20px;
    }

   #div-sidepanel #div-itemlist {
		height: 245px;
	}
 
    #div-detail-set #div-itemlist, #div-detail-group #div-itemlist {
     	height: 40%;
    }
    
    .detail-iphone-scroll {
		height: 260px;
	}
    
}
	