/**********************************************************************************
 * File:        GmPriceCommon.css
 * Description: Price Initiate Screen CSS
 * Version:     1.0
 * Author:     	jreddy
 **********************************************************************************/

.browser .portal {
    display: none;
}


/*
#div-search-result-main #ul-search-resultlist::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
*/

#div-search-result-main #ul-search-resultlist {
    -ms-overflow-style: none;
}

.browser .ul-price-group-qty {
    /*    min-height: 100px;*/
    /*    height: 100%;*/
    /*       max-height: 250px;*/
}

.browser #groupId {
    /*    height: auto;*/
    height: 377px;
}

.browser .new-error-show {
    background-color: red!important;
    color: white!important;
}

.browser .new-success-show {
    background-color: green!important;
    color: white!important;
}

.new-error-show {
    background-color: red!important;
    color: white!important;
}

.new-success-show {
    background-color: green!important;
    color: white!important;
}

.browser .li-pricing-initiate {
    display: inline-block;
    width: 700px;
}

.browser .div-price-data {
    margin: 30px 0px 0px 7px;
    height: 540px;
}

.browser #div-price-System {
    height: 540px;
    margin: 30px 10px 2px 10px;
}

.browser .div-price-widget-details {
    height: 540px;
}

.browser .div-price-System-attr {
    width: 250px;
    vertical-align: top;
}

.browser .ul-price-save-btn {
    display: inline-block;
    margin-top: 4px;
    margin-left: 20px;
}

.browser .div-pricing-change {
    width: 75%;
    vertical-align: top;
}

.browser .div-price-weight {
    border: 1px solid #ccc;
    /* border-radius: 3px; */
    display: inline-block;
    width: 220px;
}

.browser .div-price-width {
    width: 235px;
}

.browser .li-pricing-info {
    display: inline-block;
    width: 98%;
    padding: 30px 0px 0px 10px;
}

.browser .div-pricing-info-change {
    margin: 5px 10px 10px 10px;
}

.browser .div-price-initiated-by {
    width: 120px;
}

.browser .div-price-initiated-on {
    width: 100px;
}

.browser .div-price-updated-on {
    width: 96px;
}

.browser .div-price-status-name {
    width: 75px;
}

.browser .div-price-request-reviewed-by {
    display: inline-block;
    width: 99px;
    /* margin-left: 35px;
 margin-right: 29px;*/
}

.browser #div-header {
    height: 0;
}

.browser #div-header-title {
    display: none;
}

.browser #div-sub-header {
    display: none;
}

.browser .div-price-detail-navigation {
    display: none;
}

.browser #li-group-price-trip-wire,
#li-group-price-trip-wire-id {
    width: 110px;
    text-align: right;
}

.browser .div-price-report {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    height: 493px;
    width: 98%;
    margin: 15px 0px 0px 10px;
}

.browser #div-overflow {
    overflow: auto;
    height: 500px;
    -webkit-overflow-scrolling: touch;
}

.browser .fa-information-circle {
    font-size: 2.3em;
    margin-left: -65px;
    margin-top: 1px;
    color: #333;
    cursor: default;
}

.browser #fa-close-alert {
    top: 0px;
    padding: 5px 10px;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    color: white;
}

.browser #btn-price-go-btn {
    background-color: #030303;
    width: 40px;
    padding: 10px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    color: #fff;
    margin-top: -4px;
    cursor: default;
}

.div-price-overlay-content-container {
    max-width: 600px;
    margin: 30px auto;
    margin-top: 15vh;
    position: relative;
}

#div-price-overlay-content-container11 {
    max-width: 700px;
    margin: 30px auto;
    margin-top: 15vh;
    position: relative;
}

.div-price-overlay-content-container > ul {
    background: #fff;
    margin: auto;
}

.modal-body {
    position: relative;
    padding: 10px;
}

.modal-body-priceinfo {
    padding: 0;
}

.gmMarginLeft30p {
    margin-left: 30px;
}

.gmMarginLeft15p {
    margin-left: 15px;
}

.gmWidth77 {
    width: 77%;
}

.line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.approval-color {
    color: green;
}

#price-report-list .hdrcell {
    text-align: center;
}

#price-report-list {
    height: 493px !important;
    width: 998px;
}

#price-report-list .objbox {
    height: 355px !important;
}