.tabpreceptorship {
    border-bottom: 1em solid #3ab9a9;
}

.gmBGpreceptorship {
    background: #3ab9a9;
}

.gmPadLeft50p {
    padding-left: 50px
}

.gmPOSRelative {
    position: relative
}

.host-case-search-item:after {
    position: absolute;
    content: "";
    width: 2px;
    background: #ccc;
    height: 100%;
    right: -17px;
    top: 12px;
}

.gmBorderBottomBlack {
    border-bottom: 1px solid #000
}

.gmBorderwidth2p {
    border-width: 2px
}

.gmTextAreaWidth97 {
    width: 97%
}

.gmPositionRelative {
    position: relative
}

.preceptTypeNfnBx {
    position: absolute;
    left: 33px;
    top: 10px
}

.gmLineHeight18p {
    line-height: 18px
}

.gmLineHeight25p {
    line-height: 25px
}

.gmTxtJustify {
    text-align: justify;
}

.preceptorHostEdit #div-keyword-search input {
    padding-right: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width:235px;
}

.gmText235 {
    width: 235px;
}

.gmText218 {
    width: 218px;
}

.searchInput #div-keyword-search {
    position: relative;
}

#div-crm-module .searchInput #div-common-search-x {
    position: absolute;
    top: 15px;
    right: 5px;
    margin-left: 0;
    left: auto !important;
}



#div-preceptorship-edit-objective li {
    margin: 5px;
}

.credential-primary,
.survey-primary {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#dhtmlx-filter-products {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    right: 208px;
    top: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#dhtmlx-filter-products summary {
    padding: 9px 10px;
    outline: rgb(255, 255, 255);
}

#dhtmlx-filter-products p {
    padding: 0 10px;
}

#dhtmlx-filter-products input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*Host Case Schedule*/

#scheduler-info-content.gmOverFlowH375p,
.gmOverFlowH375p {
    max-height: 375px;
    overflow-y: auto;
}

.gmPSpopupHeading {
    position: relative;
    top: 5px;
    padding-right: 5px;
    background: #eeeeee;
}

.gmHostAttendees {
    position: relative;
}

.gmHostAttendees #lookupHostRequest {
    position: absolute;
    top: 22px;
    right: 0;
}

.popupHostMain {
    z-index: 9999;
}

#divfilter-product{position: relative;padding-top: 10px;}
#divfilter-product input {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
/*
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 5px;
*/
    width: 165px;
    padding: 6px 25px 6px 6px;
    border-radius: 5px;
    box-shadow: 0px 0;
    border: 1px solid #000;
    box-sizing: border-box;
}

#divfilter-product #div-common-search-x {
    position: absolute;
    z-index: 9999;
    margin-top: 13px;
    top: 6px !important;
    left: 171px !important;

}

/*
#divfilter-product #div-search-result-main {
    top: 36px !important;
    left: 0px !important;
    width: 250px !important;
    z-index: 9999 !important;
    border: 0 !important;
}
*/
#divfilter-product #div-search-result-main {top: 46px !important;bottom: inherit !important;left: 0;left: 0 !important;}
#divfilter-product #div-search-result-main ul li {
    width: auto;float: none;
}

#rpt-legend-detail-inr {
    background: #fff;
    margin: 0px 5px 0px 0px;
    border: 1px solid rgb(205, 207, 207);
    padding: 5px;
    width: 350px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#div-pshostschedule .dhx_cal_today_button {
    right: 113px;
}

#div-pshostschedule #filters_wrapper summary,
#div-pshostschedule #dhtmlx-filter-division summary {
    padding: 8px;
}

#div-pshostschedule #filters_wrapper {
    left: 278px;
}

#div-pshostschedule #dhtmlx-filter-division {
    right: 295px;
}

#div-pshostschedule .dhx_cal_tab_standalone {
    left: 202px !important;
}

/*END Host Case Schedule*/

/*PS Criteria*/

.pSDropdown {
    position: absolute;
    background: #ccc;
    margin-top: 20px;
    display: none;
    z-index: 1;
    width: 250px;
    right: 0;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 2px 2px 0 rgba(218, 218, 218, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.pSDropdown li {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.pSDropdown li:hover {
    background: #3ab9a9;
    color: #FFF;
}


.pSDropdown::before {
    position: absolute;
    right: 16%;
    margin: 1px 0 0 -50px;
    content: "";
    width: 0px;
    top: -10px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ccc transparent;
}

.gmReportSec {
    border: 1px solid #555;
    width: 31.5%;
    padding: 10px 1%;
    margin: 5px 1%;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: top;
}

.gmReportSec:first-child {
    margin-left: 0;
}

.gmReportSec:last-child {
    margin-right: 0;
}

.gmPadTB15p {
    padding: 15px 0;
}

.gmFont25em {
    font-size: 2.5em;
}

/*END PS Criteria*/

#div-preceptorHostInfo {
    width: 85%;
    margin: auto;
}

#div-preceptorHostInfo .gmSectionCaption {
    min-width: 200px;
    padding-right: 15px;
}

.gmWidth210p {
    width: 210px;
}

#div-preceptorship-request .gmSectionCaption,
#div-preceptorship-admin .gmSectionCaption {
    width: 180px
}

#preceptorTypeNfn {
    color: #2f3a48;
    position: relative;
    top: 7px;
}

#div-preceptorship-requestedit .gmSectionCaption,
#div-preceptorship-admin-edit .gmSectionCaption {
    width: 180px
}

#div-preceptorship-admin textarea {
    width: 212px;
}

#div-preceptorship-admin select {
    width: 227px;
}

#div-preceptorship-admin-edit textarea {
    width: 212px;
}

#div-preceptorship-admin-edit select {
    width: 227px;
}

.gmpadding15 {
    padding: 15px;
}

#preceptorship-surgeon-search input,
#preceptorship-products input,
#preceptorship-field-sales input,
#preceptorship-procedure input {
    width: 210px
}

.gmPadding7x0p {
    padding: 7px 0
}

#preceptorship-actnotes,
#preceptorship-clobj {
    width: 494px
}

#scheduler-legend-info {
    font-size: 16px;
    background: #fff;
    margin-top: 25px;
}

.txtOrange {
    color: #f57403;
}

.txtBlue {
    color: #bdbdff;
}

.txtGreen {
    color: #8ce88c;
}

.textslateblue {
    color: #ffd700;
}

.txtSkyBlue {
    color: #40C4FF;
}

.txtgreenyellow {
    color: #ADFF2F;
}

.txtcoral {
    color: #cfb485;
}

.txtpurple {
    color: #ffafff;
}

.txtLinearG {
    background: repeating-linear-gradient(135deg, #fff 9px, #fff 11px, #f57403 10px, #f57403 15px);
}

#legend-icon-req {
    width: 3px;
    height: 13px;
    color: transparent;
    margin: 0px 10px 0 0;
    border-radius: 4px;
}

#workflw,
#pcptyp , #regionSelect, #div-preceptorship-request #admin-status, #atndtyp {
    width: 228px
}

.gmImgResponsive {
    max-width: 100%;
    height: auto
}

.validateError {
    border: 1px solid #f20 !important;
}

#div-preceptorCaseRqstInfo ul li,
#div-preceptorCaseAdminInfo ul li {
    padding-right: 15px;
}

#div-preceptorCaseRqstInfo ul li {
    width: 200px
}

#div-preceptorCaseAdminInfo ul li {
    width: 220px
}

#div-preceptorCaseRqstInfo .gmWidthAuto,
#div-preceptorCaseAdminInfo .gmWidthAuto {
    width: auto
}

#div-preceptorCaseRqstInfo .gmText500 {
    width: 500px
}

#div-crm-overlay-content-container.popupHostList {
    max-width: 900px;
}

#gridPreceptorRpt .img-loader-spinner {
    margin-top: 0;
}

.gmLookupBtn {
    background: #3AB9A9;
}

#input-preceptorship-title {
    min-width: 735px;
    max-width: 735px;
}

#div-preceptorship-edit-objective li {
    margin: 5px;
}

#li-preceptorship-title {
    max-width: 650px;
}

#ul-act-title #li-title-set-btn {
    margin: 0 !important;
}

.surgActivityList.caserequest .acttitle,
.surgActivityList.caserequest .acttitle a,
.surgActivityList.caserequest .fa,
.surgActivityList.preceptorship .acttitle,
.surgActivityList.preceptorship .acttitle a,
.surgActivityList.preceptorship .fa {
    color: #3ab9a9;
}

.surgActivityList.caserequest .surg-globus-activty,
.surgActivityList.preceptorship .surg-globus-activty {
    border-color: #3ab9a9;
}

.surgActivityList .fa.gmFont24px {
    font-size: 24px;
}

.gmPSfa2 {
    margin: -40px 0 0px 0px;
}

.surgActivityList.caserequest .fa.gmPSTxtColor,
.surgActivityList.preceptorship .fa.gmPSTxtColor {
    color: #555;
}

.display-inline {
    display: inline;
}

.dhtmlx_modal_box{
    font-family: SourceSansPro, "Trebuchet MS";
    border:0px;
    width:500px;
}
.dhtmlx-alert .dhtmlx_popup_title, .dhtmlx-confirm .dhtmlx_popup_title{
        color: rgb(255, 255, 255);
    background: #036;
    
}

.dhtmlx_popup_button.dhtmlx_ok_button div{
        background: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
}
.dhtmlx_popup_button {
    font-size: 16px;
}

.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
    color: rgb(255, 255, 255);
    background: rgb(229, 57, 53);
}

.dhtmlx_popup_text {
    font-size: 16px;
}

.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
    color: rgb(255, 255, 255);
    background: rgb(229, 57, 53);
}
#scheduler_here .dhx_cal_navline{z-index: 99 !important}
.popupHostList .modal-body{min-height: 70px;}
.dhx_year_tooltip{z-index: 9999 !important}

#surgeon-cv-link.active span{background-color: green;}
#surgeon-cv-link.inactive span{background-color: gray;}
div.gridbox table.row20px tr td.not_m_line{
			white-space:unset; overflow:hidden;
		}
#surgeon-cv-link.active{background: none !important;}
.new-surgeon-create #surgeon-cv-link img{padding-top: 0}
.a-file-open{display: inline-block}

#preceptorship-hospital-account.category-btn {height: 43px;box-sizing: border-box; width: 228px; margin-left: 3px;}
#preceptorship-new-account-search input {height: 43px;box-sizing: border-box; width: 228px; margin-left: 3px;}
#actnmlist {width: 228px; padding-right: 20px;}
.cr-form-cv .lb-spn-file-open{vertical-align: top;padding-top: 12px;display: inline-block;}
.cr-form-cv .spn-file-nm{height: 42px;padding-top: 5px;box-sizing: border-box;padding-left: 5px;padding-top: 10px;}
.gmMinWidth80p { min-width: 80px; }
.moreFilterLists{background: #FFFFFF;
    position: absolute;
    left: 10%;
    width: 80%;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
}
.moreFilterHeaders{text-align: center;}
.mFilterheaderLinks li{display: inline-block; padding: 5px 10px; border: 1px solid #ccc; margin: 0 10px;}
.filterDone{  border: 1px solid rgb(204, 204, 204);
    display: inline-block;
    padding: 5px 10px;
    background: rgb(10, 45, 83);
    color: rgb(255, 255, 255); float: right;}
.quickref{font-size: 15px;
    line-height: 18px;
    font-family: 'Open Sans Regular',sans-serif;
    color: rgb(29, 134, 255);}
.quickref:hover{text-decoration: underline;}
.salesContentHeader{    font-size: 15px;
    line-height: 18px;
    color: rgb(29, 134, 255);
    font-weight: bold;
    font-family: 'Open Sans Regular',sans-serif;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 8px 5px;}
.gmhcadminBtn{padding: 7px 15px; margin-top: 10px;}
.liSelFilter{ border: 1px solid rgb(153, 153, 153);
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    display: inline-block;
    min-width: 80px;
    margin: 5px 5px 0px 5px;
    border-radius: 3px 0px 0px 3px;}
.deleteFilter{    padding: 2px 5px;
    background: rgb(204, 204, 204); float: right; font-size: 15px;}
.filterTxt{    display: inline-block;
    padding: 3px;
    font-size: 12px;}
.filterOptions, .show_filters{background: #FFF;}
.filterOptions{text-align: center;}
.clearAllFilter{background: #444;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    margin: 2px 0; border-radius: 5px;}
.more_filter{    background: rgb(0, 128, 64);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    margin: 2px 0; border-radius: 5px;}
.divFilter ul li{width: 50%; float: left; margin-bottom: 5px;}
.divFilter{padding-top: 15px;}
.filterLinks.activeTab{background: #333;color: #fff;}
.filterpop-close{overflow: hidden;margin-bottom: 5px;}
.show_filters .img-loader-spinner{margin-top: 15px;}
.show_filters  #loader-text{display: none;}
#attndHostSurgDetails div li{min-width: 84px;}
#attndSurgDetails div li{min-width: 84px;}
.PSWebinarFL {margin-left: 190px;}
.PSWebinarFL li{display: flex; align-items: center;}
.PSWebinarFL li span{padding-left: 5px;}
#webinarfl, .divFilter ul li input[type="checkbox"] {border-radius: 0;}
.show_filters{display: flex; flex-wrap: wrap; align-items: center;padding: 1px 10px 3px;}