/*
	Sets the style of the image slider wrapper <div> to be centered horizontally and vertically.
	It also sets its default dimensions and the overflowing hidden (to fix the IE image positioning bug).
*/
#threesixty {
	position:fixed;
	overflow:hidden;
	width:80%;
	height:80%;
	margin: auto;
	left: 10%;
	top: 10%;
}

#div-threesixty-viewer-parent {
	position: absolute;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#threesixty img {
		top:10%;
		width:100%;
	}

	/*
	Sets the style of the visible current frame of the image slider animation
	*/
	.current-image {
		visibility:visible;
		width:100%;
	}

}

@media screen and (min-width: 1024px) {
	#threesixty ol img {
		top: 0;
		left: 10%;
		width:80%;
	}

	.current-image {
		visibility:visible;
		width:80%;
	}

}
/*
	Defines the criteria of the max. 480px wide mobiles' landscape mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:landscape), screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape) {

	#threesixty  img {
		width:100%;
		top: 10%;
	}

	.current-image {
		visibility:visible;
		width:100%;
	}
}
/*
	Defines the criteria of the max. 480px wide mobiles' portrait mode and sets the image slider dimensions and centering according to it.
*/
@media	screen and (max-device-width: 480px) and (orientation:portrait), screen and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait) {

	#threesixty  img {
		width:100%;
	}

	.current-image {
		visibility:visible;
		width:100%;
		top: 10%;
	}
}
/*
	Makes the image slider invisible by default
*/
#threesixty_images {
	display: none;
}
/*
	Sets every image in the slider to be absolute positioned and dynamically sized.
*/
#threesixty ol img {
	position:absolute;
	height:auto;
}

/*
	Sets the style of the visible "previous" frame of the image slider animation
*/
.previous-image {
	visibility:hidden;
	width:0;
}
/*
	Sets the dimensions of the CanvasLoader placeholder <div>, it also centeres it horizontally and vertically inside the wrapper and makes it invisible by default
*/
#spinner {
	position:absolute;
	left:50%;
	top:50%;
	width:90px;
	height:90px;
	margin-left:-45px;
	margin-top:-50px;
	display:none;
}
/*
	Sets the style of the percentage <span> of the preloader by setting its dimensions and centering it horizontally and vertically 
*/
#spinner span {
	position:absolute;
	top:50%;
	width:100%;
	color:#333;
	font:0.8em Arial, Verdana, sans;
	text-align:center;
	line-height:0.6em;
	margin-top:-0.3em;
}


#div-threesixty-viewer {
	display: none;
	width: 100%;
	height: 100%;
}
