body{
    margin-left:20px;
    margin-top: 10px;
} 

#curranalyPartDtls, #currloadPartDtls ,#currStatFilterDtls{
    display: inline-block;
    margin: 0px 10px 0px 0px;
    vertical-align: top;
}

#curranalyPartDtls div, #currloadPartDtls div ,#currStatFilterDtls div{
	display: inline-block;
	border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1px 3px 1px 3px;
    background-color: #EEE;
    box-shadow: 2px 2px 1px #030303;
    font-size: 11px;
}

#curranalyPartDtls div {
	background-color: #fff8e7;
}

#currloadPartDtls div {
	background-color: #e1effa;
}
#currStatFilterDtls div {
	background-color:  #fff5cc;
}
li {
	/* style='list-style-type: none; vertical-align: bottom;' */
	list-style-type: none;
	vertical-align: bottom;
	padding-bottom: 0.5%;
	padding-top: 0.5%;
}
.hdrcell select {
	font-weight: normal;
}

.hdrcell input {
	font-weight: normal;
}

