<ul id="div-merc-tabs">
    <li id="div-merc-program" class="merc-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Program Detail<i class="fa fa-lg iPhone  gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
    <li id="div-merc-surgeons" class="merc-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Surgeon Details<i class="fa fa-lg iPhone  gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
    <li id="div-merc-pending-surgeons" class="merc-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Pending Surgeon<i class="fa fa-lg iPhone  gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
    <li id="div-merc-comments" class="merc-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Comments<i class="fa fa-lg iPhone  gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
</ul>
<div class="gmLineSpace iPad"></div>
<div id="div-merc-details-main">
    <div class="div-view">
        <div id="div-merc-view-program" class="merc-content">
            <ul id="ul-merc-detail-phone-content" class="iPhone gmTextAll">
                <ul class="gmSection">
                    <li class="gmSectionListItem gmTextCenter gmText50 gmAlignHorizontal gmFontBold fa-lg">#</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{actid}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmTextCenter gmText50 gmFontBold gmAlignHorizontal">TYPE</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" data-acttypeid="{{acttype}}">{{acttypenm}}</li>
                </ul>
                <ul class="gmSection">
                    <li class=" iPhone gmAlignHorizontal gmVerticalTop  gmMediaTextCenter"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{actnm}}</li>
                </ul>
                <ul class="gmSection">

                    <li class="gmSectionListItem gmTextCenter gmText50 gmAlignHorizontal"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal"> {{formatDate actstartdate}} - {{formatDate actenddate}} </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> ADDRESS </li>
                    <li class=" iPhone gmAlignHorizontal gmVerticalTop  gmMediaTextCenter"><i class="fa fa-map-marker gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmPad50 gmMediaWidth94 gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmVerticalTop gmPointCursor li-addres-content">
                        {{#if arrgmcrmaddressvo}} {{#each arrgmcrmaddressvo}}
                        <ul class="gmAlignVertical gmMarginTop5p">
                            <li class="gmMediaMarginBottom5p">{{add1}}</li>
                            <li class="gmMediaMarginBottom5p">{{add2}}</li>
                            <li class="gmMediaMarginBottom5p">{{city}}</li>
                            <li class="gmMediaMarginBottom5p">{{statenm}} {{zip}}</li>
                            <li class="gmMediaMarginBottom5p">{{countrynm}}</li>
                        </ul>

                        <input id="haddress" type="hidden" value="{{add1}}"> {{/each}} {{else}}
                        <div class="gmSectionValue gmAlignHorizontal">No Address Data Found</div>
                        {{/if}}
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        DOCUMENTS
                    </li>
                    <li class="gmMarginLeft10p gmSectionValue gmAlignHorizontal upload-files-list gmTextTop">
                    </li>
                </ul>

            </ul>

            <div class="gmMediaDisplayNone gmDisplayWidth800p">
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CONTROL #</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{actid}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TYPE</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" data-acttypeid="{{acttype}}">{{acttypenm}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">PROGRAM TITLE</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{actnm}}</li>
                </ul>
                <ul class="gmSection">

                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">FROM</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{formatDate actstartdate}}</li>

                    <li class="gmSectionListItem gmMinWidth50p gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TO</li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{formatDate actenddate}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> ADDRESS </li>
                    <li class="gmSectionListItem gmPad50 gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmVerticalTop gmPointCursor li-addres-content">
                        {{#if arrgmcrmaddressvo}} {{#each arrgmcrmaddressvo}}
                        <ul class="gmAlignVertical gmMarginTop5p">
                            <li>{{add1}}</li>
                            <li>{{add2}}</li>
                            <li>{{city}} {{statenm}} {{zip}}</li>
                            <li>{{countrynm}}</li>
                        </ul>

                        <input id="haddress" type="hidden" value="{{add1}}"> {{/each}} {{else}}
                        <div class="gmSectionValue gmAlignHorizontal">No Address Data Found</div>
                        {{/if}}
                    </li>
                </ul>
                                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        DOCUMENTS
                    </li>
                    <li class="gmMarginLeft10p gmSectionValue gmAlignHorizontal upload-files-list gmTextTop">
                    </li>
                </ul>
            </div>
        </div>
        <div id="div-merc-view-surgeons" class="merc-content hide">
            {{#if arrgmactivitypartyvo}}
            <ul class="gmSection">
                <div class="merc-surgeon-header gmSection gmTextAll gmMediaDisplayNone gmBorderBottomLGrey">
                    <li class="gmListColData gmText200 gmFontmerc"> Surgeon Name </li>
                    <li class="gmListColData gmText125 gmFontmerc"> Role </li>
                    <li class="gmListColData gmText100 gmFontmerc"> Document </li>
                    <li class="gmListColData gmText150 gmFontmerc"> Consultant Status </li>
                    <li class="gmListColData gmText125 gmFontmerc"> CRF Status </li>
                </div>
                {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                <ul class="ul-surgeon-list gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{partyid}}">
                    <li class="gmListColData gmText200"><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
                    </li>
                    <li id="li-party-role" class="gmListColData gmText125">
                        <div class="div-select-type-roleid gmMargin2p" data-roleid="{{roleid}}">{{rolenm}}</div>
                    </li>
                    <li class="gmListColData gmText100 li-surgeon-crf-doc" partyid="{{partyid}}">
                        <a class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"> CRF</a>
                        <span class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLink hide">CRF</span>
                    </li>
                    <li id="li-party-status" class="gmListColData gmText150">
                        <div class="div-select-type-constatus" data-statusid="{{statusid}}">{{statusnm}}</div>
                    </li>
                    <li class="gmListColData gmText125 surgeon-crf-status" data-partyid="{{partyid}}" VO="arrgmactivitypartyvo">

                    </li>
                </ul>
                <ul class="ul-merc-surgeon-list-details iPhone gmMediaWidth100 gmBorderAsh gmMarginBottom10p gmBorderRadius5p">
                    <div id="div-merc-surgeon-list-data" class="gmPad50 gmBGLGrey gmBorderRadius5p ">

                        <li class="gmAlignHorizontal gmMediaWidth65 li-mobile-edit-toogle">
                            <span class="gmFontBold gmAlignVertical" id="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}">{{partynm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-roleid="{{roleid}}">{{rolenm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-statusid="{{statusid}}">{{statusnm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status" data-statusid="{{statusid}}"></span>
                        </li>

                        <li class="gmAlignHorizontal gmMediaWidth34">
                            <a class="OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x  span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span></a>
                            <span class="gmAlignHorizontal OfflineLink hide"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span>
                            <span class="gmAlignHorizontal"><a class="gmAlignHorizontal gmPad10p gmFontBlack" href="#crm/surgeon/id/{{partyid}}"><i class="fa fa-user fa-2x gmFontBlack" aria-hidden="true"></i></a></span>
                        </li>

                    </div>
                </ul>
                {{/iffalse}} {{/iftrue}} {{/each}}
            </ul>
            {{/if}}
        </div>
        <input id="merc-select-deptid" type="hidden" VO="arrgmcrmlogvo" name="logtypeid" class="hdnInput" data-logid="">
        <input id="merc-select-deptnm" type="hidden" VO="arrgmcrmlogvo" name="logtype" class="hdnInput" data-logid="">
        <div id="div-merc-view-comments" class="merc-content">
            <ul class="gmSection">
                <li class="gmSectionListItem gmSectionValue gmAlignVertical">
                    <div id="merc-comments-content">

                        <select class="select-comments-logtype" data-value="{{logtypeid}}" style="display: none" value="4000893">
                            <option data-refid="" data-logid="" value="4000893" data-logtype=""></option>
                        </select>
                        <textarea id="merc-comments-textarea" class="gmInputText gmTextArea" data-logid=""></textarea>
                        <li class="comments-buttons gmAlignHorizontal gmMediaWidth100">
                            <div class="comments-cancel gmBGDarkerGrey gmAlignHorizontal gmBtn gmFontWhite gmFloatRight gmMediaMarginBottom10p ">Cancel</div>
                            <div class="comments-save gmBGDarkerGrey gmAlignHorizontal gmBtn gmFontWhite gmFloatRight gmMarginRight5p">Save</div>
                        </li>

                        {{#if arrgmcrmlogvo}} {{#each arrgmcrmlogvo}} {{#iffalse voidfl 'Y'}}
                        <div class="gmBorderLightGrey gmMarginTop10p gmMarginBottom10p gmSectionListItem comments-list" logid="{{logid}}" logtypeid="{{logtypeid}}" logtype="{{logtype}}">
                            <ul class="gmSection gmBGGrey commentHead div-merc-feedback-comments-list-header">
                                <li class="gmSectionListItem comments-header-data-left gmAlignHorizontal gmFloatLeft gmMarginTop10p gmMarginBottom10p">
                                    <div class="comments-updatedby gmAlignHorizontal" updatedbyid="{{updatedbyid}}">{{updatedby}}</div>
                                </li>
                                <li class="gmSectionListItem comments-header-data-right gmFloatRight comments-header-data-activity">
                                    <div class="gmAlignHorizontal comments-data-right">Last Updated on </div>
                                    <div class="comments-header-date gmPadRight10p gmAlignHorizontal comments-data-right"> {{formatDate updateddate}} </div>
                                    <i class="fa fa-pencil comments-edit gmFontBlack gmFont15em gmVerticalMiddle" indexvalue="{{@index}}"></i>
                                    <i class="fa fa-trash comments-delete gmFontBlack gmFont15em gmVerticalMiddle" indexvalue="{{@index}}"></i>
                                </li>
                            </ul>
                            <div class="comments-data-area gmCommentArea gmAlignHorizontal">{{logcomment}}</div>
                        </div>
                        {{/iffalse}}{{/each}} {{else}}
                        <div class="gmSectionValue gmAlignHorizontal gmTextAll gmTextCenter gmPaddingTop10p">No Comments Data Found</div>{{/if}}
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div class="div-edit">
        <input id="merc-hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
        <input id="merc-hpartytype" type="hidden" VO="arrgmactivitypartyvo" name="partytype" class="hdnInput" partyid="">
        <input id="merc-hpartyrole" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
        <div id="div-merc-edit-program" class="merc-content">
            <div class="">
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        CONTROL #
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 li-ctrl-numb">

                        <span id="span-activity-ctrl-num">{{actid}}</span>

                        <input type="text" id="activity-controlid-merc" class="gmInputText gmWidth180m" placeholder="YEAR-GM-MERC-XXX" value="{{actid}}" name="actid" validate="required" message="Please provide Control No">

                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold li-merc-edit-type">
                        TYPE
                    </li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                        <label class="selectbox-icon">
                            <select id="acttype" class="gmInputText gmWidth180m gmMediaWidth100" validate="required" message="Please select Type">
                                <option value="" name="acttype">Select</option>
                                <option value="105228" name="acttype">Courses</option>
                                <option value="4000925" name="acttype">Preceptorship</option>
                                <option value="105229" name="acttype">Web Training</option>
                            </select>
                        </label>
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        PROGRAM TITLE
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                        <input type="text" id="input-merc-title" validate="required" message="Please enter the Title" class="gmInputText gmWidth180m" data-locid="{{attrid}}" value="{{actnm}}" name="actnm">
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">
                        FROM
                    </li>
                    <li class="iPhone pv-edit-mble-icons li-merc-edit-date-moble">
                        <div class="div-btn-header  gmFloatLeft ">
                            <div class="div-lbl gmFontBlack">From</div>
                            <div class="div-img"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                        </div>
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth80 gmMediaVerticalTop">
                        <input type="date" id="merc-actstartdate" class="gmInputText gmWidth180m" value="{{actstartdate}}" name="actstartdate" validate="required" message="Please provide Start Date">
                    </li>
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold li-merc-edit-to gmWidth100m iPad">
                        TO
                    </li>
                    <li class="iPhone pv-edit-mble-icons li-merc-edit-date-moble">
                        <div class="div-btn-header  gmFloatLeft iPhone div-tradeshow-detail-calender">
                            <div class="div-lbl gmFontBlack">To</div>
                            <div class="div-img"><i class="fa fa-calendar fa-todate-lead fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                        </div>
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth80 gmMediaVerticalTop">
                        <input type="date" id="merc-actenddate" class="gmInputText gmWidth180m" value="{{actenddate}}" name="actenddate" validate="required" message="Please provide End Date">
                    </li>

                </ul>

                <ul class="gmSection">
                    <li class="iPad gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        ADDRESS
                    </li>
                    <li class=" iPhone gmAlignHorizontal li-address-edit-fa  gmVerticalTop  gmMediaTextCenter"><i class="fa fa-map-marker gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li id="merc-select-address" class="gmSectionListItem gmSectionValue gmMediaWidth95 gmPad50 gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmVerticalTop gmPointCursor li-addres-content">
                        {{#if arrgmcrmaddressvo}} {{#each arrgmcrmaddressvo}}
                        <ul class="gmAlignVertical gmMarginTop5p">
                            <li>{{add1}}</li>
                            <li>{{add2}}</li>
                            <li>{{city}} {{statenm}} {{zip}}</li>
                            <li>{{countrynm}}</li>
                        </ul>

                        <input id="haddress" type="hidden" value="{{add1}}"> {{/each}} {{else}}
                        <div class="gmSectionValue gmAlignHorizontal">Click to select address</div>
                        {{/if}}
                        <input id="address-validation" type="hidden" validate="required" message="Please Enter the Address">
                    </li>

                </ul>
                 <ul class="gmSection file-upload-content">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmVerticalMiddle"> DOCUMENTS </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle">
                <div id = "div-pv-fileupld" class = "gmBtn gmFontWhite gmBGDarkerGrey div-multi-fileupld-btn">Upload Files</div>
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle upload-files-list upload-files-list-edit">
            </li>
        </ul>
                <ul class="gmSection">
                    <div class="gmAlignHorizontal gmVerticalTop gmMediaWidth100">
                        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">SURGEON</li>
                        <li id="merc-surgeon-search" class="gmSectionValue gmAlignHorizontal gmMediaWidth100 gmSectionListItem" data-part validate="search" validate-key="data-part" VO="arrgmactivitypartyvo"></li>
                        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 new-surgeon-create hide">
                            <div id="create-surgeon" class="gmBGsurgeon gmBtn gmFontWhite gmAlignHorizontal gmMediaWidth95">New Surgeon</div>
                        </li>
                        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-actvty-surgeon">
                            {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                            <div class='span-extend' data-actpartyid="{{actpartyid}}" data-partyid="{{partyid}}" data-roleid="{{roleid}}">
                                <span class='extend-text'>{{partynm}}</span>
                                <span class='remove-participants extend-close'> x</span></div>
                            {{/iffalse}}{{/iftrue}} {{/each}} {{/if}}
                        </li>
                    </div>
                </ul>

            </div>
        </div>

        <div id="div-merc-edit-surgeons" class="merc-content hide">
            {{#if arrgmactivitypartyvo}}
            <ul class="gmSection">
                <div class="merc-surgeon-header gmSection gmTextAll gmMediaDisplayNone gmBorderBottomLGrey">
                    <li class="gmListColData gmText200 gmFontmerc"> Surgeon Name </li>
                    <li class="gmListColData gmText125 gmFontmerc li-pv-edit-role"> Role </li>
                    <li class="gmListColData gmText100 gmFontmerc li-pv-edit-status"> Document </li>
                    <li class="gmListColData gmText150 gmFontmerc pv-edit-cstatus"> Consultant Status </li>
                    <li class="gmListColData gmText125 gmFontmerc li-pv-edit-status"> CRF Status </li>
                </div>
                {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                <ul class="ul-surgeon-list gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{partyid}}">
                    <li class="gmListColData gmText200" data-partyid="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}"><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
                        <input id="actpartyid" type="hidden" name="actpartyid" value="{{actpartyid}}" VO="arrgmactivitypartyvo" class="hdInput">
                        <input id="partyid" type="hidden" name="partyid" value="{{partyid}}" VO="arrgmactivitypartyvo" class="hdInput">
                        <input id="partynm" type="hidden" name="partynm" value="{{partynm}}" VO="arrgmactivitypartyvo" class="hdInput">
                    </li>

                    <li id="li-party-role" class="gmListColData gmText125 li-pv-edit-role">
                        <label class="selectbox-icon">
                            <select class="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                                <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                                <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                                <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
                            </select>
                        </label>
                    </li>

                    <li class="gmListColData gmText100 li-surgeon-crf-doc li-actvty-edit-sur " partyid="{{partyid}}">
                        <a class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"> CRF</a>
                        <span class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLink hide">CRF</span>
                    </li>

                    <li id="li-party-status" class="gmListColData gmText150">
                        <label class="selectbox-icon">
                            <select class="actpartystatus-{{partyid}} select-type-constatus gmInputText gmText150" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                                <option value="">Select</option>
                                <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                                <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                                <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                                <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                                <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                                <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                                <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                                <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
                            </select>
                        </label>
                    </li>
                    <li class="gmListColData gmText125 surgeon-crf-status li-pv-edit-status" data-partyid="{{partyid}}" VO="arrgmactivitypartyvo">

                    </li>
                    <i id="fa-surgeon-detail-delete" class="fa fa-trash sur-rmv-icon gmFontBlack gmBtnLarge" name="voidfl" VO="arrgmactivitypartyvo" data-partyid="{{partyid}}" value="Y"></i>
                </ul>
                <ul class="ul-merc-surgeon-list-details iPhone gmMediaWidth100 gmBorderAsh gmMarginBottom10p gmBorderRadius5p">
                    <div id="div-merc-surgeon-list-data" class="gmPad50 gmBGLGrey gmBorderRadius5p ">

                        <li class="gmAlignHorizontal gmMediaWidth65 li-mobile-edit-toogle">
                            <span class="gmFontBold gmAlignVertical" id="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}">{{partynm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-roleid="{{roleid}}">{{rolenm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-statusid="{{statusid}}">{{statusnm}}</span>
                            <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status" data-statusid="{{statusid}}"></span>
                        </li>

                        <li class="gmAlignHorizontal gmMediaWidth34">
                            <a class="OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span></a>
                            <span class="gmAlignHorizontal OfflineLink hide"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span>
                            <span class="gmAlignHorizontal"><a class="gmAlignHorizontal gmPad10p gmFontBlack" href="#crm/surgeon/id/{{partyid}}"><i class="fa fa-user fa-2x gmFontBlack" aria-hidden="true"></i></a></span>
                        </li>

                    </div>
                    <div class="div-surgeon-list-sub-data gmMediaDisplayNone">
                        <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                            Role
                        </li>
                        <li id="li-party-role" class="gmListColData gmText125">
                            <label class="selectbox-icon">
                                <select class="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                                    <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                                    <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                                    <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
                                </select>
                            </label>
                        </li>
                        <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                            Consultant Status
                        </li>
                        <li id="li-party-status" class="gmListColData gmText125">
                            <label class="selectbox-icon">
                                <select class="actpartystatus-{{partyid}} select-type-constatus gmInputText gmText150" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                                    <option value="">Select</option>
                                    <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                                    <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                                    <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                                    <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                                    <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                                    <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                                    <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                                    <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
                                </select>
                            </label>
                        </li>

                    </div>
                </ul>
                {{/iffalse}} {{/iftrue}} {{/each}}
            </ul>
            {{/if}}
        </div>
        <div id="merc-pending-surgeons" class="merc-content hide">
            {{#if arrgmactivityattrvo}}
            <ul class="gmSection">
                <div class="merc-surgeon-header gmSection gmTextAll gmMediaDisplayNone gmBorderBottomLGrey">
                    <li class="gmListColData gmText200 gmFontmerc"> Surgeon Name </li>
                    <li class="gmListColData gmText200 gmFontmerc gmTextCenter"> Status </li>
                </div>
                <div>
                    <li class="gmAlignHorizontal gmText200 gmFontmerc"></li>
                    
                    <li id="li-multiple-select-merc" class="gmAlignHorizontal">
                        <div id="lbl-acceptAll" class="gmAlignHorizontal gmMarginRight10p"><input type="checkbox" id="acceptAll-btn" class="merc-party-checkbox"> Accept All</div>
                        <div id="lbl-rejectAll" class="gmAlignHorizontal"><input type="checkbox" id="rejectAll-btn" class="merc-party-checkbox">Reject All</div>
                    </li>
                    
                {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105589'}} {{#iffalse voidfl 'Y'}}
                <ul id="ul-pending-surgeon" class="gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{attrval}}">
                    <li class="gmAlignHorizontal gmText200"><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{attrval}}">{{attrnm}}</a>
                    </li>
                    <li class="gmAlignHorizontal">
                        <div id="lbl-accept" class="gmAlignHorizontal" style="margin-right: 35px;"><input type="checkbox" id="accept-btn" class="accept-btn merc-party-checkbox" data-partyid="{{attrval}}" data-attrid="{{attrid}}" data-partynm="{{attrnm}}" data-checkedfl="{{checkedfl}}">Accept</div>
                        <div id="lbl-reject" class="gmAlignHorizontal" ><input type="checkbox" id="reject-btn" class="reject-btn merc-party-checkbox" data-partyid="{{attrval}}" data-attrid="{{attrid}}" data-partynm="{{attrnm}}" data-checkedfl="{{checkedfl}}">Reject</div>
                    </li>
                </ul>
                {{/iffalse}} {{/iftrue}} {{/each}}
                    </div>
            </ul>
            {{/if}}
        </div>
    </div>
</div>