{{#each this}}
{{#iffalse voidfl 'Y'}}
<div class="gmBorderLightGrey gmSectionListItem comments-list" logid="{{logid}}" logtypeid="{{logtypeid}}" logtype="{{logtype}}">
    <ul class="gmSection gmBGGrey commentHead div-merc-feedback-comments-list-header">
        <li class="gmSectionListItem comments-header-data-left gmAlignHorizontal gmFloatLeft gmMarginTop10p gmMarginBottom10p">
            <span class="comments-updatedby gmAlignHorizontal" updatedbyid="{{updatedbyid}}"> {{#iffalse logtype ""}} {{logtype}} - {{/iffalse}} {{updatedby}}</span>
        </li>
        <li class="gmSectionListItem-comments-header-data-right gmFloatRight gmMargin10p">
            <span class="gmAlignHorizontal">Last Updated on </span>
            <span class="comments-header-date gmPadRight10p"> {{updateddate}} </span>
            <i class="fa fa-pencil comments-edit gmFontBlack gmPadRight10p" indexvalue="{{@index}}"></i>
            <i class="fa fa-trash comments-delete gmFontBlack gmPadRight10p" indexvalue="{{@index}}"></i>
        </li>
    </ul>
    <div class="comments-data-area gmCommentArea gmAlignHorizontal">{{logcomment}}</div>
</div>
{{/iffalse}}{{/each}}