{{#each this}}
{{#iftrue partytype '7000'}}
{{#iffalse voidfl 'Y'}}
	<ul class="ul-surgeon-list gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{partyid}}">
		<li class="gmListColData gmText200" data-partyid="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}"><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
            <input id="actpartyid" type="hidden" name="actpartyid" value="{{actpartyid}}" VO="arrgmactivitypartyvo" class="hdInput">
            <input id="partyid" type="hidden" name="partyid" value="{{partyid}}" VO="arrgmactivitypartyvo" class="hdInput">
            <input id="partynm" type="hidden" name="partynm" value="{{partynm}}" VO="arrgmactivitypartyvo" class="hdInput">
        </li>
        
		<li id="li-party-role" class="gmListColData gmText125">
			<div class="div-select-type-roleid gmMargin2p" data-roleid="{{roleid}}">{{rolenm}}</div>
            <label class="selectbox-icon">
            <select class ="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
			</select>
            </label>
		</li>

		<li class="gmListColData gmText100 li-surgeon-crf-doc" partyid="{{partyid}}">
            <a class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh" href = "#crf/{{actid}}/{{partyid}}"> CRF</a>        </li>
        <li id="li-party-status" class="gmListColData gmText125">
			<div class="div-select-type-constatus" data-statusid="{{statusid}}">{{statusnm}}</div>
            <label class="selectbox-icon">
			<select class ="actpartystatus-{{partyid}} select-type-constatus gmInputText" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                <option value="">Select</option>
                <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
			</select>
            </label>
		</li>
		<li class="gmListColData gmText125 surgeon-crf-status" data-partyid="{{partyid}}" VO="arrgmactivitypartyvo">
			Incomplete
		</li>
		<i id="fa-surgeon-detail-delete" class="fa fa-trash sur-rmv-icon gmFontBlack gmBtnLarge" name="voidfl" VO="arrgmactivitypartyvo" data-partyid="{{partyid}}" value="Y"></i>
	</ul>
    <ul class="ul-merc-surgeon-list-details iPhone gmMediaWidth100 gmBorderAsh gmBorderRadius5p gmMarginBottom10p">
        <div id="div-merc-surgeon-list-data" class="gmPad50 gmBGLGrey gmBorderRadius5p ">

                <li class="gmAlignHorizontal gmMediaWidth65 li-mobile-edit-toogle">
                    <span class="gmFontBold gmAlignVertical" id="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}">{{partynm}}</span>
                    <span class="gmAlignVertical gmMarginTop5p" data-roleid="{{roleid}}">{{rolenm}}</span>
                    <span class="gmAlignVertical gmMarginTop5p" data-statusid="{{statusid}}">{{statusnm}}</span>
                </li>


                <li class="gmAlignHorizontal gmMediaWidth34">
                    <a href = "#crf/{{actid}}/{{partyid}}"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span></a>

                <li class="gmAlignHorizontal gmMediaWidth34">
                    <span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"></i></span>

                <li class="gmAlignHorizontal gmMediaWidth34">
                    <a href = "#crf/{{actid}}/{{partyid}}"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"  ></i></span></a>

                    <span class="gmAlignHorizontal"><a class="gmAlignHorizontal gmPad10p gmFontBlack" href="#crm/surgeon/id/{{partyid}}"><i class="fa fa-user fa-2x gmFontBlack" aria-hidden="true"></i></a></span>
                </li>

        </div>
        <div class="div-surgeon-list-sub-data gmMediaDisplayNone">
            <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                    Role
                </li>
                <li class="gmListColData gmText150 li-merc-surgeon-detail-val gmMediaWidth45">
                    <label class="selectbox-icon">
                       <select class ="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
			</select>
                    </label>
                </li>
                <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                    Consultant Status
                </li>
                <li class="gmListColData gmText125 li-merc-surgeon-detail-val gmMediaWidth45">
                    <label class="selectbox-icon">
                        <select class ="actpartystatus-{{partyid}} select-type-constatus gmInputText" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                <option value="">Select</option>
                <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
			</select>
                    </label>
                </li>
                
        </div>
</ul>
{{/iffalse}}
{{/iftrue}} 
{{/each}}