#* This VM file used to display the Event Information*#
<?xml version="1.0" encoding="UTF-8"?>
#set($count=0)
#set($alResult = $hmParam.alResult)
<rows>
<head>
	<column type="ro" width="150" 	sort="str"  align="left">$msg.getProperty('VM_PART')</column>		
	<column type="ro" width="*" 	sort="str"  align="left">$msg.getProperty('VM_DESCRIPTION')</column>
	<column type="ed" width="100" 	sort="int"  align="left">$msg.getProperty('VM_QTY')</column>	
</head>
#foreach($hmDetails in $alResult)
<row id="$count">
		#if($hmDetails.PNUM == $null))
			<cell></cell>
		#else
			<cell align="left">$esc.xml($hmDetails.PNUM)</cell>
		#end
		#if($hmDetails.PDESC == $null))
			<cell></cell>
		#else
			<cell align="left">$esc.xml($hmDetails.PDESC)</cell>
		#end
		#if($hmDetails.QTY == $null))
			<cell></cell>
		#else
		<cell align="left">$esc.xml($hmDetails.QTY)</cell>
		#end
</row>
	#set($count = $count+1)					
#end
</rows>
