<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>Globus Medical: Sales Call</title>
</head>

<body style="margin: 0; padding: 0">
    <table cellpadding="0" cellspacing="0" style="margin: auto;width: 550px;background: #ddefff;">
        <tbody style=" background: #ddefff; ">
            <tr style="background-color: #00366e">
                <td colspan="2" style="text-align:center; font-size: 20px; color: #fff; padding: 10px;">
                    Sales Call Details
                </td>
            </tr>
            <tr style=" background: #fff; ">
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <td style="color: #00366e;text-align:right;font-weight: bold;padding: 10px 0px 0px 0;vertical-align: top;">
                    Surgeons:
                </td>

                <td style="padding: 5px 0px 5px 5px;background:#fff;border-color: #ddefff;border-left: 5px solid #ddefff;border-right: 5px solid #ddefff;border-top: 5px solid #ddefff;">

                    #set($count = 0) #foreach($hmLoop in $hmParam.ALSURGEON)
                    <div style="color: #00366e;  vertical-align: middle; "> $hmLoop.PARTYNM #if ($hmLoop.SURGEONCV!="") &nbsp; <a href=$hmParam.CRMFILEPATH/$hmLoop.SURGEONCV> <span style="display:inline-block; padding:5px; vertical-align: middle; "><img src="$hmParam.CRMPORTALPATH/GlobusCRM/image/crm/cv_icon.PNG" alt="CV"></span></a> #end
                    </div>
                    #end
                </td>
            </tr>
            <tr>
                <td style="color: #00366e;text-align:right;font-weight: bold;padding: 10px 0px 0px 0;vertical-align: top;">
                    Products:
                </td>

                <td style="padding: 5px 0px 5px 5px;background:#fff;border-color: #ddefff;border-left: 5px solid #ddefff;border-right: 5px solid #ddefff;border-top: 5px solid #ddefff;">

                    #set($count = 0) #foreach($hmLoop in $hmParam.ALPRODREVIEW)
                    <div style="color: #00366e">
                        $hmLoop.ATTRNM
                    </div>
                    #end
                </td>
            </tr>

            <tr>
                <td style="color: #00366e;text-align:right;font-weight: bold;padding: 10px 0px 0px 0;vertical-align: top;">
                    Notes:
                </td>

                <td style="padding: 5px 0px 5px 5px;background:#fff;border-color: #ddefff;border-left: 5px solid #ddefff;border-right: 5px solid #ddefff;border-top: 5px solid #ddefff;">
                    <div style="color: #00366e">$hmParam.NOTE</div>
                </td>
            </tr>
            <tr>
                <td style="color: #00366e;text-align:right;font-weight: bold;padding: 10px 0px 0px 0;vertical-align: top;">
                    Created By:
                </td>
                <td style="padding: 5px 0px 5px 5px;background:#fff;border-color: #ddefff;border-left: 5px solid #ddefff;border-right: 5px solid #ddefff;border-top: 5px solid #ddefff;">
                    <div style="color: #00366e">$hmParam.ORGNM</div>
                </td>
            </tr>
            <tr>
                <td style="color: #00366e;text-align:right;font-weight: bold;padding: 10px 0px 0px 0;vertical-align: top;">
                    Created Date:
                </td>
                <td style="padding: 5px 0px 5px 5px;background:#fff;border-color: #ddefff;border-left: 5px solid #ddefff;border-right: 5px solid #ddefff;border-top: 5px solid #ddefff;">
                    <div style="color: #00366e">$hmParam.CREATEDDATE</div>
                </td>
            </tr>
            <tr>
                <tr>
                    <td colspan="2" style="padding: 10px 1em;text-decoration: none;text-align: center;">
                        <a style="color: #000;text-align:center;background: #043670;padding: 8px;color: #fff;border-radius: 25px;" href=$hmParam.CRMPORTALPATH/GlobusCRM/#crm/salescall/id/$hmParam.ACTID>Click here for more details</a>
                    </td>
                </tr>
        </tbody>
    </table>
</body>

</html>