<?xml version="1.0" encoding="UTF-8" ?>
#set($alResult = $hmParam.ASSOCPROJECTDATA)
#set($strDateFormat=$hmParam.DATEFMT)
<rows>
      
<head>
		<column type="ro" width="150" sort="str" id= "AssocProjectid">$msg.getProperty("VM_ASSOC_PROJECT_ID")</column>
		<column type="ro" width="200" sort="na" id= "AssocProjectName">$msg.getProperty("VM_ASSOC_PROJECT_NAME")</column>
		<column type="ro" width="100" sort="na" id= "AddBy">$msg.getProperty("VM_ADDED_BY")</column>
		<column type="ro" width="100" sort="na" id= "AddDt" align= "center">$msg.getProperty("VM_ADDED_DATE")</column>
		<column type="ro" width="*" sort="na" id= "Remove" align= "center">$msg.getProperty("VM_REMOVE")</column>
		<column type="ro" width="0" sort="na" id= "Voidflag" hidden = "true">$msg.getProperty("VM_VOIDFLAG")</column>
	
</head>
#set($count=0)
	#foreach($hmDetails in $alResult)
		<row id="$count">
			<cell>$esc.xml($hmDetails.PROJECTID)</cell>
			<cell>$esc.xml($hmDetails.PROJECTNAME)</cell>
			<cell>$esc.xml($hmDetails.ADDEDBY)</cell>
			#if($hmDetails.ADDEDDT != $null)
			<cell>$date.format($strDateFormat,$hmDetails.ADDEDDT)</cell>
			#else
			<cell></cell>
			#end
			<cell><![CDATA[<a href="#" onClick=fndelete("$count")><img alt="Click to Delete Row"  width="17" height="17" src="/images/dhtmlxGrid/delete.gif" border="0"></a>]]></cell>
			<cell></cell>
	#set($count = $count+1)
</row>
 
#end
</rows>