<?xml version="1.0" encoding="UTF-8"?>
#set($alResult = $hmParam.ALRESULT)
#set($DATEFMT = $hmParam.APPLNDATEFMT)
<rows>
	<head>
		 
		<column type="ro" width="80" sort="str" align="left">
$msg.getProperty('VM_SETID')
		</column> 
		<column type="ro" width="250" sort="int" align="left">
$msg.getProperty('VM_SETNAME')
		</column>		
		<column type="ro" width="170" sort="int"  align="left">
$msg.getProperty('VM_FILENAME')
		</column>	
		<column type="ro" width="70" sort="int"  align="left">
$msg.getProperty('VM_TYPE')
		</column>	
		<column type="ro" width="100" sort="date" align="center">
$msg.getProperty('VM_UPLOADEDDATE')
		</column>
		<column type="ro" width="*" sort="int"  align="left">
$msg.getProperty('VM_UPLOADEDBY')
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.ID">
		<cell>$hmDetails.SETID</cell> 
		<cell>$esc.xml($hmDetails.SETNAME)</cell> 
		<cell>$hmDetails.NAME </cell>		
		<cell>$hmDetails.MATTYPE </cell> 		
		<cell>$hmDetails.CDATE</cell>
		<cell>$hmDetails.UNAME </cell>
	</row>
	#end
</rows>
