<div id="cancel-req-main">
    <div id="cancel-req-error" class="gmBGRed gmFontWhite gmPad10p gmMarginBottom10p"></div>
    <ul>
        <li class="gmSectionListItem gmAlignHorizontal">REASON : </li>
        <li class="gmSectionListItem gmAlignHorizontal ">
            <label class="selectbox-icon">
                <select id="canreson" class="gmInputText gmWidth180m">
<!--
<option value="" attrnm="">Select</option>
<option value="106500" attrnm="canreson">Surgeon Cancelled</option>
<option value="106501" attrnm="canreson">AG Cancelled</option>
<option value="106502" attrnm="canreson">Other</option>
-->
                </select>
            </label>
        </li>
        <li class="gmPad10p">
            <textarea id="textarea-visit-cancel-req" class="gmInputText gmTextArea" attrtype="26240350" attrnm="cancmt" placeholder="Enter your comments here..." maxlength="500"></textarea>
        </li>
    </ul>
</div>