		<ul class="gmSection gmFontPhysicianVisit gmBorderBottomPhysicianVisit li-web-globus-exp-caption">
            <li class="gmSectionListItem gmText250 gmAlignHorizontal">Technique</li>
			<li class="gmSectionListItem gmText250 gmAlignHorizontal">Product</li>
			<li class="gmSectionListItem gmText200 gmAlignHorizontal"># of Cases</li>
			<li class="gmSectionListItem gmText200 gmAlignHorizontal">Comments</li>
		</ul>
	<div id="div-globus-experience-content-list">
		{{#each this}}
			<ul class="gmSection gmListItem ul-phone-globus-exp-list">
				<li class="gmSectionListItem  gmAlignHorizontal li-phone-globus-exp-caption">Technique</li>
                <li class="gmSectionListItem gmText250 gmAlignHorizontal li-phone-globus-exp-value">{{procedurenm}}</li>
                <li class="gmSectionListItem  gmAlignHorizontal li-phone-globus-exp-caption">Product</li>
				<li class="gmSectionListItem gmText250 gmAlignHorizontal li-phone-globus-exp-value">{{sysnm}}</li>
				<li class="gmSectionListItem  gmAlignHorizontal li-phone-globus-exp-caption"># of Cases</li>
				<li class="gmSectionListItem gmText200 gmAlignHorizontal li-phone-globus-exp-value">{{cases}}</li>
				<li class="gmSectionListItem  gmAlignHorizontal li-phone-globus-exp-caption">Comments</li>
				<li class="gmSectionListItem gmText200 gmAlignHorizontal li-phone-globus-exp-value">{{comments}}</li>
			</ul>
		{{/each}}
	</div>
