<div class="div-physicianvisit-list-item">
    <ul class="gmListItem ul-list-items" id="{{actid}}">
        <li class="gmListColData gmText150">{{acttype}}</li>
        <li class="gmListColData gmText200">{{formatDate actstartdate}} &nbsp; {{actstarttime}}</li>
        <li class="gmListColData gmText250">{{phynm}}</li>
        <li class="gmListColData gmText125">{{actstatus}}</li>
        <li class="gmListColData gmText125">{{formatDate createddate}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a href="#crm/physicianvisit/id/{{actid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontphysicianvisit gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
    <!--For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll gmBorderBottomLGrey" id="{{actid}}">
        <a href="#crm/physicianvisit/id/{{actid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{phynm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{acttype}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{formatDate actstartdate}} &nbsp; {{actstarttime}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{actstatus}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{formatDate createddate}}</li>
            </ul>
        </a>
    </ul>
</div>
