<ul id="div-physicianvisit-tabs">
    <li id="div-physicianvisit-objective" class="phyvisit-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Objective<i class="fa fa-lg gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
    <!--
<li id="div-physicianvisit-surgeons" class="phyvisit-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
    <div class="gmMarginSide10p">Surgeon Details<i class="fa fa-lg gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
</li>
-->
    <!--
    <li id="div-physicianvisit-globus" class="phyvisit-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p">
        <div class="gmMarginSide10p">Globus Experience<i class="fa fa-lg gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>
-->
    <li id="div-physicianvisit-feedback" class="phyvisit-tab gmMediaFont15p gmBGLGrey gmMargin50tb gmPaddingVertical1em gmBorderRadius3p restrictedDiv">
        <div class="gmMarginSide10p">Feedback<i class="fa fa-lg gmFloatRight fa-chevron-right" aria-hidden="true"></i></div>
    </li>


    <li id="div-physicianvisit-closure" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey gmPadding1em restrictedDiv">Closure</li>
    <li id="div-physicianvisit-travel" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey gmPadding1em restrictedDiv">Travel</li>
    <div id="physicianvisit-status-btns">
        <li id="div-physicianvisit-cancel" class="gmBtn gmAlignHorizontal gmBGRed gmFloatRight gmFontWhite gmMarginLeft5p hide">Cancel Visit</li>
        <li id="div-physicianvisit-confirm" class="gmBtn gmAlignHorizontal gmBGDarkBlue gmFloatRight gmFontWhite gmMarginLeft5p hide">Confirm Visit</li>
    </div>
</ul>
<div class="gmLineSpace gmMediaDisplayNone"></div>
<div id="div-physicianvisit-detailmode" class="div-view">
    <div id="div-physicianvisit-view-objective" class="phyvisit-content">
        <div id="div-physicianvisit">
            <ul id="ul-physicianvisit-detail-left-top-right">
                <ul class="gmSection">
                    <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TITLE</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal  gmVerticalMiddle gmText650 gmMediaWidth80">{{actnm}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmMediaTextCenter gmAlignHorizontal gmFontBlack gmFont90em gmMediaWidth75p gmFontBold iPad">FROM</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-calendar gmFont15em gmText50 gmFontBlack" aria-hidden="true"></i></li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPad">{{formatDate actstartdate}} {{AMPM actstarttime}} </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPhone">{{formatDate actstartdate}} - {{formatDate actenddate}} </li>
                    <li class="gmSectionListItem gmMinWidth10p  gmSectionCaption gmMediaTextCenter gmAlignHorizontal gmFontBlack gmMediaWidth75p gmFont90em gmFontBold iPad">TO</li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPad">{{formatDate actenddate}} {{AMPM actendtime}}</li>
                </ul>
                <ul class="gmSection iPhone">
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-clock-o gmFont15em gmText50 gmFontBlack" aria-hidden="true"></i></li>
                    {{#if actstarttime }}
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPhone">{{AMPM actstarttime}} - {{AMPM actendtime}}</li>
                    {{/if}}
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
                        TYPE
                    </li>
                    <li class="gmAlignHorizontal gmText160 gmMediaMinWidth200 gmSectionListItem ">
                        {{acttypenm}}
                    </li>
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold visit-edit-division">
                        DIVISION
                    </li>
                      {{#iftrue acttype '26240596'}}{{#iftrue division ''}}
                    <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem visit-edit-division gmTextUpper">
                        All Division
                    </li>
                    {{/iftrue}}{{/iftrue}}
                    <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem visit-edit-division gmTextUpper">
                        {{divisionnm}}
                    </li>
                </ul>
                <div class="restrictedDiv">
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold iPad">
                        STATUS
                    </li>
                    <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                        <i class="fa fa-flag gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                    </li>
                    <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
                        <div class="div-actstatus"></div>
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaMinWidth50p gmSectionCaption gmFontBold gmAlignHorizontal gmFont90em iPad gmVerticalMiddle">
                        SURGEON
                    </li>
                    <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                        <i class="fa fa-user-md gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                    </li>
                    <li id="li-selected-items-mobile" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth80 li-selected-items ">
                        {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                        <span class="gmAlignHorizontal gmLnk gmUnderline gmPadRight5p"><a href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a> {{#if surgeoncv}}<span id="cv-links-{{partyid}}" style="display: inline-block; margin-left: 2px;"><span class="a-view-docs" href="#crm/{{surgeoncv}}" target="_blank"><img class="gmVerticalMiddle" src="globusMobileApp/image/crm/cv_icon.PNG"></span></span>{{/if}}</span>
                        {{/iffalse}} {{/iftrue}} {{/each}}
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        OTHER VISITORS
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105590'}}{{#iffalse voidfl 'Y'}}
                        <div class="div-activity-product gmAlignHorizontal  gmBorderRadius3p gmBorderLightGrey gmPad50">
                            <div class="gmAlignVertical">{{attrval}}</div>
                            <div class="gmFont12px">{{attrnm}}</div>
                        </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>

                <ul class="gmSection ul-physicianvisit-display-projects gmPad10p">
                    <li class="gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        PROJECTS
                    </li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105583'}}{{#iffalse voidfl 'Y'}}
                        <div class="div-activity-product gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50">
                            {{attrnm}}
                        </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>
                <ul class="gmSection ul-physicianvisit-display-product">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        PRODUCTS TO REVIEW
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
                        <div class="div-activity-product gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50">
                            {{attrnm}}
                        </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>
                <ul class="gmSection ul-physicianvisit-display-product-lab">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        PRODUCTS TO USE IN LAB
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105586'}}{{#iffalse voidfl 'Y'}}
                        <div class="div-activity-product gmAlignHorizontal  gmBorderRadius3p gmBorderLightGrey gmPad50">
                            {{attrnm}}
                        </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        OTHER LAB INSTRUCTIONS
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                        {{otherinstr}}
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        FIELD SALES ATTENDEES
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}}{{#iffalse voidfl 'Y'}}{{#if partynm}}
                        <div class="div-activity-product gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50">
                            {{partynm}}
                        </div>{{/if}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        TOP PRIORITIES
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                        {{toppriority}}
                    </li>
                </ul>

                <ul class="gmSection ul-visit-Dietary">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        DIETARY RESTRICTIONS
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                        {{dietary}}
                    </li>
                </ul>

                <ul class="gmSection ul-visit-actnotes  ">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        NOTES
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                        {{actnotes}}
                    </li>
                </ul>

                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        DOCUMENTS
                    </li>
                    <li class="gmMarginLeft10p gmSectionValue gmAlignHorizontal upload-files-list gmTextTop">
                    </li>

                </ul>
                <ul id="ul-visit-cancel-reson" class="gmSection hide">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        REASON FOR CANCELLATION
                    </li>
                    <li id="li-visit-cancel-reson" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '26240352'}} {{#iffalse voidfl 'Y'}}
                        <span id="span-visit-reason" data_attrid="{{attrid}}"> {{attrnm}} </span> {{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}}
                        <span id="span-visit-comment" data_attrid="{{attrid}}"> - {{attrval}} </span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>


                <ul class="gmSection">
                    <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED BY</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createdby}}</li>


                    <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED DATE</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createddate}}</li>
                </ul>

                <ul class="gmSection">
                    {{#each physicians}}
                    <li id="div-physicianvisit-crf" class="gmAlignHorizontal gmMarginLeft5p gmBtn hide gmFloatRight">
                        <a href="#crf/{{phyid}}/{{physicianid}} OfflineLinkRemover">CRF</a>
                        <span class="OfflineLink hide">CRF</span>
                    </li>
                    {{/each}}

                </ul>
                    </div>
            </ul>
        </div>
        <div class="gmLineSpace gmMediaDisplayNone"></div>
        <ul class="gmSection globus-experience-content">
        </ul>
    </div>

    <div id="div-physicianvisit-view-surgeons" class="phyvisit-content hide">
        <ul class="gmSection">
            {{#if arrgmactivitypartyvo}}
            <div class="physicianvisit-surgeon-header gmSection gmTextAll gmMediaDisplayNone">
                <li class="gmListColData gmText200 gmFontphysicianvisit"> Surgeon Name </li>
                <li class="gmListColData gmText125 gmFontphysicianvisit "> Role </li>
                <li class="gmListColData gmText100 gmFontphysicianvisit"> Document </li>
                <li class="gmListColData gmText150 gmFontphysicianvisit "> Consultant Status </li>
                <li class="gmListColData gmText125 gmFontphysicianvisit"> CRF Status </li>
            </div>
            {{/if}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
            <ul class="ul-surgeon-list gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{partyid}}">
                <li class="gmListColData gmText200 "><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
                </li>
                <li id="li-party-role" class="gmListColData gmText125">
                    <div class="div-select-type-roleid gmMargin2p" data-roleid="{{roleid}}">{{rolenm}}</div>
                </li>
                <li class="gmListColData gmText100 li-surgeon-crf-doc" partyid="{{partyid}}">
                    <a class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"> CRF</a>
                    <span class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLink hide">CRF</span>
                </li>
                <li id="li-party-status" class="gmListColData gmText150">
                    <div class="div-select-type-constatus" data-statusid="{{statusid}}">{{statusnm}}</div>
                </li>
                <li class="gmListColData gmText125 surgeon-crf-status " data-partyid="{{partyid}}" VO="arrgmactivitypartyvo">

                </li>
            </ul>
            <ul class="ul-merc-surgeon-list-details iPhone gmMediaWidth100 gmBorderAsh gmMarginTop10p">
                <div id="div-merc-surgeon-list-data" class="gmPad50 gmBGLGrey gmBorderRadius3p ">

                    <li class="gmAlignHorizontal gmMediaWidth65 li-mobile-edit-toogle">
                        <span class="gmFontBold gmAlignVertical" id="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}">{{partynm}}</span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-roleid="{{roleid}}">
                            <div class="span-mob-dropdwn"><b>ROLE</b></div>{{#if rolenm}}{{rolenm}}{{else}}Unavailable {{/if}}
                        </span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-statusid="{{statusid}}">
                            <div class="span-mob-dropdwn"><b>SOW </b></div>{{#if statusnm}}{{statusnm}}{{else}}Unavailable {{/if}}
                        </span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status-mobile" data-statusid="{{statusid}}" data-partyid="{{partyid}}"></span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status" data-statusid="{{statusid}}"></span>
                    </li>

                    <li class="gmAlignHorizontal gmMediaWidth34 gmMediaVerticalTop">
                        <a class="OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"></i>
                                <div class="crf-legend">CRF</div>
                            </span></a>
                        <span class="gmAlignHorizontal OfflineLink hide"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"></i>
                            <div class="crf-legend">CRF</div>
                        </span>
                        <span class="gmAlignHorizontal"><a class="gmAlignHorizontal gmPad10p gmFontBlack" href="#crm/surgeon/id/{{partyid}}"><i class="fa fa-user fa-2x gmFontBlack" aria-hidden="true"></i></a></span>
                    </li>

                </div>
            </ul>
            {{/iffalse}} {{/iftrue}} {{/each}}
        </ul>
    </div>
    <div id="div-physicianvisit-view-experience" class="phyvisit-content hide">
        <ul id="physicianvisit-globus-experience">

        </ul>
    </div>
    <input id="physicianvisit-select-deptid" type="hidden" VO="arrgmcrmlogvo" name="logtypeid" class="hdnInput" data-logid="">
    <input id="physicianvisit-select-deptnm" type="hidden" VO="arrgmcrmlogvo" name="logtype" class="hdnInput" data-logid="">
    
    <div id="div-physicianvisit-edit-feedback" class="phyvisit-content hide">
        <ul id="div-physician-feedback-department" class="gmSection">
            <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmFont90em">DEPARTMENT</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <label class="selectbox-icon">
                    <select class="select-comments-logtype gmInputText gmMediaWidth100 pv-select-comments-logtype gmFontBold" data-value="{{logtypeid}}">
                        <!--
<option value="" name="logtypeid">Select</option>
<option data-refid="" data-logid="" value="105184" data-logtype="Product Development">Product Development</option>
<option data-refid="" data-logid="" value="4000892" data-logtype="Sales">Sales</option>
<option data-refid="" data-logid="" value="4000891" data-logtype="Training">Training</option>
-->
                    </select>
                </label>
            </li>
        </ul>
        <ul id="physicianvisit-comments-content" class="gmSection gmMediaWidth100">
            <textarea id="physicianvisit-comments-textarea" class="gmInputText gmTextArea gmMarginTop10p" data-logid="" maxlength="500"></textarea>
            <li class="comments-buttons gmAlignHorizontal gmMediaWidth100">
                <div class="comments-cancel gmBGDarkerGrey gmAlignHorizontal gmBtn gmFontWhite gmFloatRight">Cancel</div>
                <div class="comments-save gmBGDarkerGrey gmAlignHorizontal gmBtn gmFontWhite gmFloatRight gmMarginRight5p">Save</div>
            </li>
        </ul>

        {{#if arrgmcrmlogvo}} {{#each arrgmcrmlogvo}} {{#iffalse voidfl 'Y'}}
        <div class="gmBorderLightGrey gmSectionListItem comments-list" logid="{{logid}}" logtypeid="{{logtypeid}}" logtype="{{logtype}}">

            <ul class="gmSection gmBGGrey commentHead div-merc-feedback-comments-list-header">
                <div class="gmSectionListItem comments-header-data-left gmAlignHorizontal ">
                    <div class="comments-updatedby gmAlignHorizontal" updatedbyid="{{updatedbyid}}"> {{#iffalse logtype ""}} {{logtype}} - {{/iffalse}} {{updatedby}}</div>
                </div>
                <div class="gmSectionListItem comments-header-data-right gmFloatRight ">
                    <div class="gmAlignHorizontal comments-data-right">Last Updated on </div>
                    <div class="comments-header-date gmPadRight10p comments-data-right gmAlignHorizontal"> {{formatDate updateddate}} </div>
                    <i class="fa fa-pencil comments-edit gmFontBlack gmFont15em gmVerticalMiddle" indexvalue="{{@index}}"></i>
                    <i class="fa fa-trash comments-delete gmFontBlack gmFont15em gmVerticalMiddle" indexvalue="{{@index}}"></i>
                </div>
            </ul>
            <div class="comments-data-area gmCommentArea gmAlignHorizontal">{{logcomment}}</div>
        </div>
        {{/iffalse}}{{/each}} {{/if}}
    </div>
    <div id="div-physicianvisit-view-closure" class="phyvisit-content hide">
        <div id="button-print" class="gmFloatRight gmAlignHorizontal"><i class="fa fa-2x fa-print gmFontBlack  gmAlignVertical" aria-hidden="true"></i><span class="gmAlignVertical gmFontItalic gmFont13px">Print</span></div>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TITLE</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">{{actnm}}</li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">FROM</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{formatDate actstartdate}} {{AMPM actstarttime}}</li>

            <li class="gmSectionListItem gmMinWidth50p gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TO</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{formatDate actenddate}} {{AMPM actendtime}}</li>
        </ul>
        <ul class="gmSection">
            <li class="gmAlignHorizontal gmMediaMinWidth50p gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption">
                TYPE
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                {{acttypenm}}
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth50p gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption visit-edit-division">
                DIVISION
            </li>
            <li class="gmAlignHorizontal gmSectionValue gmSectionListItem visit-edit-division gmTextUpper">
                {{divisionnm}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth75p gmFontBlack gmFontBold">
                STATUS
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
                <div class="div-actstatus"></div>
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmMediaMinWidth50p gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmSectionCaption">
                SURGEON
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}}
                <span class="gmAlignHorizontal gmFontBlack span-comma-separated">{{partynm}}</span>{{/iftrue}} {{/each}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmAlignHorizontal gmMediaAlignVertical gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption ">
                OTHER VISITORS
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105590'}}{{#iffalse voidfl 'Y'}}
                <div class="gmAlignHorizontal gmPad50">
                    <span>{{attrval}} | </span>
                    <span class="gmFont12px gmFontItalic">{{attrnm}}</span>
                </div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>

        <ul class="gmSection ul-physicianvisit-display-projects">
            <li class="gmAlignHorizontal gmMediaAlignVertical gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption ">
                PROJECTS
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105583'}}{{#iffalse voidfl 'Y'}}<span class=" span-comma-separated">{{attrnm}}</span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection gmMediaAlignVertical ul-physicianvisit-display-product">
            <li class="gmAlignHorizontal gmMediaAlignVertical gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption ">
                PRODUCTS TO REVIEW
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
                <div class="div-activity-product span-comma-separated gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmPad50 ">
                    {{attrnm}}
                </div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>

        <ul class="gmSection ul-physicianvisit-display-product-lab">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                PRODUCTS TO USE IN LAB
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items gmVerticalMiddle gmText650">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105586'}}{{#iffalse voidfl 'Y'}}
                <div class="div-activity-product span-comma-separated gmAlignHorizontal  gmBorderRadius3p  ">
                    {{attrnm}}
                </div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                OTHER LAB INSTRUCTIONS
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{otherinstr}}
            </li>
        </ul>

        <ul class="gmSection">
            <li class="gmAlignHorizontal gmMediaAlignVertical gmSectionListItem gmFontBlack gmFont90em gmFontBold gmSectionCaption ">
                FIELD SALES ATTENDEES
            </li>
            <li id="phyvisit-closure-participant" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}}{{#iffalse voidfl 'Y'}}{{#if partynm}}
                <div class="div-activity-product span-comma-separated gmAlignHorizontal  gmBorderRadius3p gmPad50">
                    {{partynm}}
                </div>
                {{/if}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>

        <ul class="gmSection">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                TOP PRIORITIES
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{toppriority}}
            </li>
        </ul>

        <ul class="gmSection ul-visit-Dietary">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                DIETARY RESTRICTIONS
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{dietary}}
            </li>
        </ul>

        <ul class="gmSection ul-visit-actnotes  ">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                NOTES
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText650">
                {{actnotes}}
            </li>
        </ul>

        <ul class="gmSection">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                DOCUMENTS
            </li>
            <li class="gmMarginLeft10p gmSectionValue gmAlignHorizontal upload-files-list gmTextTop">
            </li>
        </ul>
        <ul id="ul-visit-cancel-reson" class="gmSection hide">
            <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                REASON FOR CANCELLATION
            </li>
            <li id="li-visit-cancel-reson" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '26240352'}} {{#iffalse voidfl 'Y'}}
                <span id="span-visit-reason" data_attrid="{{attrid}}"> {{attrnm}} </span> {{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}}
                <span id="span-visit-comment" data_attrid="{{attrid}}"> - {{attrval}} </span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED BY</li>
            <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
            <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createdby}}</li>
        </ul>

    </div>
       <div id="div-physicianvisit-view-travel" class="phyvisit-content hide">
        <div id="div-physicianvisit">
            <ul id="ul-physicianvisit-detail-left-top-right">
                <ul class="gmSection">
                    <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TITLE</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
                    <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal  gmVerticalMiddle gmText650 gmMediaWidth80">{{actnm}}</li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmMediaTextCenter gmAlignHorizontal gmFontBlack gmFont90em gmMediaWidth75p gmFontBold iPad">FROM</li>
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-calendar gmFont15em gmText50 gmFontBlack" aria-hidden="true"></i></li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPad">{{formatDate actstartdate}} {{AMPM actstarttime}} </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPhone">{{formatDate actstartdate}} - {{formatDate actenddate}} </li>
                    <li class="gmSectionListItem gmMinWidth10p  gmSectionCaption gmMediaTextCenter gmAlignHorizontal gmFontBlack gmMediaWidth75p gmFont90em gmFontBold iPad">TO</li>

                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPad">{{formatDate actenddate}} {{AMPM actendtime}}</li>
                </ul>
                <ul class="gmSection iPhone">
                    <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-clock-o gmFont15em gmText50 gmFontBlack" aria-hidden="true"></i></li>
                    {{#if actstarttime }}
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPhone">{{AMPM actstarttime}} - {{AMPM actendtime}}</li>
                    {{/if}}
                </ul>
                <ul class="gmSection">
					<li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
					TYPE
					</li>
					<li class="gmAlignHorizontal gmText160 gmMediaMinWidth200 gmSectionListItem ">
					{{acttypenm}}
					</li>
					<li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold visit-edit-division">
					DIVISION
					</li>
					<li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem visit-edit-division gmTextUpper">
					{{divisionnm}}
					</li>
				</ul>
                <div class="restrictedDiv">
                <ul class="gmSection">
                    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold iPad">
                        STATUS
                    </li>
                    <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                        <i class="fa fa-flag gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                    </li>
                    <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
                        <div class="div-actstatus"></div>
                    </li>
                </ul>
                <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaMinWidth50p gmSectionCaption gmFontBold gmAlignHorizontal gmFont90em iPad gmVerticalMiddle">
                        SURGEON
                    </li>
                    <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                        <i class="fa fa-user-md gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                    </li>
                    <li id="li-selected-items-mobile" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth80 li-selected-items ">
                        {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                        <span class="gmAlignHorizontal gmLnk gmUnderline gmPadRight5p"><a href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a> {{#if surgeoncv}}<span id="cv-links-{{partyid}}" style="display: inline-block; margin-left: 2px;"><span class="a-view-docs" href="#crm/{{surgeoncv}}" target="_blank"><img class="gmVerticalMiddle" src="globusMobileApp/image/crm/cv_icon.PNG"></span></span>{{/if}}</span>
                        {{/iffalse}} {{/iftrue}} {{/each}}
                    </li>
                </ul>
                    </div>
                 <ul class="gmSection">
                    <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                        FIELD SALES ATTENDEES
                    </li>
                    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
                        {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}}{{#iffalse voidfl 'Y'}}{{#if partynm}}
                        <div class="div-activity-product gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50">
                            {{partynm}}
                        </div>{{/if}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                    </li>
                </ul>
        <ul class="gmSection gmAlignHorizontal ul-visit-actnotes travel-doc">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">TRAVEL COORDINATOR</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <span>{{travelcoordinator}}</span>
            </li> 
        </ul>
		<ul class="gmSection gmAlignHorizontal ul-visit-actnotes travel-doc">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">TRAVEL NOTES</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <span>{{travelnotes}}</span>
            </li> 
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-visit-actnotes travel-doc">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">TRAVEL DOCUMENTS</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle upload-file-list">
               
            </li>
        <ul class="gmSection">
            <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">UPLOADED BY</li>
            <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
            <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createdby}}</li>

            <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">UPLOADED DATE</li>
            <li class="gmAlignHorizontal  gmMarginLeftMinus5p gmMediaTextCenter iPhone"><i class="fa fa-tags gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
            <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createddate}}</li>
        </ul>

            </ul>
        </div>
        <div class="gmLineSpace gmMediaDisplayNone"></div>
        <ul class="gmSection globus-experience-content">
        </ul>
    </div>

</div>
<div class="div-edit">

    <input id="physicianvisit-hactnm" type="hidden" name="actnm" class="hdnInput">
    <input id="physicianvisit-hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
    <input id="physicianvisit-hpartytype" type="hidden" VO="arrgmactivitypartyvo" name="partytype" class="hdnInput" partyid="">
    <input id="physicianvisit-hpartyrole" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
    <input id="physicianvisit-hproduct" type="hidden" VO="arrgmactivityattrvo" attrval="" attrnm="" attrtype="105582" class="hdnInput" partyid="">
    <input id="physicianvisit-hproduct-lab" type="hidden" VO="arrgmactivityattrvo" attrval="" attrnm="" attrtype="105586" class="hdnInput" partyid="">
    <input id="physicianvisit-hproject" type="hidden" VO="arrgmactivityattrvo" attrval="" attrnm="" attrtype="105583" class="hdnInput" partyid="">

    <input id="physicianvisit-assigneenm-repnm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
    <input id="physicianvisit-assigneenm-repid" type="hidden" VO="arrgmactivitypartyvo" name="partyid" class="hdnInput" partyid="">
    <input id="physicianvisit-assigneenm-roleid" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
    <input id="physicianvisit-assigneenm-adnm" type="hidden" VO="arrgmactivitypartyvo" name="ad" class="hdnInput" partyid="">
    <input id="physicianvisit-assigneenm-vpnm" type="hidden" VO="arrgmactivitypartyvo" name="vp" class="hdnInput" partyid="">
    

    <div id="div-physicianvisit-edit-objective" class="phyvisit-content">
        <ul id="ul-visit-title" class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">
                TITLE
            </li>
            <li id="li-sc-title" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 hide">
                <input type="text" id="input-physicianvisit-title" class="gmInputText" value="{{actnm}}" validate="required" message="Please enter the Title for your visit" name="actnm" placeholder="&#xf02b;&nbsp;&nbsp;&nbsp; Title">
            </li>
            <li id="li-physicianvisit-title" class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal gmVerticalMiddle hide">{{actnm}}</li>
            <span id="span-edit-title" class="hide"><i class="fa gmFont15em fa-pencil-square-o gmVerticalMiddle" aria-hidden="true" title="Edit"></i></span>
            <li id="li-title-set-btn" class="hide">
                <span id="span-reset-title"><i class="fa gmFont15em fa-undo gmVerticalMiddle" aria-hidden="true" title="Reset"></i></span>
                <span id="span-set-title"><i class="fa gmFont15em fa-check-square-o gmVerticalMiddle" aria-hidden="true" title="OK"></i></span>
                <span id="span-cancel-title"><i class="fa gmFont15em fa-times-circle-o gmVerticalMiddle" aria-hidden="true" title="Cancel"></i></span>
            </li>

        </ul>
        <ul class="gmSection gmMediaMarginBottom10p">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">FROM</li>
            <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth45 gmVerticalMiddle gmPOSRelative">
                <span id="span-physicianvisit-actstartdate" class="gmInputText gmText100 gmMinHeight20p gmAlignHorizontal gmVerticalMiddle" name="actstartdate" data-id="physicianvisit-actstartdate">{{#if actstartdate}}{{actstartdate}}{{else}}mm/dd/yyyy{{/if}}</span>
                <input type="text" placeholder="mm/dd/yyyy" id="physicianvisit-actstartdate" class="gmInputText gmWidth50m gmVisibilityHidden" value="{{actstartdate}}" name="actstartdate" validate="required" message="Please provide Start Date">
            </li>
            <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth20 gmVerticalMiddle hideTimeRestrict">
                <input type="text" placeholder="hr:min" id="physicianvisit-actstarttime" class=" gmInputText gmWidth50m" value="{{actstarttime}}" name="actstarttime">
            </li>
        </ul>

        <ul class="gmSection gmMediaMarginBottom10p">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">TO</li>
            <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>
            <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth45 gmVerticalMiddle gmPOSRelative">
                <span id="span-physicianvisit-actenddate" class="gmInputText gmText100 gmMinHeight20p gmAlignHorizontal gmVerticalMiddle" name="actenddate" data-id="physicianvisit-actenddate">{{#if actenddate}}{{actenddate}}{{else}}mm/dd/yyyy{{/if}}</span>
                <input type="text" placeholder="mm/dd/yyyy" id="physicianvisit-actenddate" class="gmInputText gmWidth50m gmVisibilityHidden" value="{{actenddate}}" name="actenddate" validate="required" message="Please provide End Date">
            </li>
            <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>


            <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth20 gmVerticalMiddle hideTimeRestrict">
                <input type="text" placeholder="hr:min" id="physicianvisit-actendtime" class="gmInputText  gmWidth50m" value="{{actendtime}}" name="actendtime">
            </li>
        </ul>

        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TYPE OF VISIT</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <label class="selectbox-icon">
                    <select id="acttype" class="gmInputText gmMediaWidth100 gmWidth180m" message="Please select Visit Type">
                        <!--
<option value="" name="acttype">Select</option>
<option value="26240330" name="acttype">VIP Visit + Lab</option>
<option value="105225" name="acttype">VIP Only</option>
<option value="26240331" name="acttype">Lab Only</option>
<option value="105226" name="acttype">Design</option>
<option value="105227" name="acttype">Research</option>
-->
                    </select>
                </label>
            </li>
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold visit-edit-division gmMediaMWidth150p">DIVISION</li>
            <!--Data taken from T1910_DIVISION-->
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal visit-edit-division">
                <label class="selectbox-icon">
                    <select id="divtyp" class="gmInputText gmText150" message="Please select Division">
                        <!--
<option value="" name="division">Select</option>
<option value="2000" name="division">SPINE</option>
<option value="2004" name="division">INR</option>
<option value="2005" name="division">TRAUMA</option>
-->
                    </select>
                </label>
            </li>
        </ul>
        <div class="restrictedDiv">
        <ul class="gmSection gmMediaMarginBottom10p">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">
                STATUS
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
                <i class="fa fa-flag gmFontBlack gmFont15em gmText30 iPhone gmAlignHorizontal" aria-hidden="true"></i>
                <div class="div-actstatus gmAlignHorizontal"></div>
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-surgeons">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">SURGEON</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="physicianvisit-surgeon-search" data-part validate="search" validate-key="data-part"></span>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 new-surgeon-create hide">
                <div id="create-surgeon" class="gmBGsurgeon gmBtn gmFontWhite gmAlignHorizontal gmMediaWidth95">New Surgeon</div>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal li-surgeon-pv-edit">
                {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p" data-actpartyid="{{actpartyid}}" data-partyid="{{partyid}}" data-roleid="{{roleid}}">
                    <span class='extend-text'>{{partynm}}</span>
                    <span class='remove-participants extend-close'> x</span></div>
                {{/iffalse}}{{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-surgeons">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold">OTHER VISITORS</li>
            <div id="btn-add-other-visitor" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft5p">Add</div>
            <div id='div-vip-other-visits'>
                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items li-other-visit-items">

                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105590'}} {{#iffalse voidfl 'Y'}}
                    <div class='div-other-visitor div-sc-extn span-extend' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                        <label class="gmMarginRight10p">Name</label><input type="text" id="input-physicianvisit-other-visitor" class="gmInputText requiredInput{{index}}" value="{{attrval}}" attrid="{{attrid}}" attrnm="{{attrnm}}" attrtype="105590" VO="arrgmactivityattrvo" placeholder="Enter visitor name" index="{{index}}" validate='required' message='Please include name for all Other Visitors' maxlength="100">
                        <label class="gmMarginRight10p gmText75 gmAlignHorizontal gmTextRight">Title</label><input type="text" id="input-physicianvisit-other-visitor-title" class="gmInputText requiredInput{{index}}" value="{{attrnm}}" attrval="{{attrval}}" attrid="{{attrid}}" attrnm="{{attrnm}}" attrtype="105590" VO="arrgmactivityattrvo" placeholder="Enter visitor title" updAfl="Y" index="{{index}}" validate='required' message='Please include title for all Other Visitors' maxlength="100">
                        <span class='span-remove-extend extend-close' removeFl='Y'> - </span></div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </li>

                <li id="btn-add-other-visitor-more" class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items li-other-visit-items"></li>
            </div>
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-projects hide">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">PROJECTS</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="physicianvisit-project-search" data-pdt validate="search" validate-key="data-pdt" message="Please mention a valid Product"></span>
                <span id="physicianvisit-project-input-section" class="hide">
                    <input type="text" id="physicianvisit-project-input" class="gmInputText">
                    <div class="btn-add-projsys gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft10p" labelnm="Project(s)" attrtype="105583">Add</div>
                </span>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal li-selected-items">

                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105583'}} {{#iffalse voidfl 'Y'}}
                <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                    <span class='spn-sc-spec-txt extend-text'>{{attrnm}}</span>
                    <span class='span-remove-extend extend-close'> x</span></div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-product">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">PRODUCTS TO REVIEW</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="physicianvisit-product-search" data-pdt validate="search" validate-key="data-pdt" message="Please mention a valid Product"></span>
                <span id="physicianvisit-product-input-section" class="hide">
                    <input type="text" id="physicianvisit-product-input" class="gmInputText">
                    <div class="btn-add-projsys gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft10p" labelnm="Product(s) to review" attrtype="105582">Add</div>
                </span>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal li-selected-items">

                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}} {{#iffalse voidfl 'Y'}}
                <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                    <span class='spn-sc-spec-txt extend-text'>{{attrnm}}</span>
                    <span class='span-remove-extend extend-close'> x</span></div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-product-lab">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">PRODUCTS TO USE IN LAB</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="physicianvisit-product-search-lab" data-pdt validate="search" validate-key="data-pdt" message="Please mention a valid Product lab"></span>
                <span id="physicianvisit-product-input-lab-section" class="hide">
                    <input type="text" id="physicianvisit-product-input-lab" class="gmInputText">
                    <div class="btn-add-projsys gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle gmMarginLeft10p" labelnm="Product(s) use in lab" attrtype="105586">Add</div>
                </span>
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">

                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105586'}} {{#iffalse voidfl 'Y'}}
                <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                    <span class='spn-sc-spec-txt extend-text'>{{attrnm}}</span>
                    <span class='span-remove-extend extend-close'> x</span></div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>
            <!--<i id="i-surgeon-keywords" class="fa fa-plus-circle fa-2x gmFontDarkerGrey i-keyword-surgeon gmVerticalTop"></i>-->
        </ul>
        <ul class="gmSection gmAlignHorizontal">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">OTHER LAB INSTRUCTIONS</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <textarea id="textarea-visit-other-instr" class="gmInputText gmTextArea gmMinHeight75" name="otherinstr" maxlength="500">{{otherinstr}}</textarea>
            </li>
        </ul>

        <ul class="gmSection gmAlignHorizontal ul-physicianvisit-display-participants">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack   gmFontBold">FIELD SALES ATTENDEES</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="physicianvisit-participants-search" data-part validate="search" validate-key="data-part"></span>
            </li>
            <li class="gmSectionListItem gmAlignHorizontal li-selected-items">
                {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}} {{#iffalse voidfl 'Y'}}{{#if partynm}}
                <div class='gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-actpartyid="{{actpartyid}}" data-partyid="{{partyid}}" data-roleid="{{roleid}}">
                    <span class='extend-text'>{{partynm}}</span>
                    <span class='remove-participants extend-close'> x</span></div>{{/if}} {{/iffalse}}{{/iftrue}} {{/each}} {{/if}}
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">TOP PRIORITIES</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <textarea id="textarea-visit-toppriority" class="gmInputText gmTextArea gmMinHeight75" name="toppriority" maxlength="500">{{toppriority}}</textarea>
            </li>
        </ul>

        <ul class="gmSection gmAlignHorizontal ul-visit-Dietary">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">DIETARY RESTRICTIONS</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <textarea id="textarea-visit-Dietary" class="gmInputText gmTextArea gmMinHeight75" name="dietary" maxlength="500">{{dietary}}</textarea>
            </li>
        </ul>

        <ul class="gmSection gmAlignHorizontal ul-visit-actnotes">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold">NOTES</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                <textarea id="textarea-visit-actnotes" class="gmInputText gmTextArea gmMinHeight75" name="actnotes" maxlength="500">{{actnotes}}</textarea>
            </li>
        </ul>

        <ul class="gmSection file-upload-content">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold gmVerticalMiddle"> DOCUMENTS </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle">
                <div id="div-pv-fileupld" class="gmBtn gmFontWhite gmBGDarkerGrey div-multi-fileupld-btn">Upload Files</div>
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmVerticalMiddle upload-files-list upload-files-list-edit">
            </li>
        </ul>
    </div>
        </div>
    <div id="div-physicianvisit-edit-surgeons" class="phyvisit-content hide">
        {{#if arrgmactivitypartyvo}}
        <ul class="gmSection">
            <div class="gmSection gmTextAll iPad">
                <li class="gmListColData gmText200 gmFontphysicianvisit"> Surgeon Name </li>
                <li class="gmListColData gmText125 gmFontphysicianvisit li-pv-edit-role"> Role </li>
                <li class="gmListColData gmText100 gmFontphysicianvisit li-pv-edit-status"> Document </li>
                <li class="gmListColData gmText150 gmFontphysicianvisit pv-edit-cstatus"> Consultant Status </li>
                <li class="gmListColData gmText125 gmFontphysicianvisit li-pv-edit-status"> CRF Status </li>
            </div>

            {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
            <ul class="ul-surgeon-list gmSection gmTextAll gmMediaDisplayNone" data-partyid="{{partyid}}">
                <li class="gmListColData gmText200 " data-partyid="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}"><a class="gmAlignHorizontal gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh gmFontBlack" href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
                    <input id="actpartyid" type="hidden" name="actpartyid" value="{{actpartyid}}" VO="arrgmactivitypartyvo" class="hdInput">
                    <input id="partyid" type="hidden" name="partyid" value="{{partyid}}" VO="arrgmactivitypartyvo" class="hdInput">
                    <input id="partynm" type="hidden" name="partynm" value="{{partynm}}" VO="arrgmactivitypartyvo" class="hdInput">
                </li>

                <li id="li-party-role" class="li-pv-edit-role gmListColData gmText125">
                    <label class="selectbox-icon">
                        <select class="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                            <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                            <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                            <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
                        </select>
                    </label>
                </li>

                <li class="gmListColData gmText100 li-surgeon-crf-doc li-actvty-edit-sur " partyid="{{partyid}}">
                    <a class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}"> CRF</a> </li>
                <span class="gmFontBlack gmPad50 gmBGLGrey gmBorderRadius3p gmBorderAsh OfflineLink hide">CRF</span>
                <li id="li-party-status" class="  gmListColData gmText150">
                    <label class="selectbox-icon">
                        <select class="actpartystatus-{{partyid}} select-type-constatus gmInputText gmText150" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                            <option value="">Select</option>
                            <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                            <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                            <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                            <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                            <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                            <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                            <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                            <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
                        </select>
                    </label>
                </li>
                <li class="gmListColData gmText125 surgeon-crf-status li-pv-edit-status" data-partyid="{{partyid}}" VO="arrgmactivitypartyvo">

                </li>
                <i id="fa-surgeon-detail-delete" class="fa fa-trash sur-rmv-icon gmFontBlack gmBtnLarge" name="voidfl" VO="arrgmactivitypartyvo" data-partyid="{{partyid}}" value="Y"></i>
            </ul>
            <ul class="ul-merc-surgeon-list-details iPhone gmMediaWidth100 gmBorderAsh gmMarginTop10p">
                <div id="div-merc-surgeon-list-data" class="gmPad50 gmBGLGrey gmBorderRadius3p ">

                    <li class="gmAlignHorizontal gmMediaWidth65 li-mobile-edit-toogle">
                        <span class="gmFontBold gmAlignVertical" id="{{partyid}}" data-actpartyid="{{actpartyid}}" npid="{{partynpid}}" data-partynm="{{partynm}}">{{partynm}}</span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-roleid="{{roleid}}">
                            <div class="span-mob-dropdwn"><b>ROLE</b></div>{{#if rolenm}}{{rolenm}}{{else}}Unavailable {{/if}}
                        </span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p" data-statusid="{{statusid}}">
                            <div class="span-mob-dropdwn"><b>SOW </b></div>{{#if statusnm}}{{statusnm}}{{else}}Unavailable {{/if}}
                        </span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status-mobile" data-statusid="{{statusid}}" data-partyid="{{partyid}}"></span>
                        <span class="gmAlignVertical gmMarginTop5p gmMediaFont13p surgeon-crf-status" data-statusid="{{statusid}}"></span>
                    </li>

                    <li class="gmAlignHorizontal gmMediaWidth34 gmMediaVerticalTop">
                        <a href="#crf/{{actid}}/{{partyid}}" class="OfflineLinkRemover"><span class="gmAlignHorizontal"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"></i>
                                <div class="crf-legend">CRF</div>
                            </span></a>
                        <span class="gmAlignHorizontal OfflineLink hide"><i class="fa fa-file gmPad10p fa-2x span-merc-surgeon-crf-status gmFontBlack" aria-hidden="true" data-partyid="{{partyid}}"></i>
                            <div class="crf-legend">CRF</div>
                        </span>
                        <span class="gmAlignHorizontal"><a class="gmAlignHorizontal gmPad10p gmFontBlack" href="#crm/surgeon/id/{{partyid}}"><i class="fa fa-user fa-2x gmFontBlack" aria-hidden="true"></i></a></span>
                    </li>

                </div>
                <div class="div-surgeon-list-sub-data gmMediaDisplayNone">
                    <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                        Role
                    </li>
                    <li class="gmListColData gmText150 li-merc-surgeon-detail-val gmMediaWidth45">
                        <label class="selectbox-icon">
                            <select class="actpartyrole-{{partyid}} select-type-roleid gmInputText" data-value="{{roleid}}" value="{{roleid}}" VO="arrgmactivitypartyvo" name="roleid" data-partyid="{{partyid}}">
                                <option value="105564" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Attendee</option>
                                <option value="105562" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Faculty</option>
                                <option value="105563" VO="arrgmactivitypartyvo" name="roleid" partyid="{{partyid}}">Chairman</option>
                            </select>
                        </label>
                    </li>

                    <li class="gmAlignHorizontal gmMediaWidth45 gmMediaTextRight">
                        Consultant Status
                    </li>

                    <li class="gmListColData gmText150 li-merc-surgeon-detail-val gmMediaWidth45">
                        <label class="selectbox-icon">
                            <select class="actpartystatus-{{partyid}} select-type-constatus gmInputText gmText150" data-value="{{statusid}}" value="{{statusid}}" VO="arrgmactivitypartyvo" name="statusid" data-partyid="{{partyid}}">
                                <option value="">Select</option>
                                <option value="105380" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Sent</option>
                                <option value="105381" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Accepted</option>
                                <option value="105382" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Invite Declined</option>
                                <option value="105383" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Sent</option>
                                <option value="105384" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Accepted</option>
                                <option value="105385" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">SOW Declined</option>
                                <option value="105386" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Cancelled</option>
                                <option value="105387" VO="arrgmactivitypartyvo" name="statusid" partyid="{{partyid}}">Other</option>
                            </select>
                        </label>
                    </li>

                </div>
            </ul>
            {{/iffalse}} {{/iftrue}} {{/each}}
        </ul>
        {{/if}}
    </div>
    <div id="div-physician-edit-communication" class="phyvisit-content hide">

        <ul id="div-physician-communication-header" class="gmSection gmAlignVertical gmFontPhysicianVisit">
            <li class="gmSectionListItem gmText250 pv-edit-phone-commn-type-caption gmAlignHorizontal">Communication Type</li>
            <li class="gmSectionListItem pv-edit-phone-status-caption gmAlignHorizontal gmText150">Status</li>
            <li class="gmSectionListItem pv-edit-phone-mail-caption gmAlignHorizontal">Send Mail</li>
        </ul>
        <div id="div-physician-communication-list">
            <ul>
                <li class="gmSectionListItem pv-edit-phone-commn-type-value gmText250 gmAlignHorizontal">VIP Welcome Email</li>
                <li class="gmSectionListItem gmSectionValue li-pv-phone-select-val gmAlignHorizontal gmText175">
                    <label class="selectbox-icon">
                        <select class="physician-communication-status pv-edit-phone-status-value gmInputText" type='7832' id="vip-welcome-communication" attrid="">
                            <option value="Pending">Pending</option>
                            <option value="Sent">Sent</option>
                        </select>
                    </label>
                    <span id="spn-vip-welcome-communication"></span>
                </li>
                <i class="fa fa-envelope gmFontBlack pv-edit-phone-mail-value gmFont15em"></i>
            </ul>
            <ul>
                <li class="gmSectionListItem gmText250 pv-edit-phone-commn-type-value gmAlignHorizontal">VIP Confirmation Email</li>
                <li class="gmSectionListItem gmSectionValue li-pv-phone-select-val gmAlignHorizontal gmText175">
                    <label class="selectbox-icon">
                        <select class="physician-communication-status gmInputText" type="7833" id="vip-conformation-communication" attrid="">
                            <option value="Pending">Pending</option>
                            <option value="Sent">Sent</option>
                        </select>
                    </label>
                    <span id="spn-vip-conformation-communication"></span>
                </li>
                <i class="fa fa-envelope gmFontBlack pv-edit-phone-mail-value gmFont15em"></i>
            </ul>
        </div>
    </div>
</div>
