<div id="scheduler-event-main">
    <div id="scheduler-event-main-header" class="gmSection gmBGDBlue gmFontWhite gmPadding5p">
        <li class="gmSectionListItem gmAlignHorizontal gmPad10p">Physician's Visit</li>
        <li id="event-info-btn-close" class="gmAlignHorizontal cursorPointer gmFloatRight gmFont18em gmPadding5p gmTxtLGrey gmMarginRight5p">X</li>
    </div>
    <div id="scheduler-event-sub-content">
        <section>

            <div class="section-div">
                <span class="span-title">Type of Visit:</span>
                <span class="span-data">
                    <div>{{acttypenm}}</div>
                </span>
            </div>
            <div class="section-div visit-edit-division">
                <span class="span-title">Division:</span>
                <span class="span-data">
                    <div class="gmTextUpper">{{divisionnm}}</div>
                </span>
            </div>
            <div class="section-div">
                <span class="span-title">Surgeons:</span>
                <span class="span-data">
                    {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
                    <div class="gmLnk gmUnderline gmPadRight5p gmSectionHead gmPadBottom5p">
                        <a href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a>
                        {{#if surgeoncv}}<span id="cv-links-{{partyid}}" style="display: inline-block; margin-left: 2px;"><span class="a-view-docs" href="#crm/{{surgeoncv}}" target="_blank"> <img class="gmVerticalMiddle" src="globusMobileApp/image/crm/cv_icon.PNG"></span>
                        </span>{{/if}}
                    </div> {{/iffalse}} {{/iftrue}} {{/each}}
                </span>
            </div>
            <div class="section-div">
                <span class="span-title">Other Visitors:</span>
                <span class="span-data">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105590'}}{{#iffalse voidfl 'Y'}}
                    <div class="gmPadBottom5p">
                        <span>{{attrval}} | </span>
                        <span class="gmFont12px gmFontItalic">{{attrnm}}</span>
                    </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>
            {{#iftrue prodFl 'Y'}}
            <div class="section-div">
                <span class="span-title">Products to Review:</span>
                <span class="span-data">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
                    <div class="gmPadBottom5p">
                        {{attrnm}}
                    </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>
            {{/iftrue}}
            <div class="section-div">
                <span class="span-title">Products to Use in Lab:</span>
                <span class="span-data">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105586'}}{{#iffalse voidfl 'Y'}}
                    <div class="gmPadBottom5p">
                        {{attrnm}}
                    </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>
            <div class="section-div">
                <span class="span-title">Other Lab Instructions:</span>
                <span class="span-data">
                    {{otherinstr}}
                </span>
            </div>
            {{#iftrue projFl 'Y'}}
            <div class="section-div">
                <span class="span-title">Projects:</span>
                <span class="span-data">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105583'}}{{#iffalse voidfl 'Y'}}
                    <div class="gmPadBottom5p">
                        {{attrnm}}
                    </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>
            {{/iftrue}}
            <div class="section-div">
                <span class="span-title">Field Sales Attendees:</span>
                <span class="span-data">
                    {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}}{{#iffalse voidfl 'Y'}}{{#if partynm}}
                    <div class="gmPadBottom5p">
                        {{partynm}}
                    </div>{{/if}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>


            <div class="section-div">
                <span class="span-title">Top Priorities:</span>
                <span class="span-data">
                    {{toppriority}}
                </span>
            </div>

            <div class="section-div">
                <span class="span-title">
                    Dietary Restrictions:</span>
                <span class="span-data">
                    {{dietary}}
                </span>
            </div>

            <div class="section-div ul-visit-actnotes">
                <span class="span-title">Notes:</span>
                <span class="span-data">
                    {{actnotes}}
                </span>
            </div>
            <div class="section-div">
                <span class="span-title">Related Documents:</span>
                <span class="span-data">
                    <div class="upload-files-list"></div>
                </span>

            </div>
            <div id="div-visit-cancel-reson" class="section-div hide">
                <span class="span-title">Reason For Cancellation:</span>
                <span class="span-data">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '26240352'}} {{#iffalse voidfl 'Y'}} {{attrnm}}{{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}} - {{attrval}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </div>
            <div class="section-div">
                <span class="span-title">Created By:</span>
                <span class="span-data">
                    <div>{{createdby}}</div>
                </span>
            </div>

            <div class="section-div">
                <span class="span-title">Created Date:</span>
                <span class="span-data">
                    <div>{{createddate}}</div>
                </span>
            </div>
        </section>

    </div>
</div>
