.gmDisplayTable{display: table;}
.part-set-wrap.toggled .showAToggle{display: block;}
.part-set-wrap.toggled .itemPartSetQty.showAToggle{display: flex;}
.part-set-wrap .showAToggle{display: none;}
.part-set-wrap.toggled .showBToggle{display: none;}
.gmWidth15{width: 15%;}
.caseMain #div-common-search-x, #shareCaseContent #div-common-search-x{
    top: 7px;
    background: none;
    right: 0;
}
.labelPartSrch{color:#00366e;}
.caseMain #div-search-result-main.arrow_box_up:after, #shareCaseContent #div-search-result-main.arrow_box_up:after, .caseMain #div-search-result-main.arrow_box_down:after, #shareCaseContent #div-search-result-main.arrow_box_down:after{
    border: 0;
}
.caseMain #div-search-result-main, #shareCaseContent #div-search-result-main {
    margin-top: -11px !important;
    border: 0;
}
.woscrolalign{display: none;}
.woscrolalign.onActive {display: block;}
.wominheight{min-height: 0;}

.caseMain #div-search-result-multiple, #shareCaseContent #div-search-result-multiple{text-align: center;}

#shareCaseContent .gmTitleText{display: none;}
#shareCaseContent .div-share-case-wrap .case-new-label {
    width: 28%;
    padding-right: 2%;
}
#shareCaseContent #div-search-result-main{
    left: auto !important;
    top: auto !important;
    border: 0;
}

.caseMain #ul-search-resultlist li, .ulshareSearch #ul-search-resultlist li, #shareCaseContent #ul-search-resultlist li{
    padding: 5px;
    border-bottom: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 0;
}

#div-crm-overlay-content-container.caseSharepopup .modal-body{padding: 5px 7px 6px 5px;}
#div-crm-overlay-content-container.caseSharepopup .modal-header{background: rgb(0, 54, 110); color: #FFF;}

#div-crm-overlay-content-container.caseSharepopup .modal-header{padding: 0;}
#div-crm-overlay-content-container.caseSharepopup .modal-header .close{padding: 10px;}
#div-crm-overlay-content-container.caseSharepopup #div-crm-popup-msg{margin: 0px;}
#div-crm-overlay-content-container.caseSharepopup .modal-header .close{opacity: 1;}
#div-crm-overlay-content-container.caseSharepopup .modal-header .close i{color: #FFFFFF;}
.div-crm-overlay-content-container.caseSharepopup .modal-title{text-align: center; padding: 10px;}
.sharebtns .gmBtn{margin: 0 10px; font-weight: bold;}


.pcase-inv-head ul li{display: flex; align-items: center; margin-bottom: 10px;}
.pcase-head-label{width: 110px; text-align: right; margin-right: 10px;}
.pcase-inv-head .li-case-book-label{width: 60%; padding: 0}
.pcase-inv-head .li-case-book-label input{width: 100%;}
.pcase-head-cnt{width: calc(100% - 110px);}
.plan-case-subtab-option{padding: 0 10px;}
.plan-case-subtab-option > ul{display: flex; align-items: center; padding: 10px 0;}
.plan-case-subtab-option .li-case-book-label{padding: 0; width: 72%;}
.plan-case-subtab-option .li-case-book-label input{width: 100%;box-sizing: border-box;}
.plan-case-subtab-option > ul > li {margin-right: 10px;}
.pcase-inv-body #set-main, .pcase-inv-body #part-main{border: 0; height: 420px; min-height: 420px;}
.setListDetails, .partListDetails{height: 367px; overflow-y: auto;}
.pcase-inv-body{border: 1px solid #ccc;border-top: 0;}
.pcase-inv-body  .plan-case-main-tab{width: 100%;}
#setbundle{width: 50%;padding-top:5px;border-radius: 3px 0 0 3px;}
#setsearch{width: 50%;padding-top:5px;border-radius: 0 3px 3px 0;}
.partSetDetailOpen{padding: 3px 10px;background: #8c8c8c;display: flex;align-items: center;justify-content: space-between;    border-bottom: 1px solid #00366e;}
.partSetDetailOpen:last-of-type{border-bottom: 0}
.partSetDetailOpen span{color: #fff}
.part-set-wrap{padding: 5px; border-bottom: 1px solid #ccc; box-sizing: border-box;}
.part-set-wrap:last-of-type{border-bottom: 0}
.pcase-set-part-section {display: flex;align-items: center;}
.qty-toggle-section {display: flex;align-items: center;}
.pcase-part-num span{background: #ccc; padding: 5px 8px; display: inline-block; border-radius: 5px;}
.qty-item-set-part{display: flex; align-items: center; margin-right: 10px;}
.qty-item-set-part a{display: inline-block !important; vertical-align: top}
.qty-item-set-part .qty-minus-pu{margin-right: 6px}
.qty-item-set-part .qty-minus-pu i{color: #ff5b5b;    font-size: 1.6em;}
.qty-item-set-part .qty-plus-pu i{color: #4fca4f;    font-size: 1.6em !important;}
.qty-item-set-part #div-inv-qty-box{background: #fff; overflow: hidden}
/*.qty-item-set-part , .pcase-part-name , .pcase-tag-name , .pcase-tag-num{display: none}*/
.kitset-show .pcase-part-name , .kitset-show .pcase-tag-name{display: block}
.addset-show .pcase-tag-num , .addset-show .qty-item-set-part , .addset-show .pcase-part-name{display: block}
.addset-show .pcase-tag-title , .addset-show .text-qty-pcase{display: none}

.kitpart-show .pcase-part-name , .kitpart-show .pcase-tag-name , .kitpart-show .qty-item-set-part{display: block}
.kitpart-show .text-qty-pcase{display: none;}
.addpart-show .pcase-part-name , .addpart-show .pcase-tag-name , .addpart-show .qty-item-set-part{display: block}
.addpart-show .text-qty-pcase{display: none;}
.part-set-wrap .fa-minus-circle {color: #ff5b5b;}

.caseMain .togglebx{display: inline-block;}
.caseMain .togglebx img{transform: rotate(180deg);-ms-transform: rotate(180deg); /* IE 9 */-webkit-transform: rotate(180deg); /* Safari */transform: rotate(180deg);width: 35px;}
.caseMain .togglebx img.onActive{transform: rotate(0deg);-ms-transform: rotate(0deg); /* IE 9 */-webkit-transform: rotate(0deg); /* Safari */transform: rotate(0deg);}
.plan-case-inventory{padding: 15px 15px 0;}
.plan-case-inventory .liInvntry{padding: 0}
.plan-case-inventory .ulInvntryBtns.half-circle{width: 175px; border-radius: 5px;}

.caseMain{width: 100%; background: #fff; overflow: hidden; height: 650px; overflow-y: auto;}
#div-casescheduler-create, #div-casescheduler-inventory, #div-casescheduler-share-case{height: 570px; overflow: hidden; overflow-y: auto;}
/*.div-new-case-create, .plan-case-inventory, .div-share-case-wrap{padding:15px 15px 0 15px;}*/
.plan-case-summary{height: 572px;overflow: hidden;/* overflow-y: auto; */ padding: 15px;}
.gm-row:before,
.gm-row:after{
  display: table;
  content: " ";
}
.gm-row:after{
  clear: both;
}
.gm-row {box-sizing: border-box;width: 100%; display: flex;}
.gm-col-6{width: 50%;box-sizing: border-box;}
.gm-col-12{ box-sizing: border-box;width: 100%;}
.padd-rl-10p{padding: 0 10px;}
.case-new-label {min-width: 115px;display: inline-block;text-align: right;padding-right: 10px;box-sizing: border-box;font-weight: bold;}
.padd-rl-15p{padding: 0 15px;}
#new-case-search-account-name input{width: 100%;border: 1px solid #999;border-radius: 3px;padding: 18px 0.5em;-webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;-moz-box-shadow: 0px 2px 6px 1px #B7B4B4;box-shadow: 0px 2px 6px 1px #B7B4B4;color: #000;font-family: SourceSansPro;font-size: 1em;box-sizing: border-box;}
#new-case-search-account-name {width: calc(100% - 115px);display: inline-block;}
.gm-separateor-line{width: 100%; background: #808080; height: 5px;}
.btm-20p{margin-bottom: 20px;}
.btm-10p{margin-bottom: 10px;}
#new-case-surgeon-npi , #new-case-surgeon-name{width: calc(100% - 115px);}
#new-case-surgeon-npi input , #new-case-surgeon-name input{width: 100%;box-sizing: border-box;}
.new-case-surgeons-list{width: 100%;border: 1px solid #999;border-radius: 3px;padding: 0.741em 0.5em;-webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;-moz-box-shadow: 0px 2px 6px 1px #B7B4B4;box-shadow: 0px 2px 6px 1px #B7B4B4;color: #000;font-family: SourceSansPro;font-size: 1em;overflow: auto;height: 100px;box-sizing: border-box;}

.padd-left-15p{padding-left: 15px;}
.padd-right-15p{padding-right: 15px;}
.div-new-case-create .gmInputText {height: 38px;box-sizing: border-box;}
.new-case-surgery-notes{border-radius: 3px;padding: 0.741em 0.5em;-webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;-moz-box-shadow: 0px 2px 6px 1px #B7B4B4;box-shadow: 0px 2px 6px 1px #B7B4B4;color: #000;font-family: SourceSansPro;font-size: 1em;box-sizing: border-box; height: 100px;}

#new-case-surgery-level .div-dropdown-main , #new-case-surgery-type .div-dropdown-main , #new-case-search-account-name .div-dropdown-main{width: 100%; overflow: hidden;border: 1px solid #999;border-radius: 3px;-webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;-moz-box-shadow: 0px 2px 6px 1px #B7B4B4;box-shadow: 0px 2px 6px 1px #B7B4B4;color: #000;}
#new-case-surgery-level .div-arrow-dropdown , #new-case-surgery-type .div-arrow-dropdown , #new-case-search-account-name .div-arrow-dropdown{float: left;margin: 4px 5px 0 5px;width: 0;}
#new-case-surgery-level .div-dropdown-text, #new-case-surgery-type .div-dropdown-text , #new-case-search-account-name .div-dropdown-text{margin: 11px 0 5px 25px;text-align: left; vertical-align: middle;}
#new-case-surgery-level , #new-case-surgery-type , #new-case-search-account-name{    border-radius: 3px;width: calc(100% - 115px); position: relative}
#new-case-surgery-level .div-dropdown-list, #new-case-surgery-type .div-dropdown-list , #new-case-search-account-name .div-dropdown-list{margin-top: 0;position: absolute;width: 100%;z-index: 1;}
#new-case-surgery-level .div-dropdown-list li , #new-case-surgery-type .div-dropdown-list li, #new-case-search-account-name .div-dropdown-list li{background-color: #444;border-bottom: 1px solid #ccc;color: #fff;padding: 8px 0 8px 30px;text-align: left;width: 100%;box-sizing: border-box;
}
/*.newcase-footer-btns-section{display: flex;align-items: center;justify-content: space-between;margin: 15px 30px;}*/
    .newcase-footer-btns-section {display: table;box-sizing: border-box;width: 100%;padding: 15px;}
    .newcase-footer-btns-section li {display: table-cell;text-align: center;width: 33.333%;}
.newcase-footer-btns-section li:first-child{text-align: left}
.newcase-footer-btns-section li:last-child{text-align: right}

.newcase-footer-btns-section .btnPrev , .newcase-footer-btns-section .btnNext{background: #fffaae}
.newcase-footer-btns-section .btnCancel{background: #d33829; color: #fff}
.newcase-footer-btns-section .gmBtn{border-radius: 5px;    display: inline-block;padding: 8px 15px;border: 1px solid #505050;}

.div-share-case-wrap{padding: 15px;}
#case-share-name-search {width: 70%;}
#case-share-name-search input{width: 100%; box-sizing: border-box; height: 38px;}
.div-share-case-wrap .case-new-label{width: 20%; padding-right:3%;}
.div-share-case-wrap #div-currently-share{width: 70%;}
.current-share-case-list {background: #f6f6f6;padding: 15px;box-sizing: border-box;width: 70%;border: 1px solid #a1a1a1;border-radius: 3px;min-height: 200px;}
.gm-case-title{margin: 15px 0;}

/*case summary css*/
.casesummary-label-ul {margin: 0 -15px;box-sizing: border-box;}
.casesummary-label-ul:after, .casesummary-label-ul:before {display: table;content: "";}
.casesummary-label-ul:after {clear: both;}
.casesummary-label {float: left;font-weight: bold;display: inline-block;min-width: 125px;text-align: right;padding-right: 10px;}
.casesummary-label-ul li {width: 50%;float: left;margin-bottom: 15px;padding: 0 15px;box-sizing: border-box;}
.casesummary-content{overflow:hidden;}
.plan-inventory-summary-band {width: 100%;background: #dbdbdb;border-radius: 25px;border: 1px solid #333;padding: 10px 30px;box-sizing: border-box; position: relative;}
/*.case-summary-btn-ul{display: flex;justify-content: space-between;}*/
.case-summary-btn-ul{display: block;width: 100%; text-align: center;}
.case-summary-btn-ul li:first-child {margin-left: 0;}
.case-summary-btn-ul li {display: inline-block; margin-left: 8.7%;}
.case-summary-btn{width: 125px;padding: 8px 0px;border-radius: 4px;text-align: center;margin-left: 0px;display: inline-block;margin-top: 10px;color:#fff;background-color: #00366e; margin-bottom: 0px;}
.case-bg-orange {background-color: #d33829;}
.plan-case-inventory-section .liInvntry{padding: 0; margin-top: 0}
.plan-case-inventory-section{border: 1px solid #ccc;border-top: 0px; border-radius: 25px 25px 0 0;}
.plan-case-inventory-section #set-main , .plan-case-inventory-section #part-main{border: 0; min-height: auto;}
.toggle-circle-arrow {background: #fff;width: 28px;height: 28px;border-radius: 50%;text-align: center;vertical-align: middle;border: 2px solid #1a66b5;box-sizing: border-box;transform: rotate(0deg);-ms-transform: rotate(0deg); /* IE 9 */-webkit-transform: rotate(0deg); /* Safari */transform: rotate(0deg);}
.toggle-circle-arrow i {color: #043970;font-size: 18px;display: inline-block;padding-top: 3px;}
.plan-inventory-summary-band .toggle-circle-arrow {position: absolute; left: 9px; top: 3px;}
.toggle-circle-arrow.onActive{transform: rotate(180deg);-ms-transform: rotate(180deg); /* IE 9 */-webkit-transform: rotate(180deg); /* Safari */transform: rotate(180deg);}


.btn-add-npi-surgeon{background: #082c50;padding: 5px 10px;color: #fff;margin-left: 25px;border-radius: 3px;}
.case-surg-item{display: inline-block;background: #ccc;padding: 8px 30px 8px 8px;position: relative; border-radius: 20px; margin-bottom: 5px;}
.remove-case-surgeon{position: absolute; right: 8px; top: 7px;}
.remove-case-surgeon i{color: #333; font-size: 18px;}

/*********Case Dashboard*********/

.row-top {
/*    display: -ms-flexbox;*/
    display: flex;
    margin-top: 10px;
/*
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
*/
}

.top-header {
    margin: 0 auto;
}

.monthlinks:nth-child(1),
.monthlinks:nth-child(2) {
    border-right: 0;
    margin-right: -2px;
}

.monthlinks:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.monthlinks:nth-child(3) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.monthlinks {
    background-color: #fff;
    color: #1a5591;
    float: left;
    border: 1px solid #1a5591;
    cursor: pointer;
    padding: 7px 14px;
    font-size: 14px;
    outline: none;
}

.monthContent {
    display: flex;
    width: 100%;
    padding: 15px 0;
}

.col-left {
    float: left;
    width: 50%;
    border-right: 1px solid #aba8a8;
}

.col-right {
    float: left;
    width: 50%;
}

.monthContent {
    display: none;
}

.monthContent.current {
    display: flex;
}

.monthlinks.current {
    background-color: #00366e;
    color: #fff;
}

.top-header button.active {
    background-color: #ccc;
}

.donut-chart {
    background-color: transparent;
    margin: 15px auto;
}

.month-heading {
    text-align: center;
    color: #000;
    padding: 5px;
    font-weight: bold;
}

.month-content {
    max-height: 340px;
    min-height: 100px;
    padding: 10px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
	box-sizing: border-box;
}

.month-content .center-details {
    text-align: center;
    color: #a5a5a5;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.case-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
    border-left: 5px solid #d33829;
}

/*.case-details.pendingdo{border-left-color: #d33829;}*/
.case-details.dobooked{border-left-color: #00366e;}
.case-details.loaner{border-left-color:  #ffdd00;}
.case-details.noloaner{border-left-color: #00d607;}
.case-details.casecl{border-left-color: #d9d9d9;}


#caseContent.PENDINGDO .case-details{border-left: 5px solid #d33829;}

.case-data {
    line-height: 20px;
    font-size: 14px;
    color: #191717;
    white-space: nowrap;
}

/*
.left-colr {
    height: 64px;
    border-left: 5px solid transparent;
    float: left;
    margin: -2px 6px 0px -2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#loaner-req-details .left-colr {
    border-left-color: #ffdd00;
}

#no-loaner-req-details .left-colr {
    border-left-color: #00d607;
}
*/

.case-filter {
    border-radius: 5px;
    background: #00366e;
    color: #fff;
    font-weight: bold;
    outline: none;
    border-width: 0;
    padding: 10px 15px;
    font-size: 14px;
     position: absolute;
    right: 15px;
}

#myChart a {
    display: none;
}

.zc-ref {
    display: none;
}

.Popupchart {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.Popupchart.active {
    display: block;
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #000 !important;
}

.chart-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 80%;
}

.Popupchart .close {
    color: #000;
    float: right;
    font-size: 40px;
    filter: alpha(opacity=20);
    font-weight: bold;
    line-height: 1;
    opacity: .5;
    text-shadow: 0 1px 0 #fff;
    padding: 0px 10px;
    margin: -0.6rem -0.6rem -0.6rem auto;
}

.Popupchart .close:hover,
.Popupchart .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#chart-container-this,
#chart-container-next,
#chart-container-last{
    min-height: 45vh;
    width: 350px;
}

.case-header {
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 15px;
}
.donut-chart.dhx_chart .dhx_canvas_text {
    font-size: 16px;
    color: #fff;
}

#caseContent {
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*Case Schedule css start*/
.evendar-eventlist-header{display: none !important}
.evendar-container .evendar-input .evendar-input-content, .evendar-container-mobile .evendar-input .evendar-input-content{flex-direction: row;-ms-flex-direction: row;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars{width: 50%;}
.evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist{width: 50%;}
.evendar-footer{display: none !important}
.evendar-prev .fa-arrow-left{padding: 0; color: #fff}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-title, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-title{color: #fff; background: #00366e; padding: 15px 12px; border-bottom: 0; font-size: 20px; font-weight: bold; display: block;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container{padding: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day{border: 1px solid #6c6c6c;border-right: 0;border-bottom: 0;margin-bottom: 0;    padding: 20px 2px 45px;    font-size: 15px; display: inline-block;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-dayofweek, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-dayofweek {
    font-size: 0.85em;color: #000;padding: 15px 10px;background: #ccc;border: 1px solid #6c6c6c;border-right: 0;border-bottom: 0;margin-bottom: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend {
    color: #c0c0c0;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today.evendar-selected, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today.evendar-selected {
    background: #fffaae;
    color: #000;
    border-radius: 0;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today {
    background: #fffaae;
    color: #000;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day:hover:not(.evendar-hovered):not(.evendar-selected), .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day:hover:not(.evendar-hovered):not(.evendar-selected){border-radius: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-selected, .evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-start, .evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-end, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-selected, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-start, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-end{border-radius: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend{border-right: 1px solid #6c6c6c;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend + .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend + .evendar-weekend{border-right: 0;}
.evendar-dayofweek + .evendar-weekend{border-right: 0 !important;}
.evendar-days-container div:nth-child(43) , .evendar-days-container div:nth-child(44) , .evendar-days-container div:nth-child(45) , .evendar-days-container div:nth-child(46) , .evendar-days-container div:nth-child(47) , .evendar-days-container div:nth-child(48) , .evendar-days-container div:nth-child(49){border-bottom: 1px solid #6c6c6c !important;}
.evendar-container .evendar-input, .evendar-container-mobile .evendar-input{border-radius: 0; width: auto !important;}
.evendar-nobottomradius + .evendar-nobottomradius, .evendar-eventlist-item + .evendar-nobottomradius {
    display: none;
}
.case-cal-legend ul{display: flex !important; justify-content: center;}
.case-cal-legend ul li {margin-right: 15px; display: flex !important; align-items: center;} 
.case-cal-legend ul li span{width: 15px; height: 15px; display: inline-block;  border-radius: 50%; margin-right: 3px;}
.case-cal-legend{width: 100%;}
.cal-leg-red{background: #d33829} 
.cal-leg-blue{background: #00366e}
.cal-leg-yellow{background: #ffdd00}
.cal-leg-green{background: #00d607}
.cal-leg-grey{background: #d9d9d9}
.gmRctKit{    width: 35%;
    border: 1px solid rgb(153, 153, 153);
    margin: 10px 0 0;
    height: 70px;
	border-left: 10px solid;
    border-color: #002358;
	overflow-x: hidden;
	overflow-y: scroll;
}
.gmRctCs{width: 100%;
	text-align: left;
    padding: 3px;}
.gmNoRctKit{border-left: none;
    border-color: none;}
/*.partSetPriRow .togglebx{display: none;}*/
.sets-summary .partSetDetailInnerContent, .parts-summary .partSetDetailInnerContent{height: 303px; overflow-y: auto;}

/*
.sheduler-calendar-wrap{display: flex}
.dhx_cal_event.event_nlr .dhx_body, .dhx_cal_event.event_nlr .dhx_footer, .dhx_cal_event.event_nlr .dhx_header, .dhx_cal_event.event_nlr .dhx_title{
    background: #fff;    color: #333;text-align: left;border-left: 3px solid #00d607;}
.dhx_cal_event.event_lr .dhx_body, .dhx_cal_event.event_lr .dhx_footer, .dhx_cal_event.event_lr .dhx_header, .dhx_cal_event.event_lr .dhx_title{
    background: #fff;    color: #333;text-align: left;border-left: 3px solid #ffdd00;}
.dhx_cal_event.event_pdo .dhx_body, .dhx_cal_event.event_pdo .dhx_footer, .dhx_cal_event.event_pdo .dhx_header, .dhx_cal_event.event_pdo .dhx_title{
    background: #fff;    color: #333;text-align: left;border-left: 3px solid #d33829;}
.dhx_cal_event.event_dob .dhx_body, .dhx_cal_event.event_dob .dhx_footer, .dhx_cal_event.event_dob .dhx_header, .dhx_cal_event.event_dob .dhx_title{
    background: #fff;    color: #333;text-align: left;border-left: 3px solid #00366e;}
.dhx_cal_event.event_nlr , .dhx_cal_event.event_lr , .dhx_cal_event.event_pdo , .dhx_cal_event.event_dob {
    box-shadow: 6px 3px 12px #8c8c8c; -webkit-box-shadow: 6px 3px 12px #8c8c8c;
}

.sheduler-calendar-wrap .dhx_mini_calendar .dhx_year_month{background: #00366e;color: #fff; padding: 10px;height: auto;    width: 92.5%;    font-size: 16px !important;}
.sheduler-calendar-wrap .dhx_cal_container.dhx_mini_calendar{border: 0; box-shadow: none;}
.sheduler-calendar-wrap .dhx_mini_calendar .dhx_year_week{height: auto !important}
.sheduler-calendar-wrap .dhx_scale_bar_last{    border-left-color: #808080 !important;}
.sheduler-calendar-wrap .dhx_mini_calendar .dhx_scale_bar{height: auto !important;padding: 10px 0;background: #ccc;color: #333;font-size: 13px;font-weight: bold; border: 1px solid #808080; border-top: 0}
.sheduler-calendar-wrap .dhx_mini_calendar .dhx_year_body{padding-top: 35px;}
.sheduler-calendar-wrap .dhx_month_head, .sheduler-calendar-wrap .dhx_scale_holder_now, .sheduler-calendar-wrap .dhx_scale_holder, .sheduler-calendar-wrap .dhx_scale_bar_last, .sheduler-calendar-wrap .dhx_month_body{border-right-color: #808080 !important;}
.sheduler-calendar-wrap .dhx_mini_calendar .dhx_month_head{padding: 10px 0; margin: 0}
.sheduler-calendar-wrap .dhx_mini_calendar .dhx_calendar_click, .sheduler-calendar-wrap .dhx_mini_calendar .dhx_year_event{border-radius: 0}
.sheduler-calendar-wrap #scheduler_here .dhx_cal_header {height: 43px !important;border: 0 !important;}
.sheduler-calendar-wrap #scheduler_here .dhx_scale_bar{background: #00366e;color: #fff !important;padding: 14px 0;height: auto !important;    font-size: 16px !important;}
.sheduler-calendar-wrap #scheduler_here .dhx_cal_navline{display: none}
.sheduler-calendar-wrap #scheduler_here .dhx_cal_data{top: 88px !important}
.sheduler-calendar-wrap #scheduler_here{top: -32px; height: 700px;}
.sheduler-calendar-wrap #scheduler_here .dhx_cal_tab, .sheduler-calendar-wrap #scheduler_here .dhx_cal_today_button, .sheduler-calendar-wrap #scheduler_here .dhx_scale_hour {color: #000 !important;background: #dadada;font-weight: bold;}
*/
.evendar-container, .evendar-container-mobile {margin-bottom: 30px;}
.noCaseData{ position: absolute;top: 50%;left: 0px;right: 0; text-align: center; font-size: 15px; font-family: SourceSansPro, "Trebuchet MS"; font-weight: bold;}
.evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist{z-index: 1;}

/*case Summary ipad*/
.dividesecsumm-mob{display: none;}
.dividesecsumm-ipad{display: block;}

  .setListDetails .delete-pu-span, .partListDetails .delete-pu-span{display: none;}

.sets-summary .partSetDetailInnerContent, .part-summary .partSetDetailInnerContent{
        height: 150px;
        overflow: auto;
    }
 .plan-case-inventory .partSetDetailInnerContent {
        height: 145px;
        overflow-y: auto;
    }
.plan-case-summary .partSetDetailInnerContent {
        height: 110px;
        overflow-y: auto;
    }
/*
.btnAlignRight{
    margin-right : -85px;
}

.btnAlignLeft{
    margin-left : -81px !important;
}
*/

.plan-case-summary .partSetDetailInnerContent.divsetpartheig{
    height: 240px;
}

.plan-case-inventory .partSetDetailInnerContent.divsetpartheig{
    height:292px;
}
.case-mob-surg-nm{display: none}
#new-case-search-account-name #div-search-result-main {
    position: absolute;
    left: 0 !important;
    top: 49px !important;
    padding: 0 !important;
    width: 100% !important;
}
#new-case-search-account-name #ul-search-resultlist li {
    padding: 0;
}
#new-case-search-account-name #ul-search-resultlist li a{display: block;padding: 7px 5px;}
/*Case Schedule css End*/

/*
@media only screen and(max-width : 767px) {    
    .div-new-case-create .gm-row{flex-wrap: wrap;}
    .div-new-case-create .case-new-label{text-align: left; padding-right: 0;width: 100%;  margin-bottom: 10px;}
    .div-new-case-create .display-flex{flex-wrap: wrap}
    .div-new-case-create .gmInputText{box-sizing: border-box;}
    .div-new-case-create .gm-col-6{ flex-wrap: wrap; width: 100%;margin-bottom: 10px;}
    .div-new-case-create .gm-col-12{margin-bottom: 10px;}
    .div-new-case-create .padd-left-15p{ padding-left: 0px;}
    .div-new-case-create .padd-right-15p{ padding-right: 0px;}
    .div-new-case-create #new-case-surgery-level{margin-bottom: 10px; width:100%;}
    .div-new-case-create #new-case-surgery-type{margin-bottom: 10px; width:100%;}
    #new-case-search-account-name{width: 100%;}
    .div-new-case-create .padd-rl-15p{padding: 0 15px;}
    #new-case-surgeon-npi, #new-case-surgeon-name{width: 100%;}
    .div-new-case-create .btm-20p{margin-bottom: 0;}
    .div-new-case-create .btm-10p{margin-bottom: 0;}
     .div-new-case-create .gm-separateor-line{margin: 20px 0;}
    .plan-case-inventory .togglebx{position: relative; top: 0; right: 0;}
}
*/


@media (max-width : 767px) { 
    .caseMain{width: 100%; background: #fff; height: auto;overflow-y: hidden;} 
    .div-scheduler-case{overflow: auto;height: 650px;}
    .div-scheduler-case.dashheight{overflow: auto;height: 625px;margin-top: 20px;}
    .pcase-inv-head .li-case-book-label input{width:100%; box-sizing: border-box;}
    .div-new-case-create .gm-row{flex-wrap: wrap;}
    .div-new-case-create .case-new-label{text-align: left; padding-right: 0;width: 100%;  margin-bottom: 10px;}
    .div-new-case-create .display-flex{flex-wrap: wrap}
    .div-new-case-create .gmInputText{box-sizing: border-box;}
    .div-new-case-create .gm-col-6{ flex-wrap: wrap; width: 100%;margin-bottom: 10px;}
    .div-new-case-create .gm-col-12{margin-bottom: 10px;}
    .div-new-case-create .padd-left-15p{ padding-left: 0px;}
    .div-new-case-create .padd-right-15p{ padding-right: 0px;}
    .div-new-case-create #new-case-surgery-level{margin-bottom: 10px; width:100%;}
    .div-new-case-create #new-case-surgery-type{margin-bottom: 10px; width:100%;}
    #new-case-search-account-name{width: 100%;}
    .div-new-case-create .padd-rl-15p{padding: 0 15px;}
    #new-case-surgeon-npi, #new-case-surgeon-name{width: 100%;}
    .div-new-case-create .btm-20p{margin-bottom: 0;}
    .div-new-case-create .btm-10p{margin-bottom: 0;}
     .div-new-case-create .gm-separateor-line{margin: 20px 0;}
    .plan-case-inventory .togglebx{position: relative; top: 0; right: 0;}
    /*.newcase-footer-btns-section{display: flex;align-items: center;justify-content: space-between;margin: 15px 30px;}*/
    
    .div-new-case-create .surgDateCaseID div{width:49%;}
    .div-new-case-create .surgDateCaseID input, .div-new-case-create .surgStartTMEndTM input{width:150px;}
    .div-new-case-create .surgDateCaseID .surgCaseID span{text-align: center; display: block;}
    
    /**Stop Scroll Search Result**/
    .mobSrchdrp{position: relative;}
    .caseMain .mobSrchdrp  #div-search-result-main{top: auto !important; left: 0 !important; bottom: auto !important; margin-top: 0 !important;}
    
    /**Share Popup**/
    #div-crm-overlay-content-container.caseSharepopup {
        height: 79vh;
        max-width: 350px;
    }
    .caseSharepopup .modal-body {
        height: 71vh;
    }

    #div-crm-overlay-content-container.caseSharepopup #div-currently-share {
        overflow-x: hidden;
        height: 300px;
        overflow-y: scroll;
    }
    .caseSharepopup .modal-body{
        width: 96%;
    }
    .div-share-case-wrap{padding: 5px;}
    
    
    
    /*Start of the Planned Inventory Screen*/
/*    .pcase-inv-head {padding: 0 15px;}*/
    .pcase-inv-body{margin-top: -5px;}
    .pcase-inv-head ul li{flex-wrap:wrap;margin-bottom: 10px;}
    .pcase-inv-head .pcase-head-label {display:flex;width: 100%;margin-right: 0;margin-bottom: 10px;}
    .pcase-inv-head .li-case-book-label{width:100%;} 
    .pcase-inv-head .pcase-head-cnt {width: 100%;}
    .plan-case-subtab-option > ul{flex-wrap: wrap;}
    .plan-case-subtab-option{margin-top:0; }
    .plan-case-subtab-option > ul >li{margin: auto;margin-bottom: 5px;}
    .plan-case-subtab-option ul{margin-bottom: 0px;overflow-y: hidden;}
    .plan-case-subtab-option .li-case-book-label{width: 80%;padding: 0;}
    .part-set-wrap {width: 100%;box-sizing: border-box;}
    .pcase-inv-body .div-kit-container ul li.partSetDetailOpen{flex-wrap: wrap;}
    
    .pcase-inv-body #part-main{overflow-y: hidden;}
    .setListDetails{height: 325px;overflow-y: auto;}
    .partListDetails{height: 345px;overflow-y: auto;}
    
    /*new updated 29-05-2019*/
    .plinvalign {display: none;}
    .plinvalign {display: none;}
    .part-set-wrap.toggled .itemPartSetQty.showAToggle{display: flex;margin-left: -115px;}
    .part-set-wrap.toggled .itemPartSetQty.showAToggle.plninvaddsetog{display: flex;margin-left: 0;}
   
  
    
    
    /*Start of the CaseSharing Screen*/
    #shareCaseContent .div-share-case-wrap .case-new-label, .div-share-case-wrap .case-new-label {flex-wrap: wrap;width: 100%;text-align: left;margin-bottom:  5px;}
    .gm-row .btm-20p { flex-wrap: wrap;width: 100%;text-align: left;margin-bottom: 10px;}
    .gm-row .btm-10p { flex-wrap: wrap;width: 100%;text-align: left;margin-bottom: 10px;}
    .display-flex{flex-wrap: wrap;width: 100%;box-sizing: border-box;}
    .current-share-case-list{width: 100%;}
    #case-share-name-search{width: 100%;}
    #div-crm-overlay-content-container.caseSharepopup #shareCaseContent #div-currently-share{height: 250px; min-height: 250px;}
    
    
     /*Start of the CaseSummary Screen*/
    
    .dividesecsumm-mob{display: block;}
    .dividesecsumm-ipad{display: none;}
    
    
    .ulInvntryBtns {border: 1px solid #00366e;width: 100%;box-sizing: border-box;}
    .ulInvntryBtns li.selected {background: #00366e;color: #FFF;}
    .gmDisplayIFlex {display: inline-flex;}
    .casesum-label-thirddiv{display: none;}
    .ulInvntryBtns li {padding: 5px 1%;border-right: 1px solid #00366e;color: #00366e; width: 48%; text-align: center;}
    .casesum-label-thirddiv.onActive {display: block;}
    .casesummary-label {float:none;margin-bottom: 10px;text-align:left;}
    .casesummary-label-ul li{width:100%;margin-bottom: 10px;padding: 0 !important;}
    .partSetDetailOpen .kitSet{flex-wrap: wrap;width: 100%;box-sizing: border-box;}
    /*.case-summary-btn{margin-top: 5px;}*/
   /* #set-main,#part-main{min-height: 350px;}*/
    .partSetDetailInnerContent{height: auto;}
    /*.wominheight{min-height: 0;border-radius: 25px 25px 0 0;}*/
    .wominheight{min-height: 0;}
   /* .woscrolalign{min-height: 425px;border-radius: 25px 25px 0 0;}*/
    .case-summary-btn-ul {text-align: center; margin-top: 10px;}
    .case-summary-btn{width: 125px;margin-top: 0px;margin-bottom: 5px;}
    .case-summary-btn-ul li{margin-left: 0.5%;}
    .display-flex{box-sizing: border-box;}
    .caseMain .togglebx{position: relative;}
    .div-main{height: 695px;}
    .plan-case-summary{padding-bottom:0; height:550px;}
    .pcase-inv-body #set-main, .pcase-inv-body #part-main{overflow-y: hidden;}
   /* .borderboxwidth{border-style:double;border-left: 3px solid #ccc;border-top: 3px solid #ccc;border-right: 3px solid #ccc;}*/
   /* .onActive{display: block;border-radius: 25px 25px 0 0;}*/
    
    
    .casesummary-label-ul{width: 100%;}
    .casesum-ul-align{margin:0;}
    .casesum-li-align{padding:0 !important;}
    .casesummary-label-ul .casesum-label-firstdiv {width:50%;float: left;}
    .casesummary-label-ul .casesum-label-seconddiv {width:50%;float: right;}
    
    .casesum-label-firstdiv .sum-caseid{text-align: left;float: left;} 
    .casesum-label-seconddiv .sum-surgdate{text-align: right;float: right;padding-right: 0;}
    .casesum-label-firstdiv .caseid-cont{float: left;}
    .casesum-label-seconddiv .surgdate-cont{float: right;}
    /*.casesummary-label-ul .casesum-label-thirddiv{display:none;}*/
/*    #gridPartDetails{height:358px !important;}*/
    .cassumsetpardiv{width:100%;}
   
    .kitset-show .text-qty-pcase{display: block;}
    .kitpart-show .text-qty-pcase{display: block;}
    .addset-show .text-qty-pcase{display: block;}
    .addpart-show .text-qty-pcase{display: block;}
    
  
    /*new Latest kit set*/
    /*.part-set-wrap .pcase-set-part-section,.pcase-tag-kit-section,.qty-toggle-section{display:none;}*/
/*    .kitSet,.addSet,.kitPart,.addPart{display: none;}*/
    .kitSet.hide-tab,.addSet.hide-tab,.kitPart.hide-tab,.addPart.hide-tab{display:block; width: 100%; overflow: hidden;}
    .sets-summary .partSetPriRow .gmWidth5{width:0%;}
    .widthzero{width:0%;}
    .partSetDelSec .div-part-del{display:none;}
    .case-mob-kitset-part{display:block;position: relative;padding-right: 35px;width: 100%;align-items: center;box-sizing: border-box;
                            justify-content: space-between;padding: 5px;border-bottom: 1px solid #ccc;}
    .mob-kitset-first {width: 100%;display: flex;}
    .mob-kitset-first .togglebx{position: absolute;right: 0px;padding: 2px;top:0;}
    .mob-kitset-first span{width:25%;} 
    .mob-kitset-first .kitset-qty{text-align: left;}
    .mob-kitset-first .kitset-mobtag{width:50%;text-align: center;}
    
    .mob-kitset-first .kitpart-qty{width:50%;text-align: center;}
    .kitPart .mob-addiset-first span{width:50% ;}
        

    /*new Latest addit set*/
    .case-mob-addiset-part{width: 100%;display: block;position: relative;padding-right: 35px;align-items: center;box-sizing: border-box;
                            justify-content: space-between;padding: 5px;border-bottom: 1px solid #ccc;}
    .mob-addiset-first{width: 100%;display: flex;}
    .case-mob-addiset-part .togglebx{position: absolute;right: 0px;padding: 2px;top:0;}
    .mob-addiset-first span{width:50%;}
    .mob-addiset-second {width: 100%;display: flex;}
    .mob-addiset-second span{width:50%;}
    .addset-show .mob-addiset-second .pcase-tag-name{display:block;}
    
     /*new Latest kit part*/
    .mob-kitset-first .kitpartsalign span{width:50%;}   
    .addpartalign{width:100%;margin-top: 10px;}
    
    .div-share-case-wrap #div-currently-share {width: 100%;}    
    


/*CaseCalendar Css for Mobile Responsive*/

    .evendar-container .evendar-input .evendar-input-content, .evendar-container-mobile .evendar-input .evendar-input-content {
    flex-direction: column;
    -ms-flex-direction: column;
    /*max-height: 750px !important;*/
        max-height: 535px !important;
        
}
   /* .evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars {
    width: 100%;    height: 350px !important;
}*/
    .evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars {
    width: 100%;display: inline-block; height: 280px !important;
    }
    .evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist {
    width: 100%;height: 250px;
}
.case-cal-legend ul{flex-wrap: wrap;}
.case-cal-legend ul li{font-size: 10px; margin-bottom: 5px;}
    .case-cal-legend ul li span{width: 12px; height: 12px;}

/*.sheduler-calendar-wrap{flex-wrap: wrap;}*/
    
   .evendar-eventlist{height;350px; !important;}
   .evendar-container-mobile.evendar-inline{margin-top: 0px;}
   .evendar-days-container .evendar-day{padding:0 !important;}
   .evendar-container, .evendar-container-mobile{font-size: 10px;}
    
   #div-case-title-main{width: 70%;height: -10px;clear: left;display: inline-block;font-size: 15px;font-weight: bold;margin-top: -5px;
}
.evendar-container-mobile.evendar-inline {
margin-top: 0px;
height: 560px;
}
#div-header {
        height: 40px;
        }
#div-footer{
	bottom: 0;
height: 35px;
position: fixed;
width: 100%;
}

#div-case-view{
		width: 96%;
margin: 5px 2% 0 2%;
}
.evendar-container-mobile {
margin-bottom: 0px;
}

/*********Case Dashboard*********/

/*
    .caseMain{
        height: 508px;
    }
*/
    .month-content {
        max-height: none;
        overflow: auto;
    }

    .case-data {
        font-size: 13px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .monthlinks
     {
        padding: 6px 17px;
    }

    .case-filter {
        padding: 8px 10px;
        font-weight: normal;
        right: 10px;
        top: 88px;
    }

    .monthContent {
        display: inline-block;
        padding-top: 0;
    }

    .monthContent {
        display: none;
    }

    .monthContent.current {
        display: inline-block;
    }

    .col-left {
        width: 100%;
        float: none;
        border-right: 0;
        border-bottom: 4px solid #b5b5b5;
    }

    .col-right {
        width: 100%;
        float: none;
    }

    .row-main {
        max-height: 82vh;
        overflow-x: hidden;
        overflow-y: scroll;
/*        margin-top: 15px;*/
    }

    #chart-container-this,
    #chart-container-next,
    #chart-container-last {
/*        height: 50vh;*/
        margin: 0 auto;
/*        margin-top: -40px;*/
    }

    .month-heading {
        text-align: left;
        padding: 5px 15px;
        color: #757373;
    }
    
    .setListDetails .delete-pu-span, .partListDetails .delete-pu-span{display: flex;}
    .part-set-wrap{position: relative;}
    /**Delete Swipe**/



.setListDetails .li-content.onShowLi,
.partListDetails .li-content.onShowLi {
    position: relative;
    margin-left: -70px;
}

.setListDetails div.delete-pu-span,
.partListDetails div.delete-pu-span {
    padding: 0;
    width: 70px;
}
    .case-ipad-surg-nm{display: none;}
    .case-mob-surg-nm{display: block}
    .caseSurgnmFlx{flex-wrap: nowrap !important}
    
}


@media screen and (min-width: 376px) and (max-width: 414px) {
    #div-casescheduler-create, #div-casescheduler-inventory, #div-casescheduler-share-case {
        height: 600px;
    }
    
    #div-crm-overlay-content-container.caseSharepopup {
        height: 75vh;
    }
    
    /*-------kumar 26-09-2019------*/
      .sharebtns{align-items: center;}
    
    .partSetDetailInnerContent{
        height: 125px;
    overflow-y: auto;
    }
    
    .pcase-inv-body #set-main, .pcase-inv-body #part-main {
    border: 0;
    height: auto;
    min-height: 350px;
    }
    
    .caseMain #div-casescheduler-summary{
        height: 665px;
    }
    .plan-case-summary{
        padding-bottom: 0;
        height: 550px;
        overflow-y: auto;
    }
    
     .plan-case-inventory-section #set-main{
        border: 0;
        min-height: 375px;
    }
    .plan-case-inventory-section #part-main{
        border: 0;
        min-height: 375px;
    }
    
    .sets-summary .partSetDetailInnerContent, .part-summary .partSetDetailInnerContent{
        height: 150px;
        overflow: auto;
    }
    
    .plan-case-inventory .partSetDetailInnerContent {
        height: 108px;
        overflow-y: auto;
    }
    
    .plan-case-inventory .pcase-inv-body {
        margin-top: -7px;
        height: 415px;
    }
    .pcase-inv-body .partListDetails{
        height: 305px;
        overflow-y: auto;
    }
    .setListDetails{
        height: 290px;
        overflow-y: auto;
    }
    /*.caseMain .div-scheduler-case {
        overflow: auto;
        height: 625px;
    }*/
    .plan-case-summary .partSetDetailInnerContent {
        height: 150px;
        overflow-y: auto;
    }
    .case-summary-btn-ul {
        text-align: center;
        margin-top: 15px;
    }
    
    /*.newcase-footer-btns-section{display: flex;align-items: center;justify-content: space-between;margin: 15px 30px;}*/
    
    .plan-case-summary .partSetDetailInnerContent.divsetpartheig{
    height: 305px;
    }

    .plan-case-inventory .partSetDetailInnerContent.divsetpartheig{
    height:215px;
    }
    .barcode-sec{
        margin-bottom: 5px;
        padding: 5px;
    }
    .caseMain #div-search-result-main, #shareCaseContent #div-search-result-main {
        margin-top: -11px !important;
        border: 0;
    }
    
    
}

@media screen and (min-width: 320px) and (max-width: 375px) {
     #div-crm-overlay-content-container.caseSharepopup {
        height: 83vh;
    }

    
    #div-crm-overlay-content-container.caseSharepopup  .modal-body{
        height: 74vh;
    }
    
    /*-------kumar 26-09-2019------*/
    .caseMain #div-casescheduler-create, #div-casescheduler-inventory, #div-casescheduler-share-case{
            height: 543px;
    }
    
    .sharebtns{align-items: center;}
    
    .partSetDetailInnerContent{
        height: 125px;
    overflow-y: auto;
    }
    
    .pcase-inv-body #set-main, .pcase-inv-body #part-main {
    border: 0;
    height: auto;
    min-height: 330px;
    }
    
    .caseMain #div-casescheduler-summary{
        height: 607px;
    }
    .plan-case-summary{
        padding-bottom: 0;
        height: 465px;
        overflow-y: auto;
        padding: 10px 10px;
    }
    
    /*.plan-case-inventory-section #set-main{
        border: 0;
        min-height: 375px;
    }*/
    .plan-case-inventory-section #set-main {
        border: 0;
        min-height: 305px;
    }
    .sets-summary .partSetDetailInnerContent, .part-summary .partSetDetailInnerContent{
        height: 150px;
        overflow: auto;
    }
    .plan-case-inventory .pcase-inv-body {
        margin-top: -7px;
        height: 395px;
    }

  .plan-case-inventory .partSetDetailInnerContent {
        height: 98px;
        overflow-y: auto;
    }
    .pcase-inv-body .partListDetails{
        height: 280px;
        overflow-y: auto;
    }
    .setListDetails{
        height: 270px;
        overflow-y: auto;
    }
   .caseMain .div-scheduler-case {
        overflow: auto;
        height: 605px;
    }
    
    .plan-case-summary .partSetDetailInnerContent {
        height: 110px;
        overflow-y: auto;
    }
    #div-casescheduler-summary .plan-case-summary .woscrolalign .sets-summary{
        min-height: 295px;
    }
    #div-casescheduler-summary .plan-case-summary .woscrolalign .parts-summary{
        min-height: 295px;
    }
    .woscrolalign .parts-summary{
        min-height: 305px;
    }
    .div-share-case-wrap .gm-row:nth-child(3){
        margin-bottom: 10px;
    }
    .div-share-case-wrap .gm-row:nth-child(4){
        margin-bottom: 10px;
    }

    .set-main .gmAlignVertical{
        height:270px;
    }
    #div-casescheduler-summary .woscrolalign {
        height: 320px;
    }
    
    /*.newcase-footer-btns-section{display: flex;align-items: center;justify-content: space-between;margin: 15px 30px;}*/
    
    .plan-case-summary .partSetDetailInnerContent.divsetpartheig{
    height: 210px;
    }

    .plan-case-inventory .partSetDetailInnerContent.divsetpartheig{
    height:195px;
    }
    .barcode-sec{
        margin-bottom: 5px;
        padding: 5px;
    }
    .caseMain #div-search-result-main, #shareCaseContent #div-search-result-main {
        margin-top: -11px !important;
        border: 0;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 370px) {
    .caseMain #div-casescheduler-create,
    #div-casescheduler-inventory,
    #div-casescheduler-share-case {
        height: 535px;
    }
    .caseMain #div-casescheduler-summary {
        height: 600px;
    }
    .plan-case-inventory .pcase-inv-body {
        height: 393px;
    }
    .plan-case-summary{height: 455px;}
}

