@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Semibold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-It.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-SemiboldIt.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('source-sans-pro/SourceSansPro-LightItalic.otf');
    font-style: italic;
    font-weight: 300;
}
/*op changes start*/
.li-do-surgery-label{
            color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 123px;
    margin-right: 5px;
    }
.li-do-surgery-input{
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 180px;
}
.li-do-surgery-date-details{
     display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 85px;
    
}
#ul-do-detail-surgery-info div ul{
        width: 49%;
        display: inline-block;
        padding: 10px 0;
}
#ul-do-detail-surgery-info div ul li{
    display: inline-block;
}
.div-online-pdf{
    width: 100%!important;
    border: 1px solid black;
    background: cornsilk;   
}
    
/*op chnges end*/
body {
	font-family: SourceSansPro, "Trebuchet MS";
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
}

.hide, .ctlg-hide {
	display: none;
}

.div-date-container-show {
	display: inline;
}

.div-date-container-hide {
	display:none!important;
}

.font-home {
	padding: 0.2em 0 0 0.5em;
}

.font-down {
	padding: 0.2em 0 0 0;
}

.arrow-down {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid #999;
	float: left;
	height: 0; 
	margin: 10px 0 0 5px;
	position: absolute;
	width: 0; 
}

.arrow-right {
	border-bottom: 15px solid transparent;
	border-left: 20px solid #999;
	border-top: 15px solid transparent;
	float: left;
	height: 0; 
	margin: 6px 0 0 5px;
	position: absolute;
	width: 0; 
}


.btn-bg-blue {
    background-color: #00366e;
    color: #fff;
}

.btn-bg-red {
	background-color: red;
    color: #fff;
}

.btn-bg-blue.btn-selected {
    background-color: #2b93fe;
    color: #fff;
}

.background-1 {
	background-image: url("../../image/screen/ios/App_Home_Background.png");
}

.background-2 {
	background-image: url("../../image/screen/ios/App_Search_Background.jpeg");
}

.background-image {
	background-size: 1024px 768px;
	background-repeat:no-repeat;
}


/* Application List */

.btn-ios-alert {
	border-top: 1px solid #aaa;
	color: dodgerblue;
	display: inline-block;
	float: left;
	text-align: center;
}

.btn-ios-alert:active {
	background-color: gainsboro;
}

#div-apps {
	margin: auto;
	margin-top: 25px;
	text-align: center;
	width: 90%;
}

#div-apps a {
	color: white;
	display: inline-block;
	margin-bottom: 35px;
	width: 250px; 
}

#div-apps img {
    height: 100px;
    width: 100px;
}

#div-apps {
	display: block;
}

/************************************************************************************************
 Landscape mode restriction for any mobile devices 
 if portrait mode is detected, rotate the entire site -90 degrees to hint rotating to landscape 
 Author : Karthik 
*************************************************************************************************/
/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}
*/
/*************************************************************************************************/

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.background-image {
		background-size: 786px 1024px;
		background-repeat:no-repeat;
	}

	#div-apps {
		margin-top: 50px;
	}

	#div-popup {
		margin: auto;
		margin-top: 450px;
	}

	#img-logo {
		margin: 100px 0;		
	}

	#arrow-go-previous {
		left: 10px;
	}

	#arrow-go-next {
		right: 10px;
	}
	
	#div-header {
/*		height: 40px;*/
	}
	
	#img-viewer { 
		max-width: 600px;
		min-height: auto;
		max-height: 700px;
	} 

 	#div-updates {
        right: 250px;
        top: 0px;
        position: fixed;
        max-height: 680px;
	}

	#div-messagebar {
		height: 20px;
	}

	#div-thumbnails {
		width: 600px;
	}

	.arrow-image-container {
		position: absolute;
		height: 10%;
		top: 40%;
	}

	.img-thumbnails {
		max-width: 115.2px;
	}
	
	#div-apps a {
		width: 200px!important; 
	}
}

@media screen and (min-width: 1024px) {
	
	#div-header {
/*		height: 40px;*/
	}
	
	#div-popup {
		margin: auto;
		margin-top: 300px;
	}

	#div-sidepanel {
		left: 1025px;
		height: 90%;
	}

	#div-sidepanel #div-itemlist {
		height: 550px;
		margin-top: 20px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	#div-updates {
        right: 365px;
        top: 0px;
		position: fixed;
		max-height: 680px;
	}

	#div-messagebar {
		height: 20px;
	}

	#div-thumbnails {
		width: 800px;
	}

	#arrow-go-previous {
		left: 3%;
	}

	#arrow-go-next {
		right: 3%;
	}

	#img-viewer { 
		max-width: 850px;
		min-height: auto;
		max-height: 500px;
		display: inline;
		vertical-align: middle;
 	} 

 	.arrow-image-container {
		position: absolute;
		height: 10%;
		top: 40%;
	}

	.img-thumbnails {
		max-width: 86.4px;
	}
    .alertMessages{
        padding-right: 2.0em! important;
    }
}


/* Main View */


#back-img {
	height: 39px;
	left: -12px;
	position: absolute;
	top: -4px;
	width: 39px;
}

.btn-header-visited {
	/*background-color: #036;*/
}

#btn-home {
	padding: 0 0.80em 0.25em 0.25em;
	height: 30px;
}

#btn-home .div-lbl {
	display: none;
}

#btn-back .div-lbl {
	display: none;
}

.btn-locale {
	padding: 0 0 0 0.5em;
	text-transform: uppercase;
}
#div-header-title {
    height: 55px;
    width: 100%;
}
#div-app-title {
/*
    background-color: #ccc;
    border-radius: 0 0 3px 3px;
    color: #036;
    font-size: 1em;
    margin-left: 110px;
    padding: 0.25em 0.5em 0.25em 0.5em;
    position: absolute;
    text-transform: uppercase;
    top: 0px;
*/
    text-align: center;
    width: 100%;
    font-size: 1.1em;
    padding: 25px 0 0 0;
}
#div-sub-header {
    width: 100%;
    height: 40px;
    margin: -40px 0 0 0;
    
}

.div-btn-header {
	float: left;
	height: 35px;
	padding: 0 0.25em 0 0.5em;
}

#ul-navigation-right .div-btn-header {
	float: left;
	height: 35px;
	padding: 2px 0.5em;
}

#div-confirm-reset {
	background-color: #fff;
	border-radius:3px;
	display: none;
	max-height: 220px;
	line-height: 1.5em;
	margin: auto;
	text-align: center;
	width: 299px;
}

#div-confirm-reset h5 { 
	color: black;
	font-weight: 500;
	margin: 0px 20px 10px 20px;
}

#div-confirm-reset-content {
	color: black;
	font-size: 0.9em;
	padding: 0.5em;
}

#div-reset-msg-confirm {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

#div-reset-yes-no {
	background-color: #fff;
	padding: 1px 0 0 0;
}

#div-reset-yes, #div-reset-no {
	color: #000;
	padding: 0.75em 0;
	width: 149px;
	background-color: #fff;
}

#div-reset-yes {
	border-right: 1px solid #aaa;
	border-bottom-left-radius: 3px;
}

#div-reset-no  {
	border-bottom-right-radius: 3px;
}

#ipad-menu-bar .div-img {
	float: left;
	padding: 0.55em 0.5em 0 0;
}

#ul-navigation-right .div-img {
    float: left;
    padding: 8px 0px 0 0;
    width: 30px;
    text-align: center;
}

.div-img-locale {
	float: left;
	padding: 5px 10px 0 0px;
    width: 20%
}

#div-img-inside-locale {
    width: 20px;
    height: 20px;
}

.div-home {
	font-size: 1.125em;
	padding-top: 0.34em;
}

.div-lbl {
	color: white;
}

.div-lbl, .div-lbl-locale {
	float: left;
	font-size: 1em;
	padding: 0.50em 0.5em 0.5em 0;
    text-transform: capitalize;
}

.div-lbl1 {
	color: black;
	padding: 1em;
}

#div-locale {
	/*background-color: #999;*/
	border-radius: 3px;
	color: black;
	float: right;
	min-height: 20px;
	min-width: 50px;
	padding: 1em;
	position: absolute;
	right: 5px;
	z-index: 1;
}

#div-locale:before {
	/*border-bottom: 16px solid #999;*/
/*
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	content:"";
	margin: 13px 0 0 -25px;
	position: absolute;
	right: 20px;
	top: -27px;
*/
}

.div-main-locale {
	top: 68px;
	font-size: 1em;
}

#img-back {
	display: inline-block;
    height: 15px;
/*
    left: -8px;
    position: relative;
*/
    top: 0px;
    width: 18px;
    margin-top: 12px;
} 

#img-logo {
    height: 175px;
    margin: 20px 0 0  0;
    width: 175px;            
}

#img-logout {
	display: inline;
	height: 16px;
	position: relative;
	top: 2px;
	width: 16px;
}

#img-setting {
	display: inline;
	height: 19px;
    position: relative;
    top: 1px;
	width: 19px;
}

.region-locale {
	clear: both;
}

#ul-navigation-left {
	float: left;
}

#ul-navigation-right li, #ul-navigation-left li {
	/*background-color: #999;*/
	float: left;
	text-align: center;
}


/*Message bar*/

#div-confirm-logout {
	background-color: #fff;
	border-radius:3px;
	display: none;
	height: 132px;
	margin: auto;
	text-align: center;
	width: 250px;
}

#div-confirm-content {
      color: black;
      font-weight: 500;
      margin: 20px 20px 5px 20px;
      text-transform: capitalize;
}

#div-confirm-logout-content {
	color: black;
	font-size: 0.9em;
	padding: 0.5em;
	text-transform: initial;
}

#div-login-failed {
	border-radius:3px;
	display: none;
	height: 130px;
	margin: auto;
	padding: 1px;
	position: absolute;
	text-align: center;
	width: 250px;  
}

#div-messagebar {
	color: #fff;
	/*background-color: #036;*/
	line-height: 20px;
	padding: 0.25em 0 0 0.5em;
}

#div-msg-confirm {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
}

.div-msg-icon {
    position: relative;
    display: inline;
}
 
.div-msg-icon:before {
    content: "\f05a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 18px;
    padding-right: 0.5em;
    position: absolute;
    margin-left: 5px;
}

#div-msg-ok {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: blue;
    font-weight: bold;
    height: 30px;
    padding-top: 12px;
    text-align: center;
    width: 250px;
}

#div-msg-ok:active {
	 background-color: gainsboro;
}

#div-ok {
	font-weight: bold;
	padding: 9px;
	width: 232px;
}

#div-popup {
	border-radius: 3px;
	padding: 1px;
	max-width: 298px;
}

#div-popup h6 {
	color: black;
	font-size: 0.9em;
	padding: 0.5em;
}

 .divUpdatesNo {
	background-color: #DF0101;
	border-radius: 50%;
	color: white;
	display: inline;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 11px;
	padding: 2px;
}

#li-update-count, #li-pending-sync {
/*    position: absolute;*/
/*    left: 9%;*/
    padding: 12px 10px;
}
#li-update-count .fa-cloud {
    font-size: 2.5em;
}
#li-update-count .divUpdatesNo {
    top: 0;
/*    margin: 0px 0px 0 18px;*/
    text-align: center;
}

.divUpdatesNo.hide {
	display: none;
}


#div-yes-no {
	background-color: #fff;
	padding: 1px 0 0 0;
}

#div-yes, #div-no {
	color: #000;
	padding: 0.75em 0;
	width: 124.5px;
	text-transform: capitalize;
}

#div-yes{
	border-right: 1px solid #aaa;
}

#img-msg {
	height:18px;	
}

#msg {
	font-weight:bold;
	line-height:20px;
}

#msg-overlay,#msg-overlay:before {
	height:100%;
	width:100%;
}

#msg-overlay {
	display:none;
	left: 0px;
	position:absolute;
	top: 0px;
	z-index:1;
}

#msg-overlay:before {
	background-color:black;
	content:"";
	opacity:0.5;
	position:absolute;
	top: 0px;
	left: 0px;
	z-index:-1;
}


/* ---------- SETTINGS ----------- */

#btn-back {
/*	left: 50px;*/
/*	position: absolute;*/
	top: 27px;
	width: 30px;
	height: 20px;
/*    display: inline-block;*/
    padding: 12px 10px 0 10px;
}

.li-btn-settings {
	text-align: center;
}

.btn-settings {
	background-color: #CCC;
	border-radius: 3px;
	height: 25px;
	margin: auto;
	padding: 0.5em 0 0 0;
	text-align: center;
	text-transform: uppercase;
	width: 200px;
	display: inline-block;
	margin-left: 10px;
}

.checked-sync {
	background-color: #ccc;
	border-radius: 2px;
	color: #000;	
}

.checked-sync .spn-tick {
	display: inline;
}

.current-locale {
	background-color: #ccc;
	height: 35px;
	width: 120px;
}

.current-locale div {
	display: inline;
}

.div-box {
	border: solid gray;
	border-width: thin;
	float: left;
	height: 10px;
	margin-top: 2px;
	padding-bottom: 5px;
	width: 15px;
}

#div-locale.div-settings-locale {
    font-size: 0.9em;
    left: inherit;
    top: 116px;
    width: 100px;
    background-color: #e4e4e4;
    right: 20px;
}


@media (max-width : 767px) {
    
    font-size: 0.9em;
    left: 84%;
    top: 13%;
    width: 11%;
    background-color: #f7f7f7;
    
    
}




#div-locale.div-settings-locale:before {
        border-bottom: 16px solid #e4e4e4;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        margin: 6px 0 0 -25px;
        position: absolute;
        right: 25px;
        top: -22px;
}


#div-settings-locale .div-lbl {
	color: black;
}

#div-settings-sync .sync-data-label,  #div-settings-sync label {
	color: #000;
	height: 25px;
	padding-left: 5px;
	padding-top: 2px;
	float: left;
	padding: 3px 0px 0px 5px;
	margin-left: 5px;
	max-width: 180px;
	min-width: 180px;
	overflow-y: hidden;
	overflow-x: auto;
	white-space: nowrap;
}


#div-settings-sync .li-file-sync label {
	max-width: 58%!important;
}

.div-sync-label-big {
	max-width: 295px!important;
}

#div-settings-sync li input {
	display: none;
}

#h1-settings-language {
	color: #000;
	text-transform: uppercase;
}

#h1-settings-sync {
	background-color: #ccc;
	border: 1px solid #999;
	border-bottom: 1px solid gray;
	height: 30px;
	width: 491px;
	color: #000;
	text-transform: uppercase;
	margin :-8px 0px 5px -7px;

}

#h1-settings-version {
	text-transform: uppercase;
	display: inline;
}

.spn-tick {
	display: none;
}

/*----------- UPDATES ---------*/

#div-updates {
	width: 280px;
	background: #FFF;
	display: none;
	padding: 20px 5px 15px 5px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid #999;
	border-top-color: white;
	overflow: auto;
	z-index: 1;
	-webkit-overflow-scrolling: touch;
}

#btn-updates.btn-header-visited {
	background-color: #FFF;
}

#btn-updates.btn-header-visited .div-lbl, #btn-updates.btn-header-visited .fa-cloud-download {
	color: #999;
}

.div-no-updates {
	text-align: center;
}

.div-no-updates .btn-spn-update {
	display: none;
}

.div-no-updates #spn-update-refresh {
	float: none;
	margin-left: 0;
}

#div-updates .li-above .spn-detail {
	float: left;
	padding-right: 8px;
	position: relative;
	margin-top: -2px;
	margin-left: 0px;
	margin-right: 2px;
}

#spn-update-refresh {
	float: left;
	font-weight: normal;
	padding: 5px;
	margin-top: -5px;
	margin-left: 11px;
	background: #00366e;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
}

#ul-updates {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	margin-top: 25px;
}

#ul-updates div {
	text-align: center;
}

#ul-updates ul {
	display: none;
	margin-left: 11px;
	background: #E6E6E6;
	width: 260px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#ul-updates #div-itemlist a {
	color: black;
}

#div-updates .li-border-bottom {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
}

#ul-updates #div-itemlist li {
	margin-left: 10px;
}

#ul-updates .li-above {
	margin-left: 11px;
	display: none;
	background: #ccc;
}

.btn-spn-update {
	float: right;
	font-weight: normal;
	padding: 5px;
	margin-top: -5px;
	margin-right: 11.3px;
	background: #00366e;
	color: white;
	text-transform: uppercase;
	border-radius: 2px;
}

#div-settings-version {
	color: #000;
	margin: 25px 0 20px 30px;
	text-transform: uppercase;
}

#div-updates .li-above {
	color: red;
}

#div-updates .li-above .arrow-down {
	margin-top: 4px;
	margin-left: -3px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-top-width: 10px;
	padding-right: 0px;
	margin-right: 2px;
}

#div-updates .li-above .arrow-right {
	border-bottom-width: 10px;
	border-left-width: 10px;
	border-top-width: 10px;
}

#home-img{
    width: 28px;
    height: 28px;
}



/*---- Image Viewer -----*/


#div-image-viewer-background {
	display: none;
    background-color:#fff;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 21px;
	width: 100%;
	z-index: 1;
}

#div-image-viewer-container {
	width: 100%;
	height: 100%;
	margin: 10%;
	text-align: center;
}

#div-image-viewer {
    overflow: auto;
    width: 80%;
	height: 70%;
	position: absolute;
	top: 10%;
	left: 10%;
}

#div-adjustable {
	display: table;
	height: 100%;
	width: 100%;
}

#div-adjustable img {
	opacity: 1;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transform-origin: 0px 0px 0px;
	top: 0px;
	left: 0px;
}

.div-main-image-container {
	vertical-align: middle;
	display: table-cell;
    width: inherit;
	height: 100%;
}

#div-thumbnails {
	height: 15%;
	text-align: center;
	bottom: 5px;
	margin: auto;
	margin-bottom: 5px;
	position: fixed;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
}

.img-thumbnails {
	position: relative;
	max-height: 75%;
	border: 1px solid #ffffff;
	margin: 5px;
	margin-bottom: 5px;
	padding: 5px;
	vertical-align: middle;
}


#div-thumbnails .img-curr-thumbnail {
	border: 3px solid #999; 
}

#div-image-viewer-close {
	position: fixed;
	right: 5px;
	top: 27px;
}

 #div-img-title {
	width: 85%;
	text-align: left;
	position: absolute;
	top: 10px;
	left: 20px;
	color: #00366e;
	font-weight: bold;
	font-size: 24px;
	height: 50px;
	overflow-y: hidden;
	overflow-x: auto; 
	word-wrap: break-word;
}

.image-zoom #arrow-go-previous, .image-zoom #arrow-go-next, .image-zoom #div-thumbnails {
	display: none!important;
}

.image-zoom #div-image-viewer {
	position: absolute;
	width: 80%;
	height: 85%;
	top: 10%;
	left: 10%;
	right: 10%;
	overflow: auto;
}

.image-zoom #div-main-image-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.image-zoom {
	margin: 0px;
}

.image-zoom #div-inner-adjustable {
	position: absolute;
	width: 100%;
	height: 100%;
}

.image-zoom #div-adjustable{
	position: absolute;
	width: 100%;
	height: 100%;
}


.zoom-image {
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	margin-right: 0px;
}



.li-info-center {
	display: block;
	text-align: center;
}

/* Settings New */

#div-locale-flag {
	padding: 0.25em 0 0 0;
}

#div-locale-text {
	padding: 0.35em 0 0 0;
}


.div-settings-label {
	clear: left;
	float: left;
	padding: 0.5em 0 0 0.5em;
	height: 25px;
	width: 240px;
} 

.div-settings-value {
	clear: right;
	float: left;
	padding: 0.5em 0 0 0.5em;
	width: 240px;
	height: 25px;
}

 .div-settings-value div {
	float: left;
	color: #000;
}


#h1-settings-data-sync, #h1-settings-file-sync {
	float: left;
	padding: 0.5em 0 0 0;
	text-align: center;
}

#div-settings-sync .label-sync {
	padding: 0px;
}



/*------- Progress Bar ---------*/

.div-progress-bar {
	border-radius: 3px;
	display: none;
	float: right;
	width: 30%;
	height: 85%;
	color: black;
	background: white;
	text-align: center;
	font-size: 0.8em;
}

.spn-progress {
	border-radius: 3px;
	color: #fff;
	height: 100%;
	width: 0%;
	z-index: 1;
	position: relative;
	display: block;
	background: #00366e;
}

.spn-progress:after {
	border-radius: 3px;
	color: #fff;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0px;
	left: 0px;
	padding: 0.75em 0 0 0;
	position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
 /* Settings page and Account Price label alignment fix for mobile*/
	#div-settings-sync .sync-data-label {
		width: 60%;
	}
    #div-settings-sync label {
	
	max-width: 90%!important;
	
}
    #div-settings-sync #li-label{
        width: 89%!important;
    }
    #div-settings-sync #div-setting-account-price label{
        width: 89%!important;
    }
}

#div-items {
	height:36px;
}

 .div-common {
	display: inline;
	text-align: center;
	text-transform: uppercase;
}

#div-items label {
	width:33.33%;
	padding-top: 5px;
	padding-left:0px;
}

.checked-items label{
	background: #00366e;
	color: white !important;
	height: 30px !important;
}

#btn-unzip {
	background-color: #CCC;
	margin: auto;
	margin-top: 5px;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
	width: 150px;
	color: #000;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-sizing: border-box;
}

#div-header {
        height: 60px;
}

#div-messagebar {
	position: fixed;
	top: 60px;
	width: 100%;
}
#ul-navigation-right {
    float: right;
    background: #2b93fe;
    position: absolute;
    min-height: 12vh;
    max-height: 95vh;
    z-index: 3;
    right: 0;
    width: 30%;
    top: 60px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ul-navigation-right li {
    width: 100%;
}
#ul-navigation-right li:last-of-type {
    padding-bottom: 10px;
}

#ul-navigation-right li .div-btn-header {
    width: 100%;
}
.div-img-close {
    width: 30px;
    color: white;
    padding: 5px 5px 10px 5px;
    margin: 1% 5% 0% 0%;
    text-align: center;
    float: right;
    border: 1px solid #fff;
    border-radius: 50%;
}
.div-lastsync {
	color: black;
	float: right;
	margin-right: 10px;
	margin-top: 3px;
}

.div-lastsync i {
	display: none;
}

 #div-download-threesixty{
	width: 200px;
	height: 200px;
	top: 35%;
	left: 40%;
	position: absolute;
	text-align: center;
	display: none;
}


.percent-download-threesixty {
	display: none;
}


#ul-settings-env {
	text-transform: uppercase;
}

#div-threesixty {
	position: relative;
	width: auto;
	height: 75%;
	border: 1px solid #ffffff;
	margin: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

.img-download-threesixty{
	position: relative;
	display: none;
}

#div-confirm-reset li {
	width:290px;
	margin: 8px 0px;
}

.div-reset-text {
	width: 80px;
	display: inline-block;
	margin-bottom: 10px;
}

#div-factoryreset-failed {
    background-color: white;
	border-radius:3px;
	display: none;
	height: 130px;
	margin: auto;
	padding: 1px;
	position: absolute;
	text-align: center;
	width: 250px;  
}

#div-confirm-reset input {
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	font-size: 1em;
	height: 25px;
	width: 170px;
}

#div-confirm-reset #div-reset-yes-no div {
	/*padding: 0.75em 0.98px 0.75em 0px;*/
}


.img-update-spinner {
	display: none;
	width: 20px;
	float: right;
	padding: 5px;
	margin-top: -5px;
	margin-right: 11.3px;
}

.span-setting-count {
	background-color: #948484;
	border-radius: 50%;
	color: #000;
	display: inline;
	font-weight: bold;
	padding: 2px;
	margin-left: 10px;
}

#btn-download i {
 margin: 0px -4px 0px 3px!important;
}

.li-info-center img {
	content:url("../../image/icon/ios/spinner.gif");
	width:15px;
}



/*Common Loader*/

#div-main-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}

#div-main-loader:before {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	content: "";
}

#div-loader-content {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

#spn-loader-content {
	position: absolute;
	left: 35%;
	right: 35%;
	width: 30%;
	background: #fff;
	border-radius: 3px;
	top: 35%;
	text-align: center;
	display: block;
}

#spn-loader-content img {
	width: 30px;
	height: 30px;
	margin: 10px;
	vertical-align: middle;
	margin-left: -20px;
}

#loader-text {
	margin: 10px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}


/*number keypad*/

#div-sign-show-num-keypad, #div-report-show-num-keypad, #div-booked-show-num-keypad, #div-common-setlist-keypad {
	top: 200px;
	left: 400px;
	position: absolute;
	z-index: 1;
}

#div-number-keypad {
	background-color: #ccc;
	border-radius: 3px;
	width: 224px;
	height: 300px;
	margin: auto;
}

#div-number-qty-entry-text {
	font-size: 1em;
	height: 30px;
	width: 92.5%;
	margin: auto;
	background-color: #fff;
	padding: 0.75em 0.5em 0 0.5em;
	text-align: right;
}

#div-number-keypad-keys-panel {
	padding-top: 10px;
	margin: auto;
	width: 97%;
}

#div-number-keypad-title {
	border-radius: 3px 3px 0 0;
	color: #fff;
	width: 100%;
	padding: 0.75em 0;
	background-color: #960;
	text-align: center;
}

#div-number-decimal {
	border-radius: 3px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	margin: 2px 0;
	padding: 1em 1.3em;
	background-color: #444;
	text-align: center;
}

.div-number-keypad-keys {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	margin: 2px 0;
	padding: 1em 1.2em;
	background-color: #444;
	text-align: center;
}

#div-number-keypad-number-symbol {
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	padding: 0.97em 0.90em;
	margin: 2px 0 2px -1px;
	background-color: #444;
	text-align: center;
}

.div-number-keypad-keys-row {
	padding-left: 2px;
}



#div-number-two, #div-number-three {
	display: inline-block;
}

#div-number-keypad-btn-done {
	color: #fff;
	display: inline-block;
	margin-top: 10px;
	padding: 1em 0;
	width: 100%;
	background-color: #444;
	text-align: center;
}

#div-number-keypad-close {
	border-radius: 50%;
	float: right;
	padding: 0.5em 0.35em 0.5em 0.35em;
	width: 30px;
	margin-top: -40px;
}

#div-number-keypad-close div{
	float: right;
	background-color: #444;
	border-radius: 50%;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	font-family: "Arial";
	padding: 0.2em 0.2em 0.3em 0.2em;
	text-align: center;
	width: 18px;
	margin-right: 3px;
}


/*Links*/

.btn-app-link a {
	color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#ipad-menu-bar {
		display: none!important;
	}

	#div-app-title {
		background-color: transparent;
		padding: 3.5% 0;
	}
.div-progress-bar {
	width: 25%!important;
	height: 70%!important;	
}

}


/*Splash Screen*/

#div-splash-container {
	background: #eee;
	display: none;
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.div-splash-single-container {
	display: block;
}

.div-splash-image-container {
	background: url('') no-repeat;
	background-size: contain;
	background-position: center;
	height: 90%;
	position: absolute;
	width: 100%;
	top: 70px;
}

.div-splash-menu-container {
	background: #eee;
	height: 10%;
	position: absolute;
	top: 90%;
	width: 100%;
	text-align: center;
	padding-top: 10px;
}

.div-splash-menu-container div {
	display: inline-block;
}

.btn-splash-navigation {
	padding: 0.7em;
	color: white;
	background-color: #960;
	border-radius: 3px;
}

#div-splash-backward {
	float: left;
	margin-left: 30px;
}

#div-splash-forward {
	float: right;
	margin-right: 30px;
}

@-webkit-keyframes imgrunning {
    0%   {  background-position: 20% 0%;}
    25%  {  background-position: 30% 20%;}
    50%  {  background-position: 40% 40%;}
    75%  {  background-position: 50% 60%;}
    100% {  background-position: 60% 80%;}
}

.div-splash-type-4000789 .btn-splash-accept {
	display: none;
}

.div-splash-type-4000788 .btn-splash-learn {
	display: none;
}

#div-splash-container .div-splash-slides {
	display: block;
	height: 90%;
	width: 100%;
}

.div-splash-header {
  height: 10%;
  width: 100%;
}

.div-splash-header div{
	display: inline-block;
	margin: 30px;
  	/*margin-top: 40px;*/
}

.div-splash-title {
	float: left;
	font-size: 1.5em;
	color: #036;
	font-weight: bold;
}


.div-spash-page-no {
	float: right;
	color: #036;
	font-weight: bold;
}

#div-splash-loader {
	font-weight: bold;
	font-size: larger;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
}

.div-nosplash-image-container {
	height: 78%!important;
}


@media screen and (max-width: 1023px) {
	.div-splash-single-container {
		height: 100%;
	}

	#div-splash-container .slidesjs-container, #div-splash-container .slidesjs-control {
		height: 100%!important;
	}
}

@media screen and (min-width: 1024px) {
	.div-splash-single-container {
		height: 90%;
	}
}




/*Auto Updated Collision Avoidance in Updates*/

.div-updates-updating .btn-spn-update {
	display: none;
}

.div-updates-updating .img-update-spinner {
	display: block;
}

#div-setlist-viewer-background {
	display: none;
    background-color: #fff;
    height: 100%;
    left: 0px;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 1;
}

#div-common-setlist-main {
	display: inline-block;
    position: fixed;
    width: 98%;
    height: 88%;
    left: 1%;
    background-color: #eee;
    top: 11%;
    margin-left: -2px;
    border: 1px solid #444;
    border-radius: 3px;
}

#div-common-setlist-header {
	width: 100%;
	height: 40px;
	background: #444;
}

#div-common-setlist-header div {
	display: inline-block;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	width: 48%;
}

#div-common-setlist-close {
	text-align: right;
}

#div-common-setlist-close-icon {
	width: 20px!important;
	text-align: center;
	margin-right: -10px;
	background: #fff;
	color: #444!important;
	border-radius: 50%;
	font-size: larger;
}


#div-common-setlist-content {
	width: 100%;
	max-height: 440px;
	margin-top: 10px;
}

 #div-common-setlist-content #div-saleitemlist li {
	width: 99.8%;
}


#div-common-setlist-content #div-saleitemlist {
	max-height: 472px;
}

#div-common-setlist-content li {
    list-style-type: none;
    display: inline-block;
}

#div-common-setlist-content #div-column li {
	display: inline-block;
	width: 15%;
	padding: 0.5em 0em 0.5em 0.5em;
    text-transform: uppercase;
}

#div-common-setlist-content #div-column #Quantity {
	width: 12.55%;
}

#div-common-setlist-content #div-column #Description {
	width: 70%;
}

#div-common-setlist-content  #div-itemlist {
    border: 1px solid #ccc;
    border-top: none!important;
    border-radius: 0 0 3px 3px;
    color: #000;
    max-height: 350px;
    width: 98%;
    margin: 0px 1%;
    overflow-y: auto;
    overflow-x: hidden; 
    position: relative;
    -webkit-overflow-scrolling: touch;
}

#div-common-setlist-content #div-itemlist li {
    padding: 0.3em 0 0.3em 0.15em;
    margin-left: 0px;
    width: 100%;
}

#div-common-setlist-content #div-itemlist ul {
    display: inline-block;
    width: 100%;
    margin-left: 0px;

}

#div-common-setlist-content #div-itemlist li a {
    color: #000!important;
}

#div-common-setlist-content #div-itemlist .li-item-id {
    vertical-align: top;
    width: 15%;
}

#div-common-setlist-content #div-itemlist .li-item-qty {
    vertical-align: top;
   	width: 11.55%;
	margin-left: 1%;
}

#div-common-setlist-content #div-itemlist .li-item-name {
    vertical-align: top;
    width: 70%;
}

#div-common-setlist-content #div-itemlist .li-item-part-camera, #div-common-setlist-content #div-itemlist .li-item-detail {
	display: none!important;
}

#div-common-setlist-main #div-itemlist-count {
    display: inline-block;
    float: right;
    margin: 20px 1% 0 0;
}

#div-common-setlist-main #div-search-count {
    display: none;
    float: right;
    margin: 20px 0 0 0;
    margin-right: 30%;
}

#div-common-setlist-tagid {
	display: inline-block;
    width: 98%;
    margin: 10px 1%;
}


#txt-common-setlist-tagid {
	border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #030303;
    font-size: 1em;
    height: 1.6em;
    width: 240px;
}

#span-common-setlist-tagid {
	width: 50px;
    display: inline-block;
    font-weight: bold;
}

#div-common-setlist-tagid i{ 
	margin: 0px 10px;
	color: #000;
    background-color: #ddd;
    font-size: 1.5em;
    border-radius: 2px;
    padding: 0.25em;	
}

#span-common-setlist-load {
	background-color: #00366e;
    width: 80px;
    margin: 0 5px;
    display: inline-block;
    padding: 0.5em;
    color: white;
    border-radius: 3px;
    text-align: center;
}


#div-common-setlist-content-main {
	display: inline-block;
    width: 100%;
    max-height: 520px;
}

#div-common-setlist-buttons div{
	background-color: #00366e;
    width: 80px;
    margin: 0 5px;
    display: inline-block;
    padding: 0.5em;
    color: white;
    border-radius: 3px;
    text-align: center;
}   

#div-common-setlist-buttons  {
	display: inline-block;
	width: 100%;
	margin: 15px 0;
	text-align: center;
} 

#div-common-setlist-content #div-column {
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    margin: 20px 1% 0 1%;
    width: 98%;
    position: relative;
}

#div-common-setlist-content #div-keyword-detail {
    margin-left: 1%;
}
    

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-common-setlist-content #div-column #Quantity {
	    width: 14.6%;
	}

	#div-common-setlist-content #div-column #Description {
	    width: 67%;
	}

	#div-common-setlist-main {
	    height: 91%;
	    top: 8%;
	}

	#div-common-setlist-content #div-itemlist {
	    max-height: 600px;
	}

	#div-common-setlist-content {
	    max-height: 690px;
	}

	#div-common-setlist-content-main {
	    max-height: 770px;
	}

	#div-common-setlist-keypad {
	    left: 270px;
	}

	.div-common-page-loader  {
		top: 400px;
	}
}
@media screen and (min-width: 480px) {
      #mySidenav{
       display: none;
    }
    #btn-sidebar-menu{
        display: none;
    }
   
.sync-count {
    padding: 10px 0px;
    width: 20vw;
    text-align: right;
    display: inline-block;
    margin-top: -5px;
}
    #div-popup.sync {
    width: 60%;
    max-width: 100%;
    background: white;
    display: inline-block;
    left: 20%;
}
    #ul-name-sync {
    display: block;
    padding: 10px;
    font-size: 1.3em;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    margin-bottom: 20px;
}
    #div-popup.sync h4 {
    display: inline-block;
    width: 75%;
}
    .fa-x-button {
    margin-top: -5px;
    float: right;
    padding: 5px 10px;
}
    .ul-count-sync {
    margin: 10px;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
    .ul-count-sync li {
    width: 49%;
    display: inline-block;
}
}



#div-common-setlist-details {
	width: 98%;
    margin: 10px 1%;
    display: inline-block;
}


#div-common-setlist-details span {
	display: inline-block;
}

#div-common-setlist-details div .span-common-setlist-details-header {
	width: 50px;
	font-weight: bold;
}

#div-common-setlist-details-set, #div-common-setlist-details-settype {
	width: 100%;
	display: inline-block;
	margin: 5px 0;
}

#div-common-setlist-details-set #span-common-setlist-details-setname {
	margin-left: 20px;
}


#div-common-setlist-main .li-no-display {
    padding: 10px 0px 0px 10px;
    list-style-type: none;
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 100px;
}

.div-common-setlist-content-main-nonetwork {
	width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 100px;
    display: inline-block;
}

.div-common-setlist-content-main-nonetwork div {
	margin: 10px 0;
}

.div-common-page-loader  {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 250px;
	display: none;
}

@media screen and (max-width: 480px)  {
    .gmiPad{
        display:none;
    }
    .background-image{background-size: auto;}
#div-settings-sync .sync-count {
    display: inline-block;
    vertical-align: middle;
}
}

@media screen and (min-width: 480px){
    /*PMT-10924*/
#div-popup.sync.hide{
    display: none;
}
#div-popup.sync{
    width: 60%;
    max-width: 100%;
    background: white;
    display: inline-block;
    left: 20%;
}

.sync-count {
    padding: 10px 0px;
    width: 20vw;
    text-align: right;
    display: inline-block;
    margin-top: -5px;
}
#ul-name-sync{
        display: block;
    padding: 10px;
        font-size: 1.3em;
        box-shadow: 0px 2px 6px 1px #B7B4B4;
    margin-bottom: 20px;
}
.ul-count-sync{
        margin: 10px;
        border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.ul-count-sync:last-child{
    border-bottom: 0px ;
}
.ul-count-sync li{
        width: 49%;
    display: inline-block;
}
#div-popup.sync h4{
    display: inline-block;
        width: 75%;
}
.span-sync-count{
    padding:5px;
}
#div-popup.sync button{
    display: inline-block;
   float: right;
}
.li-data-sync label{
       width: 155px;
}
.fa-x-button{
        margin-top: -5px;
    float: right;
       padding: 5px 10px;
}
    #div-wifi-note ul li{
        text-align: left;
        margin-left: 40px;
    }

/*PMT-10924*/
}

@media (min-width: 320px) and (max-width: 479px) {
    #div-header-title {
            height: 40px;
            width: 100%;
    }
    #div-header {
        height: 10%;
    }
    #div-do-title-main {
        display: inline-block;
        font-weight: bold;
        margin-left: -70px;
    }
    
   #div-sign-show-num-keypad , #div-booked-show-num-keypad,#div-show-num-keypad,#div-report-show-num-keypad{  
    left:87px;
    }
    
/*    #div-sign-show-num-keypad{  
    top: 200px;
    left: 400px;
     position: sticky; 
    z-index: 1;
    margin-top: -27px;
    margin-left: -320px;
    }*/

        /* sidebar menu css*/

        .sidenav-block {
            display: block !important;
        }

        .sidenav #btn-catalog {
            width: unset;
            text-align: unset;
        }

        .menu-sidebar {
            font-size: 30px;
            cursor: pointer;
            color: #ffffff;
            padding: 7px;
            position: absolute;
        }

        .width-nav {
            left: -5px !important;
            transition: all 1s ease-in-out;
        }

        .sidenav {
            height: 100%;
            width: 280px;
            position: fixed;
            z-index: 10000;
            top: 0;
            left: -290px;
            background-color: #052f6f;
            overflow-x: hidden;
            transition: all .6s ease-in-out;
            padding-top: 45px;
            box-shadow: 6px 0px 5px #002967;
        }

        .sidenav a {
            padding: 10px 8px 8px 20px;
            text-decoration: none;
            font-size: 17px;
            color: #ffffff;
            display: block;
            transition: 0.3s;
            box-shadow: 0px 2px 0px #1b417b;
        }

        .sidenav a:hover {
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 36px;
            margin-left: 50px;
            line-height: 0.7;
            color: #fff;
            padding: 10px;
            border: 0;
            cursor: pointer;
            box-shadow: none;
        }

        .sidenav a .fa.fa-angle-down {
            float: right;
        }

        .child-nav {
            display: none;
        }

        .gmFloatCenter {
            text-align: center;
            padding: 0 10px 10px 10px;
            margin: -30px 0 0 0;
        }

        .sidenav .li-ipad-user-pic {
            vertical-align: bottom;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #eee;
            margin-top: 0;
            line-height: 60px;
            margin-bottom: 5px;
            position: relative;
        }

        .sidenav #div-name-container-iPad {
            padding: 0;
            color: #999;
            width: initial;
            text-align: center;
            margin: 0;
        }

        .sidenav #div-name-container-iPad .default-picture {
            position: relative;
            top: 5px;
            font-size: 35px;
        }

        .sidenav #ul-header-right-pic-menubar {
              width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
        }

        .sidenav #mobile-menu-top-user-name {
            margin: 0;
            font-size: 20px;

        }

        .sidenav #btn-settings,
        .sidenav #btn-updates,
        .sidenav #btn-logout {
            visibility: visible;
            margin-left: 0;
            margin-right: 0;
            padding: 0 !important;
            display: block;
            margin: 0;
        }

        .sidebar-menu-footer {
            position: absolute;
            bottom: 50px;
            width: 100%;
        }

        .sidenav #ul-navigation-bottom li {
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
        }

        .sidenav .div-btn-header div:nth-of-type(1),
        .sidenav .div-btn-header div:nth-of-type(2) {
            float: left;
            top: 0;
            padding-top: 0;
        }
        
        .sidenav #btn-updates #divUpdatesNo {
             left: 30px;
             top: -12px;
        }
        .sidenav .div-img {
            margin-left: 12px;
            padding-right: 0.3em;
        }

        .sidenav #btn-settings .div-img {
            top: 0;
        }

        .div-icon-mob {
            vertical-align: middle;
        }

        .menu-module-home {
            display: block !important;
            margin-left: -5px !important;
            height: 34px !important;
        }

        .sidenav #btn-logout .div-lbl {
           width: initial;
            font-size: 17px;
            float: none;
            display: inline;
            line-height: 1.5;
        }

        .sidenav .div-btn-header {
            float: left;
            height: 30px !important;
            padding: 0;
            width: 100%;
        }

        .sidenav #btn-updates .div-lbl,
        .sidenav #btn-settings .div-lbl {
                display: inline;
                font-size: 17px;
                line-height: 1.5;
        }

        .sidenav nav {
            height: 60vh;
            overflow: scroll;
        }

        .sidenav #btn-home {
            padding: 0;
            margin-left: 0 !important;
        }

        .sidenav nav ul li i.fa,
        .sidebar-menu-footer ul li .div-img .fa {
            padding-right: 10px;
        }

        .sidebar-menu-footer ul li .div-img .fa {
            padding-left: 8px;
        }
        .sidenav li ul li a {
            padding-left: 70px;
            /* box-shadow: none; */
        }
        .sidenav #btn-updates .div-updates-mob {
            position: absolute;
            left: 55px;
        }
   
      
    }
