#div-salescall .gmSectionCaption {
    min-width: 180px;
}

#ul-salescall-surgeon .salesiphone {
        display: inline-block !important;
}

#ul-salescall-detail-left-top-right {
    width: 75%;
    float: right;
}

.ul-sc-filter-criteria {
    margin-top: 70px;
    margin-bottom: 8px;
}

.sc-phone-style {
    display: none;
}

#div-salescall {
    width: 85%;
    margin: auto;
}

#div-salescall-detail .div-sur-pic-container {
    margin: 2%;
}

.li-sc-edit-products {
    margin-left: 23% !important;
    width: 81%;
}

#div-sc-detail-product {
    width: 70%;
    vertical-align: top;
}

#button-sc-result-create {
    width: 275px;
}

#div-salescall-detail li.gmSectionListItem {
    margin: 0 5px;
}

.li-sc-actsteps-notes {
    padding: 5px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 2px;
    min-height: 50px;
    background: #eee;
}

#div-salescall-edit li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#textarea-sc-edit-actsteps,
#textarea-sc-edit-notes {
    min-height: 50px;
    min-width: 400px;
}

.el-salescall-Smode {
    display: none;
}

.ul-salescall-category-items li:nth-of-type(2),
.ul-salescall-category-items li:nth-of-type(3) {
    margin-left: 0px;
}

#salescall-date .gmSectionCaption {
    min-width: 50px;
}

.item-searchlist i {
    display: none;
}

#ul-search-resultlist .selected-item i {
    display: inline;
}

#salescall-scheduler-rep-search {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    right: 210px;
    top: 5px;
    width: 200px;
}

#salescall-scheduler-rep-search input {
    padding: 7px 7px;
    width: 180px;
}

#salescall-scheduler-rep-search #div-common-search-x {
    margin-top: 6px;
}

#salescall-scheduler-rep-search #div-search-result-main {
    position: initial;
}

/*//salse call toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
     transform: translateX(26px);
}

#salescall-actstarttime, #salescall-actendtime{width: 88px;}
#salescall-actstartdate{position: absolute; left: 0;}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width:480px) and (max-width: 768px) {
    .div-salescall-popup-system {
        margin-top: 10px;
    }

    #salescall-date .gmSectionCaption:nth-child(2) {
        min-width: 150px;
    }

    #textarea-sc-edit-actsteps,
    #textarea-sc-edit-notes {
        min-height: 50px;
        min-width: 440px;
    }

    .li-sc-actsteps-notes {
        padding: 5px;
        border: 1px solid grey;
        width: 70%;
        border-radius: 2px;
        min-height: 50px;
        background: #eee;
    }

    #salescall-date .gmSectionCaption {
        min-width: 150px;
    }

    .li-sc-edit-products {
        margin-left: 26% !important;
    }

    #div-salescall-list-item .gmText350,
    #products {
        width: 35%;
    }
}

@media screen and (max-width: 480px) {
    #scheduler-button-view{
        width: 12.5%;
        text-align: center;
    }  
    
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_navline .dhx_cal_date {
    left: 23px;
    } 
    
    .div-totime-sc .div-lbl{
        float: left;
        margin-right: 9px;
    }  
    
    .div-totime-sc .div-img{
        margin-left: -25px !important;
    }  
    
    #div-crm-module .div-sc-from-time .div-img{
        margin-left: -26px;
    } 
    
    .div-sc-from-time{
        padding: 0px;
    }  
    
    #salescall-product-search #div-search-result-main{
        height: 250px;
    }
    
     .salesiphone, #salescall-criteria-filter-header{
        display: inline-block !important;
    }
    
   #div-salescall .div-edit > ul.gmSection > li.gmSectionCaption.gmWidth170m {
        width: 91%;
        min-width: 0% !important;
    }
    
    #salescall-date .salescall-date-input{
        width: 100%;
    }
    
    #salescall-scheduler-rep-search input{
        width: 42%;
    }
    
    #salescall-scheduler-rep-search{
        font-size: 14px;
        font-weight: 400;
        font-family: SourceSansPro, "Trebuchet MS";
        position: absolute;
        z-index: 9999;
        right: 48%;
        top: 39px;
    }    
    
    #salescall-frmdate{
        width: 100%;
    }    
    
/*
    .sc-date-criteria{
        width: 84%;
    }
*/
    
    #li-activity-select-address {
        min-width: 95% !important;
        max-width: 95% !important;
        min-height: 30px;
        margin-bottom: 10px;
    }

    .li-sc-actsteps-notes {
        padding: 0;
        width: 100%;
        border-radius: 2px;
        background: #eee;
    }

    #div-salescall-actsteps,
    #div-salescall-notes {
        width: 95%;
        margin: auto;
        padding: 10px 0;
    }

    #div-salescall-cancel,
    #div-salescall-confirm {
        width: 95%;
    }

    .div-edit .gmSection .li-totime-fa .div-totime-sc {
        padding-left: 15px;
        margin-top: -3px;
        margin-right: 0px !important;
    }

    .li-sc-edit-products {
        margin-left: 0 !important;
    }

    .li-sc-edit-time {
        width: 81%;
    }

    .li-sc-edit-time input {
        width: 42% !important;
    }

    #div-salescall .gmLineSpace {
        display: none;
    }

    #div-salescall .div-view .gmAlignHorizontal .gmSection {
        margin-top: 10px;
    }
    
    #li-frmtime-fa {
        width: 10%;
    }    
    
    #ul-salescall-surgeon~.gmSection .salescall-date-input:nth-child(2){
         width: 77%;
    }
    
    #ul-salescall-surgeon~.gmSection #salescall-date {
        width: 48%;
    }

    #salescall-date .div-lbl {
        font-size: 11px;
        color: black;
        margin-left: 6px;
    }

    #salescall-date .salescall-date-input {
        width: 100%;
    }


    .div-edit input#salescall-actstarttime {
        margin-left: -16px;
    }
    .salescall-date-input{
        width: 36%;
    }

    #div-salescall .div-view .gmSection ul.gmSection {
        padding: 5px 0 !important;
    }

    #div-salescall .div-view li.gmSectionListItem {
        margin: 2.3px 0 !important;
        min-width: 65px;
    }

    #div-salescall .div-activity-product {
        /*background-color : #eee;*/
    }

    #input-sc-title {
        min-width: 0px !important;
    }

    .div-edit .ul-physicianvisit-display-projects,
    .div-edit .ul-physicianvisit-display-product,
    .div-edit .ul-physicianvisit-display-participants,
    .div-edit .ul-physicianvisit-caption {
        width: 100% !IMPORTANT;
    }

    .div-edit .ul-physicianvisit-caption {
        width: 100% !important;
    }

    #ul-salescall-detail-left-top-right .gmAlignVertical {
        display: inline-block;
    }

    #div-salescall {
        width: 100%;
    }

    #button-sc-result-create {
        margin: 10px 0;
    }

    #div-salescall .fa {
        font-size: 1.5em;
        color: black;
/*        display: inline-block;*/
    }

    .div-edit input,
    .div-edit textarea {
        width: 94%;
    }

    #textarea-sc-edit-actsteps,
    #textarea-sc-edit-notes {
        min-width: 200px;
    }

    #div-salescall-detail .fa-user-md {
        color: black;
        font-size: 2em;
    }

    #ul-salescall-detail-left-top-right .sc-detail-phone-style {
        width: 75% !important;
    }

    #txt-select-resulttype {
        width: 100%;
    }

    #salescall-ul-activity-date .gmMediaDisplayNone, ..el-salescall-Smode{
        display: inline-block!important;
    }    
    
    #salescall-ul-activity-date li:nth-child(2){
        width: 45%;
        float: left;
    }
    
    #salescall-ul-activity-date li:nth-child(3){
        width: 55%;
    }
    
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_prev_button{
        right: 55px;
    }     
    
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_next_button,  
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_today_button{
        right: 14px;
    }
    
    #li-actpartyid{
        width: 80%;
    }    
    
    .gmBGsalescall #btn-main-save, .gmBGsalescall #btn-main-cancel {
        padding: 0px;
    }    
    
    .el-salescall-Smode~ #scheduler-info-container{
        left: 9.5%;
    }    
    
    .salescallpopup{
        left: 0px !important;
        right: 0px;
        margin: 0 auto;
        z-index: 1000 !important;
    }    
    
    .salescallpopup div div .gmBtnGroup li {
        width: 14%!important;
    }    
    
    #div-salescall .gmText50{
            width: 30px;
    }    
    .fa-flag{
        width: 26px;
    }
    
    .calendarIcon{
        width: 10%;
    }
    
    .calendarIcon i{
        margin-right: 2px;
    }
    
    #activity-todate{
        min-width: 0;
    }
    
    #activity-frmdate{
        min-width: 0;
    }
    #activity-frmdate .gmAlignHorizontal{
        width: 59%;
    }

    .el-salescall-Lmode {
        display: none !important;
    }

    #ul-salescall-search-btn {
        float: none;
    }

    #salescall-ul-activity-date {
        float: none;
        width: 100%;
    }
    
    .lead-criteria-phone-style #ul-activity-date .li-surg-actdate-input #activity-frmdate, .lead-criteria-phone-style #ul-activity-date .li-surg-actdate-input #activity-todate{
        width: 363px;
    }

    #scheduler-legend #scheduler-legend-info {
        width: 120px;
    }
    
    #div-salescall-dash-content{
         max-height: 399px;
        margin-left: 25px;
    }
    
    .div-edit ul .li-sc-edit-products .div-sc-extn{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
/*
    .sc-date-criteria {
        width: 84%;
    }
*/
    
    #div-module-criteria #salescall-frmdate #activity-frmdate, #div-module-criteria .sc-date-criteria #activity-todate{
        min-width: 130px;
        width: 152px;
    } 
    
    .div-edit input#salescall-actstartdate {
        width: 329px;
    }
    
    .div-edit input#salescall-actstarttime, .div-edit input#salescall-actendtime {
        width: 129px;
    }
    
    #salescall-date .div-sc-from-time.iPhone {
	    position: relative;
	    right: 198px;
    }
    
    .salescall-date-input~.li-totime-fa.iPhone {
        position: relative;
        float: left;
        left: 180px;
     }
    
    .div-edit #ul-salescall-surgeon .fa-user-md{
        width: 32px;
    }
    
    .salescall-to-date{
        width: 18%;
        float: left;
        margin-top: 14px;
        display: inline-block !important;
        min-width: 0px;
        margin-right: 0px;
    }

    .ul-salescall-category-items {
        margin-left: 0;
    }

    .ul-filter-content li.gmSectionListItem {
        margin: 10px 0;
    }

    .ul-filter-content input {
        width: 94%;
    }

    .ul-filter-content .gmMarginLeft10p {
        margin-left: 0;
    }

    .ul-salescall-activity-date .gmTextRight {
        display: none;
    }

    .ul-ph-salescall-filter-search {
        float: none;
    }

    .div-upcum-salescall-btn,
    .salescall-search-content input {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .li-sc-popup-criteria {
        width: 100%;
    }

    #div-salescall-detail li {
        margin: 5px 0 !important;
        width: 94% !important;
    }

    #div-salescall-edit input {
        width: 94%;
    }

    #div-salescall-edit textarea {
        width: 94%;
    }

    #ul-salescall-detail-left-top-left {
        display: none;
    }

    #ul-salescall-detail-left-top-right {
        width: 100%;
        float: none;
    }

    .salescall-date-input {
        width: 37%;
        display: inline-block;
    }

    #div-salescall .div-edit li {
        margin: auto 0px;
    }

    #div-salescall .div-edit li.gmSectionListItem {
        margin: 5px 0 0 0;
    }

    #div-salescall .div-edit li.gmSectionValue {
        margin: 3px 0 15px 0;
    }
  
    ul.salescall-category-content.filter-criteria-content.gmMediaDisplayNone {
      display: block !important;
    }
    
    #salescall-scheduler-rep-search #div-common-search-x{
        width: 100%;
    }
    
    #li-act-steps-party{
        padding: 6px 3px 3px 6px;
    }
    .salescallInfoText{
        width: 95px !important;
        text-align: left;
    }
    
    .favorite-criteria-content{
        width: 100%;
    }
    
    #ul-salescall-surgeon .fa-user-md{
        width: 41px;
    }
    
    .calIcon{
        width: 30px;
    }
     /*********CALENDAR POC STYLES*****************/
    .el-salescall-Smode ~ .scheduler-main-container {
        width: 100%;
        top: 83px !important;
        margin-left: -17px;
        overflow-y: auto;
    }
    #scheduler-info-container {
        left: 20px;
        width: 90%;
    }
    #scheduler-info-main {
        width: 100%;
    }
    .salesiphone~ .scheduler-main-container #scheduler_here {
        height: 628px;
    }    
    #salescall-scheduler-rep-search ~ #scheduler_here .dhx_cal_data {
        height: 483px !important;
        top: 100px !important;
    }    
    #salescall-scheduler-rep-search ~ #scheduler_here .dhx_cal_header {
        top: 80px !important;
    }    
    .dhx_cal_navline .dhx_cal_today_button {
        top: 40px !important;
        right: 8px;
    }    
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_navline .dhx_cal_date {
        top: 40px !important;
        width: 52%;
        left: 112px;
        font-size: 16px;
    }    
    .dhx_cal_navline .dhx_cal_tab_standalone {
        left: 200px !important;
    }
    
    .dhx_cal_navline .dhx_cal_next_button {
        right: 8px;
    }

    .dhx_cal_navline .dhx_cal_prev_button {
        right: 49px;
    } 

    #filters_wrapper {
        top: 40px;
        left: 14px;
    } 
    
    .dhx_cal_navline .dhx_cal_next_button,
    .dhx_cal_navline .dhx_cal_prev_button {
        width: 40px;
    } 

    .dhx_cal_navline .dhx_cal_tab_standalone {
        display: none;
    } 

    #scheduler-info-main-header ul li {
        width: auto;
    } 

    #scheduler-info-main-header ul li.gmVisibilityHidden {
        display: none;
    } 

    #dhtmlx-filter-division {
        right: 95px;
    } 

    #dhtmlx-filter-division summary,
    #filters_wrapper summary {
        padding: 8px 5px;
    } 

    .dhx_cal_today_button,
    .dhx_cal_tab {
        width: 50px !important;
    } 

    .dhx_cal_tab[name="week_tab"] {
        left: 65px !important;
    }
    
    .dhx_cal_tab[name="month_tab"] {
        left: 116px !important;
    }

    #scheduler-legend {
        left: 185px !important;
    }
    
    #salescall-scheduler-rep-search ~ #scheduler_here .dhx_cal_navline div {
        white-space: normal;
    }

    .salesiphone ~ #scheduler-main-container #scheduler-legend #scheduler-legend-info {
        margin-top: 0;
    }
    
    #salescall-scheduler-rep-search #div-search-result-main {
        width: 150px !important;
        top: 43px !important;
        position: absolute;
    }
     #div-salescall .div-view #ul-visit-cancel-reson~.gmSection li.gmSectionListItem.iPad {
    display: inline-block !important;
}
    /**********CALENDAR POC STYLES END****************/
}
@media screen and (max-width: 376px) {
    #salescall-date .div-sc-from-time.iPhone {
      right: 180px;
    }
	
    .div-edit input#salescall-actstarttime {
      margin-left: -12px;
     }
	 
    #ul-salescall-surgeon~.gmSection .salescall-date-input:nth-child(2) {
       width: 76%;
    } 
	
    .salescall-date-input~.li-totime-fa.iPhone {
      left: 165px;
    }
	  
    .lead-criteria-phone-style #ul-activity-date .li-surg-actdate-input #activity-frmdate, .lead-criteria-phone-style #ul-activity-date .li-surg-actdate-input #activity-todate{
        width: 325px;
    }
    
     #div-module-criteria #ul-activity-date .li-surg-actdate-input .salescall-crt-date, #div-module-criteria #ul-activity-date .li-surg-actdate-input .salescall-crt-date{
        width: 325px;
    }
    
    #div-salescall-dash-content{
         max-height: 341px;
        margin-left: 25px;
    }
    
    .div-totime-sc {
        padding-left: 15px;
        margin-top: -3px;
        margin-right: 0px !important;
    }
    
    #ul-salescall-surgeon .fa-user-md{
        width: 37px;
    }
    
    #salescall-scheduler-rep-search{
        right: 43%;
    }
    
   
    #div-crm-module .div-sc-from-time .div-img{
        margin-left: -27px;
    }
     #salescall-date{
        width: 39%;
    }
    
    .li-totime-fa{
        width: 45px;
        min-width: 10px;
    }
    
    #salescall-date .salescall-date-input{
        width: 96%;
    }
    
    .div-totime-sc .div-img{
        margin-left: -25px !important;
    }
    
    ul.salescall-category-content.filter-criteria-content.gmMediaDisplayNone{
        display: block !important;
    }
    
    .salesiphone~ .scheduler-main-container #scheduler_here {
        height: 575px;
    }
    
    #salescall-scheduler-rep-search ~ #scheduler_here .dhx_cal_data {
        height: 472px !important;
    }
    
      .el-salescall-Smode ~ .scheduler-main-container {
        margin-left: -16px;
    }
    
    #div-module-criteria #salescall-frmdate #activity-frmdate, #div-module-criteria .sc-date-criteria #activity-todate{
        min-width: 130px;
        width: 137px;
    } 
    
    .div-edit input#salescall-actstartdate {
        width: 293px;
    }
    
    .div-edit input#salescall-actstarttime, .div-edit input#salescall-actendtime {
        width: 109px;
    }
    
    
}

#input-sc-title {
    min-width: 250px;
}

/*Scheduler Styles*/

#scheduler-legend {
    position: absolute;
    z-index: 999;
}

#scheduler-legend-info {
    font-size: 16px;
    background: #fff;
    border: 1px solid #000;
}

.txtPink {
    color: #FB607F;
}

.txtDYellow {
    color: #fdcc45;
}

.txtSkyBlue {
    color: #40C4FF;
}

.txtYellow {
    color: #E3E804;
}

.txtOrange {
    color: #f57403;
}

.txtLSkyBlue {
    color: #9fe8ff;
}

.txtLRed {
    color: #ff8d83;
}

.txtLOrange {
    color: #fdcc45;
}

.txtLGray {
    color: #dfdce0;
}

.txtLinearG {
    background: repeating-linear-gradient(135deg, #fff 9px, #fff 11px, #555 10px, #555 15px);
}

#legend-icon-req {
    width: 3px;
    height: 13px;
    color: transparent;
    margin: 0px 10px 0 0;
    border-radius: 4px;
}


@media screen and (min-width: 410px) and (max-width: 736px){
     #div-module-criteria #ul-activity-date .li-surg-actdate-input .salescall-crt-date{
    width: 359px !important;
   }
}


@media(max-width: 370px){
    
    .div-edit input#salescall-actstartdate {
        width: 278px !important;
    }
    
    
    .salescall-date-input~.li-totime-fa.iPhone {
        left: 157px;
    }
    
    #ul-salescall-surgeon~.gmSection .salescall-date-input:nth-child(2) {
        width: 74%;
    }
    
    #salescall-scheduler-rep-search {
        right: 41%;
    }
   
    #scheduler-main-container{
        height: 84%;
        overflow: hidden;
    }
    
    #salescall-scheduler-rep-search #scheduler_here{
        overflow: hidden;
    }
    
    .salescall-search-content~#scheduler-main-container #salescall-scheduler-rep-search~#scheduler_here .dhx_cal_prev_button {
    right: 52px;
}
}
