body {
    font-family: SourceSansPro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul.gmSection {
    width: 100%;
}
#button-print {
    display: none;
}
li.gmSectionListItem {
    margin: 10px 5px;
}
.gmFontBold {
    font-weight: bold;
}
.gmSectionCaption {
    min-width: 150px;
    text-align: right;
    font-size: 13px;
}
.gmAlignHorizontal {
    display: inline-block;
}
.gmFontBold {
    font-weight: bold;
}
.gmDashColHead,
.gmListColHead {
    display: inline-block;
    min-width: 50px;
    padding: 0.5em;
}

.gmDashColHead:last-child,
.gmListColHead:last-child {
    border-right: 0;
}

.gmDashColData,
.gmListColData {
    border-right: 1px;
    border: 0;
    display: inline-block;
    margin-right: -3px;
    min-width: 50px;
    padding: .8em 0.5em;
    vertical-align: middle;
    word-wrap: break-word;
}
.gmText25 {
    width: 25px;
}

.gmText50 {
    width: 50px;
}

.gmText75 {
    width: 75px;
}

.gmText30 {
    width: 30px;
}

.gmText100 {
    width: 100px;
}

.gmText125 {
    width: 125px;
}

.gmText150 {
    width: 150px;
}

.gmText175 {
    width: 175px;
}

.gmText200 {
    width: 200px;
}
.gmText225 {
    width: 225px;
}

.gmText245 {
    width: 245px;
}

.gmText240 {
    width: 240px;
}

.gmText250 {
    width: 250px;
}
.gmText350 {
    width: 350px;
}

.gmText500 {
    width: 500px;
}

.gmTextAll {
    width: 100%;
}
.gmWidth50 {
    width: 50%;
}
.div-merc-feedback-comments-list-header li {
    margin: 5px !important;
}
.commentHead {
    height: 30px;
}
.gmBGGrey {
    background-color: #ccc;
}
.gmFloatLeft {
    float: left;
}
.gmFloatRight {
    float: right;
}
.gmPadRight10p {
    padding-right: 10px;
}
.gmCommentArea {
    padding: 1%;
    width: 98%;
}
.gmBGLGrey {
    background-color: #eee;
}
.gmBorderRadius3p {
    border-radius: 3px;
}
.gmPad75 {
    padding: 0.75em;
}
.gmFontBlack {
    color: #000;
}
.gmAlignHorizontal {
    display: inline-block;
}
.span-comma-separated:not(:empty) ~ .span-comma-separated:not(:empty):before {
  content: "/ ";
}

.hide {
    display: none;
}