#div-fieldsales-filter-main li {
    margin: 5px;
}
#div-map {
    height: 650px;
    width: 100%;
    padding: 0;
    margin: 0;
}
#div-rep-contact {
    float: right;
}
.div-rep-pic-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.fieldsales-phone-criteria-header{
        display:none;
    }

.gmBGBlueLight {
    background-color: #069DF9;
}
.div-rep-pic-container img {
       width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 1px;
}
#div-rep-module{
    text-align: left;
}

.el-fieldsales-Smode {
    display: none;
}
.div-rep-fs-container{
        margin-top: -82px;
}
#div-assign-to-search{
    margin: 13px;
}
.ul-selected-criteria-fs{
            margin-top: 10px;
    margin-bottom: 8px;
    }
.div-rep-pic-container .default-picture {
    color: #aaa;
    font-size: 70px;
    padding-top: 12px;
}
.div-rep-pic-container {
    background: #ccc;
    color: #999;
    height:100px;
    border-radius: 50%;
    text-align: center;
    width: 100px;
    margin: auto;
}

.gmRepTab li {
	padding: 0.75em 0.25em;
	border-radius: 3px;
	color: #fff;
	min-width: 150px;
/*	text-align: center;*/
}

.gmRepTab .fa {
    display: none;
}

@media screen and (max-width: 480px) {
    .gmRepTab .fa {
        display: inline-block;
    }
    .fieldsales-phone-criteria-header{
        display: block;
            width: 99%;
    }
    .div-rep-pic-container {
    background: #ccc;
    color: #999;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    width: 70px;
    margin:10%;
}
    #li-geo{
        margin-top: -3px;
    }
   .ul-fs-datail-top .div-rep-pic-container .default-picture {
    color: #aaa;
    font-size: 50px;
    padding-top: 8px;
}
    .div-rep-fs-container {
    margin-top: -58px;
    margin-left: -2px;
}
    .div-rep-pic-container img {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    margin-top: 1px;
}
    #btn-geo.gmBtn{
        padding: 0px;
    }
    .gmRepTab li {
	/*padding: 1em 0.25em;*/
	border-radius: 3px;
	color: #fff;
	min-width: 150px;
}
    .li-fs-email{
        width: 73%;
        word-wrap: break-word;
    }
    .li-fieldsales-mobile-detail{
            margin: 0;
            width: 75%;
    }
    .li-fs-mobile-regnm{
        padding: 20px 0;
    }
    #fs-name-search input,#fs-repid-search input {
        margin-bottom: 5px;
    }
    .ul-ph-salescall-filter-search #btn-category-search{
        width: 95%;
    }
    
}
@media (min-width:480px) and (max-width: 768px){
    .li-fs-filter-product{
        margin-top: 10px;
    }
}