#div-main-sub-left {
    width: 66%;
    height: 600px;
    box-sizing: border-box;
/*    padding: 5px;*/
    border: 1px solid #d3d3d3;
}
#div-main-sub-right {
    width: 33%;
    height: 600px;
    vertical-align: top;
    border: 1px solid #d3d3d3;
    margin: 0px 3px;
    padding: 10px;
    box-sizing: border-box;
}
#surgeon-grid-detail-img {
    padding: 10px;
    height: 175px;
}
#surgeon-grid-detail-sec ul {
    padding-bottom: 5px;
}
#surgeon-grid-info-btns {
    background: #d3d3d3;
}
#surgeon-grid-info-btns .fa{
    color: #444;
}
.grid-edit-label {
    width: 30%;
    display: inline-block;
}
.grid-edit-value {
    display: inline-block;
}
#surgeon-grid-detail-img .default-picture {
    color: #aaa;
    font-size: 125px;
}
#surgeon-grid-detail-img .img-sur-pro-pic {
    margin-top: -120px;
}
.grid-party-name {
    font-weight: bold;
}
/*Grid Override Classes*/
div.gridbox{width:100% !important;}
div.gridbox td.filter input, div.gridbox td.filter select {
    font-size: 11pt;
    width: 99% !important;
    box-sizing: border-box;
}

div.gridbox table.obj tr.rowselected td.cellselected, div.gridbox table.obj td.cellselected,
div.gridbox table.obj tr.rowselected td {
    background-color: #e1f4ff !important;
}
div.gridbox .objbox {
    border-top: 2px solid #53abe6;
}
div.gridbox .xhdr, div.gridbox table.hdr td {
    background: #ebebeb;
    border-color: #fcfbfb;
}

div.gridbox table.row20px tr td {
    padding: 8px 5px;
    color: #333;
}
div.gridbox table.obj tr:nth-of-type(odd){
    background: #f1f1f1;
}

div.gridbox .xhdr img {
    top: 15px !important;
}


div.gridbox table.hdr td,
div.gridbox table.obj td {
    font-size: 15px;
}

div.gridbox table.hdr td {
    border-top-width: 0;
    padding: 8px 5px;
    color: #000;
    font-weight: normal;
    text-align: left;
    font-family: inherit;
}

div.gridbox table.obj td {
    border-color: #F1F1F1;
}

div.gridbox table.obj td {
    border: 0;
    border-bottom: 1px solid #eee;
    font-size: 15px;    
    font-family: inherit;
    padding: 0 5px;
}

div.gridbox table.obj tr:last-child td {
    border-bottom: 0
}

div.gridbox div.ftr td {
    background: #fff;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    font-family: inherit;
    border-top: 1px solid #ccc;
    border-right: 0;
    padding: 8px 5px;
    font-style: normal;
}

div.gridbox table.row20px tr td.gmReportLnk{
    cursor: pointer;
    color: rgb(0, 0, 245);
}