/*CRF details*/

#div-approver-details-content li {
    margin: 10px 5px;
    vertical-align: middle;
}

.div-crf-feedback-comments-list-header-right {
    margin: 6px;
}
.ul-crf-actvtydetail li{
    min-width: 150px;
    max-width: 150px;
        word-break: break-all;
}
.ul-crf-actvtydetail li:first-child{
margin-left: 53px!important;
}

#div-crf-details .div-edit,
#div-crf-details-content #div-training-tabs {
    display: none;
}
#div-crf-header-cell{
    min-width: 100px;
}
#div-crf-header-work{
    min-width: 50px;
}
.div-approver-approval-list-content {
    width: 98%;
    margin: auto;
    border: 1px solid #999;
}
#div-crf-details #div-training-view-comments {
    display: none;
}

#div-crf-details-content #div-merc-view-comments {
    display: none;
}

#div-approver-details .div-crf-approval-list {
    border-bottom: 1px solid #ccc;
    width: 96%;
    margin: auto;
}

#div-crf-tabs {
    margin-top: 10px;
}

#div-crf-details #div-merc-tabs {
    display: none;
}

#div-crf-details-content .gmLineSpace {
    padding: 0px;
}

#div-crf-tabs .fa-lg {
    display: none;
}

#div-crf-tabs-phone .fa-lg {
    display: none;
}

.ul-crf-detail-phone-style {
    display: none;
}

.phone-style-crf-tab {
    display: none;
}

.delete-comments,
.edit-comments {
    padding: 0 7px;
}

#div-approver-details .div-crf-approval-list:last-of-type {
    border-bottom: none
}

#div-approver-sub-content .gmFontRed,
#div-approver-sub-content .gmFontPurple,
#div-approver-sub-content .gmFontGold,
#div-approver-sub-content .gmFontPink,
#div-approver-sub-content gmFontGreen {
    color: #007373;
    width: 200px;
}

#div-crf-details-content .div-sur-pic-container {
    display: none;
}

.approver-comments {
    width: 70%;
    text-align: justify;
}

.travel-time-flag {
    display: none
}

.travel-time-Y .travel-time-Yes {
    display: inline-block
}

.travel-time-N .travel-time-No {
    display: inline-block
}

.current-argflag {
    display: none
}

.current-argflag-Y .current-argflag-Yes {
    display: inline-block
}

.current-argflag-N .current-argflag-No {
    display: inline-block
}

.honoraria-status {
    display: none;
}

.honoraria-status-1 .honoraria-status-attended,
.honoraria-status-1 .iuse-status-attendee {
    display: inline-block
}

.honoraria-status-0 .honoraria-status-other,
.honoraria-status-0 .iuse-status-comment {
    display: inline-block
}

.gmFontapprover.gmFilter {
    margin-right: 20px;
}

#div-crf-details-content .globus-experience-content,
#div-crf-details-content .surgeon-list-content {
    display: none;
}


/*CRF Edit*/

#div-crf-details-content li.gmSectionListItem {
    margin: 10px 5px;
}

#div-crf-details-content li.div-crf-feedback-comments-list-header-right {
    margin: 0px;
}

.div-crf-feedback-comments-list-header-left {
    margin: 0;
}

#div-crf-filter-main li {
    margin: 5px;
}

.div-crf-approval-list-content li {
    margin: 5px;
}

#div-crf-details .comments-list {
    display: none;
}

#div-crf-details .participants-list {
    display: none;
}

#div-crf-details .surgeons-list {
    display: none;
}

#div-crf-details-content .gmFontRed,
#div-crf-details-content .gmFontPurple,
#div-crf-details-content .gmFontGold,
#div-crf-details-content .gmFontPink,
#div-crf-details-content gmFontGreen {
    color: #808000;
    width: 200px;
}

#div-crf-details-content .gmDisplayWidth800p {
    width: 100%;
}

.ul-search-header-crf {
    display: none;
}

#div-crf-details-content .div-crf-approval-buttons {
    display: none;
}

#div-crf-type-of-req {
    min-width: 150px;
}

#input-crf-priorityfl {
    width: 12px;
    height: 12px;
    vertical-align: middle;
}
#div-merc-crf-service-desc-main>li , #div-merc-crf-hcp-qualify-main>li {
    vertical-align: top;
}
@media (max-width:480px) {
    .ul-search-header-crf {
        display: block;
    }
#div-crf-details-content #ul-merc-detail-phone-content .gmSection {
    padding: 10px 0 0 0;
}
    #div-crf-details-content #ul-merc-detail-phone-content li.gmSectionListItem {
    margin: 5px 0 0 0;
}
    .li-crf-hrs-mobile {
        width: 135px;
        min-width: 135px;
    }
    .li-crf-assesmnt-detail {
        width: 57%;
    }
    .ul-crf-actvtydetail li:first-child {
     margin-left: 0!important; 
}
    #div-merc-crf-main-details .gmText200 {
    width: 44%;
}
    #div-merc-crf-main-details .gmSectionCaption {
    min-width: 44%;
}
    #div-merc-crf-internal-use .gmSectionCaption {
        width: 47%;
    }
    #div-merc-crf-internal-use .gmSectionValue {
        width: 40%;
    }
    #li-honoraria-status-value {
        width: 100%;
    }
    #div-crf-honoraria-status {
        width: 50%;
    }
    .phone-align-item {
        width: 40%;
        margin-left: 2.5% !important;
    }
    #li-honoraria-status-value input {
        margin-top: 5px;
        width: 90%;
    }
    .gmSmLineSpace{
            padding: 20px 0px 10px 0;
    }
    #div-crf-hcp-qualify-head .gmSmLineSpace {
    padding: 30px 0px 15px 0;
}
.delete-comments, .edit-comments {
    float: right;
    font-size: 2em;
    padding: 5px 11px;
    margin-top: -20px;
}
/*
    #div-crf-details{
            margin-bottom: 90px;
    }
*/
/*
    #div-crf-details-content .gmSectionValue {
    text-align: right;
}
*/
     #div-merc-crf-main-details .gmSectionValue {
    min-width: 147px;
}
    #div-crf-details #div-physicianvisit-tabs {
        display: none;
    }
    #div-crf-details-content li.gmSectionListItem {
    margin: 7px 5px;
}
    #div-crf-details-content li.div-crf-feedback-comments-list-header-right {
    margin: 0px;
}
    #txt-crf-service-desc-comments,#txt-crf-hcp-qualify-comments{
        min-height: 200px;
    }
   
    #div-merc-crf-main-details .gmMediaTextRight {
        text-align: right;
    }
  
    
    
    
    .crf-serdesc-hcp-qual {
        width: 90%;
    }
    #div-crf-address {
        width: 93%;
    }
/*
    #div-approver-details-content li {
        margin: 10px 0 10px 0;
    }
*/
    #div-approver-details-content  li {
    margin: 10px 10px 10px 0;
}
     #div-approver-details-content .gmSectionCaption,#div-merc-crf-hcp-qualify-main .gmSectionCaption{
    min-width: 120px;
         width: 40%;
    }
    #div-approver-details-content .gmSectionValue,#div-merc-crf-hcp-qualify-main .gmSectionValue{
       margin: 0px 0 5px 0;
    }
   
    #div-merc-crf-hcp-qualify-main .gmSectionValue,#div-merc-crf-service-desc-main .gmSectionValue{
       min-height: 100px;
    }
    #div-approver-details-content .gmText200 {
    width: 40%;
    min-width: 38%;
}
    #div-approver-details-content li.div-crf-feedback-comments-list-header-right {
        margin: 0px;
    }
     #div-approver-details .gmSectionCaption {
    text-align: right;
}
    #div-crf-details-content .gmSectionCaption {
    text-align: right;
}
    #ul-training-detail-phone-content .gmSectionCaption,#div-physicianvisit-detailmode .gmSectionCaption {
    text-align: left;
}
    
/*
    #ul-merc-detail-phone-content .gmSectionValue{
        text-align: left;
    }
*/
    
     #div-merc-crf-service-desc-main .gmText200,#div-merc-crf-hcp-qualify-main .gmText200{
        width: 100%;
        text-align: left;
    }
    .crf-mobile-comments {
        border: 1px solid grey;
        width: 97%;
        border-radius: 2px;
        padding: 5px;
        background-color: #eee;
    }
    .crf-mobile-hours {
        width: 40%;
        min-width: 100px;
        text-align: right;
    }
    .crf-mobile-sectionvalue {
           width: 50%;
        min-width: 135px;
    }
    
    #div-crf-details-content #ul-merc-detail-phone-content .gmSectionCaption {
    text-align: left;
}
    #div-approver-details-content .gmMediaWidth100px {
        width: 37%;
        min-width: 100px;
        text-align: right!important;
    }
    #div-crf-tabs {
        margin-top: 0px;
    }
    #div-crf-tabs .gmBGDarkerGrey {
        background-color: #eee;
        color: #000;
    }
    #div-crf-details-requestdetail {
        margin-top: 0px!important;
    }
    #div-crf-tabs-phone .gmBtn {
        text-align: left;
    }
    #ul-crf-activity-date {
        float: none;
        width: 100%;
    }
    #div-crf-tabs-phone li {
        display: block;
        margin-bottom: 10px;
    }
    #li-type-of-req {
        width: 90%;
        margin: 2% 2.5%;
    }
    #span-crf-feedback-comments-cancel,
    #span-crf-hcp-qualify-comments-clear,
    #span-crf-service-desc-comments-clear {
        margin: 5px;
    }
    #div-crf-feedback-comments-lists {
        margin-top: 16%;
    }
    #div-crf-tabs-phone .gmBGDarkerGrey {
        background-color: #eee;
    }
    #div-crf-tabs-phone .gmFontWhite {
        color: black;
    }
    #div-crf-tabs-phone .fa-lg {
        display: inline-block;
    }
    #div-crf-tabs .fa-lg {
        display: inline-block;
    }
    .ul-crf-detail-phone-style {
        display: block;
    }
    #div-crf-tabs li {
        display: block;
        margin: 5px 0px 5px 0;
        text-align: left;
    }
    #div-approver-details .fa-chevron-right,
    #div-approver-details .fa-chevron-down,
    #div-crf-tabs .fa-chevron-right,
    #div-crf-tabs .fa-chevron-down {
        border-radius: 1em;
        font-size: 1.33333333em;
    }
    .ul-search-header-crf .sub-tab {
        box-sizing: border-box;
        margin-right: -3px;
        width: 50%;
        padding: 12.5px;
    }
    .phone-style-crf-tab {
        display: block;
    }
    #crf-title-search #btn-search-title {
        margin-top: 10px;
    }
    #div-approver-details .div-crf-approval-list {
        width: 90%;
    }
    .div-crf-approval-buttons button {
        width: 49%;
    }
    .div-crf-approval-buttons input {
        width: 94%;
        margin: 10px 0 0 0;
    }
    #crf-send-buttons {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    #crf-send-buttons #crf-send-review,#crf-send-buttons #crf-send-approval{
        width: 90%;
        margin: 0% 1%;
    }
}

@media (min-width: 480px) and (max-width:769px) {
    #div-crf-tabs li {
        0.7em 0.393em 0.7em 0.393em
    }
    #crf-send-buttons {
        width: 10%;
    }
    #div-crf-feedback-comments-lists {
        margin-top: 6.5%;
    }
    #input-internal-use-honoraria-comment {
        width: 400px;
    }
}

#div-crf-details #div-merc-tabs,
#div-crf-details .phyvisit-tab,
#div-crf-details #training-content,
#div-crf-details #merc-content,
#div-crf-details #phyvisit-content,
#div-crf-details #div-physicianvisit-confirm,
#div-crf-details #div-physicianvisit-cancel {
    display: none;
}

#div-crf-travel-time-option {
    width: 50px;
}