#input-merc-title,
#input-training-title {
    min-width: 520px;
}

#div-merc-filter-main li {
    margin: 5px;
}

#div-merc-surgeon-detail-main li {
    margin: 0;
}

.list-merc-filter-category {
    margin-top: 70px;
    margin-bottom: 8px;
}
.li-actvty-surgeon {
          width: 79%;
    margin-left: 162px !important;
    }
.i-add-merc {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}
.span-mob-dropdwn{
    width: 50px;
        display: inline-block;
}
  .surgeon-crf-status-105205 {
        color: #000;
    }
    .surgeon-crf-status-105206 {
        color: #3b7fc4;
    }
    .surgeon-crf-status-105207 {
        color: #8c9c24;
    }
    .surgeon-crf-status-105208 {
        color: #008040;
    }
    .surgeon-crf-status-105209 {
        color: #da2323;
    }



.actvty-agenda-caption {
    margin-top: 15px!important;
}
.div-actvty-filetype{
width: 215px;
     margin-top: 13px; 
    font-size: 13px;
    font-style: italic;
}
.li-sur-doc-li .div-actvty-filetype{

     margin-top: 0!important; 
    
}
.div-merc-mobile-edit-role {
    display: none;
}

#merc-select-address {
    /*        max-height: 40px;*/
}

#div-merc-details-main #acttype {
    min-width: 212px;
}

.comments-list {
    margin: 10px 0 10px 0;
}

.comments-buttons {
    text-align: right;
    width: 99.5%;
    margin-bottom: 10px !important;
}



.li-merc-edit-addr {
    width: 121px
}

#div-popup-merc-list #div-crmitemlist-coldata {
    max-height: 46vh;
}

#li-merc-select-address {
    min-width: 250px;
    max-width: 190px;
    min-height: 80px;
}

.merc-phone-criteria-headers {
    display: none;
}

.li-merc-edit-zip,
.li-merc-edit-state {
    text-align: left;
    min-width: 25px;
}

#input-merc-editview-title {
    width: 520px;
}

#div-training-edit-program #acttype,
#div-merc-edit-program #acttype {
    width: 212px;
}

.li-merc-tabhead {
    width: 98%;
}

#div-merc-feedback-comments {
    margin-bottom: 5%;
}

.div-merc-feedback-comments-list {
    margin-bottom: 5px;
}

#div-popup-merc-list {
    min-height: 40vh;
}

.li-merc-detail-to {
    min-width: 150px;
}

#ul-merc-detail-phone-content {
    display: none;
}

.select-address-state,
.select-address-country {
    width: 198px;
    min-width: 150px;
}

.div-view li.gmSectionListItem {
    margin: 0 10px;
}

.div-view .selectbox-icon {
    display: none;
}

.div-edit .div-select-type-roleid {
    display: none;
}

.div-merc-top-content {
    width: 85%;
    margin: auto;
}

#iPad-lname {
    margin-left: -4px;
}

.ul-merc-surgeon-header {
    border-bottom: 1px solid #92278F;
}

.div-merc-feedback-comments-list-header li {
    margin: 5px;
}

.div-edit li {
    margin: 5px 5px;
}

#merc-pending-surgeons .merc-party-checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    -webkit-transform: initial;
}
#ul-pending-surgeon:nth-child(even) {
    background-color: #F7F7F7;
}
#span-merc-seleted-address {
    overflow-wrap: break-word;
}

.div-view #div-merc-feedback-edit-content {
    display: none;
}

.div-view .edit-comments,
.div-view .delete-comments {
    display: none;
}

.div-view #div-merc-feedback-comments-count {
    display: none;
}

.div-merc-feedback-comments-list {
    margin: 10px 0 !important;
}

.merc-phone-criteria-headers,
.ul-merc-surgeon-list-details {
    display: none;
}

.ul-merc-category-items li:nth-of-type(2) {
    margin-left: 0px;
}


/*File Upload Agenda Style*/

#div-merc-details-main #span-fileupload-browse-filenm {
    background: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-size: .99em;
    width: 72%;
    padding: 6px 5px;
}

#div-merc-details-main #btn-fileupload-popup-browse {
    margin-left: 10px;
    display: inline-block;
    /*width: 114px;*/
    font-size: 14px;
}

#merc-file-upload #li-fileupload-fileinfo {
    width: 600px;
    margin: 0
}

#div-merc-details-main #li-fileupload-upload {
    display: none;
}

.li-MERC-file-upload {
    width: 65%;
    vertical-align: middle;
}

.comments-edit,
.comments-delete {
    padding: 5px 10px;
}

/**MERC ATTENDEE REPORT STYLES**/
#select-merc {
    width: 550px;
    box-sizing: border-box;
    position: relative;
    height: 40px;
    padding-right: 30px;
    overflow: hidden;
}

#select-merc::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    clear: both;
}

.search-result-merc {
    width: 550px;
    height: 250px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 1;
}

.ulMercList {
    background: #ccc;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}

.search-result-merc .ulMercList:hover {
    background: #3B73AE;
    color: #FFF;
    cursor: pointer;
}

.mercReportMain #btn-category-search {
    margin-left: 5px;
    margin-top: 25px;
}

.crm-merc-edit #languageSelect,.crm-merc-edit #typeSelect,.crm-merc-edit #stateSelect,.crm-merc-edit #countrySelect{width: 228px;}
#div-mercDetail ul li:nth-child(odd) {
    padding-right: 10px;
    text-align: right;
    width: 15%;
}
#div-mercDetail ul li:nth-child(even) {
    width: 35%;
}
.merc-fileupld{margin-left: 160px;}
.merc-fileupld-edit #li-fileupload-fileinfo{display: flex;align-items: center;padding-top: 10px;}
.merc-fileupld-edit .div-actvty-filetype{margin-top: 0;}
.merc-attndee-detail-list{padding-top: 40px;}
.merc-attndee-detail-list li{width: 33.333%; text-align: center;}
.merc-attendee-list-body li:first-child{text-align: left}
.merc-attendee-list-body ul{border-bottom: 1px solid #ccc;}
.merc-attendee-list-body ul:last-of-type{border-bottom: 0;}
#div-attendeeDetail .merc-attndee-detail-list{padding-top: 0;}
#div-attendeeDetail .merc-attndee-detail-list .selectbox-icon:after{display: none;}
#div-attendeeDetail .merc-attndee-detail-list select{visibility: hidden;}
#merc-attendee-details .merc-attendee-list-body li:first-child{display: flex; align-items: center;}
#merc-attendee-details .merc-attendee-list-body li:first-child i{margin: 0 5px 0;}
.alertWarning {color: #272323;background-color: #fcf8e3;border-color: #faf2cc;color: #8a6d3b;}
.merc-attendee-list-body{
    overflow: hidden;
    max-height: 360px;
    overflow-y: auto;
}
#merc-frmdate,#merc-todate{position: absolute; left: 0;}
#merc-frmdt,#merc-todt{position: absolute; left: 0;}

@media (max-width: 767px) and (min-width: 320px) {
    #div-surgeon-report-main ul.gmSection.gmAlignHorizontal {
        width: 100%;
    }

    #report-btn-mercsurgrpt li {
        width: 100%;
    }

    #report-btn-mercsurgrpt #btn-category-search {
        width: 95%;
        margin: 0;
    }

    .merc-mitem {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-result-merc {
        width: 92%;
    }

    .mercsurgrpt.hide {
        display: block !important;
        background-color: rgb(0, 128, 64);
        padding: 8px;
        color: rgb(255, 255, 255);
        margin-bottom: 5px;
    }

    #select-merc {
        width: 100%;
        padding-right: 30px !important;
        line-height: 1.5;
    }
}

/**MERC ATTENDEE REPORT STYLES END**/

@media (max-width: 480px) {
    #ul-merc-detail-phone-content,
    .ul-merc-surgeon-list-details {
        display: inline-block !important;
    }
    #ul-merc-detail-phone-content .gmSection {
        padding: 5px 0;
    }
    #merc-select-address {
        width: 74%;
        max-width: 100%;
    }
  
    #merc-actstartdate,
    #merc-actenddate {
        width: 130px!important;
        min-width: 75px;
    }
    .merc-tab.gmBGDarkerGrey {
        background-color: #eee;
        color: black;
    }
    #input-merc-title,
    #input-training-title {
        min-width: 100px;
    }
    .li-actvty-surgeon {
    width: 95%;
     margin-left: 0 !important; 
}
    #div-training-edit-program #acttype,
    #div-merc-edit-program #acttype {
        width: 100%;
    }
    #ul-merc-detail-phone-content .li-addres-content {
        width: 75%;
    }
    #div-address-main-content ul li {
        margin: 0 0px 10px 0;
    }
    #div-merc-details-main input {
        width: 94%;
    }
    .crf-search-content {
        margin-top: 10px;
    }
    #input-merc-editview-agenda,
    #merc-surgeon-search input,
    #training-surgeon-search input {
        width: 94%;
    }
    #span-fileupload-browse-filenm {
        width: 97%;
    }
    #div-merc-details-main #btn-fileupload-popup-browse {
        margin-left: 0px;
        width: 100%;
        font-size: 14px;
    }
    .li-MERC-file-upload {
        width: 100%;
        vertical-align: middle;
    }
    #div-merc-details-main #span-fileupload-browse-filenm {
        width: 96%;
    }
    .div-merc-mobile-edit-role {
        display: block;
    }
    .gmTextArea {
        width: 94%;
    }
    #li-merc-select-address {
        min-width: 50px;
        max-width: 94%;
        min-height: 80px;
    }
    .li-merc-tabhead {
        width: 100%;
    }
    #criteria-name-search {
        float: none;
    }
    .div-merc-top-content {
        width: 100% !important;
    }
    #merc-actid-search {
        width: 100%;
    }
    #ul-merc-activity-date {
        float: none;
        width: 100%;
    }
    .div-merc-phone-date {
        width: 100%;
    }
    .merc-mobile-criteria-popup {
        width: 100%;
    }
    .merc-phone-criteria-headers {
        display: block !important;
    }
    .merc-criteria-phone-style .gmBtn {
        margin: 10px 0;
    }
    .merc-fname {
        margin-bottom: 10px;
    }
    #li-merc-actdate-frmdate-input {
        padding-left: 0;
    }
    .el-merc-Lmode {
        display: none;
    }
    .ul-ph-merc-filter-search {
        width: 100%;
        margin: auto;
        float: none;
    }
    .comments-buttons {
        text-align: -webkit-auto;
        width: 100%;
    }
    #div-physicianvisit-closure {
        display: none;
    }
    .comments-cancel,
    .comments-save {
        width: 44% !important;
        margin: 8px 0 0 0;
    }
    #div-merc-edit-program li,
    #div-merc-edit-surgeons li {
        margin: auto 0px;
    }
    #div-merc-edit-program li.gmSectionListItem {
        margin: 5px 0 0 0;
    }
    #div-merc-edit-program li.gmSectionValue,
    #div-merc-edit-surgeons li.gmSectionValue {
        margin: 3px 0 15px 0;
    }
    .li-actvty-surgeon {
        margin-left: 0%;
    }
    #merc-pending-surgeons .gmListColData {
        padding: 0;
        vertical-align: middle;
        width: 76%;
    }
    #merc-party-buttons {
        vertical-align: middle;
        width: 22%;
        text-align: right;
    }
    #merc-party-accept {
        color: #036;
    }
    #merc-party-reject {
        color: #800;
    }
}

@media (min-width:480px) and (max-width: 768px) {
    #ul-merc-category-li {
        width: 35%;
    }
    #merc-name-search {
        float: none;
        margin-top: 10px;
    }
    .div-merc-top-content {
        width: 100%!important;
    }
    #criteria-name-search {
        float: none;
    }
    .li-merc-edit-addr {
        width: 174px;
    }
    #input-merc-editview-title {
        width: 470px;
    }
    #input-merc-editview-agenda,
    #merc-surgeon-search input,
    #training-surgeon-search input {
        width: 340px;
    }
    
    .comments-buttons {
        width: 100%;
    }
}

@media (min-width:768px) {
    .merc-tab {
        width: 150px;
        display: inline-block;
    }
    #div-merc-tabs li {
        text-align: center;
    }
    #txt-crf-service-desc-comments,
    #txt-crf-hcp-qualify-comments {
        min-height: 200px;
    }
    #merc-report-list {
        height: 605px !important;
    }
    #merc-report-list .objbox{
        height: 80% !important;
    }
}

.sel-merc-roles {
    font-family: SourceSansPro;
    font-size: 1em;
    margin-left: 10px
}
