
.div-approver-approval-list-content {
    width: 98%;
    margin: auto;
    border: 1px solid #999;
}
#div-approver-details .div-crf-approval-list {
    border-bottom: 1px solid #ccc;
    width: 96%;
    margin: auto;
}
#div-approver-details .div-crf-approval-list:last-of-type { 
    border-bottom:none 
}
#div-approver-sub-content .gmFontRed, #div-approver-sub-content .gmFontPurple, #div-approver-sub-content .gmFontGold, #div-approver-sub-content .gmFontPink, #div-approver-sub-content gmFontGreen{
    color: #007373;
    width: 200px;
}
.approver-comments {
    width: 70%;
    text-align: justify;
}
.travel-time-flag{
    display: none
}
.travel-time-Y .travel-time-Yes {
    display: inline-block
}
.travel-time-N .travel-time-No {
    display: inline-block
}
.current-argflag{
    display: none
}
.current-argflag-Y .current-argflag-Yes {
    display: inline-block
}
.current-argflag-N .current-argflag-No {
    display: inline-block
}
.honoraria-status {
    display: none;
}
.honoraria-status-1 .honoraria-status-attended, .honoraria-status-1 .iuse-status-attendee {
    display: inline-block
}
.honoraria-status-0 .honoraria-status-other, .honoraria-status-0 .iuse-status-comment {
    display: inline-block
}


.gmFontapprover.gmFilter{
    margin-right: 20px;
}
