/* Common */

#div-saleitemlist li {
	list-style-type: none;
	display: inline-block;
	color: black;
}

#div-saleitemlist {
	max-height: 225px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.li-overview-widget-details-count {
	float: right;
	margin-right: 10px;
}

#btn-dash-filter-iphone {
	display: none;
}

.div-dropdown-list li:active {
	background-color: #444;
	color: #fff;
}

.content-red {
	color: #800!important;
}

.ul-overview-widget-details-Overdue {
	background-color: #800!important;
}

.ul-overview-widget-details-Overdue li {
	color: #fff!important;
}

.div-widget-refresh {
	text-align: center;
	width: 100%;
	padding: 0.75em 0;
	background-color: #444;
	border: 1px solid #444;
	margin: 0 -1px;
	color: white;
	font-weight: bold;
	display: none;
}

.fa-arrow {
	font-size: 2em;
	display: none!important;
	color: #444!important;
}

.div-dash-widget-quota-mobile {
	display: none!important;
}

.li-dash-drilldown-link, .li-dash-drilldown-track-link, .li-dash-pricerequest-link  {
	width: auto!important;
	border-radius: 2px;
	background-color: #444;
	padding: 3px;
	margin-top: -3px;
	text-decoration: none;
}

.li-dash-drilldown-tagid-link  {
	width: auto!important;
	border-radius: 2px;
	background-color: #444;
	padding: 3px;
	margin-top: -3px;
	text-decoration: none;
	color: #fff!important;
}

.div-drilldown-header-opened {
	border-radius: 0px 0px;
}

.dash-hide {
	display: none!important;
}

.fa-phone-arrow {
	display: none!important;
}

.fa-arrow-circle-down:active, .fa-arrow-circle-up:active {
	color: #036;
}

.div-dash-page-loader  {
	text-align: center;
	width: 100%;
	margin-top: 60px;
	position: relative;
}

#ul-progress-spinner li {
	display: inline;
}

#ul-progress-spinner {
	text-align: center;
	width: 100%;
}

.img-progress-spinner{
	height:25px;
	margin-right: 10px;
	width:25px;
}

#div-settings-sync .ul-widget-typelist li {
	background-color: #999;
}

.li-settings-widget-itemlist {
	background-color: #eee!important;
	color: #444!important;
}

.li-settings-widget-itemlist-last .fa-arrow-circle-down, .li-settings-widget-itemlist-first .fa-arrow-circle-up {
	display: none;
}

.div-dash-widget-details{
	display:none;
}

#div-dash-quota-overview #div-saleitemlist, #div-dash-consigned-items-overview #div-saleitemlist, #div-dash-consigned-sets-overview #div-saleitemlist, #div-dash-case-overview #div-saleitemlist, #div-dash-return-overview #div-saleitemlist {
	overflow-y: hidden;
}

.ui-widget-header {
	background-color: #036!important;
	border: 1px solid #036!important;
}

.bg-dash-brown, .bg-dash-brown ul, .bg-dash-brown ul li {
	background-color: #800!important;
	color: #fff!important;
}

.bg-dash-golden, .bg-dash-golden ul, .bg-dash-golden ul li {
	background-color: #960!important;
	color: #fff!important;
}

.ui-datepicker-header {
	background-color: #999!important;
	color: #fff!important;
	border: 1px solid #999!important;
}

.ui-datepicker th {
	text-align: right!important;
}

.ui-datepicker-header a {
	background-color: #eee!important;
}

.text-red {
	color: #800!important;
}

#btn-extend-req {
	float: right;
	width: 85px;
	padding: 0.35em 0.6em;
	background-color: #036;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
	display: none;
}

#btn-generate-pricerequest {
	float: right;
	width: 115px;
	padding: 0.35em 0.6em;
	background-color: #036;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
	display: none;
}

.gmVisibilityHidden {
    visibility: hidden;
}

#btn-req-submit, #btn-req-cancel {
	float: right;
	width: 85px;
	padding: 0.6em 0.6em;
	background-color: #036;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	margin-right: 5px;
	display: none;
}

.btn-req-big, .btn-req-pa {
	float: left;
	height: 80px;
	width: 50px;
	margin-top: 3px;
}

.btn-request {
	margin: 30px 0 0 10px;
	color: #444;
}

.btn-pending {
	margin: 30px 0 0 10px;
	color: #800;
}

#div-extend-count , #div-pricerequest-count {
	border-radius: 50%;
	background-color: #ccc;
	color: #000;
	padding: 0.25em 0.45em;
	margin-left: 5px;
	display: inline-block;
}

#div-request {
	display: none;
	position: absolute;
	width: 100%;
	height: 600px;
	background-color: #fff;
	top: 112px;
	left: 0px;
}

#div-req-header li {
	display: inline-block;
	vertical-align: middle;
	width: 12%;
}
#surg-date .surg-date1{
    width: 75%;
    font-size: inherit;
    font-family: SourceSansPro, "Trebuchet MS";
    color: #000000;
    padding: 5px 0%;
    border-radius: 3px;
    border: 1px solid #666;
}
#surg-date .fa-calendar{
    font-size: 24px;
    margin: -5px 0 0 2px;
    vertical-align: middle;
}
#div-req-extn 
#div-req-data li {
	display: inline-block;
	vertical-align: middle;
	width: 12%;
    word-break: break-all;
}

#div-req-extn {
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 95%;
	height: 70%;
 	margin: auto;
	margin-top: 25px;
    overflow: auto;
}

#div-req-comments {
	width: 95%;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: auto;
	margin-top: 10px;
}

#div-req-comm-title {
	border-radius: 3px 3px 0 0;
	width: 100%;
	text-align: center;
	padding: 0.5em 0;
	background-color: #036;
	color: #fff;
}

#txtarea-req-comments {
	border: 0px;
	border-radius: 3px;
	display: block;
	width: 97%;
	height: 90px;
	margin: auto;
	resize: none;
}

#div-req-header, #div-req-data {
	width: 98%;
}

#div-req-header {
    border-radius: 3px 3px 0 0;
    padding: 1% 1%;
    background-color: #036;
    color: #fff;
}

#div-req-data {
	padding: 0.5% 1%;
	border-bottom: 1px solid #ccc;
}

#div-req-data ul {
	margin: auto;
}


#li-etch-id {
	width: 10%;
}

#li-set-id {
	width: 10%;
}

#li-ret-dt, #li-ret-dt-format {
	width: 10%;
	text-align: center;
}

#li-days {
	width: 10%;
	text-align: center;
}

#li-days select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #ddd;
	border: 0px;
	border-radius: 2px;
	padding: 0.45em 0.75em;
	font-size: 1.1em;
	font-family: 'Trebuchet MS';
}

#li-new-ret-dt, #li-new-ret-dt-format {
	width: 10%;
	text-align: center;
}

#li-whole-req {
	display: none!important;
	width: 10%;
	text-align: center;
}

#li-whole-req.li-req-yes-no-0 {
	display: inline-block!important;
	padding: 0.25em 0;
	text-align: center;
	vertical-align: top;
}

#lbl-req-yes {
	border-radius: 3px 0 0 3px;
}

#lbl-req-no {
	border-radius:  0 3px 3px 0 ;
}

.li-whole-req {
	background-color: #ddd;
	border: 1px solid #ccc;
	padding: 0.5em 0.75em;
	text-align: center;
	display:inline-block;
}

.req-checked {
    background-color: #444;
	border: 1px solid #444;
	color:#eee!important;
}

.noWholeReq {
	display: none;
}
/*Held order popup*/
.li-held-price-req {
    display: block;
    padding: 5px;

}
.li-held-price-req li {
    display: inline-block;
    padding: 5px 2px;
}

#li-held-price-req-head {
    border-bottom: 1px solid #ccc;
    background: #F2EDE4;
     font-weight: bold;
}
#div-heldorder-pr-details {
    width: 100px;
    display: inline-block;
}
#div-heldorder-initdt-details{
    width: 150px;
    display: inline-block;
}
#div-heldorder-initby-details {
    width: 150px;
    display: inline-block;
}
#div-req-status-details {
    width: 180px;
    display: inline-block;
}

#div-PR-detail-content {
    min-height: 50px;
    max-height: 500px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch!important;
}
#li-held-price-req-detail:nth-child(odd) {
    background-color: #fff;
}

#li-held-price-req-detail:nth-child(even) {
    background-color: #eee;
}
#div-PR-id{
    width: 100px;
    display: inline-block;
}
#div-Init-dt {
    width: 150px;
    display: inline-block;
}
#div-Init-by{
    width: 150px    ;
    display: inline-block;
}
#div-reqstatus {
    width: 180px;
    display: inline-block;
}

.li-dash-drilldown-link, .li-dash-drilldown-track-link, .li-dash-pricerequest-link  {
    color: #FFF!important;
}
/*po status css start*/
.po-uninvoiced-list-item li{font-size: 18px;}
.pendingOrderItemByStatus{margin-right: -15px;margin-left: -15px;}
.pendingOrderItemByStatus:before, .pendingOrderItemByStatus:after{display: table; content: "";}
.pendingOrderItemByStatus:after{clear: both;}
.pendingOrderItemByStatus > li{width: 33.333%; padding: 0 15px;box-sizing: border-box; margin-bottom: 10px;}
.po-item-dash-head{border-radius: 5px 5px 0 0; padding: 20px;background-color: #999;}
.po-item-dash-head span{font-size: 18px;}
.po-item-dash-body ul li{padding: 20px 0;font-size: 18px; width: 50%;}
.po-item-dash-body ul li:first-child{border-right: 1px solid #ccc;}
.po-uninvoiced-list-item{margin-bottom: 30px;}
.poreport-fsymbol{background: #fff;border: 2px solid #a2a2a2;color: #355a57;font-weight: bold;font-size: 20px;
width: 28px; height: 28px;line-height: 22px;border-radius: 50%;text-align: center;}
.po-update-btn{background: #506ec3; padding: 0 8px; color: #fff;display: inline-block;box-sizing: border-box; float: left; height: 29px; line-height: 31px;}
.po-update-edit{background: #246aa8;display: inline-block;box-sizing: border-box;height: 28px;width: 28px;border-radius: 50%;text-align: center;}
.po-update-edit i{color: #fff !important;font-size: 18px !important; position: relative; top: -4px;}
.po-report-close{font-size: 30px;color: #585555;}
#po-status-report{position: relative; height: 530px;z-index: 0;}
#po-status-report > span{position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 20px;}
#po-status-report .fa-exclamation-circle{color: #ca730c; font-size: 24px;}
.gmLinkText{color: #1573ce;}
/*.pendingOrderUpdatePop .potitle-info-pop{display: flex; align-items: center; justify-content: space-between;}*/
.orderUpdatePopDls{overflow: hidden;}
.orderUpdatePopDls .po-update-label{width: 120px; text-align: right; display: inline-block; margin-right: 10px;}
.orderUpdatePopDls .gmInputText{width: 100px;}
#po-file-upload > .dhx_widget{max-width: 80%;margin: 0 auto;}
.pendingOrderUpdatePop .dhx-dropable-area{padding: 10px;}
#po-attachments{position: relative; min-height: 100px;}
#po-attachments > span{position: absolute;top: 50%;left: 50%;transform: translateX(-50%);font-size: 20px;}
.po-report-head{overflow: hidden;}
.min-val-dhxCustom{color: #f20000;}
.alertErr {border: 1px solid #700;border-top: 0; padding: 0.5em; position: relative;background-color: #700;
    color: #fff; opacity: 0.75;
}
.poamntText{font-size: 14px;color: #c00c0c;}
.poamntText i{color: #ffab00;}
.icon-color-img{color: #3399cc !important}
.icon-color-excel{color: #4caf50 !important}
.icon-color-word{color: #1e88e5 !important}
.icon-color-pdf{color: #f44336 !important}
.icon-color-text{color: #78909c !important}
.icon-color-message{color: #78909c !important}
.po-status-dash-main > h4 {font-size: 20px;color: #036;}
.po-report-title{font-size: 20px;}
.poOrderlistPopCustom.div-crm-overlay-content-container{max-width: 800px;}
.poOrderlistPopCustom .modal-dialog{width: 98%;max-width: 965px;}
#existingPoField i{font-size: 21px;}
.POUploadedFileList .modal-header,.pendingOrderUpdatePop .modal-header{background: #e6e6e6;}
#div-po-popup-msg{border: 1px solid; border-top: 0;padding: 0.5em; position: relative;}
.poOrderlistPopCustom .po-report-close{position: absolute; right: 10px;}
.poOrderlistPopCustom .modal-header{border-bottom: 0;}
.pouploadLabel{color: #c00c0c; font-size: 14px; overflow: hidden;}
.pouploadLabel i{color: #ffab00}
.po-actnm{display: flex;}
.po-actnm span:nth-child(2){width: calc(100% - 130px);}
.po-pop-alert-close{position: absolute;top: 50%;right: 10px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);}
/*po status css End*/

/*dhtmlx suite grid css start*/
.dhx_grid.dhx_widget .dxi{width: auto; height: inherit !important;}
.dhx_grid.dhx_widget .dxi.dxi-menu-down{width: 100%;}
.dhx_grid.dhx_widget .dhx_grid-header-cell--align_right .dhx_grid-sort-icon {right: 4px; left: inherit;}
.dhx_grid.dhx_widget .dhx_grid-header-cell--align_right .dhx_grid-header-cell-text {padding-left: 0;}
.dhx_grid.dhx_widget .dhx_grid-content, .dhx_grid.dhx_widget .dhx_grid-body{width: 100% !important}
.dhx_grid.dhx_widget .dhx_grid-header-cell{text-align: center;}
.dhx_grid.dhx_widget .dhx_grid-header-cell--sortable:hover:after,.dhx_grid.dhx_widget  .dhx_grid-header-cell--sorted:after{opacity: 0;}
.dhx_grid.dhx_widget .dhx_grid-body{-webkit-overflow-scrolling: touch;}

#po-file-upload .drop-area-bold-text, 
#po-file-upload .drop-area-light-text{
    display: none;
}
/*PC-4864 Add Online PDF option on Pending PO Screen in Globus App*/
.po-online-pdf{background: #fff8dc; border: 1px solid #5f5f60;padding: 1px 8px; color: #5f5f60;width: 76px;display: inline-block;margin-top: 2px;}
#po-status-report .onlinepdf-cell {
    line-height: 16px !important;
    white-space: normal;
    text-align: center;
}
/*dhtmlx suite grid css End*/

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-request {
		height: 800px;
	}

	#div-req-extn {
		height: 600px;
	}

	#txtarea-req-comments {
		height: 150px;
	}

	.btn-req-big, .btn-req-pa {
		float: left;
		height: 80px;
		width: 40px;
		margin-top: 3px;
	}

	.btn-req-big {
		height: 80px;
		width: 35px;
		margin-top: 8px;
	}

	.btn-request {
		margin: 35px 0 0 5px;
	}
	
	.ui-datepicker td span, .ui-datepicker td a {
		padding:0.5em!important;
	}
	
	#ui-datepicker-div {
		left: 15px!important;
		top: 130px!important;
		width: 500px;
		height: 300px;
	}
	
	#div-saleitemlist {
		max-height: 225px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
    .pendingOrderItemByStatus > li{width: 50%;}
	
}

@media screen and (min-width: 1024px) {

	.ui-datepicker td span, .ui-datepicker td a {
		padding:0.5em!important;
	}
	
	.li-dash-drilldown-link, .li-dash-drilldown-track-link, .li-dash-pricerequest-link  {
		color: #FFF!important;
	}
	
}

@media screen and (min-width: 320px) and (max-width: 479px) {

	#btn-dash-filter {
		position: fixed;
		bottom: 0;
		z-index: 1;
		left: 85px;
		color: white;
		display: inline-block !important;
	}
	
    #div-dash-drilldown-sortby {
        display: block !important;
    }
	.div-dash-label {
		text-transform: uppercase;
		display: block;
		position: relative;
		top: 12px;
		padding: 0em 0.9em 0 0;
	}
	
	#btn-dash-filter i {
		position: relative;
		top: -22px;
		left: 20px;
	}

	.div-drilldown {
		width: 99%;
	}
	
	.div-drilldown-header {
		width: 96.8%;
	}
	
	.fa-5x {
		font-size: 3em;
	}
	
	.font-home {
		padding: 0.2em 0 0 0.55em!important;
	}
	
	.fa-phone-arrow {
		display: inline-block!important;
	}
	#div-saleitemlist
	{
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%; 
	}

	#btn-dash-filter-iphone {
		display: inline-block;
	}
	
	.ui-datepicker td span, .ui-datepicker td a {
		padding:0.4em!important;
	}
	
	#ui-datepicker-div {
		left: 6px!important;
		top: 110px!important;
		width: 300px;
		height: 280px;
	}
	
	#btn-dash-filter-iphone.bg-red {
		background-color: #900;
	}
    .pendingOrderItemByStatus > li{width: 100%;padding: 0;}
    .pendingOrderItemByStatus{margin: 0;}
    .po-item-dash-body ul{flex-wrap: nowrap}
    .po-uninvoiced-list-item li{font-size: 18px;}
    .po-uninvoiced-list-item li:first-child{margin-bottom: 10px;}
    .po-status-dash-main > h4{font-size: 23px;}
    .po-uninvoiced-list-item{margin-bottom: 10px;}
    #po-status-report{height: 480px;}
    .pendingOrderItemByStatus {min-height: 20vh;max-height: 58vh;overflow-x: hidden;overflow-y: scroll;-webkit-overflow-scrolling: touch;}
    .poOrderlistPopCustom .modal-body{height: 300px;margin: 0 !important;}
    #po-file-upload .dhx_btn--small {padding: 2px 5px !important;font-size: 14px;}
}

@media screen and (min-width: 320px) and (max-width: 410px) {
    #po-file-upload .dhx-dropable-area .dhx-big-icon-block{height: 25px;}
    #po-file-upload .dhx-dropable-area .dhx-big-icon-block .dxi:before{font-size: 20px;}
    .pendingOrderUpdatePop .dhx-dropable-area{padding: 5px;}
    #po-file-upload .dhx-dropable-area .drop-area-bold-text{font-size: 13px; line-height: 16px;}
}



/* GmDashDrillDown */

#div-dash-drilldown-main{
	display:none;
}

#div-dash-drilldown-options {
	background-color: #444;
	border-radius: 6px;
	color: #fff;
	height: 48px;
	width: 99.75%;
}

#div-dash-drilldown-options>div {
	display: inline-block;
}

.txt-dash-drilldown-search {
	width: 45%;
	height: 55%;
	display: inline-block;
	font-size: 0.90em;
	margin: 6px 0 0 5px;
	vertical-align: top;
}

#li-dash-drilldown-search-count-phone {
    position: relative;
    right: 0;
    top: -25px;
    float: right;
    color: #999;
}

.div-dash-drilldown-search {
	height: 100%;
	width: 70%;
}

#li-dash-drilldown-search-count {
	margin-right: 50px;
}

#div-dash-drilldown-search-phone {
	display: none!important;
}

#ul-dash-drilldown-search-info li {
	display: inline-block;
}

#div-dash-drilldown-sortby-content {
	border: 1px solid #999;
	border-radius: 3px;
	/*text-transform: uppercase;*/
	width: 265px;
	float: right;
	margin: 5px;
	box-shadow: 0 0 5px #999
}

#div-dash-drilldown-sortby-header {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 10px;
}

#div-dash-drilldown-sortby  .div-dropdown-text{
	color: #000;
	border-radius: 0 3px 3px 0;
	display: inline-block;
	margin-left: -1px;
    margin-top: 1px;
	padding: 10px 0;
	background-color: #ccc;
	width: 180px;
	text-align: center;
}


 #div-dash-drilldown-sortby .div-dropdown-list {
	position: absolute;
	color: #000;
	z-index: 1;
	width: 180px;
	text-align: center;
	background-color: #ddd;
	max-height: 270px;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

#div-dash-drilldown-sortby  .div-dropdown-list ul li {
	width: 98.5%;
	height: 20px;
	padding: 10px 0px;
	border: 1px solid #999;
}


#div-dash-drilldown-sortby {
	display: inline-block;
}

#div-dash-drilldown-content #div-saleitemlist {
	max-height: 535px;
	margin-top: 5px;
}

.div-returns .div-drilldown-header span {
	display: inline-block;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	.div-dash-drilldown-search {
		width: 60%!important;
	}

	.txt-dash-drilldown-search {
		width: 40%!important;
		margin-bottom: 4px;
	}

	#ul-dash-drilldown-search-info {
		display: inline-block;
		margin-left: 15px;
		margin-top: 16px;
	}

	#ul-dash-drilldown-search-info {
		display: inline-block;
		margin-left: 0;
		margin-top: 8px;
		max-width: 170px;
	}

	#li-dash-drilldown-search-count {
		margin-right: 10px!important;
	}

	#div-dash-drilldown-content #div-saleitemlist {
		max-height: 700px!important;
		margin-top: 10px;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {

	#div-dash-drilldown-options {
		background-color: #fff;
	}

	.div-dash-drilldown-search {
		width: 96%;
		margin-left: 2px;
	}

	#div-dash-drilldown-search-ipad, .btn-sd-links-nav {
		display: none!important;
	}
	
	#div-dash-drilldown-search-phone {
		display: inline-block!important;
		height: 50px!important;
	}

	.txt-dash-drilldown-search {
		width: 98%;
		margin-left: 0px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-shadow: 0px 0px 4px #030303;
		height: 1em;
		font-size: 1em;
		padding: 3% 2.5%;
		-webkit-appearance: none;
	}

	#ul-dash-drilldown-search-info {
		display:none!important;
	}
	
	#div-dash-drilldown-sortby-content {
		width: 99%;
        margin: 5px 0;
/*		margin-left: 2px!important;*/
		float: none;
		display: block;
/*		margin-top: 2px;*/
	}

	#div-dash-drilldown-sortby-header {
		display: none!important;
	}
	
	#div-dash-drilldown-sortby .div-dropdown-list {
		width: 96% !important;
	}

	#div-dash-drilldown-sortby .div-dropdown-main {
		width: 100% !important;
	}

	#div-dash-drilldown-sortby .div-dropdown-text {
        padding: 3% 0% !important;
        width: 100%;
        margin-left: 0px;
	}

	#div-dash-drilldown-content-main {
		height: 70vh;
		display: inline-block;
		overflow-x: hidden;
		overflow-y: scroll;
		margin-top: 3px;
		width: 100%;
		-webkit-overflow-scrolling: touch;
	}
	
    
    .btn-request {
        margin: 0;
        padding: 10px 10px 10px 15px;
    }
	
}

@media screen and (min-width: 1024px) {
	#ul-dash-drilldown-search-info {
		display: inline-block;
		margin-left: 20px;
		padding-top: 16px;
	}
}

/* GmDashDrillDownList */

.div-drilldown {
	border: 1px solid #999;
	border-radius: 6px;
	margin: 0 0 5px 0;
	width: 99.5%;
}

.div-drilldown-header {
	width: 99%;
	min-height: 80px;
	height: auto;
	background-color: #999;
	border-radius: 3px;
	padding: 5px;
}

.div-drilldown-header-data {
	width: 88%;
	height: 100%;
	display: inline-block;
}

.div-drilldown  .div-drilldown-header .arrow-down {
	border-top: 20px solid #000 !important;
}

.div-drilldown  .div-drilldown-header .arrow-right {
	border-left: 20px solid #000 !important;
}

.div-drilldown-header-arrow {
	float: right;
	margin: 3px 0 0 0;
	text-align: center;
	width: 5%;
}

.ul-drilldown-details li, .ul-drilldown-list li {
	width: 400px;
	min-height: 20px;
	margin: 5px;
	display: inline-block;
}

.li-drilldown-detail div {
	display: inline-block;
	vertical-align: top;
}

.li-drilldown-detail-phone {
	display: none!important;
}

.div-dash-drilldown-header-label {
	color: #fff;
	width: 125px;
	margin-right: 3px;
	text-align: right;
}

.drilldown-right-arrow {
	color: #444;
}

.div-drilldown-list ul {
	width:88%;
}

.div-drilldown-arrow {
	position: relative;
	float: right;
	margin: 25px 25px 25px 0px;
	display: inline-block;
}

.div-drilldown-list {
	background-color: #eee;
	display: none;
	padding: 5px;
}

.div-dash-drilldown-list-label {
	color: #444;
	width: 125px;
	margin-right: 3px;
	text-align: right;
}

.div-dash-drilldown-header-value {
	color: #000;
	margin-left: 3px;
	width: 260px;
}

.div-dash-drilldown-list-value {
	color: #000;
	margin-left: 3px;
	width: 260px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	.div-drilldown-header {
		width: 98.6%!important;
	}

	.div-drilldown-header-data {
		width: 89%;
	}

	.div-drilldown-header-arrow {
		margin-top: 10px;
		width: 6%;
	}

	.ul-drilldown-details li, .ul-drilldown-list li {
		width: 290px
	}

	.div-dash-drilldown-header-label,  .div-dash-drilldown-list-label{
		width: 105px!important;
	}

	.div-dash-drilldown-header-value, .div-dash-drilldown-list-value {
		max-width: 170px!important;
	}

	.drilldown-right-arrow {
		font-size: 4.5em;
	}

	.div-drilldown-list ul {
		width: 96%;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {



	.div-drilldown {
		border-radius: 6px;
		margin: 0 0 5px 0;
		width: 99%;
	}

	.div-drilldown-header {
		width: 100%;
		min-height: 80px;
		height: auto;
		background-color: #999;
		padding: 0;
	}
    
    #loaner-extn-reqid {
        width: 11% !important;
    }
    #li-req-id {
        width: 11% !important;
        padding: 0 0 0 10px;
        box-sizing: border-box;
    }
    
    .btn-req-big, .btn-req-pa {
        position: relative;
        height: 0px;
        float: right;
    }
    #div-req-header li {
        text-align: left;
    }
    #div-req-header #loaner-extn-reqid .loaner-extn-surgerydate{
        width: 18%;
         display: inline-block;
    }
    
    .loaner-extnddate{
        width: 7% !important;
        margin-left: 37px;
        margin-right: 10px;
        display: inline-block;
    }
    #div-req-data li {
        text-align: left;
    }
    #btn-extend-req {
        position: absolute;
        right: 0;
        top: 48px;
    }
    #div-request {
        top: 130px;
        height: 71vh;
        z-index: 0;
    }
    #div-req-header, #div-req-data {
        width: 725px;
    }
    #div-req-extn {
        margin-top: 2%;
        height: 45vh;
    }
    #li-new-ret-dt, #li-new-ret-dt-format {
        padding: 0 0 0 15px;
    }
    
	.div-drilldown-header-data {
		width: 88%;
		height: 100%;
		display: inline-block;
	}

	.ul-drilldown-details li, .ul-drilldown-list li {
		width: 280px;
		height: auto;
		min-height: 20px;
		margin: 2px;
		display: inline-block;
	}

	.li-drilldown-detail-ipad {
		display: none!important;
	}
	
	.li-drilldown-detail-phone {
		display: inline-block!important;
	}

	.div-dash-drilldown-header-label {
		width: 110px;
		margin-right: 1px;
	}
	
	.div-dash-drilldown-header-value {
		margin-left: 3px;
		width: 140px;
	}
	
	.div-drilldown-header-arrow {
		display: inline-block;
		float: none; 
		width: 10%;
		margin-top: -50px;
		position: relative;
		vertical-align: middle;
	}

	.div-drilldown-list ul {
		width: 100%;
	}

    #div-common-setlist-main {
        top: 45px;
        height: 90%;
    }
    #div-dash-saletoday-drilldown-main {
        top: 45px !important;
    }
    #div-dash-saletoday-drilldown-list-main {
        width: 100%;
        height: 70vh;
        overflow: auto;
    }
    #div-dash-saletoday-drilldown-list-header, #div-dash-saletoday-drilldown-list-content {
        width: 1024px !important;
    }
    #div-common-setlist-tagid, #div-common-setlist-details {
        margin: 5px 1%;
    }
    #div-common-setlist-details-set, #div-common-setlist-details-settype {
        margin: 2px 0;
    }
    #txt-itemlist-search {
        width: 96%;
        padding: 1px 1%;
    }
    #div-common-setlist-details-set #span-common-setlist-details-setname {
        margin-left: 50px;
    }
    #div-common-setlist-header div, #txt-common-setlist-tagid {
        width: 45%;
    }
    #span-common-setlist-load {
        width: 10%;
    }
    #div-common-setlist-content #div-column li, #div-common-setlist-content #div-itemlist .li-item-id {
        width: 20%;
    }
    #div-common-setlist-content #div-column #Description {
        width: 55%;
    }
    #div-common-setlist-content #div-itemlist .li-item-name {
        width: 65%;
    }
    #div-common-setlist-content #div-itemlist .li-item-qty {
        width: 8%;
    }
	.div-dash-drilldown-list-label {
		width: 110px;
		margin-right: 1px;
	}
    #div-common-setlist-content #div-column {
        margin: 10px 1% 0 1%;
    }
    #div-common-setlist-content #div-itemlist {
        height: 40vh;
    }
    #div-common-setlist-buttons {
        margin: 3px 0;
    }
	.div-dash-drilldown-list-value {
		margin-left: 3px;
		width: 160px;
	}
    #btn-req-submit, #btn-req-cancel {
        width: 48%;
        padding: 2.5% 0%;
        margin: 1% 1%;
    }
    .orderUpdatePopDls .gmWidth50{width: 100%;}
    .poamntText {padding-right: 0;text-align: center !important; margin-top: 0;}
    #po-file-upload > .dhx_widget{max-width: 100%;}
    #po-file-upload .vault-topbar{height: 30px;}
    .orderUpdatePopDls {margin-bottom: 5px !important;font-size: 15px;}
    .orderUpdatePopDls li span:nth-child(2){width: calc(100% - 130px);}
}



/* GmDashMain */

#div-dash-view {
	width: 96%;
	margin: 10px 2% 0 2%;
}

#div-dash-breadcrumb {
	display: none;
	width: 100%;
	height: 20px;
	padding: 5px 0;
	text-transform: uppercase;
}

#div-dash-title-main {
	width: 70%;
	height: 30px;
	clear: left;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
}

#div-dash-subtitle {
	font-size: 20px;
}

#div-dash-title-main div {
	display: inline;
}

#div-dash-title {
	color: #036;
	text-transform: uppercase;
}

#div-dash-filter {
	width: 135px;
	background-color: #036;
	border-radius: 3px;
	color: #fff;
	padding: 0.7em;
	text-transform: uppercase;
	float: right;
	margin: 0 8px 0 0;
	text-align: center;
	display: inline-block;
}

#div-dash-filter.bg-red {
	background-color: #900;
}

#div-dash-filter {
	text-transform:capitalize;
}

#div-dash-main-content {
	width: 100%;
	margin-top: 10px;
}

.div-dash-detail-navigation .btn-detail{
	width:16.65% !important;
    	padding: 8px 0 0 0;
}

.div-dash-detail-navigation i {
	margin: -1px 8px 0 10px;
}

#div-dash-nointernet-connection {
	height: 300px;
	display: none;
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
	line-height: 1.5;
	font-size: larger;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-main-content {
		height: 820px;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    
    ##div-dash-view {
        height: 80vh;
    }
	
	#div-dash-view #div-detail-menu {
	  	padding: 5px 5px 6px!important;
	}
	  
	#div-dash-view #div-detail-menu i {
		padding: 0px 0 6px 4px!important;
	}

    .btn-detail span {
        font-size: 9px;
        display: block;
        padding: 5px 0;
    }  
    
	#div-dash-breadcrumb {
		display: none;
		padding: 2px 0px!important;
	}

	#div-dash-title-main {
		width: 100%!important;
		max-height: 25px!important;
		font-size: 18px!important;	
		display: inline-block!important;
		margin-bottom: 5px;
	}

	#div-dash-title i{
		margin: 0 5px;
	}

	#div-dash-title span {
		padding: 3px 3px;
		text-align: left;
		display: inline-block;
		margin-bottom: 5px;
	}

	#div-dash-subtitle {
		display: inline;
		color: #444;
	}

	#div-dash-filter {
		margin: -50px 7px 10px 0;
		text-transform: none;
	}

	#div-dash-filter {
		display: none!important;
	}

	#div-dash-main-content {
		width: 100%;
/*		height: 400px!important;*/
		margin-top: 0px;	
	}
}




/* GmDashMoreFilter */

#drp-dashboard-morefilter-company .div-dropdown-main .div-arrow-dropdown, 
#div-dash-drilldown-sortby .div-dropdown-main .div-arrow-dropdown {
 position: absolute;
 padding-left: 10px;
 margin-top: 4px;    

}

#div-dash-morefilter-main {
	border-radius: 3px;
	height: 100%;
	width: 99.5%;
	display: none;
}

#div-dash-morefilter-header {
	width: 100%;
	height: 40px;
}

.div-dash-morefilter-header {
	display: inline-block;
}

#div-dash-morefilter-header-btns {
	float: right;
	margin: -38px 2px 0 0;
}

#div-dash-morefilter-content {
	height: 550px;
}

.div-dash-morefilter-content {
	display: inline-table;
	background-color: #ccc;
	margin-bottom: 5px;
	width: 480px;
	height: 260px;
	border: 1px solid #999;
	border-radius: 3px;
}

 .div-dash-morefilter-content-header {
	height: 20px;
	/*text-transform: uppercase;*/
	color: white;
	font-weight: bold;
	text-align: left;
	padding: 10px;
}

#btn-dashboard-morefilter-reset, #btn-dashboard-morefilter-save {
	width: 80px;
	padding: 0.6em;
	background-color: #036;
	border-radius: 3px;
	color: #fff;
	text-transform: uppercase;
	display: inline-block;
	text-align: center;
}


#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist li {
	display: block;
	height: 20px;
	text-align: left;
	padding: 10px 0px 5px 10px;
	background-color: #999;
	color: #fff!important;
	border-bottom: 1px solid #fff;
}

#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist li  a {
	color: #fff;
}

#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist {
	max-height: 215px!important;
}

#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist li.selected {
	background-color: black;
	color: white;
}

#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist i, #div-dash-morefilter-main #div-dash-morefilter-content-phone #div-saleitemlist i {
	float: right;
	margin-right: 10px;
	display: none;
}

#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist li.selected i {
	display: block;
}

.div-dash-morefilter-division, .div-dash-morefilter-region {
	margin: 10px 8px 0 0;
}

.div-dash-morefilter-zone, .div-dash-morefilter-fieldsales {
	margin: 10px 0 0 0;
}

.div-dash-morefilter-division-header {
	background-color: #036;
}

.div-dash-morefilter-zone-header {
	background-color: #800;
}

.div-dash-morefilter-region-header {
	background-color: #960;
}

.div-dash-morefilter-fieldsales-header {
	background-color: #003300;
}

#btn-dash-filter {
	display: none!important;
}

#div-dash-morefilter-companycontent {
	display: inline-block;
	background-color: black;
	color: white;
	padding: 9px;
	margin-right: -5px;
}

#drp-dashboard-morefilter-company .arrow-right, #div-dash-drilldown-sortby-content  .arrow-right {
	margin: 3px 0 0 5px!important;

}

#drp-dashboard-morefilter-company .div-dropdown-text {
	padding: 10px!important;
	margin-left: 20px;
}

#drp-dashboard-morefilter-company .div-dropdown-main {
	background-color: #ddd;
	width: 200px;
	height: 39px;
	display: inline-block;
	text-align: center;
}

#drp-dashboard-morefilter-company  .div-dropdown-list {
	position: absolute;
	z-index: 1;
	width: 200px;
	text-align: center;
	background-color: #ddd;
}

#drp-dashboard-morefilter-company  .div-dropdown-list ul li {
	width: 99%;
	height: 20px;
	padding: 10px 0px;
	border: 1px solid #999;
}

#div-dash-morefilter-content-phone {
	display: none;
}

.div-dash-morefilter-search {
	float: right;
	width: 60%;
	height: 145%;
	text-transform: none;
	font-weight: normal;
	margin-top: -5px;
	background: #fff;
	margin-right: -5px;
	border-radius: 1px;
}

.txt-dash-morefilter-search {
	width: 80%;
	height: 70%;
	display: inline-block;
	font-size: 0.90em;
	border: none;
}

.div-dash-morefilter-search-x {
	background-color: #999;
	border-radius: 50%;
	color: white;
	display: none;
	font-family: "Arial";
	padding: 0.05em 0.1em 0.2em 0.1em;
	text-align: center;
	width: 18px;
}

@media screen and (min-width: 1024px) {

	.div-dash-morefilter-search {
		display: inline;
	}

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	.div-dash-morefilter-search {
		display: inline;
	}

	#div-dash-morefilter-main #div-dash-morefilter-content #div-saleitemlist {
		max-height: 345px!important;
	}

	#div-dash-morefilter-header-btns {
		margin-right: 3px;
	}

	#div-dash-morefilter-content {
		width: 100%;
		height: 450px;
		margin-right: 0;
		margin-left: 0;
	}

	.div-dash-morefilter-content {
		width: 357px;
		height: 390px;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {

	#div-dash-morefilter-main #div-dash-morefilter-content-phone #div-saleitemlist {
		height: 170px!important;
		overflow-y: auto!important;
	}
	
	#div-dash-morefilter-main #div-dash-morefilter-content-phone #div-saleitemlist li {
		display: block;
		max-height: 40px;
		min-height: 20px;
		text-align: left;
		padding: 10px 0px 5px 10px;
		background-color: #999;
		color: #fff!important;
		border-bottom: 1px solid #fff;
	}
	
	#div-dash-morefilter-main #div-dash-morefilter-content-phone #div-saleitemlist li.selected {
		background-color: black;
		color: white;
	}

	#div-dash-morefilter-header {
		width: 100%!important;
		height: 40px;
		padding: 0px!important;
		margin: 0px!important;
	}
	
	.div-dash-morefilter-header {
		margin-top: 0px;
		text-align: center;
        width: 100%;
	}

	#div-dash-morefilter-companycontent {
		display: none;
	}

	#drp-dashboard-morefilter-company  .div-dropdown-list {
		width: 96%;
	}
	
	#drp-dashboard-morefilter-company .div-dropdown-main {
		width: 100%;
	}

	#div-dash-morefilter-header-btns {
        margin-right: 0!important;
        /* margin: 1%; */
        width: 100%;
        position: absolute;
        bottom: 10vh;
        left: 0px;
        text-align: center;
	}
    #btn-dashboard-morefilter-reset, #btn-dashboard-morefilter-save {
        width: 48%;
        padding: 3% 0;
    }
    
	#div-dash-morefilter-content-phone {
		width: 100% !important;
		margin-right: 0!important;
		margin-left: 0!important;
		margin-top: 0px;
		display: inline-block;
	}
	
	#div-dash-morefilter-content {
		display: none!important;
	}
	
	.div-dash-morefilter-content {
        margin: 1% 0!important;
        width: 99%!important;
        height: 40px!important;
	}

	.div-dash-morefilter-content-expand .div-dash-filter-content, .div-dash-morefilter-content-expand .div-dash-morefilter-search   {
		display: inline-block;
		width: 100%;
	}
	
	.div-dash-morefilter-content-expand {
		height: 200px!important;
	}

	#div-dash-morefilter-content-phone .div-dash-morefilter-search {
		float: none;
		width: 99%;
		border: 1px solid #ccc;
		box-shadow: 0px 0px 4px #030303;
		margin: 3px 0px;
	}
	
	#div-dash-morefilter-content-phone .div-dash-morefilter-content-header div {
		display: inline-block;
		width: 90%;
	}
	
	#div-dash-morefilter-content-phone .div-dash-morefilter-content-header i {
		float: right;
		margin-right: 4px;
	}

	.div-dash-filter-content, .div-dash-morefilter-search {
		display: none;
	}

	.txt-dash-morefilter-search {
		margin-bottom: 2px;
		height: 1em;
		font-size: 1em;
		padding: 0.6em 0.6em 0.6em 0.6em;
	}
	
	
	#div-dash-morefilter-main #div-dash-morefilter-content-phone  #div-saleitemlist li.selected i {
		display: block;
	}
	
}

/* GmDashOverview */

#div-dash-loaners, #div-dash-orders, #div-dash-returns, #div-dash-case {
	height: 285px;
	margin: 0 2px 10px 2px;
}

#div-dash-consigned-sets, #div-dash-consigned-items, #div-dash-quota {
	height: 290px;
	margin: 0 2px 10px 2px;
}

.div-dash-widget {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-table;
	width: 235px;
}

.div-dash-widget-header {
	height: 30px;
	width: 100%;
	background-color: #999;
	color: white;
}

.div-dash-widget-header div, .div-dash-widget-header i {
	display: inline-block;
	text-align: left;
}

.div-dash-widget-header div {
	width: 82%;
	margin: 7px 2px 0 8px;
	font-weight: bold;
}

.div-dash-widget-header i {
	margin: 7px 2px 0 0;
}

.div-dash-widget .fa-arrows-v {
	margin: 7px 0 0 -30px;
	position: absolute;
}

.div-dash-widget-details-status {
	float: left;
	margin-left: 10px;
}

.div-dash-widget-details-count {
	float: right;
	margin-right: 10px;
}

#div-dash-quota, #div-dash-quota .div-dash-widget-header, #div-dash-quota .div-dash-widget-details, #div-dash-quota #div-saleitemlist ul{
	width: 482px !important;
}

#div-dash-quota .div-dash-widget-details-status , #div-dash-quota .div-dash-widget-details-mtd, #div-dash-quota .div-dash-widget-details-ytd ,#div-dash-quota .li-overview-widget-details-type , #div-dash-quota .li-overview-widget-details-mtd, #div-dash-quota .li-overview-widget-details-ytd {
	width: 31%;
	display: inline-block;
}

#div-dash-quota .div-dash-widget-details-status, #div-dash-quota .li-overview-widget-details-type {
	text-align: left;
}

#div-dash-quota .div-dash-widget-details-ytd, #div-dash-quota .li-overview-widget-details-ytd, #div-dash-quota .li-overview-widget-details-mtd, #div-dash-quota .li-overview-widget-details-mtd {
	text-align: right;
	margin-right: 3px;
}

.div-dash-widget-details-mtd {
	text-align: right;
}

#div-dash-return-overview .li-overview-widget-details-type {
	width: 70%;
}

#div-dash-return-overview ul {
	height: 40px!important;
}

.div-dash-type-header div{
	display: inline-block;
	margin-top: 3px;
	font-size: 0.8em;
}

.div-dash-type-header {
	color: black;
	background-color: #ccc;
	width: 100%;
	height: 20px;
}

#div-dash-quota .div-dash-widget-header div {
	width: 90%!important;
}

@media screen and (min-width: 1024px) {
	#div-dash-consigned-sets .fa-arrows-v {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-quota .div-dash-widget-details-status , #div-dash-quota .div-dash-widget-details-mtd, #div-dash-quota .div-dash-widget-details-ytd ,#div-dash-quota .li-overview-widget-details-type , #div-dash-quota .li-overview-widget-details-mtd, #div-dash-quota .li-overview-widget-details-ytd {
		width: 32.3%;
		display: inline-block;
	}
	
	#div-dash-quota, #div-dash-quota .div-dash-widget-header, #div-dash-quota .div-dash-widget-details, #div-dash-quota #div-saleitemlist ul{
		width: 728px!important;
	}
	
	#div-dash-quota .div-dash-widget-header div {
		width: 94.3%!important;
	}

	#div-dash-case, #div-dash-consigned-sets, #div-dash-consigned-items {
		height: 225px;
	}

	#div-dash-quota {
		height: 300px;
	}	

	#div-dash-quota #div-saleitemlist {
		max-height: 300px;
	}

	#div-dash-consigned-sets #div-saleitemlist {
		max-height: 175px;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#div-dash-overview-main {
        min-height: 20vh;
        max-height: 70vh;
		overflow-x: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}

	#div-dash-overview-main .div-dash-page-loader {
		display: none;
		margin-bottom: 60px;
	}

	#div-dash-loaners, #div-dash-orders, #div-dash-returns, #div-dash-case {
		height: auto;
	}

	#div-dash-consigned-sets, #div-dash-consigned-items, #div-dash-quota {
		height: auto;
	}

	.div-dash-widget {
		width: 97.5%;
	}

	#div-saleitemlist {
		overflow-y: hidden;	
		max-height: 100%!important;
		height: 100%;
	}

	.fa-arrows-v {
		visibility: hidden;
	}
	
	.fa-arrow {
		margin: 10px 10px 0 0!important;
		float: right;
		display: inline-block!important;
	}
	
	.fa-refresh {
		display: none!important;
	}
	
	.div-dash-type-header, .div-dash-widget-details {
		display: none !important;
	}
	
    #li-dash-saletoday-amount, #li-dash-saletoday-percent , .div-dash-widget-quota-mobile {
		display: inline-block !important;
	}
    
    #li-dash-saletoday-name {
        width: 42%;
    }
    #li-dash-saletoday-percent {
        width: 32%;
    }
    #li-dash-saletoday-amount {
        width: 23%;
    }
    
	.div-dash-widget-mobile .div-dash-type-header, .div-dash-widget-mobile .div-dash-widget-details, #div-saleitemlist li {
		display: block !important;
	} 
    
    
    #div-dash-saletoday-drilldown-header div {
        width: 45% !important;
    }
	
	
	.div-dash-widget-quota-ipad {
		display: none!important;
	}
	
	#div-dash-quota-mtd .li-overview-widget-details-ytd, #div-dash-quota-ytd .li-overview-widget-details-mtd {
		display: none!important;
	} 
	
	#div-dash-quota-ytd .div-dash-widget-details-ytd, #div-dash-quota-ytd  .li-overview-widget-details-ytd, #div-dash-quota-mtd .div-dash-widget-details-mtd, #div-dash-quota-mtd  .li-overview-widget-details-mtd {
		float: right!important;
	}
	
	.div-dash-widget-quota-mobile .div-dash-widget-details-status, .div-dash-widget-quota-mobile .div-dash-widget-details-mtd, .div-dash-widget-quota-mobile .div-dash-widget-details-ytd, .div-dash-widget-quota-mobile .li-overview-widget-details-type, .div-dash-widget-quota-mobile .li-overview-widget-details-mtd, .div-dash-widget-quota-mobile .li-overview-widget-details-ytd {
		display: inline-block!important;
	}
	
	.div-dash-widget-quota-mobile {
		margin: 0 2px 10px 2px;
	}

	.div-dash-widget-header {
		height: 46px!important;
	}
	
	.div-dash-widget-header div {
		margin: 13px 2px 0 13px;
	}	
}



/* GmMTDDrillDown */

#div-dash-mtddrilldown-main {
	margin-top: 10px;
	display: none;
}

#div-dash-mtddrilldown-main>div {
	display: inline-block;
	vertical-align: top;
}

#div-dash-mtddrilldown-tab-header {
	width: 100%;
}

#div-dash-mtddrilldown-tab-header .selected-tab {
	background-color: #036;
	color: #fff;
}

.div-dash-mtddrilldown-tab {
	display: inline-block;
	height: auto;
	min-width: 80px;
	background: #ccc;
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
}

.div-dash-mtddrilldown-tab i {
	float: left;
}

#div-dash-mtddrilldown-date {
	display: none;
	float: right;
}

#div-dash-mtddrilldown-tab-content {
	width: 97%;
	border-radius: 0px 3px 3px 3px;
}

#div-dash-mtddrilldown-chart, #div-dash-mtdsales-chart-legend {
	float: left;
	display: inline-block;
}

#div-dash-mtddrilldown-chart {
	clear: left;
	display: none;
	text-align: center;
	width: 80%;
}

#div-dash-mtdsales-chart-legend  #div-saleitemlist {
	max-height: 520px;
}

#div-dash-mtddrilldown-table {
	width: 100%;
	min-height: 300px;
	max-height: 600px;
}

.div-dash-mtddrilldown-header {
	background: #036;
	border-radius: 0 3px 0 0;
	color: #fff;
	height: 40px;
}

.div-dash-mtddrilldown-header>div {
	display: inline-block;
	padding: 10px;
}

.div-dash-mtddrilldown-name {
	padding: 10px;
}

#div-dash-mtddrilldown-list #div-saleitemlist {
	max-height: 480px;
}

#div-dash-mtddrilldown-list #div-saleitemlist>li {
	width: 100%;
	min-height: 40px;
}

.div-dash-mtd-nodata {
	text-align:center;
	position: relative;
	top: 45%;
	display:none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-mtddrilldown-chart {
		display: none;
		text-align: center!important;
		width: 100%;
	}

	#div-dash-mtdsales-chart-legend {
		max-height: 360px;
		padding-left: 2em;
		margin: auto;
	}

	#div-dash-mtddrilldown-data {
		width: 100%!important;
	}

	#div-dash-mtddrilldown-table {
		max-height: 780px!important;

	}

	#div-dash-mtddrilldown-table #div-saleitemlist {
		max-height: 750px!important;
	}
	
	.ul-dash-salemtd li {
		width: 32%!important;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#div-dash-mtddrilldown-tab-content {
		height: 340px!important
	}

    #div-dash-mtddrilldown-chart {
        padding: 0;
        width: auto;
    }

    #div-dash-mtdsales-chart-legend #div-saleitemlist {
        max-height: 134px!important;
		margin: 0px 0px 0px 2px; 
		overflow-y: scroll; 
        -webkit-overflow-scrolling: touch;
    }
    
	#div-dash-mtdsales-chart-legend {
		display: none;
        width: 100%;
	}

	#div-dash-mtddrilldown-data {
        width: 100%!important;
        margin-left: -1px!important;
    	margin-top: 0px;
	}
    
    #div-dash-mtddrilldown-table {
		overflow-x: hidden;
		overflow-y: scroll;
		height: auto;
		max-height: 400px;
		-webkit-overflow-scrolling: touch;
	}
    
    .div-dash-mtddrilldown-header>div {
        margin-left: 0px;
    }
    .div-dash-mtddrilldown-account {
        margin-left: 0px;
        width: 30%;
        padding: 5px 0 !important;
    }
    .div-dash-mtddrilldown-name {
        margin-left: 0px;
        width: 35%;
        padding: 5px 0 !important;
    }

    #div-dash-mtdsales-table {
		margin: 0px 0px 0px 0px!important;
		width: 99%!important;
    }

	#div-dash-mtdsales-list  #div-saleitemlist {
		max-height: 300px!important;
		overflow-y: scroll;
	}
         
	.div-dash-mtdsales-footer-value {
		margin-left: 0px;
		width: 45.4%!important;
	}

	.div-dash-mtdsales-footer-label {
		padding: 12px;
		margin-right: 0px!important;
		width: 44%!important;
	}
	
	.div-dash-mtdsales-date {
        width: 36% !important;
        padding: 0% 0% 0% 1% !important;
	}
	
	.div-dash-mtdsales-day {
        padding: 0% !important;
        width: 32% !important;
	}
	
	.div-dash-mtdsales-amount {
        width: 30% !important;
        text-align: right!important;
        padding: 0 !important;
	}
	
	#ul-dash-salemtd li {
        width: 32%!important;
        padding: 2% 0% !important;
        display: inline-block !important;
	}
	
	.li-dash-mtdsales-amount {
		font-weight: bold;
	}
	
	#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-label {
		width: 44%!important;
        display: inline-block  !important;
	}
	
	#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-value {
		width: 45.6%!important;
        display: inline-block  !important;
	}

	.div-dash-mtdsales-header {
        padding: 4% 0%;
	}
	
	#div-dash-salemtd-main {
		margin: 20px 0 0 0;
	}
	
	#div-dash-mtddrilldown-main {
		margin-top: 20px;
	}
	
	.li-dash-mtddrilldown-list-header {
		min-height: 40px!important;
		max-height: 80px!important;
		background-color: #999!important;
		color: #fff!important;
	}
}

@media screen and (min-width: 1024px) {

	#div-dash-mtdsales-chart-legend {
		height: 485px;
		padding: 1px 1px 1px 5px;
		width: 19.2%;
		position: relative;
		right: 5px;
		display: none;
		float: right;
	}

	#div-dash-mtdsales-chart-legend {
		/*top: -390px;*/
	}
	
	.ul-dash-salemtd li {
		width: 32%!important;
	}

}

/* GmMTDDrillDownAccList */
.div-dash-mtddrilldown-account {
	margin-left: 100px;
	padding: 10px;
	max-width: 400px;
	display: inline-block;
}

.div-dash-mtddrilldown-amount {
	float: right;
	padding: 10px;
	display: inline-block;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#div-saleitemlist .div-dash-mtddrilldown-account {
        display: inline-block!important;
        float: none;
        width: 170px;
        height: 25px;
        align-content: center;
        padding: 10px;
        margin: 0px;
    }

    .div-dash-mtddrilldown-amount {
        display: inline-block !important;
        text-align: right;
        padding: 5px 5px 5px 0 !important;
        width: 25%;
    }
    
}



/* GmMTDDrillDownFSList */
.ul-dash-mtddrilldown-list>li{
	width: 100%;
}

.li-dash-mtddrilldown-list-header {
	min-height: 40px;
    background-color: #ccc;
    border-bottom: 1px solid #fff;
    width: 100%;
}

.li-dash-mtddrilldown-list-header .div-dash-mtddrilldown-name {
	margin-left: 0px;
}

.li-dash-mtddrilldown-list-header div {
	display: inline-block;
}

#div-dash-mtddrilldown-list #div-saleitemlist .li-dash-mtddrilldown-list-content {
	display: none;
	background: #eee;
	border-top: none;
	border-radius: 3px;
}

#div-dash-mtddrilldown-list #div-saleitemlist .li-dash-mtddrilldown-list-content #div-saleitemlist {
	max-height: none;
}

.div-dash-mtddrilldown-name .fa-circle {
	display: none!important;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	.div-dash-mtddrilldown-name .fa-circle {
    	display: none!important;
    }

    #div-saleitemlist .div-dash-mtddrilldown-name {
        display: inline-block!important;
        float: none;
        width: 174px;
        height: 25px!important;
    
    }
     
    #div-saleitemlist .div-dash-mtddrilldown-name{
	    font-weight: bold;
        font-size: medium;     
    }
}


/* GmSaleMTD */
#div-dash-salemtd-main {
	display: none;
	margin: 10px 0 0 0;
	width: 100%;
}

#div-dash-mtdsales-tab-header .selected-tab {
	background-color: #036;
	color: #fff;
}

.div-dash-mtdsales-tab {
	display: inline-block;
	height: auto;
	min-width: 80px;
	background: #ccc;
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
}

.div-dash-mtdsales-tab i {
	float: left;
}

#div-dash-mtdsales-tab-content {
	width: 100%;
    height: 60vh;
	border-radius: 0px 3px 3px 3px;
}

#div-dash-mtdsales-chart, #div-dash-mtdsales-data {
	float: left;
	display: inline-block;
	width: 100%;
}

#div-dash-mtdsales-chart {
	width: 100%;
	text-align: center;
	display: none;
}

#div-dash-mtdsales-data div {
	float: left;
	display: block;
}

#div-dash-mtdsales-table {
	border: 1px solid #036;
	border-radius: 0 3px 3px 3px;
	height: 100%;
	width: 99%;
}

.div-dash-mtdsales-header {
	color: #fff;
	background-color: #036;
	width: 100%;
}

.div-dash-mtdsales-date {
	padding: 0.5em 0 0.5em 0.5em;
	width: 307px;
}

.div-dash-mtdsales-day {
	padding: 0.5em 0 0.5em 0.5em;
	width: 310px;
}

.div-dash-mtdsales-amount {
	padding: 0.5em 0.5em 0.5em 0;
	text-align: right;
	width: 315px;
}

#div-dash-mtdsales-list {
	width: 100%;
	max-height: 460px;
	min-height: 200px;
}

#div-dash-mtdsales-list #div-saleitemlist {
	width: 100%;
	max-height: 425px;
	min-height: 200px;
}

#div-dash-mtdsales-list #div-saleitemlist li {
	width: 100%;
}

#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-label {
	padding: 0.5em;
	width: 80%;
}

#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-value {
	margin-left: -5px;
	padding: 0.5em;
	width: 15%;
}

.div-dash-mtdsales-footer {
	color: #fff;
	width: 100%;
	background-color: #036;
}

.div-dash-mtdsales-footer-label {
	padding: 0.5em;
	width: 81%;
}

.div-dash-mtdsales-footer-value {
	padding: 0.5em;
	width: 15%;
}

.div-dash-mtdsales-footer div {
	color: #fff!important;
	text-align: right;
}

.div-dash-mtdsales-ads-footer div {
	font-size: 1em;
	font-weight: bold;
	float: left;
	display: inline;
	padding: 20px 10px 0 0;
}

.div-dash-mtdsales-ads-footer-label {
	color: #036;
}

.div-dash-mtdsales-ads-footer-value {
	color: #000;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-salemtd-main {
		width: 727px;
	}

	.div-dash-mtdsales-date {
		padding: 0.5em 0 0.5em 0.5em;
		width: 227px;
	}

	.div-dash-mtdsales-day {
		padding: 0.5em 0 0.5em 0.5em;
		width: 180px;
	}

	.div-dash-mtdsales-amount {
		padding: 0.5em 0.5em 0.5em 0;
		text-align: right;
		width: 270px;
	}

	#div-dash-mtdsales-list {
		width: 100%;
		max-height: 685px;
		min-height: 200px;
	}

	#div-dash-mtdsales-list #div-saleitemlist {
		width: 100%;
		max-height: 625px;
		min-height: 200px;
	}

	#div-dash-mtdsales-list #div-saleitemlist li {
		width: 100%;
	}

	#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-label {
		padding: 0.5em;
		width: 75%;
	}

	#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-value {
		margin-left: -5px;
		padding: 0.5em;
		width: 20%;
	}

	#div-dash-mtdsales-chart, #div-dash-mtdsales-data {
		display: block;
	}

	#div-dash-mtdsales-chart {
		width: 100%;
		text-align: center;
		display: none;
	}

	#div-dash-mtdsales-data {
		width: 100%;
	}

	#div-dash-mtdsales-table {
		width: 726px;
		margin: auto;
	}

	.div-dash-mtdsales-amount {
		margin-left: 18px;
	}

	#div-dash-mtdsales-list #div-saleitemlist { 
		height: 650px!important;
		max-height: none!important;
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.div-dash-mtdsales-footer-label {
		padding: 0.5em;
		width: 75%;
	}

	.div-dash-mtdsales-footer-value {
		padding: 0.5em;
		width: 20%;
	}


	#div-dash-mtdsales-chart-legend{
		max-height: 360px;
		/*padding: 1px 1px 1px 50px;*/
		width: 100%;
		display: none;
		margin: auto;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#div-dash-mtdsales-tab-header {
		margin: 0px 0px 0px 1px;
	}

	#div-dash-mtdsales-tab-content, #div-dash-mtdsales-chart{	
        height: 55vh;
	}
	
    #div-dash-mtdsales-chart
	.div-dash-mtdsales-ads-footer div {
		padding: 5px 10px 0 0!important;
	}
}





/* GmSaleMTDTotal */
.ul-dash-salemtd-total {
	background: #ccc;
}

.ul-dash-salemtd-total li {
	color: #000!important;
	text-align: right;
}

#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-label {
	padding: 0.5em;
	width: 80%;
}

#div-dash-mtdsales-list #div-saleitemlist li .ul-dash-salemtd-total .li-dash-mtdsales-total-value {
	margin-left: -5px;
	padding: 0.5em;
	width: 15%;
}

/* GmSaleToday */

/*dropdown arrow positioning*/
#div-saletoday-viewby-content #div-dash-saletoday-viewby .div-dropdown-main .div-arrow-dropdown{
 position: absolute;
 padding-left: 10px;
}

#div-dash-saletoday-main {
	margin: 20px 0 0 0;
	width: 99%;
}

#div-dash-saletoday-main {
	display:none;
}

#div-dash-saletoday-tab-header .selected-tab {
	background-color: #036;
	color: #fff;
}

.div-dash-saletoday-tab {
	display: inline-block;
	height: auto;
	min-width: 80px;
	background: #ccc;
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
}

.div-dash-saletoday-tab i {
	float: left;
}

#div-dash-saletoday-viewby {
	display: inline-block;
}


#div-dash-saletoday-viewby .div-dropdown-list {
	position: absolute;
	z-index: 1;
	width: 153px;
	text-align: center;
	background-color: #ddd;
	border-radius: 0 3px 3px 0;
}

#div-dash-saletoday-viewby  .div-dropdown-list ul li {
	width: 98.5%;
	height: 20px;
	padding: 10px 0px;
	border: 1px solid #999;
}

#div-dash-saletoday-viewby .div-dropdown-main {
	width: 159px;
}

#div-dash-saletoday-viewby .div-dropdown-text {
	display: inline-block;
	padding: 10px 26px;
	background-color: #ccc;
	width: 100px;
	text-align: center;
}

#div-dash-saletoday-tab-header, #div-saletoday-viewby-content {
	float: left;
	display: inline-block;
}

#div-saletoday-viewby-content .arrow-right {
	margin: 3px 0 0 5px;
}

#div-saletoday-viewby-content {
	float: right;
	margin: -5px -8px 0 0;
}

#div-saletoday-viewby-header {
	border-radius: 3px 0 0 3px;
	display: inline-block;
	background-color: black;
	color: white;
	padding: 10px;
}

#div-dash-saletoday-tab-content {
	width: 100%;
	border-radius: 0px 3px 3px 3px;
}

#div-dash-saletoday-data, #div-dash-saletoday-chart {
	display: inline-block;
}

#div-dash-saletoday-chart, #div-dash-saletoday-chart-legend {
	float: left;
	display: inline-block;
}

#div-dash-saletoday-chart {
	clear: left;
	display: none;
	text-align: center;
}

#div-dash-saletoday-chart-legend {
	margin-top: 2em;
}

#div-dash-saletoday-chart-legend #div-saleitemlist {
	max-height: 475px;
}

#div-dash-saletoday-table {
	float: left;
	width: 100%;
	max-height: 530px;
	min-height: 530px;
	overflow-x: hidden;
	overflow-y: scroll;
	border: 1px solid #036;
	/*margin-right: -2px;*/
	border-radius: 0 3px 3px 3px;
	-webkit-overflow-scrolling: touch;
}

#div-dash-saletoday-table div {
    display: inline-block;
}

.div-dash-saletoday-header {
    color: #fff;
    background-color: #036;
    width: 98%;
    padding: 1.5% 1%;
}

.div-dash-saletoday-name {
	width: 32%;
}

.div-dash-saletoday-amount {
	width: 31%;
	text-align: right;
}

.div-dash-saletoday-percent {
	text-align: right;
	width: 32%;
}

#div-dash-saletoday-list, #div-dash-saletoday-list #div-saleitemlist {
	width: 100%;
	max-height: 493px;
	min-height: 200px;
}

.div-dashboard-saletoday-name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#div-dash-saletoday-list #div-saleitemlist li, #div-dash-saletoday-list #div-saleitemlist li ul {
	width: 100%;
	min-height: 30px;
}

#div-dash-saletoday-drilldown-main {
	display: none;
	position: fixed;
	width: 96%;
	height: 82.5%;
	background-color: #eee;
	top: 11%;
	margin-left: -2px;
	border: 1px solid #444;
	border-radius: 3px;
}

#div-dash-saletoday-drilldown-header {
	width: 100%;
	height: 40px;
	background: #444;
}

#div-dash-saletoday-drilldown-header div {
	display: inline-block;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	width: 48%;
}

#div-dash-saletoday-drilldown-close {
	text-align: right;
}

#div-dash-saletoday-drilldown-close-icon {
    width: 20px!important;
    text-align: right;
    margin-right: -10px;
    border-radius: 50%;
    font-size: 25px;
    vertical-align: middle;
}

#div-dash-saletoday-drilldown-list-header {
	background-color: #999;
	width: 100%;
	height: 40px;
	margin-top: 40px;

}

#div-dash-saletoday-drilldown-list-header div{
	display: inline-block;
	padding: 12px 0;
	color: #fff;
	width: 16%;
	text-align: center;
}

#div-dash-saletoday-drilldown-list-content {
	width: 100%;
	height: 474px;
}

 #div-dash-saletoday-drilldown-list #div-saleitemlist li {
	width: 99.8%;
}


#div-dash-saletoday-drilldown-list #div-saleitemlist {
	max-height: 472px;
}


#div-dash-saletoday-drilldown-footer {
	width: 100%;
	height: 40px;
	background-color: #444;
	position: absolute;
	bottom: 0px;
}

#div-dash-saletoday-drilldown-footer div {
	display: inline-block;
	padding: 12px 0px;
	width: 70%;
	text-align: right;
	color: #fff;
}

#div-dash-saletoday-drilldown-footer-value {
	width: 29%!important;
}

.li-dash-saletoday-name .fa-circle {
	display: none!important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-saletoday-main {
		margin-top: 20px;
		width: 99%;
	}

	#div-saletoday-viewby-content {
		float: right;
		margin: -3px -3px 0 0;
	}

	#div-dash-saletoday-viewby  .div-dropdown-text {
		padding: 10px 29px;
	}
	
	#div-dash-saletoday-viewby .div-dropdown-list {
		width: 158px!important;
	}

	#div-dash-saletoday-chart, #div-dash-saletoday-data {
		display: block;
	}

	#div-dash-saletoday-chart {
		width: 100%;
		text-align: center;
		display: none;
	}

	#div-dash-saletoday-table {
		max-height: 780px;
		min-height: 780px;
		width: 100%;
		margin: auto;
	}

	.div-dash-saletoday-name{
		width: 32%!important;
	}

	#div-dash-saletoday-drilldown-main {
		height: 86.5%!important;
		top: 8.5%!important;
	}
	
	#div-dash-saletoday-drilldown-list-header div {
		padding: 3px 0!important;
	}

	#div-dash-saletoday-drilldown-list-content {
		height: 726px!important;
	}
	
	#div-dash-saletoday-drilldown-list #div-saleitemlist {
		max-height: 726px;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	#div-dash-saletoday-list #div-saleitemlist {
      	height: auto;
		max-height: 330px!important;
		overflow-x: initial;
		overflow-y: initial;
		-webkit-overflow-scrolling: touch;
    }
    
    .div-dash-saletoday-header {
        padding: 4% 1%;
    }

	#div-saletoday-viewby-content {
		float: left;
		display: inline-block;
		width: 100%;
		margin: 4px 0px 4px 5px!important;
	}

	#div-saletoday-viewby-header {
		margin-left: 3px;
	}

	#div-dash-saletoday-viewby .div-dropdown-list {
		position: absolute;
		z-index: 1;
		width: 232px;
		text-align: center;
		background-color: #ddd;
		border-radius: 0 3px 3px 0;
	}

	#div-dash-saletoday-viewby .div-dropdown-main {
		width: 215px;
	}

	#div-dash-saletoday-viewby .div-dropdown-text {
		display: inline-block;
		padding: 10px 26px;
		background-color: #ccc;
		width: 179px;
		text-align: center;
	}
	
	#div-dash-saletoday-table {
		border: 1px solid #ccc;
		min-height: 308px!important;
		max-height: 308px!important;
		border-radius: 3px!important;
	}

	.ul-dash-saletoday-chart-legend, .div-dashboard-saletoday-chart-legend-label{
		width: 90% !important;
        min-height: initial !important;
	}
}

/* GmSaleTodayChartLegends */
.ul-dash-saletoday-chart-legend{
	width: 186px;
	min-height: 40px;
	margin: 2px 0px;
}
.li-dash-saletoday-chart-legend-label{
	width:100%;
}

.div-dashboard-saletoday-chart-legend-label{
	display: inline-block;
	width: 160px;
	line-height: 1.2em;
	padding: 4px 2px 2px 5px;
}

.li-dash-saletoday-chart-legend-label .fa-circle{
	margin-top: 5px;
	vertical-align: top;
	display:inline-block;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

	#div-dash-mtdsales-chart-legend #div-itemlist {
		margin: auto;
		width: 45em;
	}

	.li-dash-saletoday-chart-legend-label {
		display: inline;
		float: left;
	    width: 15em;
	}
}

/* GmSaleTodayDrillDownList */
.div-dash-saletoday-drilldown-list-item {
	width: 100%;
}

.div-dash-saletoday-drilldown-list-item {
	background: #fff;
	border: 1px solid #ccc;
}

.div-dash-saletoday-drilldown-list-item div {
	display: inline-block;
	padding: 12px 0;
	width: 16%;
	text-align: center;
	vertical-align: middle;
}


/* GmSDItem */
.ul-overview-widget-details {
	width: 235px;
	height: 30px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.15em;
}

.ul-overview-widget-details li {
	font-size: 1em;
	padding: 0.5em 0 0 0;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	.ul-overview-widget-details {
		width: 100%;
	}
}


/* GmSDMTDSaleItem */
.ul-dash-salemtd {
	min-height: 30px;
	max-height: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 0.15em;
}

.ul-dash-salemtd li {
/*	font-size: 1em;*/
	padding: 1% 0 0 .5%;
}

.li-dash-mtdsales-date {
	margin-left: 5px;
}

.li-dash-mtdsales-amount {
	text-align: right;
}


/* GmSDQuotaItem */

.li-overview-widget-details-type {
	float: left;
	margin-left: 10px;
}


/* GmSDSaleTodayItem */

.ul-dash-saletoday {
	border-bottom: 1px solid #ccc;
	padding: 1%;
}

.ul-dash-saletoday li {
	font-size: 1em;
	padding: 0.5em 0 0 0;
	width: 32%!important;
}

.li-dash-saletoday-name i {
	display: none;
}

.li-dash-saletoday-name i {
	display: inline-block;
}

.li-dash-saletoday-name {
    width: 57%;
}
.li-dash-saletoday-amount {
    width: 20%;
}

.li-dash-saletoday-percent {
    text-align: right;
    width: 20%;
}

#div-dash-saletoday-table .div-dash-widget-saletoday {
	display: none;
}

#div-dash-saletoday-data {
   width: 100%!important;
}

.div-dash-saletoday-drilldown-amount {
	width: 16%!important;
	text-align: right!important;
}

#div-dash-saletoday-drilldown-main #div-sale-keyword-detail {
	position: absolute;
	top: 40px;
	height: 40px;
}

#div-dash-saletoday-drilldown-main #txt-saleitemlist-search {
	margin: 5px;
	height: 52%;
	width: 250px;
	border-radius: 3px;
	box-shadow: 0 0 3px #999;
	border: 1px solid #999;
	padding: 5px;
	font-size: 0.90em;
}


 /*PMT - 33236 Sales dash*/

.gmTxtDYellow {
    color: #FF8C00;
}

.gmTxtLYellow {
    color: #FBB917;
}

.gmLineH {
    line-height: 1.5;
}



#div-dash-saletoday-drilldown-main #div-saleitemlist-detail-search-x {
	position: absolute;
	top: 50px;
	left: 240px;
	background: #999;
	padding: 0.05em 0.1em 0.2em 0.1em;
	border-radius: 38px;
	font-size: large;
	width: 18px;
	font-family: "Arial";
	text-align: center;
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
	
	.ul-dash-saletoday{
        min-height: auto; 
        max-height: auto; 
        padding: 5px 3px;
	}
    
    .li-dash-saletoday-name {
        margin: 0;
    }
	.div-dash-widget-saletoday {     
	    display: block!important;
        width: 100%;
        padding: 2.5% 1%;
	}

	.div-dash-saletoday-top {
        display: inline-block !important;
        vertical-align: middle; 
        width: 40%;
	}

	.div-dash-saletoday-bottom {
        display: inline-block!important;
        width: 28%;
        text-align: center;
	}

	.div-dash-saletoday-bottom-percentage {
	    text-align:right;
	}

	#div-dash-saletoday-chart-legend #div-saleitemlist {
		max-height: 20vh !important;
		margin: 0px 0px 0px 2px;  
		overflow-y: scroll;  
		-webkit-overflow-scrolling: touch;
	}

    
    #div-dash-saletoday-tab-content {
		height: 368px!important;
	}

	#div-saletoday-viewby-content {
		margin: 4px -4px!important;
	}

	#div-dash-saletoday-chart-legend {
		display: none;
		margin-top: 0px!important;
        width: 100%;
	}
    
    #div-req-data ul #surg-date {
        width: 16%;
    }
    
    #div-req-data ul #li-days {
        width: 7%;
        margin-left: 8px;
    }
    
    #div-req-data ul #li-days #sel-days{
        min-width: 49px;
    }
    
    #div-req-data ul #li-new-ret-dt{
        margin-left: -8px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    
    #loaner-extn-reqid .loaner-extn-surgerydate, #loaner-extn-reqid .loaner-extnddate{
        display: none;
    }
    
	#div-dash-saletoday-tab-content {
		height: 800px!important;
	}

	#div-dash-saletoday-chart-legend {
		max-height: 360px;
		display: none;
		margin: auto;
		padding-left: 2em;
	}
	
	#div-dash-saletoday-chart-legend #div-itemlist {
		margin: auto;
		max-height: 370px!important;
		width: 45em;
	}

	.li-dash-saletoday-chart-legend-label {
		display: inline;
		float: left;
	    width: 15em;
	}
}

@media screen and (min-width: 1024px) {
	.div-dash-saletoday-name{
		width: 33%!important;
	}
	
	#div-dash-saletoday-chart-legend {
		height: 485px;
		padding: 1px 1px 1px 5px;
		width: 19.2%;
		display: none;
	}
	
	#div-dash-saletoday-chart-legend {
		top: -350px;
	}
}

.btn-req-big {
  display: none;
}

.dept-2005 .btn-req-big {
  display: block;
}
.label-surgery-date {
    margin-bottom: 2px;
	 display: inline-block;
	padding: 0.50em 0em 0.50em 0.1em;
	background-color: #eee;
	font-family: "Trebuchet MS";
	border: none;
	box-shadow: 0px 0px 1px #030303;
	font-size: 15px;
	width: 85px;
	 height: 15px;
	vertical-align: middle;
	border-radius:3px;
}

#div-dash-loaners #div-saleitemlist li:nth-child(9) ul, #div-saleitemlist li:nth-child(10) ul {
    height: auto;
}
#div-dash-loaners #div-saleitemlist li:nth-child(9) ul .li-overview-widget-details-type, #div-saleitemlist li:nth-child(10) ul .li-overview-widget-details-type {
    width: 50%;
    word-break: break-word;
}
