.div-eval-main-dash{
	 background: #ccc;
    height: 640px;
    overflow: hidden;
    overflow-y: scroll;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.741em 0.5em;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-family: SourceSansPro;
    font-size: 1em;
}

#eval-sub-div {
	height: 90%;
    position: relative;
	
}

#eval-footer-div {
/*	height: 10%;*/
    position: fixed;
    width: 100%;
}


.div-eval-main-dash .gmInputText, .div-eval-main-dash .gmInputSearch, .div-eval-main-dash .gmInputSelect{padding:0.65em 0.5em; background-color: white; box-shadow: none;font-weight: bold;}
.evalInfoSection{    padding: 2%;  background: #FFF;  margin: 2% 2% 0 2%;  display: inline-block;  width: 96%;  box-sizing: border-box;height: auto;}
.evalInfoDash{ padding: 2%;  background: #FFF;  margin: 2% 2% 0 2%;  display: inline-block;  width: 96%;  box-sizing: border-box;height: 605px; }
.evalInfoSection:last-child{margin-bottom: 2%;}
.evalFormHeader{font-size: 20px; color: #999; padding: 10px 0;}
.evalListSection{    padding: 10px 0; font-weight: bold; }
.evalListSection li{display: inline-block; vertical-align: middle; word-break: break-word;}
.evalListLabel{margin-bottom: 10px; font-weight: bold;}
.evalListInput #txt-keyword, .evalListInput input { padding:0.65em 0.5em;  border: 1px solid #999;; border-radius: 3px;font-size: 16px;    font-family: SourceSansPro; background: white; color: #000000;font-weight: bold;}
.evalDescription{width: 99.3%;height: 100px;font-size: 16px;font-weight: bold; box-sizing: border-box;}
.evalWidth456{width: 456px;
    border: 1px solid #000;
    border-radius: 3px;}
.evalWidth296{width: 296px;}
.evalWidth312{width: 312px;}
.evalWidth170{width: 170px;}
.evalWidth50{width: 50px;}
.evalDashWidth{width: 155px;}
.evalbtn {
    width: 100px;
    height: 30px;
    background-color: #203156;
    border: solid 1px #000;
    border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 16px;
}
.evalbtnred{background-color:#b50808;}
.evalbutton{  text-align: center;
  			display:block;
			padding: 13px;
}

.panelFormCustom {
    background-color: #0a2d53;
	}
.evalWidth180m {
    min-width: 180px;
}
.evalCategory-btn {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.767em 1em;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    width: 260px;
	
    
}
    
.evalListSection li.gmAlignVertical{display: block;}
.evalMarginRight40p{margin-right: 38px;}
.evalMarginRight239p{margin-right: 239px;}
.evalMarginRight{margin-right:205px;}
.evalMarginTop12p{margin-top: 12px;}
.evalMarginRight240p { margin-right: 240px;}
.evalpopup-icon:after {
    box-sizing: border-box;
    cursor: pointer;
    content: "\f0c9";
    color: #aaa;
    display: inline-block;
    font-size: 1.33333333em;
    float: right;
    font-family: FontAwesome;
    line-height: 0.75em;
    margin-left: -25px;
    pointer-events: none;
    right: 0;
    top: 0;
    text-align: center;
    vertical-align: -15%;
	z-index: 1;
	
}


#form-lookup-part input {width: 98%;}

#form-lookup-part {
    width: 100%; position: relative;
	
}
#form-lookup-part #div-search-result-main {
    margin: 0 !important;
    width: 99.5% !important;
    padding: 0 !important;
    box-sizing: border-box;
	left: 0 !important;
	top: 45px !important;
}
#form-lookup-part #div-common-search-x{background: none; top:12px; right:0;}

.evalDashMargin {
    
	margin-right: 8px;
	}
.evalMarginleft15p{margin-left: 15px;}

.evalrptbuttondash {
    height: 36px;
}
.evalrptbtndash {
    width: 98px;
    height: 37px;
    background-color: #203156;
    border: solid 1px #000;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: SourceSansPro;
    font-size: 16px;
}
.mainEvaluationFormDash{
    background: #767272;
    height: 35px}

.evalListDash{ 
       border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
   	height: 81%;
	overflow: hidden;
    overflow-y: scroll;
}
.evalSelectbox-icon {
    position: relative
}

select {
    appearance: none;
    border-radius: 4px;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    border: none;
    color: #888;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    -moz-border-radius: 4px;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    outline: none;
    padding: 3px;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    min-width: 100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.evalDashBgColor {
	background-color: #ddd;
	margin-bottom: 2px;
}

.btn-detail-eval{width: 33.3%;}

#form-lookup-part #ul-search-resultlist li {
	width: 100%;
    display: inline-block;
    vertical-align: middle;
/*    padding: 0.7em 10px;*/
    border-bottom: 1px solid #fff;
    background-color: #464242;
    color: white;
    margin: 0;
    box-sizing: border-box;
}
#form-lookup-part #ul-search-resultlist li a{
    display: inline-block;
    padding: 0.7em 10px;
    width: 100%;
    box-sizing: border-box;
}
#form-lookup-part #div-keyword-search{width:99.5%;}

.evalcal{
	margin-left: 2px;
	font-size: 33px;
}

#div-detail-navigation-eval{
	width: 100%;
    background-color: #999;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
}
.evalInfoSection:last-of-type {
	padding-bottom: 15px;}

.evalListSection li.evalfrm {display: none;}
.evalListSection li.removeForm {display: none;}
.evalbtn, .evalbutton #btn-main-save { padding: 0px; }
.div-eval-main-dash .dropDownListX{   padding: 0.2em 0.5em;
    padding: 0.2em 0.5em;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
}
.dropDownListX .div-dropdown-list {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 43px;
}

.dropDownListX .div-dropdown-list ul li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 280px;
}
.dropDownListX .div-arrow-dropdown {
    float: left;
    padding: 4px 5px 0 5px;
    width: 0;
	box-sizing: border-box;
}

.dropDownListX .div-dropdown-text {
    float: left;
    padding: 10px 0 10px 20px;
    text-align: left;
	width: 95%;
	box-sizing: border-box;
}

#event-list .div-dropdown-list li,#carrier-list .div-dropdown-list li, #adverse-list .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}
.evalTextArea , .evalTextArea li{display: block !important;}
#status-list{width:145px;padding: 3px 0.5em;}
#status-list .div-dropdown-main{display: flex}
#status-list.dropDownListX .div-dropdown-list ul li{width: 114px;}
#eventEval-original-dt,#eventEval-event-dt,#eventEval-shipped-dt{display: flex; align-items: center;}
#eventEval-original-dt label,#eventEval-event-dt label,#eventEval-shipped-dt label{
display: inline-block;padding: 0.65em 0.5em;border: 1px solid #999;border-radius: 3px;font-size: 16px;font-family: SourceSansPro;background: white;color: #000000;font-weight: bold;    width: 314px; height: 43px; box-sizing: border-box;}
.evalFrmDt label, .evalToDt label{padding: 0.65em 0.5em;border: 1px solid #999;border-radius: 3px;font-size: 16px;font-family: SourceSansPro;background: white;color: #000000;font-weight: bold;width: 188px; height: 43px;    display: inline-block;box-sizing: border-box;vertical-align: top;}
.evalFrmDt .evalcal, .evalToDt .evalcal{vertical-align: top; margin-top: 9px;}
.evalFrmDt #from-date,.evalToDt #to-date,#eventEval-event-dt #evnt-date,#eventEval-original-dt #original-date,#eventEval-shipped-dt #date-shipped{display: none;}

/*MEDIA QUERY FOR iPHONE*/
@media screen and (max-width: 767px) {
    #form-lookup-part #div-keyword-search {
        width: 100%;
    }

    #form-lookup-part input,
    .evalListInput input {
        box-sizing: border-box;
        height: auto;
        width: 100%;
    }

    .evalListSection li,
    .evalWidth312 {
        width: 100%;
        box-sizing: border-box;
        margin: 2px;
    }

    .evalListInput textarea {
        width: 98%;
        box-sizing: border-box;
    }

    #evnt-date,
    #original-date {
        width: 32%;
    }

    #date-shipped {
        width: 65%;
    }

    .evalDashWidth {
        width: 100%;
    }

    #eval-main {
        height: 200px;
    }

    .evalMarginleft15p {
        margin-left: 0px;
    }

    .evalListSection li.evalDashMargin {
        margin-left: 0px;
        width: 25%;
    }

    .evalListDash {
        height: calc(100% - 238px);
    }
    .mobrptEval~.evalListDash {
        height: calc(100% - 40px);
    }
    
    .evalbtn {
        width: 70px;
    }

    .evalListDash ul {
        width: 100%;
        position: relative;
    }

    .evalListDash ul li.li-content {
        width: 100%;
        float: none;
        display: inline-block;
        margin: 0;
    }

    .evalListDash ul li.li-content.onShowLi {
        margin-left: -70px;
    }

    .evalListDash ul li.delete-pu-span {
        width: 70px;
        float: none;
        display: flex;
        margin: 0;
    }

    .evalListDash ul li {
        display: inline-block;
        float: left;
        width: 22%;
    }

    .delRec {
        width: 13%;
    }

    .evalInfoDash {
        height: 100%;
        margin: 0;
        width: 100%;
    }

    .div-eval-main-dash {
        height: 92vh;
        padding: 6px;
        margin: 0;
        border: 0;
        box-shadow: none;
    }

    .delRec {
        display: none !important;
    }

    .evalListSection div.li-content.onShowLi,
    .evalListSection div.li-content.onShowLi {
        margin-left: -70px;
    }

    #prc-outcome {
        margin: 0;
    }

    .div-eval-dash-container evalListSection {
        margin: 0px !important;
    }

    #qty {
        width: 35% !important;
    }

    #evnt-date {
        width: 61%;
    }

    #event-list {
        width: 100%;
        padding: 2px 0.5em !important;
        position: relative;
        min-height: 36px;
    }

    .div-eval-main-dash .dropDownListX {
        padding: 2px 0.5em !important;
        min-height: 36px;
    }

    #report-condition,
    #replacement,
    #part-available,
    #shipped,
    #decontaminated,
    #prc-outcome,
    #field-service,
    #port-oprt {
        width: 40%;
    }

    #carrier-list {
        width: 132px;
    }

    #revision-surgery {
        width: 131px;
    }

    .evalListSection li.evaleventdate {
        width: 52%;
        display: inline-block;
    }

    .evalListSection li.evaleventhap {
        width: 65%;
        display: inline-block;
    }
    .evalListSection li.evalsurg {
        width: 30%;
    }

    .evalInfoSection #rev-surgery-txt {
        width: 97%;
        height: 38px;
    }
    
    .evalInfoSection #adverse-list {
        width: 40%;
    }

    .evalListSection li.evalrptbuttondash {
        width: auto;
    }

    .evalListSection li.evalFrmDt {
        width: 76%;
    }

    .evalListSection li.evalToDt {
        width: 50%;
        margin-top: -13px;
        margin-bottom: -13px;
    }

    .mainEvaluationFormDash {
        display: none;
    }

    .evalsurg li.evalListLabel {
        width: 194px;
    }

    .eventInfo  #from-date {
        width: 53%;
    }

    .eventInfo  #to-date {
        width: 80%;
    }
    .evalFrmDt label{
        width: 51%;
    }
    .evalToDt label{
        width: 78%;
    }
    #eventEval-original-dt label, #eventEval-event-dt label, #eventEval-shipped-dt label{width: 97px;}

    .evalListSection li.evallbl {
        width: 50px;
    }

    .evalDashWidth {
        width: 26%;
        min-width: auto;
    }

    .evalListSection li.evalcrdt {
        width: 100%;
        margin: 0;
        margin-top: 7px;
    }

    .evalListSection li.evalselect {
        width: 50%
    }

    .div-eval-main-dash #status {
        width: 81%;
    }

    .mainBody ul.evalListSection {
        padding: 0px 0;
    }

    .evalListDash ul.evalListSection {
        padding: 5px 0;
    }

    .evalshipdt {
        display: inline-flex;
    }

    .evalListSection li.evalqty {
        width: 40%;
    }

    .evalListSection li.evallot {
        width: 52%;
    }

    .evalpartlist {
        margin: 3px;
    }

    .evalListSection li.evaltrk {
        margin-top: 0px !important;
    }

    .evalListSection li.evalCategory-btn {
        width: 77%;
    }

    .evalListSection li.evalfrm {
        display: inline-block;
    }

    .evalListSection li.frmid {
        width: 20%;
    }

    .evalListSection li.crtdt {
        width: 25%;
    }

    .evalListSection li.descr {
        width: 25%;
        min-height: 18px
    }

    .evalListSection li.evntdt {
        width: 25%;
    }

    .evalListSection li.evsts {
            width: 35%;
            display: flex;
            align-items: center;
    }

    .rptlbl {
        margin-left: 3px;
    }

    #revision-surgery,
    #report-condition,
    #port-oprt {
        margin-left: 0px;
    }

    .evalListSection li.removeForm {
        display: none;
    }

    .hpnlbl {
        width: 101% !important;
    }

    .carrlbl {
        margin-top: 4px;
    }

    #eval-footer-div {
        display: none;
    }

    #type-of-surgery,
    #surgery,
    #hospital,
    #track-number {
        width: 71%;
    }

    .dropDownListX .div-dropdown-text {
        float: unset;
        text-align: left;
        box-sizing: border-box;
        padding-left: 25px;
    }

    #status-list {
        width: 100%;
    }

    #status-list.dropDownListX .div-dropdown-list ul li {
        width: 100%;
    }

    .dropDownListX .div-dropdown-list {
        top: 40px;
    }

    .dropDownListX .div-dropdown-list ul li {
        width: 100%;
        margin: 0
    }
    
    .label-hgt-btm-space-16 {
        min-height: 0;
        margin-bottom: 0
    }
    
    .dropDownListX .div-arrow-dropdown{
        padding-top: 3px;
    }
    .delete-pu-span {
        background: #ff5b5b;
        position: absolute;
        width: 15%;height: 100%;
        right: -70px;top: 0;
        z-index: 1; 
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in; 
        -ms-transition : all 0.3s ease-in; 
        -webkit-transition : all 0.3s ease-in;
        visibility: hidden;
        opacity: 0;
    }
    .evalListSection.evalListSwipe li.frmid {
       color: #0055ad;
   }
    #form-lookup-part #ul-search-resultlist li a {
    overflow-x: scroll;
    white-space: nowrap;
   }
    #status-list.dropDownListX .div-dropdown-text {
      padding-left: 15px;
   }
    .evalListDash .evalListSection li.descr, .evalListDash .evalListSection li.evntdt,
    .evalListDash .evalListSection li.crtdt, .evalListDash .evalListSection li.frmid, 
    .evalListDash .evalListSection li.evsts {
    width: 95%;
    float: left;
    position: relative;
    white-space: normal;
    padding: 0.3em;
    padding-left: 45%;
}
    .evalListDash ul li:before{
    content: attr(data-title);
    width: 40%;
    padding: 0 0.3em;
    color: #000;
    position: absolute;
    left: 6px;
    }
    .rptEval.hide{
    display: block !important;
    background-color: #203156;
    padding: 8px;
    color: #fff;
    margin-bottom: 5px;
}
    .mobrptEval{
        display: none;
    }
    .rptEval i {
    float: right;
    font-weight: bold;
   }
    .evalInfoDash .evalListDash p {
    text-align: center;
    padding: 10px;
   }
    .evlShow{
        display: block !important;
    }
    .evalbutton #btn-main-save, .evalbutton #btn-sign-submit, .evalbutton #btn-main-clear{
        padding: 4px 10px;
    }
}
@media screen and (max-width: 375px) {
    .evalListSection li.evallot {
    width: 58%;
}
    .evalListSection li.evalqty {
    width: 32%;
}
    #qty {
    width: 50% !important;
}
}
