.gmWidth65px {
	width: 65px;
}
.gmWidth105px {
	width: 105px;
}
.gmDisplayIFlex {
    display: inline-flex;
}

.searchKitInput input {
    width: 90%;
    box-sizing: border-box;
}
.ulKitId .searchKitLbls {
    width:40%;
}
.ulKitNm .searchKitLbls {
    width:15%;
}
.searchKitLbls{
    text-align: right;
}
.searchKitInput {
    width: 70%;
}

.ulKitId .searchKitLbls {
    padding-top: 7px;
}

.liKitIdMain {
    width: 35%;
    float: right;
}

.liKitNmMain {
    width: 65%;
}

.liInvntry {
    padding: 0 2%;
}

.ulInvntryBtns {
    border: 1px solid #00366e;
    width: 100%;
    box-sizing: border-box;
}

#div-search-set, #div-search-tag {
    width: 82%;
}

#div-part-search {
    width: 86%;
}

#div-search-set input,
#div-search-tag input,
#div-part-search input,
#div-search-rep input{
    width: 100%;
    box-sizing: border-box;
}

#div-search-set .arrow_box_up:after,
#div-part-search .arrow_box_up:after,
#div-search-rep .arrow_box_up:after,
#div-search-tag .arrow_box_up:after{
    border: 0;
}

#div-search-set #div-search-result-main,
#div-search-tag #div-search-result-main,
#div-part-search #div-search-result-main {
    margin-top: -5px !important;
    border: 0;
}

#div-search-rep #div-search-result-main{
    left: auto !important;
    top: auto !important;
    border: 0;
}

.div-set-partdtls span {
    background: #ccc;
    border: 1px solid #888;
    padding: 5px 8px;
    border-radius: 3px;
}

.div-set-del .fa-minus-circle {
    font-size: 1.5em;
    margin: 0;
}

/* Common */

.div-kit-detail-navigation .btn-detail {
    width: 20%;
}

.kitMain {
    width: 100%;
    background: #FFFFFF;
    height: 670px;
    overflow: hidden;
    overflow-y: auto;
}

#div-kit-view {}

.div-kit-container {
    width: 100%;
    padding: 0px 2% 0 2%;
    box-sizing: border-box;
}

.searchKitLbls,
.inventryLbl {
    color: #000000;
    font-weight: bold;
}

.kitInput,
#div-search-set input,
#div-search-tag input,
#div-part-search input,
#div-search-rep input{
    background-color: rgb(238, 238, 238);
    font-family: "Trebuchet MS";
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #ccc;
    font-size: 1em;
}

/*#div-search-set input, #div-part-search input {width: 250px;}*/

.newKitInput,
.srchSetInput,
#div-search-set input,
#div-search-tag input,
#div-part-search input, #div-search-rep input {
    background: #FFFFFF;
    border: 1px solid #00366e;
}

#div-search-set input,
#div-search-tag input,
#div-part-search input ,
#div-search-rep input{
    padding: 5px 10px !important;
}

#div-search-set #div-common-search-x,
#div-search-tag #div-common-search-x,
#div-part-search #div-common-search-x, 
#div-search-rep #div-common-search-x{
    top: 7px;
    background: none;
    right: 0;
}

.gmWidth232p {
    width: 232px;
}

.gmWidth270p {
    width: 270px;
}

.kitMain #ul-search-resultlist li, .ulshareSearch #ul-search-resultlist li{
    padding: 5px;
    border-bottom: 1px solid #FFFFFF;
    text-align: left;
}

.btn-kit {
/*    width: 100px;*/
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
}

.ulSharebtns {
    border: 1px solid #00366e;
    border-radius: 4px;
}

.ulSharebtns li {
    padding: 5px 19px;
    border-right: 1px solid #00366e;
    color: #00366e;
}

.ulSharebtns li:last-child {
    border-right: 0px;
}

.ulSharebtns li.selected {
    background: #00366e;
    color: #FFF;
}


.ulInvntryBtns li {
    padding: 5px 1%;
    border-right: 1px solid #00366e;
    color: #00366e;
    width: 48%;
    text-align: center;
}

.ulInvntryBtns li:last-child {
    border-right: 0px;
}

.ulInvntryBtns li.selected {
    background: #00366e;
    color: #FFF;
}


#setListMain,
#partListMain {
    border: 1px solid rgb(153, 153, 153);
    margin: 10px 0 0;
    height: 340px;
}

#partListMain {
    height: 340px;
}

.edit-kit #setListMain, .edit-kit #partListMain {
    height: 350px;
}


#kit-summary #setListMain,
#kit-summary #partListMain {
    height: 181px;
    border: 0;
}

#kit-summary #div-set-list #div-setlist,
#kit-summary #div-part-list #div-partlist {
    border: 1px solid rgb(204, 204, 204);
    border-top: 0px;
    box-sizing: border-box;
}


#kit-summary .div-set-setnm a {
    color: #000;
    text-decoration: underline;
}

#kit-summary .div-part-list-item{
    padding: 5px 0;
    box-sizing: border-box;
}


.summary-btn .btn-kit {
    margin: 0 10px;
}

.div-set-list-header,
.div-part-list-header {
    background-color: #91908E;
    width: 100%;
    height: 30px;
    color: #FFFFFF;
    display: inline-flex;
}

.div-set-list-header div,
.div-part-list-header div {
    display: table-cell;
    padding: 7px 5px;
    color: rgb(255, 255, 255);

    box-sizing: border-box;
}

.div-set-list-item,
.div-part-list-item {
    background: #FFFFFF;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    min-height: 35px;
    list-style-type: none;
    display: inline-flex;
    /*    display: inline-block;*/
    color: #000000;
    position: relative;
    overflow: hidden;
}

.div-set-list-item div,
.div-part-list-item div {
    display: table-cell;
    padding: 5px;
    vertical-align: middle;
    word-break: break-word;
    box-sizing: border-box;
}

.div-set-list-item div.li-content,
.div-part-list-item div.li-content {
    width: 100%;
    padding: 0;
    display: table;
    transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
}

.div-set-list-item div.li-content.onShowLi,
.div-part-list-item div.li-content.onShowLi {
    margin-left: -70px;
}

.div-set-list-item div.delete-pu-span,
.div-part-list-item div.delete-pu-span {
    padding: 0;
    width: 70px;
}


        .iphoneKit {
    display: none;
}

.div-set-list-item:hover,
.div-part-list-item:hover {
    background: rgb(221, 221, 221);
}



#div-set-list #div-setlist,
#div-part-list #div-partlist {
    max-height: 318px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.validateImg img {
    width: 24px;
    height: auto;
    margin-left: 5px;
    vertical-align: middle;
}

.validationMsg {
    text-align: right;
    font-size: 13px;
    width: 72%;
}

/*.validateImg img#img-error{width: 25px; margin-left: 5px;}*/

#div-partlist .qty-minus i,
#div-partlist .qty-plus i {
    color: rgb(255, 91, 91);
    font-size: 1.6em;
    margin: 0;
    vertical-align: middle;
}


#div-partlist .qty-plus i {
    color: rgb(79, 202, 79);
    font-size: 1.6em !important;
}

#div-partlist #div-qty-box {
    background: rgb(255, 255, 255);
    padding: 8px 5px;
    box-sizing: border-box;
	width: 30%;
}

#div-partlist .div-part-qty span {
    vertical-align: middle;
}

#div-partlist .div-part-qty a {
    display: inline-block;
    vertical-align: middle;
}

#set-main,
#part-main {
    border: 1px solid #ccc;
    border-top: 0px;
    min-height: 430px;
}

.edit-kit #set-main,
.edit-kit #part-main {
    min-height: 375px;
}

.gmWidth5 {
    width: 5%;
}

.gmWidth10 {
    width: 10%;
}

.gmWidth20 {
    width: 20%;
}

.gmWidth25 {
    width: 25%;
}

.gmWidth30 {
    width: 30%;
}


.gmWidth35 {
    width: 35%;
}

.gmWidth40 {
    width: 40%;
}
.gmWidth45 {
    width: 45%;
}

.gmWidth60 {
    width: 60%;
}

.gmWidth70 {
    width: 70%;
}

.gmWidth80 {
    width: 80%;
}
.partsetLbl{text-align: left;}
.summaryKitLbls{display: inline-block; width: 35%; text-align: right; margin-right: 2%;}
.summaryKitvals{display: inline-block; width: 50%; text-align: left;}
#kit-summary .div-set-list-item div.li-content, #kit-summary .div-part-list-item div.li-content{padding: 5px 0;}
#kit-summary #setListMain.ipadKit #div-set-list #div-setlist, #kit-summary #partListMain.ipadKit #div-part-list #div-partlist{
    height: 155px;
    overflow: hidden;
    overflow-y: auto;
}

.div-case-detail-navigation .btn-detail{width: 20%;}
#div-kit-view #div-search-result-multiple, #share-kit-main #div-search-result-multiple{text-align: center;}

/*kit management report*/

#div-search-kit-list {	
    margin-right: 20px;
}
#div-search-kit-list input{
	    box-sizing: border-box;
    width: 100%;
}

#div-kit-list, #div-inact-list {
    height: 555px;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
}

.div-kit-list-item {
    display: inline-flex;
    width: 100%;
}

.kitShare {
	display: inline-block;
}

#btn-searchKit {
	    float: right;
	margin-top: 3px;
}

.div-kit-list-item .divcell{display: inline-block; padding: 5px; box-sizing: border-box; vertical-align: middle;}
.div-kit-list-item .li-kitlist{vertical-align: middle; width: 100%; display: table;}
#ul-kitlist .div-kit-list-item, #ul-inact-list .div-kit-list-item{border-bottom: 1px solid #ccc;}

#div-crm-overlay-content-container.setPartList .modal-body, #div-crm-overlay-content-container.sharePopup .modal-body{padding: 5px 7px 6px 5px;}
#div-crm-overlay-content-container.setPartList div.gridbox{border: 1px solid #807E7C;}
#div-crm-overlay-content-container.setPartList .modal-header, #div-crm-overlay-content-container.sharePopup .modal-header{background: rgb(0, 54, 110); color: #FFF;}
#div-crm-overlay-content-container.sharePopup .modal-header{padding: 0;}
#div-crm-overlay-content-container.sharePopup .modal-header .close{padding: 10px;}
#div-crm-overlay-content-container.sharePopup #div-crm-popup-msg{margin: 0px;}
#div-crm-overlay-content-container.setPartList .modal-header .close, #div-crm-overlay-content-container.sharePopup .modal-header .close{opacity: 1;}
#div-crm-overlay-content-container.setPartList .modal-header .close i, #div-crm-overlay-content-container.sharePopup .modal-header .close i{color: #FFFFFF;}
#div-crm-overlay-content-container.setPartList div.gridbox .xhdr, #div-crm-overlay-content-container.setPartList div.gridbox table.hdr td{background: #807E7C; color: #FFF; border: 0;}
#div-crm-overlay-content-container.setPartList div.gridbox table.hdr td:nth-of-type(2), #div-crm-overlay-content-container.setPartList div.gridbox .objbox table td:nth-of-type(2){text-align: center;}
#div-crm-overlay-content-container.setPartList div.gridbox .objbox{border: 0px;}


.div-crm-overlay-content-container.sharePopup{max-width: 400px;}
.div-crm-overlay-content-container.sharePopup .modal-title{text-align: center; padding: 10px;}
#div-search-rep input{border-color: #888;}
#div-currently-share{border: 1px solid #888; height: 300px; width: 100%;overflow: hidden;
    overflow-y: auto;
    min-height: 300px;}
#div-currently-share li{ display: inline-block;
    padding: 3px 10px 4px;
    margin: 5px 5px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 15px;
}
#div-currently-share .repName{vertical-align: middle;}
#div-currently-share .repDel{padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    margin-top: -3px;
}
#shareContent, #gridPartDetails{display: block;
    min-height: 100px;}




div.gridbox table.obj td.gridPartDesc {
	overflow-x: scroll;
	overflow-y: hidden;
}

#addpart.onActiveFl{width: 100%}

/*MEDIA QUERIES*/

/* On screens that are more than 767px wide and less than 991px IPAD Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #div-search-set {
        width: 82%;
    }

    #div-search-kit-list {
        margin-right: 10px;
        width: 30%;
    }

    .ulSharebtns li {
        padding: 5px 10px;
    }
    #div-part-search {
        width: 75%;
    }
   
}

/* On screens that are 767px wide or less */


@media screen and (max-width: 767px) {
    .kitMain {
        height: 94vh;
    }

    .ipadKit {
        display: none;
    }

    .partsetLbl {
        text-align: center;
    }

    .summaryScroll {
        height: 460px;
        overflow: hidden;
        overflow-y: auto;
    }

    #kit-summary .div-set-list-item:last-child,
    #kit-summary .div-part-list-item:last-child {
        border-bottom: 0px;
    }

    .edit-kit #setListMain,
    .edit-kit #partListMain {
        height: 282px;
    }

    .liKitIdMain {
        width: 100%;
        float: left;
    }

    .liKitNmMain {
        width: 100%;
    }

    .searchKitLbls,
    .ulKitNm .searchKitLbls,
    .ulKitId .searchKitLbls {
        text-align: left;
        width: 100%;
    }

    .new-kit .liKitIdMain {
        display: none;
    }

    .edit-kit .liKitIdMain {
        display: block;
    }

    .summaryKitLbls,
    .summaryKitvals {
        display: block;
        width: 100%;
        text-align: left;
    }

    .iphoneRight,
    .iphoneRight .summaryKitLbls,
    .iphoneRight .summaryKitvals {
        text-align: right;
    }

    #div-partlist #div-qty-box {
        padding: 8px 2px;
    }

    /*    <!-- alignment issue fixed for kit-mobile -->*/
    #div-kit-view .gmMarginRight10p.inventryLbl {
        display: block;
    }

    #div-search-kit-list.gmWidth35 {
        width: 65%;
        margin-bottom: 12px;
        margin-right: 0px;
    }

    #ul-kitlist .div-kit-list-item .divcell {
        word-break: break-all;
    }

    #ul-kitlist .div-kit-kitnm {
        text-align: left;
        padding-left: 15px;
        width: 42%;
    }

    #kitHomeMain .div-kit-kitnm-set {
        text-align: right;
    }

    .iphoneKit {
        display: block;
    }

    #div-setlist li.div-set-list-item:nth-child(even) {
        background-color: #e4e4e4;
    }

    .gmMarginTop15p .gmFontLightGrey {
        font-size: 15px;
    }

    .summary-btn .btn-kit {
        width: 85%;
        margin: 0;
        font-size: 15px;
    }

    #div-partlist .div-part-nm {
        text-align: left;
        padding-left: 20px;
    }

    #div-kit-view .ulKitNm .searchKitInput {
        width: 100%;
        margin-top: 5px;
    }

    .partsInc #setListMain #div-set-list #div-setlist,
    .partsInc #partListMain #div-part-list #div-partlist,
    .setsInc #div-set-list #div-setlist,
    .setsInc #div-part-list #div-partlist {
        max-height: 100%;
    }

    .summaryScroll #div-part-list #div-partlist,
    .summaryScroll #div-part-list #div-setlist {
        max-height: 100%;
        overflow: unset;
    }

    #setListMain #div-set-list #div-setlist,
    #partListMain #div-part-list #div-partlist {
/*        max-height: 290px;*/
    }

    /*
    #kit-summary .gmTextAll ul.iphoneRight:nth-child(2) {
    display: none;
   }
*/
    #setListMain,
    #partListMain {
        height: 320px;
        margin-bottom: 8px;
    }

    #div-kit-view #set-main,
    #div-kit-view #part-main {
        min-height: 405px;
    }

    #div-kit-view #div-kit-list,
    #div-kit-view #div-inact-list {
        height: 472px;
        box-sizing: border-box;
    }

    #div-show-num-keypad {
        left: 75px;
    }

    #div-kit-view .edit-kit #set-main,
    #div-kit-view .edit-kit #part-main {
        min-height: 370px;
    }

    #div-kit-view .edit-kit #div-set-list #div-setlist,
    #div-kit-view .edit-kit #div-part-list #div-partlist {
        max-height: 252px;
    }

    #div-crm-overlay-content-main {
        z-index: 999;
    }

    #div-crm-overlay-content-main .setPartList.div-crm-overlay-content-container {
        width: 350px;
/*        height: 64vh;*/
    }

    #div-crm-overlay-content-container.sharePopup {
        height: 79vh;
        max-width: 350px;
    }
/*
    #div-crm-overlay-content-container  .modal-body{
        height: 100%;
    }
*/
    #div-crm-overlay-content-container #gridPartDetails .objbox table.obj{
        width: 100% !important;
    }
    
    #div-kit-view .ulKitNm ~ .validationMsg {
        width: 80%;
    }

    .sharePopup .modal-body {
        height: 71vh;
    }

    #div-crm-overlay-content-container.sharePopup #div-currently-share {
        overflow-x: hidden;
        height: 300px;
        overflow-y: scroll;
    }

    .new-kit #btn-createKit,
    #kit-summary .div-kit-container ul.gmMarginBottom10p.gmTextCenter {
        margin-top: 12px;
    }

/*
    #div-search-set {
        width: 100%;
    }
*/
    .sharePopup .modal-body{
        width: 96%;
    }
    
    #gridPartDetails .xhdr table.hdr{
	width: 100% !important;
    }
    #div-crm-overlay-content-container.setPartList{
        height: 455px;
    }

}

/* On screens that are 640px wide or less */
@media screen and (max-width: 640px) {
    .summary-btn {
        width: 32%
    }
}

@media screen and (min-width: 376px) and (max-width: 414px) {

    #div-kit-view #div-kit-list,
    #div-kit-view #div-inact-list {
        height: 512px;
    }

    .summaryScroll {
        height: 505px;
    }

    .edit-kit #setListMain,
    .edit-kit #partListMain {
        height: 320px;
    }

    #div-crm-overlay-content-container.sharePopup {
        height: 75vh;
    }

    #setListMain,
    #partListMain {
        height: 372px;
    }

    #partListMain #div-part-list #div-partlist {
        max-height: 342px;
    }
    
    #setListMain #div-set-list #div-setlist{
/*        max-height: 280px;*/
    }

    #div-kit-view .kitShare .ulSharebtns li {
        padding: 5px 25px;
    }

    .barcode.gmAlignHorizontal.gmVerticalMiddle.gmMarginLeft5p {
        margin-left: 10px;
    }
    #set-main .partsetLbl  #div-search-tag {
    width: 86%;
    }
    #div-kit-view .new-kit #set-main{
        min-height: 300px;
    }
    .new-kit.edit-kit #setListMain{
        height: 258px;
    }
    #div-show-num-keypad {
    left: 95px;
  }
    #div-kit-view .edit-kit #div-set-list #div-setlist{
            max-height: 228px;
    }
    #div-kit-view .edit-kit #div-part-list #div-partlist{
        max-height: 290px;
    }
    .new-kit #setListMain{
        height: 310px;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {

    #div-kit-view #div-kit-list,
    #div-kit-view #div-inact-list {
        height: 448px;
    }

    .summaryScroll {
        height: 445px;
    }

    #div-kit-view .edit-kit #div-set-list #div-setlist,
    #div-kit-view .edit-kit #div-part-list #div-partlist {
        max-height: 225px;
    }

    .edit-kit #setListMain,
    .edit-kit #partListMain {
        height: 255px;
    }

    #div-kit-view .edit-kit #set-main,
    #div-kit-view .edit-kit #part-main {
        min-height: 350px;
    }

    #div-crm-overlay-content-container.sharePopup {
        height: 83vh;
    }

    
    #div-crm-overlay-content-container.sharePopup  .modal-body{
        height: 74vh;
    }
    
/*
    #div-crm-overlay-content-main .setPartList.div-crm-overlay-content-container{
        height: 71vh;
    }
*/

    .new-kit #btn-createKit,
    #kit-summary .div-kit-container ul.gmMarginBottom10p.gmTextCenter {
        margin-top: 10px;
    }

    #setListMain #div-set-list #div-setlist,
    #partListMain #div-part-list #div-partlist {
/*        max-height: 280px;*/
    }

    #setListMain #div-set-list #div-setlist{
/*        max-height: 218px;*/
    }
/*
    #div-crm-overlay-content-container.setPartList .modal-body{
        height: 62vh;
    }
*/
    
    #partListMain, #setListMain {
        height: 310px;
    }
    
/*
    #setListMain{
        height:248px;
    }
*/
    
    #div-kit-view #set-main,
    #div-kit-view #part-main {
        height: 350px;
    }

    .barcode.gmAlignHorizontal.gmVerticalMiddle.gmMarginLeft5p {
        margin-left: 5px;
    }
   #set-main .partsetLbl  #div-search-tag {
       width: 85%;
    }
/*
    .edit-kit #setListMain{
         height: 195px;
    }

    #div-kit-view .edit-kit #div-set-list #div-setlist{
    max-height: 165px;
    }
 */  
     
}



/* On screens that are 480px wide or less */

@media screen and (max-width: 480px) {
    #div-search-kit-list.gmWidth35 {
        width: 70%;
    }

}

@media screen and (max-width: 365px) {
    #div-search-kit-list.gmWidth35 {
        width: 65%;
    }


}

