/* CSS for Login Page */

/*
#btn-login {
	background-color: #204D78;
	border-radius: 3px;
	color: white;
	padding: .70em;
	width: 100%;
	text-align: center;
}
*/

#div-login {
	/*background-color: #ccc;*/
	margin: auto;
	width: 300px;
}

#div-login span {
	color: red;
	display: block;
/*	margin-top: 5px;*/
}

#div-login-content {
	height: 100%;
	width: 100%;	
}

#div-logo {
	height: 200px;
	text-align: center;
}

#div-login input {
	font-size: 1em;
	height: 20px;
	width: 100%;
	background-color: transparent;
	border: 0;
	margin-top: 10px;
	color: #fff;
}
#div-login input:focus{outline: 0}
#div-login ul {
	min-width: 100px;
	padding: 0.5em;
}

#div-login ul li {
	margin: auto;
	margin-top: 2px;
	width: 250px;		
}

#div-login-failed {
    background-color: white;
	border-radius:3px;
	display: none;
	height: 130px;
	margin: auto;
	padding: 1px;
	position: absolute;
	text-align: center;
	width: 250px;  
}

#div-msg-failed {
      color: black;
      font-weight: 500;
      margin: 20px 20px 5px 20px;
}

#div-invalid-msg {
      color: black;
      font-size: 0.9em;
      padding: 1em 1em 1.8em 1em;
      font-weight: bold;
}

/*
#li-login {
	padding: 1.5em 0em 1em 0em;
	width: 250px;
}
*/

#div-login-background {
    width: 100%;
    height: 40px;
    background: #FFF;
    opacity: .5;
    border-radius: 3px;
}
#btn-login {
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: -40px;
    padding: 12px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.background-image {
		background-size: 786px 1024px;
		background-repeat:no-repeat;
	}

	#div-login-content {
		margin-top: 100px;
	}

}

@media screen and (min-width: 1024px) {
	#div-login-content {
		margin-top: 50px;
	}

	#div-sidepanel {
		left: 1025px;
		height: 90%;
	}

	#div-sidepanel #div-itemlist {
		height: 550px;
		margin-top: 20px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

#div-env {
	width: 200px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	text-align: right;
	color: white;
	text-transform: uppercase;
}

.login-line {
	width: 300px;
	border-bottom: 1px solid #fff;
}