/**********************************************************************************
 * File:        GmPriceStyleMobile.css
 * Description: Price Initiate Screen CSS
 * Version:     1.0
 **********************************************************************************/
.mobPrice {
    display: none !important;
}

#div-price-account-header-name-mob, .mobPricing {
    display: none;
}

.div-main-threshold-content .div-threshold-text-border .div-navigation{
    display: none;
} 

.div-price-Report-info .div-price-report .pricing-mob{
        display: inline-block;
}

#li-gpb-price-acct-head, #div-price-overlay-content-container8 .div-cancel-screen li:nth-child(2){
    display: inline-block;
}

.div-gph-acct, #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls #div-gpb-contact-details .fa-chevron-down, #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls #div-gpb-contact-details .fa-chevron-up{
    display: none;
}
/*MEDIA QUERY FOR iPHONE*/
@media (min-width: 320px) and (max-width: 767px) {

    .li-pricing-initiate, .browser .li-pricing-initiate {
        width: 45%;
    }
    .ul-pricing-top-header .div-pricing-header-buttons span {
        display: none;
    }
    .div-price-label1, .div-Sys-label {
        width: 100%;
    }
    .ul-price-group-bottom-list {
        margin-left: 0;
    }
    .mobPrice {
        display: inline-block !important;
    }
    .div-pricing-header-buttons li {
        padding: 0 2px;
    }

    .div-pricing-header-buttons {
        margin-left: 0;
    }
    .li-pricing-info, .browser .li-pricing-info {
        width: 97%;
    }
    #div-price-type-header{
        text-align: left;
        width: 35px;
    }
    .div-price-label,
    .div-price-request-id-label.mobPrice {
        width: 50%;
        float: left;
    }

    .ul-pricing-info #div-price-account-header,
    .ul-pricing-info #div-do-system-label-header,
    .ul-pricing-info #div-rep-account-id,
    .ul-pricing-info #btn-price-go-btn,
    .ul-pricing-info .div-price-buttons .div-projected-scale,
    .mobhide {
        display: none !important;
    }

    .ul-price-total-detail-info #txt-billing-account {
        margin: 0;
        text-overflow: ellipsis;
    }

    #div-rep-account-list,
    #div-selected-system-list {
        width: 92%;
        height: 35px;
    }

    .div-price-label{
        padding-bottom: 10px;
    }

    #li-price-info-lable .fa-information-circle {
        margin-left: 0;
        margin-top: 0;
    }

    .li-pricing-info-validation {
        margin: 0;
        padding: 0px 10px;
        text-align: left;
    }

    #li-price-info-system-lable .div-price-buttons {
        width: 100%;
        padding: 0 0 15px;
    }

    .ul-pricing-info .div-price-buttons .div-projected-scale-value #div-price-value-input {
        width: 100%;
        text-align: left;
        border-radius: 0;
    }

    .div-projected-scale-value {
        width: 55%;
    }

    #div-price-request-id-header,
    #div-price-request-id-name {
        text-align: left;
        width: 85px;
    }

    #div-pricing-accnt {
        width: 135px;
    }

    #div-pricing-accnt .div-dropdown-text {
        margin-left: 15px;
        width: 100px;
    }

    #li-price-info-lable {
        padding-bottom: 0;
    }

    .div-price-request-id-label.mobPrice {
        padding: 12px 0;
    }
    .div-price-width, .div-pricing-change, .browser .div-pricing-change {
        width: 100%;
    }
    #div-price-view .div-price-weight {
        width: 100%;
        margin: 20px 0 0;
    }
    .div-pricing-change{
        display: none;
    }
    .ul-price-save-btn {
        display: none !important;
        margin-top: 10px;
        margin-left: 10px;
        width: 95%;
    }

    #div-price-System,
    .div-price-widget-details,
    .browser #div-price-System,
    .browser .div-price-widget-details{
        height: 288px;
    }

    .div-price-threshold-btn,
    .div-price-impact-btn,
    .div-price-upload-btn,
    .div-price-sales-analysis {
        width: 45%;
    }
    #div-pricing-accnt .div-dropdown-list{
        width: 135px;
    }
    #div-pricing-accnt .div-dropdown-list li{
        width: 110px;
        padding-left: 25px;
    }
    #div-selected-system-list #div-search-result-multiple{
        padding: 10px;
    }
    #div-price-account-header-name-mob {
        display: none;
        float: left;
        width: 26%;
        text-align: left;
        margin-left: 0;
        padding-top: 8px;
    }

    .li-price-load-groups,
    .li-price-auto-populate,
    .li-price-extend-current,
    #li-price-check-load-all-groups,
    #li-price-check-auto-populate {
        display: none;
    }

    .div-price-data .li-price-change-heading {
     text-align: center;
    float: left;
    width: 60%;
    margin-left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: scroll;
    padding: 12px 0;
    }

    .div-price-value {
        width: 50px;
    }

    .div-price-percentage-value-input input {
        width: 45px;
        margin: 0;
    }

    .li-price-data-content {
        margin: 5px;
        width: 14%;
    }

    .ul-price-data-content .li-price-data-content:first-child {
        width: 22%;
        margin-left: 0;
    }

    .div-price-type {
        width: 75px;
    }

    .ul-price-group-header {
        display: none;
    }

    .div-price-cls-input .div-dropdown-text {
        width: 95px;
    }

    .div-price-cls-input {
        width: 125px;
    }

    .div-price-data .div-p-icon {
        width: 18px;
        padding: 6px 4px 2px 4px;
    }

    #li-price-system-name {
        width: 75%;
        margin: 7px 7px;
        vertical-align: top;
        float: left;
    }

    #li-price-group-pruposed {
        margin: 3px 0 0 20px;
        float: left;
    }

    #li-price-system-Pruposed-unit {
        float: left;
        width: 50px;
    }

    #li-price-system-Pruposed-ext {
       width: 52px;
    margin-left: 18px;
       vertical-align: sub;
    }

    #li-price-group-tripwire {
        margin: 0 5px;
    }

    #li-price-system-Tripwire-unit,
    #li-price-system-Tripwire-ext {
        width: 45px;
        text-align: right;
        margin-right: 0;
    }

    #li-price-group-current,
    #li-price-system-current {
        margin-left: 0;
        position: relative;
        left: 15px;
        float: left;
    }

    .mobPricing#li-price-Tripwire-ext {
        margin: 0 5px;
    }

    #li-price-system-flag {
        position: relative;
        left: 140px;
        top: -28px;
    }

    .ul-price-system-details {
        height: auto;
        border-bottom: 1px solid #ddd;
        display: inline-block;
        width: 100%;
    }

    #li-price-system-current {
        width: 45px;
        float: left;
    }

    .ul-price-data-content {
        height: 60px;
    }

    .mobSystem {
        position: relative;
        top: -5px;
        font-size: 20px;
        float: right;
        right: 12px;
    }

    #li-price-system-qty {
        width: 26px;
    }

    .li-price-level-construct {
        width: 190px;
    }

    .li-price-pruposed-ext-price-total,
    .li-price-tripwire-ext-price-total {
        width: 55px;
    }

    .li-price-tripwire-ext-price-total {
        margin-right: 0px;
    }

    .div-price-data, .browser .div-price-data {
        height: 390px;
        margin-left: 0;
    }

    #groupId, .browser #groupId {
        height: 300px;
    }

    .div-price-label1 {
        width: 88%;
    }

    .div-price-request-id-label {
        position: absolute;
        top: 15%;
        left: 52%;
    }

    .reqPos {
        position: unset;
    }

    .div-price-detail-navigation .btn-detail {
        width: 45.33% !important;
        margin: 0 4px;
        padding: 2px 4px;
    }
    .div-price-cls-input .div-dropdown-list li{
        width: 95px;
    }
    .div-price-cls-input .div-dropdown-list {
    width: 125px;
    }
    .systemNavigation {
        display: inline-block;
        width: 100%;
    }

    .div-pre, .div-first, .div-last,
    .div-nxt {
        width: 25px;
        float: left;
        margin: 0 5px;
        text-align: center;
        font-size: 20px;
        display: inline-block;
    }
    .ul-price-pricing {
        height: 40px;
    }
    .mobSystem i,
    .mobpartDetails i,
    .mobreportDetails i {
        font-size: 32px;
    }
 #div-price-overlay-content-container5{
        margin-top: 5vh;
    }
    .div-pricing-overlay #div-price-overlay-content-container7 {
        max-width: 350px;
        margin-top: 30px;
    }
    .div-pricing-overlay #div-price-overlay-content-container6 .modal-body-priceinfo,
    .div-pricing-overlay #div-price-overlay-content-container7 .modal-body-priceinfo {
    height: 83vh;
}

    .li-price-account-details .div-account-information,
    .li-price-account-details .div-account-details {
        width: 155px;
    }

    .modal-body-priceinfo .div-group-price-top-header {
        display: none;
    }

    .modal-body-priceinfo .div-group-price-details #li-group-price-part-number-id {
        width: 75px;
    }

    .modal-body-priceinfo .div-group-price-details #li-group-price-part-desc-id {
        width: 225px;
    }

    .modal-body-priceinfo .div-group-price-details #li-group-price-list-price-id,
    .modal-body-priceinfo .div-group-price-details #li-group-price-trip-wire-id {
        width: 152px;
        margin-top: 8px;
    }

    .div-price-group-close-btn {
        margin: 6px 145px;
    }

    #div-price-overlay-content-container7 .div-group-part-pricing .div-group-price-details {
        height: 430px;
    }

    #div-price-overlay-content-container7 .modal-body-priceinfo .div-group-part-pricing {
        height: 475px;
    }

    .divHide {
        visibility: hidden !important;
    }

    .modal-body-priceinfo .div-main-account-details1 {
        height: 100%;
        overflow: auto;
    }
    .modal-body-priceinfo .div-group-price-details #li-group-price-list-price-id:before,
    .modal-body-priceinfo .div-group-price-details #li-group-price-trip-wire-id:before{
    content: attr(data-title);
    padding: 0 0.5em;
    color: #000;
    position: relative;
    left: -50px;
}
    .modal-body-priceinfo .div-group-price-details #li-group-price-trip-wire-id:before{
            left: -25px;
    }
    .div-price-detail-navigation .btn-detail span {
    font-size: 12px;
}

    .mobPricing{
        display: inline-block;
    }

    .div-first a {
        color: #766D5E;
        display: inline-block;
    }

    .div-nxt {
        margin-right: -2px;
    }

    .mobproductDetails {
        width: 100%;
        padding: 15px 0 10px 0;
        display: none;
    }

    #li-add-system-desc {
        width: 85%;
    }

    .showproductDetails {
        display: inline-block;
    }

    .mobSystem i.onActive,
    .mobpartDetails i.onActive,
    .mobreportDetails  i.onActive
    {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .mobpartDetails {
        margin-left: 8px;
        font-size: 18px;
        vertical-align: middle;
    }
        .mobgroupDetails {
        background: #b5b5b5;
        margin: 10px 0 -10px 0;

    }
    .hidepartInfo{
        display: none;
    }

.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-list-price-id:before,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-trip-wire-id:before,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-part-number-id:before,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-part-desc-id:before {
        content: attr(data-title);
    width: 30%;
    padding: 0 0.5em;
    color: #000;
    position: absolute;
    left: 6px;
    
}

.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-part-number-id,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-part-desc-id,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-list-price-id,
.modal-body-priceinfo .div-group-price-details .mobgroupDetails #li-group-price-trip-wire-id {
   width: 56%;
    float: left;
    min-height: 18px;
    padding: 0.5em;
    position: relative;
    padding-left: 42%;
    white-space: normal;
    text-align: left;
    margin: 0;
}
    /*Dashboard css for mobile*/
    .ul-pricdiv-price-reporting-report-info{
        width: 100%;
    }
    #div-pricing-sts-drpdwn.gmText200 {
    width: 142px;
}
    .div-price-Report-info .li-pricing-report-info {
    float: left;
    width: 42%;
}
    .div-price-Report-info #li-price-date-label {
    width: 100vw;
}
    .li-price-report-label #div-price-info-to-date {
    width: 140px;
}
    .div-price-Report-info .div-price-submit-label {
    width: 55%;
    float: left;
    padding: 22px 0;
}
    #div-price-request-number{
        width: 70px;
        margin-right: 0;
    }
    #div-pricing-request input{
        width: 100px;
    }
    .price-from-date-filter {
        margin-left: 0;
    }

    .div-price-Report-info .div-price-info-label-header {
            width: 48px;
    margin-right: 2px;
    }
    .div-price-Report-info #div-price-info-to-date .div-price-info-label-header {
    width: 15px;
}

    .div-price-Report-info .li-price-report-label .price-dash {
        width: 46%;
    }

    .div-price-Report-info .li-price-report-label #label-price-from-info-date,
    .div-price-Report-info .li-price-report-label #label-price-to-info-date {
        width: 80px;
    padding: 0.50em 0.3em;
    font-size: 0.93em;

    }

    .div-price-Report-info .li-price-report-label .gmBtn {
        padding: 10px 8px;
    }
    .div-price-report, .browser .div-price-report{
        width:  94%;
        height: 430px;
    }
    .div-price-Report-info .div-price-report .div-price-reports .li-price-report-details div {
        width: 54%;
        float: left;
        min-height: 18px;
        padding: 4px 0.5em;
        position: relative;
        padding-left: 44%;
        white-space: normal;
        text-align: left;
        margin-left: 0;
    }
    .div-price-Report-info .div-price-report .div-price-reports .li-price-report-details div:before {
        content: attr(data-title);
        width: 35%;
        padding: 0 0.5em;
        color: #000;
        position: absolute;
        left: 6px;
    }

    .li-price-report-label #sp-cal {
        font-size: 18px;
    }

    .li-price-report-details {
        background: #989898;
    }

    .div-price-report #div-overflow{
        height: 430px;
    }

    .mobreportDetails {
        padding: 0 10px;
        position: relative;
        top: 24px;
        float: right;
        margin-top: -22px;
    }
    .div-price-Report-info .div-price-report .div-price-reports .li-price-report-details .pricereportView{
        display: none;
    }
    .div-pricing-overlay #div-price-overlay-content-container8 {
    max-width: 335px;
    margin: 5px auto;
    margin-top: -10vh;
    }

    .li-cancel-report-cls .div-price-req-comments {
        margin: 5px 10px;
    }


    #div-popup {
        margin-top: 33px !important;
        background-color: black;
    }
    .businessMain .div-threshold-questions{
        width: 100%;
    }
    .div-main-threshold-content .div-threshold-text-border{
        width: 97%;
    }
    .businessMain .div-threshold-questions{
        width: 94%;
    }
    
    .businessMain .div-threshold-questions ul li:nth-child{
        width: 65px;
    }
    
    .businessMain .div-threshold-questions ul li:nth-child(2){
        width: 86%;
        margin-left: 0px;
    }
    
    .businessMain .div-threshold-questions .ul-question_align .li:first-child{
        width: 64px;
    }
    
    .div-threshold-text-border {
        width:  96%;           
    }
    .ul-question_align{
        width: 100%;
    }
    
    .businessMain .div-threshold-answer-block .li-answer-symbol {
        display: none;
    }
    
    .businessMain .div-threshold-questions .ul-question_align .li:nth-child(3){
        width: 322px;
        margin-left: -34px;
        margin-top: -2px;
    }
     
    .businessMain .div-threshold-questions .div-threshold-answer-block .li-threshold-answer{
        width: 100%;
    }
    
    .businessMain .div-threshold-questions .div-threshold-answer-block .li-threshold-answer textarea{
        width: 80% !important;
        margin-left: 26px;
        height: 206px !important;
    }
    
    .div-threshold-answer-block #li-threshold-answer-no textarea{
        margin-left: 20px;
        margin-top: 12px;
    }
    
    #msg-overlay .div-pricing-overlay{
        width: 94%;
        margin-left: 14px;
    }
    
    .businessMain .div-threshold-questions ul li .pricing-answers{
        width: 100%;
        height: 200px;
    }
    
    .businessMain .div-threshold-questions{
        display: none;
    }
    
    .businessMain .div-threshold-questions.active{
        display: block;
    }
    
    #div-threshold-submit{
        width: 64%;
        margin-left: 44px;
    }
    .div-threshold-text-border .div-arrow{
        float: right;
        margin-right: 17px;
        padding: 3px 3px 3px 9px;
    }
    
    .businessMain .active{
        background-color: white !important;
        color: black !important;
    }
    
    .li-threshold-answer-comments{
        margin-left: 14px;
        width: 86%;
    }
    
    
    .div-arrow1{
        width: 18px;
        padding: 3px 9px 3px 3px;
    }
    
    #div-threshold-question7{
        margin-left: 8px;
    }
    
    .businessMain .div-threshold-answer-block #li-pricing-dropdown{
        margin-left: 26px;
        margin-bottom: 12px;
    }

    .div-threshold-text-border .businessMain, .div-threshold-answer-comments {
        width: 100%;
    }
    
    .li-busQus-button.div-price-threshold-btn.mobPrice {
        width: 20px;
        border: none;
        background: none;
        font-size: 14px;
    }
    
    .div-main-threshold-content .div-threshold-text-border .div-navigation{
        display: inline-block;
        width: 100%;
    } 
    
    
/*    Void screen*/
    #div-price-overlay-content-container8{
        margin-top: 0px;
    }
    
    .div-cancel-screen{
        width: 100%;
    }
    
    .div-cancel-screen .li-cancel-report-cls #div-trans-comments{
        width: 24%;
        margin-left: 24px;
    }
    
    .div-cancel-screen .li-cancel-report-cls #li-price-req-id{
        margin-left: 3px;
        width: 44%;
    }
    .div-cancel-screen .li-cancel-report-cls #li-price-req-id .pricing-cancel{
        width: 100%;
        height: 60px;
    }
    
     #div-price-overlay-content-container8 .modal-body-priceinfo{
        margin-top: 82px;
    }
    #div-price-overlay-content-container8 #void-pricing{
        height: 37vh;
    }
    #div-overflow .div-price-report-details .li-price-report-details div {
    width: 45%;
    float: left;
    min-height: 18px;
    padding: 0.5em;
    position: relative;
    padding-left: 44%;
    white-space: normal;
    text-align: left;
    
}
    .onSwipe div{
    width: 37%!important;
    }
     #div-overflow .div-price-report-details .onSwipe .delete-pu-span{
         width: 16%!important;
    padding: 0;
    float: right;
    height: 183px; 
    margin-bottom: -10px;
    margin-top: -10px;
    }
    #div-overflow .Active .onSwipe  .delete-pu-span{
    height: 286px;
    }
   
    #div-overflow .div-price-report-details .li-price-report-details div:before {
    content: attr(data-title);
    width: 35%;
    padding: 0 0.5em;
    color: #000;
    position: absolute;
    left: 6px;
}

    
/*    Info icon*/
    
    #div-price-overlay-content-container6 ul .modal-body-priceinfo {
        margin-top: 11px;
    }
    
    #li-gpb-price-acct-head{
        display: none;
    }
    
    #div-gpb-detail-content .li-gpb-price-acct{
        background-color: #b5b5b5;
         width: 98%;
        border-bottom: 1px solid #f3f3f3;
    }
    
    #div-gpb-detail-content .li-gpb-price-acct .div-gpb-dtls{
        width: 99%;
    }
    
    #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls .div-gph-acct{
        width: 40%;
        display: inline-block;
        margin-left: 17px;
    }
    
    #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls .div-gph-acctdtls{
        width: 50%;
        float: right;
        margin-top: -17px;
        margin-right: 22px;
    }
    
    #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls #div-gpb-contact-details .fa-chevron-down, #div-gpb-detail-content #li-gpb-price-acct-detail .div-gpb-dtls #div-gpb-contact-details .fa-chevron-up{
        float: right;
        display: inline-block;
        font-size: 22px;
    }
    
    #div-gpb-detail-content{
        max-height: 517px;
    }
.div-price-Report-info .div-price-report .pricing-mob {
        display: none;
    }
   
    .pricing-mob{
        display: none!important;
    }
    
.div-pricing-info .div-price-Report-info .filter-criteria-content .div-criteria.div-text-selected-crt,
    .div-price-Report-info .filter-criteria-content #criteria-selected-itmes .div-criteria {
    width: 94%;
    min-width: 90%;
}
    .div-price-Report-info .filter-criteria-content {
    margin: 10px;
    height: auto;
    width: 95%;
}
.modal-body-priceinfo .li-cancel-report-cls .div-price-req-comments textarea {
    width: 195px;
    margin-left: 0;
}
    .modal-body-priceinfo .div-cancel-screen .li-cancel-report-cls .div-trans-class {
    width: 105px;
    text-align: left;
    padding: 15px 10px;
}
    .modal-body-priceinfo .div-cancel-screen #div-reason-submit-id {
    margin-left: 125px;
}
    .div-price-report-details .mobPrice .div-red-close {
    background: #ff5b5b;
    position: absolute;
    width: 15%;
    height: auto;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    visibility: hidden;
    opacity: 0;
}
    .div-price-submit-label1 {
    width: 100%;
    }
    .div-pricesubmit-req-acc-name {
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-y: scroll;
}
    #li-price-info-lable #div-price-account-header-name {
    text-align: left;
    width: 83px;
}
    #div-price-overlay-content-container5 .modal-body-priceinfo {
        overflow-y: hidden;
    }
    .div-price-report-details{
        overflow-x: hidden;
    }
    .arrowhide{
        display: none !important;
    }
    .div-price-data .arrowhide~.li-price-change-heading {
    width: 80%;
} 
   #div-dash-price-overview .fa-price-minus-circle {
    font-size: 22px;
    margin-top: 2px;
}
    .li-group-part-cancel-button{
        padding-right: 7px;
    }
   
    .div-pricing-overlay #div-price-overlay-content-container6{
        max-width: 350px;
        margin-top: 0px;
    }
    .div-price-header-info #div-rep-account-list #div-common-search-x,
    .div-price-header-info #div-selected-system-list #div-common-search-x {
        right: -15px !important;
        top: 10%;
    }

    .div-price-data .li-price-group-details {
        float: left;
    }

    .div-price-data .mobproductDetails .li-price-group-details {
        float: none;
    }
    label.priceReport i {
    float: right;
    font-weight: bold;
}
    label.priceReport, label.rqstDtls {
    background-color: #008844;
    padding: 8px;
    color: #fff;
    margin: 10px 10px 0;
}
    .div-last.mobPrice {
    float: right;
    }

    a#loadRequestid {
        color: rgb(0, 0, 238);
    }
    .div-price-header-info .rqstDtls .fa-lg{
        float: right;
    }
    .div-price-header-info.toggleFilter #ul-price-border-info{
        display: none;
    } 
    .div-price-data {
    height: 390px;
    }
    #groupId {
    height: 304px;
    }
    .ReqDet .div-pricing-change .div-price-data {
         height: 496px;
    }
    .ReqDet .div-pricing-change .div-price-data #groupId {
        height: 393px;
    }
    .mobSystem a.togglebx.onActive{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    width: 100%;
    height: 100%;
    }
    .mobSystem a.togglebx img{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .toggle-li {
            height: 30px;
    width: 10%;
    top: 0!important;
    }
    .toggle-li .togglebx.onActive{
        margin-top: 0px;
    }
    .toggle-li .togglebx{
         margin-top: -5px;
    }
       
    }

@media screen and (min-width: 376px) and (max-width: 480px) {

    .div-price-data {
    height: 468px;
    }
    #groupId {
    height: 363px;
    }
    .ReqDet .div-pricing-change .div-price-data {
         height: 564px;
    }
    .ReqDet .div-pricing-change .div-price-data #groupId {
        height: 456px;
    }
    #div-price-System, .div-price-widget-details {
    height: 410px;
}
    .div-price-request-id-label{
        top: 13.6%;
    }
    .div-price-data .li-price-change-heading{
        width: 65%;
    }
    .mobSystem a.togglebx.onActive{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .mobSystem a.togglebx img{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .div-price-header-info .rqstDtls .fa-lg{
        float: right;
    }
    .div-price-header-info.toggleFilter #ul-price-border-info{
        display: none;
    } 
    .div-price-data {
    height: 390px;
    }
    #groupId {
    height: 304px;
    }
    .demo .div-pricing-change .div-price-data {
         height: 496px;
    }
    .demo .div-pricing-change .div-price-data #groupId {
        height: 393px;
    }
    #li-price-system-flag
    {
        left: 175px;
    }
}

@media only screen 
and (min-device-width : 375px) 
    and (max-device-width : 667px) {
        
   .div-report-height.div-price-report, .div-price-report.div-report-height #div-overflow{
        height: 300px;
    }
       
}

@media only screen 
and (min-device-width : 414px) 
    and (max-device-width : 736px) {

.div-report-height.div-price-report{
    height: 370px;
  }

.div-price-report.div-report-height #div-overflow {
    height: 370px;
  }

.div-price-report #div-overflow {
    height: 500px;
  }

.div-price-report {
    width: 94%;
    height: 500px;
  }

}