/**********************************************************************************
 * File:        GmPriceCommon.css
 * Description: Price Initiate Screen CSS
 * Version:     1.0
 * Author:     	jreddy
 **********************************************************************************/

.browser .portal {
    display: none;
}

.browser .ul-price-group-qty {
    /*    min-height: 100px;*/
    /*    height: 100%;*/
    /*       max-height: 250px;*/
}

.browser #groupId {
    /*    height: auto;*/
    height: 377px;
}

.browser .new-error-show {
    background-color: red!important;
    color: white!important;
}

.browser .new-success-show {
    background-color: green!important;
    color: white!important;
}

.new-error-show {
    background-color: red!important;
    color: white!important;
}

.new-success-show {
    background-color: green!important;
    color: white!important;
}

.browser .li-pricing-initiate {
    display: inline-block;
    width: 700px;
}

.browser .div-price-data {
    margin: 30px 0px 0px 7px;
    height: 540px;
}

.browser #div-price-System {
    height: 540px;
    margin: 30px 10px 2px 10px;
}

.browser .div-price-widget-details {
    height: 540px;
}

.browser .div-price-System-attr {
    width: 250px;
    vertical-align: top;
}

.browser .ul-price-save-btn {
    display: inline-block;
    margin-top: 4px;
    margin-left: 20px;
}

.browser .div-pricing-change {
    width: 75%;
    vertical-align: top;
}

.browser .div-price-weight {
    border: 1px solid #ccc;
    /* border-radius: 3px; */
    display: inline-block;
    width: 220px;
}

.browser .div-price-width {
    width: 235px;
}

.browser .li-pricing-info {
    display: inline-block;
    width: 98%;
    padding: 30px 0px 0px 10px;
}

.browser .div-pricing-info-change {
    margin: 5px 10px 10px 10px;
}

.browser .div-price-initiated-by {
    width: 137px;
    margin-left: 235px;
    margin-right: 5px;
}

.browser .div-price-initiated-on {
    width: 170px;
}

.browser .div-price-updated-on {
    width: 75px;
}

.browser .div-price-status-name {
    width: 80px;
    float: right;
    margin-right: 75px;
}

.browser .div-price-request-reviewed-by {
    display: inline-block;
    width: 160px;
    margin-left: 35px;
    margin-right: 40px;
}

.browser #div-header {
    height: 0;
}

.browser #div-header-title {
    display: none;
}

.browser #div-sub-header {
    display: none;
}

.browser .div-price-detail-navigation {
    display: none;
}

.browser #li-group-price-trip-wire,
#li-group-price-trip-wire-id {
    width: 110px;
    text-align: right;
}

.browser .div-price-report {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    height: 460px;
    width: 98%;
    margin: 15px 0px 0px 10px;
}

.browser #div-overflow {
    overflow: auto;
    height: 420px;
}

.browser .fa-information-circle {
    font-size: 2.3em;
    margin-left: 15px;
    margin-top: 1px;
    color: #333;
}

.browser #fa-close-alert {
    top: 0px;
    padding: 5px 10px;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    color: white;
}

.div-price-overlay-content-container {
    max-width: 600px;
    margin: 30px auto;
    margin-top: 15vh;
    position: relative;
}

#div-price-overlay-content-container11 {
    max-width: 700px;
    margin: 30px auto;
    margin-top: 15vh;
    position: relative;
}

.div-price-overlay-content-container > ul {
    background: #fff;
    margin: auto;
}

.modal-body {
    position: relative;
    padding: 10px;
}

.modal-body-priceinfo {
    padding: 0;
}

.gmMarginLeft30p {
    margin-left: 30px;
}

.gmMarginLeft15p {
    margin-left: 15px;
}

.gmWidth77 {
    width: 77%;
}

.line {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

#price-report-list .hdrcell {
    text-align: center;
}

#price-report-list {
    height: 409px !important;
}

#price-report-list .objbox {
    height: 331px !important;
}

#price-report-list a #fa-times-tick {
    padding: 5px;
    vertical-align: middle;
}

#price-report-list .div-red-close {
    padding: 5px;
    vertical-align: middle;
}