.tabpreceptorship {
    border-bottom: 1em solid #3ab9a9;
}

.gmBGpreceptorship {
    background: #3ab9a9;
}

.gmPadLeft50p {
    padding-left: 50px
}

.gmPOSRelative {
    position: relative
}

.host-case-search-item:after {
    position: absolute;
    content: "";
    width: 2px;
    background: #ccc;
    height: 100%;
    right: -17px;
    top: 12px;
}

.gmBorderBottomBlack {
    border-bottom: 1px solid #000
}

.gmBorderwidth2p {
    border-width: 2px
}

.gmTextAreaWidth97 {
    width: 97%
}

.gmPositionRelative {
    position: relative
}

.preceptTypeNfnBx {
    position: absolute;
    left: 33px;
    top: 10px
}

.gmLineHeight18p {
    line-height: 18px
}

.gmLineHeight25p {
    line-height: 25px
}

.gmTxtJustify {
    text-align: justify;
}

.preceptorHostEdit #div-keyword-search input {
    padding-right: 30px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    width:235px;
}

.gmText235 {
    width: 235px;
}

.gmText218 {
    width: 218px;
}

.searchInput #div-keyword-search {
    position: relative;
}

#div-crm-module .searchInput #div-common-search-x {
    position: absolute;
    top: 15px;
    right: 5px;
    margin-left: 0;
    left: auto !important;
}



#div-preceptorship-edit-objective li {
    margin: 5px;
}

.credential-primary,
.survey-primary {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

#dhtmlx-filter-products {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
    position: absolute;
    z-index: 9999;
    right: 208px;
    top: 5px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#dhtmlx-filter-products summary {
    padding: 9px 10px;
    outline: rgb(255, 255, 255);
}

#dhtmlx-filter-products p {
    padding: 0 10px;
}

#dhtmlx-filter-products input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*Host Case Schedule*/

#scheduler-info-content.gmOverFlowH375p,
.gmOverFlowH375p {
    max-height: 375px;
    overflow-y: auto;
}

.gmPSpopupHeading {
    position: relative;
    top: 5px;
    padding-right: 5px;
    background: #eeeeee;
}

.gmHostAttendees {
    position: relative;
}

.gmHostAttendees #lookupHostRequest {
    position: absolute;
    top: 22px;
    right: 0;
}

.popupHostMain {
    z-index: 9999;
}

#divfilter-product{position: relative;padding-top: 10px;}
#divfilter-product input {
    font-size: 14px;
    font-weight: 400;
    font-family: SourceSansPro, "Trebuchet MS";
/*
    position: absolute;
    z-index: 9999;
    left: 0;
    top: 5px;
*/
    width: 165px;
    padding: 6px 25px 6px 6px;
    border-radius: 5px;
    box-shadow: 0px 0;
    border: 1px solid #000;
    box-sizing: border-box;
}

#divfilter-product #div-common-search-x {
    position: absolute;
    z-index: 9999;
    margin-top: 13px;
    top: -8px !important;
    left: 136px !important;

}

/*
#divfilter-product #div-search-result-main {
    top: 36px !important;
    left: 0px !important;
    width: 250px !important;
    z-index: 9999 !important;
    border: 0 !important;
}
*/

#divfilter-product #div-search-result-main {top: 46px !important;bottom: inherit !important;left: 0;left: 0 !important;}
#divfilter-product #div-search-result-main ul li {
    width: auto;float: none;
}


#rpt-legend-detail-inr {
    background: #fff;
    margin: 0px 5px 0px 0px;
    border: 1px solid rgb(205, 207, 207);
    padding: 5px;
    width: 350px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#div-pshostschedule .dhx_cal_today_button {
    right: 113px;
}

#div-pshostschedule #filters_wrapper summary,
#div-pshostschedule #dhtmlx-filter-division summary {
    padding: 8px;
}

#div-pshostschedule #filters_wrapper {
    left: 278px;
}

#div-pshostschedule #dhtmlx-filter-division {
    right: 295px;
}

#div-pshostschedule .dhx_cal_tab_standalone {
    left: 202px !important;
}

/*END Host Case Schedule*/

/*PS Criteria*/

.pSDropdown {
    position: absolute;
    background: #ccc;
    margin-top: 20px;
    display: none;
    z-index: 1;
    width: 250px;
    right: 0;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    box-shadow: 0 2px 2px 0 rgba(218, 218, 218, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.pSDropdown li {
    padding: 10px 15px;
    border-top: 1px solid #eee;
}

.pSDropdown li:hover {
    background: #3ab9a9;
    color: #FFF;
}


.pSDropdown::before {
    position: absolute;
    right: 16%;
    margin: 1px 0 0 -50px;
    content: "";
    width: 0px;
    top: -10px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ccc transparent;
}

.gmReportSec {
    border: 1px solid #555;
    width: 31.5%;
    padding: 10px 1%;
    margin: 5px 1%;
    box-sizing: border-box;
    border-radius: 5px;
    vertical-align: top;
}

.gmReportSec:first-child {
    margin-left: 0;
}

.gmReportSec:last-child {
    margin-right: 0;
}

.gmPadTB15p {
    padding: 15px 0;
}

.gmFont25em {
    font-size: 2.5em;
}

/*END PS Criteria*/

#div-preceptorHostInfo {
    width: 85%;
    margin: auto;
}

#div-preceptorHostInfo .gmSectionCaption {
    min-width: 200px;
    padding-right: 15px;
}

.gmWidth210p {
    width: 210px;
}

#div-preceptorship-request .gmSectionCaption,
#div-preceptorship-admin .gmSectionCaption {
    width: 180px
}

#preceptorTypeNfn {
    color: #2f3a48;
    position: relative;
    top: 7px;
}

#div-preceptorship-requestedit .gmSectionCaption,
#div-preceptorship-admin-edit .gmSectionCaption {
    width: 180px
}

#div-preceptorship-admin textarea {
    width: 212px;
}

#div-preceptorship-admin select {
    width: 227px;
}

#div-preceptorship-admin-edit textarea {
    width: 212px;
}

#div-preceptorship-admin-edit select {
    width: 227px;
}

.gmpadding15 {
    padding: 15px;
}

#preceptorship-surgeon-search input,
#preceptorship-products input,
#preceptorship-field-sales input,
#preceptorship-procedure input {
    width: 210px
}

.gmPadding7x0p {
    padding: 7px 0
}

#preceptorship-actnotes,
#preceptorship-clobj {
    width: 494px
}

#scheduler-legend-info {
    font-size: 16px;
    background: #fff;
    margin-top: 25px;
}

.txtOrange {
    color: #f57403;
}

.txtBlue {
    color: #bdbdff;
}

.txtGreen {
    color: #8ce88c;
}

.textslateblue {
    color: #ffd700;
}

.txtSkyBlue {
    color: #40C4FF;
}

.txtgreenyellow {
    color: #ADFF2F;
}

.txtcoral {
    color: #cfb485;
}

.txtpurple {
    color: #ffafff;
}

.txtLinearG {
    background: repeating-linear-gradient(135deg, #fff 9px, #fff 11px, #f57403 10px, #f57403 15px);
}

#legend-icon-req {
    width: 3px;
    height: 13px;
    color: transparent;
    margin: 0px 10px 0 0;
    border-radius: 4px;
}

#workflw,
#pcptyp , #regionSelect, #div-preceptorship-request #admin-status, #atndtyp {
    width: 228px
}

.gmImgResponsive {
    max-width: 100%;
    height: auto
}

.validateError {
    border: 1px solid #f20 !important;
}

#div-preceptorCaseRqstInfo ul li,
#div-preceptorCaseAdminInfo ul li {
    padding-right: 15px;
}

#div-preceptorCaseRqstInfo ul li {
    width: 200px
}

#div-preceptorCaseAdminInfo ul li {
    width: 220px
}

#div-preceptorCaseRqstInfo .gmWidthAuto,
#div-preceptorCaseAdminInfo .gmWidthAuto {
    width: auto
}

#div-preceptorCaseRqstInfo .gmText500 {
    width: 500px
}

#div-crm-overlay-content-container.popupHostList {
    max-width: 900px;
}

#gridPreceptorRpt .img-loader-spinner {
    margin-top: 0;
}

.gmLookupBtn {
    background: #3AB9A9;
}

#input-preceptorship-title {
    min-width: 735px;
    max-width: 735px;
}

#div-preceptorship-edit-objective li {
    margin: 5px;
}

#li-preceptorship-title {
    max-width: 650px;
}

#ul-act-title #li-title-set-btn {
    margin: 0 !important;
}

.surgActivityList.caserequest .acttitle,
.surgActivityList.caserequest .acttitle a,
.surgActivityList.caserequest .fa,
.surgActivityList.preceptorship .acttitle,
.surgActivityList.preceptorship .acttitle a,
.surgActivityList.preceptorship .fa {
    color: #3ab9a9;
}

.surgActivityList.caserequest .surg-globus-activty,
.surgActivityList.preceptorship .surg-globus-activty {
    border-color: #3ab9a9;
}

.surgActivityList .fa.gmFont24px {
    font-size: 24px;
}

.gmPSfa2 {
    margin: -40px 0 0px 0px;
}

.surgActivityList.caserequest .fa.gmPSTxtColor,
.surgActivityList.preceptorship .fa.gmPSTxtColor {
    color: #555;
}

.display-inline {
    display: inline;
}

.dhtmlx_modal_box{
    font-family: SourceSansPro, "Trebuchet MS";
    border:0px;
    width:500px;
}
.dhtmlx-alert .dhtmlx_popup_title, .dhtmlx-confirm .dhtmlx_popup_title{
        color: rgb(255, 255, 255);
    background: #036;
    
}

.dhtmlx_popup_button.dhtmlx_ok_button div{
        background: rgb(0, 51, 102);
    border: 1px solid rgb(0, 51, 102);
}
.dhtmlx_popup_button {
    font-size: 16px;
}

.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
    color: rgb(255, 255, 255);
    background: rgb(229, 57, 53);
}

.dhtmlx_popup_text {
    font-size: 16px;
}

.dhtmlx-alert-error .dhtmlx_popup_title,
.dhtmlx-confirm-error .dhtmlx_popup_title {
    color: rgb(255, 255, 255);
    background: rgb(229, 57, 53);
}
#scheduler_here .dhx_cal_navline{z-index: 99 !important}
.popupHostList .modal-body{min-height: 70px;}
.dhx_year_tooltip{z-index: 9999 !important}

#surgeon-cv-link.active span{background-color: green;}
#surgeon-cv-link.inactive span{background-color: gray;}
div.gridbox table.row20px tr td.not_m_line{
			white-space:unset; overflow:hidden;
		}
#surgeon-cv-link.active{background: none !important;}
.new-surgeon-create #surgeon-cv-link img{padding-top: 0}
.a-file-open{display: inline-block}

#preceptorship-hospital-account.category-btn {height: 43px;box-sizing: border-box; width: 228px; margin-left: 3px;}
#preceptorship-new-account-search input {height: 43px;box-sizing: border-box; width: 228px; margin-left: 3px;}
#actnmlist {width: 228px; padding-right: 20px;}
.cr-form-cv .lb-spn-file-open{vertical-align: top;padding-top: 12px;display: inline-block;}
.cr-form-cv .spn-file-nm{height: 42px;padding-top: 5px;box-sizing: border-box;padding-left: 5px;padding-top: 10px;}
#div-crm-overlay-content-container .frm-documents #li-fileupload-fileinfo #txt-fileupload,
#frm-documents #div-new-surgeon-content #txt-fileupload {
    border: 1px solid #999;
    border-radius: 3px;
    padding: 0.455em 0.5em;
    -webkit-box-shadow: 0px 2px 6px 1px #B7B4B4;
    -moz-box-shadow: 0px 2px 6px 1px #B7B4B4;
    box-shadow: 0px 2px 6px 1px #B7B4B4;
    color: #000;
    font-family: SourceSansPro;
    font-size: 1em;
    width: 90%;
}
.hospital-items{margin-left: 158px;margin-top: 10px;}
.moreFilterLists{background: #FFFFFF;
    position: absolute;
    left: 10%;
    width: 80%;
    border-radius: 5px;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    border: 1px solid rgb(204, 204, 204);
    padding: 10px;
}
.moreFilterHeaders{text-align: center;}
.mFilterheaderLinks li{display: inline-block; padding: 5px 10px; border: 1px solid #ccc; margin: 0 10px;}
.filterDone{  border: 1px solid rgb(204, 204, 204);
    display: inline-block;
    padding: 5px 10px;
    background: rgb(10, 45, 83);
    color: rgb(255, 255, 255); float: right;}
.quickref{font-size: 15px;
    line-height: 18px;
    font-family: 'Open Sans Regular',sans-serif;
    color: rgb(29, 134, 255);}
.quickref:hover{text-decoration: underline;}
.salesContentHeader{    font-size: 15px;
    line-height: 18px;
    color: rgb(29, 134, 255);
    font-weight: bold;
    font-family: 'Open Sans Regular',sans-serif;
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 8px 5px;}
.gmhcadminBtn{padding: 7px 15px; margin-top: 10px;}
.liSelFilter{ border: 1px solid rgb(153, 153, 153);
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    display: inline-block;
    min-width: 80px;
    margin: 5px 5px 0px 5px;
    border-radius: 3px 0px 0px 3px;}
.deleteFilter{    padding: 2px 5px;
    background: rgb(204, 204, 204); float: right; font-size: 15px;}
.filterTxt{    display: inline-block;
    padding: 3px;
    font-size: 12px;}
.filterOptions, .show_filters{background: #FFF;}
.filterOptions{text-align: center;}
.clearAllFilter{background: #444;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    margin: 2px 0; border-radius: 5px;}
.more_filter{    background: rgb(0, 128, 64);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    display: inline-block;
    margin: 2px 0; border-radius: 5px;}
.divFilter ul li{width: 50%; float: left; margin-bottom: 5px;}
.divFilter{padding-top: 15px;}
.divFilter ul li input[type="checkbox"] {margin-right: 10px;width: 10px;}
.filterLinks.activeTab{background: #333;color: #fff;}
.filterpop-close{overflow: hidden;margin-bottom: 5px;}
.accordion-title {background: #ccc;padding: 5px;margin-bottom: 5px;clear: left;}
.accordion-title .fa-chevron-down{float: right;}
.accordion-title.activeTab i{transform: rotate(180deg);transition: all 0.3s ease-in;}
.show_filters .img-spinner{position: relative;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);}
#attndHostSurgDetails div li{min-width: 84px;}
#attndSurgDetails div li{min-width: 84px;}
.PSWebinarFL {margin-left: 196px;}
.PSWebinarFL li{display: flex; align-items: center;}
.PSWebinarFL li span{padding-left: 10px;}
#webinarfl, .divFilter ul li input[type="checkbox"] {border-radius: 0;}
.show_filters{display: flex; flex-wrap: wrap; align-items: center;padding: 1px 10px 3px;}
#preceptorship-actstarttime , #preceptorship-actendtime{width: 88px;}
#preceptorship-actstartdate,#psclone-actstartdate,#preceptorship-frmdt,#preceptorship-todt,
#activity-frmdate,#activity-todate,#activity-cr-frmdate,#activity-cr-todate
{position: absolute; left: 0;}
.mdtp__am.active , .mdtp__pm.active{color: #fafafa !important;background-color: #1565c0 !important;}
.mdtp__digit.active,.mdtp__time_h.active,.mdtp__time_m.active{background: none !important;}
@media (min-width: 320px) and (max-width: 479px) {
    
     
    .gmCaseBox{
        font-size: 1.5em;
        padding: 10px 0;
    }
    .case{
        display: block;
    }
    .gmWidth100{
        width: 100%;
    }
    .gmPhWidth100{
        width: 100%;
            margin-left: -51px;
    margin-right: 44px;
    }
    .div-moble-header .gmBGpreceptorship .gmFloatRight .gmBtnGroup li .pSDropdown{
        display: none;
    }
    #rpt-legend-detail, #rpt-legend-detail-inr{
        background: #fff;
        margin: 0px 5px 0px 0px;
        border: 1px solid rgb(205, 207, 207);
        width: 86%;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
        z-index: 1;
    }
    #li-hostCase-actdate-frmdate-input, .toPrecDate{
        width: auto;
    }
    .caseRequest-todate #activity-cr-todate{
        width: 145px;
    }
    
}


@media (min-width: 320px) and (max-width: 767px) {
    .preceptorshipicon {
    width: 48%;
    margin-top: 1%;
    }
    .gmReportSec{
        width:100%;
        margin-left: 0%;
        } 
    .gmIconBack{
        position: relative;
        bottom: 2px;
    }
    .gmBGpreceptorship #li-report.open ul#scheduleDropDown {
        right: -30px;
    }  
    .gmBGpreceptorship #li-create.open ul#scheduleDropDown::before{
        right: 2%;
    } 
    .hostCaseName{
        width: 100%;
        
    }
    .hostCaseName input{
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #btn-view-hc, #btn-search-hc, #btn-view-cr, #btn-search-cr{
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 10px;
    }
    #case-request-search{
        width: 100%;
    }
    .caseReq-name{
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #div-crm-module .searchInput #div-common-search-x {
        top: 0;
        position: absolute;
        right: 5px;
        margin-left: 0;
        left: auto !important;
     }
    .hostCase-todate #activity-todate, .caseRequest-todate #activity-cr-todate{
        width: 145px;
    }
    .textAlign{
        text-align: left;
    }
      .preceptorshipPanelNm, .gmBGsurgeon #panelhead-left .gmPanelTitle.gmText500.preceptorshipPanelNm {
    width: 220px;
    margin-top: -1%;
    padding-left: 10px;
    }      
  
    #createHostCase{
        text-align: left;
    }
    
    #createCaseRequest{
      text-align: left;  
    }
     #scheduler_here{
        width: 100%;
         height: 480px;
    }
    #upcmgHostCases, #openHostCases, #openCaseRequests, #upcmgHCDetails, #allHCDetails, #allCRDetails{
         text-align: left; 
    }
   
    .gmDateBox{
        width: 64px;
    }
    .addVisitors{
        margin-left: 0px !important;
       
    }
    .gmCaseRequest, .gmHostCase{
        display: inline-block !important;
        min-width: 30px;
        margin-left: 10px;
    }
    #ps-report-list .div-dhx-report-mbl-header > ul > li {
       width: 100%;
    }
    #pscaseedits{
        display: inline-block;
        width: 49%;
    }
    #precReqDet{
        width: 49%;
    }
    .PTS-case .gmWidth160m{min-width: 137px;}
    #precReqDet #preceptorship-request, #pscaseedits #preceptorship-admin {
      width: 95%;
    }
    #div-preceptorship-admin .gmSectionListItem, #div-preceptorship-admin textarea, #div-preceptorship-admin .gmSectionListItem .gmWidth210p, #preceptorship-actnotes{
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #div-preceptorship-admin .selectbox-icon #trfstatis, #div-preceptorship-admin .gmSectionListItem .labAdd {
        width: 100  %;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #div-preceptorship-admin .gmSectionListItem{
        margin-bottom: 3px;
        font-size: 14px;
    }
    #div-preceptorship-admin .gmAlignHorizontal .preceptor-check{
        margin-top: 8px;
    }
    #div-preceptorship-request .gmSectionListItem, #div-preceptorship-request #txt-search-keyword,  #div-preceptorship-request #div-keyword-search #txt-search-keyword {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #preceptorship-actnotes{
         width: 97%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .pSDropdown li {
    padding: 2px 2px;
    border-top: 1px solid #eee;
    }
    #div-preceptorship-request .gmSectionListItem{
        margin-bottom: 1px;
        font-size: 14px;
        margin: 0!important;
    }
    #div-preceptorship-request .li-other-visit-items .div-other-visitor label {
    width: 78%;
    text-align: left;
    display: inline-block;
    }

    .divHeading {
        display: inline-block !important;
    }
    #div-preceptorship-request #div-keyword-search #txt-search-keyword, #div-preceptorship-request .gmInputText,
    #div-preceptorship-request .gmSectionListItem #preceptorship-case-surgeon, #div-preceptorship-request .gmSectionListItem  #segSysList,#div-preceptorship-request #admin-status,#div-preceptorship-request #attendeenm{
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 5px 0;
    }
    #span-preceptorship-frmdt, #span-preceptorship-todt{width: 155px !important;}
    .ulAttendeeField {display: block; }
    #div-preceptorship-request .li-other-visit-items .extend-close, 
    #div-preceptorship-request #btn-add-other-visitor-more .extend-close {
        padding: 0px 10px 2px 10px;
    }
    #div-preceptorship-request .gmSectionListItem #segSysList, 
    #div-preceptorship-request .gmSectionListItem #preceptorship-case-surgeon {
    margin-bottom: 5px;
    }
    
    #div-preceptorship-request .gmSectionListItem .divBox, .gmSectionListItem #preceptorship-actnotes{
        width: 100% !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    #div-preceptorship-request .gmSection .reqDate, .preceptorHostEdit .gmSection .reqDate{
        width: auto;
    }
    #div-preceptorship-request .toDate{
        display: inline-block !important;
        width: auto;
        margin: 0 5px !important;
    }
    .ul-preceptorship-display-surgeons #div-vip-other-visits{
        margin-left: 0%;
        width: auto;
    }
    #div-preceptorship-request .ul-preceptorship-display-surgeons #btn-add-other-visitor,
    #div-preceptorship-request .gmSectionListItem #btn-add-new-acnt{
    width: 95%;
    margin-left: 0;
    margin-top: 5px;
    }
    #div-preceptorship-request, #div-preceptorship-admin{
        margin: 0px;
    }
    #div-preceptorship-request ul li, #div-preceptorship-admin ul li{
        padding-right: 0px;
    }
    #preceptorHostEdit{
        margin: 0px;
    }
    #preceptorHostEdit ul li{
        padding-right: 0px;
    }
    .preceptorHostEdit .gmSectionListItem, .preceptorHostEdit #div-keyword-search #txt-search-keyword, .preceptorHostEdit .gmSectionListItem input, .preceptorHostEdit .gmSectionListItem  #segSysList, .preceptorHostEdit .gmSectionListItem .gmInputText, #input-preceptorship-title{
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    .preceptorHostEdit .gmMarginLeft10p{
        margin-left: 0px;
    }
    #preceptorship-actstartdate{
        width: 340px;
    }
    .preceptorHostEdit .hostToDate{
       width: auto;
    margin: 5px;
    padding: 0;
        
    }
    .gmSection.gmMarginTop10p li {
        margin-bottom: 5px;
    }
    input#preceptorship-new-account-search {
        margin-top: 2%;
        margin-left: 0px;
    }
    #psreports .surg-head-bottom-middle{
        margin-bottom: 5px;
    }
    #div-pshostschedule #dhtmlx-filter-division{
        right: 25%;
            z-index: 100;
    }
    #div-pshostschedule #filters_wrapper {
        left: 4%;
    }
    #div-pshostschedule .dhx_cal_today_button{
        right: 3%;
    }
    
    #preceptorship-search .txt-search-keyword-initial {
        top: 40px;
        right: 18%;
        width: 55px;
    padding: 6px 5px !important;
        z-index: 1;
    }
    #div-pshostschedule #preceptorship-search #div-common-search-x {
    left: 300px !important;
    top: 36px !important;
}
    #div-pshostschedule #preceptorship-search .arrow_box_up:after {
    left: 78%;
}
    #div-pshostschedule #preceptorship-search #div-search-result-main {
    left: 150px !important;
    width: 200px !important;
    top: 72px !important;
}
    #div-preceptorHostInfo {
        width: 100%;
    }
    .contentBox{
        width: 64% !important;
    }
    #div-preceptorHostInfo ul li{
        min-width: 30% !important;
    }
    .preceptorHostEdit #li-sc-title input{
        min-width: 0;
    }
    #div-pshostschedule #scheduler_here .dhx_cal_navline {
      z-index: 1!important;
        height: 42px !important;
    }
    #preceptorship-hc-surgeon-search #div-search-result-main{
        background-color: #ccc;
        border: 1px solid #ccc;
        color: #000;
        display: none;
        max-height: 260px;
        position: absolute;
        z-index: 1;
        height: 258px;
    }
    #div-preceptorship-request #actnmlist{
        width: 99%;
    }
    .preceptorHostEdit #li-title-set-btn{
            left: 59%;
            width: 40%;
            z-index: 0;
    }
    #ps-report-list .div-dhx-report-arrow {
            color: #4a4848;
            margin-right: 3%;
    }
    #div-preceptorCaseRqstInfo{
        margin:0px;
    }
    #btn-main-save, #btn-main-cancel    {
        padding: 0px;
    }

    #gridPreceptorRpt .div-dhx-report-mbl-header > ul > li {
       width: 100%;
    }
    .div-dhx-report-arrow{
        margin-right: 3%;
    }
    #gridSegSysRpt .div-dhx-report-mbl-header > ul > li, #gridSegSysRpt .div-dhx-report-mbl-header{
        width: 100%;
    }
    #div-preceptorCaseRqstInfo .div-activity-product{
        width: 100%;
    }
    #gmcaseinfodiv{
        height:21%;
    }
    #gmcaseinfodiv ul {
        width: 100%;
    }
    #gmcaseinfodiv .gmTextCenter li{
        width: 49%;
    }
    #gmcaseinfodiv .gmSection {
        padding: 5px 0;
    }
    #gmcaseinfodiv .gmSection li{
        width:100%;
    }
    #gmcaseinfodiv .gmSection li div{
        width:95%;
    }
    #div-preceptorCaseRqstInfo ul{
        display: inline-block;
        width:100%;
    } 
    #div-preceptorCaseRqstInfo ul li:nth-child(odd),
    #div-preceptorCaseAdminInfo ul li:nth-child(odd){
    padding-right: 12px;
    width: 42% !important;
    vertical-align: top;
    text-align: right;
    min-width: 0;
    margin-top: 5px;
    }
    
    #div-preceptorHostInfo .gmSectionCaption {
     text-align: right; 
    }
    
    #div-preceptorCaseRqstInfo ul li:nth-child(even),
     #div-preceptorCaseAdminInfo ul li:nth-child(even){
    width:48% !important;
    padding-right: 0;
    min-width: 0 !important;
    margin-top: 5px;
    }
    #div-preceptorCaseRqstInfo ul li .gmTextCenter {
    width: 22px;
    }
    .popupHostList .modal-body {
    height: 57vh;
    }
    .host-case-search-item #ul-hostCase-activity-date #activity-frmdate, .host-case-search-item #ul-hostCase-activity-date .hostCase-todate,
     #ul-caseRequest-activity-date #activity-cr-frmdate, #ul-caseRequest-activity-date .caseRequest-todate{
    width: 146px;
    }
    #div-preceptorship-request #preceptorship-frmdt, #div-preceptorship-request #preceptorship-todt{
    width: 172px;
    }

    .preceptorHostEdit .gmSectionListItem #preceptorship-actstarttime, 
    .preceptorHostEdit .gmSectionListItem #preceptorship-actendtime{
            width: 146px;
    }
    .preceptorHostEdit #div-host-case-cancel {
    width: 94%;
    }
    .cr-form-cv #div-new-surgeon-content .display-flex {
    display: inline-block;
    }
    #div-preceptorship-request .gmSectionListItem .span-extend , .preceptorHostEdit .gmBGLGrey.span-extend{
    margin: 0 0 5px 0;
    }
    .frm-documents #li-fileupload-fileinfo .lb-spn-file-open {
    width: 100%;
    }
    .display-flex #btn-fileupload-upload{
        margin-top: 34px;
        padding: 12px;
    }
    #div-crm-overlay-content-container #frm-documents #span-fileupload-browse-filenm {
    width: 272px;
    }
    #div-preceptorCaseRqstInfo ul li.gmMediaAlignVertical {
    display: inline-block !important;
    }
    .preceptorHostEdit .iPhone.calPrs {
    float: left;
   }
    .preceptorHostEdit .gmSectionListItem.calPrs {
      width: 90%;
   }
    .preceptorHostEdit .iPhone.calPrs .div-legend-icon {
    text-align: center;
    margin-top: 6px;
    }
    .preceptorHostEdit .iPad.hostToDate {
      display: none !important;
    }
    .preceptorHostEdit .gmBGLGrey.span-extend {
    display: inline-flex;
   }
    .PSMainCriteria .gmReportSec .gmCaseBox.countContent {
    font-size: 2em;
}
    .PSMainCriteria~.case h3.gmFontBold {
    background: #e2e2e2;
    padding: 8px;
}
    .PSMainCriteria~.case .fa-angle-down.iPhone {
    float: right;
    font-weight: bold;
  }
    #host-case-search{
        display: none;
    }
    #case-request-search{
        display: none;
    }
    .gmPanelContent #pscaseedits~li.gmFloatRight {
    float: none;
        width: 100%;
        box-sizing: border-box;
   }
    .gmPanelContent #pscaseedits~li.gmFloatRight #cancel-case-request {
    width: 360px;
}
    #gmcaseinfodiv .gmTextCenter li #preceptorship-request, #gmcaseinfodiv .gmTextCenter li #preceptorship-admin {
    width: 94%;
}
    #div-preceptorHostInfo #gridAttendSurgDetails {
    width: 100%;
}
  #div-preceptorHostInfo #gridAttendSurgDetails .div-dhx-report-mbl-header {
    display: block;
}
    #div-preceptorCaseAdminInfo .display-flex {
    display: block;
  }
    #div-preceptorCaseAdminInfo {
    margin: 5px;
}
    #div-preceptorCaseAdminInfo ul li:nth-child(even).upload-admin-list {
    margin-left: 0;
}
    .preceptorHostEdit .PStypeDiv li.gmSectionListItem.iPad.gmPositionRelative {
      display: inline-block !important;
  }
   .mob-case-id, .mob-act-id {
    color: rgb(0, 0, 245);
   }
    #div-crm-overlay-content-container .frm-documents #li-fileupload-fileinfo #txt-fileupload {
    margin-top: 5px;
}
    #div-new-surgeon-content .select-address-state, #div-new-surgeon-content .select-address-country {
      width: 85vw !important;
    }
    
    .hostCloneForm #preceptorship-actstartdate{
        width: 180px;
    }
    .hostCloneForm .clonestartDt{
        width: calc(100% - 40px);
    }
    .hostCloneForm .reqDate{
        width: auto;
        margin-top: 15px;
    }
    .hostCloneForm .hostToDate{
        display: none !important;
    }
    .hostCloneForm .gmWidth50m{min-width: 80px;}
    .hostCloneForm .mobToTime{width: 13%}
    .hospital-items{margin-left: 0 !important;}
    #btn-add-new-acnt{margin-top: 10px;}
    .chartPSwrap .gmWidth50 {width: 100%;}
    .chartPSwrap .gmMarginTop10p{margin: 10px 0 10px;}
    .chartPSwrap .gmPadLeft50p{padding-left: 0}
    #div-preceptorCaseRqstInfo .gmMediaMinWidth200.ulSurgeonField{margin-top: -10px !important;}
    #div-preceptorCaseRqstInfo .ulSurgeonField{margin-bottom: 10px;}
    #div-preceptorCaseRqstInfo .ulAttendeeField{ float: left; margin-bottom: 20px; overflow-wrap: break-word;}
    #div-preceptorCaseRqstInfo .mobDivision{float: left;clear: left;}
    #div-preceptorCaseRqstInfo .mobDivisionnm{float: left;}
    #gmcaseinfodiv .gmWidth160m {min-width: 137px;}
    #div-preceptorCaseRqstInfo .div-activity-product div{overflow-wrap: break-word;line-height: 22px;}
/*
    .mFilterheaderLinks {overflow-x: scroll;display: flex;}
    .mFilterheaderLinks li{margin: 0 10px 10px 0;}
*/
    .filteredListProduct div {margin-right: 5px;}
    .divFilter ul li input{float: left;}
    .divFilter{padding-top: 5px;}
    .divFilter ul li span{overflow-wrap: break-word;width: calc(100% - 35px); float: left}
    #divfilter-product ul li span {overflow-wrap: initial;width: auto;float: none;}
    .divFilter ul li:nth-child(odd) {clear: left;}
    .PSWebinarFL{margin-left: 0}
    .ps-calendar-date{position: absolute; left: 0; top: 0;}
}
  @media(max-width: 480px){
      /*********CALENDAR POC STYLES*****************/
    .div-moble-header .gmBGpreceptorship.gmPanelHead li ul.pSDropdown{display: none;}
    .scheduler-main-container{width: 100%; top:85px; margin-left: -15px;}
   
    #scheduler-info-container{left:20px; width: 90%;}
    #scheduler-info-main{width: 100%;}
    #div-pshostschedule #scheduler_here{height: 580px;}
    #scheduler_here .dhx_cal_data{height: 470px !important;}
    #scheduler_here .dhx_cal_data{top: 100px !important;}
    #scheduler_here .dhx_cal_header{top: 79px !important;}
    .dhx_cal_navline .dhx_cal_today_button{top: 5px !important;    right: 8px;}
    #preceptorship-search~#scheduler_here .dhx_cal_navline .dhx_cal_date {
            top: 40px !important;
            width: 42%;
            left: 92px;
            font-size: 16px;
     }
    .dhx_cal_navline .dhx_cal_tab_standalone{left: 200px !important;}
    #div-pshostschedule .dhx_cal_navline .dhx_cal_next_button{right: 8px;}
    #div-pshostschedule .dhx_cal_navline .dhx_cal_prev_button{right: 49px;}
    #filters_wrapper{top: 40px; left: 14px;}
    .dhx_cal_navline .dhx_cal_next_button, .dhx_cal_navline .dhx_cal_prev_button{width: 40px;}
    .dhx_cal_navline .dhx_cal_tab_standalone{display: none;}
   
    #scheduler-info-main-header ul li{width: auto;}
    #scheduler-info-main-header ul li.gmVisibilityHidden{display: none;}
    #dhtmlx-filter-division{right: 95px; }
    #dhtmlx-filter-division summary, #filters_wrapper summary{padding: 8px 5px;}
    .dhx_cal_today_button, .dhx_cal_tab{width: 50px !important;}
    .dhx_cal_tab[name="week_tab"]{left: 65px !important;}
    .dhx_cal_tab[name="month_tab"]{left: 116px !important;}
   
    #scheduler-legend{left: 185px !important;}
    #preceptorship-search~#scheduler_here .dhx_cal_navline div {
       white-space: normal;
    }
    #preceptorship-search~#scheduler_here #scheduler-legend-info {
        width: 195px;
        margin-top: 28px !important;
    }
    .divFilter{overflow: auto;max-height: 105px;padding: 5px;}
    #divfilter-product #div-common-search-x{top: -3px !important;left: 133px !important;}
    #div-pshostschedule #scheduler-legend #scheduler-legend-info{width:auto !important;left: -104px;top: 32px !important;}
    .divFilterProduct{overflow: inherit; max-height: none;}
    .filteredListProduct{overflow: auto;max-height: 105px;}
    /**********CALENDAR POC STYLES END****************/
    .divFilter ul li span{position: relative;top: 1px;}
    #div-pshostschedule .dhx_cal_today_button{right: 26%;}
    .filteredListProduct .liSelFilter{display: flex; min-width: auto;}
    .filteredListProduct .deleteFilter{display: flex; align-items: center;}
    .filteredListProduct{display: flex; flex-wrap: wrap;}
}

@media screen and (max-width: 376px){
    #scheduler-legend {
    left: 172px !important;
}
    #preceptorship-search~#scheduler_here .dhx_cal_navline .dhx_cal_date {
    left: 84px;
    font-size: 14px;
}
     .host-case-search-item #ul-hostCase-activity-date #activity-frmdate, .host-case-search-item #ul-hostCase-activity-date .hostCase-todate,
     #ul-caseRequest-activity-date #activity-cr-frmdate, #ul-caseRequest-activity-date .caseRequest-todate
    {
    width: 128px;
}
    #div-preceptorship-request #preceptorship-frmdt, #div-preceptorship-request #preceptorship-todt
    {
        width: 155px;
    }
    .preceptorHostEdit .gmSectionListItem #preceptorship-actstarttime,
    .preceptorHostEdit .gmSectionListItem #preceptorship-actendtime{
        width: 131px;
    }
    #preceptorship-actstartdate{
        width: 306px;
    }
    .gmPanelContent #pscaseedits~li.gmFloatRight #cancel-case-request {
    width: 328px;
}
    #div-pshostschedule #preceptorship-search #div-common-search-x {
    left: 275px !important;
    }
    #div-pshostschedule #preceptorship-search #div-search-result-main {
    left: 118px !important;
    }
    #div-crm-overlay-content-container #frm-documents #span-fileupload-browse-filenm {
    width: 235px;
    }
    #ps-report-list .div-dhx-report-label.gmWidth50 {
    width: 48%;
    margin-right: 5px;
   }
}

@media screen and (max-width: 370px){
    .dhx_cal_navline .dhx_cal_today_button{top: 40px !important; }
    #div-pshostschedule .dhx_cal_today_button{right: 3%;}
}

/*style for android version */
@media screen and (max-width: 360px){
    #div-pshostschedule #preceptorship-search #div-common-search-x {
    left: 262px !important;
    }
    #preceptorship-search~#scheduler_here #scheduler-legend-info {
    width: 175px;
}
    #div-pshostschedule #dhtmlx-filter-division summary {
    padding: 8px 4px;
    width: 58px;
    font-size: 13px;
}
    .preceptorHostEdit .gmSectionListItem #preceptorship-actstarttime, 
    .preceptorHostEdit .gmSectionListItem #preceptorship-actendtime {
    width: 126px;
}
    #div-preceptorship-request #preceptorship-frmdt, 
    #div-preceptorship-request #preceptorship-todt {
    width: 146px;
}
    .gmPanelContent #pscaseedits~li.gmFloatRight #cancel-case-request {
    width: 100%;box-sizing: border-box;
}
    .preceptorHostEdit #li-title-set-btn {
    left: 55%;
    width: 44%;
    }
    #preceptorship-actstartdate {
    width: 295px;
}
    #div-preceptorship-request .selectbox-icon {
    display: block;
}
    #div-preceptorship-request .selectbox-icon:after{
        top: 14px;
    }
    #div-crm-overlay-content-container .modal-body {
    height: 63vh;
}
    #preceptorship-search~#scheduler_here.dhx_scheduler_week .dhx_cal_navline .dhx_cal_date {
    left: 80px;
    font-size: 13px;
}
    .dhx_cal_navline .dhx_cal_next_button, .dhx_cal_navline .dhx_cal_prev_button {
    width: 37px;
}
    #div-pshostschedule .dhx_cal_navline .dhx_cal_next_button {
    right: 11px;
}
    .preceptorshipPanelNm, .gmBGsurgeon #panelhead-left .gmPanelTitle.gmText500.preceptorshipPanelNm {width: 198px;}
    #div-preceptorCaseRqstInfo .ulSurgeonField img{width: 28px;}
}

