/**********************************************************************************
 * File:        GmPriceStyle.css
 * Description: Price Initiate Screen CSS
 * Version:     1.0
 * Author:     	jreddy
 **********************************************************************************/
/*portrait mode*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .landscape {
        display: none;
    }
    .portrait {
        display: block;
        text-align: center;
        color: red;
        margin-top: 400px;
        font-size: 25px;
    }
    .div-price-detail-navigation {
        display: none;
    }
}


/*landscape mode*/

@media screen and (min-width: 1023px) {
    .landscape {
        display: block;
    }
    .portrait {
        display: none;
    }
     .div-pricing-info .div-price-Report-info label.priceReport {
    display: none !important;
}
    
}

.ul-pricing-top-header {
    padding: 10px;
    background-color: #008040;
    color: white;
    list-style: none;
}

.div-price-approval-sdata div ul {
    display: inline-block;
}

.div-pricing-approval-header {
    /*    height: 75px;*/
}

.div-pricing-approval-pr {
    width: 200px;
    margin-left: 65px;
}


/*
#div-price-approval-reqid{
           padding: 15px 0px 10px 30px;
}
*/

.font-green {
    color: green;
}

#div-price-approval-docmt div {
    background: #F2EDE4;
    border-radius: 5px;
}

.div-price-approval-sub {
    width: 385px;
    display: inline-block;
    margin-top: 15px;
}

.price-sales-date-container {
    width: 250px;
}

.gmHeight30p {
    height: 30px;
}

.div-pricing-approval-topics {
    height: 50px;
}

.div-pricing-approval-topics ul li {
    display: inline-block;
}

.price-approval-appstatus {
    width: 120px;
}

.price-approval-groupname {
    width: 245px;
    margin-left: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price-approval-qty {
    width: 40px;
}

.price-approval-change {
    width: 55px;
}

.price-approval-proposed {
    width: 126px;
}

.gmWidth50p {
    width: 50px;
}

.price-approval-tripwire,
.price-approval-currunit {
    text-align: center;
    width: 57px;
}

.price-approval-offlist {
    width: 56px;
    overflow: hidden;
}

.price-approval-type {
    width: 70px;
    min-width: 50px;
}

.price-approval-change input {
    width: 45px;
    min-width: 25px;
    border: 1px solid grey;
}

.gmWidth20p {
    width: 20px;
}

.gmWidth40p {
    width: 40px;
}

.div-pricing-approval-topics {
    background-color: #F2EDE4;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #766D5E;
}

.div-price-approval-content-data {
    height: 60.5vh;
    border: 1px solid rgb(142, 142, 142);
    overflow: scroll;
    -webkit-overflow-scrolling: touch!important;
}

.div-price-approval-content-data input {
    background-color: #eee;
    box-shadow: 0px 0px 1px #030303;
    border: none;
    border-radius: 1px;
}

.div-price-approval-content-data select {
    background-color: #ddd;
    padding: 8px 0 5px 5px;
}

.div-price-aproval-contruct {
    background-color: #F2EDE4;
    margin: 10px 5px;
}

.div-price-approval-systemname {
    margin-right: 20px;
}

.gmWidth85p {
    width: 85px;
}

.gmWidth140p {
    width: 140px;
}

#fa-price-circle {
    margin: 0px;
    vertical-align: middle;
}

.price-approval-System-head {
    margin-left: 10px;
    width: 140px;
    margin-top: -5px;
}

.approval-construct {
    width: 61.8vw;
}

.ul-price-approval-color.green {
    height: 15px;
    background: green;
    vertical-align: middle;
}

.ul-price-approval-color.red {
    height: 15px;
    background: red;
    vertical-align: middle;
}

a #fa-times-tick {
    font-size: 1.5em;
    padding: 10px 10px 0px 8px;
}

.ul-p-icon {
    padding: 0 5px;
}

.gmWidth10p {
    width: 10px;
}

.highlighted-item {
    background-color: #f7f7cb;
}

.gmMarginRight20p {
    margin-right: 20px;
}

#sp-cal {
    padding: 5px;
}

/*
.div-price-aproval-account-val{
        margin-left: 40px;
}
*/

.div-price-aproval-group-name input,
.div-price-aproval-group-name select {
    font-weight: bold;
    color: black;
}

.price-approval-appstatus-head {
    margin-top: -2px;
}

#price-approval-prop-unit input {
    width: 55px;
    margin: 0;
    padding: 5px 0;
}

#price-approval-changevalue input {
    width: 30px;
}

.price-sort span {
    width: 85%;
}

.div-price-collapse-sub {
    width: 385px;
    display: inline-block;
}

.gmWidth160p {
    width: 160px;
}

.div-price-collapse-sub:first-child {
    width: 550px;
}

.div-price-collapse-sub.price-sales-date-container {
    margin-left: 83px;
}

/*
.gmWidth280p{
    width: 280px;
}
*/

.gmWidth300p {
    width: 300px;
}

/*
.div-price-sales-account{
    width: 365px;
}
*/

.gmWidth110p {
    width: 110px;
}

/*
.div-price-accoint-icon{
        margin: 0px 0px 6px 51px;
}
*/

.div-price-sales-val {
    width: 94px;
}

.gmAlignHorizontal {
    display: inline-block;
}

.gmAlignVertical {
    display: block;
}

.li-pricing-initiate {
    display: inline-block;
    width: 715px;
}

.li-save-button {
    display: inline-block;
}

.li-submit-button {
    display: inline-block;
}

.li-cancel-button {
    display: inline-block;
}

.div-pricing-header-buttons {
    display: inline-block;
    margin-left: 25px;
    float: right;
}

#btn-main-save,
#btn-main-cancel {
    padding: 0 10px;
}

.div-main-content {
    width: 98%;
    background-color: white;
    margin: 15px 0 0 0;
    padding: 1px 0px 0px 10px;
}

#groupId {
    overflow: auto;
    height: 290px;
    -webkit-overflow-scrolling: touch!important;
}

.li-price-detail-label {
    color: #036;
    width: 100%;
    background-color: white!;
    height: 28px;
    margin: auto;
    margin-top: 37px;
    padding: 0px 0px 0px 1px;
}

.li-price-detail-label .selected-tab {
    background-color: #ccc;
    color: #000;
}

.div-price-construct,
.div-price-speciality {
    /*background-color: #999;
    border-radius: 3px 3px 0 0;
    color: white;
    display: inline;
    height: 80%;
    margin-right: 5px;
    padding: 0.5em;
    text-align: center;
     text-transform: uppercase; */
    background-color: #dce9f7;
    border-radius: 3px 3px 0 0;
    color: #9e721a;
    display: inline;
    height: 80%;
    margin-right: 5px;
    padding: 0.5em;
    text-align: center;
    border: 1px solid #ccc;
}

.ul-price-total-detail-info {
    /*clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 0px 2px 3px 1px;
    height: 550px;*/
    width: 100%;
}

#div-price-type-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 55px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 10px;
}

#div-price-account-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 65px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 15px;
}

.div-price-label {
    width: 268px;
    display: inline-block;
    vertical-align: top;
}

.div-price-label1 {
    width: 630px;
    display: inline-block;
    vertical-align: top;
}

.li-pricing-info {
    display: inline-block;
    width: 98%;
    padding: 15px 0px 10px 10px;
}

#div-do-system-label-header {
    /*color: #036;
display: inline-block;
font-weight: bold;
text-align: right;
margin-right: 5px;*/
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 166px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 10px;
}

#div-do-system-label-header {
    width: 55px;
    margin-left: 1px;
}

.div-price-buttons {
    display: inline-block;
    width: 318px;
}

.li-btn-price {
    width: 99%;
    padding: 22px 0px 25px 10px;
    /* margin-left: 135px;*/
}

.li-btn-price div {
    display: inline-block;
    padding: 0.7em;
    color: black;
}

.div-projected-scale {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 155px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 10px;
}

.div-price-label2 {
    display: inline-block;
}

#btn-price-go-btn {
    background-color: #030303;
    width: 40px;
    padding: 10px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    color: #fff;
    margin-top: -4px;
}

.fa-information-circle {
    font-size: 2.3em;
    margin-left: -55px;
    margin-top: 4px;
    color: #333;
}

/*#btn-price-frequently-used {
	background-color: #fff8e4;
	width: 45%;
	padding: 10px 0px!important;
	
	vertical-align: middle;
    
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}*/

#btn-price-generate {
    background-color: rgba(0, 255, 255, 0.67);
    width: 16%;
    padding: 10px 0px!important;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

/*Type Dropdown*/

#div-price-type-header,
.div-type {
    display: inline-block;
}

#div-pricing-accnt .div-dropdown-main {
    width: 100%;
}

#div-pricing-accnt .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-pricing-accnt .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
    width: 118px;
    display: inline-block;
}

#div-pricing-accnt .div-dropdown-list {
    margin-top: 35px;
    position: absolute;
    width: 150px;
    z-index: 1;
}

#div-pricing-accnt {
    border-radius: 3px;
    width: 150px;
    background-color: #ddd;
}

#div-pricing-accnt .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 120px;
}

#div-price-account-header,
#div-rep-account-list {
    display: inline-block;
}

/*Select System Dropdown*/

#div-do-system-label-header,
#div-selected-system-list {
    display: inline-block;
}

.div-Sys-label {
    width: 365px;
    display: inline-block;
    vertical-align: top;
}

/*#div-selected-system-list .div-dropdown-main {
	width: 100%;
}

#div-selected-system-list .div-arrow-dropdown {
	float: left;
	margin: 4px 5px 0 5px;
	width: 0;
}

#div-selected-system-list .div-dropdown-text {
	float: left;
	margin: 11px 0 0 20px;
	text-align: left;
}

#div-selected-system-list .div-dropdown-list {
	margin-top: 35px;
	position: absolute;
	width: 150px;
	z-index: 1;
}*/

/*#div-selected-system-list {
	border-radius: 3px;
	width: 305px;
	background-color: #ddd;
}*/

/*#div-selected-system-list .div-dropdown-list li {
	background-color: #444;
	border-bottom: 1px solid #ccc;
	color: #fff;
	padding: 8px 0 8px 30px;
	text-align: left;
	width: 335px;
}*/

/*Select drop down*/

#div-selected-system-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-selected-system-list #ul-search-resultlist {
    overflow: auto;
    max-height: 235px;
    -webkit-overflow-scrolling: touch!important;
}

#div-selected-system-list #div-search-result-multiple {
    /*position: absolute;*/
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px;
    font-size: large;
}

#div-selected-system-list #ul-search-resultlist li i {
    display: none;
}

#div-selected-system-list #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-selected-system-list #ul-search-resultlist .selected-item a {
    color: #fff;
}

#div-selected-system-list #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-selected-system-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

.div-pricing-info #div-selected-system-list li {
    padding: 0!important;
}

#div-selected-system-list {
    width: 75%;
    height: 30px;
}

#div-selected-system-list input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    /* margin-top: 30px; */
    -webkit-appearance: none;
    width: 100%;
    height: 22px;
}

#div-selected-system-list #div-keyword-search {
    width: 100%;
    position: relative;
}

#div-selected-system-list #div-search-result-main {
    /*position: absolute;*/
    z-index: 1;
    left: 150px;
}

#div-selected-system-list #div-itemlist input {
    display: none!important;
}

#div-do-system-label-header,
#div-acc-selected-system-list {
    display: inline-block;
}

#div-acc-selected-system-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}


#div-acc-selected-system-list #ul-search-resultlist {
    overflow: auto;
    max-height: 235px;
}

#div-acc-selected-system-list #div-search-result-multiple {
    /*position: absolute;*/
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

/*Rep Account Drop down Values*/

#div-rep-account-list #div-search-result-main {
    color: #fff;
    position: absolute;
    z-index: 1;
    background-color: #444;
    max-height: 400px;
    display: none;
}

#div-rep-account-list #ul-search-resultlist {
    overflow: auto;
    max-height: 235px;
    -webkit-overflow-scrolling: touch!important;
}

#div-rep-account-list #div-search-result-multiple {
    /*position: absolute;*/
    bottom: -32px;
    text-align: center;
    width: inherit;
    height: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #036;
    padding: 10px inherit;
    font-size: large;
}

#div-acc-selected-system-list #ul-search-resultlist li i {
    display: none;
}

#div-acc-selected-system-list #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-acc-selected-system-list #ul-search-resultlist .selected-item a {
    color: #fff;
}

#div-acc-selected-system-list #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-acc-selected-system-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

.div-pricing-info #div-acc-selected-system-list li {
    padding: 0!important;
}

#div-acc-selected-system-list {
    width: 75%;
    height: 30px;
}

#div-acc-selected-system-list input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    /* margin-top: 30px; */
    -webkit-appearance: none;
    width: 100%;
    height: 22px;
}

#div-acc-selected-system-list #div-keyword-search {
    width: 100%;
    position: relative;
}

#div-acc-selected-system-list #div-search-result-main {
    /*position: absolute;*/
    z-index: 1;
    left: 150px;
}

#div-acc-selected-system-list #div-itemlist input {
    display: none!important;
}

#div-rep-account-list #ul-search-resultlist li i {
    display: none;
}

#div-rep-account-list #ul-search-resultlist .selected-item {
    background-color: #444;
    color: #fff;
}

#div-rep-account-list #ul-search-resultlist .selected-item a {
    color: #fff;
}

#div-rep-account-list #ul-search-resultlist .selected-item i {
    display: inline;
}

#div-rep-account-list .item-searchlist {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0.7em 0.1em;
    border-bottom: 1px solid #999;
}

.div-pricing-info #div-rep-account-list li {
    padding: 0!important;
}

#div-rep-account-list {
    width: 50%;
    height: 30px;
}

.ul-price-total-detail-info #txt-billing-account {
    width: 100%;
    margin: 0px 8px 0px 0px;
    display: inline-block;
}

#div-rep-account-list input {
    border: 0px;
    border-radius: 0px;
}

#div-rep-account-list #div-keyword-search {
    width: 100%;
    position: relative;
}

#div-rep-account-list #div-search-result-main {
    /*position: absolute;*/
    z-index: 1;
    left: 150px;
}

#div-acc-selected-system-list #div-search-result-main {
    top: 90px !important;
    left: 60.642px !important;
}

#div-rep-account-list #div-itemlist input {
    display: none!important;
}

#div-rep-account-id {
    display: inline-block;
    padding-left: 25px;
}

#div-rep-account-id input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.5em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    width: 60px;
}

.ul-price-total-detail-info input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.5em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
}

.div-projected-scale-value {
    display: inline-block;
}

.div-projected-scale-value input {
    width: 128px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    text-align: right;
    font-size: 1em;
}

.div-price-request-id-label {
    display: inline-block;
}

#div-price-request-id-header, #div-price-account-header-name-mob {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 6px;
    vertical-align: top;
    /*    margin-left: 68px;*/
}

#div-price-request-id-name {
    display: inline-block;
    width: 120px;
    color: #ec5454;
}

/*SystemReport*/

.btn-price {
    border-radius: 3px;
}

.li-btn-navigation {
    width: 96%;
    text-align: center;
    margin: 1px 0px 0px 20px;
}

.li-btn-navigation div {
    display: inline-block;
    padding: 0.7em;
    color: white;
}

.ul-price-detail-info {
    clear: both;
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    margin: 0px 2px 3px 1px;
    height: 550px;
    width: 100%;
}

/*Second Screen*/

.div-price-width {
    width: 250px;
}

#div-price-System {
    height: 387px;
    margin: 30px 10px 2px 10px;
}

.div-price-weight {
    border: 1px solid #ccc;
    /*    border-radius: 3px;*/
    display: inline-block;
    width: 235px;
}

/*.div-price-widget-header {
    height: 30px;
    width: 100%;
    background-color: #59dfec;
    color: black;
}

.div-price-widget-header div {
    width: 82%;
    margin: 7px 2px 0 8px;
    font-weight: bold;
}
.div-price-widget-header, .div-price-widget-header i {
    display: inline-block;
    text-align: center;
}*/

#div-price-Addition {
    height: 140px;
    margin: 47px 10px 2px 10px;
}

.div-price-functionality {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: inline-table;
    width: 235px;
}

.div-functionality-widget-header {
    height: 30px;
    width: 100%;
    background-color: #408bd8;
    color: black;
}

.div-functionality-widget-header div {
    width: 82%;
    margin: 7px 2px 0 8px;
    font-weight: bold;
}

.div-functionality-widget-header,
.div-functionality-widget-header i {
    display: inline-block;
    text-align: center;
}

.div-pricing-change {
    width: 74%;
    vertical-align: top;
}

.div-price-data {
    /*width: 71%;*/
    /* float: right; */
    height: 453px;
    margin: 30px 0px 0px 7px;
    /* background-color: black; */
    /* margin: 22px; */
    border: 1px solid #ccc;
}

.ul-price-pricing {
    height: 28px;
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #766D5E;
}

.ul-price-data-content {
    height: 85px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

.li-price-data-content {
    display: inline-block;
    margin: 15px 0px 0px 15px;
    /*padding: 0px 180px 0px 0px;*/
}

.div-price-type {
    font-weight: bold;
    color: black;
    width: 124px;
}

.div-price-value {
    font-weight: bold;
    color: black;
    display: inline-block;
    width: 100px;
}

.li-price-load-groups,
.li-price-auto-populate,
.li-price-extend-current {
    display: inline-block;
    /*padding: 25px 80px 0px 15px;*/
}

.div-price-load-groups,
.div-price-auto-populate,
.div-price-extend-current {
    font-weight: bold;
    color: black;
    width: 175px;
    margin-left: 30px;
}

.ul-price-group-header {
    height: 47px;
    width: 100%;
    background-color: #F2EDE4;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.ul-price-group-qty {
    /*height: 100px;*/
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    /*font-weight: bold;*/
    overflow: auto;
}

.ul-price-level-construct {
    height: 30px;
    width: 100%;
    background-color: #EEEEEE;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.ul-price-speciality-group {
    width: 100%;
    height: 30px;
    background-color: #d6f9c9;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.ul-price-speciality-qty {
    height: 99px;
    width: 100%;
    background-color: white;
    /*border-bottom: 1px solid #ccc;*/
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
}

.div-price-speciality-group {
    padding-top: 7px;
}

/*Report Screen*/

.ul-report-values {
    border-bottom: 1px solid #ccc;
    height: 25px;
    padding: 5px 10px 10px 10px;
    font-weight: bold;
}

/*.div-Remove {
    width: 99%;
    padding: 10px 0px 25px 10px;
     margin-left: 135px; 
}

#div-remove-id {
    background-color: rgba(0, 255, 255, 0.67);
    width: 16%;
    padding: 10px 0px!important;
    margin: 0;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}*/

.li-inv-parts-used-icon,
#li-system-desc {
    display: inline-block;
}

.fa-price-minus-circle {
    font-size: 1.2em;
    margin-left: 6px;
    margin-top: 4px;
    margin-right: 6px;
}

.div-price-widget-details {
    overflow: auto;
    height: 387px;
    background-color: #fff;
    -webkit-overflow-scrolling: touch!important;
}

.ul-add-sys-values {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px 5px 0px;
    font-weight: bold;
}

.li-add-system-values {
    height: 270px;
    list-style: none;
}

#li-add-system-desc {
    margin: 5px 0px 5px 0px;
    display: inline-block;
    width: 67%;
    vertical-align: top;
}

#div-show-sys-name #li-add-system-desc {
    width: 150px;
    font-size: 14px;
}

.div-price-addition-details {
    height: 110px;
    background-color: #f1f1f1;
}

.ul-add-functionality-values {
    border-bottom: 1px solid #ccc;
    padding: 5px 0px 10px 10px;
    font-weight: bold;
}

.li-add-functionality-values {
    height: 110px;
    list-style: none;
}

#li-add-functionality-desc {
    margin-top: 5px;
}

#div-price-navigation {
    width: 100%;
    background-color: #999;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 40px;
}

.div-price-detail-navigation .btn-detail {
    width: 33.33% !important;
}

/*.btn-bg-grey.btn-selected {
    background-color: #ccc;
    color: #000;
}
.btn-bg-grey {
    background-color: grey;
    color: #fff;
}
.btn-detail-navigation {
    display: inline;
    float: left;
    font-size: 16px;
    height: 30px;
    padding: 10px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}*/

.div-pricing-info-change {
    margin: -15px 10px 10px 10px;
}

.div-price-cls-input {
    display: inline-block;
}

.div-price-cls-input .div-dropdown-main {
    width: 100%;
}

.div-price-cls-input .div-arrow-dropdown {
    float: left;
    margin: 0px 5px 0 5px;
    width: 0;
}

.div-price-cls-input .div-dropdown-text {
    float: left;
    margin: 7px 0 0 20px;
    text-align: left;
    width: 98px;
    display: inline-block;
}

.div-price-cls-input .div-dropdown-list {
    margin-top: 30px;
    position: absolute;
    width: 150px;
    z-index: 1;
}

.div-price-cls-input {
    border-radius: 3px;
    width: 130px;
    background-color: #ddd;
    height: 30px;
    margin-bottom: -9px;
}

.div-price-cls-input .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 100px;
}

.div-price-cls-input input {
    width: 85px;
    height: 25px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    /* padding: 0.5em 0.6em; */
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    text-align: center;
    font-size: 1em;
}

.div-price-percentage-value-input ,div-price-group-dt-input{
    display: inline-block;
}

.li-price-changes-showall {
    font-size: 1.4em;
    vertical-align: text-bottom;
    height: 28px;
}

.li-price-changes-showall {
    width: 4%;
}

/*.li-price-changes-showall i {
    font-size: 1.5em;
    vertical-align: middle;
}*/

.div-price-percentage-value-input input {
    width: 40px;
    height: 25px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    /* padding: 0.5em 0.6em; */
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    margin-left: 14px;
    text-align: center;
    font-size: 1em;
}


.div-price-group-dt-input input {
    width: 40px;
    height: 25px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    /* padding: 0.5em 0.6em; */
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    margin-left: 14px;
    text-align: center;
    font-size: 1em;
}

.li-price-system-changes {
    display: inline-block;
}

.li-price-changes-showall {
    display: inline-block;
}

#li-price-check-load-all-groups {
    margin-left: 90px;
}

#li-price-check-auto-populate {
    margin-left: 172px;
}

#li-price-check-extend-current {
    margin-left: 155px;
}

.ul-price-group-header-list {
    padding: 5px;
}

.li-price-group-header {
    display: inline-block;
    color: #766D5E;
}

#li-price-group-name {
    margin-right: 174px;
    margin-left: 25px;
}

#li-price-group-qty {
    margin-right: 5px;
    margin-left: 20px;
}

#li-price-group-pruposed {
    margin: 0px 3px 0px 40px;
}

#li-price-group-tripwire {
    margin: 0px 30px 0px 58px;
}

#li-price-group-current {
    margin-left: 50px;
}

.ul-price-group-bottom-list {
    padding: 5px;
    margin-left: 360px;
}

/*#li-price-Pruposed-unit{
    margin-right: 40px;
    margin-left: 15px;
}*/

#li-price-Pruposed-ext {
    margin-right: 22px;
    margin-left: 60px;
}

/*#li-price-Tripwire-unit{
    margin-left: 20px;
    margin-right: 30px;
}*/

#li-price-Tripwire-ext {
    margin-left: 30px;
    margin-right: 25px;
}

.li-price-level-construct {
    padding-top: 7px;
    display: inline-block;
    width: 345px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.li-price-pruposed-ext-price-total {
    display: inline-block;
    width: 132px;
    padding-top: 7px;
    /* margin-left: 115px; */
    text-align: right;
}

.li-price-tripwire-ext-price-total {
    display: inline-block;
    width: 112px;
    padding-top: 7px;
    margin-right: 15px;
    text-align: right;
    margin-left: 1px;
}

.div-p-icon {
    display: inline-block;
    width: 16px;
    height: 18px;
    padding: 4px 2px 0px 2px;
    background: #ef4a4a;
    color: white;
    text-align: center;
    font-style: italic;
    border-radius: 19px;
    margin-left: 2px;
}

.li-price-approved-name {
    vertical-align: top;
    display: inline-block;
    width: 25px;
    height: 18px;
    padding: 4px 2px 0px 2px;
    color: #fff;
    text-align: center;
    margin-left: 1px;
    margin-top: 4px;
}

.li-price-group-details {
    display: inline-block;
}

#li-price-system-name {
    width: 275px;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#li-price-system-qty {
    width: 35px;
    text-align: right;
}

#li-price-system-Pruposed-unit {
    width: 55px;
    text-align: right;
}

#li-price-system-Pruposed-ext {
    width: 70px;
    margin-left: 10px;
    text-align: right;
}

#li-price-system-Tripwire-unit {
    width: 55px;
    text-align: right;
}

#li-price-system-Tripwire-ext {
    width: 55px;
    margin-right: 15px;
    text-align: right;
}

#li-price-system-flag {
    vertical-align: top;
    display: inline-block;
    width: 25px;
    height: 18px;
    padding: 4px 2px 0px 2px;
    color: #fff;
    text-align: center;
    margin-left: 2px;
}

#li-price-system-current {
    width: 55px;
    text-align: right;
    margin-left: 5px;
}

/*.ul-price-system-details{
    padding: 5px 5px 5px 0px;
}*/

.li-price-change-heading {
    padding-top: 7px;
    margin-left: 3px;
}

.div-price-data-input {
    padding: 10px 10px 10px 10px;
}

#li-price-system-Pruposed-unit input {
    width: 55px;
    height: 20px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    /* padding: 0.5em 0.6em; */
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    text-align: right;
    font-size: 1em;
    margin-left: 5px;
}

/*#li-price-system-Pruposed-ext input{
    width: 55px;
    height: 20px;
    background-color: #eee;
    font-family: "Trebuchet MS";
     padding: 0.5em 0.6em; 
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    text-align: right;
    font-size: 1em;
}*/

.ul-price-system-details {
    padding: 7px 0px 7px 0px;
}

.ul-price-speciality-details {
    padding: 7px 0px 7px 0px;
}

#li-price-speciality-name {
    width: 355px;
    font-size: 0.9em;
}

#li-price-speciality-qty {
    width: 35px;
    text-align: right;
}

#li-price-speciality-Pruposed-unit input {
    width: 55px;
    height: 20px;
    background-color: #eee;
    font-family: "Trebuchet MS";
    /* padding: 0.5em 0.6em; */
    border: none;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    text-align: right;
    font-size: 1em;
}

#li-price-speciality-Pruposed-ext {
    width: 55px;
    text-align: right;
}

#li-price-speciality-flag {
    width: 15px;
}

/*#li-price-system-Pruposed-unit{
    width: 55px;
    text-align: right;
}

#li-price-system-Pruposed-ext{
    width: 55px;
    text-align: right;
}*/

#li-price-speciality-Tripwire-unit {
    width: 55px;
    text-align: right;
}

#li-price-speciality-Tripwire-ext {
    width: 55px;
    margin-right: 15px;
    /*background-color: #ffff73;*/
    text-align: right;
}

#li-price-speciality-current {
    width: 55px;
    text-align: center;
}

.ul-price-save-btn {
    /*    display: inline-block;*/
    margin-top: -69px;
    margin-left: 21px;
}

/*Buttons*/

.div-price-threshold-btn {
    display: inline-block;
    border: 1px solid #777;
    width: 110px;
    text-align: center;
    background-color: #fff8e4;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    color: black;
    font-size: 0.7em;
}

.div-price-impact-btn {
    display: inline-block;
    border: 1px solid #777;
    width: 92px;
    text-align: center;
    background-color: #fff8e4;
    font-weight: bold;
    border-radius: 2px;
    padding: 7px;
    color: black;
    font-size: 0.7em;
}

.ul-price-upload-btn {
    padding-top: 5px
}

.div-price-upload-btn {
    display: inline-block;
    border: 1px solid #777;
    width: 110px;
    text-align: center;
    background-color: #fff8e4;
    font-weight: bold;
    border-radius: 2px;
    padding: 7px;
    color: black;
    font-size: 0.7em;
}

/*.div-price-save-btn{
    display: inline-block;
    border: 1px solid #777;
    width: 70px;
    text-align: center;
    background-color: #59dfec;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    margin-left: 277px;
}*/

/*Impacy Analysis Pop up Styles*/

.impact-ana-Summary {
    width: 100%;
    height: 120px;
    margin: 0px auto;
}

.impact-ana-Summary li {
    width: 48%;
    display: inline-block;
    height: 100%;
    padding-top: 5px;
}

.summaryMargin {
    margin-right: 3.5%;
}

.impact-ana-Summary li .summaryLabel {
    width: 100%;
    height: 100%;
}

.impact-ana-Summary li .summaryLabel li {
    width: 100%;
    height: 20px;
    border: 1px solid #999;
}

.impact-ana-Summary li .summaryLabel li:nth-child(odd) {
    background: #fff;
}

.impact-ana-Summary li .summaryLabel li:nth-child(even) {
    background: #eee;
}

.impact-ana-Summary li .summaryLabel li .summarySubLabel {
    width: 100%;
    height: 100%;
    background: none;
}

.impact-ana-Summary li .summaryLabel li .summarySubLabel li {
    width: 49%;
    height: 100%;
    display: inline-block;
    color: #000;
    background: none;
    font-size: 13px;
    border: none;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#summaryInfo {
    margin-right: 10px;
}

.gmPriceTotalFooter {
    background: #8c8c92;
    color: white;
    padding: 8px 0px 8px 0px;
}

.gmMarginLeft {
    margin-left: 16px;
}

.vtotsale {
    margin-left: -15px;
}

.vtotprop {
    margin-left: 10px;
}

.vtotproj {
    margin-left: 21px;
}

.totsale {
    margin-left: -5px;
}

.totproj {
    margin-left: 25px;
}

.gmParts {
    margin-left: -5px;
}

.ul-footer-impact-analy {
    width: 100%;
    background: #eee;
    bottom: 0px;
    left: 0px;
    height: 40px;
}

.imTextCenter {
    text-align: center;
}

.div-parts-impact-amt {
    margin-bottom: 5px;
}

.div-parts-impact-amt:nth-child(odd) {
    background-color: #eee;
    padding-bottom: 10px;
}

.div-parts-impact-amt:nth-child(even) {
    background-color: #fff;
    padding-bottom: 10px;
}

.div-impact-total {
    padding: 10px 0px 10px 0px;
    background-color: #fffefc;
    border-bottom: 1px solid #ccc;
}

.ul-pricing-impact-content {
    height: 350px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch!important;
}

/*Report Screen*/

.div-price-report-label {
    /*    width: 400px;*/
    display: inline-block;
    vertical-align: top;
}

.li-pricing-Report-screen {
    padding: 10px;
    background-color: #008844;
    color: white;
    list-style: none;
}

.li-pricing-report-info {
    display: inline-block;
    width: 98%;
    padding: 15px 0px 15px 10px;
}

#div-price-Report-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: left;
    width: 75px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

#div-price-Report-header,
.div-status-type {
    display: inline-block;
    margin-top: -5px;
}

/*
.div-price-report-label1 {
    width: 670px;
    display: inline-block;
    vertical-align: top;
}


#div-price-account-report {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 75px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}
*/

.div-price-account-name {
    width: 450px;
    display: inline-block;
    vertical-align: top;
}

/*
#div-price-account-report, #div-price-account-name {
    display: inline-block;
}
*/

.div-price-acc-name {
    padding: 5px;
}

.li-price-report-label div {
    display: inline-block;
}

.li-price-report-label div {
    display: inline-block;
    vertical-align: middle;
}

.div-price-info-label-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 75px;
    margin-right: 5px;
}

#label-price-from-info-date,
#label-price-to-info-date {
    display: inline-block;
    padding: 0.50em 0.5em;
    background-color: #eee;
    font-family: "Trebuchet MS";
    border: none;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
    width: 100px;
    height: 17px;
    vertical-align: middle;
    border-radius: 3px;
}

.li-price-report-label input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.4em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    -webkit-appearance: none;
}

.li-price-report-label input {
    width: 148px;
}

#li-price-date-label {
    list-style: none;
    /*    padding: 0px 0px 25px 0px;*/
}

#div-price-info-to-date {
    /*    margin-left: 65px;*/
}

#div-price-report-load-btn {
    background-color: black;
    width: 9%;
    padding: 10px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 150px;
    color: white;
}

.div-price-report {
    border: 1px solid #999;
    box-shadow: 0 0 5px #999;
    /* margin: 1px 2px 3px 1px; */
    height: 410px;
    width: 98%;
    margin: 15px 0px 0px 10px;
}

.li-report-values {
    height: 450px;
    list-style: none;
}

.div-price-report-header-list {
    background-color: #e6e6e6;
    width: 100%;
    padding: 15px 0;
    color: #403939;
}

.div-price-report-header-list div:first {
    padding-left: 10px;
}

.div-price-report-header-list div {
    display: inline-block;
    /*padding-left: 10px;*/
}

.div-price-request-no {
    width: 100px;
    text-align: center;
}

.div-price-name-account {
    width: 250px;

}

.div-price-name-region {
    width: 170px;

}

.div-price-initiated-by {
    width: 120px;

}

.div-price-initiated-on {
    width: 100px;
}

.div-price-updated-on {
    width: 85px;
}

.div-price-status-name {
    width: 110px;
    text-align: center;

}

.div-price-status-tick {
    width: 50px;
    float: right;
    margin-right: 55px;
}

.div-price-report-details {
    display: inline-block;
    width: 100%;
}

.li-price-report-details {
    display: inline-block;
    border: 1px solid #f3f3f3;
    width: 99.8%;
    padding: 10px 0px 10px 0px;
    font-weight: bold;
}

.div-price-request-name {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.div-price-request-account-name {
    display: inline-block;
    width: 250px;
}

.div-price-request-region-name {
    display: inline-block;
    width: 170px;
}

.div-price-request-initiated-by {
    display: inline-block;
    width: 120px;
}

.div-price-request-reviewed-by {
    display: inline-block;
    width: 100px;
}

.div-price-request-status-name {
    display: inline-block;
    width: 85px;
    text-align: center;
}

#div-pricing-status .div-dropdown-main {
    width: 100%;
}

#div-pricing-status .div-arrow-dropdown {
    float: left;
    margin: 4px 5px 0 5px;
    width: 0;
}

#div-pricing-status .div-dropdown-text {
    float: left;
    margin: 11px 0 0 20px;
    text-align: left;
    width: 196px;
    display: inline-block;
}

#div-pricing-status .div-dropdown-list {
    margin-top: 35px;
    position: absolute;
    width: 230px;
    z-index: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
    height: 100px;
}

#div-pricing-status {
    border-radius: 3px;
    width: 230px;
    background-color: #ddd;
}

#div-pricing-status .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 200px;
}

/*Submitted Requests screen*/

.li-pricing-submit-request-screen {
    display: inline-block;
    width: 780px;
}

.li-pricing-submit-req-info {
    display: inline-block;
    width: 98%;
    padding: 15px 0px 10px 10px;
    margin-bottom: 3px;
}

.div-price-submit-label {
    width: 305px;
    display: inline-block;
    vertical-align: top;
}

.div-price-submit-label1 {
    width: 575px;
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

#div-price-request-number,
.div-request-type {
    display: inline-block;
}

#div-price-request-number {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 10px;
}

.btn-submit-sign {
    display: inline-block;
    margin-top: -26px;
}

#btn-price-submit-go-btn {
    background-color: #030303;
    width: 40px;
    padding: 10px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    color: #fff;
}

#div-price-account-header-name,
#div-rep-account-list {
    display: inline-block;
}

#div-price-account-header-name {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 90px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

#div-pricing-request {
    display: inline-block;
    padding-left: 5px;
}

#div-pricing-request input {
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.5em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    width: 120px;
}

#div-price-submit-req-account-name,
#div-price-account-header-name {
    display: inline-block;
}

.div-pricesubmit-req-acc-name {
    padding: 5px;
    width: 420px;
}

.div-initiated-by-label {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

#div-initiated-by-header,
#div-initiated-by-name {
    display: inline-block;
}

#div-initiated-by-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

.div-reviewed-by-label {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

#div-reviewed-by-header,
#div-reviewed-on-date {
    display: inline-block;
}

#div-reviewed-on-date {
    padding: 5px;
}

#div-reviewed-by-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 126px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

#div-initiated-by-name {
    padding: 5px;
}

.div-status-by-label {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}

#div-status-by-header,
#div-status-name {
    display: inline-block;
}

#div-status-by-header {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 100px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

#div-status-name {
    padding: 5px;
}

.div-submit-projected-scale-value {
    display: inline-block;
}

.div-submit-projected-scale-value input {
    width: 60px;
    display: inline-block;
    background-color: #eee;
    font-family: "Trebuchet MS";
    padding: 0.5em 0.6em;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    margin-top: -6px;
}

.div-submit-projected-scale {
    color: #036;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    width: 250px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 5px;
}

/*Threshold Questions Screen*/

.li-pricing-Threshold-screen {
    display: inline-block;
}

.li-threshold-cancel-button {
    display: inline-block;
    float: right;
    background-color: black;
    height: 20px;
    border-radius: 20px;
    width: 18px;
    padding: 6px 6px 5px 6px;
    margin: -8px 1px 1px 1px;
}

.li-file-upload-cancel-button {
    display: inline-block;
    float: right;
    background-color: black;
    height: 20px;
    border-radius: 20px;
    width: 18px;
    padding: 6px 6px 5px 6px;
    margin: -8px 1px 1px 1px;
}

#div-close-circle {
    position: absolute;
    right: 5px;
    top: 15px;
}

#btn-close-circle {
    /*
    border: 1px solid white;
    border-radius: 50%;
    color: white;
    padding: 0.3em;
*/
    font-size: 1.2em;
}

.div-threshold-header {
    padding: 10px;
    color: #036;
    font-weight: bold;
    font-size: 1.3em;
}

.div-threshold-text-border {
    /* border: 2px solid #ccc; */
    /* width: 98%; */
    margin: 5px 0px 0px 10px;
    height: 550px;
    /* border-radius: 2px; */
    -webkit-overflow-scrolling: touch!important;
    overflow: auto;
}

.div-threshold-top-header {
    padding: 10px;
    background-color: #008844;
    color: white;
    list-style: none;
}

.div-no-style {
    font-size: 1.1em;
}

.li-answer-style {
    font-size: 1.1em;
    color: blue;
    margin-left: 5px;
}

.div-threshold-questions {
    /*    border-bottom: 1px solid #ccc;*/
    /*height: 40px;*/
    padding: 9px 0px 9px 0px;
    /*    background-color: #f9f9f9;*/
}

.gmColorRed {
    color: red;
}

.ul-question_align {
    display: inline-flex;
}

.li-question_align {
    display: inline-block;
}

/*.div-threshold-answer-block {
    display: inline-block;
}*/

.li-answer-symbol {
    display: inline-block;
}

.li-threshold-answer {
    display: inline-block;
    margin: 5px 0px 5px 0px;
}

#li-threshold-answer-no1 textarea {
    width: 685px;
    height: 25px;
    font-family: "Trebuchet MS";
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    vertical-align: middle;
}

.li-threshold-answer textarea {
    width: 850px;
    height: 25px;
    font-family: "Trebuchet MS";
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
}

.div-threshold-answer-block,
.div-threshold-answer-comments {
    /*
    border-bottom: 1px solid #ccc;
    background-color: #e8f4ff;
*/
}

.li-threshold-answer-comments {
    display: inline-block;
    margin: 5px 0px 5px 28px;
}

.li-threshold-answer-comments textarea {
    width: 845px;
    height: 50px;
    font-family: "Trebuchet MS";
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
}

#div-threshold-submit {
    border: 1px solid #777;
    width: 125px;
    text-align: center;
    background-color: #333;
    border-radius: 3px;
    padding: 0.5em;
    color: #fff;
    margin: 8px 0px 10px 375px;
    display: inline-block;
}

#li-pricing-dropdown .div-dropdown-main {
    width: 100%;
}

#li-pricing-dropdown .div-arrow-dropdown {
    float: left;
    margin: -1px 5px 0 5px;
    width: 0;
}

#li-pricing-dropdown .div-dropdown-text {
    float: left;
    margin: 6px 0 0 20px;
    text-align: left;
    width: 126px;
    display: inline-block;
}

#li-pricing-dropdown .div-dropdown-list {
    margin-top: 30px;
    position: absolute;
    width: 160px;
    z-index: 1;
    height: 130px;
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
}

#li-pricing-dropdown {
    border-radius: 3px;
    width: 160px;
    background-color: #ddd;
    list-style: none;
    display: inline-block;
    margin: 5px 0px -9px 0px;
    height: 28px;
    border: 1px solid #ccc;
}

#li-pricing-dropdown .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 130px;
}

#div-price-overlay-content-container5 {
    max-width: 915px;
}

/*Toggle buttons*/

.toggle-button {
    /*    background-color: white;*/
    background: -webkit-linear-gradient(top, rgba(138, 138, 138, 1) 0%, rgba(140, 140, 140, 1) 14%, rgba(159, 159, 159, 1) 72%, rgba(164, 164, 164, 1) 100%);
    color: white;
    margin: 3px 0;
    border-radius: 31px;
    border: 2px solid #D0D0D0;
    height: 26px;
    cursor: pointer;
    width: 70px;
    position: relative;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

#b-font-size {
    font-size: 16px;
    margin-top: 5px;
}

.toggle-button button {
    cursor: pointer;
    outline: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    width: 35px;
    height: 30px;
    background-color: white;
    float: left;
    margin: -2px 0 0 -2px;
    border: 2px solid #D0D0D0;
    transition: left 0.3s;
}

.toggle-button-selected {
    /*
    background-color: #21e080;
    border: 2px solid #8ee237;
*/
    background: -webkit-radial-gradient(center, ellipse cover, rgba(141, 173, 51, 1) 0%, rgba(146, 178, 55, 1) 24%, rgba(157, 187, 64, 1) 55%, rgba(166, 194, 78, 1) 100%);
    color: white;
}

.toggle-button-selected button {
    left: 36px;
    top: -1px;
    margin: 0px;
    border: none;
    width: 35px;
    height: 28px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

/*Account Details Screen*/

.div-account-information {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: right;
    display: inline-block;
    width: 275px;
}

#div-price-overlay-content-container6 {
    max-width: 900px;
}

.div-account-details {
    padding: 10px 10px 10px 10px;
    text-align: left;
    display: inline-block;
    width: 390px;
}

.li-price-account-details {
    display: inline-flex;
}

/*P Icon details*/

#div-price-overlay-content-container7 {
    max-width: 735px
}

.div-group-part-top-header {
    padding: 10px;
    background-color: #008844;
    color: white;
    list-style: none;
}

.li-pricing-group-part-screen {
    display: inline-block;
}

.li-group-part-cancel-button {
    display: inline-block;
    float: right;
    background-color: black;
    height: 20px;
    border-radius: 20px;
    width: 18px;
    padding: 6px 8px 5px 5px;
    margin: -8px 1px 1px 1px;
}

.div-group-part-pricing {
    border: 2px solid #ccc;
    height: 460px;
    border-radius: 2px;
}

.div-price-group-price-name {
    border-bottom: 1px solid #ccc;
    padding: 8px 0px 8px 5px;
    background-color: #ffecb5;
    font-weight: bold;
}

.div-group-price-top-header,.div-do-tag-img-top-header {
    background-color: #444;
    width: 100%;
    height: 40px;
}

.li-group-price-top-header,.li-do-tag-img-top-header {
    display: inline-block;
    color: white;
    /*    margin-top: 12px;*/
}

.ul-group-price-details {
    padding: 10px 0px 10px 0px;
    background-color: #fffefc;
    border-bottom: 1px solid #ccc;
}

#li-group-price-part-number,
#li-group-price-part-number-id {
    width: 120px;
    margin-left: 5px;
}

#li-group-price-part-desc {
    width: 355px;
}

#li-group-price-part-desc-id {
    width: 350px;
}

#li-group-price-part-desc-id {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#li-group-price-list-price,
#li-group-price-list-price-id {
    width: 117px;
    text-align: right;
}

#li-group-price-trip-wire,
#li-group-price-trip-wire-id {
    width: 117px;
    text-align: right;
}

#li-group-price-file-name {
    width: 240px;
    text-align: left;
    /* padding: 0px; */
    padding-left: 26px;
}

#li-group-price-upload-by {
    width: 140px;
    text-align: center;
}

#li-group-price-upload-on {
    width: 140px;
    text-align: center;
}

#li-group-price-void {
    width: 140px;
    text-align: center;
}

.div-group-price-details {
    width: 100%;
    height: 370px;
    overflow: auto;
    /*    border-bottom: 1px solid #ccc;*/
    -webkit-overflow-scrolling: touch!important;
    font-size: 0.9em;
}

.li-group-price-details, .li-do-read-img-tag-dtls {
    display: inline-block;
}

.div-price-group-close-btn {
    background-color: #030303;
    width: 60px;
    padding: 6px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 7px 7px 7px 345px;
    color: #fff;
}

.div-price-upload-image-btn {
    background-color: #030303;
    width: 60px;
    padding: 6px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    margin: 7px 7px 7px 250px;
    color: #fff;
}

.div-upload-btn {
    background-color: #030303;
    display: inline-block;
    border: 1px solid #777;
    width: 80px;
    text-align: center;
    background-color: #000;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 0px!important;
    color: white;
    border-radius: 4px;
}

.div-delete-btn {
    background-color: #030303;
    width: 80px;
    padding: 6px 0px!important;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin: 7px 7px 7px 300px;
    color: #fff;
}

.div-choose-btn {
    display: inline-block;
    padding-left: 160px;
}

.li-productName {}

.li-sys-productName {}

.ul-product-background-col {
    background-color: gainsboro;
}

.ul-price-specl-group {
    height: 30px;
    width: 100%;
    background-color: #caefcc;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.li-spec-group {
    padding-top: 7px;
}

.ul-price-other-group {
    height: 30px;
    width: 100%;
    background-color: #ffe1c7;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.li-other-group {
    padding-top: 7px;
}

.colorN {
    background-color: #8c0000;
}

.colorY {
    background-color: #0b7d0b;
}

#div-overflow {
    overflow: auto;
    height: 452px;
    -webkit-overflow-scrolling: touch!important;
    width: 100%;
}

.gmPricingTextAll {
    /*    margin-left: 440px;*/
    color: red;
}

/*Cancel Price Request*/

.div-cancel-icon {
    display: inline-block;
    width: 16px;
    height: 18px;
    padding: 4px 2px 0px 2px;
    background: #ef4a4a;
    color: white;
    text-align: center;
    font-style: italic;
    border-radius: 19px;
    margin-left: 2px;
}

.div-cancel-screen {
    height: 300px;
    /*
    text-align: center;
    font-size: 2em;
    color: red;
    margin-top: 55px;
*/
}

.div-valid {
    padding: 0px 0;
    text-align: left;
    width: 100%;
}

.div-inval {
    text-align: center;
    padding: 20px 0;
}

.gmInline {
    display: inline-block;
}

.fa-price-circle {
    font-size: 1.3em;
}

.load {
    display: block!important;
}

#msg-overlay .img-progress-spinner {
    height: 50px;
    width: 50px;
}

#msg-overlay .li-img-spinner {
    text-align: center;
    margin-top: 25vh;
}

#div-price-overlay-content-container9 {
    width: 0;
    color: white;
}

#div-price-overlay-content-container9 .li-progress-message {
    width: 128px;
    text-align: center;
    padding: 15px 0px;
    font-weight: bolder;
    margin-left: -32px;
}

.myselect {
    display: none;
}

.li-cancel-report-cls {
    display: inline-flex;
    width: 100%;
}

#li-void-success {
    height: 100%;
    padding: 20% 0px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}

.div-trans-class {
    width: 120px;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    padding: 15px;
}

#div-trans-id {
    display: inline-block;
    padding: 15px;
    margin-left: -15px;
}

#div-reason-drpdwn-id .div-dropdown-main {
    width: 100%;
}

#div-reason-drpdwn-id .div-arrow-dropdown {
    float: left;
    margin: 0px 5px 0 5px;
    width: 0;
}

#div-reason-drpdwn-id .div-dropdown-text {
    float: left;
    margin: 7px 0 0 20px;
    text-align: left;
    width: 125px;
}

#div-reason-drpdwn-id .div-dropdown-list {
    margin-top: 30px;
    position: absolute;
    width: 230px;
    z-index: 1;
    overflow: auto;
    height: 100px;
    -webkit-overflow-scrolling: touch!important;
}

#div-reason-drpdwn-id {
    border-radius: 3px;
    width: 160px;
    background-color: #ddd;
    height: 30px;
    margin-top: -36px;
    margin-left: 150px;
    margin-bottom: 14px;
}

#div-reason-drpdwn-id .div-dropdown-list li {
    background-color: #444;
    border-bottom: 1px solid #ccc;
    color: #fff;
    padding: 8px 0 8px 30px;
    text-align: left;
    width: 130px;
}

.div-reason-btn {
    display: inline-block;
    border: 1px solid #777;
    width: 54px;
    text-align: center;
    background-color: #000;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px;
    color: white;
    font-size: 0.7em;
    margin-left: 15px;
    height: 12px;
    margin-top: 9px;
}

.div-price-req-comments {
    display: inline-block;
    margin: 5px 0px 5px 28px;
}

.div-price-req-comments textarea {
    width: 322px;
    height: 80px;
    font-family: "Trebuchet MS";
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 0px 0px 1px #030303;
    font-size: 1em;
    margin-left: -27px;
}

#div-reason-submit-id {
    margin-left: 152px;
}

#div-pricing-sts-drpdwn {
    margin-left: 1px;
    margin-top: 4px;
}

.ul-pricdiv-price-reporting-report-info {
    display: inline-block;
    /* color: black; */
    vertical-align: middle;
}

#li-price-date-label {
    display: inline-block;
    /*    vertical-align: bottom;*/
}

.div-price-Report-info .filter-criteria-content {
    margin: 10px;
}

.gmMinHeight35p {
    min-height: 35px;
}

#div-price-overlay-content-container10 {
    max-width: 1000px;
    margin-top: 8vh;
}

.ul-footer-impact-analy li {
    width: 33.1%;
    height: 40px;
    line-height: 35px;
    background: #ccc;
    color: #000;
}

.active {
    background: gray !important;
    color: #fff !important;
}

.ul-pricing-impact-header li {
    width: 19%;
    vertical-align: middle;
    padding: 6px 0px 6px 0px;
}

.ul-pricing-impact-header {
    border: 1px solid black;
    background: #444;
    color: white;
}

.div-impact-content ul li {
    display: inline-block;
    width: 19%;
    font-size: 15px;
}

.li-price-impact-icon {
    display: inline-block;
    width: 30px!important;
}

.div-impact-content ul div li {
    display: inline-block;
    width: 22.5%;
}

.div-impact-exp {
    display: inline-block;
    width: 77%;
}

.div-impact-exp div li {
    text-align: right;
}

.div-impact-exp div li:first-of-type {
    text-align: center;
}

.li-impact-total-footer {
    /*    width: 15%!important;*/
    text-align: right;
}

.ul-price-impact-parts-total {
    padding: 10px 0;
    background-color: #999;
    color: white;
}

.ul-price-impact-overlay-scroll {
    max-height: 82vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch!important;
}

.cfont_red {
    color: #ff0000;
}

#gtotsale {
    margin-left: -15px;
    margin-right: 15px;
}

.div-upload-file-details {
    width: 100%;
    height: 370px;
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
    /*    border-bottom: 1px solid #ccc;*/
    font-size: 0.9em;
}

.div-status-text {
    padding-bottom: 6px;
}

.p-font-text {
    font-size: smaller;
    color: red;
}

#li-price-date-label {
    width: 75vw;
}

.price-dash {
    width: 280px;
}

.price-from-date-filter {
    margin-left: 70px;
}

.status-header {
    text-align: left!important;
    margin-left: 14px;
}

.div-red-close {
    padding: 10px 10px 0px 8px;
}

.li-account-heading {
    display: inline-block;
    font-weight: bold;
}

.li-account-name {
    display: inline-block;
}

.li-impact-analysis-totals {
    display: inline-block;
    border: 1px solid #ecebe6;
    width: 150px;
    text-align: center;
    background-color: #fff8e4;
    font-weight: bold;
    border-radius: 3px;
    color: black;
    font-size: 0.85em;
    height: 40px;
    margin: 18px 10px 18px 0px;
    box-shadow: 7px 10px 5px #b5b4b4;
}

.li-impact-analysis-change {
    display: inline-block;
    border: 1px solid #95ff66;
    width: 70px;
    text-align: center;
    background-color: #d5ffb9;
    font-weight: bold;
    border-radius: 2px;
    color: black;
    font-size: 0.85em;
    margin: 10px -15px 0px 15px;
    padding: 10px;
    box-shadow: 7px 10px 5px #b5b4b4;
    border-radius: 4px;
}

.div-impact-details {
    display: inline-flex;
}

.ul-impact-details {
    display: inline-block;
    margin-top: 10px;
}

.div-account-name {
    margin-top: 10px;
}

.li-projected-impact,
.li-project-impact,
.li-prev12-monthsale,
.li-proj-propprice {
    vertical-align: -webkit-baseline-middle;
    font-size: 21px;
}

#chart-container {
    overflow: auto;
    height: 470px;
}

.activebtn {
    background: #38a009 !important;
    color: #fff !important;
}

.li-span-disp {
    display: inline-flex;
    margin-top: 5px;
    font-weight: normal;
}

.li-impact-pdf-button {
    display: inline-block;
    float: right;
    width: 20px;
    padding: 6px 6px 5px 6px;
    margin: -8px 1px 1px 1px;
}

.div-p-icon-head {
    display: inline-block;
    width: 17px;
    height: 18px;
    padding: 2px 8px 12px 8px;
    background: black;
    color: white;
    text-align: center;
    font-style: italic;
    border-radius: 19px;
    margin-left: 2px;
    font-size: 26px;
}

.grp-part-info {
    font-size: 2.3em;
    margin-left: 15px;
    margin-top: 4px;
    color: #333;
}

.div-part-value {
    display: inline-block;
    color: white;
    margin-left: 5px;
}

#div-part-div-group-part-data {
    margin-left: 20px;
}

#div-part-Desc-data {
    margin-left: 150px;
}

#div-part-System-data {
    margin-left: 5px;
    display: inline-block;
    color: white;
}

#div-part-PriceBy-data {
    margin-left: 107px;
    display: inline-block;
    color: white;
}

#div-group-part-data {
    display: inline-block;
    color: white;
    margin-left: 218px;
}

#div-acc-part-data {
    display: inline-block;
    color: white;
    margin-left: 20px;
}

#div-part-sys-System-data {
    margin-left: 45px;
    display: inline-block;
    color: white;
    width: 170px;
    text-align: center;
}

#div-part-sys-List-data {
    display: inline-block;
    color: white;
    margin-left: 10px;
    width: 100px;
}

#div-part-List-data {
    display: inline-block;
    color: white;
    margin-left: 180px;
}

#div-part-sys-PriceBy-data {
    margin-left: 1px;
    display: inline-block;
    color: white;
}

#div-part-GroupType-data {
    margin-left: 35px;
}

#div-part-ActiveFlag-data {
    margin-left: 49px;
}

#div-part-Publish-data {
    margin-left: 20px;
}

/*group part details*/

#div-price-overlay-content-container12 {
    max-width: 84%;
    margin-top: 70px;
    height: 100%;
}

#btn-part-load-btn {
    background-color: #030303;
    width: 40px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    vertical-align: middle;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    color: #fff;
    margin-top: 1px;
}

#div-price-overlay-content-container12 .modal-body {
    height: 80vh;
}

#div-price-overlay-content-container12 input {
    font-size: 15px;
    background: #eee;
}

.div-part-pricing-icon {
    display: inline-block;
    width: 18px;
    padding: 8px;
    vertical-align: bottom;
    background: #333;
    color: white;
    text-align: center;
    font-style: italic;
    border-radius: 19px;
    margin-left: 2px;
}

.div-part-options {
    font-size: 15px;
    background: #eee;
}

.sel-address-modea {
    font-size: 15px;
    height: 42px;
    border: 1px solid #999;
    border-radius: 4px;
}

.div-part-price-details {
    overflow: auto;
    height: 425px;
    font-size: 0.9em;
    border: 0px solid #ddd;
}

.ul-part-price-details {
    padding: 10px 0px 10px 0px;
    background-color: #fffefc;
    border-bottom: 1px solid #ccc;
}

#li-part-price-part-number-id {
    width: 268px;
    margin-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

#li-acc-price-part-number-id {
    width: 60px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
}

#li-part-price-system-name {
    width: 220px;
    /* margin-left: 10px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    white-space: initial;
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

#li-part-price-group-name {
    text-align: right;
    width: 55px;
    margin-left: 0px;
    display: inline-block;
}

#li-acc-part-price-group-name {
    text-align: center;
    width: 100px;
    display: inline-block;
    font-size: 14px;
}

.li-acc-part-price {
    padding-top: 7px;
    margin-left: 3px;
}

li-acc-part-price #li-part-price-group-type-name {
    width: 100px;
    text-align: right;
    margin-left: 72px;
    display: inline-block;
}

#li-part-price-group-type-name {
    display: inline-block;
    margin-left: 130px;
}

#li-part-price-List-name {
    width: 55px;
    text-align: right;
    margin-left: 0px;
    display: inline-block;
}

#div-part-number {
    display: inline-block;
    color: black;
}

.ul-group-part-pricing {
    height: 28px;
    width: 99.4%;
    background-color: #444;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    color: #766D5E;
    border: 2px solid #ddd;
}

#fa-cross-id {
    font-size: 2.3em;
    margin-left: 5px;
}

#fa-usd-id {
    font-size: 2.3em;
    margin-left: 5px;
}

.textalign {
    padding: 5px 0px 0px 375px;
    font-size: 1.1em;
    color: red;
}

.price-popup-part-close .price-popup-close-part {
    background: black;
    padding: 10px;
    display: inline-block;
    width: 100px;
    border-radius: 6px;
}

.li-pricing-info-validation {
    text-align: right;
    color: red;
    margin-right: 109px;
}

#li-gpb-price-acct-head {
    border-bottom: 1px solid #ccc;
    background: #F2EDE4;
    font-weight: bold;

}

#div-gpb-detail-content {
    min-height: 50px;
    max-height: 500px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch!important;
}

#li-gpb-price-acct-detail:nth-child(odd) {
    background-color: #fff;
}

#li-gpb-price-acct-detail:nth-child(even) {
    background-color: #eee;
}

.li-gpb-price-acct {
    display: block;
    padding: 5px;

}

.li-gpb-price-acct li {
    display: inline-block;
    padding: 5px 2px;
}

#div-account-id,
#div-gpb-contact-details {
    width: 75px;
    display: inline-block;
}

#div-account-nm,
#div-gpb-parent-acount-details {
    width: 200px;
    display: inline-block;
}

#div-account-reg,
#div-gpb-region-details {
    width: 85px;
    display: inline-block;
}

#div-account-srep,
#div-gpb-salesrep-details {
    width: 85px;
    display: inline-block;
}

#div-account-ttory,
#div-gpb-territory-details {
    width: 90px;
    display: inline-block;
}

#div-account-dbutor,
#div-gpb-distibutor-details {
    width: 85px;
    display: inline-block;
}

#div-account-area-dtor,
#div-gpb-area-director-details {
    width: 95px;
    display: inline-block;
}

#div-account-vp-nm,
#div-gpb-vp-name-details {
    width: 80px;
    display: inline-block;
}

/*Price indicator*/

.li-price-indicatior {
    display: block;
    padding: 5px;
}

.li-price-indicatior li {
    display: inline-block;
    padding: 5px 2px;
}

#div-system-nm {
    width: 220px;
    display: inline-block;
}

#div-grp-nm {
    width: 220px;
    display: inline-block;
}

#div-proposed-price {
    width: 105px;
    display: inline-block;
}

#li-price-indicatior-header {
    background-color: #444;
    height: 25px;
    color: white;
}

#div-price-systemnm {
    width: 220px;
    display: inline-block;
}

#div-price-grpnm {
    width: 220px;
    display: inline-block;
}

#div-price-proposedprice {
    width: 105px;
    display: inline-block;
    text-align: center;
}

#div-error-icon {
    font-size: 20px;
    color: red
}

#div-system-error-indicator {
    display: inline-block;
    width: 8px;
    height: 18px;
    padding: 4px 2px 0px 2px;
    text-align: center;
    margin-left: 2px;
    font-weight: bold;
    font-size: 17px;
}

.highlighted-error-detail {
    background-color: #f2b8c3;
}

#div-indicator-detail-content {
    min-height: 50px;
    max-height: 500px;
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
}

#li-indicator-price-detail:nth-child(odd) {
    background-color: #fff;
}

#li-indicator-price-detail:nth-child(even) {
    background-color: #eee;
}

.li-indicator-dtl {
    display: block;
    padding: 5px;

}

.li-indicator-dtl li {
    display: inline-block;
    padding: 5px 2px;
}

#div-error-icon-main {
    font-size: 32px;
    color: red;
    margin-left: 3px;
    margin-top: 4px;
}

/****Sales Analysis*****/

.div-price-sales-analysis {
    display: inline-block;
    border: 1px solid #777;
    width: 92px;
    text-align: center;
    background-color: #fff8e4;
    font-weight: bold;
    border-radius: 2px;
    padding: 7px;
    color: black;
    font-size: 0.7em;
    margin-left: 3px;
}

#div-price-overlay-content-container-sales-analysis {
    max-width: 1000px;
    margin-top: 8vh;
}

.li-sales-analysis-buttons {
    display: inline-block;
    border: 1px solid #95ff66;
    width: 100px;
    text-align: center;
    background-color: #d5ffb9;
    font-weight: bold;
    border-radius: 2px;
    color: black;
    font-size: 0.85em;
    margin: 10px -15px 0px 15px;
    padding: 10px;
    box-shadow: 7px 10px 5px #b5b4b4;
    border-radius: 4px;
}

.div-sales-analysis-top-header {
    padding: 10px;
    background-color: #0075c2;
    color: white;
    list-style: none;
    font-size: 1.1em;
    font-weight: bold;

}

.li-acc-lvl,
.li-segment-lvl {
    vertical-align: -webkit-baseline-middle;
    font-size: 21px;
}

.li-view-details {
    display: inline-block;
    margin-bottom: 25px;
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.activeSalesLevel {
    background: #38a009 !important;
    color: #fff !important;
}

.fa-home-icon-pricing,
.fa-arrow-left-pricing {
    color: #008844;
    font-size: 30px;
    padding: 7px;
    display: inline-block;
}

#div-home-and-add-icon {
    text-align: right;
}

.sal-ana-Summary {
    height: 55px;
}

#li-sales-segment-header {
    background-color: #008844;
    height: 25px;
    color: white;
}

.li-sales-segment {
    display: inline-block;
    padding: 5px;
}

.li-sales-segmentr li {
    display: inline-block;
    padding: 5px 2px;
}

#div-segmntnm {
    width: 150px;
    display: inline-block;
}

#div-revenue {
    width: 76px;
    text-align: center;
    display: inline-block;
}

#div-sales-segment-detail-content,
#div-sales-accountlevel-detail-content {
    min-height: 50px;
    max-height: 350px;
    overflow: auto;
    -webkit-overflow-scrolling: touch!important;
    font-size: 13px;
}

.li-segment-dtl {
    display: block;
    padding: 5px;

}

.li-segment-dtl li {
    display: inline-block;
    padding: 5px 2px;
}

#li-sales-seg-detail:nth-child(odd) {
    background-color: #fff;
}

#li-sales-seg-detail:nth-child(even) {
    background-color: #eee;
}

#div-sales-segmntnm {
    width: 150px;
    display: inline-block;
}

#div-sales-salamt {
    width: 85px;
    text-align: center;
    display: inline-block;
}

#div-main-segment {
    border: 1px solid #444;
    position: absolute;
    top: 33%;
    right: 10px;
}

#div-main-segment-level {
    border: 1px solid #444;
    position: absolute;
    top: 33%;
    right: 10px;
}

#div-main-account-level-id {
    border: 1px solid #444;
    position: absolute;
    top: 33%;
    right: 10px;
}

.div-account-level-search-header {
    background-color: #008844;
    height: 25px;
    color: white;
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

.li-account-level-search {
    display: inline-block;
    padding: 5px;
}

.li-div-acc-header {
    display: inline-block;
}

#li-div-acc-nm {
    width: 168px;
}

#li-div-sales {
    width: 80px;
    text-align: center;
}

#div-sales-amt {
    width: 60px;
    text-align: center;
}

#li-acc-div-detail-id:nth-child(odd) {
    background-color: #fff;
}

#li-acc-div-detail-id:nth-child(even) {
    background-color: #eee;
}

.li-system-dtl {
    display: block;
    padding: 5px;

}

.li-system-dtl li {
    display: inline-block;
    padding: 5px 2px;
}

.li-account-div-dtl {
    display: block;
    padding: 5px;

}

.li-account-div-dtl li {
    display: inline-block;
    padding: 5px 2px;
}

#div-sales-sysnm {
    width: 150px;
    margin-left: 2px;
    display: inline-block;
}

#div-sys-sales-sysnm {
    width: 150px;
    margin-left: 2px;
    display: inline-block;
}


#div-sales-account-nm {
    width: 150px;
    margin-left: 2px;
    display: inline-block;
}

#div-sales-account-salamt {
    width: 85px;
    text-align: center;
    display: inline-block;
}

.div-action-acc-buttons,
.div-action-repacc-buttons,
.div-action-system-buttons {
    margin-left: 28%;
    padding: 10px;
}

.li-sales-buttons {
    background-color: #030303;
    width: 85px;
    padding: 8px 0px!important;
    border: 1px solid #777;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    color: #fff;
    font-size: 15px;
}

#li-Go-account-button,
#li-Go-repaccount-button,
#li-Go-system-button {
    width: 40px;
}

.account-level-checkbox {
    width: 8px;
    height: 20px;
    vertical-align: middle;
    -webkit-transform: initial;
}

.proposedUnit-0 {
    background: rgba(255, 2, 2, 0.42) !important;
}

/*Sales Analysis*/

#div-dash-price-system .ul-product-background-col {
    display: inline-block;
    margin: 3px 1px;
    padding: 0px;
}

#div-dash-price-system {
    min-height: 70px;
    height: 0;
    border: 1px solid #999;
    padding: 5px;
}

#li-price-info-system-lable .div-acct-price-lable {
    padding: 0px;
}

.div-pricing-part-info {
    display: inline-block;
    width: 45%;
}
.ipadhide{
    display: none;
}





