/*******IPHONE Styles*******/
div#scorecard-report.gridbox table.hdr td div.hdrcell {
    text-align: center
}

#scorecard-report .filter select,
#scorecard-report .filter input,
#borrowTagRptGrid .filter select,
#borrowTagRptGrid .filter input,
#bulkTagRptGrid .filter select,
#bulkTagRptGrid .filter input {
    -webkit-appearance: auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -moz-appearance: auto;
    -o-appearance: auto;
    appearance: auto;
    padding: 3px;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    border: 1px solid rgb(118, 118, 118);
}

.scorecardMain .btn-app-link {
    bottom: 50px;
}

.div-score-detail-navigation .btn-detail {
    width: 16.66%;
    padding: 10px 0;
}

#div-detail-navigation-top .btn-detail {
    width: 33.33%;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.div-score-detail-navigation .btn-detail span {
    width: 100%;
    text-align: center;
}

.SCRptIcons {
    background: rgb(241 241 241);
    border: 1px solid rgb(204 204 204);
}

.SCRptIcons:hover {
    cursor: pointer;
}

.scorecardMain div.gridbox table.row20px tr td {
    padding: 8px 2px;
}

#scorecard-report .filter select,
#borrowTagRptGrid .filter select,
#bulkTagRptGrid .filter select {
    min-width: auto;
}

#scorecard-report.gridbox table.hdr td {
    text-align: center;
}

.borrowTagRptPopup,
.bulkTagRptPopup {
    max-width: 90%;
}

#borrowTagRptGrid,
#bulkTagRptGrid {
    min-height: 200px;
}

.scorecardGrpBtn {
    display: flex;
}

.gmBRadius0px {
    border-radius: 0;
}

.gmPadding10x25 {
    padding: 10px 20px;
}

/*grid*/
.scorecardMain div.gridbox .xhdr {
    background: #FFFFFF;
    border-color: #FFFFFF;
}

.scorecardMain div.gridbox .objbox {
    border-top: 0px;
}

.scorecardMain div.gridbox .objbox table {
    border-top: 2px solid #53abe6;
}

.scorecardMain #div-dash-subtitle {
    font-size: 15px !important;
    font-weight: 100 !important;
}

.cnReport,
.lnReport,
.actProcReport {
    height: 70vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}


.score-card-summary-main .score-card-summary-header {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.score-card-list {
    width: 100%;
    display: block;
}

.score-card-list .gmWidth50 {
    padding-left: 15px;
}

.scorecardBtn,
.scoverallsummaryBtn {
    width: 50%;
    margin: 0;
}

.score-card-summary-header.gmFontBold {
    background: #188ab2a6;
    margin: 10px 0 5px 0;
}

.score-card-summary-header.gmFontBold div:first-child {
    background: #066e93a6;
    color: #fff;
}

.score-card-summary-report.fa,
.score-card-summary-header .gmAlignHorizontal.gmWidth50.gmFontBold,
.score-card-list .gmWidth50.gmAlignHorizontal:first-child {
    color: #888;
}

.score-card-summary-header .score-card-summary-report ~ .gmAlignHorizontal.gmWidth20,
.score-card-list .gmWidth20 {
    color: #0d87a0;
}

/* report link position */

#div-detail-navigation-top.div-score-detail-navigation {
    position: relative;
    margin-top: 10px;
    height: auto;
    display: inline-block;
    width: 100%;
}

.scorecardGrpBtn {
    padding: 3px;
    background: #124273;
}

.scorecardMain .scorecardGrpBtn .active {
    background: #124273 !important;
}

.summaryReport {
    height: 445px;
    overflow: auto;
     -webkit-overflow-scrolling: touch;
}

.scorecardMain #div-detail-navigation-top .btn-bg-grey.btn-selected {
    background-color: #353434;
    color: #fff;
}

.scorecardMain #div-detail-navigation-top .btn-bg-grey {
    background: #bbb;
    color: #000;
}

.div-score-detail-navigation.hide ~ hr {
    display: none;
}

.gmWidth22 {
    width: 21%;
}

.gmWidth24 {
    width: 24%;
}

/* overall summary*/
#score-card-summary-main {
    height: 560px;
    overflow: auto;
     -webkit-overflow-scrolling: touch;
}

#scorecard-mob-report {
    width: 100%;
    height: 100%;
    overflow: auto;
     -webkit-overflow-scrolling: touch;
    margin-top: 10px;
}

.mob_report {
    height: 40px;
    border: 2px solid #fff;
}

.mob_report {
    background: #082c50;
}

#scoreBtn .mob_report:nth-child(2) {
    background: #6caebd;
}

#scoreBtn .mob_report:nth-child(3) {
    background: #7ec4d3;
}

#scoreBtn .mob_report:nth-child(4) {
    background: #3f94a6;
}

#scoreBtn .mob_report:nth-child(5) {
    background: #6acce2;
}

#scoreBtn .mob_report:nth-child(6) {
    background: #66a3b0;
}

#scoreBtn .mob_report:nth-child(7) {
    background: #5ab2c5;
}

#scoreBtn .mob_report:nth-child(8) {
    background: #4aa0b2;
}

#scoreBtn .mob_report:nth-child(9) {
    background: #8ac8d5;
}

#scoreBtn .mob_report:nth-child(10) {
    background: #73c9db;
}

#scoreBtn .mob_report span {
    color: #fff;
    line-height: 55px;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

#scoreProjBtn .mob_report {
    padding: 15px 8px;
    margin: 5px;
}

#scoreBtn .mob_report {
    padding: 8px;
}

#scoreBtn .mob_report span:nth-child(even) {
    float: right;
    font-size: 16px;
    line-height: 12px;
}

#scoreProjBtn .mob_report span {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

#scoreProjBtn .mob_report span:nth-child(odd) {
    text-align: right;
}

#scoreProjBtn .mob_report span:nth-child(even) {
    font-size: 30px;
}

#div-detail-navigation-top.div-score-detail-navigation {
    position: relative;
    margin-top: 5px;
    height: auto;
    display: flex;
}

#scorecard-report table.hdr {
    width: 100%;
}

/*Chart Styles*/

.semi-donut #label {
    font-size: 12px;
    display: block;
}

.semi-donut #value {
    display: block;
}

.margin {
    margin: 25px;
}

.semi-donut {
    width: 300px;
    height: 150px;
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border-radius: 150px 150px 0 0;
    overflow: hidden;
    color: var(--fill);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    margin: 10px auto;
}

.semi-donut:before,
.semi-donut:after {
    content: '';
    width: 300px;
    height: 150px;
    border: 50px solid var(--fill);
    border-top: none;
    position: absolute;
    transform-origin: 50% 0% 0;
    border-radius: 0 0 300px 300px;
    box-sizing: border-box;
    left: 0;
    top: 100%;
}

.semi-donut:before {
    border-color: rgba(0, 0, 0, .15);
    transform: rotate(180deg);
}

.semi-donut:after {
    z-index: 3;
    animation: 1s fillGraphAnimation ease-in;
    transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
}

@keyframes fillAnimation {
    0% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(135deg);
    }
}

@keyframes fillGraphAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }
}


#score-card-actual-procedure .gmWidth22 {
    width: 18%;
}

@media (max-width: 479px) and (min-width: 320px) {
    .div-score-detail-navigation .btn-detail {
        width: 50%;
        padding: 0;
    }

    #score-card-summary-report-main .gmWidth70 {
        width: 60%;
    }

    #score-card-summary-report-main .gmWidth10 {
        width: 13%;
    }

    #div-detail-navigation-top .btn-detail {
        margin: 0;
        border-radius: 0;
    }

    .scorecardMain #div-dash-title-main {
        width: 50% !important;
        font-size: 15px !important
    }

    .scorecardBtn,
    .scoverallsummaryBtn {
        font-size: 14px;
    }

    .score-card-summary-header.widthX .gmAlignHorizontal.gmWidth50 {
        width: 32%;
    }

    .score-card-summary-header.widthX .gmAlignHorizontal.gmWidth20 {
        width: 27%;
    }

    .score-card-summary-header .gmAlignHorizontal.gmPad10p {
        padding: 3% 2%;
        font-size: 10.5px;
        vertical-align: middle;
        text-align: center;
    }

    #div-detail-navigation .btn-detail span {
        font-size: 12px;
    }

    .summaryReport {
        height: 425px;
    }

    .score-card-summary-header .gmWidth22 {
        width: 20%;
    }

    .scorecardMain .borrowTagBtn.gmPadding10x25,
    .scorecardMain .bulkTagBtn.gmPadding10x25 {
        padding: 10px 12px;
    }

    .cnReport,
    .lnReport,
    .actProcReport {
        height: 485px;
        font-size: 12px;
    }

    .summaryReport {
        height: 390px;
        font-size: 14px;
    }

    /*Chart Styles mobile*/

    .semi-donut {
        width: 150px;
        height: 75px;
    }

    .semi-donut:before,
    .semi-donut:after {
        width: 150px;
        height: 75px;
        border: 25px solid var(--fill);
        border-top: none;
    }

    .semi-donut:before {
        border-color: rgba(0, 0, 0, .15);
        transform: rotate(180deg);
    }

    .semi-donut:after {
        z-index: 3;
        animation: 1s fillGraphAnimation ease-in;
        transform: rotate(calc(1deg * (var(--percentage) * 1.8)));
    }

    .div-score-detail-navigation .btn-detail {
        width: 50%;
        padding: 0;
    }

    #div-detail-navigation-top .btn-detail {
        margin: 0;
        border-radius: 0;
    }

    .scorecardMain #div-dash-title-main {
        width: 50% !important;
        font-size: 15px !important
    }

    .scorecardBtn,
    .scoverallsummaryBtn {
        font-size: 14px;
    }

    .score-card-summary-header.widthX .gmAlignHorizontal.gmWidth50 {
        width: 32%;
    }

    .score-card-summary-header.widthX .gmAlignHorizontal.gmWidth20 {
        width: 27%;
    }

    .score-card-summary-header .gmAlignHorizontal.gmPad10p {
        padding: 3% 2%;
        font-size: 10.5px;
        vertical-align: middle;
        text-align: center;
    }

    #div-detail-navigation .btn-detail span {
        font-size: 12px;
    }

    .summaryReport {
        height: 425px;
    }

    .score-card-summary-header .gmWidth22 {
        width: 20%;
    }

    .scorecardMain .borrowTagBtn.gmPadding10x25,
    .scorecardMain .bulkTagBtn.gmPadding10x25 {
        padding: 10px 12px;
    }

    .cnReport,
    .lnReport,
    .actProcReport {
        height: 485px;
        font-size: 12px;
    }

    .summaryReport {
        height: 390px;
        font-size: 14px;
    }

}

/* For portrait layouts only */
@media screen and (min-width:480px) and (max-width: 768px) {
    #score-card-actual-procedure .gmWidth22 {
        width: 17.5%;
    }

    #score-card-actual-procedure .gmWidth10,
    #score-card-actual-procedure-header .gmWidth10 {
        width: 8%;
    }

/*
    .cnReport,
    .lnReport,
    .actProcReport,
    .gmBorderRadius3p {
        height: 70vh;
    }
*/
}