/*Dashboard configuration / Settings*/

#div-settings-header {
	width: 100%;
	height: 40px!important;
	background-color: #444;
	color: white;
}
#div-settings-header #div-settings-reset{
    display: none!important;
}

#div-settings-locale {
	border-radius: 2px;
	color: #fff;
	padding: 0.25em;
	height: 35px;
	text-align: right;
}

#div-settings-header .div-settings {
	width: 32%!important;
	display: inline-block!important;
	margin-top: 3px!important;

}

#div-settings-header .div-settings  div {
	display: inline-block;
}

#div-settings-header #div-settings-version-lable {
	margin-left: 10px;
}


#div-settings-header #div-settings-env {
	text-align: center;
}

#div-settings-header li {
	list-style-type: none!important;
}

#h1-settings-file-sync {
	width: 100px!important;
}

#h1-settings-data-sync {
	width: 100px!important;
	margin-left: 20px;
}

#h1-settings-account-price, #h1-settings-dashboard, #h1-settings-crm {
	width: 140px!important;
	float: left;
	padding: 0.5em 0 0 0;
	text-align: center;
}

#div-data-sync {
	width: 96%!important;
	background-color: white!important;
	margin: 30px 2% 5px 2%;
}

.div-setting-dashboard {
	background-color: #ddd;
}

.div-widget-list, .div-widget-itemlist{
	width: 48%;
	border: 1px solid #999;
	display: inline-table;
	box-shadow: 0 0 3px #999;
	margin-bottom: 10px;
}

.div-widget-list {
	margin-left: 15px;
}

.div-widget-list li {
	background-color: #ccc;
	color: black;
	padding: 10px 5px 4px 10px!important;
	margin: 3px;
}

.div-widget-itemlist li {
	background-color: #999;
	color: white;
	padding: 10px 5px 4px 10px!important;
	margin: 3px;
}

#div-setting-dashboard-info {
	padding: 15px;
	color: black;
}

#li-widget {
	background-color: #800!important;
	color: white!important;
}


.li-widget-itemlist , .li-settings-dash-widget-list-select {
	background-color: #036!important;
	color: white!important;
}

.ul-settings .selectedTab {
	background-color: #444;
	color: white;
}

#div-setting-dashboard-ipad .li-settings-dash-widget-list i {
	float: right;
	margin-right: 5px;
	display: none;
}

#div-setting-dashboard-ipad .li-settings-dash-widget-list-select i {
	display: inline-block;
}

#div-setting-dashboard-iphone .li-settings-dash-widget-list i {
	float: right;
	margin-right: 5px;
}

#div-setting-dashboard-iphone .li-settings-dash-widget-list .fa-hand-o-down {
	display: none;
}

#div-setting-dashboard-iphone .li-widget-itemlist {
	background-color: #444!important;
}

#div-setting-dashboard-iphone .li-settings-dash-widget-list-select .fa-hand-o-right {
	display: none!important;
}

#div-setting-dashboard-iphone .li-settings-dash-widget-list .fa-hand-o-right, #div-setting-dashboard-iphone .li-settings-dash-widget-list-select .fa-hand-o-down {
	display: inline-block;
}


#div-setting-dashboard-iphone .li-settings-dash-widget-list .fa-hand-o-right, #div-setting-dashboard-iphone .li-settings-dash-widget-list-select .fa-hand-o-down {
	display: inline-block;
}

.ul-widget-typelist i{
	float: right;
	margin: -2px 5px;
	font-size: 2em;
}

.ui-sortable-handle:active {
	background: red;
}

.ul-settings {
	width: 100%!important;
	background-color: white!important;
	border: none!important; 
	height: 36px;
	margin: auto;
	margin-top: 5px;
}

#btn-reset {
	background-color: #CCC;
	padding: 10px 5px;
	text-align: center;
	text-transform: uppercase;
	width: 150px;
	color: #000;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	box-sizing: border-box;
	display: inline-block;
	float: right;
	border: 1px solid #999;
	box-shadow: 0 0 5px #999;
	margin: -10px 2px 0 0;
}

#div-settings-sync li {
	display: block;
	height: 25px;
	margin: 3px!important;
	padding: 5px;
	background-color: darkgrey;
}

 #div-settings-locale img {
	margin-left: 5px;	
	vertical-align: middle;
}

#div-settings-sync {
	clear: both;
	border: 1px solid #999;
	box-shadow: 0 0 5px #999;
	background-color: #ddd;
	color: #fff;
	margin: auto;	
	max-height: 480px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.div-sync-label {
	display: inline;
	height: 80%;
	text-align: center;
	background-color: #999;
	text-transform: uppercase;
	margin-right: 5px;
	color: white;
	padding: 0.7em 0 0 0 !important;
}
#scroll-li{
    height:36px;
}

#ul-btn-sync {
	padding: 0 0 1em 0;
	margin-top: 10px;
}

#div-wifi-note {
	color: #800;
	font-size: 0.9em;
	font-style: italic;
	padding-top: 5px;
	text-align: center;
}

#div-settings-menu {
	display:none;
}

#div-settings-menu-popup {
	display: none;
}

#div-setting-dashboard-iphone {
	display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#div-settings-sync {
		max-height: 700px!important;
	}
}

@media screen and (min-width: 320px) and (max-width: 479px) {
.ul-settings {
	width: 100%!important;
	background-color: white!important;
	border: none!important; 
	height: 36px;
	margin: auto;
	margin-top: 5px;
    overflow-x: scroll!important;
    overflow-y: hidden!important;
}
    #div-settings{
        height:88vh;
    }
	#div-settings-version-lable, #div-settings-environment-lable, #div-settings-language-lable {
		display: none!important;
	}
 #div-settings-header #div-settings-reset{
    display: block!important;
    float: right;
    margin-top: 12px!important;
}
	.ul-account-price{
        max-height: 100%!important;
       height: 92%!important;
    }
	
    #reset-button{
          position: relative;
    float: right;
    top: -6px;
    padding-right: 10px;
    }
	
	#div-settings-header #div-settings-version-header {
		margin-left: 10px;
        width:15%!important;
	}
    #div-settings-header #div-settings-reset {
    margin-left: 10px;
    width: 15%!important;
}
    #div-settings-header #div-settings-locale {
    margin-left: 0px;
    width: 30%!important;
}
    #div-settings-header .div-settings {
    width: 25%!important;
    display: inline-block!important;
    margin-top: 3px!important;
    
}

	
	#div-settings-menu-popup {
		background-color: #ccc !important;
		display: none;
		float: right;
		position: absolute;
		bottom: 46px;
		padding: 3px 0 3px 0px;
		left: 0px;
		width: 100%;
		z-index: 1;
	}
	
	#div-settings-menu-popup div {
		width: 90%;
		display: none;
		text-align: left;
		padding: 0.6em 0 0.6em 10% !important;		
	}
	
	#h1-settings-data-sync, #h1-settings-file-sync, #h1-settings-dashboard {
	/*	display: none; */
	}
	
	.ul-settings .selectedTab {
		display: inline-block!important;
	}
	
	#div-settings-menu-popup  .selectedTab {
		background-color: #444;
		color: white;
	}
	
	#h1-settings-data-sync {
		margin-left: 0px;
	}
	
	#btn-reset {
		margin: 0px;
 display: none;
	}
	
	#div-data-sync {
		margin: 5px 2% 0px 2%;
	}
	
	#div-settings-menu {
		border-radius: 3px;
		display: block;
		position: fixed;
		bottom: 0;
		left: 30%;
		height: 32px;
		color: white;
		padding: 5px 5px 6px;
		z-index: 1;
	}
	
	#div-settings-menu span {
		font-size: 0.5em;
		text-transform: uppercase;
		display: block;
	}
	
	#div-settings-menu  i {
		padding: 0px 0 6px 4px;
	}
	
	#div-wifi-note {
display: block!important;
		padding-top: 1px;
	}
	
	#div-settings-sync {
		    max-height: 68vh;
	}
	
	#div-setting-dashboard-info {
		display: none;
	}
	
	.div-widget-list, .div-widget-itemlist {
		width: 290px;
		margin: 5px 2%!important;
	}
	
	#ul-btn-sync {
		padding: 0 0 2px 0;
		margin-top: 3px;
	}
	
	#div-setting-dashboard-ipad {
		display: none;
	}
	#div-setting-dashboard-iphone {
		display: inline-block;
        width:100%;
	}
	
	.div-widget-itemlist-iphone {
		display: none;
		margin-left: 0px!important;
        width:100%;
	}
	
	.div-settings-sync-phone-dashboard {
	max-height: 330px;
	} 
    
    div #div-setting-account-price {
  display: flex;
  flex-direction: column;
        height:100%;
}
    #div-setting-account-price-info{
        order:1;
    }

#div-add-accounts {
  order: 2;
    height: 45%;
}
    #div-total-accounts{
        order:3;
        height: 45%;
    }
    .div-setting-account-price-select-list{
        width:97%!important;
        margin-left: 5px!important;
        margin-right: 5px;
    }
     .div-setting-account-price-search-list{
        width:97%!important;
         margin-left: 5px;
         margin-right: 5px;
    }
    
    .ul-setting-account-price-search-list {
	height: 63%!important;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.ul-setting-account-price-sync-list {
	height: 63%!important;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; 
}
    #div-setting-account-price-synchronize {
    display: inline-block;
    padding: 0.4em 0.5em!important;
    color: white;
    background-color: #036;
    width: 80px!important;
    text-align: center;
    margin-left: 35%;
}
    #div-setting-account-price-delete {
    display: inline-block;
    padding: 0.4em 0.0em!important;
    color: white;
    background-color: #800;
    width: 80px;
    text-align: center;
    margin-left: 35%;
}

    #div-setting-account-price-info {
	padding: 8px!important;
	color: black;
	height: 10px!important;
}

    #div-setting-account-price-info .div-progress-bar {
	height: 20px!important;
	margin-top: -6px!important;
	} 
    
    #factory-reset{
      width: 30px;  
    }
	#div-settings-sync .ul-setting-account-price-search-list  li {
	margin: 3px 0px 0px!important;
	padding:0px!important;
        
}
    
    /* Settings Module - alignment issue fix in Account Price tab*/
    
    #div-setting-account-price .div-box{
        margin-left: 10px;
        margin-top: 4px;
    }
    #div-total-accounts ul li {
    padding: 0px !important;
    margin: 3px 0 0 !important;
}
    #div-total-accounts li:first-child {
    margin-bottom: 0 !important;
}
    #div-setting-dashboard-iphone .div-widget-list{
        width:100%;
    }
}



/*Account Price*/


#div-setting-account-price {
	background-color: #ddd;
}

#div-setting-account-price-info {
	padding: 15px;
	color: black;
	height: 14px;
}

.div-setting-account-price-select-list {
	width: 48%;
	border: 1px solid #999;
	display: inline-block;
	box-shadow: 0 0 3px #999;
	margin-bottom: 10px;
	margin-left: 15px;
	height: 435px;
}

.div-setting-account-price-search-list {
	width: 48%;
	border: 1px solid #999;
	display: inline-block;
	box-shadow: 0 0 3px #999;
	margin-bottom: 10px;
	height: 435px;
}


#li-total-account {
	background-color: #800!important;
	color: white!important;
	padding: 10px 5px 4px 10px!important;
}

.li-settings-account-price-select-list {
	background-color: #eee!important;
	color: #444!important;
	padding: 10px 5px 4px 10px!important;
}

.li-add-account {
	background-color: #036!important;
	color: white!important;
	padding: 10px 5px 4px 10px!important;
}

#div-setting-account-price-delete {
	display: inline-block;
	padding: 0.7em;
	color: white;
	background-color: #800;
	width: 100px;
	text-align: center;
	margin-left: 35%;
}

#div-setting-account-price-synchronize {
	display: inline-block;
	padding: 0.7em;
	color: white;
	background-color: #036;
	width: 120px;
	text-align: center;
	margin-left: 35%;
}

.li-add-account div {
	display: inline-block;
}

#div-setting-account-price-search {
	float: right;
	margin-top: -7px;
	margin-right: 10px;
	width: 45%;
	height: 32px;
}

#txt-setting-account-price-search {
	display: inline-block!important;
	font-size: 1em;
	padding: 0.4em 0.6em;	
	height: 1em!important;
	width: 90%!important;
}

#div-setting-account-price-search #div-common-search-x {
	display: none!important;
}


#div-settings-sync .ul-setting-account-price-search-list  li {
	margin: 0px!important;
	padding: 5px 5px 4px 10px;
}

.ul-setting-account-price-search-list {
	height: 345px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.ul-setting-account-price-sync-list {
	height: 345px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch; 
}


#div-setting-account-price-info .div-progress-bar {
	height: 30px;
	margin-top: -8px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.li-settings-account-price-select-list label {
		max-width: 290px!important;
	}
}

@media screen and (min-width: 1024px) {
	.li-settings-account-price-select-list label {
		max-width: 380px!important;
	}
}


#div-settings-collision {
	width: 100%;
	margin: 200px 0px;
	text-align: center;
	font-size: larger;
	font-weight: bold;
	font-style: italic;

}