#div-col-sop-count-view .wid100{
    width:100%;
    font-size: 40px;
}
#div-col-sop-charge-view{
    text-align: center;
}
.totalcount{
    float: left;
 border-right: 1px solid #ccc;
}
.toggle-li{
    width:20%;
}
.toggle-li .toggle{
    width:100%;
}

#count-li{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
#charge-li{
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;  
}
#toggle li{
    border: 1px solid #036;
    width:48.5%;
    float: left;
    text-align: center;
    height: 30px;
    padding-top: 5px;
}
#toggle .active{
    background: #036 !important;
}
.sop-dash-main .gmFontBlack{
    color: #036;
}

.div-detail  #div-close{
    float: right;
}
.final-result{
    width: 50%;
    float: left;
    padding-top: 8px;
}
#finalchargediv{
    min-height: 32px;
    max-height: 203px;
    border: 1px solid #036;
    margin-bottom: 15px;
}
.final-result span{
    float: left;
    padding-left: 10px;
}

.dhx_cell-content a{
    cursor: pointer;
    text-decoration: underline;
    color: #036;
}

#overdue-detail-rpt .dhx_grid-body{
	width: 100% !important;
	height: 100% !important;
	max-height: 550px ;
}
#overdue-detail-rpt .dhx_grid-content{
        z-index: 0;
	width: 100% !important;
	height: 100% !important;
	max-height: 550px;
}   

.final-result-charge{
    float: right;
    padding-top: 8px;
    width: auto;
}
#finalcharge{
    padding-left: 10px;
    padding-right: 10px;
}
#header-detail{
    width: 90%;
    float: left;
    height: 25px;
    padding-top: 10px;
    color: #036;
}

#div-col-sop-charge-view .pendingOrderItemByStatus{
        margin-left: 10%;
    margin-top: 3%;
}
.sop-dash-main .gmTextCenter span{
    word-break: break-all;
}
#div-col-sop-charge-view .font-li{
    font-size:20px;
}
#div-col-sop-charge-view .gmFloatLeft{
   width:42% 
}
.sop-dash-main .po-uninvoiced-list-item{
    padding: 10px 0;
}

.sop-dash-item-center{
    width: 100%;
    text-align: center;
    padding-top: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    
    .sop-uninvoiced-list-item li{
        width: 100%;
    }
    
    #finalchargediv{
        overflow:hidden;
    }
    
    #finalchargediv .final-result{
        width:100%;
    }
    
    .sopItemFloatLeft{
          width: 100%;
    }
    
    
.final-result-charge{
    float: left;
    padding-top: 8px;
    width: auto;
    padding-left: 10px;
    padding-bottom: 5px;
}
    
#div-col-sop-charge-view .pendingOrderItemByStatus {
    margin-left: 0%;
    margin-top: 3%;
}
    
#div-col-sop-charge-view .gmFloatLeft {
    width: 100%;
}
    
}