{{#each this}}
    <li class="gmBorderLightGrey gmSectionListItem div-training-feedback-comments-list" logid="{{logid}}">
		<ul class="gmSection gmBGGrey commentHead div-training-feedback-comments-list-header">
			<li class="gmSectionListItem div-training-feedback-comments-list-header-left gmAlignHorizontal gmFloatLeft">
				<span class="span-training-feedback-comments-list-header gmAlignHorizontal" updatedbyid ="{{updatedbyid}}"> </span>
				<span>  {{updatedby}} </span>
			</li>
			<li class="gmSectionListItem div-training-feedback-comments-list-header-right gmFloatRight">
				<span class="gmAlignHorizontal">Last Updated on </span>
				<span class="span-training-feedback-comments-list-header-date gmPadRight10p"> {{updateddate}} </span>
                <i class="fa fa-pencil edit-comments gmFontBlack gmPadRight10p" indexvalue = "{{@index}}"></i>
				<i class="fa fa-trash delete-comments gmFontBlack gmPadRight10p" indexvalue = "{{@index}}"></i>
			</li>
		</ul>
		<div class="div-training-feedback-comments-list-content gmCommentArea gmAlignHorizontal">{{logcomment}}</div>
	</li>
{{/each}}
	

