<div class="div-training-list-item">
    <ul class="gmListItem ul-list-items" id="{{actid}}">
        <li class="gmListColData li-activity-name">{{actnm}}</li>
        <li class="gmListColData li-activity-date ">{{formatDate actstartdate}}</li>
        <li class="gmListColData li-activity-date">{{formatDate actenddate}}</li>
        <li class="gmListColData gmText150 ">{{location}}</li>
        <li class="gmListColData gmText100">{{actstatus}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a href="#crm/training/id/{{actid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFonttraining gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
<!--    For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll" id="{{actid}}">
        <a href="#crm/training/id/{{actid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{actnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{formatDate actstartdate}} - {{formatDate actenddate}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{location}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{actstatus}}</li>
            </ul>
        </a>
    </ul>
</div>