
        <div class="setgcontent-page" id="setgcreww">
            <section class="setgsection-sm" id="setgfeature">
                <div class="setgcontainer-fluid">
				    <div class="setginnerp">
					    <div class="setgrow">
						    <div class="col-lg-8">
							        <h2>{{head.name}}</h2>
									<br/>
									<h4>SETS TO ORDER:</h4>
									<span class="setgtitleheader">{{standardhead.name}}</span>
									<ul style="list-style-type:none;">
										<li ng-repeat="standard in standard" class="setglispace">
											<input type="{{standard.type}}" ng-model="standard.Selected" name="standard">&nbsp;{{standard.name}}</br>
										</li>
									</ul>
									<span class="setgtitleheader">{{standsethead.name}} </span>
									<ul style="list-style-type:none;">
										<li ng-repeat="standset in standset" class="setglispace">
											<input type="{{standset.type}}" ng-model="standset.Selected" name="demosets">&nbsp;{{standset.name}} </br>
										</li>
									</ul>
									<span class="setgtitleheader">{{requiredhead.name}}</span>
									<ul style="list-style-type:none;">
										<li ng-repeat="required in required" class="setglispace">
                                                <!--{{required.header}}-->
												<ul style="list-style-type:none;">
                                                    {{required.header}}
													<li ng-repeat="options in required.options" class="setglispace">
														{{options.name1}} </li>
														<ul style="list-style-type:none;">
															<li ng-repeat="valuesone in valuesone" class="setglispace">
															   &nbsp;{{valuesone.name}} </br>
																{{valuesone.operator}} 
															</li>
														</ul>
													<li ng-repeat="options in required.options" class="setglispace">
														{{options.name2}} 
													</li>
													<ul style="list-style-type:none;">
														<li ng-repeat="valuestwo in valuestwo" class="setglispace">
															&nbsp;{{valuestwo.name}} </br>
																{{valuestwo.operator}} 
														</li>
													</ul>
												</ul>
										</li>
									</ul>
									
									<span class="setgtitleheader">{{optionalhead.name}}</span>
									<ul style="list-style-type:none;">
										<li ng-repeat="optional in optional" class="setglispace">
											<input type="{{optional.type}}" ng-model="optional.Selected" name="optional" >&nbsp;{{optional.name}} </br>
										</li>
									</ul>
									<span class="setgtitleheader">{{decorationhead.name}}</span>
									<ul style="list-style-type:none;">
										<li ng-repeat="decoration in decoration" class="setglispace">
											<input type="{{decoration.type}}" ng-model="decoration.Selected" name="decoration">&nbsp;{{decoration.name}} </br>
									
										</li>
									</ul>
									<span class="setgtitleheader">{{demosetshead.name}}</span>
									<ul style="list-style-type:none;">
										<li ng-repeat="demosets in demosets" class="lispace">
											&nbsp;{{demosets.name}} </br>
										</li>
									</ul>
								
								<div style="float:right;">
<!--								<img height="60px" src="images/print.png" onclick="PrintElem('#printdiv','#printdiv1')" />-->
								</div>	
								<input type="button" class="setgbutton12" ng-click="GetValue()" value="Submit">	
							</div>
							<div class="col-lg-4 setgbgliterature">
							    <div class="setgrow">
								    <div class="col-lg-9">
									    <h4 style="color:#fff">{{literaturehead.name}}</h4>
							                <hr class="setgnew4">
											<ul>
												<li ng-repeat="literature in literature" class="setglispace">
													{{literature.name}} </br>
													<br/>
												</li>
											</ul>
								    </div>
							    </div>
								<div class="setgrow">
									<div class="col-lg-9 setgsample">
										<a href="" class="setgaliterature" onclick="goBack()" >Back</a> | <a class="setgaliterature" href="#/creofile">Home</a>
									</div>
								</div>
						    </div>
							
							<div class="setgprint">
								<div class="col-lg-8">
									<div id="printdiv">
										<h2>{{head.name}}</h2>
										<br/>
										<h4>SETS TO ORDER:</h4>
										<span class="setgtitleheader">{{standardhead.name}}</span>
										<ul style="list-style-type:none;">
											<li ng-repeat="standard in standard" class="setglispace">
												&nbsp;{{standard.name}}</br>
											</li>
										</ul>
										<span class="setgtitleheader">{{standsethead.name}} </span>
										<ul style="list-style-type:none;">
											<li ng-repeat="standset in standset" class="setglispace">
												&nbsp;{{standset.name}} </br>
											</li>
										</ul>
										<span class="setgtitleheader">{{requiredhead.name}}</span>
										<ul style="list-style-type:none;">
											<li ng-repeat="required in required" class="setglispace">
                                                    <!--{{required.header}}-->
													<ul style="list-style-type:none;">
                                                        {{required.header}}
														<li ng-repeat="options in required.options" class="setglispace">
															{{options.name1}} </li>
															<ul style="list-style-type:none;">
																<li ng-repeat="valuesone in valuesone" class="setglispace">
																   &nbsp;{{valuesone.name}} </br>
																	{{valuesone.operator}} 
																</li>
															</ul>
														<li ng-repeat="options in required.options" class="setglispace">
															{{options.name2}} 
														</li>
														<ul style="list-style-type:none;">
															<li ng-repeat="valuestwo in valuestwo" class="setglispace">
																&nbsp;{{valuestwo.name}} </br>
																	{{valuestwo.operator}} 
															</li>
														</ul>
													</ul>
											</li>
										</ul>
										
										<span class="setgtitleheader">{{optionalhead.name}}</span>
										<ul style="list-style-type:none;">
											<li ng-repeat="optional in optional" class="setglispace">
												&nbsp;{{optional.name}} </br>
											</li>
										</ul>
										<span class="setgtitleheader">{{decorationhead.name}}</span>
										<ul style="list-style-type:none;">
											<li ng-repeat="decoration in decoration" class="setglispace">
												&nbsp;{{decoration.name}} </br>
										
											</li>
										</ul>
										<span class="setgtitleheader">{{demosetshead.name}}</span>
										<ul style="list-style-type:none;">
											<li ng-repeat="demosets in demosets" class="lispace">
												&nbsp;{{demosets.name}} </br>
											</li>
										</ul>
									</div>
									<div style="float:right;">
<!--								  <img height="60px" src="images/print.png" onclick="PrintElem('#printdiv','#printdiv1')" />-->
									</div>	
									<input type="button" class="setgbutton12" ng-click="GetValue()" value="Submit">	
								</div>
								<div class="col-lg-4 setgbgliterature">
									<div class="setgrow">
										<div class="col-lg-9" id="printdiv1">
											<h4>{{literaturehead.name}}</h4>
												<hr class="setgnew4">
												<ul>
													<li ng-repeat="literature in literature" class="setglispace">
														{{literature.name}} </br>
														<br/>
													</li>
												</ul>
										</div>
									</div>
									<div class="setgrow">
										<div class="col-lg-9 setgsample">
											<a href="" class="setgaliterature" onclick="goBack()" >Back</a> | <a class="setgaliterature" href="#/creofile">Home</a>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
		    </section>
        </div>	
		
        <!-- footer start -->
      