<ul class="gmSection gmMargin50 gmFontBold gmFontLightGrey gmPad10p surgeon-tab-title"><span id="surgeon-tab-title"></span>
    <div id = "surgeon-tab-title-down" ><span><i class="fa  fa-chevron-down  fa-lg" aria-hidden="true"></i></span></div>
    

</ul>
<ul id="ul-add-hosp-affiliation" class="gmAlignHorizontal  gmTabAdd hide">
    <i class="fa fa-plus-circle fa-2x sur-hos-affl-addacc gmFontDarkerGrey"></i>
</ul>

<ul class="surgeon-tab-content"></ul>
