{{#if arrgmsurgeonsaddressvo}} {{#each arrgmsurgeonsaddressvo}}
{{#iffalse voidfl 'Y'}}
<li id="li-surg-addres-{{index}}" class="gmAlignVertical gmPadding10x0p">
    <i class='fa fa-minus-circle remove-address gmFontRed gmFont15em gmAlignHorizontal gmFloatLeft'></i>
    <div class="gmMarginLeft10p gmAlignHorizontal">
        <input type="hidden" addid="{{addid}}" addIndex="{{index}}" addrtyp="{{addrtyp}}" add1="{{add1}}" add2="{{add2}}" city="{{city}}" statenm="{{statenm}}" stateid="{{stateid}}" zip="{{zip}}" countrynm="{{countrynm}}" countryid="{{countryid}}" primaryfl="{{primaryfl}}">
        <label class="gmTextCapitalize gmVerticalTop">{{addrtypnm}}: </label>
        <span class="gmAlignHorizontal">
        <span class="gmAlignVertical">{{add1}} {{#if add2}} {{add2}} {{/if}}</span>
        <span class="gmAlignVertical">{{city}} {{statenm}} {{zip}}</span>
        <span class="gmAlignVertical gmMarginBottom10p">{{countrynm}}</span>
        </span>
    </div>
    <i class="fa fa-pencil-square-o gmAlignHorizontal gmFont15em gmFloatRight" id="surgeon-edit-address" aria-hidden="true"></i>
</li>
{{/iffalse}}
{{/each}} {{/if}}

<div class="gmAlignHorizontal zdxMob" id="surgeon-address-popup"></div>
<li class="gmAlignVertical" id="surgeon-add-new-address" name="address"><i class="fa fa-plus-circle gmFontGreen"></i> add address </li>
