<div class="back-to-surg-activity">
        <a class="gmAlignHorizontal gmFontDarkerGrey" href="javascript:;"><i class="fa fa-chevron-left"></i></a>
</div>
<div class="event-timeline-calendar wrapper-surg-calendar gmTextAll display-flex">
    
    <div id="search-panel" class="mobile_cal">

        <form>
            <div class="search_form">
                <div class="panel-adjust-bx">
                    <a class="fsr" href="javascript:;"><i class="fa fa-arrow-circle-left"></i></a>
                    <a class="fsl" href="javascript:;"><i class="fa fa-arrow-circle-right"></i></a>
                </div>
                <!-- Left side bar segemnts filter start-->
                <div class="controls">
                    <fieldset class="type_filter filters_wrapper">
                        <legend>Segment:</legend>
                        <div id="legend_filters_wrapper">

                        </div>
                    </fieldset>
                </div>
                <!-- Left side bar segemnts filter End-->
            </div>
        </form>
    </div>

    <!-- Calendar View start-->
    <div id="scheduler_cal" class="dhx_cal_container mobile_cal">
        <div class="dhx_cal_navline">
            <div class="dhx_nav_container">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
            </div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab dhx_cal_tab_first calView" name="week_timeline_tab"></div>
            <div class="dhx_cal_tab calView" name="two_week_timeline_tab"></div>
            <div class="dhx_cal_tab dhx_cal_tab_last calView" name="month_timeline_tab"></div>
            <!-- for mobile view only-->
            <div class="dropdown_btn"><i class="fa fa-caret-down"></i></div>
            <div class="dropdown_content" id="dropCalender">
            <div class="dhx_cal_tab dhx_cal_tab_first" name="week_timeline_tab"></div>
            <div class="dhx_cal_tab" name="two_week_timeline_tab"></div>
            <div class="dhx_cal_tab dhx_cal_tab_last" name="month_timeline_tab"></div>
            </div>
        </div>
        <div class="dhx_cal_header">
        </div>
        <div class="dhx_cal_data">
        </div>
    </div>
    <!-- Calendar View End-->



</div>