<ul id="ul-add-hosp-affiliation" class="gmAlignHorizontal gmTabAdd hide">
    <i class="fa fa-plus gmFontDarkerGrey"></i>
</ul>
<ul class="gmAlignVertical phone-hospital-aff-list"></ul>
<div id="div-surgeon-affl" class="data-arrgmcrmsurgeonaffiliationvo">
    <div id="div-saffl-nocontent-label"></div>
    <div id="div-saffl-main-content">
        <ul id="ul-sur-affil-accnt-header">
            <ul id="ul-phone-affiliation-header">
                <li id="li-globus-account" class="gmAlignHorizontal gmBtn gmTabPad gmMargin0p gmBGDarkerGrey gmFontWhite div-hosp-accnt">Globus Account</li>
                <li id="li-new-account" class="gmAlignHorizontal gmBtn gmTabPad gmMargin0p gmBGLGrey gmFontBlack div-hosp-accnt gmMediaMarginLeft5">New Account</li>
            </ul>
            <hr class="gmMargin0p gmOpacity5">
            <li class="li-sur-affl-account-search  gmMarginTop10p">
                <div id="div-sur-affl-account-search"></div>
            </li>
            <li id="li-new-account-btn" class="hide gmMarginTop10p">
                <div id="div-new-account">
                    <input id="input-surg-affl-add-accnt" placeholder="Key in the name of a new hospital" class="gmInputText gmText500">
                    <div id="div-surg-affl-add-accnt" class="gmAlignHorizontal gmBtn gmTabPad gmBGDarkerGrey gmFontWhite"><span id="add-new-acc-txt">Add as New Account</span> <i class="i-phone-hosp-affily-newacc fa fa-plus-circle fa-2x gmFontDarkerGrey hide"></i></div>
                </div>
            </li>
            <li id="li-affl-header" class="gmMarginTop10p">
                <ul class="gmListHeader">
                    <li class="gmListColHead gmTextCenter gmText150 li-affl-lvl gmFontsurgeon">
                        Level
                    </li>
                    <li class="gmListColHead gmTextCenter gmText50 li-affl-case gmFontsurgeon">
                        Cases
                    </li>
                    <li class="gmListColHead gmTextCenter gmText225 li-affl-hnm gmFontsurgeon">
                        Hospital Name
                    </li>
                    <li class="gmListColHead gmTextCenter gmText90 li-affl-ct gmFontsurgeon">
                        City
                    </li>
                    <li class="gmListColHead gmTextCenter gmText125 li-affl-st gmFontsurgeon">

                        State
                    </li>
                    <li class="gmListColHead gmTextCenter gmText230 li-affl-cmnt gmFontsurgeon">
                        Comments
                    </li>
                </ul>
                <hr class="gmMargin1p gmOpacity5 gmBGsurgeon gmHr">
            </li>
            <li id="li-saffil-content"></li>
        </ul>
    </div>
</div>
