{{#each this}}
<div class='div-surg-keywords-box gmBGLGrey data-attr gmAlignHorizontal gmBorderRadius3p gmMarginBottom5p'>
    <div class='spn-surg-keywords gmVerticalMiddle gmAlignHorizontal' nameid="{{keys}}">{{keys}}</div>
    <div class="spn-sur-key-x gmAlignHorizontal gmFontWhite">x</div>
</div>
{{/each}}