<div id="div-surgeon-edit" class="edit data-surgeon data-arrgmcrmsurgeonattrvo mobileView">
    <div class="gmAlignHorizontal div-surgeon-info-left">
        <ul>
            <li id="li-sur-pic-container" class="gmSectionListItem gmAlignHorizontal gmFontBold li-surg-hide-phone iPad">
                <div id="div-sur-pic-container" class="div-sur-pic-container">
                    <div id="div-name-container">
                        <i class="fa fa-user default-picture" aria-hidden="true"></i>

                        <img src="" class="gmText150" onerror="this.style.display='none'" />
                    </div>

                    <div id="div-surgeon-picture">
                        <div><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></div>
                    </div>
                </div>
            </li>
            <li id="li-pic-edit-btn" class="gmBtn gmText150 gmAlignHorizontal gmTabPad gmTextCenter gmBGDarkGrey gmFontWhite li-surg-hide-phone">
                Change Picture
            </li>
        </ul>
        <li class="socialMedia gmBtn gmText150 gmAlignHorizontal gmTabPad gmTextCenter gmBGDarkGrey gmFontWhite li-surg-hide-phone">
            Change Websites
        </li>
        <ul id="ul-pic-edit-btn">
            <li id="mobile-pic-upload" class="gmBtn gmText100  gmAlignHorizontal  gmFloatRight gmTextCenter gmBGDarkGrey gmFontWhite ">
                Change Picture
            </li>
        </ul>
    </div>
    <div class="gmAlignHorizontal div-surgeon-info-right">
        <ul class="gmSection ul-surgeon-edit-npi-pic" id="{{partyid}}">
            <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 gmFontBold">
                NPI
            </li>
            <li id="li-surg-chknpid" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmFontBlue">
                <input type="number" id="input-scontacts-npid" onKeyPress="if(this.value.length==10) return false;" class="gmWidth180m  gmInputText input data-npid" value="{{npid}}" placeholder="#&nbsp;NPI" upd="npid">
            </li>
        </ul>
        <ul class="gmSection ul-short-75 gmMediaWidth100">
            <li id="li-surgeoncontact-name-header" class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 gmFontBold">
                * NAME
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-phone-surg-name">
                <label class="selectbox-icon">
                    <select id="select-surgeon-salute" class="gmInputText gmMediaWidth100 gmText75">
                        <option value="" name="SLTTYP">Select</option>
                        <option value="106240" name="SLTTYP">Dr.</option>
                        <option value="106241" name="SLTTYP">Mr.</option>
                        <option value="106242" name="SLTTYP">Ms.</option>
                        <option value="106243" name="SLTTYP">Prof.</option>
                    </select>
                </label>
                <input type="hidden" id="surgeon-salute" value="{{salute}}" upd="salute">
                <input type="text" id="input-scontacts-fname" class="gmWidth180m  gmInputText data-firstnm" upd="firstnm" name="FirstName" value="{{firstnm}}" placeholder="First Name *" validate="required" message="Please provide First Name" maxlength="20">
                <span id="spn-FirstName"></span>
                <input type="text" id="input-scontacts-mname" class="gmInputText gmInputChar data-midinitial" value="{{midinitial}}" placeholder="M.I" maxlength="1" upd="midinitial" validate="text" message="Please provide a Character">
                <input type="text" id="input-scontacts-lname" class="gmWidth180m  gmInputText data-lastnm" name="LastName" value="{{lastnm}}" placeholder="Last Name *" validate="required" message="Please provide Last Name" upd="lastnm" maxlength="20">
                <span id="spn-LastName"></span>
            </li>
        </ul>
        <li class="gmPad5p gmBGGrey gmAlignVertical">Phones</li>
<!--        <input type="hidden" id="surg-contact-phone-hprimary" validate="required" message="Please select a primary contact for Phone Contact Type">-->
        <input type="hidden" id="surg-contact-email-hprimary" validate="required" message="Please select a primary contact for Email Contact Type">
        <input type="hidden" id="surg-contact-address-hprimary" validate="required" message="Please select a primary contact for Address Contact Type">
        <ul class="gmSection ul-surgeon-contact">

            {{#each arrgmsurgeoncontactsvo}}
            {{#iftrue conmode '90450'}}
            <ul class="gmAlignHorizontal">
                <i class='fa fa-minus-circle remove-contact gmFontRed gmBtnLarge' index="{{index}}" conid="{{conid}}"></i>

                <li class=" gmSectionValue gmMediaWidth100 gmAlignHorizontal">
                    <div id="div-surg-phone-contype" class="surg-phone-contype gmAlignHorizontal category-btn popup-icon gmWidth100m  gmInputText gmVerticalMiddle" data-param="contype" data-inputParameters='{"codegrp":"ADDTP", "codeaccid" : "90450"}' data-keyParameter="codenm" data-codegrp="ADDTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="contype" data-title="Label" contype="{{contype}}" index="{{index}}" name="contype" conmode="90450">{{contype}}<span></span></div>
                </li>
                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalTop gmMediaWidth100 data-cont">
                    <input id="input-surg-phone" type="text" maxlength="25" class="gmWidth180m  gmInputText input-surg-contact input-surg-phone" placeholder="&#xf095;&nbsp;&nbsp;&nbsp;Phone *" name="convalue" VO="arrgmsurgeoncontactsvo" conmode="90450" contype="{{contype}}" primaryfl="{{primaryfl}}" value="{{convalue}}" onKeyPress="if(this.value.length==25) return false;" validate="phone" message="Please Enter Valid Phone Number" / index="{{index}}" conid="{{conid}}">
                </li>
<!--
                <li class="gmAlignHorizontal">
                    <input type="checkbox" class="surgeon-phone-primary surg-phone-cbox surg-contact-primary-{{primaryfl}} surgeon-update-cont" index="{{index}}" primaryfl="{{primaryfl}}" name="primaryfl" data-conttype="phone" conmode="90450">
                </li>
-->
            </ul>
            {{/iftrue}}{{/each}}

            <div class="gmAlignHorizontal" id="surgeon-add-new-phone"></div>
            <li class="gmAlignVertical" id="surgeon-add-new" name="phone"><i class="fa fa-plus-circle gmFontGreen"></i> add phone </li>

        </ul>
        <li class="gmPad5p gmBGGrey gmAlignVertical">Emails</li>
        <ul class="gmSection ul-surgeon-contact">

            {{#each arrgmsurgeoncontactsvo}}
            {{#iftrue conmode '90452'}}
            <ul class="gmAlignHorizontal">
                <i class='fa fa-minus-circle remove-contact gmFontRed gmBtnLarge' index="{{index}}" conid="{{conid}}"></i>
                <li class=" gmSectionValue gmMediaWidth100 gmAlignHorizontal">
                    <div id="div-surg-phone-contype" class="surg-phone-contype gmAlignHorizontal category-btn popup-icon gmWidth100m  gmInputText gmVerticalMiddle" data-param="contype" data-inputParameters='{"codegrp":"ADDTP", "codeaccid" : "90452"}' data-keyParameter="codenm" data-codegrp="ADDTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="contype" data-title="Label" contype="{{contype}}" index="{{index}}" name="contype" conmode="90452">{{contype}}<span></span></div>
                </li>
                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalTop gmMediaWidth100">
                    <input id="input-surg-email" type="text" class="gmWidth180m  gmInputText input-surg-contact" placeholder="&#xf0e0;&nbsp;&nbsp;&nbsp;Email *" name="convalue" VO="arrgmsurgeoncontactsvo" conmode="90452" contype="{{contype}}" primaryfl="{{primaryfl}}" value="{{convalue}}" validate="email" message="Please Enter Email Correct Format" / index="{{index}}" conid="{{conid}}" maxlength="250">
                </li>
                <li class="gmAlignHorizontal">
                    <input type="checkbox" class="surgeon-phone-primary surg-email-cbox surg-contact-primary-{{primaryfl}} surgeon-update-cont" index="{{index}}" primaryfl="{{primaryfl}}" name="primaryfl" data-conttype="email" conmode="90452">
                </li>
            </ul>
            {{/iftrue}}{{/each}}

            <div class="gmAlignHorizontal" id="surgeon-add-new-email"></div>
            <li class="gmAlignVertical" id="surgeon-add-new" name="email"><i class="fa fa-plus-circle gmFontGreen"></i> add email </li>

        </ul>

        <li class="gmPad5p gmBGGrey gmAlignVertical">Addresses</li>
        <ul id="ul-surg-addres" class="gmAlignHorizontal gmVerticalSub gmMarginBottom10p gmTextAll">
        </ul>

        <li class="gmPad5p gmBGGrey gmAlignVertical">Globus Relations</li>
        <input type="hidden" id="surg-contact-rep-hprimary" validate="required" message="Please select a primary Sales Rep">
        {{#if arrgmcrmsurgeonrepvo}}
        {{#each arrgmcrmsurgeonrepvo}}
        <ul id="surgeon-rep-content" class="gmSection gmPad50 surgeon-rep-content">
            <i class='fa fa-minus-circle remove-rep gmFontRed  gmBtnLarge' index="{{index}}" plinkid="{{plinkid}}"></i>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaAlignVertical gmFontBold gmText225 gmMediaWidth100">
                <div id="div-surgeon-search-rep-{{index}}" class="span-scontacts-salesrep gmWidth180m  gmMediaWidth75 gmFontBlack" repnm="{{repname}}">{{repname}}</div>

            </li>
            <li class="gmAlignHorizontal">
                <input type="checkbox" index="{{index}}" primaryfl="{{primaryfl}}" plinkid="{{plinkid}}" class="surgeon-phone-primary surg-rep-cbox surgeon-update-cont" name="primaryfl" data-conttype="rep" VO="arrgmcrmsurgeonrepvo" {{#iftrue primaryfl "Y"}} checked="checked" {{/iftrue}}>
            </li>
            <ul id="surgeon-rep-content" class="gmSection gmPad50">
                <li class="gmAlignHorizontal gmFontBold gmMediaWidth50">
                    AD
                </li>
                <li id="li-scontacts-ad" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth50 gmMediaAlignVertical">

                    <div id="div-scontacts-ad-{{index}}" class="div-scontacts-ad-{{index}} gmWidth180m  gmFontBlack">{{adnm}}</div>
                </li>
                <li class="gmAlignHorizontal gmFontBold gmMediaWidth50">
                    VP
                </li>
                <li id="li-scontacts-vp" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth50 gmMediaAlignVertical gmText200">
                    <div id="div-scontacts-vp-{{index}}" class="div-scontacts-vp-{{index}} gmWidth180m  gmFontBlack">{{vpnm}}</div>
                </li>
            </ul>
        </ul>
        {{/each}}{{/if}}
        <li class="gmAlignVertical" id="surgeon-add-new-rep" name="Rep"><i class="fa fa-plus-circle gmFontGreen"></i> add sales rep </li>
        
        <ul class="gmSection">
            <li class="gmSectionListItem gmAlignHorizontal gmFontBold">
                * COMPANY
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <input type="hidden" id="surg-company-admin" upd="companyid" validate="required" message="Please select a value in Company">
                <div id="surg-company-dropdown">
                </div>
            </li>
        </ul>

    </div>

</div>
