<div>
	<ul id = "ul-surg-file-contents">
        {{#each this}}
        <li class = "li-sur-doc-li">
            <ul class = "gmTextAll" id = "ul-surg-doc-{{reftype}}">
                <li class="mobsurgDocMinus">
                    <i class="fa fa-minus-circle i-sur-doc-remove gmBtnLarge gmFontBlack gmMarginLeft5p"></i>
                </li>
                <a class="togglebxMobiledoc" href="javascript:;"><img src="globusMobileApp/image/screen/ios/up-arrow.png" /></a>
                <li data-title="File Type" class="gmListColData gmText200 padding0 li-surgeon-doc-filetype mobView"><i class="fa fa-minus-circle i-sur-doc-remove gmBtnLarge gmFontBlack gmMargin0p tabsurgDocMinus"></i> <span>{{reftypenm}}</span></li>
                <li data-title="File Title" class="gmListColData gmText200 padding0">{{filetitle}}</li>
                <li data-title="File Name" class="gmListColData gmText175 padding0"> 
                <a href="{{server}}{{refgroup}}/{{refid}}/{{filename}}" class="a-surg-file" target="blank">
                    <span class = "span-surg-filenm  gmLnk">{{filename}}</span>
                </a>
                <span class = "link-docs hide" docID = "{{refid}}" name = "{{refgroup}}/{{refid}}/{{filename}}">{{filename}}</span>
                </li>
                <li data-title="Upload File" class="gmListColData li-surg-file-upload padding0" >
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>
</div>
     
