<ul class="gmSection gmMarginTop10p landscape">
    <div class="gmFontBold gmMarginTop10p gmPad5p gmBGGrey gmAlignVertical">Education <span id="surg-new-education" class="surg-education-add-btn gmFont2em gmFontWhite gmFloatRight">+</span> </div>
    <div id="educationList" class="education-surgeon-data gmSection gmTextAll ">
        {{#if arrgmcrmeducationvo}}
        <div class="education-surgeon-header gmSection gmTextAll gmBorderBottomLGrey gmBGABlue">
            <li class="gmListColData gmText125 gmFontsurgeon"> Level </li>
            <li class="gmListColData gmText300 gmFontsurgeon"> Institute Name </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Class Year </li>
            <li class="gmListColData gmText250 gmFontsurgeon"> Course </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Designation </li>
        </div>
        {{#each arrgmcrmeducationvo}}
        {{#iffalse voidfl 'Y'}}
        <ul id="ul-surg-education-list" class="gmSection gmTextAll" data-id="{{id}}" index="{{index}}">
            <i id="surg-education-remove-icon" class='gmAlignHorizontal fa fa-minus-circle gmFontRed gmBtnLarge education-eitem' data-id="{{id}}" index="{{index}}" VO="arrgmcrmeducationvo"></i>
             <a class="togglebxMobile" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
<!--            <li class="gmListColData gmFontsurgeon lblMobView mobView"> Level </li>-->
            <li data-title="Level" class="gmListColData gmText125 surgeon-edu-level education-vitem mobView">{{level}}</li>
            <li  data-title="Level" class="gmAlignHorizontal education-eitem">
                <div id="select-surgeon-edulvl" class="surgeon-title btn-listby category-btn gmText125 popup-icon" data-type="dropdown" data-param="level" data-inputParameters='{"codegrp":"EDULVL"}' data-keyParameter="codenm" data-codegrp="EDULVL" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="level" data-title="Level" data-name="level" redata="{{levelid}}" level="{{level}}" levelid="{{levelid}}"> {{#iftrue levelid ''}} Select {{else}} {{level}} {{/iftrue}} <span></span></div>
            </li>

            <li data-title="Institute Name" class="gmListColData gmText300 education-vitem">{{institutenm}}</li>
            <li data-title="Institute Name" class="gmAlignHorizontal education-eitem">
                <div id="surg-education-institutenm" class="search-input" institutenm="{{institutenm}}" maxlength='200'></div>
            </li>

            <li data-title="Class Year" class="gmListColData gmText100 education-vitem">{{classyear}}</li>
            <li data-title="Class Year" class="gmAlignHorizontal education-eitem">
                <select id="select-surg-classyear" class="gmText60" classyear="{{classyear}}"><option value=""></option></select>
            </li>
            

            <li data-title="Course" class="gmListColData gmText250 education-vitem">{{course}}</li>
            <li data-title="Course" class="gmAlignHorizontal education-eitem">
                <div id="surg-education-course" class="search-input" course="{{course}}" maxlength='200'></div>
            </li>
            
            <li data-title="Designation" class="gmListColData gmText100 education-vitem">{{designation}}</li>
            <li data-title="Designation" class="gmAlignHorizontal education-eitem">
                <div id="select-surgeon-desgn" class="surgeon-title btn-listby category-btn gmText60 popup-icon" data-type="dropdown" data-param="designation" data-inputParameters='{"codegrp":"DESGN"}' data-keyParameter="codenm" data-codegrp="DESGN" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="level" data-title="Designation" data-name="designation" redata="{{designationid}}" designation="{{designation}}" designationid="{{designationid}}">{{#iftrue designationid ''}} Select {{else}} {{designation}} {{/iftrue}}<span></span></div>
            </li>
<!--
            <li class="gmAlignHorizontal education-eitem">
                <div id="select-surgeon-desgn" class="search-input" designation="{{designation}}" designationid="{{designationid}}" maxlength='30'></div>
            </li>
-->
            <i id="surg-education-save-icon" class="gmAlignHorizontal gmVerticalMiddle fa fa-2x fa-floppy-o education-eitem" aria-hidden="true" VO="arrgmcrmeducationvo" name="education"></i>
            <i id="surg-education-edit-icon" class="gmAlignHorizontal gmVerticalMiddle fa fa-2x fa-pencil-square education-vitem" aria-hidden="true" VO="arrgmcrmeducationvo"></i>
        </ul>
        {{/iffalse}}
        {{/each}} {{else}}
        <ul class="gmMarginTop10p">
            <li> No Data Found</li>
        </ul>
        {{/if}}
    </div>
</ul>
<ul class="gmSection gmMarginTop10p landscape">
    <div class="gmFontBold gmMarginTop10p gmPad5p gmBGGrey gmAlignVertical">Professional Experience <span id="surg-new-professional" class="surg-education-add-btn gmFont2em gmFontWhite gmFloatRight">+</span></div>
    <div id="professionalList" class="professional-surgeon-data gmSection gmTextAll ">
        {{#if arrgmcrmprofessionalvo}}
        <div class="professional-surgeon-header gmSection gmTextAll gmBorderBottomLGrey gmBGABlue">
            <li class="gmListColData gmText75 gmFontsurgeon"> Title </li>
            <li class="gmListColData gmText170 gmFontsurgeon"> Company Name </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> Start Date </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> End Date </li>
            <li class="gmListColData gmText170 gmFontsurgeon"> Group </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Country </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> State </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> City </li>
        </div>
        {{#each arrgmcrmprofessionalvo}}
        {{#iffalse voidfl 'Y'}}
        <ul id="ul-surg-professional-list"  class="gmSection gmTextAll" data-id="{{careerid}}" index="{{index}}">
            <i id="surg-professional-remove-icon" class='gmAlignHorizontal fa fa-minus-circle gmFontRed gmBtnLarge professional-eitem' data-id="{{careerid}}" index="{{index}}" VO="arrgmcrmprofessionalvo"></i>
             <a class="togglebxMobile" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>

            <li data-title="Title" class="gmListColData gmText75 professional-vitem mobView">{{title}}</li>
            

            <li data-title="Company Name" class="gmListColData gmText170 professional-vitem">{{companyname}}</li>

            <li data-title="Start Date" class="gmListColData gmText75 professional-vitem">{{startdate}}</li>

            <li data-title="End Date" class="gmListColData gmText75 professional-vitem">{{enddate}}</li>
             
            <li data-title="Group" class="gmListColData gmText170 professional-vitem">{{groupdivision}}</li>
            

            <li data-title="Country" class="gmListColData gmText100 professional-vitem">{{country}}</li>

            <li data-title="State" class="gmListColData gmText75 professional-vitem">{{state}}</li>
            

            <li data-title="City" class="gmListColData gmText100 professional-vitem">{{city}}</li>
           
            <li data-title="Title" class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-proftitle" class="search-input" titleid="{{titleid}}" title="{{title}}" maxlength='50'></div>
            </li>
            <li data-title="Company Name" class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-profcompanyname" class="search-input" companynameid="{{companynameid}}" companyname="{{companyname}}" maxlength='200'></div>
            </li>
            <li data-title="Start Date" class="gmAlignHorizontal professional-eitem">
                <select id="select-surg-profstartmonth" startmonth="{{startmonth}}"><option value=""></option></select>
                <select id="select-surg-profstartyear" startyear="{{startyear}}"><option value=""></option></select>
            </li>
            <li data-title="End Date" class="gmAlignHorizontal professional-eitem">
                <select id="select-surg-profendmonth" endmonth="{{endmonth}}"><option value=""></option></select>
                <select id="select-surg-profendyear" endyear="{{endyear}}"><option value=""></option></select>
                <div id="check-surg-profpresent"><input type="checkbox" stillinposition="{{stillinposition}}"> Present</div>
            </li>
            <li data-title="Group" class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-profgroupdivision" class="search-input" groupdivisionid="{{groupdivisionid}}" groupdivision="{{groupdivision}}" maxlength='200'></div>
            </li>
            <li  data-title="Country" class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-profcountry" countryid="{{countryid}}" country="{{country}}"></div>
            </li>
            <li data-title="State"  class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-profstate" stateid="{{stateid}}" state="{{state}}"></div>
            </li>
            <li data-title="City" class="gmAlignHorizontal professional-eitem">
                <div id="search-surg-profcity" class="search-input" cityid="{{cityid}}" city="{{city}}" maxlength='100'></div>
            </li>
            <i id="surg-professional-save-icon" class="gmAlignHorizontal gmVerticalMiddle fa fa-2x fa-floppy-o professional-eitem" aria-hidden="true" VO="arrgmcrmprofessionalvo" name="professional"></i>
            <i id="surg-professional-edit-icon" class="gmAlignHorizontal gmVerticalMiddle fa fa-2x fa-pencil-square professional-vitem" aria-hidden="true" VO="arrgmcrmprofessionalvo"></i>
        </ul>
        {{/iffalse}}
        {{/each}} {{else}}
        <ul class="gmMarginTop10p">
            <li> No Data Found</li>
        </ul>
        {{/if}}
    </div>
</ul>
<section class="portrait">
    <center><i class="fa fa-tablet fa-5x rotate90" aria-hidden="true"></i></center>
    Portrait view is unavailable for this page, please use landscape view
</section>