<div id="div-surgeon-filter-main" class="gmSection">
    <ul class="gmSection  li-ph-filter-label">
        <li class=" gmAlignHorizontal">
            Filter Name
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input class="gmInputText txt-fltr-name txt-sur-fltr-name gmWidth180m gmMediaWidth95" autofocus name="filtername" />
        </li>
    </ul>
    <ul id="ul-surgeon-category-li" class="gmSection gmAlignHorizontal gmMediaWidth100">
        <li class="  gmAlignVertical gmFontBold ">
            Filters
        </li>
        <li class="gmSectionListItemGroup ">
            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">
                <div class="surgeon-title btn-listby category-btn popup-icon div-popup-state gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> State <span></span></div>

            </ul>
            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">

                <div class="surgeon-title btn-listby category-btn popup-icon div-popup-technique gmWidth180m" data-type="dropdown" data-param="procedure" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Technique">Technique <span></span></div>
            </ul>

            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">
                <div class="btn-listby surgeon-title category-btn popup-icon div-popup-system gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
            </ul>
            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">

                <div class="surgeon-title btn-listby category-btn popup-icon div-popup-skills gmWidth180m" data-type="dropdown" data-param="specality" data-inputParameters='{"codegrp":"SGSPC"}' data-keyParameter="codenm" data-codegrp="SGSPC" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="specality" data-title="Skillset">Skillset <span></span></div>
            </ul>
            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">

                <div class="surgeon-title btn-listby category-btn popup-icon div-popup-role gmWidth180m" data-type="dropdown" data-param="role" data-inputParameters='{"codegrp":"ACTROL"}' data-keyParameter="codenm" data-codegrp="ACTROL" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="role" data-title="Role">Role <span></span></div>
            </ul>
            <ul class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMarginTop10p gmMediaWidth100">

                <div class="surgeon-title btn-listby category-btn popup-icon div-popup-activity gmWidth180m" data-type="dropdown" data-param="acttyp" data-inputParameters='{"codegrp":"SGACTP"}' data-keyParameter="codenm" data-codegrp="SGACTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="acttyp" data-title="Activity Type">Activity Type<span></span></div>
            </ul>
        </li>
    </ul>
    <ul id="ul-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight ">
        <li class="gmFontBold gmAlignVertical" style=" margin-left: 18%; ">
            Activity Date
        </li>

        <div class="gmAlignVertical gmMarginTop10p ">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-sur-filter-frm-to">From</li>
            <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
                <input type="date" id="surgeon-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m sur-crt-date gmMediaWidth95" placeholder="mm/dd/yyyy" value="">
            </li>
        </div>
        <div class="gmAlignVertical gmMarginTop10p">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-surg-filter-todate-label  li-sur-filter-frm-to" style="width:35px;">To</li>
            <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
                <input type="date" id="surgeon-todate" class="gmInputText gmAlignVertical gmWidth180m sur-crt-date gmMediaWidth95" placeholder="mm/dd/yyyy" value="">
            </li>
        </div>
    </ul>

    <ul class="gmAlignHorizontal gmMarginRight10p ul-phone-surg-selected-criteria hide">
        <div id="btn-filter-selected-criteria" class="div-list-of-selected-criteria gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">
            <i class="fa fa-2x gmFloatLeft fa-list-alt" aria-hidden="true"></i> List of Selected Criteria</div>
    </ul>
    <ul class="gmSection list-category-item category-items gmBorderRadius3p"></ul>
    <ul class="gmAlignHorizontal gmFloatRight  ul-ph-surg-filter-search">
        <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">View</div>
    </ul>

</div>
