<!-- '400901','ACTIVE', '400902','INPROGRESS', '400903','OPEN'-->

<div id="rpt-legend-info">
    <i id="rpt-legend-icon" class="fa fa-2x fa-question-circle gmFloatRight gmPad10p"></i>
    <ul id="rpt-legend-detail" style="display: none;" class="gmBorderRadius3p gmFloatRight">
        <li id="surgeon-multi-result-count" class="gmPad5p hide"><span class="gmVerticalMiddle gmPad5p"> * </span> <label>Indicates multiple results with selected filters</label></li>
        <li class="gmPad5p"><span class="gmVerticalMiddle"></span><i class="fa fa-star gmFont400901" aria-hidden="true"></i> <label class="gmPadLeft5p">Active</label>
            <div class="gmMarginLeft25p gmFont12px"><div> - Surgeon has performed at least one Globus case</div> </div>
        </li>
        <li class="gmPad5p"><span class="gmVerticalMiddle"></span><i class="fa fa-star gmFont400902" aria-hidden="true"></i> <label class="gmPadLeft5p">In Progress</label>
            <div class="gmMarginLeft25p gmFont12px"><div> - Surgeon has had a touchpoint with Globus (Marketing Collateral, Physician Visit, etc.) but has not performed a Globus case</div> </div>
        </li>
        <li class="gmPad5p"><span class="gmVerticalMiddle"></span><i class="fa fa-star gmFont400903" aria-hidden="true"></i> <label class="gmPadLeft5p">Open</label>
            <div class="gmMarginLeft25p gmFont12px"><div> - Surgeon has not had a touchpoint with Globus or a Globus case</div></div>
        </li>
    </ul>

</div>

{{#each this}}
<section id="surgeon-report-item" class="gmAlignHorizontal gmText200 gmMargin10p gmVerticalTop gmTextCenter">
    <a href="#crm/surgeon/id/{{partyid}}" class="gmFontBlack gmAlignHorizontal gmTextCenter">
        <div class="gmTextAll gmHeight160px gmMarginBottom10p surgeon-report-user-img gmText170">
            <div id="surgeon-report-user-icon">
                <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            {{#if picurl}}
            <div id="surgeon-report-user-img" class="gmAlignHorizontal"><img src="{{picurl}}" alt onerror="this.style.display='none'" />
            </div>
            {{/if }}
        </div>
        <div class="surgeon-report-user-name gmFontBold">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}} {{#ifgreater resultcnt '1'}} <span id="surgeon-multi-result-icon">*</span> {{/ifgreater}} <i class="fa fa-star gmFont{{status}}" aria-hidden="true"></i> </div>
        <em class="gmAlignHorizontal gmText170 gmFont14p">{{{subtitle}}}</em>
    </a>
</section>
{{/each}}