<div id="div-surgeon-detailmode" class="gmBlock">
    <div>
         <ul id="div-surg-tabs" class="iPad">
            <li id="li-sur-detail-contact" name="contact" class="surg-tab gmBtn gmAlignHorizontal gmMarginRight5p"><span class="gmMarginRight10p dispNone">Info</span><span class="iphoneView"><i class="fa fa-info" aria-hidden="true"></i></span></li>
             
            <li id="li-sur-detail-education" name="education" class="surg-tab gmBtn gmAlignHorizontal gmMarginRight5p"><span class="gmMarginRight10p dispNone">Education/Accomplishments</span><span class="iphoneView"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span></li>
            <li id="li-sur-detail-hos-affiliation" name="hospital" class="surg-tab gmBtn gmAlignHorizontal gmMarginRight5p"><span class="gmMarginRight10p dispNone">Hospital Affiliations</span><span class="iphoneView"><i class="fa fa-hospital-o" aria-hidden="true"></i></span><span class="gmMarginLeft10p" id="spn-affl-count"></span></li>
             
            <li id="li-sur-detail-surgical-actvty" name="surgical" class="surg-tab gmBtn gmAlignHorizontal  gmMarginRight5p"><span class="gmMarginRight10p dispNone">Surgical Activity</span><span class="iphoneView"><i class="fa fa-heartbeat" aria-hidden="true"></i></span><span class="gmMarginLeft10p" id="spn-surgact-count"></span></li>
             
	    <li id="ul-sur-det-globusactvty" class="surg-tab gmBtn gmAlignHorizontal gmMarginRight5p"><span class="gmMarginRight10p dispNone">Globus Activity</span><span class="iphoneView"><i class="fa fa-globe" aria-hidden="true"></i></span><span class="gmMarginLeft10p" id="spn-globact-count"></span></li>
            <li id="li-sur-detail-caption-document" name="document" class="surg-tab gmBtn gmAlignHorizontal gmMarginRight5p"><span class="gmMarginRight10p dispNone">Documents</span><span class="iphoneView"><i class="fa fa-book" aria-hidden="true"></i></span><span class="gmMarginLeft10p" id="spn-doc-count"></span></li>
        </ul>
        <ul id="ul-surgeon-detail-left-bottom">
            <li>
                <div class="gmLineSpaceSmlr"> </div>
                <div id="sur-detail-education" class="surgeon-view-content gmScrollY">
                    <div id="sur-detail-education-content"></div>
                    <div id="sur-detail-professional-content"></div>
                </div>
                <div id="sur-detail-hos-affiliation" class="surgeon-view-content gmScrollY"> </div>
                <div id="sur-detail-surgical-actvty" class="surgeon-view-content gmScrollY"> </div>
                <div id="sur-det-globusactvty" class="surgeon-view-content gmScrollY"> </div>
                <div id="sur-detail-document" class="surgeon-view-content gmScrollY"> </div>
            </li>
        </ul>
    </div>
    <div id="sur-detail-contact" class="surgeon-view-content gmScrollY">
        <div class="iPad gmTextAll">
            <div class="gmAlignHorizontal div-surgeon-info-left info-details">
                <div class="div-sur-pic-container gmTextCenter">
                    <div id="div-name-container">
                        <i class="fa fa-user default-picture" aria-hidden="true"></i>
                    </div>
                    <div> <img src="{{server}}{{picurl}}" class="gmText150 img-sur-pro-pic" onerror="this.style.display='none'" /></div>
                </div>
                <div class="quickLinks gmTextCenter gmPaddingTop10p">
                    <ul class="socialIcons-details gmtextcenter">
                        <li id="surgeon-cv-link" class=" gmAlignHorizontal gmWebLink" title="CV">
                            <a class="a-file-open gmUnderline gmAlignHorizontal gmMarginLeft10p" href-url="" target="_blank">
                                <img class=" gmVerticalMiddle" src="globusMobileApp/image/crm/cv_icon.PNG"> </a>
                        </li>

                        <li class="gmAlignHorizontal gmWebLink vitals" title="Vitals"><a class="socialmediafa" href-url=""> <i class="vitals-icon fa fa-2x fa-viacoin gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>
                        <li class="gmAlignHorizontal gmWebLink openpayment" title="Openpayment"><a class="socialmediafa" href-url=""> <i class="openpayment-icon fa fa-2x fa-usd gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>
                        <li class="gmAlignHorizontal gmWebLink website" title="Website"><a class="socialmediafa" href-url=""> <i class="website-icon fa fa-2x fa-user-md  gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>
                        <li class="gmAlignHorizontal gmWebLink google" title="Google"><a class="socialmediafa" href-url=""> <i class="google-icon gmVerticalMiddle fa fa-2x gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>
                        <li class="gmAlignHorizontal gmWebLink facebook" title="Facebook"><a class="socialmediafa" href-url=""> <i class="facebook-icon fa fa-2x fa-facebook-square gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i> </a></li>
                        <li class="gmAlignHorizontal gmWebLink twitter" title="Twitter"><a class="socialmediafa" href-url=""> <i class="twitter-icon fa fa-2x fa-twitter-square gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>
                        <li class="gmAlignHorizontal gmWebLink linkedin" title="Linkedin"><a class="socialmediafa" href-url=""> <i class="linkedIn-icon fa fa-2x fa-linkedin-square gmfasocial" aria-hidden="true" VO="arrgmcrmsurgeonsocialvo"></i></a></li>

                    </ul>
                </div>

                <ul id="ul-surgeon-detail-right" class="gmPaddingTop10p">
                    <li class="gmAlignVertical surg-info-activity gmBorderRadius3p gmBorderLightGrey">
                        <div id="div-surg-list-salescall" class="gmAlignHorizontal gmText100 salesWidth" name="activity" title="Create Salescall">
                            <i class="gmMarginLeft5p gmAlignHorizontal gmPad10p gmFont15em gmText30 fa fa-comments gmFontsalescall" aria-hidden="true"></i>
                            <div class="gmAlignHorizontal gmPad10p gmFont12em gmFontDarkGrey" id="div-surg-sc-cnt">{{scallcnt}}</div>
                        </div>
                        <a class="gmFontLightGrey gmAlignHorizontal div-surg-list-salescall hide" href="#crm/salescall/0/{{partyid}}/{{firstnm}}/{{lastnm}}">
                            <i class="gmAlignHorizontal gmPad10p gmFont15em fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="gmAlignVertical surg-info-activity gmBorderRadius3p gmBorderLightGrey">
                        <div id="div-surg-list-physicainvisit" class="gmAlignHorizontal gmText100 salesWidth" name="activity" title="Create Physician Visit">
                            <i class="gmMarginLeft5p gmAlignHorizontal gmPad10p gmFont15em gmText30 fa fa-user-md  gmFontphysicianvisit" aria-hidden="true"></i>
                            <div class="gmAlignHorizontal gmPad10p gmFont12em gmFontDarkGrey" id="div-surg-pv-cnt">{{pvisitcnt}}</div>
                        </div>
                        <a class="gmFontLightGrey gmAlignHorizontal div-surg-list-physicainvisit hide" href="#crm/physicianvisit/id/{{partyid}}/{{firstnm}}/{{lastnm}}">
                            <i class="gmAlignHorizontal gmPad10p gmFont15em gmFontLightGrey fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!--
<li class="gmAlignVertical surg-info-activity gmBorderRadius3p gmBorderLightGrey">
    <div id="div-surg-list-merc" class="gmAlignHorizontal gmText100" name="activity" title="Add surgeon to MERC">
        <i class="gmMarginLeft5p gmAlignHorizontal gmPad10p gmFont15em gmText30 fa fa-graduation-cap gmFontmerc" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmPad10p gmFont12em gmFontDarkGrey" id="div-surg-merc-cnt">{{merccnt}}</div>
    </div>
    <i id="div-surg-add-merc" class="gmAlignHorizontal gmPad10p gmFont15em gmFontLightGrey fa fa-plus" aria-hidden="true"></i>
</li>
-->
                </ul>



            </div>
            <div class="gmAlignHorizontal div-surgeon-info-right">
                <div class="gmAlignHorizontal gmTextAll">
                    <ul class="gmMarginTop20p ">
                        <li class="gmAlignHorizontal gmMarginBottom10p gmVerticalTop">
                            <b class="gmFont12em">{{salutenm}} {{firstnm}} {{midinitial}} {{lastnm}} {{#if npid}} - {{npid}}{{/if}}</b>
                        </li>

                        <li class="gmPad5p gmBGGrey gmAlignVertical">Phones</li>

                        <li class="gmAlignHorizontal gmVerticalSub gmMarginBottom10p gmTextAll surg-cont-info">
                            {{#each arrgmsurgeoncontactsvo}} {{#iftrue conmode '90450'}}
                            <div class="gmPadding10x0p">
                                {{#iftrue primaryfl 'Y'}}
                                <label class="gmTextCapitalize">{{contype}}: </label><a class="gmFontBlack gmLink gmFontBold" href="tel: {{convalue}}"> {{convalue}} </a> {{else}}
                                <label class="gmTextCapitalize">{{contype}}: </label><a class="gmFontBlack gmLink a-contact-secondary gmFontBold" href="tel: {{convalue}}"> {{convalue}} </a> {{/iftrue}}
                            </div>
                            {{/iftrue}} {{/each}}
                        </li>
                        <li>
                        </li>
                        <li class="gmPad5p gmBGGrey gmAlignVertical">Emails</li>

                        <li class="gmAlignHorizontal gmVerticalSub gmMarginBottom10p gmTextAll surg-cont-info">
                            {{#each arrgmsurgeoncontactsvo}} {{#iftrue conmode '90452'}}
                            <div class="gmPadding10x0p">
                                {{#iftrue primaryfl 'Y'}}
                                <label class="gmTextCapitalize">{{contype}}: </label><a class="gmFontBlack gmLink gmFontBold" href="mailto: {{convalue}}"> {{convalue}}</a> {{else}}
                                <label class="gmTextCapitalize">{{contype}}: </label><a class="gmFontBlack gmLink a-contact-secondary gmFontBold" href="mailto: {{convalue}}"> {{convalue}}</a> {{/iftrue}}
                            </div>
                            {{/iftrue}} {{/each}}
                        </li>

                        <li class="gmPad5p gmBGGrey gmAlignVertical">Addresses</li>
                        <li class="gmAlignHorizontal gmVerticalSub gmMarginBottom10p gmTextAll surg-cont-info">
                            {{#if arrgmsurgeonsaddressvo}} {{#each arrgmsurgeonsaddressvo}} {{#iftrue primaryfl 'Y'}}
                            <div class="gmPadding10x0p">
                                <label class="gmTextCapitalize gmVerticalTop">{{addrtypnm}}: </label>
                                <span class="gmAlignHorizontal">
                                    <span class="gmAlignVertical">{{add1}} {{#if add2}} {{add2}} {{/if}}</span>
                                    <span class="gmAlignVertical">{{city}} {{statenm}} {{zip}}</span>
                                    <span class="gmAlignVertical gmMarginBottom10p">{{countrynm}}</span>
                                </span>
                            </div>
                            {{else}}
                            <div class="gmPadding10x0p">
                                <label class="gmTextCapitalize gmVerticalTop">{{addrtypnm}}: </label>
                                <span class="gmAlignHorizontal">
                                    <span class="gmAlignVertical">{{add1}} {{#if add2}} {{add2}} {{/if}}</span>
                                    <span class="gmAlignVertical">{{city}} {{statenm}} {{zip}}</span>
                                    <span class="gmAlignVertical gmMarginBottom10p">{{countrynm}}</span>
                                </span>
                            </div>
                            {{/iftrue}} {{/each}} {{else}}
                            <span class="gmFontItalic">Unassigned</span> {{/if}}
                        </li>
                    </ul>
                </div>
                <li class="gmPad5p gmBGGrey gmAlignVertical">Globus Relations</li>
                <div id="surg-detailview-advp" class="gmPadding10x0p">
                    {{#if arrgmcrmsurgeonrepvo}}
                    {{#each arrgmcrmsurgeonrepvo}}
                    <ul class="gmSection gmAlignHorizontal">
                        <li id="li-surg-link-fieldsales" class=" gmText25 gmAlignHorizontal gmMarginBottom10p gmFloatLeft">
                            <b class="gmFontBlack gmFont90em gmVerticalTop">REP</b>
                        </li>
                        <li class="gmSectionListItem gmAlignHorizontal gmText200 gmFloatLeft">
                            {{#if repname}}
                            <span id="spn-surgeon-detail-rep" class="gmPointCursor gmPad50 gmBorderRadius3p" data-rep="{{repid}}">{{repname}}</span> {{else}}
                            <div class="gmFontItalic">&nbsp;&nbsp;Unassigned</div>
                            {{/if}}
                        </li>
                        <li class="gmAlignHorizontal gmText25 gmMarginBottom10p gmFloatLeft">
                            <b class="gmFontBlack gmFont90em gmVerticalTop">AD</b>
                        </li>
                        <li class="gmSectionListItem gmAlignHorizontal gmText200 gmFloatLeft">
                            {{#if adnm}}
                            <span id="spn-surgeon-detail-ad" class="gmPointCursor gmPad50 gmBorderRadius3p " data-rep="{{adid}}">{{adnm}}</span> {{else}}
                            <div class="gmFontItalic">
                                &nbsp;Unassigned
                            </div>
                            {{/if}}
                        </li>
                        <li class="gmAlignHorizontal gmText25 gmMarginBottom10p gmFloatLeft">
                            <b class="gmFont90em gmVerticalTop">VP</b>
                        </li>
                        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmText200 gmFloatLeft">
                            {{#if vpnm}}
                            <span id="spn-surgeon-detail-vp" class="gmPointCursor gmPad50 gmBorderRadius3p " data-rep="{{vpid}}">
                                {{vpnm}}
                            </span> {{else}}
                            <div class="gmFontItalic">
                                &nbsp;Unassigned
                            </div>
                            {{/if}} </li>

                    </ul>
                    {{/each}}{{/if}}
                </div>
                <ul class="gmAlignHorizontal gmMarginBottom10p">
                    <li class="gmAlignHorizontal">
                           Company : 
                        </li>
                    <li class="gmAlignHorizontal gmFontBold">
                        {{companyname}}
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
