<ul class="gmPadLeft10p surgGlobusActivity">
    {{#if surgeonactivity}}
        <ul class="gmTextCenter gmAlignHorizontal gmMarginBottom10p">
        <li id="globus-activity-all" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="all">
            <div class="surgeon-title btn-showby gmAlignHorizontal module-title gmPad5p gmBorderRadius3p gmBGDarkerGrey gmFontWhite"><i class="fa fa-plus surgeon-icon merc" aria-hidden="true"></i>
                <span class="iPad">All</span></div>
        </li>
        <li id="globus-activity-merc" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="merc">
            <div class="surgeon-title btn-showby gmBGLGrey gmAlignHorizontal module-title gmPad5p gmBorderRadius3p" ><i class="fa fa-graduation-cap surgeon-icon gmFont99258A" aria-hidden="true"></i>
                <span class="iPad">MERC</span></div>
        </li>
        <li id="globus-activity-preceptor" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="preceptorship">
            <div class="surgeon-title btn-showby gmBGLGrey gmAlignHorizontal module-title gmPad5p gmBorderRadius3p"><i class="fa fa fa-user surgeon-icon gmFont3ab9a9" aria-hidden="true"></i> <span class="iPad">Preceptorship</span></div>
        </li>
        <li id="globus-activity-vip" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="physicianvisit">
            <div class="surgeon-title btn-showby gmBGLGrey gmAlignHorizontal module-title gmPad5p gmBorderRadius3p"><i class="fa fa-user-md surgeon-icon gmFont4169e1" aria-hidden="true"></i> <span class="iPad">Physician Visit</span></div>
        </li>
        <li id="globus-activity-file" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="fileshare">
            <div class="surgeon-title btn-showby gmBGLGrey gmAlignHorizontal module-title gmPad5p gmBorderRadius3p" ><i class="fa fa-file surgeon-icon gmFontE97214" aria-hidden="true"></i> <span class="iPad">File Share</span></div>
        </li>
        <li id="globus-activity-salescall" class="gmAlignHorizontal icon-dropdown gmMarginRight5p btn-filter" name="salescall">
            <div class="surgeon-title btn-showby gmBGLGrey gmAlignHorizontal module-title gmPad5p gmBorderRadius3p"><i class="fa fa-comments surgeon-icon gmFont00ace1" aria-hidden="true"></i> <span class="iPad">Sales Call</span></div>
        </li>
        
    </ul>
    
    
    <ul class="surgActivityDateList">
        {{#each surgeonactivity}}
        <li class="gmAlignVertical surgActivityList {{alink}} {{#iftrue alink 'caserequest'}} preceptorship-filter {{/iftrue}} {{#iffalse alink 'caserequest'}}{{alink}}-filter {{/iffalse}}">            
            <div class="gmTextAll">
            {{#iftrue activitytypeid '105265'}}
                <div class="activityLeft">
                    <span class="faicon"><i class="fa fa-graduation-cap"></i></span>
                </div>
                <div class="activityRight">
                    <span class="acttext">{{#if datefl}}Will attend {{else}}Attended {{/if}}</span>
                    <span class="acttitle">{{#if activitytitle}} {{activitytitle}} {{/if}} </span>
					<span class="acttime">{{#if actdetail}} as a {{actdetail}} {{/if}}</span>
                </div>
                {{/iftrue}}

                {{#iftrue activitytypeid '105266'}}
                    <div class="activityLeft">
                        <span class="faicon"><i class="fa fa-user-md"></i></span>

                    </div>
                    <div class="activityRight">
                        <span class="acttext">{{#if datefl}}Will visit in {{else}}Visited in {{/if}}</span>
                        <span class="acttitle">{{#if activitytitle}} <a href="#crm/{{alink}}/id/{{activityid}}">{{activitytitle}}</a> {{/if}} </span>
                    </div>

                    {{/iftrue}}

                    {{#iftrue activitytypeid '105267'}}
                        <div class="activityLeft">
                            <span class="faicon"><i class="fa fa-comments"></i></span>

                        </div>
                        <div class="activityRight">
                            <span class="acttext">{{#if datefl}}
                                <a href="#crm/{{alink}}/id/{{activityid}}">{{frompartyid}}</a>
                                has sales call for {{else}} <a href="#crm/{{alink}}/id/{{activityid}}">{{frompartyid}}</a> had sales call with {{/if}}</span>
                            <span class="acttitle"><a href="#crm/{{alink}}/id/{{activityid}}">{{#if activitytitle}} {{activitytitle}} {{/if}}</a> </span>
                            <span class="acttime">{{#if actdetail}} {{actdetail}} {{/if}} </span>
                        </div>

                        {{/iftrue}}

                        {{#iftrue activitytypeid '105268'}}
                            <div class="activityLeft">
                                <span class="faicon"><i class="fa fa-graduation-cap"></i></span>
                            </div>
                            <div class="activityRight">
                                <span class="acttext">{{#if datefl}}Will attend {{else}}Attended {{/if}}</span>
                                <span class="acttitle">{{#if activitytitle}} <a href="#crm/{{alink}}/id/{{activityid}}">{{activitytitle}} </a>{{/if}} </span>
                            </div>

                            {{/iftrue}}

                            {{#iftrue activitytypeid '105271'}}
                                <div class="activityLeft">
                                    <span class="faicon"><i class="fa fa-file"></i></span>

                                </div>
                                <div class="activityRight">
                                    <span class="actfieldsales"> {{topartyid}} </span> shared <span class="acttitle">{{#if activitytitle}} {{activitytitle}} {{/if}} </span>{{#if actdetail}} file <span class="actdetail"> {{actdetail}} </span>{{/if}}
                                </div>

                                {{/iftrue}}
                                
                                {{#iftrue activitytypeid '105272'}}
                                <div class="activityLeft">
                                    <span class="faicon"><i class="fa fa fa-users gmVerticalMiddle gmPSTxtColor"></i><i class="fa fa fa-user gmVerticalMiddle gmFont24px gmPSfa2"></i></span>
                                </div>
                                <div class="activityRight">
                                    <span class="acttext">{{#if datefl}}Will host {{else}}Hosted {{/if}}</span>
                                    {{#iffalse deptid 'S'}}
                                        <span class="actid">{{#if activityid}}<a class="gmReportLnk" href="#crm/{{alink}}/host/id/{{activityid}}"> {{activityid}} </a>{{/if}}</span>
                                        <span class="acttitle">{{#if activitytitle}} <a href="#crm/{{alink}}/host/id/{{activityid}}">{{activitytitle}}</a> {{/if}} </span>
                                    {{/iffalse}}
                                    {{#iftrue deptid 'S'}}
                                        <span class="actid">{{#if activityid}}{{activityid}}{{/if}}</span>
                                        <span class="acttitle">{{#if activitytitle}} {{activitytitle}}{{/if}} </span>
                                    {{/iftrue}}                                    
                                    <span class="acttime"> case {{#if actdetail}} {{actdetail}} {{/if}}</span>
                                </div>
                                {{/iftrue}}{{#iftrue activitytypeid '105273'}}
                                <div class="activityLeft">
                                    <span class="faicon"><i class="fa fa fa-users gmVerticalMiddle"></i><i class="fa fa fa-user gmVerticalMiddle gmFont24px gmPSfa2 gmPSTxtColor"></i></span>
                                </div>
                                <div class="activityRight">
                                    <span class="acttext">{{#if datefl}}Will attend {{else}}Attended {{/if}}</span>
                                    {{#iffalse deptid 'S'}}
                                        <span class="actid">{{#if activityid}}<a class="gmReportLnk" href="#crm/preceptorship/host/id/{{txnid}}"> {{txnid}} </a>{{/if}}</span>
                                        <span class="acttitle">{{#if activitytitle}} <a href="#crm/preceptorship/host/id/{{txnid}}">{{activitytitle}}</a> {{/if}} </span>
                                    {{/iffalse}}
                                    {{#iftrue deptid 'S'}}
                                        <span class="actid">{{#if activityid}} {{txnid}} {{/if}}</span>
                                        <span class="acttitle">{{#if activitytitle}} {{activitytitle}} {{/if}} </span>
                                    {{/iftrue}}                                    
                                    <span class="acttime"> case {{#if actdetail}}{{actdetail}}{{/if}}</span>
                                </div>
                                {{/iftrue}}

                                <div class="activityDate">
                                    {{#iftrue datefl 2}}<span class="actdate today"> <i class="fa fa-play"></i>Today</span>
                                    {{else}}<span class="actdate">{{formatDate activitydate}}</span>{{/iftrue}} {{#if activitytodate}} - {{formatDate activitytodate}} {{/if}}
                                </div>
                            </div>
                            <div class="surg-globus-activty"></div>
        </li>
        {{/each}}
    </ul>
    {{else}} &nbsp; &nbsp; &nbsp;Not Found {{/if}}

</ul>
