<ul id="div-add-surg-surgicalact" class="gmAlignHorizontal gmTabAdd hide">
    <i class="fa fa-plus gmFontDarkerGrey"></i>
</ul>
   <div id="div-ssurgical-main" class = "data-arrgmcrmsurgeonsurgicalvo">
    <div id="div-ssurgical-nocontent-label"></div>
    <div id="div-ssurgical-main-content">
        <ul id="ul-sur-surg-system-header" class="gmSection">
            <li id="li-sur-surgical-system-search" class="gmAlignHorizontal  gmMediaWidth100">
            </li>
        </ul>
        <ul class="gmAlignVertical ul-phone-surgicalact-list"></ul>
        <ul class="gmSection">
            <li id="div-ssurgical-header" class ="iPad">
                <ul class="gmListHeader">
                    <li id="li-surgeonsysheader" class="gmListColHead gmText200 gmFontsurgeon width20">System</li>
                    <li  id="li-surgeoncaseheader" class="gmListColHead gmText225 gmFontsurgeon width20">No. of cases</li>
                    <li id="li-surgeon-proc-header" class="gmListColHead gmText250 gmFontsurgeon width20" >Procedure</li>
                    <li id="li-surgeoncomntheader" class="gmListColHead gmText200 gmFontsurgeon width20">Comments</li>
                </ul>
                <hr class = "gmMargin1p gmOpacity5 gmBGsurgeon gmHr hr-surg">
	    </li>
	<li id="li-ssurgical-content">
	</li>
	</ul>
	</div>
</div>