{{#each this}}
<ul class="gmSection ul-saffil-edit edit  data-affl" data-acc-id="5111">
    <li class="li-phone-minus-icon-affiliation gmAlignHorizontal gmVerticalMiddle">
        <input type="hidden" class="data-afflid" value="{{afflid}}" />
        <i class="fa fa-minus-circle i-sur-affl-acc-remove gmBtnLarge"></i>
    </li>
    <li class="gmSectionCaption gmMediaMarginLeft5 gmMediaMarginLeft3 gmFontBold gmAlignVertical li-phone-label">HOSPITAL NAME</li>
    <li id="li-surg-hos" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmText200 gmVerticalMiddle li-phone-hosp-account-name">
        <input type="hidden" class="data-accid" value="{{accid}}" />
        <input type="hidden" class="data-of-accnm" value="{{accnm}}" /> {{#if accid}}
        <div class="div-saffil-companynm div-saffil ">{{accnm}}</div>
        {{else}}
        <input class="gmInputText input-saffil-accnm input-accnm  gmText200" value="{{accnm}}"> {{/if}}
    </li>
    <div id="sur-edit-hosaffl-level" class="gmAlignHorizontal gmVerticalMiddle gmMediaMarginTop10p">
        <li class="gmSectionCaption gmMediaMarginLeft5  gmFontBold gmAlignVertical li-phone-label">LEVEL</li>
        <li class="gmSectionListItem gmAlignHorizontal li-saffil-level gmText100 gmVerticalMiddle">
            <label class="selectbox-icon">
                <select id="select-saffil-level" validate="required" message="Enter priority of Hospital" class="li-saffil-level gmText100 gmInputText gmMediaMarginBottom10 select-saffil-level div-saffil data-priority gmMediaMarginTop10 " value="{{priority}}" VO="arrgmcrmsurgeonaffiliationvo" upd="priority">
                    <option value="">Select</option>
                    <option value="1">Primary</option>
                    <option value="2">Secondary</option>

                </select>
            </label>
        </li>
    </div>
    <div id="sur-edit-hosaffl-cases" class="gmAlignHorizontal gmVerticalMiddle gmMediaMarginTop10p">
        <li class="gmSectionCaption gmMediaMarginLeft5  gmFontBold gmAlignVertical li-phone-label">CASES</li>
        <li class="gmAlignHorizontal gmVerticalMiddle gmSectionListItem">
            <input type="number" onKeyPress="if(this.value.length==4) return false;" class="gmInputText sur-edit-hosaffl-cases gmMediaMarginTop10 gmMediaMarginBottom10 input-saffil-casepercent input-saffil data-casepercent gmText50 width30px" value="{{casepercent}}" VO="arrgmcrmsurgeonaffiliationvo" upd="casepercent" min='0'>
        </li>
    </div>
    <li id="li-surg-hos" class="gmSectionValue gmAlignHorizontal gmVerticalMiddle li-hosp-account-name">
        <input type="hidden" class="data-accid" value="{{accid}}" />
        <input type="hidden" class="data-of-accnm" value="{{accnm}}" /> {{#if accid}}
        <div class="div-saffil-companynm div-saffil  data-accnm gmVerticalMiddle gmTextCenter gmText240">{{accnm}}</div>
        {{else}}
        <input class="gmInputText input-saffil-accnm input-accnm data-accnm gmText200" value="{{accnm}}" VO="arrgmcrmsurgeonaffiliationvo" upd="accnm"> {{/if}}
    </li>
    <li class="gmSectionCaption gmFontBold gmAlignVertical li-phone-label li-sur-label-city gmMediaMinWidth50p">CITY</li>
    <li class="gmAlignHorizontal li-saffil-acccity gmText100 gmVerticalMiddle gmMediaMinWidth50p">
        {{#if accid}}
        <div class="div-hosaff-edit-mobile div-saffil-acccity div-saffil data-acccity gmVerticalMiddle gmTextCenter ">{{acccity}}</div>
        {{else}}
        <input class="gmInputText input-saffil-acccity input-saffil data-acccity gmText75" validate="required" message="Enter the value for city(Hospital Affiliation)" value="{{acccity}}" VO="arrgmcrmsurgeonaffiliationvo" maxlength="50" upd="acccity"> {{/if}}
    </li>
    <li class="gmSectionCaption gmFontBold gmAlignVertical li-phone-label li-sur-label-state gmMediaMinWidth50p">STATE</li>
    <li class="gmSectionListItem  gmAlignHorizontal li-saffil-accstate gmText10 gmVerticalMiddle gmMediaMinWidth50p">


        {{#if accid}}
        <div class="div-hosaff-edit-mobile  div-saffil data-accstateid gmVerticalMiddle gmTextCenter gmText150 el-saffil-state">{{accstate}}</div>
        {{else}}
        <div validate="selpopup" message="Enter the state(Hospital Affiliation)" class="div-surg-affl-newaccnt-state gmAlignHorizontal category-btn popup-icon gmText125 gmMarginLeft5p gmVerticalMiddle data-accstateid div-saffil-accstate-popup el-saffil-state" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="State" VO="arrgmcrmsurgeonaffiliationvo" vaidation="{{accstate}}" upd="accstateid" upd2="accstate">{{accstate}}<span></span></div>
        {{/if}}
    </li>
    <li class="gmSectionCaption gmMediaMarginLeft5 gmMediaMarginLeft3 gmFontBold gmAlignVertical li-phone-label gmMediaMarginTop10p">COMMENTS</li>
    <li class="gmSectionListItem  gmAlignHorizontal li-saffil-comments gmText10 gmVerticalMiddle gmMediaMinWidth50p">
        <textarea type="text" class="sur-edit-hosaffl-comments gmTextArea gmFont16px gmMediaMarginTop10 gmMediaMarginBottom10 input-saffil-comments input-saffil data-comments data-comments gmText230" maxlength="250" id="comments" value="{{comments}}" VO="arrgmcrmsurgeonaffiliationvo" upd="comments">{{comments}}</textarea>


    </li>
    <li class="btn-surgeon-hosp-done gmSectionListItem gmAlignVertical gmPad10p gmBorderRadius3p gmBGDarkerGrey gmFontWhite gmTextCenter li-phone-label">
        DONE
    </li>
</ul>
{{/each}}
