<div id="div-alert-messagebar" class="gmAlignVertical">
    <div class="alert alert-dismissible hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <i id="fa-close-alert" class="fa fa-times-circle fa-2x hide" aria-hidden="true"></i>
</div>
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen titleRef" id="li-pricing-initiate-letters">Group Part Pricing Setup</li>
   <li class="li-threshold-cancel-button price-popup-part-close">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<ul>
   <li >
     <div id = "div-part-number" class="div-part-price-value gmMarginTop15p gmMarginLeft10p">Part# </div>
       <input type="text" id="div-part-value-input" value="" class="gmInputText gmMarginTop15p gmMarginLeft10p">
       <div id = "div-part-options" class="div-part-value gmMarginTop15p gmMarginLeft10p">
       <select class="sel-address-modea">
			<option value="0" selected>Choose One</option>
			<option value="LIT">Literal</option>
			<option value="LIKEPRE">Like-Prefix</option>
			<option value="LIKESUF">Like-Suffix</option>
		</select></div>
       <div id="btn-part-load-btn" class="btn-load gmMarginTop15p">Go</div>
       
   </li>
</ul>
<ul class="ul-group-part-pricing gmMarginTop15p">
    <li class="li-price-change-heading">
        <div id = "div-part-System-data" >System</div>
        <div id = "div-group-part-data" >Group/Part#</div>
        <div id = "div-part-List-data" >List Price</div>
        <div id = "div-part-PriceBy-data" >Trip Price</div>
    </li>

</ul>

<div class="div-part-price-details"></div>
<div class="  price-popup-part-close gmTextCenter"><div class="price-popup-close-part gmBGBlack gmFontWhite gmTextCenter">Close</div></div>

