<!--/************************************************
 * File:        gmtErrorIndicator.hbs
 * Description: Pricing Intiate indicator Screen
 * Version:     1.0
 * Author:     	karthik
 ****************************************************/ -->
<ul class="div-threshold-top-header">
    <li class="li-pricing-Threshold-screen" id="li-pricing-initiate-letters">Price Mismatch Errors</li>
    <li class="li-threshold-cancel-button">
        <div id="div-close-circle"></div><a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
    <div class="li-price-indicatior" id="li-price-indicatior-header">
        <li class="li-price-indicatior"> <div id="div-system-nm">System</div>
        </li>
        <li class="li-price-indicatior">
            <div id="div-grp-nm">Group Name</div>
        </li>
        <li class="li-price-indicatior">
            <div id="div-proposed-price">Proposed Price</div>
        </li>  
    </div>
{{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">No Data Found</div>
{{else}}
<div id="div-indicator-detail-content">
  {{#each this}}
    <div class="li-indicator-dtl" id="li-indicator-price-detail">
        <li>
            <div id="div-price-systemnm">{{systemname}}</div>
        </li>
          <li>
            <div id="div-price-grpnm">{{groupname}}</div>
        </li>
          <li>
            <div id="div-price-proposedprice">{{proposedunitprice}}</div>
        </li>
    </div>
{{/each}}  
</div>
{{/if}}
