<!------------------------------------
 * File:        gmtGroupConstruct.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	treddy
 -------------------------------------->
<ul class="ul-price-level-construct">
    <li class="li-price-level-construct">{{constructLevel}}</li>
    <li class="li-price-pruposed-ext-price-total">{{totalPropExtprice}}</li>
    <li class="li-price-tripwire-ext-price-total">{{totalTripWireExtensionPrice}}</li>
    <li class="li-price-approved-name"></li>
</ul>