{{#each this}}
        <ul class="ul-part-price-details">
            <li class="li-part-price-details" id="li-part-price-system-name">{{systemname}}</li>
            <li class="li-part-price-details" id="li-part-price-part-number-id">{{groupname}}</li>
            <li class="li-part-price-details" id="li-part-price-group-name">{{listprice}}</li>
            <li class="li-part-price-details" id="li-part-price-group-type-name">{{twprice}}</li>
           
        </ul>
        {{/each}}