<!-----------------------------------------------
 * File:        gmtGroupPartPricingDetails.hbs
 * Description: P icon group part details
 * Version:     1.0
 * Author:     	jreddy
 ------------------------------------------------>
<ul class="div-group-part-top-header">
    <li class="li-pricing-group-part-screen" id="li-pricing-initiate-letters"></li>
    <li class="li-group-part-cancel-button">
        <div id="div-close-circle"></div>
        <a id="btn-close-circle" class="show">&nbsp;X&nbsp;</a>
    </li>
</ul>
<div class="div-group-part-pricing">
    <div class="div-group-price-top-header">
        <ul>
            <li class="li-group-price-top-header" id="li-group-price-part-number">Part Number</li>
            <li class="li-group-price-top-header" id="li-group-price-part-desc">Part Description</li>
            <li class="li-group-price-top-header" id="li-group-price-list-price">List Price (<span class="span-list-price-symbol"></span>) </li>
            <li class="li-group-price-top-header" id="li-group-price-trip-wire">Trip Wire (<span class="span-list-price-symbol"></span>)</li>
        </ul>
    </div>
    <div class="div-group-price-details">
        {{#each this}}
        <ul class="ul-group-price-details">
            <li class="li-group-price-details" id="li-group-price-part-number-id">{{partid}}</li>
            <li class="li-group-price-details" id="li-group-price-part-desc-id">{{partdesc}}</li>
            <li class="li-group-price-details" id="li-group-price-list-price-id">{{listprice}}</li>
            <li class="li-group-price-details" id="li-group-price-trip-wire-id">{{tripwireprice}}</li>

            <!--<li class="li-group-price-details" id="li-group-price-list-price-id">{{formatPrice listprice}}.00</li>
<li class="li-group-price-details" id="li-group-price-trip-wire-id">{{formatPrice tripwireprice}}.00</li>-->

        </ul>
        {{/each}}
    </div>
    <div class="div-price-group-close-btn">Close</div>
</div>
