<div class="div-impact-analysis-chart" id="div-impact-id-chart">

<!--
<ul class="div-account-name">
    <li class="li-account-heading">Account/GPB Name:</li>
    <li class="gmTextRight li-account-name"></li>
    <li class="li-group-price-file-upload-header gmVerticalBottom gmAlignHorizontal" id="li-group-price-void">
        <div class="gmAlignHorizontal gmVerticalMiddle gmMarginRight5p">
            <input id="li-impacted-slider" type="range" min="0" max="100" value="100" step="5" /></div>
    </li>
</ul>
-->

    <ul class="div-impact-details">
        <li class="li-impact-analysis-totals" id="li-prev12-monthsale"><span class="li-prev12-monthsale"></span><span class="li-span-disp">Prev. 12 months sale </span></li>
        <li class="li-impact-analysis-totals" id="li-proj-propprice"><span class="li-proj-propprice"></span><span class="li-span-disp">Proj. spend at prop price </span></li>
        <li class="li-impact-analysis-totals" id="li-projected-impact"><span class="li-projected-impact"></span><span class="li-span-disp">Projected impact</span></li>
        <li class="li-impact-analysis-totals" id="li-project-impact"><span class="li-project-impact"></span><span class="li-span-disp">Projected impact %</span></li>
        <ul class="ul-impact-details">
            <li class="li-impact-analysis-change" id="li-system-heading">System</li>
            <li class="li-impact-analysis-change" id="li-facility-heading">Facility</li>
            <!--            <li class="li-impact-analysis-change" id="li-impacted-heading">Impacted</li>-->
            <li class="li-group-price-file-upload-header gmVerticalBottom gmAlignHorizontal" id="li-group-price-void">
                <!--                <div class="gmFontWhite"></div>-->
                <div class="gmAlignHorizontal gmVerticalMiddle gmMarginRight5p"><input id="li-impacted-heading" type="checkbox" class="gmWidth10p check-btn"></div><span>Impacted</span>
            </li>

        </ul>
    </ul>
    <div id="chart-container" class="div-char-details">

    </div>
</div>
