<!--/********************************
 * File:        gmtIndividualGroup.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
 ************************************/ -->
<ul class="ul-price-other-group">
    <li class="li-other-group">Individual Groups</li>
</ul>