<!--/********************************
 * File:        GmtOtherGroup.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
 ************************************/ -->
<ul class="ul-price-other-group">
    <li class="li-other-group">Other Groups</li>
</ul>