<!--/********************************
 * File:        gmtPrice.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	treddy
 ************************************/ -->
<div id="div-price-view">
</div>
<div id="div-detail-navigation" class="div-price-detail-navigation">
    <a id="btn-price-initiate" class="btn-detail btn-detail-navigation btn-bg-grey " href="#price/initiatePricing"> <span>Initiate Price Request</span></a>
    <a id="btn-price-report" class="btn-detail btn-bg-grey btn-detail-navigation " href="#price/report"> <span>Dashboard</span></a>
    <a id="btn-price-submit-req" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#price/pricingSubmittedRequests"> <span>Submitted Requests</span></a>
</div>