<!------------------------------------
 * File:        gmtPricingReportData.hbs
 * Description: Price DashBoard Screen
 * Version:     1.0
 * Author:     	hReddy
-------------------------------------->
{{#each this}}
<div class="div-price-report-details">
    <li class="li-price-report-details">
        <div class="div-price-request-name" id="div-price-request-id"><a href='#price/pricingSubmittedRequests/{{requestid}}'> {{requestid}}</a></div>
        <div class="div-price-request-account-name" id="div-price-request-account-id">{{groupaccname}}</div>
        <div class="div-price-request-region-name">{{regname}}</div>
        <div class="div-price-request-initiated-by" id="div-price-request-initiated-id">{{initiatedby}}</div>
        <div class="div-price-request-reviewed-by" id="div-price-request-reviewed-id">{{initiatedon}}</div>
        <div class="div-price-request-reviewed-by" id="div-price-request-reviewed-id">{{statusupd}}</div>
        <div class="div-price-request-status-name" id="div-price-request-status-id">{{status}}</div>
        {{#iftrue statusid '52186'}}
        <!--                    <div class="div-cancel-icon" id="{{requestid}}" name="{{statusid}}">C</div>-->
        <div id="fa-times-circle" class="fa fa-times-circle fa-2em font-red div-intiate fa-price-circle div-red-close" reqid="{{requestid}}" name="{{statusid}}"></div>
        {{else}}
        <div id="fa-times-tick" class="fa fa-check-circle-o div-intiate-green-approve  font-green approval-color" reqid="{{requestid}}" name="{{statusid}}"></div>
        {{/iftrue}}
    </li>
</div>
{{/each}}
