<!--/********************************
 * File:        gmtPriceMain.hbs
 * Description: Price Initiate Screen
 * Version:     1.0
 * Author:     	Jreddy
 ************************************/ -->
<div class="div-pricing-info">
    <div class="div-submit-req-report">
        <ul class="ul-pricing-top-header">
            <li class="li-pricing-initiate" id="li-pricing-initiate-letters">Initiate Price Request</li>
            <div class="div-pricing-header-buttons">
                <li class="li-save-button">
                    <div id="btn-main-save" class="gmFontWhite cursorPointer" btnname="save"><span>Save</span> <i class="fa fa-lg gmMarginLeft5p fa-floppy-o" aria-hidden="true"></i></div>
                </li>
                <li class="li-submit-button">
                    <div id="btn-main-submit" class="gmFontWhite cursorPointer" btnname="submit"><span>Submit</span> <i class="fa fa-lg gmMarginLeft5p fa-floppy-o" aria-hidden="true"></i></div>
                </li>
                <li class="li-cancel-button">
                    <div id="btn-main-cancel" class="gmFontWhite cursorPointer"><span>Cancel</span> <i class="fa fa-lg gmMarginLeft5p fa-times" aria-hidden="true"></i></div>
                </li>
            </div>
        </ul>
        <!--<div class="div-main-content">-->

        <div class="div-price-header-info">
            <ul id="ul-price-border-info" class="ul-price-total-detail-info">
                <ul class="ul-pricing-info">

                    <li class="li-pricing-info" id="li-price-info-lable">
                        {{#iftrue viewOption 'initiatePricing'}}
                        <div class="div-price-label">
                            <div id="div-price-type-header">Type</div>
                            <div id="div-pricing-accnt" class="div-type"></div>
                        </div>

                        <div class="div-price-label1">
                            <div id="div-price-account-header">Name</div>
                            <div id="div-rep-account-list"></div>
                            <div id="div-rep-account-id" class="validateNumber"><input type="number" id="div-price-value-input" maxlength="30" value=""></div>
                            <div id="btn-price-go-btn" class="btn-signs">Go</div>
                        </div>
                        {{/iftrue}} {{#iftrue viewOption 'pricingSubmittedRequests'}}
                        <div class="div-price-submit-label">
                            <div id="div-price-request-number">Request #</div>
                            <div id="div-pricing-request" class="div-request-type"><input type="text" id="div-pricing-request-input" maxlength="30" value=""></div>
                            <div id="btn-price-submit-go-btn" class="btn-signs">Go</div>
                        </div>
                        <div class="div-price-submit-label1">
                            <div id="div-price-account-header-name">Name</div>
                            <div id="div-price-submit-req-account-name" class="div-pricesubmit-req-acc-name"></div>
                        </div>
                        {{/iftrue}}
                        <i class="fa fa-info-circle fa-information-circle" data-instruction=""></i>
                        <i class="fa fa-crosshairs" id="fa-cross-id" aria-hidden="true"></i>
                        <i class="fa fa-usd" id="fa-usd-id" aria-hidden="true"></i>
                        <i class="fa fa-exclamation-triangle div-indicator-icon-main hide" id="div-error-icon-main"></i>
                    </li>
                    <li class="li-pricing-info-validation" id="li-gpb-message">
                        <div id="div-pricing-gpb-message" class="hide"></div>
                    </li>
                    <li class="li-pricing-info" id="li-price-info-system-lable">
                        <div class="div-Sys-label">
                            <div id="div-do-system-label-header">System</div>
                            <div id="div-selected-system-list"></div>
                        </div>
                        <div class="div-price-buttons">
                            <!--<div id="btn-price-load-top" class="btn-signs">Top 10 Products</div>
	           <div id="btn-price-frequently-used" class="btn-signs">Products Frequently Used</div>-->
                            <div class="div-projected-scale">Proj. 12 months sales</div>
                            <div class="div-projected-scale-value"><input type="text" id="div-price-value-input" maxlength="30" value=""></div>
                        </div>
                        <div class="div-price-request-id-label">
                            <div id="div-price-request-id-header">Request Id</div>
                            <div id="div-price-request-id-name"></div>
                        </div>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="div-pricing-info-change">
        <div class="div-price-width gmAlignHorizontal gmFloatLeft">
            <div id="div-price-System" class="div-price-weight">
                <!--<div class="div-price-widget-header" id="widget-system"><div>Add System</div></div>-->
                <div class="div-price-widget-details" id="div-dash-price-overview">

                </div>
            </div>
        </div>

        <div class="div-pricing-change gmAlignHorizontal">
            <div class="div-price-data">
                <ul class="ul-price-pricing">
                    <li class="li-price-change-heading"></li>
                </ul>

                <ul class="ul-price-data-content">
                    <div>
                        <li class="li-price-data-content">
                            <div class="div-price-type" id="div-price-type-id">Price Type</div>
                            <div class="div-price-type-dropdown"></div>
                        </li>
                        <li class="li-price-data-content">
                            <div class="div-price-value" id="div-price-value-id">Value</div>
                            <!--<div class="div-price-cls-input"><input type="text" id="div-price-value-input" maxlength="30" value=""></div>-->
                        </li>
                        <!--</div>
                <div>-->
                        <li class="li-price-load-groups">
                            <div class="div-price-load-groups" id="div-price-load-id">Show All Groups</div>
                        </li>
                        <li class="li-price-auto-populate">
                            <div class="div-price-auto-populate" id="div-price-auto-id">Auto Populate</div>
                        </li>
                    </div>
                    <div class="div-price-data-input">
                        <li class="li-price-system-changes" id="li-price-system-type">
                            <div class="div-price-cls-input"></div>
                        </li>
                        <li class="li-price-system-changes" id="li-price-system-value">
                            <div class="div-price-percentage-value-input validateNumber"><input type="number" id="div-price-value-input" maxlength="30" value=""></div>
                        </li>
                        <li class="li-price-changes-showall" id="li-price-check-load-all-groups">
                            <div class="toggle-button">
                                <div id="b-font-size">&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;OFF</div>
                                <button></button>
                            </div>
                        </li>
                        <li class="li-price-changes-showall" id="li-price-check-auto-populate">
                            <div class="toggle-button">
                                <div id="b-font-size">&nbsp;ON&nbsp;&nbsp;&nbsp;&nbsp;OFF</div>
                                <button></button>
                            </div>
                        </li>
                    </div>
                    <!--<div>
                  <ul>
	               <li class="li-price-detail-label">
	               <div class="div-price-construct" id="div-price-construct-info">Construct</div>
	      	       <div class="div-price-speciality" id="div-price-speciality-info">Speciality Group</div>
	               </li>
	              </ul>
                 </div>-->
                </ul>

                <div>
                    <ul class="ul-price-group-header">
                        <ul class="ul-price-group-header-list">
                            <li class="li-price-group-header" id="li-price-group-name">Group Name</li>
                            <li class="li-price-group-header" id="li-price-group-qty">Qty</li>
                            <li class="li-price-group-header" id="li-price-group-pruposed">Proposed</li>
                            <li class="li-price-group-header" id="li-price-group-tripwire">Tripwire</li>
                            <li class="li-price-group-header" id="li-price-group-current">Current</li>
                        </ul>
                        <ul class="ul-price-group-bottom-list">
                            <li class="li-price-group-header" id="li-price-Pruposed-unit">Unit</li>
                            <li class="li-price-group-header" id="li-price-Pruposed-ext">Ext.</li>
                            <li class="li-price-group-header" id="li-price-Tripwire-unit">Unit</li>
                            <li class="li-price-group-header" id="li-price-Tripwire-ext">Ext.</li>
                        </ul>
                    </ul>
                    <ul id="groupId">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ul-price-save-btn">
        <ul>
            <li class="div-price-threshold-btn" id="active-button">Business Questions</li>
            <li class="div-price-impact-btn">Impact Analysis</li>
            <!--<li class="div-price-save-btn">Save</li>-->
        </ul>
        <ul class="ul-price-upload-btn">
            <li id="div-price-upload-btn" class="div-price-upload-btn">Documents&nbsp;&nbsp;<i class="fa fa-upload document_cnt" aria-hidden="true"></i>
                <li class="div-price-sales-analysis">Sales Analysis</li>
        </ul>
    </div>
    <div id="pricing-acc-part-info"></div>
    <!--</div>-->
</div>
