
<!-----------------------------------------------
 * File:        gmtPartPricingDetails.hbs
 * Description: P icon group part details
 * Version:     1.0
 * Author:     	D sandeep
 ------------------------------------------------>

{{#each this}}
        <ul class="ul-part-price-details">
            <li class="li-part-price-details" id="li-part-price-system-name">{{system}}</li>
            <li class="li-part-price-details" id="li-part-price-part-number-id">{{pnum}}</li>
            <li class="li-part-price-details" id="li-part-price-List-name">{{listprice}}</li>
            <li class="li-part-price-details" id="li-part-price-group-type-name">{{twprice}}</li>
           
        </ul>
        {{/each}}