<div class="div-sales-analysis-chart" id="div-sales-id-chart">
    <ul class="div-saleschart-details">
        <li class="li-view-details" id="li-view-detl"><span class="span-view-details"></span><span>By Facility ></span></li>
        <li class="li-sales-analysis-buttons li-acc" id="li-by-account-level">By Account</li>
        <li class="li-sales-analysis-buttons li-seg" id="li-by-rep-account-level">By Rep Account</li>
    </ul>
    <div id="account-level-chart-container" class="div-account-level-char-details"></div>
    
    <div id="div-main-segment">
        <div class="li-sales-segment" id="li-sales-segment-header">
            <li class="li-sales-segment">
                <div id="div-segmntnm">System Name</div>
            </li>
            <li class="li-sales-segment">
                <div class= "li-total-sales" id="div-revenue"></div>
            </li>
        </div>
        <div id="div-sales-segment-detail-content">
            {{#each this}}
            <div class="li-system-dtl" id="li-sales-seg-detail" setid="{{setid}}" salesamount="{{salesamount}}" setnm ="{{setnm}}" >
                <li>
                    <div id="div-sys-sales-sysnm" class ="div-sysnm" value="{{setid}}" salesamount="{{salesamount}}" setnm ="{{setnm}}">{{setnm}}</div>
                </li>
                <li>
                    <div id="div-sales-amt">{{formatPrice salesamount}}</div>
                </li>
            </div>
            {{/each}}
        </div>
    </div>
</div>