<div class="div-sales-analysis-chart" id="div-sales-id-chart">
    <ul class="div-saleschart-details">
        <li class="li-view-details" id="li-view-detl"><span class="span-view-details"></span><span >View Details:</span></li>
        <li class="li-sales-analysis-buttons li-acc" id="li-account-level">Account Level</li>
        <li class="li-sales-analysis-buttons li-seg" id="li-segment-level">Segment Level</li>
    </ul>
    <div id="sales-analysis-chart-container" class="div-char-details"></div>
</div>