<!-----------------------------------------------
 * File:        gmtSysPartPricingDetails.hbs
 * Version:     1.0
 * Author:     	Suganthi
 ------------------------------------------------>

{{#each this}}
<ul class="ul-part-price-details">
    <li class="li-part-price-details" id="li-acc-price-part-number-id">{{pnum}}</li>
    <li class="li-part-price-details" id="li-part-price-system-name">{{pdesc}}</li>
    <li class="li-part-price-details" id="li-part-price-system-name">{{system}}</li>
    <li class="li-part-price-details" id="li-acc-part-price-group-name">{{uprice}}</li>
    <li class="li-part-price-details" id="li-acc-part-price-group-name">{{listprice}}</li>
    <li class="li-part-price-details" id="li-acc-part-price-group-name">{{twprice}}</li>

</ul>
{{/each}}
