<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>Email Attendee</title>
</head>

<body style="margin: 0; padding: 0">
<table cellpadding="10" cellspacing="0" style="margin: auto;width: 800px; border:2px solid #ccc; border-collapse: collapse;font-size:14px;
	font-family:Calibri;text-align:justify; background-color: #fff;" border="1">
<caption style="text-align:left; padding: 5px 0 15px 0; caption-side: top;"></caption>
	<tbody>
#set($hmDetails = $hmParm)
            <tr style="text-align: left; background:#fff; padding: 20px 20px 20px 20px;">
				<td style="font-weight:500;text-align: left;">$hmDetails.MSG</td>
            </tr>

            <tr style="text-align: left; background:#fff; padding: 20px 20px 20px 20px;">
				<td style="font-weight:500;">$hmDetails.TRADEINFO</td>
            </tr>
   
	</tbody>
</table>
</body>
</html>