#* This VM file used to display the Set Prioritization Buffer*#
<?xml version="1.0" encoding="UTF-8"?>

#set($count=0)

<rows>
	<head>
		
		<column type="ro" sort="str" width="140" align="left">
			$msg.getProperty("VM_WAREHOUSE")
		</column>
		<column type="ro" sort="str" width="130" align="left">
			$msg.getProperty("VM_LOC")
		</column>
		
		
	</head>
	
	#foreach($hmDetails in $alList)		
		<row id="$count">
			
			<cell>$esc.xml($hmDetails.WAREHOUSE)</cell>
			<cell>$esc.xml($hmDetails.LOCATIONCODE)</cell>
			
			
	    </row>
		#set($count = $count+1)
	#end	
</rows>