#* This VM file used to display the Set Prioritization Buffer*#
<?xml version="1.0" encoding="UTF-8"?>
#set($attachHeaderStr = ",#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#text_filter")
#set($count=0)

<rows>
	<head>
		<column type="ro" width="30" align="left">
		</column>
		<column type="ro" sort="str" width="100" align="left">
			$msg.getProperty("VM_TRANS_ID")
		</column>
		<column type="ro" sort="str" width="120" align="left">
			$msg.getProperty("VM_PART_NUM")
		</column>
		<column type="ro" sort="date" width="120" align="center">
			$msg.getProperty("VM_TXN_DT")
		</column>
		<column type="ro" sort="str" width="*" align="left">
			$msg.getProperty("VM_TXN_TYPE")
		</column>
		<column type="ro" sort="str" width="130" align="left">
			$msg.getProperty("VM_INV_TYPE")
		</column>
		<column type="ro" sort="str" width="150" align="left">
			$msg.getProperty("VM_COMPANY_NAME")
		</column>
		<column type="ro" sort="str" width="150" align="left">
			$msg.getProperty("VM_PLANT_NAME")
		</column>
		
        <afterInit> 
					<call command="attachHeader"><param>$attachHeaderStr</param></call>
		</afterInit>	
	</head>
	
	#foreach($hmDetails in $alList)		
		<row id="$count">
			<cell align="left">
				#if($hmDetails.LOGCNT == "0" )
				<![CDATA[<a href="#" title="Click to add Comments" onclick=javascript:fnOpenComments("$hmDetails.TRANS_ID")><img alt="Click to view comments" src="/images/phone_icon.jpg" width="20" height="17" border="0"></a>]]>
				#else
				<![CDATA[<a href="#" title="Click to add Comments" onclick=javascript:fnOpenComments("$hmDetails.TRANS_ID")><img alt="Click to view comments" src="/images/phone-icon_ans.gif" width="20" height="17" border="0"></a>]]>
				#end		
			</cell>
			#if($hmDetails.TXNTYPEID != 4316)
			<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPicSlip("$esc.xml($hmDetails.TRANS_ID)","$esc.xml($hmDetails.TTTYPE_NM).replaceAll(' ','')","$esc.xml($hmDetails.TXNTYPEID)");><span>$esc.xml($hmDetails.TRANS_ID)</span></a>]]></cell>
			#else
			<cell style="cursor:hand;">$esc.xml($hmDetails.TRANS_ID)</cell>
			#end			
			<cell>$esc.xml($hmDetails.PNUM)</cell>
			<cell>$esc.xml($hmDetails.TRANS_DT)</cell>
			<cell>$esc.xml($hmDetails.TTTYPE_NM)</cell>
			<cell>$esc.xml($hmDetails.INVTYPE_NM)</cell>
			<cell>$esc.xml($hmDetails.COMPNAME)</cell>
			<cell>$esc.xml($hmDetails.PLANTNAME)</cell>
		</row>
		#set($count = $count+1)
	#end	
</rows>