<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
#set($alResult = $hmEmailParam.ALRETURN)
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>Globus Medical: Vendor Portal</title>
</head>

<body style="margin: 0; padding: 0">

<table cellpadding="7" cellspacing="0" style="margin: auto;width: 1000px; border:1px solid #ccc; border-collapse: collapse;" border="1">
       <tbody style="">
             <tr><td colspan="7">$hmEmailParam.STRMESSAGE</td></tr>
             <tr style="text-align: left; background:#E3EFFF;">
              	<th>Part#</th>
                <th>Part Description</th>
                <th>Expiry Date</th>
                <th>Qty</th>
                <th>Control#</th>
                <th>Location</th>
                <th>Warehouse</th>            
            </tr>
 #set($count = 0)
 #foreach($hmDetails in $alResult)
 
            <tr>
                <td>$hmDetails.PNUM</td>
                <td>$hmDetails.PDESC</td>
                <td>$hmDetails.EXPIRYDT</td>
                <td style="text-align:right;">$hmDetails.QTY</td> 
                <td>$hmDetails.CNUM</td>       
                <td>$hmDetails.LOCNAME</td>   
                <td>$hmDetails.WAREHOUSE</td>
            </tr>
#end
</tbody>
    </table>
</body>
</html>
