#* This VM file used to display the Set Prioritization Buffer*#
<?xml version="1.0" encoding="UTF-8"?>
#set($alCtrlDtls=$hmParam.CTRLDTLS)
#set($alPartsList=$hmParam.PARTLIST)
#set($count=0)
#set($toPart="To Part#" )
<rows>
	<head>
		<column type="ch" width="50" sort="na" id="check" align="center"> 	
		</column>
		<column type="ro" width="0" sort="na" id="cnumid" align="right"> 	
		</column>
		<column type="ro" id="ctrlId" sort="str" width="90" align="left">
			$msg.getProperty('VM_CONTROL')
		</column>
		<column type="ro" id="fromPartId" sort="str" width="90" align="left">
			$msg.getProperty('VM_FROMPART')
		</column>
		<column type="ro" id="donorId" sort="str" width="120" align="left">
			$msg.getProperty('VM_DONOR')
		</column>
		<column type="ro" id="ctrlId" sort="str" width="140" align="left">
			$msg.getProperty('VM_SIZE')
		</column>
		<column type="ro" id="ctrlId" sort="str" width="70" align="left">
			$msg.getProperty('VM_GENDER')
		</column>
		<column type="ro" id="ctrlId" sort="str" width="60" align="left">
			$msg.getProperty('VM_AGE')
		</column>
		<column type="ro" id="ctrlId" sort="str" width="50" align="Center">
			$msg.getProperty('VM_INTLUSE')
		</column>
		<column type="ro" id="ctrlId" sort="str" width="100" align="left">
			$msg.getProperty('VM_EXPDATE')
		</column>
		<column type="ro" id="repackqtyId" sort="str" width="100" align="right">
			$msg.getProperty('VM_RE-PACKQTY')
		</column>
		<column type="ro" width="60" id="qtyId" align="left">
			$msg.getProperty('VM_QTY')
		</column>
		<column type="ro" width="*" id="toPartId" align="left" sort="str">
			$toPart
		</column>
		<column type="ro" width="20" sort="na" align="left" id="tickRefId"></column>
		<column type="ro" hidden="true" width="0"  id="frompartNumber">$msg.getProperty('VM_PART')</column>	
	</head>
	
	#foreach($hmDetails in $alCtrlDtls)		
		<row id="$count">
			<cell></cell>
			#if($hmDetails.CNUMID == $null))
				<cell></cell>
			#else
				<cell>$esc.xml($hmDetails.CNUMID)</cell>
			#end
			#if($hmDetails.CNUM == $null))
				<cell></cell>
			#else
				<cell>$esc.xml($hmDetails.CNUM)</cell>
			#end
			<cell>$esc.xml($hmDetails.FROMPART)</cell>
			<cell>$esc.xml($hmDetails.DONORNUM)</cell>
			<cell>$esc.xml($hmDetails.CUSTOMSIZE)</cell>
			<cell>$esc.xml($hmDetails.SEX)</cell>
			<cell>$esc.xml($hmDetails.AGE)</cell>
			<cell>$esc.xml($hmDetails.INTLUSE)</cell>
			<cell>$esc.xml($hmDetails.EXPDATE)</cell>
		    #if($hmDetails.REPACKQTY == $null))
				<cell></cell>
			#else
				<cell>$esc.xml($hmDetails.REPACKQTY)</cell>
			#end
			#if($hmDetails.REPACKQTY == $null))
				<cell></cell>
			#else
				<cell><![CDATA[<input type="text" name="qty$count" id="qty$count" value="$hmDetails.REPACKQTY" size="5" onblur=javascript:fnIsInteger(this)>]]></cell>
			#end
		    <cell><![CDATA[<input type="text" name="topart$count" id="topart$count" size="18" onblur=javascript:fnValidateToPart(this,$count)>]]></cell>
		    <cell></cell>
		    <cell><![CDATA[$hmDetails.FROMPART.replace('.','')]]></cell>
	    </row>
		#set($count = $count+1)
	#end	
</rows>
