<?xml version="1.0" encoding="iso-8859-1" ?>

<rows> 
#set($strDepId = $hmParam.STRDEPT)
	<head>
	     
	   	 <column type="ro" width="100" align="left" sort="str" >$msg.getProperty("VM_REQUEST")</column>
	     <column type="ro" width="80" sort="str" >$msg.getProperty("LBL_FIELD_SALES")</column>
		 <column type="ro" width="80" sort="str" >$msg.getProperty("LBL_SALES_REP")</column>
		 <column type="ro" width="130" sort="str" >$msg.getProperty("VM_ACCOUNT")</column>
		 <column type="ro" width="75" align="center" sort="str" >$msg.getProperty("VM_REQUESTED_SETS") </column>
		 <column type="ro" width="60" align="center" sort="str" >$msg.getProperty("VM_SHIPPED_SETS") </column>
		 <column type="ro" width="70" align="center" sort="str" >$msg.getProperty("VM_RETURNED_SETS")Returned Sets</column>
		 <column type="ro" width="90" align="center" sort="str" >$msg.getProperty("VM_UNRECONCILED_SETS")</column>
		 <column type="ro" width="80" align="center" sort="str" >$msg.getProperty("VM_TOTAL_MISSING_PARTS")</column>
		 <column type="ro" width="80" align="center" sort="str" >$msg.getProperty("VM_TOTAL_UNRECONCILED_PARTS")</column>
		 #if(!$strDepId.equals("S"))
		 <column type="ro" width="*" align="center" sort="str" >$msg.getProperty("VM_TICKETS")</column>
		#end
	</head>
	#foreach($hmDetails in $alResult)
	<row>
	    #set($strReqID = $hmDetails.PR_ID)
	    #if(!$strDepId.equals("S"))
	    #set($strReqID = $strReqID+" "+"<a href=javascript:fnLoadRequestDetails('$hmDetails.PR_ID');>")
	    #set($strReqID = $strReqID+"<img src=/images/r.gif border=0 width=15 height=13 alt=Request Details border=0></a>")
	    #set($strReqID = $strReqID+" "+"<a href=javascript:fnLoadEditRequest('$hmDetails.PR_ID');>")
	    #set($strReqID = $strReqID+"<img src=/images/edit.jpg border=0 width=25 height=16 alt=Edit Request border=0></a>")
	    #end
		<cell>$esc.xml($strReqID)</cell>
		<cell>$esc.xml($hmDetails.DNAME)</cell>
		<cell>$esc.xml($hmDetails.REPNAME)</cell>
		<cell>$esc.xml($hmDetails.ACC_NAME)</cell>
		<cell>$esc.xml($hmDetails.REQUESTED)</cell>
		<cell>$esc.xml($hmDetails.SHIPPED)</cell>
		<cell>$esc.xml($hmDetails.RETURNED)</cell>
		#if(!$hmDetails.UNRECONCILED.equals("0"))
		<cell><![CDATA[<a href="#" onClick=fnLoadReconciliationDetails("$hmDetails.PR_ID")>$hmDetails.UNRECONCILED</a>]]></cell>
		#else
		<cell>$esc.xml($hmDetails.UNRECONCILED)</cell>
		#end
		<cell>$esc.xml($hmDetails.MISSING)</cell>
		<cell>$esc.xml($hmDetails.UNRECON_PARTS)</cell>		
		#set($strSearchUrl = $hmParam.SEARCHURL)
		#set($strSerUrl="")
		#set($strSerUrl = $strSearchUrl.replace('$reqid$',$hmDetails.PR_ID))
		#if(!$strDepId.equals("S"))
		#if(!$hmDetails.TICKETS.equals("0"))
		<cell><![CDATA[<a href="#" onClick=fnLoanerTicketSearch("$strSerUrl")>$hmDetails.TICKETS</a>]]></cell>
		#else
		<cell>$esc.xml($hmDetails.TICKETS)</cell>
		#end
		#end
	</row>
	#end
</rows>