<?xml version="1.0" encoding="iso-8859-1" ?>
#set($strDateFormat=$hmParam.gmDataStoreVO.getCmpdfmt())
<rows>
      
	<head>
		<column type="ch" width="50" align="center" sort="na" id="check">$msg.getProperty('VM_SELECT_ALL')</column>	
		<column type="ro" width="110" sort="str">$msg.getProperty('VM_PO')</column>
		<column  type="ro" width="100" sort="str" align="left">$msg.getProperty('VM_STATUS')</column>
		<column type="ro" width="80" sort="date">$msg.getProperty('VM_PODATE')</column>
		<column type="ro" width="110" sort="str">$msg.getProperty('VM_POTYPE')</column>
		<column type="ro" width="120" sort="str">$msg.getProperty('VM_VENDORNAME')</column>
		<column type="ro" width="80" sort="date">$msg.getProperty('VM_REQUIREDDATE')</column>
		<column type="ro" width="10" sort="str">$msg.getProperty('VM_CURR')</column>
		<column type="ron" width="80" sort="int" align="right" format="0000.00">$msg.getProperty('VM_POAMOUNT')</column>
		<column type="ro" width="100" sort="str">$msg.getProperty('VM_RAISEDBY')</column>
		<column type="ro" width="*" sort="str">$msg.getProperty('VM_COMMENTS')</column>	
		<column type="ro" width="30" sort="str"></column>			
		<column  type="ro" width="2"  align="left" hidden="true" id="pub_fl"></column>	
		<column  type="ro" width="2"  align="left" hidden="true" id="sts_fl"></column>
		<column  type="ro" width="2"  align="left" hidden="true" id="po_id"></column>	
	</head>
	#foreach($hmDetails in $alReturn)
	#set($comments = $hmDetails.LASTCOMMENTS.toString().replace("<p>", "").replace("</p>", ""))
	#set($VAL_COMMENTS = $esc.xml($comments))
	<row id="$hmDetails.ID">
		<cell></cell>		
		<cell><![CDATA[#if($hmDetails.STATUS == "108364")<img style="cursor:hand" src="/images/hold-icon.png" alt="PO on Hold Status" width="14" height="14">&nbsp;#end<a href="#" onClick="javascript:fnCallPO(\'$hmDetails.ID\',\'$hmDetails.VID\')">$esc.xml($hmDetails.ID)]]></cell>	
		<cell>$esc.xml($hmDetails.STATUSNM)</cell>	
			<cell>
			#if($hmDetails.PODATE != $null)
				$date.format($strDateFormat,$hmDetails.PODATE)
			#end
			</cell>
			<cell>$esc.xml($hmDetails.POTYPENM)</cell>
			<cell>$esc.xml($hmDetails.VENDNM)</cell>
			<cell>
			#if($hmDetails.REQDATE != $null)
				$date.format($strDateFormat,$hmDetails.REQDATE)
			#end
			</cell>
			<cell>$esc.xml($hmDetails.VENDCURR)</cell>	
			<cell>$esc.xml($hmDetails.TOTAL)</cell>
			<cell>$esc.xml($hmDetails.UNAME)</cell>
			<cell>$esc.xml($esc.javascript($VAL_COMMENTS))</cell>
	#if($hmDetails.CALL_FLAG=="N")
		<cell>
		<![CDATA[<a href="#" onClick=fnOpenLog("$hmDetails.ID")><img src="/images/phone_icon.jpg" height="15" width="15" border="0"></a>]]>
		</cell>

	#elseif($hmDetails.CALL_FLAG=="Y")
		<cell>
		<![CDATA[<a href="#" onClick=fnOpenLog("$hmDetails.ID")><img src="/images/phone-icon_ans.gif" height="15" width="15" border="0"></a>]]>
		</cell>
	#end
			<cell>$esc.xml($hmDetails.PUBFL)</cell>
			<cell>$esc.xml($hmDetails.STATUS)</cell>
			<cell>$esc.xml($hmDetails.ID)</cell>

	</row>
#end
</rows>

