<div id="div-salescall">
    <div class="div-view">
        <ul class="gmAlignHorizontal gmFloatLeft hide">
            <li>
                <div class="div-sur-pic-container">
                    <div id="div-name-container">
                        <!--
                        <h5>{{{firstnm}}}</h5>
                        <h5>{{{lastnm}}}</h5></div>
-->
                        <img class="gmText150 img-sur-pro-pic" onerror="this.style.display='none'" /></div>
                </div>
            </li>
        </ul>
        <ul class="gmSection ">
            <div class="gmLineSpace iPad">
            </div>
            <ul class="gmSection ">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad gmMarginVertical15p">
                    SURGEON
                </li>
                <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                    <i class="fa fa-user-md gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                </li>
                <li class="gmAlignHorizontal gmSectionListItem">
                    {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105564'}}
                    <span class="gmAlignHorizontal gmLnk gmUnderline"><a href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a></span> {{/iftrue}} {{/each}}
                </li>
            </ul>
            <ul class="gmSection ">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmMediaDisplayNone">
                    DATE
                </li>
                <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                    <i class="fa fa-calendar gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                </li>

                <li class="gmSectionListItem gmWidth100m gmSectionValue gmAlignHorizontal sc-detail-phone-style">
                    <span id="span-sc-date">{{formatDate actstartdate}}</span>
                </li>
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmMediaDisplayNone">
                    TIME
                </li>


                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal sc-detail-phone-style">
                    {{AMPM actstarttime}} {{#if actendtime}}- {{AMPM actendtime}} {{/if}}
                </li>
            </ul>
            <ul class="gmSection ">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">
                    STATUS
                </li>
                <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                    <i class="fa fa-flag gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
                </li>
                <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
                    {{actstatusnm}}
                </li>
            </ul>

            <ul class="gmSection ">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmMediaAlignVertical">
                    PRODUCTS
                </li>
                <li id="div-sc-detail-product" class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                    <div id="div-detail-list-products">
                        {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}
                        <div class="div-activity-product gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50 gmMarginBottom5p">
                            {{attrnm}}
                        </div>
                        {{/iftrue}} {{/each}} {{/if}}
                    </div>
                </li>
            </ul>

            <ul class="gmSection ">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                    NOTES
                </li>

                <li id="li-act-steps-party" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 li-sc-actsteps-notes  gmVerticalTop" partyid="{{partyid}}" partynm="{{partynm}}">
                    {{actnotes}}
                </li>
            </ul>

            <ul id="ul-visit-cancel-reson" class="gmSection hide">
                <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
                    REASON FOR CANCELLATION
                </li>
                <li id="li-visit-cancel-reson" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '107100'}} {{#iffalse voidfl 'Y'}}
                    <span id="span-visit-reason" data_attrid="{{attrid}}"> {{attrnm}} </span> {{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}}
                    <span id="span-visit-comment" data_attrid="{{attrid}}"> - {{attrval}} </span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </li>
            </ul>

            <ul class="gmSection">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED BY</li>
                <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createdby}}</li>


                <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED DATE</li>
                <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal">{{createddate}}</li>
            </ul>
            
        </ul>
    </div>
    <div class="div-edit">

        <input id="salescall-hactnm" type="hidden" name="actnm" class="hdnInput">
        <input id="salescall-hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
        <input id="salescall-hpartytype" type="hidden" VO="arrgmactivitypartyvo" name="partytype" class="hdnInput" partyid="">
        <input id="salescall-hpartyrole" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
        <input id="salescall-hproduct" type="hidden" VO="arrgmactivityattrvo" attrval="" attrnm="" attrtype="105582" class="hdnInput" partyid="">

        <input id="salescall-assigneenm-repnm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
        <input id="salescall-assigneenm-repid" type="hidden" VO="arrgmactivitypartyvo" name="partyid" class="hdnInput" partyid="">
        <input id="salescall-assigneenm-roleid" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
        <input id="salescall-assigneenm-adnm" type="hidden" VO="arrgmactivitypartyvo" name="ad" class="hdnInput" partyid="">
        <input id="salescall-assigneenm-vpnm" type="hidden" VO="arrgmactivitypartyvo" name="vp" class="hdnInput" partyid="">

        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
                LOOKUP SURGEON
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <span id="salescall-surgeon-search" data-surnm="{{arrgmactivitypartyvo.partynm}}" validate="search" validate-key="data-surnm" message="Key in Surgeon Name"></span>
                <input id="hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput">
                <input id="hpartyid" type="hidden" VO="arrgmactivitypartyvo" name="partyid" class="hdnInput">
            </li>
            <li id="div-salescall-cancel" class="gmBtn gmAlignHorizontal gmFloatRight gmMarginLeft5p gmBGRed
gmFontWhite hide">Cancel Call</li>
        </ul>

        <ul class="gmSection" id="ul-salescall-title">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
                TITLE
            </li>
            <li id="li-sc-title" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <input type="text" id="input-sc-title" class="salescall-edit gmInputText sc-ln-width " value="{{actnm}}" name="actnm" placeholder="&#xf02b;&nbsp;&nbsp;&nbsp; Title" validate="required" message="Please select the surgeon">
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m iPad">
                SURGEON NAME
            </li>
            <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                <i class="fa fa-user-md gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
            </li>
            <li class="gmSectionListItem gmSectionValue gmUnderline gmAlignHorizontal gmBorderRadius3p gmWidth170m gmPad50">
                {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105564'}}
                <input id="salescall-hactpartyid" type="hidden" VO="arrgmactivitypartyvo" name="actpartyid" class="hdnInput" partyid="" value="{{actpartyid}}">
                <div>{{partynm}}</div>
                {{/iftrue}} {{/each}}
            </li>
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m hide">
                NPI
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal hide">
                <span id="span-sc-edit-npid">{{npid}}</span>
                <input id="hpartynpid" type="hidden" VO="arrgmactivitypartyvo" name="partynpid" class="hdnInput">
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m iPad">
                DATE
            </li>
            <li class=" gmFontBold gmAlignVertical iPhone gmText50 gmMediaTextCenter">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal ">
                <input type="date" id="salescall-actstartdate" class="gmInputText gmWidth180m" value="{{actstartdate}}" name="actstartdate" validate="required" message="Please provide Date">
            </li>

            <li class="gmSectionListItem gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad">START TIME</li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmWidth50m gmMediaVerticalTop salescall-date-input">
                <input type="time" id="salescall-actstarttime" class="gmInputText gmWidth50m " value="{{actstarttime}}" name="actstarttime">
            </li>

            <li class="gmSectionListItem gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth50m iPad">END TIME</li>
            <li class="gmSectionListItem gmWidth50m gmAlignHorizontal li-totime-fa gmFontBold iPhone ">
                <div class="div-btn-header div-totime-sc  gmFloatLeft iPhone">
                    <div class="div-lbl">To</div>
                    <div class="div-img"><i class="fa fa-clock-o gmFont15em div-totime-fa  gmFontBlack" aria-hidden="true"></i></div>
                </div>
            </li>
            <section id="salescall-date" class="gmAlignHorizontal gmMediaWidth100">
                <div class="div-btn-header div-sc-from-time gmFloatLeft iPhone">
                    <div class="div-lbl">From</div>
                    <div class="div-img"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                </div>

                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmMediaVerticalTop gmWidth50m salescall-date-input">
                    <input type=time id="salescall-actendtime" class="gmInputText  gmWidth50m input-to-time-sc " value="{{actendtime}}" name="actendtime">
                </li>
            </section>
        </ul>
        <ul class="gmSection ">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m iPad">
                STATUS
            </li>
            <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                <i class="fa fa-flag gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">

                {{actstatusnm}}
            </li>
        </ul>

        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
                SYNC WITH YOUR CALENDAR
            </li>
            <li id="checkbox-sc-calander-sync" class="gmSectionListItem gmAlignHorizontal gmMarginBottom10p gmVerticalMiddle">
                <label class="switch gmAlignHorizontal">
                    <input type="checkbox" {{#iftrue devicefl 'Y'}} checked {{/iftrue}}>
                    <span class="slider round"></span>
                </label>
            </li>

        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
                PRODUCTS
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <span id="salescall-product-search" data-pdt validate="search" validate-key="data-pdt" message="Please mention a valid Product"></span>
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMarginBottom10p li-sc-edit-products gmTextAll">
                {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}} {{#iffalse voidfl 'Y'}}
                <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}"><span class='spn-sc-spec-txt extend-text'>
                        {{attrnm}}</span>
                    <span class='span-remove-extend extend-close'> x</span></div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
            </li>

        </ul>

        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
                NOTES
            </li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 gmMarginBottom10p gmVerticalTop">
                <textarea id="textarea-sc-edit-notes" class="gmInputText" name="actnotes"> {{actnotes}} </textarea>
            </li>


            <!--
<ul class="gmSection salescall-create-result hide gmMarginBottom10p">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth170m">
        RESULT
    </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
        <label class="selectbox-icon gmMediaWidth100">
            <select id="select-salescall-result" class="gmInputText gmMediaWidth100">
                <option id="" value="">Select</option>
                <option value="105340">Follow Up</option>
                <option value="105341">MERC</option>
                <option value="105342">Physician Visit</option>
            </select>
        </label>
    </li>
</ul>
-->
        </ul>
    </div>
</div>