<div id="div-module-criteria">
    <div class="lead-criteria-phone-style gmMediaWidth100 gmMinHeight130p ">
       <ul class="gmSection  li-ph-filter-label">
        <li class=" gmAlignHorizontal">
            Filter Name
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input  class="gmInputText txt-fltr-name txt-salescall-fltr-name gmWidth180m" autofocus name="filtername" />
        </li>
    </ul>
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter pv-criteria-mobile-width">
            <li class="gmFontBold ul-training-label gmMarginBottom10p">Filters</li>
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMediaWidth100">
                <div class="btn-listby salescall-title category-btn popup-icon div-popup-system gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
            </li>
        </ul>
       <ul id="ul-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight ">
        <li class="gmFontBold gmAlignVertical" style=" margin-left: 18%; ">
            Activity Date
        </li>
        
        <div class="gmAlignVertical gmMarginTop10p ">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-sur-filter-frm-to">From</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--             <input type="text" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy" value=""></li>-->
             <input type="date" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy" value=""></li>
        </div>
        <div class="gmAlignVertical gmMarginTop10p">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-surg-filter-todate-label  li-sur-filter-frm-to" style="width:35px;">To</li>
            <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--                <input type="text" id="activity-todate" class="gmInputText gmAlignVertical gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy" value=""></li>-->
                <input type="date" id="activity-todate" class="gmInputText gmAlignVertical gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy" value=""></li>
        </div>
    </ul>
    </div>

    <ul class="gmAlignHorizontal gmMarginRight10p ul-phone-salescall-selected-criteria hide">
    <div id="btn-filter-selected-criteria" class="div-list-of-selected-criteria gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">
    <i class="fa fa-2x gmFloatLeft fa-list-alt" aria-hidden="true"></i>
    List of Selected Criteria</div>
</ul>
<ul class="gmSection list-category-item  ul-sc-filter-criteria category-items gmBorderRadius3p"></ul>
<ul class="gmAlignHorizontal gmFloatRight  ul-ph-salescall-filter-search gmMediaWidth100">
    <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignVertical gmMediaWidth95 ">View</div>
</ul>
</div>
