<div id="div-module-criteria">
    <ul class="gmBorderAsh gmBGLGrey el-salescall-Smode gmMediaWidth99">
        <li id="tab-npiname" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal" tabname="filter-tab-criteria">Filter</li>
        <li id="tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal" tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="salescall-search-content  salescall-sub-content search-criteria-content">
        <div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-calls-schedule gmMediaMarginTop10">
            <div class="btn-visitSchedule gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth180m module-title "><i class="fa fa-calendar gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i> Calls Schedule</div>
        </div>
        <div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-upcum-salescall gmMediaMarginTop10">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite module-title gmMediaMarginAuto"><i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i> Upcoming Sales Calls</div>
        </div>

        <div class="gmLineSpace salescall-search-content"></div>
        <div id="pv-name-search" class="salescall-criteria-phone-style">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="salescall-fname" class="salescall-fname gmInputText gmWidth180m" placeholder="First Name" value="">
                    <input type="text" data-id="salescall-lname" class="salescall-lname gmInputText gmWidth180m" placeholder="Last Name" value="">
                    <div id="btn-search-name" class="btn-search-name gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="gmLineSpace el-salescall-Lmode salescall-category-content"></div>
    <div id="salescall-criteria-filter-header" class="salescall-criteria-phone-style gmMediaWidth100 gmMinHeight130p filter-criteria-content">
        <ul class="gmSection gmAlignVertical gmVerticalTop gmFilter salescall-category-content gmMediaWidth100">
            <li class="gmFontBold gmMediaDisplayNone">Filters</li>
<!--
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-sc-popup-criteria">
                <div class="salescall-title btn-listby category-btn popup-icon gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> Location <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-sc-popup-criteria">
                <div class="salescall-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="procedure" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Technique">Technique <span></span></div>
            </li>
-->
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-sc-popup-criteria">
                <div class="btn-listby salescall-title category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
            </li>
        </ul>
        <ul id="salescall-ul-activity-date" class="gmSection gmAlignVertical salescall-category-content gmMarginTop20p">
            <li>
                <div class="gmFontBold salescall-criteria-act-date gmMarginBottom10p">
                    Activity Date
                </div>
            </li>
            <li class="gmAlignHorizontal">

                <div class="gmAlignHorizontal sc-date-criteria">
<!--                    <input type="text" id="activity-frmdate" class="gmInputText gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-frmdate" class="gmInputText gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmAlignHorizontal">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextCenter gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal sc-date-criteria">
<!--                    <input type="text" id="activity-todate" class="gmInputText gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-todate" class="gmInputText gmWidth180m salescall-crt-date" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>

    <ul class="salescall-category-content filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav salescall-myfavorite-content">
            <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmSalesCallFav">

            </li>
        </ul>
    </div>
    <div id="scheduler-main-container" class="scheduler-main-container hide"></div>
</div>