<div id="div-salescall-dropdown">
    {{#each this}}
    <ul id="{{@index}}" class="salescall-dropdown gmBorderBottomLGrey gmAlignVertical">

        <li id="{{@index}}" class="gmSectionListItem gmAlignHorizontal gmMargin50 gmText400" data-addid="{{addid}}">
            <div class="gmAlignVertical gmMarginBottom5p">
                <span class="gmAlignHorizontal">{{add1}}</span>
                <span class="gmAlignHorizontal">{{add2}}</span>
                <span class="gmAlignHorizontal">{{city}}</span>
            </div>
            <div class="gmAlignVertical">
                <span class="gmAlignHorizontal" data-stateid="{{stateid}}"> {{statenm}} </span>
                <span class="gmAlignHorizontal" data-countryid="countryid"> {{countrynm}} </span>
                <span class="gmAlignHorizontal"> {{zip}} </span>
            </div>
        </li>
        <li id="{{@index}}" class="gmAlignHorizontal gmFloatRight">
            <span class='fa fa-2x fa-check-circle gmPad10p hide'></span>
        </li>
    </ul>
    {{/each}}
</div>