<ul id="div-crf-feedback-main" class="gmSection">

	<li id="div-crf-feedback-comments-count" class="gmSectionListItem gmFloatRight ">
		<span id="span-crf-feedback-comments-count"></span>
		<span> characters remaining</span>
	</li>
	<li id="div-crf-feedback-comments">
		<textarea id="txt-crf-feedback-comments" class="gmInputText gmTextArea"></textarea>
		<ul id="div-crf-feedback-comments-buttons"> 
			<div id="span-crf-feedback-comments-cancel" class="gmBGDarkerGrey gmFontWhite gmBtn gmFloatRight">Cancel</div>
		</ul>
	</li>

	<div id="div-crf-feedback-comments-lists" class="comment-top"></div>
	<div id="div-crf-feedback-comments-data" class="hide"></div>

</ul>