<ul class="gmSection" id="div-merc-crf-service-desc-main">
	<li id="div-crf-service-desc-head">
		<div id="div-crf-service-text-note" class="gmLineSpace gmFloatLeft "> Please describe the service</div>
         <div class="gmSmLineSpace"></div>
		<div id="div-crf-service-desc-comments-count" class="gmLineSpace gmFloatRight ">
			<span id="span-crf-service-desc-comments-count"></span>
			<span> characters remaining</span>
		</div>
	</li>	
	<li id="div-crf-service-desc-comments">
		<textarea id="txt-crf-service-desc-comments" class="gmInputText gmTextArea">{{servicedesc}}</textarea>
		<div id="span-crf-service-desc-comments-clear" class="gmBGDarkerGrey gmFontWhite gmBtn gmFloatRight">Clear</div>
	</li>
</ul>