<div id="div-merc-crf-hr-time-main">
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 li-crf-hrs-mobile"> TOTAL PREP TIME </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-crf-tot-prep-time" class="gmInputText gmText30 gmTextCenter" value="{{preptime}}">
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 li-crf-hrs-mobile"> TOTAL WORK HOURS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-crf-tot-work-hours" class="gmInputText gmText30 gmTextCenter" value="{{workhrs}}">
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 li-crf-hrs-mobile"> TRAVEL TIME APPLICABLE? </li>
        <li class="gmSectionListItem gmSectionValue iPad gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="div-crf-travel-time-option" class="sel-report-option-key gmInputText" data-value="{{timefl}}">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </label>
        </li>
        <li class="gmSectionListItem gmMarginLeft5p iPhone gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="div-crf-travel-time-option" class="sel-report-option-key gmInputText gmFontBold" data-value="{{timefl}}">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </label>
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="span-by-words" class="span-words  "> Travel time will be calculated by Professional Affairs</span>
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="span-valid-txt" class="span-words "> Please submit to Professional Affairs a minimum of thirty (30) days in advance of service / event.</span>
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmFontBlack gmFont90em gmFontBold gmMarginTop20p">
            <span id="span-label-header" class="span-words gmMarginLeft5p"> CONTACT </span>
        </li>
        <li id="div-txt-manager" class="gmSectionListItem gmSectionValue gmAlignVertical ">
            <span class="span-label-name span-words"><b>Lisa Taylor </b> </span> <span class="span-label-position span-words">(Manager, Professional Affairs) </span>
        </li>
        <li id="div-txt-professional" class="gmSectionListItem gmSectionValue gmAlignVertical ">
            <span class="span-label-name span-words"><b > Lauren Suzenski</b> </span> <span class="span-label-position span-words">(Professional Affairs Coordination)</span>
        </li>
    </ul>
</div>