<div id="div-merc-crf-main-details">
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> REQUEST DATE </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="spn-crf-req-date"></span>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal gmMediaWidth100px gmMediaTextRight  gmText200"> URGENT </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="checkbox" id="input-crf-priorityfl" value="{{priorityfl}}">
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> TYPE OF REQUEST </li>
        <label class="selectbox-icon">
            <select id="div-crf-type-of-req" class="gmMarginLeft5p gmInputText" value="{{#if reqtypeid}}{{reqtypeid}} {{else}}{{105210}}{{/if}}" codegrp ="CRFTRQ">
                <option value="105210">Original</option>
                <option value="105211">Resubmission</option>
                <option value="105212">Backup</option>
            </select>
        </label>
        <li id="li-type-of-req" class="gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-type-of-req" class="gmInputText gmText250 gmMediaWidth100" placeholder="Provide reason for resubmission" value="{{reason}}">
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> REQUESTOR </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            {{#if createdby}}
            <span>{{createdby}}</span>
            {{else}}
            <span id="span-crf-requestor"></span>
            {{/if}}
        </li>
    </ul>
    {{#gmCRMSurgeonlistVO}}
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> CONSULTANT NAME </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            <span id="span-crf-consultant-name" class="gmLnk" data-partyid="{{partyid}}" data-npid="{{npid}}">
					<a href="#crm/surgeon/id/{{partyid}}">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</a>
                </span>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> CV </li>
        <li class="gmSectionListItem gmSectionValue gmLnk  gmAlignHorizontal">
<!--
            <a href="" id="a-type-of-req-cv-file" class="a-type-of-req-cv-file" target="_blank">

            </a>
-->
            <div href="" class="gmLink open-crf-doc forms-in-file-CV" target="_blank"></div>
        </li>
    </ul>
    {{/gmCRMSurgeonlistVO}}
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> EMAIL </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            <span id="span-crf-email"></span>
        </li>

        <li id="div-crf-header-cell" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> CELL # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            <span id="span-crf-cell"></span>
        </li>

        <li id="div-crf-header-work" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmWidth100m"> WORK # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            <span id="span-crf-work" class="span-crf-work"></span>
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> ADDRESS </li>
        <li id="div-crf-address" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmText200 gmVerticalTop">
            <span id="span-crf-address-add1-add2"></span>
            <span id="span-crf-address-city"></span>
            <span id="span-crf-address-stat-zip"></span>
        </li>

    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> NEEDS ASSESSMENT CTRL # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-crf-assesmnt-val ">
            <span id="span-crf-needs-ass-ctrl"> {{actid}} </span>
        </li>
    </ul>
    <ul class="gmSection">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> TYPE OF SERVICE REQUESTED </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="spn-select-crf-service-req-typ gmText200">Training And Education</span>
        </li>
    </ul>
</div>
