<div class="div-crf-list-item">
    <ul class="gmListItem ul-list-items" actid="{{actid}}">
    <li class="gmListColData gmText150">{{actid}}</li>
    <li class="gmListColData gmText200">{{actnm}}</li>
    <li class="gmListColData gmText175">{{parseNull salutenm}} {{firstnm}} {{ parseNull midinitial}} {{lastnm}}</li>
    <li class="gmListColData gmText150">{{statusnm}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a class = "OfflineLinkRemover" href="#crf/{{actid}}/{{partyid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontcrf gmFontItalic gmFontBold">i</div>
            </a>
            <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontcrf gmFontItalic gmFontBold OfflineLink hide">i</div>
        </li>
    </ul>
    <!--For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll gmBorderBottomLGrey " id="{{actid}}">
        <a href="#crf/{{actid}}/{{partyid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{actnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{statusnm}}</li>
            </ul>
        </a>
    </ul>
</div>