<?xml version="1.0" encoding="iso-8859-1" ?>
#set($alResult = $hmParam.ALRESULT)
#set($strAccessFl = $hmParam.strAccessFl)
<rows>
	<head>
	#if($strAccessFl == "true")
		<column type="ro" width="25" sort="na" align="left">
		</column>
		#end
		<column type="ro" width="25" sort="na" align="left">
		</column>
		<column type="ro" width="80" sort="str" align="left">
$msg.getProperty('VM_CAPA')
		</column>
		<column type="ro" width="130" sort="str" align="left">
$msg.getProperty('VM_REQUESTEDBY')
		</column>
		<column type="ro" width="135" sort="str" align="left">
$msg.getProperty('VM_REFERENCE')
		</column>
		<column type="ro" width="110" sort="str" align="left">
$msg.getProperty('VM_PROJECT')
		</column>		
		<column type="ro" width="100" sort="str" align="left">
$msg.getProperty('VM_LOT')
		</column>
		<column type="ro" width="60" sort="str" align="left">
$msg.getProperty('VM_TYPE')
		</column>
		<column type="ro" width="65" sort="str" align="left">
$msg.getProperty('VM_STATUS')
		</column>
		<column type="ro" width="75" sort="date" align="center">
$msg.getProperty('VM_CAPASUBMITTEDDATE')
		</column>
		<column type="ro" width="75" sort="date" align="center">
$msg.getProperty('VM_RESPONSEDUEDATE')
		</column>
		<column type="ro" width="75" sort="date" align="center">
$msg.getProperty('VM_CLOSEDDATE')
		</column>
		<column type="ro" width="*" sort="int" align="right">
$msg.getProperty('VM_AGINGOFDAYS')
		</column>

	</head>
	#foreach($hmDetails in $alResult)	
	<row id="$hmDetails.CAPAID">
		#if($strAccessFl == "true")
		<cell align="left">
			<![CDATA[<input type="radio" name="rad" value="$hmDetails.CAPAID" onClick="fnSetCapaId(value,$hmDetails.STATUSID);">]]>
		</cell>
		#end
		<cell align="left">
			<![CDATA[
			#if($hmDetails.CAPA_CALL_FLAG == $null || $hmDetails.CAPA_CALL_FLAG.toString().equals("N") )
				<a href="#" title="Click to add Comments" onclick=javascript:fnOpenOrdLog("$hmDetails.CAPAID")><img alt="Click to add comments" src="/images/phone_icon.jpg" width="20" height="17" border="0"></a>
			#else
				<a href="#" title="Click to add Comments" onclick=javascript:fnOpenOrdLog("$hmDetails.CAPAID")><img alt="Click to add comments" src="/images/phone-icon_ans.gif" width="20" height="17" border="0"></a>
			#end
			]]>		
		</cell>
		<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenSummaryScreen("$esc.xml($hmDetails.CAPAID)");><span>$esc.xml($hmDetails.CAPAID)</span></a>]]></cell>	
		<cell>$esc.xml($hmDetails.REQUESTEDBY)</cell>
		<cell>$esc.xml($hmDetails.PARTID.replaceAll('\s',' '))</cell>
		<cell>$esc.xml($hmDetails.PROJECTREF.replaceAll('\s',' '))</cell>
		<cell>$esc.xml($hmDetails.LOTNUMBER.replaceAll('\s',' '))</cell>
		<cell>$esc.xml($hmDetails.TYP)</cell>				
		<cell>$esc.xml($hmDetails.STATUS)</cell>	
		<cell>$esc.xml($hmDetails.SUBMITTEDDT)</cell>
		<cell>$esc.xml($hmDetails.RESPONSEDT)</cell>
		#if ($esc.xml($hmDetails.CLOSEDDT) == $null)
			<cell></cell>
		#else
			<cell>$esc.xml($hmDetails.CLOSEDDT)</cell>
		#end
			<cell>$esc.xml($hmDetails.DAYTOCLOSE)</cell>
	</row>
	#end
</rows>
