

/*Case Schedule css start*/
.evendar-eventlist-header{display: none !important}
.evendar-container .evendar-input .evendar-input-content, .evendar-container-mobile .evendar-input .evendar-input-content{flex-direction: row;-ms-flex-direction: row;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars{width: 50%;}
.evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist{width: 50%;}
.evendar-footer{display: none !important}
.evendar-prev .fa-arrow-left{padding: 0; color: #fff}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-title, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-title{color: #fff; background: #00366e; padding: 15px 12px; border-bottom: 0; font-size: 20px; font-weight: bold; display: block;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container{padding: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day{border: 1px solid #6c6c6c;border-right: 0;border-bottom: 0;margin-bottom: 0;    padding: 20px 2px 45px;    font-size: 15px; display: inline-block;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-dayofweek, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-dayofweek {
    font-size: 0.85em;color: #000;padding: 15px 10px;background: #ccc;border: 1px solid #6c6c6c;border-right: 0;border-bottom: 0;margin-bottom: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend {
    color: #c0c0c0;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today.evendar-selected, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today.evendar-selected {
    background: #fffaae;
    color: #000;
    border-radius: 0;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-today {
    background: #fffaae;
    color: #000;
}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day:hover:not(.evendar-hovered):not(.evendar-selected), .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day:hover:not(.evendar-hovered):not(.evendar-selected){border-radius: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-selected, .evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-start, .evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-end, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-selected, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-start, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-day.evendar-end{border-radius: 0;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend{border-right: 1px solid #6c6c6c;}
.evendar-container .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend + .evendar-weekend, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars .evendar-calendar .evendar-days-container .evendar-weekend + .evendar-weekend{border-right: 0;}
.evendar-dayofweek + .evendar-weekend{border-right: 0 !important;}
.evendar-days-container div:nth-child(43) , .evendar-days-container div:nth-child(44) , .evendar-days-container div:nth-child(45) , .evendar-days-container div:nth-child(46) , .evendar-days-container div:nth-child(47) , .evendar-days-container div:nth-child(48) , .evendar-days-container div:nth-child(49){border-bottom: 1px solid #6c6c6c !important;}
.evendar-container .evendar-input, .evendar-container-mobile .evendar-input{border-radius: 0; width: auto !important;}
.evendar-nobottomradius + .evendar-nobottomradius, .evendar-eventlist-item + .evendar-nobottomradius {
    display: none;
}

.evendar-container, .evendar-container-mobile {margin-bottom: 30px;}
.noCaseData{ position: absolute;top: 50%;left: 0px;right: 0; text-align: center; font-size: 15px; font-family: SourceSansPro, "Trebuchet MS"; font-weight: bold;}
.evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist{z-index: 1;}





@media (max-width : 767px) { 
  

/*CaseCalendar Css for Mobile Responsive*/

    .evendar-container .evendar-input .evendar-input-content, .evendar-container-mobile .evendar-input .evendar-input-content {
    flex-direction: column;
    -ms-flex-direction: column;
    /*max-height: 750px !important;*/
        max-height: 535px !important;
        
}
   /* .evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars {
    width: 100%;    height: 350px !important;
}*/
    .evendar-container .evendar-input .evendar-input-content .evendar-calendars, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-calendars {
    width: 100%;display: inline-block; height: 280px !important;
    }
    .evendar-container .evendar-input .evendar-input-content .evendar-eventlist, .evendar-container-mobile .evendar-input .evendar-input-content .evendar-eventlist {
    width: 100%;height: 250px;
}


/*.sheduler-calendar-wrap{flex-wrap: wrap;}*/
    
   .evendar-eventlist{height;350px; !important;}
   .evendar-container-mobile.evendar-inline{margin-top: 0px;}
   .evendar-days-container .evendar-day{padding:0 !important;}
   .evendar-container, .evendar-container-mobile{font-size: 10px;}
    
   #div-case-title-main{width: 70%;height: -10px;clear: left;display: inline-block;font-size: 15px;font-weight: bold;margin-top: -5px;
}
.evendar-container-mobile.evendar-inline {
margin-top: 0px;
height: 560px;
}

    
}