<div id="div-module-criteria">
    <ul class="tab-head gmBorderAsh gmBGLGrey phyvsit-phone-criteria-headers">
        <li id="phyvsit-tab-search" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="phyvsit-tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="phyvsit-tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="phyvsit-search-content  phyvsit-sub-content search-criteria-content">
        <div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 li-upcum-phyvsit">
            <div class="btn-visitSchedule gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth180m module-title "> <i class="fa fa-calendar gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i> Visit Schedule</div>

            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth180m module-title gmMediaMarginBottom10p gmMediaMarginAuto"> <i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i> Upcoming Physician Visits</div>
            <div class="btn-requested gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth180m module-title "> <i class="fa fa-arrow-circle-right gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i> Requested Physician Visits</div>
        </div>

        <div class="gmLineSpace"></div>
        <div id="pv-name-search" class="pv-criteria-phone-style">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="physicianvisit-fname" class="physicianvisit-fname gmInputText gmWidth180m" placeholder="First Name" value="">
                    <input type="text" data-id="physicianvisit-lname" class="physicianvisit-lname gmInputText gmWidth180m" placeholder="Last Name" value="">
                    <div id="btn-search-name" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>

    </div>

    <div class="gmLineSpace el-lead-Lmode phyvsit-search-content gmMediaDisplayNone"></div>
    <div class="physicianvisit-criteria-phone-style gmMediaWidth100 gmMinHeight130p phyvsit-category-content filter-criteria-content">
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter pv-criteria-mobile-width">
            <li class="gmFontBold ul-phyvsit-label">Filters</li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown pv-criteria-mobile-width">
                <div class="physicianvisit-title btn-listby category-btn popup-icon gmWidth180m" data-type="dropdown" data-param="acttypeid" data-sortby="N" data-inputParameters='{"codegrp":"SGACTP", "codenmalt": "PHYVST"}' data-keyParameter="codenm" data-codegrp="SGACTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="acttypeid" data-title="Activity Type">Activity Type<span></span></div>
            </li>

<!--             <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown pv-criteria-mobile-width gmMediaWidth100">
                <div class="physicianvisit-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="actstatus" data-inputParameters='{"codegrp":"CRFSTS"}' data-keyParameter="codenm" data-codegrp="CRFSTS" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="crfstatus" data-title="CRF Status">CRF Status <span></span></div>
            </li> -->
        </ul>
        <ul id="ul-phyvsit-activity-date" class="gmSection gmAlignVertical gmMarginTop20p">
            <li>
                <div class="gmFontBold gmAlignHorizontal lead-li-activity-date gmWidth180m">
                    Activity Date
                </div>
            </li>
            <li id="li-phyvsit-actdate-frmdate-input" class="gmAlignHorizontal gmMarginTop10p li-phyvsit-actdate">
                <div class="gmAlignHorizontal pv-criteria-mobile-width">
                    <input type="date" id="activity-frmdate" class="gmInputText gmWidth180m physicianvisit-frmdate" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmAlignHorizontal gmMarginTop10p li-phyvsit-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextCenter gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal pv-criteria-mobile-width">
                    <input type="date" id="activity-todate" class="gmInputText gmWidth180m physicianvisit-todate" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>

    <ul class="phyvsit-category-content filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>
        </li>
        <li class="gmMinHeight25p gmMarginTop10p">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav phyvsit-myfavorite-content phyvsit-sub-content">
            <li class="gmAlignHorizontal gmFontBold hide ul-phyvsit-label">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmPhysicianVisitFav">

            </li>
        </ul>
    </div>
    <div id="scheduler-main-container" class="scheduler-main-container hide"></div>
</div>