{{#each this}}

	<li class="div-physician-feedback-comments-list  gmBorderAsh gmSectionListItem gmBorderRadius3p" logid="{{logid}}">
		<ul class="gmBGLGrey gmSection commentHead boxShadow">
			<li class="div-physician-feedback-comments-list-header-left gmSectionListItem gmFloatLeft gmAlignHorizontal">
				<span class="span-physician-feedback-comments-list-header" updatedbyid="{{updatedbyid}}"> {{logtype}} -  </span>
				<span>  {{updatedby}} </span>
			</li>
			<li class="div-physician-feedback-comments-list-header-right gmSectionListItem gmFloatRight">
				<span>Last Updated on </span>
				<span class="span-physician-feedback-comments-list-header-date gmPadRight10p"> {{updateddate}} </span>
				<i class="fa fa-pencil fa-lg edit-comments hide gmFontBlack gmPadRight10p gmFont15em gmVerticalTop" indexvalue = "{{@index}}"></i>
				<i class="fa fa-trash-o delete-comments hide gmFontBlack gmPadRight10p gmFont15em gmVerticalMiddle" indexvalue = "{{@index}}"></i>
			</li>
		</ul>
		<div class="div-physician-feedback-comments-list-content gmCommentArea boxShadow gmAlignHorizontal">{{logcomment}}</div>
	</li>

{{/each}}