
<div id="div-module-criteria">
    <div class="lead-criteria-phone-style gmMediaWidth100 gmMinHeight130p ">
        <ul class="gmSection  li-ph-filter-label">
        <li class=" gmAlignHorizontal">
            Filter Name
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
            <input  class="gmInputText txt-fltr-name txt-phyvsit-fltr-name gmWidth180m" autofocus name="filtername" />
        </li>
    </ul>
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter pv-criteria-mobile-width">
            <li class="gmFontBold ul-phyvsit-label">Filters</li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown pv-criteria-mobile-width">
                <div class="physicianvisit-title btn-listby category-btn popup-icon div-popup-activity gmWidth180m" data-type="dropdown" data-param="acttypeid" data-inputParameters='{"codegrp":"SGACTP", "codenmalt": "PHYVST"}' data-keyParameter="codenm" data-codegrp="SGACTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="acttypeid" data-title="Activity Type">Activity Type<span></span></div>
            </li>
            
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown pv-criteria-mobile-width gmMediaWidth100">
                <div class="physicianvisit-title btn-listby category-btn popup-icon div-popup-status  gmWidth180m" data-type="dropdown" data-param="actstatus" data-inputParameters='{"codegrp":"CRFSTS"}' data-keyParameter="codenm" data-codegrp="CRFSTS" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="crfstatus" data-title="CRF Status">CRF Status <span></span></div>
            </li>
        </ul>

         <ul id="ul-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight ">
        <li class="gmFontBold gmAlignVertical li-pv-act-date" style=" margin-left: 18%; ">
            Activity Date
        </li>
        
        <div class="gmAlignVertical gmMarginTop10p ">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-sur-filter-frm-to">From</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--             <input type="text" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m " placeholder="mm/dd/yyyy" value="">-->
             <input type="date" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m " placeholder="mm/dd/yyyy" value="">
            </li>
        </div>
        <div class="gmAlignVertical gmMarginTop10p">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-surg-filter-todate-label  li-sur-filter-frm-to" style="width:35px;">To</li>
            <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--                <input type="text" id="activity-todate" class="gmInputText gmAlignHorizontal gmWidth180m " placeholder="mm/dd/yyyy" value="">-->
                <input type="date" id="activity-todate" class="gmInputText gmAlignHorizontal gmWidth180m " placeholder="mm/dd/yyyy" value="">
        </div>
    </ul>
    </div>

    <ul class="phyvsit-filter-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>
</div>
