<div id="div-physicianvisit-main">
		<ul id="div-physicianvisit-tabs">
			<li id="div-physicianvisit-objective" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey">Objective<i class="fa fa-lg gmFontWhite gmFloatRight fa-chevron-circle-right" aria-hidden="true"></i></li>
			<li id="div-physicianvisit-communication" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey">Communications<i class="fa fa-lg gmFontWhite gmFloatRight fa-chevron-circle-right" aria-hidden="true"></i></li>
			<li id="div-physicianvisit-feedback" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey">Feedback<i class="fa fa-lg gmFontWhite gmFloatRight fa-chevron-circle-right" aria-hidden="true"></i></li>
<!--			<li id="div-physicianvisit-closure" class="phyvisit-tab gmBtn gmAlignHorizontal gmBGLGrey">Closure</li>-->
<!--			<li id="div-physicianvisit-closure-print" class="gmAlignHorizontal gmBtn gmFloatRight" style="display:none;">Print</li>-->
		</ul>
		<div id="div-physicianvisit-sub-content" class="gmMarginTop10p"></div>
</div>
