<div id="scheduler-info-main">
    <div id="scheduler-info-main-header" class="gmFontWhite">
        <ul class="gmBtnGroup">
            <li id="scheduler-button-view">
                    <span>View</span>
                    <i class="fa fa-lg fas fa-info-circle" aria-hidden="true"></i>
            </li>
            <li id="scheduler-button-edit" class="gmVisibilityHidden">
                <a href="#crm/{{module}}/id/{{actid}}" class="gmFontWhite cursorPointer">
                    <span>Edit</span>
                    <i class="fa fa-lg fas fa-pencil" aria-hidden="true"></i>
                </a>
            </li>
            <li id="scheduler-button-close" class="cursorPointer">
                <span>Close</span>
                <i class="fa fa-lg fa-times" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div id="scheduler-info-content" class="gmPad10p">
        <div class="gmSection">
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><span><B>{{actnm}}</B></span></li>
            {{#iftrue module 'physicianvisit'}}
                <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmText75 gmPadRight10p gmAlignHorizontal">Type: </label><span> {{acttypenm}}</span></li>
                <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmText75 gmPadRight10p gmAlignHorizontal">Start&nbsp;Date: </label><span> {{formatDate actstartdate}} {{AMPM actstarttime}}</span></li>
                <li class="gmSectionListItem gmAlignVertical gmPaddingButtom10p gmTextAll"><label class="gmTextRight gmText75 gmPadRight10p gmAlignHorizontal">End&nbsp;Date: </label><span> {{formatDate actenddate}} {{AMPM actendtime}}</span></li>
            {{/iftrue}}
            {{#iftrue module 'salescall'}}
                <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmText100 gmPadRight10p gmAlignHorizontal">Start  </label><span> {{formatDate actstartdate}} {{#if actstarttime}} {{AMPM actstarttime}} - {{AMPM actendtime}} {{/if}}</span></li>
                <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmText100 gmPadRight10p gmAlignHorizontal">Product: </label><span class="gmAlignHorizontal gmText200 gmVerticalMiddle"> {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
                <div class="div-activity-product span-comma-separated gmAlignHorizontal">
                    {{attrnm}}
                </div>
                {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}</span></li>
                <li class="gmSectionListItem gmAlignVertical gmPaddingButtom10p gmTextAll"><label class="gmTextRight gmText100 gmPadRight10p gmAlignHorizontal">Field Sales: </label><span> {{createdby}} </span></li>
            {{/iftrue}}
            
        </div>
        {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
        <a class="gmFontBlack" href="#crm/surgeon/id/{{partyid}}">
            <div style="border-top: 1px solid #ddd; " class="gmSection gmPadding5x0p">
                <li class="gmSectionListItem gmAlignHorizontal gmMinWidth80p" data-partyid="{{partyid}}">
                    <i id="visit-calendar-img-i" class="fa fa-user-md" aria-hidden="true"></i>
                    <img id="visit-calendar-img" src="{{imgurl}}" alt />
                </li>
                <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmText225 gmVertical gmVerticalMiddle">{{partynm}}</li>
            </div>
        </a>
        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
    </div>
</div>