<details class="filters_wrapper" id="filters_wrapper">
    <summary>Filter</summary>
    {{#each type}}
    <p class="dhtml-filter-type">
   <input type="checkbox" name="type{{codeid}}" /> {{codenm}}
     </p>
{{/each}}
    <p class="dhtml-filter-type" id="filter-typ-others">
        <input type="checkbox" name="typeOthers" /> Others
    </p>
    <details id="dhtmlx-filter-status">
        <summary>Status</summary>
        {{#each status}}
        <p>
            <input type="checkbox" name="status{{codeid}}" /> {{codenm}}
        </p>
        {{/each}}
    </details>
</details>

<details class="filters_wrapper" id="dhtmlx-filter-division">
    <summary>Division</summary>
   {{#each division}}
      <p>
        <input type="checkbox" name="division{{codenmalt}}" /> {{codenm}}
      </p>
      {{/each}}
</details>

<div id="salescall-scheduler-rep-search"></div>

<div id="scheduler_here" class="dhx_cal_container">
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <!--legend info div manually added start-->
        <div id="scheduler-legend" style="left: 380px;top: 6px !important;border: none;">
            <i id="scheduler-legend-icon" class="fa fa-3x fa-question-circle" aria-hidden="true"></i>
            <div id="scheduler-legend-info" style="display: none;" class="gmBorderRadius3p">
                <ul class="gmPad10p">
                    {{#iftrue module "physicianvisit"}}
                    <li class="gmPaddingButtom10p gmFontBold">Visit Type</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtLOrange" aria-hidden="true"></i> VIP Visit + Lab</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtSkyBlue" aria-hidden="true"></i> VIP Only</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtYellow" aria-hidden="true"></i> Lab Only</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtOrange" aria-hidden="true"></i> Design</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtPink" aria-hidden="true"></i> Research</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtLGray" aria-hidden="true"></i> Others</li>
                    <hr>
                    <li class="gmPaddingButtom10p gmFontBold">Status</li>
                    <li class="gmPaddingButtom10p"><i id="legend-icon-req" class="gmPadRight10p fa fa-square txtLinearG" aria-hidden="true"></i> Requested</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtLGray" aria-hidden="true"></i> Scheduled</li>
                    <li class=""><i class="gmPadRight10p fa fa-square txtLRed" aria-hidden="true"></i> Cancelled</li>
                    {{/iftrue}}
                    {{#iftrue module "salescall"}}
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtSkyBlue" aria-hidden="true"></i> Scheduled</li>
                    <li class="gmPaddingButtom10p"><i class="gmPadRight10p fa fa-square txtLGray" aria-hidden="true"></i> Others</li>
                    <li class=""><i class="gmPadRight10p fa fa-square txtLRed" aria-hidden="true"></i> Cancelled</li>
                    {{/iftrue}}
                </ul>
            </div>
        </div>
        <!--legend info div manually added end-->
        
        <div class="dhx_cal_today_button"></div>
        <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        <div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        <div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
        <div class="dhx_cal_tab" name="year_tab" style="right:280px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>
</div>


<div id="scheduler-info-container" class="hide"></div>
<div id="scheduler-info-view" class="hide"></div>