<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#set($strLabel1="")
	#if ($hmResult.TYPEID.toString().equals("103090"))
	    #set($strLabel1=$msg.getProperty("LBL_LAN_PART_NUM"))
	#elseif ($hmResult.TYPEID.toString().equals("103091"))
		#set($strLabel1=$msg.getProperty("LBL_LAN_SET"))
	#elseif ($hmResult.TYPEID.toString().equals("103092"))
		#set($strLabel1=$msg.getProperty("LBL_LAN_SYSTEM"))
	#elseif ($hmResult.TYPEID.toString().equals("103093"))
		#set($strLabel1=$msg.getProperty("LBL_LAN_PROJECT"))
	#elseif ($hmResult.TYPEID.toString().equals("103094"))
		#set($strLabel1=$msg.getProperty("LBL_LAN_GROUP"))
	#elseif ($hmResult.TYPEID.toString().equals("26240459"))
		#set($strLabel1=$msg.getProperty("LBL_LAN_SETBUNDLE"))		
	#end
	
	<head>
		<column type="ro" width="200" align="left" sort="str">$strLabel1 $msg.getProperty("LBL_LAN_NAME")</column>
		<column type="ro" width="200" align="left" sort="str">$strLabel1 $msg.getProperty("LBL_LAN_DESC")</column>
		<column type="ro" width="*" align="left" sort="str">Detailed $msg.getProperty("LBL_LAN_DESC1")</column>
		<column type="ro" width="100" align="left" sort="str">$msg.getProperty("LBL_LAN_LANGUAGE")</column>
	</head>

	#foreach($hmDetails in $alResult)		
		<row>
			<cell><![CDATA[$hmDetails.NAME.replaceAll('\s',' ')]]></cell>	
			<cell><![CDATA[$hmDetails.DESCRIPTION.replaceAll('\s',' ')]]></cell>	
			<cell><![CDATA[$hmDetails.DTL_DESCRIPTION.replaceAll('\s',' ')]]></cell>
			<cell>$esc.xml($hmDetails.LANGNM)</cell>
		</row>
	#end
</rows>


	
	


