<div id="div-module-criteria">
    <ul class="gmBorderAsh gmBGLGrey gmMediaWidth100 fieldsales-phone-criteria-header">
        <li id="tab-npiname" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="fieldsales-search-content  fieldsales-sub-content search-criteria-content">
        <div id="fs-repid-search" class="fs-criteria-phone-style gmAlignHorizontal gmMediaWidth100">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold gmMediaMarginTop10">Rep ID</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="repid" class="fieldsales-repid gmInputText gmWidth180m" value="" maxlength="10">
                    <div id="btn-search-repid" class="btn-search-repid gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div class="gmLineSpace fieldsales-search-content iPad"></div>
        <div id="fs-name-search" class="fieldsales-criteria-phone-style">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold gmMediaMarginTop10">Rep Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="fieldsales-fname" class="fieldsales-fname gmInputText gmWidth180m" placeholder="First Name" value="">
                    <input type="text" data-id="fieldsales-lname" class="fieldsales-lname gmInputText gmWidth180m" placeholder="Last Name" value="">
                    <div id="btn-search-name" class="btn-search-name gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
    </div>

    <div class="gmLineSpace el-fieldsales-Lmode fieldsales-category-content  gmMediaDisplayNone"></div>
    <div id="fieldsales-criteria-filter-header" class="fieldsales-criteria-phone-style gmMediaWidth100  filter-criteria-content">
        <ul class="gmSection gmAlignHorizontal gmMediaWidth100 gmVerticalTop gmFilter fieldsales-category-content">
            <li class="gmFontBold gmMediaDisplayNone">Filters</li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-fs-popup-criteria gmMediaWidth100">
                <div class="fieldsales-title btn-listby category-btn popup-icon gmWidth180m" data-type="dropdown" data-param="regid" 
                     data-inputParameters='{"repid":"{{userID}}","regid":"Y"}' data-keyParameter="regnm" data-codegrp="" data-IDParameter="regid" data-NameParameter="regnm" data-resultVO="gmCRMSalesRepListVO" data-webservice="fieldsales/regterdis" data-storagekey="regid" data-title="Region"> Region <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-fs-popup-criteria gmMediaWidth100">
                <div class="fieldsales-title btn-listby category-btn popup-icon gmWidth180m" data-type="dropdown" data-param="distid" 
                     data-inputParameters='{"distid":"Y", "repid":"{{userID}}"}' data-keyParameter="distname" data-codegrp="" data-IDParameter="distid" data-NameParameter="distname" data-resultVO="gmCRMSalesRepListVO" data-webservice="fieldsales/regterdis" data-storagekey="distid" data-title="Distributor"> Distributor <span></span></div>
            </li>
        </ul>
    </div>

    <ul class="fieldsales-category-content filter-criteria-content gmMarginTop10p">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav salescall-myfavorite-content">
            <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmSalesCallFav">

            </li>
        </ul>
    </div>
</div>