{{#if FSRegion}}
<div class="div-fieldsales-list-item">
    <ul class="gmListItem ul-list-items" id="{{regid}}">
        <li class="gmListColData gmText250">{{regnm}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a href="#crm/fieldsales/list/{{regid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontfieldsales gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
    <!--For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll" id="{{regid}}">
        <a href="#crm/fieldsales/list/{{regid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p li-fs-mobile-regnm">{{regnm}}</li>
            </ul>
        </a>
    </ul>
</div>
{{else}}
<div class="div-fieldsales-list-item">
    <ul class="gmListItem ul-list-items" id="{{repid}}">
        <li class="gmListColData gmText200">{{firstnm}}</li>
        <li class="gmListColData gmText50">{{midinitial}}</li>
        <li class="gmListColData gmText200">{{lastnm}}</li>
        <li class="gmListColData gmText125">{{#if phone}}{{formatPhoneNumber phone}}{{/if}}</li>
        <li class="gmListColData gmText200">{{email}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a href="#crm/fieldsales/id/{{repid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontfieldsales gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
    <!--For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll" id="{{repid}}">
        <a href="#crm/fieldsales/id/{{repid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                             <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{#if phone}}{{formatPhoneNumber phone}}{{/if}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{email}}</li>
            </ul>
        </a>
    </ul>
</div>
{{/if}}
