<?xml version="1.0" encoding="UTF-8" ?>
#set($count=0)
<rows>
   <head>
		<column type="ro" width="250" align= "left" sort="str" id="Included">$msg.getProperty('VM_INCLUDEDCOMPANIES')</column>
		<column type="ro" width="*" align= "left" sort="str" id="Excluded">$msg.getProperty('VM_EXCLUDEDCOMPANIES')</column>
	</head>
	#foreach($hmDetails in $alInclude)
	<row id="$count">
	<cell>$esc.xml($hmDetails.INC_COMP_NM)</cell>
	<cell>$esc.xml($hmDetails.EXCL_COMP_NM)</cell>
	</row>
	#set($count = $count+1)
	#end		
</rows>