<?xml version="1.0" encoding="iso-8859-1" ?>

#set($strOpt=$hmResult.STROPT)
<rows>
	<head>
		#if($strOpt.equals("report"))
		<column type="ro" width="60" sort="int" id="codeId" align="center">
			$msg.getProperty("VM_CODE_ID")
		</column>
		
		<column type="ro" width="60" hidden="true" sort="int" id="hcodeId" align="center">
			$msg.getProperty("VM_CODE_ID")
		</column>
		
		<column type="ed" width="*" sort="str" id="name" align="left">
			$msg.getProperty("VM_NAME")
		</column> 
		<column type="ro" width="60" sort="str" id="group" align="left" >
			$msg.getProperty("VM_GROUP")
		</column>

		<column type="ed" width="*" sort="str" id="altname" align="left">
			$msg.getProperty("VM_ALT_NM")
		</column>
		<column type="ed" width="*" sort="str" id="contolType" align="left">
			$msg.getProperty("VM_CONTROL_TYPE")
		</column>
		<column type="ed" width="70" sort="int" id="seqno" align="right">
			$msg.getProperty("VM_SEQ_NO")
		</column>
		<column type="ch" width="80" sort="str" id="activeflag" align="center">
			$msg.getProperty("VM_ACT_FLAG")
		</column>
	
		<column type="ch"  width="80" sort="str" id="vLockflag" align="center">
			$msg.getProperty("VM_LOCK_FLAG")
		</column>
	#else
		<column type="ro" width="60" hidden="true" sort="int" id="codeId" align="center">
			$msg.getProperty("VM_CODE_ID")
		</column>
		
		<column type="ro" width="60" hidden="true" sort="int" id="hcodeId" align="center">
			$msg.getProperty("VM_CODE_ID")
		</column>
		
		<column type="ed" width="*" sort="str" id="name" align="left">
			$msg.getProperty("VM_NAME")
		</column> 
		<column type="ro" width="60" hidden="true" sort="str" id="group" align="left" >
			$msg.getProperty("VM_GROUP")
		</column>

		<column type="ed" width="*" hidden="true" sort="str" id="altname" align="left">
			$msg.getProperty("VM_ALT_NM")
		</column>
		<column type="ed"  width="80" hidden="true" sort="str" id="contolType" align="center">
            $msg.getProperty("VM_CONTROL_TYPE")
        </column>
		<column type="ro" width="70" hidden="true" sort="int" id="seqno" align="center">
			$msg.getProperty("VM_SEQ_NO")
		</column>
		<column type="ch" width="80" sort="str" id="activeflag" align="center">
			$msg.getProperty("VM_ACT_FLAG")
		</column>
	
		<column type="ch"  width="80" hidden="true" sort="str" id="vLockflag" align="center">
			$msg.getProperty("VM_LOCK_FLAG")
		</column>
	#end	
	</head>
	#set($count = 0)
	#foreach($hmDetails in $alResult)		
	<row id="$count"> 
		<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onClick=javascript:fnGetCodeCompMapDtls("$esc.xml($hmDetails.CODEID)");><span>$esc.xml($hmDetails.CODEID)</span></a>]]></cell> 
		<cell>$esc.xml($hmDetails.CODEID)</cell> 
		<cell>$esc.xml($hmDetails.CODENM)</cell> 
		<cell>$esc.xml($hmDetails.CODEGRP)</cell> 
		<cell>$esc.xml($hmDetails.CODENMALT)</cell>
		<cell>$esc.xml($hmDetails.CONTROLTYP)</cell>
		<cell>$esc.xml($hmDetails.CODESEQNO)</cell>
		#if($hmDetails.ACTFL.equals("1"))	
			<cell>true</cell>
		#else
			<cell>false</cell>
		#end
	
		#if($hmDetails.LOCKFL.equals("1"))	
			<cell>true</cell>
		#else
			<cell>false</cell>
		#end
			
	</row>
	#set($count = $count+1)
	#end
</rows>