<?xml version="1.0" encoding="iso-8859-1" ?>
#set($ftype=$hmSeqStatus.FTYPE)
#set($count=0)
#set($strOpt = $hmOpt.STROPT)
#if( $ftype =='92262')
#set($rtype='ed')
#else
#set($rtype='ro')
#end

#set($strGrpType=$hmSeqStatus.GRPTYPE)
#set($strLabel="Security Group")
#if($strGrpType.equals("TSMD"))
	#set($strLabel="Module")
#elseif($strGrpType.equals("92262"))
	#set($strLabel="Task")
#elseif($strGrpType.equals("92260"))
	#set($strLabel="Security Event"))
#end
	

<rows>
 
	<head>
		#if(!$strOpt.equals("SGMAP"))
			<column  type="ch" width="75" align="center" sort="na">Remove</column>
		#end
		<column  type="ro" width="140" align="left" sort="str">$strLabel Name</column>

		<column  type="ro" width="225" align="left" sort="str">$strLabel Desc</column>
		
		#if($strGrpType.equals("92262"))
			<column  type="ro" width="90" align="left" sort="str">$strLabel Type</column>						
		#end
		
		<column  type="coro" width="76" align="center" sort="na">Access

                #foreach($hmStatusMap in $alStatus)
                <option value="$hmStatusMap.CODENMALT">$esc.xml($hmStatusMap.CODENM)</option>
                #end

		</column>
		--Changed the name of the column to show as Access. Based on the grpType column will be hidden in Javascript
		<column  type="coro" width="76" align="center" sort="na">Access

                #foreach($hmStatusMap in $alStatus)
                <option value="$hmStatusMap.CODENMALT">$esc.xml($hmStatusMap.CODENM)</option>
                #end

		</column>
		--Hidden the void access column
		<column  type="coro" width="76" align="center" hidden="true" sort="na">Void Access

                #foreach($hmStatusMap in $alStatus)
						<option value="$hmStatusMap.CODENMALT">$esc.xml($hmStatusMap.CODENM)</option>						
                #end

		</column>

		<column  type=\'$rtype\' width="80" align="right">Sequence</column>

		<column  type="ro" width="18" align="left"></column>		
        <column  type="ro" width="150" align="left" sort="str"> Module</column>
		<column  type="ro" width="100" align="left" sort="str"> Created By</column>
		
		<column  type="ro" width="*" align="center" sort="date">Created Date</column>
		

		
	</head>
	
	#foreach($hmDetails in $alResult)

	<row id="$count">

	#set($count=$count+1)

		<userdata name="hfunctionId">$esc.xml($hmDetails.FID)</userdata>
		<userdata name="haccessId">$esc.xml($hmDetails.ACCESSID)</userdata>
		<userdata name="hgroupId">$esc.xml($hmDetails.GROUPID)</userdata>
		<userdata name="hseqNo">$esc.xml($hmDetails.SEQNO)</userdata>
		<userdata name="hrowSts"></userdata>		
		#if(!$strOpt.equals("SGMAP"))
			<cell></cell>
		#end
		#if( $ftype =='User Access' && $hmDetails.UGSTATUS =='G' )
			<cell><![CDATA[ 
						<a href="#" onclick="fnUserLookup(\'$hmDetails.GROUPID\',\'$strGrpType\');">$hmDetails.GROUPNM</a>
				 ]]>
			</cell>
		#else
			<cell>$esc.xml($hmDetails.GROUPNM)</cell>
		#end
		<cell>$esc.xml($hmDetails.GROUPDESC)</cell>		
		#if($strGrpType.equals("92262"))
			<cell>$esc.xml($hmDetails.TASKTYPE)</cell>
		#end
		#set($strRead=$hmDetails.READFL)
		#set($strUpdate=$hmDetails.UPDATEFL)
		#set($strVoid=$hmDetails.VOIDFL)
		
        <cell>#if($strRead.equals("")) 
					N
				#else
					$strRead
				#end
		</cell>
		<cell>#if($strUpdate.equals("")) 
					N
				#else
					$strUpdate
		      #end
		</cell>
		<cell>#if($strVoid.equals("")) 
					N
			  #else
					$strVoid
			  #end
		</cell>


		
		#if( $ftype =='92262'|| $strGrpType.equals("TSMD") )

		<cell>$esc.xml($hmDetails.SEQNO)</cell>
		<cell>
		<![CDATA[<a href="#" onClick="return fnlookup(\'$hmDetails.GROUPID\',\'$count\',\'$hmDetails.GROUPNM\');">
		<img src="/images/L.jpg" height="12" width="10" alt="Sequence Lookup" border="0"></a>]]></cell>
		#else

		<cell type="ro"></cell>
		<cell type="ro"></cell>

		#end
		
		<cell>#if($hmDetails.MODULE) 
		      $esc.xml($hmDetails.MODULE)
        #end</cell>
		 
		<cell>#if($hmDetails.CREATBY) 
		      $esc.xml($hmDetails.CREATBY)#end</cell>

		<cell>#if($hmDetails.CREATEDT) 
			$date.format($hmSeqStatus.SESSDATEFMT,$hmDetails.CREATEDT)
		      #end</cell>
	</row>
	#end
	
</rows>



