
/* 3.1 Dashboard
------------------------------------------------------------------------------*/
.dashboard-widget {
	width: 420px;
	float: left;
	margin-right: 34px;
	margin-bottom: 22px;
	padding: 18px 18px 20px 15px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	height: 205px;
	position: relative;
	behavior: url(_ui/js/PIE.htc);
}

.dashboard-widget.last-child {
	margin-right: 0;
}

.dashboard-widget h2 {
	background-color: #FFFFFF;
	color: #0053A9;
	font-size: 13px;
	font-weight: bold;
	left: 10px;
	padding: 0 8px;
	position: absolute;
	top: -8px;
}

.dashboard-widget-content {
	padding: 3px 0 0 7px;
	font-size: 13px;
}

.dashboard-widget-content table td {
	padding: 11px 0 8px;
}

.dashboard-widget-content table .label {
	width: 365px;
}

.dashboard-widget-content table .value {
	text-align: right;
	color: #0053a9;
	width: 40px;
}