
/* 3.2 General
------------------------------------------------------------------------------*/
.widget-row {
	margin-bottom: 25px;
}

.widget-row.last {
	margin-bottom: 15px;
}

.widget {
	padding: 25px 18px 19px 19px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	position: relative;
	float: left;
	margin-right: 30px;
	behavior: url(_ui/js/PIE.htc);
}

.widget h2 {
	background-color: #FFFFFF;
	color: #0053A9;
	font-size: 13px;
	font-weight: bold;
	left: 10px;
	padding: 0 8px;
	position: absolute;
	top: -8px;
}

.widget.last-child {
	margin-right: 0;
}

.widget.small {
	width: 255px;
}

.widget.small.last-child {
	width: 254px;
	margin-right: 0;
}

.widget fieldset {
}

.widget fieldset legend {
}

.widget.medium {
	width: 580px;
}

.widget.large {
	width: 904px;
	margin-right: 0;
}

.widget.half {
	width: 417px;
}

.champ {
	width: 243px;
	height: 26px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	padding: 0 0 0 10px;
}

#personal-case-notes {
	border: 1px solid #D1D1D1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	height: 65px;
	margin-top: 3px;
	width: 903px;
}

.checks-row {
	margin-bottom: 13px;
}

.checks-row.last-child {
	margin: 0;
}

.check-container {
	width: 185px;
	float: left;
	margin-right: 10px;
	font-size: 13px;
}

.check-container.last-child {
	margin-right: 0;
}

.checks-row input[type="checkbox"] {
	margin-right: 9px;
}

.accounts li {
	margin-bottom: 15px;
}

.accounts li.last-child {
	margin-bottom: 0;
}

.accounts input[type="radio"] {
	margin-right: 9px;
}

#number-of-levels, #case-status {
	width: 416px;
	height: 26px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	line-height: 26px;
}

#number-of-levels {
	text-align: center;
	margin-right: 0;
}

#surgery-time-widget {
	padding-right: 0;
	width: 275px;
}

#surgery-time-widget .custom-select {
	width: 73px;
	margin-right: 12px;
	display: inline-block;
}

#survey-date {
	width: 213px;
	margin-top: 5px;
	height: 28px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
}

.ui-datepicker-trigger {
	vertical-align: bottom;
	cursor: pointer;
}

.number-of-levels-widget .ui-spinner-down {
	left: 1px;
	top: 2px;
}

.number-of-levels-widget .ui-spinner-up {
	left: 388px;
	top: 2px;
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	.number-of-levels-widget .ui-spinner-up {
		left: 389px;
	}
	
	#number-of-levels, #case-status {
		height: 23px;
		width: 405px;
	}
}