/*******************************************************************************

	CSS on Sails Framework
	Internet Explorer 7 & Under stylesheet
	Author: XHTMLized (http://www.xhtmlized.com/)

*******************************************************************************/


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

.button {
    -pie-background: linear-gradient(#fe9397, #e7232c);
	behavior: url(_ui/js/PIE.htc);
}

.button-link {
    -pie-background: linear-gradient(#fe9397, #e7232c);
	behavior: url(_ui/js/PIE.htc);
}

.button-link.btn-previous {
    -pie-background: linear-gradient(#c5c5c5, #9e9e9e);
	behavior: url(_ui/js/PIE.htc);
}

/* Clearfix */
.clearfix { zoom: 1; }


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/
#where-am-i	 li .count {
    -pie-background: linear-gradient(#fff, #ccc);
    behavior: url(_ui/js/PIE.htc);
}

#where-am-i	 li .count.current {
    -pie-background: linear-gradient(#fe9397, #e7232c);
    behavior: url(_ui/js/PIE.htc);
}

/* 2.3 Navigation
------------------------------------------------------------------------------*/
#navigation a {
	behavior: url(_ui/js/PIE.htc);
}

#navigation-expanded {
	behavior: url(_ui/js/PIE.htc);
}

#navigation-expanded .navigation-bottom {
	-pie-background: linear-gradient(#fff, #f8f8f8);
	behavior: url(_ui/js/PIE.htc);
}

/* 2.4 Content
------------------------------------------------------------------------------*/
.table thead td {
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}


/* 3.1 Dashboard
------------------------------------------------------------------------------*/
.dashboard-widget {
	behavior: url(_ui/js/PIE.htc);
}


/* 3.2 General
------------------------------------------------------------------------------*/
.number-of-levels-widget .ui-spinner-up {
	left: 390px;
}

.widget {
	behavior: url(_ui/js/PIE.htc);
}


/* 3.3 Login
------------------------------------------------------------------------------*/
#login-box {
	behavior: url(_ui/js/PIE.htc);
}

/* 3.4 Selection
------------------------------------------------------------------------------*/
.selection-container {
	behavior: url(_ui/js/PIE.htc);
}

.selection-spinner .ui-spinner-up, .selection-spinner .ui-spinner-down {
	top: -7px;
}

.selection-spinner .ui-spinner-down {
	left: -1px;
}

.selection-spinner .ui-spinner-up {
	left: 77px;
}

.table tbody td .spinner .qty {
	height: 25px;
}


/* 3.5 Summary
------------------------------------------------------------------------------*/
.summary-widget h2 {
    -pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.summary-widget .table thead th {
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.btn-more, .btn-edit {
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.modal {
	behavior: url(_ui/js/PIE.htc);
}