
/* 3.3 Login
------------------------------------------------------------------------------*/
#login-container {
	background: transparent url(../images/login/bg_login.jpg) no-repeat scroll 0 0;
	width: 904px;
	height: 550px;
	margin: 40px 0 0 0;
	padding: 60px 0 0 40px;
}

#login-box {
	padding: 25px 19px;
	width: 256px;
	height: 292px;
	background-color: #fff;
	border-radius: 10px;
}

#login-box h1 {
	text-indent: -999px;
	background: transparent url(../images/common/logo_login.jpg) no-repeat scroll 0 0;
	width: 125px;
	height: 55px;
}

#login-box h2 {
	font-size: 17px;
	color: #084482;
	margin: 16px 0 0 0;
}

#login-box ul {
	margin-top: 18px;
}

#login-box li {
	margin-bottom: 18px;
}

#login-box label {
	display: block;
	color: #222222;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 9px;
}

#login-box input[type="text"], #login-box input[type="password"] {
	width: 233px;
	height: 25px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	padding: 0 10px;
}