/*******************************************************************************

	CSS on Sails Framework
	Title: Case and Set Management Phase 2
	Author: XHTMLized (http://www.xhtmlized.com/)
	Date: November 2011

********************************************************************************

	1. BASE
		1.1 Reset
		1.2 Accessibility Navigation & Hide
		1.3 Clearfix
		1.4 Default Styles

	2. COMMON
		2.1 Container
		2.2 Header
		2.3 Navigation
		2.4 Content
		2.5 Sidebar
		2.6 Footer

	3. PAGES
		3.1 Dashboard
		3.2 General
		3.3 Login
		3.4 Selection
		3.5 Summary

	4. MOBILE
	5. PRINT

*******************************************************************************/


/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset
------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 1.2 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

#accessibility-nav, 
.hide {
	position: absolute;
	top: -999em;
	left: -999em;
	height: 1px;
	width: 1px;
}


/* 1.3 Clearfix
------------------------------------------------------------------------------*/

.clearfix:after, .widget-row:after, .pagination:after, .checks-row:after, 
.summary-widget-row:after, .general-info-row:after, .code-details-row:after,
#header .inner:after, .dashboard-widgets:after, .ship-data:after, .dashboard-widget-content ul li:after  {
	content: ".";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
}


/* 1.4 Default Styles
------------------------------------------------------------------------------*/

body {
	font: 75%/1.25 Arial, Helvetica, sans-serif;
	color: #444;
}

hr {
	display: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

input, textarea, select {
	font-family: Helvetica;
}

textarea {
	 overflow: auto;
}

a, a:visited {
	text-decoration: none;
	color: #00f;
	
}

a:hover, a:active, a:focus {
	text-decoration: underline;
	color: #f00;
}

.last-child {
	margin-right: 0;
}


/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/
.right {
	text-align: right;
}

.center {
	text-align: center;
}

.button {
    zoom: 1;
    position: relative;
	border-radius: 10px;
	border: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 23px 10px;
	background: -moz-linear-gradient(center top , #fe9397, #e7232c) repeat scroll 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fe9397), to(#e7232c)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent;
	background: -ms-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
}

.button span{
    display: inline-block;
	background: transparent url(../images/common/ico_arrow.png) no-repeat scroll 0 0;
	width: 9px;
	height: 9px;
	margin: 0 0 0 5px;
}

.button-link {
	border-radius: 10px;
	border: 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	padding: 16px 30px;
	background: -moz-linear-gradient(center top , #fe9397, #e7232c) repeat scroll 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fe9397), to(#e7232c)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent;
}

.button-link:hover {
	text-decoration: none;
}

.button-link span {
	color: #fff;
}

.button-link.btn-previous {
	background: -moz-linear-gradient(center top , #c5c5c5, #9e9e9e) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c5), to(#9e9e9e)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #c5c5c5, #9e9e9e) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #c5c5c5, #9e9e9e) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #c5c5c5, #9e9e9e) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #c5c5c5, #9e9e9e) repeat scroll 0 0 transparent;
}

.btn-previous {
	float: left;
}

.btn-previous span {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll -2px -481px;
	padding: 0 0 0 18px;
}

.btn-next {
	float: right;
}

.btn-next span {
	background: transparent url(../images/common/ico_arrow.png) no-repeat scroll right center;
	display: inline-block;
	padding: 2px 20px 0 0;
}

.even {
	background-color: #f8f8f8;
}

/* Custom select */
.custom-select { 
	border: 1px solid #d1d1d1;
	font-size: 13px;
	margin: 3px 0 2px 0;
    padding: 0;
	position: relative;
	z-index: 100;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	width: 252px;
}

.custom-select a.current-selected { 
	display: block; 
	cursor: pointer; 
	padding: 0 40px 0 10px; 
	height: 26px; 
	line-height: 26px; 
	color: #000; 
	text-decoration: none; 
	background: url(../images/common/sprite_icons.png) no-repeat scroll right -1488px transparent; 
}

.custom-select .custom-select-wrapper { 
	position: absolute; 
	left: -999em; 
	z-index: 100; 
}

.custom-select .bottom { 
	width: 252px; 
	height: 0; 
	line-height: 0; 
	font-size: 0; 
}

.custom-select.open .custom-select-wrapper { 
	left: auto; 
	background: #fff; 
	border: 1px solid #bfbfbf; 
	margin-left: -1px;
}

.custom-select ul { 
	padding: 0; 
	list-style: none; 
	margin: 0; 
}

.custom-select ul li { 
	margin: 0; 
	float: none; 
	line-height: 1.09; 
	padding: 5px 0; 
	border-bottom: 1px solid #efefef; 
}

.custom-select ul li a { 
	display: block; 
	padding: 3px 10px; 
	color: #000; 
	text-decoration: none; 
}

/* Custom select */
a.checkbox {
	background: #fff url(../images/common/sprite_icons.png) no-repeat scroll 2px -681px;
	display: inline-block; 
	width: 16px; 
	height: 16px; 
	margin-right: 7px; 
}

a.checkbox-checked {
	background: #fff url(../images/common/sprite_icons.png) no-repeat scroll 2px -745px;
}

/* Custom checkbox and radio inputs */
a.radio {
	background: #fff url(../images/common/sprite_icons.png) no-repeat scroll 0 -1357px;
	display: inline-block; 
	width: 15px; 
	height: 15px; 
	margin-right:9px; 
}

a.radio-checked { 
	background: #fff url(../images/common/sprite_icons.png) no-repeat scroll 0 -1422px;
}

label {
	vertical-align: top;
}

.ui-spinner-buttons {
	position: absolute;
	border-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: none;
	border: 0;
}

.ui-spinner-down, .ui-spinner-up {
	position: absolute;
	left: 0;
	top: 0;
	width: 29px;
	height: 28px;
	border: 0;
	border-radius: 0;
	background: none;
	cursor: pointer;
}

.ui-spinner-up.ui-state-default .ui-icon {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -1280px;
}

.ui-spinner-down.ui-state-default .ui-icon {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -1076px;
}

.ui-spinner-buttons .ui-icon {
	width: 29px;
	height: 28px;
	display: block;
}

.spinner {
	position: relative;
}

/* 2.1 Container
------------------------------------------------------------------------------*/

.container {
	position: relative;
	width: 944px;
	margin: 0 auto;
	font-family: Helvetica;
}


/* 2.2 Header
------------------------------------------------------------------------------*/

#header {
	background: #fff url(../images/common/bg_app.png) repeat-x scroll 0 0;
	width: 100%;
	height: 82px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 65px;
}

#header .site-name,
#header .site-name span {
	display: block;
	overflow: hidden;
	width: 122px;
	height: 44px;
}

#header .site-name {
	position: relative;
	text-indent: -9999px;
	float: left;
	width: 122px;
}

#header .site-name span {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: url(../images/common/logo.png) no-repeat;
}

#header a.site-name span {
	cursor: pointer;
}

#header .inner {
	margin: 0 auto;
	width: 944px;
	padding: 20px 0 0 0;
	position: relative;
}

#header .inner p {
	float: right;
	font-size: 13px;
	margin-top: 6px;
	width: 440px;
}

#header .inner p span, #header .inner p a {
	font-weight: bold;
	color: #0053a9;
	text-decoration: none;
}

#header .inner .logout {
	float: right;
	margin-right: 2px;
	padding-right: 9px;
	position: relative;
}

#header .inner .logout span {
	border-color: transparent transparent transparent #0053A9;
	border-style: solid;
	border-width: 3px;
	display: block;
	height: 0;
	left: 51px;
	position: absolute;
	top: 5px;
	width: 0;
}

.no-where-am-i #where-am-i {
    display: none;
}

#where-am-i {
	padding: 0 10px;
	width: 364px;
	height: 27px;
	position: absolute;
	right: -14px;
	top: 73px;
	font-size: 13px;
	background-color: #fff;
}

#where-am-i	 li {
	display: inline-block;
	margin-right: 5px;
	width: 123px;
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -538px;
}

#where-am-i	 li.general {
	background-position: 95px -538px;
}

#where-am-i	 li.selection {
	background-position: 100px -538px;
	width: 128px;
}

#where-am-i	 li.summary {
	margin-right: 0;
	background: none;
	width: 95px;
}

#where-am-i	 li .count {
	background: -moz-linear-gradient(center top , #fff, #ccc) repeat scroll 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #fff, #ccc) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #fff, #ccc) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #fff, #ccc) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #fff, #ccc) repeat scroll 0 0 transparent;
	border: 1px solid #E2E2E2;
	border-radius: 14px;
	color: #222222;
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
	padding: 4px 9px;
	position: relative;
}

#where-am-i	 li .count.current {
	background: -moz-linear-gradient(center top , #fe9397, #e7232c) repeat scroll 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fe9397), to(#e7232c)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #fe9397, #e7232c) repeat scroll 0 0 transparent;
	color: #fff;
	border: 1px solid #ed373f;
}

/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation {
	clear: both;
	position: absolute;
	font-weight: bold;
	top: 82px;
}

#navigation a {
	display: block;		
	border-radius: 0 0 10px 10px;
	border: 1px solid #e3e3e3;
	background-color: #fff;
	padding: 11px 21px 15px;
	width: 52px;
	border-top: 0;
	position: relative;
	color: #222222;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation a span {
	border-color: #222222 transparent transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	left: 65px;
	position: absolute;
	top: 15px;
	width: 0;
}

#navigation-expanded {
	clear: both;
	position: absolute;
	font-weight: bold;
	top: 82px;
	width: 327px;
	height: 578px;
	background-color: #fff;
	z-index: 9999;
	border: 1px solid #d1d1d1;
	border-top: 0;
	border-radius: 0 0 10px 10px;
}

#navigation-expanded .navigation-bottom {
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 13px;
	color: #222;
	padding: 20px 15px 20px 20px;
	text-transform: uppercase;
	text-decoration: none;
	background: -moz-linear-gradient(center top , #fff, #f8f8f8) repeat scroll 0 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f8f8f8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #fff, #f8f8f8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #fff, #f8f8f8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #fff, #f8f8f8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #fff, #f8f8f8) repeat scroll 0 0 transparent;
	border-radius: 0 0 10px 10px;
	border-top: 1px solid #d1d1d1;
}

#navigation-expanded .navigation-bottom span {
	border-color: transparent transparent #222222;
	border-style: solid;
	border-width: 6px;
	height: 0;
	left: 295px;
	position: absolute;
	top: 21px;
	width: 0;
}

.navigation-tree {
	height: 521px;
	width: 327px;
}

#navigation-tree .jspPane > ul {
	margin-top: 12px;
	padding-left: 15px;
}

#navigation-tree, .jstree-default.jstree-focused {
	background-color: #fff;
}

#navigation-tree a {
	font-size: 13px;
	color: #222;
	font-weight: normal;
	line-height: 17px; 
	height: 20px;
	padding-left: 10px;
}

#navigation-tree a ins {
	height: 45px; 
	width: 45px; 
	background-position: -56px -17px; 
} 

#navigation-tree.jstree-default .jstree-closed > ins {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -357px;
	width: 15px;
	height: 15px;
}

#navigation-tree.jstree-default .jstree-open > ins {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -292px;
	width: 15px;
	height: 15px;
}

#navigation-tree.jstree-default .jspPane > ul > li {
	background: none;
}

#navigation-tree.jstree-default .jspPane > ul > li > ul > li {
	background-image: url(../images/common/ico_dot_vertical.jpg);
	background-position: 4px 0;
}

#navigation-tree.jstree-default .jspPane li.jstree-last {
	background: none repeat scroll 0 0 transparent;
}

#navigation-tree.jstree-default .jstree-leaf > ins {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 4px -819px;
}

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ccc;
	border-right: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: #fff;
	position: relative;
	margin-top: -5px;
}

.jspDrag {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -79px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #fff;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

#navigation-tree .jspArrowUp {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -213px;
	width: 28px;
	height: 29px;
	padding: 0;
}

#navigation-tree .jspArrowDown {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 0;
	width: 28px;
	height: 29px;
	padding: 0;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

/* 2.4 Content
------------------------------------------------------------------------------*/

#content {
	width: 944px;
}

#content p {
	font-size: 13px;
}

#content h1 {
	font-size: 13px;
	color: #0053a9;
	font-weight: bold;
	padding-top: 2px;
	margin-bottom: 10px;
}

.table {
	border: 1px solid #d1d1d1;
	width: 905px;
	margin: 19px 0 3px 5px;
}

.table th, .table thead {
	font-size: 13px;
	font-weight: bold;
	color: #222;
}

.table th, .table thead td {
	padding: 19px 0 13px 20px;
	border-bottom: 1px solid #d1d1d1;
}

.table thead td {
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	position: relative;
}

.table tbody td {
	padding: 18px 0 9px 22px;
	border-bottom: 1px solid #d1d1d1;
}

.table tbody td input[type="text"] {
	border: 1px solid #D1D1D1;
	height: 26px;
	margin-left: -2px;
	margin-top: -8px;
	width: 105px;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* 2.5 Sidebar
------------------------------------------------------------------------------*/

#sidebar {
	float: left;
	width: 200px;
}


/* 2.6 Footer
------------------------------------------------------------------------------*/

#footer {
	clear: both;
}


/* 3. PAGES
--------------------------------------------------------------------------------
==============================================================================*/


/* 3.1 Dashboard
------------------------------------------------------------------------------*/
.dashboard-widget {
	width: 420px;
	float: left;
	margin-right: 34px;
	margin-bottom: 22px;
	padding: 18px 18px 20px 15px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	height: 205px;
	position: relative;
}

.dashboard-widget.last-child {
	margin-right: 0;
}

.dashboard-widget h2 {
	background-color: #FFFFFF;
	color: #0053A9;
	font-size: 13px;
	font-weight: bold;
	left: 10px;
	padding: 0 8px;
	position: absolute;
	top: -8px;
}

.dashboard-widget-content {
	padding: 3px 0 0 7px;
	font-size: 13px;
}

.dashboard-widget-content table td, .dashboard-widget-content ul li {
	padding: 11px 0 8px;
}

.dashboard-widget-content table .label, .dashboard-widget-content ul li p.label {
	width: 370px;
	float: left;
}

.dashboard-widget-content table .value, .dashboard-widget-content ul li p.value {
	text-align: right;
	color: #0053a9;
	width: 40px;
	float: right;
}


/* 3.2 General
------------------------------------------------------------------------------*/
.widget-row {
	margin-bottom: 25px;
}

.widget-row.last {
	margin-bottom: 15px;
}

.widget {
	padding: 25px 18px 19px 19px;
	border-radius: 10px;
	border: 1px solid #d1d1d1;
	position: relative;
	float: left;
	margin-right: 30px;
}

.widget h2 {
	background-color: #FFFFFF;
	color: #0053A9;
	font-size: 13px;
	font-weight: bold;
	left: 10px;
	padding: 0 8px;
	position: absolute;
	top: -8px;
}

.widget.last-child {
	margin-right: 0;
}

.widget.small {
	width: 255px;
}

.widget.small.last-child {
	width: 254px;
	margin-right: 0;
}

.widget fieldset {
}

.widget fieldset legend {
}

.widget.medium {
	width: 580px;
}

.widget.large {
	width: 904px;
	margin-right: 0;
}

.widget.half {
	width: 417px;
}

.champ {
	width: 243px;
	height: 26px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	padding: 0 0 0 10px;
}

#personal-case-notes {
	border: 1px solid #D1D1D1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	height: 65px;
	margin-top: 3px;
	width: 903px;
}

.checks-row {
	margin-bottom: 13px;
}

.checks-row.last-child {
	margin: 0;
}

.check-container {
	width: 185px;
	float: left;
	margin-right: 10px;
	font-size: 13px;
}

.check-container.last-child {
	margin-right: 0;
}

.checks-row input[type="checkbox"] {
	margin-right: 9px;
}

.accounts li {
	margin-bottom: 15px;
}

.accounts li.last-child {
	margin-bottom: 0;
}

.accounts input[type="radio"] {
	margin-right: 9px;
}

#number-of-levels, #case-status {
	width: 416px;
	height: 26px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	line-height: 26px;
}

#number-of-levels {
	text-align: center;
	margin-right: 0;
}

#surgery-time-widget {
	padding-right: 0;
	width: 275px;
	z-index: 999;
}

#surgery-time-widget .custom-select {
	width: 73px;
	margin-right: 12px;
	display: inline-block;
}

#survey-date {
	width: 213px;
	margin-top: 5px;
	height: 28px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-top-right-radius: 0;
}

.ui-datepicker-trigger {
	vertical-align: bottom;
	cursor: pointer;
}

#ui-datepicker-div {
    z-index: 99999 !important;
}

.number-of-levels-widget .ui-spinner-down {
	left: 1px;
	top: 2px;
}

.number-of-levels-widget .ui-spinner-up {
	left: 388px;
	top: 2px;
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	.number-of-levels-widget .ui-spinner-up {
		left: 389px;
	}
	
	#number-of-levels, #case-status {
		height: 23px;
		width: 405px;
	}
}


/* 3.3 Login
------------------------------------------------------------------------------*/
.shownotice {
	width: 944px;
	padding: 20px 10px 0px 10px;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	margin: 0 auto;
	font-family: Helvetica;
	height: 0px;
}

#login-container {
	background: transparent url(../images/login/bg_login.jpg) no-repeat scroll 0 0;
	width: 904px;
	height: 550px;
	margin: 40px 0 0 0;
	padding: 60px 0 0 40px;
}

#login-box {
    position: relative;
	padding: 25px 19px;
	width: 256px;
	height: 392px;
	background-color: #fff;
	border-radius: 10px;
}

#login-box h1 {
	text-indent: -999px;
	background: transparent url(../images/common/logo_login.jpg) no-repeat scroll 0 0;
	width: 125px;
	height: 55px;
}

#login-box h2 {
	font-size: 17px;
	color: #084482;
	margin: 16px 0 0 0;
}

#login-box ul {
	margin-top: 18px;
}

#login-box li {
	margin-bottom: 18px;
}

#login-box label {
	display: block;
	color: #222222;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 9px;
}

#login-box input[type="text"], #login-box input[type="password"] {
	width: 233px;
	height: 25px;
	border: 1px solid #d1d1d1;
	box-shadow: 1px 1px 1px #E5E5E5 inset;
	font-size: 13px;
	padding: 0 10px;
}

#content .buildinfo{
	color: grey;
	font-size: 8px;
	font: 75%/1.25 Arial;
	}
.buildinfo span{
	float:right;
}

/* 3.4 Selection
------------------------------------------------------------------------------*/
.selection-container {
	border: 1px solid #E1E1E1;
	border-radius: 10px 10px 10px 10px;
	margin: 8px 0 10px;
	padding: 18px 21px 17px 13px;
}

.selection-container.last-child {
	margin-bottom: 76px;
}

.selection-container .table {
    display: none;
}

.selection-container .table th.number {
    width: 38px;
}

.selection-container .table th.set-id {
    width: 92px;
}

.selection-container .table th.set-name {
    width: 260px;
}

.selection-container .table th.type {
    width: 140px;
}

.selection-container .table th.quantity {
    width: 145px;
}

.selection-container input[type="checkbox"] {
	margin-right: 12px;
}

.selection-container label {
	font-size: 13px;
	font-weight: bold;
	color: #0053a9;
}

.qty {
	text-align: center;
	font-size: 13px;
	line-height: 26px;
}

.selection-spinner .ui-spinner-down {
	left: 0px;
	top: -6px;
}

.selection-spinner .ui-spinner-up {
	top: -6px;
	left: 75px;
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	.table tbody td .spinner .qty {
		height: 23px;
	}
	
	.selection-spinner .ui-spinner-down {
		left: -1px;
	}
	
	.selection-spinner .ui-spinner-up {
		left: 87px;
	}
}


/* 3.5 Summary
------------------------------------------------------------------------------*/
.summary-widget-row {
	margin-left: -2px;
	margin-top: 25px;
}

.summary-widget-row.last {
	margin: 30px 0;
}

.summary-widget {
	float: left;
	margin-right: 30px;
	border: 1px solid #d1d1d1;
	border-bottom: 0;
}

.summary-widget.last-child {
	margin-right: 0;
}

.summary-widget h2 {
	color: #0053a9;
	font-weight: bold;
	font-size: 13px;
	padding: 17px 15px 15px 14px;
	border-bottom: 1px solid #d1d1d1;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
}

.summary-widget.small {
	width: 393px;
} 

.summary-widget.medium {
	width: 518px;
}

.summary-widget.full {
	margin-left: -2px;
	width: 943px;
}

.general-info-row, .code-details-row {
	border-bottom: 1px solid #d1d1d1;
}

.general-info-row p, .code-details-row p {
	padding: 17px 15px 16px;
	float: left;
}

.general-info-row p.left {
	width: 245px;
}

.general-info-row p.right {
	float: right;
	text-align: left;
	width: 213px;
}

.code-details-row p.left {
	width: 148px;
}

.code-details-row p.right {
	float: right;
	text-align: left;
	width: 185px;
}

.summary-widget .table {
	margin: 0;
	width: 944px;
	border: 0;
	border-right: 1px solid #d1d1d1;
}

.summary-widget .table th.set-id {
    width: 62px;
}

.summary-widget .table th.set-name {
    width: 107px;
}

.summary-widget .table th.set-allocated {
    width: 82px;
}

.summary-widget .table th.tag-id {
    width: 76px;
}

.summary-widget .table th.set-lock-from {
    width: 70px;
}

.summary-widget .table th.period-to {
    width: 72px;
}

.summary-widget .table th.current-location {
    width: 144px;
}

.summary-widget .table th.status {
    width: 80px;
}

.summary-widget .table th.more {
    width: 45px;
}

.summary-widget .table th.edit {
    width: 55px;
}

#absolute-header {
	display: block;
	position: relative;
	left: -25px;
}

.summary-widget .table thead th {
	position: relative;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
}

.summary-widget .table th, .summary-widget .table thead td {
	padding: 19px 0 16px 15px;
	vertical-align: bottom;
}

.summary-widget .table tbody td {
	padding: 17px 7px 13px 15px;
	color: #424141;
}

.summary-widget .table a {
	text-decoration: underline;
	color: #424141;
}

#content .summary-widget .table p {
	font-size: 12px;
}

p.tel, p.email {
	margin-top: 6px;
	padding-left: 19px;
}

#content .summary-widget .table p a {
	text-decoration: none;
}

.tel {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 1px -1215px;
}

.email {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -1014px;
}

.btn-more, .btn-edit {
	width: 28px;
	height: 28px;
	text-indent: -99999px;
	display: block;
	margin-top: 3px;
	border: 1px solid #d1d1d1;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
}

.btn-more span, .btn-edit span {
	display: block;
	width: 30px;
	height: 30px;
}

.btn-more span {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 8px -1144px;
}

.btn-edit span {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 8px -946px;
}

.modal {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 50px;
	width: 400px;
	font-size: 13px;
	color: #222;
}

.modal a {
	color: #222;
	text-decoration: none;
}

.modal .close {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -20px;
	left: -20px;
	background: transparent url(../images/summary/btn_close.png) no-repeat scroll 0 0;
	cursor: pointer;
}

.modal-scroll {
    height: 500px;
    width: 430px;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-content-scrollbarV {
	position: absolute;
	z-index: 100;
	width: 8px;
	bottom: 7px;
	top: 10px;
	right: 10px;
}

.modal-content-scrollbarV > div {
	position: absolute;
	z-index: 100;
	width: 100%;

	/* The following is probably what you want to customize */
	background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#000), to(#000));
	background-image: -moz-linear-gradient(top, #000, #000);
	background-image: -o-linear-gradient(top, #000, #000);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	-o-background-clip: padding-box;
	background-clip: padding-box;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	-o-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.5);
}


.modal table {
	width: 400px;
}

.modal tr {
	border-bottom: 1px solid #ccc;
}

.modal tr.last {
	border: 0;
}

.modal td {
	padding: 15px 0;
}

.modal p {
	margin-bottom: 2.5px;
}

.modal .ship-details {
	float: left;
	width: 205px;
	margin-bottom: 22px;
}

.modal .ship-details.last-child {
	margin-bottom: 0;
}

.modal .ship-actions {
	float: right;
	width: 30px;
	height: 30px;
}


/* 4. MOBILE
--------------------------------------------------------------------------------
==============================================================================*/


@media screen and (max-device-width: 480px) {
} 



/* 5. PRINT
--------------------------------------------------------------------------------
==============================================================================*/


@media print {

	body { 
		font: normal normal 12pt/1.5em "Times New Roman", Times, serif; 
	}

	a[href]:after { 
		content: " (" attr(href) ") "; 
		font-size: 90%; 
	}

	a[href^="/"]:after { 
		content: " (http://domain.com" attr(href) ") "; 
	}

	ol#accessibility-nav, 
	.hide { 
		display: none !important; 
	}
}	