
/* 3.4 Selection
------------------------------------------------------------------------------*/
.selection-spinner .ui-spinner-up, .selection-spinner .ui-spinner-down {
	top: -7px;
}

.selection-spinner .ui-spinner-down {
	left: -1px;
}

.selection-spinner .ui-spinner-up {
	left: 77px;
}

.table tbody td .spinner .qty {
	height: 25px;
}