
/* 3.4 Selection
------------------------------------------------------------------------------*/
.selection-container {
	border: 1px solid #E1E1E1;
	border-radius: 10px 10px 10px 10px;
	margin: 8px 0 10px;
	padding: 18px 21px 17px 13px;
	behavior: url(_ui/js/PIE.htc);
}

.selection-container.last-child {
	margin-bottom: 76px;
}

.selection-container input[type="checkbox"] {
	margin-right: 12px;
}

.selection-container label {
	font-size: 13px;
	font-weight: bold;
	color: #0053a9;
}

.qty {
	text-align: center;
	font-size: 13px;
	line-height: 26px;
}

.selection-spinner .ui-spinner-down {
	left: 0px;
	top: -6px;
}

.selection-spinner .ui-spinner-up {
	top: -6px;
	left: 75px;
}

@media only screen and (device-width: 768px) {
	/* For general iPad layouts */
	.table tbody td .spinner .qty {
		height: 23px;
	}
	
	.selection-spinner .ui-spinner-down {
		left: -1px;
	}
	
	.selection-spinner .ui-spinner-up {
		left: 87px;
	}
}