
/* 3.5 Summary
------------------------------------------------------------------------------*/
.summary-widget-row {
	margin-left: -2px;
	margin-top: 25px;
}

.summary-widget-row.last {
	margin: 30px 0;
}

.summary-widget {
	float: left;
	margin-right: 30px;
	border: 1px solid #d1d1d1;
	border-bottom: 0;
}

.summary-widget.last-child {
	margin-right: 0;
}

.summary-widget h2 {
	color: #0053a9;
	font-weight: bold;
	font-size: 13px;
	padding: 17px 15px 15px 14px;
	border-bottom: 1px solid #d1d1d1;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.summary-widget.small {
	width: 393px;
} 

.summary-widget.medium {
	width: 518px;
}

.summary-widget.full {
	margin-left: -2px;
	width: 943px;
}

.general-info-row, .code-details-row {
	border-bottom: 1px solid #d1d1d1;
}

.general-info-row p, .code-details-row p {
	padding: 17px 15px 16px;
	float: left;
}

.general-info-row p.left {
	width: 245px;
}

.general-info-row p.right {
	float: right;
	text-align: left;
	width: 213px;
}

.code-details-row p.left {
	width: 148px;
}

.code-details-row p.right {
	float: right;
	text-align: left;
	width: 185px;
}

.summary-widget .table {
	margin: 0;
	width: 944px;
	border: 0;
	border-right: 1px solid #d1d1d1;
}

#absolute-header {
	display: block;
	position: relative;
	left: -25px;
}

.summary-widget .table thead th {
	position: relative;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.summary-widget .table th, .summary-widget .table thead td {
	padding: 19px 0 16px 15px;
	vertical-align: bottom;
}

.summary-widget .table tbody td {
	padding: 17px 7px 13px 15px;
	color: #424141;
}

.summary-widget .table a {
	text-decoration: underline;
	color: #424141;
}

#content .summary-widget .table p {
	font-size: 12px;
}

p.tel, p.email {
	margin-top: 6px;
	padding-left: 19px;
}

#content .summary-widget .table p a {
	text-decoration: none;
}

.tel {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 1px -1215px;
}

.email {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 0 -1014px;
}

.btn-more, .btn-edit {
	width: 28px;
	height: 28px;
	text-indent: -99999px;
	display: block;
	margin-top: 3px;
	border: 1px solid #d1d1d1;
	background: -moz-linear-gradient(center top , #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8)) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -ms-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: -o-linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent; 
	background: linear-gradient(top, #f5f5f5, #e8e8e8) repeat scroll 0 0 transparent;
	-pie-background: linear-gradient(#f5f5f5, #e8e8e8);
	behavior: url(_ui/js/PIE.htc);
}

.btn-more span, .btn-edit span {
	display: block;
	width: 30px;
	height: 30px;
}

.btn-more span {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 8px -1144px;
}

.btn-edit span {
	background: transparent url(../images/common/sprite_icons.png) no-repeat scroll 8px -946px;
}

.modal {
	background-color: #fff;
	border-radius: 10px;
	padding: 30px 50px;
	width: 400px;
	font-size: 13px;
	color: #222;
	behavior: url(_ui/js/PIE.htc);
}

.modal a {
	color: #222;
	text-decoration: none;
}

.modal .close {
	width: 50px;
	height: 50px;
	position: absolute;
	top: -20px;
	left: -20px;
	background: transparent url(../images/summary/btn_close.png) no-repeat scroll 0 0;
	cursor: pointer;
}

.modal table {
	width: 400px;
}

.modal tr {
	border-bottom: 1px solid #ccc;
}

.modal tr.last {
	border: 0;
}

.modal td {
	padding: 15px 0;
}

.modal p {
	margin-bottom: 2.5px;
}

.modal .ship-details {
	float: left;
	width: 205px;
	margin-bottom: 22px;
}

.modal .ship-details.last-child {
	margin-bottom: 0;
}

.modal .ship-actions {
	float: right;
	width: 30px;
	height: 30px;
}