<div class="gmSection">
    <ul class="gmAlignVertical">
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal">
            <div id="merc-eventsetup" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m tabMerc" name="eventsetup">Event Setup</div>
        </li>
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal">
            <div id="merc-attendeedtl" class="btn-showby gmBtn gmFontBlack gmBGLGrey gmAlignHorizontal gmWidth160m tabMerc" name="attendeedetails">Attendee Details</div>
        </li>
    </ul>
</div>
<div id="div-mercDetail" class="div-merc-sub-content gmMargin15p">
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Event Name :
        </li>

        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{eventnm}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Region : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{regionnm}}
        </li>
         {{#iftrue region 100824}}
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Open To :
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{opento}}
        </li>
        {{/iftrue}}
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Language : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{langnm}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Type : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{typenm}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            From Date : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{formatDate fromdt}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            To Date :
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{formatDate todt}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Country : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{countrynm}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            State :
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{statenm}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            City : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> {{city}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            Publish : 
        </li>
        {{#iftrue status 108080}}
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> Yes</li>
        {{/iftrue}}
        {{#iffalse status 108080}}
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"> No</li>
        {{/iffalse}}
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            URL : 
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem"><a href="{{url}}" target="_blank"> {{url}}</a>
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            DOCUMENTS :
        </li>
        <li class="gmMarginLeft5p gmSectionValue gmAlignHorizontal gmTextTop gmWidthAuto merc-fileupld-view">
        </li>
    </ul>


</div>

<div id="div-attendeeDetail" class="div-merc-sub-content gmMargin15p hide">
    <div class="merc-attndee-detail-list">
        <ul class="display-flex align-items-center justify-space-bwn gmBGBlue gmPad10p gmFontWhite merc-attendee-list-head">
            <li>
                Surgeon Name
            </li>
            <li>
                Role
            </li>
            <li>
                Status
            </li>
        </ul>
        <div class="merc-attendee-list-body gmBorderLightGrey">
            {{#if arrgmmercpartyvo}} {{#each arrgmmercpartyvo}} {{#iffalse voidfl 'Y'}}
            <ul class="display-flex align-items-center justify-space-bwn gmPad10p">
                <li>
                    <span>{{partynm}}</span>
                </li>
                <li>
                    <span>{{rolenm}}</span>
                </li>
                <li>
                    <span>{{statusnm}}</span>
                </li>
            </ul>
            {{/iffalse}} {{/each}} {{/if}}
            {{#iftrue arrgmmercpartyvo.length 0}}
                <div class="gmTextCenter gmPad10p">No Data Found</div>
            {{/iftrue}}
            
        </div>
    </div>
</div>