<ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">
            SURGEON: </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <span id="merc-attendee-surgeon-search" VO="" data-surgid="{{surgid}}" data-surgnm="{{surgnm}}"></span>
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 new-surgeon-create gmPadRight10p">
            <div id="merc-attendee-new-surgeon" name="mercattendeesurgeon" class="gmBGsurgeon gmBtn gmFontWhite gmAlignHorizontal gmMediaWidth95">NEW SURGEON</div>
        </li>
    </ul>
    
    <div class="merc-attndee-detail-list">
        <ul class="display-flex align-items-center justify-space-bwn gmBGBlue gmPad10p gmFontWhite merc-attendee-list-head">
            <li>
                Surgeon Name
            </li>
            <li>
                Role
            </li>
            <li>
                Status
            </li>
        </ul>
        <div class="merc-attendee-list-body gmBorderLightGrey">
            {{#if arrgmmercpartyvo}} {{#each arrgmmercpartyvo}} {{#iffalse voidfl 'Y'}}
            <ul class="display-flex align-items-center justify-space-bwn gmPad10p">
                <li>
                    <i class="fa fa-minus-circle remove-attendee-list gmAlignHorizontal gmFontRed gmBtnLarge gmVerticalMiddle" data-id="{{attendeeid}}" data-partyid="{{partyid}}"></i>
                    <span>{{partynm}}</span>
                </li>
                <li>
                    <label class="selectbox-icon">
                        <select  id="{{roleElId}}" data-id="{{partyid}}" attrnm="role" class="gmInputText gmText150 attendee-role"></select>
                    </label>
                </li>
                <li>
                    <label class="selectbox-icon">
                        <select  id="{{statusElId}}" data-id="{{partyid}}" attrnm="status" class="gmInputText gmText150 attendee-status"></select>
                    </label>
                </li>
            </ul>
            {{/iffalse}} {{/each}} {{/if}}
            {{#iftrue arrgmmercpartyvo.length 0}}
                <div class="gmTextCenter gmPad10p">No Data Found</div>
            {{/iftrue}}
            
        </div>
    </div>