<div class="gmSection">
    <ul class="gmAlignVertical">
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal">
            <div id="merc-eventsetup" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m tabMerc" name="eventsetup">Event Setup</div>
        </li>
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal">
            <div id="merc-attendeedtl" class="btn-showby gmBtn gmFontBlack gmBGLGrey gmAlignHorizontal gmWidth160m tabMerc" name="attendeedetails">Attendee Details</div>
        </li>
    </ul>
</div>
<input type="hidden" class="fileUploadErr" />
<input id="merc-hpartyid" type="hidden" VO="arrgmmercpartyvo" name="partyid" class="hdnInput" partyid="">
<input id="merc-hpartynm" type="hidden" VO="arrgmmercpartyvo" name="partynm" class="hdnInput" partyid="">
<input id="merc-hrole" type="hidden" VO="arrgmmercpartyvo" name="roleid" class="hdnInput" partyid="">
<input id="merc-hstatus" type="hidden" VO="arrgmmercpartyvo" name="statusid" class="hdnInput" partyid="">
<div id="merc-event-setup" class="crm-merc-edit">
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* EVENT NAME : </li>
        <li class=" gmSectionListItem  gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="merc-event-name" class="gmInputText gmWidth210p " value="{{eventnm}}" name="eventnm" validate="required" message="Please provide Event Name">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* REGION : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="regionSelect" class="gmInputText gmText150"></select>
            </label>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p mercOpenTo hide">OPEN TO : </li>
        <li class=" gmSectionListItem  gmAlignHorizontal gmMediaWidth100 mercOpenTo hide">
            <input type="text" id="merc-opento" class="gmInputText gmWidth210p " value="{{opento}}" name="opento">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* LANGUAGE : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="languageSelect" class="gmInputText gmText150"></select>
            </label>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* TYPE : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="typeSelect" class="gmInputText gmText150"></select>
            </label>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* FROM DATE : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="date" id="merc-frmdt" class="gmInputText gmWidth210p" value="{{fromdt}}" name="fromdt" validate="required" message="Please provide From Date" max="9999-12-31">
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* TO DATE : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="date" id="merc-todt" class="gmInputText gmWidth210p " value="{{todt}}" name="todt" validate="required" message="Please provide To Date" data-name="todt" max="9999-12-31">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* COUNTRY : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="countrySelect" class="select-address-country gmInputText gmText150"></select>
            </label>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p mercState">* STATE : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <label class="selectbox-icon">
                <select id="stateSelect" class="select-address-state gmInputText gmText150"></select>
            </label>
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">* CITY : </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100">
            <input type="text" id="merc-city" class="gmInputText gmWidth210p " value="{{city}}" name="city" validate="required" message="Please provide City">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">PUBLISH : </li>
        <li class="gmAlignHorizontal">
            <input type="checkbox" id="publishMerc" class="credential-primary" primaryfl="" name="status">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">URL : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <input type="text" id="merc-url" class="gmInputText gmWidth210p " value="{{url}}" name="url">
        </li>
    </ul>
    <ul class="gmSection gmMediaWidth100 gmAlignVertical gmPadding7x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal  gmFontBold gmPadRight10p">SOURCE PDF : </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmPadRight10p">
            <div id="mercUploadFile" class="gmBtn gmFontWhite gmBGDarkBlue div-multi-fileupld-btn gmMarginBottom5p" file-data="mercFiles">Upload File</div>
        </li>
        <div class="merc-fileupld merc-fileupld-edit"></div>
        <div class="merc-fileupld merc-fileupld-view"></div>
    </ul>
</div>
<div id="merc-attendee-details" class="crm-merc-edit hide">
    
</div>