<?xml version="1.0" encoding="UTF-8" ?>
#set($alReturn = $hmReturn.alResult)
<rows>
	<head>
	    <column type="ro" width="160"   align="left"  id="id_no">$msg.getProperty('VM_DHRID')</column>	    
		<column type="ro" width="160" 	align="left"  id="part_no">$msg.getProperty('VM_PARTNUMBER')</column>		
		<column type="ro" width="*"    align="left"  id="desc">$msg.getProperty('VM_STATUS')</column>		
	</head>
#foreach($hmDetails in $alReturn)  
	<row id="$hmDetails.DHRID">
		<cell style="cursor:hand;" ><![CDATA[<a href="#" onClick=fnUpdateDHR("$hmDetails.DHRID","$hmDetails.VENDID")><u>$esc.xml($hmDetails.DHRID)</u></a>]]></cell>
		<cell style="$color">$esc.xml($hmDetails.PNUM)</cell>
		#if ($hmDetails.STATUS == $null)
			<cell></cell>
		#else		
			<cell style="$color">$esc.xml($hmDetails.STATUS)</cell>
		#end
	</row>
#end	
</rows>
