<?xml version="1.0" encoding="UTF-8" ?>
#set($alResult = $hmReturn.alReturn)
#set($dateFmt = $hmReturn.DATEFMT)
<rows>
	<head>
	    <column type="ro" width="97" sort="str"  align="left"  id="vend">$msg.getProperty('VM_RECEVINGID')</column> 		
		<column type="ro" width="90"  sort="int"  align="left"  id="pslip">$msg.getProperty('VM_PACKINGSLIP')</column>	
		<column type="ro" width="70"  sort="int"  align="left"  id="donor">$msg.getProperty('VM_DONOR')</column>
		<column type="ro" width="80"  sort="date" align="center"  id="cdate">$msg.getProperty('VM_RECEIVEDDATE')</column>
		<column type="ro" width="60"  sort="int"  align="right"  id="part">$msg.getProperty('VM_PART')</column>	
		<column type="ro" width="55"   sort="int"  align="right"  id="qty">$msg.getProperty('VM_QTY')</column>
		<column type="ro" width="80"   sort="int"  align="right"  id="frm42">$msg.getProperty('VM_REJECTEDQTY')</column>		
		<column type="ro" width="95"   sort="str"  align="left" id="qc">$msg.getProperty('VM_LASTUPDATEDBY')</column>	
		<column type="ro" width="95"   sort="date"  align="center"  id="lbl_prnt">$msg.getProperty('VM_LASTUPDATEDDATE')</column>		
		<column type="ro" width="*"   sort="str"  align="left"  id="pi">$msg.getProperty('VM_STATUS')</column>
	</head>
#foreach($hmDetails in $alResult)  
	<row id="$hmDetails.DHR_BULK_ID">
		<cell style="cursor:hand;" ><![CDATA[<a href="#" onClick=fnShowReceiveShip("$hmDetails.DHR_BULK_ID")><u>$esc.xml($hmDetails.DHR_BULK_ID)</u></a>]]></cell>
		<cell style="$color">$esc.xml($hmDetails.PACK_SLIP)</cell>
		<cell style="$color">$esc.xml($hmDetails.DONOR_NUMBER)</cell>
		#if ($hmDetails.RECEIVED_DATE == $null)
			<cell></cell>
		#else
			<cell style="$color">$date.format($dateFmt,$hmDetails.RECEIVED_DATE)</cell>	
		#end
		<cell style="$color">$esc.xml($hmDetails.PART_COUNT)</cell>
		<cell style="$color">$esc.xml($hmDetails.QTY_RECEIVED)</cell>
		<cell style="$color">$esc.xml($hmDetails.QTY_REJECTED)</cell>
		<cell style="$color">$esc.xml($hmDetails.UPDATED_BY)</cell>
		#if ($hmDetails.UPDATED_DT == $null)
			<cell></cell>
		#else
			<cell style="$color">$date.format($dateFmt,$hmDetails.UPDATED_DT)</cell>	
		#end
		
		#if ($hmDetails.STATUS_NAME == $null)
			<cell></cell>
		#else
			<cell style="$color">$esc.xml($hmDetails.STATUS_NAME)</cell>	
		#end
		
	</row>
#end	
</rows>
