<?xml version="1.0" encoding="iso-8859-1" ?>

#set( $count = 0) 
#set($alLocation=$hmParam.ALAPPRREJ)
#set($chkboxAccess=$hmParam.RELCHKACCESS)
#set($stautsFl=$hmParam.DHRSTATUS)
#set($apprRej=$msg.getProperty('VM_APPROVE_REJECT'))
<rows>
	<head>
		#if($chkboxAccess == "Y" && $stautsFl =="3" )
			<column type="ro" width="30" sort="na" align="left" id="ChkBoxRefId"><![CDATA[<input type="checkbox" name="chkLotVerify" onClick=" javascript:fnEnableButton(this);"/>]]></column>
		#elseif($chkboxAccess != "Y" && $stautsFl == "3")
			<column type="ro" width="30" sort="na" align="left" id="ChkBoxRefId"></column>
		#end
		<column type="ro" width="25" sort="str" align="right"># </column>
		<column type="ro" width="0" sort="str" hidden="true" id="dhrid" align="left">$msg.getProperty('VM_DHRID')</column>
		<column type="ro" width="90" sort="str"  id="donorId" align="left">$msg.getProperty('VM_DONOR')</column>
		<column type="ro" width="100" sort="str"  id="LotId" align="left">$msg.getProperty('VM_LOTCODE')</column>
		<column type="ro" width="80" sort="str"  id="partNum" align="left">$msg.getProperty('VM_PART')</column>
		<column type="ro" width="110" sort="str"  id="csize" align="left">$msg.getProperty('VM_CUSTOMSIZE')</column>		
		<column type="ro" width="110" sort="str" align="left">$msg.getProperty('VM_SIZE')</column>
		<column type="ro" width="75" sort="date" id="expdate" align="center">$msg.getProperty('VM_EXPLTBRGTDATE')</column>
		<column type="ro" width="75" sort="date" id="manfdate" align="center">$msg.getProperty('VM_MFGLTBRGTDATE')</column>
		<column type="ro" width="120" sort="str" align="left">$msg.getProperty('VM_PRODUCTLTBRGTTYPE')</column>
		<column type="ro" width="*" sort="str" align="left">$msg.getProperty('VM_CONTRACTPROCESSINGLTBRGTCLIENT')</column>
		<column type="ro" width="80" sort="str" id="apprRej" align="left">$apprRej</column>
		<column type="ro" width="100" sort="str" id="moveto" align="left">$msg.getProperty('VM_MOVETO')</column>
		
	</head>

	#foreach($hmDetails in $alResult)
	#set( $count = $count+1)
	<row id="$count">
		#if($stautsFl =="3" )
		<cell></cell>
		#end
		<cell>$count</cell>
		<cell>$esc.xml($hmDetails.DHRID)</cell>
		<cell>$esc.xml($hmDetails.DONORNUM)</cell>
		<cell>$esc.xml($hmDetails.LOTCODE)</cell> 
		<cell>$esc.xml($hmDetails.PNUM)</cell> 
		<cell>$esc.xml($hmDetails.CUSTSIZE)</cell> 
		<cell>$esc.xml($hmDetails.PARTSIZE)</cell> 
		<cell>$esc.xml($hmDetails.EXPDATE)</cell> 
		<cell>$esc.xml($hmDetails.MANFDATE)</cell> 
		<cell>$esc.xml($hmDetails.PRODTYPE)</cell> 
		<cell>$esc.xml($hmDetails.CPCLIENT)</cell>
		<cell>$esc.xml($hmDetails.APPREJ)</cell>
		<cell>$esc.xml($hmDetails.TXNID)</cell>
  
	</row>
	#end
</rows>
