<?xml version="1.0" encoding="iso-8859-1" ?>

#set( $count = 0) 
#set($alApprRej=$hmParam.ALAPPRREJ)
#set($apprRej=$msg.getProperty('VM_APPROVE_REJECT'))
#set($isApprRej=$hmParam.ISAPPR )

#if ($isApprRej == "false")
	#set($typ = "ed")
	#set($setstyle = "background-color:white; border-width: 1px;border-style: inset;")
#else
	#set($typ = "ro")
	#set($setstyle = "")
#end

<rows>
	<head>
		<column type="ro" width="30" sort="str" align="right"># </column>
		<column type="ro" width="0" sort="str" hidden="true" align="left">$msg.getProperty('VM_DHRID')</column>
		<column type="$typ" width="120" sort="str"  id="LotId" align="left">$msg.getProperty('VM_LOTCODE')</column>
		<column type="ro" width="100" sort="str"  id="partNum" align="left">$msg.getProperty('VM_PART')</column>
		<column type="$typ" width="130" sort="str"  id="csize" align="left">$msg.getProperty('VM_CUSTOMSIZE')</column>		
		<column type="ro" width="130" sort="str" align="left">$msg.getProperty('VM_SIZE')</column>
		<column type="$typ" width="90" sort="date" id="expdate" align="center">$msg.getProperty('VM_EXPLTBRGTDATE')</column>
		<column type="$typ" width="90" sort="date" id="manfdate" align="center">$msg.getProperty('VM_MFGLTBRGTDATE')</column>
		<column type="ro" width="130" sort="str" align="left">$msg.getProperty('VM_PRODUCTLTBRGTTYPE')</column>
		<column type="ro" width="*" sort="str" align="left">$msg.getProperty('VM_CONTRACTPROCESSINGLTBRGTCLIENT')</column>
		
		#if ($isApprRej == "false")
			<column type="coro" sort="na" id="txnType" width="115"> $apprRej
				<option value="0">[Choose One]</option>
				    #foreach($hmApprRej in $alApprRej)
				    	<option value="$hmApprRej.CODEID" >$esc.xml($hmApprRej.CODENM)</option>
				    #end
			</column>
		#else
			<column type="ro" width="115" sort="str" align="left">$apprRej</column>
		#end
			
		
	</head>

	#foreach($hmDetails in $alResult)
	#set( $count = $count+1)
	<row id="$count">
		<cell>$count</cell>
		<cell>$esc.xml($hmDetails.DHRID)</cell>
		<cell style="$setstyle">$esc.xml($hmDetails.LOTCODE)</cell> 
		<cell>$esc.xml($hmDetails.PNUM)</cell> 
		<cell style="$setstyle">$esc.xml($hmDetails.CUSTSIZE)</cell> 
		<cell>$esc.xml($hmDetails.PARTSIZE)</cell> 
		<cell style="$setstyle">$esc.xml($hmDetails.EXPDATE)</cell> 
		<cell style="$setstyle">$esc.xml($hmDetails.MANFDATE)</cell> 
		<cell>$esc.xml($hmDetails.PRODTYPE)</cell> 
		<cell>$esc.xml($hmDetails.CPCLIENT)</cell>
		#if ($isApprRej == "false")
				<cell style="background-color:white; border-width: 1px;border-style: inset;">0</cell>
		#else
				<cell>$esc.xml($hmDetails.APPREJ)</cell>
		#end  
	</row>
	#end
</rows>
