<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>		 		 
		<column type="ro" width="90" sort="int" align="left">$msg.getProperty('VM_REQUESTID')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_SETID')</column>
		<column type="ro" width="*" sort="str" align="left">$msg.getProperty('VM_SETNAME')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_FIELDSALES')</column>
		<column type="ro" width="90" sort="str" align="left">$msg.getProperty('VM_SALESREP')</column>		
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_ASSOCSALESREP')</column>	
		<column type="ro" width="60" sort="str" align="left">$msg.getProperty('VM_LOANDATE')</column>
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_RETURNDATE')</column>
		<column type="ro" width="80" sort="str" align="right">$msg.getProperty('VM_USAGE')</column>
		<column type="ro" width="80" sort="date" align="right">$msg.getProperty('VM_BUSINESSDAYS')</column>
	</head>
	#set($count=0)
	#foreach($hmDetails in $alGridData)
	<row id="$count">
		<cell>$esc.xml($hmDetails.REQID)</cell>	
		<cell>$esc.xml($hmDetails.SETID)</cell>	
		<cell>$esc.xml($hmDetails.SETNAME)</cell>
		<cell>$esc.xml($hmDetails.DISTNAME)</cell>
		<cell>$esc.xml($hmDetails.REPNM)</cell>
		<cell>$esc.xml($hmDetails.ASSOCREPNM)</cell>
		#if($hmDetails.LOANDATE!=$null)
			<cell>$hmDetails.LOANDATE</cell>
		#else
			<cell></cell>
		#end
		#if($hmDetails.RETURNDATE!=$null)
			<cell>$hmDetails.RETURNDATE</cell>
		#else
			<cell></cell>
		#end
		<cell>$esc.xml($hmDetails.USAGE)</cell>
		<cell>$esc.xml($hmDetails.BUS_DAYS)</cell>
		
		
			
	</row>
	#set( $count = $count+1)
	#end
</rows>
