<div id="div-module-criteria">
    <div class="lead-criteria-phone-style gmMediaWidth100 gmMinHeight130p ">
       <ul class="gmSection gmMarginLeft5p li-ph-filter-label">
        <li class="gmMarginLeft10p gmAlignHorizontal">
            Filter Name
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth98">
            <input  class="gmInputText txt-lead-fltr-name txt-fltr-name gmWidth180m gmMediaWidth90" autofocus name="filtername" />
        </li>
    </ul>
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter pv-criteria-mobile-width">
            <li class="gmFontBold ul-training-label gmMarginBottom10p">Filters</li>
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMediaWidth100">
                            <div class="lead-title btn-listby category-btn popup-icon div-popup-state  gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> Location <span></span></div>

                        </li>
                        <li class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMediaWidth100">

                            <div class="lead-title btn-listby category-btn popup-icon div-popup-technique  gmWidth180m" data-type="dropdown" data-param="procedure" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Technique">Technique <span></span></div>
                        </li>

                        <li class="gmSectionListItem gmAlignHorizontal icon-dropdown gmMediaWidth100">
                            <div class="btn-listby lead-filter-product lead-title category-btn popup-icon div-popup-system gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
                        </li>
        </ul>
       <ul id="ul-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight ">
        <li class="gmFontBold gmAlignVertical" style=" margin-left: 18%; ">
            Activity Date
        </li>
        
        <div class="gmAlignVertical gmMarginTop10p ">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-sur-filter-frm-to">From</li>
        <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--             <input type="text" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy" value=""></li>-->
             <input type="date" id="activity-frmdate" class="gmInputText gmAlignHorizontal gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy" value=""></li>
        </div>
        <div class="gmAlignVertical gmMarginTop10p">
            <li class="gmAlignHorizontal gmTextRight li-actdate-caption li-surg-filter-todate-label  li-sur-filter-frm-to" style="width:35px;">To</li>
            <li class="gmSectionValue gmAlignHorizontal gmMediaWidth100 li-surg-actdate-input">
<!--                <input type="text" id="activity-todate" class="gmInputText gmAlignVertical gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy" value=""></li>-->
                <input type="date" id="activity-todate" class="gmInputText gmAlignVertical gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy" value=""></li>
        </div>
    </ul>
    </div>

    <ul class="gmAlignHorizontal gmMarginRight10p ul-phone-leadfilter-selected-criteria hide">
    <div id="btn-filter-selected-criteria" class="div-list-of-selected-criteria gmBtn gmFontWhite gmAlignVertical gmMediaWidth100">
    <i class="fa fa-2x gmFloatLeft fa-list-alt" aria-hidden="true"></i>
    List of Selected Criteria</div>
</ul>
<ul class="gmSection list-category-item ul-lead-filter-category category-items gmBorderRadius3p"></ul>
<ul class="gmAlignHorizontal gmFloatRight  ul-ph-leadfilter-filter-search gmAlignHorizontal gmFloatRight gmMediaWidth100 ul-ph-leadfilter-filter-search">
    <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignVertical gmMediaWidth90">View</div>
</ul>
</div>


