<div id="div-lead-assginee-main" class="gmText250 ">
    <ul class="gmSection">
        <li id="div-assignee-tap-close" class="gmBGDarkGrey gmFloatRight">X</li>
        <li id="div-assign-to-label"> Assign to </li>
        <li id="div-assignee-as-myself" class=" hide gmBtn gmBGlead gmFontWhite gmSectionListItem gmAlignHorizontal" data-repid="{{userID}}" data-repnm="{{fullName}}"> Myself </li>
        <li id="div-assign-to-search" class="gmSectionListItem gmMediaWidth100 gmAlignHorizontal"></li>
    </ul>
</div>