<ul id="ul-tradeshow-search" class="gmSection">
    <li class="gmSectionListItem gmSectionValue gmMediaMarginTop10p gmAlignHorizontal gmMediaWidth100">
        <div id="tradeshow-tradeshow-search">
        </div>
    </li>
</ul>
<div id="div-tradeshow-container">
    <div id="div-lead-tradeshow-edit" class="div-edit hide">
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption lead-edit-section-caption   gmAlignHorizontal gmFont90em"><b>NAME</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <input type="text" class="gmInputText lead-edit-hospital-head" placeholder="Name" name="actnm" value="{{actnm}}" validate="required" message="Please provide Tradeshow Name">
            </li>
        </ul>
        <ul id="lead-ul-tradeshow-date" class="gmSection lead-ul-edit-activity-date gmAlignHorizontal gmVerticalTop ">
            <li class="gmAlignHorizontal lead-edit-section-caption gmMargin10p gmTextRight iPad"><b>START DATE</b></li>
            <li class="iPhone gmText50 gmAlignHorizontal gmVerticalMiddle">
                <div class="div-legend">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
            <li class="gmSectionValue gmAlignHorizontal li-lead-actdate-input gmMediaWidth100">
                <input type="date" id="tradeshow-actstartdate" class="gmInputText gmWidth180m" value="{{actstartdate}}" name="actstartdate"  validate="required" message="Please provide Start Date">
            </li>
            <li class="gmAlignHorizontal gmTextRight  li-lead-edit-enddate iPad"><b>END DATE</b></li>
            <li class="iPhone gmText50 gmAlignHorizontal gmVerticalMiddle">
                <div class="div-legend">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>
            <li class="gmSectionValue gmAlignHorizontal li-lead-actdate-input gmMediaWidth100">
                <input type="date" id="tradeshow-actenddate" class="gmInputText gmWidth180m" value="{{actenddate}}" name="actenddate"   validate="required" message="Please provide End Date">
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem lead-edit-section-caption gmAlignHorizontal gmFontBold gmTextRight gmFont90em">
                ADDRESS
            </li>
            <li id="tradeshow-select-address" class="gmSectionListItem   gmPad50 gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmVerticalTop gmPointCursor">
                {{#if arrgmcrmaddressvo.0.add1}} {{#each arrgmcrmaddressvo}}
                <ul class="gmAlignVertical gmMarginTop5p">
                    <li>{{add1}}</li>
                    <li>{{add2}}</li>
                    <li>{{city}} {{statenm}} {{zip}}</li>
                    <li>{{countrynm}}</li>
                    <li class="gmTextCenter gmAddressMsg">(Click / Tap to change address)</li>
                </ul>

                <input id="haddress" type="hidden" value="{{add1}}"> {{/each}} {{else}}
                <div class="gmSectionValue gmAlignHorizontal">Click to add address</div>
                {{/if}}
		 <input id="address-validation" type="hidden" validate="required" message = "Please Enter the Address" >
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption lead-edit-section-caption  gmVerticalTop gmAlignHorizontal gmFont90em"><b>COMMENTS</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <textarea id="input-lead-contacts-notes" class="gmFont1em" VO="arrgmactivityattrvo" attrtype="105541" attrnm="Notes">{{#if arrgmactivityattrvo}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '105541'}}{{attrval}}{{/iftrue}}{{/each}}{{/if}}</textarea>
            </li>
        </ul>
    </div>
    <div id="div-lead-tradeshow-detail" class="div-view hide">
        <ul class="gmSection">
            <li class="iPad gmSectionListItem lead-edit-section-caption gmTextRight gmAlignHorizontal "><b>NAME</b></li>

            <li class=" iPhone gmAlignHorizontal gmVerticalTop gmMarginLeftMinus5p gmMediaTextCenter"> <i class="fa fa-lg fa-desktop gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>

            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMarginLeft10p li-tradeshow-name">
                {{actnm}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmAlignHorizontal lead-edit-section-caption gmTextRight iPad"><b>START DATE</b></li>
            <li class="iPhone gmText50 gmAlignHorizontal gmVerticalMiddle">
                <div class="div-legend">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
            <li class="gmSectionValue gmAlignHorizontal  gmMarginLeft10p ">
                {{formatDate actstartdate}}
            </li>
        </ul>
        <ul class="gmSection">
            <li class="gmAlignHorizontal lead-edit-section-caption gmTextRight iPad"><b>END DATE</b></li>
            <li class="iPhone gmText50 gmAlignHorizontal gmVerticalMiddle">
                <div class="div-legend">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>
            <li class="gmSectionValue gmAlignHorizontal  gmMarginLeft10p">
                {{formatDate actenddate}}
            </li>
        </ul>
        <ul class="gmSection gmAlignHorizontal lead-edit-head-add ">
            <li class="iPad gmSectionListItem gmSectionCaption lead-edit-section-caption   gmAlignHorizontal">
                <b>ADDRESS</b>
            </li>
            <li class=" iPhone gmAlignHorizontal gmVerticalTop gmMarginLeftMinus5p gmMediaTextCenter"><i class="fa fa-map-marker gmFontBlack gmFont15em gmText50" aria-hidden="true"></i></li>
            {{#if arrgmcrmaddressvo}}
            <li class=" gmSectionValue gmAlignHorizontal gmMarginLeft10p li-tradeshow-address-detail">
                {{#if arrgmcrmaddressvo.0.add1}} {{arrgmcrmaddressvo.0.add1}},{{else}}{{#if arrgmcrmaddressvo.0.add2}} {{arrgmcrmaddressvo.0.add2}},{{/if}}{{/if}}{{#if arrgmcrmaddressvo.0.city}} {{arrgmcrmaddressvo.0.city}},{{/if}}{{#if arrgmcrmaddressvo.0.statenm}} {{arrgmcrmaddressvo.0.statenm}},{{/if}}{{#if arrgmcrmaddressvo.0.zip}} {{arrgmcrmaddressvo.0.zip}},{{/if}}{{#if arrgmcrmaddressvo.0.countrynm}} {{arrgmcrmaddressvo.0.countrynm}}{{/if}}
            </li>
            {{else}}
            <i class="gmFontBlack gmFontItalic">Unavailable</i> {{/if}}
        </ul>

        <ul id="ul-tradeshow-file-detail" class="gmSection hide">
            <li>
                <div class="div-lead-browse-lastupdated">
                    <span class="span-lead-browse-lastupdated-header">Last Updated by : </span> <span id="span-lead-browse-lastupdated-by"></span>
                </div>
                <div class="div-lead-browse-lastupdated gmMarginTop10p">
                    <span class="span-lead-browse-lastupdated-header">Last Updated on : </span> <span id="span-lead-browse-lastupdated-on"></span>
                </div>
            </li>
        </ul>
    </div>
</div>