<ul id="lead-web-list" class="gmListItem" leadid="{{actid}}">
	<li class="gmListColData gmText125 lead-date">{{formatDate actstartdate}}</li>
	<li class="li-lead-name gmListColData gmText150 lead-phynm">{{phynm}}</li>
	<li class="gmListColData gmText125 lead-source">{{source}}</li>
	<li class="gmListColData gmText250 lead-products">{{products}}</li>
	<li class="gmListColData gmText150 lead-rep">{{assignee}}</li>
   {{#if lead}}
    <li class="li-lead-assignto gmAlignHorizontal">
        <div class="gmBtn gmBtnSmall gmBGDarkGrey gmFontWhite gmAlignHorizontal" data-leadid="{{actid}}">Assign</div>
    </li>
    {{/if}}
    {{#if scall}}
    <li class="gmAlignHorizontal cursorPointer li-surg-list-icons li-surg-salescall gmVerticalMiddle" data-partyid="{{partyid}}">
        <a href="#crm/salescall/0/{{partyid}}/{{firstnm}}/{{lastnm}}"><i class="gmPad10p fa fa-comments fa-2x gmFontsalescall" aria-hidden="true"></i></a>
    </li>
    {{/if}}
	<li class="li-lead-detail  gmAlignHorizontal">
		<a href="#crm/lead/id/{{actid}}" class="gmAlignHorizontal  gmFontWhite gmPad10p"><div class="fa-lg gmFontlead gmFontItalic gmFontBold">i</div></a>
	</li>

</ul>

<ul class="mobile-lead-list">
 <a href="#crm/lead/id/{{actid}}" class="gmFontBlack gmMediaWidth90 gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data gmMediaWidth75">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold gmMediaFont15p">{{phynm}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{formatDate actstartdate}} &nbsp;-&nbsp; {{source}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{products}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{assignee}}</li>
            </ul>
        </a>
    <li id="li-lead-calendar" class="li-lead-calendar gmAlignHorizontal"><i class="fa fa-calendar fa-lg gmFontBlack"></i></li>
    <li class="gmAlignVertical  gmTextCenter gmSection gmTestAll gmBorderRadius3p  li-lead-create-activity hide data-partyid="{{partyid}}" data-partynm='{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}' ">
             <a href="#crm/salescall/0/{{partyid}}/{{firstnm}}/{{lastnm}}" class = "li-surg-salescall"><i class="gmPad10p fa fa-comments fa-2x gmFontsalescall" aria-hidden="true"></i></a>  
      {{#if lead}}
        <ul class="li-lead-assignto gmAlignHorizontal">
            <div class="gmBtn gmBtnSmall gmBGDarkGrey gmFontWhite gmAlignHorizontal" data-leadid="{{actid}}">Assign</div>
        </ul>
       {{/if}}
    </li>
</ul>
