<div id="div-lead-contacts-main">
    <div id="div-lead-details-editview" class="div-edit gmDisplayWidth800p ul-lead-edit">
        <ul class="gmSection" id="ul-lead-tradeshow">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>TRADESHOW</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <div id="lead-tradeshow-search"></div>
                <input id="htradeshow" type="hidden" VO="arrgmactivityattrvo" attrtype="7779" attrnm="" value="" class="hdnInput">
                <input id="lead-assigneenm-partyid" type="hidden" name="partyid" value="" />
            </li>
            <span id="lead-edit-set-default" class="gmBtn gmMarginBottom5p">Set as Default</span>
        </ul>
        <ul class="gmSection">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>SOURCE</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 li-lead-edit-src">
                <label class="selectbox-icon gmMediaWidth100">
                    <select id="select-leads-source" class="gmInputSelect gmMediaWidth100 gmText230" validate = 'select' message = "Enter a Source"> 
                        <option VO="arrgmactivityattrvo" attrtype="105580" attrnm="" value="">Select</option>
                        <option VO="arrgmactivityattrvo" attrtype="105580" attrnm="Web" value="105345">Web</option>
                        <option VO="arrgmactivityattrvo" attrtype="105580" attrnm="Email" value="105346">Email</option>
                        <option VO="arrgmactivityattrvo" attrtype="105580" attrnm="Phone" value="105347">Phone</option>
                        <option VO="arrgmactivityattrvo" attrtype="105580" attrnm="Tradeshow" value="105349">Tradeshow</option>
                    </select>
                </label>
            </li>
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold li-lead-edit-relation"><b>RELATIONSHIP</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100 ">
                <label class="selectbox-icon gmMediaWidth100">
                    <select id="select-leads-relationship" class="gmInputSelect gmSectionValue gmText230 gmMediaWidth100" VO="arrgmactivityattrvo">
                        <option VO="arrgmactivityattrvo" attrtype="7781" attrnm="" value="">Select</option>
                        <option VO="arrgmactivityattrvo" attrtype="7781" attrnm="Office Visit" value="105355">Office Visit</option>
                        <option VO="arrgmactivityattrvo" attrtype="7781" attrnm="Phone" value="105356">Phone</option>
                    </select>
                </label>
            </li>
        </ul>
        <ul class="tab-head-phone-criteria  gmBorderAsh gmBGLGrey gmMarginTop10p gmMarginBottom5p">
            <li id="tab-contact" class="sub-tab  gmPad10p gmTextCenter gmAlignHorizontal ">Contact</li>
            <li id="tab-interest" class="sub-tab  gmPad10p gmTextCenter gmAlignHorizontal">Interest</li>
        </ul>
        <ul class="gmSection lead-mobile-toogle-contact ">
        </ul>
        <ul class="gmSection  lead-mobile-toogle-contact" id="ul-lead-surg">
            <li id="li-lead-name-lable" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>NAME</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-lead-edit-name gmMediaWidth100">
                <div id="lead-surgeon-search" class=" gmMediaWidth100 gmAlignHorizontal" VO="arrgmactivitypartyvo"></div>
                <input id="lead-hpartynm" type="hidden" VO="arrgmactivitypartyvo" name="partynm" class="hdnInput" partyid="">
                <input id="lead-hpartytype" type="hidden" VO="arrgmactivitypartyvo" name="partytype" class="hdnInput" partyid="">
                <input id="lead-hpartyrole" type="hidden" VO="arrgmactivitypartyvo" name="roleid" class="hdnInput" partyid="">
                <input id="lead-hpartyid" type="hidden" VO="arrgmactivitypartyvo" name="partyid" class="hdnInput" partyid="">
            </li>
            <li class="gmAlignHorizontal gmMediaWidth95 new-surgeon-create hide">
                <div id="create-surgeon" class="gmAlignHorizontal gmMediaWidth100  gmBGsurgeon gmFontWhite gmBtn gmMarginBottom5p">New Surgeon</div>
            </li>
        </ul>
        <ul class="gmSection lead-mobile-toogle-contact lead-surgeon-info">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>NPI</b></li>
            <li id="div-lead-chknpid" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <span>{{#iftrue npi 'Y'}}{{#each arrgmactivitypartyvo}}{{#iftrue roleid '105564'}}{{#if partynpid}}{{partynpid}}{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</span>
                <input id="lead-assigneenm-partynpid" type="hidden" VO="arrgmactivitypartyvo" name="partynpid" class="hdnInput" partyid="">
            </li>
        </ul>
        <ul id="ul-lead-edit-phone" class="li-lead-contacts-phoneemail gmSection lead-mobile-toogle-contact lead-surgeon-info">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption lead-phone-block"><b>PHONE</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <span>{{#iftrue phone 'Y'}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '7801'}}{{#if attrval}}{{formatPhoneNumber attrval}}{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</span>
                <input id="lead-hphone" VO="arrgmactivityattrvo" attrtype="7801" attrnm="Phone" value="" type="hidden" />
            </li>
        </ul>
        <ul id="ul-lead-edit-email" class="gmSection lead-mobile-toogle-contact lead-surgeon-info">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption lead-phone-block"><b>EMAIL</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth100">
                <span>{{#iftrue email 'Y'}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '7802'}}{{#if attrval}}{{attrval}}{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</span>
                <input id="lead-hemail" VO="arrgmactivityattrvo" attrtype="7802" attrnm="Email" value="" type="hidden" />
            </li>
        </ul>
        <ul class="gmSection lead-select-address lead-surgeon-info">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption">
                ADDRESS
            </li>
            <li id="lead-select-address" class="gmSectionListItem gmSectionValue lead-select-address  gmMediaWidth100 gmPad50 gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmVerticalTop gmPointCursor">
                {{#if arrgmcrmaddressvo}} {{#each arrgmcrmaddressvo}}
                <ul class="gmAlignVertical gmMarginTop5p">
                    <li>{{add1}} {{add2}}</li>
                    <li>{{city}} {{statenm}} {{zip}}</li>
                    <li>{{countrynm}}</li>
                    <li class="gmTextCenter gmAddressMsg">(Click / Tap to change address)</li>
                </ul>

                <input id="haddress" type="hidden" value="{{add1}}">{{/each}}{{else}}
                <div class="gmSectionValue gmAlignHorizontal">Click to change address</div>
                {{/if}}
                <input id="lead-haddid" VO="arrgmactivityattrvo" attrtype="7777" attrnm="" value="" type="hidden" />
                <input id="address-validation" type="hidden" validate="required" message="Please Enter the Address">
            </li>
        </ul>

        <ul class="gmSection lead-edit-tech-mobile">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>TECHNIQUES INTERESTED IN</b></li>
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown">
                <div id="lead-technique-search" class="gmAlignHorizontal gmMediaWidth100"></div>
                <input id="lead-htechnique" VO="arrgmactivityattrvo" attrtype="105588" attrnm="" value="" type="hidden" />
            </li>
            <li id="div-lead-detail-technique" class="gmSectionListItem lead-actvty-edit gmSectionValue gmAlignHorizontal gmMarginTop5p">
                <div id="div-detail-list-techniques">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105588'}} {{#iffalse voidfl 'Y'}}
                    <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}"><span class='spn-sc-spec-txt extend-text'>
                                        {{attrnm}}</span>
                        <span class='span-remove-extend extend-close'> x</span></div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </div>
            </li>
        </ul>
        <ul class="gmSection lead-edit-tech-mobile">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption"><b>PRODUCTS INTERESTED IN</b></li>
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown">
                <div id="lead-product-search" class="gmAlignHorizontal gmMediaWidth100"></div>
                <input id="lead-hproduct" VO="arrgmactivityattrvo" attrtype="" attrnm="" value="" type="hidden" />
            </li>
            <li id="div-lead-detail-product" class="gmSectionListItem lead-actvty-edit gmSectionValue gmAlignHorizontal gmMarginTop5p">
                <div id="div-detail-list-products">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}} {{#iffalse voidfl 'Y'}}
                    <div class='div-sc-extn gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmMarginBottom5p' data-attrval="{{attrval}}" data-attrtype="{{attrtype}}" data-attrid="{{attrid}}">
                        <span class='spn-sc-spec-txt extend-text'>{{attrnm}}</span>
                        <span class='span-remove-extend extend-close'> x</span></div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </div>
            </li>
        </ul>
        <ul class="gmSection lead-edit-tech-mobile">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption gmVerticalTop"><b>NOTES</b></li>
            <li id="li-input-lcontacts-notes" class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <textarea id="txtarea-lead-notes" VO="arrgmactivityattrvo" attrtype="105585" attrnm="Notes">{{#each arrgmactivityattrvo}}{{#iftrue attrtype '105585'}}{{attrval}}{{/iftrue}}{{/each}}</textarea>
            </li>
        </ul>

    </div>
    <div id="div-lead-details-detailview" class="div-view">

        <ul class="gmSection ">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"><b>GENERATED ON</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span id="span-lead-contacts-genon" class="lead-detail">{{formatDate actstartdate}}</span>
            </li>
        </ul>
        <ul class="gmSection ">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"><b>SOURCE</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span class="lead-detail">{{#each arrgmactivityattrvo}} {{#iftrue attrtype '105580'}}{{attrnm}}{{/iftrue}} {{/each}}</span>
            </li>
        </ul>
        <ul class="li-lead-contacts-dropdowns gmSection ">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"><b>RELATIONSHIP</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                <span class="lead-detail">{{#if relation}}{{#each arrgmactivityattrvo}} {{#iftrue attrtype '7781'}}{{attrnm}}{{/iftrue}} {{/each}}{{else}}<span class="gmFontItalic"> Unassigned</span>{{/if}}</span>
            </li>
        </ul>
        <ul class="tab-head-phone-criteria gmBorderAsh gmBGLGrey ">

            <li id="tab-contact-detail" class="sub-tab gmPad10p gmTextCenter gmAlignHorizontal">Contact</li>
            <li id="tab-techniques" class="sub-tab  gmPad10p gmTextCenter gmAlignHorizontal ">Interest</li>

        </ul>
        <ul class="gmSection lead-tab-contact-detail iPhone">
            <!--           <li class="gmSectionListItem gmSectionCaption lead-edit-section-caption lead-edit-contact-header  gmAlignHorizontal lead-style-phone"><b>CONTACT</b></li>-->
        </ul>

        <ul class="gmSection lead-tab-contact-detail">

            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold  lead-gmSectionListItem-mobile iPad"><b>NAME</b></li>
            <li class="  gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p gmMediaTextCenter iPhone">
                <i class="fa fa-user-md gmFontBlack gmFont15em gmText50" aria-hidden="true"></i>
            </li>
            <a href="#crm/surgeon/id/{{#each arrgmactivitypartyvo}}{{#iftrue roleid '105564'}}{{partyid}}{{/iftrue}} {{/each}}">
                <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                    <span id="span-lead-contacts-fname" class="lead-detail gmLink"> 
                    {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105564'}}{{partynm}}{{/iftrue}} {{/each}}</span>
                </li>
            </a>
        </ul>
        <ul class="gmSection lead-tab-contact-detail">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmMarginLeftMinus5p gmMediaTextCenter gmMediaMinWidth46p gmMediaWidth46 lead-gmSectionListItem-mobile lead-npi-mble"><b>NPI</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
                
                <span id="span-lead-contacts-npid" class="lead-detail">{{#iftrue npi 'Y'}}{{#each arrgmactivitypartyvo}}{{#iftrue roleid '105564'}}{{#if partynpid}}{{partynpid}}{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</span>
            </li>
        </ul>
        <ul class="li-lead-contacts-phoneemail gmSection lead-tab-contact-detail">

            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold iPad lead-gmSectionListItem-mobile"><b>PHONE</b></li>
            <li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p iPhone"><i class="fa fa-phone gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" id="span-lead-contacts-phone">{{#iftrue phone 'Y'}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '7801'}}{{#if attrval}}<a class="gmFontBlack gmLink" href="tel: {{attrval}}">{{formatPhoneNumber attrval}}</a>{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</li>

            

        </ul>
        <ul class="gmSection lead-tab-contact-detail">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-gmSectionListItem-mobile gmVerticalTop iPad"><b>EMAIL</b></li>
            <li class="gmAlignHorizontal gmVerticalMiddle gmMediaVerticalTop  gmMarginLeftMinus5p"><i class="fa fa-envelope gmFontBlack gmFont15em gmText50 gmTextCenter iPhone"></i></li>

            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" id="span-lead-contacts-email">{{#iftrue email 'Y'}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '7802'}}{{#if attrval}}<a class="gmAlignHorizontal gmLink" href="mailto: {{attrval}}">{{attrval}}</a>{{/if}}{{/iftrue}}{{/each}}{{else}}<i>Unassigned</i>{{/iftrue}}</li>
        </ul>
        

        <ul class="gmSection lead-tab-contact-detail">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-gmSectionListItem-mobile iPad"><b>ADDRESS</b></li>
            <li class="gmAlignHorizontal gmVerticalTop gmMarginLeftMinus5p"><i class="fa fa-map-marker gmFontBlack gmFont15em gmText50 gmTextCenter iPhone" aria-hidden="true"></i></li>

            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-actvty-address-detail">
                {{#if arrgmcrmaddressvo}} {{#each arrgmcrmaddressvo}}{{add1}}, {{city}}, {{statenm}}, {{zip}}, {{countrynm}}{{/each}}{{else}}<span class="gmFontItalic">Unassigned</span>{{/if}}
            </li>
        </ul>
        <ul class=" gmSection lead-tab-contact-detail">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold li-rep-lead-detail lead-gmSectionListItem-mobile gmFont90em "><b>ASSIGNEE</b></li>
            <li ID="lead-detail-edit-repnm" class="gmSectionListItem gmSectionValue gmAlignHorizontal  gmText100" id="span-lead-contacts-phone">
                {{#if partynm}}
                <div class="gmAlignHorizontal gmBGLGrey gmBorderRadius3p gmBorderLightGrey gmPad50">{{partynm}}</div>{{else}}Unassigned{{/if}}
            </li>
        </ul>
        <ul class="gmSection lead-tab-tradeshow">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption   gmAlignHorizontal"><b>TECHNIQUES INTERESTED IN</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal  lead-actvty-detail lead-tech-inststd gmMarginLeft20p gmMediaWidth100">
                {{#if technm}}{{#each arrgmactivityattrvo}}{{#iftrue attrtype '105588'}}<span class="span-lead-tech-prod">{{attrnm}}</span>&nbsp;&nbsp;&nbsp;{{/iftrue}} {{/each}}{{else}}<span class="gmFontItalic"> Unassigned</span>{{/if}}

            </li>

        </ul>
        <ul class="gmSection lead-tab-tradeshow">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold lead-edit-section-caption   gmAlignHorizontal"><b>PRODUCTS INTERESTED IN</b></li>
            <li class="gmSectionListItem gmAlignHorizontal icon-dropdown lead-actvty-detail lead-product-intstd gmMarginLeft20p ">
                {{#if prod}}{{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}<span class="span-lead-tech-prod">{{attrnm}}</span>&nbsp;&nbsp;&nbsp;{{/iftrue}} {{/each}}{{else}}<span class="gmFontItalic"> Unassigned</span>{{/if}}
            </li>

        </ul>


        <ul class="gmSection lead-tab-tradeshow">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmVerticalTop gmMediaWidth100"><b>NOTES</b></li>
            <li class="gmSectionListItem gmSectionValue gmAlignHorizontal  li-view-notes">
                <span id="span-lead-contacts-notes" class="lead-detail">{{#each arrgmactivityattrvo}}{{#iftrue attrtype '105585'}}{{attrval}}{{/iftrue}}{{/each}}</span>
            </li>
        </ul>
    </div>
</div>