<div id="div-module-criteria">
    <ul class="tab-head-phone-criteria gmBorderAsh gmBGLGrey">
        <li id="tab-tradeshow" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="tab-filter" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="tab-favorites" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal" tabname="favorite-tab-criteria">Favorite</li>
    </ul>
   
    <div class=" lead-sub-content">
   <!--       <div class="gmLineSpace el-lead-Lmode gmMediaDisplayNone"></div>-->
	<div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100 gmMediaMarginTop10 search-criteria-content">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite module-title gmMediaMarginAuto">Leads in my Area</div>
        </div>
        <div id="conferance-name-search" class="lead-criteria-phone-style search-criteria-content gmMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold gmMediaMarginTop10">Conference</li>
                <li class="gmMarginTop10p">
                    <input id="inp-tradeshow-name"  type="text" data-id="lead-title" class="lead-title gmInputText gmWidth180m">
                    <div id="btn-search-title" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div class="gmLineSpace el-lead-Lmode gmMediaDisplayNone"></div>
        <div id="conf-name-search" class="lead-criteria-phone-style gmMediaWidth100 gmMinHeight130p lead-filter-mobile-search filter-criteria-content">
            <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter">
                <li class="gmFontBold gmMediaDisplayNone">Filters</li>
                <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-lead-popup-criteria">
                    <div class="lead-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> Location <span></span></div>
                </li>
                <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-lead-popup-criteria">
                    <div class="lead-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="procedure" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Technique">Technique <span></span></div>
                </li>
                <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown li-lead-popup-criteria">
                    <div class="btn-listby lead-title category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
                </li>
            </ul>
            <ul id="lead-ul-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight">
                <li>
                    <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p">
                        
                    </div>
                    <div class="gmFontBold gmAlignHorizontal lead-li-activity-date gmWidth180m">
                        Activity Date
                    </div>
                </li>
                <li class="gmMarginTop10p li-lead-actdate-input">
                    <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight gmMediaDisplayNone">
                        From
                    </div>
                    <div class="gmAlignHorizontal div-lead-date-criteria">
<!--                        <input type="text" id="activity-frmdate" class="gmInputText gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy">-->
                        <input type="date" id="activity-frmdate" class="gmInputText gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy">
                    </div>
                </li>
                <li class="gmMarginTop10p li-lead-actdate-input ">
                    <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight gmMediaDisplayNone">
                        To
                    </div>
                    <div class="gmAlignHorizontal div-lead-date-criteria">
<!--                        <input type="text" id="activity-todate" class="gmInputText gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy">-->
                        <input type="date" id="activity-todate" class="gmInputText gmWidth180m lead-crt-date" placeholder="mm/dd/yyyy">
                    </div>
                </li>
            </ul>
        </div>

        <ul class="filter-criteria-content">
            <li class="lead-filter-mobile-search">
                <div class="gmSection list-category-item category-items gmBorderRadius3p "></div>    
            </li>
            <li class="gmMinHeight25p gmMarginTop10p lead-filter-mobile-search">
                <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
            </li>
        </ul>

        <div class="gmMarginTop10p favorite-criteria-content">
            <ul class="gmSection gmMyFav lead-favorite-criteria">
                <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                    Favorites
                </li>

                <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmLeadFav">

                </li>
            </ul>
        </div>

    </div>
    <div class="gmLineSpace">
    </div>
    

</div>
