<ul id="lead-web-list" class="gmListItem" actid="{{actid}}">
	<li class="li-ts-actnm gmListColData gmText250">{{actnm}}</li>
	<li class=" gmListColData gmText200">{{formatDate actstartdate}}</li>
	<li class="gmListColData gmText200">{{formatDate actenddate}}</li>
    <li class="li-tradeshow-list-detail  gmAlignHorizontal gmMarginLeft20p">
        <div class="fa-lg gmFontlead gmFontItalic gmFontBold">i</div>
	</li>
</ul>

<ul class="mobile-lead-list ul-ts-phn-list li-tradeshow-list-detail" actnm = "{{actnm}}" actid = "{{actid}}">
    <li class="gmAlignVertical gmPaddgin3x0 gmFontBold gmMediaFont15p">{{actnm}}</li>
    <li class="gmAlignVertical gmPaddgin3x0">{{formatDate actstartdate}}</li>
    <li class="gmAlignVertical gmPaddgin3x0">{{formatDate actenddate}}</li>
</ul>
