<!-- Get Cases view -->
<div class="left">
  <h5>{{summaryTitle}}</h5>
</div>
<div class="right" style="padding-top: 20px;">
  <i class="small material-icons" ng-click="expandAll()">search</i></a>&nbsp;&nbsp;
</div>
<div class="clearfix"></div>
<div ng-controller="GmAdvancedSearchController">
  <ul class="collapsible" id="advSearch">
    <li>
      <div class="collapsible-body">
        <div style="padding-right: 7px;padding-top: 7px;" class="right-align"><i class="small material-icons"
            ng-click="collapseAll()">close</i></div>
        <div class="">
          <div class="row">
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>NPI/Surgeon</b></span>
              <input ng-model="advSearch.surgeon" id="surgeon" type="search" placeholder="Select Surgeon"
                class="autocomplete validate" ng-change="searchSurgeons(this)" autocomplete="off">
              <i class="material-icons" ng-click="clearSearch(this, 'surgeon')">close</i>
            </div>
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>Hospital</b></span>
              <input ng-model="advSearch.account" id="account" type="search" placeholder="Select Hospital"
                class="autocomplete" ng-change="searchAccounts(this)" autocomplete="off">
              <i class="material-icons" ng-click="clearSearch(this, 'account')">close</i>
            </div>
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>Case Title</b></span>
              <input ng-model="advSearch.caseTitle" id="caseTitle" type="search" placeholder="Select Case Title"
                class="autocomplete validate" ng-change="searchCaseByTitle(this)" autocomplete="off">
              <i class="material-icons" ng-click="clearSearch(this, 'caseTitle')">close</i>
            </div>
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>Start Date</b></span>
              <input ng-model="advSearch.startDate" ng-click="initStartDate(this)" autocomplete="off"
                placeholder="Select Start Date" id="startDate" type="text">
            </div>
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>End Date</b></span>
              <input ng-model="advSearch.endDate" ng-click="initEndDate(this)" autocomplete="off"
                placeholder="Select End Date" id="endDate" type="text">
            </div>
            <div class="input-field col offset-s1 s10">
              <span class="align-right"><b>Sales Rep</b></span>
              <input ng-model="advSearch.salesRep" id="salesRep" type="search" placeholder="Select Sales Rep"
                autocomplete="off" class="autocomplete validate" ng-change="searchSalesRep(this)">
              <i class="material-icons clear" ng-click="clearSearch(this, 'salesRep')">close</i>
            </div>
          </div>
          <div style="text-align: center;padding-bottom: 15px;">
            <a class="waves-effect waves-light btn red darken-4" ng-click="resetFilters(this)">
              Clear
            </a>
            <a class="waves-effect waves-light btn csmBackground csmBackground-image"
              ng-click="filterReport(this)">Search</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-init="loadCaseReport(this)" class="reports-container">
  <div id="casesList">
    <ul id="report" class="collection">
      <li ng-repeat="caseNew in cases" class="collection-item">
        <div class="row">
          <div class="col s1">
            <h5>{{caseNew.getStart().toDate().toString().slice(8,10)}}</h5>
            <h6>{{caseNew.getStart().toDate().toString().slice(4,8)}}</h6>
          </div>
          <div class="col s8" style="padding: 10px 0 0 30px">
            <span style="font-size: medium;" class="title"><strong>{{caseNew.getCaseTitle()}}</strong></span>
            <br>
            <span style="font-size: x-small;">{{caseNew.getStart().toDate().toString().slice(0,21) + " " +
              caseNew.getTimeZone()}}</span>
          </div>
          <div class="col s1" ng-click="loadFiles(caseNew, $index)" style="padding: 40px 0 0 17px;">
            <i class="material-icons">
              {{caseNew.getFileUpload().length > 0 ? 'attachment' : ''}}
            </i>
          </div>
          <div class="col s1" style="padding: 40px 0 0 30px;">
            <div class="w3-dropdown-hover w3-right">
              <i class="material-icons">more_vert</i>
              <div class="w3-dropdown-content w3-bar-block w3-border csmBackground csmBackground-image" style="right:0">
                <span ng-if="userId==caseNew.getCaseCoveredById()">
                  <a href="#!GmCaseSetup/edit/{{caseNew.getCaseId()}}" class="w3-bar-item white-text">Edit</a>
                  <span ng-if="caseNew.getStart().toDate()<today"> <a href="#"
                      class="w3-bar-item   btn-flat disabled">Share</a></span>
                  <span ng-if="caseNew.getStart().toDate()>=today"> <a href="#!GmShareCase/{{caseNew.getCaseId()}}"
                      class="w3-bar-item  white-text">Share</a></span>
                  <a href="#!GmCaseSetup/copy/{{caseNew.getCaseId()}}" class="w3-bar-item  white-text">Copy</a>
                  <a href="" ng-click="cancelCase(caseNew.getCaseId())" class="w3-bar-item   white-text">
                    Cancel</a><br>
                </span>
                <div ng-if="IsVisible && $index==position">
                  <div class="row">
                    <div class="collection">
                      <div ng-repeat="file in files">
                        <a href="{{file.path}}" class="collection-item"> {{file.nm}}
                          <span ng-click="removeImage($index)"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
                <span ng-if="userId!=caseNew.getCaseCoveredById()">
                  <a class="w3-bar-item  white-text btn-flat disabled">Edit</a>
                  <a class="w3-bar-item  white-text btn-flat disabled">Share</a>
                  <a class="w3-bar-item  white-text btn-flat disabled">Copy</a>
                  <a class="w3-bar-item  white-text btn-flat disabled">Cancel</a><br>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="hide" id="fileList{{$index}}">
          <ul class="collection">
            <li class="collection-item case-report-content" ng-repeat="file in caseNew.getFileUpload()">
              <a class="black-text" ng-href="{{file.path}}" download="{{file.nm}}">{{file.nm}}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div id="noEventsDiv">
    <h5 style="padding-top: 22%; padding-left: 43%;">No Events.</h5>
  </div>
</div>
<!-- Modal Structure -->
<div id="conformModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span class=" white-text"><b>Confirmation Message</b></span>
  </div>
  <div class="modal-content">
    <h5>Are you sure you want to cancel this case? This cannot be undone</h5>
    <span hidden ng-model="caseId">{{caseId}}</span>
  </div>
  <div class="modal-footer">
    <span>
      <input class="btn findbtn  csmBackground csmBackground-image" type="button" value="yes"
        ng-click="cancelCaseSubmit(caseId)" />&nbsp;
    </span>
    <span>
      <input class="modal-close btn waves-effect waves-light red lighten-2" type="button" value="cancel"
        ng-click="saveCase()" />
    </span>
  </div>
</div>
<!-- Modal Trigger -->