<!-- Case Creation view -->
<h4 ng-show="create" class="center-align">Case Summary</h4>
<h4 ng-show="edit"class="center-align">Edit Case Summary</h4>
<div>
  <form ng-init="init()" ng-submit="createCase()">
    <div class="input-field col offset-s1 s10">
      <input ng-if="edit" ng-model="newCase.caseId" id="caseId" type="hidden">
      <span class="align-right"> <b>Hospital</b></span><span class="red-text text-darken-2"><b>*</b></span>
      <input ng-model="newCase.hospital" id="hospital" type="text" class="autocomplete" ng-change="typeHospital()"
        autocomplete="off" required>
      <span ng-if="accountEmpty" class="red-text text-darken-2"><b>No data found</b></span>
    </div>
    <div ng-show="create" class="input-field col offset-s1 s10">
      <span class="align-right"> <b>NPI/Surgeon</b></span><span class="red-text text-darken-2"><b>*</b></span>
      <div class="chips chips-autocomplete chips-initial no-autoinit" id="surgeon">
      </div>
    </div>
    <div ng-show="edit" class="input-field col offset-s1 s10">
      <span class="align-right"> <b>NPI/Surgeon</b></span><span class="red-text text-darken-2"><b>*</b></span>
      <div class="chips chips-autocomplete-edit no-autoinit" id="surgeon">
      </div>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Capital Eqip</b></span>
      <select ng-model="newCase.capitalEqip" id="capitalEqip">
        <option disabled value="">Select Capital Eqip</option>
        <option value="yes">YES</option>
        <option value="no">NO</option>
      </select>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Procedure</b></span>
      <select multiple ng-model="newCase.procedure" id="procedure" ng-change="procedureChange()">
      </select>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Level</b></span>
      <input ng-model="newCase.level" id="level" type="text" class="validate" autocomplete="off">
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Start Date</b></span><span class="red-text text-darken-2"><b>*</b></span>
      <!-- <input ng-model="newCase.startDate" id="startDate" ng-click="initCalendar(this)" autocomplete="off"> -->
      <input class="disabled" ng-model="newCase.startDate" ng-click="initCalendar(this)" id="startDate" type="text" autocomplete="off">
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Start Time</b></span>
      <input ng-model="newCase.startTime" id="startTime" ng-click="initStartTime(this)" type="text" class="validate"
        ng-change="endTimeChange()" autocomplete="off" required>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>End Time</b></span>
      <input ng-model="newCase.endTime" id="endTime" ng-click="initEndTime(this)" type="text" class="validate"
        ng-change="endTimeChange()" autocomplete="off" required>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Time Zone</b></span>
      <select ng-model="newCase.timeZone" id="timeZone">
        <option value="">Choose your option</option>
      </select>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Case Covered by</b></span>
      <input ng-model="newCase.caseCoveredBy" id="caseCoveredBy" type="text" class="autocomplete" autocomplete="off"
        ng-change="typeSalesRep()">
    </div>
    <div ng-show="create" class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Share With</b></span>
      <div class="chips chips-autocomplete-share no-autoinit" id="surgeon">
      </div>
    </div>
    <div ng-show="edit" class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Share With</b></span>
      <div class="chips chips-autocomplete-share-edit no-autoinit" id="surgeon">
      </div>
    </div>
    <div class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Notes</b></span>
      <input ng-model="newCase.notes" id="notes" type="text" class="validate" autocomplete="off">
    </div>
    <div ng-show="edit" class="input-field col offset-s1  s10">
      <span class="align-right"> <b>Case Title</b></span>
      <input ng-model="newCase.caseTitle" id="caseTitle" type="text" class="validate" autocomplete="off">
    </div>
    <div ng-show="create" class="input-field col s12">
      <span class="align-right"> <b>Case Title</b></span><br><br>
      <input id="tags" type="hidden"  autocomplete="off">
      <span class="hospital"><b>{{newCase.hospital}}<b></span> <span class="surgeon"></span> <span
        class="procedure"></span>
    </div>
    <div class="input-field col offset-s1  s10">
      <span style="padding: 9px 1px;" class="modal-action modal-close waves-effect btn-flat"
        onclick="document.getElementById('files').click()">
        <span class="align-right"> <b>Add attachment...</b></span>
      </span>
      <input type="file" id="files" name="files" autocomplete="off" onchange="angular.element(this).scope().onSelectedFiles(this)" multiple
        style="display:none">
    </div>
    <div class="row">
      <div class="container" ng-if="edit">
        <div ng-repeat="editCaseFile in editFiles track by $index">
          <div class="col s10 truncate">{{editCaseFile.nm}}</div>
          <div class="col s2">
            <a
              ng-click="deleteFileFromForm(editCaseFile.fid,editCaseFile.nm,editCaseFile.path,editCaseFile.type,editCaseFile.size,$index)">
              <span style="color:red" class="material-icons">cancel</span>
            </a>
          </div>
        </div>
      </div>
      <div class="container">
        <div ng-repeat="createCaseFileName in selectedFiles track by $index">
          <div class="col s6 truncate">{{createCaseFileName.name}} </div>
          <div class="col s4" ng-if="createCaseFileName.size<1000000">
            KB:{{createCaseFileName.size/1024| number : 2}}
          </div>
          <div class="col s4" ng-if="createCaseFileName.size>1000000">
            MB:{{createCaseFileName.size/1024/1024| number : 2}}
          </div>
          <div class="col s2">
            <a ng-click="removeFile($index)"><span style="color:red" class="material-icons">cancel</span></a>
          </div>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <input class="btn waves-effect waves-light center-align card csmBackground csmBackground-image" type="submit"
        value="Submit" />
    </div>
  </form>
</div>
<!-- Modal Structure -->
<div id="conformModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Confirmation Message</b></span>
  </div>
  <div class="modal-content">
   <h5>Please Select Surgeon!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>
<!-- Modal Structure -->
<div id="createSuccessModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Confirmation Message</b></span>
  </div>
  <div class="modal-content">
   <h5>Case Created Successfully!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>
<!-- Modal Structure -->
<div id="dateValidateModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Validation Message</b></span>
  </div>
  <div class="modal-content">
   <h5>Please select End Time should be Minimum one hour from start time!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>


<!-- Modal Structure -->
<div id="fileDuplicationValidateModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Validation Message</b></span>
  </div>
  <div class="modal-content">
    <h5>{{fDuplicateName}} file is already exists!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>

<!-- Modal Structure -->
<div id="individualFileLimitCheck" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Validation Message</b></span>
  </div>
  <div class="modal-content">
    <h5>{{individualFileName}}- size can not exceed 10 MB</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>
<!-- Modal Structure -->
<div id="totalFileSizeCheck" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Validation Message</b></span>
  </div>
  <div class="modal-content">
    <h5>Max. total file size 50 MB!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>


<!-- Modal Structure -->
<div id="fileInvalidValidateModal" class="modal ">
  <div class="model-header center-align  csmBackground csmBackground-image">
    <span  class=" white-text"><b>Validation Message</b></span>
  </div>
  <div class="modal-content">
    <h5>Invalid File..!</h5>
   </div>
  <div class="modal-footer">
      <span>
          <input class="modal-close btn findbtn  csmBackground csmBackground-image" type="button" value="Okay" ng-click ="leave()" />&nbsp;
      </span>
  </div>
</div>


