<div>
    <div class="row">
        <div ng-init="init(this)">
            <form  ng-submit="">
                <div class="row"><br><br>
                    <div id="evendar-ex-4"></div>
                </div>
            </form>
        </div>
    </div>
</div>
