<div>
  <div class="row">
    <div class="col s4 m4"><h5>Cases</h5></div>
    <div style="padding-top: 10px;text-align:left; " class="col s8 m8"> <span class="badge">  
      <a style="color:#333;letter-spacing: -0.5px;" class="btn gh-text grey lighten-1" href="#!GmQuickSearch">
      <i class="material-icons left">search</i>
      <span  style="font-size: 14px;text-transform: none;">Quick Search...</span></a></span>
    </div>
  </div>
      <div ng-init="setCSMDashboard(this)">   
        <div class="col s6 m6">
          <div class="card csmBackground csmBackground-image navigate">
          <a class="white-text" href="#!GmAdvanceSearchReport/todaysCases">
 		   <div class="card-content white-text">
              <p class="center-align">Today's Cases</p>
              <h5 class="center-align ">{{todaysCases}}</h5>
            </div></a>
          </div>
        </div>
        <div class="col s6 m6">
          <div class="card csmBackground csmBackground-image navigate">
		   <a class="white-text" href="#!GmAdvanceSearchReport/upcomingCases">
            <div class="card-content white-text" >
              <p class="center-align">Upcoming Cases</p>
              <h5 class="center-align ">{{upcomingCases}}</h5>
            </div></a>
          </div>
        </div>
      </div>
</div>
