<div ng-init="quickSearchInit(this)">
    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" ng-model="search.searchText" type="search" class="validate"
                ng-change="getTabs(this)" autocomplete="off">
            <label for="icon_prefix">Search</label>
            <i class="material-icons" ng-click="clearSearch(this)">close</i>
        </div>
    </div>

    <div id="recentSearches">
        <div class="left">
            <h6>Recent Searches</h6>
        </div>
        <div class="right" ng-click="clearRecentSearches(this)">Clear</div>
        <div class="clearfix"></div>

        <table>
            <tbody ng-repeat="textPair in recentSearchArr">
                <tr id="name">
                    <td>
                        <a class="left black-text" ng-click="resetRecentSearchOrder(textPair[0], textPair[1], $index)"
                            ng-href="#!GmAdvanceSearchReport/searchResults"><i
                                class="material-icons">{{textPair[1]}}</i>&nbsp;{{textPair[0][0]}}</a>
                        <div class="right"><i class="tiny material-icons"
                                ng-click="delRes(this, $index, textPair)">close</i></div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="searchTabs">
        <div class="divider" tabindex="-1"></div>
        <div class="col s12">
            <ul class="tabs tabs-fixed-width z-depth-1">
                <li class="tab col s3"><a class="active black-text tablist" href="#all">All</a></li>
                <li class="tab col s3"><a class="black-text tablist" href="#caseTitle">Case Title</a></li>
                <li class="tab col s3"><a class="black-text tablist" href="#surgeon">Surgeon</a></li>
                <li class="tab col s3"><a class="black-text tablist" href="#procedure">Procedure</a></li>
            </ul>
        </div>
        <div class="tab-container">
            <div id="all" class="col s12">
                <div class="left">
                    <h5>Case Titles</h5>
                </div>
                <table>
                    <tbody ng-repeat="caseTitle in caseTitles">
                        <tr>
                            <td>
                                <div class="left">
                                    <i class="material-icons">local_hospital</i>
                                    <a class="black-text" ng-click="saveRecentSearch(caseTitle, 'local_hospital')"
                                        ng-href="{{urlCaseTitle}}">&nbsp;{{caseTitle[0]}}</a>
                                </div>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="left">
                    <h5>Surgeons</h5>
                </div>
                <table>
                    <tbody ng-repeat="surgn in surgns">
                        <tr>
                            <td>
                                <a class="left black-text" ng-click="saveRecentSearch(surgn, 'assignment_ind')"
                                    ng-href="{{urlSurgeon}}"><i
                                        class="material-icons">assignment_ind</i>&nbsp;{{surgn[0] + "-" + surgn[2]}}</a>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="left">
                    <h5>Procedures</h5>
                </div>
                <table>
                    <tbody ng-repeat="procedure in procedures">
                        <tr>
                            <td>
                                <a class="left black-text" ng-click="saveRecentSearch(procedure, 'assignment')"
                                    ng-href="{{urlProcedure}}"><i
                                        class="material-icons">assignment</i>&nbsp;{{procedure[0]}}</a>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="caseTitle" class="col s12">
                <div class="left">
                    <h5>Case Titles</h5>
                </div>
                <table>
                    <tbody ng-repeat="caseTitle in caseTitles">
                        <tr>
                            <td>
                                <a class="left black-text" ng-click="saveRecentSearch(caseTitle, 'local_hospital')"
                                    ng-href="{{urlCaseTitle}}"><i
                                        class="material-icons">local_hospital</i>&nbsp;{{caseTitle[0]}}</a>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="surgeon" class="col s12">
                <div class="left">
                    <h5>Surgeons</h5>
                </div>
                <table>
                    <tbody ng-repeat="surgn in surgns">
                        <tr>
                            <td>
                                <a class="left black-text" ng-click="saveRecentSearch(surgn, 'assignment_ind')"
                                    ng-href="{{urlSurgeon}}"><i
                                        class="material-icons">assignment_ind</i>&nbsp;{{surgn[0]}}</a>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="procedure" class="col s12">
                <div class="left">
                    <h5>Procedures</h5>
                </div>
                <table>
                    <tbody ng-repeat="procedure in procedures">
                        <tr>
                            <td>
                                <a class="left black-text" ng-click="saveRecentSearch(procedure, 'assignment')"
                                    ng-href="{{urlProcedure}}"><i
                                        class="material-icons">assignment</i>&nbsp;{{procedure[0]}}</a>
                                <div class="clearfix"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>