<h4 class="center-align">Add Invitees</h4>
    <div ng-init="init(this)">
        <ul id="report">
            <div class="row">
                <div class="col s12 m6">           
                  <!-- <span  class="align-right"> <b>Case ID</b></span> -->
                    <span  class="align-right"> <b>Case Title</b></span>
                </div>
                <div class="col s12 m6">           
                   <!-- <span class="left-align"> {{newCase.caseId}}</span> -->
                   <span class="left-align"> {{newCase.caseTitle}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">           
                    <span  class="right-align"> <b>Share with</b></span>
                </div>
                <div class="col s12 m6">           
                    <div class="schips chips-autocomplete "></div>
                </div>
            </div>
            <div  class="row">  
                <div class="col s12 m6"><b>Currently Shared With</b></div>
            </div>
            <div  class="collection">
                <div  class="collection-item">
                    <span ng-repeat="caseNew in cases track by $index" >
                    <span ng-repeat="share in caseNew.shared" class="chip">{{share.repnm}}
                    <i class="close material-icons"  ng-click="removeSharedRep(share.repnm,share.repid)">close</i>
                    </span>
                    </span>
                </div>
            </div>
            <div class="center-align">
                <input class="btn  center-align csmBackground csmBackground-image" type="submit" value="Submit" ng-click = "saveSharedWith()" />
                <a href="#!GmAdvanceSearchReport/search"><input class="btn  danger-effect center-align red darken-4" type="submit" value="Cancel"/></a>
            </div>
        </ul>
    </div>