<div id="div-do-part-used">
<div class ="div-do-part-search-label-header">{{lblNm "part_search"}} </div>
<div id="div-do-parts-used-txtkeyword"></div>
<div id="div-do-parts-scan" style = "display:inline-block">
        <i class="fa fa-barcode fa-lg" ></i>       
</div>    
<div id="div-do-parts-help" style = "display:inline-block; margin-left: 35px;">
  <i id="parts-help-icon" class="fa fa-2x fa-question-circle" style="color:#3498DB"></i>
</div>
<div id="btn-do-hide-price" class="btn-navigation-120 btn-bg-blue">{{lblNm "hide_price"}}</div>
   
<div>
<ul id ="ul-do-parts-header-title" class = "ul-do-parts-list-header">
		<li id ="li-header-parts" class="li-header-title">{{lblNm "part"}}</li>
		<li id ="li-header-qty"  class="li-header-title">{{lblNm "qty"}}</li>
		<li id ="li-header-type" class="li-header-title">{{lblNm "type"}}</li>
		<li id ="li-header-replenished" class="li-header-title">{{lblNm "repl"}}</li>
		<li id ="li-header-lot-no" class="li-header-title">{{lblNm "lot_no"}}</li>
      <li id ="li-header-exp-date" class="li-header-title">Expiry Date</li>
		<li id ="li-header-price-ea" class="li-header-title">{{lblNm "price_ea"}}</li>
		<li id ="li-header-ext-price" class="li-header-title">{{lblNm "exit_price"}}</li>
	</ul>
</div>
<div id="div-do-parts-list"></div>
<div id ="div-do-parts-footer-title" class = "div-do-parts-list-footer">{{lblNm "total_price"}}: <span>{{lblNm "country_currency"}} 0.00 &nbsp;</span></div>
</div>
