<div class="div-do-surgery-detail-tab"> 
    {{#each this}}
    {{#iftrue ruleid 'Calendar'}}
    <ul id="ul-do-surg-calender">
            <div id ="div-do-op-surgery-detail-ack">
            <li id=""  class="li-do-surgery-label">{{attrnm}}</li>
            <li><input type ="text" class="li-do-surgery-date-details li-do-surg-{{attrtyp}}" id="{{attrtyp}}" value="{{companyDateFormat attrval}}"></li>
            <i class="fa fa-calendar fa-calendar-op fa-lg"></i>
            </div>
        </ul> 
    
    {{/iftrue}}
    {{#iftrue ruleid 'Text'}}
    <ul >
            <li class="li-do-surgery-label "> {{attrnm}}</li>
            <li><input type ="text"  class="li-do-surgery-input li-do-surg-{{attrtyp}}" id="{{attrtyp}}" value="{{attrval}}"></li> 
        </ul>
   {{/iftrue}}
    {{/each}}
    
</div>
