<div class="div-view-summary-parts-list" id="{{ID}}">
	<div class="div-viewsummary-part-nm">{{Name}}</div>
	<label id="lbl-qty">{{lblNm "qty"}}:</label><div class="div-viewsummary-part-qty">{{Qty}}</div>
	<label id="lbl-type">{{lblNm "type"}}:</label><div class="div-viewsummary-part-type">{{type}}</div>
	<label id="lbl-repl">{{lblNm "repl"}}:</label><div class="div-viewsummary-part-repl"><input type="checkbox" class="repl-checkbox" {{#if repl}}checked{{/if}} disabled/></div>
	<label id="lbl-lotno">{{lblNm "lot_no"}}:</label><div class="div-viewsummary-lot-no">{{lotno}}</div>
	<label id="lbl-unitprice">{{lblNm "price_ea"}}:</label><div class="div-viewsummary-price-ea-value" value="{{Price}}{{price}}">{{unitprice}}</div>
	<label id="lbl-extprice">{{lblNm "exit_price"}}:</label><div class="div-viewsummary-ext-price-value" value="{{Price}}{{price}}">{{price}}</div>
</div>


