<ul class="ul-parts-used-list hide-pu-list" indexValue="{{indexValue}}" id="{{ID}}" type="{{type}}" repl="{{repl}}" usedfl="{{usedFl}}" productclass="{{ProductClass}}" productmaterial="{{ProductMaterial}}" productfamily="{{ProductFamily}}" partdtlsfrmcloudfl="{{PartDtlsFrmCloudFl}}">
	<li class="li-do-parts-used-icon"><i class="fa close-item fa-minus-circle clear-row-pu"></i><i class="fa close-item fa-plus-circle add-row-pu"></i></li>
	<li class="li-do-parts-used-list">{{Name}}</li>
	<li class="li-qty-textbox">
		<div id="div-qty-box" class="div-do-keypad-values" value="quantity">{{Qty}}
		</div>
	</li>
	<li class="li-type-dropdown">
		<span id="lbl-consignment" value="50300" class="li-span-type">C</span><span id="lbl-loaner" value="50301" class="li-span-type">L</span>
	</li>
	<!-- <li class="li-type-dropdown">
		<div id="switch"></div> 
	</li> -->
	<li class="li-rep-checkbox"><input type="checkbox" class="repl-checkbox" {{#if repl}}checked{{/if}} disabled/></li>
	<li class="li-lot-no-textbox">
		<input class="txt-lot-no-box" value="{{lotno}}" type="text" style = "display:none" validCloudLotfl="{{validCloudLotfl}}"><i class="fa fa-camera fa-lg" style = "display:none; margin-left:5px"></i>
        <i class="fa fa-barcode fa-lg" style = "display:none"></i>
	</li>
   {{#iftrue accDivCompnayFl 'Y'}}
    <li class="li-part-exp-dt {{#if isExpired}} gmFontValidation{{/if}}">
		<div id="div-part-expiry-date" value="{{expiryDt}}">{{expiryDt}}</div>
	</li>
    {{/iftrue}}
	<li class="li-price-ea-textbox">
		<div id="div-price-ea-box" value="{{Price}}{{unitprice}}">{{displayUnitPrice}}</div>
	</li>
	<li class="li-ext-price-textbox">
		<div id="div-ext-price-box" value="{{Price}}{{price}}">{{displayPrice}}</div>
	</li>
	<li class="li-img-lot-no {{#if lotimg}} r{{else}}do-imp-hide{{/if}}">
		<img src="{{lotimg}}">
	</li>
</ul>


