<div id="div-detail-img-container" class="div-image-scan-lot-list">
<span>The following labels are supported to scan the lots.</span>
<div style="height: 5px;"></div>
<div class="div-scrol-img">
	<div class="div-image-scan-lot">
        <img class="img-scan-lot-first" src="globusMobileApp/image/icon/ios/JointBarcodeLabel1.png" alt="" />
        <img class="img-scan-lot-second" src="globusMobileApp/image/icon/ios/JointBarcodeLabel2.png" alt="" /><!--vertical align,display inline-->
    </div>
    <div style="height: 5px;"></div>
    <div class="div-image-scan-lot">
        <img class="img-scan-lot-third" src="globusMobileApp/image/icon/ios/JointBarcodeLabel3.png"  alt="" />
        <img class="img-scan-lot-four" src="globusMobileApp/image/icon/ios/JointBarcodeLabel4.png"  alt="" />	 
    </div>
    <div style="height: 5px;"></div> 
</div>
</div>