<!--Don't add any new tags in this hbs since we are taking the favorite name based on the current event-->
<div id="div-tag-fav-list" class="gmSection">
        {{#each arrFavVO}}
        <ul class="ul-fav-tag-list ul-fav-used-list" favcreateby="{{favcreateby}}" favdocid="{{favdocid}}" favcreatedate="{{favcreatedate}}">
            <a class="favtagtogglebx" id="togglebox" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
            <div class="gmMargin5p">
                <div class="pu-st-span-title" id="do-tag-short-favid"><label class="gmFontBold">{{lblNm "favorite_name"}} : </label>
                    <div class="use-tag-favorite" favcreateby="{{favcreateby}}" favname="{{favname}}" favdocid="{{favdocid}}" >{{favname}}</div>
                    <span class="span-delete-tag-favorites" favcreateby="{{favcreateby}}" favname="{{favname}}" favdocid="{{favdocid}}"><i class="fa fa-trash fa-lg" aria-hidden="true" style="margin-left: 40px;    color: #4971b9;"></i></span>
                </div>
            </div>

            <div id="favTagDetails" class="fvtagDetails short-span-pu" favcreateby="{{favcreateby}}" favname="{{favname}}" favdocid="{{favdocid}}">
                <table>
                    <tr>
                        <th>{{lblNm "tag_id"}}</th>
                        <th>{{lblNm "set_id"}}</th>
                        <th>{{lblNm "set_name"}}</th>
                    </tr>
                    {{#each favitems}}
                        <tr>
                            <td class="td-do-fav-del-icon"><span class="span-delete-single-tag-fav"  tagid="{{tagid}}"> <i class="fa close-item fa-minus-circle"></i> </span>{{tagid}}</td>
                            <td>{{setid}}</td>
                            <td>{{setnm}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </ul>
    {{/each}}
</div>