<div id="{{DOID}}" class="div-do-booked-do-list-item bookListMobile div-list-item-{{STATUS}}" coveringrep="{{COVERINGREPFL}}">
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="div-do-booked-account">{{ACCOUNT}}</div>
    <div class="bv-label gmClearLeft">{{lblNm "do_id"}}: </div>
	<div class="div-do-booked-doid">
	<span id="btn-do-booked-doid">{{DOID}}</span>
	</div> 
    <div class="bv-label gmClearLeft">{{lblNm "order_date"}}: </div>
	<div class="div-do-booked-orddate">{{companyDateFormat ORDERDATE}}</div>
    <div class="bv-label">{{lblNm "total"}}: </div>
	<div class="div-do-booked-total">{{TOTAL}}</div>
    <div class="bv-label gmClearLeft">{{lblNm "status"}}: </div>
	<div class="div-do-booked-status">{{STATUS}}
		<i class="fa-exclamation" data-msg="{{REASON}}"> </i>
	</div>
    <div class="bv-label">{{lblNm "cust_po"}}: </div>
	<div class="div-do-booked-custpo">{{CUSTPO}}</div>
	<div class="div-do-booked-pdf gmClearLeft"><i class="fa fa-file-pdf-o"></i>
	</div>
	
</div>

