<div id="div-do-view">
    <div id="div-detail-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span> {{lblNm "menu"}}</span></a>
	</div>
	<div id="div-do-breadcrumb">{{lblNm "delivery_dashboard"}} Delivered Order ></div>
	<div id="div-do-title-main">
		<div id="div-do-title"></div>
		<div id="div-do-subtitle"></div>
	</div>
	<div id="div-do-main-content" class="div-detail "></div>
	
	
	<div id="div-detail-navigation" class="div-do-detail-navigation">
			<a id="btn-case-book" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected " href="#do"> <span>{{lblNm "book_do"}}</span></a>
			<a id="btn-case-booked" class="btn-detail btn-bg-grey btn-detail-navigation " href="#do/booked"> <span>{{lblNm "draft_rejected"}}</span></a>
			<a id="btn-case-report" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#do/report"> <span>{{lblNm "dos_booked"}}</span></a>
            <a id="btn-case-udi" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#do/udi"> <span>{{lblNm "udi"}}</span></a>
			<a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
	</div>	
	
	<div class="btn-app-link">  
			<a class="in-app btn-lnk-case-scheduler" href="#case"><span class="span-link-text">{{lblNm "case_scheduler"}}</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
            <a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">{{lblNm "event_evaluation_form"}}</span></a>
	</div>		
				
</div>

<div id="overlay-back"></div>
