<div class="recPartsFilter">
    <input class="gmInputText gmTextAll" type="text" placeholder="Type to search parts..." />
</div>
<div class="recDoSetList">
    <div id="div-show-num-keypad"></div>
        <div class="expandAll-recTags">
            <i class="fa fa-plus"></i>
            <span class="gmFontBold">Expand All/Collapse All</span>
        </div>
        <div class="recDoPartsHead">
            <span>Parts</span>
            <span>Qty Sold</span>
        </div>
            {{#each this}}
                <div class="recDoSetListItem">
                    <div class="recdo-toggle-head">
                        <i class="fa fa-plus"></i>
                        <span class="gmFontBold">{{@key}}</span>
                    </div>
                    <div class="recdo-toggle-content hide">
                        <ul>
                            {{#each this}}
                                <li setid="{{setid}}" partid="{{partid}}" partnm="{{partnm}}" qty="0" lotno="">
                                    <span>{{partid}} {{partnm}}</span>
                                    <div class="record-parts-list-qty">
                                        <span class="gmFontBold">Used Qty:</span>
                                         <div class="li-qty-textbox">
                                            <a class="qty-minus-pu" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
                                            <div id="div-qty-box" class="div-do-keypad-values" value="quantity">0
                                            </div>
                                            <a class="qty-plus-pu" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            {{/each}}
    
        
</div>
<div class="gmTextCenter btn-sold-pos">
            <div id="add-parts-popup-btn" class="btn-parts-sold hide">Add Parts Sold</div>
</div>