<!--Don't add any new tags in this hbs since we are taking the favorite name based on the current event-->
<div id="div-tag-fav-header" class="gmPad10 modal-title">
<div id="div-tag-fav-header-title" class="gmAlignHorizontal gmFont12em">Tag Favorites</div>    
    <div id="div-tag-fav-head-close" class="gmAlignHorizontal gmFont12em gmFloatRight"><i class="fa fa-times  gmFontWhite gmPadLeft10p gmPadRight10p" aria-hidden="true"></i> </div>
</div>
<div id="div-tag-fav-list" class="gmSection">
        {{#each arrFavVO}}
        <ul class="ul-fav-tag-list ul-fav-used-list" favcreateby="{{favcreateby}}" favdocid="{{favdocid}}" favcreatedate="{{favcreatedate}}">
            <a class="favtagtogglebx" id="togglebox" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
            <div class="gmMargin5p">
                <div class="pu-st-span-title" id="do-tag-short-favid"><label class="gmFontBold">{{lblNm "favorite_name"}} : </label>
                    <div class="use-tag-favorite" favcreateby="{{favcreateby}}" favname="{{favname}}" favdocid="{{favdocid}}" >{{favname}}</div>
                </div>
            </div>

            <div id="favTagDetails" class="fvtagDetails short-span-pu" favcreateby="{{favcreateby}}" favname="{{favname}}" favdocid="{{favdocid}}">
                <table>
                    <tr>
                        <th>{{lblNm "tag_id"}}</th>
                        <th>{{lblNm "set_id"}}</th>
                        <th>{{lblNm "set_name"}}</th>
                    </tr>
                    {{#each favitems}}
                        <tr>
                            <td>{{tagid}}</td>
                            <td>{{setid}}</td>
                            <td>{{setnm}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </ul>
    {{/each}}
</div>