<html>
<head>
<title>PDF</title>

</head>
<style>
	
	body {
		
	}

	div, li {
		vertical-align: top;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	#ul-sales-rep li, #ul-surgery-info li, #ul-bill-to li, #ul-notes li {
		padding: 3px 5px;
	}

	#div-do-header {
		font-size: 0.6em;
		margin-bottom: 1em;
		padding: 0.25em 0;
		width: 100%;
	}

	.div-do-header-item {
		width: 30%;
	}

	#div-hca: {
		width: 150px;
	}

	#div-globus {
		width: 150px;
	}
	#div-globus img{
        width: 138px;
        height:60px; 
    }	
	.div-do-main {
		border: 1px solid transparent;
		font-size: 0.5em;
		/*height: 1000px;*/
		margin: auto;
		width: 680px;
		position: relative;
		margin-top: 30px;
	}

	.div-page-1 {
		margin-top: 0px!important;
		padding-top: 0px!important;
	}

	#div-do-surgery {
		padding: 10px 0;
		width: 100%;
	}

	#div-rep-account {
		width: 100%;
	}

	#div-do-title {
		font-weight: bold;
		font-size: 1.2em;
		margin: 1em 0;
		text-align: left;
		width: 100%
	}

	#div-internal {
		margin-top: 10px;
		width: 100%;
	}

	#div-internal-1, #div-internal-2 {
		display: inline-block;
		/*width: 49%;*/
	}

	#div-internal-1 {
		margin: 5px;
		width: 60%;
	}

	#div-internal-2 {
		margin-top: 5px;
		width: 30%;
	}

	#div-internal-11, #div-internal-12, #div-internal-13, #div-internal-14 {
		display: inline-block;
		width: 45%;
	}

	#div-total {
		float: right;
		margin: 10px 0;
	}

	#div-total div ul li {
		display: inline-block;
	}

	#div-comments {
		display: inline-block;
		width: 64%;
	}

	#div-total {
		display: inline-block;
		width: 34%;
	}

	#div-salesrep, #div-billto {
		min-height: 120px;
	}

	#div-salesrep {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 font-weight: bold; 
		 float: left; 
		 display: inline-block; 
		 width: 49%;
	}

	#div-total {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 text-align: right;
	}

	#div-hosrep {
		clear: both;
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 width: 99.5%;
	}

	#div-billto, #div-notes {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 display: inline-block; 
		 font-weight: bold;
		 float: right; 
		 width: 49%
	}

	#div-notes {
		margin-top: 10px;
		text-align: center;
	}

	#div-notes div {
		border: 0px;
	}

	#div-surgery-info, #div-notes {
		min-height: 120px;
	}

	#div-salesrep-title, #div-surgery-info-title, #div-billto-title, #div-additional-info {
		background-color: #ccc;
		font-weight: bold;
		padding: 0.25em 0;
		text-align: center
	}

	.li-internal-1 {
		display: inline-block;
	}

	.li-internal-2 {
		display: inline-block;
	}

	#div-parts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 250px;
	}

	#div-parts-list {
		margin: 5px 0;
	}

	#div-surgery-info {
		border: 1px solid #ccc;
		border-radius: 3px;
		clear: left;
		display: inline-block; 
		font-weight: bold;
		margin-top: 10px;
		width: 49%;
	}

	#li-rep-name, #li-email, #li-mobile, #li-rep-id, #li-acct-nm, #li-acct-id, #li-po-id, #li-loaner, #li-do-id, #li-do-surnm, #li-do-surtype, #li-do-surlvl, #li-do-date {
		clear: left;
		width: 100px;
		text-align: right;
	}

	.li-rep-name, .li-email, .li-mobile, .li-rep-id, .li-acct-nm, .li-acct-id, .li-po-id, .li-loaner, .li-do-id, .li-do-surnm, .li-do-surtype, .li-do-surlvl, .li-do-date {
		display: inline-block;
		min-width: 100px;
	}

	.li-do-id {
		font-size: 1.2em;
	}

	.div-agency-address {
		max-height: 50px;
		width: 200px;
	}

	.div-agency-address div {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#ul-parts-header {
		background-color: #ccc
	}

	#ul-parts-header li {
		display: inline-block;
		font-weight: bold;
		text-align: center;
	}

	.ul-parts-list li {
		display: inline-block;
		
	}

	.li-instrument {
		display: inline-block;
	}

	#li-num-h {
		text-align: center;
		padding-left: 25px;
		width: 10%;
	}

	#li-desc-h {
		text-align: center;
		width: 35%;
	}

	#li-type-h {
		text-align: center;
		width: 8%;
	}

	#li-lot-h {
		text-align: center;
		width: 8%;
	}

	#li-qty-h {
		text-align: right;
		width: 8%;
	}

	#li-uprice-h {
		text-align: right;
		width: 12%;
	}

	#li-xprice-h {
		text-align: right;
		width: 10%;
	}

	.li-id-l {
		margin-right: 5px;
		text-align: right;
		width: 25px;
	}

	.li-num-l {
		text-align: left;
		width: 10%;
		word-wrap: break-word;
	}

	.li-desc-l {
		text-align: left;
		width: 35%;
		word-wrap: break-word;
	}

	.li-type-l {
		text-align: center;
		width: 5%
	}

	.li-lot-l {
		text-align: left;
		margin-left: 15px;
		width: 8%;
	}

	.li-lot-image {
		margin-left: 100px;
	}

	.li-lot-image img {
		height: 100px;
	}

	.li-qty-l {
		text-align: right;
		width: 4%
	}

	.li-uprice-l {
		text-align: right;
		width: 12%;
	}

	.li-xprice-l {
		text-align: right;
		width: 12%;
	}

	.li-restock {
		display: inline-block;
	}

	#ul-signature {
		margin-top: auto;
		text-align: center;
		width: 33%;
		display: inline-block;
	}

	#ul-signature li {
		display: block;
		vertical-align: bottom;
		width: 100%;
	}

	#ul-comments {
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 10px 0;
		width: 100%;
	}

	#ul-comments li {
		padding: 0.25em 5px;
	}

	#li-comments-title {
		background-color: #ccc;
	}

	#li-comments-content {
		min-height: 52px;
        word-wrap: break-word;
	}

	#div-hosrep-title, #li-internal-title {
		background-color: #ccc;	
		padding: 0.25em 5px;
	}

	#li-subtotal-val, #li-total-val, #li-charge-val, #li-shipdel-val {
		margin: 2px 0;
		padding-right: 10px;
		width: 30%;
	}

	#li-subtotal, #li-total, #li-charge, #li-shipdel {
		width: 60%;
	}

	#ul-internal {
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	#div-footer {
		position: absolute;
		bottom: 0;
	}

	#div-nextParts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 300px;
	}

	#div-adjustment {
		height: 90px;
	}

	.parts-pages-two {
		height: 540px!important;
	}

</style>
	<body style="font-family: Verdana; list-style-type: none;">
		{{#each this}}
		<div class="div-do-main div-page-{{currpageno}}">

		<!-- <div id="div-space-adjust"></div> -->
			<div>
				<div id="div-do-title">Delivered Order Form</div>
				<div id="div-do-header">
					<div id="div-globus" style="display: inline-block;">
						<img src="{{logo}}"> 
					</div>
					<div class="div-do-header-item" style="display: inline-block;">
						<div style="font-weight:bold;">グローバスメディカル（株）</div>
						<div>〒102-0082 東京都千代田区一番町10-2</div>
						<div>一番町Mビル4F</div>
						<div>Phone:03-3511-0191</div>
						<div>Fax:03-3511-0192</div>
					</div>
				</div>
			</div>

			<div id="div-rep-account">
				<div id="div-salesrep">
					<div id="div-salesrep-title" name="Sales Representative">営業担当者</div>
					<div style="font-weight: normal">
						<ul id="ul-sales-rep">
							<li id="li-rep-name" class="li-rep-name" name="Sales Rep Name"><b>営業担当者名</b></li>
							<li class="li-rep-name">{{FirstName}}, {{LastName}}</li>
							<li id="li-mobile" class="li-mobile" name="Mobile Contact #"><b>モバイル連絡先</b></li>
                            <li class="li-mobile">{{phone}}</li>
                            <li id="li-email" class="li-email" name="Email"><b>電子メール</b></li>
                            <li class="li-email">{{email}}</li>
							<li id="li-rep-id" class="li-rep-id"><b>Globus Rep ID#</b></li>
							<li class="li-rep-id">{{RepID}}</li>
						</ul>
					</div>
				</div>
				<div id="div-billto">
					<div id="div-billto-title" name="Bill To">請求先</div>
					<div style="font-weight: normal">
						<ul id="ul-bill-to">
							<li id="li-acct-id" class="li-acct-id" name="Account ID#"><b>アカウント ID</b></li>
							<li class="li-acct-id">{{AccountID}}</li>
							<li id="li-po-id" class="li-po-id" name="PO ID#"><b>発注ID</b></li>
							<li class="li-po-id">{{PurchaseOrder}}</li>
							<li id="li-loaner" class="li-loaner"><b>Loaner</b></li>
							<li class="li-loaner">{{{Loaner}}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="div-do-surgery">
				<div id="div-surgery-info">
					<div id="div-surgery-info-title" name="Surgery Information">
						手術情報
					</div>
					<div style="font-weight: normal">
						<ul id="ul-surgery-info">
							<li id="li-do-id" class="li-do-id">
								<b>DO ID</b>
							</li>
							<li class="li-do-id">
								<b>{{DOID}}</b>
							</li>
							<li id="li-do-date" class="li-do-date" name="Date">
								<b>日付</b>
							</li>
							<li class="li-do-date">
								{{SurgeryDate}}
							</li>
							<li id="li-do-surnm" class="li-do-surnm" name="Surgeon Name">
								<b>執刀医</b>
							</li>
							<li class="li-do-surnm">
								{{SurgeonName}}
							</li>
							<li id="li-do-surtype" class="li-do-surtype" name="Surgery Type">
								<b>手術タイプ</b>
							</li>
							<li class="li-do-surtype">
								{{SurgeryType}}
							</li>
							<li id="li-do-surlvl" class="li-do-surlvl" name="Surgery Level">
								<b>手術レベル</b>
							</li>
							<li class="li-do-surlvl">
								{{SurgeryLevel}}
							</li>
						</ul>
					</div>
				</div>
				<div id="div-notes">
					<div id="div-additional-info" name="Additional Info">
						追加情報
					</div>
					<div style="font-weight: normal; background-image: url('{{notesrc}}'); width: 100%; height: 103.5px; background-size: contain; background-position: center; background-repeat:no-repeat;">
					</div>
				</div>
			</div>

			<div id="div-parts" class="parts-pages-{{twoPages}}">
			<div style="clear: left;">
				<ul id="ul-parts-header">
					<li id="li-num-h" name="Part Number">
						部品番号
					</li>
					<li id="li-desc-h" name="Description">
						名称
					</li>
					<li id="li-type-h" name="Type">
						<div>タイプ</div>
						<div>(C / L)</div>
					</li>
					<li id="li-lot-h" name="Lot Number">
						ロット番号
					</li>
					<li id="li-qty-h" name="Qty">
						数量
					</li>
					<li id="li-uprice-h" name="Unit Price">
						単価
					</li>
					<li id="li-xprice-h" name="Ext. Price">
						金額
					</li>
				</ul>
			</div>

			{{#each JSONSubParts}}
			<div id="div-parts-list">
				<ul class="ul-parts-list">
					<li class="li-id-l">
						{{indexValue}}
					</li>
					<li class="li-num-l">
						<div><b>{{{ID}}}</b></div>
					</li>
					<li class="li-desc-l">
						<div>{{{Name}}}</div>
					</li>
					<li class="li-type-l">
						{{type}}
					</li>
					<li class="li-lot-l">
						{{lotno}}
					</li>
					<li class="li-qty-l">
						{{Qty}}
					</li>
					<li class="li-uprice-l">
						{{unitprice}}
					</li>
					<li class="li-xprice-l">
						{{price}}
					</li>
					{{#if lotimg}}
					<li class="li-lot-image"><img src="{{lotimg}}"></li>
					{{/if}}
				</ul>
			</div>
			{{/each}}
			</div>

			{{#if twoPages}}
			<div>
				<pre>{{generateddate}}                                                                                                         Page 1 of 2</pre>
			</div>
			<div id="div-adjustment"></div>
			{{/if}}
			{{#if JSONNextSubParts}}
			<div id="div-nextParts">
				{{#each JSONNextSubParts}}
				<div id="div-parts-list">
					<ul class="ul-parts-list">
						<li class="li-id-l">
							{{indexValue}}
						</li>
						<li class="li-num-l">
							<div><b>{{{ID}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Name}}}</div>
						</li>
						<li class="li-type-l">
							{{type}}
						</li>
						<li class="li-lot-l">
							{{lotno}}
						</li>
						<li class="li-qty-l">
							{{Qty}}
						</li>
						<li class="li-uprice-l">
							{{unitprice}}
						</li>
						<li class="li-xprice-l">
							{{price}}
						</li>
						{{#if lotimg}}
						<li class="li-lot-image"><img src="{{lotimg}}"></li>
						{{/if}}
					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			<div id="div-comments">
				<ul id="ul-comments">
					<li id="li-comments-title" name="Comments">
						<b>コメント</b>
					</li>
					<li id="li-comments-content">
						{{comments}}
					</li>
				</ul>
			</div>

			<div id="div-total">
				<div>
					<ul>
						<li id="li-subtotal" name="Subtotal">
							<b>小計</b>
						</li>
						<li id="li-subtotal-val">
							{{subtotal}}
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-charge">
							<div name="Instrument Charge"><b>工具費用</b></div>
							<div name="(Please list usage code above)"><i>(上段に Usage コードを記入してください。)</i></div>
						</li>
						<li id="li-charge-val">
							0
						</li>		
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-shipdel" name="Shipping & Delivery">
							<b>出荷・配送</b>
						</li>
						<li id="li-shipdel-val">
							0
						</li>		
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-total" name="Total">
							<b>合計</b>
						</li>
						<li id="li-total-val">
							{{subtotal}}
						</li>		
					</ul>
				</div>
			</div>

			<div id="div-hosrep">
			<div id="div-hosrep-title" name="Hospital Representative">
				<b>病院担当者</b>
			</div>
			<div>
				{{#each signatures}}
				<ul id="ul-signature">
					<li>
						<div>
							<img style="width:100px;height: 50px;display:inline-block;" src="{{signature}}" >
						</div>
						<div name="Authorized Signature">
							<i><b>認証署名</b></i>
						</div>
					</li>
					<li>
						<div><b>{{printedName}}</b></div>
						<div><i><b></b></i></div>
					</li>
					<li>
						<div>{{title}}</div>
						<div><i><b></b></i></div>
					</li>
					<li>
						<div>{{date}}</div>
						<div><i><b></b></i></div>
					</li>
				</ul>
				{{/each}}
			</div>
			</div>
			<div id="div-internal">
				<ul id="ul-internal">
					<li id="li-internal-title" name="Internal">
						<b>社内</b>
					</li>
					<li>
						<div id="div-internal-1">
							<div>
								<div id="div-internal-11" name="Purchase Order #">
									発注書 #
								</div>
								<div id="div-internal-12" name="Invoice #">
									請求書 #
								</div>
							</div>
							<div>
								<div id="div-internal-13" name="PO Date">
									発注日
								</div>
								<div id="div-internal-14" name="Invoice Date">
									請求書日付
								</div>
							</div>
						</div>
						<div id="div-internal-2">
							<ul>
								<li name="Date Faxed">
									Fax 日付
								</li>
								<li name="Date Closed">
									完了日付
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<pre>{{generateddate}}                                                                                                         {{#if twoPages}}Page 2 of 2{{else}}Page 1 of 1{{/if}}</pre>
				
		</div>
		{{/each}}
	</body>
</html>