<ul class="ul-record-tag-list" indexValue="{{indexValue}}" id="{{tagid}}" data-setid="{{setid}}">
	<li class="li-do-parts-used-icon li-do-record-tag"><i class="fa close-item fa-minus-circle clear-row-pu"></i></li>
	<li class="li-do-rec-do-tag-dtl li-do-record-tag">{{tagid}}</li>
     <li class="li-do-rec-do-setid-dtl li-do-record-tag"><span class="rctag-setlist-pop"  data-setid="{{setid}}">{{setid}}</span></li>
    <li class="li-do-rec-do-setnm-dtl li-do-record-tag">{{setnm}}</li>
    <li class="li-rep-checkbox li-do-record-tag">
        {{#if tagusagefl}}
        <input type="checkbox" class="repl-checkbox" checked/>
         {{else}}
         <input type="checkbox" class="repl-checkbox"/>
         {{/if}}
    </li>
</ul>