<div class="div-do-detail-billing-info">
	<ul class= "ul-do-billing-info">
        <li class="li-do-billing-label" id="li-do-billing-surgerydate-label">
          <div id ="div-do-billing-info-surgery-date" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header"><font color="red">*</font>{{lblNm "surgery_date"}} </div>
				<span id="span-do-billing-info-surgery-date" style="height:16px;vertical-align:top;">{{companyDateFormat surgerydate}}</span>
                <label id="label-do-billing-info-surgery-date" style="display:none;">{{surgerydate}}</label>
				<input type ="text" value="{{surgerydate}}"  style = "display:none;">
				<i class="fa fa-calendar fa-lg"></i>
			</div>
            <div id="div-do-billing-info-order-type" class="div-do-billing-info-label">
                <div class="div-do-billing-info-label-header" id="div-do-billing-info-ordertype"><font color="red">*</font> {{lblNm "ordertype"}} </div>
                <div class="gmVerticalMiddle" id="div-do-billing-info-ordertype-list"></div>
            </div>
        </li>
		<li class="li-do-billing-label" id="li-do-billing-account-label">
			<div class ="div-do-billing-info-label-header"><font color="red">*</font> {{lblNm "account_search"}}</div>
			<div id="div-do-billing-account-search"></div>
		</li>
		
		<li class="li-do-billing-label" id="li-do-billing-accountid-label">
		    <div  id ="div-do-billing-info-account-id" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header"> {{lblNm "account_id"}} </div>
				<div id="div-do-billing-acid">{{acctid}}</div>
			</div>
			<div id ="div-do-billing-info-account-name" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header" >{{lblNm "account_name"}} </div>
				<div id="div-do-billing-acname">{{AccountName}}</div>
			</div>
		</li>
        <br><br id="do-mob">
		<li class="li-do-billing-label" id="li-do-billing-doid-label">	
			 <div id ="div-do-billing-info-do-id" class="div-do-billing-info-label" style="margin-left:45.2%;">
				<div class ="div-do-billing-info-label-header"> {{lblNm "do_id"}} </div>
				<div id="div-do-billing-doid" class="do-hide"><span id="span-do-billing-doid-repid">{{repID}}</span>-<span id="span-do-billing-doid-date">{{doDate}}</span>-<span id="span-do-billing-doid-count">{{doCount}}</span></div>
				<div id="div-do-billing-salesrep-search">
					<div id="div-do-billing-salerep-search-header">
						<div id="div-do-billing-salerep-search-title">{{lblNm "sales_rep_search"}} </div>
						<div id="div-do-billing-salesrep-search-x"><div>x</div></div>
					</div>
					<div id="div-do-billing-salesrep-list"></div>
				</div>
			</div>	
		</li>
		
		<li class="li-do-billing-label" id="li-do-billing-datecase-label">
			<div id ="div-do-billing-info-date-entered" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header">{{lblNm "date_entered"}}</div>
				<div id="div-do-billing-info-entered-date">{{companyDateFormat orderdate}} </div>
			</div>	
			<div id ="div-do-billing-case-id" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header"> {{lblNm "case_id"}}</div>
				<div id="div-do-billing-info-caseid-list"></div>
			</div>
		</li>
		
		<li class="li-do-billing-label" id="li-do-billing-surgery-label">
			<div id ="div-do-billing-info-surgeon-level" class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header div-do-billing-surgery"><div id="div-do-mand-surg-lvl" style="display:none;"><font  color="red">*</font></div> {{lblNm "surgery_level"}} </div>
				<div id="div-do-billing-info-surgerylevel-list" ></div>
                <div id="div-do-billing-info-div-surglvl-list" class="hide" ></div>
			</div>	
			<div id ="div-do-billing-info-surgeon-type"  class="div-do-billing-info-label">
				<div class ="div-do-billing-info-label-header div-do-billing-surgery"><div id="div-do-mand-surg-typ" style="display:none;"><font  color="red">*</font></div> {{lblNm "surgery_type"}}</div>
                <div id="div-do-billing-info-surgerytype-list"></div>
                 <div id="div-do-billing-info-div-surgtyp-list" class="hide"></div>
                <!--PC-4658-Add EGPS Usage in DO - Mobile Device -->
				<div id="div-do-billing-info-egpuse-list"></div>
			</div>
						
		</li>
		
		<li class="li-do-billing-label" id="li-do-billing-parent-label">
			<div id ="div-do-billing-info-parent-customer" class="div-do-billing-info-label">
				<!--<div id ="div-do-billing-info-surgeon-name">
					<div class ="div-do-billing-info-label-header"> Surgeon Name </div>
					<input type ="text" value="{{surgeonName}}">
				</div>	-->
				<div class ="div-do-billing-info-label-header">{{lblNm "parent_do_id"}} </div>
				<input id="div-do-billing-info-parent-input" type ="text" value="{{parentorderid}}">
				<div id="div-do-billing-info-customer" class ="div-do-billing-info-label-header"> {{lblNm "customer_po"}}</div>
				<input id="div-do-billing-info-customer-input" type ="text"  value="{{custpo}}">

			</div>	
			<div id="div-do-billing-info-additional-info">
				<div class ="div-do-billing-info-label-header" id="div-do-billing-additional-info"><div id="div-do-mand-add-info" style="display:none;"><font  color="red">*</font></div> {{lblNm "additional_info"}}</div>
				<div id = "div-do-billing-info-additional" style="background-image:url('{{imgsrc}}'); background-repeat:no-repeat;"></div>
				<i class="fa fa-camera fa-lg"></i>
			</div>
		</li>
	</ul>
</div>