<html>
<head>
<title>PDF</title>

</head>
<style>
	
	body {
		
	}

	div, li {
		vertical-align: top;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	#ul-sales-rep li, #ul-surgery-info li, #ul-bill-to li, #ul-notes li {
		padding: 3px 5px;
	}

	#div-do-header {
		font-size: 0.6em;
		margin-bottom: 1em;
		padding: 0.25em 0;
		width: 100%;
	}

	.div-do-header-item {
		width: 30%;
	}

	#div-hca: {
		width: 150px;
	}

	#div-globus {
		width: 150px;
	}
		
	.div-do-main {
		border: 1px solid transparent;
		font-size: 0.5em;
		/*height: 1000px;*/
		margin: auto;
		width: 680px;
		position: relative;
		margin-top: 30px;
	}

	.div-page-1 {
		margin-top: 0px!important;
		padding-top: 0px!important;
	}

	#div-do-surgery {
		padding: 10px 0;
		width: 100%;
	}

	#div-rep-account {
		width: 100%;
	}

	#div-do-title {
		font-weight: bold;
		font-size: 1.2em;
		margin: 1em 0;
		text-align: left;
		width: 100%
	}

	#div-internal {
		margin-top: 10px;
		width: 100%;
	}

	#div-internal-1, #div-internal-2 {
		display: inline-block;
		/*width: 49%;*/
	}

	#div-internal-1 {
		margin: 5px;
		width: 60%;
	}

	#div-internal-2 {
		margin-top: 5px;
		width: 30%;
	}

	#div-internal-11, #div-internal-12, #div-internal-13, #div-internal-14 {
		display: inline-block;
		width: 45%;
	}

	#div-total {
		float: right;
		margin: 10px 0;
	}

	#div-total div ul li {
		display: inline-block;
	}

	#div-comments {
		display: inline-block;
		width: 64%;
	}

	#div-total {
		display: inline-block;
		width: 34%;
	}

	#div-salesrep, #div-billto {
		min-height: 120px;
	}

	#div-salesrep {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 font-weight: bold; 
		 float: left; 
		 display: inline-block; 
		 width: 49%;
	}

	#div-total {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 text-align: right;
	}

	#div-hosrep {
		clear: both;
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 width: 99.5%;
	}

	#div-billto, #div-notes {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 display: inline-block; 
		 font-weight: bold;
		 float: right; 
		 width: 49%
	}

	#div-notes {
		margin-top: 10px;
		text-align: center;
	}

	#div-notes div {
		border: 0px;
	}

	#div-surgery-info, #div-notes {
		min-height: 120px;
	}

	#div-salesrep-title, #div-surgery-info-title, #div-billto-title, #div-additional-info {
		background-color: #ccc;
		font-weight: bold;
		padding: 0.25em 0;
		text-align: center
	}

	.li-internal-1 {
		display: inline-block;
	}

	.li-internal-2 {
		display: inline-block;
	}

	#div-udi-parts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 250px;
	}

	#div-udi-parts-list {
		margin: 5px 0;
	}

	#div-surgery-info {
		border: 1px solid #ccc;
		border-radius: 3px;
		clear: left;
		display: inline-block; 
		font-weight: bold;
		margin-top: 10px;
		width: 49%;
	}

	#li-rep-name, #li-email, #li-mobile, #li-rep-id, #li-acct-nm, #li-acct-id, #li-po-id, #li-loaner, #li-do-id, #li-do-surnm, #li-do-surtype, #li-do-surlvl, #li-do-date {
		clear: left;
		width: 100px;
		text-align: right;
	}

	.li-rep-name, .li-email, .li-mobile, .li-rep-id, .li-acct-nm, .li-acct-id, .li-po-id, .li-loaner, .li-do-id, .li-do-surnm, .li-do-surtype, .li-do-surlvl, .li-do-date {
		display: inline-block;
		min-width: 100px;
	}

	.li-do-id {
		font-size: 1.2em;
	}

	.div-agency-address {
		max-height: 50px;
		width: 200px;
	}

	.div-agency-address div {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#ul-parts-header {
		background-color: #ccc
	}

	#ul-parts-header li {
		display: inline-block;
		font-weight: bold;
		text-align: center;
	}

	.ul-udi-parts-list li {
		display: inline-block;
		
	}

	.li-instrument {
		display: inline-block;
	}

	#li-pnum-h {
		text-align: left;
		padding-left: 5px;
		width: 10%;
	}

	#li-desc-h {
		text-align: center;
		width: 17%;
	}

	#li-di-h {
		text-align: center;
        padding-left: 20px;
		width: 22%;
	}

	#li-udi-h {
		text-align: center;
		width: 35%;
	}

	#li-barc-h {
		text-align: center;
		width: 8%;
	}

	#li-uprice-h {
		text-align: right;
		width: 12%;
	}

	#li-xprice-h {
		text-align: right;
		width: 10%;
	}

	.li-id-l {
		margin-right: 5px;
		text-align: right;
		width: 25px;
	}

	.li-pnum-l {
		text-align: left;
		width: 10%;
		word-wrap: break-word;
	}

	.li-desc-l {
		text-align: left;
		width: 25%;
		word-wrap: break-word;
	}

	.li-di-l {
		text-align: center;
		width: 15%
	}

	.li-udi-l {
		text-align: left;
		margin-left: 15px;
		width: 8%;
	}

	.li-lot-image {
		margin-left: 100px;
	}

	.li-lot-image img {
		height: 100px;
	}

	.li-barc-l {
		text-align: right;
		width: 4%
	}

	.li-uprice-l {
		text-align: right;
		width: 12%;
	}

	.li-xprice-l {
		text-align: right;
		width: 12%;
	}

	.li-restock {
		display: inline-block;
	}

	#ul-signature {
		margin-top: auto;
		text-align: center;
		width: 33%;
		display: inline-block;
	}

	#ul-signature li {
		display: block;
		vertical-align: bottom;
		width: 100%;
	}

	#ul-comments {
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 10px 0;
		width: 100%;
	}

	#ul-comments li {
		padding: 0.25em 5px;
	}

	#li-comments-title {
		background-color: #ccc;
	}

	#li-comments-content {
		min-height: 52px;
	}

	#div-hosrep-title, #li-internal-title {
		background-color: #ccc;	
		padding: 0.25em 5px;
	}

	#li-subtotal-val, #li-total-val, #li-charge-val, #li-shipdel-val {
		margin: 2px 0;
		padding-right: 10px;
		width: 30%;
	}

	#li-subtotal, #li-total, #li-charge, #li-shipdel {
		width: 60%;
	}

	#ul-internal {
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	#div-footer {
		position: absolute;
		bottom: 0;
	}

	#div-nextParts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 300px;
	}

	#div-adjustment {
		height: 90px;
	}

	.parts-pages-two {
		height: 540px!important;
	}
    
</style>
	<body style="font-family: Verdana; list-style-type: none;">
		{{#each this}}
		<div class="div-do-main div-page-{{currpageno}}">

		<!-- <div id="div-space-adjust"></div> -->
			<div>
				<div id="div-do-title">UDI Details Form</div>
				<div id="div-do-header">
					<div id="div-globus" style="display: inline-block;">
						<img src="{{logo}}"> 
					</div>
					<div class="div-do-header-item" style="display: inline-block;">
						<div style="font-weight:bold;">Globus Medical Inc</div>
						<div>Valley Forge Business Center</div>
						<div>2560 General Armistead Avenue</div>
						<div>Audubon, PA 19403</div>
						<div>Phone:1-866-456-2871</div>
						<div>Fax:1-866-456-2873</div>
					</div>
				</div>
			</div>
        <!-- Sales Rep details  -->
			<div id="div-rep-account">
				<div id="div-salesrep">
					<div id="div-salesrep-title">Sales Representative</div>
					<div style="font-weight: normal">
						<ul id="ul-sales-rep">
							<li id="li-rep-name" class="li-rep-name"><b>Sales Rep Name</b></li>
							<li class="li-rep-name">{{lastName}}, {{firstName}}</li>
							<li id="li-mobile" class="li-mobile"><b>Mobile Contact #</b></li>
                            <li class="li-mobile">{{phone}}</li>
                            <li id="li-email" class="li-email"><b>Email</b></li>
                            <li class="li-email">{{email}}</li>
							<li id="li-rep-id" class="li-rep-id"><b>Globus Rep ID#</b></li>
							<li class="li-rep-id">{{repId}}</li>
						</ul>
					</div>
				</div>
            <!-- Surgery details  -->
                <div id="div-billto">
					<div id="div-billto-title">Surgery Information</div>
					<div style="font-weight: normal">
						<ul id="ul-bill-to">
							<li id="li-acct-nm" class="li-acct-nm"><b>Surgery Date</b></li>
							<li class="li-acct-nm">{{SurgeryDate}}</li>
							<li id="li-acct-id" class="li-acct-id"><b>Surgeon Name</b></li>
							<li class="li-acct-id">{{SurgeonName}}</li>
							<li id="li-po-id" class="li-po-id"><b>Surgery Type</b></li>
							<li class="li-po-id">{{SurgeryType}}</li>
							<li id="li-loaner" class="li-loaner"><b>Surgery Level</b></li>
							<li class="li-loaner">{{SurgeryLevel}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="div-udi-parts" class="parts-pages-{{twoPages}}">
			<div style="clear: left;">
				<ul id="ul-parts-header">
					<li id="li-pnum-h">
						Part Number
					</li>
					<li id="li-desc-h">
						Description
					</li>
					<li id="li-di-h">
						<div>DI/GTIN # </div>
					</li>
					<li id="li-udi-h">
						UDI
					</li>
					<li id="li-barc-h">
						Barcode
					</li>
					
				</ul>
			</div>

			{{#each JSONSubParts}}
			<div id="div-udi-parts-list">
				<ul class="ul-udi-parts-list">
<!--
					<li class="li-id-l">
						{{indexValue}}
					</li>
-->
					<li class="li-pnum-l">
						<div><b>{{{Id}}}</b></div>
					</li>
					<li class="li-desc-l">
						<div>{{{Description}}}</div>
					</li>
					<li class="li-di-l">
						{{DINumber}}
					</li>
					<li class="li-udi-l">
						{{UDINumber}}
					</li>
				</ul>
			</div>
			{{/each}}
			</div>

			{{#if twoPages}}
			<div>
				<pre>{{generateddate}}                                                                                                         Page 1 of 2</pre>
			</div>
<!--			<div id="div-adjustment"></div>-->
			{{/if}}
			{{#if JSONNextSubParts}}
			<div id="div-nextParts">
				{{#each JSONNextSubParts}}
				<div id="div-udi-parts-list">
					<ul class="ul-udi-parts-list">
<!--
						<li class="li-id-l">
							{{indexValue}}
						</li>
-->
						<li class="li-pnum-l">
							<div><b>{{{Id}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Description}}}</div>
						</li>
						<li class="li-di-l">
							{{DINumber}}
						</li>
						<li class="li-udi-l">
							{{UDINumber}}
						</li>

					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}

			<div>
				<pre>{{generateddate}}                                                                                                         {{#if twoPages}}Page 2 of 2{{else}}Page 1 of 1{{/if}}</pre>
		</div>
		{{/each}}
	</body>
</html>