<html>
<head>
<title>{{lblNm "pdf"}}</title>

</head>
<style>
	
	body {
		
	}

	div, li {
		vertical-align: top;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	#ul-sales-rep li, #ul-surgery-info li, #ul-bill-to li, #ul-notes li {
		padding: 3px 5px;
	}

	#div-do-header {
		font-size: 0.6em;
		margin-bottom: 1em;
		padding: 0.25em 0;
		width: 100%;
	}

	.div-do-header-item {
		width: 30%;
	}

	#div-hca: {
		width: 150px;
	}
    #div-globus img{
        width: 138px;
        height:60px; 
    }
	#div-globus {
		width: 150px;
	}

	.div-do-main {
		border: 1px solid transparent;
		font-size: 0.5em;
		/*height: 1000px;*/
		margin: auto;
		width: 680px;
		position: relative;
		margin-top: 30px;
	}

	.div-page-1 {
		margin-top: 0px!important;
		padding-top: 0px!important;
	}

	#div-do-surgery {
		padding: 10px 0;
		width: 100%;
	}

	#div-rep-account {
		width: 100%;
	}

	#div-do-title {
		font-weight: bold;
		font-size: 1.2em;
		margin: 1em 0;
		text-align: left;
		width: 100%
	}

	#div-internal {
		margin-top: 10px;
		width: 100%;
	}

	#div-internal-1, #div-internal-2 {
		display: inline-block;
		/*width: 49%;*/
	}

	#div-internal-1 {
		margin: 5px;
		width: 60%;
	}

	#div-internal-2 {
		margin-top: 5px;
		width: 30%;
	}

	#div-internal-11, #div-internal-12, #div-internal-13, #div-internal-14 {
		display: inline-block;
		width: 45%;
	}

	#div-total {
		float: right;
		margin: 10px 0;
	}

	#div-total div ul li {
		display: inline-block;
	}

	#div-comments {
		display: inline-block;
		width: 64%;
	}

	#div-total {
		display: inline-block;
		width: 34%;
	}

	#div-salesrep, #div-billto {
		min-height: 120px;
	}

	#div-salesrep {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 font-weight: bold; 
		 float: left; 
		 display: inline-block; 
		 width: 49%;
	}

	#div-total {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 text-align: right;
	}

	#div-hosrep {
		clear: both;
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 width: 99.5%;
	}

	#div-billto, #div-notes {
		 border: 1px solid #ccc;
		 border-radius: 3px;
		 display: inline-block; 
		 font-weight: bold;
		 float: right; 
		 width: 49%
	}

	#div-notes {
		margin-top: 10px;
		text-align: center;
	}

	#div-notes div {
		border: 0px;
	}

	#div-surgery-info, #div-notes {
		min-height: 120px;
	}

	#div-salesrep-title, #div-surgery-info-title, #div-billto-title, #div-additional-info {
		background-color: #ccc;
		font-weight: bold;
		padding: 0.25em 0;
		text-align: center
	}

	.li-internal-1 {
		display: inline-block;
	}

	.li-internal-2 {
		display: inline-block;
	}

	#div-parts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 250px;
	}

	#div-parts-list {
		margin: 5px 0;
	}

	#div-surgery-info {
		border: 1px solid #ccc;
		border-radius: 3px;
		clear: left;
		display: inline-block; 
		font-weight: bold;
		margin-top: 10px;
		width: 49%;
	}

	#li-rep-name, #li-email, #li-mobile, #li-rep-id, #li-acct-nm, #li-acct-id, #li-po-id, #li-loaner, #li-do-id, #li-do-surnm, #li-do-surtype, #li-do-surlvl, #li-do-date {
		clear: left;
		width: 100px;
		text-align: right;
	}

	.li-rep-name, .li-email, .li-mobile, .li-rep-id, .li-acct-nm, .li-acct-id, .li-po-id, .li-loaner, .li-do-id, .li-do-surnm, .li-do-surtype, .li-do-surlvl, .li-do-date {
		display: inline-block;
		min-width: 100px;
	}

	.li-do-id {
		font-size: 1.2em;
	}

	.div-agency-address {
		max-height: 50px;
		width: 200px;
	}

	.div-agency-address div {
		width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#ul-parts-header {
		background-color: #ccc
	}

	#ul-parts-header li {
		display: inline-block;
		font-weight: bold;
		text-align: center;
	}

	.ul-parts-list li {
		display: inline-block;
		
	}

	.li-instrument {
		display: inline-block;
	}

	#li-num-h {
		text-align: center;
		padding-left: 25px;
		width: 10%;
	}

	#li-desc-h {
		text-align: center;
		width: 35%;
	}

	#li-type-h {
		text-align: center;
		width: 8%;
	}

	#li-lot-h {
		text-align: center;
		width: 8%;
	}

	#li-qty-h {
		text-align: right;
		width: 8%;
	}

	#li-uprice-h {
		text-align: right;
		width: 12%;
	}

	#li-xprice-h {
		text-align: right;
		width: 10%;
	}

	.li-id-l {
		margin-right: 5px;
		text-align: right;
		width: 25px;
	}

	.li-num-l {
		text-align: left;
		width: 10%;
		word-wrap: break-word;
	}

	.li-desc-l {
		text-align: left;
		width: 35%;
		word-wrap: break-word;
	}

	.li-type-l {
		text-align: center;
		width: 5%
	}

	.li-lot-l {
		text-align: left;
		margin-left: 15px;
		width: 8%;
	}

	.li-lot-image {
		margin-left: 100px;
	}

	.li-lot-image img {
		height: 100px;
	}

	.li-qty-l {
		text-align: right;
		width: 4%
	}

	.li-uprice-l {
		text-align: right;
		width: 12%;
	}

	.li-xprice-l {
		text-align: right;
		width: 12%;
	}

	.li-restock {
		display: inline-block;
	}

	#ul-signature {
		margin-top: auto;
		text-align: center;
		width: 33%;
		display: inline-block;
	}

	#ul-signature li {
		display: block;
		vertical-align: bottom;
		width: 100%;
	}

	#ul-comments {
		border: 1px solid #ccc;
		border-radius: 3px;
		margin: 10px 0;
		width: 100%;
	}

	#ul-comments li {
		padding: 0.25em 5px;
	}

	#li-comments-title {
		background-color: #ccc;
	}

	#li-comments-content {
		min-height: 52px;
	}

	#div-hosrep-title, #li-internal-title {
		background-color: #ccc;	
		padding: 0.25em 5px;
	}

	#li-subtotal-val, #li-total-val, #li-charge-val, #li-shipdel-val {
		margin: 2px 0;
		padding-right: 10px;
		width: 30%;
	}

	#li-subtotal, #li-total, #li-charge, #li-shipdel {
		width: 60%;
	}

	#ul-internal {
		border: 1px solid #ccc;
		border-radius: 3px;
	}

	#div-footer {
		position: absolute;
		bottom: 0;
	}

	#div-nextParts {
		border: 1px solid #ccc;
		border-radius: 3px;
		min-height: 300px;
	}

	#div-adjustment {
		height: 90px;
	}

	.parts-pages-two {
		height: 540px!important;
	}

</style>
	<body style="font-family: Verdana; list-style-type: none;">
		{{#each this}}
		<div class="div-do-main div-page-{{currpageno}}">

		<!-- <div id="div-space-adjust"></div> -->
			<div>
				<div id="div-do-title">{{lblNm "hca_spine_implants_delivered_order_restocking_form"}}</div>
				<div id="div-do-header">
					<div id="div-hca" style="display: inline-block;">
						<img src="{{hcalogo}}">
					</div>
					<div id="div-globus" style="display: inline-block;">
						<img src="{{logo}}"> 
					</div>
					<div class="div-do-header-item" style="display: inline-block;">
						<div style="font-weight:bold;">Globus Medical Inc</div>
						<div>Valley Forge Business Center</div>
						<div>2560 General Armistead Avenue</div>
						<div>Audubon, PA 19403</div>
						<div>Phone:1-866-456-2871</div>
						<div>Fax:1-866-456-2873</div>
					</div>
					<div class="div-do-header-item" style="display: inline-block;">
						<div></div>
						<div style="font-weight:bold;">Remit To:</div>
						<div>P.O. Box 203329</div>
						<div>Dallas, TX 75320-3329</div>
						<div>Accounting Phone: 610-930-1800 x 5025</div>
						<div>Accounting Fax: 610-930-1803</div>
					</div>
				</div>
			</div>

			<div id="div-rep-account">
				<div id="div-salesrep">
					<div id="div-salesrep-title">{{lblNm "sales_representative"}}</div>
					<div style="font-weight: normal">
						<ul id="ul-sales-rep">
							<li id="li-rep-name" class="li-rep-name"><b>{{lblNm "sales_repname"}}</b></li>
							<li class="li-rep-name">{{LastName}}, {{FirstName}}</li>
							<li id="li-mobile" class="li-mobile"><b>{{lblNm "mobile_contact"}}#</b></li>
                            <li class="li-mobile">{{phone}}</li>
                            <li id="li-email" class="li-email"><b>{{lblNm "email"}}</b></li>
                            <li class="li-email">{{email}}</li>
							<li id="li-rep-id" class="li-rep-id"><b>{{lblNm "globus_rep_id"}}#</b></li>
							<li class="li-rep-id">{{RepID}}</li>
						</ul>
					</div>
				</div>
				<div id="div-billto">
					<div id="div-billto-title">Bill To</div>
					<div style="font-weight: normal">
						<ul id="ul-bill-to">
							<li id="li-acct-nm" class="li-acct-nm"><b>{{lblNm "account_name"}}</b></li>
							<li class="li-acct-nm">{{AccountName}}</li>
							<li id="li-acct-id" class="li-acct-id"><b>{{lblNm "account_id"}}#</b></li>
							<li class="li-acct-id">{{AccountID}}</li>
							<li id="li-po-id" class="li-po-id"><b>{{lblNm "po_id"}}#</b></li>
							<li class="li-po-id">{{PurchaseOrder}}</li>
							<li id="li-loaner" class="li-loaner"><b>{{lblNm "loaner"}}</b></li>
							<li class="li-loaner">{{{Loaner}}}</li>
						</ul>
					</div>
				</div>
			</div>

			<div id="div-do-surgery">
				<div id="div-surgery-info">
					<div id="div-surgery-info-title">
						{{lblNm "surgery_information"}}
					</div>
					<div style="font-weight: normal">
						<ul id="ul-surgery-info">
							<li id="li-do-id" class="li-do-id">
								<b>{{lblNm "do"}}#</b>
							</li>
							<li class="li-do-id">
								<b>{{DOID}}</b>
							</li>
							<li id="li-do-date" class="li-do-date">
								<b>{{lblNm "date"}}</b>
							</li>
							<li class="li-do-date">
								{{SurgeryDate}}
							</li>
							<li id="li-do-surnm" class="li-do-surnm">
								<b>{{lblNm "surgeon_name"}}</b>
							</li>
							<li class="li-do-surnm">
								{{SurgeonName}}
							</li>
							<li id="li-do-surtype" class="li-do-surtype">
								<b>{{lblNm "surgery_type"}}</b>
							</li>
							<li class="li-do-surtype">
								{{SurgeryType}}   &nbsp; {{EGPSType}}   <!-- EGPSType - PC-4658-Add EGPS Usage in DO - Mobile Device--> 
							</li>
							<li id="li-do-surlvl" class="li-do-surlvl">
								<b>{{lblNm "surgery_level"}}</b>
							</li>
							<li class="li-do-surlvl">
								{{SurgeryLevel}}
							</li>
						</ul>
					</div>
				</div>
				<div id="div-notes">
					<div id="div-additional-info">
						{{lblNm "additional_info"}}
					</div>
					<div style="font-weight: normal; background-image: url('{{notesrc}}'); width: 100%; height: 103.5px; background-size: contain; background-position: center; background-repeat:no-repeat;">
					</div>
				</div>
			</div>

			<div id="div-parts" class="parts-pages-{{twoPages}}">
			<div style="clear: left;">
				<ul id="ul-parts-header">
					<li id="li-num-h">
						{{lblNm "part_number"}}
					</li>
					<li id="li-desc-h">
						{{lblNm "description"}}
					</li>
					<li id="li-type-h">
						<div>{{lblNm "type"}}</div>
						<div>({{lblNm "c_l"}})</div>
					</li>
					<li id="li-lot-h">
						{{lblNm "lot_number"}}
					</li>
					<li id="li-qty-h">
						{{lblNm "qty"}} 
					</li>
					<li id="li-uprice-h">
						
					</li>
					<li id="li-xprice-h">
						
					</li>
				</ul>
			</div>

			{{#each JSONSubParts}}
			<div id="div-parts-list">
				<ul class="ul-parts-list">
					<li class="li-id-l">
						{{indexValue}}
					</li>
					<li class="li-num-l">
						<div><b>{{{ID}}}</b></div>
					</li>
					<li class="li-desc-l">
						<div>{{{Name}}}</div>
					</li>
					<li class="li-type-l">
						{{type}}
					</li>
					<li class="li-lot-l">
						{{lotno}}
					</li>
					<li class="li-qty-l">
						{{Qty}}
					</li>
					<li class="li-uprice-l">
						
					</li>
					<li class="li-xprice-l">
						
					</li>
					{{#if lotimg}}
					<li class="li-lot-image"><img src="{{lotimg}}"></li>
					{{/if}}
				</ul>
			</div>
			{{/each}}
			</div>

			{{#if twoPages}}
			<div>
				<pre>{{generateddate}}                                                                                                         {{lblNm "page_1_of_2"}}</pre>
			</div>
			<div id="div-adjustment"></div>
			{{/if}}
			{{#if JSONNextSubParts}}
			<div id="div-nextParts">
				{{#each JSONNextSubParts}}
				<div id="div-parts-list">
					<ul class="ul-parts-list">
						<li class="li-id-l">
							{{indexValue}}
						</li>
						<li class="li-num-l">
							<div><b>{{{ID}}}</b></div>
						</li>
						<li class="li-desc-l">
							<div>{{{Name}}}</div>
						</li>
						<li class="li-type-l">
							{{type}}
						</li>
						<li class="li-lot-l">
							{{lotno}}
						</li>
						<li class="li-qty-l">
							{{Qty}}
						</li>
						<li class="li-uprice-l">
							 
						</li>
						<li class="li-xprice-l">
							 
						</li>
						{{#if lotimg}}
						<li class="li-lot-image"><img src="{{lotimg}}"></li>
						{{/if}}
					</ul>
				</div>
				{{/each}}
			</div>
			{{/if}}
			
			<div id="div-comments">
				<ul id="ul-comments">
					<li id="li-comments-title">
						<b>{{lblNm "comments"}}</b>
					</li>
					<li id="li-comments-content">
						{{comments}}
					</li>
				</ul>
			</div>

			<div id="div-total">
				<div>
					<ul>
						<li id="li-subtotal">
							<b>{{lblNm "subtotal"}}</b>
						</li>
						<li id="li-subtotal-val">
							-
						</li>
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-charge">
							<div><b>{{lblNm "instrument_charge"}}</b></div>
							<div><i>({{lblNm "please_list_usage_code_above"}})</i></div>
						</li>
						<li id="li-charge-val">
							0
						</li>		
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-shipdel">
							<b>{{lblNm "shipping_and_delivery"}}</b>
						</li>
						<li id="li-shipdel-val">
							0
						</li>		
					</ul>
				</div>
				<div>
					<ul>
						<li id="li-total">
							<b>{{lblNm "total"}}</b>
						</li>
						<li id="li-total-val">
							-
						</li>		
					</ul>
				</div>
			</div>

			<div id="div-hosrep">
			<div id="div-hosrep-title">
				<b>{{lblNm "hospital_representative"}}</b>
			</div>
			<div>
				{{#each signatures}}
				<ul id="ul-signature">
					<li>
						<div>
							<img style="width:100px;height: 50px;display:inline-block;" src="{{signature}}" >
						</div>
						<div>
							<i><b>{{lblNm "authorized_signature"}}</b></i>
						</div>
					</li>
					<li>
						<div><b>{{printedName}}</b></div>
						<div><i><b></b></i></div>
					</li>
					<li>
						<div>{{title}}</div>
						<div><i><b></b></i></div>
					</li>
					<li>
						<div>{{date}}</div>
						<div><i><b></b></i></div>
					</li>
				</ul>
				{{/each}}
			</div>
			</div>
			<div id="div-internal">
				<ul id="ul-internal">
					<li id="li-internal-title">
						<b>{{lblNm "internal"}}</b>
					</li>
					<li>
						<div id="div-internal-1">
							<div>
								<div id="div-internal-11">
									{{lblNm "purchase_order"}}#
								</div>
								<div id="div-internal-12">
									{{lblNm "invoice"}}#
								</div>
							</div>
							<div>
								<div id="div-internal-13">
									{{lblNm "po_date"}}
								</div>
								<div id="div-internal-14">
									{{lblNm "invoice_date"}}
								</div>
							</div>
						</div>
						<div id="div-internal-2">
							<ul>
								<li>
									{{lblNm "date_faxed"}}
								</li>
								<li>
									{{lblNm "date_closed"}}
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<pre>{{generateddate}}                                                                                                         {{#if twoPages}}{{lblNm "page_2_of_2"}}{{else}}{{lblNm "page_1_of_1"}}{{/if}}</pre>
				
		</div>
		{{/each}}
	</body>
</html>