
<!--Mobile Code Start-->

<ul class="ul-record-tag-list ul-parts-used-list-mobile" indexValue="{{indexValue}}" id="{{tagId}}" data-setid="{{setid}}" data-newlyaddedTag="{{newlyAddedTag}}">
    <a class="editDORecTagtogglebx" id="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="mobile-short-span-pu">
        <div class="pu-st-span-title" id="do-record-short-tagid">{{tagId}}</div>
        <li class="pu-st-span-desc" id="do-record-short-setid">
            <div class="gmWidth50">
                <span class="pu-type"></span>
                <span class="pu-prc" data-setid="{{setId}}">{{setId}}</span>
            </div>
        </li>
    </div>
    {{#if newlyAddedTag}}
	<li class="li-do-parts-used-icon hide"><i class="fa close-item fa-minus-circle"></i><i class="fa close-item fa-plus-circle"></i></li>
     {{/if}}
    <li class="li-do-tags-used-list" id="li-do-records-tagId-label">{{lblNm "tag_id"}}:</li>
	<li class="li-do-tags-used-list" id="li-do-records-tagid-list">{{tagId}}</li>
    <li class="part-label gmClearLeft" id="li-do-records-setid-label">{{lblNm "set_id"}}: </li><li class="li-type-dropdown" id="li-do-records-setid"><span  data-setid="{{setId}}">{{setId}}</span></li>
    <li class="part-label mgn-lft30px gmClearLeft" id="li-do-record-setnm">{{lblNm "set_name"}}: </li>
    <li class="li-price-ea-textbox" id="li-do-record-setnm-list">{{setNm}}</li>
    
</ul>



