<div class="div-do-detail-comments">
	<div id="div-do-comments-limit"><span id="spn-do-comments-limit">500</span> {{lblNm "remaining"}}</div>
	<textarea id="txtarea-do-comments">{{comments}}</textarea>
</div>