<div class="do-npi-prev-surgeon-dt" style="height:100%">
    <h2 id="do-prev-surgeon-header">
        {{lblNm "most_recent_surgeon_details"}}: <font size=2>({{lblNm "msg_add_surgeon_npi"}}) </font>
    </h2>
    <div class="do-npi-header-title" id="do-prev-sub-header">
        <ul id="ul-do-npi-header-title" class="ul-do-npi-header">
            <li id="li-header-NPI" class="li-npi-header-title">{{lblNm "npi"}}#</li>
            <li id="li-header-Surgeonnm" class="li-npi-header-title">{{lblNm "surgeon_name"}}</li>
        </ul>
    </div>

    <div id="div-npi-detail-content" style="height:80%">
        {{#each this}}
        <div class="li-npi-acct" id="li-npi-detail">
            <li>
                <div id="div-npiid">{{prev_npiid}}</div>
            </li>
            <li>
                <div id="div-surgeonname">{{prev_surgeonnm}}</div>
            </li>
        </div>
        {{/each}}
    </div>

</div>