<div class="div-view-summary-tags-list" id="{{ID}}">
	<div class="div-viewsummary-tag-part-nm">{{Name}}</div>
	<div class="div-viewsummary-tag-part-qty">{{qty}}</div>
	<div class="div-viewsummary-tag-id">{{tagid}} </div>
</div>