<div id="div-do-edit-record-tag-detail">
    <div class="div-record-tag" id="div-record-tag-id">
<div id = "div-open-tag-img" class="gmMarginLeft10p"> <span><i class="fa fa-image fa-lg"></i></span> </div>      
<div id = "div-open-tag-favorite" class=" gmMarginLeft10p"> <span class="rctag-favlist-pop"><i class="fa fa-heart fa-lg"></i>

    </span> </div>
        <div id="editDOTagDetails"></div>

        <div id="editDOSetDetails"></div>
        <div>
            <ul class = "ul-do-do-tag-list-header ul-do-record-tag-mobile">
                <li id ="li-header-do-tag-remove" class="li-header-do-tag-remove li-do-tag-header-title"></li>
                <li id ="li-header-do-tag-id" class="li-header-do-tag-id li-do-tag-header-title">{{lblNm "tag_id"}}</li>
                <li id ="li-header-do-tag-set-id"  class="li-header-do-tag-set-id li-do-tag-header-title">{{lblNm "set_id"}}</li>
                <li id ="li-header-edit-do-tag-setnm" class="li-header-do-tag-setnm li-do-tag-header-title">{{lblNm "set_name"}}</li>
           </ul>
       </div>
       <div id="div-edit-do-record-tag-list"></div>
        <div class="gmTextCenter">
            <div id="btn-submit-edit-do-tags" class="btn-submit-edit-do-tags gmMarginBottom10p">Submit</div>
        </div>
    </div>
</div>
