<div id="{{DOID}}" class="div-do-booked-do-list-item div-list-item-{{STATUS}}" coveringrep="{{COVERINGREPFL}}">
	<div class="div-do-booked-doid">
	<i class = "fa close-item fa-minus-circle clear-row-pu"> </i>
	<span id="btn-do-booked-doid">{{DOID}}</span>
	</div> 
	<div class="div-do-booked-account">{{ACCOUNT}}</div>
	<div class="div-do-booked-orddate">{{companyDateFormat ORDERDATE}}</div>
	<div class="div-do-booked-total">{{TOTAL}}</div>
	<div class="div-do-booked-status">{{STATUS}}
		<i class="fa-exclamation" data-msg="{{REASON}}"> </i>
	</div>
	<div class="div-do-booked-custpo">{{CUSTPO}}</div>
	<div class="div-do-booked-pdf"><i class="fa fa-file-pdf-o"></i>
	</div>
	
</div>

