<div id="div-do-NPI-detail">
    <div id="div-npi-header">
        <ul id="ul-do-npi-header-title" class="ul-do-npi-header">
            <li id="li-header-NPI" class="li-npi-header-title"><font color="red">*</font>{{lblNm "npi"}}#</li>
            <li id="li-header-Surgeonnm" class="li-npi-header-title">{{lblNm "surgeon_name"}}</li>
        </ul>
    </div>
        <div class="field-grp" id="field-grp-id">
        <div class="npi-label-mobile">{{lblNm "npi"}}#</div>
        <div id="npiNum"></div>
        <div class="npi-label-mobile gmClearLeft">{{lblNm "surgeon_name"}}</div>
        <div id="surgeonName"></div>
        <div id="btn-load-new-npi" class="btn-signs hide">{{lblNm "add"}}</div>
    </div>
    <div>
        <div id="npi" style="display:none"></div>
        <div id="surgeon" style="display:none"></div>
    </div>
    <div class="values-grp" id="value-grp-div">
        <ul id="selectedData">
        </ul>
    </div>
    <div id="do-npi-Prev-surgeon-detail"></div>
</div>