<div id="div-do-report-main">
	<ul id="ul-do-report-company">
		<li id="li-do-report-company"> 
		<div id="div-do-report-company-header">
			<div id="div-do-report-companycontent">{{lblNm "company"}}</div>
			<div id="drp-do-report-company" class="div-do-report-company-header"></div>
		</div>
		</li>
		<li id="li-do-report-from-date">
			<div id="div-do-report-from-date">{{lblNm "from"}}</div>
			 <span id="span-do-report-from-date"></span>
			 <label id="label-do-report-from-date" style = "display:none;"></label> 
			 <input type="text" id="txt-from-date"  style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
		</li>
		<li id="li-do-report-to-date">
			<div id="div-do-report-to-date">{{lblNm "to"}}</div>
			<span id="span-do-report-to-date"></span>
			<label id="label-do-report-to-date" style = "display:none;"></label> 
			 <input type="text" id="txt-to-date"  style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
		</li>
		<li id="li-do-report-load">
			<div id="div-do-report-load">{{lblNm "load"}}</div>
		</li>
	</ul>
	<ul id="ul-do-report-do-id">
		<li id="li-do-report-do-id">
			<div id="div-do-report-do-id">{{lblNm "do_id"}}</div>
			<input type="text-box">
		</li>
		<li id="li-do-report-account">
			<div id="div-do-report-account">{{lblNm "account"}}</div>
			<div id="div-do-report-account-search"></div>
		</li>
	</ul>
    <ul id="ul-do-report-do-id">
		<li id="li-do-report-lot-id">
			<div id="div-do-report-do-id">{{lblNm "lot#"}}</div>
			<input type="text-box">
		</li>
		<li id="li-do-report-surgeon-id">
			<div id="div-do-report-account">{{lblNm "surgeon_name"}}</div>
			<input type="text-box">
		</li>
	</ul>	
    <div id="div-do-report-content"> 
		<div class="div-do-report-header">
			<div class="div-do-report-doid">{{lblNm "do_id"}}</div> 		
			<div class="div-do-report-account">{{lblNm "account"}}</div>
			<div class="div-do-report-orddate">{{lblNm "order_date"}}</div> 		
			<div class="div-do-report-total">{{lblNm "total"}}</div>
			<div class="div-do-report-status">{{lblNm "status"}}</div> 		
			<div class="div-do-report-custpo">{{lblNm "cust_po"}}</div>
		</div>
		<div id ="div-do-report-list"> </div>
	</div>
</div>
<div class="div-do-page-loader"> </div>
<div id="div-report-show-num-keypad"></div>