<ul class = "gmTextAll ul-udi-parts udiPartsMobile" indexValue="{{index}}">
    <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <li class="li-udi-parts-used-icon" partName={{Name}}><span class="udiLabel">Part#:</span>{{ID}}</li>
    <li class="gmClearLeft">
    <span class="udiLabel">Lot Number:</span><input type ="text" maxlength="15" value="{{lotnum}}" class = "li-udi-part-lotno" /></li>
    
    <li><span class="udiLabel">Serial Number:</span><input type ="text" maxlength="15" value="{{donornum}}" class = "li-udi-part-donorno"/></li>
    
    <li class="gmClearLeft gmTextAll"><span class="udiLabel">Expiry Date:</span><input id="div-do-udi-expdate" type ="text"  value="{{expdate}}" placeholder="mm/dd/yyyy" class = "li-udi-part-expdate" /></li>
    <li class="udiLabel gmWidthAuto gmClearLeft">DI:</li>
    <li class ="li-do-parts-dino gmWidthAuto">{{diid}}</li>
    <li class="udiLabel gmWidthAuto  gmWidthAuto gmClearLeft">UDI:</li>
    <li class = "li-do-parts-udino gmWidthAuto"></li>
    <div class="div-do-udi-desc  gmWidthAuto gmClearLeft"><span id="div-do-udi-desc">{{Name}}</span><span class="div-do-udi-pattern">&nbsp;<b>{{UDIpattern}}</b></span><span class = "li-do-UDI-pattern">{{UDItemplate}}</span></div>
</ul>