
<!--Mobile Code Start-->

<ul class="ul-parts-used-list ul-parts-used-list-mobile" indexValue="{{indexValue}}" id="{{ID}}" type="{{type}}" repl="{{repl}}" usedfl="{{usedFl}}" productclass="{{ProductClass}}" productmaterial="{{ProductMaterial}}" productfamily="{{ProductFamily}}" partdtlsfrmcloudfl="{{PartDtlsFrmCloudFl}}">
    <a class="togglebx" id="togglebox" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="copy-pu-span">
        <a class="add-row-pu" href="javascript:;"><span>Copy<br>{{lblNm "part"}}#</span></a>
    </div>
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="mobile-short-span-pu" id="mobile-short-div">
        <div class="pu-st-span-title">{{Name}}</div>
        <li class="pu-st-span-desc">
            <div class="gmWidth50">
                <span class="pu-type">{{#if type}}{{type}}{{else}}C{{/if}}</span>
                <span class="pu-prc">{{displayUnitPrice}}</span>
            </div>
            <div class="gmWidth50">
                <span class="pu-qty">{{Qty}}</span>
                <span class="pu-ext-price">{{displayPrice}}</span>
            </div>
        </li>
    </div>
    <div id="mobile-expand-div">
        <li class="li-do-parts-used-icon"><i class="fa close-item fa-minus-circle"></i><i class="fa close-item fa-plus-circle"></i></li>
	<li class="li-do-parts-used-list">{{Name}}</li>
    <li class="part-label gmClearLeft">{{lblNm "type"}}: </li>
    <li class="li-type-dropdown">
		<span id="lbl-consignment" value="50300" class="li-span-type">C</span><span id="lbl-loaner" value="50301" class="li-span-type">L</span>
	</li>
    <li class="part-label mgn-lft30px lbl-price-ea">{{lblNm "price_ea"}}: </li>
    <li class="li-price-ea-textbox">
		<div id="div-price-ea-box" value="{{Price}}{{unitprice}}">{{displayUnitPrice}}</div>
	</li>
    
    <li class="part-label clearDivRepl gmClearLeft">{{lblNm "repl"}}: </li>
    <li class="li-rep-checkbox"><input type="checkbox" class="repl-checkbox" {{#if repl}}checked{{/if}} disabled/></li>
    
    <li class="part-label qtyMblAlgn">{{lblNm "qty"}}: </li>
	<li class="li-qty-textbox">
        <a class="qty-minus-pu" href="javascript:;"><i class="fa close-item fa-minus-circle"></i></a>
		<div id="div-qty-box" class="div-do-keypad-values" value="quantity">{{Qty}}
		</div>
        <a class="qty-plus-pu" href="javascript:;"><i class="fa close-item fa-plus-circle"></i></a>
	</li>
    
    <li class="part-label gmClearLeft gmMarginBottom10p lbl-ext-price">{{lblNm "exit_price"}}: </li>
    <li class="li-ext-price-textbox">
		<div id="div-ext-price-box" value="{{Price}}{{price}}">{{displayPrice}}</div>
	</li>
 {{#iftrue accDivCompnayFl 'Y'}}
        <div style="display: block;    width: 100%;    clear: both;">
            	<li class="part-label lbl-part-exp-dt">Expiry Date: </li>
	<li class="li-part-exp-dt {{#if isExpired}} gmFontValidation{{/if}}">
		<div id="div-part-expiry-date" value="{{expiryDt}}">{{expiryDt}}</div>
	</li>
        </div>
 
       
    {{/iftrue}}
	<!-- <li class="li-type-dropdown">
		<div id="switch"></div> 
	</li> -->
	<li class="part-label gmClearLeft">{{lblNm "lot_no"}}: </li>
	<li class="li-lot-no-textbox lotbxmbl">
		<input class="txt-lot-no-box" value="{{lotno}}" type="text" style = "display:none" validCloudLotfl="{{validCloudLotfl}}">
        <i class="fa fa-barcode fa-lg" style = "display:none"></i><i class="fa fa-camera fa-lg" style = "display:none; margin-left:5px"></i>
	</li>
	
	<li class="li-img-lot-no {{#if lotimg}} r{{else}}do-imp-hide{{/if}} gmClearLeft mgn-top10p">
		<img src="{{lotimg}}">
	</li>
    </div>
	
    
    
    
</ul>



