<div id="{{donum}}" class="div-do-report-list-item">
	<div class="div-do-report-doid">{{donum}}</div> 
	<div class="div-do-report-account">{{accountnm}}</div>
	<div class="div-do-report-orddate">{{companyDateFormat orderdt}}</div>
	<div class="div-do-report-total">{{total}}</div>
	<div class="div-do-report-status">{{status}}</div>
	<div class="div-do-report-custpo">{{ponum}}</div>
    <div class="div-online-pdf" name="{{donum}}">{{lblNm "online_pdf"}}</div>
	<div class="div-do-report-pdf"><i class="fa fa-file-pdf-o"></i>
</div>
    <div class="div-do-report-edit hide"><i class="fa fa-edit"></i></div>  
</div>
