<ul id ="ul-do-tagid-parts-header">
		<li id ="li-do-tagid-part-header">{{lblNm "tag_part"}}</li>
		<li id ="li-do-tagid-qty-header">{{lblNm "qty"}}</li>
		<li id ="li-do-tagid-header">{{lblNm "tag_id"}}</li>
</ul>

<div id="div-do-tagid-parts-list">
	{{#each this}}
	<ul id="{{ID}}" data-index="{{indexValue}}" data-parent="{{parentIndex}}" class="ul-do-tagid-parts-list ul-do-tagid-parent-part">
        <div id="tagid-sub-div">
		<li class="li-do-tagid-partname"><i class="fa close-item fa-minus-circle fa-lg"></i><i class="fa close-item fa-plus-circle fa-lg"></i><span>{{Name}}</span></li>
		<label id="lbl-tagid-qty">{{lblNm "qty"}}:</label><li class="li-do-tagid-qty"><div class="div-do-tagid-keypad-values" value="quantity">{{Qty}}</div></li>
		<label id="lbl-tagid-tagid">{{lblNm "tag_id"}}:</label><li class="li-do-tagid"><input type="text" maxlength="7" value="{{TagValue}}"><i class="fa fa-barcode fa-lg"></i></li>
             </div>
	</ul>
	{{/each}}
</div>
