<div id="{{donum}}" class="div-do-report-list-item reportListMobile">
    <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="short-span-doreport">
        <div class="div-do-report-doid">{{donum}}</div> 
        <div class="div-do-report-orddate">{{companyDateFormat orderdt}}</div>
        <div class="div-do-report-status">{{status}}</div>
    </div>
	<div class="div-do-report-doid">{{donum}}</div> 
	<div class="div-do-report-orddate">{{companyDateFormat orderdt}}</div>
	<div class="div-do-report-status">{{status}}</div>
    <div class="div-do-report-account gmClearLeft">{{accountnm}}</div>
	<div class="div-do-report-total">{{total}}</div>
	<div class="div-do-report-custpo">{{ponum}}</div>
    <div class="div-online-pdf" name="{{donum}}">{{lblNm "online_pdf"}}</div>
	<div class="div-do-report-pdf"><i class="fa fa-file-pdf-o"></i>
</div>
    <div class="div-do-report-edit div-do-edit-tag-icon hide"><i class="fa fa-edit"></i></div>  
</div>
