<div id="div-do-signature-main">
	<ul id="ul-do-sign-label-header">
		<li id="li-do-sign-label-header"> {{lblNm "hospital_representative"}}</li>
	</ul>	
	<ul id="ul-do-detai-sign-tab">
		<li class="li-do-detai-sign-tab" id="li-do-detai-sign-tab1"><div>{{lblNm "signature_1"}}</div> <i class="fa  fa-plus-circle fa-lg"></i> </li>
	</ul>
	<ul class="ul-do-sign-label-header" id="ul-do-detai-sign-tab1"> </ul>
	<ul class="ul-do-sign-label-header" id="ul-do-detai-sign-tab2"> </ul>
	<ul class="ul-do-sign-label-header" id="ul-do-detai-sign-tab3"> </ul>
	
	<div class = "div-do-sign-btn-footer">
		<ul id="ul-btn-sign">
			<li class="li-btn-sign">
		        <div  id= "btn-sign-view" class="btn-sign">{{lblNm "view_summary"}} </div>
		        <div id= "btn-sign-submit" class="btn-sign"> {{lblNm "generate_pdf"}}  </div>
		        <div id="btn-sign-email-price" class="btn-sign">{{lblNm "email_with_price"}} </div>
		        <div id="btn-sign-email" class="btn-sign"> {{lblNm "email_without_price"}} </div>
		        <div id="btn-fax-pdf-price" class="btn-sign" value="faxno_withprice">{{lblNm "fax_with_price"}} </div>
		        <div id="btn-fax-pdf" class="btn-sign" value="faxno_withoutprice"> {{lblNm "fax_without_price"}} </div>
		    </li>
		</ul>
	</div>
	<div id="div-do-view-summary-main">
			<div id="div-do-view-summary-header">
				<div>{{lblNm "summary"}} <span id="div-do-view-summary-header-content"></span></div>
				<div id="div-do-view-summary-close"><div id="div-do-view-summary-close-icon"> x </div></div>
			</div>
			<div class = "div-do-view-summary-info">
			<ul class= "ul-do-view-summary-info">
				  <li class="li-do-view-summary-label">					
					    <div  id ="div-do-view-summary-account-id" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "account"}}</div>
							<div id="div-do-view-summary-acid"></div>
						</div>
						<div id ="div-do-view-summary-info-account-name" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header" > {{lblNm "account_name"}} </div>
							<div id="div-do-view-summary-acname"></div>
						</div>
					</li>
					
					<li class="li-do-view-summary-label">
						 <div id ="div-do-view-summary-info-rep-name" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "salesrep_name"}}</div>
							<div id="div-do-view-summary-repnm"></div>
						</div>	
						 <div id ="div-do-view-summary-info-do-id" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "do_id"}} </div>
							<div id="div-do-view-summary-doid"></div>
						</div>						
					</li>
					
					<li class="li-do-view-summary-label">
						<div id ="div-do-view-summary-info-parent-id" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "parent_do_id"}} </div>
							<div id="div-do-view-summary-pdoid"></div>
						</div>	
						<div id ="div-do-view-summary-case-id" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "case_id"}} </div>
							<div id="div-do-view-summary-caseid"></div>
						</div>
					</li>
					
					<li class="li-do-view-summary-label">
						<div id ="div-do-view-summary-info-surgeon-name" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "surgeon_name"}}</div>
							<div id="div-do-view-summary-sname"></div>
						</div>	
						 <div id ="div-do-view-summary-info-surgery-date" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "surgery_date"}} </div>
							<div id="div-do-view-summary-sdate"></div>
						</div>	
					</li>
					<li class="li-do-view-summary-label">
						<div id ="div-do-view-summary-info-customer-po" class="div-do-view-summary-label">	
							<div class ="div-do-view-summary-label-header"> {{lblNm "customer_po"}}  </div>
							<div id="div-do-view-summary-custpo"></div>
						</div>	
						<div id ="div-do-view-summary-info-total" class="div-do-view-summary-label">
							<div class ="div-do-view-summary-label-header"> {{lblNm "total"}}  </div>
							<div id="div-do-view-summary-total"> </div>
						</div>	
					</li>
						
			</ul>
			</div>
			<div id="div-summary-main">
			<div id="div-do-view-summary-part-main">
				<div id = "div-do-view-summary-part-header">
					<div id = "div-do-view-summary-part-id-header">{{lblNm "part"}} </div>
					<div id = "div-do-view-summary-part-qty-header">{{lblNm "qty"}} </div>
					<div id = "div-do-view-summary-part-type-header">{{lblNm "type"}}</div>
					<div id = "div-do-view-summary-part-repl-header">{{lblNm "repl"}}</div>
					<div id = "div-do-view-summary-part-lotno-header">{{lblNm "lot_no"}}</div>	
					<div id = "div-do-view-summary-part-price-header">{{lblNm "price_ea"}}</div>
					<div id = "div-do-view-summary-part-eprice-header">{{lblNm "exit_price"}}</div>					
				</div>
				<div id = "div-do-view-summary-part-content">
				  <div id = "div-do-view-summary-part-list"></div>
				</div>
				<div id="div-do-view-summary-tag-main">
				<div id = "div-do-view-summary-tag-header">
					<div id = "div-do-view-summary-tag-part-header">{{lblNm "part"}}</div>
					<div id = "div-do-view-summary-tag-partqty-header">{{lblNm "qty"}}</div>
					<div id = "div-do-view-summary-tag-tagid-header">{{lblNm "tag_id"}}</div>
				</div>
				<div id = "div-do-view-summary-tag-content">
				  <div id = "div-do-view-summary-tag-list"></div>
				</div>
			</div>
			</div>
			
		</div>	
	</div>
</div>
<div id="div-do-signature-area"> </div>


<div id="div-do-sample-pdf-container"></div>