<div class="div-do-detail-billing-info" id="div-do-udi-detail_billing-info">
<ul class= "ul-do-billing-info">
		<li class="li-do-billing-label" id = "li-do-udi-label1">
			 <div id ="div-do-udi-info-surgery-date" class="div-do-udi-info-label">
				<div class ="div-do-udi-info-label-header"> <span class="gmFontRed">*</span><span> {{lblNm "surgery_date"}}</span> </div>
				<label id="label-do-udi-info-surgery-date">{{surgerydate}}</label>
              
				<input type ="text" value="{{surgerydate}}"  style = "display:none;" />
				<i class="fa fa-calendar fa-lg"></i>
			</div>	
            <div id ="div-do-billing-info-do-id" class="div-do-udi-info-label">
	            <div id ="div-do-billing-info-surgeon-name">
						<div class ="div-do-udi-info-label-header"> <span class="gmFontRed">*</span><span> {{lblNm "surgeon_name"}}</span> </div>
						<input type ="text" id ="div-do-udi-surgname" maxlength="30" value="{{surgeonName}}" />
	            </div>
           </div>
		</li>
        
    	<li class="li-do-billing-label" id = "li-do-udi-label2">
			<div id ="div-do-udi-info-surgeon-level" class="div-do-udi-info-label">
				<div class ="div-do-udi-info-label-header div-do-billing-surgery"><span class="gmFontRed">*</span><span> {{lblNm "surgery_level"}}</span></div>
				<div id="div-do-udi-info-surgerylevel-list"></div>
               
			</div>	
            <div id ="div-do-udi-info-surgeon-type"  class="div-do-udi-info-label">
				<div class ="div-do-udi-info-label-header div-do-billing-surgery"> <span class="gmFontRed">*</span><span> {{lblNm "surgery_type"}}</span> </div>
				<div id="div-do-udi-info-surgerytype-list"></div>
			</div>
						
		</li>
 </ul>
</div>
		<div id="div-do-udi-part-used">
            <div class ="div-udi-part-search-label-header"><span class="gmFontRed">*</span><span> {{lblNm "part_search"}}</span> </div>
            <div id="div-do-udi-parts-used-txtkeyword"></div>
<!--            <div id="btn-do-hide-price" class="btn-navigation-120 btn-bg-blue">Load</div> -->
        <div id="div-do-udi-content"> 
        
		<div id ="div-do-udi-header">
			<div id = "div-udi-partnum">{{lblNm "part"}}#</div> 		
            <div id = "div-udi-lotnum">{{lblNm "lot_number"}}</div>
			<div id = "div-udi-donornum">{{lblNm "serial_number"}}</div>
            <div id = "div-udi-expdate">{{lblNm "expiry_date"}}</div>
			<div id = "div-udi-dinun" >{{lblNm "di"}}</div> 		
			<div id = "div-udi-udinum">{{lblNm "udi"}}</div>
        </div>
            <div id = "div-do-udi-part-items"></div>
       </div>
       <ul id="ul-btn-do">
		<li class="li-btn-do" id="do-udi-btn">
	        <div id="btn-udi-genpdf" class="btn-sign btn-bg-blue">{{lblNm "generate_pdf"}}</div>
	        <div id="btn-udi-emailpdf" class="btn-sign btn-bg-blue">{{lblNm "email_pdf"}}</div>
	    </li>
	</ul>
    </div>
<!--</div>-->


<div id="div-udi-sample-pdf-container"></div>