<div class="div-do-sign-label-header">
		<ul>
			<li class="li-do-sign-detail-label">{{lblNm "printed_name"}}({{lblNm "hospital_rep"}})</li>
			<li class="li-do-sign-detail-input"><input value="{{data.printedName}}" type="text" id="txt-do-sign-printed-name"/></li>
			<li class="li-do-sign-detail-label">{{lblNm "title"}} ({{lblNm "hospital_rep"}})</li>
			<li class="li-do-sign-detail-input"><input value="{{data.title}}" type="text" id="txt-do-sign-title"/></li>			
	    </ul>
		<ul id="ul-do-sign-content-right">	
		     <li class="li-do-sign-detail-label">{{lblNm "witness_signature"}}</li>
		     <li id="li-do-sign-display-area">
		        <div id="div-do-sign-auth-sign-area"><img id="img-do-sign" class="img-do-sign" src="{{data.signature}}"></img></div>
		        <div id="div-do-sign-auth-sign-area-footer"> {{lblNm "tap_here_to_sign"}}</div>
	        </li>  
	     </ul>  
</div>

<div id="div-sign-show-num-keypad"></div>