<ul class = "gmTextAll ul-udi-parts" indexValue="{{index}}">
    <li class="li-udi-parts-used-icon" partName={{Name}}><i class="fa close-item fa-minus-circle"></i>&nbsp;&nbsp;{{ID}}</li>
    <li><input type ="text" maxlength="15" value="{{lotnum}}" class = "li-udi-part-lotno" /></li>
    <li><input type ="text" maxlength="15" value="{{donornum}}" class = "li-udi-part-donorno"/></li>

    <li><input id="div-do-udi-expdate" type ="text"  value="{{expdate}}" placeholder="mm/dd/yyyy" class = "li-udi-part-expdate" /></li>
    <li class ="li-do-parts-dino">{{diid}}</li>
    <li class = "li-do-parts-udino"></li>
    <div class="div-do-udi-desc"><span id="div-do-udi-desc">{{Name}}</span><span class="div-do-udi-pattern">&nbsp;<b>{{UDIpattern}}</b></span><span class = "li-do-UDI-pattern">{{UDItemplate}}</span></div>
</ul>