<div id="div-do-record-tag-detail">
    <div class="div-record-tag" id="div-record-tag-id">
<div id = "div-open-tag-img" class="gmMarginLeft10p"> <span><i class="fa fa-image"></i></span> </div>      
<div id = "div-open-tag-favorite" class=" gmMarginLeft10p"> <span class="rctag-favlist-pop"><i class="fa fa-heart fa-lg"></i>

    </span> </div>
        <div id="tagDetails"></div>
        <i id="doScanTagDetails" class="doscantag fa fa-barcode fa-lg"></i>
        <div id="setDetails"></div>
        <div>
            <ul class = "ul-do-do-tag-list-header ul-do-record-tag-mobile">
                <li id ="li-header-do-tag-remove" class="li-do-tag-header-title"></li>
                <li id ="li-header-do-tag-id" class="li-do-tag-header-title">{{lblNm "tag_id"}}</li>
                <li id ="li-header-do-tag-set-id"  class="li-do-tag-header-title">{{lblNm "set_id"}}</li>
                <li id ="li-header-do-tag-setnm" class="li-do-tag-header-title">{{lblNm "set_name"}}</li>
                <li id ="li-header-do-tag-used" class="li-do-tag-header-title">{{lblNm "tag_used"}}</li>
           </ul>
       </div>
       <div id="div-do-record-tag-list"></div>
        <div class="gmTextCenter">
            
            <div id="btn-add-favorite" class="btn-add-favorite-tag gmMarginBottom10p gmMarginRight10p hide">+ {{lblNm "add_to_favorites"}}</div>
            <div id="btn-add-parts-sold" class="btn-parts-sold gmMarginBottom10p hide">Add Parts Sold</div>
        </div>
    </div>
</div>
