
<!--Mobile Code Start-->

<ul class="ul-record-tag-list ul-parts-used-list-mobile" indexValue="{{indexValue}}" id="{{tagid}}" data-setid="{{setid}}">
    <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
    <div class="delete-pu-span">
        <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
    </div>
    <div class="mobile-short-span-pu">
        <div class="pu-st-span-title" id="do-record-short-tagid">{{tagid}}</div>
        <li class="pu-st-span-desc" id="do-record-short-setid">
            <div class="gmWidth50">
                <span class="pu-type"></span>
                <span class="pu-prc rctag-setlist-pop" data-setid="{{setid}}">{{setid}}</span>
            </div>
        </li>
    </div>
	<li class="li-do-parts-used-icon"><i class="fa close-item fa-minus-circle"></i><i class="fa close-item fa-plus-circle"></i></li>
    <li class="li-do-parts-used-list" id="li-do-records-tagid-label">{{lblNm "tag_id"}}:</li>
	<li class="li-do-parts-used-list" id="li-do-records-tagid-list">{{tagid}}</li>
    <li class="part-label gmClearLeft" id="li-do-records-setid-label">{{lblNm "set_id"}}: </li><li class="li-type-dropdown" id="li-do-records-setid"><span class="rctag-setlist-pop"  data-setid="{{setid}}">{{setid}}</span></li>
    <li class="part-label mgn-lft30px gmClearLeft" id="li-do-record-setnm">{{lblNm "set_name"}}: </li>
    <li class="li-price-ea-textbox" id="li-do-record-setnm-list">{{setnm}}</li>
    <li class="part-label clearDivRepl gmClearLeft">{{lblNm "tag_used"}}: </li>
    <li class="li-rep-checkbox li-do-record-tag">
        {{#if tagusagefl}}
        <input type="checkbox" class="repl-checkbox" checked/>
         {{else}}
         <input type="checkbox" class="repl-checkbox"/>
         {{/if}}
        
        </li>
</ul>



