<div id="div-do-report-main">
	<div id ="div-do-booked-do-search-area">
		<input type ="text" id ="txt-search-booked-do" placeholder = {{lblNm "msg_status_account"}}> </input>
	</div>
	<div id="div-do-booked-content"> 
		<div class="div-do-booked-header">
			<div class="div-do-booked-doid">{{lblNm "do_id"}}</div> 		
			<div class="div-do-booked-account">{{lblNm "account"}}</div>
			<div class="div-do-booked-orddate">{{lblNm "order_date"}}</div> 		
			<div class="div-do-booked-total">{{lblNm "total"}}</div>
			<div class="div-do-booked-status">{{lblNm "status"}}</div> 		
			<div class="div-do-booked-custpo">{{lblNm "cust_po"}}</div>
		</div>
		<div id ="div-do-booked-do-list"> </div>
	</div>
</div>
<div id="div-booked-show-num-keypad"></div>
<div class="div-do-page-loader"> </div>