<div id="btn-address">
	{{lblNm "shipping_address"}}
</div>

<div id="div-shipping-address" class="div-ship-address-mob" style="display:none"></div>

<ul id ="ul-do-shiptoinfo-header-title" class = "ul-do-shiptoinfo-list-header">
	<li class="li-do-shiptoinfo-checkbox-header"></li>	
</ul>

<div id="div-do-shiptoinfo-parts-list" class="ship-info-mbl">

{{#each this}}
	<ul id="{{ID}}" data-index="{{indexValue}}" data-address-id="{{shipTo.addressid}}" data-ship-to-id="{{shipTo.ship_to_id}}" data-shipto="{{shipTo.shipto}}" data-carrier="{{shipTo.shipcarrier}}" data-mode="{{shipTo.shipmode}}" data-attn-to="{{shipTo.attnto}}" data-instruction="{{shipTo.shipinstruction}}" class="ul-do-shipinfo-parts-list ul-do-shipinfo-parent-part ship-info-list-mbl" repl="{{repl}}" type="{{type}}">
        <a class="togglebx" href="javascript:;"><img src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></a>
        <div class="mobile-short-span-sinfo">
            <div class="sinfo-title">{{Name}}</div>
            <li class="sinfo-span-desc">
                <div class="gmWidth50">
                    <span class="sinfo-type"></span>
                    <span class="sinfo-qty">{{Qty}}</span>
                </div>
                <div class="gmWidth50">
                    <span class="sinfo-address-name">{{shipTo.attnto}}</span>
                </div>
            </li>
        </div>
		<li class="li-do-shiptoinfo-address-indicator gmMarginBottom10p"></li>
		<li class="li-do-shiptoinfo-checkbox force-bg-light-grey gmMarginBottom10p" style="background-color:{{bgColor}}"></li>
        <li class="sinfo-label gmClearLeft gmMarginBottom10p">{{lblNm "part"}}:</li>
		<li class ="li-shiptoinfo-name gmMarginBottom10p">{{{Name}}}</li>
        <li class="sinfo-label gmClearLeft gmMarginBottom10p">{{lblNm "qty"}}:</li>
		<li class ="li-shiptoinfo-qty gmMarginBottom10p">{{Qty}}</li>
        <li class="sinfo-label gmClearLeft gmMarginBottom10p">{{lblNm "address"}}:</li>
		<li class ="li-shiptoinfo-address gmMarginBottom10p">
			<div>
				<ul>
					<li><span class="spn-attn-to">{{{AddressData.Name}}}</span></li>
					<li>{{{AddressData.Add1}}}</li>
					<li>{{{AddressData.Add2}}}</li>
					<li>{{{AddressData.City}}} {{{AddressData.State}}}</li>
					<li>{{AddressData.Zip}}</li>
					<li style="display:none">{{AddressData.AddressType}}</li>
				</ul>
			</div>
		</li>
        <li class="sinfo-label gmClearLeft">{{lblNm "carrier_mode"}}:</li>
		<li class ="li-shiptoinfo-carmode">
			<ul>
				<li class="li-carrier-name">{{shipTo.carrierName}}</li>
				<li>/</li>
				<li class="li-mode-name">{{shipTo.modeName}}</li>
			</ul>
		</li>
	</ul>
{{/each}}
</div>



