<!-----------------------------------------------
 * File:        GmDOReadTextFromImg.hbs
 * Description: To render all the uploaded images for the DO to extract the tag numbers from it.
 * Version:     1.0
 * Author:     	
 ------------------------------------------------>
<div class="gmTextCenter div-do-display-offline-image-msg gmAlignHorizontal hide">You are currently in Offline, Images will be proccessed automatically once the device back to Online...</div>
<form id="frm-file-upload" role="form"  class="data-document">
    <ul>
        <li class="gmTextCenter div-choose-btn"><input type="file" id="input-tag-img" class="input-tag-image"  src="" name="file" /></li>
    </ul>
</form>
<div class="div-do-raed-img-tag gmMarginTop5p">
    <div class="div-do-tag-img-top-header gmPaddingTop10p">
        <ul class="div-do-tag-img-header">
            <div class="gmVericalMiddle gmAlignHorizontal" id="li-select-tag-image">
                <div><input id="div-do-tag-img-upld-check-main" type="checkbox" class="gmWidth10p check-btn"></div></div>
            <li class="li-do-tag-img-top-header gmVericalMiddle" id="li-read-tag-image-name">Image</li>
            <li class="li-do-tag-img-top-header gmVericalMiddle" id="li-read-tag-process-img">Processed Tag(s)</li>
            <li class="li-do-tag-img-top-header gmVericalMiddle" id="li-read-tag-upload-on">Uploaded on</li>
            
        </ul>
    </div>
    <div class="div-tag-img-upload-file-details">
        {{#if empty}}
        <div class="gmTextCenter cfont_red" style="padding:15px">No Data Found</div>
        {{else}}
         {{#each this}}
                {{#if PROCESSED_DT}}
                     {{#if PROCESSED_TAGS}}
                        <ul class="ul-do-tag-img-details" imgrow = "{{TAG_IMG_DTL_ID}}" imgname = "{{IMG_NM}}">
                            <li class="gmAlignHorizontal" id="li-select-tag-image"><input type="checkbox" class="check-btn gmWidth10p"></li>
                            <img class="li-do-read-img-tag-dtls do-read-img" id="li-read-tag-image-name" src="{{path}}{{IMG_PATH}}" />
                            <!--            <img class="li-do-read-img-tag-dtls do-read-img" id="li-read-tag-image-name" src="globusMobileApp/image/icon/ios/icon-50@2x.png" />-->
                            <li class="li-do-read-img-tag-dtls" id="li-read-tag-process-img">{{PROCESSED_TAGS}}</li>
                            <li class="li-do-read-img-tag-dtls" id="li-read-tag-upload-on">{{PROCESSED_DT}}</li> 
                         </ul>
                     {{else}}
                         <ul class="ul-do-tag-img-details ul-do-tag-unprocess-img" imgrow = "{{TAG_IMG_DTL_ID}}" imgname = "{{IMG_NM}}">
                        <li class="gmAlignHorizontal" id="li-select-tag-image"><input type="checkbox" class="check-btn gmWidth10p"></li>
                        <img class="li-do-read-img-tag-dtls do-read-img" id="li-read-tag-image-name" src="{{path}}{{IMG_PATH}}" />
                         <li class="li-do-read-img-tag-dtls" id="li-read-tag-process-msg">Not able to extract Tag from the Uploaded Image,Please try again / add the tags manually. </li>
                        </ul>
        
                     {{/if}}
                {{else}}
                        <ul class="ul-do-tag-img-details" imgrow = "{{TAG_IMG_DTL_ID}}" imgname = "{{IMG_NM}}">
                            <li class="gmAlignHorizontal" id="li-select-tag-image"><input type="checkbox" class="check-btn gmWidth10p"></li>
                            <img class="li-do-read-img-tag-dtls do-read-img" id="li-read-tag-image-name" src="{{path}}{{IMG_PATH}}" />
                            <li class="li-do-read-img-tag-dtls" id="li-read-tag-process-img">{{PROCESSED_TAGS}}</li>
                            <li class="li-do-read-img-tag-dtls" id="li-read-tag-upload-on">{{PROCESSED_DT}}</li> 
                         </ul>
        
                {{/if}}
               
           
         {{/each}}
        {{/if}}
    </div>
    <div class="gmTextCenter">
         <div id="div-do-tag-img-delete-btn" class="div-do-img-delete-btn gmAlignHorizontal">Remove</div>
         <div id="div-do-process-img-btn" class="div-do-process-img-btn gmAlignHorizontal">Process Image</div>
         <div id="div-do-add-to-rec-tags-btn" class="div-do-add-to-rec-tags-btn gmAlignHorizontal">Add All Tags to Record Tags</div>    
    </div>
    
    <div class="gmTextCenter">
         <div id="div-do-display-image-msg" class="div-do-display-image-msg gmAlignHorizontal">The image will be available only on Device which is processed orginally</div>
   
    </div>
</div>
