<ul class="ul-record-tag-list" indexValue="{{indexValue}}" id="{{tagId}}" data-setid="{{setId}}">
	 
    <li class="li-header-do-tag-remove li-do-parts-used-icon li-do-record-tag">
        {{#if newlyAddedTag}}
            <i class="fa close-item fa-minus-circle clear-row-pu"></i>
        {{/if}}
    </li>
     
	<li class="li-header-do-tag-id li-do-rec-do-tag-dtl li-do-record-tag">{{tagId}}</li>
     <li class="li-header-do-tag-set-id li-do-rec-do-setid-dtl li-do-record-tag"><span  data-setid="{{setId}}">{{setId}}</span></li>
    <li class="li-header-do-tag-setnm li-edit-do-rec-tag-setnm-dtl li-do-record-tag">{{setNm}}</li>

</ul>