<div id="div-do-detail">
	<ul>
	    <li class="li-do-detail-label">
	        <div class="div-do-detail-label" id="div-do-billing-info">
		        {{lblNm "billing_surgery_info"}}
	        </div>
            <div class="div-do-detail-label" id="div-do-NPI-info">
		       {{lblNm "npi"}}
	        </div>
            <div class="div-do-detail-label" id="div-do-record-tags">
		       {{lblNm "DO_record_tags"}}
	        </div>
            <div class="div-do-detail-label" id="div-do-surgery-info">
		        {{lblNm "surgery_detail"}}
	        </div>
	      	<div class="div-do-detail-label" id="div-do-parts-used">
		        {{lblNm "parts_used"}}
	        </div>
	        <div class="div-do-detail-label" id="div-do-ship-info">
		        {{lblNm "ship_to_info"}}
	        </div>
	        <div class="div-do-detail-label" id="div-do-signature">
		        {{lblNm "signature"}}
	        </div>
	        <div class="div-do-detail-label" id="div-do-tag-id">
		        {{lblNm "tag_id"}}
	        </div>
	        <div class="div-do-detail-label" id="div-do-comments">
		        {{lblNm "comments"}}
	        </div>
	    </li>
	</ul>

	<ul id="ul-do-detail-billing-info" class="ul-do-detail-info"> </ul>
    <ul id="ul-do-detail-NPI-info" class="ul-do-detail-info"> </ul>
    <ul id="ul-do-detail-record-tags" class="ul-do-detail-info"> </ul>
    <ul id="ul-do-detail-surgery-info" class="ul-do-detail-info"> </ul>
	<ul id="ul-do-detail-parts-used" class="ul-do-detail-info"> </ul>
	<ul id="ul-do-detail-ship-info" class="ul-do-detail-info"> </ul>
	<ul id="ul-do-detail-signature" class="ul-do-detail-info"> </ul>
	<ul id="ul-do-detail-tag-id" class="ul-do-detail-info"> </ul>
	<ul id="ul-do-detail-comments" class="ul-do-detail-info"> </ul>
	<ul id="ul-btn-do">
		<li class="li-btn-do">
			<div id="btn-backward" class="btn-do div-do-detail-button"><<</div>	
	        <div id="btn-do-cancel" class="btn-do">{{lblNm "cancel"}}</div>
	        <div id="btn-do-bookdo" class="btn-do">{{lblNm "book_do_btn"}}</div>
	        <div id="btn-do-delete" class="btn-do">{{lblNm "delete"}}</div>
	        <div id="btn-forward" class="btn-do div-do-detail-button">>></div>
	    </li>
	</ul>
</div>

<div id="div-show-num-keypad"></div>