<div id="div-crf-details">
        <div id="crf-send-buttons" class="gmFloatRight gmMarginBottom10p">
            <div id="crf-send-review" class="gmAlignHorizontal gmBtn gmBGDarkerGrey gmFontWhite hide"> Send for review </div>
            <div id="crf-send-approval" class="gmAlignHorizontal gmBtn gmBGDarkerGrey gmFontWhite hide"> Send for approval </div>
        </div>

    <ul id="div-crf-tabs" class="gmSection div-crf-main-tap">
        <li id="div-crf-details-objective" class=" crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="Objective"> Objective <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-requestdetails" class=" crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="ReqDetail"> Request <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-servicedesc" class="crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="ServiceDesc"> Service <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i> </li>
        <li id="div-crf-details-hcpqualification" class="crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="HCPQual"> HCP <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-hourstime" class="crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="HoursTime"> Hours/Time <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-internaluse" class="crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em hide" name="InternalUse"> Internal Use <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-feedback" class="crf-tabs  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="Feedback"> Comments <i class="fa fa-chevron-right gmFloatRight  fa-lg" aria-hidden="true"></i></li>
    </ul>
    <div class="gmLineSpace iPad"></div>
    <div id="div-crf-details-content"></div>

</div>