{{#each this}}

	<li class="div-crf-feedback-comments-list gmBorderAsh gmSectionListItem" logid="{{logid}}">
		<ul class="div-crf-feedback-comments-list-header gmBGAsh gmSection commentHead">
			<li class="div-crf-feedback-comments-list-header-left gmSectionListItem gmFloatLeft gmAlignHorizontal">
				<span class="span-crf-feedback-comments-list-header " updatedbyid ="{{updatedbyid}}"> </span>
				<span class=" comments-data-right">{{updatedby}} </span>
			</li>
			<li class="div-crf-feedback-comments-list-header-right gmSectionListItem gmFloatRight">
				<span class="gmVerticalMiddle">Last Updated on </span>
				<span class="gmVerticalMiddle span-crf-feedback-comments-list-header-date"> {{formatDate updateddate}} </span>
                <i class="fa fa-pencil edit-comments gmFontBlack gmFont15em gmVerticalMiddle" indexvalue = "{{@index}}"></i>
                <i class="fa fa-trash delete-comments gmFontBlack gmFont15em gmVerticalMiddle" indexvalue = "{{@index}}"></i>
			</li>
		</ul>
		<div class="div-crf-feedback-comments-list-content gmCommentArea gmAlignHorizontal">{{logcomment}}</div>
	</li>

{{/each}}