
<div id="div-module-criteria">

    <ul class="tab-head-phone-criteria gmBorderAsh gmBGLGrey">
        <li id="tab-tradeshow" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="tab-filter" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="filter-tab-criteria">Filter</li>
        <li id="tab-favorites" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal" tabname="favorite-tab-criteria">Favorite</li>
    </ul>
    <div class="crf-search-content gmMediaDisplayNone crf-sub-content gmMediaMarginTop10 search-criteria-content">
        <div class="gmSectionListItem gmAlignHorizontal gmMediaWidth100">
            <div class="btn-upcoming gmBtn gmBGDarkGrey gmFontWhite gmMediaMarginAuto">Pending Approvals</div>
        </div>

        
        <div class="gmLineSpace el-training-Lmode gmMediaDisplayNone "></div>
        <div id="crf-title-search" class="search-criteria-content gmMediaMarginTop10">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Title</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="crf-title" class="crf-title gmInputText gmText350" value="">
                    <div id="btn-search-title" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="gmLineSpace gmMediaDisplayNone"></div>
     <div class="crf-criteria-phone-style crf-criteria-filter-style gmMediaWidth100 gmMinHeight130p filter-criteria-content">
        <ul class="gmSection gmAlignHorizontal gmVerticalTop gmFilter gmMediaWidth100">
            <li class="gmFontBold gmMediaDisplayNone">Filters</li>
            
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown crf-mobile-criteria-popup gmMediaWidth100">
                <div class="module-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="actstatus" data-inputParameters='{"codegrp":"CRFSTS"}' data-keyParameter="codenm" data-codegrp="CRFSTS" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="statusid" data-title="CRF Status">CRF Status <span></span></div>
            </li>
        </ul>
        <ul id="ul-crf-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop gmFloatRight">
            <li>
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p">
                    
                </div>
                <div class="gmFontBold gmAlignHorizontal lead-li-activity-date gmWidth180m">
                    Activity Date
                </div>
            </li>
            <li class="gmMarginTop10p li-crf-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight li-crf-actdate gmMediaDisplayNone">
                    From
                </div>
                <div class="gmAlignHorizontal div-crf-phone-date gmMediaWidth100">
<!--                    <input type="text" id="activity-frmdate" class="gmInputText gmWidth180m crf-frmdate" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-frmdate" class="gmInputText gmWidth180m crf-frmdate" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmMarginTop10p li-crf-actdate">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal div-crf-phone-date gmMediaWidth100">
<!--                    <input type="text" id="activity-todate" class="gmInputText gmWidth180m crf-todate" placeholder="mm/dd/yyyy">-->
                    <input type="date" id="activity-todate" class="gmInputText gmWidth180m crf-todate" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>
    <ul class="filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p crf-criteria-filter-style">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>

    <div class="gmLineSpace el-crf-Lmode gmMediaDisplayNone">
    </div>
    
    

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav crf-favorite-criteria">
            <li class="gmAlignHorizontal gmFontBold hide">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmCRFFav">

            </li>
        </ul>
    </div>

</div>
