<!--Tabs for phone layout -->
<ul id="div-crf-tabs" class="gmSection ul-crf-detail-phone-style">
        <li id="div-crf-details-requestdetail" class="crf-tab  gmAlignHorizontal gmBGLGrey gmPadding1em gmBtn   btn-crf-tab-select" name="ReqDetail"> Request Details  <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-servicedes" class="crf-tab gmAlignHorizontal gmBtn btn-crf-tab-select gmBGLGrey gmPadding1em" name="ServiceDesc"> 
         <span class="crf-serdesc-hcp-qual gmEllipses">Service / HCP</span><span><i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></span></li>
        <li id="div-crf-details-hourstim" class="crf-tab  gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em" name="HoursTime"> Hours / Internal Use  <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
       <li id="div-crf-details-approval" class="crf-tab gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em " name="Approval"> Approval  <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i></li>
        <li id="div-crf-details-feedbac" class="crf-tab gmAlignHorizontal gmBtn gmBGLGrey gmPadding1em " name="Feedback"> Comments <i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i> </li>
    </ul>



<!--Request Detail-->
<div id="div-merc-crf-main-details " class="crf-detail-tab">
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> REQUESTED DATE </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="spn-crf-req-date">{{reqdate}}</span>
        </li>

        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> REQUESTED BY </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            {{#if createdby}}
            {{createdby}}
            {{else}}
            <span id="span-crf-requestor"></span>
            {{/if}}
        </li>

        {{#if priorityfl}}
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> URGENT </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <i class="fa fa-check-square fa-lg gmFontKhaki" aria-hidden="true"></i>
        </li>
        {{/if}}
    </ul>
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> UPDATED DATE </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{formatDate updatedon}}</li>

        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> UPDATED BY </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{updatedby}}</li>
    </ul>
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> TYPE OF REQUEST </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{reqtypenm}}</li>

        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold typ-of-req-reason">REASON</li>
        {{#iftrue reqtypenm 'Resubmission'}}
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal typ-of-req-reason">{{reason}}</li>
        {{/iftrue}}
    </ul>
    {{#gmCRMSurgeonlistVO}}
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> CONSULTANT NAME </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="span-crf-consultant-name" class="gmLink" data-partyid="{{partyid}}" data-npid="{{npid}}">
					<a href="#crm/surgeon/id/{{partyid}}">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</a>
                </span>
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> CV </li>
        <li class="gmSectionListItem gmSectionValue gmLnk gmAlignHorizontal">
<!--            <div href="" id="a-type-of-req-cv-file" class="a-type-of-req-cv-file open-crf-doc" target="_blank"></div>-->
            <div href="" class="gmLink open-crf-doc forms-in-file-CV" target="_blank"></div>
        </li>
    </ul>
    
    
    <ul class="gmSection requestdetail ul-crf-actvtydetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> EMAIL </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            
            {{#if arrgmsurgeoncontactsvo}}{{#each arrgmsurgeoncontactsvo}}{{#iftrue contype ""}}{{#iftrue conmode "90452"}}<a class="gmFontBlack" href="mailto: {{convalue}}">{{#if convalue}}{{convalue}}{{/if}}</a>{{/iftrue}}{{/iftrue}}{{/each}}{{/if}}
        </li>

        <li id="div-crf-header-cell" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> CELL # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            {{#if arrgmsurgeoncontactsvo}}{{#each arrgmsurgeoncontactsvo}}{{#iftrue contype ""}}{{#iftrue conmode "90450"}}
            <a class="gmFontBlack" href="tel: {{convalue}}">{{#if convalue}} {{formatPhoneNumber convalue}} {{else}}<span class="gmFontItalic"> unavailable</span>{{/if}}</a>{{/iftrue}}{{/iftrue}}{{/each}}{{/if}}
        </li>

        <li id="div-crf-header-work" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold"> WORK # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmLink">
            <span id="span-crf-work"></span>
            <a class="gmFontBlack span-crf-work" href="tel: {{convalue}}"></a>
        </li>
    </ul>
    
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> ADDRESS </li>
       
        <li id="div-crf-address" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalTop">
        </li>
      
    </ul>
    {{/gmCRMSurgeonlistVO}}
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold li-crf-assesmnt-detail gmText200"> NEEDS ASSESSMENT CTRL # </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-crf-assesmnt-val">
            <span id="span-crf-needs-ass-ctrl"> {{actid}} </span>
        </li>
    </ul>
    <ul class="gmSection requestdetail">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200"> TYPE OF SERVICE REQUESTED </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <span id="spn-select-crf-service-req-typ gmText200">Training And Education</span>
        </li>
    </ul>
</div>
<div class="crf-detail-tab">
<!--Service Description-->
<ul class="gmSection servicedes" id="div-merc-crf-service-desc-main">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200">SERVICE DESCRIPTION</li>
    {{#if servicedesc}}
    <li class=" gmSectionValue gmAlignHorizontal gmTextTop gmMarginLeft10p approver-comments crf-mobile-comments">{{servicedesc}}</li>{{/if}}
    
</ul>
<!--HCP Qualification-->
<ul class="gmSection servicedes" id="div-merc-crf-hcp-qualify-main">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200">HCP QUALIFICATION</li>
    {{#if hcpqualification}}
    <li class=" gmSectionValue gmAlignHorizontal gmTextTop gmMarginLeft10p approver-comments crf-mobile-comments">{{hcpqualification}}</li>
    {{/if}}
</ul>
<!--Hours and Time-->
<ul class="gmSection gmMarginTop10p hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> TOTAL PREP TIME </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-crf-tot-prep-time" value="{{preptime}}">{{preptime}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> TOTAL WORK HOURS </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-crf-tot-work-hours" value="{{workhrs}}">{{workhrs}}</li>
</ul>
<ul class="gmSection hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> TRAVEL TIME APPLICABLE? </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue">
        <span class="travel-time-{{timefl}}">
                <span class="travel-time-flag travel-time-Yes" >Yes</span>
        <span class="travel-time-flag travel-time-No">No</span>
        </span>
    </li>
    <!--Internal Use-->
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> CURRENT AGREEMENT </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue">
        <span class="current-argflag-{{agrfl}}">
                                    <span class="current-argflag current-argflag-Yes" >Yes</span>
        <span class="current-argflag current-argflag-No">No</span>
        </span>
    </li>
</ul>

<ul class="ext-span-txt gmSection hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> FORMS IN FILE </li>
   
    <li class="gmSectionListItem gmLnk gmWidth50m gmAlignHorizontal crf-mobile-sectionvalue">
        <div href="" class="gmLink gmAlignHorizontal gmText50 open-crf-doc forms-in-file-CV" target="_blank"></div>
        <div href="" class="gmLink gmAlignHorizontal gmText100 open-crf-doc forms-in-file-RC" target="_blank"></div>
        <div href="" class="gmLink gmAlignHorizontal gmText100 open-crf-doc forms-in-file-W9" target="_blank"></div>
    </li>
    

    <!-- <div id="div-internal-use-forms-in-files"></div> -->

    {{#arrgcrformfilefattrvo}}
    <div class='div-fif-extn'><span class='spn-fif-txt'>{{attrval}}</span><span class='spn-fif-x'>x</span></div>
    {{/arrgcrformfilefattrvo}}
</ul>
<ul class="gmSection hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> TRAVEL FROM </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue">{{trvlfrom}}</li>

    <li id="div-crf-internal-use-travel-to" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold  crf-mobile-hours"> TO </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue">{{trvlto}}</li>

    <li id="div-crf-internal-use-travel-to-miles" class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold  crf-mobile-hours"> TOTAL MILES </li>
    <li class="gmSectionListItem gmWidth50m gmAlignHorizontal crf-mobile-sectionvalue">{{trvlmile}}</li>
</ul>
<ul class="gmSection hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> TRAVEL HOURS </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-travel-hr" value="{{trvltime}}">{{trvltime}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> PREP-TIME HOURS </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-prep-time-hr" value="{{preptime}}">{{preptime}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> WORK HOURS </li>
    <li class="gmSectionListItem gmWidth50m gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-work-hr" value="{{workhrs}}">{{workhrs}}</li>
</ul>
<ul class="gmSection hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> TOTAL HOURS </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-tot-hr"></li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> HOURLY RATE ($) </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-hourly-amt" value="{{hrrate}}">{{hrrate}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold crf-mobile-hours"> TOTAL AMOUNT ($) </li>
    <li class="gmSectionListItem gmWidth50m gmAlignHorizontal crf-mobile-sectionvalue" id="input-internal-use-tot-amt"></li>
</ul>
<ul class="gmSection honoraria-status-{{honstatus}} hourstim">
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold gmText200 crf-mobile-hours"> HONORARIA STATUS </li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-mobile-sectionvalue">
        <span class="honoraria-status honoraria-status-attended">Attended</span>
        <span class="honoraria-status honoraria-status-other">Other</span>
    </li>
    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold  honoraria-status iuse-status-attendee">TOTAL PREPHOUR</li>

    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal honoraria-status iuse-status-attendee">{{honprephrs}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold honoraria-status iuse-status-attendee">TOTAL WORKHOUR</li>

    <li class="gmSectionListItem gmSectionValue gmWidth50m gmAlignHorizontal honoraria-status iuse-status-attendee">{{honworkhrs}}</li>

    <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBold honoraria-status iuse-status-comment">Comments</li>

    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal honoraria-status iuse-status-comment">{{honcomment}}</li>
</ul>
<!--Comments-->
<ul class="gmSection feedbac approver-comments-content hide">
    <li class="gmSectionListItem gmAlignHorizontal gmFontBold">COMMENTS</li>
    <div id="div-approver-feedback-comments-lists"></div>
</ul>
<!--Approve and Reject-->
<ul class="gmSection approvers-list  approval">
    <li class="gmSectionListItem gmAlignHorizontal gmFontBold">APPROVERS LIST</li>
    <div class="div-approver-approval-list-content"></div>
</ul>
    </div>