<div id="div-merc-crf-internal-use">
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> CURRENT AGREEMENT </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
                <select id="div-crf-current-agrfl" class="sel-report-option-key gmInputText gmText100" data-value="{{agrfl}}">
                    <option value="Y">Yes</option>
                    <option value="N">No</option>
                </select>
            </label>
        </li>
    </ul>

    <ul class="ext-span-txt">
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> FORMS IN FILE </li>
        
        <li class="gmSectionListItem gmSectionValue gmLnk gmWidth50m gmAlignHorizontal">
<!--
            <a href="" class="a-internal-use-forms-in-file" target="blank">
                <div class="div-internal-use-forms-in-files-list btn-link" data-reftype="{{reftype}}" data-filenm="{{filename}}">{{reftypenm}}</div>
            </a>
-->
            <div href="" class="gmLink gmAlignHorizontal gmText50 open-crf-doc forms-in-file-CV" target="_blank"></div>
            <div href="" class="gmLink gmAlignHorizontal gmText100 open-crf-doc forms-in-file-RC" target="_blank"></div>
            <div href="" class="gmLink gmAlignHorizontal gmText100 open-crf-doc forms-in-file-W9" target="_blank"></div>
        </li>
     

        <!-- <div id="div-internal-use-forms-in-files"></div> -->

        {{#arrgcrformfilefattrvo}}
        <div class='div-fif-extn'><span class='spn-fif-txt'>{{attrval}}</span><span class='spn-fif-x'>x</span></div>
        {{/arrgcrformfilefattrvo}}
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> TRAVEL FROM </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-internal-use-travel-from" class="gmInputText gmText100" value="{{trvlfrom}}">
        </li>

        <li id="div-crf-internal-use-travel-to" class="gmSectionListItem  gmMinWidth50p gmSectionCaption gmFontBold gmAlignHorizontal "> TO </li>
        <li class="gmSectionListItem gmAlignHorizontal">
            <input type="text" id="input-internal-use-tracel-to" class="gmInputText gmText100" value="{{trvlto}}">
        </li>

        <li id="div-crf-internal-use-travel-to-miles" class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal gmWidth100m"> TOTAL MILES </li>
        <li class="gmSectionListItem gmAlignHorizontal">
            <input type="text" id="input-internal-use-to-miles" class="gmInputText gmText100" value="{{trvlmile}}">
        </li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> TRAVEL HOURS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-internal-use-travel-hr" class="gmInputText gmText100" value="{{trvltime}}">
        </li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> PREP-TIME HOURS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-internal-use-prep-time-hr" class="gmInputText gmText100" value="{{preptime}}">
        </li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> WORK HOURS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-internal-use-work-hr" class="gmInputText gmText100" value="{{workhrs}}">
        </li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> TOTAL HOURS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" id="input-internal-use-tot-hr" value="0"></li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> HOURLY RATE ($) </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <input type="text" id="input-internal-use-hourly-amt" class="gmInputText gmText100" value="{{hrrate}}">
        </li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> TOTAL AMOUNT ($) </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal" id="input-internal-use-tot-amt" value="0"></li>
    </ul>
    <ul>
        <li class="gmSectionListItem gmSectionCaption gmFontBold gmAlignHorizontal  gmText200"> HONORARIA STATUS </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal">
            <label class="selectbox-icon">
            <select id="div-crf-honoraria-status" class="sel-report-option-key gmInputText" data-value="{{honstatus}}">
                <option value="">Select</option>
                <option value="1">Attended</option>
                <option value="0">Other</option>
            </select>
            </label>
            <input type="text" id="input-internal-use-honoraria-tot-hr" class="gmInputText iuse-status-attendee hide" placeholder="Total PrepHour" value="{{honprephrs}}">
            <input type="text" id="input-internal-use-honoraria-tot-whr" class="gmInputText iuse-status-attendee hide" placeholder="Total WorkHour" value="{{honworkhrs}}">
            <input type="text" id="input-internal-use-honoraria-comment" class="gmInputText iuse-status-comment gmText500 hide" placeholder="Type Comments" value="{{honcomment}}">
        </li>
    </ul>
</div>
