<ul class="gmSection" id="div-merc-crf-hcp-qualify-main">
	<li id="div-crf-hcp-qualify-head">
		<div id="div-crf-service-text-note" class="gmLineSpace gmFloatLeft "> Please detail why HCP is qualified to provide this service</div>
        <div class="gmSmLineSpace"></div>
		<div id="div-crf-hcp-qualify-comments-count" class="gmLineSpace gmFloatRight ">
			<span id="span-crf-hcp-qualify-comments-count"></span>
			<span> characters remaining</span>
		</div>
	</li>	
	<li id="div-crf-hcp-qualify-comments">
		<textarea id="txt-crf-hcp-qualify-comments" class="gmInputText gmTextArea" >{{hcpqualification}}</textarea>
		<div id="span-crf-hcp-qualify-comments-clear" class="gmBGDarkerGrey gmFontWhite gmBtn gmFloatRight">Clear</div>
	</li>
</ul>