{{#each this}}
	<ul class="div-crf-approval-list gmAlignVertical gmLineSpace"  id="div-approver-{{partyid}}" crfapprid="{{crfapprid}}">
		<li class="gmSectionListItem gmSectionValue gmAlignHorizontal">{{partynm}}</li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal div-crf-approval-detail" statusid="{{statusid}}">
            <div class="gmSectionListItem gmSectionValue gmAlignHorizontal div-crf-appr-status ">{{statusnm}}</div>
            <div class="gmSectionListItem gmSectionValue gmAlignHorizontal div-crf-appr-comments">{{comments}}</div>
        </li>
        <li class="gmAlignHorizontal div-crf-approval-buttons gmMediaWidth100 hide">
            <button class="btn-crf-approve gmBtn">Approve</button>
            <button class="btn-crf-reject gmBtn">Not Approved</button>
            <input type="text" class="gmInputText input-approval-comment">
            <div class="gmSectionListItem gmSectionValue gmAlignHorizontal crf-approval-validation hide"></div>
        </li>
        {{#iffalse updatedon "null"}}
        <li class="gmAlignHorizontal">
            <span class="gmAlignVertical"><i>Last Updated Date</i></span>
            <span class="gmAlignVertical"><i>{{formatDate updatedon}}</i></span>
        </li>
        {{/iffalse}}
	</ul>
{{/each}}