
/* Common css file for Date Range Picker */
/* Author: Parthiban  */
	
	.daterangepicker .drp-calendar .calendar-table thead tr {
      background-color: #cce2fe !important;
  	}
	.daterangepicker .drp-calendar .calendar-table thead tr th{
	  border-radius: 0px !important;
	}
	#dateRangeId{
	  background: url(/images/nav_calendar.gif);
      background-repeat: no-repeat;
      width: 150px;
      cursor: pointer;
      height: 20px;
      padding-left: 5px;
      padding-right: 25px;
      background-position: 97% 50%;
	}
	 .daterangepicker td.active, .daterangepicker td.active:hover{
	  background-color: #9bb0c1;
	}
	.daterangepicker td.in-range {
	  background-color: #e6f0fe !important;
	} 
