<div id="div-add-new-container">
	<div id="div-cont-type" class="div-contact-type"><span class="span-name-text">{{lblNm "contact_type"}}:</span>
		<select id="content-type-drop-down" name="contacttype">
		  <option value="">{{lblNm "choose_one"}}</option>
		  <option value="7000">{{lblNm "surgeon"}}</option>
		  <option value="7011">{{lblNm "healthcare_affiliation"}}</option>
		</select>
		<span id="spn-contacttype"></span>
	</div>
		
	<div id="div-npi" class="div-contact-type"> <span class="span-name-text">{{lblNm "npi"}} :</span> 
		<input type="number" name="npiid" class="text-new-contacts" id="txt-npi" />
		 <span id="spn-npiid"></span>
	</div>

	<div id ="div-first-name" class="div-name-info"> <span class="span-name-text">{{lblNm "first_name"}} :</span>
		<input type="text" name="fname" class="text-new-contacts" id="txt-fname" />
		 <span id="spn-fname"></span>
	</div>

	<div id ="div-mid-name" class="div-name-info">  <span class="span-name-text">{{lblNm "mi"}} :</span>
		<input type="text" name="mname" class="text-new-contacts" id="txt-mname" />
		 <span id="spn-mname"></span>
	</div>

	<div id ="div-last-name" class="div-name-info"> <span class="span-name-text">{{lblNm "lastname"}} :</span>
		<input type="text" name="lname" class="text-new-contacts" id="txt-lname" />
		 <span id="spn-lname"></span>
	</div>

	<div id="div-email-id" class="div-contact-info"> <span class="span-name-text">{{lblNm "email_id"}} :</span> 
		<input type="email" name="emailid" class="text-new-contacts" id="txt-emailid" />
		 <span id="spn-emailid"></span>
	</div>
	<div id="div-phone-no" class="div-contact-info"> <span class="span-name-text">{{lblNm "phone"}} :</span> 
		<input type="text" name="phoneno" class="text-new-contacts" id="txt-phone" />
		 <span id="spn-phoneno"></span>
	</div>
	
	<div id="add-to-contact"> 
		<input type="checkbox" name="addtocontacts" value="">
		<span>{{lblNm "add_to_contacts"}}?</span>
	</div>
	<div id="div-footer-note"> <span> *All information edited on this page are saved locally within the device.If this is Surgeon Information, please contact IT Support to save the same in the Surgeon Information Management System at the server. </span>
	</div> 

	<ul>
		<li id="li-contacts-delete" class="btn-bg-red btn-navigation-100 btn-contacts li-contacts-delete-hide">
			<span class="span-text">{{lblNm "delete"}}
</span>
		</li>
	</ul>
</div>