{{#each this}}
	<div id="div-subtype-{{ID}}" class="div-column-image"> <li></li> </div>
	<li id="li-subtype-{{ID}}" class="li-imagelist-{{Share}} li-imagelist-header" name="{{Name}}" type="{{Type}}">
	</li>
	
{{/each}}	

