<div>
	<a id="btn-app-contacts" class="btn-collateral-contacts selectedTab" >{{lblNm "app"}}<span id="spn-app-count">&nbsp;0&nbsp;</span></a>
	
	<a id="btn-device-contacts" class="btn-collateral-contacts" >{{lblNm "device"}}<span id="spn-device-count">&nbsp;0&nbsp;</span></a>
</div>

<div id="div-sub-result-app-contacts" class="div-sub-result-contacts">
	<li>
		<a>{{lblNm "loading_app_contacts"}}</a>
	</li>
</div>

<div id="div-sub-result-device-contacts" class="div-sub-result-contacts">
	<li>
		<a>{{lblNm "loading_device_contacts"}}</a>
	</li>
</div>


