{{#if ID}}
<div id="{{ID}}" class="list-contact-item" name="{{Email}}" value="{{PartyID}}">
{{else}}
    <div id="{{ID}}" class="list-contact-item" data-idemail="{{Email}}" name="{{Email}}" value="{{PartyID}}">
{{/if}}
<div id="div-contact-info">
    <div class="btn-contact-check" ><i class="fa fa-check fa-lg fa-contact"></i></div>
    <div id="li-contact-email">{{Email}}</div>
	<div id="li-contact-name" class="div-contact-name">{{FirstName}} {{LastName}}</div>
	<div class="ph-li-contact-name">{{LastName}}, {{FirstName}}</div>
	
	<div id="li-contact-action">
        {{#iftrue EditFL 'Y'}}
     
		<a class="btn-contact-edit" name="{{ID}}"><i class="fa fa-pencil fa-lg fa-contact"></i></a>
        {{/iftrue}}
	</div>
	
	<div id="ph-div-emaillist">
			<div id="ph-li-contact-email">{{Email}}</div>
			<div id="ph-li-contact-action">
				<a class="btn-contact-edit" name="{{ID}}"><i class="fa fa-edit fa-lg fa-contact"></i></a>
				<a class="btn-contact-favorite" name="{{ID}}"><i class="fa fa-star fa-lg fa-contact str-isFav-{{FavClass}}"></i></a>
				<a class="btn-contact-select"><i id="{{ID}}" class="fa-check-icon fa-contact" name="{{Email}}" value="{{PartyID}}"></i></a> 
			</div>
	</div>
	
</div>
</div>