<div id="div-collateral-share-popup-main" class="gmTextCenter">
    <div class="gmBtn gmAlignHorizontal gmMarginRight10p" id="div-collateral-share"><i class="fa fa-share-alt-square" aria-hidden="true"></i> <span>Share</span> </div>
    <div class="gmBtn gmAlignHorizontal" id="div-collateral-ship"><i id="ship-parts" class="fa fa-cart-plus" aria-hidden="true"></i> <span>Ship</span> </div>
</div>