<div id="div-detail-view">

 <!--    <div id="div-detail-menu">
        <a id="btn-menu"><i class="fa fa-bars fa-lg"></i> <span> menu </span></a>
    </div> -->
	<div id="div-top-right-icons" class="div-top-right-icons-collateral">
		<a id="btn-share" class="btn-bg-black btn-share-hide"> <i class="fa fa-share-square-o fa-lg"></i><span id="spn-share-count"></span></a>
		<span id="btn-download" > <i class="fa fa-download fa-lg"></i> </span>
		<span id="div-favorite-icon">&#9733</span>
	</div>
	<div id="div-detail-breadcrumb"></div>
	

	<div id="div-detail">
		

		<ul id="description">
			<li id="li-detail-name">
				<h2>{{{Name}}}</h2>
			</li>
			<li>
				<div id="div-itemlist-count">
				{{lblNm "count_of"}} <span id="span-view-type"></span>:<span id="spn-itemlist-count" class="span-count"></span>
				</div>				
			</li>
			<li>
				<div id="div-search-count">
				   {{lblNm "retrieved_count"}}:<span id="span-search-count"> </span>
				</div>
			</li>
			<li>
				<ul id="div-detail-overview">
					<li id="li-detail-image">
						<div id="div-no-image"></div>
						<div id="div-detail-image-container"></div>
					</li>
					<div id="div-detail-desc-content">
						<li id="li-detail-description">
				        	<div class="div-heading-1 font-red">{{lblNm "description"}}</div>
				        	<div class="div-description" id="description-content">{{{Desc}}}</div>
						</li>
						<li id="li-detail-detail">
							<div class="div-heading-1 font-red">{{lblNm "detail"}}</div>
				    		<div class="div-description" id="detail">{{{Detail}}}</div>
						</li>
					</div>
				</ul>	
			</li>
	
		<div id="div-detail-documents" class="div-detail ">
			<li class='li-info-center'><img/>&nbsp;{{lblNm "loading_documents"}}</li>
		</div>
		<div id="div-detail-images" class="div-detail ">
			<li class='li-info-center'><img/>&nbsp;{{lblNm "loading_images"}}</li>
		</div>
		<div id="div-detail-videos" class="div-detail ">
			<li class='li-info-center'><img/>&nbsp;{{lblNm "loading_videos"}}</li>
		</div>
			
        </ul>
        <div id="div-detail-navigation" class="pc-footer-btns">
            <a id="btn-overview" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected btn-detail-collateral"> <i class="fa fa-eye fa-lg"></i> <span>{{lblNm "overview"}} </span></a>
            <a id="btn-documents" class="btn-detail btn-bg-grey btn-detail-navigation btn-detail-collateral"><i class="fa fa-book fa-lg"></i><span>{{lblNm "documents"}}</span></a>
            <a id="btn-images" class="btn-detail btn-bg-grey btn-detail-collateral btn-detail-navigation"><i class="fa fa-file-image-o fa-lg"></i> <span>{{lblNm "images"}}</span></a>
            <a id="btn-videos" class="btn-detail btn-bg-grey btn-detail-collateral btn-detail-navigation"> <i class="fa fa-video-camera fa-lg"></i><span>{{lblNm "videos"}}</span></a>
            <a id="btn-camera" class="btn-detail btn-bg-grey btn-detail-navigation"><i class="fa fa-window-maximize" aria-hidden="true"></i> <span>{{lblNm "view"}}</span></a>
            <a id="btn-search" class="btn-detail btn-detail-navigation btn-bg-grey" href="#collateral"><i class="fa fa-search fa-lg"></i><span>{{lblNm "search"}}</span></a>
            <a id="btn-link" class="btn-detail btn-bg-grey btn-detail-collateral btn-detail-navigation"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
        </div>
		
		<div class="btn-app-link"> 
			<div id="btn-app-catalog"><span id="span-link-text">{{lblNm "product_catalog"}}</span></div>
			<a class="in-app" id="btn-lnk-share-status"><span id="span-link-text">{{lblNm "share_status"}}</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">{{lblNm "event_evaluation_form"}}</span></a>
		</div>
		
</div>
