<ul class="ul-list-item" id="{{ID}}">
	<li class="li-item-name">
		<a id="{{Name}}" name="Description">{{Name}}</a>
	</li>
	
	<li class="li-item-email">
		<a value="{{Email}}">{{Email}}</a>
	</li>
</ul>