<div id="div-collateral-rs-btns">
	<a id="btn-system" class="btn-catalog-item btn-collateral-item" href="#">{{lblNm "system"}}<span id="spn-no-systems"></span></a>
	<!-- <a id="btn-group" class="btn-catalog-item" href="#">Group<span id="spn-no-groups"></span></a>
	<a id="btn-part" class="btn-catalog-item" href="#">Part<span id="spn-no-parts"></span></a> -->
	<a id="btn-document" class="btn-collateral-item" href="#">{{lblNm "documents"}}<span id="spn-no-documents"></span></a>
	<a id="btn-image" class="btn-collateral-item" href="#">{{lblNm "images"}}<span id="spn-no-images"></span></a>
	<a id="btn-video" class="btn-collateral-item" href="#">{{lblNm "videos"}}<span id="spn-no-videos"></span></a>
	<a id="btn-search-share" class="btn-search-item"><i class="fa fa-share-square-o fa-lg"></i><span id="spn-share-count"></span></a>
</div>

<div id="div-sub-result-system" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_systems"}}</a>
	</li>
</div>

<!-- <div id="div-sub-result-part" class="div-sub-result">
	<li>
		<a>Loading Parts...</a>
	</li>
</div>

<div id="div-sub-result-group" class="div-sub-result">
	<li>
		<a>Loading Groups...</a>
	</li>
</div> -->

<div id="div-sub-result-document" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_documents"}}</a>
	</li>
</div>
	
<div id="div-sub-result-image" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_images"}}</a>
	</li>
</div>

<div id="div-sub-result-video" class="div-sub-result">
	<li>
		<a>{{lblNm "loading_videos"}}</a>
	</li>
</div>
