<div id="div-contacts">
	
	<ul id="ul-contacts-header">
		

		<li id="li-contacts-new" class="btn-bg-blue btn-navigation-100 btn-contacts">
			<span class="span-text">{{lblNm "new"}}</span>
			<i class="fa fa-plus fa-lg phone-icon"></i>
		</li>
		
		<li id="li-contacts-cancel" class="btn-bg-blue btn-navigation-100 btn-contacts">
			<span class="span-text">{{lblNm "cancel"}}</span>
			<i class="fa fa-times-circle-o fa-lg phone-icon"></i>
		</li>
		
		
		<li id="li-contacts-save" class="btn-bg-blue btn-navigation-100 btn-contacts">
			<span class="span-text">{{lblNm "save"}}</span>
			<i class="fa fa-floppy-o fa-lg phone-icon"></i>
		</li>

	</ul>
	
	<div id="div-contacts-list">
	</div>

	<div id="div-contacts-crud">
	</div>
</div>