
	<ul id="ul-quicklink">
		{{#each this}}
		<li>
			<a id="{{ID}}" href="#collateral/{{Name}}" class="btn-quicklink btn-quicklink-initial btn-bg-blue show" name="{{Name}}">{{Name}}</a>
		</li>
		{{/each}}
	</ul>
