
	<div class="div-email-content">
		
		
		<li class="li-last-name"><input type="text" value="{{FirstName}}" id="input-last-name" class="input-text"/></li>
		<li class="ph-li-last-name"><input type="text" value="{{FirstName}}" id="input-last-name" class="input-text"/></li>
		<li class="li-search-email"><input type="text" value="{{Email}}" id="input-email"  class="input-text"/></li>
		<li class="li-action">	
			<a><i id="{{ID}}" class="fa-check-icon" name="{{Email}}"></i></a> 
		</li>
		
		<div class="ph-div-emaillist">
			<li class="ph-li-search-email"><input type="text" value="{{Email}}" id="input-email"  class="input-text"/></li>
			<li class="ph-li-action">	
			<a><i id="{{ID}}" class="fa-check-icon" name="{{Email}}"></i></a> 
		</li>
		</div>
	</div>
	