<ul id="ul-listitem" class="li-doc-{{ID}} li-document-name check-shareable-{{ShareValue}}">
	<li id="{{ID}}" class="li-doc-name gmMediaWidth85" name="{{Path}}">
		<a>{{Title}}</a> <span id='spn-prg-{{ID}}'><progress value=60 max=100></progress></span>
	</li>
	<li class="li-document-share" name="{{ID}}" id="{{ID}}">
		<i class="fa fa-share-alt-square fa-2x"></i>
	</li>
</ul>