<div id="div-email-contacts">
	<div id="div-search-header">
		<div class="div-email-search btn-selected" id="div-mail-search"><span class="span-text">{{lblNm "search"}}</span><i class="fa fa-search fa-lg"></i></div>
		<div class="div-email-search" id="div-mail-favorite"><span class="span-text">{{lblNm "favorites"}}</span><i class="fa fa-star fa-lg"></i><span id="spn-no-favorites"></span></div>
		<div class="div-email-search" id="div-mail-recent"><span class="span-text">{{lblNm "recent"}}</span><i class="fa fa-clock-o fa-lg"> </i></div>
		<div class="div-email-search" id="div-mail-new"><span class="span-text">{{lblNm "new"}}</span><i class="fa fa-plus fa-lg"></i></div>
		<div class="div-email-search div-mail-cancel-hide" id="div-mail-cancel"><span class="span-text">{{lblNm "cancel"}}</span><i class="fa fa-times-circle fa-lg"></i></div>
	</div>

	


					
	<div id="div-mail-searchbox">
			
			<div id="div-search-mail">
				<input id="txt-email-search" type="text" placeholder="{{lblNm "search_cont"}}" />
				<div id="div-email-search-x" class="div-email-search-x-hide">
					x
				</div>
				
			</div>
			
			
	</div>

	<div id="div-email-header">
	</div>

	<div id="div-email-container">
				
		<span id="span-initial-emailview">s</span>

		<div  id="div-email-list">
		</div>

		<div id="div-add-new-contacts">
		</div>
	</div>
		
		<div id="div-new-contacts">
		</div>
	
	
	<div id="btn-done">{{lblNm "done"}}</div>
	<div id="div-mail-save"><span class="span-text">{{lblNm "save"}}</span></div>
	<div id="div-mail-save-use"><span class="span-text">{{lblNm "save"}} & {{lblNm "use"}}</span></div>

</div>