<div class="div-images-image check-shareable-{{ShareVal}} ">
	<div class="div-icon-share" name="{{ID}}"></div>
 	<div class="div-detail-image-parent">
 		<img id="{{ID}}" class="imagelist-image {{Class}}" shareval="{{ShareVal}}"  name = "{{Name}}" src="{{Path}}" alt="{{Title}}" value ="{{value}}"/>
 	</div>
 	<div class="div-imgs-title">{{Title}}</div>
</div>

