<span class="div-icon-share{{ShareValue}}" name="{{ID}}"></span><a id="{{ID}}" class="btn-itemlist" name="{{FileName}}">{{{Name}}}</a>
<img id="{{ID}}" name="{{FileName}}" alt="{{Title}}" class="img-search-viewer" src="{{Path}}{{FileName}}"/>
