<ul id="ul-recent">
	<li class="li-above" id="recent-systems"><span class="spn-indicate-collpase">+</span>{{lblNm "systems_s"}}
</li>
	<ul id="ul-under-systems" ></ul>

	<li class="li-above" id="recent-sets"><span class="spn-indicate-collpase">+</span>{{lblNm "sets_s"}}</li>
	<ul id="ul-under-sets"></ul>

	<li class="li-above" id="recent-parts"><span class="spn-indicate-collpase">+</span>{{lblNm "parts_s"}}</li>
	<ul id="ul-under-parts"></ul>

	<li class="li-above" id="recent-groups"><span class="spn-indicate-collpase">+</span>{{lblNm "groups_s"}}</li>
	<ul id="ul-under-groups"></ul>
</ul>
