
<div id="div-sharestatus-top-container">

	<li id="li-share-status-title">
		<h2>{{lblNm "share_status_c"}}</h2>
	</li>
	<div id="div-sharestatus-inner-container">
		<div id= "div-sharestatus-main">
			<div>  <input type="text" id="input-sharestatus-search" placeholder= "{{lblNm "name_emailid_npid"}}" autocorrect="off" />  </div>
			<div id="div-date-range"> <span>{{lblNm "date_range"}}</span> <a class ="date-range-select"><i class="fa fa-square-o fa-lg"></i></a>  </div>
			<div id="div-share-status" class="div-date-container div-date-container-hide"><button id="btn-get-status" class="btn-black">{{lblNm "get_by_date"}}</button></div>
			<div id="div-date-container-parent">
				<div class="div-date-container div-date-container-hide"> <span> {{lblNm "to_c"}} </span> <input type="date" id="input-sharestatus-todate" /></div>
				<div class="div-date-container div-date-container-hide"> <span> {{lblNm "from"}} </span> <input type="date" id="input-sharestatus-fromdate" /> 	</div>	
			</div>
		</div>
		
		<div id="div-sharestatus-body" class="div-status-body"> </div>

		<div id="div-status-main" class="div-status-body"> </div>


	</div>

</div>
