<div id="div-share">

	<ul id="ul-share-title">
		<li id="li-share-title">
			<h2>{{lblNm "share_c"}}</h2>
		</li>
		<li>
			<button id="btn-share-send" class="btn-black btn-navigation-80" >{{lblNm "send_c"}}</button>
		</li>
	</ul>
	<div class="div-from-subject">
<!--
		<div id="li-email-to" class="main-div-from">
			<div id="div-email-to" class="div-from">From</div> 
			<div>
				<span></span>
				<input id= "txt-email-from" type="email" class="text-receiver txt-search-contact" />
			</div>	
		</div>
-->
		<div id="li-email-subject" class="main-div-subject gmAlignVertical">
            <div id="div-email-subject" class="gmPad5p gmFontBold gmFontGray">Subject</div> 
            <div class="gmWidth90">
				<input id= "txt-email-subject" type="email" class="text-receiver gmFont1em" />
			</div>
		</div>
	</div>
	<ul id="ul-share-email">
		<li id="li-email-to">
			<div id="div-email-to">{{lblNm "to"}}</div> 
			<div id="div-email-recipients">
				<span id="spn-dynamic-recipients-list"></span>
				<input id= "txt-email-id" type="email" class="text-receiver txt-search-contact" />
			</div>	
			<div id="div-contacts-icon">
				<i class="fa fa-user fa-lg" id="to-user"></i>
			</div>
		</li>
		
		<li id="li-contacts">
		</li>
	</ul>
    <ul id="ul-share-cc">
		<li id="li-email-cc">
			<div id="div-email-cc" class="gmPad5p gmFontBold gmFontGray">CC</div> 
			<div id="div-email-recipients">
				<input id= "txt-email-cc" type="email" class="text-receiver gmFont1em" placeholder="Please enter your email with comma(,) separator"/>
			</div>	
		</li>
		
		<li id="li-contacts">
		</li>
	</ul>
	<ul id="ul-share-body">
		<li id="li-email-body">
			<div id="div-email-body" class="gmPad5p gmFontBold gmFontGray">Body</div> 
			<div id="div-email-body">
				<textarea id="txt-email-body" class="text-receiver gmWidth90 gmTextArea" placeholder="Please enter your email contents here..."></textarea>
			</div>	
		</li>
		
		<li id="li-contacts">
		</li>
	</ul>
    <div class="div-share-email-check">
        <input type="checkbox" id="share-email-check" checked><span class="share-email-notification">Email Notification</span>
    </div>

	<div class="div-share-list" id="div-share-document">
	</div>

	<div class="div-share-list" id="div-share-images">
	</div>
	
	<div class="div-share-list" id="div-share-videos">
	</div>
	
</div>
					
