<ul id="ul-status-container">
{{#each this}}
<li class="li-status-container">
	<ul class="ul-status-header">
		<li class="li-status-date">{{MailDate}} - </li>
		<li  class="li-subject">{{Subject}}</li>
		<li class="li-status-main li-status-main-{{Status}}"> {{Status}}</li>
		
	</ul>

	<ul class="ul-status-info">
		<li class="li-mailList">
			{{#MailList}}
			<ul class="ul-mailList">
				<li class="li-toList">
					<div class="div-to-text"> {{lblNm "to"}}: </div>
					<div class="div-to-list">
						{{#To}}
							<ul class="ul-toList">
								<li class="li-name">{{Name}}</li>
								<li class="li-email">{{Email}}</li>
								<li class="li-status li-status-{{status}}">&#40;{{status}}&#41;</li>
							</ul>
						{{/To}}
					</div>
				</li>
				<li class="li-ccList">
					<div class="div-cc-text"> {{lblNm "cc"}}: </div>
					<div class="div-cc-list">
						{{#Cc}}
							<ul class="ul-ccList">
								<li class="li-name">{{Name}}</li>
								<li class="li-email">{{Email}}</li>
								<li class="li-status li-status-{{status}}">&#40;{{status}}&#41;</li>
							</ul>
						{{/Cc}}
					</div>
				</li>
			</ul>
			{{/MailList}}
		</li>

		<li class="li-fileList">
			{{#FileList}}
			<ul class="ul-fileList">
				<li class="li-Documents">
						<div>{{lblNm "documents"}}:</div>
						<ul class="ul-Documents ul-mc-status-artifacts-list">
							{{#Documents}}
							<li class="li-title">{{Title}}</li>
							{{/Documents}}
						</ul>
				</li>
				<li class="li-images">
						<div>{{lblNm "images"}}:</div>
						<ul class="ul-images ul-mc-status-artifacts-list">
							{{#Images}}
							<li class="li-title">{{Title}}</li>
							{{/Images}}
						</ul>
				</li>
				<li class="li-videos">
						<div> {{lblNm "videos"}}:</div>
						<ul class="ul-videos ul-mc-status-artifacts-list">
							{{#Videos}}
							<li class="li-title">{{Title}}</li>
							{{/Videos}}
						</ul>
				</li>
			</ul>
			{{/FileList}}
		</li>

	</ul>
</li>
{{/each}}
</ul>