<div  id="email-track-details-summary">
<li class="surg-head-bottom-btn gmAlignHorizontal" id="details-summary">
            <h1 class="email-summary-h3"><a id="summaryView" class="active-email-tab">SUMMARY</a></h1>
            <h1><a id="detailView">DETAILS</a></h1>
</li>
<div id="email-track-detailreport">
    <ul id="colemailtrackdetailreports" class="reportDateFilter">
        <li class="surg-head-bottom-middle gmAlignHorizontal">
            <div class="SHB-middle">
                <div class="surg-datadr col-select-filter">
                    <select class="collateral-month-filter collateral-detail-month-filter gmInputText popup-content dropdown-menu" id="detail-tabs">
                        <option value="1M" selected>1M</option>
                        <option value="3M">3M</option>
                        <option value="1Y">1Y</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
            </div>
        </li>
        <li class="surg-head-bottom-right gmAlignHorizontal">
            <div class="SHB-right hide">
                <div id="surg-startdate" class="gmAlignHorizontal"> <select id="select-surg-surgstartmonth" class="coll-custom" startmonth=""><option value="">MM</option></select> <select id="select-surg-surgstartyear" class="coll-custom" startyear=""><option value="">YYYY</option></select></div><span class="ETCH-hyphen"> - </span>
                <div id="surg-enddate" class="gmAlignHorizontal"><select id="select-surg-surgendmonth" class="coll-custom" endmonth=""><option value="">MM</option></select> 
                <select id="select-surg-surgendyear" class="coll-custom" endyear=""><option value="">YYYY</option></select></div>
            </div>
        </li>
        <li class="surg-head-bottom-btn gmAlignHorizontal">
            <div class="SHB-btn">
                <div id="btn-load-detail-report" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal" title="Load Detail Report">Load</div>
            </div>
        </li>
    </ul>
</div>
<div id="email-track-detail-report"> </div>
    
<div id="noData"></div>
</div>