<div id="colemailtrackeports-main">
  <ul id="colemailtrackeports" class="reportDateFilter gmMarginBottom10p">
    <li class="surg-head-bottom-middle gmAlignHorizontal">
      <div class="SHB-middle">
        <div class="surg-datadr">
          <select
            class="collateral-month-filter gmInputText popup-content dropdown-menu"
            id="summary-tabs"
          >
            <option value="1M" selected>1M</option>
            <option value="3M">3M</option>
            <option value="1Y">1Y</option>
            <option value="custom">Custom</option>
          </select>
        </div>
      </div>
    </li>
    <li class="surg-head-bottom-right gmAlignHorizontal coll-custom">
      <div class="SHB-right hide">
        <div id="surg-startdate" class="gmAlignHorizontal">
          <select id="select-surg-surgstartmonth" startmonth=""><option
              value=""
            >MM</option></select>
          <select id="select-surg-surgstartyear" startyear=""><option
              value=""
            >YYYY</option></select></div><span class="SHBR-hyphen"> - </span>
        <div id="surg-enddate" class="gmAlignHorizontal"><select
            id="select-surg-surgendmonth"
            endmonth=""
          ><option value="">MM</option></select>
          <select id="select-surg-surgendyear" endyear=""><option
              value=""
            >YYYY</option></select></div>
      </div>
    </li>
    <li class="surg-head-bottom-btn gmAlignHorizontal coll-custom">
      <div class="SHB-btn">
        <div
          id="btn-load-chart"
          class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal"
          title="Load Revenue List"
        >Load</div>
      </div>
    </li>
    <li
      class="surg-head-bottom-btn gmAlignHorizontal without-load-btn"
      id="summary-details"
    >
      <h1 class="email-summary-h3"><a
          id="summaryView"
          class="active-email-tab"
        >SUMMARY</a></h1>
      <h1><a id="detailView">DETAILS</a></h1>
    </li>

  </ul>
  <div id="div-col-email-track-view">

    <div class="div-dash-widget activity-chart">
      <div id="activity-chart-container"></div>
    </div>

    <div class="div-dash-widget">
      <div id="open-chart-container"></div>
    </div>

    <div class="div-dash-widget">
      <div id="click-chart-container"></div>
    </div>

  </div>

  <div id="most-frequent-div"></div>
</div>