<div id="div-frequent-contacts" class="div-frequents">
     <div class="div-phone-list-item div-most-frequents"><h1 class="li-btn-settings">My Frequent Contacts</h1></div>
    {{#if arrFrequentContacts}}
     <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc; table-layout: auto;">
        <tr class="div-dash-mtdsales-header">
            <td class="s-no">S.No</td>
            <td style="width: 50%;" class="td-header">Recipient</td>
            <td style="width: 10%;" class="td-header center">Opens</td>
            <td style="width: 10%;" class="td-header center">Clicks</td>
        </tr>
         {{#each arrFrequentContacts}}
        <tr class='row'>
            <td class="center">{{math @index "+" 1}}</td>
            <td><a class="link-toredirect" id="contacts_email" data_recipient = "{{emailid}}" data_eventtype='110694' style=" display: inline-block; word-break: break-all; ">{{recipients}}</a></td>
            <td class="center"style="word-break: break-all;" ><a class="link-toredirect" id="contacts_opened" data_recipient = "{{emailid}}" data_eventtype='110697'>{{openedcnt}}</a></td>
            <td class="center"><a class="link-toredirect" id="contacts_clicked" data_recipient = "{{emailid}}" data_eventtype='110696'>{{clickedcount}}</a></td>
        </tr>
         {{/each}}
    </table>
    {{else}}
         <div class="no-data-found"><span>No Data Found</span></div>
     {{/if}}
</div>

<div id="div-frequent-collateral" class="div-frequents">
     <div class="div-phone-list-item div-most-frequents"><h1 class="li-btn-settings">My Frequently Used Collateral</h1></div>
    {{#if arrFrequentCollateral}}
     <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
        <tr class="div-dash-mtdsales-header">
            <td class="s-no">S.No</td>
            <td style="width: 50%;" class="td-header">Content Title</td>
            <td style="width: 10%" class="td-header center">Total Sends</td>
            <td style="width: 10%" class="td-header center">Total Clicks</td>
        </tr>
          {{#each arrFrequentCollateral}}
        <tr class='row'>
            <td class="center">{{math @index "+" 1}}</td>
            <td><a id="content_title" class="link-toredirect" data_content = "{{content_title}}" data_eventtype='110694'>{{content_title}}</a></td>
            <td class="center"><a class="link-toredirect" id="content_sends" data_content = "{{content_title}}" data_eventtype='110694'>{{total_sends}}</a></td>
            <td class="center"><a class="link-toredirect" id="content_clicks" data_content = "{{content_title}}" data_eventtype='110696'>{{total_clicks}}</a></td>
        </tr>
         {{/each}}
    </table>
    {{else}}
         <div class="no-data-found"><span>No Data Found</span></div>
     {{/if}}
</div>

<div id="div-frequent-shared" class="div-frequents">
     <div class="div-phone-list-item div-most-frequents"><h1 class="li-btn-settings">Most Shared Content</h1></div>
    {{#if arrMostSharedContent}}
     <table >
        <tr class="div-dash-mtdsales-header">
            <td class="s-no">S.No</td>
            <td style="width: 50%;" class="td-header">Content Title</td>
        </tr>
          {{#each arrMostSharedContent}}
        <tr class='row'>
            <td class="center">{{math @index "+" 1}}</td>
            <td ><a class="most-shared" data-refid="{{ref_id}}" id="shared_content_title{{@index}}" data_content = "{{content_title}}" >{{content_title}}</a></td>
        </tr>
          {{/each}}
    </table>
     {{else}}
         <div class="no-data-found"><span>No Data Found</span></div>
     {{/if}}
</div>