<div class="collateral-email-track-wid-main gmBGABlue">
    <div class="collateral-email-track-wid-title gmTextCenter gmBGDarkBlue gmFontWhite gmFontBold gmPad10p">{{title}}</div>
    <div class="collateral-email-track-labels gmTextRight gmPadding5p">
        <div>
            <div class="label-text gmAlignHorizontal gmPadRight10p">{{label1}} : </div>
            <div class="label-value gmAlignHorizontal">{{count1}}</div>
        </div>
        <div>
            <div class="label-text label gmAlignHorizontal gmPadRight10p">{{label2}} : </div>
            <div class="label-value gmAlignHorizontal">{{count2}}</div>
        </div>
    </div>
    <div class="collateral-email-track-usage gmTextCenter gmFont3em gmFontDBlue gmFontBold gmPadding5p">{{percentage}}</div>
</div>