<div ="div-threesixty-viewer">
	<div id="div-threesixty-close" class="btn-bg-black">{{lblNm "done"}}</div>
	
	<div id="threesixty">
		<div id="spinner">
			<span>0%</span>
		</div>
		<ol id="threesixty_images"></ol>
	</div>
</div>