<ul id="ul-listitem" class="check-shareable-{{ShareValue}}">
	<li id="{{ID}}" class="li-doc-name li-video-name" name="{{Path}}">
		<i class="fa fa-file-video-o fa-lg"></i> <a>{{Title}}</a> <span id='spn-prg-{{ID}}'><progress value=60 max=100></progress></span>
	</li>
	<li class="li-document-share" name="{{ID}}" id="{{ID}}">
		<i class="fa fa-share-alt-square fa-2x"></i>
	</li>
</ul>