<div class="plan-case-inventory" >
    <div class="gmTextCenter gmMarginBottom10p"> {{lblNm "plan_case_inventory"}} </div>
        
    <div class="pcase-inv-head">
        <ul>
            <li>
                <div class="pcase-head-label">{{lblNm "kit_name"}}:</div>
                <div class="pcase-head-cnt"><div id="div-plan-case-kit-search" class="li-case-book-label"></div></div>
            </li>
            <li>
                <div class="pcase-head-label">{{lblNm "inv_type"}}:</div>
                <div class="pcase-head-cnt"></div>
            </li>
        </ul>
    </div>
    <div class="pcase-inv-body">
        <ul>
            <li class="gmMarginTop10p liInvntry gmAlignVertical ">
                <ul class="ulInvntryBtns gmDisplayIFlex plan-case-main-tab">
                    <li id="addset" class="liInvntrybtn gmAlignHorizontal selected">{{lblNm "sets_s"}}</li>
                    <li id="addpart" class="liInvntrybtn gmAlignHorizontal">{{lblNm "parts_s"}}</li>
                </ul>
            </li>   
        </ul>
        <div id="set-main" class="sets">
        </div>
        
        <div id="part-main" class="parts">
<!--
            <div class="plan-case-subtab-option">
                <ul>
                    <li class="labelPartSrch">
                       Part Search:  
                    </li>
                    <li class="li-case-book-label">
                        <div id="plan-case-additional-part"></div>
                    </li>
                </ul>  
            </div>
-->
        </div>
        
        
        
        
        
    </div>

    
</div>


