

<div id="div-case-dashboard-view">
<div class="row-top">
        <div class="top-header">
            <button class="monthlinks" id="lastmonthOpen">{{lblNm "last_month"}}</button>
            <button class="monthlinks current" id="defaultOpen">{{lblNm "this_month"}}</button>
            <button class="monthlinks" id="nextmonthOpen">{{lblNm "next_month"}}</button>
        </div>
        <div class="case-filter" style="display: none;">{{lblNm "more_filter"}}</div>
    </div>
    <div class="row-main">
        <div id="lastMonth" class="monthContent">
        
            <div class="col-left">
             <div id="chart-container-last" class="donut-chart"></div>
              
            </div>
            <div class="col-right">
               <div class="month-heading">{{lblNm "shared_case"}}</div>
                <div class="month-content">
                
                </div>
                
            </div>
            
        </div>
        <div id="thisMonth" class="monthContent current">
            <div class="col-left">
            <div id="chart-container-this" class="donut-chart"></div>
                
            </div>
            <div class="col-right">
               <div class="month-heading">{{lblNm "shared_case"}}</div>
                <div class="month-content"></div>
                
            </div>
        </div>
        <div id="nextMonth" class="monthContent">
            <div class="col-left">
             <div id="chart-container-next" class="donut-chart"></div>
              
            </div>
            <div class="col-right">
               <div class="month-heading">{{lblNm "shared_case"}}</div>
                <div class="month-content">
                  
                </div>
                
            </div>
        </div>

    </div>
    </div>