<div class="div-share-case-wrap">
       <div class="gmTextCenter gmFontBold gmAlignVertical gmTitleText btm-20p">{{lblNm "case_sharing"}}</div>
    
       <div class="gm-row btm-20p">
           <div class="gm-col-12">
               <span class="case-new-label">{{lblNm "case_id"}}</span>
               <span class="share-case-txt">{{caseid}}</span>
           </div>
       </div> 
        
       <div class="gm-row btm-20p">
           <div class="gm-col-12 display-flex align-items-center">
               <span class="case-new-label">{{lblNm "share_with"}}</span>
               <div id="case-share-name-search"></div>
           </div>
        </div>
    
        <div class="gm-row btm-20p">
           <div class="gm-col-12 display-flex">
               <span class="case-new-label">{{lblNm "cur_share_with"}}</span>
               <div id="div-currently-share" class="gmAlignHorizontal gmVerticalMiddle">
               {{#each arrcasesharevo}}{{#iffalse voidfl 'Y'}}
                    <li id="{{repid}}" data-repnm="{{repnm}}" data-caseinfoid="{{caseinfoid}}">
                        <div class="repName gmAlignHorizontal">{{repnm}}</div> <span class="repDel gmAlignHorizontal"> x </span>
                    </li>
                    {{/iffalse}}{{/each}}
               </div>
           </div>
        </div>
    
        <div class="gmTextCenter sharebtns">
            <a class="gmBtn gmAlignHorizontal gmBGBlue gmFontWhite gmsharebtn btnBookCase">{{lblNm "book_case"}}</a>
            <a class="gmBtn gmAlignHorizontal gmBGRed gmFontWhite gmsharebtn btnCancelShr hide">{{lblNm "cancel"}}</a>
            <a class="gmBtn gmAlignHorizontal gmBGBlue gmFontWhite gmsharebtn btnSubmitShr hide">{{lblNm "submit"}}</a>
        </div>
</div>