<li class="partSetDetailOpen kitPartDetails">
    <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <span class="textKit">{{lblNm "kit_parts"}}</span>
    <span>{{objLength arrcasepartvo}}</span>
</li>
<li class="partSetDetailInnerContent hide">
    {{#each arrcasepartvo}}{{#each this}}
    <div class="part-set-wrap gmAlignHorizontal kitPart hide-tab gmTextAll {{#iftrue @../index 0}} toggled{{/iftrue}}" data-partnum="{{partnum}}" data-kitid="{{kitid}}" data-caseinfoid="{{caseinfoid}}">
        <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle li-content">
            <div class="partSetDelSec plinvalign widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <i class="fa fa-minus-circle div-part-del gmMarginRight5p"></i>
            </div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-num">{{partnum}}</div>
            </div>
            <div class="partSetQty gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{qty}}</div>

            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <div class="togglebx"><img {{#iftrue @../index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
            </div>

        </div>
        <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle li-content {{#iffalse @../index 0}}hide{{/iffalse}}">
            <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-name">{{partdesc}}</div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-tag-name">{{lblNm "kit_name"}}: {{kitnm}}</div>
            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

        </div>
        
        <div class="delete-pu-span div-part-del removePart">
            <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
        </div>

    </div>

    {{/each}}{{/each}}
</li>
<li class="partSetDetailOpen adtnlPartDetails">
    <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <span class="textKit">{{lblNm "addition_parts"}}</span>
    <span>{{objLength arrcaseadtlpartvo}}</span>
</li>
<li class="partSetDetailInnerContent hide">
    {{#each arrcaseadtlpartvo}}{{#each this}}

    <div class="part-set-wrap gmAlignHorizontal addPart hide-tab gmTextAll {{#iftrue @../index 0}} toggled{{/iftrue}}" data-partnum="{{partnum}}" data-kitid="{{kitid}}" data-caseinfoid="{{caseinfoid}}">
        <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle li-content">
            <div class="partSetDelSec plinvalign widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <i class="fa fa-minus-circle div-part-del gmMarginRight5p"></i>
            </div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-num ">{{partnum}}</div>
            </div>
            <div class="partSetQty gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="text-qty-pcase gmMarginRight5p showBToggle">{{lblNm "qty"}}: {{qty}}</div>
                <div class="qty-item-set-part itemPartSetQty showAToggle plninvaddsetog">
                    <div class="gmAlignHorizontal ">{{lblNm "qty"}}: </div>
                    <a class="qty-minus-pu adPartCaseMinus"><i class="fa close-item fa-minus-circle"></i></a>
                    <div id="div-inv-qty-box" class="div-inv-keypad-values partCaseQty" value="quantity">{{qty}}
                    </div>
                    <a class="qty-plus-pu adPartCasePlus"><i class="fa close-item fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <div class="togglebx"><img {{#iftrue @../index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
            </div>

        </div>
        <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle li-content {{#iffalse @../index 0}}hide{{/iffalse}}">
            <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-name">{{partdesc}}</div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle"></div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

        </div>
        
        <div class="delete-pu-span div-part-del removePart">
            <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
        </div>

    </div>
    {{/each}}{{/each}}
</li>