<div class="plan-case-subtab-option">
    <ul>
        <li class="labelPartSrch">
            {{lblNm "part_search"}}:
        </li>
        <li class="li-case-book-label">
            <div id="plan-case-additional-part"></div>
        </li>
    </ul>
</div>

<div class="gmAlignVertical">
    <ul class="partListDetails">

    </ul>
</div>