<div id="evendar-header"></div>
<!--<div class="case-cal-legend"><ul><li><span class="cal-leg-red"></span> = Pending DO</li><li><span class="cal-leg-blue"></span> = DO Booked</li><li><span class="cal-leg-yellow"></span> = Loaners Requested</li><li><span class="cal-leg-green"></span> = No Loaner Request</li><li><span class="cal-leg-grey"></span> = Canceled Case</li></ul></div>-->

    <div id="div-detail-navigation" class="div-case-detail-navigation">
			<a id="btn-case-schedule" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected case-tab-hide-Y" href="#case"> <span>{{lblNm "case_dashboard"}}</span></a>
			<a id="btn-case-book" class="btn-detail btn-bg-grey btn-detail-navigation case-tab-hide-Y" href="#case/id/0"> <span>{{lblNm "new_case"}} </span></a>
			<a id="btn-case-report" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y" href="#case/report"> <span>{{lblNm "case_calendar"}}</span></a>
           	        <a id="btn-kit" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#kit"> <span>{{lblNm "surgery_kit"}}</span></a>
			<a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}}</span></a>
	</div>	
	
	<div class="btn-app-link"> 
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">{{lblNm "event_evaluation_form"}}</span></a>
	</div>	
