<div class="div-new-case-create" >
    <input id="case-account-id" type="hidden" name="accid" class="hdnInput">
    <input id="case-account-name" type="hidden" name="accnm" class="hdnInput">
    <input id="case-surgery-level" type="hidden" name="surglvlid" class="hdnInput">
    <input id="case-surgery-type" type="hidden" name="surgtypeid" class="hdnInput">
    <input id="case-id-gen" type="hidden" name="caseid" class="hdnInput">
    
    <input id="case-hsetdesc" type="hidden" VO="arrcasesetvo" name="setdesc" class="hdnInput" setid="" tagid="" kitid="">
    <input id="case-hsetkitnm" type="hidden" VO="arrcasesetvo" name="kitnm" class="hdnInput" setid="" tagid="" kitid="">
    <input id="case-hsetqty" type="hidden" VO="arrcasesetvo" name="qty" class="hdnInput" setid="" tagid="" kitid="">
    <input id="case-hsettagid" type="hidden" VO="arrcasesetvo" name="tagid" class="hdnInput" setid="" tagid="" kitid="">
<!--    <input id="case-hkitdesc" type="hidden" VO="arrcasesetvo" name="kitnm" class="hdnInput" kitid="">-->
    
    
    <input id="case-hpartdesc" type="hidden" VO="arrcasepartvo" name="partdesc" class="hdnInput" partnum="" kitid="" >
    <input id="case-hpartqty" type="hidden" VO="arrcasepartvo" name="qty" class="hdnInput" partnum="" kitid="">
    <input id="case-hpartkitnm" type="hidden" VO="arrcasepartvo" name="kitnm" class="hdnInput" partnum="" kitid="">
    
    <input id="case-hrepnm" type="hidden" VO="arrcasesharevo" name="repnm" class="hdnInput" repid="">
    
    
    
    <input id="case-surgeon-npi-val" type="hidden" VO="arrcasepartyvo" name="partynm" class="hdnInput" partyid="" npid="">
    <div class="gmTextCenter gmFontBold gmAlignVertical gm-case-title">{{lblNm "case_information"}}</div>
	<div class="padd-rl-15p">
        <div class="gm-row btm-10p surgDateCaseID">
           <div class="gm-col-6 padd-right-15p surgDate">
               <span class="case-new-label"><span class="gmColorRed">*</span>{{lblNm "surgery_date"}}</span>
               <input type="date" id="case-surgeon-date" name="surgdt" class="gmInputText gmWidth210p" value="{{surgdt}}">
           </div>
           <div class="gm-col-6 padd-left-15p surgCaseID">
               <span class="case-new-label">{{lblNm "case_id"}} </span>
               <span>{{caseid}}</span>
           </div>
       </div>

        <div class="gm-row btm-10p surgStartTMEndTM">
           <div class="gm-col-6 padd-right-15p surgStartTM">
               <span class="case-new-label"><span class="gmColorRed">*</span>{{lblNm "start_time"}}</span>
               <input type="time" id="case-surgeon-start-time" name="starttm" class="gmInputText gmWidth210p" value="{{starttm}}">
           </div>
           <div class="gm-col-6 padd-left-15p surgEndTM">
               <span class="case-new-label">{{lblNm "end_time"}}</span>
               <input type="time" id="case-surgeon-end-time" name="endtm" class="gmInputText gmWidth210p" value="{{endtm}}">
           </div>
       </div>  
        
       <div class="gm-row btm-10p">
           <div class="gm-col-12 display-flex align-items-center">
               <span class="case-new-label"><span class="gmColorRed">*</span>{{lblNm "account"}}</span>
               <div id="new-case-search-account-name"></div>
           </div>
        </div>
        
    </div>
    
    <div class="gm-separateor-line gmAlignHorizontal"></div>
    
    <div class="gmTextCenter gmFontBold gmAlignVertical gm-case-title">{{lblNm "surgery_information"}}</div>
    
    <div class="padd-rl-15p">
        <div class="gm-row btm-10p">
           <div class="gm-col-6 display-flex align-items-center padd-right-15p mobSrchdrp">
               <span class="case-new-label">{{lblNm "surgeon_npi"}} #</span>
               <div id="new-case-surgeon-npi"></div>
           </div>
           <div class="case-mob-surg-nm"><span class="case-new-label">{{lblNm "surgeon_name"}}</span></div>
           <div class="gm-col-6 display-flex align-items-center padd-left-15p mobSrchdrp caseSurgnmFlx">
               <span class="case-new-label case-ipad-surg-nm">{{lblNm "surgeon_name"}}</span>
               <div id="new-case-surgeon-name"></div>
               <div class="btn-add-npi-surgeon-grp" partyid="{{partyid}}" style="display: none;">
                    <a class="btn-add-npi-surgeon" href="javascript:;">Add</a>
                </div>
           </div>
            
       </div>
        
        
       <div class="gm-row btm-10p">
           <div class="gm-col-12 display-flex align-items-center">
               <span class="case-new-label"><span class="gmColorRed">*</span>{{lblNm "surgeons"}}</span>
               <div class="new-case-surgeons-list">
                   {{#each arrcasepartyvo}} 
                   {{#iffalse voidfl 'Y'}}
                     <div class="case-surg-item" data-partyid="{{partyid}}" data-caseinfoid="{{caseinfoid}}">{{npiid}} - {{partynm}} <span class="remove-case-surgeon"><i class="fa fa-times" aria-hidden="true"></i></span></div>
                    {{/iffalse}}
                   {{/each}}
               </div>
           </div>
        </div>
        
        <div class="gm-row btm-10p">
           <div class="gm-col-6 display-flex align-items-center padd-right-15p">
               <span class="case-new-label">{{lblNm "surgery_level"}}</span>
               <div id="new-case-surgery-level"></div>
           </div>
           <div class="gm-col-6 display-flex align-items-center padd-left-15p">
               <span class="case-new-label">{{lblNm "surgery_type"}}</span>
               <div id="new-case-surgery-type"></div>
           </div>
       </div>
        
        <div class="gm-row btm-10p">
           <div class="gm-col-12 display-flex align-items-center">
               <span class="case-new-label">{{lblNm "notes"}}</span>
               <textarea class="new-case-surgery-notes gmTextAll" name="notes">{{notes}}</textarea>
           </div>
        </div>
        
    </div>
       
	
</div> 
