<div class="plan-case-summary">
    <input id="case-hrepnm" type="hidden" VO="arrcasesharevo" name="repnm" class="hdnInput" repid="">
    <ul class="casesummary-label-ul casesum-ul-align">

        <li>
            <span class="casesummary-label">{{lblNm "case_id"}} </span>
            <div class="casesummary-content">{{caseid}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "surgery_date"}} </span>
            <div class="casesummary-content">{{formatDate surgdt}} {{AMPM starttm}} - {{AMPM endtm}}</div>
        </li>

 <div class="casesum-label-thirddiv onActive">
        <li>
            <span class="casesummary-label">{{lblNm "account"}}</span>
            <div class="casesummary-content">{{accid}}-{{accnm}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "surgeon"}}</span>
            <div class="casesummary-content">{{#each arrcasepartyvo}}{{npiid}} - {{partynm}}{{#if @last}} {{else}},{{/if}} {{/each}} </div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "surgery_level"}} </span>
            <div class="casesummary-content">{{surglvl}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "surgery_type"}} </span>
            <div class="casesummary-content">{{surgtype}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "status"}} </span>
            <div class="casesummary-content">{{status}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "loaner_request"}} </span>
            <div class="casesummary-content">654821</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "update_date"}} </span>
            <div class="casesummary-content">{{formatDate updateddt}}</div>
        </li>

        <li>
            <span class="casesummary-label">{{lblNm "shared_by"}} </span>
            <div class="casesummary-content">{{sharenm}}</div>

        </li>
        <li>
            <span class="casesummary-label">{{lblNm "notes"}}</span>
            <div class="casesummary-content">{{notes}}</div>
        </li>
        </div>

    </ul>
    <div class="plan-case-inventory-section wominheight">
        <ul>
            <li>
                <div class="plan-inventory-summary-band gmTextCenter"><span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>{{lblNm "plan_inventory"}} </div>
            </li>
        </ul>
        <div class="woscrolalign">
        
        <ul>
            <li class="gmMarginTop10p liInvntry gmAlignVertical ">
                <ul class="ulInvntryBtns gmDisplayIFlex plan-case-main-tab">
                    <li id="summary-addset" class="liInvntrybtn gmAlignHorizontal selected">{{lblNm "sets_s"}}</li>
                    <li id="summary-addpart" class="liInvntrybtn gmAlignHorizontal">{{lblNm "parts_s"}}</li>
                </ul>
            </li>
        </ul>
        <div id="set-main" class="sets-summary">
            <div class="gmAlignVertical">
                <ul>
                    <li class="partSetDetailOpen">
                        <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="textKit">{{lblNm "kit_sets"}}</span>
                        <span>{{objLength arrcasesetvo}}</span>
                    </li>
                    <li class="partSetDetailInnerContent hide">                        
                        {{#each arrcasesetvo}}
                        
                        <div class="part-set-wrap gmAlignHorizontal kitSet hide-tab gmTextAll {{#iftrue @index 0}} toggled{{/iftrue}}" data-setid="{{this.[0].setid}}" data-kitid="{{this.[0].kitid}}" id="{{this.[0].tagid}}" data-caseinfoid="{{this.[0].caseinfoid}}">
                            <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                </div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="pcase-part-num "><span data-setid="{{this.[0].setid}}">P</span> {{this.[0].setid}} </div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                                {{#each this}}
                                
                                    <div class="pcase-tag-title ">{{lblNm "tag"}} #: {{#iffalse tagid 'null'}}{{tagid}}{{/iffalse}} </div>
                                
                                {{/each}}
                                    </div>
                                <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">
                                    <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{this.length}}</div>
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                    <div class="togglebx"><img {{#iftrue @index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
                                </div>

                            </div>
                            <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle {{#iffalse @index 0}}hide{{/iffalse}}">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle cassumsetpardiv">
                                    <div class="pcase-part-name">{{this.[0].setdesc}}</div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                                    <div class="pcase-tag-name">{{lblNm "kit_name"}}: {{this.[0].kitnm}}</div>
                                </div>
                                <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle"></div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

                            </div>

                        </div>

                        {{/each}}

                    </li>
                    <li class="partSetDetailOpen">
                        <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="textKit">{{lblNm "addition_sets"}}</span>
                        <span>{{objLength arrcaseadtlsetvo}}</span>
                    </li>
                    <li class="partSetDetailInnerContent hide">
                        {{#each arrcaseadtlsetvo}}
                        <div class="part-set-wrap addSet hide-tab {{#iftrue @index 0}} toggled{{/iftrue}}" data-setid="{{this.[0].setid}}" data-setdesc="{{this.[0].setdesc}}" data-kitid="{{this.[0].kitid}}" id="{{this.[0].tagid}}" data-caseinfoid="{{this.[0].caseinfoid}}">

                            <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                </div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="pcase-part-num "> <span data-setid="{{this.[0].setid}}">P</span> {{this.[0].setid}} </div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                                {{#each this}}
                                
                                    <div class="pcase-tag-title">{{lblNm "tag"}} #: {{parseNull tagid}}</div>
                                
                                {{/each}}
                                    </div>
                                <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">
                                    <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{this.length}}</div>
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                    <div class="togglebx"><img {{#iftrue @index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
                                </div>

                            </div>
                            <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle {{#iffalse @index 0}}hide{{/iffalse}}">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalTop cassumsetpardiv">
                                    <div class="pcase-part-name">{{this.[0].setdesc}}</div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle"></div>
                                <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">

                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

                            </div>


                        </div>
                         {{/each}}
                    </li>

                </ul>
            </div>
        </div>

        <div id="part-main" class="parts-summary" style="display: none;">
            <div class="gmAlignVertical">
                <ul>
                    <li class="partSetDetailOpen">
                        <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="textKit">{{lblNm "kit_parts"}}</span>
                        <span>{{objLength arrcasepartvo}}</span>
                    </li>
                    <li class="partSetDetailInnerContent hide">
                        {{#each arrcasepartvo}}{{#each this}}
                        <div class="part-set-wrap gmAlignHorizontal kitPart hide-tab gmTextAll {{#iftrue @../index 0}} toggled{{/iftrue}}" data-partid="{{partnum}}" data-kitid="{{kitid}}" data-caseinfoid="{{caseinfoid}}">
                            <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                </div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="pcase-part-num">{{partnum}}</div>
                                </div>
                                <div class="partSetQty gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{qty}}</div>
                                   
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                    <div class="togglebx"><img {{#iftrue @../index 0}} class="onActive" {{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
                                </div>

                            </div>
                            <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle {{#iffalse @../index 0}}hide{{/iffalse}}">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle cassumsetpardiv">
                                    <div class="pcase-part-name">{{partdesc}}</div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="pcase-tag-name">{{lblNm "kit_name"}}: {{kitnm}}</div>
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

                            </div>

                        </div>
                        {{/each}}{{/each}}


                    </li>
                    <li class="partSetDetailOpen">
                        <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                        <span class="textKit">{{lblNm "addition_parts"}}</span>
                        <span>{{objLength arrcaseadtlpartvo}}</span>
                    </li>
                    <li class="partSetDetailInnerContent hide">
                        {{#each arrcaseadtlpartvo}}{{#each this}}
                        <div class="part-set-wrap gmAlignHorizontal kitPart hide-tab gmTextAll {{#iftrue @../index 0}} toggled{{/iftrue}}" data-partid="{{partnum}}" data-kitid="{{kitid}}" data-caseinfoid="{{caseinfoid}}">
                            <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                </div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="pcase-part-num">{{partnum}}</div>
                                </div>
                                <div class="partSetQty gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                    <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{qty}}</div>
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                                    <div class="togglebx"><img {{#iftrue @../index 0}} class="onActive" {{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
                                </div>

                            </div>
                            <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle {{#iffalse @../index 0}}hide{{/iffalse}}">
                                <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
                                <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle cassumsetpardiv">
                                    <div class="pcase-part-name">{{partdesc}}</div>
                                </div>
                                <div class="partSetTagDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                                </div>
                                <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

                            </div>

                        </div>
                        {{/each}}{{/each}}
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>

</div>


<ul class="case-summary-btn-ul">
    {{#iffalse statusid 107163}}
    {{#iftrue sharenm null}}
    <li><a id="btn-sharecase" class="case-summary-btn share">{{lblNm "share"}}</a></li>
    <li><a id="btn-editcase" class="case-summary-btn editcase">{{lblNm "edit_case"}}</a></li>
    <li><a id="btn-cnclcase" class="case-summary-btn case-bg-orange">{{lblNm "cancel_case"}}</a></li>
    <li><a href="#inv" id="btn-requloaner" class="case-summary-btn requloaner">{{lblNm "request_loaners"}}</a></li>
    {{/iftrue}}
    <li><a href="#do" id="btn-bookdo" class="case-summary-btn bookdo">{{lblNm "book_do"}}</a></li>
    {{/iffalse}}

</ul>
