<div class="plan-case-subtab-option">
    <ul>
        <li>
            <ul class="ulInvntryBtns gmDisplayIFlex half-circle">
                <li id="setbundle" class="liInvntrybtn gmAlignHorizontal selected">{{lblNm "set_bundle"}}</li>
                <li id="setsearch" class="liInvntrybtn gmAlignHorizontal">{{lblNm "set_search"}}</li>
            </ul>
        </li>
        <li class="li-case-book-label">
            <div id="plan-case-additional-set-bundle"></div>
            <div id="plan-case-additional-set" style="display:none;"></div>
        </li>
        <li class="barcode-sec hide">
            <img id="img-barcode" class="gmVerticalMiddle" src="globusMobileApp/image/icon/ios/barcode.PNG" width="38px" alt="" />
        </li>
    </ul>
</div>

<div class="gmAlignVertical">
    <ul class="setListDetails">

    </ul>
</div>