<div class="caseMain"> 
<div id="div-casescheduler-dashboard" class="div-scheduler-case">
</div>
<div id="div-casescheduler-create" class="div-scheduler-case hide">
</div>
<div id="div-casescheduler-inventory" class="div-scheduler-case hide">
</div>
<div id="div-casescheduler-share-case" class="div-scheduler-case hide">
</div>
<div id="div-casescheduler-summary" class="div-scheduler-case hide">
</div>
<ul class="newcase-footer-btns-section">
    <li><a id="bnt-prev-case" href="javascript:;" class="gmBtn btnPrev"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp;{{lblNm "prev"}}</a></li>
    <li><a id="btn-cancel-case" href="javascript:;" class="gmBtn btnCancel">{{lblNm "cancel"}}</a></li>
    <li><a id="bnt-next-case" href="javascript:;" class="gmBtn btnNext">{{lblNm "next"}}&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
</ul>
    
<div id="div-show-num-keypad"></div>
<div id="div-detail-navigation" class="div-case-detail-navigation">
			<a id="btn-case-schedule" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected case-tab-hide-Y" href="#case"> <span>{{lblNm "case_dashboard"}}</span></a>
			<a id="btn-case-book" class="btn-detail btn-bg-grey btn-detail-navigation case-tab-hide-Y" href="#case/id/0"> <span>{{lblNm "new_case"}} </span></a>
			<a id="btn-case-report" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y" href="#case/report"> <span>{{lblNm "case_calendar"}}</span></a>
           	<a id="btn-kit" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#kit"> <span>{{lblNm "surgery_kits"}}</span></a>
			<a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y"> <i class="fa fa-external-link fa-lg"></i><span>{{lblNm "links"}} </span></a>
	</div>	
	
	<div class="btn-app-link"> 
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">{{lblNm "event_evaluation_form"}}</span></a>
	</div>	
    <div id="overlay-back" style="display:none;"></div>
    
</div>