<li class="partSetDetailOpen kitSetDetails">
    <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <span class="textKit">{{lblNm "kit_sets"}}</span>
    <span>{{objLength arrcasesetvo}}</span>
</li>
<li class="partSetDetailInnerContent hide">
    {{#each arrcasesetvo}}
    <div class="part-set-wrap gmAlignHorizontal hide-tab kitSet gmTextAll {{#iftrue @index 0}} toggled{{/iftrue}}" data-setid="{{this.[0].setid}}" data-kitid="{{this.[0].kitid}}" id="{{this.[0].tagid}}" data-caseinfoid="{{this.[0].caseinfoid}}">
        <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle li-content">
            <div class="partSetDelSec widthzero plinvalign gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <i class="fa fa-minus-circle div-set-del gmMarginRight5p"></i>
            </div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-num "><span data-setid="{{this.[0].setid}}">P</span> {{this.[0].setid}} </div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                {{#each this}}
                <div class="pcase-tag-title ">{{lblNm "tag"}} #: {{#iffalse tagid 'null'}}{{tagid}}{{/iffalse}} </div>
                {{/each}}
            </div>
            <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">
                <div class="text-qty-pcase gmMarginRight5p">{{lblNm "qty"}}: {{this.length}}</div>
            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <div class="togglebx"><img {{#iftrue @index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
            </div>

        </div>
        <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle li-content {{#iffalse @index 0}}hide{{/iffalse}}">
            <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-name">{{this.[0].setdesc}}</div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                <div class="pcase-tag-name">{{lblNm "kit_name"}}: {{this.[0].kitnm}}</div>
            </div>
            <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle"></div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

        </div>
        
        <div class="delete-pu-span div-set-del removeSet">
            <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
        </div>

    </div>
    {{/each}}

</li>
<li class="partSetDetailOpen adtnlSetDetails">
    <span class="toggle-circle-arrow"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <span class="textKit">{{lblNm "addition_sets"}}</span>
    <span>{{objLength arrcaseadtlsetvo}}</span>
</li>
<li class="partSetDetailInnerContent hide">
    {{#each arrcaseadtlsetvo}}
    <div class="part-set-wrap addSet hide-tab {{#iftrue @index 0}} toggled{{/iftrue}}" data-setid="{{this.[0].setid}}" data-setdesc="{{this.[0].setdesc}}" data-kitid="{{this.[0].kitid}}" id="{{this.[0].tagid}}" data-caseinfoid="{{this.[0].caseinfoid}}">

        <div class="partSetPriRow gmDisplayTable gmTextAll gmVerticalMiddle li-content">
            <div class="partSetDelSec plinvalign widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <i class="fa fa-minus-circle div-set-del gmMarginRight5p"></i>
            </div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalMiddle">
                <div class="pcase-part-num "><span data-setid="{{this.[0].setid}}">P</span> {{this.[0].setid}}</div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                {{#each this}}
                <div class="pcase-tag-title showBToggle">{{lblNm "tag"}} #: {{parseNull tagid}} </div>
                {{/each}}
            </div>
            <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">
                <div class="text-qty-pcase gmMarginRight5p showBToggle">{{lblNm "qty"}}: {{this.length}}</div>
                <div class="qty-item-set-part itemPartSetQty showAToggle">
                    <div class="gmAlignHorizontal ">{{lblNm "qty"}}: </div>
                    <a class="qty-minus-pu adSetCaseMinus"><i class="fa close-item fa-minus-circle"></i></a>
                    <div id="div-inv-qty-box" class="div-inv-keypad-values" value="quantity">{{this.length}}
                    </div>
                    <a class="qty-plus-pu adSetCasePlus"><i class="fa close-item fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle">
                <div class="togglebx"><img {{#iftrue @index 0}}class="onActive"{{/iftrue}} src="globusMobileApp/image/screen/ios/flat-arrow-up.png" /></div>
            </div>

        </div>
        <div class="partSetSecRow gmDisplayTable gmTextAll gmVerticalMiddle li-content {{#iffalse @index 0}}hide{{/iffalse}}">
            <div class="partSetDelSec widthzero gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>
            <div class="partSetSetDtl gmAlignHorizontal gmWidth40 gmVerticalTop">
                <div class="pcase-part-name">{{this.[0].setdesc}}</div>
            </div>
            <div class="partSetTagDtl gmAlignHorizontal gmWidth35 gmVerticalMiddle">
                {{#each this}}
                <div class="pcase-tag-num {{#iffalse @index 0}}gmMarginTop5p{{/iffalse}}">
                    {{lblNm "tag"}} #: <input type="text" class="pcase-tag-num-input" data-caseinfoid="{{caseinfoid}}" data-tagid="{{parseNull tagid}}" value="{{tagid}}">
                </div>
                {{/each}}
                </div>
            <div class="partSetQty gmAlignHorizontal gmWidth15 gmVerticalMiddle">

            </div>
            <div class="partSetToggle gmAlignHorizontal gmWidth5 gmVerticalMiddle"></div>

        </div>
        
        <div class="delete-pu-span div-set-del removeSet">
            <a class="clear-row-pu" href="javascript:;"><span>{{lblNm "delete"}}</span></a>
        </div>


    </div>
    {{/each}}
</li>