 {{#each this}} 
 <div class="case-details {{#iftrue casetype 'DOBOOKED'}} dobooked {{/iftrue}} {{#iftrue casetype 'LOANER'}} loaner {{/iftrue}} {{#iftrue casetype 'NOLOANER'}} noloaner {{/iftrue}} {{#iftrue casetype 'CASECL'}} casecl {{/iftrue}}" data-caseinfoid="{{caseid}}">
      <div class="case-data case-data-date"><span>{{surgerydt}}</span> <span>{{surgerytime}}</span> <span>{{surgeryendtime}}</span></div>
      <div class="case-data case-data-acct"><span>{{accname}}</span> <span> {{convalue}}</span> </div>
      <div class="case-data case-data-desc"><span>{{surgerylevel}}</span> {{#if surgeonnm}} with <span> {{surgeonnm}}</span>{{/if}} </div>
</div>
 {{/each}}
