<div id="div-setting-account-price" class="div-account-price">
	<div id="div-setting-account-price-info">

		<div class="div-progress-bar">
	        <span class="spn-progress"></span>
	    </div>
	    
	</div>
	<div class="div-setting-account-price-select-list" id="div-total-accounts">
		<li id="li-total-account"><span>{{lblNm "total_accounts_h"}} </span><span id="span-total-account-count"></span> </li>
		<ul class="ul-setting-account-price-sync-list"> 
		</ul>
		<div id="div-setting-account-price-delete">{{lblNm "delete"}}</div>
	</div>
	<div class="div-setting-account-price-search-list" id="div-add-accounts">
		<li class="li-add-account">
			<div>{{lblNm "add_accounts"}}</div>
			<div id="div-setting-account-price-search">
				<input type="text" id="txt-setting-account-price-search"/>
			</div>
		</li>
		<ul class="ul-setting-account-price-search-list"> 
		</ul>
		<div id="div-setting-account-price-synchronize">{{lblNm "synchronize"}}</div>
	</div>
</div>