<li class="check li-account-sync li-settings-account-price-select-list">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="{{ID}}"  id="{{ID}}" name="{{Name}}"/>
    <label>{{{Name}}}</label>
</li>
