<li class="check li-file-sync">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="{{ID}}" data-update-code="" id="SURGEON" name="{{Name}}"/>
    <div class="div-progress-bar">
    	<span class="spn-progress"></span>
    </div>
    <label>{{{Name}}}</label>
     <div class="div-lastsync"> <div class="div-lastsync-msg"><span id="span-surgeon-lastsync">No Data Synced</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
