<li class="check li-data-sync" name="APP">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmCodeLookupVO" data-update-code="103107" id="chk-code" name="chk-code"/>
    <input type="checkbox" value="listGmCodeLookupExclusionVO" data-update-code="26230802" id="chk-codeexclusion" name="chk-codeexclusion"/>
    <input type="checkbox" value="listGmCodeLkpAccessVO" data-update-code="26230804" id="chk-codeaccess" name="chk-codeaccess"/>
    <input type="checkbox" value="listGmRulesVO" data-update-code="4000443" id="chk-rules" name="chk-rules"/>
    <input type="checkbox" value="listGmSecurityEventVO" data-update-code="7000443" id="chk-rules" name="chk-rules"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">App</label>
    <span class="sync-data-label">{{lblNm "app"}}</span>
    <div id="count-app" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-app-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="GROUP">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmGroupVO" data-update-code="103110" id="chk-group" name="chk-group"/>
    <input type="checkbox" value="listGmGroupPartVO" data-update-code="4000408" id="chk-grouppart" name="chk-grouppart"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Group</label>
    <span class="sync-data-label">{{lblNm "group"}}</span>
    <div id="count-Group" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-group-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="PART">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmPartNumberVO"    data-update-code="4000411" id="chk-part" name="chk-part"/>
    <input type="checkbox" value="listGmPartAttributeVO" data-update-code="4000827" id="chk-partattr" name="chk-partattr"/>
    <input type="checkbox" value="listGmRFSpartVO" data-update-code="26230803" id="chk-partrfs" name="chk-partrfs"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Part</label>
    <span class="sync-data-label">{{lblNm "part"}}</span>
    <div id="count-Part" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-part-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="TAG">
    <div class="div-box">
       <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmTagInfoVO" data-update-code="4001234" id="chk-tag-details" name="chk-tag-details"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Tag</label>
    <span class="sync-data-label">{{lblNm "tag_id_caps"}}</span>
     <div id="count-Tag" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-tag-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>

<li class="check li-data-sync" name="SET">
    <div class="div-box">
       <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmSetMasterVO" data-update-code="103111" id="chk-set" name="chk-set"/>
    <input type="checkbox" value="listGmSetPartVO" data-update-code="4000409" id="chk-setpart" name="chk-setpart"/>
    <input type="checkbox" value="listGmSetAttributeVO" data-update-code="4000736" id="chk-loaner-set" name="chk-loaner-set"/>
    
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Set</label>
    <span class="sync-data-label">{{lblNm "set"}}</span>
     <div id="count-Set" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-set-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="SYSTEM">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmSystemVO" data-update-code="103108" id="chk-system" name="chk-system"/>
    <input type="checkbox" value="listGmSystemAttributeVO" data-update-code="4000416" id="chk-systemattrib" name="chk-systemattrin"/>

    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">System</label>
    <span class="sync-data-label">{{lblNm "system"}}</span>
    <div id="count-System" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-system-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="FILE">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmFileVO" data-update-code="4000410" id="chk-file" name="chk-file"/>
    <input type="checkbox" value="listGmKeywordRefVO" data-update-code="4000442" id="chk-keyword" name="chk-keyword"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">File</label>
    <span class="sync-data-label">{{lblNm "file"}}</span>
    <div id="count-File" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-file-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="CONTACT">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmPartyVO" data-update-code="4000445" id="chk-file" name="chk-file"/>
    <input type="checkbox" value="listGmPartyContactVO" data-update-code="4000448" id="chk-keyword" name="chk-keyword"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Contact</label>
    <span class="sync-data-label">{{lblNm "contact"}}</span>
     <div id="count-Contact" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-contact-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="ACCOUNT/FIELDSALES">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmAccountVO" data-update-code="4000519" id="chk-account" name="chk-account"/>
    <input type="checkbox" value="listGmAcctGpoMapVO" data-update-code="4000530" id="chk-accountgpo" name="chk-accountgpo"/>
    <input type="checkbox" value="listGmSalesRepVO"  data-update-code="4000520" id="chk-salesrep" name="chk-salesrep"/>
    <input type="checkbox" value="listGmAssocRepMapVO"  data-update-code="4000629" id="chk-assocsalesrep" name="chk-assocsalesrep"/>
    <input type="checkbox" value="listGmDistributorVO"  data-update-code="4000521" id="chk-distributor" name="chk-distributor"/>
    <input type="checkbox" value="listGmAddressVO" data-update-code="4000522" id="chk-address" name="chk-address"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Account / Field Sales</label>
    <span class="sync-data-label">{{lblNm "account_field_sales"}}</span>
    <div id="count-Account" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-account/fieldsales-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>

<li class="check li-data-sync" name="CASE">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmCaseInfoVO" data-update-code="4000533" id="chk-caseinfo" name="chk-caseinfo"/>
    <input type="checkbox" value="listGmCaseAttributeVO" data-update-code="4000538"  id="chk-caseattribute" name="chk-caseattribute"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Case</label>
    <span class="sync-data-label">{{lblNm "case"}}</span>
     <div id="count-Case" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-case-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="USER">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmUserVO"  data-update-code="4000535" id="chk-user" name="chk-user"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">User</label>
    <span class="sync-data-label">{{lblNm "user_small"}}</span>
    <div id="count-User" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-user-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<li class="check li-data-sync" name="SURGEON">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="GmCRMSurgeonPartyVO"  data-update-code="10306161" id="chk-user" name="chk-user"/>
<!--
    <input type="checkbox" value="GmCRMSurgeonAttrVO"  data-update-code="10306162" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="GmCRMSurgeonSurgicalVO"  data-update-code="10306163" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="GmCRMSurgeonAffiliationVO"  data-update-code="10306164" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmSurgeonRepAdVpVO"  data-update-code="10306169" id="chk-user" name="chk-user"/>
-->
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">Surgeon</label>
    <span class="sync-data-label">{{lblNm "surgeon_small"}}</span>
    <div id="count-Surgeon" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-surgeon-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>
<!--
<li class="check li-data-sync" name="CRM">
    <div class="div-box">
        <span class="spn-tick">&#10004;</span>
    </div>
    <input type="checkbox" value="listGmActivityVO"  data-update-code="10306170" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmActivityPartyVO"  data-update-code="10306171" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmActivityAttrVO"  data-update-code="10306172" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmCRFVO"  data-update-code="10306176" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmCRFApprvVO"  data-update-code="10306206" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmCriteriaVO"  data-update-code="10306210" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmCriteriaAttrVO"  data-update-code="10306209" id="chk-user" name="chk-user"/>
    <input type="checkbox" value="listGmProjectVO"  data-update-code="103109" id="chk-user" name="chk-user"/>
    <div class="div-progress-bar">
        <span class="spn-progress"></span>
    </div>
    <label class="hide">CRM</label>
    <span class="sync-data-label">{{lblNm "crm"}}</span>
    <div id="count-crm" class="sync-count gmiPad"><span class="span-sync-count"></span></div>
    <div class="div-lastsync"> <div class="div-lastsync-msg">{{lblNm "last_sync"}}<span id="span-crm-lastsync">{{lblNm "no_data_sync"}}</span> </div><i class="fa fa-clock-o fa-lg"> </i> </div>
</li>-->
