<div id="div-setting-dashboard-ipad" class="div-setting-dashboard">
	<div id="div-setting-dashboard-info">{{lblNm "msg_widgets_drilldown"}}</div>
	<div class="div-widget-list">
		<li id="li-widget">{{lblNm "widgets"}}</li>
		{{#each this}}
			<li class="li-settings-dash-widget-list li-grp-{{GROUP_ID}}">{{GROUP_NAME}}<i class="fa fa-hand-o-right fa-lg"></i> </li>
		{{/each}}
	</div>
	<div class="div-widget-itemlist">
		<li class="li-widget-itemlist">{{lblNm "sequence_of_fields"}}</li>
		<ul class="ul-widget-typelist" id="ul-widget-typelist-ipad"> 
		</ul>
	</div>
</div>

<div id="div-setting-dashboard-iphone" class="div-setting-dashboard">
	<div class="div-widget-list">
	<li id="li-widget">{{lblNm "widgets"}}</li>
		{{#each this}}
			<li class="li-settings-dash-widget-list li-grp-{{GROUP_ID}}">{{GROUP_NAME}}<i class="fa fa-hand-o-right fa-lg"></i><i class="fa fa-hand-o-down fa-lg"></i> </li>
			<div class="div-widget-itemlist div-widget-itemlist-iphone" id="{{GROUP_ID}}">
				<li class="li-widget-itemlist">{{lblNm "sequence_of_fields_order"}}</li>
				<ul class="ul-widget-typelist" id="ul-widget-typelist-iphone"> 
				</ul>
			</div>
		{{/each}}
	</div>
</div>

