<div id="div-confirm-reset">
    <div id="div-reset-msg-confirm">
        <h5>{{lblNm "msg_confirm_reset"}}</h5>
        <ul>
            <li>
               <div class="div-reset-text">{{lblNm "msg_username"}}</div> <input id="txt-userid" name="userid" type="text">
                <span id="spn-userid"></span>
            </li>
            <li>
                <div class="div-reset-text">{{lblNm "msg_password"}}</div> <input id="txt-password" name="password" type="password">
                <span id="spn-password"></span>
            </li>
        </ul>
    </div>
<!--        <hrs>-->
    <div id="div-reset-yes-no">
        <div id="div-reset-yes" class="btn-ios-alert" value="GmDeviceSyncClear">{{lblNm "msg_ok"}}</div>
        <div id="div-reset-no" class="btn-ios-alert">{{lblNm "cancel"}}</div>
    </div>
</div>
