<div >
    <ul id="ul-name-sync">
        <li ><h4 >NAME</h4>
                <i class="fa fa-lg gmFontBlack fa-times fa-x-button" aria-hidden="true"></i>
                
            </li>
        
                </ul>
    {{#each this}}
    <ul class="ul-count-sync" >
        <li >{{NAME}}</li>
        <li class="li-count-values-{{@index}}"> <span class="span-loc-count">{{LOCALCNT}}/</span><span class="span-db-count">{{DBCNT}}</span></li>
    </ul>
    {{/each}}

</div>

