<div id="div-settings">
	<div id="div-settings-header">
		<div class="div-settings" id="div-settings-version-header">
			<li>
		        <div id="div-settings-version-lable">
		            {{lblNm "vsersion_h"}}
		        </div>
		        <div >
		            <span id="spn-version"></span>
		        </div>
		    </li>
		 </div>
		 <div class="div-settings" id="div-settings-env">
			<li>
		        <div id="div-settings-environment-lable">
		            {{lblNm "environment_h"}} 
		        </div>
		        <div>
		        	<span id="span-environment"></span>
		        </div>
		    </li>
		 </div>
		 <div class="div-settings" id="div-settings-locale">
			<li>
		        <div id="div-settings-language-lable">
		            {{lblNm "language_h"}}
		        </div>
		        <div>
		            <div id="div-locale-text">{{ label.region }}</div>
		            <div id="div-locale-flag"><img src="globusMobileApp/image/icon/ios/{{ label.image.region }}" alt="" /></div>
		        </div>
		    </li>
		 </div>
            <div class="div-settings" id="div-settings-reset">
            <div id="reset-button"  value="GmDeviceSyncClear">
                <img id="factory-reset" src="globusMobileApp/image/icon/ios/Factory Reset Icon.png" alt="" />
<!--                <i class="fa fa-trash gmFontWhite gmFont15em"></i>-->
                </div>
        </div>
	</div>
	
	<div id="div-data-sync">
		<ul>
		    <li class="ul-settings label-sync">
                     <div id="scroll-li">
		        <div id="h1-settings-data-sync" class="div-sync-label selectedTab" name="Data">
			       {{lblNm "data"}}
		        </div>
		        <div id="h1-settings-file-sync" class="div-sync-label" name="File">
			        {{lblNm "files"}}
		        </div>
		         <div id="h1-settings-account-price" class="div-sync-label" name="Account Price">
			        {{lblNm "account_price"}}
		        </div>
		        <div id="h1-settings-dashboard" class="div-sync-label" name="Dashboard">
			        {{lblNm "dashboard"}}
		        </div>
                <div id="h1-settings-crm" class="div-sync-label" name="CRM">
			        CRM
		        </div>
				<div id="btn-reset" value="GmDeviceSyncClear">
	   				{{lblNm "factory_reset"}}
</div>
				</div>
		    </li>
		</ul>

		<ul id="div-settings-sync">
		    
		</ul>
		<ul id="ul-btn-sync">
			<li class="li-btn-settings">
		        <div id="btn-sync" class="btn-settings">{{lblNm "sync"}}</div>
		        <div id="btn-delete" class="btn-settings">{{lblNm "delete"}}</div>
		        <div id="btn-dash-reset" class="btn-settings">{{lblNm "reset"}}</div>
				<div id="btn-syncall" class="btn-settings">{{lblNm "syncall"}}</div>
            </li>
		</ul>
	</div>
<!--
	<div id="div-settings-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span> {{lblNm "menu"}}</span></a>
	</div>
	
	<div id="div-settings-menu-popup">
		 <div id="h1-settings-data-sync-menu" class="div-sync-label selectedTab" name="Data">
			   {{lblNm "data"}}
		 </div>
		 <div id="h1-settings-file-sync-menu" class="div-sync-label" name="File">
			   {{lblNm "files"}}
		 </div>
		 <div id="h1-settings-dashboard-menu" class="div-sync-label" name="Dashboard">
			   {{lblNm "dashboard"}}
		 </div>
	</div>
-->
	
</div>

 
<div id="div-wifi-note">
    <ul>
       <li>
      {{lblNm "msg_use_wifi_syncing"}}
       </li>
       <li class="gmiPad">
      {{lblNm "msg_disable_autolock"}}
       </li>
       <li class="gmiPad">
      {{lblNm "msg_data_completed"}}
       </li>
       <li class="gmiPad">
     {{lblNm "msg_not_navigate"}}  
       </li>
</ul>

    
</div>



