<?xml version="1.0" encoding="UTF-8" ?>
#set($strOpt = $hmParam.STROPT)
<rows>
<head>
#if($strOpt.equals("SECUSR"))
<column type="ro" width="150" align= "left" sort="str" id="User_Name">User Name</column>
#end
#if($strOpt.equals("USRSEC"))
<column type="ro" width="150" align= "left" sort="str" id="Group_Name">Group Name</column> 
#end
<column type="ro" width="175"   align= "left" sort="str" id="Company_Name">Company Name</column>
<column type="ro" width="90"   align="left" sort="str" id="Action">Action</column>
<column type="ro" width="100" align= "left" sort="str" id="Updated_By">Updated By</column>
<column type="ro" width="*" align= "left" sort="str" id="Updated_Date">Updated Date</column>
</head>

#set($count=0)
	#foreach($hmDetails in $alList)
	<row id="$count">
	#if($strOpt.equals("SECUSR"))
	      <cell>$esc.xml($hmDetails.USER_NAME)</cell>
	 #end
	 #if($strOpt.equals("USRSEC"))
	      <cell>$esc.xml($hmDetails.GRP_NM)</cell>
	 #end
	     <cell>$esc.xml($hmDetails.CMPY_NM)</cell>
	     <cell>$esc.xml($hmDetails.ACTION_FL)</cell>
	     <cell>$esc.xml($hmDetails.UPDATED_BY)</cell>
		<cell>$esc.xml($hmDetails.UPDATED_DATE)</cell>		
		#set($count = $count+1)		
	</row>
#end
</rows>
