<?xml version="1.0" encoding="UTF-8" ?>
<rows>
<head>
<column type="ro" width="200" align= "left" sort="str" id="warehouse">$msg.getProperty("LBL_WAREHOUSE")</column>
<column type="ro" width="100" align= "left" sort="str" id="cyclecountid">$msg.getProperty("LBL_CYCLE_CNT_ID")</column>
<column type="ro" width="120" align= "center" sort="str" id="schdate">$msg.getProperty("LBL_SCHEDULE_DATE")</column> 
<column type="ro" width="120" align= "center" sort="str" id="lockdate">$msg.getProperty("LBL_LOCK_DATE")</column>
<column type="ro" width="100" align="left" sort="str" id="status">$msg.getProperty("LBL_STATUS")</column>
<column type="ro" width="*" align= "left" sort="str" id="approvedby">$msg.getProperty("LBL_APPROVED_BY")</column>
<column type="ro" width="100" align= "left" sort="str" id="approvedate">$msg.getProperty("LBL_APPROVED_DATE")</column>
<column type="ro" width="130" align="center"   sort="str" id="updateddate">$msg.getProperty("LBL_UPDATED_DATE")</column>
</head>

#set($count=0)
	#foreach($hmDetails in $alGridData)
	<row id="$count">
	     <cell>$esc.xml($hmDetails.WAREHOUSE)</cell>
		<cell><![CDATA[<a href="#" onClick=fnLoadCycleCountLock("$hmDetails.LOCK_ID","$hmDetails.STATUSID")>$esc.xml($hmDetails.LOCK_ID)</a>]]></cell>
		#if ($hmDetails.SCHEDULE_DATE == $null)
			<cell></cell>
		#else
			<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.SCHEDULE_DATE)</cell>
		#end
		
		#if ($hmDetails.COUNT_DATE == $null)
			<cell></cell>
		#else
			<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.COUNT_DATE)</cell>
		#end
		<cell>$esc.xml($hmDetails.STATUS)</cell>
		<cell>$esc.xml($hmDetails.APPROVED_BY)</cell>
		#if ($hmDetails.APPROVED_DATE == $null)
			<cell></cell>
		#else
			<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.APPROVED_DATE)</cell>
		#end
		
		<cell>$esc.xml($hmDetails.UPDATED_DATE)</cell>
		#set($count = $count+1)		
	</row>
#end
</rows>