<div class="phone-detail-view">
    <a href = "#crm/{{atype}}/id/{{activityid}}">
        <ul class="gmSection gmPad10p surgeon-globus-act gmBorderBottomLGrey">
            <ul class="gmAlignHorizontal gmPadLeft10p gmMediaWidth80 gmFontBlack">
                <li class="gmAlignVertical gmPaddgin3x0 gmFontBold gmMediaFont15p">{{activitydate}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmMediaFont13p">{{activitytype}}</li>
                <li class="gmAlignVertical gmPaddgin3x0 gmMediaFont13p">{{activitytitle}}</li>
            </ul>
            <ul id="surgeon-globus-act-icon" class="gmAlignHorizontal gmVerticalTop" style="margin-top: 6%"><i class="fa {{type}} gmFont{{atype}} fa-lg"></i></ul>
        </ul>
    </a>
</div>
<div class="phone-edit-view hide">

</div>