<ul class="gmSection gmPad10p sur-surgical-pad">
    <li class="gmBGLGrey gmPad10p gmBorderRadius3p li-ph-surg-surgical-data"><b>{{{sysnm}}}</b>&nbsp;
        <br> {{procedurenm}}</li>
    <ul class="gmPad10p gmBorderAsh li-ph-surg-surgical-sub-data hide">
        <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">No of Cases / month - {{cases}}</li>
        <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{commentnm}}</li>
        
    </ul>
</ul>