<div class="phone-detail-view">
    <ul class="gmSection phone-detail-view-suractvty ">
        <li class="gmBGLGrey gmPad10p gmBorderRadius3p li-ph-surg-hospital-data gmBGSandal{{priority}}">{{{accnm}}} - {{acccity}} &nbsp;
            <br> {{accstate}}</li>
        <ul class="gmPad10p gmBorderAsh li-ph-surg-hospital-sub-data hide">
            <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">
                <span class="spn-sur-affl-pr-{{priority}}">
			<span class="spn-sur-dtl-affl-priority spn-sur-affl-primary">Primary</span>
                <span class="spn-sur-dtl-affl-priority spn-sur-affl-secondary">Secondary</span>
                </span>
            </li>
            <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{casepercent}} Cases</li>
            <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{commentnm}}</li>
        </ul>
    </ul>
</div>
<div class="phone-edit-view hide">

</div>