<ul class="gmSection sur-tab-head">

    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/contact">
        <li id="tab-surg-contact" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Info<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>

    </a>


    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/address">
        <li id="tab-surg-hospital-address" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Address<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </a>

    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/hospitalaf">
        <li id="tab-surg-hospital-affiliation" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Hospital Affiliation<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </a>


    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/surgicalact">
        <li id="tab-surg-surgical-activity" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Surgical Activity<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </a>


    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/globusact">
        <li id="tab-surg-globus-activity" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Globus Activity<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </a>


    <a class="a-sur-tab-link gmTextAll gmAlignVertical" href="#crm/surgeon/id/{{partyid}}/doc">
        <li id="tab-surg-documents" class="gmBGLGrey gmFontBlack gmMediaFont15p gmMargin50 gmPadding1em gmBorderRadius3p">
            Documents<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </a>

</ul>