{{#if cell-detail}}
<ul class="gmSection gmPad10p">
    
    <li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p"><i class="fa fa-phone gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
    
    <a class="gmAlignHorizontal gmMediaWidth80" href="tel: {{cell-detail}}"> {{cell-detail}}</a> 
    
</ul>{{/if}}
 {{#if email}}
<ul class="gmSection gmPad10p">
 
    <li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p"><i class="fa fa-envelope gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
  
    <a class="gmAlignHorizontal gmMediaWidth80"href="mailto: {{email}}"> {{email}}</a>

   
</ul> {{/if}}
{{#if arrgmsurgeonsaddressvo}} {{#if arrgmsurgeonsaddressvo.add1}}
<ul class="gmSection gmPad10p">
    
    <li class="gmAlignHorizontal gmVerticalTop gmMarginLeftMinus5p"><i class="fa fa-map-marker gmFontBlack gmFont15em gmText50 gmTextCenter" aria-hidden="true"></i></li>
    

    <li class="gmAlignHorizontal gmMediaWidth80">{{arrgmsurgeonsaddressvo.add1}}, {{#if arrgmsurgeonsaddressvo.add2}} {{arrgmsurgeonsaddressvo.add2}}
        <br> {{/if}} {{arrgmsurgeonsaddressvo.city}}
        <br> {{arrgmsurgeonsaddressvo.statenm}} {{arrgmsurgeonsaddressvo.zip}}</li>
    
</ul>{{/if}} {{/if}}

<ul class="gmSection gmPad10p">
    <ul class="gmSection gmFontBold gmPad10p">ADMIN ASSISTANT</ul>
    <ul class="gmSection">
        {{#if asstnm}}
        <li class="gmAlignHorizontal gmVerticalMiddle"><i class="fa fa-user gmFontBlack gmFont15em gmText50 gmTextCenter" aria-hidden="true"></i></li>
            <li class="gmAlignHorizontal gmMediaWidth80"> {{asstnm}}  </li></ul>
        {{else}}
        <ul class="gmPaddingTop10p"><li class="gmAlignVertical gmPadleft55 gmMediaWidth80 gmFontItalic"> Unavailable  </li></ul>{{/if}}
        {{#if asstphn-detail}}
        <ul class="gmPaddingTop10p"><li class="gmAlignHorizontal gmVerticalMiddle"><i class="fa fa-phone gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
            <a class="gmAlignHorizontal gmMediaWidth80"href="tel: {{asstphn-detail}}"> {{asstphn-detail}}{{/if}}</a></ul>
        {{#if asstemail}}
        <ul class="gmPaddingTop10p"><li class="gmAlignHorizontal gmVerticalMiddle"><i class="fa fa-envelope gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
            <a class="gmAlignHorizontal gmMediaWidth80"href="mailto: {{asstemail}}"> {{asstemail}}{{/if}}</a></ul>
    </ul>


<ul class="gmSection gmPad10p">
    <ul class="gmSection gmFontBold gmPad10p">BUSINESS MANAGER</ul>
    <ul class="gmSection ">
        {{#if mngrnm}}
        <li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p"><i class="fa fa-user gmFontBlack gmFont15em gmText50 gmTextCenter" aria-hidden="true"></i></li>
            <li class="gmAlignHorizontal gmMediaWidth80"> {{mngrnm}}  </li></ul>
        {{else}}
        <ul class="gmPaddingTop10p"><li class="gmAlignVertical gmPadleft55 gmMediaWidth80 gmFontItalic">  Unavailable  </li></ul>{{/if}}
        {{#if busphn-detail}}
        <ul class="gmPaddingTop10p"><li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p"><i class="fa fa-phone gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
            <a class="gmAlignHorizontal gmMediaWidth80"href="tel: {{busphn-detail}}"> {{busphn-detail}}{{/if}}</a> </ul>
        {{#if busemail}}
        <ul class="gmPaddingTop10p"><li class="gmAlignHorizontal gmVerticalMiddle gmMarginLeftMinus5p"><i class="fa fa-envelope gmFontBlack gmFont15em gmText50 gmTextCenter"></i></li>
            <a class="gmAlignHorizontal gmMediaWidth80"href="mailto: {{busemail}}"> {{busemail}}{{/if}}</a></ul>
    </ul>
{{#if specname}}
<ul class="gmSection  gmPad10p">
     <ul class="gmSection gmFontBold gmPad10p mob-sur-disp">SPECIALITY</ul>
    <ul class="gmPaddingTop10p mob-sur-disp"><li class="gmAlignVertical surg-contact-name-label gmMediaWidth80 ">{{specname}}</li></ul>

</ul>{{/if}}
{{#if repnm}}
<ul class="gmSection  mob-sur-disp  gmPad10p gmMediaWidth85">
     <ul class="gmSection gmFontBold mob-sur-repnm gmPad10p">REP</ul>
    <ul class="gmPaddingTop10p mob-sur-disp"><li class="gmAlignVertical surg-contact-name-label  gmMediaWidth100 gmPadleft17p">{{repnm}}</li></ul>
</ul>{{/if}}
{{#if adnm}}
<ul class="gmSection  mob-sur-disp  gmPad10p gmMediaWidth85">
     <ul class="gmSection gmFontBold  mob-sur-repnm gmPad10p">AD</ul>
    <ul class="gmPaddingTop10p mob-sur-disp "><li class="gmAlignVertical surg-contact-name-label   gmMediaWidth100 gmPadleft17p">{{adnm}}</li></ul>
</ul>{{/if}}
 {{#if vpnm}}
<ul class="gmSection  mob-sur-disp gmPad10p gmMediaWidth85">
     <ul class="gmSection gmFontBold mob-sur-repnm gmPad10p">VP</ul>
    <ul class="gmPaddingTop10p mob-sur-disp "><li class="gmAlignVertical surg-contact-name-label  gmMediaWidth100 gmPadleft17p">{{vpnm}}</li></ul>
</ul>{{/if}}