<ul class="ul-selectAll">
    <li class="li-selectAll selected"><span class="legColorAll"></span><span class="legTitleAll">All</span><span class="legSelectAll"><input type="checkbox" name="checkall" checked></span></li>
</ul>
<ul class="ul-chartLegend">
    {{#if legendData}} {{#each legendData}}

    <li class="liLeg selected" data-name="{{label}}" data-value="{{value}}" data-fillcolor="{{fillcolor}}" data-sysid="{{sysid}}" data-segmentnm="{{segmentnm}}" data-segmentid="{{segmentid}}"><span class="legColor" style="background:{{fillcolor}}"></span><span class="legTitle">{{{label}}}</span><span class="legSelect"><input type="checkbox" name="check" checked></span></li>

    {{/each}} {{/if}}
</ul>