<div class="chartMainWrapper">
    <div class="filterDiv gmMarginTop10p gmMarginBottom10p gmPaddingTop10p">
        <ul class="surg-head-bottom">
            <li class="surg-head-bottom-left">
                <div class="SHB-left">
                    <div class="surg-label">Account: </div>
                    <div id="btn-surgeon-surgical-account" class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m"> <span></span></div>
                    <input type="hidden" id="accid" class="gmInputText gmMinWidth50p gmText60 gmVerticalTop" />

                </div>
            </li>

            <li class="surg-head-bottom-middle">
                <div class="SHB-middle">
                    <div class="surg-label">Date Range: </div>
                    <div class="surg-datadr">
                        <div id="3M" data- class="surgin-dr-tab 3m-surgin-tab gmAlignHorizontal gmBGGrey">3M</div>
                        <div id="6M" class="surgin-dr-tab 6m-surgin-tab gmAlignHorizontal gmBGDarkerGrey gmFontWhite selected">6M</div>
                        <div id="1Y" class="surgin-dr-tab 1y-surgin-tab gmAlignHorizontal gmBGGrey">1Y</div>
                        <div id="custom" class="surgin-dr-tab custom-surgin-tab gmAlignHorizontal gmBGGrey">Custom</div>
                    </div>
                </div>
            </li>

            <li class="surg-head-bottom-right">
                <div class="SHB-right hide">
                    <div id="surg-startdate"> <select id="select-surg-surgstartmonth" startmonth="">
                            <option value="">MM</option>
                        </select> <select id="select-surg-surgstartyear" startyear="">
                            <option value="">YYYY</option>
                        </select></div><span class="SHBR-hyphen"> - </span>
                    <div id="surg-enddate"><select id="select-surg-surgendmonth" endmonth="">
                            <option value="">MM</option>
                        </select> <select id="select-surg-surgendyear" endyear="">
                            <option value="">YYYY</option>
                        </select></div>
                </div>
            </li>
            <li class="surg-head-bottom-btn">
                <div class="SHB-btn">
                    <div id="btn-load-chart" class="gmBGDarkBlue gmBtn gmFontWhite gmAlignHorizontal gmVerticalMiddle">Load</div>
                </div>
            </li>

        </ul>
        <ul class="surg-head-top gmAlignHorizontal">

            <li class="surg-head-top-left">
                <div class="SHT-left">
                    <div id="revenue" class="surgin-tab rp-surgin-tab gmAlignHorizontal gmBGDarkerGrey gmFontWhite selected">Revenue</div>
                    <div id="procedure" class="surgin-tab rp-surgin-tab gmAlignHorizontal gmBGGrey">Procedure</div>
                </div>
            </li>

            <li class="surg-head-top-middle gmTextCenter">
                <div class="SHT-middle">
                    <div id="segment" class="surgin-tab ss-surgin-tab gmAlignHorizontal gmBGDarkerGrey gmFontWhite selected">SEGMENT</div>
                    <div id="system" class="surgin-tab ss-surgin-tab gmAlignHorizontal gmBGGrey">SYSTEM</div>
                </div>
            </li>

            <li class="surg-head-top-right gmTextRight">
                <div class="SHT-right">
                    <div id="overall" class="surgin-tab ot-surgin-tab gmAlignHorizontal gmBGDarkerGrey gmFontWhite selected">Overall</div>
                    <div id="trend" class="surgin-tab ot-surgin-tab gmAlignHorizontal gmBGGrey">Trend</div>
                </div>
            </li>

        </ul>
        <ul class="ul-chart-btn gmAlignHorizontal">
            <li class="treemap-btn li-chart-btn overall-btn" data-chartname="treemap" title="Treemap Chart">
                <i class="fa fa-th-large"></i>
            </li>
            <li class="piechart-btn li-chart-btn overall-btn" data-chartname="piechart" title="Pie Chart">
                <i class="fa fa-pie-chart"></i>
            </li>
            <li class="barchart-btn li-chart-btn overall-btn" data-chartname="barchart" title="Bar Chart">
                <i class="fa fa-bar-chart"></i>
            </li>
            <li class="linechart-btn li-chart-btn trend-btn hide" data-chartname="linechart" title="Line Chart">
                <i class="fa fa-line-chart"></i>
            </li>
            <li class="stackedbarchart-btn li-chart-btn trend-btn hide" data-chartname="stackedbarchart" title="Stackedbar Chart">
                <i class="fa fa-bar-chart"></i>
            </li>
            <li class="calendar-surg-btn li-chart-btn" data-chartname="calendar" title="Show In Calendar">
                <i class="fa fa-calendar"></i>
            </li>
        </ul>
        <ul class="countActivity gmAlignHorizontal"></ul>
    </div>
    <div class="chartWrapper gmAlignHorizontal">
        <div class="chartMain gmFloatLeft">
            <div class="chartHeading hide">Globus Surgical Activity Chart</div>
            <div id="chart-container">Charts will render here</div>
        </div>
        <div class="chartLegend gmFloatLeft"> </div>
    </div>
</div>

<div class="surg-calendar-view hide">
</div>