<div id="div-module-criteria">
    <ul class="gmBorderAsh gmBGLGrey iPhone gmMediaWidth99 div-surgeon-criteria-tabs">
        <li id="tab-npiname" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal search-tab-criteria" tabname="search-tab-criteria">Search</li>
        <li id="tab-category" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal  " tabname="filter-tab-criteria">Filter</li>
        <li id="tab-favorite" class="sub-tab gmBGEmpty gmPad10p gmTextCenter gmAlignHorizontal " tabname="favorite-tab-criteria">Favorites</li>
    </ul>
    <div class="  surgeon-sub-content">
    <div class="gmSection gmAlignHorizontal gmVerticalTop">
    <ul class="gmTextCenter gmAlignHorizontal">
        <li id="surgeon-report-summary" class="gmMarginTop10p gmAlignHorizontal icon-dropdown">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="summary"><i class="fa fa-file-text-o surgeon-icon" aria-hidden="true"></i> <i class="fa fa-search" aria-hidden="true" style="font-size:12px; margin-left:-16px;"></i> Summary</div>
        </li>
        <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="contact"><i class="fa fa-phone surgeon-icon" aria-hidden="true"></i> Contact</div>
        </li>
        <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="education"><i class="fa fa-graduation-cap surgeon-icon" aria-hidden="true"></i> Education</div>
        </li>
        <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth180m module-title" name="professional"><i class="fa fa-suitcase surgeon-icon" aria-hidden="true"></i> Professional Experience</div>
        </li>
        <li id="surgeon-consultant-view" class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup hide">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="consultant"><i class="fa fa-users surgeon-icon" aria-hidden="true"></i> Consultant</div>
        </li>
        <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
            <div class="surgeon-title btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="mercsurgrpt"><i class="fa fa-graduation-cap surgeon-icon" aria-hidden="true"></i> MERC Attendee</div>
        </li>
        
    </ul>
    </div>

        <div id="npi-name-key-search" class="sur-criteria-phone-style surgeon-search-content search-criteria-content gmMarginTop10p">
        <div id="merc-actid-search" class="merc-criteria-phone-style gmMediaMarginTop10 gmMediaWidth100 gmMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">NPI</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="surgeon-npid" class="surgeon-npid gmInputText gmWidth180m" value="" maxlength="10">
                    <div id="btn-search-npid" class="btn-search-npid gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div id="merc-name-search" class="merc-criteria-phone-style gmMediaMarginTop10p gmMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Name</li>
                <li class="gmMarginTop10p">
                    <input type="text" data-id="surgeon-fname" class="surgeon-fname gmInputText gmWidth180m" value="" placeholder = "First Name">
                    <input type="text" data-id="surgeon-lname" class="surgeon-lname gmInputText gmWidth180m input-lname-sur-criteria" value="" placeholder = "Last Name">
                    <div id="btn-search-name" class="btn-search-name gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>
        <div id="surg-srep-search" class="merc-criteria-phone-style gmMediaMarginTop10p gmMarginTop10p">
            <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                <li class="gmFontBold">Sales Rep</li>
                <li class="gmMarginTop10p">
                    <div id="div-surgeon-search-rep" class="span-scontacts-salesrep gmAlignHorizontal"></div>
                    <div id="btn-search-srep" class="btn-search-srep gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                </li>
            </ul>
        </div>

        <div class="gmLineSpace iPad"></div>
    </div>
<!--    <div class="gmLineSpace iPad surgeon-search-content"></div>

    <div id="surgeon-category-content" class="sur-criteria-phone-style gmMediaWidth100 surgeon-sub-content filter-criteria-content surgeon-category-content">

        <ul id="ul-sur-activity-date" class="gmSection gmAlignHorizontal gmVerticalTop sur-phone-criteria-date">
            <li>
                <div class="gmFontBold gmAlignHorizontal ul-activity-date gmWidth180m">
                    Activity Date
                </div>
            </li>
            <li class="gmMarginTop10p li-surg-actdate-input gmAlignHorizontal">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextRight li-surg-actdate-input gmMediaDisplayNone">
                    From
                </div>
                <div class="gmAlignHorizontal sur-date-mobile-criteria">
                    <input type="date" id="surgeon-frmdate" class="gmInputText gmWidth180m surgeon-frmdate" placeholder="mm/dd/yyyy">
                </div>
            </li>
            <li class="gmMarginTop10p li-surg-actdate-input gmAlignHorizontal">
                <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextCenter gmMediaDisplayNone">
                    To
                </div>
                <div class="gmAlignHorizontal sur-date-mobile-criteria">
                    <input type="date" id="surgeon-todate" class="gmInputText gmWidth180m surgeon-todate" placeholder="mm/dd/yyyy">
                </div>
            </li>
        </ul>
    </div>
    <ul class="surgeon-category-content filter-criteria-content">
        <li>
            <div class="gmSection list-category-item category-items gmBorderRadius3p"></div>    
        </li>
        <li class="gmMinHeight25p gmMarginTop10p">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>-->

    <div class="gmMarginTop10p favorite-criteria-content">
        <ul class="gmSection gmMyFav surgeon-favorite-criteria">
            <li class="gmAlignHorizontal gmFontBold hide gmMediaDisplayNone">
                Favorites
            </li>

            <li class="gmSectionListItem gmSectionContent gmAlignVertical gmMyFavContent gmSurgeonFav">

            </li>
        </ul>
    </div>
</div>

