<div>
    <ul class="gmListItem ul-list-items">
        <li class="gmListColData gmText150">{{actnm}}</li>
        <li class="gmListColData gmText125">{{formatDate actstartdate}}</li>
        <li class="gmListColData gmText100">{{formatDate actenddate}}</li>
        <li class="gmListColData gmText100">{{location}}</li>
        {{#if added}}
            <li class="gmBtn gmBtnSmall gmAlignHorizontal">
                Added
            </li>
        {{else}}
            {{#if reqstd}}
                <li class="gmBtn gmBtnSmall gmAlignHorizontal">
                    Requested
                </li>
            {{else}}
                <li class="li-add-merc gmBtn gmBtnSmall gmAlignHorizontal" actid="{{actid}}" actnm="{{actnm}}">
                    <i class="i-add-merc fa fa-plus-circle gmFontRed"></i> Add
                </li>
            {{/if}}
        {{/if}}
        
    </ul>
    <ul class="ul-phone-list-items gmTextAll gmBorderBottomLGrey">
        <div class="gmAlignHorizontal gmMediaWidth80 gmVerticalMiddle">
            <li class="gmAlignVertical gmPadding5x0p gmFontBold">{{actnm}}</li>
            <li class="gmAlignVertical gmPadding5x0p">{{formatDate actstartdate}} - {{formatDate actenddate}}</li>
            <li class="gmAlignVertical gmPadding5x0p">{{location}}</li>
        </div>
        {{#if added}}
            <li class="gmAlignHorizontal gmVerticalMiddle">
                Added
            </li>
        {{else}}
            {{#if reqstd}}
                <li class="gmAlignHorizontal gmVerticalMiddle">
                    Requested
                </li>
            {{else}}
                <li class="li-add-merc gmAlignHorizontal gmVerticalMiddle" actid="{{actid}}" actnm="{{actnm}}">
                    <i class="fa fa-plus-circle gmFontRed"></i>
                </li>
            {{/if}}
        {{/if}}
        
    </ul>
</div>