<ul class="gmListItem ul-list-items">
    <li data-refid="{{nrefid}}" class="gmListColData gmText250 usernm_link namePadding">
        {{#if acsLink }}
        <a href="#crm/surgeon/filter/report/summary/{{acsLvl}}/{{nrefid}}">{{nrefnm}}</a> {{else}} {{nrefnm}} {{/if}}
    </li>
    <li class="gmListColData gmText50  summaryPadding gmTextCenter"><a class="revenueList" data-refid="{{nrefid}}" data-accesslvl="{{acsLvl}}"><i class="gmFontsurgeon fa fa-user-md fa-2x" aria-hidden="true"></i></a></li>
    <li class="gmListColData gmText125 summaryBoxsizing gmTextRight activePadding"><a class="listReport" data-refid="{{nrefid}}" data-accesslvl="{{acsLvl}}" data-status="400901">{{active}}</a></li>
    <li class="gmListColData gmText125 summaryBoxsizing gmTextRight inprogressPadding"><a class="listReport" data-refid="{{nrefid}}" data-accesslvl="{{acsLvl}}" data-status="400902">{{inprogress}}</a></li>
    <li class="gmListColData gmText125 summaryBoxsizing gmTextRight openPadding"><a class="listReport" data-refid="{{nrefid}}" data-accesslvl="{{acsLvl}}" data-status="400903">{{open}}</a></li>
    <li class="gmListColData gmText125 summaryBoxsizing gmTextRight totalPadding"><a class="listReport" data-refid="{{nrefid}}" data-accesslvl="{{acsLvl}}" data-status="total">{{total}}</a></li>
</ul>