<div>
     <ul id="ul-sur-doc-edit" class="gmSection edit ">
         <li id="div-documnts-header">
                <ul class="gmListHeader">
                    <li id="li-surgdocheader" class="gmListColHead gmText200 gmFontsurgeon width20 " >File Type</li>
                    <li class="gmListColHead gmText225 gmFontsurgeon width20">File Title</li>
                    <li class="gmListColHead gmText200 gmFontsurgeon width20 sur-doc-filname-header">File Name</li>
                    <li class="gmListColHead gmText200 gmFontsurgeon width20">Upload File</li>
                </ul>
                <hr class = "gmMargin1p gmOpacity5 gmBGsurgeon gmHr hr-surg">
	    </li>
    </ul>
</div>
<div id="div-document-list">
    
</div>