<!--Popup Code start-->
    {{#each this}}
        <div class="sysitemDo gmMarginBottom10p gmBorderLightGrey">
            
            <div class="title-panel-s gmFontWhite display-flex align-items-center justify-space-bwn"><div class="ord_link cursorPointer gmAlignHorizontal display-flex align-items-center gmPadRight10p" parentord = "{{parentord}}"><i class="fa fa-window-restore gmPadRight10p gmVerticalMiddle"></i><span>{{@key}}</span></div><span class="totalDOSpan">{{compPriceFmt gtotal}}</span></div>
            <ul>
                    <li>
                        <div class="row-sys-list gmTextAll display-flex">
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText150">Segment</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText150">System</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText100p">Part</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText220">Part Desc</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText40">Qty</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText100p">Price</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText100p">Total</div>
                        </div>
                    </li>
                </ul>

            {{#each this}}

                <ul ord="{{ord}}">
                    <li>
                        <div class="row-sys-list gmTextAll display-flex">
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText150">{{segmentnm}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText150 gmEllipses" title="{{sysnm}}">{{sysnm}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText100p">{{pnum}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextLeft gmBorderBottomLGrey gmText220 gmEllipses" title="{{partdesc}}">{{partdesc}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText40">{{bracketsNumber qty}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText100p">{{compPriceFmt price}}</div>
                            <div class="order-clm gmAlignHorizontal gmTextRight gmBorderBottomLGrey gmText100p">{{compPriceFmt total}}</div>
                        </div>
                    </li>
                </ul>
            {{/each}}
        </div>
    {{/each}}
<!--Popup Code End-->