<ul class="gmSection gmMarginTop10p">
    <div class="gmFontBold gmMarginTop10p gmPad5p gmBGGrey gmAlignVertical">Education</div>
    <div class="education-surgeon-data gmSection gmTextAll ">
        {{#if arrgmcrmeducationvo}}
        <div class="education-surgeon-header gmSection gmTextAll gmBorderBottomLGrey gmBGABlue">
            <li class="gmListColData gmText125 gmFontsurgeon"> Level </li>
            <li class="gmListColData gmText300 gmFontsurgeon"> Institute Name </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Class Year </li>
            <li class="gmListColData gmText250 gmFontsurgeon"> Course </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Designation </li>
        </div>
        {{#each arrgmcrmeducationvo}}
        {{#iffalse voidfl 'Y'}}
        <ul class="gmSection gmTextAll" data-educationid="{{id}}">
            <li class="gmListColData gmText125 li-load-report gmReportLnk" data-stropt="listview" data-listby="education" data-key="level" data-val="{{levelid}}" data-key2="levelid" data-val2="{{level}}">{{level}}</li>
            <li class="gmListColData gmText300 li-load-report gmReportLnk" data-stropt="listview" data-listby="education" data-key="institutenm" data-val="{{institutenm}}">{{institutenm}}</li>
            <li class="gmListColData gmText100 li-load-report gmReportLnk" data-stropt="listview" data-listby="education" data-key="classyear" data-val="{{classyear}}">{{classyear}}</li>
            <li class="gmListColData gmText250 li-load-report gmReportLnk" data-stropt="listview" data-listby="education" data-key="course" data-val="{{course}}">{{course}}</li>
            <li class="gmListColData gmText100 li-load-report gmReportLnk" data-stropt="listview" data-listby="education" data-key="designation" data-val="{{designationid}}" data-key2="designationid" data-val2="{{designation}}">{{designation}}</li>
        </ul>
        {{/iffalse}}
        {{/each}} {{else}}
        <ul class="gmMarginTop10p">
            <li> No Data Found</li>
        </ul>
        {{/if}}
    </div>
</ul>
<ul class="gmSection gmMarginTop10p">
    <div class="gmFontBold gmMarginTop10p gmPad5p gmBGGrey gmAlignVertical">Professional Experience</div>
    <div class="education-surgeon-data gmSection gmTextAll ">
        {{#if arrgmcrmprofessionalvo}}
        <div class="education-surgeon-header gmSection gmTextAll gmBorderBottomLGrey gmBGABlue">
            <li class="gmListColData gmText75 gmFontsurgeon"> Title </li>
            <li class="gmListColData gmText175 gmFontsurgeon"> Company Name </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> Start Date </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> End Date </li>
            <li class="gmListColData gmText175 gmFontsurgeon"> Group </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> Country </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> State </li>
            <li class="gmListColData gmText100 gmFontsurgeon"> City </li>
        </div>
        {{#each arrgmcrmprofessionalvo}}
        {{#iffalse voidfl 'Y'}}
        <ul class="gmSection gmTextAll">
            <li class="gmListColData gmText75 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="title" data-val="{{title}}" >{{title}}</li>
            <li class="gmListColData gmText175 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="companyname" data-val="{{companyname}}">{{companyname}}</li>
            <li class="gmListColData gmText75" data-stropt="listview" data-listby="professional" data-key="startyear" data-val="{{startyear}}" data-key2="startmonth" data-val2="{{startmonth}}">{{startdate}}</li>
            <li class="gmListColData gmText75" data-stropt="listview" data-listby="professional" data-key="endyear" data-val="{{endyear}}" data-key2="endmonth" data-val2="{{endmonth}}" data-key3="stillinposition" data-val3="{{stillinposition}}">{{enddate}}</li>
            <li class="gmListColData gmText175 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="groupdivision" data-val="{{groupdivision}}">{{groupdivision}}</li>
            <li class="gmListColData gmText100 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="countrynm" data-val="{{countryid}}" data-key2="country" data-val2="{{country}}">{{country}}</li>
            <li class="gmListColData gmText100 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="state" data-val="{{stateid}}" data-key2="statenm" data-val2="{{state}}">{{state}}</li>
            <li class="gmListColData gmText100 li-load-report gmReportLnk" data-stropt="listview" data-listby="professional" data-key="city" data-val="{{city}}">{{city}}</li>
        </ul>
        {{/iffalse}}
        {{/each}} {{else}}
        <ul class="gmMarginTop10p">
            <li> No Data Found</li>
        </ul>
        {{/if}}
    </div>
</ul>

<ul id="surgeon-consultant-view" class="gmSection gmMarginTop10p landscape hide">
    <div class="gmFontBold gmMarginTop10p gmPad5p gmBGGrey gmAlignVertical">Consultant</div>
    <div class="education-surgeon-data gmSection gmTextAll ">
        {{#if arrgmcrmprojectbasicvo}}
        <div class="education-surgeon-header gmSection gmTextAll gmBorderBottomLGrey gmBGABlue">
            <li class="gmListColData gmText75 gmFontsurgeon"> Project ID </li>
            <li class="gmListColData gmText650 gmFontsurgeon"> Project Name </li>
            <li class="gmListColData gmText75 gmFontsurgeon"> Role </li>
        </div>
        {{#each arrgmcrmprojectbasicvo}}
        {{#iffalse voidfl 'Y'}}
        <ul class="gmSection gmTextAll">
            <li class="gmListColData gmText75 li-load-report gmReportLnk" data-stropt="listview" data-listby="consultant" data-key="projectid" data-val="{{projectid}}" >{{projectid}}</li>
            <li class="gmListColData gmText650 li-load-report gmReportLnk" data-stropt="listview" data-listby="consultant" data-key="projectname" data-val="{{projectname}}">{{projectname}}</li>
            <li class="gmListColData gmText75" data-stropt="listview" data-listby="consultant" data-key="roleid" data-val="{{roleid}}" data-key2="rolenm" data-val2="{{rolenm}}">{{rolenm}}</li>            
        </ul>
        {{/iffalse}}
        {{/each}} {{else}}
        <ul class="gmMarginTop10p">
         <li> No Data Found</li>
        </ul>
        {{/if}}
    </div>
</ul>


