<div class = "iPad gmTextAll">
    <ul id="ul-surgeon-list" partyid="{{partyid}}" data-partynm="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" class="gmListItem ul-surgeon-list-other">
        <li class="li-surg-list-fname-body li-surgeonfname gmListColData gmText200">{{firstnm}}</li>
        <li class="li-surg-list-minitial-body li-surgeonfname gmListColData gmText50">{{midinitial}}</li>
        <li class="li-surg-list-lname-body li-surgeonlname gmListColData gmText200">{{lastnm}}</li>
        <li class="li-surg-list-city-body li-surgeoncirt gmListColData gmText125">{{city}}</li>
        <li class="li-surg-list-state-body li-surgeonstate gmListColData gmText50">{{state}}</li>
        <li class="li-surg-list-country-body li-surgeoncountry gmListColData gmText100">{{country}}</li>
        {{#if scall}}
        <li class="gmAlignHorizontal cursorPointer li-surg-list-icons li-surg-salescall gmVerticalMiddle" data-partyid="{{partyid}}">
            <a href="#crm/salescall/0/{{partyid}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p gmAlignHorizontal"><i class="gmFontsalescall fa fa-comments fa-2x" aria-hidden="true"></i></a>
        </li>
        {{/if}}
        {{#if phy}}
        <li class="gmAlignHorizontal cursorPointer li-surg-list-icons li-surg-physicianvisit gmVerticalMiddle" data-partyid="{{partyid}}">
            <a href="#crm/physicianvisit/id/{{partyid}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p gmAlignHorizontal"><i class="gmFontphysicianvisit fa fa-user-md fa-2x" aria-hidden="true"></i></a>
        </li>
        {{/if}}
        {{#if merc}}
        <li class="gmAlignHorizontal cursorPointer li-surg-list-icons li-surg-add-merc gmVerticalMiddle" data-partyid="{{partyid}}" data-partynm="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" title="Add {{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}} to MERC">
            <i class="gmFontmerc fa fa-graduation-cap gmFont18em"></i>
        </li>
        {{/if}}
        <li class="gmAlignHorizontal cursorPointer li-surg-list-icons li-surgeon-d gmFont15em gmVerticalMiddle">
            <a href="#crm/surgeon/id/{{partyid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontGreen gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
</div>
<ul class = "iPhone gmTextAll ul-surgeon-phone-item-list gmBorderBottomLGrey">
    <a href="#crm/surgeon/id/{{partyid}}" class="gmFontBlack gmAlignHorizontal gmMediaWidth90">
        <li class="gmAlignHorizontal gmVerticalMiddle gmPadRight5p div-surg-phn-list-item">
            <div class = "div-sur-pic-container div-sur-phnpic div-img-list ">
            <div id="div-name-container">
                <i class="fa fa-user default-picture" aria-hidden="true"></i>
                </div>
            {{#if picurl}}
                <div><img  src = "{{server}}{{picurl}}"  alt="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" class="gmText150" onerror="this.style.display='none'"/>
            </div>
                   {{/if }}
         </div>   
        </li>
         <li class="gmAlignHorizontal gmVerticalMiddle li-surg-phone-list-content">
            <ul class="gmAlignHorizontal gmTextAll">
                    <li class="gmAlignVertical gmPaddgin3x0 gmFontBold gmMediaFont15p">{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}</li>
                {{#if account}}  <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{account}}</li> {{/if}}
                    <li class="gmAlignVertical gmPaddgin3x0 gmFont13px">{{city}} {{state}} {{country}}</li>
            </ul>
        </li>
    </a>
    <li id="li-surgeon-calendar" class="li-surgeon-calendar gmAlignHorizontal"><i class="fa fa-calendar fa-lg gmFontBlack"></i></li>

    <li class="gmAlignVertical  gmTextCenter gmSection gmTestAll gmBorderRadius3p li-surg-create-activity hide data-partyid="{{partyid}}" data-partynm='{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}' ">
            {{#if scall}}
            <a href="#crm/salescall/0/{{partyid}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p"><i class="gmPad10p gmFontsalescall fa fa-comments fa-2x" aria-hidden="true"></i></a> {{/if}} {{#if phy}}
            <a href="#crm/physicianvisit/id/{{partyid}}/{{firstnm}}/{{lastnm}}" class="gmPadRight10p"><i class="gmPad10p gmFontphysicianvisit fa fa-user-md fa-2x" aria-hidden="true"></i></a> {{/if}} 
        {{#if merc}}
        <div class="gmAlignHorizontal li-surg-list-icons li-surg-add-merc" data-partyid="{{partyid}}" data-partynm="{{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}}" title="Add {{parseNull salutenm}} {{firstnm}} {{parseNull midinitial}} {{lastnm}} to MERC">
            <i class="gmFontmerc fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
        </div>
        {{/if}}
    </li>
</ul>
