<ul class="gmPadLeft10p gmMarginTop10p">
    {{#if fileupload}}
    {{#each fileupload}}
   <li class = "gmAlignVertical ">
       <span class="gmMarginRight5p">{{math @index "+" 1}}.</span>
         {{filetitle}} <div class="a-file-open gmUnderline gmAlignHorizontal gmMarginLeft10p" href-url="{{server}}{{refgroup}}/{{refid}}/{{filename}}" target="_blank">{{filename}}</div>
       <div class = "link-docs hide gmUnderline gmAlignHorizontal gmMarginLeft10p" docID = "{{refid}}" name = "{{refgroup}}/{{refid}}/{{filename}}">{{filename}}</div>
       <div class="gmLineSpaceSml">
       </div>
    </li>
    {{/each}}
    {{else}}
    &nbsp; &nbsp; &nbsp;Not Found
    {{/if}}
</ul>