
<div>
    <form id="frm-sur-picture" method="POST" role="form" enctype="multipart/form-data" class="data-document">
    <ul>
        <li class="gmTextCenter gmLineSpaceSmlr"><div id ="div-surgeon-pic"></div></li>
        <ul class="gmTextCenter">
        <li class="gmTextCenter li-input-change-photo gmAlignHorizontal gmMargin5p">
            <input type="file" id="input-surgeon-picture"  name="file" accept="application/png, application/jpeg, application/gif"   / >
        </li>
<!--        <li class="li-btn-take-photo li-btn-photo-caption gmBtn">Take Photo</li>-->
<!--        <li class="li-btn-change-photo li-btn-photo-caption gmBtn">Change Photo</li>-->
        <li class="li-btn-delete-photo li-btn-photo-captions gmBtn gmAlignHorizontal gmPadding5p gmMargin5p hide">Delete Picture</li>
<!--        <li class="li-btn-cancel-photo li-btn-photo-caption gmBtn">Cancel</li>-->
            </ul>
    </ul>
    </form>
</div>
