 {{#if surgeonaffiliation}}
<ul class="gmPadLeft10p">
    <li id="li-affl-header">
        <ul class="gmListHeader">
            <li class="gmListColHead  gmText150 li-affl-lvl gmFontsurgeon">
                Level
            </li>
            <li class="gmListColHead  gmText50 li-affl-case gmFontsurgeon">
                Cases
            </li>
            <li class="gmListColHead  gmText200 li-affl-hnm gmFontsurgeon">
                Hospital Name
            </li>
            <li class="gmListColHead  gmText90 li-affl-ct gmFontsurgeon">
                City
            </li>
            <li class="gmListColHead  gmText125 li-affl-st gmFontsurgeon">

                State
            </li>
            <li class="gmListColHead  gmText245 li-affl-cmnt gmFontsurgeon">
                Comments
            </li>
        </ul>
        <hr class="gmMargin1p gmOpacity5 gmBGsurgeon gmHr">
    </li>
    {{#each surgeonaffiliation}} {{#if accid }}
    <ul class="gmListHeader">
        <li class="gmListColHead   gmText150 li-affl-lvl">
            <span {{#iftrue priority "1"}}>Primary {{/iftrue}}</span>
            <span {{#iftrue priority "2"}}>Secondary{{/iftrue}}</span>
        </li>
        <li class="gmListColHead   gmText50 li-affl-case">
            {{casepercent}}
        </li>
        <li class="gmListColHead   gmText200 li-affl-hnm">
            {{accnm}}
        </li>
        <li class="gmListColHead   gmText90 li-affl-ct">
            {{acccity}}
        </li>
        <li class="gmListColHead   gmText125 li-affl-st">

            {{accstate}}
        </li>
        <li class="gmListColHead gmTextword gmVerticalMiddle gmText245 li-affl-cmnt">
            {{commentnm}}
        </li>
    </ul>

    {{/if}} {{/each}}
</ul>
{{else}}
<li class="gmAlignVertical gmMargin5p">
    Not Found
</li>
{{/if}}
