<div id="div-surgeon-report-main">    
    {{#iffalse reporttype 'summary'}}
    <ul class="gmSection gmAlignHorizontal">
        {{#iftrue reporttype 'education'}}
        <section class="education-surgeon-data gmSection">
            <ul id="ul-surg-education-list" class="gmSection">
                <li class="gmAlignHorizontal education-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Level</label>
                  <div id="select-surgeon-edulvl" class="surgeon-title btn-listby category-btn gmText125 popup-icon" data-type="dropdown" data-param="level" data-inputParameters='{"codegrp":"EDULVL"}' data-keyParameter="codenm" data-codegrp="EDULVL" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="level" data-title="Level" data-name="level" levelid="{{level}}" redata="{{level}}">  Select </div>
                </li>

                <li class="gmAlignHorizontal education-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Institute Name</label>
                    <div id="surg-education-institutenm" class="search-input" institutenm="{{institutenm}}" maxlength='200'></div>
                </li>

                <li class="gmAlignHorizontal education-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Class Year</label>
                    <select id="surg-education-classyear" classyear="{{classyear}}">
                        <option value="">Select</option>
                    </select>
                </li>

                <li class="gmAlignHorizontal education-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Course</label>
                    <div id="surg-education-course" class="search-input" course="{{course}}" maxlength='200'></div>
                </li>

                <li class="gmAlignHorizontal education-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Designation</label>
		    <div id="select-surgeon-desgn" class="surgeon-title btn-listby category-btn gmText60 popup-icon" data-type="dropdown" data-param="designation" data-inputParameters='{"codegrp":"DESGN"}' data-keyParameter="codenm" data-codegrp="DESGN" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="level" data-title="Designation" data-name="designation" redata="{{designation}}" designationid="{{designation}}"> Select </div>
                </li>
            </ul>
        </section>
        {{/iftrue}} {{#iftrue reporttype 'professional'}}
        <section class="professional-surgeon-data gmSection">
            <ul id="ul-surg-professional-list" class="gmSection">
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Title</label>
                    <div id="search-surg-proftitle" class="search-input" titleid="{{titleid}}" title="{{title}}" maxlength='50'></div>
                </li>
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Company Name</label>
                    <div id="search-surg-profcompanyname" class="search-input" companynameid="{{companynameid}}" companyname="{{companyname}}" maxlength='200'></div>
                </li>
                <li id="professional-report-sdate" class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Start Date</label>
                    <select id="select-surg-profstartmonth" startmonth="{{startmonth}}">
                        <option value="">Select</option>
                    </select>
                    <select id="select-surg-profstartyear" startyear="{{startyear}}">
                        <option value="">Select</option>
                    </select>
                </li>
                <li id="professional-report-edate" class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">End Date</label>
                    <select id="select-surg-profendmonth" endmonth="{{endmonth}}">
                        <option value="">Select</option>
                    </select>
                    <select id="select-surg-profendyear" endyear="{{endyear}}">
                        <option value="">Select</option>
                    </select>
                    <div id="check-surg-profpresent"><input type="checkbox" stillinposition="{{stillinposition}}"> Present</div>
                </li>
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Group</label>
                    <div id="search-surg-profgroupdivision" class="search-input" groupdivisionid="{{groupdivisionid}}" groupdivision="{{groupdivision}}" maxlength='200'></div>
                </li>
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Country</label>
                    <div id="search-surg-profcountry" countrynm="{{countrynm}}" country="{{country}}"></div>
                </li>
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">State</label>
                    <div id="search-surg-profstate" statenm="{{statenm}}" state="{{state}}"></div>
                </li>
                <li class="gmAlignHorizontal professional-eitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">City </label>
                    <div id="search-surg-profcity" class="search-input" cityid="{{cityid}}" city="{{city}}" maxlength='100'></div>
                </li>
            </ul>
        </section>
         {{/iftrue}} 
        {{#iftrue reporttype 'consultant'}}
        <section class="consultant-surgeon-data gmSection">
            <ul id="ul-surg-consultant-list" class="gmSection">
                <li class="gmAlignHorizontal consultant-vitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Project ID</label>
                    <div id="search-surg-projectid" class="search-input" projectid="{{projectid}}" maxlength='50'></div>
                </li>
                <li class="gmAlignHorizontal consultant-vitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Project Name</label>
                    <div id="search-surg-projectnm" class="search-input" projectname="{{projectname}}"  maxlength='200'></div>
                </li>
 
                <li class="gmAlignHorizontal consultant-vitem">
                    <label class="gmAlignVertical gmFontBold gmPaddingButtom10p">Role</label>
            <div id="search-surg-roleid" class="search-input" roleid="{{roleid}}" rolenm="{{rolenm}}" maxlength='50'></div>
                </li> 
            </ul>
        </section>
        {{/iftrue}}           
        {{#iftrue reporttype 'contact'}}
        <section class="contact-surgeon-data gmSection">
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="state" data-inputParameters='{"codegrp":"STATE"}' data-keyParameter="codenm" data-codegrp="STATE" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="state" data-title="Location"> State <span></span></div>
            </li>
<!--
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="procedure" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Technique">Technique <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="btn-listby surgeon-title category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="systemid" data-inputParameters='' data-keyParameter="sysnm" data-IDParameter="sysid" data-NameParameter="sysnm" data-resultVO="gmSystemBasicVO" data-webservice="search/system" data-title="Product Used" data-name="product" data-storagekey="systemid" data-title="Product">Product <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="specality" data-inputParameters='{"codegrp":"SGSPC"}' data-keyParameter="codenm" data-codegrp="SGSPC" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="specality" data-title="Skillset">Skillset <span></span></div>
            </li>
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="role" data-inputParameters='{"codegrp":"ACTROL"}' data-keyParameter="codenm" data-codegrp="ACTROL" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="role" data-title="Role">Role <span></span></div>
            </li>
-->
            <li class="gmMarginTop10p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup">
                <div class="surgeon-title btn-listby category-btn popup-icon  gmWidth180m" data-type="dropdown" data-param="acttyp" data-inputParameters='{"codegrp":"SGACTP"}' data-keyParameter="codenm" data-codegrp="SGACTP" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="acttyp" data-title="Activity Type">Activity Type<span></span></div>
            </li>
        </section>
        {{/iftrue}}       
    </ul>
    <ul id="surgeon-reoport-btn-{{reporttype}}" class="gmSection gmAlignHorizontal gmVerticalMiddle">
        <li class="gmAlignHorizontal">
            <div id="btn-category-search" class="gmBGDarkGrey gmBtn gmFloatRight gmFontWhite">View</div>
        </li>
    </ul>
    {{/iffalse}}
    <section id="surgeon-report-section" class=""></section>
</div>