<div id="div-Media">
    <div id="socialUrl-validation-msg-bar"></div>
    <ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="vitals-icon fa fa-2x fa-viacoin gmfasocial" title="Vitals" aria-hidden="true"></i></li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Vitals" class="gmWidth480px gmInputText" placeholder="Vitals" maxlength="500" tabindex="3" value="{{vitals}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="openpayment-icon fa fa-2x fa-usd gmfasocial" title="Openpayments" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Openpayment" class="gmWidth480px gmInputText" placeholder="Openpayments" maxlength="500" tabindex="3" value="{{openpayment}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="website-icon fa fa-2x fa-user-md gmfasocial" title="Website" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Website" class="gmWidth480px gmInputText" placeholder="Website" maxlength="500" tabindex="3" value="{{website}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="google-icon fa fa-2x  gmVerticalMiddle gmfasocial" title="Google" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Google" class="gmWidth480px gmInputText" placeholder="Google" maxlength="500" tabindex="3" value="{{google}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>

        <ul class="gmSection socialIcons-edit">
            <li class=" gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="facebook-icon fa fa-2x fa-facebook-square gmfasocial" title="Facebook" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Facebook" class="gmInputText  gmWidth480px" placeholder="Facebook" maxlength="500" tabindex="3" value="{{facebook}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="twitter-icon fa fa-2x fa-twitter-square gmfasocial" title="Twitter" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Twitter" class="gmInputText gmWidth480px" placeholder="Twitter" maxlength="500" tabindex="3" value="{{twitter}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
        <ul class="gmSection socialIcons-edit">
            <li class="gmAlignHorizontal gmFontBlack gmFontBold gmPad75">
                <i class="linkedIn-icon fa fa-2x fa-linkedin-square gmfasocial" title="Linkedin" aria-hidden="true"></i>
            </li>
            <li class=" gmSectionValue gmMediaWidth95 gmAlignHorizontal gmPad75">
                <input type="text" id="Linkedin" class="gmWidth480px gmInputText" placeholder="Linkedin" maxlength="500" tabindex="3" value="{{linkedin}}">
            </li>
            <li class="clear-x fa fa-lg fa-times-circle"></li>
        </ul>
    </ul>

</div>
