<ul id="surgeon-rep-content-{{index}}" class="gmPad50 gmSection">
    <i class='fa fa-minus-circle remove-rep gmFontRed gmBtnLarge' index="{{index}}" arrID="{{arrID}}"></i>

    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaAlignVertical gmFontBold gmText225 gmMediaWidth100">
        <div id="div-surgeon-search-rep-{{index}}" class="span-scontacts-salesrep surgeon-edit " VO="arrgmcrmsurgeonrepvo"></div>
    </li>
    <li class="gmAlignHorizontal">
        <input type="checkbox" index="{{index}}" primaryfl="{{primaryfl}}" plinkid="{{plinkid}}" class="surgeon-phone-primary surg-rep-cbox surgeon-update-cont" name="primaryfl" data-conttype="rep" VO="arrgmcrmsurgeonrepvo">
    </li>
    <ul id="surgeon-rep-content-{{index}}" class="gmPad50 gmSection">
        <li class="gmAlignHorizontal gmFontBold gmMediaWidth50">
            AD
        </li>
        <li id="li-scontacts-ad" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth50 gmMediaAlignVertical">

            <div id="div-scontacts-ad-affl" class="div-scontacts-ad-{{index}} gmWidth180m  gmFontBlack">{{adnm}}</div>
        </li>
        <li class="gmAlignHorizontal gmFontBold gmMediaWidth50">
            VP
        </li>
        <li id="li-scontacts-vp" class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaWidth50 gmMediaAlignVertical">
            <div id="div-scontacts-vp-affl" class=" div-scontacts-vp-{{index}} gmWidth180m  gmFontBlack">{{vpnm}}</div>
        </li>
    </ul>

</ul>
