<div>
	<ul id = "ul-surg-file-contents">
        {{#each this}}
        <li class = "li-sur-doc-li">
            <ul class = "gmTextAll" id = "ul-surg-doc-{{reftype}}">
                <li class="  gmAlignHorizontal">
                    <i class="fa fa-minus-circle i-sur-doc-remove gmBtnLarge gmFontBlack gmMarginLeft5p"></i>
                </li>
                <li class="gmListColData gmText200 padding0 li-surgeon-doc-filetype">{{reftypenm}}</li>
                <li class="gmListColData gmText200 padding0">{{filetitle}}</li>
                <li class="gmListColData gmText175 padding0"> 
                <span href="{{server}}{{refgroup}}/{{refid}}/{{filename}}" class="a-surg-file gmLnk">
                    <span class = "span-surg-filenm  gmLnk">{{filename}}</span>
                </span>
                <span class = "link-docs hide" docID = "{{refid}}" name = "{{refgroup}}/{{refid}}/{{filename}}">{{filename}}</span>
                </li>
                <li class="gmListColData li-surg-file-upload padding0" >
                </li>
            </ul>
        </li>
        {{/each}}
    </ul>
</div>
     
