<div class="div-surgeon-template-main">
    <div class="iPad">
        <div id="div-surg-contact-tab" name="contact" class="btn-surg-tabs div-surg-contact gmBtn gmFontBlack gmAlignHorizontal gmTabPad gmBGLGrey">Info</div>
        <div id="div-surg-education-tab" name="education" class="btn-surg-tabs div-surg-education gmBtn gmFontBlack gmAlignHorizontal gmTabPad gmBGLGrey">Education/Accomplishments</div>
        <!--<div id="div-surg-hospital-tab" name="hospital" class="btn-surg-tabs div-surg-hospital gmBtn gmFontBlack gmAlignHorizontal gmTabPad gmBGLGrey">Hospital Affiliation</div>-->
        <div id="div-surg-document-tab" name="document" class="btn-surg-tabs div-surg-document gmBtn gmFontBlack gmAlignHorizontal gmTabPad gmBGLGrey">Documents</div>
    </div>
    <ul class="gmSection sur-tab-head iPhone gmTextAll">
        <li id="tab-surg-contact" name="contact" class="btn-surg-phone-tabs gmMediaFont15p gmBGLGrey gmFontBlack gmMargin50tb gmPadding1em gmBorderRadius3p">
            Info<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
        <li id="tab-surg-hospital" name="hospital" class="btn-surg-phone-tabs gmMediaFont15p hide gmBGLGrey gmFontBlack gmMargin50tb gmPadding1em gmBorderRadius3p">
            Hospital Affiliation<i class="fa fa-chevron-right gmFloatRight fa-lg" aria-hidden="true"></i>
        </li>
    </ul>
    <div id="div-surg-contact" class="div-surg-content"></div>
    <div id="div-surg-education" class="div-surg-content hide"></div>
    <!--<div id="div-surg-hospital" class = "div-surg-content hide"></div>-->
    <div id="div-surg-surgical" class="div-surg-content hide"></div>
    <div id="div-surg-address" class="div-surg-content hide"></div>
    <div id="div-surg-document" class="div-surg-content hide"></div>
    <div id="div-surg-activity" class="div-surg-content hide"></div>
</div>
