{{#each this}}
<ul id="ul-ssurgical-edit" class="gmSection ul-ssurgical-edit edit  data-suractivity">
		<li class="li-phone-minus-icon-surgicalact gmAlignHorizontal">
            <i class="fa fa-minus-circle i-sur-surg-acc-remove gmBtnLarge"></i>
        </li>
       <li class="gmSectionCaption  gmFontBold gmAlignVertical li-phone-label iPhone">SYSTEM</li>
    <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-surg-act-system-val gmText225 gmMediaWidth95">
        <input type="hidden" class="data-sactid" value="{{sactid}}">
        <input type="hidden" class="data-system-nm" value="{{sysnm}}">
        <input type="hidden" class="data-of-sysnm" value="{{sysnm}}">
        <div class="div-ssurgical-sysnm div-ssurgical" procedureid="{{sysid}}">{{sysnm}}</div>
    </li>
   <li class="gmSectionCaption  gmFontBold gmAlignVertical li-phone-label iPhone ">NO. OF CASES</li>
    <li class="gmSectionListItem gmAlignHorizontal gmText175 width76px gmMediaWidth85">
			<input type="number" class="gmInputText input-ssurgical-cases input-ssurgical data-cases" value="{{cases}}" VO = "arrgmcrmsurgeonsurgicalvo" upd="cases" validate = "required" message = "Enter the no of cases(Surgical Activity)" min = '0'>
		</li>
     <li class="gmSectionCaption  gmFontBold gmAlignVertical li-phone-label iPhone">PROCEDURE</li>
        <li class="gmSectionListItem  gmAlignHorizontal gmText250 width32">
            <input type="hidden" class="data-procedureid" value="{{procedureid}}">
			<input type="hidden" class="data-procedurenm" value="{{procedurenm}}">
            <div class ="div-surg-surgical-procedure gmAlignHorizontal category-btn popup-icon gmText200 gmVerticalMiddle data-procedureid" data-param="procedureid" data-inputParameters='{"codegrp":"TECHQ"}' data-keyParameter="codenm" data-codegrp="TECHQ" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="procedure" data-title="Procedure" VO = "arrgmcrmsurgeonsurgicalvo" upd="procedureid" upd2="procedurenm" validate="selpopup" message="Enter the Procedure">{{procedurenm}}<span></span></div>
		</li>
   
    <li class="gmSectionCaption  gmFontBold gmAlignVertical li-phone-label iPhone">COMMENTS</li>
    <li class="gmSectionListItem  gmAlignHorizontal gmText200 gmMediaWidth85">
        <div class ="div-surg-surgical-cmnts gmAlignHorizontal category-btn popup-icon gmText200 gmVerticalMiddle data-comments" data-param="comment" data-inputParameters='{"codegrp":"CRMSAC"}' data-keyParameter="codenm" data-codegrp="CRMSAC" data-IDParameter="codeid" data-NameParameter="codenm" data-resultVO="gmCodeLookUpVO" data-webservice="search/codelookup" data-storagekey="comment" data-title="Comment" VO = "arrgmcrmsurgeonsurgicalvo" upd="comments" upd2="commentnm">{{commentnm}}<span></span></div>
    </li>
   <li class="div-surgeon-surgicalact-done gmSectionListItem iPhone gmMediaWidth95  gmAlignVertical gmPad10p gmBorderRadius3p gmBGDarkerGrey gmFontWhite gmTextCenter">
            DONE
        </li> 
	</ul>
{{/each}}
