<div id="div-preceptorHostInfo">
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem iPad gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">TITLE:</li>
        <li class="gmSectionListItem gmMediaMinWidth200 gmSectionValue gmAlignHorizontal gmText500 gmVerticalTop">{{actnm}}</li>
         
    </ul>
    
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmMediaTextCenter gmAlignHorizontal gmFontBlack gmFont90em gmMediaWidth75p gmFontBold iPad">DATE:</li>

        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmMediaMinWidth200 iPad">{{formatDate actstartdate}} {{AMPM actstarttime}} - {{AMPM actendtime}} {{tzone}}</li>
    </ul>

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            HOST CASE ID:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidth180m">
            {{actid}}
        </li>
        
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{actstatusnm}}
        </li>
    </ul>

    
    
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            REGION:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidth180m">
            {{regionnm}}
        </li>
        
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            DIVISION:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{divisionnm}}
        </li>
       
    </ul>
    
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            ZONE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidth180m">
            {{zonenm}}
        </li>
        
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold adminStatus hide">
            ADMIN STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem adminStatus hide">
            {{adminstsnm}}
        </li>
       
    </ul>


    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            SURGEON:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem align-items-center">
            {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
            <span class="gmAlignHorizontal gmLnk gmUnderline gmPadRight5p"><a href="#crm/surgeon/id/{{partyid}}">{{partynm}}</a> {{#if surgeoncv}}<span  style="display: inline-block; margin-left: 2px;"><a class="a-file-open" href-url="{{server}}{{surgeoncv}}" target="_blank"> <img class="gmVerticalMiddle" src="image/crm/cv_icon.PNG"></a></span>{{/if}}</span> {{/iffalse}} {{/iftrue}} {{/each}}
        </li>
    </ul>
    {{#iftrue division "2004"}}
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            PRECEPTORSHIP TYPE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{acttypenm}}
        </li>
    </ul>
    {{/iftrue}}
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmMediaMinWidth50p gmSectionCaption gmFontBold gmAlignHorizontal gmFont90em iPad">
            HOSPITAL:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{partynm}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            PROCEDURE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{segnm}}
        </li>
    </ul>
    {{#iftrue division "2004"}}
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            WORKFLOW:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{workflownm}}
        </li>
    </ul>
    {{else}}
     <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            PATHOLOGY:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{pathlgy}}
        </li>
    </ul>
    {{/iftrue}}

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            PRODUCT:
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
            {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
            <div class="div-activity-product gmAlignHorizontal gmBGLGrey  gmBorderRadius3p gmBorderLightGrey gmPad50">
                {{attrnm}}
            </div>
            {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            FIELD SALES HOST:
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items">
            {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue roleid '105561'}}{{#iffalse voidfl 'Y'}}{{#if partynm}}
            <div class="div-activity-product gmAlignHorizontal  gmBorderRadius3p gmBGLGrey gmBorderLightGrey gmPad50">
                {{partynm}}
            </div>{{/if}} {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold gmVerticalTop">
            NOTES:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmText500">
            {{actnotes}}
        </li>
    </ul>
    {{#iftrue actstatus "105762"}}
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            REASON FOR CANCELLATION:
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmText500 gmVerticalMiddle">
            {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '107582'}} {{#iffalse voidfl 'Y'}}
            <span data_attrid="{{attrid}}"> {{attrnm}} </span> {{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}}
            <span data_attrid="{{attrid}}"> - {{attrval}} </span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>
    {{/iftrue}}

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            CREATED BY:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidth180m">
            {{createdby}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            CREATED DATE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ">
            {{formatDate createddate}}
        </li>
    </ul>

    <hr>
    <div class="display-flex align-items-center justify-space-bwn">
        <div>
            <h3 class="gmAlignHorizontal">ATTENDING SURGEON DETAILS</h3>
        </div>
        <div>
            <ul class="gmAlignHorizontal">
                <li class="gmAlignHorizontal icon-dropdown">
                    <div id="lookupCaseRequest" class="gmBGpreceptor gmLookupBtn gmAlignHorizontal gmWidth160m gmTextCenter gmBorderRadius5p gmPad10p" name="lookupRequest"><i class="fa fa-search gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Look Up Request</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="display-flex gmPaddingTop10p">

        <div id="gridAttendSurgDetails"></div>
    </div>

</div>