<div class="div-module-criteria">

    <div class="PSMainCriteria">
        <div class="gmSection gmPSTop">
            <div class="gmPSCriteriaMain gmAlignHorizontal gmTextAll">
                <ul class="gmPSCriteriaHead">
                    <li class="gmFontBold gmTextLeft gmMarginBottom5p gmFont12em">Reports</li>
                </ul>

                <div class="gmPSContent">
                    <div id="upcoming-host-case" class="gmReportSec gmAlignHorizontal">
                        <div class="headContent gmFontBold gmTextLeft">Upcoming Host Cases</div>
                        <div class="countContent gmFont25em gmPadTB15p gmFontPurple gmFontBold gmTextCenter"><span id="span-ps-host-upc-count"></span></div>
                    </div>

                    <div id="open-host-case" class="gmReportSec gmAlignHorizontal">
                        <div class="headContent gmFontBold gmTextLeft">Open Host Cases</div>
                        <div class="countContent gmFont25em gmPadTB15p gmFontPurple gmFontBold gmTextCenter"><span id="span-ps-host-open-count"></span></div>
                    </div>

                    <div id="open-case-request" class="gmReportSec gmAlignHorizontal">
                        <div class="headContent gmFontBold gmTextLeft">Open Case Requests</div>
                        <div class="countContent gmFont25em gmPadTB15p gmFontPurple gmFontBold gmTextCenter"><span id="span-ps-casereq-open-count"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="display-flex chartPSwrap hide">
        <div class="gmWidth50 hcAdminStsCount">
            <h3 class="gmFontBold gmMarginTop10p gmTextCenter gmFont12em gmMarginBottom10p">Host Cases</h3>
            <ul class="chartHeader gmTextCenter btnHostGrp">
                <li class="btn-hcspine gmhcadminBtn gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal" data-tabval="hostspine">Spine</li>
                <li class="btn-hcinr gmhcadminBtn gmBtn gmAlignHorizontal" data-tabval="hostinr">INR</li>
            </ul>
            <div id="hcchart-container"></div>
        </div>
        <div class="gmWidth50 crAdminStsCount gmPadLeft50p">
            <h3 class="gmFontBold gmMarginTop10p gmTextCenter gmFont12em gmMarginBottom10p">Case Requests</h3>
             <ul class="chartHeader gmTextCenter btnCaseGrp">
                <li class="btn-hcspine gmhcadminBtn gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal" data-tabval="casespine">Spine</li>
                <li class="btn-hcinr gmhcadminBtn gmBtn gmAlignHorizontal" data-tabval="caseinr">INR</li>
            </ul>
            <div id="crchart-container"></div>
        </div>
    </div>

    <div class="display-flex">
        <div class="gmWidth50">
            <h3 class="gmFontBold gmMarginTop20p gmTextCenter gmFont12em">Host Cases</h3>
            <div id="host-case-search" class="host-case-search-item gmPOSRelative">
                <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                    <li class="gmFontBold gmMarginTop10p">Name</li>
                    <li class="gmMarginTop10p">
                        <input type="text" data-id="hostCase-fname" class="hostCase-fname gmInputText gmText150" placeholder="Name Search" value="">

                        <div id="btn-search-hc" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                    </li>
                </ul>
                <ul id="ul-hostCase-activity-date" class="gmSection gmAlignVertical gmMarginTop20p">

                    <li>
                        <div class="gmFontBold gmAlignHorizontal gmWidth180m">
                            Activity Date
                        </div>
                    </li>
                    <li id="li-hostCase-actdate-frmdate-input" class="gmAlignHorizontal gmMarginTop10p">
                        <div class="gmAlignHorizontal">
                            <input type="date" id="activity-frmdate" class="gmInputText gmText150 hostCase-frmdate" max="9999-12-31" placeholder="mm/dd/yyyy">
                        </div>
                    </li>
                    <li class="gmAlignHorizontal gmMarginTop10p">
                        <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextCenter gmMediaDisplayNone">
                            To
                        </div>
                        <div class="gmAlignHorizontal">
                            <input type="date" id="activity-todate" class="gmInputText gmText150 hostCase-todate" max="9999-12-31" placeholder="mm/dd/yyyy">
                        </div>
                    </li>
                    <div id="btn-view-hc" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">View</div>
                </ul>
            </div>
        </div>
        <div class="gmWidth50 gmPadLeft50p">
            <h3 class="gmFontBold gmMarginTop20p gmTextCenter gmFont12em">Case Requests</h3>
            <div id="case-request-search" class="case-request-search-item">
                <ul class="gmSection gmAlignHorizontal gmMediaWidth100">
                    <li class="gmFontBold gmMarginTop10p">Name</li>
                    <li class="gmMarginTop10p">
                        <input type="text" data-id="caseReq-name" class="caseReq-name gmInputText gmText150" placeholder="Name Search" value="">
                        <!--                        <input type="text" data-id="caseReq-lname" class="caseReq-lname gmInputText gmText175" placeholder="Last Name" value="">-->
                        <div id="btn-search-cr" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">Search</div>
                    </li>
                </ul>
                <ul id="ul-caseRequest-activity-date" class="gmSection gmAlignVertical gmMarginTop20p">
                    <li>
                        <div class="gmFontBold gmAlignHorizontal gmWidth180m">
                            Activity Date
                        </div>
                    </li>
                    <li id="li-hostCase-actdate-frmdate-input" class="gmAlignHorizontal gmMarginTop10p">
                        <div class="gmAlignHorizontal">
                            <input type="date" id="activity-cr-frmdate" class="gmInputText gmText150 caseRequest-frmdate" max="9999-12-31" placeholder="mm/dd/yyyy">
                        </div>
                    </li>
                    <li class="gmAlignHorizontal gmMarginTop10p">
                        <div class="gmAlignHorizontal gmMinWidth50p gmMarginRight5p gmTextCenter gmMediaDisplayNone">
                            To
                        </div>
                        <div class="gmAlignHorizontal">
                            <input type="date" id="activity-cr-todate" class="gmInputText gmText150 caseRequest-todate" max="9999-12-31" placeholder="mm/dd/yyyy">
                        </div>
                    </li>
                    <div id="btn-view-cr" class="gmBGDarkGrey gmBtn gmFontWhite gmAlignHorizontal search-button gmVerticalMiddle">View</div>
                </ul>
            </div>
        </div>
    </div>

</div>
