<div class="hostCloneForm">
    <div id="clone-req-error" class="gmBGRed gmFontWhite gmPad10p gmMarginBottom10p"></div>
    <ul class="gmSection gmMarginTop10p gmMarginBottom10p">
        <li class="gmSectionListItem gmSectionCaption iPad gmAlignHorizontal hostCaseTitle gmFontBold gmPadRight10p">* HOST CASE DATE/TIME</li>
        <li class="iPhone gmMediaWidth10 gmVerticalMiddle calPrs">
                    <div class="div-legend-icon"><i class="fa fa-calendar fa-2x gmFontBlack gmFont15em " aria-hidden="true"></i></div>
        </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 calPrs clonestartDt">
            <input type="date" id="preceptorship-actstartdate" class="gmInputText gmText150 hostCaseLabel preceptorship-clonedate" value="{{actstartdate}}" name="actstartdate" validate="required" message="Please provide Host Case Date" max="9999-12-31">
        </li>
        <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">FROM</div>
                </div>
            </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 gmMarginLeft10p reqDate">
            <input type="time" id="preceptorship-actstarttime" class="div-pv-moble-time gmDateBox gmInputText gmWidth50m preceptorship-clone-starttime" value="{{actstarttime}}" name="actstarttime">
        </li>
        <li class="gmSectionListItem gmAlignHorizontal gmFontBold iPad gmFont13px hostCaseTitle divHeading hostToDate gmPadRight10p gmMarginLeft10p">TO</li>
       <li class="iPhone gmAlignHorizontal gmMediaWidth10 gmVerticalMiddle mobToTime">
                <div class="div-legend gmVerticalMiddle">
                    <div class="div-legend-icon"><i class="fa fa-clock-o gmFont15em  gmFontBlack" aria-hidden="true"></i></div>
                    <div class="div-legend-text">TO</div>
                </div>
            </li>
        <li class="gmSectionListItem  gmAlignHorizontal gmMediaWidth100 li-pv-date-edit reqDate">
            <input type="time" id="preceptorship-actendtime" class="gmInputText div-pv-moble-time gmWidth50m preceptorship-clone-endtime" value="{{actendtime}}" name="actendtime">
        </li>
    </ul>
</div>