<div class="gmSection">
    <ul class="gmTextCenter gmAlignHorizontal">
        
<!--
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown tab-opened">
            <div id="preceptorship-INR-info" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite gmAlignHorizontal gmWidth160m module-title tabPS" name="casereqinfo"> Info </div>
        </li>
-->

        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown tab-opened">
            <div id="preceptorship-request" class="btn-showby gmBtn gmBGDarkGrey gmFontWhite  gmAlignHorizontal gmWidth160m module-title tabPS" name="requestdetails"> Request Details</div>
        </li>
        <li class="PTS-case gmPadding10x0p gmAlignHorizontal icon-dropdown surgeon-mobile-criteria-popup tab-closed">
            <div id="preceptorship-admin" class="btn-showby gmBtn gmFontBlack gmBGLGrey gmAlignHorizontal gmWidth160m module-title tabPS" name="admindetails">Admin Details</div>
        </li>
    </ul>
    
    {{#iffalse status '105762'}}
    <ul class="gmSection gmPadding10x0p gmTextCenter gmFloatRight">
        <li class="gmAlignHorizontal icon-dropdown gmWidthAuto">
            <div id="lookupHostCase" class="gmBtn gmBGpreceptorship gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="lookupRequest"><i class="fa fa-search gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Look Up Host Case</div>
        </li>
    </ul>
    {{/iffalse}}
</div>

<!--
<div id="div-casereq-INR-info" class="div-casereq-sub-content">
    <ul class="gmSection">
        <li class="gmAlignVertical">
            <img class="gmAlignHorizontal gmHeight200px gmWidth1000px gmImgResponsive" src="image/crm/ExcelsiusGPS_PremiereCenterHeader.jpg">
        </li>
        <li class="gmAlignVertical gmLineHeight25p gmPad10p gmTxtJustify caseInfoDls">
        </li>
        <li class="gmAlignVertical gmTextCenter">
            <div id="nextRqstDls" class="gmBtn gmBGpreceptorship gmFontWhite gmAlignHorizontal gmWidth160m module-title" name="Next Request Details">Next</div>
        </li>
    </ul>

</div>
-->

<div id="div-preceptorCaseRqstInfo" class="div-casereq-sub-content gmMargin15p">
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            TYPE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{atndtypnm}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ulSurgeonField">
                    SURGEON:
                </li>

                <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ulSurgeonField">
                    <a class="gmLnk gmUnderline gmFontBlack" href="#crm/surgeon/id/{{surgid}}">{{surgnm}}</a>
                    {{#if surgeoncv}}<span style="display: inline-block; margin-left: 2px;"><a class="a-file-open" href-url="{{server}}{{surgeoncv}}" target="_blank"> <img class="gmVerticalMiddle" src="image/crm/cv_icon.PNG"></a></span>{{/if}}
                </li>
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ulAttendeeField hide">
                    ATTENDEE:
                </li>

                <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem ulAttendeeField hide">
                    {{atndnm}}
                </li>
        
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            DIVISION:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{dvnm}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            ZONE:
        </li>

        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{zonenm}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold adminStatus hide">
            ADMIN STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem adminStatus hide">
            {{adminstsnm}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            CASE REQUEST ID:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{casereqid}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex align-items-center">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{statusnm}}
        </li>
	{{#ifanytrue status "105761/105764"}}
                <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
                    HOST CASE ID:
                </li>
                <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
                    <span class="gmAlignHorizontal gmLnk gmUnderline gmPadRight5p"><a href="#crm/preceptorship/host/id/{{actid}}">{{actid}}</a></span>
                </li>
        {{/ifanytrue}}
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            REGION:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{regionnm}}
        </li>
    </ul>

    {{#iftrue division '2004'}}
        <ul class="gmSection gmPadding10x0p display-flex align-items-center">
            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
                WORK FLOW:
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
                {{wfnm}}
            </li>
        </ul>
    {{/iftrue}}

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            PRECEPTORSHIP TYPE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{pstypenm}}
        </li>
    </ul>

    {{#iftrue pstype '107264'}}
        <ul class="gmSection gmPadding10x0p display-flex">

            <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
                CALL OBJECTIVE:
            </li>
            <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmText500">
                {{clobj}}
            </li>

        </ul>
    {{/iftrue}}

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            PROCEDURE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{procnm}}
        </li>
    </ul>
    
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            HOSPITAL AFFILIATION:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{#if arrcrmpscaseattrvo}} {{#each arrcrmpscaseattrvo}} {{#iftrue attrtype '107101'}}{{#iffalse voidfl 'Y'}}
                            <div class="div-activity-product gmAlignHorizontal  gmBorderRadius3p gmBorderLightGrey gmPad50 gmMarginBottom5p">
                                <div class="gmAlignVertical">{{attrnm}}</div>
                            </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            PRODUCT(S):
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{#each arrcrmpscasereqvo}} {{#iffalse voidfl 'Y'}}
                    <span class="div-activity-product gmAlignHorizontal gmBGLGrey  gmBorderRadius3p gmBorderLightGrey gmPad50">{{setnm}}</span> {{/iffalse}} {{/each}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            REQUESTED TIME FRAME:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{formatDate frmdt}} <span class="gmFontBold gmText50 gmTextCenter gmAlignHorizontal">TO</span> {{formatDate todt}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmMediaAlignVertical gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
            OTHER VISITORS:
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal li-selected-items gmWidthAuto">
            {{#if arrcrmpscaseattrvo}} {{#each arrcrmpscaseattrvo}} {{#iftrue attrtype '107500'}}{{#iffalse voidfl 'Y'}}
                            <div class="div-activity-product gmAlignHorizontal  gmBorderRadius3p gmBorderLightGrey gmPad50">
                                <div class="gmAlignVertical">{{attrval}}</div>
                                <div class="gmFont12px">{{attrnm}}</div>
                            </div>
                        {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold ">
            REQUESTING FIELD SALES:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{#each arrcrmpscaseassvo}} {{#iffalse voidfl 'Y'}}
                    <div class="gmMarginBottom10p">
                        <span class="div-activity-product gmAlignHorizontal gmBGLGrey  gmBorderRadius3p gmBorderLightGrey gmPad50">{{partynm}}</span> 
                        <span class="gmMarginLeft10p">{{adnm}}</span>
                        <span class="gmMarginLeft10p">{{vpnm}}</span>
                    </div>
            {{/iffalse}} {{/each}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
            NOTES:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmText500">
            {{note}}

        </li>
    </ul>
    {{#iftrue status "105762"}}
    <ul class="gmSection gmPadding10x0p">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmMediaTextCenter gmMediaWidth46p gmMediaMinWidth46p gmFontBlack gmFont90em gmFontBold">
            REASON FOR CANCELLATION:
        </li>
        <li class="gmSectionListItem gmSectionValue gmAlignHorizontal gmVerticalMiddle gmText500">
            {{#if arrcrmpscaseattrvo}} {{#each arrcrmpscaseattrvo}} {{#iftrue attrtype '107583'}} {{#iffalse voidfl 'Y'}}
            <span data_attrid="{{attrid}}"> {{attrnm}} </span> {{/iffalse}} {{/iftrue}} {{#iftrue attrtype '26240350'}} {{#iffalse voidfl 'Y'}}
            <span data_attrid="{{attrid}}"> - {{attrval}} </span> {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
        </li>
    </ul>
    {{/iftrue}}
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            CREATED BY:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{createdby}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            CREATED DATE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{formatDate createdon}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            DOCUMENTS:
        </li>
        <li class="gmMarginLeft5p gmSectionValue gmAlignHorizontal upload-files-list gmTextTop gmWidthAuto">
        </li>
    </ul>

</div>

<div id="div-preceptorCaseAdminInfo" class="div-casereq-sub-content hide gmMargin15p">
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
            HOTEL DETAILS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{hotlnm}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">
            HOTEL PRICES:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{#iffalse hotlprice ''}} {{compPriceFmt hotlprice}} {{/iffalse}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            FLIGHT / TRANSPORTATION DETAILS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{trvlnm}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            FLIGHT / TRANSPORTATION PRICES:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{#iffalse trvlprice ''}} {{compPriceFmt trvlprice}} {{/iffalse}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            PCRF / CRF STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{crfnm}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            TRF STATUS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{trfnm}}
        </li>
    </ul>


    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            LAB INVOICE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{labinv}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            LAB ADDRESS:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{labadd}}
        </li>
    </ul>
    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            SPECIMEN INVOICE:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{pcmninv}}
        </li>

    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            SURVEY SENT?:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">
            {{#iftrue survfl 'Y'}}Yes{{/iftrue}} {{#iftrue survfl ''}}No{{/iftrue}}
        </li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            CREDENTIALS REQUIRED?:
        </li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem gmWidthAuto">
            {{#iftrue crdfl 'Y'}}Yes{{/iftrue}} {{#iftrue crdfl ''}}No{{/iftrue}}
        </li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED BY:</li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">{{createdby}}</li>
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold">CREATED DATE:</li>
        <li class="gmAlignHorizontal gmMediaMinWidth200 gmSectionListItem">{{formatDate createdon}}</li>
    </ul>

    <ul class="gmSection gmPadding10x0p display-flex">
        <li class="gmSectionListItem gmSectionCaption gmAlignHorizontal gmFontBlack gmFont90em gmFontBold ">
            DOCUMENTS:
        </li>
        <li class="gmMarginLeft5p gmSectionValue gmAlignHorizontal upload-admin-list gmTextTop gmWidthAuto">
        </li>
    </ul>


</div>