<div id="scheduler-info-main">
    <div id="scheduler-info-main-header" class="gmFontWhite">
        <ul class="gmBtnGroup">
            <li id="scheduler-button-view" class="">
                <a href="#crm/preceptorship/host/id/{{actid}}" class="gmFontWhite cursorPointer">
                    <span>View</span>
                    <i class="fa fa-lg fas fa-info-circle" aria-hidden="true"></i>
                </a>
            </li>
            <li id="scheduler-button-edit" class="">
                <a class="gmFontWhite cursorPointer">
                    <span>Edit</span>
                    <i class="fa fa-lg fas fa-pencil" aria-hidden="true"></i>
                </a>
            </li>
            <li id="scheduler-button-close" class="cursorPointer">
                <span>Close</span>
                <i class="fa fa-lg fa-times" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div id="scheduler-info-content" class="gmPad10p">
        <div class="gmSection">
            {{#iftrue accessfl "Y"}}
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll">
                <span><B>{{actnm}}</B></span>
            </li>{{/iftrue}}
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold 
                gmText75 ">Date/Time:</label><span> {{formatDate actstartdate}} {{#if actstarttime}} {{AMPM actstarttime}} - {{AMPM actendtime}} {{/if}}</span>
            </li>
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold">Time Zone:</label><span>{{tzone}}</span>
            </li>
            {{#iftrue division "2004"}}
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold gmText75">Hospital:</label><span> {{partynm}} </span>
            </li>
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold gmText75">Workflow:</label><span> {{workflownm}} </span>
            </li>
            

            {{/iftrue}}
            {{#iffalse division "2004"}}
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll"><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold gmText75">Procedure:</label><span> {{segnm}} </span>
            </li>
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll">
                <label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold gmText75">Product: </label>
                <span class="gmAlignHorizontal gmText200 gmVerticalMiddle">
                    {{#if arrgmactivityattrvo}} {{#each arrgmactivityattrvo}} {{#iftrue attrtype '105582'}}{{#iffalse voidfl 'Y'}}
                    <div class="div-activity-product span-comma-separated gmAlignHorizontal">
                        {{attrnm}}
                    </div>
                    {{/iffalse}} {{/iftrue}} {{/each}} {{/if}}
                </span>
            </li>
            {{/iffalse}}
            {{#iftrue accessfl "Y"}}
            <li class="gmSectionListItem gmAlignVertical gmMarginBottom5p gmTextAll "><label class="gmTextRight gmPadRight10p gmAlignHorizontal gmFontBold gmText75">Status: </label><span> {{actstatusnm}} </span>
            </li>
            {{/iftrue}}
            <li class="gmSectionListItem gmAlignHorizontal gmMarginBottom5p gmTextAll gmTextRight">
            {{#iffalse deptid "S"}}            
                <div id="lookupCaseRequest" class="gmBGpreceptor gmLookupBtn gmAlignHorizontal gmTextCenter gmBorderRadius5p gmPad5p gmVerticalMiddle" name="lookupRequest"><i class="fa fa-search gmAlignHorizontal gmMarginRight10p" aria-hidden="true"></i>Look Up Request</div>  
            {{/iffalse}}
            {{#iftrue actstatus "105765"}}{{#if isfuture}}
            <div id="btn-add-register" class="gmPad5p gmBGpreceptorship gmLookupBtn gmTextCenter gmBorderRadius5p gmAlignHorizontal gmVerticalMiddle"> <i class="fa fa-search" aria-hidden="true"></i> Register</div>
           {{/if}}{{/iftrue}}
             </li>
        </div>
        <!-- Host surgeon info -->

        <div class="gmPSpopupHeading gmAlignHorizontal gmFontBold">Host Surgeon Details</div>
        <div id="attndHostSurgDetails">
        {{#if arrgmactivitypartyvo}} {{#each arrgmactivitypartyvo}} {{#iftrue partytype '7000'}} {{#iffalse voidfl 'Y'}}
        <a class="gmFontBlack" href="#crm/surgeon/id/{{partyid}}">
            <div style="border-top: 1px solid #ddd; " class="gmSection gmPadding5x0p">
                <li class="gmSectionListItem gmAlignHorizontal" data-partyid="{{partyid}}">
                    <i id="visit-calendar-img-i" class="fa fa-user-md" aria-hidden="true"></i>
                    <img id="visit-calendar-img" src="{{imgurl}}" alt />
                </li>
                <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmText225 gmVertical gmVerticalMiddle">{{partynm}}</li>
            </div>
        </a>

        {{/iffalse}} {{/iftrue}}  {{/each}} {{/if}}
        </div>
        <!-- Attending Surgeon details list info -->
        <div class="gmPSpopupHeading gmAlignHorizontal gmFontBold">Attending Surgeon Details</div>
        <div id="attndSurgDetails">
            {{#if dataSurgObj}} {{#each dataSurgObj}}
            {{#iftrue accessfl "Y"}}
            <a class="gmFontBlack" href="#crm/surgeon/id/{{surgid}}">
                <div style="border-top: 1px solid #ddd; " class="gmSection gmPadding5x0p">
                    <li class="gmSectionListItem gmAlignHorizontal" data-partyid="{{surgid}}">
                        <i id="visit-calendar-img-i" class="fa fa-user-md" aria-hidden="true"></i>
                        <img id="visit-calendar-img" src="{{imgurl}}" alt />
                    </li>
                    <li class="gmSectionListItem gmAlignHorizontal gmFontBold gmText225 gmVertical gmVerticalMiddle">{{surgnm}}</li>
                </div>
            </a>
            {{/iftrue}}           
            {{/each}} {{else}}
            <div class="gmMarginTop10p gmTextCenter">No Data Found</div>
            {{/if}}
        </div>
    </div>
</div>