<?xml version="1.0" encoding="UTF-8"?>
<rows>
	<head>
		<column type="ro" width="*" id="Name" align="left">$msg.getProperty('VM_STATUS')</column>
		<column type="ro" width="60" id="cnt" align="right">$msg.getProperty('VM_COUNT')</column>
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)		
	<row id="$count">
        #set($rowname = $hmDetails.NAME)        
        <cell>$esc.xml($rowname)</cell>
        #if ($rowname.toString().equals("Requested"))
			<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashCongItems.do?method=requestedCongItems&passName=Requested");>$hmDetails.TOTAL</a>]]></cell>
	    #end
    	#if ($rowname.toString().equals("Approved"))
			<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashCongItems.do?method=apprCongItems&passName=Approved");>$hmDetails.TOTAL</a>]]></cell>
	    #end
	    #if ($rowname.toString().equals("Shipped in last 7 days"))
	        <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashCongItems.do?method=shippedCongItems&passName=Shipped");>$hmDetails.TOTAL</a>]]></cell>
	    #end
        #if ($rowname.toString().equals("Back Order"))
	        <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashCongItems.do?method=backOrderCongItems&passName=BO");>$hmDetails.TOTAL</a>]]></cell>				 
	 	#end      
	</row>
	#set($count = $count+1)
	#end
</rows>
