<?xml version="1.0" encoding="iso-8859-1" ?>
#set($count=0)
#set($dateFmt = $hmReturn.SESSDATEFMT)
#set($currJSDate = $hmReturn.SESSJSDATEFMT)
#set($currDate = $date.format($dateFmt,$date))
#set($alResult = $hmReturn.PENDLNRDATA) 
<rows>
<head>
	<column type="ro" width="100" 	sort="str"  id="requestid" align="right">$msg.getProperty('VM_REQUESTID')</column>		
	<column type="ro" width="100" 	sort="int"  id="setid" align="right">$msg.getProperty('VM_SETID')</column>	
	<column type="ro" width="100" 	sort="str"  id="etxhid" align="left">$msg.getProperty('VM_ETCHID')</column>
	<column type="ro" width="100" 	sort="str"  id="exprtndate" align="center">$msg.getProperty('VM_EXPECTEDRETURNDATE')</column>
	<column type="dhxCalendarA" format="$currJSDate" width="90" id="surgdt" sort="date">$msg.getProperty("VM_SURGERYDATE")</column>
	<column type="coro" width="100"  sort="na" id="dayextend" align="center">$msg.getProperty('VM_DAYS_TO_EXPAND')
		<option value="0">[Choose One]</option>
            #foreach($hmDropDetails in $alDayCount)
            	<option value="$hmDropDetails.CODEID">$hmDropDetails.CODENMALT</option>
            	<userdata name="day_code">$hmDropDetails.CODENMALT</userdata>
            #end
	</column>
	<column type="ro" width="120" 	sort="str"  id="newexprtndate" align="center">$msg.getProperty('VM_NEWEXPECTEDRETURNDATE')</column>
	<column type="ch" width="*"    sort="na"   id="wholeextn" align="center">$msg.getProperty('VM_EXTENSIONFORWHOLEREQUEST')</column>
	<column type="ro" hidden="true" width="10" id="detailid">$msg.getProperty('VM_DETAILID')</column>
	<column type="ro" hidden="true" width="10" id="consignid">$msg.getProperty('VM_DETAILID')</column>
	<column type="ro" hidden="true" width="0" id="needFl">$msg.getProperty('VM_NEEDFL')</column>
	<column type="ro" hidden="true" width="0" id="loandt">$msg.getProperty('VM_NEEDFL')</column>												
</head>
#set($count=0)
	#foreach($hmDetails in $alResult)
		<row id="$count">  
			<cell> $esc.xml($hmDetails.REQID)</cell>
			<cell> $esc.xml($hmDetails.SETID)</cell>
			<cell> $esc.xml($hmDetails.ETCHID)</cell>
			#if($hmDetails.EXPRTDATE == $null)
				<cell></cell>
			#else
				<cell> $esc.xml($date.format($dateFmt,$hmDetails.EXPRTDATE))</cell>
			#end
			<cell> </cell>
			<cell> </cell>
			<cell> </cell>
			<cell></cell>
			<cell>$hmDetails.REQDTLID</cell>
			<cell>$hmDetails.CONSIGNID</cell>
			<cell>$hmDetails.PARENTEXTNCNT</cell>
			<cell>$esc.xml($date.format($dateFmt,$hmDetails.LOANDT))</cell>
		</row>
		#set($count = $count+1)
	#end
</rows>
