<?xml version="1.0" encoding="UTF-8"?>
<rows>
	<head>
		<column type="ro" width="60" sort="str" id="reqid" align="left">$msg.getProperty('VM_SETID')</column>
		<column type="ro" width="*" sort="str" id="setid" align="left">$msg.getProperty('VM_SETNAME')</column>
		<column type="ro" width="*" sort="str" id="fieldsales" align="left">$msg.getProperty('VM_FIELDSALES')</column>
		<column type="ro" width="*" sort="str" id="salesrep" align="left">$msg.getProperty('VM_SALESREP')</column>
		<column type="ro" width="*" sort="str" id="salesrep" align="left">$msg.getProperty('VM_ACCOUNT')</column>
		<column type="ro" width="*" sort="str" id="status" align="left">$msg.getProperty('VM_TAGID')</column>
		<afterInit>
			<call command="attachHeader"><param>#text_filter,#text_filter,#text_filter,#text_filter,#text_filter,#rspan</param></call>
		</afterInit>	
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)		
	<row id="$count">
    <cell>$esc.xml($hmDetails.SETID)</cell>
    <cell>$esc.xml($hmDetails.NAME)</cell>
    <cell>$esc.xml($hmDetails.FLDSLS)</cell>
    <cell>$esc.xml($hmDetails.SLSREP)</cell>
    <cell>$esc.xml($hmDetails.ACCNAME)</cell>
    <cell>$esc.xml($hmDetails.TAGID)</cell>
    </row>
	#set($count = $count+1)
	#end
</rows>
