<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#set($passname=$hmParam.PASSNAME)
	#set($isApprflag = "false")
	#set($isTrackHiddenflag = "true")
	#if ($passname.toString().equals("Approved"))
		#set($isApprflag = "true")
	#end
	#if ($passname.toString().equals("Shipped"))
		#set($isTrackHiddenflag = "false")
	#end
	<head>
		#if ($passname.toString().equals("Requested"))
			<column type="ro" width="*" sort="alink" id="reqid" align="left">$msg.getProperty('VM_PARENTREQUESTID')</column>
		#else
			<column type="ro" width="*" sort="alink" id="reqid" align="left">$msg.getProperty('VM_REQUESTID')</column>
		#end
		<column type="ro" width="60" sort="str" id="setid" align="left">$msg.getProperty('VM_SETID')</column>
		<column type="ro" width="*" sort="str" id="setnm" align="left">$msg.getProperty('VM_SETNAME')</column>
		<column type="ro" width="60" sort="str" id="tagnum" align="left">$msg.getProperty('VM_TAG')</column>
		<column type="ro" width="*" sort="str" id="fieldsales" align="left">$msg.getProperty('VM_FIELDSALES')</column>
		<column type="ro" width="*" sort="str" id="salesrep" align="left">$msg.getProperty('VM_SALESREP')</column>
		<column type="ro" width="*" sort="str" id="status" align="left">$msg.getProperty('VM_STATUS')</column>
		<column type="ro" format="%m/%d/%Y"  hidden="$isApprflag" width="*" sort="date" id="shpdate" align="center">$msg.getProperty('VM_SHIPDATE')</column>
		<column type="ro" width="65" hidden="$isTrackHiddenflag" align="left">$msg.getProperty('VM_TRACKING')</column>
		<afterInit>
			<call command="attachHeader"><param>#text_filter,#text_filter,#text_filter,#rspan,#text_filter,#text_filter,#rspan,#rspan,#text_filter</param></call>
		</afterInit>	
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)		
	<row id="$count">
	#if ($passname.toString().equals("Requested"))
		<cell>$esc.xml($hmDetails.REQID)</cell>
	#else
		<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenDetailPopup("/gmRequestMaster.do?strOpt=print&requestId=$hmDetails.REQID&consignID=$hmDetails.CNID","Request&nbsp;Detail");>$hmDetails.REQID</a>]]></cell>
	#end
    <cell>$esc.xml($hmDetails.SETID)</cell>
    <cell>$esc.xml($hmDetails.NAME)</cell>
    #if($hmDetails.TAGNUM == $null)
    <cell></cell>
    #else
    <cell>$esc.xml($hmDetails.TAGNUM)</cell>
    #end
    <cell>$esc.xml($hmDetails.FLDSLS)</cell>
    <cell>$esc.xml($hmDetails.SLSREP)</cell>
    <cell>$esc.xml($hmDetails.STATUS)</cell>
    #if($hmDetails.SHPDT == $null)
    <cell></cell>
    #else
    <cell>$esc.xml($hmDetails.SHPDT)</cell> 
    #end
    #set($strTrackId=$hmDetails.TRACK)
	#if( $hmDetails.TRACK != $null && !$hmDetails.TRACK.toString().equals("Y"))
			<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenTrack("$strTrackId.replaceAll(' ','~')","$hmDetails.CARRIERID");>$strTrackId</a>]]></cell>
	#else
			<cell></cell>
	#end   
    </row>
	#set($count = $count+1)
	#end
</rows>
