<?xml version="1.0" encoding="UTF-8"?>
<rows>
      <head>
            <column type="ro" width="*" id="Name" align="left">$msg.getProperty('VM_STATUS')</column>
            <column type="ro" width="60" id="cnt"  align="right">$msg.getProperty('VM_COUNT')</column>
      </head>
      #set($count=0)
      #set($alResult=$hmParam.alParam)
      #set($currsign='$')
      #foreach($hmDetails in $alResult)         
      <row id="$count">
      	#set($rowname = $hmDetails.NAME)
      	#if($rowname.toString().equals("Overdue") || $rowname.toString().equals("Missing Parts"))
      	    #set($Integer = 0)
	        #if($Integer.parseInt($hmDetails.TOTAL) > 0)
	            #set($vTotalColor = "#EBD0D5")
	        #else
	        	#set($vTotalColor = "default")
	        #end
        #end
        #if ($rowname.toString().equals("Late Fee Accr Stmt") || ($rowname.toString().equals("Recent Late Fee Accr")))  
            <cell>$esc.xml($rowname)</cell>
        #else
            <cell style="background-color:$vTotalColor">$esc.xml($rowname)</cell>
        #end
        #if ($rowname.toString().equals("Requested"))
            <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=requestedLoaners&passName=Requested");>$hmDetails.TOTAL</a>]]></cell>          
        #end
        
        #if ($rowname.toString().equals("Approved"))
            <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=approvedLoaners&passName=Approved");>$hmDetails.TOTAL</a>]]></cell>                        
        #end
          
        #if ($rowname.toString().equals("All Loaners"))
              <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=dueDayLoaners&passName=Shipped");>$hmDetails.TOTAL</a>]]></cell>                     
        #end
        
        #if ($rowname.toString().equals("Due Today"))
             <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);"  onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=dueDayLoaners&passName=DueToday");>$hmDetails.TOTAL</a>]]></cell>
        #end
     
        #if ($rowname.toString().equals("Due in 1 Day"))
             <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);"  onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=dueDayLoaners&passName=Due1Day");>$hmDetails.TOTAL</a>]]></cell>
        #end

        #if ($rowname.toString().equals("Due in 2 Days"))
             <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=dueDayLoaners&passName=Due2Day");>$hmDetails.TOTAL</a>]]></cell>                     
        #end
        
        #if ($rowname.toString().equals("Overdue"))
             <cell style="cursor:hand;background-color:$vTotalColor"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=dueDayLoaners&passName=OverDue");>$hmDetails.TOTAL</a>]]></cell>                     
        #end
        
        #if ($rowname.toString().equals("Missing Parts"))
             <cell style="cursor:hand;background-color:$vTotalColor"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoaner.do?method=missingPartLoaners&passName=MissingPart");>$hmDetails.TOTAL</a>]]></cell>                        
        #end
        
        #if ($rowname.toString().equals("Late Fee Accr Stmt"))
             <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoanerLateFee.do?method=fetchLateFeeAccrStmt&passName=LateFeeAccrStmt");>$currsign$hmDetails.TOTAL</a>]]></cell>                        
          #end
        
        #if ($rowname.toString().equals("Recent Late Fee Accr"))
             <cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenPopup("/gmSalesDashLoanerLateFee.do?method=fetchRecentLateFeeAccr&passName=RecentLateFeeAccr");>$currsign$hmDetails.TOTAL</a>]]></cell>                        
        #end
            
      </row>
      #set($count = $count+1)
      #end
</rows>
