<Data>
	#set($count=1)
	#set($alResult = $hmParam.MONTH)
	#set($currSign = $hmParam.SESSCURRSIGN)
	#foreach($hmDetails in $alResult)	
				<item id="$count">
						<currsign>$currSign</currsign>
						<sales>$hmDetails.SALES</sales>
						#if($hmDetails.SDATE!=$null)
							<day>$date.format("dd",$hmDetails.SDATE)</day>
						#else
							<day></day>
						#end
				</item>
		#set($count = $count+1)
	#end	
</Data>
