<?xml version="1.0" encoding="UTF-8"?>
<rows>
	#set($passname=$hmParam.PASSNAME)
	#set($isCloseflag = "false")
	#if ($passname.toString().equals("Initiated"))
		#set($isCloseflag = "true")
	#end
	<head>
		<column type="ro" width="80" sort="str" id="raid" align="left">$msg.getProperty('VM_RETURNSID')</column>
		#if($hmParam.ACCITEMCONRPTFL == "Y")
	 	 	<column type="ro" width="*" sort="str" id="dname" align="left">$msg.getProperty('VM_ACCOUNT')</column>
	     #else
	      	<column type="ro" width="*" sort="str" id="dname" align="left">$msg.getProperty('VM_DISTRIBUTOR')</column>
	      
	     #end
		
	    <column type="ro" width="110" sort="str" id="rname" align="left">$msg.getProperty('VM_SALESREP')</column>
		<column type="ro" width="110" sort="str" id="type" align="left">$msg.getProperty('VM_TYPE')</column>
		<column type="ro" width="60" sort="str" id="status" align="left">$msg.getProperty('VM_STATUS')</column>
		<column type="ro" width="100" sort="str" id="parentrmaid" align="left">$msg.getProperty('VM_PARENTRA')</column>
		<column type="ro" format="%m/%d/%Y" width="80" sort="date" id="cdate" align="center">$msg.getProperty('VM_INITDATE')</column>		
		<column type="ro" format="%m/%d/%Y" width="80" hidden="$isCloseflag" sort="date" id="edate" align="center">$msg.getProperty('VM_CLOSEDATE')</column>
		<afterInit>
			<call command="attachHeader"><param>#text_filter,#text_filter,#text_filter,#rspan,#rspan,#rspan,#rspan,#rspan</param></call>
		</afterInit>
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)		
	<row id="$count">
	<cell style="cursor:hand;"><![CDATA[<a href="javascript:void(0);" onclick=javascript:fnOpenDetailPopup("/GmPrintCreditServlet?hAction=VIEW&hRAID=$hmDetails.RAID","Returns&nbsp;-&nbsp;View&nbsp;Details");>$hmDetails.RAID</a>]]></cell>
    #if($hmParam.ACCITEMCONRPTFL == "Y")
     <cell>$esc.xml($hmDetails.ACCTNAME)</cell>
    #else
     <cell>$esc.xml($hmDetails.DNAME)</cell>
     
    #end
   
    <cell>$esc.xml($hmDetails.RNAME)</cell>
    <cell>$hmDetails.TYPE</cell>
    <cell>$hmDetails.STATUS</cell>
    <cell>$hmDetails.PARENTRMAID</cell>
    <cell>$hmDetails.CDATE</cell>
    <cell>$hmDetails.CRDATE</cell>
    </row>
	#set($count = $count+1)
	#end
</rows>
