<div id="div-case-view">
    <div id="div-detail-menu">
		<a id="btn-menu" ><i class="fa fa-bars fa-lg"></i> <span> menu </span></a>
	</div>
	<div id="div-case-breadcrumb">Case Scheduler ></div>
	<div id="div-case-title-main">
		<div id="div-case-title"></div>
		<div id="div-case-subtitle"></div>
	</div>
	<div id="div-schedule-case">
		<a id="btn-schedule-case" ><i class="fa fa-bars fa-lg"></i></a>
	</div>
	<div id="div-case-schedule" class="div-case"></div>
	<div id="div-case-detail" class="div-case"></div>
	<div id="div-case-report" class="div-case"></div>
	
	<div id="div-detail-navigation" class="div-case-detail-navigation">
			<a id="btn-case-schedule" class="btn-detail btn-detail-navigation btn-bg-grey btn-selected case-tab-hide-Y" href="#case"> <span>{{lblNm "case_dashboard"}}</span></a>
			<a id="btn-case-book" class="btn-detail btn-bg-grey btn-detail-navigation case-tab-hide-Y" href="#case/detail"> <span>{{lblNm "new_case"}} </span></a>
			<a id="btn-case-report" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y" href="#case/report"> <span>Case Report</span></a>
           	<a id="btn-kit" class="btn-detail btn-bg-grey  btn-detail-navigation" href="#kit"> <span>{{lblNm "surgery_kits"}}</span></a>
			<a id="btn-case-link" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y"> <i class="fa fa-external-link fa-lg"></i><span>Links </span></a>
	</div>	
	
	<div class="btn-app-link"> 
			<a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">Delivered Order</span></a>
			<a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">Inventory Management</span></a>
			<a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">Sales Dashboard</span></a>
			<a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">Event Evaluation Form</span></a>
	</div>	
				
</div>
