<div id="div-case-report-main">
	<ul>
		<li id="li-case-report-from-date">
			<div id="div-case-report-from-date">From</div>
			<label id="label-case-report-from-date"></label> 
			<input type="text" id="txt-case-from-date" style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
		</li>
		<li id="li-case-report-to-date">
			<div id="div-case-report-to-date">To</div>
			<label id="label-case-report-to-date"></label> 
			<input type="text" id="txt-case-to-date" style = "display:none;"/>
			<i class="fa fa-calendar fa-lg"></i>
		</li>
		<li id="li-case-report-load">
			<div id="div-case-report-load">Load</div>
		</li>
	</ul>
	<ul>
		<li id="li-case-report-status">
			<div id="div-case-report-status">Status</div>
			<div id="div-case-report-status-list"></div>
		</li>
		<li id="li-case-report-account">
			<div id="div-case-report-account">Account</div>
			<div id="div-case-report-account-search"></div>
		</li>
	</ul>	
    <div id="div-case-report-content"> 
		<div class="div-case-report-header">
			<div class="div-case-report-caseid">Case ID</div> 	
			<div class="div-case-report-accnm">Account Name</div>	
			<div class="div-case-report-repnm">Rep Name</div>
			<div class="div-case-report-surdt">Surgery Date</div> 		
			<div class="div-case-report-surtime"> Surgery Time</div>
			<div class="div-case-report-status">Status</div> 		
		</div>
		<div id ="div-case-report-list"> </div>
	</div>
</div>
<div class="div-case-page-loader"> </div>