<div id="div-case-schedule-main">
	<ul>
	    <li class="li-case-schedule-label">
	        <div class="div-case-schedule-label" id="div-case-today">
		        Today <span id="spn-scheduled-today-case-count" class="span-scheduled-case-count">0</span>
	        </div>
	      	<div class="div-case-schedule-label" id="div-case-tomorrow">
		        Tomorrow <span id="spn-scheduled-tomorrow-case-count" class="span-scheduled-case-count">0</span>
	        </div>
	        <div class="div-case-schedule-label" id="div-case-next">
		        More <span id="spn-scheduled-next-case-count" class="span-scheduled-case-count">0</span>
	        </div>	        
			<div id="btn-share-case">
				<a id="btn-case-share" ><span>Share</sapn><span id="spn-case-share-count">0</span></a>
			</div>
			<div id="div-share-case-search">
				<div id="div-share-case-search-header">
					<div id="div-share-case-search-title">User Search</div>
					<div id="div-share-case-search-x"><div>x</div></div>
				</div>
				<div id="div-share-case-search-list"></div>
			</div>
	    </li>
	</ul>

	<ul id="ul-case-today" class="ul-case-schedule-info"></ul>
	<ul id="ul-case-tomorrow" class="ul-case-schedule-info"></ul>
	<ul id="ul-case-next" class="ul-case-schedule-info"></ul>
	
	
</div>