<div id="{{cainfoid}}" class="div-case-report-list-item" cainfoid="{{cainfoid}}">
	<div class="div-case-report-caseid">{{caseid}}</div> 
	<div class="div-case-report-acnm">{{acnm}}</div>
	<div class="div-case-report-dnm">{{repnm}}</div>
	<div class="div-case-report-surdt">{{surdt}}</div>
	<div class="div-case-report-surtime" zone="{{timezone}}" acid="{{acid}}">{{surtime}}</div>
	<div class="div-case-report-status">{{status}}</div>
</div>

