<div class="div-drilldown">
	<div class="div-schedule-header" status="{{STATUS}}"  cainid="{{CAINID}}" caseid="{{CAID}}" createdby="{{USERID}}" sname="{{SURGEON_NAME}}" category="{{CATEGORY}}" acname="{{ACID}}">
		<div class="div-schedule-icons">
			<div class="div-case-box">
		        <i class="fa fa-2x fa-circle-o"></i>
		    </div>
		    <div id="btn-edit-case">
				<i class="fa fa-pencil-square-o fa-2x"></i>
			</div>
			<div class="btn-create-event">
				<i class="fa fa-calendar fa-2x"></i>
			</div>
			<div class="btn-send-icon">
				<i class="fa fa-envelope"></i>
			</div>
		 </div>
		<div class="div-schedule-header-data">
			<ul class="ul-schedule-details">
				<li class="li-schedule-detail">
					<div class="div-case-schedule-header-label-1">Date</div>
					<div class="div-case-schedule-header-value-1 div-case-schedule-date">{{SDATE}}</div>
					<div class="div-case-schedule-header-label-1">Time</div>
					<div class="div-case-schedule-header-value-1 div-case-schedule-stime-header-value" accountid="{{ACCOUNTID}}">{{STIME}}</div>
				</li>
				<li class="li-schedule-detail">
					<div class="div-case-schedule-header-label-1">Surgeon</div>
					<div class="div-case-schedule-header-value-1 div-case-surgeon-name">{{SURGEON_NAME}}</div>
					<div class="div-case-schedule-header-label-1">Type</div>
					<div class="div-case-schedule-header-value-1 div-case-surgeon-type">{{CATEGORY}}</div>
				</li>
				<li class="li-schedule-detail">
					<div class="div-case-schedule-header-label">Account</div>
					<div class="div-case-schedule-header-value">{{ACID}}</div>
				</li>
			</ul>
		</div>
		<div class="div-schedule-header-arrow">
			<i class="fa fa-caret-right fa-5x drilldown-right-arrow fa-schedule-header-arrow"></i>
		</div>	
	</div>
	<div class="div-schedule-list">
		<ul class="ul-schedule-list">
				<li class="li-schedule-detail">
					<div class="div-case-schedule-list-label">Case ID</div>
					<div class="div-case-schedule-list-value">{{CAID}}</div>
				</li>
				<li class="li-schedule-detail">
					<div class="div-case-schedule-list-label">Distributor</div>
					<div class="div-case-schedule-list-value">{{DID}}</div>
				</li>
				<li class="li-schedule-detail">
					<div class="div-case-schedule-list-label">Sales Rep</div>
					<div class="div-case-schedule-list-value">{{RID}}</div>
				</li>
				<li class="li-schedule-detail">
					<div class="div-case-schedule-list-label">Status</div>
					<div class="div-case-schedule-list-value div-case-schedule-status-value" status="{{STATUS}}">{{STATUS}}</div>
				</li>
		</ul>
	</div>
</div>