<div class="div-case-book-detail">
	<ul class="ul-case-book-info">
		<li class="li-case-book-label">
			<div id="div-case-book-status-main"> 
				<div class="div-case-book-label-header"> Case Status </div>
				<div id="div-case-book-status">{{status}}</div>
			</div>
			<div id="div-case-book-id">
				<div class="div-case-book-label-header"> Case ID </div>
				<div id="div-case-id">{{caseid}}</div>
			</div>
		</li>
		<li class="li-case-book-label" >
			<div class="div-case-book-label-2">
				<div class="div-case-book-label-header"> Account </div>
				<div id="div-case-book-account-list">{{acid}}</div>
			</div>
		</li>
		<li class="li-case-book-label" id="li-case-book-surgerydate">
			<div id="div-case-book-sdate-label" class="div-case-book-label">
				<div class="div-case-book-label-header"> Date </div>
				<label id="label-case-book-surgery-date">{{surdt}}</label>
				<input type ="text" value="{{surdt}}"  style = "display:none;" class="sdate">
				<i class="fa fa-calendar fa-lg date-picker"></i>
			</div>
			<div id="div-case-book-stime-label" class="div-case-book-label">
				<div class="div-case-book-label-header"> Time </div>
				<input type="time" id="txt-case-book-surgery-stime" value="{{surstime}}" class="stime"><div id="div-time-zone-list"></div>
				<div id="div-time-zone-offset"></div>
				<!-- <i class="fa fa-clock-o fa-lg"></i> -->
			</div>
			<div id="div-case-book-duration-label">
				<div class="div-case-book-label-header"> Duration </div>
				<div id="div-hours"></div>
			</div>
		</li>
		<li id="li-surgeon-cat" class="li-case-book-label">
			<div class="div-case-book-label">
				<div class="div-case-book-label-header"> Surgeon Name</div>
				<input type="text" id="txt-case-book-surgeon-name">
			</div>
			<div class="div-case-book-label">
				<div class="div-case-book-label-header" id="div-case-book-categories-header">Category</div>
				<div id="div-case-book-categories-list"></div>
			</div>
		</li>
		<li class="li-case-book-label">
			<div class="div-case-book-label">
				<div class="div-case-book-label-header"> Sales Rep  </div>
				<div id="div-case-book-salesrep-list">{{repid}}</div>
			</div>
			<div class="div-case-book-label">
				<div class="div-case-book-label-header"> Field Sales </div>
				<div id="div-case-book-fieldsales-list">{{did}}</div>
			</div>
		</li>
		<li class="li-case-book-label" >
			<div class="div-case-book-label-2">
				<div class="div-case-book-label-header" id="div-case-book-assign-header"> Assign To</div>
				<div id="div-case-book-assign">
					<div id="div-case-book-assign-list"></div>
					<span id="span-assign-append-list">
					{{#assignto}}
						<div class="div-case-book-assign-list" id="div-assign-append-{{ID}}" repid="{{ID}}" voidfl="{{voidfl}}"> 
							<span>{{Name}}</span>
							<div class="spn-spandiv-close fa fa-times-circle fa-lg"></div>
						</div>
					{{/assignto}}
					</span>
					
				</div>
			</div>
		</li>
		<li class="li-case-book-label" >
			<div class="div-case-book-label-2">
				<div class="div-case-book-label-header" id="div-case-book-share-header"> Share To</div>
				<div id="div-case-book-share">
					<div id="div-case-book-share-list"></div>
					<span id="span-share-append-list">
						{{#shareto}}
							<div class="div-case-book-share-list" id="div-share-append-{{ID}}" userid="{{ID}}" voidfl="{{voidfl}}">
								<span>{{Name}}</span>
								<div class="spn-spandiv-close fa fa-times-circle fa-lg"></div>
							</div>
						{{/shareto}}
					</span>
				
				</div>
			</div>
		</li>
		<li class="li-case-book-label" id="li-case-book-note-label">
			<div class="div-case-book-label-header" id="div-case-book-notes"> Notes  </div>
			<textarea id="txt-case-book-note">{{prnotes}}</textarea>
		</li>
	</ul>
	<ul id="ul-btn-case">
		<li class="li-btn-case">
			<div id="btn-case-save" class="btn-case">Save Draft</div>
	        <div id="btn-case-post" class="btn-case">Post Case</div>
	        <div id="btn-case-delete" class="btn-case">Delete</div>
	    </li>
	</ul>
</div>