<?xml version="1.0" encoding="iso-8859-1" ?>
#set($attachHeaderStr = "#numeric_filter,#text_filter,#text_filter,#numeric_filter,#numeric_filter,#numeric_filter,#numeric_filter")
#set ($title = "")
#set ($width = "*")
<rows>
	<head>
	    <column  type="ro" width="60" align="right" sort="int" id="acct_id">$msg.getProperty("VM_DEALER_ID")</column>
		<column  type="ro" width="200" align="left" sort="str">$msg.getProperty("VM_DEALER_NAME")</column>
		<column  type="ro" width="350" align="left" sort="str">$msg.getProperty("VM_ADDRESS")</column>
		<column  type="ro" width="140" align="left" sort="str">$msg.getProperty("VM_AR_AMOUNT_END_OF_LAST_MONTH")</column>
		<column  type="ro" width="130" align="left" sort="str">$msg.getProperty("VM_PAYMENT_THIS_MONTH")</column>
		<column  type="ro" width="140" align="left" sort="str">$msg.getProperty("VM_SALES_AMOUNT_THIS_MONTH")</column>
		<column  type="ro" width="140" align="left" sort="str">$msg.getProperty("VM_AR_AMOUNT_THIS_MONTH")</column>
		<afterInit>
			<call command="attachHeader"><param>$attachHeaderStr</param></call>
		</afterInit>
	</head>
	#foreach($hmDetails in $alResult)
	<row>
		<cell>$esc.xml($hmDetails.ID)</cell>
		<cell>$esc.xml($hmDetails.NAME)</cell>
		<cell>$esc.xml($hmDetails.ADDRESS)</cell>
		<cell>$esc.xml($hmDetails.AR_LAST_MONTH)</cell>
		<cell>$esc.xml($hmDetails.PAYMENT_THIS_MONTH)</cell>		
		<cell>$esc.xml($hmDetails.THIS_MONTH_SALE)</cell>
		<cell>$esc.xml($hmDetails.AR_AMOUNT_THIS_MONTH)</cell>
	</row>
	#end
</rows>