<?xml version="1.0" encoding="iso-8859-1" ?>
#if($hmApplnParam.CUSTCATEGORY=="Y")
#set($attachHeaderStr = "#text_filter,#select_filter,#select_filter,,#select_filter,#select_filter,#select_filter,,#numeric_filter,,#numeric_filter,,#numeric_filter,,#numeric_filter,,")
#else
#set($attachHeaderStr = "#text_filter,#select_filter,,#select_filter,#select_filter,#select_filter,,#numeric_filter,,#numeric_filter,,#numeric_filter,,#numeric_filter,,")
#end	    
#set($alColumnDtlSize = $hmApplnParam.ALCOLUMNDTL)
#set ($title = "")
#if ($alColumnDtlSize.size()>1)
#set ($width = "235")
#else
#set ($width = "*")
#end
<rows>

	<head>

		<column  type="ro" width="*" align="left" sort="str">$msg.getProperty("VM_PARENT_ACCOUNT_NAME")</column>
		<column  type="ro" width="50" align="left" sort="str">$msg.getProperty("LBL_DIVISION_NAME")</column>
		#if($hmApplnParam.CUSTCATEGORY=="Y")
		<column  type="ro" width="59"  align="left" sort="str">$msg.getProperty("VM_CATEGORY")</column>
		#end
		<column  type="ron" width="50" align="right" format="0,000.00" sort="int">$msg.getProperty("VM_CREDIT_LIMIT")</column>
		<column  type="ro" width="60" align="left" sort="str">$msg.getProperty("VM_CREDIT_HOLD_TYPE")</column>
		<column  type="ro" width="90" align="left" sort="str">$msg.getProperty("VM_PAYMENTS_TERMS")</column>			
		<column  type="ro" width="70" align="left" sort="str">$msg.getProperty("VM_COLLECTOR_ID")</column>
		<column  type="ro" width="60" align="center" sort="str">$msg.getProperty("VM_CURRENCY")</column>


		#if($hmApplnParam.REPORTTYPE.equals("ARByInvoiceDt"))
		<column  type="ron" width="65" align="right" format="0,000.00" sort="int">0-30</column>
		<column  type="ro" width="16" align="left"></column>
		#else
		#set ($title = $msg.getProperty("VM_POST_DUE"))
		<column  type="ron" width="65" align="right" format="0,000.00" sort="int">$msg.getProperty("VM_CURRENT_VALUE")</column>
		<column  type="ro" width="16" align="left"></column>
		<column  type="ron" width="65" align="right" format="0,000.00" sort="int">$title 1-30</column>
		<column  type="ro" width="16" align="left"></column>
		#end


		<column  type="ron" width="74" align="right" format="0,000.00" sort="int">$title 31-60</column>
		<column  type="ro" width="16" align="left"></column>

		<column  type="ron" width="74" align="right" format="0,000.00" sort="int">$title 61-90</column>
		<column  type="ro" width="16" align="left"></column>
 		#foreach($hmColumn in $hmApplnParam.ALCOLUMNDTL)
 		#set($attachHeaderStr = $attachHeaderStr + "#numeric_filter,,")
		<column  type="ron" width="74" align="right" format="0,000.00" sort="int">$title $hmColumn.HEADING</column>
		<column  type="ro" width="16" align="left"></column>
		#end
		<column  type="ron" width="82" align="right" format="0,000.00" sort="int"> $msg.getProperty("VM_TOTAL")</column>
		
		<!-- When the Parent Flag is  is selected, then then Payment Received Date column should not be displayed as we are combining multiple rep account  -->
		#if($hmApplnParam.PARENTCHKFL.equals(""))
			<column  type="ro" width="92" align="center" sort="date" id="last_payment" hidden="true"> $msg.getProperty("VM_LAST_PAYMENT_RECEIVED_DATE")</column>
		#end
		<column  type="ro" width="92" align="left" sort="str" id="region" hidden="true"> $msg.getProperty("VM_REGION")</column>
		<column  type="ro" width="92" align="right" sort="str" id="credit_rating" hidden="true"> $msg.getProperty("VM_CREDIT_RATING")</column>
		<column  type="ro" width="92" align="center" sort="date" id="last_credit" hidden="true"> $msg.getProperty("VM_LAST_UPDATED_DATE") </column>
		
		#set($attachHeaderStr = $attachHeaderStr + "#numeric_filter,,,,")
		
		
		<afterInit>
			<call command="attachHeader"><param>$attachHeaderStr</param></call>
		</afterInit>	
	</head>
	
	#foreach($hmDetails in $alResult)
	<row>

		<cell>$esc.xml($hmDetails.NAME)</cell>
		<cell>$esc.xml($hmDetails.DIVISION_NAME)</cell>
		#if($hmApplnParam.CUSTCATEGORY=="Y")
		<cell>$esc.xml($hmDetails.CUSTCATEGORY)</cell>
		#end
		<cell>$esc.xml($hmDetails.CREDITLIMIT)</cell>
		<cell>$esc.xml($hmDetails.CREDITTYPE_NAME)</cell>
		<cell>$esc.xml($hmDetails.TERM)</cell>		
		<cell>$esc.xml($hmDetails.COLLECTOR_NAME)</cell>
		<cell>$esc.xml($hmDetails.CURRENCY)</cell>
		#if($hmApplnParam.REPORTTYPE.equals("ARByInvoiceDt"))
		<cell>$esc.xml($hmDetails.ZERO_THIRTY)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewDetails($hmDetails.ID,"$hmApplnParam.REPORTTYPE",0,30,"$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of 0-30" border="0"></a>]]></cell>
		#else
		<cell>$esc.xml($hmDetails.CURRENTVALUE)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewDetails($hmDetails.ID,"$hmApplnParam.REPORTTYPE",0,0,"$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of Current Value" border="0"></a>]]></cell>
		<cell>$esc.xml($hmDetails.ONE_THIRTY)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewDetails($hmDetails.ID,"$hmApplnParam.REPORTTYPE",1,30,"$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of 1-30" border="0"></a>]]></cell>
		#end
		
		<cell>$esc.xml($hmDetails.THIRTYONE_SIXTY)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewDetails($hmDetails.ID,"$hmApplnParam.REPORTTYPE",31,60,"$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of 31-60" border="0"></a>]]></cell>

		<cell>$esc.xml($hmDetails.SIXTYONE_NINETY)</cell>
		<cell><![CDATA[<a href="#" onClick=fnViewDetails($hmDetails.ID,"$hmApplnParam.REPORTTYPE",61,90,"$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of 61-90" border="0"></a>]]></cell>
 		#foreach($hmColumn in $hmApplnParam.ALCOLUMNDTL)
		<cell>$esc.xml($hmDetails.get($hmColumn.KEY))</cell>

		
		<cell><![CDATA[<a href="#" onClick=fnViewDetails("$hmDetails.ID","$hmApplnParam.REPORTTYPE","$hmColumn.FROMDAY","$hmColumn.TODAY","$hmDetails.INV_SRC_ID",$hmDetails.DIVISION_ID)>
		<img src="/images/d2.gif" height="12" width="10" alt="Details of $hmColumn.HEADING" border="0"></a>]]></cell>
		#end
		<cell>$esc.xml($hmDetails.ROW_TOTAL)</cell>	

		<cell>$esc.xml($hmDetails.REGION)</cell>
		<cell>$esc.xml($hmDetails.CREDIT_RATING)</cell>

		
		<cell>
		#if ($hmDetails.LAST_CREDIT_UPDATED_DATE)
		$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.LAST_CREDIT_UPDATED_DATE)
		#end
		</cell>

	</row>
	#end
	
</rows>



