<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Globus Medical:CREDIT HOLD Add</title>
	<style>
	body,td {
		font-family: Verdana;
		font-size: 12px;
	}
	</style>
</head>
<body style="margin: 0; padding: 0">
<table cellpadding="0" cellspacing="0" style="margin: auto">	
	    <tr>
			<td style="padding: 0 1em; text-decoration: none">
				$hmEmailParam.MESSAGE.replaceAll("#<CREATEDBY>",$hmEmailParam.CREATEDBY) 
			</td>
			<br>
		</tr>
		
#if($hmEmailParam.ADDIT_MSG != "")
		<br>
		<tr>
			<td style="padding: 0 1em; text-decoration: none">
				$hmEmailParam.ADDIT_MSG 
			</td>
		</tr>
#end
		
#if($hmEmailParam.AR_MSG != "")
		<br>
		<tr>
			<td style="padding: 0 1em; text-decoration: none">
				$hmEmailParam.AR_MSG 
			</td>
		</tr>
#end	
		<br>
		<tr>
			<td style="padding: 0 1em; text-decoration: none">
				$hmEmailParam.FOOTER 
			</td>
		</tr>		
</table>
</body>
</html>