<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>

#set($currDate = $date.format($hmApplnParam.SESSDATEFMT,$date))     
           
<head>
	
		<column type="ro" width="*" sort="Date"  align="left">$msg.getProperty("VM_INVOICE_DATE")</column>
		<column type="ro" width="80" sort="Date" align="left">$msg.getProperty("VM_INVOICE_DATE")</column>
		#if( $hmApplnParam.ARREPORTBYDEALER=="YES") 
						<column type="ro" width="*" sort="str" align="left">
			$msg.getProperty("VM_NAME")
		</column>
		<column type="ro" width="*" sort="str" align="left">
			$msg.getProperty("VM_CUSTOMER_TYPE")
		</column>
		
		#else
		<column type="ro" width="*" sort="str" align="left">
		$msg.getProperty("VM_ACCOUNT_NAME")
		</column>
		#end
		<column type="ro" width="125" sort="str" align="left">$msg.getProperty("VM_INVOICE_ID")</column>
		<column type="ron" width="70" sort="int" format="0000.00" align="right">
		   $msg.getProperty("VM_AMOUNT")
		</column>		
		<column type="ron" width="130" sort="int" format="0000.00" align="right">
			$msg.getProperty("VM_VAT")			
		</column>
		
</head>
	#foreach($hmDetails in $alResult)
	<row> 
		<cell></cell>
		<cell>$date.format($hmApplnParam.SESSDATEFMT,$hmDetails.INVDT)</cell>
		<cell>$esc.xml($hmDetails.ACCID)-$esc.xml($hmDetails.ACCNAME)</cell>
		#if( $hmApplnParam.ARREPORTBYDEALER=="YES") 
		<cell>$esc.xml($hmDetails.INV_SRC)</cell>
		#end
		<cell>$esc.xml($hmDetails.INVID) </cell>
		#if ($hmDetails.INVAMT == '')
			<cell></cell>
		#else
			<cell>$math.roundTo(2,$hmDetails.INVAMT)</cell>
		#end
		#if ($hmDetails.VAT == '')
			<cell></cell>
		#else
			<cell>$math.roundTo(2,$hmDetails.VAT)</cell>
		#end		
	</row>
	#end
	

</rows>


	