<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro"  sort="str" width="0" >
			ID
		</column>
		<column type="coro"  sort="str" width="100" >
			User
			<option value="">[Choose One]</option>
                                    #foreach($hmChngMap in $alUsers)
                                    <option value="$hmChngMap.ID">$esc.xml($hmChngMap.NAME)</option>
                        #end
		</column>
		<column type="coro" sort="str" width="100" >
			Status
			<option value="">[Choose One]</option>
                                    #foreach($hmChngMap in $alStatus)
                                    <option value="$hmChngMap.CODEID">$esc.xml($hmChngMap.CODENM)</option>
                        #end
		</column>
		<column type="ro" sort="str" width="100" >
			Assigned
		</column>
		<column type="ro" sort="str" width="100" >
			Initated
		</column>
		<column type="ro" sort="str" width="100" >
			Wip
		</column>
		<column type="ro" sort="str" width="100" >
			Suspended
		</column>
		<column type="ro" sort="str" width="*" >
			Closed Today
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.ID">
		<cell> $esc.xml($hmDetails.ID)</cell>
		<cell  type ="ro">$esc.xml($hmDetails.USER_NAME)</cell>
		<cell>$esc.xml($hmDetails.STATUS)</cell>	
		<cell>$esc.xml($hmDetails.ASSIGNED)</cell>
		<cell>$esc.xml($hmDetails.INITIATED)</cell>
		<cell>$esc.xml($hmDetails.WIP)</cell>
		<cell>$esc.xml($hmDetails.SUSPENDED)</cell>
		<cell>$esc.xml($hmDetails.CLOSEDTODAY)</cell>
	</row>
	#end
</rows>