<div class="scorecardMain">
    <div id="div-dash-view">
        <div id="div-dash-title-main">
            <div id="div-dash-title"></div>
			<div id="div-dash-subtitle"></div>
        </div>
            <span id="allowed-tag">Allowed Tag:</span><select name="overallSummaryAllowedTag" tabindex="3" class="RightText" id="overallSummaryAllowedTag"> <option id="0" value="0">All<option value="Y">Y</option><option value="N">N</option></select>
        <div class="divTitleRightBtn gmAlignHorizontal gmFloatRight gmMarginBottom5p hide">
            <div class="borrowTagBtn gmBtn gmAlignHorizontal gmBRadius0px gmBGDarkBlue gmFontWhite gmPadding10x25">Borrowed</div>
        </div>
        <div class="divTitleRightBtn gmAlignHorizontal gmFloatRight gmMarginBottom5p gmMarginRight5p hide">
            <div class="bulkTagBtn gmBtn gmAlignHorizontal gmBRadius0px gmBGDarkBlue gmFontWhite gmPadding10x25">Bulk DO</div>
        </div>
        <div class="scorecardGrpBtn hide">
            <div class="scorecardBtn SCBtn gmBtn gmAlignHorizontal gmPaddingTop10p gmPaddingButtom10p gmBRadius0px active">Scorecard</div>
            <div class="scorecardBtn SCWProjBtn gmBtn gmAlignHorizontal gmPaddingTop10p gmPaddingButtom10p gmMarginLeft5p gmBRadius0px">Scorecard With Projection</div>
        </div>
        <div id="div-detail-navigation-top" class="div-score-detail-navigation hide">
            <a id="btn-score-ad" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/ad"> <span>AD</span></a>
            <a id="btn-score-fieldsales" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/fieldsales"> <span>FieldSales</span></a>  
            <a id="btn-score-system" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/system"> <span>System</span></a>
        </div>
        <hr/>
        <div id="scorecard-report">

        </div>
        
        <div id="div-detail-navigation" class="div-score-detail-navigation">
            <a id="btn-score-overallsummary" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/overallsummary"> <span>OverAll Summary</span></a>
            <a id="btn-score-summary" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/ad"> <span>Summary</span></a>
            <a id="btn-score-consignment" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/consignment"> <span>{{lblNm "scorecard_by_consignment"}}</span></a>
            <a id="btn-score-loaner" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/loaner"> <span>{{lblNm "scorecard_by_loaner"}}</span></a>
            <a id="btn-score-actualproc" class="btn-detail btn-detail-navigation btn-bg-grey" href="#scorecard/actualproc"> <span>{{lblNm "scorecard_by_actualproc"}}</span></a>            
            <a id="btn-score-link" class="btn-detail btn-bg-grey  btn-detail-navigation case-tab-hide-Y"> <span>Links </span></a>
        </div>
        <div class="btn-app-link">
            <a class="in-app btn-lnk-delivered-order" href="#do"><span class="span-link-text">{{lblNm "delivery_dashboard"}}</span></a>
            <a class="in-app btn-lnk-inventory-management" href="#inv"><span class="span-link-text">{{lblNm "inventory_dashboard"}}</span></a>
            <a class="in-app btn-lnk-sales-dashboard" href="#dashboard"><span class="span-link-text">{{lblNm "sales_dashboard"}}</span></a>
            <a class="in-app btn-lnk-event-form" href="#eval/form"><span class="span-link-text">Event Evaluation Form</span></a>
        </div>
        <div id="overlay-back" style="display: none;"></div>
    </div>