<div class="score-card-summary-header gmFontBold">
    <div class="gmAlignHorizontal gmWidth40 gmPad10p">System </div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Month</div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Proc Cmpl</div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Proc Tot Proj</div>
</div>
 <div class="actProcReport">
{{#each this}}
<div class="score-card-summary-main">
    <div class="score-card-summary-header">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth40 gmFontBold">{{system_name}} </div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold">{{bulk_do_mon}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmTextRight gmFontBold">{{proc_name}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmTextRight gmFontBold">{{proc_tot_proj}}</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">AD</div>
            <div class="gmWidth40 gmAlignHorizontal">{{ad_name}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Order Owner</div>
            <div class="gmWidth40 gmAlignHorizontal">{{order_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Credit Goes To</div>
            <div class="gmWidth40 gmAlignHorizontal">{{tag_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Allowed Tag</div>
            <div class="gmWidth40 gmAlignHorizontal">{{allowed_tag}}</div>
        </div>
        <hr/>
    </div>
</div>
{{/each}}
     </div>