<div id="score-card-summary-main">
    <div class="scorecardGrpBtn">
        <div class="scoverallsummaryBtn SCBtn gmBtn gmAlignHorizontal gmPaddingTop10p gmPaddingButtom10p gmBRadius0px active">Scorecard</div>
        <div class="scoverallsummaryBtn SCWProjBtn gmBtn gmAlignHorizontal gmPaddingTop10p gmPaddingButtom10p gmMarginLeft5p gmBRadius0px">Scorecard With Projection</div>
    </div>
    <div class="gmBGDarkGrey gmPadding5p gmFontWhite" style="margin-top: 2px;">System Count : {{system_count}}</div>
    <div id="scoreBtn">
        <div class="semi-donut margin" style="--percentage : {{effi_score_completed}}; --fill: #039BE5 ;">
            <div>
                <div id="value">{{effi_score_completed}} %</div>
                <div id="label">Efficiency</div>
            </div>
        </div>
        <div class="mob_report"><span>{{cn_completed}}</span><span>Consignment Usage</span></div>
        <div class="mob_report"><span>{{ln_completed}}</span><span>Loaner Usage</span></div>
        <div class="mob_report"><span>{{exp_usage_completed}}</span><span>Total Usage</span></div>
        <div class="mob_report"><span>{{proc_completed}}</span><span>Proc Cmpl</span></div>
        <div class="mob_report"><span>{{effi_completed}}</span><span>Eff Score</span></div>

    </div>
    <div id="scoreProjBtn" style="display:flex;">
        <div style="width:50%; height: auto;">
        <div class="semi-donut margin" style="--percentage : {{effi_score_completed}}; --fill: #039BE5 ;">
            <div>
                <div id="value">{{effi_score_completed}} %</div>
                <div id="label">Efficiency</div>
            </div>
        </div>
            <div class="mob_report"><span>Cons Usage</span><span>{{cn_completed}}</span></div>
            <div class="mob_report"><span>Loaner Usage</span><span>{{ln_completed}}</span></div>
            <div class="mob_report"><span>Total Usage</span><span>{{exp_usage_completed}}</span></div>
            <div class="mob_report"><span>Proc Cmpl</span><span>{{proc_completed}}</span></div>
            <div class="mob_report"><span>Eff Score</span><span>{{effi_completed}}</span></div>
        </div>
        <div style="width:50%; height: auto;">
        <div class="semi-donut margin" style="--percentage : {{effi_score_proj}}; --fill: #e59a03 ;">
            <div>
                <div id="value">{{effi_score_proj}} %</div>
                <div id="label">Proj. Efficiency</div>
            </div>
        </div>
            <div class="mob_report"><span>Cons Usage Proj</span><span>{{cn_tot_proj}}</span></div>
            <div class="mob_report"><span>Loaner Usage Proj</span><span>{{ln_tot_proj}}</span></div>
            <div class="mob_report"><span>Total Usage Proj</span><span>{{exp_usage_proj}}</span></div>
            <div class="mob_report"><span>Proc Cmpl Proj</span><span>{{proc_tot_proj}}</span></div>
            <div class="mob_report"><span>Eff Score Proj</span><span>{{effi_proj}}</span></div>
        </div>

    </div>

</div>