<div class="score-card-summary-header gmFontBold">
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">Order ID</div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Tag ID </div>
    <div class="gmAlignHorizontal gmWidth40 gmPad10p">Set Name </div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Order Date</div>
</div>
 <div class="actProcReport">
{{#each this}}
<div class="score-card-summary-main">
    <div class="score-card-summary-header">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth22 gmFontBold">{{order_id}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold">{{tag_id}} </div>
        <div class="gmAlignHorizontal gmWidth40 gmFontBold">{{set_name}} </div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold">{{order_date}}</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">AD</div>
            <div class="gmWidth40 gmAlignHorizontal">{{ad_name}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Set Id</div>
            <div class="gmWidth40 gmAlignHorizontal">{{set_id}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Order Owner</div>
            <div class="gmWidth40 gmAlignHorizontal">{{order_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Tag Owner</div>
            <div class="gmWidth40 gmAlignHorizontal">{{tag_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Allowed Tag</div>
            <div class="gmWidth40 gmAlignHorizontal">{{allowed_tag}}</div>
        </div>
        <hr/>
    </div>
</div>
{{/each}}
     </div>