Allowed Tag: <select name="allowedTag" tabindex="3" class="RightText" id="actProcAllowedTag"> <option id="0" value="0">All<option value="Y">Y</option><option value="N">N</option></select>
<div id="score-card-actual-procedure-header" class="score-card-summary-header gmFontBold">
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">Order ID</div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Tag ID </div>
    <div class="gmAlignHorizontal gmWidth25 gmPad10p">System </div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Type </div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Proc Cmpl</div>
    <div class="gmAlignHorizontal gmWidth10 gmPad10p">Proc Tot Proj</div>
    
</div>
 <div class="actProcReport">
{{#each this}}
<div class="score-card-summary-main">
    <div id="score-card-actual-procedure" class="score-card-summary-header">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth22 gmFontBold gmPad10p">{{order_id}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold gmPad10p">{{tag_id}} </div>
        <div class="gmAlignHorizontal gmWidth25 gmFontBold gmPad10p">{{system_name}} </div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold gmPad10p">{{type}} </div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold gmPad10p gmTextRight">{{proc_cmpl}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmFontBold gmPad10p gmTextRight">{{proc_tot_proj}}</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Set ID</div>
            <div class="gmWidth40 gmAlignHorizontal">{{set_id}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Set Name</div>
            <div class="gmWidth40 gmAlignHorizontal">{{set_name}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Order Date</div>
            <div class="gmWidth40 gmAlignHorizontal">{{order_date}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Order Owner</div>
            <div class="gmWidth40 gmAlignHorizontal">{{order_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Credit Goes To</div>
            <div class="gmWidth40 gmAlignHorizontal">{{credit_owner}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Allowed Tag</div>
            <div class="gmWidth40 gmAlignHorizontal">{{allowed_tag}}</div>
        </div>
        <hr/>
    </div>
</div>
{{/each}}
     </div>