<div class="score-card-summary-header gmFontBold">
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">Etch ID</div>
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">System</div>
    <div class="gmAlignHorizontal gmWidth22 gmTextRight gmPad10p">Loaner Cmpl</div>
    <div class="gmAlignHorizontal gmWidth22 gmTextRight gmPad10p">Loaner Tot Proj</div>
</div>
 <div class="lnReport">
{{#each this}}
<div class="score-card-summary-main">
    <div class="score-card-summary-header">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth22 gmFontBold">{{etch_id}}</div>
        <div class="gmAlignHorizontal gmWidth30 gmFontBold">{{system_name}} </div>
        <div class="gmAlignHorizontal gmWidth22 gmTextRight gmFontBold">{{ln_cmpl}}</div>
        <div class="gmAlignHorizontal gmWidth22 gmTextRight gmFontBold">{{ln_tot_proj}}</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Consignment ID</div>
            <div class="gmWidth40 gmAlignHorizontal">{{cn_id}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Field Sales</div>
            <div class="gmWidth40 gmAlignHorizontal">{{dist_name}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Placement Date</div>
            <div class="gmWidth40 gmAlignHorizontal">{{placement_date}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Return Date</div>
            <div class="gmWidth40 gmAlignHorizontal">{{return_date}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Loaner last 2 mon</div>
            <div class="gmWidth40 gmAlignHorizontal">{{ln_last_2_mon}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Loaner Proj</div>
            <div class="gmWidth40 gmAlignHorizontal">{{ln_proj}}</div>
        </div>
        <hr/>
    </div>
</div>
{{/each}}
     </div>