<div id="score-card-summary-report-main">
Allowed Tag: <select name="summaryAllowedTag" tabindex="3" class="RightText" id="summaryAllowedTag"> <option id="0" value="0">All<option value="Y">Y</option><option value="N">N</option></select>
<div class="score-card-summary-header widthX gmFontBold">
    <div class="reportNm gmAlignHorizontal gmWidth70 gmPad10p"></div>
    <div class="gmAlignHorizontal gmWidth10 gmTextRight gmPad10p">Eff % </div>
    <div class="SCWeffProj gmAlignHorizontal gmWidth10 gmTextRight gmPad10p">Eff % Proj</div>
</div>
 <div class="summaryReport">
{{#each this}}
<div class="score-card-summary-main">
    <div class="score-card-summary-header widthX">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth70 gmFontBold">{{name}}</div>
        <div class="gmAlignHorizontal gmWidth10 gmTextRight gmFontBold">{{effi_score_completed}} %</div>
        <div class="SCWeffProj gmAlignHorizontal gmWidth10 gmTextRight gmFontBold">{{effi_score_proj}} %</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal">System Count</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{system_count}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{system_count}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal">Cons Exp Usage</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{cn_completed}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{cn_tot_proj}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal">Loaner Exp Usage</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{ln_completed}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{ln_tot_proj}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal">Total Exp Usage</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{exp_usage_completed}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{exp_usage_proj}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal ">Proc Cmpl</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{proc_completed}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{proc_tot_proj}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth70 gmAlignHorizontal ">Eff Score</div>
            <div class="gmWidth10 gmTextRight gmAlignHorizontal">{{effi_completed}}</div>
            <div class="SCWeffProj gmWidth10 gmTextRight gmAlignHorizontal">{{effi_proj}}</div>
        </div>
        <hr/>
    </div>
</div>

{{/each}}
     </div>
    </div>