<div class="score-card-summary-header gmFontBold">
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">TagID</div>
    <div class="gmAlignHorizontal gmWidth22 gmPad10p">System </div>
    <div class="gmAlignHorizontal gmWidth22 gmTextRight gmPad10p">Cons Compl</div>
    <div class="gmAlignHorizontal gmWidth22 gmTextRight gmPad10p">Cons Tot Proj</div>
</div>
 <div class="cnReport">
{{#each this}}
<div class="score-card-summary-main">
    <div class="score-card-summary-header">
        <i class="gmPad5p score-card-summary-report fa fa-plus" aria-hidden="true"></i>
        <div class="gmAlignHorizontal gmWidth22 gmFontBold">{{tag_id}}</div>
        <div class="gmAlignHorizontal gmWidth30 gmFontBold">{{system_name}} </div>
        <div class="gmAlignHorizontal gmWidth22 gmTextRight gmFontBold">{{cn_cmpl}}</div>
        <div class="gmAlignHorizontal gmWidth22 gmTextRight gmFontBold">{{cn_tot_proj}}</div>
    </div>
    <div class="score-card-summary-sub hide">
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Consignment ID</div>
            <div class="gmWidth40 gmAlignHorizontal">{{cn_id}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Placement Date</div>
            <div class="gmWidth40 gmAlignHorizontal">{{placement_date}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Days Kept</div>
            <div class="gmWidth40 gmAlignHorizontal">{{days_kept}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Proj Days Kept</div>
            <div class="gmWidth40 gmAlignHorizontal">{{proj_d_kept}}</div>
        </div>
        <div class="score-card-list gmPad10p">
            <div class="gmWidth24 gmAlignHorizontal">Return Date</div>
            <div class="gmWidth40 gmAlignHorizontal">{{return_date}}</div>
        </div>
        <hr/>
    </div>
</div>
{{/each}}
     </div>