<?xml version="1.0" encoding="UTF-8"?>
<rows>
<head>
		
		<column type="ro" width="110" sort="str" align="left">$msg.getProperty('VM_GTINDI')</column>
		<column type="ro" width="80" sort="str" align="left">$msg.getProperty('VM_PROJECTID')</column>
		<column type="ro" width="100" sort="str" align="left">$msg.getProperty('VM_PROJECTDESCRIPTION')</column>
		<column type="ro" width="120" sort="str" align="left">$msg.getProperty('VM_PART')</column>
		<column type="ro" width="200" sort="str" align="left">$msg.getProperty('VM_PARTDESCRIPTION')</column>
		<column type="ro" width="60" sort="str" align="left">$msg.getProperty('VM_INTERNALSTATUS')</column>
		<column type="ro" width="60" sort="str" align="left">$msg.getProperty('VM_EXTERNALSTATUS')</column>
		<column type="ro" width="60" sort="str" align="left">$msg.getProperty('VM_REVIEWEDBY')</column>
		<column type="ro" width="100" sort="date" align="center">$msg.getProperty('VM_REVIEWEDDATE')</column>
		<column type="ro" width="100" sort="str" align="center">$msg.getProperty('VM_GDSNUPLOADFLAG')</column>
		<column type="ro" width="100" sort="str" align="center">$msg.getProperty('VM_DATAPOOLPUBLISHFLAG')</column>
		<column type="ro" width="100" sort="date" align="center">$msg.getProperty('VM_DATAPOOLPUBLISHDATE')</column>
		<column type="ro" width="100" hidden="true" sort="str" align="center">$msg.getProperty('VM_CICFLAG')</column>
		<column type="ro" width="100" hidden="true" sort="date" align="center">$msg.getProperty('VM_CICDATE')</column>
		<column type="ro" width="100" sort="str" align="center">$msg.getProperty('VM_GUDIDPUBLISHFLAG')</column>
		<column type="ro" width="100" sort="date" align="center">$msg.getProperty('VM_GUDIDPUBLISHDATE')</column>
		<column type="ro" width="100" sort="str" align="left">$msg.getProperty('VM_LASTUPDATEDBY')</column>
		<column type="ro" width="100" sort="date" align="left">$msg.getProperty('VM_LASTUPDATEDDATE')</column>
		
		
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)
	<row id="$count">
		
    	<cell>$esc.xml($hmDetails.DI_NUMBER)</cell>
      	<cell>$esc.xml($hmDetails.PROJECT_ID)</cell>
        <cell>$esc.xml($hmDetails.PROJECT_DESC)</cell>
        <cell>$esc.xml($hmDetails.PART_NUMBER)</cell>
        <cell>$esc.xml($hmDetails.PART_DESC)</cell>
		<cell>$esc.xml($hmDetails.INTERNAL_STATUS_NM)</cell>
		<cell>$esc.xml($hmDetails.ENTERNAL_STATUS_NM)</cell>
		<cell>$esc.xml($hmDetails.REVIEWED_BY)</cell>
        <cell>$esc.xml($hmDetails.REVIEWED_DT)</cell>
		<cell>$esc.xml($hmDetails.ITEM_UPLOAD_FL)</cell>
		<cell>$esc.xml($hmDetails.PUBLISH_UPLOAD_FL)</cell>
        <cell>$esc.xml($hmDetails.PUBLISH_UPLOAD_DT)</cell>
		<cell>$esc.xml($hmDetails.CIC_FL)</cell>
	    <cell>$esc.xml($hmDetails.CIC_DT)</cell>
		<cell>$esc.xml($hmDetails.PUBLISH_FL)</cell>
	    <cell>$esc.xml($hmDetails.PBLISH_DT)</cell>
		<cell>$esc.xml($hmDetails.LAST_UPDATED_BY)</cell>
		<cell>$esc.xml($hmDetails.LAST_UPDATED_DATE)</cell>
		
       
    </row>
	#set($count = $count+1)
	#end
</rows>
