<?xml version="1.0" encoding="UTF-8" ?>
<rows>
	<head>
		
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_PROJECTID')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_PART')</column>
		<column type="ro" width="180" sort="str" align="left">$msg.getProperty('VM_PARTDESCRIPTION')</column>
		<column type="ro" width="100" id="dinumber" sort="str" align="left">$msg.getProperty('VM_GTINDI')</column>
		<column type="ro" width="180" sort="str" align="left">$msg.getProperty('VM_PROJECTDESCRIPTION')</column>
		<column type="ro" width="50"  sort="str" align="center">$msg.getProperty('VM_MRISAFETYINFORMATION')</column>
		<column type="ro" width="50"  sort="str" align="center">$msg.getProperty('VM_SUBJECTTODMBUTEXEMT')</column>
		<column type="ro" width="50"  sort="str" align="left">$msg.getProperty('VM_MDDIISNOTPRIMARYDI')</column>
		<column type="ro" width="60"  sort="str" align="left">$msg.getProperty('VM_DMDINUMBER')</column>
		<column type="ro" width="62"  sort="str" align="left">$msg.getProperty('VM_HCTP')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_FORSINGLEUSE')</column>
		<column type="ro" width="70"  sort="date" align="left">$msg.getProperty('VM_EXPIRATIONDATE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DEVICEPACKAGEDASSTERILE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_LOTORBATCHNUMBER')</column>
		<column type="ro" width="70"  sort="date" align="left">$msg.getProperty('VM_MANUFACTURINGDATE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_SERIALNUMBER')</column>
		<column type="ro" width="70"  sort="str" align="center">$msg.getProperty('VM_DEVICECOUNT')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DONTATIONIDENTIFICATIONNUMBER')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_CONTAINSLATEX')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_REQUIRESSTERILPRIORTOUSE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_STERILIZATIONMETHOD')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_BRANDNAME')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_FDALISTING')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_GMDNCODE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_EXEMPTFROMPREMARKETSUB')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_PRODUCTCODE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_FDASUBMISSIONNUMBER')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_FDASUPPLEMENTNUMBER')</column>
		<column type="ro" width="70"  sort="str" align="center">$msg.getProperty('VM_ISSUINGAGENCYCONFIGURATION')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_UNITOFUSEDINUMBER')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_PACKAGEDINUMBER')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_QUANTITYPERPACKAGE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_CONTAINSDIPACKAGE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_LABELERDUNSNUMBER')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_CUSTOMERCONTACTPHONE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_CUSTOMERCONTACTEMAIL')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DEVICESIZETYPE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DEVICESIZEVALUE')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DEVICESIZEUOM')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_DEVICESIZETYPETEXT')</column>
		<column type="ro" width="70"  sort="str" align="left">$msg.getProperty('VM_PACKAGEDISCONTINUEDATE')</column>
	</head>
	#foreach($hmDetails in $alResult)
	<row>
		
		
		<cell>$esc.xml($hmDetails.PROJECT_ID)</cell>
		<cell>$esc.xml($hmDetails.PART_NUMBER)</cell>
		<cell>$esc.xml($hmDetails.PART_DESC)</cell>
		<cell>$esc.xml($hmDetails.DI_NUMBER)</cell>
		<cell>$esc.xml($hmDetails.PROJECT_DESC)</cell>
		<cell>$esc.xml($hmDetails.MRI_SAFETY_INFO)</cell>
		<cell>$esc.xml($hmDetails.SUBJECT_DM_EXEMPT)</cell>
		<cell>$esc.xml($hmDetails.DM_DI_PRIMARY_DI)</cell>
		<cell>$esc.xml($hmDetails.DM_DI_NUMBER)</cell>
		<cell>$esc.xml($hmDetails.HCTP)</cell>
		<cell>$esc.xml($hmDetails.FOR_SINGLE_USE)</cell>
		<cell>$esc.xml($hmDetails.EXPIRATION_DT)</cell>
		<cell>$esc.xml($hmDetails.DEVICE_AS_STERILE)</cell>
		<cell>$esc.xml($hmDetails.LOT_BATCH_NUM)</cell>
		<cell>$esc.xml($hmDetails.MANUF_DT)</cell>
		<cell>$esc.xml($hmDetails.SERIAL_NUM)</cell>
		<cell>$esc.xml($hmDetails.DEVICE_COUNT)</cell>
		<cell>$esc.xml($hmDetails.DONATION_IDE_NUM)</cell>
		<cell>$esc.xml($hmDetails.CONT_LATEX)</cell>
		<cell>$esc.xml($hmDetails.REQ_STERIL_USE)</cell>
		<cell>$esc.xml($hmDetails.STERIL_METHOD)</cell>
		<cell>$esc.xml($hmDetails.BRAND_NAME)</cell>
		<cell>$esc.xml($hmDetails.FDA_LISTING)</cell>
		<cell>$esc.xml($hmDetails.GMDN_CODE)</cell>
		<cell>$esc.xml($hmDetails.EXEMPT_FROM_PREMARKET)</cell>
		<cell>$esc.xml($hmDetails.PRODUCT_CODE)</cell>
		<cell>$esc.xml($hmDetails.FDA_SUBM_NUM)</cell>
		<cell>$esc.xml($hmDetails.FDA_SUPP_NUM)</cell>
		<cell>$esc.xml($hmDetails.ISSUING_AGN_CONFIG)</cell>
		<cell>$esc.xml($hmDetails.UNIT_USE_DI_NUM)</cell>
		<cell>$esc.xml($hmDetails.PACK_DI_NUM)</cell>
		<cell>$esc.xml($hmDetails.QTY_PACK)</cell>
		<cell>$esc.xml($hmDetails.CONTAINS_DI_PACK)</cell>
		<cell>$esc.xml($hmDetails.LABLER_DUNS_NUM)</cell>
		<cell>$esc.xml($hmDetails.CUST_CONT_PH)</cell>
		<cell>$esc.xml($hmDetails.CUST_CONT_EMAIL)</cell>
		<cell>$esc.xml($hmDetails.SIZE_TYPE)</cell>
		<cell>$esc.xml($hmDetails.SIZE_VALUE)</cell>
		<cell>$esc.xml($hmDetails.SIZE_UOM)</cell>
		<cell>$esc.xml($hmDetails.SIZE_TYPE_TEXT)</cell>
		<cell>$esc.xml($hmDetails.PACK_DISC_DT)</cell>

	</row>
	#end
</rows>
