<div id="div-msg-confirm">
	<span>
		<h6 id="msg" class="div-msg">{{Message}}</h6>
	</span>
	<h6>Message ID: {{ID}}</h6>
	<h6>Reason: {{Reason}}</h6>
	<h6>Action: {{Action}}</h6>
</div>
<div id="div-yes-no">
   <div id="div-msg-ok" class="btn-ios-alert">OK</div>  
</div>