<ul id="ul-popup-mail-container" class="modal-body-content">
    <li id="li-popup-mail-to-container"></li>
    <li><input type="text" id="txt-popup-mail-to" placeholder="To" class="gmInputText" /></li>
    <li><input type="text" id="txt-popup-mail-cc" placeholder="Cc" class="gmInputText" /></li>
    <li>Content</li>
    <li><textarea id="txt-popup-mail-conent" class="gmInputText" ></textarea></li>
</ul>