<div id="div-salescall-list-item">
    <ul class="gmListItem ul-list-items" id="{{npid}}">
        
        <li class="gmListColData gmText200">{{phynm}}</li>
        <li class="gmListColData gmText225">{{formatDate actstartdate}} &nbsp; {{actstarttime}}-{{actendtime}}</li>
        <li class="gmListColData gmText350">{{products}}</li>
        <li class="gmAlignHorizontal cursorPointer gmFont15em gmVerticalMiddle">
            <a href="#crm/salescall/id/{{actid}}">
                <div class="div-info-i gmPadLeft10p gmPadRight10p fa-lg gmFontsalescall gmFontItalic gmFontBold">i</div>
            </a>
        </li>
    </ul>
    <!--For phone layout list-->
    <ul class="ul-phone-list-items gmTextAll" id="{{actid}}">
        <a href="#crm/salescall/id/{{actid}}" class="gmAlignHorizontal">
            <li class="gmAlignHorizontal gmFontLGray gmTextCenter gmVerticalMiddle li-index-number">{{index}}</li>
            <ul class="gmAlignHorizontal gmVerticalMiddle ul-list-data">
                <li class="gmPad25 gmTextAll gmFontBold gmMediaFont15p">{{phynm}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{formatDate actstartdate}} &nbsp; {{actstarttime}}-{{actendtime}}</li>
                <li class="gmPad25 gmTextAll gmFont13px">{{products}}</li>
            </ul>
        </a>
    </ul>
</div>