<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="img" width="20" sort="na" id="Remove" align="center">
			
		</column>
		<column type="ro" width="270" sort="str" id="GroupName" align="left">
$msg.getProperty('VM_GROUPNAME')
		</column>
		<column type="ed" width="*" sort="int" id="Qty" align="right" color="#DFFFDF">
$msg.getProperty('VM_QUANTITY')
		</column>
		<column type="ron" width="*" sort="int" id="listprice" align="right" format="$0,000.00">
$msg.getProperty('VM_LISTPRICE')
		</column>		
		<column type="ron" width="*" sort="int" id="tripwire" align="right" format="$0,000.00">
$msg.getProperty('VM_TRIPWIRE')
		</column>
		<column type="ro" width="0" sort="na">			
		</column>
	</head>
	#foreach($hmDetails in $alResult)		
	<row id="$hmDetails.GROUPID">
		<cell style="cursor:hand;">/images/btn_remove12.gif</cell>
		<cell>$esc.xml($esc.javascript($hmDetails.GROUPNAME))</cell>
		<cell>$hmDetails.QTY</cell>	
		<cell>$hmDetails.LISTPRICE</cell>		
		<cell>$hmDetails.TRIPWIRE</cell>
		<cell>$hmDetails.GROUPTYPE</cell>
	</row>
	#end
</rows>
