
#* This is the file which we are used for displaying the Part Price Adjustment Details report in the Grid Format.*#

<?xml version="1.0" encoding="UTF-8"?>
#set($alResult = $hmParam.PARTADJDETAILS)
#set($queryType = $hmParam.QUERYBY)
#set($strDateFormat=$hmParam.gmDataStoreVO.getCmpdfmt())
<rows>
	<head>	
		<column  type="ro"  width="160"  align="left"   sort="str">$msg.getProperty('VM_SYSTEMNAME')</column>				
		<column  type="ro"  width="70"  align="left"   sort="str">$msg.getProperty('VM_PART')</column>
		<column  type="ro"  width="180"   align="left"   sort="str">$msg.getProperty('VM_PARTDESCRIPTION')</column>
		<column  type="ro"  width="40"  align="center"   sort="str">$msg.getProperty('VM_CURR')</column>				
		<column  type="ron" width="80" align="right"  format="0,000.00" sort="int">$msg.getProperty('VM_LISTPRICE')</column>
		<column  type="ron" width="80" align="right"  format="0,000.00" sort="int">$msg.getProperty('VM_UNITPRICE')</column>		
		<column  type="ro"  width="70"  align="left"   sort="str">$msg.getProperty('VM_ADJCODE')</column>		
		<column  type="ro"  width="60"  align="left"   sort="str">$msg.getProperty('VM_ADJVALUE')</column>			
		<column  type="ron" width="100" align="right"  format="0,000.00" sort="int">$msg.getProperty('VM_NETUNITPRICE')</column>	
		<column  type="ro"  width="110" align="left"   sort="str">$msg.getProperty('VM_IMPLEMENTEDBY')</column>
		<column  type="ro"  width="90" align="center" sort="date">$msg.getProperty('VM_IMPLEMENTEDDATE')</column>		
		<column  type="ro"  width="*" align="center"   sort="str">$msg.getProperty('VM_HISTORY')</column>
	</head>
	#set($count=0)
	#foreach($hmDetails in $alResult)		
	<row id="$count">	
	<cell style="background-color:white;">$esc.xml($hmDetails.PJNAME)</cell>
    <cell style="background-color:white;">$esc.xml($hmDetails.PNUM)</cell>
    <cell style="background-color:white;">$esc.xml($hmDetails.PDESC)</cell>
    <cell style="background-color:#F0F8FF;">$esc.xml($hmDetails.CURRENCY)</cell>
    <cell style="background-color:#E6E6FA;">$esc.xml($hmDetails.PLPRICE)</cell>
    <cell style="background-color:#E1F5A9;">$esc.xml($hmDetails.PUPRICE)</cell>
    <cell style="background-color:#FFEFD5;">$esc.xml($hmDetails.PADJCODENM)</cell>
    <cell style="background-color:#FFEFD5;">$esc.xml($hmDetails.PADJVAL)</cell>
    <cell style="background-color:#FFEFD5;">$esc.xml($hmDetails.PADJNETPRICE)</cell>
    <cell style="background-color:#FFEFD5;">$esc.xml($hmDetails.IMPLBY)</cell>
    #if($hmDetails.IMPLDT == $null)
		    <cell style="background-color:#FFEFD5;"></cell>
	#else 
			<cell style="background-color:#FFEFD5;">
			#if($hmDetails.IMPLDT != $null)
				$date.format($strDateFormat,$hmDetails.IMPLDT)
			#end
			</cell>
	#end
    #if($hmDetails.HISTORY == 'Y')		
		    <cell style="background-color:white;"><![CDATA[<a href="#" onClick=fnOpenHistory("$hmDetails.PARTYID","$hmDetails.PNUM")><img alt="Click to view Part Adjusyment History" src="/images/icon_History.gif" border="0"></a>]]></cell>
	#else
			<cell style="background-color:white;"></cell>
	#end
    </row>
	#set($count = $count+1)
	#end	
</rows>



