<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" width="50" sort="int" id="Type" align="left">
$msg.getProperty('VM_TYPE')
		</column> 
		<column type="ro" width="40" sort="int" id="AccId" align="left">
$msg.getProperty('VM_ID')
		</column> 
		<column type="ro" width="195" sort="str" id="AccName" align="left" >
$msg.getProperty('VM_NAME')
		</column>
		<column type="ro" width="60" sort="str" id="Contract" align="left" >
$msg.getProperty('VM_CONTRACT')
		</column>
		<column type="ro" width="70" sort="str" id="GrpAccName" align="left" >
$msg.getProperty('VM_GROUPACCOUNT')
		</column>
		<column type="ro" width="70" sort="str" id="RequiredAprvl" align="left" >
$msg.getProperty('VM_REQUIREDAPPROVAL')
		</column>
		<column type="ro" width="70" sort="str" id="Status" align="left">
$msg.getProperty('VM_STATUS')
		</column> 
		<column type="ro" width="80" sort="str" id="SalesRepName" align="left" >
$msg.getProperty('VM_SALESREPNAME')
		</column>
		<column type="ro" width="80" sort="str" id="ADName" align="left" >
$msg.getProperty('VM_ADNAME')
		</column>
		<column type="ro" width="70" sort="str" id="VPName" align="left" >
$msg.getProperty('VM_VPNAME')
		</column>
		<column type="ro" width="70" sort="date" id="Initiated By" align="left">
$msg.getProperty('VM_INITIATEDBY')
		</column>
		<column type="ro" width="70" sort="date" id="CreatedDate" align="left">
$msg.getProperty('VM_CREATEDDATE')
		</column>		
		
	</head>
	#foreach($hmDetails in $alGridData)		
	<row id="$hmDetails.REQID">
		<cell>$hmDetails.REQ_TYPE</cell> 
		<cell>$hmDetails.REQ_ID</cell> 
		<cell><![CDATA[<a href="#" onClick=fnOpenPricingInitiate("$hmDetails.REQID","$hmDetails.REQ_TYPE_ID","$hmDetails.REQ_ID","$hmDetails.GRP_ACC_ID")>$hmDetails.ACCOUNTNM</a>]]></cell>
		<cell>$hmDetails.CONTRACT </cell>
		<cell>$hmDetails.GRP_ACC </cell>
		<cell>$hmDetails.REQD_APPROVAL </cell>
		<cell>$hmDetails.STATUS </cell>
		<cell>$hmDetails.REPNAME </cell>
		<cell>$hmDetails.ADNM </cell> 		
		<cell>$hmDetails.VPNAME </cell>
		<cell>$hmDetails.CREATEDBY </cell> 		
		<cell>$hmDetails.CREATEDDATE </cell>
	</row>
	#end
</rows>
