<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
	<column type="ro" width="140" sort="str" align="center">$msg.getProperty('VM_FIELDSALES')</column>
		<column type="ro" width="100" sort="str" align="center">$msg.getProperty('VM_FIELDSALES')</column> 	 
		<column type="ro" width="150" sort="str" align="left">
$msg.getProperty('VM_ACCOUNTIDNAME')
		</column>
		<column type="ro" width="160" sort="str" align="left">$msg.getProperty('VM_SALESREPNAME')</column>
		<column type="ro" width="150" sort="str" align="left">
$msg.getProperty('VM_LOCATION')
		</column>		
		<column type="ron" width="80" sort="price"  align="right">
$msg.getProperty('VM_TODAY')
		</column>
		<column type="ron" width="80" sort="price"  align="right">
$msg.getProperty('VM_THISMONTH')
		</column>
		
		 #if($alGridData.size() <= 23)
		<column type="ron" width="*" sort="price"  align="right">
$msg.getProperty('VM_LASTMONTH')
		</column>
		 #else
		<column type="ron" width="80" sort="price"  align="right">
$msg.getProperty('VM_LASTMONTH')
		</column>
		 #end
		
	</head>
	#foreach($hmDetails in $alGridData)
	<row> 
		#set($dsales = $esc.xml($hmDetails.DAYSALES))
		#set($msales = $esc.xml($hmDetails.MONSALES))
		#set($lmsales = $esc.xml($hmDetails.LASTMONSALES))
		
		#if($msales == "")
		  #set($msales = "0")
		#end

        #if($dsales == "")
		  #set($dsales = "0")
		#end

	    #if($lmsales == "")
		  #set($lmsales = "0")
		#end
		  
		
	    <cell></cell>
		<cell>$esc.xml($hmDetails.DNAME)</cell>
		<cell>$esc.xml($hmDetails.ID) / $esc.xml($hmDetails.NAME)</cell>
		<cell>$esc.xml($hmDetails.REPNAME)</cell>
		<cell>$esc.xml($hmDetails.LOC)</cell>		
		<cell>$dsales</cell>
	    <cell>$msales</cell>			
		<cell>$lmsales</cell>
	</row>
	#end
</rows>
