 <?xml version="1.0" encoding="UTF-8"?>
#set($count=0)
#set($dateFmt = $hmReturn.SESSDATEFMT)
#set($currDate = $date.format($dateFmt,$date))
#set($alResult = $hmReturn.PENDLNRDATA)
#set($accessFl = $hmReturn.STRACCESSFL)
#set($usertype = $hmReturn.USERTYPE)
#set($reqid = '0')
<rows>
<head>
    #if($accessFl == 'Y')
    <column type="ch" width="30"    sort="na"   id="check" align="right"></column>
	#else
    <column type="ch" width="30"    sort="na"   id="check" align="right" hidden="true"></column>	
    #end
    
    
    
    
    <column type="ro" width="60" 	sort="int"  align="right" id="req_id" hidden = "true">$msg.getProperty('VM_REQUESTID')</column>
	<column type="ro" width="60" 	sort="int"  align="right" id ="par_req_id">$msg.getProperty('VM_PARENTREQUESTID')</column>	
	<column type="ro" width="80" 	sort="str"  align="right" id="case_event">$msg.getProperty('VM_CASEEVENT')</column>		
	<column type="ro" width="70" 	sort="int"  align="right" id="part_num">$msg.getProperty('VM_PART')</column>	
	<column  type="ro" width="120" align="left" sort="str" id="setname" >$msg.getProperty('VM_SYSTEMNAME')</column>
	<column type="ro" width="*" 	sort="str"  align="left">$msg.getProperty('VM_DESCRIPTION')</column>	
	<column type="ro" width="40" 	sort="int"  align="right" id="req_qty">$msg.getProperty('VM_REQQTY')</column>
	<column type="ed" width="40" 	sort="int"  align="right" id="appr_qty">$msg.getProperty('VM_APPRQTY')</column>
	#if($usertype == 'PD')
	<column type="ed" width="40" 	sort="int"  align="right" id="retn_qty">$msg.getProperty('VM_RETNQTY')</column>
	#end
	<column type="ro" width="100" 	sort="str"  align="left">$msg.getProperty('VM_ACCOUNT')</column>
	<column type="ro" width="30" 	sort="int"  align="right"  id="acc_id"  hidden="true">$msg.getProperty('VM_ACCOUNTID')</column>
	<column type="ro" width="100" 	sort="int"  align="right" id ="salesrep_id" hidden="true" >$msg.getProperty('VM_REQUESTORID')</column>
	<column type="ro" width="80" 	sort="str"  align="left" id ="rep_name">$msg.getProperty('VM_REQUESTORNAME')</column>
	<column type="ro" width="80"    sort="date"  align="left">$msg.getProperty('VM_REQUESTEDDATE')</column>
	<column type="ro" width="20"   hidden="true" id="disableFl">$msg.getProperty('VM_PRICEDISABLEFLAG')</column>		
	<column  type="ro" width="40" align="right" sort="int" id="setid" hidden="true">$msg.getProperty('VM_SYSTEMID')</column>
	<column type="ro" width="80"    sort="date"  align="left">$msg.getProperty('VM_SHIPDATE')</column>
	<column type="ro" width="80"    sort="str"  align="left">$msg.getProperty('VM_CARRIER')</column>
	<column type="ro" width="80"    sort="str"  align="left">$msg.getProperty('VM_MODE')</column>
	<column type="ro" width="20"    sort="date"  align="left" > </column>
	<column type="ro" width="*"    sort="date"  align="left">$msg.getProperty('VM_COMMENTS')</column>
	<column type="ro" width="20"    sort="date"  align="left" > </column>
  </head>

#foreach($hmDetails in $alResult)  

<row id="$hmDetails.LNREQID">
		#set($consignprice = $number.toNumber($hmDetails.CONSPRICE))
        #if($accessFl == 'Y')
	    <cell></cell>
	    #else
	    <cell></cell>
		#end		
		<cell style="$color">$esc.xml($hmDetails.LNREQID)</cell>
		<cell style="$color">$esc.xml($hmDetails.REQUESTID)</cell>
		<cell style="$color">$esc.xml($hmDetails.CASEID)</cell>
		<cell style="$color">$esc.xml($hmDetails.PNUM)</cell>
		<cell style="$color">$esc.xml($hmDetails.SYSTEMNAME)</cell>
		<cell style="$color">$esc.xml($hmDetails.PDESC)</cell>
		<cell style="$color">$esc.xml($hmDetails.QTY)</cell>
		<cell style="$color">$esc.xml($hmDetails.APPROVE_QTY)</cell>
		#if($usertype == 'PD')
		<cell style="$color">$esc.xml($hmDetails.RETNQTY)</cell>
		#end
		
		<cell style="$color">$esc.xml($hmDetails.ACCTNAME)</cell>
		<cell style="$color">$esc.xml($hmDetails.ACCOUNTID)</cell>
		<cell style="$color">$esc.xml($hmDetails.REPID)</cell>
		<cell style="$color">$esc.xml($hmDetails.REPNAME)</cell>
		#if ($hmDetails.REQDATE == $null)
		<cell></cell>
		#else
		<cell style="$color">$date.format($dateFmt,$hmDetails.REQDATE)</cell>
		#end
		
		#if ($hmDetails.STATUSID == '5')
			#if ($consignprice > 0)
				<cell>N</cell>
			#else
				<cell>Y</cell>
			#end
		#else
			<cell>N</cell>
		#end
		<cell style="$color">$esc.xml($hmDetails.SYSTEM_ID)</cell>
		
		<cell style="$color">$date.format($dateFmt,$hmDetails.SHIPDT)</cell>
		<cell style="$color">$esc.xml($hmDetails.DELIVERYCARRIER)</cell>
		<cell style="$color">$esc.xml($hmDetails.DELIVERYMODE)</cell>
		<cell>
		<![CDATA[<a href="#" onClick=fnOpenAdd("$hmDetails.SHIP_TO","$hmDetails.SHIP_ID","$hmDetails.ADDID")><img src="/images/Address-Book-icon.png" height="15" width="15" border="0"></a>]]>
		</cell>
		#if($reqid != $hmDetails.REQUESTID)
				<cell>$esc.xml($esc.javascript($hmDetails.LASTCOMMENTS))</cell>
				<cell>
					<![CDATA[<a href="#" onClick=fnOpenOrdLog("$hmDetails.CASEID",4000760)><img src="/images/phone-icon_ans.gif" height="15" width="15" border="0"></a>]]>
				</cell>
			
		#end
		
	#set($reqid = $hmDetails.REQUESTID)	
		
</row>
#end
</rows>
