<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
	 
		<column type="ro" width="100" sort="str" align="left">
             $msg.getProperty('VM_REGION')
		</column> 
		<column type="ro" width="125" sort="str" align="left">
             $msg.getProperty('VM_DISTNAME')
		</column>		
		<column type="ro" width="200" sort="str" align="left">
             $msg.getProperty('VM_ACCOUNT')
		</column>	
		<column type="ro" width="100" sort="int" align="center">
             $msg.getProperty('VM_DEALER_ID')
		</column>
		<column type="ro" width="100" sort="int" align="center">
             $msg.getProperty('VM_DEALER_NAME')
		</column>
		<column type="ro" width="60" sort="int" align="center">
             $msg.getProperty('VM_ACCOUNTID')
		</column>
		<column type="ro" width="150" sort="str" align="left">
             $msg.getProperty('VM_TERRITORY')
		</column>
		<column type="ro" width="100" sort="str" align="left">
             $msg.getProperty('VM_SPINESPECIALIST')
		</column>
		<column type="ro" width="40" sort="str" align="center">
             $msg.getProperty('VM_ID')
		</column>
		<column type="ro" width="95" sort="str" align="left">
             $msg.getProperty('VM_CITY')
		</column>
		<column type="ro" width="45" sort="str" align="center">
             $msg.getProperty('VM_STATE')
		</column>
		<column type="ro" width="110" sort="str" align="left">
             $msg.getProperty('VM_ZIP')
		</column>
	</head>
	#foreach($hmDetails in $alGridData)		
	<row> 
		<cell>$esc.xml($hmDetails.RGNAME)</cell> 
		<cell>$esc.xml($hmDetails.DNAME)</cell>
		<cell>$esc.xml($hmDetails.ANAME)</cell>
		#if($hmDetails.DEALERID == $null)
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.DEALERID)</cell>
		#end
		#if($hmDetails.DEALERNAME == $null)
		<cell></cell>
		#else
		<cell>$esc.xml($hmDetails.DEALERNAME)</cell>
		#end
		<cell>$esc.xml($hmDetails.ACCID)</cell>
		<cell>$esc.xml($hmDetails.TNAME)</cell>
		<cell>$esc.xml($hmDetails.RNAME)</cell>
		<cell>$esc.xml($hmDetails.REPID)</cell>
		<cell>$esc.xml($hmDetails.CITY)</cell>
		<cell>$esc.xml($hmDetails.STATE)</cell>
		<cell>$esc.xml($hmDetails.ZIP)</cell>
	</row>
	#end
</rows>
