<?xml version="1.0" encoding="iso-8859-1" ?>
<rows>
	<head>
		<column type="ro" width="50" sort="str" align="center"></column> 	
		<column type="ro" width="*" sort="str" align="left">
$msg.getProperty('VM_ZONE')
		</column>
		<column type="ro" width="*" sort="str" align="left">
$msg.getProperty('VM_VP')
		</column> 
		<column type="ro" width="*" sort="str" align="left">
$msg.getProperty('VM_CREATEDBY')
		</column> 
		<column type="ro" width="120" sort="date" align="center">
$msg.getProperty('VM_CREATEDDATE')
		</column> 
		<column type="ro" width="*" sort="str" align="left">
$msg.getProperty('VM_UPDATEDBY')
		</column> 
		<column type="ro" width="123" sort="date" align="center">
$msg.getProperty('VM_UPDATEDDATE')
		</column> 
			
	</head>
	#set($count = 0)
	#foreach($hmDetails in $alResult)		
	<row id="$count"> 
		<cell><![CDATA[<a href="#" onClick=fnEdit($hmDetails.ZONE_ID)><img alt="Edit VP" src="/images/edit.jpg" border="0"></a>]]></cell>
		<cell>$esc.xml($hmDetails.ZONE_NAME)</cell> 
		<cell>$esc.xml($hmDetails.VP_NAME)</cell> 
		<cell>$esc.xml($hmDetails.CREATED_BY)</cell>
		<cell>$esc.xml($hmDetails.CREATED_DATE)</cell>
		<cell>$esc.xml($hmDetails.LAST_UPDATED_BY)</cell>
		<cell>$esc.xml($hmDetails.LAST_UPDATED_DATE)</cell>
	</row>
	#set($count = $count+1)
	#end
</rows>
